[2018-01-26 21:28] loganfsmyth commented on #7256
To be clear, I don't have my mind set on reusing `MemberEspression` or not, I'm more concerned about the tri-state of the flag being a new precedent and to me very confusing.

It seems to me like the short-circuiting behavior that this spec introduces necessitates the addition of a `ParenthesizedExpression` node, since this proposal makes paren-groupings have semantic meaning during execution. The

[2018-01-26 22:29] AndrewRayCode opened #7282 "Cannot read property 'type' of undefined"
This error appears to be intermittent. I'm using `babel-eslint` 8.6.2

[code]

Where I suspect there's a problem:

[code]
When I change `someDefaultArg = {}`, the error goes away (sometimes).

[2018-01-27 00:09] jridgewell commented on #7256
`ParenthesizedExpression` could certainly be added, but I imagine many transforms will need to update to handle it.

Would a enum be better instead of a tri-state? My intuition, though, is that a new AST node is more likely to break things than a new field on an existing one. Though, it might be easier to determine, since you'd be suddenly be getting `OptionalMemberExpression` or `ParenthesizedExp

[2018-01-27 00:20] jridgewell commented on #6243
Closing as allowed (and fixed in https://github.com/babel/babylon/pull/759).

[2018-01-27 00:20] #6243 closed

[2018-01-27 12:27] nveenjain commented on #7256
Ok, now i got that. Sorry for misinterpreting what breaking change could mean. I think that adding new nodes is more suitable/good solution. However all the optionalChain transforms will be needed to be re-written. Should i proceed with creating `OptionalMemberExpression` Node and close the PR which i opened for tri-state optional?

[2018-01-27 13:28] Andarist commented on #7281
@seeden Could you paste in faulty code? Preferably slimmed down to the minimal reproduction case.

[2018-01-27 13:31] Andarist commented on #7277
Wouldnt `node: "engines"` be more explicit and readable? Although it's also worth discussing if `engines` could support also some format for `browsers` - and if yes then this should be a top-level option and not only for `node`.

[2018-01-27 13:37] julien-f commented on #7277
`engines` is already a standard field in `package.json`, see [the documentation](https://docs.npmjs.com/files/package.json#engines).

Concerning the browsers, `preset-env` uses `browserslist` which does expose a pseudo-standard `browserslist` field ([doc](https://github.com/ai/browserslist#browserslist)).

[2018-01-27 13:44] SamyPesse opened #7284 "[@babel/cli] Maximum call stack size exceeded when transpiling a large number of files"
After upgrading to babel 7, the command to transpile a directory, that worked well in the same project with Babel 6 is failing with a `Maximum call stack size exceeded` after transpiling **369 files**.

The command executed is:

[code]

When executed on a subset of the the folder, it works well. It seems to be an issue with the number of files being transpiled.

### Stack trace

(The stack trace c

[2018-01-27 13:52] Andarist commented on #7277
I know its a standard field, but as it is an object with "node" key and it could easily support browsers too - but i guess it could have been more useful for other things (i.e. when consuming packages with specified `engines.browsers`) and is not tightly related to your request

[2018-01-27 13:54] julien-f commented on #7277
Yes, it could support browsers as well, but this probably an issue that should be created in the `browserslist` repo :)

[2018-01-27 15:18] gotofritz opened #7285 "Now that both "Rest/Spread Properties" and "Async Iteration" have moved to Stage 4, what is the timeline for moving them from the stage-3 preset to preset-env?"
Hi. I am not too familiar with the process babel follows to keep its presets in sync with TC39's work, but a couple of proposals have moved from Stage 3 to Stage 4.
https://github.com/tc39/proposals/blob/master/finished-proposals.md#finished-proposals
When can we expect them to move into the env-preset?

(In fact I see that currently not a single plugin in babel-preset-stage-3 is actually a stage

[2018-01-27 18:59] nveenjain commented on #7256
I think that we might require two kind of new nodes `OptionalMemberExpression` and `OptionalCallExpression`.
As sample code for `OptionalExpression` can also be of format `obj?.()` or `obj.a?.b()` in this expression we will require `OptionalCallExpression` too. Thoughts?

[2018-01-27 19:27] loganfsmyth commented on #7256
As a side question before I respond, what is the expected behavior of
[code]
Is a tagged template executed? From the grammar in JS, my expectation is that the tagged template counts as part of the current execution chain, so the answer would be no. That  means if we _do_ go the route of the tri-state, we'd need a tri-state flag on the `MemberExpression` node, and also on `TaggedTemplateLiteral`, b

[2018-01-27 20:18] existentialism commented on #7277
For history/reference: https://github.com/babel/babel-preset-env/pull/114

[2018-01-28 13:23] TrejGun opened #7286 "strange export import behavior"
Choose one: is this a bug report or feature request?
probably bug

### Input Code

so when i export with `export default` it can't find `inner` property

[code]
but when i change `export default` to `module.exports` it prints `{ inner: { a: 1 } } { a: 1 }`

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

it should find inner property

### Curre

[2018-01-28 14:39] guybedford commented on #6766
@loganfsmyth I wonder if it might be worth allowing the `babelrc` option to be a string if the API user wants to specify the exact file to use. I found myself wanting this feature today on a project that somehow wasn't picking up the right babelrc, and it might reduce cognitive load as well if the string value could also take the place of your suggested `configFile` property.

[2018-01-28 14:40] nicolo-ribaudo commented on #7286
It is the expected behavior. Imports don't use destructing, so you have to explicitly `export const inner = Obj.inner`.

[2018-01-28 14:40] #7286 closed

[2018-01-28 14:45] TrejGun commented on #7286
@nicolo-ribaudo
but this works

[code]
import {inner} from "./exports.obj";
console.log(inner);
[code]

[2018-01-28 20:27] seeden commented on #7281
Hi @Andarist.
It is somehow connected with decorators.
[code]

It is working fine without decorator

[2018-01-28 22:19] qm3ster commented on #7260
@nicolo-ribaudo it's still happening to me :o
[code]

[2018-01-28 22:25] qm3ster commented on #7260
Now, this is bizarre!
[code]
results in
[code]

[2018-01-28 22:42] qm3ster commented on #7260
Basically, it works in `.browserslistrc`, in tools and `browserslist` cli tool, but not anywhere in the js api, including node REPL and putting it in `package.json` instead of `.browserslistrc`

[2018-01-29 02:36] nveenjain commented on #7256
The way, I've implemented this on my PC is that
[code]
generates an ast as following:-
[code]
According to me, this should also be expected behaviour and rest implementation should rely on transforms on `OptionalMemberExpression`. Thoughts/suggestions?

[2018-01-29 03:11] loganfsmyth commented on #7256
@nveenjain Looks like you've still got a `optional: true` on there, which I'm assuming is just leftover from when it was still `type: MemberExpression` rather than `type: OptionalMemberExpression`? Otherwise that looks right to me.

Since I don't think I was super clear, my question is how do we differentiate

[code]
which would end with `result === undefined`, vs

[code]
which would throw as I un

[2018-01-29 03:27] nveenjain commented on #7256
@loganfsmyth , what i've implemented is using this interface
[code]
That way, when we can check if we are inside `optionalChain`(acc. to proposed spec) or `OptionalExpression` (acc. to spec). For eg. if we are using `a?.b.c`
then we are in optional chain while traversing b,c but they are not optional Properties whereas a is an OptionalProperty so it's optional is set to true.

[2018-01-29 03:53] aretecode commented on #6808
@loganfsmyth it would be nice if this error gave an indication about where the offending exporter path is located, and for bonus, a link to this issue or a guide 👍

[2018-01-29 04:02] loganfsmyth commented on #7256
Ah I see, I think I was misunderstanding the behavior of `OptionalMemberExpression` a little bit. So the idea would be that any accesses in the chain would use that type too? If so then that's fair. That avoids the tri-state `optional` flag at least.

I also answered my own question about tagged templates by looking at the spec. https://github.com/tc39/proposal-optional-chaining#not-supported says

[2018-01-29 04:18] nveenjain commented on #7256
Yeah, parser doesn't limit that as of now (and i didn't look carefully to `not supported` section of spec, so didn't know that they were not supported), but currently i'll be focusing on transforms and the new nodes for the time being. I will open separate issue, once this task is over, which will throw errors on such cases too. Is that cool with you or should i throw an error when one of `not sup

[2018-01-29 10:07] jaydenseric commented on #7277
It should just read from `engines` by default, like it reads from `browserslist` by default. Zero configuration FTW!

That you have to set this up manually is my single biggest frustration with present-env. [In .babelrc.js I require package.json and pull in `engines.node`](https://github.com/jaydenseric/apollo-upload-client/blob/v7.0.0-alpha.4/.babelrc.js#L1).

It is shocking how many published pa

[2018-01-29 10:09] julien-f commented on #7277
Agreed, but this should be overridable (maybe with `node: false`).

[2018-01-29 10:17] jai1331 opened #7287 "babel-cli to transpile parent folder jsx files"
I'm using babel-cli to transpile JSX files. Folder structure goes like this:

**Main Folder**

          - build
                 - config
                 - node_modules   // babel-cli, presets es2015,react, plugins installed here
                 - src_JSX               // this works as expected
                      - demo.jsx
                 - generated_JSX
                     - demo.jsx

[2018-01-29 14:26] nveenjain commented on #7256
@jridgewell , i created nodes, but when writing transforms, i am not getting OptionalMemberExpression when using inside a visitor. Don't know why.. Could you guide me, please?

[2018-01-29 14:56] seeden commented on #7281
It is working with 7.0.0-beta.36 but it is broken from 7.0.0-beta.36

[2018-01-29 15:05] caub opened #7289 "Assigning to process.env doesn't work"
file `a.js`:
[code]

file `b.js`:
[code]

When running `npx babel-node path/to/b.js` (or `babel-node path/to/b.js` if installed globally) it outputs `undefined` instead of `test`

Running `FOO=test2 npx babel-node path/to/b.js` would make it output `test2` though

Versions:
[code]

[2018-01-29 16:09] nicolo-ribaudo commented on #7289
Imports are hoisted, so that file will be required before that `process.env.FOO = 'test';` line is run.

[2018-01-29 16:09] #7289 closed

[2018-01-29 18:54] leiming opened #7290 "Cannot find module 'babel-preset-es2015' while using '@babel/preset-env' and '@babel/plugin-transform-runtime'"
bug report

I want to run webpack which use 'css-loader' which use [js-base64](https://github.com/dankogai/js-base64):

[code]

### Input Code

run `yarn start` to execute `node_modules/.bin/mini-programs-scripts.js`

[code]

### '@babel/register' config

[code]

### Current Behavior

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  7

[2018-01-29 21:01] jridgewell commented on #7256
Yup, because the chain propagates upwards until it's broken by a parenthesis.

Yup, they are disallowed. Optional is only allowed inside a `MemberExpression`'s `object` or `CallExpression`'s `callee`, unless it's broken by a parenthesis.

The issue is multiple optionals in a chain:

[code]

Where the `a` and `b` are optional access and the `c` isn't. We'd have multiple "roots" which seems weird.

[2018-01-29 21:45] loganfsmyth commented on #7256
Yeah I'm surprised that it isn't allowed, that seems like a weird requirement to me, but I'll accept it.

Fair. I'm open to other names, but it seems like `optional` isn't very clear to me.

[2018-01-29 21:59] #6375 closed

[2018-01-29 23:06] zeke commented on #1857
https://github.com/apps/release-notifier might do the trick. Feel free to give it a try and let me know how it goes.

[2018-01-29 23:07] hzoo commented on #1857
Yeah I'll give it a shot - does it use the github release event with git tags?

[2018-01-29 23:12] jasonLaster commented on #1857
Nice work!

[2018-01-30 03:16] nveenjain commented on #7256
I've updated the PR. #7288 , any suggestions/edits?
For now `optional` are added as property, which can be changed with just a few lines if decided.

[2018-01-30 04:15] leaves4j opened #7293 "'export default from' can not be correctly compiled"
Choose one: bug

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
Compiled correctly

### Current Behavior
Throw an error
[code]

| software         | version(s)
| ---------------- | -------
| Babel            |  7.0.0-beta.38|
| Babylon          |
| node             | 9.4 |
| npm              |
| Operating System | mac os

[2018-01-30 06:09] jaydenseric opened #7294 "ESM that imports CJS can't be transpiled for both CJS and native ESM environments"
Bug…

[This issue arises](https://github.com/jaydenseric/apollo-upload-server/issues/40#issuecomment-361271674) when attempting to create a package that:

- Transpiles both ESM (`.mjs`) for recent versions of Node.js run with `--experimental-modules` enabled, and CJS (`.js`) as a fallback.
- Imports a CJS package that contains `exports.__esModule`.

When imported CJS in `.mjs`, [Node.js provides a

[2018-01-30 06:36] jaydenseric commented on #7294
Slack discussion: https://babeljs.slack.com/archives/C0DFJT81H/p1517292607000083.

[2018-01-30 10:25] Andarist commented on #7294
Because babel operates on files (not projects) this is currently not possible to fix in Babel itself, because it's output has to "reflect" input structure. And because of interoperability issues we cannot just change what's outputted from cjs transform.

What could possibly be done is to introduce in projects additional entry file, targeting cjs consumers which would look something like this:
[cod

[2018-01-30 10:28] nveenjain commented on #7293
I think that's a bug in babylon. I'll look into it.
[code]
This code should throw an Reference error as `from` is not defined, but rather it asks for additional(experimental) plugin to be added, which in turns does not accept this code either. Will try to solve and open a PR asap..

[2018-01-30 11:39] ishitatsuyuki commented on #6830
We should surely remove/rename this option while we're still in beta. There is an option named `useBuiltIns` in the stage-x presets which **assumes the polyfill installed**, unlike the "smart" polyfilling in env preset. Can you raise the priority?

[2018-01-30 14:41] nicolo-ribaudo commented on #7294
@bmeck Would libraris transpiled wih https://github.com/babel/babel/pull/6455 work in the same way when imported in `.js` and `.mjs` files?

[2018-01-30 15:14] existentialism commented on #7276
@adamreisnz can't repro this locally with just the info you provided, can you create a small repo that throws these errors?

[2018-01-30 15:22] bmeck commented on #7294
@nicolo-ribaudo if node could land that pragma it would, yes. However, if you omit file extensions in your `"main"` it should also use the `.mjs` file instead of the `.js` file when being loaded by ESM.

[2018-01-30 16:12] abiduzz420 opened #7296 "Rewriting Lebab as a Babel preset"
I have been looking into lebab project and learning to write codemods from past few days. To me the idea of converting esOld to esNew (5to6) is very intriguing and it would be a massive boost for programmers to perform painless migrations with minimum human intervention. I have gone through this issue [@lebab/lebab#138](https://github.com/lebab/lebab/issues/138) and read the [proposal](https://git

[2018-01-30 16:24] hzoo commented on #7296
Thanks for the issue, glad you are interested in the project!

The idea was actually *not* to remove Lebab as a tool (which is why the issue is still in that repo) but to use the same CLI tool, but internally it would "use" babel itself. So yes, we would still implement a babel preset but the CLI doesn't have to be with babel unless someone wants to do that.

You shouldn't need to configure it wit

[2018-01-30 16:25] zeke commented on #1857
@hzoo yes. As long as you're using semver and GitHub Releases, it should work. In the process of adding tests, CI, etc right now.

[2018-01-30 18:27] loganfsmyth commented on #6766
@guybedford I think that may just confuse things because I generally think users expect `.babelrc` files to behave strictly hierarchically. It also means people need to know what a `babelrc` is to search for the concept, and it's not really an obvious name for new users.

[2018-01-30 19:53] #6779 closed

[2018-01-30 20:37] kevipapo1 opened #7300 "ULR class not properly polyfilled"
### Input Code (src/app.js)

[code]

### Babel/Babylon Configuration (.babelrc)

[code]

### Webpack Configuration (webpack.config.js)

[code]

### Expected Behavior

URL object should be printed to console. (This happens when `src/app.js` is run in Node.)

### Current Behavior

Error in console: `TypeError: URL is not a constructor`

### Context

MDN page on `URL`: https://developer.mozilla.org/e

[2018-01-30 21:21] zloirock commented on #7300
`babel-polyfill` is [`core-js`](https://github.com/zloirock/core-js). `core-js` already have an issue about `URL` - https://github.com/zloirock/core-js/issues/117. At this moment, `core-js` mainly about ECMAScript. `URL` class is not a part of ECMAScript, but recently has been proposed to move `URL` to ECMAScript - https://github.com/jasnell/proposal-url, so feel free to add a PR to `core-js`.

[2018-01-30 21:21] #7300 closed

[2018-01-30 22:57] westy92 commented on #2081
@darkbaby123 I like your approach too. I'd like to know the answer to @JianJiao's question as well--have you had any issues with this solution?

[2018-01-30 23:58] jimblue opened #7301 "npm registry return not found 404"
Hi!

It seems the last release broke something with `npm registry`.

I can't install any `@babel` package neither with `npm` nor `yarn`

[2018-01-31 00:01] jimblue commented on #7301
Here is the error return in `yarn-error.log`:

[code]

[2018-01-31 00:27] hzoo commented on #7301
hey Jim! I think I would just try it again? Maybe it was weird initally but I even have a PR to update babel itself and it passes CI https://github.com/babel/babel/pull/7302

[2018-01-31 00:28] jimblue commented on #7301
Hey @hzoo just try again it's not working. All my package but `@babel` install without issue.

[2018-01-31 00:30] jimblue commented on #7301
<img width="693" alt="screen shot 2018-01-31 at 01 29 41" src="https://user-images.githubusercontent.com/10623367/35598886-4a88f4ea-0626-11e8-9f56-632302895f60.png">
<img width="693" alt="screen shot 2018-01-31 at 01 29 55" src="https://user-images.githubusercontent.com/10623367/35598887-4a9e9a20-0626-11e8-9ef7-da7a7db41b33.png">

[2018-01-31 00:32] loganfsmyth commented on #7301
Does it work if you open it in a browser? That URL loads fine for me. I don't know what "User not found" means in this case, but maybe your own local user is configured incorrectly in Yarn, assuming you have an account on the npm registry?

[2018-01-31 00:33] jimblue commented on #7301
Just try to remove all `@babel` related package from my `package.json`.
Both `yarn` and `npm install` are working!

[2018-01-31 00:35] jimblue commented on #7301
Same problem when trying to install `@babel`
<img width="697" alt="screen shot 2018-01-31 at 01 35 09" src="https://user-images.githubusercontent.com/10623367/35599007-0183cff8-0627-11e8-82d4-efaefd9fd31b.png">

[2018-01-31 00:36] loganfsmyth commented on #7301
Does the URL `https://registry.npmjs.org/@babel%2fcore` load for you in a browser? The packages are published and do exist. I have no idea what `User not found` means here.

[2018-01-31 00:36] jimblue commented on #7301
@loganfsmyth I just try in chrome to browse to `https://registry.npmjs.org/@babel%2fcore`
It's working!

[2018-01-31 00:37] jimblue commented on #7301
<img width="950" alt="screen shot 2018-01-31 at 01 36 49" src="https://user-images.githubusercontent.com/10623367/35599071-3d89e708-0627-11e8-8441-e64a8f4a061e.png">

[2018-01-31 00:45] jimblue commented on #7301
Ok just found!

I wanted to publish my first npm package this afternoon by following this: `https://docs.npmjs.com/getting-started/publishing-npm-packages`

In my root directory I've found a new `.npmrc` file:
<img width="429" alt="screen shot 2018-01-31 at 01 43 51" src="https://user-images.githubusercontent.com/10623367/35599294-5c4a60f4-0628-11e8-952e-fefac54ed0c3.png">

I just removed it and i

[2018-01-31 02:08] hulkish opened #7303 "@babel/plugin-transform-react-jsx-self breaks @babel/plugin-transform-react-constant-elements"
Choose one: is this a bug report or feature request? Bug

### Input Code
Example repo: https://github.com/hulkish/babel-jsx-self-constant-elements-bug

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
Since `@babel/plugin-transform-react-jsx-self` introduces a reference to `this`; the hoisting behavior should not occur. In this scenario, g

[2018-01-31 08:05] episodeyang commented on #5851
@fgarcia I feel you. using webpack build for debugging is terrible for development productivity b/c of the bad error traces. In this regard lack of good source map (from babel) for async function and generators is equally damaging.

[2018-01-31 08:28] leiming commented on #7290
@hzoo thanks, it is.

[2018-01-31 08:30] devongovett commented on #6766
FYI there is a discussion about this in parcel as well. https://github.com/parcel-bundler/parcel/issues/13

We will also be supporting compilation of node_modules with babel-preset-env. We will use the package.json engines field, or browserslist field to determine the language of the source module, and the browserslist of the target app to determine what to compile to. Then we do a diff to include

[2018-01-31 09:36] damianobarbati commented on #7177
@xtuc again same error for @babel/plugin-proposal-decorators@7.0.0-beta.39.
Still sticking to 7.0.0-beta.36 for now :\

[code]

[code]

[2018-01-31 09:40] damianobarbati commented on #6766
@devongovett how are you going to get the entrypoint of the untranspiled sources of your dependencies in node_modules?
Both `main` and `module` links to transpiled code today.
https://github.com/webpack/webpack/issues/5935

[2018-01-31 10:21] julien-f opened #7304 "[preset-env] Duplicate declaration "object""
### Is this a bug report or feature request?

Bug

[Repro repo](https://github.com/julien-f/issue-babel-env-duplicate).

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Should compile.

### Current Behavior

[code]

### Possible Solution

### Context

### Your Environment

| software         | version(s)
| --------------

[2018-01-31 14:12] KFlash commented on #7293
@nveenjain Look at [this line](https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js#L1375) and add a check for the contextual keyword `from`. If it exist, simply just throw an error. Should solve this issue if it's Babylon related.

[2018-01-31 15:58] existentialism commented on #7177
Looks like a plugin ordering issue, with class-properties running after decorators.

That being said, you shouldn't need to explicitly include proposal-decorators since it's already included in stage-0? Simply removing it, or placing class-properties before it seems to make your example build fine for me locally.

[2018-01-31 16:00] seeden commented on #7177
I have very similar issue https://github.com/babel/babel/issues/7281. Maybe it will help because I am using just stage-0 without explicit: proposal-class-properties and proposal-decorators

[2018-01-31 16:09] existentialism commented on #7177
@seeden yeah, related. will try to get some time to dig further, looks like
 https://github.com/babel/babel/pull/7147?

[2018-01-31 17:32] rajzshkr commented on #7304
Can you check the target node version. I think proposal-object-rest-spread is not shipped in node version 8. it works fine if i change to "8.9.1".

[2018-01-31 18:45] nveenjain commented on #7293
@KFlash , i think [this line](https://github.com/babel/babel/blob/eb38ea2b10d07b3451e4f68b6505cb4730aa5311/packages/babylon/src/parser/statement.js#L1312) is causing the error in babylon as [this line](https://github.com/babel/babel/blob/eb38ea2b10d07b3451e4f68b6505cb4730aa5311/packages/babylon/src/parser/statement.js#L1398) in `isExportDefaultSpecifier` function does not consider the possibility

[2018-01-31 19:00] benjamn commented on #7304
I have a reproduction for a similar problem that I'm planning to submit as a PR soon, with a fix if possible.

[2018-01-31 19:06] devongovett commented on #6766
Just made an alternative suggestion to enable distributing both transpiled code and source code together. https://github.com/parcel-bundler/parcel/issues/13#issuecomment-362036014

[2018-01-31 19:30] julien-f commented on #7304
@rajzshkr I'm using `shippedProposals` so it should compile it if necessary.

It works with `"node": 6` for instance

[2018-01-31 20:05] #7253 closed

[2018-01-31 20:44] matiasfh commented on #6342
@loganfsmyth I think that the issue that I just found can be related.

I have a monorepo project using yarn workspaces with the following structure:

|-- package.json
|-- packages
|---- shared
|------ components
|------ utils
|---- web
|------ app
|------ otherPackage

The app package is the main entry of the whole app and you fire up that with `nextjs` using `$(npm bin)/next packages/web/app/src`

[2018-01-31 21:36] KFlash commented on #7293
Ok. I just pointed out to you where this maybe could be solved. At least this is how  V8, FF, Esprima among others solve similiar issue. I'm not so familiar with Babylon siurce code so I will not be surprised if I'm totally wrong in this case.

[2018-02-01 02:32] nveenjain commented on #7293
@kFlash , exactly, i was going to do the same.. I didn't know how V8, Esprima or SM implement it though. Thanks for the feedback..

[2018-02-01 03:06] KFlash commented on #7293
@nveenjain If you care about performance you could only parse out the `from` keyword and validate. Than either throw an error or create a identifier node without consuming the `from` keyword instead of resetting the parser state and consume the same token multiple times.

[2018-02-01 08:50] karlas opened #7306 ""RangeError: Maximum call stack size exceeded" when copying resulting files with babel-cli"
### Babel/Babylon Configuration (.babelrc, package.json, cli command)

.babelrc
[code]
CLI Command

`babel 'functions/src' --out-dir 'functions/bundle' --copy-files --ignore 'functions/src/node_modules'
`

### Expected Behavior
After executing this command, resulting files were correctly copied at functions/bundle folder using beta.37

### Current Behavior
With beta.38 and beta.39, following error

[2018-02-01 11:50] vaxul opened #7307 "babel-preset-env should support .browserslistrc amongst other browserslist configurations"
Currently babel-preset-env require the browserslist configuration within the JSON-configuration like:
[code]

It should be considered that babel-preset-env uses the global .browserslistrc too.

## Steps to reproduce the current situation:
1. Download the example [babel-dummy.zip](https://github.com/babel/babel/files/1685317/babel-dummy.zip)
1. `yarn install`
1. run `gulp process` to process the ex

[2018-02-01 14:15] nveenjain commented on #7293
@KFlash , i've submitted a PR, would really appreciate review.

[2018-02-01 14:55] damianobarbati commented on #7177
@seeden are decorators in stage-0 now? Are those two plugins useless? BTW I tried without those two plugins and I get the same error

[2018-02-01 14:58] seeden commented on #7177
Yes decorators are working with stage-0 without additional plugin in babel 7. It is working fine with version 36. It is broken from version 37

[2018-02-01 14:59] existentialism commented on #7177
@damianobarbati the decorators plugin is in [stage-1](https://github.com/babel/babel/blob/master/packages/babel-preset-stage-1/src/index.js#L3), which stage-0 includes.

[2018-02-01 15:25] theetrain opened #7310 "@babel/plugin-transform-react-constant-elements hoisting expressions that access parent closure parameters"
This is a bug report.

### Input Code

Full example (see readme): https://github.com/theetrain/vanillareact/tree/bug/babel-plugin-transform-react-constant-elements

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

_.babelrc_

[code]

_package.json_

[code]

### Expected Behavior

Since the above example has a functional component `MyComponent` with a deconstructed par

[2018-02-01 15:51] hzoo commented on #7306
also cc @loganfsmyth 😛

[2018-02-01 16:48] loganfsmyth commented on #7306
This issue is almost certainly that this line needs to be wrapped in a `process.nextTick()`

https://github.com/babel/babel/blob/26e4911eb22a75f6581febe0cedc245a683c55cb/packages/babel-cli/src/babel/dir.js#L16

Marking as a good first issue.

[2018-02-01 17:47] Tauka commented on #7306
Hello everyone, I would like to tackle this issue, if that's ok

[2018-02-01 18:01] loganfsmyth commented on #7306
@Tauka Sure!

[2018-02-01 21:26] damianobarbati commented on #7177
@existentialism thanks for clarifying!
I tried the following (no explicit plugins) and it's broken all the way down to version 35 I think.
I didn't try previous versions.

[code]
[code]

[2018-02-01 22:54] jedwards1211 commented on #5085
@hzoo what does it mean if I'm using `transform-runtime` and my transpiled code includes
[code]
but also includes this statement with the wrong variable name, producing a type error?
[code]

[2018-02-01 23:04] jedwards1211 commented on #5085
@hzoo I'm pretty sure that that babel 6 has a bug when all one generator does is `yield * someOtherGenerator()`.  It's not clear to me if there's still intent to fix bugs in v6, but if so I can file a separate issue with a repro.

[2018-02-01 23:33] adamreisnz commented on #7276
I'll try to make some time for it soon.

[2018-02-02 03:13] toddhay commented on #6426
What was your solution for resolving this as I'm seeing the same error?  Thank you.

[2018-02-02 06:12] jaydenseric commented on #7307
The cutting edge version supports `browserslist` in your `package.json`, I assume the other ways to set browserslist would work too.

[2018-02-02 07:43] vaxul commented on #7307
Thank you for the hint. I can confirm that it works with the current beta (39) with the following setup:
- package.json
[code]
- .babelrc
[code]
- .browserslistrc
[code]

`babel-preset-env` is currently necessary for `@babel/register` which is necessary to get gulpfile.babel.js to work.

Here my testcase:
[babel-beta-dummy-working.zip](https://github.com/babel/babel/files/1688471/babel-beta-dummy-

[2018-02-02 07:43] #7307 closed

[2018-02-02 07:43] vaxul commented on #7307
Closed, since it's available in the latest beta.

[2018-02-02 13:59] pengliheng commented on #5699
so ,i give up to use rollup with babel

[2018-02-02 18:29] Alphapage opened #7316 "Generate Program body with regenerator runtime"
Hello,

I can't find any option to use regenerator runtime to transform Program body.
For now, regenrator runtime can transform functions like this:
[code]
But I need it to transform `Program` body like this to use it during an `eval`:
[code]
Is there an option or do you plan to implement one ?

Thank you in advance for your help.

[2018-02-02 19:09] loganfsmyth commented on #7316
What would it transform into? To make things work, Babel needs to transform the function as a whole.

[2018-02-02 19:54] Alphapage commented on #7316
As far as I understand Babel plugin extension, Program body is not considered as a function. So regenerator doesn't transform the Program part.
I Just need it to transform yield as if it was in a function body.

[2018-02-02 20:08] loganfsmyth commented on #7316
Right but that's by my question, what would it convert it to? Babel's exact output there depends a lot on what the outer function itself was converted into. There is nothing for an individual `yield` to be converted into that would allow it to function properly. The generator transform only works because it can transform a whole function at a time.

[2018-02-02 20:13] lomaster1 commented on #4498
Can you explain why does Babel copy an array before passing it to concat?

[2018-02-02 20:20] Alphapage commented on #7316
I thought regenerator only care about function body. But You tell me it needs the whole function. Am I right?

[2018-02-02 20:27] loganfsmyth commented on #7316
Take for example https://babeljs.io/repl/#?babili=false&browsers=chrome%20%3E%2055%20%20&build=&builtIns=false&code_lz=FANwhgTgBAZgdlAvLArnAxgFwJYHsEBUUAFAJQDewUUVUAntgKYA2AJtQCwDcwAvkA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=false&presets=es2015%2Cenv&prettier=false&targets=&version=6.26.0&envVersion=1.6.2

It replaces the w

[2018-02-02 20:27] nicolo-ribaudo commented on #4498
Because the spread argument might not be an array:
[code]

[2018-02-02 20:45] Alphapage commented on #7316
OK, Thank you very much for your assistance. I will close be it seems impossible to implement.

[2018-02-02 20:45] #7316 closed

[2018-02-02 22:50] jridgewell opened #7317 "Pipeline operator badly optimizes arrow function"
[code]
[repl](http://babeljs.io/repl#?babili=false&browsers=ie%2010&build=&builtIns=usage&code_lz=B4AgvCCMBQCGDOBPAdgYxAMwK5oC4EsB7ZTACmAEoQBvaEEAJwFNcsGTQBqKAbmgF84SNJhyoCxEAHNyVWvVTF4hADZMAdCsIzYAd1j5cISn0HRQAHwB8mENZCkEKdKQD6VMDb0GjrkN0gQKnspIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&lineWrap=true&presets=stage-0&prettier=false&targ

[2018-02-02 23:10] nathancahill opened #7318 "Missing implementation for ... SpreadProperty in generator"
### Input Code

[code]

### Expected Behavior
This should output similar code to the Babylon input.

### Current Behavior
`ReferenceError: unknown node of type "SpreadProperty" with constructor "Node"`

### Possible Solution
Submit a PR with the implementation of `SpreadProperty` in https://github.com/babel/babel/tree/278cd5e/packages/babel-generator/src/generators. I'm willing to write this.

###

[2018-02-02 23:15] loganfsmyth commented on #7318
You're using `@babel/generator` so are you using Babylon 7.x? `SpreadProperty` was renamed `SpreadElement` in 7.x, so it sounds like your parser is still creating the old name and this probably is 6.x?

[2018-02-02 23:23] nathancahill commented on #7318
You're exactly right, thanks for your time.

[2018-02-02 23:23] #7318 closed

[2018-02-03 00:59] carkod commented on #5404
@JeffML Move`--copy-files` before `--ignore`.
https://github.com/babel/babel/issues/6226

[2018-02-03 02:03] Tauka commented on #7306
I was not able to reproduce this issue on my machine, it transpiles and copies all the files (i tried 160 files with 700mb node_modules in the folder) just fine

| Dependency | Version |
| -------------| --------|
| Babel | 7.0.0-beta.39 |
| Babel-cli | 7.0.0-beta.39 |
| node | 8.9.3 |
| npm | 5.5.1 |
| OS | MacOS Sierra 10.12.4 |

[2018-02-03 02:29] loganfsmyth commented on #7306
Would you be able to try it with a larger number of files? Two things to note:

* This may only happen with `--copy-files`
* This only happens if the files aren't 'compilable' so they'd have to be using --copy-files to copy a bunch of non-.js files.

So ideally make sure you're copying a large number of non-javascript files.

[2018-02-03 03:56] Tauka commented on #7306
@loganfsmyth Thanks for the tips!

Indeed, I was able to reproduce with large number of non-js files. And, as you predicted, `process.nextTick()` did the trick. PR is open now

[2018-02-03 04:48] lomaster1 commented on #4498
function* gen() {
  yield 1;
  yield 2;
}
console.log(Array.isArray(gen())); //false

toConsumableArray has it condition and doing Array.from. But i interesting about when isArray return true.

[2018-02-03 04:56] #7306 closed

[2018-02-03 07:25] vadzim commented on #7230
Closed by https://github.com/babel/babel/pull/7149

[2018-02-03 07:25] #7230 closed

[2018-02-03 14:42] daKmoR opened #7321 "babel-plugin-transform-template-literals literals get overwritten if transpiled in multiple script tags"
Bug Report

TLDR: two different transpiled script tags having template literals - should have h1 and h3... but only the last template literal wins.
Example: https://codepen.io/daKmoR/pen/LQGKRX

### Input Code
Two Script tags which get's transpiled to this
[code]

heaving a "global" static name `_templateObject` seems dangerous
it works fine if you run it in a single script tag... but what if I ha

[2018-02-03 14:51] daKmoR commented on #7321
Additional Info:

Even if there is already a closure
[code]

the relevant code will be put outside
[code]

if a closure would solve the problem I would surely go for it.

[2018-02-03 15:01] LarsDenBakker commented on #7321
+1 ran into the same issue as well

[2018-02-03 19:37] Andarist commented on #4498
Dunno if it would be any better perf wise, but maybe we could rework this - `toConsumableArray` might not be the best choice here, for a simple spread we could do something like this:
[code]

[2018-02-03 21:56] hzoo commented on #7304
cc @nicolo-ribaudo if you have an idea

[2018-02-03 22:08] #7317 closed

[2018-02-04 09:34] bonovski opened #7324 "Couldn't find preset "es2015" relative to directory"
I replaced **babel-preset-es2015** with **babel-preset-env** in my gulp project.

When trying to compile I get the error in the title.
Now after I install the es2015 preset again alongside the env package everything works as normal despite my gulp file not referencing it at all, it just has to be present in node_modules.

I found a few threads on this but no working solution.
I deleted node_module

[2018-02-04 09:51] xtuc commented on #7324
Could you please share your Babel configuration?

[2018-02-04 10:14] marlonicus commented on #7110
For anyone experiencing this issue while using Jest with babel 7.x, installing the below fixed this issue for me:
`babel-jest 'babel-core@^7.0.0-0' @babel/core regenerator-runtime`

Taken from the Jest docs:
https://github.com/facebook/jest#using-babel

[2018-02-04 11:10] inspiraller opened #7325 "Including react-hot-loader/patch makes first variable not defined"
### Description
index.js
[code]
Expected:
something

Actual:
index.js:2 Uncaught ReferenceError: myVariable is not defined

This applies to both react-hot-loader": "3.1.3", and ^4.0.0-beta.18

I have submitted this to react-hot-loader and they claim this is a babel issue.

My babel.rc file:
[code]
My package,json looks like this:

[code]

[2018-02-04 11:55] nicolo-ribaudo commented on #7304
I can investigate :+1:

[2018-02-04 14:43] nicolo-ribaudo commented on #7325
Current output:

[code]

[2018-02-04 14:47] nicolo-ribaudo commented on #7325
This `.babelrc` fixes the problem:
[code]

You were running the modules transform before the react-hot-loader transform, so the umd closure was created before the code injected by the second plugin.

[2018-02-04 14:47] #7325 closed

[2018-02-04 15:19] bonovski commented on #7324
My package.json:
[code]
My gulpfile.js:
[code]

[2018-02-04 16:34] bonovski commented on #7324
The complete error:

[code]

[2018-02-04 18:58] bonovski commented on #7324
The issue appears only with foundation, all other imports from node_modules are compiling without errors.

[2018-02-04 19:39] jdalton opened #7327 "transform-es2015-spread loose mode consistency"
With plugins like [babel-plugin-transform-for-of-as-array](https://github.com/jridgewell/babel-plugin-transform-for-of-as-array/commit/b7737b0230c5a3f292b9a52bbf40574f5f298d25) have introduced a `loose` mode to allow iterable values to be nullish.

I noticed that the loose more of spread has something similar but inconsistent.

For example it will transpile `foo(...a)` into `foo.apply(undefined, a

[2018-02-04 19:39] jdalton commented on #7327
I think for the array spread case it may require a helper.

[2018-02-04 19:50] hzoo commented on #7327
I made an issue earlier to port the plugin into the for-of in https://github.com/babel/babel/issues/6816

The current loose mode for `[...a]` basically treats it as an array? Issue is similar to https://github.com/babel/babel/issues/4916 which is a pretty old one 😛

[2018-02-04 20:12] jdalton commented on #7327
it treats nullish as a value, but I'm suggesting it skip nullish.

[2018-02-04 20:16] ZeeCoder opened #7328 "Polyfilling ResizeObserver"
I was just about to start babel-plugin-transform-runtime, and realised it doesn't polyfill ResizeObserver yet.
Is there any specific reason for it, or is it just not implemented yet?

If it's the latter, I'd be more than glad to help out. 🎉

[2018-02-04 20:21] loganfsmyth commented on #7328
Generally Babel's polyfill goals only apply for the actual language standard. Polyfills for other specifications are considered beyond the goal of the project.

[2018-02-04 20:24] ZeeCoder commented on #7328
Ah, thought babel polyfills any spec that was implemented by a browser, based on this file: https://github.com/babel/babel/blob/master/packages/babel-preset-env/data/shipped-proposals.js

I must've just misunderstood the goal of that file then. 👍
Thanks for the quick answer btw. 🎉

[2018-02-04 20:24] #7328 closed

[2018-02-04 20:26] jdalton commented on #7327
Maybe a `toLooseConsumableArray` that instead of being call for each value, wraps all values:

So instead of
[code]
it could be
[code]
Then `toLooseConsumableArray` could be
[code]

[2018-02-04 20:31] nicolo-ribaudo commented on #7328
@ZeeCoder Babel only polyfills ECMAScript features.

What is ECMAScript? It is the core of the JavaScript that you can use in the browser. Browsers implements ECMAScript, and on top of it there are lots of expansions (Dom objects, service workers, Ajax, ...). `ResizeObserver` is one of those expansions.

How can you know if a feature is part of ECMAScript or not?
I'd suggest searching for that fun

[2018-02-04 21:34] ZeeCoder commented on #7328
Cool tips, thanks @nicolo-ribaudo ! I'm sure it'll come in handy.

[2018-02-04 22:04] caub opened #7329 "[bug] Destructuring with preset-env, can cause "Assignment to constant variable" errors"
[code]
gets transpiled to:

[code]
which obviously throws `TypeError: Assignment to constant variable.`

`.babelrc`:
[code]

| software         | version(s)
| ---------------- | -------
| Babel            |  ^7.0.0-beta.39
| node             |  9.4
| npm              |  5.6
| Operating System |  Linux

[2018-02-04 22:19] existentialism commented on #7329
Related: https://github.com/facebook/create-react-app/issues/3891

[2018-02-04 23:34] ZeeCoder commented on #7328
Actually, one more question.
Is there any way I can polyfill the ResizeObserver using transform-runtime and a polyfill of my choosing?

To be exact, I would like to convert this:
[code]
to something like this:
[code]

..automatically, the same way it does for actual language standard features.

[2018-02-04 23:38] loganfsmyth commented on #7328
You'd have to write your own plugin to handle that, but it's certainly doable.

[2018-02-04 23:41] ZeeCoder commented on #7328
Great, thanks.
That's actually a good excuse for me to finally write a babel plugin. 👍

[2018-02-05 00:09] ZeeCoder opened #7330 "babel-plugin-transform-runtime browserslist support"
For some reason I thought this is how it worked already, but I think this plugin doesn't check for browserslist like preset-env do, and just injects the require/import statements for everything.

For example ideally it should add the import statement for `Promise`, when my target browsers have a native implementation.

[2018-02-05 06:01] nveenjain commented on #7329
we should expect variables to be `var` type right? Seems like the variables are `var` type when
[code]
but `const` type when `"not android >0 " is added to array.
I'm willing to take this up

[2018-02-05 07:28] caub commented on #7329
@nveenjain It's intentional, doing so skip all browsers not supporting `let/const`

[2018-02-05 08:31] inspiraller commented on #7325
That's brilliant. Thankyou. Problem solved.

[2018-02-05 10:14] nicolo-ribaudo commented on #7330
Maybe a `"useBuiltIns": "runtime"` option in preset-env?

[2018-02-05 12:28] ZeeCoder commented on #7330
Is that a thing @nicolo-ribaudo ?
I only see "entry", "usage" and false for that option: https://github.com/babel/babel/tree/master/packages/babel-preset-env#usebuiltins

As far as I know transform-runtime is a bit different from preset-env, in that the latter polyfills the environment, while the former adds require statements pointing to "polyfilling" modules where needed.
🤔

I can't use preset-e

[2018-02-05 12:30] nicolo-ribaudo commented on #7330
Yup, I was proposing a new value for that option :slightly_smiling_face:

[2018-02-05 12:30] ZeeCoder commented on #7330
transform-runtime's useBuiltIns option is a bit confusing to me, it basically seems like you can disable this scoped polyfilling stuff alltogether.

[2018-02-05 12:56] Hypnosphi opened #7331 "preset-env: inconsistent behaviour when meeting "unknown" browser"
### Input Code
Here's two examples of using browserlist query
[`last 1 UCAndroid version`](https://babeljs.io/repl/#?babili=false&browsers=last%201%20UCAndroid%20version&build=&builtIns=false&code_lz=MYewdgzgLgBAZmAcgQwLYFMYF4YHI4gi4BQoksIARgFbYwDeA2gihgLoBc8ArmMFAEtwACgCUDAL4TS4CCAA26AHTyQAc2FVqzJGnRslYPeID0JmKrUQYAIgIgbQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&

[2018-02-05 13:47] lomaster1 opened #7332 "Can you explain why does Babel copy an array before passing it to concat?"
My code:
`const allMessages = [ ...resultMessages, ...oldNotErrorMessages ];`
Babel convert to
[code]
Why not `if (Array.isArray(arr)) return arr; else return Array.from(arr)`?
Why does Babel copy an array if it array before passing it to concat?

[2018-02-05 14:16] existentialism commented on #7330
We can move discussion of this into: https://github.com/babel/babel/issues/6629 :)

[2018-02-05 14:21] ZeeCoder commented on #7330
aaaaaah right.
Sorry @nicolo-ribaudo thought I was just not understanding something.
Yeah that would work for me I think.

So then "entry" and "usage" would still mean the same thing (polyfilling the global env) and "runtime" would do the same conditional polyfilling as "usage" does, only that it injects import / require statements pointing to polyfills instead of patching the globals.
(As transfo

[2018-02-05 17:18] maaz93 commented on #7332
I don't think this is an issue as such. You're actually looking for the [`loose`](https://babeljs.io/docs/plugins/transform-es2015-spread/#loose) mode for the spread transform.

See [this](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYewdgzgLgBAhgGwQWQKYQnA5umBeGAbRgDoyAndAVwSjQ23QBpSyQEATAORCgFFy5EOXqYcEGAF0A3EA&debug=false&forceAllTransforms=false&shippedPropos

[2018-02-05 17:47] VojtechStep opened #7334 "[CLI] Watch mode exits when compiling a file with an error"
Choose one: is this a bug report or feature request?
**Bug report**

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
Babel stays in watch mode, showing the code frame with the error

### Current Behavior
Babel exits with a stack trace

### Possible Solution
Probably caused by #6826. `pacakges/babel-cli/src/babel/util.js#compile` calls the callba

[2018-02-05 17:47] VojtechStep commented on #7334
I can do a PR if necessary

[2018-02-05 18:09] loganfsmyth commented on #7334
return callback(null, { ignored: true });

should just be

    return callback(null, null);

`ignored: true` is leftover from a refactoring of how ignoring works.

If you'd like to PR it, go for it!

[2018-02-05 18:34] ZeeCoder commented on #7330
Yep that makes sense

[2018-02-05 19:49] Daniellt1 opened #7335 ""useBuiltIns": "usage" does not add es6.set/es6.map polyfills"
Set polyfill should be added in order to run React 16 application in Safari on iOS 7.

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
.babelrc:
[code]

package.json browserslist:
[code]

### Expected Behavior
Set and Map polyfills which are required by React 16 should be added.

### Current Behavior
They are not added even with the explicit include:
[code]

[2018-02-05 20:21] existentialism commented on #7335
@Daniellt1 can you show us the code that uses Map/Set or create a small repo that reproduces the issue?

It should work (though it's a trivial example):
https://babeljs.io/repl/#?babili=false&browsers=%3E%201%25%2C%20IE%2011%2C%20iOS%20%3E%3D%207&build=&builtIns=usage&code_lz=MYewdgzgLgBAZiEMC8MwFMDuMCyBDABwAoBKAbgChRJYAjPAJxTSxgGV0pTKg&debug=false&forceAllTransforms=false&shippedProposals=false&c

[2018-02-05 20:36] Daniellt1 commented on #7335
@existentialism,
Yeah, I see. You are absolutely correct. Do you have an idea why explicit "include" does not work then? Or I misunderstood the way it should work?

[2018-02-05 20:43] existentialism commented on #7335
@Daniellt1 the behavior of `include` and `exclude` were probably just not considered when we first landed `usage` (we haven't really made many updates to it since we first landed it)... probably because it might not know where to put them (i.e. entry knows because it found a `babel-polyfill` import/require).

[2018-02-05 21:17] Daniellt1 commented on #7335
@existentialism,

Fair enough. I will add Set and Map polyfills to my entry points as a temporary fix. Do you consider to investigate it in the future?

[2018-02-05 21:47] nicolo-ribaudo commented on #7332
I think that it is for two reasons:
1) `[ ...foo ]` is compiled to `_toConsumableArray(foo)`, which can't be `=== foo`
2) Holes needs to be conveted to `undeifned`:
[code]

[2018-02-05 22:27] abbassiddiqi commented on #5085
Update your `.babelrc` file according to the following examples, it will work.

If you are using `@babel/preset-env` package
[code]

or if you are using `babel-preset-env` package
[code]

[2018-02-05 22:58] justinfagnani commented on #7078
I think a simpler solution is to just allow a list of constructors that need to be wrapped in the configuration:

[code]

All extendable built-ins are globals, so this should work fine.

cc @treshugart who ran into this issue with SkateJS. Since mixins are popular in the web components world, where we also need to extend native classes, it'd be really nice to have this fixed soon.

[2018-02-06 04:42] loganfsmyth opened #7336 "Clearly annotate errors from Babel with codes"
We've added a few, but it'd be nice to clearly set codes on any of the errors that Babel itself throws, e.g.

    throw Object.assign(
      new Error("..."),
      { code: "BABEL_ERROR_FOO" },
    );

[2018-02-06 04:53] loganfsmyth opened #7337 "Babel CLI returning non-zero if directory is empty?"
From https://github.com/gatsbyjs/gatsby/pull/3785#discussion_r164922293. Haven't investigated but assuming it is accurate, it doesn't seem ideal to me. If I do
[code]
I'd say as long as the `src` directory exists, the fact that it has no files in it shouldn't be considered an error.

[2018-02-06 06:02] Aremyst opened #7338 "Babel --source-maps - resulting source map has "sources" path to the non-transpiled file in source folder, not to the transpiled file in output folder"
Bug

### Input Code
_main.js_:
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
_package.json_:
[code]

_CLI command_:
[code]

### Expected Behavior
Resulting _main.js.map_ should point to transpiled _main.js_ file, which is inside _build_ folder.
So, I would expect the _"sources" property_ inside _main.js.map_ to be _"main.js"_ or _"./main.js"_.
_Expected main.js.map_

[2018-02-06 07:22] lomaster1 commented on #7332
Thanks @maaz93 and @nicolo-ribaudo.

[2018-02-06 07:23] #7332 closed

[2018-02-06 07:40] xadhix commented on #7337
I would like to work on this issue if its ok? Could you give me a starting point?

[2018-02-06 10:24] juanda99 opened #7339 "this is null when trying to reach module.exports using es2015 preset"
Bug
----

index.js file:

[code]

### Expected Behavior
[code]
### Current Behavior
[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  6.26.0
| babel-preset-es2015 | 6.24.1
| node             | 8.2.1
| npm              | 5.6.0
| Operating System | MacOS

[2018-02-06 10:25] salmanwaheed commented on #7339
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mkdirenv@gmail.com
    Domain salmanwaheed.info has exceeded the max emails per hour (180/150 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message,

[2018-02-06 10:25] salmanwaheed commented on #7339
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  mkdirenv@gmail.com
    Domain salmanwaheed.info has exceeded the max emails per hour (182/150 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message,

[2018-02-06 10:31] paradoxxxzero commented on #7177
As a side note, using `@babel/plugin-transform-classes` works around the issue.

[2018-02-06 10:40] hulkish opened #7340 "Allow for overriding default linesAbove/linesBelow options."
Choose one: is this a bug report or feature request? **Bug**

The `linesAbove` & `linesBelow` options for `@babel/code-frames`'s `codeFrameColumns` method are defaulting to `2`/`3` when using valid values which are consequently falsey.

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
N/A

### Expected Behavior
Per the code above, the expected output is:

[2018-02-06 11:19] zloirock commented on #7339
Global `this` in the strict mode / ES modules is `undefined`, so it's expected behaviour.

[2018-02-06 11:19] #7339 closed

[2018-02-06 11:26] devlifeX opened #7342 "this undefined in IE 10"
Hey guys.
Please check this case
[code]
bableify is
[code]

Run in IE 10 and get error
"Cannot call method on undefined"

[2018-02-06 16:18] maaz93 commented on #7342
Can you share your Babel config and the error stacktrace?

[2018-02-06 17:02] ishraqiyun77 opened #7343 "Can't resolve module in /node_modules/babel-core/lib/helpers/resolve.js"
Started trying to have Webpack code split into `manifest.js`, `vendor.js`, and `main.js` (app specific code) which resulted in several module errors, most of which I have been able to resolve except this one.

The error I am getting that I can't resolve:
[code]

My directory structure is this:
[code]

My `webpack.config.js` is the following:
[code]

The `package.json`:
[code]

[2018-02-06 17:09] loganfsmyth commented on #7343
Why are you including Babel in `VENDOR_LIBS`? It is a build tool that is meant to run on Node, but that will attempt to package it up and include it in your webpack bundle for use on the browser.

[2018-02-06 17:48] ishraqiyun77 commented on #7343
Ok, that is where I screwed up. Had Babel and Webpack going in there not realizing they shouldn't be.

[2018-02-06 17:48] #7343 closed

[2018-02-06 22:59] #7304 closed

[2018-02-06 23:41] probitlabs commented on #5201
When I want to use—let's say—`@babel/stage-1#7.0` syntax together with TypeScript typings (like in `const a: X = b |> lib.map(c)`—which is *not* syntactically supported by `tsc#2.7`); is there a way to **keep** the type information—instead of stripping—in order to pass it over to TypeScript's checker is such cases? (An `*.d.ts` typing export option seems profitable to me.)

[2018-02-07 09:14] jaydenseric commented on #6800
I'm using v7.0.0-beta.39 and this issue seems to be fixed, can it be closed?

[2018-02-07 12:41] abiduzz420 commented on #7296
Hello @hzoo I have been reading about ASTs, codemods and understanding the lebab code base. However, I am not able to figure out my first step to working on this issue. Could you please guide me on what my next step should be ?

To my understanding I feel I should be refactoring lebab code into plugin based architecture, which could be then used as babel preset. What do you think ?

[2018-02-07 13:46] vsnikkil opened #7346 "From 'requireJS' format to 'es6' style modules"
Is there a maintained plugin to go from _requirejs_ modules to _es6_ styled modules? I wish to apply the transformation for +500 files. This is not trivial task at all and prune to errors!

[2018-02-07 13:49] hzoo commented on #7346
Thanks for the issue, but this isn't really a Babel feature/bug report? I would ask these kinds of questions on stackoverflow, twitter, or our slack next time. I would look into https://www.npmjs.com/package/amd-codemod or something similar on google.

[2018-02-07 13:49] #7346 closed

[2018-02-07 14:32] vsnikkil commented on #7346
Thanks for redirecting me to help @hzoo. You may also add a 'feature request' label as this is a feature request now.

[2018-02-07 14:58] benjamn commented on #7296
To be perfectly honest with you, Lebab is @nene's project (with help from @mohebifar), and is not directly affiliated with Babel, so you should probably be asking about this on the Lebab repository (e.g. https://github.com/lebab/lebab/issues/138). Specifically, you might ask if anyone else has done similar work already, study what they did, and ask them lots of questions. In general, I would cauti

[2018-02-07 15:24] abiduzz420 commented on #7296
Thank you @benjamn . That sounds correct. I shall get in touch with lebab project maintainers and take it forward from there :)

[2018-02-07 15:29] shreyasminocha opened #7347 "[transform-modules-umd] When there is a default export, set browser global to the export itself"
I am exporting a function as the default function. I require the `babel-plugin-transform-modules-umd` to set the `global.actual` variable to `mod.exports.default` rather than `mod.exports` as it currently does.

### Input Code
[code]

### Expected Behavior

[code]

### Current Behavior

At the moment, `global.actual` will be set to `mod.exports`.

### Context

I'm trying to rewrite a popular javas

[2018-02-07 15:35] houshuang opened #7348 "MobX decorators don't work with Babel 7"
There is something in Babel 7 which is interfering with the `@computed` decorator from MobX - code which works in Babel 6 with babel-plugin-transform-decorators-legacy to @babel/plugin-proposal-decorator in Babel 7, and I get no errors, but also no reactivity.

If you look at [this example repo](https://github.com/houshuang/meteor-crash-babel-repro) (you need Meteor to run it), I have a very simpl

[2018-02-07 18:07] loganfsmyth opened #7349 "Ensure that class bodies have 'use strict' if the parent scope wasn't already"
ES6 class scopes are automatically strict-mode. In Babel 6 the module transform pretty much just _always_ made modules strict, but now that people are more likely to be using `sourceType: "unambiguous"`, we'll want to make sure the class transform injects `use strict` if the file isn't a module and doesn't have a `use strict` directive in a parent scope.

### Input Code

[code]

### Expected Behav

[2018-02-07 19:01] MarkusToe commented on #7349
Hello, first-timer here. Can I help you with this issue? Maybe you can guide me through my first PR?

[2018-02-07 19:20] loganfsmyth commented on #7349
Sure! If you'd like to join our Slack we can help answer questions for you there: https://github.com/babel/notes/issues/38

[2018-02-07 20:32] andy-ms commented on #5201
@probitlabs It *might* be possible to apply just those experimental plugins, compile to `.ts` files, then pass that into the TypeScript compiler. But it wouldn't be easy, and it's likely that babel will emit non-typecheck-able code. And you wouldn't get editor support while editing your original files.

[2018-02-07 22:24] malectro commented on #7233
Looks like you can solve this by using the `@babel/plugin-transform-flow-strip-types` plugin instead of the preset. Not ideal, but fairly easy to switch.

[2018-02-07 23:48] loganfsmyth opened #7350 "Spec change: Tagged template literals are no longer cached globally"
Spec PR: https://github.com/tc39/ecma262/pull/890

Babel has never been able to implement a true global cache anyway, but now we can remove the file-level caching. e.g.

Currently say we have [this example](https://babeljs.io/repl/#?babili=false&browsers=chrome%20%3E%2055%20%20&build=&builtIns=false&code_lz=MYewdgzgLgBFCGBzGBeGA3VA-DBuAUPgBQBmArmMFAJbhECUA3vjHEgAYQgC2ApnL24AHADbwovdgVYJEnHvwnCxEqf

[2018-02-08 00:20] HHogg commented on #6342
We've also encountered this issue (though there is a super simple work around).

With the following yarn workspaces/lerna structure...

[code]

Inside the root of the projects .babelrc file, these **do not work**...

[code]

However this **does work**...

[code]

It's not a major issue, but with libraries like eslint and stylelint and a very similar situation where the lint configuration are packa

[2018-02-08 00:42] jridgewell commented on #7256
Reopening until we confirm point 4.

[2018-02-08 01:01] nveenjain commented on #7256
In point 4, only `super object` point is a TO-DO, will complete it by night.

[2018-02-08 01:02] Kovensky commented on #7349
Would it be harmful to just always add the directive anyway? It increases output size, but I believe a minifier should be able to deal with it?

[2018-02-08 01:12] loganfsmyth commented on #7349
@Kovensky If someone can check to see if Uglify handles that, we could explore it. The only downside is it means we can't optimize

[code]
to
[code]
anymore because there wouldn't be a place for it, so we'd nee
[code]

that said, I don't think that optimization comes up that often really.

[2018-02-08 02:05] DZuz14 commented on #7350
I will work on this. Any chance I can chat with someone on Slack on how to proceed with this?

[2018-02-08 02:12] loganfsmyth commented on #7350
Yup! Join our slack and we can help out with any questions you have.

[2018-02-08 02:39] DZuz14 commented on #7350
Will do. Ill hop on tomorrow at work. Thanks.

[2018-02-08 05:13] jridgewell opened #7352 "Tagged Template Literal: Size Optimization"
Just noticed with https://github.com/babel/babel/issues/7350, we're making a bunch of very long string arrays. What's more, they're (mostly) duplicated between the `strings` and `raw`.

[code]

The only (I think) time that string arrays aren't duplicated is when an "invalid" escape sequence comes up (which are now valid, due to template literal revision).

[code]

At worst, we could optimize the "

[2018-02-08 05:17] jaydenseric commented on #7334
@VojtechStep godspeed! This fix will really improve DX; I'm constantly manually restarting my watch script.

[2018-02-08 05:51] rajzshkr commented on #7337
@loganfsmyth so it should create an empty lib folder?

[2018-02-08 06:02] loganfsmyth commented on #7352
I don't know that it'll be much difference from now size-wise since the majority of tagged templates will have different strings for each invocation.

The primary time where they aren't duplicated is when there are escapes in general, not just invalid escapes, e.g.

[code]
becomes
[code]
one with escaped `\` and one without.

100% agree there. If both sets of strings will be the same, just passing

[2018-02-08 06:06] loganfsmyth commented on #7337
To be clear, this is specifically for `babel src -d lib`. We'd want to error if `src` doesn't exist I think, but if the folder is there and is just empty, I don't think it should be an error. Since I haven't investigated I'm not 100% it even _is_ an error, so someone will need to check.

As for if we create `lib`, it depends on if we create the lib folder now or rely on it being there, but if we c

[2018-02-08 06:15] rajzshkr commented on #7337
Thanks for the clarification.

@xadhix Error happens [here](https://github.com/babel/babel/blob/master/packages/babel-cli/src/babel/dir.js#L87). Let me know if you have any doubts in fixing this issue.

[2018-02-08 06:17] jridgewell commented on #7352
That's just what caused me to notice it.

That makes better sense.

[2018-02-08 06:39] loganfsmyth commented on #7352
That it'll be a big difference? If so, can you expand on how you see it changing with that issue?

[2018-02-08 06:54] jridgewell commented on #7352
No, I don't imagine #7350 will cause much difference for anyone (who includes the same template literal's text in multiple locations?). The issue's code samples are what caused me to notice it.

[2018-02-08 06:56] loganfsmyth commented on #7352
Gotcha, sounds good them.

[2018-02-08 07:58] nickbar86 opened #7354 "NS_ERROR_XPC_BAD_OP_ON_WN_PROTO: Illegal operation on WrappedNative"
File a bug.
This problem is caused in Firefox version 20.
The error is thrown by core.js  in file es6.symbol.js at line
10583:  var D = gOPD(it, key);

[code]
This is a blocking issue.

[2018-02-08 08:25] loganfsmyth commented on #7354
Do you mind if I ask why upgrading Firefox isn't an option? Given the age of Firefox 20, I can only assume there must be know security vulnerabilities in it at this point.

[2018-02-08 08:25] bashmish commented on #7350
We have a related issue here with HTML Imports https://github.com/Polymer/polymer-cli/issues/950 and a need to fix it on the Babel side in the best case.

I do understand that this is likely not Babel's responsibility to deal with such edge cases, but at the same time I ask myself: are there many cases where caching of a template literal is really helpful? Also TypeScript compiler doesn't cache an

[2018-02-08 09:28] zloirock commented on #7354
It's a duplicate of https://github.com/zloirock/core-js/issues/374 and https://github.com/zloirock/core-js/issues/254, why you add it also here?

[2018-02-08 09:28] #7354 closed

[2018-02-08 10:33] bashmish commented on #7350
Learned a lot about the underlying spec and now see how naive my previous comment was, sorry guys :D just started exploring the rationale behind transpilers implementations.

Also looked in depth at how TypeScripts implements it. Interesting read here https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#cache-tagged-template-objects-in-modules

The most confusing part is how TypeS

[2018-02-08 19:31] #7256 closed

[2018-02-08 20:49] travi opened #7357 "injecting external-helpers in a node app"
Choose one: is this a bug report or feature request? (docs?) bug report

I'm trying to use a package that assumes that the external-helpers are available as a global. From the [docs](https://babeljs.io/docs/plugins/external-helpers/#injecting-the-external-helpers), I should be able to inject them to `global` in my node app by using `require("babel-core").buildExternalHelpers();`. However, use of t

[2018-02-08 21:52] #7340 closed

[2018-02-08 22:09] loganfsmyth commented on #6766
Alright everyone, I've created https://github.com/babel/babel/pull/7358. Please look over what I've posted there and let me know what you think.

[2018-02-09 03:30] ShrimpCoder commented on #5006
I am getting the same error, thanks for @loganfsmyth~
I have already solved it.
try this `npm i --save-dev babel-preset-react`

[2018-02-09 08:42] pelme commented on #7074
Adding `passPerPreset: true` did the trick this for me too!

[2018-02-09 08:48] alnesjo opened #7359 "Primitive conversion and template literals"
I have been meaning to use the implicit primitive conversions of `[Symbol.toPrimitive](hint)`, `toString()`, and `valueOf()` but the transpiled output is not in line with what I expected.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]
[code]

### Possible Solution

Rather than conca

[2018-02-09 12:16] mindplay-dk opened #7360 "Inconsistent JSX whitespace handling"
It appears the whitespace handling of the JSX transform is inconsistent.

For example:

[code]

The two `<code>` tags in this example end up rendering differently - it appears the line-break before the word "other" on the first line gets discarded, while the actual spaces before/after the first code-tag, and after the second one, do get rendered.

This currently forces me to make sure I never star

[2018-02-09 14:07] joetidee opened #7361 "Where is the best place to see which JS functions are not transpiled by Babel?"
Where is the best place to see which JS functions are not transpiled by Babel?

[2018-02-09 14:45] hzoo commented on #7361
Can you be specific what you mean here? I can't tell if you mean syntax or something like Array.prototype.includes which you would use a polyfill for: https://babeljs.io/docs/usage/polyfill/

[2018-02-09 15:15] Andarist commented on #7357
`buildExternalHelpers` builds helpers as string, you should save the result in a file and later `require` that file in your app.

[2018-02-09 15:40] vlajos opened #7362 "Float32Arrays seems to getting much slower after loading babel polyfills"
I noticed that PIXI.js's webgl implementation is much slower with loaded babel polyfills.
* http://lavela.hu/sp/d.html Without babel
* http://lavela.hu/sp/d2.html With babel.

I guess all the PIXI stuff is not really important. Maybe the flame graphs from the related pixi bug ticket: https://github.com/pixijs/pixi.js/issues/4662

(On Firefox I did not notice this problem, just on Chrome.)

### Inp

[2018-02-09 15:42] hzoo commented on #7362
Hmm interesting! This would mostly be an issue for https://github.com/zloirock/core-js since that's more or less what babel-polyfill is

[2018-02-09 15:43] vlajos commented on #7362
@hzoo Should I recreate the bug there?

[2018-02-09 16:19] nicolo-ribaudo commented on #7210
These two lines are transpiled in the same way:
[code]
[code]

[2018-02-09 16:39] joetidee commented on #7361
So, just asking if there is a quick reference page to see which syntax / functions are supported by Babel.

[2018-02-09 17:31] DZuz14 commented on #7350
Just letting anyone looking at this that I won't be working on this issue. I am instead going to take some time go get acclimated to the Babel codebase before focusing on any specific issue.  Feel free to take a whack at it.

[2018-02-09 19:07] travi commented on #7357
@Andarist understood, which is what i ended up doing, but that is not clear from the docs:

if what you mention is the intent, it seems like the docs should at least be updated to make it clear that the command above does not directly update `global`

[2018-02-09 19:19] zloirock commented on #7362
Interesting. Please, open an issue in the `core-js` repo.

[2018-02-09 19:35] zloirock commented on #7362
`core-js` does not replace/wrap typed array constructor in this case, but theoretically, it can be deoptimized in V8 because of adding some additional properties.

[2018-02-09 20:59] Andarist commented on #7303
@hulkish I'm not sure what's the point of using combining those 2 plugins together. One targets development mode (jsx-self) and one targets production mode (constant-elements). By using `jsx-self` and therefore adding `this` to react elements you effectively make `constant-elements` transform obsolete, because it wouldn't be able to hoist **any** element. Could you explain your use case?

[2018-02-09 21:07] hulkish commented on #7303
@Anderist that's a totally fair point. I ran into this while experimenting with the plugins. I have no need to use them together. I guess I thought it would be good to have a way to at least alarm the dev user that they are not compatible.

[2018-02-09 21:47] hzoo commented on #7303
We could throw if `context.env()` is not what is expected or undefined in the plugins themselves?

[2018-02-09 21:50] hulkish commented on #7303
in a way... THIS sort of raises the question of if there's enough situations like this that warrant the need for lifecycle hooks for the transforms plugins perform. Like `pre-scope-hoist` or something lol.

[2018-02-09 23:02] Andarist commented on #7303
context.env? is this available somewhere? I think a helpful warning, based on process.env or mentioned context.env, would be enough. People can have unusual use cases, so I find throwing quite limiting.

Also `jsx-self` transform is doing its job quite blindly, could probably be reworked a little bit to apply its transformation higher in the AST tree than on `JSXOpeningElement`. This potentially c

[2018-02-10 12:03] abiduzz420 commented on #7357
I shall take this up. This would be my first contribution to babel.

[2018-02-10 14:55] UtkarshGupta-CS commented on #7350
@loganfsmyth I can work on this issue. Thanks

[2018-02-10 18:22] loganfsmyth commented on #7350
@UtkarshGupta-CS Go for it!

[2018-02-10 19:17] vlajos commented on #7362
Thanks. Done: https://github.com/zloirock/core-js/issues/377

[2018-02-10 19:17] #7362 closed

[2018-02-11 03:29] zheeeng commented on #6476
I use const enum in declaration files(not exporting it), it is useful for distinguishing custom obj type.

[2018-02-11 14:35] ygoe opened #7367 "Combine multiple files into one"
I'm trying to replace uglify-es with babel to make use of newer JavaScript features. uglify cannot convert ES6+ to ES5 so it's not suitable for browsers in the wild. From what I've read, babel can transpile ES6+ to ES5. And now it can also minify the code, which is what I'm looking for.

uglify can process multiple input files and generate a single output file. Single output files are important be

[2018-02-11 15:13] Andarist commented on #7367
You are looking for a bundler - depending on your needs I'd recommend looking into rollup or webpack.

[2018-02-11 17:30] ygoe commented on #7367
Thank you, rollup seems to work for me. I had to reorganise my source files for modules instead of plain text including, but it's maybe even a bit better now. It introduces yet another tool though.

webpack is unusable for me. I couldn't find a good explanation of how to use it, then it generated a large pile of something from my tiny example and the result didn't even work.

[2018-02-11 18:30] BrodaNoel opened #7368 "[Feature Request] Mathematical comparison"
Hi guys!
Is there a way to create a plugin or whatever (maybe add it as a feature?) to be able to make this "mathematical" comparison:

[code]

[2018-02-11 19:04] Andarist commented on #7368
It is possible to create a plugin doing such transformation, as those conditions are parseable. Babel is focused only on standard syntax & proposals though, so this won't be included in any of our official plugins.

This should not be too hard to create though, you could learn a little bit about AST transformations done by babel to create your own custom plugin doing this. If you'd have any questi

[2018-02-11 19:04] #7368 closed

[2018-02-11 21:53] olstenlarck opened #7369 "Babylon: ESPree plugin"
Continuation of https://github.com/babel/babylon/issues/651? Still, can't understand what's the problem to move the `babel-eslint`'s `espree/` dir as plugin to Babylon, so finally can just pass `babylon` as eslint parser and pass `parserOptions` with `plugins: ['espree']`.

[2018-02-11 23:54] hulkish commented on #7303
@Andarist what do u think of my comment above regarding adding visitor lifecycle hooks?

[2018-02-12 04:16] devongovett commented on #3930
Just wrote a simple plugin for Babel 6 to work around this issue here: https://github.com/devongovett/babel-plugin-transform-async-super. It only compiles super expressions inside async functions, so you could use it when you aren't already compiling classes to ES5 (e.g. Node 6).

If you want to make it part of preset-env as a temporary fix for users on Babel 6, I'd be happy to contribute it. It's

[2018-02-12 07:49] kentor opened #7371 "class property initializer of extended class is duplicated in nested extended class constructor"
## This is a bug report

With the `@babel/plugin-proposal-class-properties` plugin, it appears that property initializers get duplicated in the nested class' constructor when both classes are extended classes that call super.

### Input Code
Minimum repro:
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
[code]

### Current Behavior
[code

[2018-02-12 09:32] julien-f commented on #7268
I eventually used [@babel/plugin-transform-runtime](https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-runtime/README.md) as a work-around.

Feel free to weight in on the regenerator issue.

[2018-02-12 13:10] #7334 closed

[2018-02-12 16:08] j-oliveras commented on #7235
If it helps, typescript compiler has the same bug: https://github.com/Microsoft/TypeScript/issues/16241.

[2018-02-12 16:20] gs-akhan commented on #7235
Thanks, I busted my self trying to wrap my head around the code.. Before it reached the bable-ts-preset, it was broken.
The probableArrow value always show end of function, and does not reset..
 :|

[2018-02-12 18:53] karlas commented on #7306
I confirm it works with 7.0.0-beta.40 @Tauka Thx!

[2018-02-12 19:18] TimWolla commented on #6923
@nicolo-ribaudo According to the commit (https://github.com/babel/babel/commit/4887d81929b7b598abf2e04b77c95586b5230b35) the patch is contained in the v7.0.0-beta.40 tag. I tried again with beta 40, but still encounter this issue:

[code]

Did I do something wrong?

[2018-02-13 01:07] firelizzard18 opened #7373 "babel-plugin-proposal-class-properties fails to transpile decorated class properties of the default export"
### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

### Expected Behavior
Both classes should transpile correctly, regardless of export status

### Current Behavior
The class that is used as the default export does not transpile correctly:

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel

[2018-02-13 01:30] firelizzard18 opened #7374 "Classes and functions are transpiled into different scopes when no decorators are present"
### Case 1 (bad)

#### Input Code

[code]

#### Output Code

[code]

### Case 2 (good)

#### Input Code

[code]

#### Output Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

### Expected Behavior
The transpiler should be consistent. I expect all declarations to be in the same scope in all cases. If the spec says something like classes must be dec

[2018-02-13 09:04] nicolo-ribaudo commented on #6923
I will check later

[2018-02-13 10:28] damianobarbati commented on #7177
@babel/plugin-proposal-decorators is still broken on 7.0.0-beta.40 => sticking to 7.0.0-beta.36 🤙🏻

[2018-02-13 14:20] julienw commented on #5705
FTR It's been fixed in https://github.com/babel/babel/pull/6850

[2018-02-13 15:42] existentialism commented on #7367
Closing this as there isn't anything actionable on Babel's side!

[2018-02-13 15:42] #7367 closed

[2018-02-13 15:44] existentialism commented on #7330
@ZeeCoder thanks again for the report, gonna close this so we can merge discussion with https://github.com/babel/babel/issues/6629

[2018-02-13 15:44] #7330 closed

[2018-02-13 16:33] Andarist opened #7377 "Merging class transforms"
**Problem**

Them being completely independent makes certain outputs harder, because transforms should be unaware of other ones at the moment.

**Solution**

Make them somehow aware of each other, then we could make our analysis easier which would lead to simpler implementation and cleaner output.

The only thing that really can be done is to merge them into a single package. Question is how peopl

[2018-02-13 17:55] nieroda commented on #7349
@MarkusToe are you working on this issue? Otherwise I will take it

[2018-02-13 18:28] nieroda commented on #7349
I think I will claim this

[2018-02-13 21:18] jridgewell commented on #7352
Hi @debugpai2:

1. First we need to determine if all our `strings` and `raw` strings are equal (so basically a deep equality check on the arrays, or do the checking during the for-of loop).
2. If they're the same, we no longer need to pass `raws` to the call expression (we'll be slicing `strings` at runtime to generate it)
3. We need to modify the taggedTemplateHelpers to slice the `strings` array

[2018-02-13 22:30] thasmo commented on #7307
Ah, that explains why it's probably not working with the current stable.

[2018-02-14 08:29] retyui commented on #6923
@nicolo-ribaudo check please this error!

[2018-02-14 17:13] ygoe opened #7381 "Global installation doesn't work"
This is a bug report.

Installing babel globally, it either does nothing or fails with an error.

### Input Code

Just a basic sample.

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

Not using this.

### Expected Behavior

I'd like old-style JavaScript code. Especially nothing with `=>` in it.

### Current Behavior

The code remains unchanged if I just call `babel n

[2018-02-14 19:18] mgol opened #7382 "object-rest-spread doesn't prevent prototype mutation via a __proto__ property"
Choose one: is this a bug report or feature request?

A bug report.

### Input Code

[code]

See [this test case](https://babeljs.io/repl/#?babili=false&browsers=IE%2011&build=&builtIns=false&code_lz=G4QwTgBA9hC8EHkBGArApgYwC4DoNjRCzQAoA7AVwBsqBKAbgChGocQ4IByAMyik6asA-kIAOYKFigiOAbQC6TRqEhQAjB2TpsbAM66AlgHMyJAN4BfADTQGzFdABMHMzjdQLSjFDK6oVNBwqKCMSTnUIcUkYcDAQAE8AfggSNAAPUUxiABMALggsMAo0Wk4bAEEwOPi

[2018-02-14 19:22] mgol commented on #7382
May be related to #6735 although I'm not sure if it's exactly the same.

[2018-02-14 21:51] jridgewell commented on #7382
This is unrelated to #6735.

[2018-02-14 22:08] jridgewell commented on #7382
Whaaaaaaat. @littledan: Is there a reason they are different?

@mgol: Are you interested in tackling this one? We'll need to add an `extendsSpec` helper, that doesn't use `Object.assign`, and does `Object.defineProperty` (but with `enumerable`, `writable`, and `configurable` all `true`).

[2018-02-14 23:37] Andarist commented on #7382
There is already PR with this - https://github.com/babel/babel/pull/7034

[2018-02-15 00:06] littledan commented on #7382
@jridgewell Yes, it was a deliberate design decision to use own properties and DefineProperty rather than Set in object spread. See [this commit](https://github.com/tc39/proposal-object-rest-spread/commit/7acb89a127b6a967f33a6a0b988da92d0bc5e07f) and the [meeting notes](http://tc39.github.io/tc39-notes/2014-09_sept-25.html#58-object-rest-destructuring-and-spread-properties) that led to it.

[2018-02-15 09:52] debugpai2 commented on #7357
Is this claimed already? If not I would like to work on this

[2018-02-15 10:25] Andarist commented on #7382
While we are at this edge case. Is there a reasonable explanation for this?
[code]

[2018-02-15 10:42] Kovensky commented on #7382
That sounds like a (hilarious?) spec bug.

`__proto__` is a setter/getter in `Object.prototype`, so `o.__proto__ = []` correctly created a data property. It doesn't show up in the result of `getOwnPropertyDescriptors`, though, because when the property key `__proto__` is set in the result, it ends up invoking the setter.

`Object.getPrototypeOf(Object.getOwnPropertyDescriptors(o)) === o.__proto__`

[2018-02-15 10:50] abiduzz420 commented on #7357
Hi @debugpai2 I haven't been able to spend time working on this issue. Can I get the PR ready in a day or two ?

[2018-02-15 10:52] Kovensky commented on #7382
It looks even more fun in Firefox:

<img width="489" alt="image" src="https://user-images.githubusercontent.com/73085/36253009-b5e84348-1289-11e8-89f0-017751aeb0c8.png">

[2018-02-15 10:52] Andarist commented on #7382
Yeah, I've checked FF too 😂

[2018-02-15 11:01] drcmda commented on #7177
It seems to be related to the "static" property. The following will crash babel atm:

[code]

But when i remove the static, which would be wrong of course, but either way, babel happily transpiles.

[2018-02-15 11:32] AoDev commented on #7290
@leiming Could you share your fixed config? I have this issue when building on a windows OS but not OSX

[2018-02-15 12:19] littledan commented on #7382
It sounds like you're talking about devtools, rather than V8. You can file a devtools bug at https://bugs.chromium.org/p/chromium/issues/entry using the Platform>DevTools>JavaScript component

[2018-02-15 13:27] debugpai2 commented on #4045
Hey. If this issue is fixed can someone close it? If its not I would like to pick it up.

[2018-02-15 14:59] existentialism commented on #7177
Yes, as I stated before, it's a plugin ordering issue introduced by [some changes](https://github.com/babel/babel/pull/7124) that landed after `beta.36`.

Reduced test case:

[code]

[code]

Unfortunately, I haven't had any time to dig further, other than basically `insertAfter` doesn't know how to handle inserting the transpiled static stuff after the code's been transformed by `proposal-decorato

[2018-02-15 22:35] damianobarbati commented on #7177
Thanks for your efforts @existentialism (and the community) 💪🏻

[2018-02-15 23:38] mbrookes commented on #5616
Ironically I'm having the opposite problem. 🙃

`babel-node` is ignoring `.babelrc` (or at least plugins) when called from a `package.json` script (`npm run ...`).

It works fine when I run:
[code]

(cc @loganfsmyth since you reviewed the connected PR.)

Thanks guys!

[2018-02-15 23:54] loganfsmyth commented on #5616
If you can put together a reproducible example repository I can take a look.

[2018-02-16 00:23] mbrookes commented on #5616
Thanks. It's rather deeply entangled in https://github.com/mui-org/material-ui, and I didn't write the script that's being run, (just using it for a use-case that requires a plugin); but I'll see if I can strip it back to something more manageable.

[2018-02-16 01:48] machineghost opened #7384 "--preserve-symlinks option breaks babel-node"
### Bug

### Input Code
babel-node  --preserve-symlinks

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

.babelrc

{
      "plugins": [
        [
          "module-resolver",
          {
            "alias": { "~": "./" },
            "cwd": "babelrc",
            "symlinks": true,
            "transformFunctions": ["proxyquire", "resolvePath"]
          }
        ],

[2018-02-16 02:45] jaganathanb commented on #7177
For me, It worked when i changed from

`export default class SomeClass extends React.Component {
....
}`

to

`export default class SomeClass extends Component {
....
}`

[2018-02-16 07:24] SathishKumar140 commented on #7350
@UtkarshGupta-CS Are able to fix the issue? I would like to work on it.This would be my first PR.

[2018-02-16 10:42] froxCZ opened #7386 "nsp-check: Prototype pollution attack"
Hi everyone,
there is a problem with nsp-check due to hoek lib.

[code]

[2018-02-16 12:38] derwaldgeist commented on #1931
Would love to see this, too...

[2018-02-16 12:41] derwaldgeist commented on #6303
+1 Would love to see this, too. BTW, this has already been proposed as #1931.

[2018-02-16 13:53] pashoo2 opened #7387 "import a function called 'name' from a module."
[code]

caused 'exports' not defined

when i has renamed  'name' to the 'uname' , there is no error

.babelrc
[code]

[2018-02-16 17:16] trose commented on #7386
[linkify the advisory](https://nodesecurity.io/advisories/566)

I just ran into this today as well. Might be low priority since folks aren't likely to be using unvalidated json payloads in babel.

[2018-02-16 18:23] jquense commented on #4640
could we open this back up since the fixing PR was reverted?

[2018-02-16 21:35] hzoo commented on #4640
It looks like we can resubmit a similar pr to 7.x and it would be ok since it ended up being a dep issue?

[2018-02-16 21:39] jquense commented on #4640
That is my understanding :) I think the PR was good, it jsut constitueted a breaking change, so now is a good time to get it back in

[2018-02-16 22:22] DanielRosenwasser commented on #7350
FYI TypeScript caches in modules for simplicity, and we're planning on using the helper function as the cache map in the future. Feel free to loop me in on issues relating to this.

[2018-02-16 22:27] DanielRosenwasser opened #7389 "TypeScript 2.8 meta-issue"
TypeScript 2.8 will be introducing a number of syntactic additions in the type space including:

* [ ] conditional types (https://github.com/Microsoft/TypeScript/pull/21316)
* [ ] `infer` type parameter locations (https://github.com/Microsoft/TypeScript/pull/21496)
* [ ] improved control for modifiers on mapped types (https://github.com/Microsoft/TypeScript/pull/21919)

We can keep close track of

[2018-02-16 22:34] uppal101 commented on #7018
@existentialism or @Kielan which package was this? Maybe a brief synopsis of the conversation could be helpful for other viewers as well?

[2018-02-16 23:14] loganfsmyth commented on #7350
@DanielRosenwasser I'm not 100% sure you followed what I'm saying with this issue, so to clarify, the spec is changing to drop the global caching entirely in favor of per-call-site caching. Given that, I'm not sure I follow what you mean about using the helper function as a map.

[2018-02-17 00:37] DanielRosenwasser commented on #7350
Sorry, the context has sort of been lost. I just wanted to explain why we do things the way we do.

There was a comment above from @bashmish about why it's werid that TypeScript doesn't cache the template object when a file isn't a module (i.e. when you don't have imports or exports in a module). I was mainly responding to that.

The reason is that in a module, you can always ensure you have a uni

[2018-02-17 01:05] jridgewell commented on #7350
Careful, that'll lead to very easy memory leak. Now any template literal in scope will cause all template literals in scope to remain in memory, even if the callsites are long GC'd.

[code]

Here, `_a` template will never be cleaned up (as long as `someExport` is alive).

[2018-02-17 01:06] #7382 closed

[2018-02-17 02:13] jridgewell commented on #7386
`babel-cli` depends on `chokidar`, which depends on `fsevents`, uses `node-pre-gyp` to install prebuilt binaries, which uses `hawk` (for some reason), which uses `hoek`.

This is a dev install-time only issue, and belongs as an issue on `node-pre-gyp`.

- - -

I actually don't think this is exploitable in any way, there are no calls to `Hoek.merge` anywhere in the dependency tree.

[2018-02-17 02:13] #7386 closed

[2018-02-17 05:30] DanielRosenwasser commented on #7350
True, thanks for pointing that out :)

[2018-02-17 06:40] Qantas94Heavy commented on #7337
I'm not sure what the issue is here, could someone please clarify?

I just tried this in an empty test directory:

[code]

There was only an error if `src` does not exist. An empty `src` directory produced no error.

Tested with babel-cli@7.0.0-beta.3.

[2018-02-17 09:30] olstenlarck commented on #7369
So, after investing it further. The most easy thing is to add check for `options.plugins.indexOf('espree')` in Babylon's exported `.parse` and move what is found on `babel-eslint/lib/babylon-to-espree` folder to Babylon's repo. Then just call `babylonToEspree` with the coming `ast` from `getParser().parse()`.

[2018-02-17 09:49] olstenlarck commented on #7369
Steps to do that:

1. Add check after [these lines](https://github.com/babel/babel/blob/4d17a96d5002afee16653dcf480fc80c90080527/packages/babylon/src/index.js#L74-L76) and include `p === 'espree'` to the filter function. The check would be:

[code]

2. Replace all matches of `getParser(options, input).parse()` in the `export function parse` with `detectESPree(options, input)`

[code]

I don't thin

[2018-02-17 15:00] SimenB commented on #7275
Opened up a PR in Jest removing `retainLines`: https://github.com/facebook/jest/pull/5594

I have no idea if other parts of FB requires it, though

[2018-02-17 15:22] #7210 closed

[2018-02-18 06:48] yhpark opened #7391 "Class property is non-writable when used with decorator without initializer"
Choose one: is this a bug report or feature request? bug report

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

The property `a` should be `writable`.

### Current Behavior

`writable` in `a`'s descriptor is set to false.

### Possible Solution

Currently Babel transpiles the code with `_applyDecoratedDescriptor` functi

[2018-02-18 09:49] ksashikumar commented on #6699
I will work on this bug. Tweaking here would fix the bug I guess: https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js#L366

[2018-02-18 23:09] dijonkitchen commented on #6186
For anyone that comes across this in the future, the [docs](https://github.com/babel/babel/tree/master/packages/babel-preset-env) seem to be updated now. Just install `babel-preset-env` like so:
[code]
and configure your `.babelrc` with:
[code]

[2018-02-18 23:55] purefan commented on #5873
@EirikBirkeland how far away is your office? :open_mouth:

[2018-02-19 01:55] AyubaMakoa commented on #2777
you have to build the code locally first and then upload it to app engine pointing you npm start script from your package.json to the build directory. and make sure you are running on port 8080.
it should work.
babel-register should be a dev dependency

[2018-02-19 03:10] graingert commented on #6737
The `--loader` hook has now been documented: https://nodejs.org/api/esm.html#esm_loader_hooks

You can set it via --loader eg `@babel/register` could provide a `@babel/register/index.mjs` for using the node loader hooks.

[2018-02-19 15:17] markring opened #7394 "Error: Cannot find module 'babel-runtime/helpers/asyncToGenerator'"
Choose one: is this a bug report or feature request? Bug
### Input Code
[code]
### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]
[code]
[code]
### Current Behavior
I am receiving the following error when attempting to perform regression testing with Appium.
```Error: Cannot find module 'babel-runtime/helpers/asyncToGenerator'```
### Your Environment

| software

[2018-02-19 15:58] markring commented on #7394
Was missing package.

[2018-02-19 15:58] #7394 closed

[2018-02-19 17:42] nanomad opened #7395 "Feature detection error in babel-preset-env and IE11"
Choose one: is this a bug report or feature request? Bug

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

See demo code:
https://github.com/nanomad/babel-promise-test/

Inside webpack.config.js
[code]

### Expected Behavior
Alert is shown in IE10

### Current Behavior
Unhandled promise rejection TypeError: [object Object] is not iterable!
### Possible

[2018-02-19 17:43] nanomad commented on #7395
Already discussed in chat with @zloirock

[2018-02-19 18:27] nanomad commented on #7395
Updated title to reflect that it happens on IE11 and not 10

[2018-02-19 19:50] dbkaplun opened #7396 "Feature: transform function calls to match arity"
Matching function call arity with function definition results in a significant speedup in V8. See http://mrale.ph/blog/2018/02/03/maybe-you-dont-need-rust-to-speed-up-your-js.html#profiling-the-pure-javascript-version:

It would be nice if this functionality was available to Babel, perhaps opt-in behind a flag.

[2018-02-19 19:57] hzoo commented on #7396
That would be cool (I saw it too), and thought of this a long time ago but it doesn't really match how Babel works atm. It operates per file, so you would need to make sure that all call sites change the arity? What functions are we transforming? Seems better as a lint rule in that sense.

[2018-02-19 21:20] ming-codes commented on #1746
I miss e4x 😞

Perhaps someone in the community could write a Babylon plugin to parse it at least.

[2018-02-19 22:39] fehergeri13 opened #7397 "babel-node can't be installed"
BUG:

If I try to install babel-node with: `yarn add babel-node` in an empty directory, I get this:

[code]

`npm i babel-node`

[code]

debug.log
[code]

| software         | version(s)
| ---------------- | -------
| Babel            |  no
| Babylon          | no
| node             | 9.5.0
| npm              | 5.6.0
| Operating System | Windoiw

[2018-02-20 00:56] loganfsmyth commented on #7397
You're not installing the right package, and it looks like the one you are installing doesn't work right on `yarn`. The `babel-node` command in Babel 6 is part of the `babel-cli` package, but you are attempting to install the package `babel-node`.

That package, on `npm` anyway, prints:

[code]

but it looks like the logic to print this message fails on Yarn.

[2018-02-20 00:56] #7397 closed

[2018-02-20 06:56] MarkusToe commented on #7349
Ok, I made myself familiar with the code but there are still some things which are unclear to me. Am I right that the `"use strict"` directive should be placed/or is found in the `closureParams`?

[2018-02-20 11:40] liamness commented on #6712
Seeing something similar, it seems to get thrown by the angle brackets:

[code]

Auto-fix gives similarly invalid code as above. Workaround seems to be to use an ordinary function instead of an arrow function, or disabling the rule in this case.

[2018-02-20 14:22] jy95 opened #7398 "TypeScript : cannot produce valid commonJS with module declaration file"
Choose one: is this a bug report or feature request?

Bug , reproduced on my repo branch : [mediaScan](https://github.com/jy95/mediaScan/tree/babelV7)

### Minimal Input Code

Whatever module declaration file :
**src/declaration.d.ts**
[code]
And a file that uses it :
**src/filters/filterProperties.ts**
[code]

### .babelrc.js

[code]

### Expected Behavior
It should correctly compile and ignore t

[2018-02-20 15:05] aikar opened #7399 "suggestion: Add README to `babel` package"
re: https://www.npmjs.com/package/babel

Suggesting addition of a readme to this package, explaining the deprecation and where users should go.

This page is the first result (At least for me) on google, as well as a lot of people will end up going directly there. So would be good for some information to be shown.

[2018-02-20 16:35] loganfsmyth commented on #7349
The `t.blockStatement` at https://github.com/babel/babel/blob/7e90d56024e0f6a3387647fcd1dafbeedc2348c2/packages/babel-plugin-transform-classes/src/vanilla.js#L168 is the important part because BlockStatements have a `directives` array: https://github.com/babel/babel/blob/master/packages/babylon/ast/spec.md#blockstatement, so you'll want to create a `use strict` directive item, and include it in th

[2018-02-20 16:50] michaelpumo commented on #6944
Installing and loading `"babel-loader": "^8.0.0-beta.0"` _instead of_ `"babel-loader": "^7.1.2"` fixed the issue for me. Hope this helps someone in need of a quick fix.

[2018-02-20 17:41] jgerigmeyer opened #7402 "Bug Report: babel-preset-env feature-detection error with dynamic import() statements."
## Bug Report:

When using babel-preset-env with `useBuiltIns: 'usage'` and [webpack's dynamic imports](https://webpack.js.org/guides/code-splitting/#dynamic-imports) (e.g. `import('my-module').then(...)`) -- along with `@babel/plugin-syntax-dynamic-import` -- feature-detection fails to include `es6.promise`, which is required for the code to work on IE11.

### Input Code

[code]

### Compiled inp

[2018-02-20 20:23] xtuc commented on #7399
The Babel package isn't deprecated, I believe it was never used?

Maybe we can just link to our website. Would you mind doing a PR for that?

[2018-02-20 20:25] hzoo commented on #7399
It's the v6 version, we don't update it anymore and haven't published a version of v6 in a long time.

I was planning on doing something for v7 though.

[2018-02-20 20:39] #7352 closed

[2018-02-20 20:56] aikar commented on #7399
@xtuc from the npm metadata:
```  deprecated: 'In 6.x, the babel package has been deprecated in favor of babel-cli. Check https://opencollective.com/babel to support the Babel maintainers' }```

[2018-02-20 21:02] xtuc commented on #7399
Yes that's correct, sorry.

[2018-02-21 02:32] hzoo commented on #7402
So this is because it doesn't know that `import` is going to be turned into a Promise eventually and thus it doesn't add the polyfill.

Yeah you can even just do `Promise;` as a workaround. Or include it in the `includes` option. Not sure how we are supposed to deal with this, unless we also infer that you are using webpack, etc.

[2018-02-21 04:00] jaydenseric opened #7405 "`defaults` browserslist query breaks preset-env"
Bug.

`@babel/preset-env` does not work correctly when the browserslist query is `defaults` (a valid query). The result is that most of the expected transforms don't happen. It doesn't matter if the browserslist string is set via `package.json` `browserslist` field, or directly in `targets.browsers`.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[c

[2018-02-21 09:29] ksashikumar commented on #7109
I would like to work on this bug!

[2018-02-21 11:02] Axnyff commented on #7199
It indeed looks like a bug with computed property and template literals, the name of the function cannot be computed properly.

[Reproduction in REPL](
https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBAtgpgLgCwPYBMByJYQLwQORwwDOceA3AFCiQBWRSAdjhAN4UQQDaABiNwLoAuCADMArgwDGcAJaMIACgCUbDgF8KaoA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRe

[2018-02-21 14:08] debugpai2 commented on #6724
Is this issue still open and/or is anyone looking at it?

[2018-02-21 14:10] debugpai2 commented on #6716
Looks like this issue needs to be closed

[2018-02-21 14:18] debugpai2 commented on #5326
Can this be closed now if it is no longer an issue?

[2018-02-21 15:08] #6716 closed

[2018-02-21 15:08] #5326 closed

[2018-02-21 16:37] xtuc commented on #6724
Given the age of the issue I would prefer closing it. I don't think it's still valid tho.

[2018-02-21 16:39] xtuc commented on #7199
Yes that's a bug.

@Axnyff It seems that nobody is working on it, you can go ahead! Thanks

[2018-02-21 16:42] xtuc commented on #7387
Could you please provide the generated code?

[2018-02-21 20:28] xixixao opened #7410 "Release new version of babylon"
Can we push a new version of babylon to npm, so that we can support JSX fragments in `jscodeshift`?

cc @hzoo

Thanks!

[2018-02-21 20:29] hzoo commented on #7410
I'm confused? Babylon supported it a long time ago so you just need to update

[2018-02-21 20:30] hzoo commented on #7410
We released this in beta.30 https://github.com/babel/babylon/releases/tag/v7.0.0-beta.30 at least but you should use the latest

[2018-02-21 20:30] #7410 closed

[2018-02-22 00:01] xixixao commented on #7410
Hey @hzoo, I guess I don't know how to install it. If I look at npm: https://www.npmjs.com/package/babylon the latest version is 6.18.0. The same version is reported here: https://github.com/babel/babel/blob/master/packages/README.md . `yarn upgrade --latest babylon` also leaves me at 6.18.0

[2018-02-22 00:03] loganfsmyth commented on #7410
Since it is still in beta, you'd have to install the version explicitly. `latest` is still the current stable release, which is in the 6.x range.

[2018-02-22 00:12] xixixao commented on #7410
Thanks @loganfsmyth, makes sense.

[2018-02-22 13:25] zvictor commented on #6342
@matiasfh my nextjs project has a different structure, but it also faces an issue with `next/babel` combined with yarn workspaces. Nextjs runs fine, but when I try to run tests from ava it can't find the preset.

for now I am defining `{ presets: ['@ava/stage-4', '../node_modules/next/babel'] }` in testing mode.

I wonder, though, who should we report this to. Nextjs, babel or yarn? 😅

[2018-02-22 13:44] dmitryshimkin opened #7412 "xdaiiyyhyffert5bgbg nbnhu-098788743----9iijuu888kkoklki9ooii9888888-"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

### Current Behavior

### Possible Solution

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |
| Babylon          |
| node             |
| npm

[2018-02-22 13:45] #7412 closed

[2018-02-22 19:05] hzoo commented on #6303
Do we want the files to be logged at all, we could even change the default behavior to not show logs too depends on what we want?

[2018-02-22 19:35] derwaldgeist commented on #6303
I don't see any reason to log these files. It just clutters up my terminal. If something goes wrong, ok, then please output an error. But otherwise...

[2018-02-22 21:27] EirikBirkeland commented on #5873
@purefan Beetlejuice

[2018-02-22 21:52] garrensweet commented on #7018
I know I'm resurrecting a dead thread here -- but some information as @uppal101 stated, would be supremely useful. Can we get you to chime in here @Kielan and give some insight?

[2018-02-22 21:56] damianobarbati commented on #7177
Any news on this guys? 🙏🏻

[2018-02-22 22:10] niftylettuce opened #7414 "babel-preset-env - how to disable node target for browser-only (.browserslistrc)"
I have the following `.babelrc` file and am using `@babel` 8.x+ packages.

[code]

My `BABEL_ENV` when compiling for browser bundle is `BABEL_ENV=client`.

How can I manually toggle on/off compilation for either node or browser, and for browser/client-only, how can I make it read `.browserslistrc` automatically?

Related to https://github.com/babel/babel/issues/6607

[2018-02-22 22:11] niftylettuce commented on #7414
Here is my `.browserslistrc` file contents - I'd prefer to have it specified here than as a string passed to `.babelrc` option.

[code]

[2018-02-22 22:37] simonbuchan opened #7415 "[typescript] "Error: TODO" when parsing generic object shorthand methods"
This is a bug report.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

`tsc --target es2017` output is:

[code]

### Current Behavior

[code]

### Context

Ran into this when wrapping up crud on a document db table.
Simplified, it looks like:

[code]

Exporting an object rather than separate exports as these should not b

[2018-02-23 00:28] existentialism commented on #6603
Closing as it doesn't seem like there's anything actionable... please open an issue if you have any problems!

[2018-02-23 00:28] #6603 closed

[2018-02-23 00:31] existentialism commented on #6684
Closing since https://github.com/facebook/flow/issues/4789 landed!

[2018-02-23 00:31] #6684 closed

[2018-02-23 00:34] existentialism commented on #6685
Fixed in https://github.com/babel/babylon/pull/652

[2018-02-23 00:34] #6685 closed

[2018-02-23 01:59] rtsao commented on #7267
Somewhat related: https://github.com/babel/babel/issues/6830

[2018-02-23 07:54] #7176 closed

[2018-02-23 09:40] cvlmtg opened #7419 "BUG: Array.prototye.includes poyfill broken?"
Choose one: is this a bug report or feature request?

bug report

### Input Code

this happens on IE11

![schermata 2018-02-23 alle 10 33 20](https://user-images.githubusercontent.com/6401008/36587291-01eaf474-1885-11e8-98c5-6ed76c139614.png)

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

we are bundling our app with browserify/babelify and the following config specified i

[2018-02-23 11:51] zloirock commented on #7419
![image](https://user-images.githubusercontent.com/2213682/36592944-5b3efefe-18ca-11e8-9235-c03c60b9a0ed.png)
That defenitly not `core-js` version of `Array#includes`, so seems you also load an incorrect alternative `Array#includes` polyfill.

[2018-02-23 11:51] #7419 closed

[2018-02-23 13:13] czystyl commented on #4045
I recreated the issue [here](https://github.com/czystyl/babel/tree/option-comments-4045), and confirm that it's working correctly.

Input:
[code]

Output:
[code]

[2018-02-23 13:23] danielwalczak opened #7420 "table"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

### Current Behavior

### Possible Solution

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |
| Babylon          |
| node             |
| npm

[2018-02-23 13:46] dietergeerts commented on #6611
Any updates on this? I am creating a library that I want to work both for the browser as in node

[2018-02-23 13:50] kleinph commented on #7055
I am experiencing this issue, but I use @babel beta.40.

My _package.json_:
[code]
My _.babelrc_ file:
[code]

[2018-02-23 14:29] kleinph commented on #7055
I am experiencing this issue, but I use @babel beta.40.

My _package.json_:
[code]
My _.babelrc_ file:
[code]

[2018-02-23 14:30] existentialism commented on #7420
@danielwalczak this looks empty? closing for now, but feel free to open another issue!

[2018-02-23 14:30] #7420 closed

[2018-02-23 14:40] existentialism commented on #7055
@kleinph looks like we're missing mappings for this in `usage` mode, just pushed https://github.com/babel/babel/pull/7421 to fix. thanks for the report!

[2018-02-23 14:45] #7395 closed

[2018-02-23 15:19] penx opened #7422 "Bug: babel-node --inspect-brk not working in 7.0.0-beta.40"
### Input Code

[code]

### Expected Behavior

Awaits debugger connection

### Current Behavior

  error: unknown option `--inspect-brk'

### Possible Solution

Seems to be a regression of
https://github.com/babel/babel/issues/5960
https://github.com/babel/babel/pull/5785
https://github.com/babel/babel/pull/5796

### Your Environment

| software         | version(s)
| ---------------- | -------
|

[2018-02-23 19:33] niieani opened #7424 "Discussion: declarative transform/codemod API"
### Context

Codemods are a super powerful concept, yet few people use them, many are afraid of them, and arguably there are not that many public codemods out there. Of those that do exist, many are not robust enough to be useful.

From personal experience, I have found the barrier to entry is pretty steep:
- you need to learn what ASTs are and how they work
- you need to learn about the visitor p

[2018-02-23 20:18] #7422 closed

[2018-02-23 20:44] hzoo commented on #7424
Real quick: I'l just say I'm in favor of "promoting" codemods and teaching, making it easier and all these things. We have https://github.com/square/babel-codemod but it uses recast and we have a sync problem (same with eslint) regarding new syntax where we need coordination and efforts to make everything work smoothly with one another.

I do like the idea of more "UI"/declarative tools whether it

[2018-02-24 00:01] carlevans719 commented on #7070
I've just hit a problem caused by this in 7.0.0-beta.40.

I have configured the node_modules folder to be ignored in my project's `.babelrc`, but babel-cli is throwing an exception because it is finding duplicate configs inside one of my installed node modules ([`esrecurse`](https://github.com/estools/esrecurse)).

I expected that, because `node_modules` is ignored, that the files inside it would

[2018-02-24 00:05] carlevans719 commented on #6907
Is it possible to avoid descending into ignored directories in the first place, thus removing the need for negation? I've just found that duplicate config files in an ignored folder will cause 7.0.0-beta.40 to throw an exception so avoiding scanning the ignored directory in the altogether would

[2018-02-24 04:22] reggi opened #7425 "Static method arrow function does not name anonymous function"
I'd expect `M.blue.name` to be `blue`, but for some reason arrow functions don't have a name. Is this a bug or intentional?

[code]

[code]

Guess I'd love it to be like this instead:

[code]

[2018-02-24 07:14] reggi opened #7426 "Env target Node 9.5 fails with object spread?"
I'm using node 9.5, this code runs perfectly fine.

[code]

If I'm using babel to transpile it and it's breaking.

https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=JYWwDg9gTgLgBAGwgEwIYGcAWcBmUIhwDkSaWRAUBQMYQB268AbnALxwDeRIAphAO5EAXHBhQArjwC-NeozgAPNnAAUASjYA-VRtbaVHAHTGmUtVVoMICHoaQBzFQrVA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&eva

[2018-02-24 10:33] thasmo opened #7427 ".browserslistrc is ignored by babel-preset-env"
Currently a project's `.browserslistrc` file is not read by `babel-preset-env`. I've seen [this issue](https://github.com/babel/babel/issues/7307), which states that it is working in beta 39, but for me this is not working in beta 40.

This `.babelrc` **works as expected**, ignoring the existing `.browserslistrc` file.
[code]

Using this `.babelrc` **does not use** the `.browserslistrc` file.
[cod

[2018-02-24 12:34] ssthil commented on #5006
## It works
without .babelrc I could be resolved adding `yarn add --dev babel-preset-react`

[2018-02-24 13:48] Axnyff commented on #7199
The problem seems to be that [that line](https://github.com/babel/babel/blob/master/packages/babel-helper-function-name/src/index.js#L171) is getting executed for TemplateLiterals however, they do not have a value so the function name is set to `undefined`.

I'm not sure what is the best way to fix it though
* Check on the condition before that the value is not undefined ( or is not falsy)
* Don't

[2018-02-24 19:35] maximgeerinck commented on #6944
I can confirm that changing the babel-loader did indeed work

[2018-02-24 21:37] debugpai2 commented on #7357
Hey @abiduzz420, any luck with the issue? Can I help with anything?

[2018-02-24 22:29] existentialism commented on #7426
@reggi you need to add and enable `babel-plugin-syntax-object-rest-spread`, even though you don't need to transform it, our parser needs to understand it.

[2018-02-25 00:45] LucaColonnello commented on #7360
Hello! I'm just joined the community on Slack and like to contribute.
I already found where this would be handled:

https://github.com/babel/babel/blob/6f3be3a5438739453510ea969136894c9cae12d8/packages/babel-helper-builder-react-jsx/src/index.js#L84

This strips out all the spaces after any new line.

**It should be easy as replace with 1 single space space instead of empty, only if there are othe

[2018-02-25 06:52] reggi commented on #7426
@existentialism I was under the assumption that if something was _in_ node, that it would be _in_ babel `env` as a default. After all, isn't it the job of `babel-preset-env` to take code a build for a given target? If the authoring code is a later verison of node (9.5.0) it would build for 4.0.0 if that was the current target. But to say that babel doesn't understand node 9.5.0 natively is odd.

[2018-02-25 07:57] nicolo-ribaudo commented on #7426
Things used to be added to preset-env when they are included in the ECMAScript standard, not when they are implemented.
In version 7, there is a `shippedProposals` option that enables proposals that are already implement in node/browsers.

[2018-02-25 15:31] malixsys commented on #6292
Docs for `shippedProposals` have moved [here](https://github.com/babel/babel/tree/master/packages/babel-preset-env#shippedproposals).

[2018-02-25 17:57] frenzzy opened #7430 "babel-preset-env: enable es2018 features by default"
[ECMAScript 2018 was finalized](http://2ality.com/2017/02/ecmascript-2018.html), what do we need to enable these features by default for `preset-env`?

[code]

The `proposal` keyword was removed from `@babel/plugin-syntax-object-rest-spread` package name but `babel-preset-env/data/plugins.json` still have:

https://github.com/babel/babel/blob/6f3be3a5438739453510ea969136894c9cae12d8/packages/babel

[2018-02-25 18:40] reggi commented on #7426
@nicolo-ribaudo Thanks for the clarification, I had no clue about `shippedProposals`. This looks like a doup of https://github.com/babel/babel/issues/6970 closing.

[2018-02-25 18:40] #7426 closed

[2018-02-25 18:50] reggi commented on #7430
Had the same issue: Duplicates here:
https://github.com/babel/babel/issues/7426
https://github.com/babel/babel/issues/6970

[2018-02-25 19:02] reggi commented on #7426
Anyone looking for a fix:

[code]

[2018-02-25 20:16] thasmo commented on #7427
Everything works fine, this is an [issue](https://github.com/babel/babel-loader/issues/587) with the `babel-loader` cache.

[2018-02-25 20:16] #7427 closed

[2018-02-26 02:05] adamreisnz commented on #7276
Sorry, I can't find the time to do this. I can't post the complete source code for the page either, as it's proprietary code and it would expose too much of it.

Can you work out from the errors what may have been the source of these errors, or is that not viable?

I'll just keep using preset-es2015 for the time being, because present-env seems to be too buggy to use for production for now. If you

[2018-02-26 03:14] loganfsmyth opened #7432 "Figure out the status of function name binding verification in the parser"
In https://github.com/babel/babel/pull/7431/files#diff-fca1cacaed72b5d331b53e0a5d46503cR1681 I commented out a broken check, but we should figure out what changes need to be made to re-enable it properly.

[2018-02-26 05:38] rahulkumar993 commented on #6944
changing the babel-loader did worked for me too.

[2018-02-26 10:02] lifeart opened #7434 "@babel/plugin-transform-destructuring error for "catch""
Bug report

http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&code_lz=GYVwdgxgLglg9mABAGzsxAKA3sOdEC8iA5AEYCGATsQL6GJY0CUDAUIoqza61JQJ5sOXRBHJQIAC0w489MlVr1GLLO07cgA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=true&presets=es2015%2Ces2016%2Ces2017%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3%2Ces2015-loose&p

[2018-02-26 10:04] #7434 closed

[2018-02-26 13:13] LucaColonnello commented on #7360
@gaearon do you have any time to comment on this one? It would be very much appreciated to get some input from a React team member.

I hope you can help us :)

[2018-02-26 14:50] existentialism commented on #7430
I have a PR for ES2018 in @babel/preset-env nearly finished... will publish soon.

[2018-02-26 15:09] existentialism commented on #7276
@adamreisnz no worries!

This seems a _little_ unfair, as preset-env@1.6.x has been out and in use for quite a while. I find _most_ issues related to switching from es2015 are due to the fact that since you're now not running every transform from the preset, your particular mix might just have some edge case bugs.

I'll try to find some time to look into this further, but keep in mind most of the

[2018-02-26 15:59] reywright commented on #6944
thanks @michaelpumo

[2018-02-26 16:09] hzoo commented on #6944
Can use https://github.com/babel/babel-upgrade now (since WIP but handles this)

[2018-02-26 19:46] adamreisnz commented on #7276
Sorry, didn't mean to put it that way. Just that for us, we have our hands full developing features, so we can't spend too much time on changing our build tools. I would have expected switching to present-env would have worked out of the box, but it either needs more time to setup or more time to find out why these issues are happening. That means that for us it's not production ready yet :)

One

[2018-02-27 07:45] loganfsmyth commented on #5541
@arunoda I was exploring this issue a bit more and noticed that `next.js` allows users to opt out of `babelrc` searching from _inside_ their `.babelrc` for https://github.com/zeit/next.js/pull/1094. Would you be able to elaborate on the motivation behind allowing that?

[2018-02-27 08:12] Rohit-L opened #7437 "package.json missing "main" entry for @babel/types."
[Bug Report]

When I install `npm install @babel/types`, I am unable to `require('@babel/types')`. Looking in the `node_modules/@babel/types` and inspecting the `package.json`, I see that it's missing the `'main'` (the reason I'm not able to require it in node) field, and I'm not sure why.

[code]

My own `package.json` looks like so:

[code]

| node             | 9.3.0
| npm              | 5.6.0

[2018-02-27 08:51] Andarist commented on #7437
That's quite weird as this package has ["main"](https://github.com/babel/babel/blob/cb4f4f4d5f84135133bdef4ffa762d6969dad8a6/packages/babel-types/package.json#L9). Could you try reinstalling?

[2018-02-27 09:01] Rohit-L commented on #7437
Yes, I've delated my `node_modules` folder, `package-lock.json` and even `.npm` folder and did a clean `npm install` from my project root. Unfortunately, that didn't seem to do it either.

[2018-02-27 11:42] thymikee commented on #6303
Hey, would something like this ok?

Default:
<img width="422" alt="screen shot 2018-02-27 at 12 38 39" src="https://user-images.githubusercontent.com/5106466/36726774-3bc125ea-1bbb-11e8-9520-333361e5c0e2.png">

`--quiet`:
<img width="478" alt="screen shot 2018-02-27 at 12 38 49" src="https://user-images.githubusercontent.com/5106466/36726775-3be37a96-1bbb-11e8-8e62-4bde05053734.png">

Also, on Nod

[2018-02-27 12:01] davidnormo opened #7440 "Strange array and semi-colon bug"
Can be replicated in the REPL (v6.26.0):

https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=DYUwLgBAhhC8EG8C-AoUkBGdGvRAxtsigNpQA0G5-AugHQBmA9gE4CiU-AFgBQ8CUcAHw5-KIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&lineWrap=true&presets=es2015&prettier=false&targets=&version=6.26.0&envVersion=1.6.2

In summary, it

[2018-02-27 12:22] xtuc commented on #7440
That's not a bug. A semi-colon is required in that case.

It's defined in the [automatic-semicolon-insertion spec](http://www.ecma-international.org/ecma-262/7.0/index.html#sec-rules-of-automatic-semicolon-insertion).

[2018-02-27 12:22] #7440 closed

[2018-02-27 12:51] debugpai2 commented on #7357
@Andarist What is expected here? for `require("babel-core").buildExternalHelpers();` not to return a string anymore or for the documentation to be updated?

[2018-02-27 13:04] Andarist commented on #7357
I think documentation must be updated + we could add new function, smth like `injectExternalHelpers` which could build the helpers and evaluate them in global context, although we should add discouraging note to it so people don't use this in production.

[2018-02-27 13:11] Andarist commented on #4045
Seems to be resolved, thanks @czystyl for creating a demo!

[2018-02-27 13:11] #4045 closed

[2018-02-27 13:24] debugpai2 commented on #7357
documentation is changed by someone else [in this PR](https://github.com/babel/website/pull/1584) already. I will work on adding the function `injectExternalHelpers`

[2018-02-27 14:15] debugpai2 commented on #7350
I see multiple people commented that they're picking this up. Can someone confirm that they're working on it still?

[2018-02-27 14:17] davidnormo commented on #7440
Oh.

Ok thanks, sorry for wasting your time!

[2018-02-27 14:34] UtkarshGupta-CS commented on #7350
@debugpai2 I'm working on this, I worked my way through the codebase.
Sorry, it's taking so long. I'll post here if I'm not up for it.

[2018-02-27 15:09] jgerigmeyer commented on #7402
Yeah, that makes sense. At the very least it seems like a note about this should be added to the documentation, probably of @babel/plugin-syntax-dynamic-import?

[2018-02-27 15:52] esakkikrishnan commented on #7110
It seems `jscodeshift@^0.4.0` uses `babel-register "^6.9.0"` and `babel-core "^6.26.0"`
`jscodeshift` is used by `webpack-cli`

using the following config

[code]

what is the way forward?
Do I need to raise an issue in `webpack-cli` repo or `jscodeshift` repo ?

[2018-02-27 17:25] thymikee commented on #7437
Downloaded locally but cannot repro. `"main"` field is there, along with `lib/index.js` file present.
Yarn:
<img width="615" alt="screen shot 2018-02-27 at 18 21 04" src="https://user-images.githubusercontent.com/5106466/36743640-054d579c-1beb-11e8-809c-05d95a3fbd08.png">
npm:
<img width="606" alt="screen shot 2018-02-27 at 18 23 21" src="https://user-images.githubusercontent.com/5106466/36743752-

[2018-02-27 17:31] Andarist commented on #7437
@Rohit-L without being able to reproduce the issue we are not unfortunately able to help you, I'd suggest investigating your machine - is your setup special in any way? have you tried it on another machine?

Closing as not actionable on our side.

[2018-02-27 17:31] #7437 closed

[2018-02-27 17:31] Andarist commented on #7437
And ofc thanks @thymikee for checking this one!

[2018-02-27 17:41] thymikee commented on #7425
Can you provide a repro? What are the plugins/presets you're using?
I can only verify that with
[code]
produces this output
[code]
and `M.blue.name === 'value'`, so it looks like a bug.

[2018-02-27 17:46] Andarist commented on #7425
@thymikee I guess he is using `loose` mode which doesn't use `defineProperty` for static methods, just a simple assignments.

Also `defineProperty` usage is related to what you can see - `value` inferred as name of this function because it's used as value (:<) of the descriptor's property called `value`

[2018-02-27 17:46] thymikee commented on #7414
As mentioned in the [docs](https://babeljs.io/docs/usage/babelrc/#env-option), you should rather set your `NODE_ENV` instead of `BABEL_ENV`, since the former will be used in case the later is missing.

[2018-02-27 17:49] niftylettuce commented on #7414
@thymikee I'm specifically asking how to disable the node target and enable only browsers target with Booleans without having to manually specify and have to repeat myself and re-use the same lines from browserslistrc.

[2018-02-27 17:51] thymikee commented on #7414
Oh, then I'm not in the position to answer if that's currently possible.

[2018-02-27 17:56] thymikee commented on #7425
Oh, that's unfortunate. Looks like that arrow should be eventually replaced with a named function in both cases, right?

[2018-02-27 18:31] Andarist commented on #7425
Ain't sure if class properties (static or not) have inferred names - I **think** spec says they can, but I'm not the best ecma spec reader :/

[2018-02-27 18:33] Andarist commented on #7414
According to [README](https://github.com/babel/babel/tree/master/packages/babel-preset-env#browserslist-support) those files are supported, although support for it might have been added recently. Which version of babel@7 r u using?

[2018-02-27 18:34] niftylettuce commented on #7414
Babel 8.x+ and the @babel/preset-env etc.

[2018-02-27 18:35] niftylettuce commented on #7414
[code]

[2018-02-27 18:44] Andarist commented on #7414
You'd have to check if in your opinion your config is correct according to rules described [here](https://github.com/babel/babel/tree/master/packages/babel-preset-env#targets-merging). If you believe your config should work after reading that section, it would be super nice if you could prepare a simple sample repository with the issue reproduced so I could debug it more quickly.

[2018-02-27 20:17] thecodermarcelo commented on #6604
I'm using **Server Side Rendering** and it works fine for me:
[code]

[2018-02-27 20:26] joliss opened #7445 "Usability issue: @babel/preset-env ignores errors in targets spec"
@babel/preset-env silently ignores errors in the `targets` spec in several places ([sample repo to run this](https://github.com/joliss/babel-preset-env-issue)):

[code]

[code]

When it encounters such invalid targets, babel-preset-env seems to fall back to some ES3-type baseline target.

Ignoring `browsers: 59` seems to be intentional ([test case](https://github.com/babel/babel/blob/f004972625317

[2018-02-27 21:16] zerkalica opened #7447 "Bug in wrapNativeSuper: Cannot assign to read only property 'constructor' of object"
Class, extended from Error class, throws exception in runtime in strict mode. Bug demo: https://github.com/zerkalica/babel-bug-demo

Configs:

package.json:
[code]

.babelrc:
[code]

Source:

index.js:
[code]

Steps to reproduce:

1. babel index.js > index-out.js
2. Copy-paste index-out.js content to browser console and run.

Result:

``` subClass.prototype.constructor = subClass ``` in inheritLoo

[2018-02-27 21:57] vadim-ch commented on #7445
I would like to do this

[2018-02-27 22:16] hzoo commented on #7445
Ahh ok. Yeah we can totally do something like this, in the meantime I had added a `debug` option earlier which does try to log what plugins are being run.

[2018-02-27 22:32] thymikee commented on #7425
I'm not an expert either, but looking at https://tc39.github.io/proposal-class-public-fields/#initialize-public-instance-fields I could tell the spec says `.name` should be derived from the field name:

<img width="535" alt="screen shot 2018-02-27 at 23 30 08" src="https://user-images.githubusercontent.com/5106466/36758967-3044b55a-1c16-11e8-88a7-2112db41f059.png">

[2018-02-27 22:46] Andarist commented on #7425
Yeah, I suspect this is right reasoning. I guess the only way to 'fix' it is to transform directly to named functions, because at later point any other transform won't have enough info to infer the name correctly (just like in the `value` example).

[2018-02-27 22:50] existentialism commented on #7445
@vadim-ch it's yours, let us know if you have any questions!

[2018-02-27 23:27] existentialism commented on #6303
@thymikee thanks for the pr!

Making `--quiet` the default gets a 👍 from me.

[2018-02-28 02:24] martinoppitz commented on #7110
We must use the babel-loader version >7

[2018-02-28 07:15] aprilmintacpineda opened #7448 "undefined is not a function (evaluating 'rules[targetField].split('|')[typeof Symbol === "function" ? Symbol.iterator : "@@iterator"]()') babel"
#### bug report

### Input Code
https://github.com/aprilmintacpineda/smart-input-validator/blob/28511f855c01b61df36927798bc062dab01f0076/src/index.js

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
No errors should be encountered.

### Current Behavior
throwing the error.

### Possible Solution

### Context
The tests run completely without fail

[2018-02-28 07:33] aprilmintacpineda commented on #7448
I saw `transform-es2015-for-of` and thought I need to use it. So I did and the error still persisted.

see https://github.com/aprilmintacpineda/smart-input-validator/tree/46a82e282c9b02b7df19b6f0aef3cc6b01a37931

[code]

[2018-02-28 12:22] vadim-ch commented on #7445
@existentialism i need help.

`browsers: 59, // there really is not enough warning`
`invalid123: "invalid123" // behavior seems correct`

[2018-02-28 15:41] ddombrowsky opened #7456 "Failed to package with env preset: Cannot find module './_shared-key'"
Choose one: is this a bug report or feature request?  **Bug**

### Input Code

After running `electron-forge package`, I see these errors:

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

There is no special configuration.  Only defaults that come with installing `babel-preset-env`.
### Your Environment

| software         | version(s)
| ---------------- | -------
|

[2018-02-28 16:12] reggi opened #7457 "Env 7 / Node 4 useBuiltIns usage transpiling polyfill call with "import" not "require""
Here's my config:

[code]

Here's debug output:

[code]

Why on earth does my `index.build.js` file have an import statment?

[code]

[2018-02-28 16:27] reggi commented on #7268
This is what I was trying to fix when I discovered https://github.com/babel/babel/issues/7457

Thanks @julien-f for pointing to `@babel/plugin-transform-runtime` and not `babel-plugin-transform-runtime`.

Here's the fix:

[code]

[2018-02-28 17:49] ksashikumar commented on #7432
I will work on this bug! 😃

[2018-02-28 17:49] nicolo-ribaudo commented on #7447
I can't reproduce the issue :thinking:

![schermata da 2018-02-28 18-48-49](https://user-images.githubusercontent.com/7000710/36803547-20d27844-1cb8-11e8-9cb1-8d04241b9872.png)

[2018-02-28 19:14] existentialism commented on #7445
@vadim-ch you'll want to update the [targets parser](https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/targets-parser.js) to:

1. validate `options.targets` (and update the `Targets` flow type)
1. throw if browserslist query is not valid (right now it sets it to null if not)
1. add/update tests

[2018-02-28 20:52] tracker1 opened #7459 "ExtendScript option for preset-env"
It would be awesome of the `@babel/preset-env` had an option to support ExtendScript as an output choice.  A lot of the groundwork has already been done here [1].  And it would be great to be able to approach a current attempt at development against extendscript for use with Adobe CEP extensions, or InDesign Server for example.

The existing preset does fill up to ES2015, but would be nice to be a

[2018-02-28 21:53] zerkalica commented on #7447
Sorry, i forgot to add 'use strict' in my example. Bug works only in strict mode.
![result](https://raw.githubusercontent.com/zerkalica/babel-bug-demo/master/result.png)

[2018-02-28 22:36] vadim-ch commented on #7445
@existentialism I understand it. Question is how to check the non-valid `option.target`? To check this, I need to have a list of valid parameters

[2018-02-28 22:39] existentialism commented on #7445
iirc, should be:

`node | browsers | chrome | opera | edge | firefox | safari | ie | ios | android | electron`

[2018-02-28 23:10] flapjackfritz commented on #7338
I am seeing this happen too.

I think it's related to this line.
https://github.com/babel/babel/blob/master/packages/babel-cli/src/babel/dir.js#L28

[2018-02-28 23:16] gdborton commented on #6008
@chadhietala Has any of this work been picked up?

[2018-03-01 01:37] simonbuchan opened #7460 "Add a better error message for disallowed trailing commas after rest elements in function params"
## Update

Let's make a nice "A trailing comma is not permitted after the rest element" error for all commas after function params. Currently we throw a nice error for arrow functions in this case, but apparently not for non-arrow functions.

## Original Issue below

This is a bug report.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Ex

[2018-03-01 01:45] simonbuchan commented on #7460
Checking, MDN says this isn't legal: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas#Trailing_commas_in_functions

Note for arrow functions, this gives an explicit error, so it should do the same for `function`:

[code]

[2018-03-01 01:53] simonbuchan commented on #7460
I actually ran into this in typescript code, where the editor wasn't complaining, checking, `tsc` accepts this, so perhaps `preset-typescript` should allow it as an extension?

[code]

[2018-03-01 02:21] loganfsmyth commented on #7460
Yep, as you discovered, trailing commas are not allowed in function params after rest elements. The fact that TS allows it may or may not be a bug, @andy-ms could you comment?

I'm leaning toward it being an accidental bug in the way it parses function arguments, because TS also appears to allow
[code]
but then transforms it into
[code]
which is broken.

[2018-03-01 02:50] loganfsmyth commented on #7338
The objective of the `sources` fields are to show a useful filename when debugging errors. Generally that translates to the original filepath of the code, since when you are debugging you are generally thinking in context of the original files.

I'm not sure I understand this.

If that is the case, then having `sourcea` be the path of the original file is the expected behavior.

Could you maybe ma

[2018-03-01 03:32] flapjackfritz commented on #7338
I figured out what I was doing wrong.  `--source-map` does not seem to work.  I needed to be writing `--source-maps`.

Whoopsies :)

[2018-03-01 06:44] loganfsmyth commented on #7457
Good call. `preset-env` should be using https://github.com/babel/babel/blob/master/packages/babel-helper-module-imports/README.md to handle this, and currently it is hardcoded to create `import` statements.

[2018-03-01 06:56] Kovensky commented on #7457
https://github.com/babel/babel/blob/007f8d19/packages/babel-preset-env/src/use-built-ins-plugin.js#L46 is the culprit. It's calling an ad-hoc `createImport` helper, which has a 3rd option to support `require` instead of `import`, but it's never given.

Maybe something that was added before preset-env got moved to the monorepo and thus got missed when the helper was introduced.

[2018-03-01 07:04] loganfsmyth commented on #7457
Yeah I think that is likely the case. Should be a simple fix.

[2018-03-01 07:25] Aremyst commented on #7338
Thanks for attention to this issue and responses.

Sure, here's the video with full voice explanation of Expected and Actual Behaviors.
https://www.screencast.com/t/GjtokP7JNT

[2018-03-01 07:41] diervo opened #7462 "Refactor traverse.hasType since might cause potential hard to debug issues in the future"
In babel/minify (https://github.com/babel/minify/pull/807) we found that `traverse.hasType` caused us a lot of issues, because of side-effect of creating paths without having scope or parentPath (more details on the PR).

Currently it s used in the block [scoping plugin](https://github.com/babel/babel/blob/252ea5a966c1968d8aac21a1a81c6d45173e57dd/packages/babel-plugin-transform-block-scoping/src/i

[2018-03-01 07:52] wangtao0101 opened #7463 "@babel/preset-env useBuiltIns cause exports is not defined"
babel version beta.40
babelrc config
[code]
babel will generate code:
[code]

It cause error `Uncaught (in promise) ReferenceError: exports is not defined.`

If i remove useBuiltIns
babel will generate code:
[code]
It is right but without harmony

[2018-03-01 07:58] loganfsmyth commented on #7338
Weird! The biggest question for me is why it takes you to `Application` instead of `Sources`. If you look at the file in `Sources` does it show both mapped and unmapped? I'm gonna guess no, but I am curious.

I don't know what's up with yours, but as a contradicting example, here's a recording of what I see with a similar sample.

http://recordit.co/1Oy29GjO18

You can see that the map still conta

[2018-03-01 07:59] loganfsmyth commented on #7463
This is a duplicate of #7457.

[2018-03-01 07:59] #7463 closed

[2018-03-01 13:11] debugpai2 commented on #7457
I would like to work on this

[2018-03-01 14:39] existentialism commented on #7457
That is definitely the case :)

Ref: https://github.com/babel/babel/issues/6601 as well.

[2018-03-01 14:39] existentialism commented on #6601
Merging with https://github.com/babel/babel/issues/6601

[2018-03-01 14:39] #6601 closed

[2018-03-01 15:33] andy-ms commented on #7460
@loganfsmyth Made a pull request for trailing comma rest parameters. We already show an error for a non-last rest parameter.

[2018-03-01 16:23] loganfsmyth commented on #7457
@debugpai2 Go for it!

[2018-03-01 17:03] loganfsmyth commented on #7460
Perfect, thanks! I'll close this then.

Ahh you're right. I looked at [https://www.typescriptlang.org/play/#src=function%20fn(arg%2C%20...other%2C%20third)%20%7B%0D%0A%20%20%20%20console.log(other)%3B%0D%0A%7D](the /play example) and saw that the code on the right looked bad, but didn't notice that it also errored out in the typechecker.

[2018-03-01 18:27] simonbuchan commented on #7460
We can't get the nicer arrow function message? That's a lot clearer that it's deliberate.

[2018-03-01 19:01] loganfsmyth commented on #7460
Oh sure, I'd be happy to leave this open for that.

[2018-03-01 20:35] derwaldgeist commented on #6303
@existentialism I want to second this. You'd only need the verbose stuff once in a while.

[2018-03-01 20:40] hzoo commented on #6303
Yeah this is what I meant in https://github.com/babel/babel/issues/6303#issuecomment-369722283

[2018-03-01 20:48] thymikee commented on #6303
Ok, I'm happy to update the PR accordingly :)

[2018-03-01 20:50] joliss opened #7464 "@babel/plugin-transform-runtime emits "require" instead of "import" when input has no import/export statements"
`@babel/plugin-transform-runtime` can be used to produce ES modules with `import` statements (`import _getIterator from ...`). But whenever the input source contains no `import` or `export` statements, it will emit `require` calls instead (`var _getIterator = require(...)`);

### Issue description

I'm using Babel with `@babel/plugin-transform-runtime` to produce output that is ES5 compatible but

[2018-03-01 23:14] dgreensp commented on #5222
I'm using React Native (`babel-preset-expo`) and this code:

[code]

is being output as:

[code]

...which throws an error that Foo is not defined in Foo.BAR.

It seems to me that `Foo.BAR` and `this.BAR` should both work in a static property initializer of class Foo, based on this paragraph explaining the intent of the semantics (if it is current):

By the way, in the Babel REPL, I must not have

[2018-03-02 01:47] loganfsmyth commented on #7464
This should be fixed in our next beta release now that https://github.com/babel/babel/pull/7417 has landed.

[2018-03-02 01:47] #7464 closed

[2018-03-02 01:56] takahiro-saeki commented on #7381
@ygoe Hi! I was wondering why you wanna use it as a global dependency. I tried to be occured your error, then I reproduced your error.
unfortunately, I couldn't resolve this error though, I simply suggest you to use as a local dependency.

### devDependencies
- @babel/cli": "^7.0.0-beta.40"
- @babel/core": "^7.0.0-beta.40"
- @babel/preset-env": "^7.0.0-beta.40"

### sample javascript file.
sample.

[2018-03-02 04:12] jdalton opened #7465 "babel-node"
babel-node doesn't currently support Node's `--require` and `-r` flag. It would great if it did.

[2018-03-02 06:00] loganfsmyth commented on #7381
Installing Babel globally isn't really something we support. You can certainly install the CLI there, but plugins and presets are always resolved relative to the working directory / config file / file being compiled, which means plugins and presets installed globally won't be found.

[2018-03-02 08:09] ygoe commented on #7381
Why I want to install it globally? Because there is no "local" here. I don't have JavaScript projects as you probably imagine them. I don't even know what that is or how they look like. I'm using babel as a tool. And it can be used for any files I want. It's supposed to _work_, not to _work for a single project_. I'm working with PHP website projects and ASP.NET Core web application projects devel

[2018-03-02 12:03] littledan commented on #5222
@dgreensp I'm not sure if that's the same root cause as this or a different one, but the behavior you describe doesn't match the current specification. Instead, the class name should be defined before evaluating those initializer expressions. It looks like the current output takes special measures to make sure that the class isn't visible; this might reflect an earlier version of the specification

[2018-03-02 12:07] anywhichway opened #7467 "AsyncGenerator has no Symbol.asyncIterator"
Choose one: is this a bug report or feature request? bug

### Input Code

This is your generated code, not mine. Seems like generator is improperly created.

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

Transpiled using your website Try It Out: Presets: ES2016, stage-0, stage-1, stage-2, stage-3

### Expected Behavior

iterable[Symbol.asyncIterator] should not be

[2018-03-02 12:22] graingert commented on #7349
Wouldn't it be easier to just add the "use strict" on every class, and then rely on a minifier to remove it?

[2018-03-02 14:22] debugpai2 commented on #7460
I would like to work on this if no one else is already.

[2018-03-02 16:45] loganfsmyth commented on #7357
I missed this when it originally got posted, sorry.

I'm not sure I support the idea of adding this as an `eval` in `babel-core`. If the issue is that it isn't clear how to use the existing function, let's absolutely fix that, but including this in `@babel/core` encourages people to have a runtime dependency on core, where normally it would be a devDependency, and if anyone happened to use that fu

[2018-03-02 16:46] loganfsmyth commented on #7349
@graingert Addressed above in https://github.com/babel/babel/issues/7349#issuecomment-363968744

If someone wants to verify if minifiers actually do this, we can certainly have that discussion.

[2018-03-02 17:54] travi commented on #7357
Yeah, that was my main intention of posting the issue. Sorry if it wasn't clear, but thats what I meant by suggesting it was a docs bug:

that all makes sense and i think further highlights the importance of that docs update. the previous wording implied to me that it was encouraged to depend on it at runtime. generating my own vendored file that i manage isn't ideal either, so depending on a pack

[2018-03-02 19:00] AnthonyPaulO opened #7470 "Error: Plugin/Preset files are not allowed to export objects, only functions."
I've been banging my head against this for a week. I get the following error when running webpack 4 (or 3) for certain bundles:

package.json
[code]
webpack.config.js

[code]

.babelrc
[code]

babelLoader
[code]

[2018-03-02 21:45] MaxMilton commented on #6629
Would be great to flush out all those unnecessary polyfills!

[2018-03-02 22:50] phawxby commented on #6766
@sokra and others. For this of us searching for a solution to the problem now using Babel 6 how is this usually solved?

I've got a client side repo included in a server side repo via git submodules. I need to import some of the client code into the server side but the babelrc for the client application is screwing up the import due to the different configurations.

[2018-03-02 22:58] loganfsmyth commented on #6766
@phawxby Feel free to join Slack or post on our recommended support channels, but pinging everyone on this thread about unrelated stuff will distract from the goals of this issue so I'd rather not help here.

[2018-03-03 04:52] #6930 closed

[2018-03-03 10:11] danez opened #7476 "Migrate chai and assert usages to jest expect"
We currently - now after jest has been landed - have a mix of different assertion methods in tests.

- There is `chai` in use.
- There is `assert` in use.
- There is jests `expect` in use.

The first two should be removed and rewritten to make use of `expect` which comes with jest.

so for example

[code]

The jest matchers should be used as good as possible, so for example not `expect(x > 3).toBe

[2018-03-03 10:15] danez opened #7477 "Fix and reenable babel-register tests"
Instead of doing end2end tests which do not work with jests way of handling requires, we should mock `pirates` and instead only test the code that is actually in babel-register.

[2018-03-03 10:20] danez opened #7478 "Figure out why core and cli dropped in coverage"
In #7455 the coverage of `core`, `cli` and `register` dropped a little bit https://codecov.io/gh/babel/babel/compare/fdfbd9a6f787f13f1674e9b6836b94413e632470...e417be4e436eb7a7cfc4b6e3146a0c895a4f62ef/changes

`babel-register` dropped because all its tests are currently deactivated (will be handled in #7477)

We should figure out why it happened for `core` and `cli`.

[2018-03-03 12:02] dacz opened #7480 "Pipeline operator doesnt await properly"
`await` in pipeline doesn't translate to working code as described in specs.

### Input Code
[code]
[repl](https://babeljs.io/repl#?babili=false&browsers=ie%2010&build=&builtIns=usage&code_lz=MYewdgzgLgBAZgRhgXhgQwgTzMGAPFAPnxgGoYEBuAKFEljgCYV0scTliAFAJxAFsAlhACmAOh4iIIADYA3EQAoC5BAEoa1APRaYUABbCYRkAGta4aDB4BXMAHlTLDNlyK1RajBgBWGAB9iFxxFAH0PTnQAdzRBBgQwj0DWVxhEomjYhkZEzVsHU3cxAxEwRTkMumkZcRkQAHNFA

[2018-03-03 12:06] Andarist commented on #7476
Should they really? API surface of those matchers is pretty big and I dont think that they actually bring any value to the code. Personally I prefer to stick to some basic matchers only if they can achieve the same thing and I wish jest would have something like `expect.ok(x >= 3)`.

[2018-03-03 12:29] #6303 closed

[2018-03-03 13:44] danez commented on #7476
I just prefer to do this because usually the reported error is better, but we don't have to.

[2018-03-03 15:52] sushant23 opened #7481 "Unexpected behavior with react props"
Hi I am getting an unexpected behavior while trying to transpile with babel.

If I use component like
` <Field name="customers" component={CheckboxTree} dummy={[]} nodes={customers} onExpandNode={onExpandNode} />` it works fine

but if I remove dummy prop and use component like
` <Field name="customers" component={CheckboxTree}nodes={customers} onExpandNode={onExpandNode} />` I am getting an error

[2018-03-03 16:24] devenbansod commented on #7476
I'd love to take this up for my first PR. Shall I?

[2018-03-03 17:11] nicolo-ribaudo commented on #7476
Yes ☺️

@Andarist I agree with Daniel: using `expect(x >= 3)` can only report something like `Expected false to be true`, which is totally unuseful.

[2018-03-03 17:34] Andarist commented on #7476
Sure, error reports are totally valid point and after @danez has raised it, I'm totally on board with using those more 'complicated' matchers :)

[2018-03-03 17:59] mAAdhaTTah commented on #7481
Can you share your .babelrc and anything else we can use to reproduce this?

[2018-03-03 18:00] mAAdhaTTah commented on #7480
I'd be happy to take a look at this after we land #7458.

[2018-03-03 20:30] loganfsmyth commented on #5541
I've posted https://github.com/babel/babel/pull/7472 which I think will go a long way toward allowing tooling to use Babel's builtin config processing without having to re-implement it.

[2018-03-03 23:48] rictic opened #7483 "traverse: Crash when a function expression contains a class declaration of the same name"
### Input Code

[code]

### Expected Behavior
This is legal JS. Inside the function expression, `Foo` should resolve to the class.

### Current Behavior

I get a crash with the following stacktrace:

<details><summary>Click to expand</summary>

[code]

</details>

### Possible Solution

The error appears to be in scope building. Doing `babelTraverse(ast, {noScope: true});` does not crash. Changing

[2018-03-04 07:56] Aremyst commented on #7338
That's a good catch.
I've investigated and now I understand why source maps weren't working as I expected.

I didn't know that source maps are only downloaded by Chrome if Developer Tools are already opened.
In my video you can see that I've opened Developer Tools only after the page was loaded.
If I simply refresh, it's working just like in your case.

This [StackOverflow answer](https://stackove

[2018-03-04 08:23] devenbansod commented on #7476
Thanks @nicolo-ribaudo for the confirmation.

I was thinking that I'll start with migrating one of the small packages: `babel-code-frame`, make a WIP PR, request feedback and then expand it over other packages. Do you have any suggestions over the initial choice?

[2018-03-04 08:46] SimenB commented on #7476
I'd recommend checking out [`jest-codemods](https://github.com/skovhus/jest-codemods). Even if you're unable to run it, the transforms in the package should tell you what assertions to switch to

[2018-03-04 08:47] #7338 closed

[2018-03-04 09:35] devenbansod commented on #7476
I have made a PR to move tests in `babel-code-frame` to using `expect`: https://github.com/babel/babel/pull/7485

It'd be awesome if someone could review it and provide me some valuable feedback. Building on that, I can move ahead with migrating tests for other packages.

[2018-03-04 09:35] devenbansod commented on #7476
Thanks @SimenB for the suggestion. I'll check it out.

[2018-03-04 11:48] nicolo-ribaudo commented on #7483
Thank you for te bug report. It has been fixed in Babel 7: https://babeljs.io/repl/build/master#?babili=false&browsers=last%202%20chrome%20versions%2C%20last%202%20chromeandroid%20versions%2C%20firefox%20esr%2C%20last%202%20firefox%20versions%2C%20edge%20%3E%3D%2015%2C%20safari%20%3E%3D%2011&build=&builtIns=false&code_lz=BQMwrgdgxgLglgewgAgGIIcAlMg3gKGWSgBsBDAZwrQzwF8BufOrIA&debug=false&forceAllTr

[2018-03-04 11:48] #7483 closed

[2018-03-04 11:50] nicolo-ribaudo commented on #7480
This will be fixed by https://github.com/babel/babel/pull/7154

[2018-03-04 11:54] nicolo-ribaudo commented on #7470
Is there any other `.babelrc` file in the parent folders of your project?

[2018-03-04 12:07] lyzs90 commented on #7110
also had this issue until i upgraded to babel-loader ^8.0.0

from the babel-loader repo:

`npm install babel-loader@8.0.0-beta.0 @babel/core @babel/preset-env webpack`

`npm install babel-loader babel-core babel-preset-env webpack`

[2018-03-04 14:05] andreicristianpetcu opened #7486 "Please upgrade source-map to 0.7.2 to get speed improvements"
### Expected Behavior
Babel should use the latest source-map which is v0.7.2. v0.7.2 got support for WebAssembly and it is 10 times faster than the old one. More info here:

https://github.com/mozilla/source-map/blob/master/CHANGELOG.md#072
http://fitzgeraldnick.com/2018/02/26/speed-without-wizardry.html
https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/

### Curren

[2018-03-04 14:06] andreicristianpetcu commented on #7486
Here is the downstream issue https://github.com/devtools-html/debugger.html/issues/5598

[2018-03-04 14:09] anywhichway commented on #7467
Thanks for so quickly taking the time to build a test case. We just found the bug in our code after reviewing your test. Although it operates properly in Chrome, Firefox and Edge, our code below had a flaw, it needs an `await` before each recursion to work properly with transpiled code!

[code]

[2018-03-04 15:15] andreicristianpetcu commented on #7486
I'm personally interested in getting the update for: babel-generator, babel-cli, babel-core and babel-register since this is needed by debugger.html

[2018-03-04 15:23] pronebird commented on #5404
@JeffML I may be wrong but I think if you move the `--ignore` call before `--copy-files` then it probably would completely ignore the folder and wouldn't copy it.

[2018-03-04 15:29] marvinhagemeister opened #7488 "Unexpected change of Math operators: - to +"
Choose one: is this a bug report or feature request? Bug

### Input Code

Repo where the bug can be reproduced: https://github.com/marvinhagemeister/babel-bug-export

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Possible Solution

### Context

Currently trying to upgrade preact's toolchain to

[2018-03-04 16:31] nicolo-ribaudo commented on #7488
As a workarounnd you can use
[code]

[2018-03-04 16:38] nicolo-ribaudo commented on #7467
Do you mean that you need to use `yield* await pipe()` instead of `yield* pipe()`? If it works in every browser, at 99% it is a bug with Babel.

[2018-03-04 17:56] marvinhagemeister commented on #7488
@nicolo-ribaudo Gave that ago since the fix is really trivial, but I cannot get the tests to work :/

[2018-03-04 19:18] danez commented on #7486
These speed improvements look awesome, but they also come with a price and that is that 0.7+ requires node 8 at least.
As sad as this is but right now we cannot update to this newer version. We still support node 4 for babel 7 and even if we decide to drop node 4 because it runs out of support soon, then we would still support node 6 for at least a year or more.

[2018-03-04 19:23] realityking commented on #7486
Babel should probably first update to 0.6.1 as that contains some breaking API changes, otherwise usage of 0.7 is out of the question anyway.

[2018-03-04 19:23] danez commented on #7486
I seems also the api changed, so we would need to support different versions in our code

[2018-03-04 19:41] loganfsmyth commented on #7486
Oh interesting, if there's no way to create a sourcemap consumer synchronously, I'm not sure there's any way we can use this, since currently Babel exposes primarily synchronous transformation APIs.

We've starting to add infrastructure for Babel's APIs being async, but that will take time and will likely require either dropping or rearchitecting `babel-register` from scratch, for instance. The ca

[2018-03-04 19:46] #7488 closed

[2018-03-04 22:36] #7265 closed

[2018-03-04 22:52] rictic commented on #7483
Oh great! I can confirm that it's fixed!

[2018-03-05 00:19] loganfsmyth commented on #6699
Landed #7392

[2018-03-05 00:19] #6699 closed

[2018-03-05 00:36] loganfsmyth commented on #1749
I think is already works now.

[2018-03-05 00:36] #1749 closed

[2018-03-05 01:27] anywhichway commented on #7467
@nicolo-ribaudo yes, "yield* await pipe()" ... and it only fixed part of the issue. the entire code base it at https://github.com/anywhichway/anywhichway ... having a hard time creating a small sample. I discovered the --harmony flag would work with Node, so I don't even have to transpile any more.  Should I re-open?

[2018-03-05 02:28] loganfsmyth commented on #4006
This appears to be working now on 7.x

[2018-03-05 02:28] #4006 closed

[2018-03-05 02:32] loganfsmyth commented on #4007
I think this is working now. The only thing I see is that it ends up appending `Program` because the class is already flattened out from inside the export by the time your plugin runs. That feels more related to plugin ordering than the intent of this issue, so I'm going to close, but if you feel otherwise, let's chat?

[2018-03-05 02:32] #4007 closed

[2018-03-05 02:40] loganfsmyth commented on #4121
Closing since we have no reproduction.

[2018-03-05 02:40] #4121 closed

[2018-03-05 04:14] loganfsmyth commented on #4829
`babel-external-helpers` works on 7.x branch at least. Closing this otherwise since it does not seem like a babel issue. Compiling the helpers to reference themselves will indeed cause issues.

[2018-03-05 04:14] #4829 closed

[2018-03-05 04:21] loganfsmyth commented on #5032
This should be fixed in Babel 7.x

[2018-03-05 04:21] #5032 closed

[2018-03-05 04:24] #5176 closed

[2018-03-05 04:25] loganfsmyth commented on #5197
Done!

[2018-03-05 04:25] #5197 closed

[2018-03-05 04:27] loganfsmyth commented on #5210
`regexify` is dead in 7.x and this appears to work with the new matching logic.

[2018-03-05 04:27] #5210 closed

[2018-03-05 04:32] loganfsmyth commented on #6700
We've exposed a `babel.parse` function that will read the user's plugins just like `babel.transform` would, and I think that is probably the best we can get. There is no "all the plugins" that we could enable because it is possible for certain plugins to conflict. Two examples would be `decorators` vs `decorators2`, and `flow` vs `typescript`, but there could certainly be more in the future.

[2018-03-05 04:32] #6700 closed

[2018-03-05 04:39] loganfsmyth commented on #5640
I remain unconfident that there is any way for us to do this in a good way. Relying on arrow vs normal function differentiation should be avoided.

[2018-03-05 04:39] #5640 closed

[2018-03-05 04:42] loganfsmyth commented on #5643
Seems like `.babelrc.js` in Babel 7.x will help with this.

[2018-03-05 04:42] #5643 closed

[2018-03-05 04:44] loganfsmyth commented on #5665
In Babel 7.x you can do

    module.exports = function config(api) {
      const env = api.env();

and you can pass `envName: "foo"` programmatically or `--env-name foo` on the CLI and toggle various config behaviors based on that.

Not sure we should go beyond that since it makes caching a lot harder.

[2018-03-05 04:44] #5665 closed

[2018-03-05 04:50] loganfsmyth commented on #6620
I don't think I have enough information to diagnose this specifically.

[2018-03-05 04:50] #6620 closed

[2018-03-05 04:57] loganfsmyth commented on #6163
Revisiting this, I'd be open to this as a Babel option like `requirePlugins: boolean` that would just `return null;` like we do when something matches `ignore` or fails to match `only`.

[2018-03-05 05:01] loganfsmyth commented on #6206
This should be fixed in 7.x

[2018-03-05 05:01] #6206 closed

[2018-03-05 05:03] loganfsmyth commented on #6302
This appears to be working in 7.x

[2018-03-05 05:03] #6302 closed

[2018-03-05 05:08] #6800 closed

[2018-03-05 05:10] loganfsmyth commented on #6795
This is most likely fixed by the module transform rewrite in 7.x

[2018-03-05 05:10] #6795 closed

[2018-03-05 05:14] loganfsmyth commented on #6837
We're working make things like this a little more configurable in 7.x, but things haven't quite landed yet. That said, it is also hard to say confidently without a clearer example of your directory structure.

Going to close this though since I think we're already on the right track for fixes in the future.

[2018-03-05 05:14] #6837 closed

[2018-03-05 05:16] #6838 closed

[2018-03-05 05:18] loganfsmyth commented on #6861
With the new merging logic in 7.x this should be treated like

[code]
which I think is enough to close this since it means the class properties will run before `env`

[2018-03-05 05:18] #6861 closed

[2018-03-05 05:23] loganfsmyth commented on #6956
This should behave better in 7.x. It will only fail if you actually _call_ the function before the polyfill loads, instead of breaking because of function hoisting.

[2018-03-05 05:23] #6956 closed

[2018-03-05 05:25] loganfsmyth commented on #6983
Woops, I linked the wrong ID when I closed it, but I fixed this in https://github.com/babel/babel/pull/7417.

[2018-03-05 05:25] #6983 closed

[2018-03-05 05:26] loganfsmyth commented on #6981
Unfortunately `ignore` is quite unreliable in Babel 6.x. We've improved it in 7.x's beta a bunch.

[2018-03-05 05:26] #6981 closed

[2018-03-05 05:30] loganfsmyth commented on #7054
I'm not sure I understand the issue. Are you actually running Babel itself on the Android device?

What is the error you are getting? You haven't given enough information for us to diagnose the issue.

[2018-03-05 05:33] loganfsmyth commented on #7056
We've added a `babel.parse` function that takes Babel's normal options, so you could consider using that and as long as your users have their Babel config in the places Babel knows to look, it will pick up their Babylon plugins from the Babel plugins.

[2018-03-05 05:37] loganfsmyth commented on #7135
I think I'm going to close this since it isn't actionable for us, but if you can put together a reproducible example feel free to reopen.

[2018-03-05 05:37] #7135 closed

[2018-03-05 05:37] #7138 closed

[2018-03-05 05:39] #7186 closed

[2018-03-05 05:39] #7198 closed

[2018-03-05 05:40] #7224 closed

[2018-03-05 05:41] #7251 closed

[2018-03-05 05:43] loganfsmyth commented on #7284
Looks like a duplicate of https://github.com/babel/babel/issues/7306 which has been fixed.

[2018-03-05 05:43] #7284 closed

[2018-03-05 05:46] loganfsmyth commented on #7321
Generally Babel makes the assumption that individual files have their own scope. If that is not the case, I'd recommend using something like https://github.com/TrySound/babel-plugin-iife-wrap to wrap your code in an IIFE automatically. That plugins wraps it late enough that it should work.

[2018-03-05 05:46] #7321 closed

[2018-03-05 05:53] #7342 closed

[2018-03-05 05:55] loganfsmyth commented on #7387
More information is definitely necessary. Feel free to reopen if you're still having the issue.

[2018-03-05 05:55] #7387 closed

[2018-03-05 05:58] loganfsmyth commented on #7456
To me that sounds like something didn't fully install properly. Maybe delete node_modules and try again?

[2018-03-05 05:58] #7456 closed

[2018-03-05 06:58] Archcry commented on #7056
That's awesome, I think that helps us out a lot because we also rely on the babelrc file within Stryker. Thanks a lot :D

[2018-03-05 07:02] loganfsmyth commented on #7056
Oh good to know. Assuming you're fine forcing your users to use Babel 7, you'll also be interested in keeping an eye on https://github.com/babel/babel/pull/7472 since we're adding more ways to configure things that you really won't want to implement yourself.

[2018-03-05 07:58] wuweiweiwu commented on #6698
@loganfsmyth can I claim this issue? :)

[2018-03-05 08:10] loganfsmyth commented on #6698
Sure! I admit I'm not an expert on the parser, so I'm not 100% sure how easy this will be, but I tagged it as a good issue because I'd expect it to relatively self-contained. Feel free to join our Slack to ask questions if you haven't.

[2018-03-05 08:15] wuweiweiwu commented on #6698
Will do! Ill start digging at it this week :)

[2018-03-05 08:54] debugpai2 commented on #7357
Thanks @loganfsmyth for shedding some light on this. It makes sense now why this would be a bad practice. I would close my PR which was adding `babelHelpers` in the global scope. Meanwhile there is [this PR](https://github.com/babel/website/pull/1584) to update the docs. If someone can merge it, this issue can be closed.

[2018-03-05 08:58] revelt opened #7492 "Let's use "undefined" in favour of "void 0""
I noticed that using `env` preset Babel turns all instances of `undefined` into `void 0`.

### Arguments in favour of `void 0` are mainly _void_ (pun intended):

* Allegedly it safeguards `undefined` from reassigning. This is not relevant now since **ES5** spec was released a decade ago which prohibits that. Since then, you can't reassign `undefined` primitive.
* Allegedly it takes less space than

[2018-03-05 09:11] nicolo-ribaudo commented on #7492
I'm 99% sure that `void 0` is optimized by engines, so it isn't slower. It might even be a little faster because the engine doesn't have to check if `undefined` is defined somewhere in the scope. (This is just a supposition)
Anyway, unless you use `void 0`/`undefined` millions of times you shouldn't see the difference.

ESLint is configurable :stuck_out_tongue:

Well, there are many things waaay m

[2018-03-05 09:17] revelt commented on #7492
@nicolo-ribaudo Thanks for quick response and sharing your view on this issue!

[2018-03-05 09:47] #7477 closed

[2018-03-05 09:48] montogeek commented on #5197
Cool!

[2018-03-05 12:08] danez commented on #7478
This i because all the tests which spawn child processes (babel-cli, babel-node, babel) do not count against coverage anymore. Currently there is no way in jest to do this out of the box, maybe we can come up with a workaround. I leave it open for now

https://github.com/facebook/jest/issues/3190

[2018-03-05 13:52] ddombrowsky commented on #7456
I've reinstalled node modules multiple times.    Guess it's just me.

Wouldn't surprise me.  I have a tendency to find these edge cases that no one else has.

[2018-03-05 14:26] ThiefMaster commented on #4970
Here's a very valid usecase why there **needs** to be a way to set the babelrc path: An application that provides the build infrastructure for plugins. It's using a shared webpack config (that covers most cases) and you point it to a plugin directory that - among other things - contains assets that need to be built with webpack and transpiled with babel.

Obviously we don't want our plugin authors

[2018-03-05 14:39] ThiefMaster commented on #5618
So, I just tried symlinking a babelrc from somewhere else (NODE_PATH) is set as well, and ended up with this issue. FYI, this is even more annoying than https://github.com/babel/babel/issues/4970#issuecomment-370435260 since symlinking the babel config isn't too hard, but I can't do that for `node_modules` since people may have extra dependencies so I'd need to merge the two folders.. which would

[2018-03-05 15:07] hzoo opened #7497 "Internal: making tests run faster"
A lot of things to look into/have changed that may of resulted in this

- Adding Node 9 (do we have to test against this?)
- Switching to jest - is it slower or faster?
  - It's nice that it splits by test so we can check the slow tests
- cli tests are really slow (can we consolidate, or mock)
- we added preset-env
- we added babylon
- we have babel-standalonee/env webpack build
  -is it possible

[2018-03-05 15:25] NedelescuVlad commented on #1087
If you are using the `env` preset, check out the `exclude` option and what you can exclude here: https://github.com/babel/babel-preset-env/blob/master/data/plugin-features.js

[2018-03-05 16:30] loganfsmyth commented on #7492
That is not quite a correct characterization. The `undefined` in most code is an expression that evaluates a global binding named `undefined` whose value has the _type_ `undefined`. That means actually evaluating it requires a scope lookup. Also, unless you can show hard numbers that support the claim of it being more efficient, I'm absolutely disagreeing with that.

In the context of scope lookup

[2018-03-05 17:36] ksashikumar commented on #7497
Can we try jest's workers to parallelize the test suite?
I could see we have [`--runInBand`](https://facebook.github.io/jest/docs/en/cli.html#runinband) flag in `scripts/test.sh`.

[2018-03-05 18:14] danez commented on #7497
I think jest recommends running tests serially because Travis boxes are very weak. But we can try and see if it changes anything.

One thing I haven't figured out is why sometimes the tests run for 30mins on Travis and sometimes 8 minutes although it is the same job.

[2018-03-05 18:45] devenbansod commented on #7476
I have made a simple code-mod (my first ;-) ) for this migration at https://gist.github.com/devenbansod/03c5cff857661e076cbec72fcb2e7eb3.
It worked nicely when I tried to run it on https://github.com/babel/babel/blob/master/packages/babel-core/test/api.js

It definitely needs to add support for more functions and support for `chai.assert` too.

Only a few things that needed to be done after runnin

[2018-03-05 19:08] nicolo-ribaudo commented on #7476
Awesome! :smile:

Shouldn't it become `toBe`? By reading Jest docs, it seems that `toEqual` performs a deep comparsion, while `equal` checks if two objects references the same value.
The same applies to `notEqual`.

I think that this can easily be done manually after the codemod is run

[2018-03-05 22:56] danez commented on #7476
I agree with that, and the cases where it needs to be `toEqual` will fail and can be changed. Some manual checks we probably can't avoid.

[2018-03-05 23:19] loganfsmyth commented on #6242
Alright, I've posted #7501 so let's continue this conversation over there.

[2018-03-05 23:22] danez commented on #7497
Travis also currently has degraded performance reported for linux container builds on there status page.
<img width="980" alt="screen shot 2018-03-06 at 00 20 50" src="https://user-images.githubusercontent.com/231804/37005448-650f3a4a-20d4-11e8-9659-aac98f2e3517.png">

[2018-03-06 01:29] lukeggchapman opened #7504 "[Presets: React + Typescript] Interface with generic method fails transpilation"
## bug report

### Input Code

This is only an issue when using both the react and typescript presets.
[code]

[Repl Link](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=JYOwLgpgTgZghgYwgAgJLIN4Chm-QHgBUA-ACgAcAuZQgSmsKwF8sg&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&lineWrap=true&presets=react%2Ctypescript

[2018-03-06 02:07] yaelhe opened #7505 "preset-env with shippedProposals does not load builtIn 'Symbol.asyncIterator'"
Choose one: is this a bug report or feature request? Bug

Looks like shippedProposals is not loading a polyfill for Symbol.asyncIterator. I got errors on Safari 11 & IE 11.
It worked when I imported the polyfill:
`import 'core-js/modules/es7.symbol.async-iterator';`

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

should

[2018-03-06 03:01] existentialism commented on #7505
@yaelhe sure! I believe we can just map it to "Asynchronous Iterators".

[2018-03-06 03:18] fengyun2 commented on #7139
If you're using `babel-loader@7`, which is what is automatically installed, along with `@babel/core beta`, try use `babel-loader@^8.0.0-beta.0`.
[code]
[Cannot read property 'helpers' of undefined with babel and webapck](https://stackoverflow.com/questions/47820724/cannot-read-property-helpers-of-undefined-with-babel-and-webapck)

[2018-03-06 03:36] jvoccia opened #7506 "Extending Builtins (HTMLElement) in @babel/core@7.0.0-beta.40 is not working"
Choose one: is this a bug report or feature request?
Bug Report

### Input Code
https://babeljs.io/repl/build/6204/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEAqCmEAuB1AlgEwObyQYXCmngA8l4A7DGACVgFkAZAURHgFtKloBvAKD4BfPsACuyAPbtWHLhAB0GeADM0FeAAoAROWQBaAO6YcSLQBo4iVMdwFIEAJQBuPm24HoAXmgYJYzhRI8sAATvBg5DIBSNq6SIY2ps58QA&debug=false&forceAllTransforms=false&shippedProposals=false

[2018-03-06 03:38] devenbansod commented on #7476
Thanks @nicolo-ribaudo  and @danez for pointing it out. :-)  Don't know what confused me there in the first place. :-/

I'll make the required changes, run the code-mod and make the PR soon for migrating a couple of packages (and evaluate how it goes).

[2018-03-06 08:02] dacz commented on #7480
@nicolo-ribaudo thanks. Do you have any idea when it will be released? You requested changes in #7154 in Jan and it is kind of stalled since then and with conflicts with master.

[2018-03-06 08:40] kidneyleung commented on #7506
I have encountered the same problem, are inherited built-in prototype methods

### Input Code

https://babeljs.io/repl/#?babili=false&browsers=Chrome%20%3E%3D%2045%2Clast%202%20Firefox%20versions%2Cie%20%3E%3D%209%2CEdge%20%3E%3D%2012%2CiOS%20%3E%3D%209%2CAndroid%20%3E%3D%204%2Clast%202%20ChromeAndroid%20versions&build=&builtIns=false&code_lz=MYGwhgzhAECyCeARMAXAptNAPdA7AJjMutAN4BQ0V0wA9rhCgE4CuwK

[2018-03-06 08:49] hax opened #7508 "Babylon: plugins option should support '*'"
Babylon 6 used to support `{plugins: ['*']}` to denote all plugins. It stopped working in Babylon 7.

### Expected Behavior

Allow use `*` to denote all plugins except `estree`.

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babylon          | 7

[2018-03-06 09:00] klintmane opened #7509 "function.name not working on minification"
_* Not providing any environment/config info, because this persists on the online REPL as well._

## Code snippet
[code]

## Expected behavior
The result of the code snippet above should be:
[code]

## Current behavior
The result is correct when transpiling. If we minify during tranpilation, the result is:
[code]

[2018-03-06 13:45] nicolo-ribaudo commented on #7509
@klintmane I'm moving this issue to the minifier repository.

@babel-bot Move to babel/minify

[2018-03-06 13:45] #7509 closed

[2018-03-06 14:08] jvoccia commented on #7506
@kidneyleung - That looks to be a separate problem.

Someone on slack pointed out that second option does not setup the prototype of Wrapper correctly, so I think this is the one that is correct.
[code]

[2018-03-06 14:33] jvoccia commented on #7506
@kidneyleung - That issue with Reflect looks to be in _construct - since calling a function with an undefined variable results in an error - would have to do something like typeof Reflect === "object" instead of _typeof(Reflect) - which will fail with that error if Reflect does not exist at all.

[2018-03-06 17:37] axetroy opened #7512 "Why babel-types so large"
Choose one: is this a bug report or feature request?

- [x] Question

### Input Code

[code]

I am build a lib with ``babylon`` and ``babel-types``, pack them up with webpack

All I need is ``validator`` from ``babel-types``

But why it so large.

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

None

### Expected Behavior

Webpack should pack it with tree-shaking.

All I nee

[2018-03-06 22:13] Arfey commented on #7405
In my case
[code]
with your environment, for

[code]
and
[code]
returned equal results

[code]
Is your issue still relevant?

[2018-03-06 22:25] hzoo commented on #7405
Can you make sure you aren't using the `babel-` packages/ 6.x ones? I think you could run https://github.com/babel/babel-upgrade with `npx babel-upgrade` to remove them.

[2018-03-06 22:35] existentialism commented on #7405
@jaydenseric thanks for the report. this should be do-able, but we'll need to rework a few things, as we're [overwriting](https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/targets-parser.js#L126) browserslists `defaults` in a few cases. will add to the TODO list!

[2018-03-07 02:35] jjhesk commented on #7506
same issue here

[2018-03-07 03:11] alexeyraspopov commented on #4969
#7446 is merged. Should this issue be closed?

[2018-03-07 10:05] listingzhao opened #7514 "6.22.1 miss 'babel-runtime/helpers/typeof' ?"
Error like
`Module not found: Error: Can't resolve 'babel-runtime/helpers/typeof' `

package.json

"babel-core": "^6.22.1",
"babel-loader": "^7.1.1",
"babel-plugin-transform-runtime": "^6.22.0",
"babel-preset-env": "^1.3.2",
"babel-preset-stage-2": "^6.22.0"

[2018-03-07 12:23] #7414 closed

[2018-03-07 17:20] loganfsmyth commented on #7508
We've added a `babel.parse` function in Babel 7.x, so you can parse code by using the same plugins people have enabled in their `.babelrc`. Is that a valid solution in your case?

The reason we removed `*` is that various plugins can conflict. Do you want `flow` or `typescript` for instance? We can't enable both. Do you want `decorators` or `decorators2`? They are also incompatible.

[2018-03-07 17:21] loganfsmyth commented on #7512
Maybe you'd want to explore https://github.com/indutny/webpack-common-shake ? We don't publish Babel in ESM, so Webpack's normal tree shaking is not something that will work.

[2018-03-07 17:22] loganfsmyth commented on #7514
If you're using `babel-plugin-transform-runtime`, you also need to install `babel-runtime`. It sounds like you haven't.

[2018-03-07 17:22] #7514 closed

[2018-03-07 17:22] #7512 closed

[2018-03-07 17:27] axetroy commented on #7512
@loganfsmyth
I have load ``webpack-common-shake `` as plugin, but It don't work.

Because when I require ``babel-types``, All the code have run(in used).

So ``tree-shaking`` will found that code have been used. It will not be remove.

I am develop a lib which run in client side, using ``babel-types``. But unfortunately, I have load all ``babel-types``'s package even I only use few method.

[2018-03-07 17:38] loganfsmyth opened #7517 "Should we leave the module transform enabled by default for `env` and `es2015` in 7.x?"
@TheLarkInn asked, and it seems like a discussion worth having.

Leaving it off by default would lead to people being more likely to get errors in things like Node by default, but it would potentially make the workflow easier for people using Webpack, since it's usually easier to add additional plugins than it is to remove them, since opting out first is more verbose, so people could do

[code]
wh

[2018-03-07 17:51] Andarist commented on #7517
In general I like this because having to use `modules: false` confuse people a lot and many misconfigure it without noticing.

OTOH it's kinda a weird exception for this case, maybe it's a matter of perspective - what is the lowest "baseline" that plugins need to consider? If we include es2015/env preset we are supposed to get es5 code, but actually CJS is not an es5 thing - it's a module format.

[2018-03-07 18:00] loganfsmyth commented on #7512
It may just be that our package is not compatible with what `webpack-common-shake` is looking for then.

Optimizing for bundle size isn't really a goal we have currently, so I don't think it is something we'd be likely to get to any time soon.

[2018-03-07 18:16] hax commented on #7508
As the maitainer of https://github.com/hax/js-refactor , which is a atom plugin provide the function of renaming bindings when you edit js files, what I expect is a way to enable all possible official plugins so we can support any new js syntax when I upgrade to new babylon version, without looking into babylon README or code to find whether there is new plugin and add it to my own plugin list.

I

[2018-03-07 18:32] loganfsmyth commented on #7508
We could consider expose the list of available plugins, and you can copy it and filter it to remove the ones you don't want. Then it would be up to you to avoid introducing incompatibilities?

[2018-03-07 18:44] alexeyraspopov commented on #4969
@existentialism, not sure about proper place to ask, but do you know what else should happen so the babel-preset-env will start supporting async generators (and object rest/spread I guess)?

[2018-03-07 18:53] hax commented on #7508
That's great! Thank you.

[2018-03-07 19:04] loganfsmyth commented on #7508
Thinking on that more though, there's be a high risk of breaking changes, so it would be up to you to make sure you're locked to a specific Babylon version. Like if we add a new plugin and it conflicts with another one, it'd potentially break your code if Babylon just updated in a normal semver range, since adding a new plugin is not a major-version change.

[2018-03-07 19:47] xixixao commented on #7410
@hzoo We bumped jscodeshift and recast, jscodeshift now has
[code]
in its package.json,

but when I add `jscodeshift`, its `node_modules` includes version `"7.0.0-beta.40"`, and it's `lib` code doesn't actually include the changes for support fragments.

[2018-03-07 21:39] cruzdanilo opened #7521 "babylon typescript error: cast + assignment"
### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
no error

### Current Behavior
[code]

### Possible Solution
?

### Context
i need to parse typescript to codemod it using [jscodeshift](https://github.com/facebook/jscodeshift) and [ast-types](https://github.com/benjamn/ast-types). it is already working, except for this erro

[2018-03-07 21:46] stolinski commented on #7177
I'm still seeing this with
[code]

[2018-03-07 21:48] loganfsmyth commented on #7521
Duplicate https://github.com/babel/babel/issues/7175

[2018-03-07 21:48] #7521 closed

[2018-03-07 22:37] mAAdhaTTah commented on #6889
This is not currently specced yet but will be supported in the parser in #7458 and eventually added as an option in the pipeline plugin.

[2018-03-07 22:55] digitalkaoz commented on #6861
with the latest version it seems to be fixed, thanks @loganfsmyth  for your awesome work!

[2018-03-08 01:12] loganfsmyth opened #7522 "Babylon's `unambiguous` mode should also consider a file 'module' if it uses import.meta"
Per @jdalton's comment in https://github.com/babel/babel/commit/432a9b5092591d523ae5b1e8131038749bbc8160#commitcomment-27943829, in https://github.com/babel/babel/pull/6789 we landed `sourceType: unambiguous` that chooses a sourceType based on the actual usage of `import` or `export` within the file.

We should also consider a file `module` if it uses `import.meta`, but right now a file using it w

[2018-03-08 01:52] listingzhao commented on #7514
Error like
[code]

my jquery.SuperSlide.js

[code]

webpack.base.conf.js

[code]

.babelrc file:

[code]

[2018-03-08 02:00] loganfsmyth commented on #7514
Do you have `webpack-seed/node_modules/babel-runtime`? It really sounds like you didn't install it.

[2018-03-08 06:06] xgqfrms-gildata opened #7523 "polyfill docs confused me!"
# polyfill docs confused me!

https://babeljs.io/docs/usage/polyfill/

## method (2 steps)

1. `import "babel-polyfill";`
2. setup `webpack.config.js`

**OR**

## method (1 steps)

1. `import "babel-polyfill";` / 1. setup `webpack.config.js`

Which are the right steps for using this `polyfill`?

[2018-03-08 08:26] listingzhao commented on #7514
@loganfsmyth I'm sorry, brother, this is not a problem for Babel, because my webpack write wrong configuration.

`
resolve: {
modules: [srcDir, nodeModPath]
}
`

[2018-03-08 08:56] Stupidism opened #7524 "Object spread calls getter function in declaration after transform"
Choose one: is this a bug report or feature request?
Bug

Object spread calls getter function after transform

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

I'm using a tool like create-react-app, so the babel config is probabily https://github.com/insin/nwb/blob/master/src/config/babel.js;

### Expected Behavior

The property desc should change to

[2018-03-08 09:06] Stupidism commented on #7524
I excuted the same function in chrome and node
![image](https://user-images.githubusercontent.com/5801015/37142401-f30bc9ba-22f2-11e8-8ab3-7459729ddf40.png)
![image](https://user-images.githubusercontent.com/5801015/37142409-fa9dcf16-22f2-11e8-93f1-956b025afd5e.png)

[2018-03-08 09:25] Kovensky commented on #7524
This should be fixed by https://github.com/babel/babel/pull/7034 in babel 7

[2018-03-08 10:17] hax commented on #7508
@loganfsmyth Yeah, it seems I need a "safe" plugin list. Is that add too much burden on babylon side?

[2018-03-08 10:56] xtuc commented on #7523
Are you referring to this part of the doc?

![screenshot from 2018-03-08 11-54-51](https://user-images.githubusercontent.com/1493671/37147533-86ac7e84-22c7-11e8-90a0-35bdd41ec470.png)

As you can see you have 3 alternatives for require'ing `babel-polyfill`.
I would recommend you to setting `babel-polyfill` in the entrypoints of Webpack.

[2018-03-08 11:00] xtuc commented on #7506
Related to https://github.com/babel/babel/pull/7020

cc @WebReflection @nicolo-ribaudo

[2018-03-08 11:08] xtuc commented on #4516
@krailler has been released in https://github.com/babel/babel/releases/tag/v6.19.0.

Could you please open a new issue?

[2018-03-08 14:53] frlinw opened #7525 "Spread operator not compiled in js files"
Choose one: is this a bug report or feature request?
Bug

### Input Code
in a js file

[code]

### Babel/Babylon Configuration (.babelrc)

[code]

### Webpack config
[code]

### Expected Behavior
spread operator shouldn't throw error

### Current Behavior
spread operator throw an error

### Context
Spread & rest operator don't throw error if used in a .vue file but if used in a .js file, it throws

[2018-03-08 15:41] mAAdhaTTah commented on #7523
@xtuc Do we want to keep that recommendation? My understanding is `babel-preset-env` won't modify the polyfills if it's imported that way.

[2018-03-08 16:01] VladimirMilenko opened #7526 "[Babel-generator] Wrong code output with exportNamedDeclaration and class-decorators"
Hi there, i was trying to generate a code for my built AST.
Generator outputs `export` before class-decorator.
Here is my input:
[code]
Expected output:
[code]
Actual output:
[code]

More context info:
Babel-generator version: `6.26.1`

UPD 1h later:
Babel-generator version `7-x` doesn't has such problem. As far, as i can see through sources.

[2018-03-08 17:10] xtuc commented on #7523
@mAAdhaTTah that's a very good point. That way ensures that it's the first thing that will be loaded, but we can't see them in `babel-preset-env`, and even worst it can add them (again)?

[2018-03-08 17:25] kidneyleung opened #7527 "Bug extending builtin object"
Choose one: is this a bug report or feature request?
bug Report

### Input Code
[code]

### Output Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
The code runs successfully and prints out the result without an error.

### Current Behavior
an error occurred while running in `ios<=9` and `android <= 4.x` browser environment：

[code]

[2018-03-08 19:35] wuweiweiwu opened #7529 "Update docs on running tests w/ TEST_ONLY"
Feature Request

### Expected Behavior

`TEST_ONLY=whatever` as described in docs should run tests for that specific plugin/package

### Current Behavior

Runs all the tests  even if `TEST_ONLY` is specified
### Possible Solution

Update docs to remove `TEST_ONLY`

### Context

Trying to run tests with `TEST_ONLY` but runs all the tests so now using `TEST_GREP`

[2018-03-08 20:39] #2160 closed

[2018-03-08 23:31] danez commented on #7529
Currently as a workaround you can use `yarn jest babylon` for example.

[2018-03-09 08:24] rajzshkr commented on #7525
Can you update babel-loader config as follow and check.

[code]

[2018-03-09 08:36] nicolo-ribaudo commented on #7525
Can you write some invalid code in your `.babelrc`, to check if it is correctly loaded?

[2018-03-09 08:39] #7329 closed

[2018-03-09 14:22] frlinw commented on #7525
@nicolo-ribaudo I already tried to remove rest-spread plugin from .babelrc and it break spread operator in my .vue files. So .babelrc seems to be loaded, it compiles rest/spread operators in .vue files but not in .js files

[2018-03-09 15:38] nicolo-ribaudo commented on #7526
The proposal has been updated long time ago. The snippet you posted as "Actual output" is the correct one.

[2018-03-09 15:54] VladimirMilenko commented on #7526
Actual output can't be parsed by any

[2018-03-09 15:54] #7526 closed

[2018-03-09 16:45] jjhesk commented on #7527
same problem here too!

[2018-03-09 20:56] loganfsmyth commented on #6887
For those coming across this, you need to do `* as`

    import * as Babel from '@babel/standalone';

[2018-03-09 21:55] lydell opened #7537 "Bug: `(class A {} < 1);` fails to parse"
### Input Code
[code]

https://astexplorer.net/#/gist/1e180785302bede5c0bfc373287ff4de/64bd890c4e99cd1d41b5cc743f3dea3a39b9bf9a

### Expected Behavior
Should parse. (All other parsers on astexplorer.net do, so I'm assuming this is valid JS. Otherwise all the other ones have a bug to fix :) )

### Current Behavior
[code]

### Context
This has not affected me at all. Found it through fuzz testing ([

[2018-03-09 22:05] loganfsmyth commented on #7537
Good find :)

[2018-03-09 22:35] kylezinter commented on #2515
@kittens Why was this closed? Was looking into an issue with debugging Babel compiled code in VS code and they also mentioned that the source maps being generated around async/await are incorrect by Babel. Is there a spec of some sort for source maps around async/await somewhere that we can compare against to verify this? [https://github.com/Microsoft/vscode/issues/45345](https://github.com/Micros

[2018-03-09 23:00] #7522 closed

[2018-03-09 23:02] jdalton commented on #7522
Rock!

[2018-03-10 07:26] jridgewell opened #7539 "transform-classes loose cannot extend null"
Choose one: is this a bug report or feature request?

Bug.

When using transforming classes loosely, you can't subclass `null`.

### Input Code

[code]

[repl](http://babeljs.io/repl/build/master#?babili=false&browsers=ie%2010&build=&builtIns=usage&code_lz=MYGwhgzhAEAqCmEAu14A8nwHYBMZYFcQRoBvAKAF8g&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=fal

[2018-03-10 08:02] Kovensky commented on #7539
Don't worry, spec can't extend null either. Or at least it's not supposed to work.

It's a spec bug that has been there since ES2015.

The only classes that extend null that will not throw at runtime are classes that return an unrelated object from their constructor.

[2018-03-10 13:32] slikts opened #7541 "env preset accepts invalid config"
Choose one: is this a bug report or feature request?

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
The env preset should validate the config and throw, because "node" is not a valid top-level property.

### Current Behavior
The invalid config is silently ignored and default config is used.

### Context
https://github.com/exercism/ecmascript/i

[2018-03-10 14:11] ksashikumar commented on #7537
This seems to be because of `jsx` plugin. AstExplorer passes jsx plugin as [options](https://github.com/fkling/astexplorer/blob/master/website/src/parsers/js/babylon7.js#L17) to `parse` method. Trying to compile:

[code]
in jsx [REPL](https://jsx.github.io/try-on-web/) gives error for this

[code]
Not sure whether its a bug with babylon!

[2018-03-10 14:22] lydell commented on #7537
You're right, this only happens with the JSX plugin enabled. Hadn't noticed that before!

But my conslusion is that there's still a bug in Babylon, we've just narrowed it down to the JSX plugin.

[2018-03-10 14:25] ksashikumar commented on #7537
@lydell But in JSX compiler itself this

[code]
throws error which I feel is correct behaviour?

[2018-03-10 14:28] lydell commented on #7537
What is "JSX compiler"?

[2018-03-10 14:35] ksashikumar commented on #7537
I meant this: https://jsx.github.io/try-on-web/

[2018-03-10 14:47] lydell commented on #7537
https://jsx.github.io/ is something completely different than https://facebook.github.io/jsx/. I think you have confused your JSX:es :)

[2018-03-10 14:49] lydell commented on #7537
Btw, acorn, espree, esprima and flow all have JSX enabled on astexplorer and they still manage to parse it.

[2018-03-10 14:57] ksashikumar commented on #7537
Oops! My bad! Sorry 🤕

[2018-03-10 18:28] loganfsmyth commented on #7539
Yeah as far as I know your expected behavior is not actually the expected behavior defined by the spec.

[2018-03-10 20:57] Bessonov commented on #7118
run in the same issue after switch from at-loader to babel.

[2018-03-10 22:10] loganfsmyth commented on #7337
Fix has landed on master.

[2018-03-10 22:10] #7337 closed

[2018-03-11 00:24] billyvg commented on #7348
For babel7 you need to use loose mode and decorators plugin must come before `class-properties`. See https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-decorators#usage

[2018-03-11 04:15] YoginthS opened #7546 "Add me to babel GitHub Org"
Add me to babel GitHub Org, Know about me https://yoginth.ml

[2018-03-11 05:02] hzoo commented on #7546
thanks for making an issue!

Sorry @YoginthS but if you'd like to contribute you don't need to be added to the organization. If you have an issue or feature request you can do so without that.

[2018-03-11 05:02] #7546 closed

[2018-03-11 15:41] gpspake commented on #7110
I'm still experiencing this issue with the dependencies listed above.
I deleted node_modules and yarn.lock and re-rean `yarn install`

# package.json
[code]
# .babelrc
[code]
#
[code]

$ yarn webpack:dist
yarn run v1.2.1
$ webpack --mode production
/Users/gpspake/code/npm-yarn-babel-from-scratch/node_modules/webpack-cli/bin/webpack.js:237
                                throw err;

[2018-03-11 17:16] panjiesw commented on #7074
Just bumped to this issue with `v7.0.0-beta.40` and adding `passPerPreset: true` doesn't work for me, because I'm using 4 presets (`preset-typescript`, `preset-env`, `preset-stage-3` and `preset-react`) as well as multiple plugins (`transform-runtime` among many).

With those combination and `passPerPreset: true` it somehow messes the transpile result (not including `regeneratorRuntime` for exampl

[2018-03-11 20:58] loganfsmyth commented on #7110
@gpspake The stack trace mentions `babel-register` which is Babel 6. It would be `@babel/register` for Babel 7.

[2018-03-11 21:29] #7505 closed

[2018-03-11 22:31] gpspake commented on #7110
Thanks a lot @loganfsmyth
Adding @babel/register explicitly fixed the problem for me 😄
I didn't find anything else that suggested that.
Updated dependencies:
[code]

[2018-03-12 01:13] Kovensky commented on #7539
<img width="555" alt="image" src="https://user-images.githubusercontent.com/73085/37261186-e15d2806-25dd-11e8-9af4-858b6cb72879.png">

[2018-03-12 01:50] jridgewell commented on #7539
Yup.

That should work, though.

[2018-03-12 02:07] Kovensky commented on #7539
Exactly; that should work, because it basically works around the class construction algorithm.

But if the throw is happening at declaration time, it, too, will be broken by us.

[2018-03-12 02:13] Kovensky commented on #7539
[code]

That "workaround" actually makes `extends null` "work as intended" here 😆

[2018-03-12 02:24] tilgovi commented on #5512
Maybe `@license` is a good heuristic for keeping a comment at the top? That's a common pattern.

[2018-03-12 02:26] tilgovi commented on #5512
`@babel/generator` already handles `@license` specially.

[2018-03-12 05:30] xgqfrms-gildata commented on #7523
Thanks for your time!

# my solution

add `import "babel-polyfill";` in my `index.js`.

![image](https://user-images.githubusercontent.com/29531779/37267169-7ff9ef06-25f9-11e8-87bf-dac9eb97241e.png)

[2018-03-12 05:30] phyllisstein opened #7551 "Beta 40 dropping imports added by helper-module-imports."
### Choose one: is this a bug report or feature request?
Bug report.

### Summary
Hey folks! I've been [working on](https://github.com/phyllisstein/babel-plugin-ramda) upgrading [`babel-plugin-ramda`](https://github.com/megawac/babel-plugin-ramda) to support the v7 betas, and I've noticed some funky behavior with `@babel/core@7.0.0-beta.40`. The plugin tries to create a new import statement for in

[2018-03-12 06:15] loganfsmyth commented on #7551
This appears to be from https://github.com/babel/babel/pull/7326. You are using `scope.hasBinding`, but by that point in time the import has already been removed, so there actually isn't a binding. It just happens that we weren't properly removing the binding data when the import declaration was deleted, before.

Seems like you'd potentially want to delay removing the `import`, or do an explicit i

[2018-03-12 06:15] #7551 closed

[2018-03-12 06:35] clemtrek opened #7552 "Where is @babel/plugin-check-constants ?"
The `@babel/plugin-check-constants` package had been released until v7.0.0-beta.38 but now, I couldn't find this package.

Has this package been removed or is it some mistake>

[2018-03-12 07:46] xtuc commented on #7523
Ok, i'm closing this since it's not an issue. Feel free to send a PR to help us clarify the doc.

[2018-03-12 07:46] #7523 closed

[2018-03-12 07:49] xtuc commented on #7552
Yes, see https://github.com/babel/babel/pull/6987, the plugin was a spec violation.

Babel will now insert throw statements in the generated code instead.

[2018-03-12 07:49] #7552 closed

[2018-03-12 16:00] RIP21 opened #7554 "[Question] How to make babel parse JSX and spreads while developing plugin?"
I'm writing a plugin using babel-core ver 6.26, and it should be able to make an AST from objects/arrays spreads and JSX but it's just arguing with me with "unexpected token" when I add `{...getSomething()}` or JSX.

In the same time, if I make AST from code without spreads or JSX and then replace or add some new nodes to its AST using `t.SpreadProperty()` and some JSX, it successfully outputs the

[2018-03-12 16:03] hzoo commented on #7554
I'd use https://github.com/square/babel-codemod or https://github.com/facebook/jscodeshift. You just need to turn on the syntax plugin or use that in your own plugin.

In your plugin:

[code]

[2018-03-12 16:07] RIP21 commented on #7554
@hzoo what about if my codemod should be able to read any supported by those syntax plugins files. So it not fails if he doesn't know what static class fields are.
Or `babel-codmod` is smart and have all syntaxes switched on for all of the plugins automatically?
Or I should import to `inherits` all syntaxes that I plan to cover so it works with "any" supported by babel code?

[2018-03-12 16:35] RIP21 commented on #7554
@hzoo just tried to pass an array of requires into the `inherits` but got an error. How to pass multiple syntaxes?

[2018-03-12 16:45] beardedpayton commented on #7460
@loganfsmyth I can handle this. What package is currently handling that error output for the trailing comma ?