[2017-12-16 17:52] danez opened #7035 "Regression babel-template with uppercase variables not meant to be replaced"
Choose one: is this a bug report or feature request?

bug

### Input Code

[code]

### Expected Behavior
returns the template with NODE replaced

### Current Behavior

[code]
### Possible Solution

### Context
Found in `babel-plugin-remove-prop-types`

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  beta 35
| node             | 8.9.3
| npm

[2017-12-16 18:10] kakuyogy opened #7036 "useBuiltIns not import specified polyfills"
hi, now i wrote some code snippet to test babel-preset-env, i try useBuiltIns and test `Promise` and `Generator`, i hope runtime import like `import "babel-polyfill/lib/core-js/modules/es6.promise";`, when babel transform my code with `Promise`, but apparently not.

raw code:
[code]

babel transform options
[code]

transform script
[code]

at last the transformed code is
[code]

thanks for your he

[2017-12-16 18:30] abianco3 commented on #6954
@perinikhil how did your PR go?

On Sat, Dec 16, 2017 at 1:50 AM, himanish-star <notifications@github.com>
wrote:

--
Software Engineer
linkedin <https://www.linkedin.com/in/abianco3/>
github
<https://www.github.com/abianco3>

[2017-12-16 18:37] perinikhil commented on #6954
@abianco3
i thought you were gonna raise the PR so i closed mine O:)

[2017-12-16 18:44] abianco3 commented on #6954
Oh, sorry :)
I think yours looked fine if you want to open it up again.

On Sat, Dec 16, 2017 at 10:37 AM, Peri Nikhil <notifications@github.com>
wrote:

--
Software Engineer
linkedin <https://www.linkedin.com/in/abianco3/>
github
<https://www.github.com/abianco3>

[2017-12-16 18:49] perinikhil commented on #6954
@abianco3
I'm the one who should apologise as i jumped the gun and raised a PR while you were still working on it... 😅
I'd be happy to see a `contributor` badge next on your name as penance 😌
so do raise a PR 😇

[2017-12-16 18:54] loganfsmyth commented on #7035
Good catch, I'll put together a PR now.

[2017-12-16 20:37] abianco3 commented on #6954
@perinikhil PR is in. Thanks again!

On Sat, Dec 16, 2017 at 10:49 AM, Peri Nikhil <notifications@github.com>
wrote:

--
Software Engineer
linkedin <https://www.linkedin.com/in/abianco3/>
github
<https://www.github.com/abianco3>

[2017-12-16 20:41] #6954 closed

[2017-12-16 21:18] loganfsmyth commented on #7035
Oh hmmm, so we actually use replacements for things like this in a few places, so we're going to get a breaking change either way. For example https://github.com/babel/babel/blob/ed4d90b33db8ec7c31cb905bffa6780d4810accb/packages/babel-plugin-transform-computed-properties/src/index.js#L11 and new in Babel 7 https://github.com/babel/babel/blob/ed4d90b33db8ec7c31cb905bffa6780d4810accb/packages/babel-

[2017-12-16 21:34] oliviertassinari commented on #7035
I like the `placeholderWhitelist` option 👍

[2017-12-16 22:42] loganfsmyth commented on #7035
@oliviertassinari Cool! Those options were added in the PR that changed the behavior in v7, so you should be able to start using them. https://github.com/babel/babel/blob/master/packages/babel-template/README.md#options

[2017-12-17 01:20] loganfsmyth commented on #6242
cc @jdalton per https://github.com/babel/babel/issues/6983#issuecomment-349832914

[2017-12-17 01:53] loganfsmyth commented on #6766
Having thought about this more over the last 2 weeks, I think where I've settled on the following:

* Add a `root` option that defaults to `cwd`. Babel will only search for `.babelrc` during compilation if the file being compiled is (a) inside the root  (b) not inside a `node_modules`. This is already essentially the same logic we have in [`babel-register`'s automatic ignore](https://github.com/ba

[2017-12-17 10:44] danez commented on #7035
@loganfsmyth I just tried placeholderWhitelist but it is not an exclusive whitelist, babel-template still searches for patterns and in the example above picks up NODE_MODULES. So the only way is to use `placeholderPattern`.

I hope though that using a pattern of `^NODE$` does not replace it in `NODE_MODULES`

[2017-12-17 15:15] existentialism commented on #7016
@yavorsky let's merge with #6174 and add a note that `babel-preset-env-standalone` needs to get fixed as well

[2017-12-17 15:15] #7016 closed

[2017-12-17 15:16] existentialism commented on #6174
From https://github.com/babel/babel/issues/7016, babel-preset-env-standalone also exhibits this

[2017-12-17 15:16] yavorsky commented on #7016
@existentialism Sure!

[2017-12-17 18:30] Daniel15 commented on #7016
Yeah when babel-standalone was in its own repo, I avoided this issue by bumping the version number **before** building.

There's two possible ways to fix it:
1. Update the build process to bump the version number before building, like the old one did
2. Have a placeholder for version number, and add a post-version-number-bump step that injects the new version number.

[2017-12-17 21:41] seeden commented on #6838
It is working for me with @babel/preset-env

[2017-12-17 22:34] seeden opened #7041 "TypeError: Cannot read property 'node' of undefined | babel 7"
I am not able to compile my source code. The problem is in the @babel/plugin-proposal-decorators.
 I can see
[code]

It is working if I added into the @babel/plugin-proposal-decorators/lib/index.js line 138
[code]

Here is the full stackstrace

[code]

My versions
[code]

[2017-12-17 22:37] nicolo-ribaudo commented on #7041
Already fixed! :smile:
https://github.com/babel/babel/pull/7032

It will be included in the next release

[2017-12-17 22:37] #7041 closed

[2017-12-17 22:38] seeden commented on #7041
Thanks @nicolo-ribaudo. It was fast 👍

[2017-12-17 22:38] nicolo-ribaudo commented on #7041
In the meantime, I suggest downgrading to the previous beta version.

[2017-12-18 03:02] loganfsmyth opened #7042 "Incorrectly publishing with explicit peerDependency versions"
Publishing beta.31 changed the `peerDependencies` in https://github.com/babel/babel/commit/f76ac0b1979ff5be0f8f98982df7932574fabf88#diff-669eb811eff3bb8ee835f0a6e2649411L15

I'm assuming this is due to Lerna doing something that we don't want. Because of our changes in https://github.com/babel/babel/commit/2d7685bdeb468d89eb15b98ed18149e9b6e32955, Babel's plugins have both a peerDependency and dev

[2017-12-18 03:10] loganfsmyth commented on #7042
Looks like this is probably the issue tracked in https://github.com/lerna/lerna/issues/1018

[2017-12-18 11:05] julien-f opened #7045 "Compilation issues with decorators plugin"
Choose one:

- [x] bug
- [ ] feature

[Repro repository](https://github.com/julien-f/babel-decorators-issue).

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

It should compile the code.

### Current Behavior

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |

[2017-12-18 11:10] simonjoom commented on #7045
this bug was resolved from last code see-> https://github.com/babel/babel/commit/9a146d01b05689d264787c6b694d5515a2fed68d , take manually the source code of plugin-proposal-decorators from this repo and compile it or wait the new release 7.0.0-beta.36

[2017-12-18 11:12] julien-f commented on #7045
Thank you 😄

Feel free to close this report if you feel it's not longer relevant.

[2017-12-18 11:13] edoardocavazza opened #7046 "transformFromAst produces inconsistent sourcemaps"
Choose one: is this a bug report or feature request?
Bug

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

no .babelrc and no package.json configuration

### Expected Behavior

`babel.transformFromAst` should return the same code and the same mappings of the previous transformation.

### Current Behavior

Generated codes are the same, but mappings are

[2017-12-18 11:58] palaniichukdmytro opened #7048 "babel 7 does not work as expected with nyc latest"
![screenshot_7](https://user-images.githubusercontent.com/14881178/34042243-582b6fe8-e1a4-11e7-97a0-0589d6a23336.png)

## Expected Behavior
Expected to cover all test with babel-preset-env.
## Observed Behavior
I migrated to babel 7 beta, where I use babel-preset-env, after new configuration, looks like nyc not cover arrow function, or env for testing not working as expected. Looks like nyc starts

[2017-12-18 12:48] #7021 closed

[2017-12-18 12:54] nicolo-ribaudo commented on #7045
https://github.com/babel/babel/pull/7032

While waiting for the next release, you can downgrade to beta 34

[2017-12-18 12:54] #7045 closed

[2017-12-18 14:09] edoardocavazza commented on #7046
I think the problem is in the sourcemaps merge method [here](https://github.com/babel/babel/blob/e44cef34734b59d26b2f090acd7ab16d5570b05c/packages/babel-core/src/transformation/file/generate.js#L89-L112). Infact, I have noticed that `inputMap` and `map` are equivalent before the merge.

I have tried a different implementation, and it seems to work, but I am not very skilled about sourcemaps genera

[2017-12-18 14:55] jrencz opened #7049 "Regression: `TypeError: Cannot read property 'node' of undefined` in `@babel/plugin-proposal-decorators@7.0.0-beta.35`"
I recently tried `babel@7.0.0-beta.35` and I noticed that there's a regression.

My dependency chain is:
(my project) <-- `@babel/preset-stage-0` <-- `@babel/preset-stage-1` <-- `@babel/plugin-proposal-decorators`

It looks like the pre-beta.35 version of the plugin did opt out because of this code:

https://github.com/babel/babel/blob/a7c9264c792baf8aa09ae47887c88863245eb4ca/packages/babel-plugin

[2017-12-18 15:02] hzoo commented on #7049
Duplicate of https://github.com/babel/babel/issues/7045, https://github.com/babel/babel/issues/7041, etc. I'l leave this open since it seems like it's going to keep getting reported before we release

[2017-12-18 15:27] #6851 closed

[2017-12-18 19:07] hekod777 opened #7050 "How to install babel v7?"
I am trying to use babel-preset-env but getting this error:

[code]

It seems that the answer is to use babel v7.

How am I supposed to install babel v7?

with the following dependencies I am still having thise 'loose' of undefined error

[code]

[2017-12-18 19:09] hekod777 commented on #7050
[code]

is the trick.

[2017-12-18 19:09] #7050 closed

[2017-12-18 19:42] hekod777 opened #7051 "Documentation on how to use @babel ?"
I am trying to figure out how to use @babel/preset-env and @babel/polyfill to add polyfill for an app runs in Node 8. so that after transpiling, it can be run in Node 6.

But the official babel documentation seems a bit outdate on this. Is there any @babel documentation there that I can follow?

[2017-12-18 20:49] #6205 closed

[2017-12-18 21:53] hekod777 opened #7052 "response.getHeaders babel polyfill"
I am trying to use babel to transpile an app from running in Node 8 to Node 6.

but getting this error:

[code]

the reason is that response.getHeaders is a function introduced in node 7.7.0. I need a polyfill for this getHeaders function.

Then I looked into `babel-preset-node7`

And it redirected me to `babel-preset-env` which is saying that `if you're targeting Node.js instead of the browser, y

[2017-12-18 21:55] hekod777 commented on #7051
ah...

I was getting an error of `Cannot read property 'loose' of undefined` when trying to use `babel-preset-env`. And the answer was to use babel v7.

I will give it another try.

Thank you for clarifying!

[2017-12-18 22:07] nicolo-ribaudo commented on #7052
Babel only polyfills JavaScript features defined in the ECMAScript specifications (available both in the browser and in node and in any other JavaScript engine).
For api specific of an enveironement (like node modules, or DOM) you will need additional polyfills not provided by Babel.

[2017-12-18 22:28] loganfsmyth commented on #7051
Perhaps you were using `@babel/preset-env`? `babel-preset-env` is for Babel 6, `@babel/preset-env` is Babel 7 and would get that error if used on Babel 6.

[2017-12-19 03:58] bcherny opened #7053 "[babylon] Add support for @@iterator"
Choose one: feature request

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior

`@@iterator` should be parsed into an Identifier.

### Current Behavior

Babylon throws a SyntaxError.

### Context

Attempting to use Babylon to parse [flow/dom.js](https://github.com/facebook/flow/blob/eda26a031a351ff8cf00f7c5d829bcad787f73dd/l

[2017-12-19 05:38] rajzshkr commented on #7053
This should be a small change. I'll give a PR today.

[2017-12-19 06:50] paranoidjk opened #7054 "to-fast-properties use es6 cause lower version android throw error"
see https://unpkg.com/to-fast-properties@2.0.0/index.js

This bug is introduced in https://github.com/babel/babel/pull/5997 to-fast-properties@1 is fine

[2017-12-19 06:53] paranoidjk commented on #7054
I will open a PR to fix `to-fast-properties` later

[2017-12-19 07:39] ajhyndman opened #7055 "babel-preset-env doesn't support Number.parseInt, Number.parseFloat"
Choose one: is this a bug report or feature request?

Bug report.

In ES2015, the global functions `parseInt` and `parseFloat` were added to the Number global in an attempt to modularize some of the global features JS provided.

To date, IE11 doesn't support the usage `Number.parseInt`.  `babel-polyfill` does polyfill this feature, but using `babel-preset-env` appears to never include this particu

[2017-12-19 08:21] Archcry opened #7056 "Babylon plugins"
We are using babylon to get the abstract syntax tree from javascript code in Stryker. What we basically do in Stryker is use the AST to generate mutants in the users source-code. Some users use proposal features in JavaScript that do not work out of the box in Babylon, we'll have to add them to the options object as plugins.

I have two questions about this:
1. Are there any disadvantages to inclu

[2017-12-19 08:41] nicolo-ribaudo commented on #7056
Users might start depending on features which they don't now are just proposals (thus very unstable). If the proposal changes, their code might be broken without them knowing that it could happen.

There was (`{ plugins: ["*"] }`), but it was removed because
1. Some plugins are incompatible (for example, `decorators` and `decorators2`)
2. Whenever a new plugin was addedd, enabling it by default wo

[2017-12-19 08:47] Archcry commented on #7056
That's a fair point, in case of babel this is a valid argument. I think enabling every plugin by default is not going to harm Stryker though but we will have to discus with our team how we want to keep babylon up-to-date in our project. To bad the wildcard is no longer available.

[2017-12-19 08:58] xtuc opened #7057 "Return FunctionDeclaration in Do"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Expected Behavior

val should be a function. I couldn't find a reference to the specification.

### Current Behavior

val is undefined.

### Possible Solution

In speudo code, something like:

[code]

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |

[2017-12-19 09:35] nicolo-ribaudo commented on #7057
I don't think it should. When usin eval (which has the same semantics of `do {}`, you get undefined:

[code]

[2017-12-19 09:36] nicolo-ribaudo commented on #7057
Function declarations' return value is `empty` (which means "keep the previous copletion value"), because they are hoisted:

[code]

[2017-12-19 09:40] xtuc commented on #7057
Indeed, that make sense. I couldn't find the spec and didn't know it has the same semantics than `eval`. The difference between completion value and return value is not _super super_ clear to me.

[2017-12-19 09:42] nicolo-ribaudo commented on #7057
I just found https://github.com/tc39/proposal-do-expressions/issues/13.

[2017-12-19 11:07] rajzshkr commented on #7057
yeah, in do expression last evaluated statement should be returned.

[2017-12-19 11:29] nicolo-ribaudo commented on #7057
No, they should return the value of the block, which is its completion value. If you look at the es2017 spec, for every statement is defined it's completion value.

[2017-12-19 12:17] xtuc commented on #7057
Sorry I should have looked at the issue tracker first! Closing this since there's nothing to do in Babel for now.

[2017-12-19 12:17] #7057 closed

[2017-12-19 14:32] mastilver opened #7060 "[TypeScript]: Some syntax fails to compile when using an abstract class"
:wave: Hi

Choose one: is this a bug report or feature request?

bug

When using an abstract class it along side with another syntax (like export or annotation) the compilation fails

### Input Code

[Export example](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA29UCMDOMUqAxvCZqvvnACrCFwDeAvkA&debug=false&circleciRepo=&evaluate=true&lineWrap

[2017-12-19 14:50] existentialism commented on #7055
@ajhyndman thanks for the issue! this is already fixed (see https://github.com/babel/babel-preset-env/pull/391). Unfortunately, this is currently only available in the 7.x betas.

[2017-12-19 15:12] rosskevin opened #7062 "Typescript `import =` is not supported."
Choose one: is this a bug report or feature request?
Bug (or feature - because typescript support is new)

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
From https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require

### Current Behavior
[code]

### Possible Solution
One idea would be that sin

[2017-12-19 15:17] hzoo commented on #7062
This is already documented as a caveat which is why the error message ``import =` is not supported`

https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/README.md#babelplugin-transform-typescript

The TS team made the original PR, unless we think it's worth adding this behavior still, someone would need to make a case/PR

[2017-12-19 15:19] hzoo opened #7063 "Test fixtures: rename actual/expected to input/output"
Ref https://github.com/babel/babel/pull/7059#issuecomment-352766948

`actual.js` and `expected.js` isn't as intuitive as `input.js` and `output.js`. If someone wants to change this, that would be great.

Going to have to change the references (more than just what I linked) in at least these 2 packages:

https://github.com/babel/babel/blob/68476b6dddfdfc0941142cc45687c5b33c0cfe37/packages/babel-hel

[2017-12-19 15:30] kentcdodds commented on #7063
I think that having a recommended/standard tool would be good for the ecosystem. It makes sense to me for `babel-plugin-tester` to be this tool.

[2017-12-19 15:33] andy-ms commented on #7062
Like you suggested, when using babel it's better to use a default import. This is supported in TypeScript by using the [`--allowSyntheticDefaultImports`](http://www.typescriptlang.org/docs/handbook/compiler-options.html) flag.
(Created Microsoft/TypeScript-Handbook#700)

[2017-12-19 15:36] mathiasbynens commented on #7063
Is the comment link in OP pointing to the right comment? I was expecting it to point to https://github.com/babel/babel/pull/7059#issuecomment-352764488

[2017-12-19 15:39] hzoo commented on #7063
Yeah I suggested this earlier because we can use that as a way to vet "quality" plugins and also enforce certain standards. For the project we need to make sure we can transition ourselves to use `babel-plugin-tester` then or to merge functionality into it that we need

[2017-12-19 17:16] hekod777 commented on #7052
got it. wrote my own polyfill for the function.

Thank you very much!

[2017-12-19 17:17] Anderson-Vasques commented on #7063
@hzoo I would like to help. Is that okay? (Maybe it's a good first issue, too)
I guess I need to update README and CONTRIBUTING too?

[2017-12-19 17:46] rosskevin commented on #7062
Thanks, I used `--allowSyntheticDefaultImports` a bit reluctantly, it has been useful in finding errors but understand that it may be painful to implement here.

[2017-12-19 17:46] #7062 closed

[2017-12-19 17:53] loganfsmyth commented on #7062
Should we expand that error message with a bit more info so users know what to do next?

[2017-12-19 18:04] rosskevin commented on #7062
I think expanding the message with @andy-ms's link would be a good idea.

[2017-12-19 18:10] hzoo commented on #7062
Yes, definetely

[2017-12-19 18:15] loganfsmyth opened #7067 "Improve error message for `typescript` parsing of `import =`"
See discussion in https://github.com/babel/babel/issues/7062#issuecomment-352836023

The current error message of

is not enough information for users to know what their next step should be. Ideally we'd make that more descriptive.

[2017-12-19 18:15] loganfsmyth commented on #7062
Filed: https://github.com/babel/babel/issues/7067

[2017-12-19 18:35] nicolo-ribaudo commented on #7052
Good :smile:

[2017-12-19 18:35] #7052 closed

[2017-12-19 19:47] nicolo-ribaudo commented on #7060
@andy-ms
https://github.com/babel/babel/blob/5f8a1a2613eccc81a2b06e5758b003ce830f0171/packages/babylon/test/fixtures/typescript/class/abstract/actual.js#L5
Is that comment wrong? It works in the playground (https://www.typescriptlang.org/play/index.html#src=export%20default%20abstract%20class%20%7B%20%7D)

[2017-12-19 19:52] andy-ms commented on #7060
I'm sure it was invalid at some point, but that might have changed.
If Microsoft/TypeScript#18628 goes in we should just allow all of these to be default exports.

[2017-12-19 19:59] clarkdave opened #7068 "[TypeScript] "assert and assign" syntax fails to compile"
Choose one: bug report

When performing an assertion and assignment at the same time, which is supported by the TypeScript compiler, the Babel TypeScript transformer throws an error.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Running the TypeScript compiler against the above input code yields the following output,

[2017-12-19 20:38] nicolo-ribaudo commented on #7068
Thank you for testing Babel's typescript implementation!

---

If anyone wants to take a look at this issue, here are the parts of Babylon (Babel's parser) which check the left node of an assignment expression:
- In the `parseAssignmentExpression`, you can see that there is a call to the `checkLVal` method.
 https://github.com/babel/babel/blob/5f8a1a2613eccc81a2b06e5758b003ce830f0171/packages/baby

[2017-12-19 20:47] nicolo-ribaudo commented on #7063
Yes! If you need any help, feel free to reach me on Slack (https://slack.babeljs.io/)

[2017-12-19 20:49] lensbart commented on #7000
Not sure if this is the same issue, but I ran into the following bug which is present in beta 34 and 35, but not beta 31 (I resolved the issue by reverting).

[code]

This gave a TypeError for the last line (`this.references = update.refs`): "Attempted to assign to readonly property". Note that this error only manifested itself in the componentDidUpdate method and didn't show when commenting out t

[2017-12-19 20:51] nicolo-ribaudo commented on #7000
@lensbart Can you share your babelrc and package.json?

[2017-12-19 20:54] lensbart commented on #7000
Sure! By the way, I forgot to mention that I updated & reverted all of the following (copied from console:) `yarn add @babel/cli@7.0.0-beta.31 @babel/preset-env@7.0.0-beta.31 @babel/preset-flow@7.0.0-beta.31 @babel/preset-react@7.0.0-beta.31 @babel/preset-stage-1@7.0.0-beta.31 @babel/core@7.0.0-beta.31`

**babelrc**
[code]

**package.json**
[code]

[2017-12-19 21:32] nicolo-ribaudo commented on #7000
I'm having truble reproducing the issue... Can you post the full stack trace of the error?

[2017-12-19 21:36] lensbart commented on #7000
<img width="1069" alt="screen shot 2017-12-19 at 22 35 54" src="https://user-images.githubusercontent.com/20876627/34179913-0a51517c-e50d-11e7-9aab-99f3109099af.png">

[2017-12-19 22:49] gs-akhan commented on #7067
Hi,
Should I add a message like this ?

"import = is not supported. please consider changing your Typescript code to have ```import <specifier> from "resource" instead of ```import <specifier>  = require("resource");
refer link : https://www.typescriptlang.org/docs/handbook/modules.html#native-ecmascript-2015-modules-simplemodulejs"

[2017-12-19 23:44] simonbuchan opened #7069 "Validation error when using JSXSpreadChild"
Choose one: is this a bug report or feature request?

Seems like a bug, since it's throwing validation errors from internal code on valid(ish) input, but given #3575 my _preferred_ behavior would probably be a feature request.

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

[code]

### Expected Behavior

I'd prefer output something lik

[2017-12-20 00:03] loganfsmyth commented on #7069
Good find! This should be a relatively self-contained fix. We need to handle `JSXSpreadElement` in https://github.com/babel/babel/blob/4f534965465add7f653a04e96c0b30de27552508/packages/babel-types/src/builders/react/buildChildren.js#L9 so that it gets converted into a normal spread AST node instead of a JSX one.

[2017-12-20 00:42] ajhyndman commented on #7055
Ooh, great news!  Thanks!

[2017-12-20 00:42] #7055 closed

[2017-12-20 01:24] mannanali413 commented on #7069
@loganfsmyth I can work on this issue. Thanks

[2017-12-20 01:25] existentialism commented on #7069
@mannanali413 it's yours! feel free to join us on slack!

[2017-12-20 01:40] simonbuchan commented on #7069
@sebmarkbage looks like you picked the original design here, do you have any feedback?

[2017-12-20 02:16] maaz93 commented on #7068
@nicolo-ribaudo I'd like to take this up!

[2017-12-20 02:28] existentialism commented on #7068
@maaz93 go for it!

[2017-12-20 02:31] sebmarkbage commented on #7069
For React, this is an intentional decision. We explicitly don't want people to spread things into the rest arguments because that is our heuristic to indicate that these children are static.

The way to define this in React is:

[code]

In this case we will notice that an array is passed and issue a warning if not all children have explicit keys defined.

In React it is incorrect to pass children

[2017-12-20 02:44] Skaronator commented on #6838
Have the same issue

### Dependencies
[code]

### Babel Config
[code]
### Error
[code]

[2017-12-20 02:49] joshunger commented on #7030
@hzoo @nicolo-ribaudo how do you look up when this will be released?  Thanks.

[2017-12-20 02:54] loganfsmyth commented on #6838
@Skaronator Your stack trace mentions `serverless-offline` which [enables `babel-register`](https://github.com/dherault/serverless-offline#usage-with-babel) if you tell it to, so that would appear to be loading Babel 6, causing your issue.

[2017-12-20 02:59] simonbuchan commented on #7069
This is in fact was why I was using child spread: to indicate that I know the children won't change, even though they are generated. React 16 fragments handle the case of simplifying returning multiple elements without keying them, but not the generative case. My context is generating SVG elements, where I know (to slightly simplify) the stuff in `<defs>` won't change, but the displayed elements w

[2017-12-20 03:00] Skaronator commented on #6838
Oh damn! Feeling like a idiot now. Removed those lines from my serverless config and now everything just works! Thanks

[code]

[2017-12-20 03:04] existentialism commented on #7030
@joshunger as soon as possible! you can always downgrade to beta 34 for now?

[2017-12-20 07:19] donaldpipowitch commented on #6226
Just tried Babel CLI with 7.0.0-beta.35 and I used `--ignore` _after_ `--copy-files` and the files were _not_ copied. It looks like this is the desired behaviour so this issue can probably be closed. (However I search for this issue, because I thought it _was_ a bug. I thought `--ignore` should not only ignore processing by Babel, but also copying.)

[2017-12-20 08:26] mathieudevos opened #7070 "Babel picks up translations in ignored folder"
### Bug report

Babel is running translations on files which are inside ignored folder(s)

### Expected Behavior
Ignore everything inside ignored folder(s)

### Current Behavior
Babel translates items inside the folder if it finds things that tell babel to translate is

### Possible Solution
Properly ignore folders, don't even check inside them

### Context
Cross-linking reference: [hawk#277](http

[2017-12-20 09:45] challenger532 commented on #2683
any updates?

[2017-12-20 10:45] brookslee commented on #6215
where, I have the same problem, I do think this is a bug！

my code:

`if (typeof startPageY == undefined) {
                startPageY = evt.changedTouches[0].pageY;
            }`

output:
`
if ((typeof startPageY === 'undefined' ? 'undefined' : _typeof(startPageY)) == undefined)  {
   startPageY = evt.changedTouches[0].pageY;
 }
`

when `startPage` is undefined, `if (typeof startPageY === 'undef

[2017-12-20 10:49] rramaa commented on #6846
@nicolo-ribaudo
I gave the example in the function. But what if I write the code globally. Then it would execute throw the error natively.
I think that this plugin should be included in babel by default

[2017-12-20 11:01] joshunger commented on #7030
@existentialism That worked out perfect thank you.

[2017-12-20 11:21] nicolo-ribaudo commented on #6215
typeof returns a string. You should write `"undefined"` and not `undefined` in your code.

[2017-12-20 11:45] karottenreibe opened #7071 "Babel generator 6 turns division + comment into just comment in compact mode"
Bug: When a division in the input is followed by a line or block comment, no space is output between them in comact mode, thus turning the whole thing into a line comment.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
Initially happened when running `nyc` but reproduced with a test case in the babel-generator package

### Expected Behavior

Space be

[2017-12-20 11:49] karottenreibe commented on #7071
Created a pull request with a fix + test

[2017-12-20 15:23] ThaNarie opened #7074 "[plugin-transform-typescript] constructor auto-assign not working with plugin-transform-classes"
The following doesn't seem to work, but is also not listed in [the readme](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-typescript)

If it's not possible to fix/implement, it would be good to throw an error when used, and mention it there.

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
* have

[2017-12-20 15:24] hzoo commented on #7074
Babel's support for TS doesn't include any sort of type checking. It's expected that you would run TS via tsc or in editor to catch type errors, and Babel just compiles the syntax and removes types.

[2017-12-20 15:33] ThaNarie commented on #7074
I understand what it's doing, however, running `tsc` won't give any errors, since it's completely valid typescript. There is a mismatch between what the TS compiler outputs as JS, and what babel outputs as JS. This results in broken code, without babel or tsc complaining about it.

I could understand reasons for not supporting this feature, but in that case I feel it should throw an error and list

[2017-12-20 15:38] hzoo commented on #7074
If it just takes `public type: string` and adds it as you say, we could just support it then. @andy-ms?

[2017-12-20 18:17] andy-ms commented on #7074
Compiling that example with just the TypeScript plugin works; there is probably some other plugin running before it that changes the constructor to a function, so the TypeScript plugin doesn't know to look for parameter properties. Is there some way to ensure that the TypeScript plugin always runs first?

[2017-12-20 18:25] gs-akhan commented on #7067
Any thoughts? I can send a PR if that works .. :)
Thanks

[2017-12-20 18:46] ThaNarie commented on #7074
I can confirm with a local test in my project:

Input:
[code]
Output with just typescript plugin:
[code]

Including the classes transform:
[code]

Will output:
[code]

[2017-12-20 18:49] loganfsmyth commented on #7067
Maybe we can say

?

[2017-12-20 18:51] gs-akhan commented on #7067
Sounds good. With a link to the TSDocs ?

[2017-12-20 18:57] loganfsmyth commented on #7067
I don't think there are any good doc pages explaining `--allowSyntheticDefaultImports` other than http://www.typescriptlang.org/docs/handbook/compiler-options.html

[2017-12-20 18:59] gs-akhan commented on #7067
Hmm yes. They can take user to some other level of confusion.
Should I send a PR ?

[2017-12-20 19:33] ThaNarie commented on #7074
If it's indeed a plugin ordering issue, I guess it's related to https://github.com/babel/babel/issues/5854

[2017-12-20 19:46] #4480 closed

[2017-12-20 19:47] nicolo-ribaudo commented on #7000
Sorry, I really can't find anything wrong in the code that Babel generates :disappointed:

Can you try to run that code in a modern browser without transpiling classes? If it works, this probably isn't an issue with Babel. Otherwise I need a repository which reproduces the issue (If you found the bug in a public repo you can just link it)

[2017-12-20 20:33] hzoo opened #7078 "Followup issue for extending built-ins"
Ref https://github.com/babel/babel/pull/7020

Just making a new issue to track possible changes in another PR

- @Kovensky had a comment: https://github.com/babel/babel/pull/7020#discussion_r156837731
- @justinfagnani had a comment: https://github.com/babel/babel/pull/7020#discussion_r156742862

[2017-12-20 20:46] nicolo-ribaudo commented on #7078
I have already a branch which implements @Kovensky commit, I didn't niclude it in #7020 to avoid introducing too many changes in one pr. https://github.com/nicolo-ribaudo/babel/commit/cbb31c390836b5156ff07a980b83dd1607786b6a

I can think of two possible implementations:
- Since Babel now supports JavaScript configuration files, the plugin could accept a function which tells which part of the `exte

[2017-12-20 21:00] simonbuchan commented on #7069
Looks like originally #4988 implemented this with a friendly error, which would be sufficient for me (but not awesome), but it caused breakage if `babel-core` wasn't up to date, so the error message was reverted in #5015.

Obvioustly it's fine to revert the revert for 7, but just doing that seems a bit weird *specifically* for the `react-jsx` `pragma` option. I guess non-react JSX could implement

[2017-12-21 00:03] agalatan commented on #7036
In .babelrc, Shouldn't it be **"modules": false** ?
https://babeljs.io/docs/plugins/preset-env/

[2017-12-21 02:07] garyxuehong opened #7082 "bug: transform-class-properties has incorrect `this` in arrow function when not combined with presets-env"
When use babel-plugin-transform-class-properties without babel-preset-env, the final output will have incorrect `this`

### Input Code

[code]

[code]

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Current Behavior

The `this` in the transformed function/class-prop `disName()` is not correct? Shouldn't it be _temp?

When I run above code, the this in di

[2017-12-21 02:39] Anderson-Vasques commented on #7063
Nice. I will begin it tomorow

[2017-12-21 03:20] garyxuehong commented on #7082
Actually it turns out it is correct. my bad.

[2017-12-21 03:20] #7082 closed

[2017-12-21 06:47] entwanderer opened #7083 "export default generates invalid code for IE8"
When using ```export default```, the generated code is invalid for IE8.

### Input Code
[code]
generates
[code]

Link to REPL:
https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=FAUwHgDg9gTgLgAgCYgGYEMCuAbRrMB2AxnAJZQEJwgDOcAFAJQIDewCCAbujAqQgF4EARgDcwAL5A&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-2&prettier=false&targets=&ver

[2017-12-21 06:58] Kovensky commented on #7083
You can use the es3-member-literals transform to convert the .default, but it is very likely that something else is going to break if Babel doesn't have access to a working Object.defineProperty.

[2017-12-21 09:53] FND commented on #4480
Thanks everyone for making this happen - and of course @WebReflection in particular for figuring this out and staying on the ball.

For users who aren't familiar with Babel's internals, AFAICT this fix will be included by default with the upcoming Babel v7.0? (If you're using something like @babel/preset-es2015 or @babel/preset-env, that is - at least those presets seem to depend on @babel/plugin-

[2017-12-21 14:17] APPLLEJN opened #7085 "node async await transform to generate"
if i want to transform async to generate,
**.babelrc code**
[code]

**entry code**
[code]

but it doesn't work .....

[2017-12-21 16:54] aminmarashi commented on #6636
Picking up.

[2017-12-21 19:41] rosskevin opened #7088 "[Typescript] named import - Reference error not defined"
Choose one: is this a bug report or feature request?
Bug

When switching to Babel 7 and using the @babel/preset-typescript, code that used to resolve/work now fails.

### Input Code

At runtime:
[code]

The same code **works** if I use:
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

[code]

### Expected Behavior
Named imports from `react-dom` should work such

[2017-12-22 01:00] lilijialiang commented on #6889
Will not continue to support `await` ? sorry to disturb.

[2017-12-22 02:30] liushigit opened #7089 "@babel/plugin-proposal-nullish-coalescing-operator doesn't work with “babel-preset-expo”"
# Bug report

When working with [babel-preset-expo](https://github.com/expo/babel-preset-expo), there will be:

[Demo](https://github.com/liushigit/babel-nco-plugin-issue)

To run (on macOS):
[code]

### Input Code

`const a = 2 ?? 3`

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior

The app should run.

### Current Behavior

### Possible Solutio

[2017-12-22 02:44] loganfsmyth commented on #7089
If you're using plugins from Babel 7, you need to be using `@babel/cli` from Babel 7.

`transform-react-jsx-source` would also be `@babel/plugin-transform-react-jsx-source` which you'd have to install instead.

[2017-12-22 03:12] liushigit commented on #7089
@loganfsmyth It seems the project is not using the babel specified in `package.json` dependencies.

I've created a mirror issue at [expo/expo](https://github.com/expo/expo/issues/1150)

[2017-12-22 05:46] perinikhil commented on #6691
can i claim this issue ? 😄

[2017-12-22 06:12] nicolo-ribaudo commented on #6691
:+1:

[2017-12-22 09:36] xtuc commented on #6889
Sorry I don't understand your point @lilijialiang. This is only an addition to the existing support in Babel.

[2017-12-22 11:35] xtuc commented on #7036
@agalatan is right but this issue doesn't seem to be related to modules.

[2017-12-22 16:11] nicolo-ribaudo commented on #7088
What is the current code generated by Babel?

[2017-12-22 16:21] rosskevin commented on #7088
Failing code (`import {findDOMNode} from 'react-dom'`):
[code]

Working code (`import * as ReactDOM from 'react-dom'`):
[code]

[2017-12-22 17:21] GerkinDev commented on #6601
I managed to fix this issue by removing `babel-loader` & doing `npm install -D @babel/helper-module-imports`....

[2017-12-22 17:35] stevefan1999 opened #7093 "[@babel/standalone] Remove the additional function context on DOMContentLoaded"
x-pr from https://github.com/babel/babel-standalone/pull/97, too lazy to fork again.

[2017-12-22 17:35] a-x- commented on #7030
I have the same issue on beta 31 and beta 35

[2017-12-22 17:36] stevefan1999 commented on #7093
This.

https://github.com/babel/babel/blob/master/packages/babel-standalone/src/index.js#L250

Just a little mistake to remind.

[2017-12-22 17:42] a-x- commented on #7030
<details><summary>Config</summary>

[code]

</details>

[2017-12-22 17:51] a-x- commented on #7030
_initializerDefineProperty brokes everything.
how to remove it? :)

code:
[code]

<details><summary>result:</summary>

[code]

</details>

[2017-12-22 17:53] joshunger commented on #7030
@a-x- did 34 not work for you?

[2017-12-22 17:55] stevefan1999 commented on #7093
hmm, there is a problem. Since fat arrow propagates the context of `this`, I think that's the reason for it.

Or is that just a classical conditioning when engineers are dealing with event handlers?

[2017-12-22 18:03] a-x- commented on #7030
yeah, 34 is ok

[2017-12-22 18:50] tracker1 opened #7096 "Weird optimization..."
Choose one: is this a bug report or feature request? Bug

Just recently, the output from a build of server code isn't working as expected... It's using webpack + babel... the relevant babel configuration is below

### Input Code

#### doesn't work...

input

[code]

output
[code]

There's no reference to _wrapResponse.default ...

#### works...
input
[code]

outputs
[code]

### Babel/Babylon Confi

[2017-12-22 18:57] nicolo-ribaudo commented on #7096
This bug is fixed by https://github.com/babel/babel/pull/7032. Until the next beta is released, I suggest using 7.0.0-beta.34

[2017-12-23 00:47] vihanb opened #7097 "Missing return in nested replaceWithMultiple in for..of"
## Bug report

`.replaceWithMultiple` with `for..of` seems to result in a missing `return _ret` statement. Not sure if I am doing something wrong or what.

### Input Code
I made an [astexplorer link](https://astexplorer.net/#/gist/8cea7f1cae60f996751708cf26cc7c93/b380600d73666b7075e7a4b5c82b9ed5e7d06de1) but for this input:

[code]

this compiles the nested map, but for some reason the `<li>{ mess

[2017-12-23 10:58] gs-akhan commented on #7097
If it is just an issue with your plugin code then you can consider seeking help in the slack channel. There are lot of plugin devs that might help you out.

On other side I found it extremely difficult to understand that multiple declaration of variables specially near ```errors.map``` Try one operation in one line, it helps sometime.

[2017-12-23 12:45] a-x- commented on #7030
let's reopen issue

[2017-12-23 13:04] nicolo-ribaudo commented on #7030
The issue has been fixed, but we haven't yet released a new version (and probably won't happened soon, because of Christmas).

[2017-12-23 16:27] noahgrant opened #7099 "[babel-preset-env] Object Rest/Spread Token Issue"
Choose one: is this a bug report or feature request?
Bug

Hi, I'd like to follow up on [this issue](https://github.com/babel/babel-preset-env/issues/326) that was closed in the old preset-env repo. That issue concluded with a "workaround" that definitely fixes the babel's parsing issue, but I think that we should still consider that an open bug because it forces me to have to transpile my default

[2017-12-24 03:26] kdy1 opened #7100 "Lexer cannot lex 'x= function(){}/42/i' correctly."
Choose one: is this a bug report or feature request?
bug report

### Input Code

[code]

Repl: https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=FAYw9gdgzgLgBASzgXjgFgNzGAGwKbwAeKcA3sHHAIYBccAZgK4QgwKRwBGAFAJRkBfAPRoATEIQAaYAKy4CcAJ4kmLNpD6CR4hBiA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-2&prettier=false&targets=&version=6.2

[2017-12-25 02:47] dickeylth opened #7102 "`insertBefore` ignores `leadingComments`"
Choose one: is this a bug report or feature request?

I'm not sure, maybe a feature request?

### Input Code

Just the MVP, not my real code:

<https://astexplorer.net/#/gist/ee50aa096b83bc7665884219bbd14fda/f393185dc2300f6f55d6fe501425e11940e38f87>

### Expected Behavior

I'd like to insert statement before the target node, however the target node has leadingComments, and I want the insertion be

[2017-12-25 04:41] dickeylth commented on #7102
It seems to be fixed with babel@6: <https://astexplorer.net/#/gist/ee50aa096b83bc7665884219bbd14fda/d74aa563a334ab52073568fbd54305642efcd67c>

However when I tried on my computer, the issue still occurs:

[code]

run result:

[code]

My environment:
[code]

[2017-12-25 17:13] damianobarbati commented on #7041
@nicolo-ribaudo what should I downgrade to skip this for now?
`"@babel/plugin-proposal-decorators": "^7.0.0-beta.34"`?
Because I tried with no success, still I have:
[code]

Thanks guys for your work!

[2017-12-25 18:42] hzoo commented on #7048
If it is an issue with that plugin I would make the issue there, not in the babel repo. It hasn't been updated to test against v7 at least so it's possible there is an issue https://github.com/istanbuljs/babel-plugin-istanbul but that is expected if you are using non scoped babel plugins that are 3rd party that haven't updated yet

[2017-12-25 18:42] #7048 closed

[2017-12-25 18:47] #6571 closed

[2017-12-25 19:05] hzoo opened #7103 "Change deprecated option in tests"
Seeing this message 3x in our tests

[code]

We just have to change

https://github.com/babel/babel/blob/ed2b88830ece4ff2fb31906669c0360edc4786f7/packages/babel-preset-env/test/index.spec.js#L80-L86

in a few places to `forceAllTransforms` (and the test name) in that file

[2017-12-25 19:09] hzoo commented on #7096
Released [beta.36](https://github.com/babel/babel/releases/tag/v7.0.0-beta.36) with the fix, Merry Christmas y'all!

[2017-12-25 19:09] #7096 closed

[2017-12-25 19:09] hzoo commented on #7049
Released [beta.36](https://github.com/babel/babel/releases/tag/v7.0.0-beta.36) with the fix, Merry Christmas y'all!

[2017-12-25 19:09] #7049 closed

[2017-12-25 19:09] hzoo commented on #7045
Released [beta.36](https://github.com/babel/babel/releases/tag/v7.0.0-beta.36) with the fix, Merry Christmas y'all!

[2017-12-25 19:09] hzoo commented on #7041
Released [beta.36](https://github.com/babel/babel/releases/tag/v7.0.0-beta.36) with the fix

[2017-12-25 20:03] GustavoRSSilva commented on #7103
Can i have this issue?

[2017-12-25 20:03] nicolo-ribaudo commented on #7103
Yes! :slightly_smiling_face:

[2017-12-26 14:48] Anderson-Vasques commented on #7063
@nicolo-ribaudo @hzoo I was wondering from wich branch this change should be done. I guess I should checkout from master since the [ref](https://github.com/babel/babel/pull/7059#issuecomment-352766948) was merged to master?

[2017-12-26 15:57] niftylettuce opened #7108 "[plugin-transform-runtime] options is not given a default value of {} (empty object) and throws error without a configuration in .babelrc"
The `helpers` at <https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-runtime/src/index.js#L8> will be undefined unless you explicitly pass an object in your `.babelrc` while configuring this plugin.

Specifically at this line <https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-runtime/src/index.js#L6> we need to change it to be `options = {}`.

The d

[2017-12-26 16:09] loganfsmyth commented on #7108
Babel 7 always passes an options object. That error implies you are running a Babel 7 plugin on Babel 6.

[2017-12-26 16:55] leoasis opened #7109 "[babel-generator] doesn't output parens for TS types when needed"
I'm not really sure if it's a bug or it's expected from Typescript's AST, but at least it's a bit unintuitive for someone manipulating the AST. Basically the issue is that babel generator is not putting parens for nested unions and/or intersections, obeying the nesting of the AST.

The reason why I think this is confusing and not sure if it's a bug is that TS has a node called TSParenthesizedType

[2017-12-26 19:14] Tivoli commented on #7108
@loganfsmyth I'm having this same issue after upgrading to `7.0.0-beta.36`, the plugins were working before, but now they all spit out errors trying to parse an opts object that is now undefined.

One example is `@babel/plugin-proposal-object-rest-spread`, which now has the error `TypeError: Cannot read property 'useBuiltIns' of undefined`.

All my `@babel/*` plugins are on `7.0.0-beta.36`.

[2017-12-26 19:40] Tivoli commented on #7108
Upon further exploration, this is only happening when using babel register, e.g. `mocha --compilers js:babel-register`.

[2017-12-26 20:22] loganfsmyth commented on #7108
That'd do it. `babel-register` is Babel 6. `@babel/register` would be for Babel 7.

[2017-12-26 20:24] niftylettuce commented on #7108
I don't have any babel 6 deps in my project, which is odd...

[2017-12-26 21:05] loganfsmyth commented on #7108
@niftylettuce What's the full stacktrace on the error you get?

[2017-12-26 21:20] niftylettuce commented on #7108
I had a stray child dep that had `babel-core`, after fixing the error went away (<https://github.com/niftylettuce/babelify/commit/165d668fc851afec2e9b3942910533c4bbf2c1a9#diff-168726dbe96b3ce427e7fedce31bb0bcR4>) ☹️

Thanks for your help @loganfsmyth in debugging.  I'll close this issue in meanwhile.

[2017-12-26 21:20] #7108 closed

[2017-12-26 21:24] loganfsmyth commented on #7108
Cool, yeah we'll get updates to all of our integrations released eventually. We've just been more focused on getting Babel 7's core ready.

[2017-12-26 21:44] nicolo-ribaudo commented on #7063
Yes, it should be master. I suggest not editing directly master in your fork, but creating a new branch based on master. Otherwise you can't work on anything else until your PR gets merged :slightly_smiling_face:

[2017-12-26 21:58] nicolo-ribaudo commented on #7088
That code can't throw a `ReferenceError`, since it never references a `findDOMNode` variable :thinking:

Btw, react-dom only has a default export: https://github.com/facebook/react/blob/dd8b387b69d73f9e8ed4f995ccb3cd927c0d33e3/packages/react-dom/src/client/ReactDOM.js#L1370

The only way to use `findDOMNode` should be
[code]

[2017-12-26 22:07] nicolo-ribaudo commented on #6915
I'm tempted to mark this as `won't fix`/`by design`, since `module.exports = new Mongoose`, which mongoose uses [1], is the equivalent of `export default new Mongoose`. Thus, `import { Schema } from "mongoose"` is wrong.

cc @vkarpov15 (I'm pinging you because by looking at mongoose's commits you are the main maintainer).
What do you think about this?

[1] https://github.com/Automattic/mongoose/bl

[2017-12-26 22:23] rosskevin commented on #7088
Thanks for pointing out that it only has a default export!  It looks like our pre-existing usage was wrong - but worked.

I'm uncovering this from working `js` code with babel 6 (using the named import) to the `tsx` code using babel 7.

Perhaps now it is raising that it was inappropriate usage, but it is certainly:
a) different than babel 6
b) bound to be brought up again

I'm happy to switch our

[2017-12-27 02:58] gy18505 opened #7110 "Module build failed: TypeError: Cannot read property 'loose' of undefined"
Help!! I got a problem while building a test demo, it said "`Module build failed: TypeError: Cannot read property 'loose' of undefined...`"

Here are some configs:
webpack.production.config :
[code]
.babelrc :
[code]

what should I do now ? is there any dependency I forgot to install?

[2017-12-27 03:08] loganfsmyth commented on #7110
The beta at this point has moved to `@babel/preset-env` and if you want to use the beta, you'll need to use Babel 7. This error implies that you are using Babel 6 to load this plugin, which is meant for 7.x.

[2017-12-27 03:08] rajzshkr commented on #7100
Looks interesting, I'll pick this.

[2017-12-27 03:15] gy18505 commented on #7110
@loganfsmyth OK, so it means that this preset dev cannot be used below a version of 7.x ? Then what should be used for babel 6 if there's no need installing babel 7.x for my project?

[2017-12-27 04:25] rajzshkr commented on #7110
For Babel 7.x:

Preset:- `@babel/preset-env`
In .babelrc
[code]
For Babel 6.x:

Preset:- `babel-preset-env`
In .babelrc
[code]

[2017-12-27 04:34] littledan opened #7111 "Separate "static" private and public fields into a different flag"
TC39 demoted static private and public field declarations to Stage 2 ([PR](https://github.com/tc39/proposal-class-fields/pull/65)). They are being pursued [in a separate proposal](https://github.com/tc39/proposal-static-class-features/) instead. Static fields should be moved to a separate flag which is included in the Stage 2 preset.

[2017-12-27 04:47] Kovensky commented on #7111
I'm not sure this is possible at all without splitting it into two separate transforms 🤔

[2017-12-27 04:48] jedwards1211 commented on #4630
I don't really get why anyone designs a JS tool to use a static configuration file nowadays.  It's so easy to load configuration from a JS module.  Is it just because people with a lot of experience working in non-interpreted langs are so used to using static files for configuration?

[2017-12-27 07:14] jefer94 opened #7112 "Why babel transform this"
babel transform **this** in **(void 0)**, that is undefined, and **(void 0).editor** get this

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]
[code]
[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            | 7.0.0-beta.36
| node             | 9.2.0
| npm              | 5.5.1
| Operating Syste

[2017-12-27 07:24] Kovensky commented on #7112
This is because you are using an arrow function, and an arrow function will keep the value of the `this` that is outside the arrow function.

In babel, if you are using any module transform (which is used by default on the presets), all files are treated as modules, not scripts, and modules have a top level `this` that is `undefined`.

If your function needs to have its own `this`, it should be wr

[2017-12-27 08:52] jefer94 commented on #7112
Wooo, i don't know that, with function i got the same, i don't now why, for me a function is a object and for that contain a **this**

I only want use memoization, for get my CodeMirror in various modules

[code]

[2017-12-27 08:54] xtuc commented on #4630
@jedwards1211 I'm not sure to understand your point. The Babel JavaScript configuration is now available in Babel 7.

[2017-12-27 09:23] Kovensky commented on #7112
What is happening is that you are calling `editor()`. In functions that are not called via an object, `this` is `undefined` in strict mode (http://2ality.com/2014/05/this.html), and modules are *always* strict mode.

It seems you are trying to put this `editor` in a global named `editor` (which is, by the way, a bad idea). I'm going to have to explain this through some code review, but:

You decla

[2017-12-27 09:25] nicolo-ribaudo commented on #7112
`this` in functions is only created when you use `new`, otherwise you aren't creating an object and thus `this` is undefined.
Unfortunately you can't just replace `editor()` with `new editor()`, because a new `this` object would be created every time.
You can avoid this problem in two ways:
1) Use a closure
[code]

2) Use an object represented by `this`:
[code]

[2017-12-27 09:25] #7112 closed

[2017-12-27 09:32] nicolo-ribaudo commented on #7112
Also, you might take a look at https://github.com/scniro/react-codemirror2/

[2017-12-27 09:53] YonatanKra opened #7113 "[Bug]: When using babel with preset-env I get errors in Chrome, IE11, Edge and FF"
**Bug report**

### Input Code
Here's a branch with the issue:
https://github.com/YonatanKra/YOPF/tree/babel-with-dynamic-import

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
In branch: https://github.com/YonatanKra/YOPF/blob/babel-with-dynamic-import/webpack.config.js

### Expected Behavior
I expect the app to load with no error

### Current Behavior
When using babel with

[2017-12-27 10:12] nicolo-ribaudo commented on #5862
Which babel version are you using? That PR has been merged in Babel 7

[2017-12-27 10:15] nicolo-ribaudo commented on #7113
I don't think that this causes the problem, but you should use babel/plugin-syntax-dynamic-import, not babel-plugin-syntax-dynamic-import

[2017-12-27 10:24] sqal opened #7114 "Issue with transform-runtime and defualt export using computed property names"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

You can clone the repo with reproduction: https://github.com/sqal/babel-7.0.0-beta.36-bug

### Expected Behavior
I expect default import in index.js (actions) to be present

### Current Behavior
Default import in index.js is not present. I am

[2017-12-27 10:44] littledan commented on #7111
I [implemented](https://chromium-review.googlesource.com/c/v8/v8/+/839778) the split in V8 by throwing a syntax error when seeing static fields in the syntax. The actual implementation under that stayed untouched, so most of the work was getting the tests split up properly.

[2017-12-27 11:01] yavorsky opened #7115 "`spec` option for transform-classes/shorthand-properties ?"
Currently, I'm working on the PR that add an additional check for object/class methods to throw an error on attempts to use it as a constructor. It will extend current methods, which can affect the output size.
For example:
[code]

We already have `newArrowCheck` helper, which is added with the `spec` option. But we don't have `spec` options for *transform-classes* and *transform-shorthand-propert

[2017-12-27 12:57] nicolo-ribaudo commented on #7114
This issue can also be reproduced using only preset-es2015 end exporting an object with more than one compited property: https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA28DeAoOOAbVQF0AuOAIwBoDiBjCxPAXyA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015%2Creact%2Cflow&prettier=false&targets=&version=7.0.0-beta.3

[2017-12-27 12:57] xtuc commented on #7115
LGTM

It's only adding one line (and only with the spec option):

[code]

[2017-12-27 13:08] yavorsky commented on #7115
And
[code]
sometimes in the top, when we are not using `babelHelpers`.

[2017-12-27 13:46] ziofat commented on #5862
latest, v6.26.0.

[2017-12-27 14:06] littledan commented on #7111
By the way, about compatibility with existing users of the transform: What if we made two smaller transforms, public-instance-fields and public-static-fields, and made the existing transform alias the combination?

[2017-12-27 14:37] frigus02 commented on #4045
I cannot reproduce this issue anymore. I tested with the following versions:

*   Babel: 6.26.0 (with Node v9.3.0)

    Output:
[code]

*   Babel: 7.0.0-beta.36 (with Node v9.3.0)

    Output:
[code]

With `comments: true` the `/*:: import ..` comment stays and only the `/* @flow */` comment gets removed. With `comments: false` all comments get removed.

Seems like this issue is fixed.

[2017-12-27 15:09] rosskevin commented on #7088
@nicolo-ribaudo - I still agree that there is only a default export on `react-dom`, but I just bumped into an example again and wanted to note:
- named imports from react-dom work in babel 6 and js ([create-react-app sample](https://codesandbox.io/s/new))
- named imports from react-dom work in typescript ([create-react-app sample](https://codesandbox.io/s/react-ts))

So while it seems technically

[2017-12-27 15:21] nicolo-ribaudo commented on #7111
That shouldn't be a problem, since we already removed the old export-extensions plugin when we split it.

[2017-12-27 15:33] jedwards1211 commented on #4630
@xtuc ah good.  I was mainly commenting that I'm surprised the authors didn't make that the primary form of configuration file from the start.

[2017-12-27 15:35] jedwards1211 commented on #4630
But *really*, I wish I could configure babel with XML 😆

[2017-12-27 16:14] vkarpov15 commented on #6915
@nicolo-ribaudo I agree, statements like `import * from 'mongoose'` and `import {model} from 'mongoose'` do not work with mongoose because of how the lib is structured. I opened up an issue on the mongoose repo (https://github.com/Automattic/mongoose/issues/5940) to make a note of this on the readme.

[2017-12-27 16:32] danhead commented on #7110
I believe I'm experiencing a similar issue, I'm trying to use the latest `@babel/core` and `@babel/preset-env` with the latest version of `jest` and `babel-jest`, but am getting the following error:

[code]

I've created a small package to replicate the error here: https://github.com/danhead/jest-test

[2017-12-27 16:49] loganfsmyth commented on #7110
See https://github.com/facebook/jest/blob/master/packages/babel-jest/README.md#usage for instructions for using Babel 7 with jest.

[2017-12-27 16:51] xtuc commented on #7102
Yes, I was about to say that Babel 5 isn't maintained anymore.

The bug is still present in Babel 7.

[2017-12-28 01:49] jefer94 commented on #7112
Ok in much tutorial all say that all function contain a **this**, and really were **window** as **this** global, okey now i know, thanks dude.

The **rel** attribute i did not understand how it work, but i implemented a anonymous class, and it now work

[code]

[2017-12-28 01:55] alangpierce opened #7118 "[TypeScript]: Syntax error on "export default interface" syntax"
Choose one: is this a bug report or feature request?
**Bug report.**

### Input Code
[code]

[Parse error in Babel repl](http://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA28CWA7GYKNAY2DgEE4BvAXyA&debug=false&circleciRepo=&evaluate=true&lineWrap=false&presets=es2015%2Ces2016%2Ces2017%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3%2Ces2015-loose%2

[2017-12-28 02:02] Kovensky commented on #7118
That... shouldn't work, `export default` is a value; `interface` is not a value. It's not allowed by typescript's own spec either:

https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#11342-export-default-declarations

This is either a bug in typescript or on its spec.

[2017-12-28 02:23] alangpierce commented on #7118
It was explicitly added in https://github.com/Microsoft/TypeScript/pull/16040 and is part of a list of new `export default` syntaxes that are in progress: https://github.com/Microsoft/TypeScript/issues/3792#issuecomment-303526468 , so my guess is the spec hasn't been updated.

[2017-12-28 02:38] Kovensky commented on #7118
I personally would prefer if they didn't do that and kept `export default` strictly with its value semantics, but rolling it back would be a breaking change... 😢

[2017-12-28 03:17] dickeylth commented on #7002
@nicolo-ribaudo I'm wondering what's the difference between `FunctionDeclaration` & `ExpressionStatement`, I'm encountering the issue that `insertBefore` won't respect `leadingComments`: <https://github.com/babel/babel/issues/7102#issuecomment-353829115>, and the result in `FunctionDeclaration` demo is just what I expected, however the `ExpressionStatement` would insert code after `leadingComments

[2017-12-28 10:19] phyllisstein opened #7122 "Exporting TypeScript enum throws error: "We don't know what to do with this node type.""
### Choose one: is this a bug report or feature request?
Bug report.

### Summary
Starting in v7.0.0-beta.36, exporting a TypeScript enum causes Babel to throw an error during transpilation: "We don't know what to do with this node type. We were previously a Statement but we can't fit in here?"

### Input Code
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

#

[2017-12-28 10:20] damianobarbati commented on #6766
1) Is there any existing documentation about the `.babelrc.js` file?
2) Is there any alternative to have specific env configuration *overrides* without external configuration files (but `babel` section in package.json)?

I'm currently using this (package.json):
[code]

All I'd like to do is having `"debug: false` when `NODE_ENV=production`.
I just want to override @babel/preset-env configuration.

[2017-12-28 10:29] Kovensky commented on #7122
Is this maybe fixed by https://github.com/babel/babel/pull/7116? 🤔

[2017-12-28 10:47] nicolo-ribaudo commented on #7122
I don't think it is, since that PR is only about default exported expressions.

The problem is that transform-typescript conflicts with some other plugin, since it works with only preset-env enabled: https://babeljs.io/repl/build/master#?babili=false&browsers=last%202%20versions&build=&builtIns=false&code_lz=KYDwDg9gTgLgBMAdgVwLZwIJwN4Cg5wBKAogMLECSAasQPoAKA8gMoAqzcAvHAOQnnU6TNsx4AafEWIBFAKrE2DFqy

[2017-12-28 11:11] phyllisstein commented on #7122
🤕 🌴 Sorry for the bogus issue, it turns out `babel-loader` had installed its own version of Babel that was stuck on beta 35. Purging the ole `node_modules` and truing my monorepo's versions up did the trick. Thanks for jumping in so quickly, and forgive the noise.

[2017-12-28 11:11] #7122 closed

[2017-12-28 12:08] shubhamg931 commented on #4045
Is the issue fixed?

[2017-12-28 15:55] nicolo-ribaudo opened #7123 "export default @decl class {} is parsed as a class expression"
### Input Code

[code]

https://astexplorer.net/#/gist/2688ce655edf069660a7286477acd1fe/289582be3068e25daa64d745f6fa71275ffca05c

### Expected Behavior
It should be a classs declaration

[2017-12-28 16:50] jrencz opened #7125 "`@babel/plugin-proposal-class-properties` code generation incorrect order (beta 36)"
Choose one: is this a bug report or feature request?
Bug

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Identifiers which are used as names of computed properties are assigned to before they are used as computed property names.

### Current Behavior

Identifiers which are used as names of computed properties are assign

[2017-12-28 16:55] jrencz commented on #7125
Temporary solution I developed to work this problem around is to replicate the method after class is declared with ES5 syntax:

[code]

[2017-12-28 17:19] nicolo-ribaudo commented on #7125
@Andarist Might this bug have been introduced by https://github.com/babel/babel/pull/6530?

[2017-12-28 19:17] #7103 closed

[2017-12-28 19:30] existentialism commented on #7110
@gy18505 did switching to `@babel/preset-env` fix your issue?

[2017-12-28 20:59] DanielRosenwasser opened #7126 "TypeScript string enum members should not have a reverse mapping"
**Bug**

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

### Expected Behavior

[code]

or

[code]

http://www.typescriptlang.org/play/index.html#src=enum%20E%20%7B%0D%0A%20%20%20%20a%20%3D%20%22hello%22%2C%0D%0A%20%20%20%20b%20%3D%20a%2C%0D%0A%7D

### Current Behavior

[code]

### Your Environment

Babel 7

[2017-12-28 22:07] nicolo-ribaudo opened #7127 "transform-dotall-regex shouldn't be enabled when targeting node 9"
[code]

but it works natively:
[code]

[2017-12-28 22:16] existentialism commented on #7127
@nicolo-ribaudo we'll need to update compat-table

[2017-12-28 22:23] nicolo-ribaudo commented on #7127
Oh, I didn't notice that compat-table doesn't has data about node 9 yet.

[2017-12-28 22:23] #7127 closed

[2017-12-29 00:05] DanielRosenwasser opened #7128 "Inner-references in TypeScript enums should resolve appropriately"
**Bug**

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

### Expected Behavior

Within the enums, we should resolve `a` to `E.a` and appropriately emit something like `E.a`

[code]

### Current Behavior

[code]

### Your Environment

Babel 7

[2017-12-29 03:00] h1b9b commented on #6634
As it has being a month since this issues was claimed and I was exploring babel code base, I submitted a pull request to remove the `hasBeenLogged` flag from `babel-preset-env`

[2017-12-29 07:47] 8427003 opened #7132 "babel not working for the file which a Babel-Minify builded"
ckEditor5 has a  build file （https://github.com/ckeditor/ckeditor5-build-classic/blob/master/build/ckeditor.js ）which is special。it's build by Babel-Minify，an ES5+ file。

when i require(...ckeditor.js) with babeljs, then uglify（only supports ES5） it, it not working。i find bablejs can't convert the file to es5 completely。

entry.js
[code]

webpack.config.js
[code]

.bablerc
[code]

[2017-12-29 09:47] nicolo-ribaudo commented on #7132
Webpack and Babel versions?

[2017-12-29 10:15] 8427003 commented on #7132
[code]

[2017-12-29 12:39] 8427003 commented on #7132
@nicolo-ribaudo  you can simply let the bug come out by
[code]

then search compiled.js by  the keyword  '=>', you will get two. I think arraw function should not be display after babel

[2017-12-29 12:41] bsuh opened #7134 "Nested async functions transpiled to regenerator broken since v7.0.0-beta.35"
It started happening after https://github.com/babel/babel/pull/6984

From a cursory glance, my hunch is the pull request didn't introduce this bug but uncovered a bug with transform-regenerator.

I have created a minimal repro https://github.com/bsuh/babel-broken-async

index.js
[code]

console output
[code]

[2017-12-29 13:59] xtuc commented on #7132
Could you please send us part of the compiled file? The part with the two fat arrows.

[2017-12-29 14:11] #7071 closed

[2017-12-29 14:12] jrencz opened #7135 "Problem with babel@7 way of transforming export syntax (beta 36) + webpack require algorithm"
(Please do look at [Context](#user-content-#context) first. It will help understand the code examples which, according to the issue template should be above)

Choose one: is this a bug report or feature request?
Bug, more probably an edge case

### Input Code

(Snippet A: index module exporting 2 classes from modules which export each as default)
(2 ways of doing the same with different syntax are

[2017-12-29 14:19] #6634 closed

[2017-12-29 14:47] jrencz commented on #7125
I have some more input for this:

it's not that only imported identifiers get corrupted.
I have a piece of code where identifier is defined locally and it's assigned a symbol. There's no import at all in that module. Properties don't need to have compute names. Then the identifier is used as a name of a method. the same bug occurs. It looks more or less like this:

[code]

It happens regardless of

[2017-12-29 16:29] loganfsmyth commented on #7135
I have an idea of what change caused this break, and I'm thinking this is probably a latent bug in your own code that Babel 7 exposed while fixing a bug. Easy to verify though.

Can you see if your code works if you change your model index to

[code]
So the `DocumentRepresentation` file will run first again, like it did on Babel 6? I'm thinking you have a dependency cycle that makes the order impo

[2017-12-29 17:00] jrencz commented on #7135
It did help.

But I still don't understand why exactly.
I imagine import order may matter if we have `require` implementation that has side effects (in case of webpack: caching the already initialised modules)

Does the spec say anything about that?

[2017-12-29 17:05] jrencz commented on #7135
So I understand it this way: babel@6 did change the order or *imports* (it doesn't matter why at the moment) and babel@7 keeps the order as authored. So: babel@7 does the right thing (at least: a predictable thing)

I do have some edge case in dependency graph then, but I don't yet know what is it.

[2017-12-29 17:06] loganfsmyth commented on #7135
To me that indicates that your code has been written to have dependency cycles, some some modules depend on others that depend back on the original. This can lead to cases like yours, where the representation hasn't been initialized yet when your code tries to use it.

Could you post the stack trace from the error you were seeing originally? Usually the stack trace in these types of errors clearly

[2017-12-29 17:22] loganfsmyth commented on #7135
Yup! We fixed https://github.com/babel/babel/issues/4356 which was causing re-exported items to be `require()`d in the wrong order compared to the source. It seems like your code was relying on that backward ordering.

[2017-12-29 17:26] jrencz commented on #7135
I can't paste the trace but I analysed it.
The error is a runtime error `Uncaught TypeError: _lib.DocumentRepresentation is not a constructor` (it's not thrown during build - I see it in dev tools, not in shell).

After removing webpack bootstrap elements it's more or less:
- Module with controller (where non-constructor is constructor-called)
- Module that combines the controller, the template an

[2017-12-29 17:35] jrencz commented on #7135
There's one thing that didn't seem to matter to me when I created the issue but now I see it does.

Below the `import Document from './Document';` was wrapped with some comments:

[code]

It looks like this was a workaround. An unintentional one but it apparently did work because of what babel@6 does.

BTW this (with order you suggested but with `export...from` syntax):

[code]

works as well.

I

[2017-12-29 17:45] loganfsmyth commented on #7135
It's super hard to diagnose this type of thing without real code to look at. I can elaborate more on my expectation though, because I don't think I described it well. When you break at the `Uncaught TypeError: _lib.DocumentRepresentation is not a constructor` error, look in the stack trace. I'd expect an entry for `DocumentRepresentation.js` somewhere in the stack trace, on a line that does an imp

[2017-12-29 17:51] nicolo-ribaudo commented on #7135
@jrencz Can you try to disable modules transformation? (Add `"modules": false` to the preset-env options)
Maybe Webpack handles untranspiled imports better.

[2017-12-29 17:58] loganfsmyth commented on #7135
@nicolo-ribaudo In this case, I'd be quite surprised. If it works in Webpack, it seems like that would mean Webpack had the same bug that Babel 6 had, which I don't believe it does.

[2017-12-29 18:28] jrencz commented on #7135
@nicolo-ribaudo I tried and it does handle the case!

And the total size of all chunks has been reduced by 5.9% (to be precise: it didn't change the size of a chunk where I place 3rd party libraries but it decreased the size of app chunk by 8.5%)

[2017-12-29 18:41] loganfsmyth commented on #7135
Hmm, if it does work in Webpack but not Babel 7, it's definitely important to trim down a reproducible case of this, since either way there's either a bug in Webpack, or a bug in Babel.

Would you be able to trim down your code to a reproducible sample?

[2017-12-29 18:45] jrencz commented on #7135
@loganfsmyth definitely not before first week of January.

Can't it "just" be that if webpack is given the "raw" modules it can apply more logic to optimise how dependencies are resolved?

[2017-12-29 18:57] loganfsmyth commented on #7135
It could be that you're hitting an edge case of modules that Babel can't emulate in CommonJS, so doing ES6 -> Babel CommonJS ->Webpack could fail where ES6 -> Webpack works. As far as I'm aware those edge cases are pretty rare, but if they do come up, they'd likely be around `export * from` which you are using a bit of, so it's possible.

There's no rush, and it seems like you've got a couple opti

[2017-12-29 19:01] jrencz commented on #7135
to be honest I actually use a lot of it.

My project consists of a tree of similar "components".

Each has its own `./lib` which has the logic. Each `./lib` has `index.js which gathers named outputs from the inner directories' indices.

[2017-12-30 00:28] bsuh commented on #7134
Confirmed to be an issue in regenerator-transform. Will close this.

Issue
https://github.com/facebook/regenerator/issues/225

Pull request
https://github.com/facebook/regenerator/pull/335

[2017-12-30 00:28] #7134 closed

[2017-12-30 02:03] 8427003 commented on #7132
@xtuc the source file is: https://github.com/ckeditor/ckeditor5-build-classic/blob/master/build/ckeditor.js
the compiled file:
[code]

[code]

arraw function only one point,  may be the source file is too big， please carefully study the file
？

[2017-12-30 10:34] Andarist opened #7136 "Default exported named declarations acting as live references"
**Bug**

### Input Code
[repl](https://babeljs.io/repl/#?babili=false&browsers=last%202%20Safari%20versions&build=&builtIns=true&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA29noHYDGMAlhHnLoQBQCUcA3gL4BQlRp5AzgLYwAWtBszgV8BOAF44AVmaMgA&debug=true&circleciRepo=&evaluate=true&lineWrap=true&presets=es2016%2Ces2017%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3%2Ces2015-loose&prettier=false&targets=&version=7.0.0

[2017-12-30 13:22] nicolo-ribaudo commented on #7136
Isn't
[code]
equivalent to
[code]
?

[2017-12-30 13:28] nicolo-ribaudo commented on #7136
Oh, I just found this answer from @loganfsmyth: https://stackoverflow.com/a/39277065/2359289

[2017-12-30 17:37] Andarist commented on #7136
Hm, that would mean that function/class declarations in position of default export can in fact be reassigned and it acts as live binding. Had impression that defaults are a special case and their values cannot be reassigned.

[2017-12-30 17:37] #7136 closed

[2017-12-30 20:47] Andarist commented on #7125
@nicolo-ribaudo it might be, gonna investigate this.

[2017-12-30 22:53] #6668 closed

[2017-12-31 00:56] avesus opened #7138 "[@babel/generator] Why to keep single quotes behind private APIs?"
https://github.com/babel/babel/blob/3956b3ee0e92f24890155a6734c5d2658afe2843/packages/babel-generator/src/index.js#L49

[2017-12-31 01:11] loganfsmyth commented on #7138
We historically made any guarantees about formatting in the output code from Babel beyond that it execute the way the spec dictations, and quotes were kind of an odd one where we actually exposed it. If specific formatting is important for you, you could for instance consider running Prettier on the code after it compiled.

[2017-12-31 01:12] loganfsmyth commented on #7138
Made a quick typo there haha, fixed.

[2017-12-31 02:46] hzoo commented on #7138
Reference issue I made earlier https://github.com/babel/babel/issues/5139, we decided to remove formatting options because it's a compiled code and didn't seem necessary? It didn't make sense to be a formatter when there are actual options for that (ideally we could combine the codebases though if that is possible)

[2017-12-31 03:47] shellscape commented on #7110
Tossing my hat into the ring. Getting the same error about `loose`.

[code]
And my `.babelrc`

[code]

Running a simple `$ babel client.js` command. Produces the same error as others have listed above:

[code]

[2017-12-31 03:53] hzoo commented on #7110
If you are getting `Cannot read property 'loose' of undefined` you probably have an mismatched version in package-lock/yarn.lock due to `^`? Also in your babelrc you need to wrap the preset in `[]` like

[code]

otherwise you have 2 presets

[2017-12-31 06:40] maaz93 commented on #7128
I'd like to take this up, if that's ok. I think I know the fix. The code dealing with evaluating the constant value has a mechanism by which it tracks the `seen` identifiers. This `seen` map is never updated. Hence the value of `b` in the above example just remains `a` and doesn't get the already evaluated value of `a`, i.e. `10`.

I think the fix is to add `seen[name] = constValue;` just above th

[2017-12-31 15:05] sag1v commented on #4019
We also use the solution mentioned above to check if `_babelPolyfill` already loaded, but we check for `global` abd `window`  as well:
[code]

[2017-12-31 16:44] swymmwys opened #7139 "Cannot read property 'helpers' of undefined"
Hi.
I got a following error: 'Cannot read property 'helpers' of undefined.'
Hope anyone can help with that.

Also I got a https://github.com/babel/babel/issues/7110 without "plugins" in my .babelrc.

### .babelrc, package.json

[code]

[code]

### Error
[code]

[2017-12-31 20:17] nicolo-ribaudo commented on #7139
How are you running Babel?

[2018-01-01 14:42] swymmwys commented on #7139
I using https://github.com/parcel-bundler/parcel wich run babel under the hood

[2018-01-01 20:52] xtuc commented on #7139
As far as I can see parcel is using Babel 6 and you are using Babel 7 plugins.

Could you please try to downgrade the plugins you're using?

The other error is also probably due to that incompatibility between those versions.

[2018-01-02 00:53] bochen2014 opened #7142 "[@babel/plugin-syntax-object-rest-spread] not working at all"
I use the same way as I did for `@babel/plugin-proposal-class-properties` and `@babel/plugin-transform-async-to-generator`.
Both the other two are working as expected , but the `rest/spread` one doesn't work at all

[2018-01-02 01:14] hzoo commented on #7142
You are using the syntax plugin - you probably mean the proposal plugin? Next time I would provide more information if possible since otherwise we have to guess what the issue is 🙂

[2018-01-02 01:14] #7142 closed

[2018-01-02 01:31] bochen2014 commented on #7142
problem solved ;-)
 didn't even noticed there is a 'syntax' one and a 'proposal' one

[2018-01-02 01:56] dickeylth commented on #7102
I'm wondering if we had any workaround for the issue?

[2018-01-02 17:53] swymmwys commented on #7139
@xtuc
Yes, version downgrade helps, build complete successfully.
Now .babelrs and package.json looks like this
[code]
But I have an error when trying to run my app.
[code]

I know, what a lot of topics already exist on the web about this issue.
But I realy confused about what I should do to work with 'async/await' syntax in my app.
I will be very appreciate if some one can help me with that.
Thank

[2018-01-02 18:43] nicolo-ribaudo commented on #7139
You should include babel-polyfill in your bundle

[2018-01-02 18:47] swymmwys commented on #7139
@nicolo-ribaudo
But I already use babel-plugin-transform-runtime instead of  babel-polyfill.
Or they are not interchangeable?

[2018-01-02 19:19] nicolo-ribaudo commented on #7139
Mh yes, they should be.
Can you provide some code (both the input and the transpiled output) which shows the issue?

[2018-01-02 19:27] swymmwys commented on #7139
input
[code]

output
[code]

[2018-01-02 19:47] xtuc commented on #7139
Or they are not interchangeable?

No, the async-to-generator plugin requires regeneratorRuntime and its runtime which is available in babel-polyfill fill.

[2018-01-02 20:10] swymmwys commented on #7139
@xtuc
Yes, now it's work correctly.
Thanks.
But should I always import the babel-polifill or maybe exist some alternative approach?

[2018-01-02 20:19] xtuc commented on #7139
Actually Nicolo is right, babel-plugin-transform-runtime should include it (modulo the config).

I can dig into this once I get to my computer.

[2018-01-02 20:51] nicolo-ribaudo commented on #7139
@swymmwys I tested your code with Babel 6 (without using parcel) and it works

<details>
<summary>
Output
</summary>

[code]

</details>

I don't know Parcel so I don't know what the issue could be, maybe @xtuc can help.

[2018-01-02 20:55] swymmwys commented on #7139
@nicolo-ribaudo
Can you please share your .babelrc and package.json that you are using?

[2018-01-02 21:11] nicolo-ribaudo commented on #7139
@swymmwys I also tested it with parcel and it works :thinking: Can you setup a repository wchich reproduces the issue?

<details>
<summary>My .babelrc</summary>

[code]

</details>

<details>
<summary>My package.json</summary>

[code]

</details>

PS. `async-to-generator` is included in `preset-env`, so you don't need to specify it in `.babelrc`

[2018-01-02 21:26] xtuc commented on #7139
FYI @swymmwys https://github.com/parcel-bundler/parcel/pull/475

[2018-01-02 21:45] swymmwys commented on #7139
@nicolo-ribaudo
I also had tryed to reinstal all my dependencies and after that all is worked fine.
Perhaps it's because I was trying to many solution to solve my issue from the begining and just had polluted node_modules with different versions of different packages. And parcel just don't know what to choose.

@nicolo-ribaudo @xtuc
Thanks for you support. Very appreciate.

[2018-01-02 21:46] #7139 closed

[2018-01-02 22:27] jeysal commented on #6171
In case anyone else stumbles upon this and wonders why the ESTree format would allow this even though ECMA-262 does not:
https://github.com/estree/estree/issues/40

[2018-01-02 23:03] toubou91 commented on #7067
Shouldn't we close this one?

[2018-01-02 23:09] nicolo-ribaudo commented on #7067
Yup

[2018-01-02 23:09] #7067 closed

[2018-01-03 01:29] jeysal opened #7145 "buildCodeFrameError calls codeFrameColumns with broken loc"
## Bug Report

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

The error thrown includes code frame information:
[code]

### Current Behavior

[code]

### Possible Solution

`buildCodeFrameError (packages/babel-core/src/transformation/file/file.js)` calls `codeFrameColumns (packages/babel-code-frame/src/index.js)` with `

[2018-01-03 02:53] #7145 closed

[2018-01-03 07:12] omeid commented on #7110
If you're using something like `webpack-dashboard` or other packages that depends on `babel-core` instead of `@babel/core` you will have this problem even if you got the right package versions in your `package.json`.

Check your `yarn.lock/package-lock.json` for `babel-core` and find it out what is pulling it.

[2018-01-03 11:25] noteScript opened #7148 "在某些开发技巧的情况下，babel 转码后未转换ES6的模板字符串“`”"
## 例子：
[code]
## 问题：
转码后保留了alert(`1`)中的“`”

[2018-01-03 12:01] xtuc commented on #7148
I'm closing this, could you please re-open an issue in english with our issue template?

[2018-01-03 12:01] #7148 closed

[2018-01-03 12:03] xtuc commented on #7132
I'm not sure to understand, you are saying that in the compiled file, the invalid syntax `=> =>` is present?

Note that you can attach files to comments, see at the bottom of the textarea when posting one.

[2018-01-03 12:11] xtuc commented on #7138
@avesus what is your use case?

Note that you can use https://github.com/benjamn/recast with Babel to preserve original formatting.

[2018-01-03 13:21] #7100 closed

[2018-01-03 14:39] #7125 closed

[2018-01-03 16:08] nairicode commented on #6848
Hi, @nicolo-ribaudo thanks for reporting issue, I will work on this issue.

[2018-01-03 17:22] nicolo-ribaudo commented on #7114
Fixed in #7116

[2018-01-03 17:22] #7114 closed

[2018-01-04 00:37] hualu00 opened #7150 "presets overwrite doesn't work as expected inside babelrc env options"
I'm trying to overwrite the presets es2015 in build env, so that we could support es2015 modules. Bellowing is some basic babelrc config
[code]
However the modules are still transfered to commonjs modules.
PS: I've changed the BABEL_ENV to 'build' and babel version is 6.X

Am I doing something wrong?

[2018-01-04 01:26] noteScript commented on #7148
ok

[2018-01-04 02:08] noteScript opened #7151 "In some cases,The "`" in ES6 is not transcoded by Babel"
## Example:

## Bug:

## Other:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-01-04 05:16] jhamet93 commented on #7151
Would this be a good first pull request to tackle ?

[2018-01-04 05:21] jhamet93 commented on #7151
Would this be a good first pull request to tackle ?

What's the expectation ?
I noticed when surrounding the body of the conditional with braces, it transpiles correctly. Should this instance work correctly without braces as well since its technically a one line statement ?

[2018-01-04 05:30] perinikhil commented on #6691
Hi @nicolo-ribaudo
I've gone through the Spec too and yes this seems to be a wrong behavior...
Can you point me to the right place i should look to resolve this?

[2018-01-04 06:15] noteScript commented on #7151
@jhamet93 This should be a bug,I expectation：
## source code:
[code]
## babel code[now]:
[code]

## babel code[expectation]:
[code]
## explain:

[2018-01-04 07:05] jameslcj opened #7153 "How to preserve jsx comment after babel transform"
### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

I want to preserve  jsx comments, like this
[code]
### Current Behavior
but babel remove my jsx comments
[code]
### Possible Solution

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  6.26.0
| Babylon

[2018-01-04 07:27] Kovensky commented on #7153
It looks like `babel-generator` just is not printing the comments :(

I am not sure, but this probably just needs a call to `this.printInnerComments(node)` inside https://github.com/babel/babel/blob/830c527bb7873b29f671a3568b21b4a6af98ceda/packages/babel-generator/src/generators/jsx.js#L94.

[2018-01-04 08:08] nicolo-ribaudo commented on #6691
Probably in packages/babylon/src/tokenizer/index.js there is a method which parses regular expressions (I'm from the smartphone so I can't check right now).

[2018-01-04 08:18] nicolo-ribaudo commented on #7151
Does it works if you remove `targets` option? If yes, probably every browser that you specified supports template literals.
Anyway, you should add uglify to your targets.

[2018-01-04 09:00] noteScript commented on #7151
@nicolo-ribaudo Not every kind of writing like this, I find it seems like this is more than one in the array. I used vue-cli.

[2018-01-04 09:02] Kovensky commented on #7151
@nicolo-ribaudo that can't be it because "last 2 versions" includes IE10 which supports nothing at all

[2018-01-04 10:19] noteScript commented on #7151
@Kovensky It should not be possible for you to say this situation, which is not necessarily the case. I found that more than two times in the array call a method, the parameter of this method used "`" splicing, and this error will appear!

[2018-01-04 11:35] 8427003 commented on #7132
sorry, my English is poor. i means:

 ```ckeditor.js ```'s syntax for **Es6**, after run below command:
[code]

**i expect**: ```compiled.js```'s syntax for **Es5**.

**The actual is**:
 in compiled.js file, you will find ```=>``` syntax still remain in  two places ( arrow function syntax is for ES6, babel can't transform ES6 to ES5 completely)

the ckeditor.js file:
https://github.com/ckeditor/ck

[2018-01-04 15:03] gs-akhan commented on #7128
@maaz93 Just a side question, How do you debug this TS parser ? You add break points into the source and run it for a simple script ?

[2018-01-04 15:17] ksmithbaylor commented on #6889
Does the spec actually support this? The example in the README only shows

[code]

which is an equivalent of

[code]

And in the current grammar defined in the spec draft, there is no option for a RHS without a *LogicalORExpression* expansion.

[2018-01-04 17:14] maaz93 commented on #7128
@gs-akhan Yes. But I don't know if  you can debug without running tests (the [contribution guidelines](https://github.com/babel/babel/blob/master/CONTRIBUTING.md#debugging-code) talk about using tests). So, I run the tests related to this particular plugin, using `TEST_DEBUG=true TEST_ONLY=transform-typescript make test-only`) and open `chrome://inspect` in  Chrome. There, you'll find a **Inspect*

[2018-01-04 19:27] nicolo-ribaudo commented on #7128
Usually I create a demo.js file and debug it with the VSCode debugger.

e.g.
[code]

[2018-01-04 19:41] gs-akhan commented on #7128
Nice .. @maaz93  & @nicolo-ribaudo
That indeed helped.

[2018-01-04 20:10] existentialism commented on #7153
@joaomcarvalho it would be, but unfortunately there's already a PR open for it! thanks though!

[2018-01-04 20:11] #7153 closed

[2018-01-04 22:46] nicolo-ribaudo opened #7156 "Computed accessor pairs shouldn't be merged"
Choose one: is this a bug report or feature request?

### Input Code

[code]

https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=DYUwLgBAlhC8EAYDcAoFpICcQGcCuwk8ARMaigGZ4B2AxmFAPbUQXUAUAlBAN4oTQA1INQDsYPJhYxYsiAEYIAfgjEKjRsQgAuVQCMAhpjIoAvmlrADOHBACCvfhADm4CAG02XALpdeEbHxCCEESV0h1TSQIcwEcN08OTl8Dbh4A3AJIUNV4yENjaPNzFAA3IwgADzgIahAAd3suVECskJIAcXAGamdWDV0TSoA

[2018-01-04 23:11] DanielRosenwasser opened #7157 "TypeScript 2.7 introduces the definite property assignment assertion operator (!)"
While I am actually enthusiastic, the `!` in the title actually has more to do with the syntax. TypeScript 2.7 permits a bang following any class property declaration.

[code]

The above is an example of such usage. It asserts that `foo` will be initialized even if it is not initialized within the constructor.

On the other hand, this is only allowed on class instance properties

[code]

@andy-ms,

[2018-01-05 02:16] rtsao commented on #6766
IMHO, transpilation of node_modules is not a good pattern.

1. Publishing a module to npm assuming the consumer is using Babel is not good for the ecosystem, especially since Babel is used for more than just ECMAScript spec features; people do all kinds of stuff with Babel plugins
2. It's slower. Why shift the burden to module consumers? Better to do it once at publish-time.

Instead, library auth

[2018-01-05 03:16] existentialism commented on #7093
Fixed via https://github.com/babel/babel/pull/7094, thanks @stevefan1999!

[2018-01-05 03:16] #7093 closed

[2018-01-05 05:18] clayne11 opened #7158 "[Typescript] Error with generic params in interface."
See REPL: https://babeljs.io/repl/build/7.0/#?babili=false&browsers=&build=&builtIns=false&code_lz=C4TwDgpgBAqgdgQwE4gGJwDwEEA0UBKAfFALxQAUCAXFFgJSnH4BQzEAHmAPZLBQCWcYBCQAzBAGNoAYS4BbbgGcIWADaqoAb2ZQo2PACFC5OjXjI0mXFCM6op2IhTp9UACqFmAX2ZA&debug=false&circleciRepo=&evaluate=true&fileSize=false&lineWrap=true&presets=react%2Ctypescript&prettier=false&targets=&version=7.0.0-beta.36

It's pretty simple

[2018-01-05 05:21] clayne11 commented on #7158
Looks like this is the same as https://github.com/babel/babel/issues/7158. Closing.

[2018-01-05 05:21] #7158 closed

[2018-01-05 05:31] Kovensky commented on #6735
Oneliner that demonstrates the issue:

[code]

- Real engine (SM, v8): `{ b: 1, c: 3, d: 2 }`
- Babel: `{ b: 2, c: 3, d: 2 }`

I'm not sure there's anything we can do about it other than adding a nesting level to `_extend` for each spread object.

[2018-01-05 08:00] hualu00 commented on #4161
there is a way to set presets options through cli? like to turn off modules transform in es2015

[2018-01-05 08:06] Kovensky commented on #6735
Possible way to deal with it:

[code]

mergeDescriptors would return a new object with all descriptors merged (or we could give `{}` as the first argument if we want the flexibility to support merging into an existing object). This is so we can preserve getters/setters declared on the "top level" object, which would be clobbered by a more honest CopyDataProperties implementation.

`getProperties`

[2018-01-05 16:10] nveenjain commented on #7123
Hey @nicolo-ribaudo , I would love to work on this, I was going through parser file in babylon, it felt overwhelming, i don't know how to start there. Could you just point me from where should i start? or which file should i start? Also if there is similar guide for parser as there is for plugin? Thanks.

[2018-01-06 05:05] ark120202 opened #7162 "API to work with type definitions in plugins"
Choose one: is this a _bug report_ or **feature request**?

In Babel 7 we'll get a TypeScript support in Babylon. It's really awesome, but now, since babel just parses it, there is no way to get type of a variable, like `TypeChecker.getTypeAtLocation` in TypeScript Compiler API. There are `typeAnnotation` and `typeParameters` properties on some nodes, but they exist only on annotated ones. It's un

[2018-01-06 11:05] claudiopro opened #7163 "Reac isCompatTag validator accepts leading dash '-'"
Choose one: is this a bug report or feature request? Bug report

The React `isCompatTag` accepts a leading dash `'-'` in tag names. This means it will accept JSX tag names like `<-div>`.

### Input Code

Adding a test suite for the React `isCompatTag` validator:

[code]

Produces this error:

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

N/A, reproduced in unit tes

[2018-01-06 11:06] claudiopro commented on #7163
Preparing a fix

[2018-01-06 15:42] nicolo-ribaudo commented on #7123
You should look at https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js#L1357-L1376, which parses the code after `export default`.

[2018-01-07 11:18] mdebbar opened #7165 "transform-react-inline-elements throws on JSX fragments"
Choose one: is this a bug report or feature request? **bug report**

When using the `@babel/transform-react-inline-elements` plugin, it throws an exception when it encounters a JSX fragment (i.e. `<>...</>`).

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Transpilation should succeed with no errors.

### Current Behavi

[2018-01-07 12:27] Andarist commented on #7165
While babel 7 is still in beta I'd say it would be better to just take more time and implement full solution of optimizing them, instead of bailing out tempprarily

[2018-01-07 13:40] julmot opened #7167 "Bug: Unnecessary Whitespace When Using @babel/plugin-external-helpers"
The following is generated at the top of a file when using `@babel/plugin-external-helpers`, even when specifying `compact: true` (note how many empty lines are generated):

[code]

(Currently available here: https://github.com/julmot/mark.js/blob/67cabf70f6dda91d334fe1332c1512e20a5f7d61/dist/mark.js)

### Input Code

Doesn't matter.

### Babel/Babylon Configuration (.babelrc, package.json, cli co

[2018-01-07 13:41] mdebbar commented on #7165
@Andarist I agree. But at the moment, this plugin is unusable with fragments. A non-ideal solution is way better than a broken experience.

Also, I wouldn't be surprised if the bug remains open for a very long time, and no one has the time to implement the "proper" solution. So I would prefer to have the quick fix merged ASAP, and if a better solution is implemented later, that would be awesome!

[2018-01-07 14:24] WaldoJeffers commented on #6624
This would be much appreciated :) It my understanding that `presets` settings override `plugins` options, so adding the following to Babel's config would not work:
[code]

Is that correct?

[2018-01-07 14:46] nicolo-ribaudo commented on #7167
That code is inserted by rollup, not by Babel. `external-helpers` only writes `import _typeof from "@babel/runtime/helpers/es6/_typeof.js"`, and than Rollup replaces the import with the content of the file.

If you don't want whitespaces in your bundle, I suggest using [rollup-plugin-babel-minify](https://github.com/Comandeer/rollup-plugin-babel-minify) or [rollup-plugin-uglify](https://github.com

[2018-01-07 14:46] #7167 closed

[2018-01-07 15:34] jorrit commented on #7165
I am in favor of avoiding now and fixing later. What would be a proper optimization for fragments?

[2018-01-07 16:05] mdebbar commented on #7165
and leave everyone using Babel7 with a broken plugin? I would agree with you if there was already a plan for fixing it. But there's no plan now and nobody knows how long it will take to fix it.

The responsible thing to do IMHO is to unbreak the plugin so people can continue using it until someone figures out and implements the optimizations for fragments.

[2018-01-07 17:07] ylemkimon commented on #6491
@hzoo Is function.name being polyfilled a right behavior even when, name is used like `object[name]` (name is a variable, not a string literal)?

[2018-01-07 20:07] jorrit commented on #7165
@mdebbar I think I did not explain my position well enough. I think we're on the same side of the argument. I meant: _avoid_ the error for now using a workaround and _fix_ it with a proper implementation later.

[2018-01-07 20:18] nicolo-ribaudo commented on #7165
If you want I can look for a proper fix to this bug during the upcoming week.

[2018-01-07 20:19] jorrit commented on #7165
When looking at what `babelHelpers.jsx()` improves over `React.createElement()`, I think the transform-react-inline-elements does not need to support JSXFragments at all. According to [this source](https://medium.com/doctolib-engineering/improve-react-performance-with-babel-16f1becfaa25) the improvement is in the way props are handled. Fragments have no props and the `config` argument to `React.cr

[2018-01-07 20:30] nicolo-ribaudo commented on #7165
cc @babel/react

[2018-01-07 20:33] sophiebits commented on #7165
Can we have it output `babelHelpers.jsx(React.Fragment, {}, void 0, ... children ...)`?

[2018-01-07 20:40] nicolo-ribaudo opened #7171 "Transform calls to `babel-template` at compile time"
Templates take away from the developer the responisbility of manually cloning nodes nodes, so they should be encouraged.
They are slower than using the builders provided by `babel-types`, so we could make a plugin that transforms them.

e.g.
[code]

I don't know if this is actually possible :thinking:

[2018-01-07 20:47] jorrit commented on #7165
I think passing `null` instead of `{}` as props is better becausr that triggers a faster path in the helper code.

[2018-01-07 20:50] nicolo-ribaudo commented on #7165
Would something like this work?
[code]

[2018-01-07 20:57] jorrit commented on #7165
I was thinking about a fragment-specific helper too. If something like this works in practice it would be great.

[2018-01-07 20:57] loganfsmyth commented on #7171
I think I'd want to see some benchmarks to see how much of an improvement this would actually be. In Babel 6 it was definitely slower because we re-traversed each template every time a template function was called, but in Babel 7 we only traverse once up front to decide what to replace, and the only time spent after that is cloning the AST and doing the replacement, which shouldn't be _too_ much s

[2018-01-07 21:51] #5451 closed

[2018-01-08 02:51] pentaphobe opened #7172 "Self-executing, anonymous async functions break following code"
Bug report

### Input Code

Unless the anonymous self-executing function is followed by a semicolon, the next statement is compiled as an argument *to the result* of the first

[REPL link showing issue](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=PQKhCgAIUgVALAppAZgewDYbQdwJYB2A5pAC45qQaGIDOkFATgNao2QBGiAxgIYCutZGhRkkkIQFs83TGgJQQwcOAAUvWgE8C3SKoCUkALwA-SLxy88pSA

[2018-01-08 06:11] nicolo-ribaudo commented on #7172
Babel is correct: you can test it by pasting this code in you browser's console:
[code]

[2018-01-08 06:11] #7172 closed

[2018-01-08 06:14] pentaphobe commented on #7172
Good catch, @nicolo-ribaudo - thanks

This actually occurred to me after the fact - but we've gotten so used to no-semicolon style that it had a few of us scratching our heads!

Sorry for erroneous bug report

[2018-01-08 06:27] nicolo-ribaudo commented on #7172
When you use a no-semicolon style, I suggest to always insert `;` at the start of lines whose first character is one of `([+-`, to avoid this kind of bugs. e.g.
[code]

[2018-01-08 06:29] pentaphobe commented on #7172
That's a nice workaround, thanks @nicolo-ribaudo - still gives flashbacks to 2012, but it's the lesser of a few evils 👍

[2018-01-08 09:25] Andarist commented on #7172
Id suggest using prettier which will insert those automatically when needed or at least use eslint to warn u about such lines

[2018-01-08 16:00] nicolo-ribaudo commented on #7165
This isn't straightforward because `React.Fragment` is set by the `pragmaFrag` option of `babel-plugin-transform-react-jsx`, which runs _after_ `babel-plugin-transform-react-inline-elements`.

I have tested and it doesn't (https://codepen.io/nicolo-ribaudo/pen/XVVEoJ).

@sophiebits Are `<>...</>` and `[ ... ]` equivalent? I'm having trouble in understanding it by myself from the react source :swea

[2018-01-08 16:08] mdebbar commented on #7165
I believe they are almost equivalent with one difference: the former doesn't require the `key` prop on each element. Worth double-checking with @sophiebits though.

[2018-01-08 16:16] nicolo-ribaudo commented on #7165
Since it is a static array, we can just use an incrementing index. e.g.
[code]

[2018-01-08 17:07] bvaughn commented on #7165
@clemmy put together a Gist that you might find useful to glance at: https://gist.github.com/clemmy/b3ef00f9507909429d8aa0d3ee4f986b

[2018-01-08 18:48] nicolo-ribaudo commented on #4687
This works in Babel 7.0.0-beta.37 :tada:

https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=JYWwDg9gTgLgBAbzhMMDOcC-cBmUIhwDkK6RA3AFCUDGANgIZoYBiEEilccNEAdmhhQArjRjQAFKQwBeRJgCUnbpi652AIwZQJShGu5QApjGFQ-yVGl1UVlTEA&debug=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=false&presets=es2015&prettier=false&targets=&version=7.0.0-beta.37

[code]

[2018-01-08 18:48] #4687 closed

[2018-01-08 21:29] #7068 closed

[2018-01-08 22:02] nicolo-ribaudo opened #7175 "[TS] Add support for "type cast and assign""
[code]
---
https://github.com/babel/babel/pull/7098 can be used as an example of what needs to be done.

[2018-01-09 05:38] #7165 closed

[2018-01-09 08:00] loganfsmyth opened #7176 "'lazy: true' on commonjs transform fails when namespace and named both in use"
Due to the option added in https://github.com/babel/babel/pull/6952:

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
[code]

### Current Behavior
The final two lines of the result are instead
[code]

### Context

This is because, when importing a namespace, we try to re-use the name of the namespace, e.g. `mod` in this c

[2018-01-09 08:42] #7163 closed

[2018-01-09 09:14] damianobarbati opened #7177 "Error: We don't know what to do with this node type. We were previously a Statement but we can't fit in here?"
I'm reporting an error I get for every React component exported after I upgraded to @babel/*@^7.0.0-beta.37:
[code]

I already checked this out https://github.com/babel/babel/issues/7122 where the problem was a version mismatch but it does not seem my case.

Babel config in package.json:
[code]

Dependencies version:
[code]

Thanks for the amazing work on this project as always 💪🏻

[2018-01-09 09:37] damianobarbati commented on #7177
Ok it turn out to be about `@babel/plugin-proposal-decorators`, got it working with the following versions:

[code]

[2018-01-09 11:01] xtuc commented on #7177
Interesting, there seems to be a regression in `@babel/plugin-proposal-decorators` then. Could you also please add the content of your `./apps/visitor/components/List.js` file?

[2018-01-09 11:06] damianobarbati commented on #7177
Sure, here it is: https://github.com/damianobarbati/react-app/blob/babel-bug/apps/visitor/components/List.js

[code]

[2018-01-09 12:04] jorrit opened #7178 "babel-transform-react-inline-elements broken since beta35 due to #6984"
bug: when transpiling the following JSX code in beta35 the generated code contains untranspiled JSX.

This happens only when @babel/transform-react-inline-elements is present and I think #6984 broke it.

The code is based on [kriasoft/react-starter-kit](https://github.com/kriasoft/react-starter-kit).

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[c

[2018-01-09 12:23] Andarist commented on #7178
Ive confirmed that this is broken on latest master.

[2018-01-09 13:15] jony89 commented on #6712
with the new fix (#6802) I'm getting a different error now :

[code]
when I try to auto-fix it I get :

[code]

Tried different variations as well...

packages

    "@babel/cli": "^7.0.0-beta.36",
    "@babel/core": "^7.0.0-beta.36",
    "@babel/preset-flow": "^7.0.0-beta.36",
    "babel-eslint": "^8.2.1",
    "eslint": "^4.7.2",
    "eslint-config-airbnb": "^15.1.0",
    "eslint-plugin-babel": "^

[2018-01-09 13:31] joaomcarvalho commented on #7123
@nicolo-ribaudo is that a good first issue? I would like to help.

[2018-01-09 13:54] nicolo-ribaudo commented on #7123
@nveenjain Have you already started working on this issue?

[2018-01-09 14:11] nveenjain commented on #7123
Yes @nicolo-ribaudo , i have started working on it. Though i've having some doubts, i was trying to clear them out manually using debugger. I was think to put an if statement here
which checks for decorator too.. https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js#L1371

[2018-01-09 14:41] Andarist commented on #7178
This regression was introduced by #6984 . It didn't change much in the codebase and I dont see at glance what could have caused this problem, any ideas @nicolo-ribaudo ? My blind guess is that this is some requeuing problem, but I cannot locate it.

[2018-01-09 14:54] nicolo-ribaudo commented on #7178
I have no idea, since `replaceWith` (which I used to insert the new function in the ast) should requeue the node. I can investigate later if you don't find the problem.

[2018-01-09 15:40] BuptStEve commented on #6979
@magicdawn

I encounter the same issue, maybe this [issue](https://github.com/babel/babel/issues/2877) could be helpful~

You can use `passPerPreset`~

from https://github.com/babel/babel/blob/master/CHANGELOG.md#a-traversal-per-preset-experimental

[code]

[2018-01-09 15:41] nicolo-ribaudo commented on #7123
Yes, it's correct :+1

[2018-01-09 15:43] #7063 closed

[2018-01-09 17:00] DinsmoreDesign opened #7186 "Babel CLI: --out-dir runs into permissions errors on second compile"
### Relevant package.json Config

[code]

### .babelrc Config

[code]

### Example input at 'Scripts/Pages/Example.Vue.js'

[code]

### Expected Behavior
After running **npm run build-pages** or **npm run watch-pages**, the file should compile from 'Scripts/Pages/Example.Vue.js' and output a minified ES5 file to 'Scripts/Compiled/Pages/Example.Vue.js', whether there's an existing file or not.

###

[2018-01-09 17:32] loganfsmyth commented on #6979
Yup, this is a duplicate of https://github.com/babel/babel/issues/2877 which has been fixed in Babel 7's beta releases.

[2018-01-09 17:32] #6979 closed

[2018-01-09 17:35] loganfsmyth commented on #7186
This sounds like a painful bug, but I'm afraid I also have no idea what would be causing it. If you're running `--watch` and it works the first time, it should be working the second time too. It sounds like your machine might have some kind of permission issue, but I don't know why that would be.

[2018-01-09 18:06] sophiebits commented on #7165
They are not quite equivalent. Adding keys manually like that is also not correct.

[2018-01-09 19:13] DinsmoreDesign commented on #7186
@loganfsmyth Thanks for the reply! I'm at a loss, as well. To make things even more strange... I seem to be able to compile using **--out-dir** just fine if I'm using a "_Local Workspace_" within Visual Studio, but using a "_Server Workspace_" produces the permissions error if the file already exists. Once again though, this error doesn't surface itself if I'm using **--out-file** in either worksp

[2018-01-09 19:31] nicolo-ribaudo commented on #7186
I don't remeber how Windows work, but is there a way to see which users/roles can write into a folder? Maybe it could help with debugging this bug.

[2018-01-10 01:00] pentaphobe commented on #7172
@Andarist embarrassingly, we actually use both of these tools in our build environment - but this emerged when we were prototyping a code snippet in an online editor

Thanks for the tip though!

[2018-01-10 02:07] nveenjain commented on #7123
@nicolo-ribaudo , I've submitted the PR, thanks for the patience, babylon was new for me. Learnt a lot while solving the issue :smiley:

[2018-01-10 03:15] #7000 closed

[2018-01-10 03:17] #6784 closed

[2018-01-10 06:39] pathsny opened #7190 "ERROR in runtime.js, Module not found: Error: Can't resolve 'imports' when using @babel/polyfill or runtime"
Issue: Bug Report

When attempting to use @babel/polyfill or @babel/runtime the compiler throws the following error
ERROR in ./node_modules/@babel/polyfill/node_modules/regenerator-runtime/runtime.js
Module not found: Error: Can't resolve 'imports' in '/project_path/node_modules/@babel/polyfill/node_modules/regenerator-runtime'

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[2018-01-10 08:36] rajzshkr commented on #7190
First thing, change @babel/react -> @babel/preset-react in .babelrc

[2018-01-10 09:00] pathsny commented on #7190
Found the root cause here. Closing this out here https://stackoverflow.com/questions/48182990/module-not-found-error-cant-resolve-imports-when-using-babel-polyfill-or

[2018-01-10 09:00] #7190 closed

[2018-01-10 12:15] nicolo-ribaudo commented on #6370
Fixed by #6467 (in Babel 7).

[2018-01-10 12:15] #6370 closed

[2018-01-10 14:33] #6691 closed

[2018-01-10 14:46] maaz93 opened #7193 "[TS] Multiple "as" in assignment expression don't get transformed"
This is a **bug report**.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]
TS Playground: [Link](http://www.typescriptlang.org/play/#src=let%20a%3B%0D%0A(a%20as%20number%20as%20any)%20%3D%2042%3B)

### Current Behavior

Throws an error

### Context

Was trying out the transforms after #7098. I seem to remember tha

[2018-01-10 14:49] nicolo-ribaudo commented on #7193
It wasn't even parsed before your PR :stuck_out_tongue:

[2018-01-10 15:13] FLGMwt opened #7194 "cjs plugin: ExportNamedDeclaration of arrow function is missing `.name`"
NOTE: this seems to be fixed in 7.x either intentionally or from refactorings. I don't know the maintenance status of 6.x, so I'm opening this anyhow.

Choose one: is this a bug report or feature request? **Bug**

### Input Code

Repro repo: https://github.com/FLGMwt/babel-cjs-bug

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

[code]

[code]

### Expected B

[2018-01-10 15:21] maaz93 commented on #7193
Ah ok. 😛 Then I think I must have have tried something else. Can I take a stab at this? You think you could point me to a starting point?

[2018-01-10 15:34] nicolo-ribaudo commented on #7193
You can look in  `babel-types`, you should update add `LVal` as an alias to `TSAsExpression`

[2018-01-10 16:08] darkowic opened #7195 "Babel 7 + jest - ReferenceError: Unknown helper assertThisInitialized"
Choose one: is this a bug report or feature request?

A bug

### Input Code

I run  my test and receive following error:
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

Babel config:
[code]

### Possible Solution

Am I missing some plugin?

### Context

I'm trying to configure jest for babel-7. I use https://github.com/Sneezoo/babel-7-jest library.

Jest config:
[cod

[2018-01-10 17:01] darkowic commented on #7195
Problem is that Jest itself has old babel dependencies. Do you think it may
couse the problem?

10.01.2018 17:56 "Mateusz Burzyński" <notifications@github.com> napisał(a):

[2018-01-10 17:09] Andarist commented on #7195
Possibly, not sure though. From what I know the newest release of jest (v22?) should support babel@7, you'd need to install `babel-core@7.0.0-bridge.0` though to make it work.

[2018-01-10 17:15] joaomcarvalho commented on #7175
Is that a good first issue @nicolo-ribaudo ? I would like to help. Do you think you can point me a starting point?

[2018-01-10 17:31] nicolo-ribaudo commented on #7175
Here are the parts of Babylon (Babel's parser) which check the left node of an assignment expression:
- In the `parseAssignmentExpression`, you can see that there is a call to the `checkLVal` method.
 https://github.com/babel/babel/blob/5f8a1a2613eccc81a2b06e5758b003ce830f0171/packages/babylon/src/parser/expression.js#L162
 It is defined in https://github.com/babel/babel/blob/master/packages/babyl

[2018-01-10 18:55] JonasT opened #7196 "[doc feedback] .babelrc doc page starts out very confusingly for newcomers"
The .babelrc doc page starts out very confusingly for newcomers:

https://babeljs.io/docs/usage/babelrc

(With babel API options not being a link.)

I just got there from the initial setup instructions which says I need one, and then it starts with that confusing sentence about callbacks or options, but not telling me which options there even are.

As I got to this page, my questions were: **1. Ho

[2018-01-10 18:58] JonasT opened #7197 "[doc feedback] Usage section gives various commands how to run it but doesn't warn that they don't do anything"
The Usage section gives various commands how to run it but doesn't warn that they don't do anything:

https://babeljs.io/docs/setup/#installation (scroll down to "Usage")

This might seem like a minor issue or a "well, duh!" moment, but I just went through it as a beginner, and naturally I tried `npm run build`, and when it didn't work I legit thought I did something wrong and it was broken. It di

[2018-01-10 19:00] JonasT commented on #7197
Also, I think it might be a much better idea to first have a section of "How to use it" that actually *DOES* something which uses the basic CLI call `./node_modules/.bin/babel src -d lib` and a most basic `.babelrc`, and skips all the other stuff with package.json, `npm run build` and such into a later section - because right now it's incredibly confusing and overwhelming that commands that run ba

[2018-01-10 19:09] JonasT opened #7198 "es2015 preset doesn't pick up *.mjs per default and there is no warning/explanation either"
Please note I'm an absolute utter beginner, so treat this ticket more as a kind of usability feedback that might not make too much sense.

I noticed that es2015 preset of babel doesn't make it pick up *.mjs per default and there is no warning/explanation either.

I think this should be changed: .mjs seems to be the default extension for es6 modules, and compiling es6 modules away to older javascri

[2018-01-10 19:47] nicolo-ribaudo commented on #7198
I think it works in Babel 7. Which version are you using?

[2018-01-10 19:49] nicolo-ribaudo commented on #7196
Maybe we should use an example like
[code]

[2018-01-10 22:42] simonbuchan commented on #7118
@Kovensky It's implied by the fact that Typescript shares the same export namespace between types and values. It occasionally causes issues (in particular importing only types from a module with side-effects: what *should* it do?), but most of the time it's simple to pick up what's happening. Except when you can't do a thing with a type that you can with values, like here, where it is just confusi

[2018-01-10 23:16] simonbuchan commented on #6959
@Kovensky Untested, but with #7091 babel should now be able to behave like `tsc`:

[code]

Babylon is perfectly happy to parse '<type> expr` with `syntax-typescript` so long as `syntax-jsx` is not also enabled.

Probably something to suggest in whatever typescript docs get added?

[2018-01-10 23:18] danielg2002 commented on #6959
Hi @simonbuchan, my project is working very well from beta.35.

thanks!
I will close this issue.

[2018-01-10 23:18] #6959 closed

[2018-01-10 23:33] simonbuchan commented on #6959
This was regarding the initial cast issue, not whatever the `import =` thing was.

To be fair to this issue, it's plausible that babylon could give an error with guidance like `tsc` when both typescript and JSX are enabled and it hits a syntax error after a old-style cast, but it's not obvious that it could do so in every case, for example the original issue here. Perhaps if it is "directly" insid

[2018-01-10 23:50] simonbuchan commented on #7193
@nicolo-ribaudo but `e as T` doesn't have to be an l-value? e.g. `(foo() as number) = 123;` [gives a friendly error](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=BQMw9mwJQAQIYGcYDsCuBbARgUwE6wF4YBGAJgGYBuAKCA&debug=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=false&presets=react%2Ctypescript&prettier=false&targets=&version=7.0.0-beta.36) - but maybe

[2018-01-11 00:15] simonbuchan commented on #7099
I can't repro this as described?

[code]

Gives:

[code]

and with `transform-object-rest-spread` instead:

[code]

Which seems legit. Probably something else going on in that config?

[2018-01-11 01:38] Kovensky commented on #7118
It's just that `export default` specifically implies an evaluation of its right side, while other `export` forms don't.

But I guess TS can just say that `interface` are a `HoistableDeclaration`.

[2018-01-11 04:02] simonbuchan commented on #7118
(I apologize in advance for my terrible habit of replying with far too much detail. It's hard to break!)

Not quite sure what this is saying, since in JS declarations are evaluated, but I'm going to assume you mean it implies an expression? Otherwise you are excluding all type exports :)

From my understanding, essentially there are four kinds of export in plain JS:

[code]

Note that 2, 3 and 4 a

[2018-01-11 04:14] Kovensky commented on #7118
Exactly, `export default` implies an expression _except_ on the specific exceptions added for `HoistableDeclaration` and `ClassDeclaration`. Those exceptions just makes it so that those specific things that would have looked like assignment expressions (`FunctionExpression` / `ClassExpression`) are considered declarations instead.

An `interface` is not a value nor looks like a valid assignment ex

[2018-01-11 04:21] simonbuchan commented on #7118
Not sure what this means? That `export default function foo() {}` should not be interpreted as `const _new_name = function foo() {}, export { _new_name as default }`? That's the same issue as for non-default export declarations, which TS already established a symmetry with type declarations `export interface foo {}`.

If it helps, here's a table:

JS | TS
---|---
`export const x = 123` | `export t

[2018-01-11 05:13] entwanderer commented on #7083
Thank you, the es3-member-literals solved my current problem, the missing Object.defineProperty didn't break and stop my Javascript in IE8 as the default keyword did.

[2018-01-11 05:13] #7083 closed

[2018-01-11 06:13] Kovensky commented on #7118
Exactly: `export default function foo () {}` is _not_ the same as `const _default = function foo () {}; export { _default as default }`.

`export default` only allows `AssignmentExpression` (i.e. expressions that have a value that can be assigned to an lvalue). The `HoistableDeclaration` and `ClassDeclaration` exceptions exist to avoid turning those into expressions and keep their declaration natu

[2018-01-11 06:19] noahgrant commented on #7099
Thanks for testing it out! Upon further debugging, I have a reproducible case, and it's kinda funky (but should be legal javascript). What you have above definitely works and seem reasonable. What errors for me is not simply using object rest parameters, but using them in a destructured object that itself is in a destructured array parameter. For example:

[code]

[2018-01-11 07:00] simonbuchan commented on #7118
I was asking if that was what you were referring to, not it's implications - I had already spec-ed that case's behavior above as export form 4 🙂

Your second paragraph seems weird: you say `export default` only allows expressions, then that it has declaration exceptions to preserve the declaration semantics? This is strange logic, expressions and declarations behave completely differently! It is s

[2018-01-11 07:22] sixwinds opened #7199 "undefined is compiled as function name by using template literal as method name."
## BUG REPORT

As metioned on the title I give an example:

[code]
is compiled to following code:
[code]

Commonly it's ok, but if I use object deconstruction in method, the compiling result will cause undefined overwriting. For example:

### Current Behavior
[code]
is compiled to following code:
[code]

In above code, variable "a" will not be assigned to 2, because _o$a is not equal to "undefined

[2018-01-11 07:24] Kovensky commented on #7118
`export default` _only_ allows expressions except for things that fall under the lookahead `[lookahead ∉ { function, async [no LineTerminator here] function, class }]`, which is there specifically to allow `export default HoistableDeclaration` and `export default ClassDeclaration` to match. https://tc39.github.io/ecma262/#prod-ExportDeclaration

It's only `export` that allows arbitrary `Declaratio

[2018-01-11 08:09] simonbuchan commented on #7118
And `Declaration` is `HoistableDeclaration` or `ClassDeclaration` or `LexicalDeclaration`; that is "`HoistableDeclaration` or `ClassDeclaration`" is identical to "`Declaration` - `LexicalDeclaration`". The way in which the grammar is specified in the spec is so that it is unambiguous, and BNF languages don't generally provide features like "try A, otherwise try B", or "C, unless it's a D". Don't t

[2018-01-11 08:30] nuclearspike opened #7200 "With transform-react-constant-elements enabled, having any logic with multiple-paths for return statements aren't caught as "ignore this one""
I will often have functions like (over simplified):

[code]

In previous versions of this plugin, it was apparently smart enough to recognize multiple-return-paths as being something where it couldn't apply this plugin and left it. However, this is not the case anymore and using this plugin caused all sorts of "Invariant Violation" errors in production that did not occur in dev. Disabling this plu

[2018-01-11 09:12] darkowic commented on #7195
I have one plugin with version `beta.32` `@babel/plugin-syntax-export-extensions` but there is no newer version for it. And when I removed this plugin nothing changed.

There is a list of my current dev dependencies:
[code]

[2018-01-11 09:13] darkowic commented on #7195
@Andarist any tips how can I debug the problem?

[2018-01-11 10:04] darkowic commented on #7195
I found that `babel-7-jest` is still installing old babel beta 31 in its `node_modules`.

[2018-01-11 10:06] Andarist opened #7202 "Refactor transform-classes"
At the moment transform-classes has 2 modes - regular one and loose. The loose mode is extending VanillaTransformer **class**. It seems to me that this hierarchical structure here is clunky and harder to maintain.

Don't know how others feel, but imho it would be nice to refactor this into a flat structure and reuse code between 2 transforms if possible, but more in a composition manner than with

[2018-01-11 10:11] darkowic commented on #7195
This is definietly because of `npm-shrinkwrap.json` file :/

[2018-01-11 10:35] Andarist commented on #7195
`babel-7-jest` is an unofficial community package. You should just install `babel-jest` + `babel-core@7.0.0-bridge.0` + `@babel/core@7.0.0-beta.37` and you will be good to go (dont forget to remove `babel-7-jest`).

[2018-01-11 10:36] Andarist commented on #7200
I fail to see how that proposed solution would be good. Could you post the output code for your example?

[2018-01-11 10:36] darkowic commented on #7195
Thank for your time and help @Andarist . I'm closing this issue. I will try your solution too. For more check https://github.com/Sneezoo/babel-7-jest/issues/2

[2018-01-11 10:36] #7195 closed

[2018-01-11 11:39] nuclearspike commented on #7200
What do you see wrong with letting developers know they are using features that aren't supported?

[2018-01-11 11:44] nuclearspike commented on #7200
I'm guessing it could be because it's hoisting code that needs redux state to be processed already or something else. It's stuff that's happening behind the scenes where it assumes no consequence.

[2018-01-11 12:00] Andarist commented on #7200
Could you explain? Im not sure if I understand what do you mean.

There might be a bug in our codebase, but to judge this it would be best to share input code + output of the transforms.

I dont agree with this statement:

Multiple return functions shouldnt be considered special. The only thing that matter is detecting if a certain element can be hoisted, no matter where it is in the code. We need

[2018-01-11 12:19] nuclearspike commented on #7200
My solutions were simplistic, I definitely agree. I would absolutely prefer it knowing if an element could be hoisted or not. I'd found that with my rather complicated code, that to turn off the plugin saved me tons of time in trying to debug every possible explanation of why my dev code works locally but fails in stage/production.

I'm not sure I know how to come up with up a test case where it f

[2018-01-11 12:33] Andarist commented on #7200
Well, actually I would suspect that rules for this hoisting are not that complex - simplifying: it just cannot reference things from the closure to be hoistable.

Which version of babel do you use? 6 or 7? It would be great if you could provide an example code that caused those problems, even if its complex - we'll be able to trim it down.

[2018-01-11 12:40] nuclearspike commented on #7200
[code]
I appreciate that you've been very attentive to this issue. That's not very normal in most projects, I have a massive project, and wouldn't know what parts to share with you that you'd find interesting.

[2018-01-11 12:55] Andarist commented on #7200
The faulty component would be enough. Your shouldnt have installed both babel@7 and babel@6 deps together (community packages sometimes might be used for both versions) - could you remove those?
- "babel-plugin-transform-react-constant-elements": "^6.23.0",
- "babel-plugin-transform-react-inline-elements": "^6.22.0",
- "babel-plugin-transform-react-jsx-self": "^6.22.0",
- "babel-plugin-transform-r

[2018-01-11 13:18] nuclearspike commented on #7200
I've removed those mentioned. However,

[code]
From my assumption, since I wasn't directly referencing the plugins mentions, they should have not had effect.

as far as I understand it, my webpack.config.js says:
[code]
regardless:

My .babelrc
[code]

[2018-01-11 13:26] Andarist commented on #7200
Oh, yeah - if you are using webpack-loader with this option babelrc is not what we are interested in, but rather options that you pass to the loader itself.

[2018-01-11 13:33] nuclearspike commented on #7200
[code]
Outside of this?

[2018-01-11 13:36] Andarist commented on #7200
Ok, this config seems quite OK. Would still love to get a single faulty component's code for testing this. Are you able to provide it?

[2018-01-11 14:25] JonasT commented on #7196
Maybe, but this example should also be at the top of the page I just linked. People arrive from different links, and I didn't get to the section on the homepage you describe I think but instead to the link I gave above.

[2018-01-11 14:32] hackhat opened #7203 "Argument named `args` breaks the transpilation, but if is renamed to `x` works"
Source code:
[code]

transpiles to:

[code]

with error `Uncaught SyntaxError: 'super' keyword unexpected here`.

Looks like if you access the `...args` it breaks the transpiler somehow.

If I change the argument `args` to `x` works:

[code]

Strange but somehow the variable name affects the code. Is there any way to see the transpiled code? I only able to see the `eval` string. I was able to see

[2018-01-11 14:54] existentialism commented on #7200
@nuclearspike small sidenote, but @babel/preset-env actually reads from browserslist config sources (like package.json's browserslist key) [by default](https://github.com/babel/babel/tree/master/packages/babel-preset-env#browserslist-support).

[2018-01-11 16:23] karlas opened #7204 "babel-node throws "Error: Plugin/Preset files are not allowed to export objects, only functions.""
By using

`babel-node --presets=@babel/env scripts/index.js`

or

`babel-node --presets @babel/env scripts/index.js`

or

`babel-node scripts/index.js`

This error always appears.

All babel packages installed on my devDependencies:

`
"@babel/cli": "7.0.0-beta.37",
 "@babel/core": "7.0.0-beta.37",
 "@babel/node": "^7.0.0-beta.37",
 "@babel/plugin-proposal-object-rest-spread": "7.0.0-beta.37",
 "@

[2018-01-11 16:29] Imundy commented on #7178
Looking into this and it seems like something is going wrong [here](https://github.com/babel/babel/blob/master/packages/babel-helper-wrap-function/src/index.js#L92-L93)
[code]

For some reason, the `FunctionDeclaration` we get from the template and pass to `insertAfter` doesn't seem like it gets properly traversed again. The simplest "fix" is:
[code]
which means the declaration does get traversed

[2018-01-11 16:35] Andarist commented on #7178
Gr8 findings! This seems like some hidden internal bug. Does this happen only for FunctionDeclarations? Can be reproduced for easier cases?

[2018-01-11 17:29] loganfsmyth commented on #7204
Including the full error output would be a big help. It sounds like you probably have a `.babelrc` file in it with bad configuration, so please also include that.

[2018-01-11 17:50] karlas commented on #7204
Indeed, it was a an error with .babelrc (it was placed on the wrong path).

Sorry, and thanks for your time

[2018-01-11 17:50] #7204 closed

[2018-01-11 18:47] Brenndoerfer commented on #5055
I would also appreciate the possibility to pass a `allowYieldOutsideGenerator` option

[2018-01-11 19:21] DrewML commented on #5055
Maybe it would make more sense long-term for us to have a `loose` parse mode, similar to `acorn`. I can see this list of exceptions in `Babylon` growing out of hand eventually.

[2018-01-11 21:21] simonbuchan commented on #7099
Yep, I can reproduce that! Given that input, no .babelrc,

[code]

It doesn't transform, clear `plugin-transform-object-rest-spread` bug.
Tried it with 7 beta, works there:

[code]

So I guess it was fixed already and they didn't backport?

[2018-01-11 22:04] nuclearspike commented on #7200
So, knowing which component it was is part of the issue. I only know that shutting off the plugin solved it. I don't know which component(s) were the problem, one of the pages where it broke has this which looks a little like it might cause issues even though it's not the multiple return path issue (which was just an assumption of mine based on the examples I saw of what the plugin was doing):

[c

[2018-01-11 22:13] nuclearspike commented on #7200
But, I don't know that those are the issue. I'd even set up that page to not do any server render other than a spinner (and do everything in browser only) and it would still give errors at the server... so it's possible that just having components like what in the code-split package and hoisted may cause the problem?

[2018-01-11 22:28] SpainTrain commented on #5665
With webpack, I think you could do

[code]

though I agree first class support is a nice-to-have

[2018-01-12 00:15] hettcher commented on #4568
the same problem =(
http://take.ms/VEMYM

    "babel-preset-env": "^1.6.1",
    "babel-register": "^6.26.0",
    "babel-core": "^6.14.0",
    "gulp": "^4.0.0",
    "gulp-babel": "^7.0.0"

[2018-01-12 02:03] TrejGun commented on #7177
Same here
@damianobarbati thanks for workaround

[2018-01-12 04:56] Imundy commented on #7178
Not sure, I'm a little bit lost tbh :-). I'm trying to find a simpler case to repro possibly by just using the `insertAfter` tests directly. It looks like replaceWith calls `requeue` on the `NodePath` which ends up calling the same thing that `insertBefore/After` calls - `context.maybeQueue`. They *really* look like they're doing the same thing to my untrained eyes but clearly there's a different

[2018-01-12 08:51] ylemkimon commented on #6978
Currently only `loose` option can be passed to the preset configuration, which is passed globally to the plugins and their behavior is different per plugin. I think we should be at least able to pass other options to plugins.

[2018-01-12 10:55] belrbeZ opened #7206 "Babel6 not transform class definitions with Angular 5, Webpack 3.8.1"
Hello!

Why babel does not transform my classes?

I get this error only in IE11:
Syntax error main.js (24,25)

###
[code]
I try to add support of IE 11 by my app, but babel not work correctly. I had also added polyfills.ts from angular.io documentation to support IE.

Here I'll show you my .babelrc, webpack.config.js package.json, tsconfig.json.
I try to add support of IE 11 by my app, but babel n

[2018-01-12 11:44] rnmalone opened #7207 "Unknown plugin "babel-plugin-transform-object-rest-spread""
Good morning,

I am trying to build my project, but have run into an issue at the last hurdle.

Module build failed: ReferenceError: Unknown plugin "babel-plugin-transform-object-rest-spread" specified in "/opt/portal/.babelrc" at 0, attempted to resolve relative to "/opt/portal"

I had to add this plugin for a helper function and it's caused more issues than its solved, though likely my incompete

[2018-01-12 14:17] Raigen opened #7208 "Babel 7 "SyntaxError: Unexpected token import" in lerna environment"
We use lerna to seperate concernes into multiple packages. One of them is depending on two others to combine them in the final build. For production we build them independently and then put the dependencies into the `node_modules` directory of the first package.
In development we do nothing special because babel-node from the first package seems to take care of the `import` statements also from th

[2018-01-12 14:53] xtuc commented on #7207
Your configuration looks correct, just to be sure did you run `npm install`?

[2018-01-12 15:19] #7053 closed

[2018-01-12 15:52] Andarist commented on #7208
You need to tweak your `--ignore` arg, babel@7 by default ignores things in `node_modules` and your lerna packages are linked inside it.

[2018-01-12 16:04] Andarist commented on #7200
I've checked code that you have pasted in, but this one seems to be transformed correctly. We'd love to fix this asap, but without actual repro case we cannot do much 😢

[2018-01-12 17:33] Raigen commented on #7208
First of all, thank you for the fast answer!

I tweaked around with `--ignore` (more like trial and error) and found out some things.
First of all, it seems that it does **not** compiles `pck2` from the `node_modules` but from `../` as we can see, when we have a closer look into the error message
[code]
Or maybe the reporter just follows linked files, that I do not know. But someone is following h

[2018-01-12 18:27] xtuc opened #7209 "Rename babel-* folder in packages/"
We could remove the `babel` prefix from all the folder in `packages/`, since we use the scoped packages everywhere it looks a bit redundant. Also that will be more consistent with Babylon.

[2018-01-12 19:59] phil-lgr commented on #6970
@existentialism thanks for your reply, in my case I had long traces coming from @babel\traverse\lib\index.js about SpreadProperty switching to https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-object-rest-spread fixed it 👍

[2018-01-12 20:01] swrobel commented on #5905
@vjpr https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-optional-chaining

[2018-01-12 21:10] nuclearspike commented on #7200
Hmm. I'm not sure how I can debug this to tell you what component it is... that was actually a big part of the problem. No matter what I did to the component, the error was still happening. I eventually even wrote this decorator:

[code]
to try to narrow things down. So, for the server-side render of this, it should only render <Loading /> and only after the package loads and renders once in the c

[2018-01-12 23:45] nuclearspike commented on #7200
Just tested it, and ordering the decorator plugin first made not difference. I've never included the full stack trace if it helps at all.

[code]

[2018-01-13 00:25] selected-pixel-jameson commented on #6808
I'm getting the same error when I try to use the react-table module.

[code]

[2018-01-13 02:36] nuclearspike commented on #7200
If you'd like access to my github repo to go hunting for possible issues, I am willing to grant that.

[2018-01-13 05:30] nuclearspike commented on #7200
@existentialism You may want to make that comment on https://github.com/kriasoft/react-starter-kit 's project since that's where that code is frome. For me, you've got an audience of one, but for them you're a babel member commenting on their code which has 16K watches. It would have much greater reach and more likely chance to change thousands of projects rather than just mine. Thanks for the com

[2018-01-13 07:56] rajzshkr commented on #7209
This is not just rename, also we have to change in file level.
1. scripts/gulp-tasks.js
2. scripts/generate-interfaces.js
3. scripts/generate-babel-types-docs.js
4. Makefile

[2018-01-13 09:57] MrOrz opened #7210 "Duplicate declaration error for exported functions with object destructuring arguments"
I have a function that takes a complicated options object as its only argument.
Also, I am using [object destructuring with default values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Default_values_2) to set default values, which are actually callbacks with similar signatures.

The parameters of the callbacks should be independent of each o

[2018-01-13 10:58] victordidenko commented on #6758
I've faced similar issue with @babel/cli version 7.0.0-beta.37:
When I piping file into babel, it ignores .babelrc.
But if I add parameter -f <anyname.js> everything is working fine:

Try it

[code]

[2018-01-13 11:03] BebeSparkelSparkel commented on #6758
Thanks for the work around. Would not have expected that

[2018-01-13 11:09] Andarist commented on #7200
I'd be willing to go hunt for this bug, if you grant me the access to your repo. Was this issue happening often in prod mode? Or only rarely?

[2018-01-13 11:17] nuclearspike commented on #7200
It happened every time I hit the /admin page. The error used to also happen also during /login or /register but those I discovered were solved by null references for classnames with imports. In dev, className={s.someClass} would not throw an error but if .someClass didn't exist in the ```import s from './SomeClass.scss'``` it also threw invariant errors. Dunno if that's a hint. I'll add you as a c

[2018-01-13 11:28] Andarist commented on #7200
Thanks, gonna try to take a look at it this weekend.

I certainly won't ;)

[2018-01-13 15:34] nicolo-ribaudo commented on #6758
This is by design: if Babel doesn't know where the file comes from, it can't choose the correct `.babelrc` file.
So `cat try_babel.js | npx babel` will run Babel with an empty configuration, without any plugin.

You can make it work in three ways:
1. By providing the input file name, as suggested by @victordidenko
2. By specifying which `.babelrc` should be used:
[code]
3. By setting the `--plugin

[2018-01-13 15:34] #6758 closed

[2018-01-13 16:34] BebeSparkelSparkel commented on #6758
It would be nice if an error could be thrown when the .babelrc file cannot be found.

[2018-01-13 18:41] ccabo1 commented on #7207
Running into the same issue--works fine in development though not when deployed to heroku:
[code]

[2018-01-13 19:09] xtuc commented on #7207
@ccabo1 could you please share your package.json?

[2018-01-13 19:12] noahgrant commented on #7099
yeah, looks like it!

[2018-01-13 21:26] barkncats commented on #7207
I am rather new to this, am following a video course.

Everything was working fine, then 2 days ago when I attempted to start project with webpack (compile/dev server) I received a similar message:

 Unknown plugin "babel-plugin-transform-object-rest-spread"

I have been using yarn to add packages to the project. I tried a remove/add, no error messages, but also no success eliminating error messag

[2018-01-13 21:48] kasperpeulen opened #7211 "concatenating files in self invoked anonymous functions"
At work we use the babel cli to compile multiple files into one output file. All our files look like this:

[code]

I was wondering if it would be possible to tell babel somehow to wrap all concatenated files into self invoked anonymous functions. It would save boilerplate and indentations. I didn't see this option, so in that case, this would be a feature request.

[2018-01-13 22:05] barkncats commented on #7207
My apologies, inexperience definitely involved.

Clearing the yarn cache, deleting /node_modules and running "yarn install" seems to have resolved my problem.

Not sure what caused the problem since everything was working fine the day before when I stopped webpack. Tried deleting directories and running "yarn install" multiple times. Only found out about yarn cache during web search last hour. Als

[2018-01-13 22:09] xtuc commented on #7207
Ok no problem @barkncats

[2018-01-13 22:14] gaearon commented on #6766
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work. Note we intentionally **don’t** plan to respect `.babelrc`, and will only compile “real” JS features without JSX/Flow/etc.

[2018-01-13 22:21] loganfsmyth commented on #7211
You can explore using a plugin like https://github.com/TrySound/babel-plugin-iife-wrap if you're already doing this, but concatenation is really not a good idea in JS, since relying on file ordering can be problematic. Declarative imports and Webpack would alleviate your need for concatenation and be more in line with what most people do these days.

[2018-01-13 22:21] #7211 closed

[2018-01-13 22:36] hzoo commented on #7209
I'd rather not focus on this given the work required

[2018-01-14 14:16] gaearon opened #7215 "proposal-object-rest-spread doesn't transform the rest/spread syntax in some cases"
This looks superficially similar to https://github.com/babel/babel/issues/7099 but that one is supposedly [resolved in Babel 7](https://github.com/babel/babel/issues/7099#issuecomment-357065187) but my bug isn’t. Therefore I’m filing a new one.

Here is a complete repro:

[code]

Then run in Node shell:

[code]

Notice how I have two different rest destructurings, but the second one is *also* insi

[2018-01-14 14:16] gaearon commented on #7099
I have a similar issue but not sure if the cause is the same.
In my case it's reproducible with the latest beta: https://github.com/babel/babel/issues/7215.

[2018-01-14 14:19] hzoo commented on #7215
Weird, can repro with the [repl](https://babeljs.io/repl/build/master#?babili=false&browsers=ie%209&build=&builtIns=true&code_lz=MYewdgzgLgBA3jAdMgTgU2gRhgXxgXnhwG4AoUSWAbQWUXWgCZcBdAmGnFsoA&debug=true&circleciRepo=&evaluate=false&fileSize=true&lineWrap=true&presets=stage-3&prettier=false&targets=&version=7.0.0-beta.37)

[2018-01-14 14:19] gaearon commented on #7215
I think this is present in 6.x too by the wat.

[2018-01-14 14:20] gaearon commented on #7215
Do you think there's any possible workaround we could ship until this is fixed? My impression is since the plugin doesn't *see* the node, there's nothing we could do on our side. But maybe I'm wrong?

[2018-01-14 14:22] hzoo commented on #7215
Well it looks like on 6.x it's a syntax error so it wasn't parsable `const [{ awesome, ...rest}] = arrayOfObjects` while in 7.x we can parse it but the transform wasn't written maybe? I think that is fine given it prevents users from using it and we can fix it in 7.x?

[2018-01-14 14:23] gaearon commented on #7215
I see, thanks for explaining. This makes sense.

[2018-01-14 14:28] hzoo commented on #7215
some more history: I wrote the original one because we actually didn't even have it implemented - it was done through "destructuring" which wasn't a problem but after I added preset-env, we didn't have an independent transform for it so I made a simple one that obviously had a lot of bugs/edge cases. @jridgewell made https://github.com/babel/babel/pull/5981 but seems like we closed it

[2018-01-14 14:30] gaearon commented on #7215
Does this mean that adding `destructuring` transform would fix this?

[2018-01-14 14:31] hzoo commented on #7215
Not in this case because ^ I mentioned it would syntax error in 6.x so this type of code was never considered - based on that probably not unless it just happens to work?

[2018-01-14 14:33] gaearon commented on #7215
It seems like this works?

http://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYewdgzgLgBA2gbwHQoE4FNoF8C6MC88CuA3EA&debug=false&circleciRepo=&evaluate=true&fileSize=false&lineWrap=true&presets=es2015%2Cstage-1&prettier=false&targets=Node-6.12&version=6.26.0

[2018-01-14 14:35] hzoo commented on #7215
oh ok 😄 🙌?

[2018-01-14 15:52] gaearon commented on #7215
If the fix is not obvious, could we treat `destructuring` as a prerequisite for `object-rest-spread`, and include both in `env` even if technically only `object-rest-spread` is needed?

[2018-01-14 15:53] gaearon commented on #7215
Never mind, I forgot `env` is unaware of `object-rest-spread` in the first place

[2018-01-14 16:09] Andarist commented on #7215
Actually env is aware of this transforms, thanks to [shippedProposals flag](https://github.com/babel/babel/tree/2d05487293278286e352d7acc0761751025b4b1a/packages/babel-preset-env#shippedproposals), but anyway the correct fix is to fix this in the transform itself - hopefully it will get fixed soon enough.

[2018-01-14 16:26] maaz93 commented on #7215
I'd like to take this up if that's ok! I'm aware of the area where the fix needs to be done (the `proposal-object-rest-spread` plugin). Will ping back if I need any help. 😄

[2018-01-14 16:40] Andarist commented on #7215
Would be great! You can compare actual implementation with previously created #5981 to see what cases did the other one handled and if maybe this code could get reused for `object-rest-spread` cleanup. Join our Slack if you have any questions :)

[2018-01-14 18:54] existentialism commented on #7215
@maaz93 I know @jridgewell fixed a number of additional cases in object-rest-spread inside https://github.com/babel/babel/pull/5981 that never landed... might be worth taking a look in there as a ref.

[2018-01-14 19:08] shellscape commented on #7110
@hzoo webpack-cli depends on `babel-core` as `@babel/core` is not yet stable. Any project using webpack-cli is going to run into this problem when trying to use `@babel/anything`. What's the limitation here and what needs to happen to get a fix in babel for it?

[2018-01-15 07:08] #7178 closed

[2018-01-15 11:02] belrbeZ commented on #7206
Thank you!

The problem was solved by changing the versions of the dependencies a package.json file.

[2018-01-15 11:03] #7206 closed

[2018-01-15 11:47] xtuc commented on #7198
According to https://github.com/babel/babel/pull/5624, yes it's in Babel 7.

[2018-01-15 12:37] maaz93 commented on #7215
Sure! Any reason why that PR was not merged? There are no details within that.

[2018-01-15 14:55] existentialism commented on #7215
@maaz93 it just got really outdated from merging some other PRs and IIRC just hadn't been updated

[2018-01-15 20:00] PabloZaiden commented on #5408
Any news on this?

[2018-01-15 20:48] Andarist commented on #7200
Ok, I got it. It's actually a webpack bug. You'd have to file it there. I think it's because your quite "specific" directory structure. Let's look at ./src/components/Common/Decorators.jsx .

It has import { Loading } from '../Common'; when we are actually in the Common directory already (but that doesnt matter I think, I've also tried import { Loading } from '../Smarty'; and it was bugged the sam

[2018-01-15 20:48] #7200 closed

[2018-01-16 03:29] dreki commented on #7110
I get this issue as well but also many others that I don't get with babel v6.

I know babel 7 is in beta but we either need more helpful error messages or more sane defaults or dependencies. People are going to be frustrated and look elsewhere.

[2018-01-16 03:45] pizzae opened #7221 "es2015 transpile not possible for extending classes outside of project?"
.babelrc
`"presets": ["es2015"],`

I have a directory structure that goes like this:

[code]
test.js
[code]
test2.js
[code]

If I have both `test.js` and `test2.js` within `folder2`, it works fine. Even if I create another folder inside `folder2` and put the abstract class inside, everything is fine.

However, the moment I try to move `test.js` outside of my "project", it doesn't work. (My repo is

[2018-01-16 05:49] nicolo-ribaudo commented on #7221
Do you transpile test.js when it is moved outside the project? If not, this bug would be fixed by https://github.com/babel/babel/pull/7081

[2018-01-16 07:29] pizzae commented on #7221
@nicolo-ribaudo I am not entirely sure what you mean by that. I simply have my files in the structure above and run webpack with babel. Perhaps this may be a webpack bug?

[2018-01-16 08:23] zhenhua-lee opened #7222 "babel-generator occurs error if chinese words are in jsx property"
hi, I just use babylon && babel-traverse && babel-generator doing something. but after generating, the result has unicode.

Choose one: is this a bug report or feature request?
Bug report

## Input Code

[code]

## Expected Behavior

`new.js` should be:

[code]

## Current Behavior

[code]
the property `title` shoud be `中国`, but after generating , the result is `\u4E2D\u56FD`

## Your Environment

[2018-01-16 08:52] mysticatea opened #7223 "`export default @bar class Foo { }` doesn't generate ClassDeclaration"
Choose one: is this a bug report or feature request?

A bug report.

### Input Code; Babel/Babylon Configuration (.babelrc, package.json, cli command)

This test: https://github.com/babel/babel/tree/64dfb7574e924be3ad737c33cbc81d619dbc14c6/packages/babylon/test/fixtures/experimental/decorators-2/export-default-decorated-class

### Expected Behavior

Babylon generates `ClassDeclaration` node.

###

[2018-01-16 08:57] Kovensky commented on #7223
https://github.com/babel/babel/pull/7189 fixes this

[2018-01-16 09:34] mysticatea commented on #7223
Oh sorry. I had not found it via https://github.com/babel/babel/issues?q=is%3Aissue+ClassExpression

[2018-01-16 09:34] #7223 closed

[2018-01-16 09:42] perinikhil commented on #6243
Hi guys, could i get some more information on this issue please?

[2018-01-16 10:33] qiuyaofan commented on #7050
IModule build failed: TypeError: Cannot read property 'loose' of undefined (While processing preset: "/Users/qiuyaofan/Documents/new-project/manager-project/node_modules/_@babel_preset-env@7.0.0-beta.37@@babel/preset-env/lib/index.js")
    at _default (/Users/qiuyaofan/Documents/new-project/manager-project/node_modules/_@babel_plugin-transform-modules-commonjs@7.0.0-beta.37@@babel/plugin-transform

[2018-01-16 10:53] TrySound commented on #7050
@qiuyaofan Try to remove all babel 6 modules.

[2018-01-16 10:57] briefy commented on #3956
why cannt we let babel make a configuration about the func interopRequireDefault?

[2018-01-16 12:51] qiuyaofan commented on #7050
`"@babel/core": "^7.0.0-beta.37",
    "@babel/cli": "^7.0.0-beta.37",
    "@babel/preset-env": "^7.0.0-beta.37",
    "@babel/plugin-transform-runtime": "^7.0.0-beta.37",
    "babel-cli": "^6.26.0",
    "babel-core": "^6.26.0",
    "babel-eslint": "^7.1.1",
    "babel-loader": "^6.4.1",
    "babel-plugin-istanbul": "^3.1.2",
    "babel-plugin-transform-es2015-destructuring": "^6.23.0",
    "babel-p

[2018-01-16 12:52] qiuyaofan commented on #7050
`
"@babel/core": "^7.0.0-beta.37",
    "@babel/cli": "^7.0.0-beta.37",
    "@babel/preset-env": "^7.0.0-beta.37",
    "@babel/plugin-transform-runtime": "^7.0.0-beta.37",
    "babel-cli": "^6.26.0",
    "babel-core": "^6.26.0",
    "babel-eslint": "^7.1.1",
    "babel-loader": "^6.4.1",
    "babel-plugin-istanbul": "^3.1.2",
    "babel-plugin-transform-es2015-destructuring": "^6.23.0",
    "babel-

[2018-01-16 13:29] TrySound commented on #7050
@qiuyaofan Remove all babel-* packages with 6 version. es20* presets are deprecated in favor of `@babel/preset-env`. babili is called now [minify](https://github.com/babel/minify)

[2018-01-16 13:42] kjda opened #7224 "The plugin "dynamic-import-webpack" didn't export a Plugin instance"
getting

.babelrc
[code]

dependencies:
[code]

[2018-01-16 13:45] nicolo-ribaudo commented on #7224
1) `dynamic-import-webpack` version?
2) `optional` was removed in Babel 6, you should use plugins.

[2018-01-16 13:47] nicolo-ribaudo commented on #7224
Also, webpack handles `import()`s, so you don't need to transform it.

[2018-01-16 13:55] kjda commented on #7224
thank you @nicolo-ribaudo yes, i'm trying to upgrade to B6 to make this work,
`dynamic-import-webpack` the same error

if I don't use transform i get the following error

pointing to the line where I used import

[2018-01-16 14:00] kjda commented on #7224
I was reading that this error shows up when one uses a B6 module with B5, but I'm sure I'm using B6

[2018-01-16 14:00] TrySound commented on #7224
@kjda You need to enable it with `babel-plugin-syntax-dynamic-import`.

[2018-01-16 14:01] kjda commented on #7224
@TrySound Module build failed: TypeError: The plugin "babel-plugin-syntax-dynamic-import" didn't export a Plugin instance

[2018-01-16 14:02] TrySound commented on #7224
Show babel config

[2018-01-16 14:04] kjda commented on #7224
.babelrc
[code]

[2018-01-16 18:42] nicolo-ribaudo commented on #7224
@kjda Have you resolved this problem on Slack? Can this issue be closed?

[2018-01-16 18:43] nicolo-ribaudo commented on #7222
Isn't `"中国" === "\u4E2D\u56FD"`?

[2018-01-16 18:58] nicolo-ribaudo commented on #7221
Can you check in your webpack output if the `Test` class is transpiled? If it isn't and you expect it to be transpiled, you should include that files in your `webpack.config.js`.

[2018-01-16 21:03] clayne11 commented on #6665
This is still broken. If you use the `react` preset as well as `typescript` you cannot compile generic arrow functions.

[2018-01-16 21:09] existentialism commented on #6665
Sure, the issue is still open? :)

FWIW, the fix (https://github.com/babel/babel/pull/7225) should land soon.

[2018-01-17 00:50] gaearon commented on #6328
I wrote a long-winded answer about how we plan to approach this in Create React App. It's not about "reversing" but captures my current thinking on how we could approach compiling `node_modules`. It might be obvious to everybody except me, but I hope maybe somebody reading this thread in the future could find it helpful: https://github.com/parcel-bundler/parcel/pull/559#discussion_r161926651.

[2018-01-17 02:11] qiuyaofan commented on #7050
it is ok !! Thank you so much

[2018-01-17 04:04] pizzae commented on #7221
Yes it is transpiled I think. If I try to create a new class with the abstract class, it works, e.g:
[code]

but not the extends

[2018-01-17 05:12] qiuyaofan commented on #7050
It is ok .error because I use
const config={
test,
aaa
};
async can Uglify successfully @TrySound

[2018-01-17 06:01] nicolo-ribaudo commented on #7221
It

[2018-01-17 06:03] nicolo-ribaudo commented on #7221
It might work because your browser supports classes. Can you search `class` in the webpack output and see if it is there?

[2018-01-17 11:55] pizzae commented on #7221
I don't know what `class` is in the webpack output. Does it have anything to do with `    Asset     Size  Chunks                    Chunk Names`?

[2018-01-17 13:09] #7222 closed

[2018-01-17 13:16] nicolo-ribaudo commented on #7221
I meant in the file generated by webpack

[2018-01-17 13:36] #6665 closed

[2018-01-17 13:47] MarshallRJ commented on #7221
I am having exactly the same issue. in my case the imported class is not transpiled.

[2018-01-17 14:37] nicolo-ribaudo commented on #7221
@MarshallRJ It is likely a configuration error. Can you post:
1) Your directory structure, showing `.babelrc`s, `webpack.config.js` and your source files.
2) `.babelrc`s
3) `webpack.config.js`

[2018-01-17 15:31] #6839 closed

[2018-01-17 15:44] raphaelokon opened #7228 "[babel-preset-env] Missing Object.assign transform"
### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
The `.babelrc` config

[code]

### Expected Behavior
I expect the Object.assign to be poly filled/transformed when applying the preset-env

### Current Behavior
Everything else is well transformed, but `Object.assign` is kept untouched thus breaking one of the env targets `ie >= 10` yielding the following

[2018-01-17 16:18] rajzshkr commented on #7228
Can you mention the IE version?

[2018-01-17 20:40] vadzim opened #7230 "Crash with `_awaitAsyncGenerator is not defined`"
bug report

Crash with `_awaitAsyncGenerator is not defined` when iterating over async generator that contains more then one `await` operator.

### Input Code

modules:
[code]

run in node console:
[code]
and get
[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

All the calls `_awaitAsyncGenerator` should be transformed to `(0, _awaitAsyn

[2018-01-17 21:35] nicolo-ribaudo commented on #7230
Fixed by https://github.com/babel/babel/pull/7149

[2018-01-17 21:38] index23 opened #7232 "Babel-polyfill adds recursive property to Window object"
When I build my code with babel-polyfill imported, babel-poliyfill adds property `global` to `Window` object which consists `Window` object itself which further consists itself again and so on into infinite loop. I have just added babel-polyfill to entry in webpack configuration:

`entry: ["babel-polyfill", "../main.js"]`

Is this regular behavior?

I have notice that on Chrome 63.0.3239.132 and F

[2018-01-17 21:43] loganfsmyth commented on #7232
That is generally expected, though it is possible `global` will be removed in the future. The fact that it is self-referential however is definitely a non-issue. There are many existing places where that is also the case. That `window.self === window` for instance.

[2018-01-17 21:58] nicolo-ribaudo opened #7233 "Flow property declarations are not removed"
### Input Code

https://github.com/babel/babel/blob/master/packages/babylon/src/parser/lval.js

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

https://github.com/babel/babel/blob/master/.babelrc.js

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Context

I was trying to build Babylon with gulp

[2018-01-17 22:02] index23 commented on #7232
Thanks for quick response.

[2018-01-17 22:02] #7232 closed

[2018-01-17 22:02] nicolo-ribaudo commented on #7233
Probably this is a plugin ordering issue, since `flow-strip-types` should run before `class-properties`

[2018-01-17 22:04] uber5001 opened #7234 "[babel-preset-react] Bug: arrow function in ternary operator causes syntax error"
Using an arrow function inside of a ternary operator can cause a syntax error in `babel-preset-react` if parenthesis are not placed well. However, all other presets (and no preset!) will parse such a scenario jsut fine.

[There's a related question on Stackoverflow](https://stackoverflow.com/questions/48309694/why-cant-i-use-a-ternary-operator-and-arrow-function-in-this-way-in-jsx)

### Input Code

[2018-01-17 22:07] nicolo-ribaudo commented on #7234
This bug has been fixed in Babel 7 :slightly_smiling_face:

https://babeljs.io/repl/build/master#?babili=false&browsers=chrome%20%3E%2054%20%20&build=&builtIns=false&code_lz=C4JwrgpgBA_FAUAiYEDOxEEooC4oA8oBeAPigBYAmIA&debug=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=false&presets=es2015%2Cflow&prettier=false&targets=&version=7.0.0-beta.38

[2018-01-17 22:07] #7234 closed

[2018-01-17 22:19] uber5001 commented on #7234
@nicolo-ribaudo Thanks for the quick response!

It seems that the issue has, uh, moved. If you [use the typescript preset in the repl](https://babeljs.io/repl/build/master#?babili=false&browsers=chrome%20%3E%2054%20%20&build=&builtIns=false&code_lz=C4JwrgpgBA_FAUAiYEDOxEEooC4oA8oBeAPigBYAmIA&debug=false&circleciRepo=&evaluate=false&fileSize=false&lineWrap=false&presets=es2015%2Ctypescript&prettier

[2018-01-17 22:25] nicolo-ribaudo commented on #7234
Ugh, can you open a new issue about it?

[2018-01-17 22:28] existentialism commented on #7228
Object.assign must be polyfilled, since it's a built-in.

You can use the `useBuiltIns: entry` option with `babel-polyfill`, or `useBuiltIns: usage`.

[2018-01-17 22:33] raphaelokon commented on #7228
@existentialism Ah thanks! This was the missing bit.

[2018-01-17 22:33] #7228 closed

[2018-01-17 22:52] uber5001 commented on #7234
Can do.

[2018-01-17 22:52] uber5001 opened #7235 "[babel-preset-typescript] Bug: arrow function in ternary operator causes syntax error"
Using an arrow function inside of a ternary operator can cause a syntax error in `babel-preset-typescript` if parenthesis are not placed well. However, all other presets (and no preset!) will parse such a scenario jsut fine.

Issue #7234 is the same issue, but for Babel v6 instead of v7, and `babel-preset-react` instead of `babel-preset-typescript`. [There's a related question on Stackoverflow](ht

[2018-01-18 00:47] nveenjain commented on #7233
Is this a good first issue in context of flow? As i'm new to flow, i would love to learn that while solving this PR.

[2018-01-18 00:53] pizzae commented on #7221
@nicolo-ribaudo I'm assuming the file generated by webpack is my bundle file? I do have some code in there with `class` as a keyword. Weird, because I thought I transpiled it to `es2015` which is my preset. (I thought you can't have classes in 2015?)

[2018-01-18 04:43] therobinkim commented on #7070
According to https://github.com/babel/babel/issues/5664#issuecomment-297016006, it looks like it's fixed in Babel 7.x.

Related: https://github.com/babel/babel/pull/4708#issuecomment-292824191

[2018-01-18 06:04] nicolo-ribaudo commented on #7233
Actually this is a bit more complex, since the real fix is plug-in ordering (https://github.com/babel/babel/pull/5735)

[2018-01-18 10:41] damianobarbati commented on #7177
@xtuc same error for `@babel/plugin-proposal-decorators@7.0.0-beta.38`
Sticking to `7.0.0-beta.36` for now

[2018-01-18 10:54] mannguyenzalora commented on #2683
I have the same problem with this, Any ideas how to solve the issue?

[2018-01-18 13:33] gs-akhan commented on #7235
@nicolo-ribaudo  I will have a look at it..
Thanks

[2018-01-18 14:16] arteniioleg opened #7236 "Source code mismatch between npm and github v7.0.0-beta.38"
[The github version](https://github.com/babel/babel/blob/v7.0.0-beta.38/packages/babel-plugin-proposal-object-rest-spread/src/index.js#L4-L5) has default value for `useBuiltIns`

[code]

The npm version doesn't

[code]

[code]

----

Because of that I get error

[code]

Adding that option in `.babelrc` doesn't fix the error

[code]

[2018-01-18 14:54] #7236 closed

[2018-01-18 15:20] OliverJAsh commented on #6060
Any updates on this? If the `retrieveSourceMap` override is not intentional, this is an easy fix. Could we get some more information on why this is the case?

[2018-01-18 18:08] #7207 closed

[2018-01-18 19:06] hzoo opened #7237 "@babel/cli: default the src/out directory"
https://babeljs.io/docs/usage/cli/#compile-directories

I think we can default `babel` without any arguments to be `babel src --out-dir lib` (default to the src/ directory and output to lib), I guess we may need to check existence and all that?

This is just so if you want to do something in package.json like `"build": "babel src -d lib"`, you can do ``"build": "babel"`` instead.

Can look to othe

[2018-01-18 19:22] hzoo commented on #4161
The original issue would be covered with the new `overrides` option in v7 https://github.com/babel/babel/pull/7091 which allows different configs for different paths. If you want other options I would make your own preset or use a config file. If people really need this, someone can make a PR but it doesn't seem to be that much of an issue

[2018-01-18 19:22] #4161 closed

[2018-01-18 19:24] hzoo commented on #6709
https://github.com/babel/babel/blob/master/doc/ast/spec.md

[2018-01-18 19:24] #6709 closed

[2018-01-18 19:34] stevenvachon commented on #4161
@hzoo and how many years off is v7?

[2018-01-18 20:13] gaearon commented on #4161
@stevenvachon You can use betas already, or help get it shipped by triaging reported issues.

[2018-01-18 20:30] Andarist commented on #7237
`lib` is a good default for me

[2018-01-18 21:21] nicolo-ribaudo commented on #7221
`.babelrc` only affects files in subdirectories. e.g. Given this files three:
[code]
[code]

If you run Babel inside `package-2`, `package-1/index.js` isn't transpiled because there isn't a `.babelrc` in one of its parent folders. The same applies if you use webpack instead of `babel-register`.

I'd suggest to either pass the configuration directly to `babel-loader`/`babel-register` or add a new `

[2018-01-18 21:21] #7221 closed

[2018-01-19 04:09] rajzshkr commented on #7237
+1 for `lib`

[2018-01-19 04:43] yakovenkoroman1993 commented on #6806
I have the same problem. With async/await **console.log(this)** inside arrow function outputs **undefined**
![image](https://user-images.githubusercontent.com/13461433/35135149-c32bc03e-fd0d-11e7-8a95-893f6d93d09e.png)

[2018-01-19 11:58] xtuc commented on #7237
`babel --out-dir mydist` could still be possible? The `src` is by default if you don't specify it.

[2018-01-19 12:54] NillDk commented on #7074
Do you know of any workaround for this issue?

[2018-01-19 13:06] NillDk commented on #7074
Seems like "passPerPreset" fixes it for me.
[code]

[2018-01-19 19:22] JeffML commented on #6226
I don't think I've ever come across an order-dependency like this in CLI _unless_ it was for parameters to flags.  This would be weird.

[2018-01-19 20:56] JeffML commented on #5404
What do I do if I want to ignore node-modules, but not have it copied?

[2018-01-19 23:34] hzoo commented on #7237
You can do whatever you want with the flags, this is just so `babel` does what people usually expect.

This + https://github.com/babel/babel/pull/6027 for cli should mean you just have to do `babel`

[2018-01-20 09:42] agm1984 commented on #3049
Here is a bonus solution that I have been using:

**./location/helpers/getPersonByEmail.js**
[code]

**./location/helpers/index.js**
[code]

**./location/login.js**
[code]

This will allow you to pull them off by name. The index file acts as a "pass through". I imagine it like some kind of symlink.

[2018-01-20 18:29] #7026 closed

[2018-01-21 07:54] houshuang opened #7247 "@babel/flow-transform-comments: UnionTypeAnnotation minimal example"
The following minimal example crashes with flow-transform-comments, but works well with flow-strip-types.

[code]

This is a reduced example, where I tried to strip out everything that did not cause the error. It seems like any further reductions makes the error go away, for example this does not crash:

[code]

(The actual code before reduction is here: https://github.com/chili-epfl/FROG/blob/dev

[2018-01-21 16:53] xtuc opened #7250 "transform-eval plugin doesn't work anymore"
Choose one: is this a bug report or feature request?

### Input Code

[code]

Doesn't work in recent Babel version.

### Expected Behavior

### Current Behavior

[code]

### Possible Solution

Use
[code]

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |
| Babylon          |
| node             |
| npm              |
| Operating Sys

[2018-01-21 20:41] gastonche commented on #7250
Hello @xtuc
Want to work on this issue, but I'd like some guidance on how to start since this is my first task with babel

[2018-01-21 21:38] loganfsmyth commented on #7250
I posted about it on Slack once, but I may not have ever filed an issue. The `parse` function it is using doesn't even exist. It's entirely possible this plugin has literally never worked. Personally I'm in favor of just erasing it entirely.

[2018-01-21 21:49] xtuc commented on #7250
@loganfsmyth see https://github.com/babel/babel/pull/7248

[2018-01-22 02:12] simonbuchan commented on #7186
This sounds like VS has the file open without the appropriate file sharing mode, which is a VS bug (since it shouldn't be assuming files will not be edited / deleted out from under it!)

Essentially, in Windows, when you open a file you specify what access you want for the new file handle, *and* what permissions you are OK with others having while you have the handle open, e.g. read and write, but

[2018-01-22 02:35] simonbuchan commented on #7196
`options` is a link, and I remember it always being so? That said, it links the the API page, and you have to scroll down to find the actual options.

It always seemed weird to me that the docs for the transform options were not in the page describing the way they will be set 99% of time. I don't think babel needs to go full https://webpack.js.org/configuration/ but maybe moving options to babelrc

[2018-01-22 08:21] lscspirit opened #7251 "Code placement within file affects generation of runtime methods"
I have two pieces of logically identical code below with differences only in the order of class definitions. However, that resulted in two different ways being used to define the `defineProperty` method in the compiled output.

**Version 1** compiled into:
  `import _Object$defineProperty from "babel-runtime/core-js/object/define-property";`

**Version 2** compiled into:
  `var _defineProperty = r

[2018-01-22 14:59] s97712 opened #7252 "code like "class foo{ a=1 }" error"
I try to run last one example in [App Bar](https://material-ui-next.com/demos/app-bar/) demo, And I got error:

[code]
#### Part of the code
[code]
#### package.json
[code]

#### .babelrc
[code]

How can I do?

[2018-01-22 15:02] cameron-martin opened #7253 "[babylon] async arrow functions with rest params with typescript type annotation causes SyntaxError"
Choose one: is this a bug report or feature request? Bug report.

### Input Code

https://astexplorer.net/#/gist/948cebd2ff64c4f3bdf6c5f839a6aac6/56567f051e14f81dcccdc17c238bdaf1a5838852

### Babel/Babylon Configuration (.babelrc, package.json, cli command)
Configuration in above url.

### Expected Behavior
The above code should parse.

### Current Behavior
The above code does not parse.

### Cont

[2018-01-22 15:56] #7252 closed

[2018-01-22 15:56] s97712 commented on #7252
https://stackoverflow.com/questions/39184778/why-set-a-react-components-state-outside-of-the-constructor

[2018-01-22 16:01] ohtangza commented on #5395
Any news for this?

[2018-01-22 16:28] loganfsmyth commented on #7251
Not an exact duplicate, but this is likely the same core issue as https://github.com/babel/babel/issues/2877, which is fixed in Babel 7's beta.

[2018-01-22 19:11] developit commented on #7237
Might be worth inspecting what the user has in their `package.json` `"main"` field - it should give the directory you're looking to output to, right?  I believe microbundle and preact-cli use the existence of a `src` directory though, that part is fine just using auto-detection.

[2018-01-22 21:02] kroko opened #7254 "Babel polyfill documentation for Webpack is wrong resulting in all polyfills being compiled into bundle"
### Bug report

Bug in Babel polyfill [documentation for webpack](https://babeljs.io/docs/usage/polyfill/#usage-in-node--browserify--webpack)

### Input Code

[Repo](https://github.com/kroko/babelloadertest)

[Revelation posted in babel-loader](https://github.com/babel/babel-loader/issues/567#issuecomment-359556395)

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

_.babelrc_

[2018-01-22 21:05] hzoo commented on #7250
Yeah I don't really see the point of this, and it doesn't have to be an official plugin since it's unrelated to what we do as core, also in favor of removing this.

[2018-01-22 21:06] kroko commented on #7254
Reference to the original webpack-loader ticket https://github.com/babel/babel-loader/issues/567

[2018-01-22 21:45] kroko commented on #7254
PR https://github.com/babel/website/pull/1520

[2018-01-22 21:59] hzoo commented on #7035
We should at least modify this error message to say you can use those options for ^ if it's intentional?

[2018-01-22 22:12] loganfsmyth commented on #7035
Oh weird, I swear I wrote up a reply to this way back, but I guess not?

@danez You're totally right. So you'd either want

    { placeholderPattern: false, placeholderWhitelist: new Set(['NODE'])  }

or

    { placeholderPattern: /^NODE$/ }

@hzoo Agreed. That would be a great addition.

I'm marking this as good beginner contribution. We can update that error message to throw something like

[cod

[2018-01-22 22:27] hzoo commented on #7035
Error message is at https://github.com/babel/babel/blob/c7980b2b90744098ed5d67a105f8f6e7270e7cbe/packages/babel-template/src/populate.js#L18

[2018-01-23 01:04] jridgewell opened #7256 "Optional Chaining Bugs Checklist"
- [x] Delete on optional chain should work `delete a?.b`: https://github.com/babel/babel/pull/7257
- [x] Optional should be removed from `NewExpression` AST
- [x] Optional `MemberExpressions` need to become a new AST node `OptionalChain`, to fix issues with should-not-parse grammars
- [x] Ensure OptionalChain cannot be the LHS of Assignment/Update expressions, tag of a TaggedTemplateLiteral, have

[2018-01-23 06:34] ksashikumar commented on #7253
I will work on this bug.

[2018-01-23 08:22] kevinptt0323 opened #7258 "Incorrect compilation for empty array"
### Input Code
[code]

### .babelrc
[code]

### Expected Behavior
No error will be thrown

### Current Behavior
[code]

[code]

### Possible Solution
Since empty array (e.g., array with `new`) has difference (weird?) structure.

Add `_toConsumableArray` and check properties when compiling rest operator.

### Context
The following code will be incorrect.
[code]

### Your Environment

| software

[2018-01-23 11:17] Andarist commented on #7258
@kevinptt0323 It seems that you are using a `loose` mode in which we do not use `_toConsumableArray` helper

[2018-01-23 11:36] Andarist commented on #7200
Thanks for having a trust with me and sharing the private repo, it was invaluable in finding the problem. It was quite bizarre and I would suspect babel being the culprit too - have you reported this to the webpack team?

[2018-01-23 12:36] ipsips opened #7260 "BrowserslistError: Unknown browser query 'last 1 years'"
While the documentation clearly states:

I get the error `Module build failed: BrowserslistError: Unknown browser query 'last 1 years'`

### Input Code
My `.browserslistrc` file contains:
[code]

[2018-01-23 12:57] jameslcj opened #7261 "Why double byte chars translate to unicode after babel.transform"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

I want to preserve double byte chars, like this

[code]

### Current Behavior

but babel translates my double byte chars, "：" ===> "\uFF1A"

[code]
### Possible Solution

### Context

### Your Environment

| software

[2018-01-23 14:31] nveenjain commented on #7256
I would love to work on this issue if available.

[2018-01-23 17:03] rajzshkr commented on #7250
So, are we going to fix this issue or remove this plugin?

[2018-01-23 17:03] xtuc commented on #7250
We can remove it, it has been broken since 2015, I guess nobody is relying on that.

[2018-01-23 17:17] rajzshkr commented on #7250
Done!!

[2018-01-23 17:39] rajzshkr commented on #7247
[code]
Can you try updating the plugin name from `transform-flow-comments => @babel/plugin-transform-flow-comments`

[2018-01-23 18:21] jridgewell commented on #7256
Hi @nveenjain!

Part 1 is already done.

Part 2/3 are closely intertwined. Unfortunately, they're rather difficult to accomplish. It'll take creating a brand new node type, called `OptionalMemberExpression`, which propogates upwards, and can be broken by a non-optional member or call expression (or a parenthesis, because syntax). It'll also likely break things inside the babel transforms, since th

[2018-01-23 18:43] mnpenner commented on #6945
I still can't get React to work with Babel 7. Here's what I've got:

package.json

[code]

.babelrc

[code]

And the error:

[code]

[2018-01-23 18:45] kevinptt0323 commented on #7258
@Andarist
No, the following code will use `_toConsumableArray`.
[code]

[code]

[2018-01-23 19:00] mnpenner commented on #7110
I've simplified my `.babelrc` as much as I could:

[code]

And removed all the `^`s from package.json just to be sure:

[code]

`babel-core` does **not** appear in yarn.lock, only `@babel/core`.

Still getting this

I give up. Going back to Babel 6.

[2018-01-23 19:03] caub commented on #6945
see my comment just above with `babel-core@7.0.0-bridge.0`

[2018-01-23 19:08] loganfsmyth commented on #7110
@mnpenner Hard to say really. The rest of the stack trace on that error should tell you what copy of `babel-core` you're using, which would probably help you understand where it is coming from. I agree that your config seems fine.

[2018-01-23 19:10] nicolo-ribaudo commented on #7260
It was introduced in BrowserList v.2.11 (https://github.com/ai/browserslist/blob/master/CHANGELOG.md#211), which is supported: https://github.com/babel/babel/blob/180eda3211faa855654757bc44aeaf3961a8be05/packages/babel-preset-env/package.json#L49

You should update your `node_modules` folder.

[2018-01-23 19:10] #7260 closed

[2018-01-23 19:12] nicolo-ribaudo commented on #7261
Thanks @jameslcj  for reporting this bug. This issue is a duplicate of https://github.com/babel/babel/issues/4909 and https://github.com/babel/babel/issues/7222

[2018-01-23 19:12] #7261 closed

[2018-01-23 19:18] loganfsmyth commented on #7110
I'm going to close this issue since there isn't anything actionable in the issue itself. Do know that we absolutely get that this is a pain point for users, and we'll likely be putting in some logic to throw a more helpful error. It'll still be an error though. If you have questions you can still feel free to post, but do understand that we're likely going to focus more on trying to finish 7.x its

[2018-01-23 19:18] #7110 closed

[2018-01-23 19:27] Janpot opened #7263 "Make the babel instance configurable in babel-register"
The version of babel that is bundled with `babel-register` might not always be the same one as the one I want to register
like in [this thread](https://github.com/kentcdodds/babel-plugin-macros/issues/48#issuecomment-359734120): a dependency (a babel plugin) wants to load modules of the dependant with the babel version of the dependant.

I propose to make it configurable like for instance

[code]

[2018-01-23 20:01] drcmda opened #7264 "[babel 7] class.method(arg = this.something) becomes: arg = undefined.something"
Choose one: is this a bug report or feature request?

bug

<img width="806" alt="screen shot 2018-01-23 at 20 56 08" src="https://user-images.githubusercontent.com/2223602/35297629-dd8409c6-007f-11e8-8a10-00b40e1cadfc.png">

It seems to transpile `this` in args to `undefined`, but only if an import is made above it. I tried several, always crashes, if i remove the import, it's fine again ...

###

[2018-01-23 20:30] shellscape commented on #7110
@loganfsmyth I didn't see it in the closing reply, so not to pester but only to make sure it doesn't get lost -your previous conclusion from Slack was that the babel 7 plugins should be updated to assert they're not being used by a lesser version of babel-core. It would be super helpful for folks to know if this was being put on a timeline, or being made any kind of a priority for the near future.

[2018-01-23 20:58] hayesgm commented on #6558
I experienced this issue as well (should we open a new issue without all of the non-relevant conversation?). I am using brunch and choose the quick fix, I added:

`"babel-preset-latest": "6.24.1"`

to my `package.json` file. I am sure this is not the best solution, and I would be happy to understand what a better solution would be.

[2018-01-23 21:02] existentialism commented on #6558
[code]
It might be occurring because you're including compiling `node_modules` and trying to compile `preset-env`?

Ref: https://github.com/babel/babel/issues/6130#issuecomment-324495961

[2018-01-23 21:11] loganfsmyth opened #7265 "Ensure that plugins throw helpful errors if used on versions of Babel that they do not support"
Feedback on various options would be appreciated!

Issues like https://github.com/babel/babel/issues/7110 are tripping up users pretty often, so making the transition from 6 to 7 smoother for users should be considered a blocker for the release of 7.x.

I think there are a bunch of ways to approach this. The simplest being that we literally go through each plugin and change

[code]
to

[code]

Obv

[2018-01-23 21:13] loganfsmyth commented on #7110
@shellscape I don't know that I can give a timeline because no matter what I feel like it'll be wrong, but I've filed https://github.com/babel/babel/issues/7265 for it and I would consider it a high priority. The only reason I didn't just do it when we talked was because I want to make sure the approach is as future-proof as possible so this doesn't just happen again as we evolve the plugin APIs o

[2018-01-23 22:31] #7250 closed

[2018-01-23 22:49] Andarist commented on #7265
There is also an option of specifying required version as static property of the plugin. Dunno if I actually like it, but thought I will mention it.

[2018-01-23 23:38] nveenjain commented on #7256
Well, if the tasks are difficult, i will try to implement them. Incase I'm not able to, i would surely like to review the PR, to watch out for implementation.

[2018-01-24 00:17] nveenjain commented on #7256
I was going through proposed spec. Don't we need the name of new node be `OptionalExpression` and it's expression property be one of `MemberExpression` or `CallExpression` and an `OptionalChain` node?

[2018-01-24 09:16] doberkofler opened #7266 "babel-preset-env runtime requirements check"
**feature request**
The concept of babel-preset-env is absolutely great, but seems very difficult to adopt if there is no way to make sure that the runtime actually supports all features.
I think, it would be most useful to add some functionality to the babel-preset-env package allowing to check if the minimal runtime requirements are met when running the code generated by babel.
I would guess tha

[2018-01-24 09:32] julien-f opened #7267 "[@babel/preset-env] useBuiltIns for libraries?"
### Is this a bug report or feature request?

More a discussion which may leads to a feature request in `@babel/preset-env`.

### Summary

The `useBuiltIns` features is great but its usage may not be appropriate for libraries because they affect the global scope.

`@babel/plugin-transform-runtime` approach is nice but it does not currently supports targets like `@babel/preset-env`.

### Input Code

[2018-01-24 10:39] julien-f opened #7268 "Issue between preset-env useBuiltIns and plugin-runtime"
### is this a bug report or feature request?

Bug report

### Input Code

[code]

[Reproduction repository](https://github.com/julien-f/issue-babel-env-runtime).
Related `regenerator-runtime` issue: facebook/regenerator#337

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Both functions should work fine.

### Current Behavior

[code]

### Possi

[2018-01-24 11:26] houshuang commented on #7247
Thanks, this worked!

[2018-01-24 11:26] #7247 closed

[2018-01-24 11:27] njlr opened #7269 "README for plugin-syntax-async-generators incorrect"
**bug report**

`plugin-syntax-async-generators` does not seem to work without `plugin-transform-regenerator`. The [README](https://github.com/babel/babel/tree/master/packages/babel-plugin-syntax-async-generators) should reflect this.

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

### Poss

[2018-01-24 12:45] LvChengbin opened #7270 "Cannot compile code, in builtins, into my codes?"
I just want to use some features like `Object.assign`, but I cannot find out a way to use it directly. I tried `include: [ 'es6.object.assign' ]`, `useBuiltIns: 'usage'`, `useBuiltIns: 'entry'` and `import` the file in my code, some of them add some code like `require( 'xxx/xx/xx' )` into my code, but that's not what I need, how can I config `@babel/preset-ent` will make babel inject the builtin c

[2018-01-24 14:21] Vandivier opened #7272 "TypeError: Cannot read property 'loose' of undefined"
Choose one: is this a bug report or feature request?
Bug Report

### Input Code

1 - `npm run build-dev`
2 - `npm run babel`

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

package.json
[code]

.babelrc
[code]

### Expected Behavior
1 - the contents of /dist should output to /redist, with arrow functions and other es5 noncompliant syntax transpiled properly to es5.

### Cur

[2018-01-24 16:15] Andarist commented on #7267
For what its worth - I will work soon-ish on implementing support for custom polyfills in preset-env (`core-js` tends to be huge). Will also look into providing the same thing (custom polyfills) but used as modules and not polluting the global scope. Fine-grained control will have to be added, as we cannot really assume what a custom polyfill looks like (if it polyfills globally automatically or n

[2018-01-24 16:29] Andarist commented on #7264
Could u run `node` in ur project and execute this code?
[code]

Would be helpful to see a result, Im suspecting this might a webpack issue - would be great to rule this out (or confirm).

[2018-01-24 16:35] Andarist commented on #7263
This would require some refactoring, as `@babel/register` is effectful module. To preserve old API and provide a new option it would have to be imported from other directory (i.e `@babel/register/custom`).

[2018-01-24 17:02] Janpot commented on #7263
@Andarist I might not think of all intricacies involved, but to me it seems like it's sufficient to plumb a babel through the options and select it [here](https://github.com/babel/babel/blob/63d9998aa45387af1216e3514598b54120fc4f1c/packages/babel-register/src/node.js#L51) instead of using the imported babel:

[code]

Wouldn't that be backwards compatible? I can make a PR for that if the babel team

[2018-01-24 17:22] Vandivier commented on #7272
Issue fixed! One must use all babel 6 or all babel 7. I was using babel 7 with a babel 6 cli tool.

The solution is to replace this in package.json:
    "babel-cli": "^6.26.0"

With this
    "@babel/cli": "^7.0.0-beta.38"

[2018-01-24 17:22] #7272 closed

[2018-01-24 17:28] Andarist commented on #7263
Oh yeah, it might very well be that easy. Was looking quickly at the source code and thought that [`register`](https://github.com/babel/babel/blob/63d9998aa45387af1216e3514598b54120fc4f1c/packages/babel-register/src/node.js#L96) is more tied to to babel's instance.

Me neither 😅 You can start a PR to get ball rolling faster.

[2018-01-24 18:39] drcmda commented on #7264
Returned:

[code]

Do you have any idea how webpack (4) could have done this? I thought it's never going to touch code like that ...

[2018-01-24 19:27] jridgewell commented on #7256
We can name it whatever. Leaving it `OptionalMemberExpression` will likely be easiest for transforms.

`OptionalChainingPunctuator` is just the `??.` sigil.

[2018-01-24 21:07] Andarist commented on #7264
@drcmda according to [latest announcement](https://github.com/webpack/webpack/issues/6357) webpack:

I suspect that webpack thought that `this` was referring here to "top level", but actually it refers to the class' instance. You can file a bug issue on their boards.

[2018-01-25 00:02] Andarist commented on #7264
I see you have started rolling ball on webpack's board - going to close this issue then.

[2018-01-25 00:02] #7264 closed

[2018-01-25 04:40] jojohappy commented on #6974
I also meet this problem, the `babel-register` configuration is
[code]
In babel-core, the regular expression of only will be generated by `babel-core/util/regexify` as following below
[code]
I run the app in `/usr/src/app`, the `/usr/src/app/node_modules/babel-preset-env/lib/index.js` will be matched the expression and compile itself.

Is it a bug to generate the regular expression?

[2018-01-25 05:56] rajzshkr commented on #7265
https://github.com/babel/babel/issues/7247

[2018-01-25 07:33] drcmda commented on #7264
@Andarist thanks for your help!

[2018-01-25 14:58] Andarist commented on #7258
You are right, this needs a fix in default mode.

[2018-01-25 16:33] Andarist commented on #7258
**Additional note**

This happens also in the destructuring transform for an example input of:
[code]

Faulty code is in `scope.toArray` detection - identifiers gets passed in and it's checked if identifiers refers to a generic Array - it does, but it doesn't mean we shouldn't convert those arrays with `toConsumableArray`.

Need to dig further into the best way to fix this, but at least we know wh

[2018-01-25 21:26] whitstot commented on #6808
@loganfsmyth I am having the same problem as yangheng, but I have already fixed everything you said to fix. I'm still stuck! Here's my git repo:

https://github.com/whitstot/wnsTest.git

I figured it'd be easier for you to do that than me copy and pasting everything in this comment box! I am simply trying to get my webpack and package.json set up, and its only running a Hello World. It compiles in

[2018-01-25 22:12] tech4him1 commented on #6629
@hzoo Is this still something that you are considering?

[2018-01-26 00:07] loganfsmyth opened #7275 "`retainLines` breaks `no LineTerminator` requirements in single-arg async arrows and decorated methods"
[code]

with `retainLines: true` becomes

[code]
which is a syntax error since `async` and `arg` need to be on the same line when there aren't parens.

We need to detect that `retainLines` is enabled, and that the identifier will insert new lines, and if so, wrap parens around the argument. We've got some existing logic in place for noLineTerminator but I don't think it would apply very well to th

[2018-01-26 00:08] Kovensky commented on #7275
The latest version of Jest is supposed to have source map support; maybe babel-jest can be fixed to use that instead and we can finally get rid of `retainLines`.

[2018-01-26 00:09] loganfsmyth commented on #7275
Maybe. Basically all I ever knew was "something in Facebook relies on it". Was that specifically Jest? Maybe @kittens would know?

[2018-01-26 04:26] jridgewell commented on #7256
Regarding the `OptionalMemberExpression` AST node, it should be:

[code]

[2018-01-26 04:28] nveenjain commented on #7256
@jridgewell what should be `OptionalChain` AST node Interface?

[2018-01-26 04:38] jridgewell commented on #7256
That is `OptionalChain`. 😉

Spec names don't matter for us. What it's trying to define is two separate member expressions:

[code]

Is an `OptionalMemberExpression`, with object `Identifier("obj")`, property `Identifier("a")`, computed `false`, and optional `true`.

If we then add a `.b` to it, we get another `OptionalMemberExpression` (this is the `OptionalChain` thing):

[code]

Notice that `.b`

[2018-01-26 04:43] nveenjain commented on #7256
Thanks, that cleared a lot of doubts :smiley:

[2018-01-26 04:45] jridgewell commented on #7256
Ohhh! We might be able to reuse `MemberExpression`!

We can turn `optional` into a tri-state boolean: `true`, `false`, `undefined`.

[2018-01-26 05:02] jridgewell commented on #7256
With tri-state `optional` field:

[code]

[2018-01-26 09:07] adamreisnz opened #7276 "Type errors for valid code after switching from preset-es2015 to preset-env"
I am getting the following two type errors after switching to preset-env;

### Issue 1
[code]

Related relevant code with the various (valid) declarations of `activities`:
[code]

They are all defined in their own function scope, so perfectly valid.

### Issue 2

`Cannot read property '0' of null`

Related code:
[code]

No idea why the latter error would be thrown as babel can't know what the valu

[2018-01-26 09:12] adamreisnz commented on #7276
The first error is possibly related to https://github.com/babel/babel/issues/6923

[2018-01-26 09:15] julien-f commented on #7275
Hey, is it related to facebook/jest#5326

[2018-01-26 10:28] pixelass commented on #6604
It seems to me that babel is becoming very unstable. New javascript features just cause too many issues and plugins don't work together.

Instead of developing I tend to read more and more issues until I get lost and lose track of my work. I understand that this might be hard to implement but I (think) I remember a time when babel would just do everything I wanted (it was definitely before I switc

[2018-01-26 14:50] bevacqua commented on #6084
@hzoo any way to get `@babel/preset-env` to understand object spread syntax but leave it untranspiled? This kind of annoyance bugged me a bunch of different ways, have you guys considered having a `parseOnly` option for plugins where they don't apply any transforms, but just parse the syntax? (Just fishing here, not familiar with Babel internals)

[2018-01-26 15:43] #5967 closed

[2018-01-26 16:50] #7263 closed

[2018-01-26 16:51] julien-f opened #7277 "[preset-env] target.node=true should use package.engines.node"
### Is this a bug report or feature request?

Feature request

### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

`package.json`:

[code]

### Expected Behavior

It should target the Node version specified in `package.engines.node`.

### Current Behavior

It targets the current Node version.

### Possible Solution

`current` should still use the

[2018-01-26 17:55] navbruce opened #7278 "Bug when destructuring parameters in @babel/plugin-transform-flow-comments"
### Input Code

[code]

### Babel/Babylon Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
[code]

### Current Behavior

[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| @babel/plugin-transform-flow-comments | 7.0.0-beta.38
| babel-cli        |  6.26.0
| node             | 8.9.4
| npm              | 5.6.0
| Operating Sys

[2018-01-26 18:07] nicolo-ribaudo commented on #7278
This is probably related to https://github.com/babel/babel/issues/5600

[2018-01-26 18:56] arantes555 commented on #6606
Seeing this problem too with ie10. My build uses rollup & babel7

[2018-01-26 19:19] seeden opened #7281 "React defaultProps are not working with targets: { node: true}"
Hi guys.

When I use
[code]

I can see next error.
We don't know what to do with this node type. We were previously a Statement but we can't fit in here?

[code]

It will desapear when I remove react defaultProps from my source code.

[code]

It is working fine when I use browsers: ['> 1%', 'last 3 versions'] instead of node: true.

Here is my packages:
[code]

[2018-01-26 19:25] loganfsmyth commented on #7256
I'm having trouble wrapping my head around the idea of a tristate here. Personally that seems super likely to confuse others too. From the standpoint of breaking transforms, isn't this going to break things either way since nothing knows to expect a tri-state flag either?

[2018-01-26 19:32] nveenjain commented on #7256
@loganfsmyth, according to me no transform breaks when implemented using tristate for `optional`. As current transforms are not using optional(except optionalChaining ones) and those who don't require it will have value `undefined` received as optional property. So that test case would behave exactly the same as not having `optional` property. Looking for other's point of view though.

[2018-01-26 21:21] loganfsmyth commented on #7256
I guess it depends what we mean by breaking. If a plugin transforms `MemberExpression` nodes and doesn't know to expect `optional` as a flag, won't that plugin transform the code in such a way that the code is broken?, e.g.

[code]
but if there is an `optional` flag it would change the meaning for

[code]
so it may not throw an exception, but the plugin is certainly broken.