[2017-03-04 12:57] xtuc commented on #5378
The issue seems to come from `scope.rename` ([Renamer](https://github.com/babel/babel/blob/7.0/packages/babel-traverse/src/scope/lib/renamer.js)). Which in the following example also rename the switch discriminant:

[code]

The `rename` method isn't well tested, in did add some tests there: https://github.com/xtuc/babel/blob/45c6808415e5454162b3771b2c9e65d199ab5f2f/packages/babel-traverse/test/sco

[2017-03-04 14:54] rohmanhm opened #5420 "Use babel-plugin into specific file via .babelrc?"
I have lot of `.js` code in my project, but I want to use maybe `babel-plugin-add-module-exports` to my `main.js` file without affect to all `.js` files I have. How can I do that?

[2017-03-04 15:12] xtuc commented on #5420
Please take a look at our CLI documentation: [here](https://babeljs.io/docs/usage/cli/).
I would run a separate command against the `main.js` file with that plugin.

[2017-03-04 15:19] xtuc commented on #5404
I think we could ignore your service worker file and copy it manually (with `cp`).

[2017-03-04 15:53] rohmanhm commented on #5420
but how about using it via `.babelrc` @xtuc
I read the docs but can't figure out how to used it via `.babelrc`

[2017-03-04 15:57] xtuc commented on #5420
Ok, you can use the same option from the `.babelrc`: [see documentation](https://babeljs.io/docs/usage/babelrc/).

Do you already have a babelrc? Note that ignore will be applied to other plugins/presets.

[2017-03-04 16:07] fatcerberus commented on #4920
Re: human debugging: I also find the option useful for that.  If I distribute a test build to my beta tester and it produces a runtime error, the Error's `.lineNumber` (displayed on the error screen) can then be traced back to the original source line.  In that case I don't have the luxury of running under the debugger to apply a source map--I only have the reported error message to go on.

[2017-03-04 16:46] rohmanhm commented on #5420
I have already read `.babelrc` docs from [here](https://babeljs.io/docs/usage/babelrc/), but still I can't found any documentation about implementing babel-plugin into specific file.

[2017-03-04 16:51] xtuc commented on #5420
Once you have your `.babelrc` setup we can use the Babel CLI.
Like:

[code]

Are you using Babel with Webpack, grunt or an alternative bundling tool?

[2017-03-04 23:47] rohmanhm commented on #5420
I'm using babel with webpack, I have problem with my `main.js` file. When I run without that plugin it's throw an error. But when I use it, It works. But affect to other `.js` files I have and make it throw new error. In my case I need use babel-plugin to just one file without affect to other file.

[2017-03-05 21:04] babel-bot opened #6700 "How to avoid hardcoded plugin lists?"
Any projects that use bablyon to do source code transformation or analysis typically want to operate on any code that bablyon is capable of parsing. Unfortunately, that means enabling all flags and plugins in every place that babylon is used. Inevitably this list of flags and plugins falls behind eventually.

What do you propose for dealing with this problem? Should we allow passing a `parseTarget

[2017-03-06 06:50] babel-bot opened #6699 "Support initialized var declarations in for-ins"
In sloppy mode, the following is [legal](https://tc39.github.io/ecma262/#sec-initializers-in-forin-statement-heads) ([sorry](https://github.com/tc39/ecma262/pull/614)):

[code]

Babylon may wish to support it, especially if it needs to handle old code bases.

On the other hand, this is a sloppy mode annex-B extension. No one writing code today should use it. So it wouldn't be a huge loss if it did

[2017-03-06 09:33] domaslasauskas commented on #4375
Thanks @Kovensky for clarifying. I assumed that example will work based on the comment from related issue and because it's very similar to `transform-es2015-classes` output. But looking over it now I see why it won't work. Also, just trying to run expected.js code proved all your points. I'll try looking into if there is any other way to achieve this.

[2017-03-06 14:22] fela98 commented on #4075
I'm still getting this error with babel-polyfill 6.23!

[2017-03-06 17:22] hzoo commented on #4959
Probably don't need to track this, will just do it when I get to do it

[2017-03-06 20:48] juan-urtazun opened #5423 "No compatible version found babel-helper-function-name@^6.23.0 when installed babel-preset-stage-2"
Hi, when installed babel-preset-stage-2  get a No compatible version found  babel-helper-function-name@^6.23.0 specified as dependency of babel-plugin-transform-class-properties

console output:
npm i --save-dev babel-preset-stage-2
npm ERR! node v7.7.1
npm ERR! npm  v4.1.2
npm ERR! code ETARGET

npm ERR! notarget No compatible version found: babel-helper-function-name@^6.23.0
npm ERR! notarget Va

[2017-03-06 20:51] hzoo commented on #5423
hey @juan-urtazun, can you try `rm -rf node_modules && npm install` again?

It's definetely published already: babel-helper-function-name

https://unpkg.com/babel-helper-function-name@6.23.0/
https://www.npmjs.com/package/babel-helper-function-name
https://registry.npmjs.org/babel-helper-function-name

[2017-03-07 01:10] rohmanhm commented on #4281
got same problem, any update?

[2017-03-07 02:29] phyllisstein opened #5424 "Using transform-react-inline-elements in combination with Babili results in an undefined variable."
Hey there! I've been working to add Babili to a project of mine that uses `transform-react-inline-elements` and I'm running into a little trouble. When used in combination, the two are emitting code in which they've mangled a variable name, but then missed a reference later in the source and dropped in the original.

I'm not totally sure if I can reproduce it in another repo, since I'm not totally

[2017-03-07 12:44] juan-urtazun commented on #5423
Thanks!, thats work :)

[2017-03-07 15:16] #5423 closed

[2017-03-07 15:47] marudor commented on #4310
This is still a problem. Any updates?

[2017-03-07 18:28] xtuc commented on #5371
In Chrome 56.0.2924.87:

[code]

and

[code]

What do you think if we allow `super.*` calls before `super()` when the parent node is an `ArrowFunctionExpression`? @loganfsmyth @Kovensky

[2017-03-07 18:31] xtuc commented on #5357
Did https://gist.github.com/lukekarrys/87bfaf9db949a3cfa628#gistcomment-1825867 resolve your issue?

[2017-03-07 18:34] loganfsmyth commented on #5371
Does the class transform output something that works, if we remove the compile-time check? I agree that this should be a runtime check, or at least we should just let it throw with whatever error it would throw given the current compiled output.

[2017-03-07 18:38] loganfsmyth commented on #4310
See https://github.com/babel/babel/issues/4920#issuecomment-283732017

For this specific example, I'd happily accept a PR, but `retainLines` isn't a feature that has a high priority, so we are unlikely to get to this on our own.

[2017-03-07 18:43] xtuc commented on #5371
Ouputs looks like this: https://gist.github.com/xtuc/bc7caa2af9f919b64810f40a5984cf08 and seems to work fine.

If this is OK for your I will submit a PR.

[2017-03-07 19:09] loganfsmyth commented on #5371
Cool, it is using the right `_this`.

The only downside of that code right now is that it will execute without error when `_this` is `undefined` as far as I can tell.

I'm happy if you want to PR it so it won't error with a parent arrow.

[2017-03-07 19:27] loganfsmyth commented on #4281
As mentioned above, I'd consider this expected behavior because this module is meant to transform ES6 modules to UMD, it is not meant to convert arbitrary CommonJS code to UMD.

     require("module").test;

would have to be

     import { test } from "module";

[2017-03-07 19:30] jlecomte opened #5426 "Error thrown when using Sinon"
### Input Code

index.js:
[code]

test.js:
[code]

Command:

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

The output should be empty and node should exit cleanly.

### Current Behavior

An error is thrown:

[code]

### Possible Solution

By downgrading the `source-map` module to `0.4.2`, everything works. However, `source-map@0.4.3` onward s

[2017-03-07 19:55] loganfsmyth commented on #5426
This appears to be because `source-map-support` uses `Math.random`, and because you are mocking it out, it is returning `undefined` when the sourcemap-based stack trace is generated.

It doesn't look like there is anything Babel could do for this. You could file this with `source-map-support` where they could grab a reference to the global before you mock it.

Tough one.

[2017-03-07 19:55] #5426 closed

[2017-03-07 19:57] zhanzhenzhen commented on #5371
That's great!

[2017-03-07 19:59] hzoo opened #5428 "babel-generator: await (a||b) loses parentheses"
Original issue submitted by @marcello3d in https://github.com/babel/babili/issues/460

[code]

becomes

[code]

should be

[code]

[2017-03-07 20:01] loganfsmyth commented on #5420
I _think_ what you're describing is something that we don't currently support. Are you thinking of something like:

[code]
so `es2015` and `add-module-exports` would run on `main.js` and all other files would only get `es2015`?

[2017-03-07 20:08] loganfsmyth commented on #4920
Interesting point for the alternate environment debugging. That does sound annoying.

For the case of test builds, if you so desired, it would likely be pretty easy for you to build a sourcemap so that when you get errors from test builds, you could process them with the sourcemap for that build, outside duktape, to get the original positions.

I still think this is something we aren't realistical

[2017-03-07 20:31] hzoo commented on #4073
https://github.com/babel/babel/issues/5427

[2017-03-07 20:31] #4073 closed

[2017-03-07 20:31] hzoo commented on #4071
https://github.com/babel/babel/issues/5427

[2017-03-07 20:31] #4071 closed

[2017-03-07 21:48] hzoo commented on #4539
We're going to go with deprecating "env" as an option in 7.0 and asking for users to use a `.babelrc.js` file to support this use case (https://github.com/babel/babel/pull/4892). Basically the workaround is the new suggestion since it's not too much of a pain to do. We can think about writing some utils or just recommending what's done for webpack like https://github.com/kentcdodds/webpack-config-

[2017-03-07 21:48] #4539 closed

[2017-03-07 21:53] hzoo commented on #5275
Pasting what I wrote in the other issue:

We're going to go with deprecating "env" as an option in 7.0 and asking for users to use a `.babelrc.js` file to support this use case (https://github.com/babel/babel/pull/4892). Basically the workaround is the new suggestion since it's not too much of a pain to do. We can think about writing some utils or just recommending what's done for webpack like htt

[2017-03-07 21:53] #5275 closed

[2017-03-07 21:58] #4630 closed

[2017-03-07 22:30] kaicataldo commented on #5276
So now we just want to print a warning about `env` is being deprecated and that it will be removed in v8.0.0 when it's used, yeah? Or does deprecation involve more than that?

[2017-03-07 23:03] azu commented on #5276
It will be big breaking change.
I think that it should have graceful migration plan.

This breanking change may have a potential risk.
Existing `.babelrc` will continue to work, but it will be broken.
Concernedly. The user can't notice this changes.

IMHO, `.babelrc` keep going existing behavior and `.babelrc.js` adopt new algorithm.

[2017-03-07 23:05] kaicataldo commented on #5276
@azu I think the point of deprecation is that it won't be a breaking change

[2017-03-07 23:06] rohmanhm commented on #5420
@loganfsmyth yes, you're right 👍🏼

[2017-03-07 23:25] hzoo commented on #5276
The description of the issue is for the original issue which was about removing it not deprecating it, I'l update

[2017-03-07 23:29] azu commented on #5276
I see.

Is this behavior actually changed in v7 -> v8?
( I alreadly know that some user ignore deprecated warning... [My concern](https://github.com/babel/babel/issues/5276#issuecomment-284889496) will be revisited at that time )

[2017-03-08 00:29] aaronang commented on #5428
I will work on this one 😄

[2017-03-08 00:40] jlecomte commented on #5426
Thank you for the quick turnaround, @loganfsmyth ! Will do.

[2017-03-08 00:46] loganfsmyth commented on #5426
Yeah, unfortunately this seems like an argument against mocking globals honestly. There could be any number of things happening in the background when you mock.

Another possible approach might be for Sinon to extract the stack data lazily, but yeah it's all kind of gross. It seems terrible to expose `source-map-support` to essentially use no global variables and use no npm modules that use no glo

[2017-03-08 00:49] loganfsmyth commented on #5426
In this particular instance the `Math.random` that was failing is in `source-map`: https://github.com/mozilla/source-map/blob/master/lib/quick-sort.js#L43 so there is essentially nothing the maintainers of `source-map-support` could do about it either really, unless they wanted to detect that you mocked the function, unmock it while calling `source-map`, and then put the mock back again.

[2017-03-08 01:07] kaicataldo commented on #5276
@azu No, `env` will remain as it is now. We will just be recommending using a .babelrc.js file instead of .babelrc with `env`.

[2017-03-08 02:35] rubencodes commented on #3826
Sorry, I'm new here; is that pull request live/deployed in some version of babel? I ran into an issue today that I think may be this (a string literal with unicode was being transpiled into the character, which was causing bugs). I'm on babel-core@6.22.1. Thanks!

[2017-03-08 07:02] bluepnume opened #5432 "transform-es2015-typeof-symbol causes cross-domain error in IE"
`transform-es2015-typeof-symbol` converts `typeof foo` to `_typeof(foo)` when `typeof Symbol.iterator !== "symbol"`. `_typeof` is implemented as follows:

[code]

That `obj.constructor` property lookup throws an error when it's applied to a cross-domain window object. For example, `typeof window.frames[0]` transpiles to `_typeof(window.frames[0])` which ends up calling `window.frames[0].constructo

[2017-03-08 08:23] fatso83 commented on #5426
@loganfsmyth I might be missing a key technical aspect, but couldn't they simply maintain a reference to the globals on module startup? that's what most other libraries do (lodash, pinkyswear and underscore springs to mind) to avoid other libs interfering with them.

As in
[code]

Or is the problem that by the time the `source-map` module is invoked the Math global has already been modified? I don

[2017-03-08 12:45] xgqfrms-GitHub commented on #2987
babel-standalone

[2017-03-08 14:31] qborreda commented on #1809
It happens to me as well ..

To clarify, the output shows a selected dom like
`<input type="checkbox" checked .. />`, but if you inspect the element and try the `checked` value of the dom node (with chrome or firefox, this would be `$0.checked`) it returns false ..

Not only that .. an associated css rule like `:checked` doesn't show the selected state styles, even if the rendered dom element show

[2017-03-08 15:01] Feuermurmel opened #5434 "Babel CLI fails to find presets when compiling files outside the project directory"
I'm trying to run `babel` on a JSX file outside the project root (this happens in unit test when using a temporary directory under `/private/tmp`). It seems that babel fails to find presets installed into the same `node_modules` directory as `babel-cli`:

[code]

I've tested this with Babel 6.23.0 (babel-core 6.23.1) on OS X 10.11.6.

[2017-03-08 15:47] hzoo commented on #5432
Not sure what we should do here. I don't think we want to do try/catch since that would make typeof really slow (every typeof compiling to try/catch).

If you aren't taking advantage of `typeof Symbol` I would disable that transform. Also I would use https://github.com/babel/babel-preset-env if you aren't already

[2017-03-08 16:00] hzoo commented on #4574
Closing for now

[2017-03-08 16:00] #4574 closed

[2017-03-08 17:34] vinnymac commented on #5357
I only see this issue on IE 11 and below when using `babel-plugin-transform-react-inline-elements`. I tested on the latest Safari/Firefox/Chrome/Opera/Edge on macOS Sierra 10.12.3. None of those browsers had any invariants.

Same as @rosskevin says, babel-polyfill makes no difference here.

I will see if I have to time to try to trace this later today. It doesn't make it easy to debug since it see

[2017-03-08 17:38] rosskevin commented on #5357
This also occurs on phantomjs (which is an older engine as well).

[2017-03-08 17:45] aaronang commented on #5434
For support questions I would highly recommend you to join our [Slack channel](https://slack.babeljs.io/).

It is not that `babel-cli` cannot find `babel-preset-es2015`; if you move `foo.jsx` to the project root, then it will work. To be honest, I think it is bad practice to create files during tests outside the project directory. Therefore, I would suggest you to create a `temp/` directory in the

[2017-03-08 19:15] funkjunky opened #5435 "Object keys are converted to lower case { A: 1 } becomes { a: 1 }"
{ A: 1 } becomes { a: 1 }, which is strange and annoying to me.

### Expected Behavior
maintain the case

### Current Behavior
converts keys to lower case

### Context
I don't want to have to wrap my keys in quotes

### Your Environment
react, es 2015, stage-0

[2017-03-08 19:16] bluepnume commented on #5432
Sure, try/catch was the first naive solution which came to mind.

We have a temporary fix in place already, but still -- this transform is included in the es2015 preset, so would be good to figure out a solve. I would expect `typeof x` should never throw an error for any value of `x`.

What about `obj instanceof Symbol` rather than checking `obj.constructor`?

[2017-03-08 19:17] loganfsmyth commented on #5435
That is not the current behavior on https://babeljs.io/repl/#?presets=es2015%2Creact%2Cstage-0&code=var%20foo%20%3D%20%7B%20A%3A%201%20%7D so we'd need a reproducible case.

[2017-03-08 19:18] funkjunky commented on #5435
ok it's working now, sorry. Perhaps webpack didn't update or something... Even though I never had lower case keys... doesn't matter. Sorry about this.

"try resetting the router" kind of instance.

[2017-03-08 19:18] #5435 closed

[2017-03-08 22:26] aaronang commented on #5347
Closing this issue due to no reply. If this is still an issue, please provide an example repository that reproduces your issue, or join our [Slack channel](https://slack.babeljs.io/) for faster back-and-forth.

[2017-03-08 22:26] #5347 closed

[2017-03-08 22:28] #4015 closed

[2017-03-08 22:31] aaronang commented on #4947
Closing this issue due to long period of inactivity. If this is still an issue, please provide us an example repository that reproduces this problem, or join our [Slack channel](https://slack.babeljs.io/) for faster back-and-forth.

[2017-03-08 22:31] #4947 closed

[2017-03-08 22:32] hzoo commented on #4947
This is also fixed by https://github.com/lerna/lerna/pull/595 now (publishes packages in topological order)

[2017-03-08 22:33] aaronang commented on #4841
Closing this issue due to long period of inactivity. If this remains an issue, please provide an example repository that reproduces the problem, or join our [Slack channel](slack.babeljs.io) for faster back-and-forth support.

[2017-03-08 22:33] #4841 closed

[2017-03-08 22:50] aaronang commented on #4794
Hope you don't mind, but I am closing this issue due to long period of inactivity. If this issue remains unsolved, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-08 22:50] #4794 closed

[2017-03-09 03:01] Agathver commented on #5089
Hi
We would like to work on this as the part of RGSoC 2017
@meghap9937 @lipsa7
This would be our teams first PR to get familiar with the code.

[2017-03-09 03:42] aaronang commented on #5434
For support questions, I highly recommend you to join our [Slack channel](https://slack.babeljs.io) for faster communication.

I am not sure if this is a bug. However, a workaround is to create a `temp` directory in your project directory, and delete it after your tests. That's also how test fixtures in Babel are done.

Something unrelated to this issue; we highly recommend you to use `babel-prese

[2017-03-09 04:08] aaronang commented on #5434
I have investigated this issue a bit more. In https://github.com/babel/babel/blob/7.0/packages/babel-core/src/helpers/resolve.js we call `resolve` where `..` is bound `relative`. Then, `resolve.sync` is unable to resolve the given location `es2015` (and its alternative possible preset names).

[2017-03-09 06:46] uscengineer commented on #3930
@rightaway for me what worked was BaseClass.prototype.myfunction. Example:

[code]

[2017-03-09 06:57] aaronang commented on #4383
Closing this issue due to long period of inactivity. If this issue remains unsolved or causes trouble, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 06:57] #4383 closed

[2017-03-09 07:01] aaronang commented on #4373
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:07] aaronang commented on #4407
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:07] #4407 closed

[2017-03-09 07:09] #4396 closed

[2017-03-09 07:09] aaronang commented on #4396
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:11] aaronang commented on #4395
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:11] #4395 closed

[2017-03-09 07:13] aaronang commented on #4368
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:13] #4368 closed

[2017-03-09 07:32] aaronang commented on #4070
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:32] #4070 closed

[2017-03-09 07:40] aaronang commented on #4118
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:40] #4118 closed

[2017-03-09 07:47] aaronang commented on #4096
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 07:47] #4096 closed

[2017-03-09 07:58] aaronang commented on #4819
Does this issue still remain a problem?

[2017-03-09 08:03] aaronang commented on #4795
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 08:03] #4795 closed

[2017-03-09 08:14] aaronang commented on #4459
I am not able to reproduce this. Therefore, I am closing this issue. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-09 08:14] #4459 closed

[2017-03-09 08:23] xtuc commented on #5432
As @hzoo mentionned the Babel transformation can't use a try/catch but as a workarround you could wrap your `typeof` test in a try/catch block.

I'm wondering what happend in Chrome or what the spec says about that.

[2017-03-09 08:34] bluepnume commented on #5432
Thanks, sure -- as mentioned, a temporary fix is no problem.

In chrome, as expected, `typeof frames[0] === 'object'`

<img width="179" alt="screen shot 2017-03-09 at 12 34 05 am" src="https://cloud.githubusercontent.com/assets/1219075/23742045/2cc5ecb0-0460-11e7-9645-76db637f532e.png">

[2017-03-09 12:44] Janjuks commented on #4819
Hadn't touched this issue. I just tested with simple example and it worked fine.

[2017-03-09 13:19] jogibear9988 opened #5437 "babel spread transform does not work in polymer"
I've following Code in property-effects.html from polymer:
(part of the code)

      }, {
        key: 'splice',
        value: function splice(path, start, deleteCount, ...items) {
          var info = {};
          var array = /** @type {Array} */Polymer.Path.get(this, path, info);
          // Normalize fancy native splice handling of crazy start values
          if (start < 0) {
            st

[2017-03-09 13:21] xtuc commented on #5432
Just curius, could you try with `typeof window.frames[0].location.href`?

[2017-03-09 13:29] Feuermurmel commented on #5434
@aaronang Thank you for your analysis. I'm not sure why I did not mention the version of babel I'm using, I've updated the description. I've already implemented a slightly different workaround: I'm just piping the file into babel for the moment. Seeing that this is considered a bug and not an oversight on my part is all I wanted.

[2017-03-09 14:13] #5428 closed

[2017-03-09 14:57] xtuc commented on #5434
Would be great to be able to run the command like: `chdir=. node_modules/.bin/babel --presets=es2015 ../foo.jsx`.

This is also easily implementable in Babel.

[2017-03-09 15:15] xtuc commented on #5420
As a workarround you could use this configuration in Wepack:
[code]

(I didn't test that)

[2017-03-09 16:51] bluepnume commented on #5432
[code]

[2017-03-09 17:18] #4819 closed

[2017-03-09 17:23] aaronang commented on #5434
I was thinking for Babel 7, it should actually be able to use [`process.cwd()` which is the default](https://github.com/babel/babel/blob/7.0/packages/babel-core/src/helpers/resolve.js). We could basically make use of this default value when the normalized path to a file (`./../test/../foo.js` equals `./../foo.js`) is outside the project directory.

[2017-03-09 18:51] loganfsmyth commented on #5426
`source-map-support` is loading `source-map`, so either

1. `source-map` would have to store a reference to `Math.random` to harden its implementation against global mutation
2. `source-map-support` would have to store the reference, and then essentially do

[code]

So either `source-map-support` would have to make assumptions about the inner works of `source-map`, which would be terrible, or `sou

[2017-03-09 19:32] loganfsmyth commented on #5434
Having looked option processing a lot recently, there are definitely some changes we could think about to make this easier. Tempted to do it and add an option to revert back to the current behavior if people rely on it.

Currently, assuming I've got it right in my head, we look up config in a few ways:

If you pass an explicit filename:

1. Plugins explicitly passed resolve relative to the file be

[2017-03-09 22:25] stevenvachon opened #5441 "nested plugin throwing error despite being ignored"
[code]

I am using the `ignore` option:
[code]
[code]

`ignore` does not appear to be overriding the babel plugins listed in the package.json for "in-view".

**Edit**: [babelify#213](https://github.com/babel/babelify/issues/213) seems to be related.

[2017-03-10 00:28] rohmanhm commented on #5420
@xtuc I tried but didn't work.

[code]
maybe overwrite
[code]
since `main.js` still using `.js` extensions

[2017-03-10 00:39] hzoo commented on #5098
Can try the above suggestions, or use babel-preset-env to only compile a minimal amount in development only so you don't need sourcemaps for most things

[2017-03-10 00:39] #5098 closed

[2017-03-10 01:43] aaronang commented on #5441
@stevenvachon Could you provide an example repository that reproduces your problem?

[2017-03-10 07:19] FourwingsY commented on #5078
I found very weird and temporary solution, for who are suffered with this issues.
[code]
makes `this` works fine. I have no idea how does code works, but it works.

[2017-03-10 07:59] jogibear9988 commented on #5437
when i test my code part on https://babeljs.io it works. Using es2015 preset. maybe spread transfrom is not the only i need, i will test once more

[2017-03-10 07:59] #5437 closed

[2017-03-10 08:13] wkwiatek commented on #5078
@FourwingsY for me it's losing `arguments` too in the above scenario. So after creating new method using AST I have:

[code]

[2017-03-10 09:00] blade254353074 opened #5443 "Missing variable name"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

`const err = new Error(message)` execute successfully.

### Current Behavior

BUT IT WILL THROW ERROR: `ReferenceError: message is not defined`

Because of the code was transformed to:

![image](https://cloud.githubusercontent.com/assets/9346008/23788615/40689468-05b2-11e7-98a8-d05

[2017-03-10 11:29] artemave commented on #5024
Because of this issue, `debug` module doesn't log into the debug console in electron.

[2017-03-10 14:54] stevenvachon commented on #5441
@aaronang https://github.com/stevenvachon/babel-issue5441

[2017-03-10 15:47] OlegLustenko commented on #5387
[code]
Seems that syntax is incorrect. `let a = a`.
Variable 'a' is not defined in this scope, and can't access to upper scope

[2017-03-10 17:09] mfirmin commented on #4829
I was running into the same problem, and spent most of yesterday trying to fix it.

Turns out, if you just add `exclude: 'node_modules/**'` (or in my case, make sure the path is correct...) to the babel plugin in your rollup config, it works perfectly:

[code]

[2017-03-10 17:23] aaronang commented on #5441
@stevenvachon Do you need `global: true`? Browserify ignores everything in `node_modules` by default.

By the way, come join our [Slack channel](https://slack.babeljs.io) for faster communication :)

[2017-03-10 17:38] aaronang commented on #5443
@blade254353074 Could you provide an example repository that reproduces this problem? This will make it easier for us to help you out. In addition, for faster communication you could join our [Slack channel](https://slack.babeljs.io).

Based on what you provided, what is returned by `res.data`?

[2017-03-10 17:42] stevenvachon commented on #5441
Yes, I import other internal dependencies within node_modules that have ES2015 code.

[2017-03-10 18:08] existentialism commented on #5443
It looks like an issue with `babel-plugin-import` and it not properly handling the fact that you have a named import and a destructure with the same name?

You probably want to just rename `message` from `res.data` anyway.

This works:

[code]

Results in:

[code]

[2017-03-10 18:23] adamstac opened #5445 "Henry Zhu on Request For Commits!"
Howdy, I'm Adam from Changelog.com.

We're kicking off season 2 of our podcast Request For Commits hosted by @nayafia and @mikeal and we'd like to have you on as guest to talk about your experiences maintaining/sustaining Babel.

If you haven't heard of the show (yet), Request For Commits is a podcast that explores different perspectives in open source sustainability. It's about the human side of

[2017-03-10 18:29] hzoo commented on #5445
I wanted to have some fun with this issue, but sounds awesome! Thanks for the opportunity

[2017-03-10 19:31] MatteoGabriele commented on #5345
@existentialism I know we already closed the issue but it is something that i don't get it. Just look at this gif I made. I just add presets normally, which works, then when i add the options it crashes.

Thanks again! :)

![screen recording 2017-03-10 at 08 16 pm](https://cloud.githubusercontent.com/assets/5337152/23810101/7a42a5f2-05d0-11e7-8c68-b277c8054311.gif)

[2017-03-10 19:41] #4468 closed

[2017-03-10 22:55] stevenvachon opened #5446 "getters within object initializers not transformed"
[code]

*should* transform to:
[code]

but instead, merely produces:
[code]

Tried "es2015" and "es2017" presets.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get#Defining_a_getter_on_new_objects_in_object_initializers

[2017-03-10 23:17] loganfsmyth commented on #5446
That code is valid ES5, so it does not need to be transformed.

[2017-03-11 00:11] stevenvachon commented on #5446
Whoa! Awesome. Thanks.

[2017-03-11 00:11] #5446 closed

[2017-03-11 04:04] blade254353074 commented on #5443
Thank you guys @existentialism @aaronang
I removed `["import", { "libraryName": "antd", "style": true }]`, but the error still happen.
It has nothing to do with `babel-plugin-import`.

---

When I comment the `import { message } from 'antd'`,
the transformed code will turn to normal.

[code]

![image](https://cloud.githubusercontent.com/assets/9346008/23820403/9196e880-0652-11e7-863a-6febd70ac251.

[2017-03-11 11:20] chicoxyzzy commented on #4829
Seems like this issue is related to `rollup-plugin-babel`, not Babel

[2017-03-11 13:07] xtuc commented on #5432
Babel's `typeof` implementation needs to be generic enough. We can't include cross-domain properties access check neither try/catch'ing (because of the overhead).

The native `typeof` will also throw when you try to access cross-domain properties, so I think it's fine to try/catch it on your side.

Do you mind if I close this issue? Feel free to re-open it if needed.

[2017-03-11 13:12] xtuc commented on #5387
Syntax seems invalid, I'm not able to run it on Chrome 56.0.2924.87.

[code]

[2017-03-11 14:37] xtuc commented on #5420
Yes I tried to exclude the `main.js` from regular loader. But I think you got the idea.

Do you mind if I close the issue since it is more a bundle issue? Feel free to reopen if needed.

[2017-03-11 16:43] bluepnume commented on #5432
This bug isn't about me wanting to use `typeof` on cross domain properties. I want to be able to use it on cross domain *window objects*, which is 100% safe normally, without using `transform-es2015-typeof-symbol`.

Untranspiled javascript: `typeof window.frames[0]` returns `"object"`.

Transpiled javascript: `typeof window.frames[0]` throws `Uncaught DOMException`.

In this case, it's `_typeof` t

[2017-03-11 18:57] loganfsmyth commented on #5420
I'd also be fine if we want to make this `[Feature Request] Configure based on file globs` and leave it open.

[2017-03-11 19:08] xtuc commented on #5420
@loganfsmyth I wanted to create a new issue for the feature request with a more explaining description.

[2017-03-11 19:37] aaronang commented on #4489
@gabelevi Are you still able to reproduce the bad stack trace? If not, we can close this issue 😄

[2017-03-11 21:09] loganfsmyth commented on #5420
That works!

[2017-03-12 06:20] sethbergman commented on #5434
I wondering if this would have anything to do with it?
https://github.com/babel/babel/pull/5449

[2017-03-12 07:21] aaronang commented on #5434
@sethbergman I don't see how this is related to the pull request you mentioned?

[2017-03-12 12:09] janflyborg commented on #4373
Have you not been able to reproduce it from my description? I would say that my explanation is quite clear, so is it really necessary to provide an example repo for this?

[2017-03-12 15:16] lenovouser commented on #4356
Any updates?

[2017-03-12 19:14] loganfsmyth commented on #4356
This will likely be fixed as part of the 7.x released, eventually.

[2017-03-12 20:11] xtuc opened #5451 "[Feature Request] feature similar to ESLint "overrides" (config based on glob)"
Following a discusion from #5420.

It would be usefull to provide an alternative configuration based on the path of the file being transpiled.

In the following example, only the `main.js` file would be using the `add-module-exports` plugin. The es2015 presets in used on all files.

[code]

We should also be able to provide globs as path:

[code]

[2017-03-12 20:11] xtuc commented on #5420
Closing this. I opened an issue with the feature request #5451.

[2017-03-12 20:11] #5420 closed

[2017-03-12 20:23] #5024 closed

[2017-03-12 20:36] loganfsmyth commented on #4911
Closing since `cross-env` seems to be the solution here.

[2017-03-12 20:36] #4911 closed

[2017-03-13 05:38] loganfsmyth opened #5454 "[7.0] Error on files passed through Babel with no plugins/presets and not ignored?"
Curious for thoughts from people on this. This is something that was brought up back when 6.x was released, since so many people didn't realize you needed to enable plugins, but was tough to fix without being a breaking change, so now seems like a good time to discuss it.

What would people think about throwing an error if you pass a file to Babel but have configured no presets/plugins for it, and

[2017-03-13 06:26] cssagogo opened #5455 "grunt-babel adds "Use Strict"; at the global level?"
Not sure if it's an issue with grunt-babel or babel itself, but "Use Strict" is getting added at the global level when applied.  Is there an option to disable it?

[2017-03-13 06:51] loganfsmyth commented on #5455
ES6 modules are always strict, and Babel assumes files passed through it are modules by default. When you configure your presets, like if you have `es2015`, you'll want to make your config

[code]

to disable ES6 module syntax and tell Babel to process the file as a script rather than a module.

[2017-03-13 06:51] #5455 closed

[2017-03-13 07:53] xtuc commented on #5454
I have two answer to that:

* It might be due to bad configuration. I believe a lot of error will come from #5451.
Throwing an error would actually help people. If we are more restrictive in the configuration, users would have less problem with it (this doesn't mean less issues here :smile: ).

* Configuration can be passed programmaticly (babelrc.js, Webpack, Starter kit,...). For example an empt

[2017-03-13 07:58] loganfsmyth commented on #5454
Agreed, and that's what stopped us from adding it in 6.x after release.

Maybe we can differentiate an empty array vs no config? That way it's easy to put an empty array if you really want nothing, but people running with no config at all would get a warning? Otherwise we'd have to rely on people to use `ignore` to skip the ones with no plugins, but that does sound not great.

[2017-03-13 13:42] jakub-bochenski commented on #5170
In case somebody finds this useful: there is no "Rebuild Index" option in our Nexus, we tried "Update Index", "Repair Index" and "Expire Cache" -- the new dependency version only appeared after the last operation (expire)

[2017-03-13 14:02] hzoo commented on #3749
Cool, the new `noInterop` function fixes this https://github.com/babel/babel/pull/5427 (v6.24.0), thanks @reinmar

[2017-03-13 14:02] #3749 closed

[2017-03-13 14:03] hzoo commented on #3917
The new `noInterop` function fixes this https://github.com/babel/babel/pull/5427 (v6.24.0), from @Reinmar

[2017-03-13 14:03] #3917 closed

[2017-03-13 14:40] chee opened #5458 "`new anonymous class extends NativeClass` works in browser, but babel generates code that does not"
(with a built-in class, or indeed a class defined using the native `class` syntax)

### Input Code
[code]

### Link to repl
[babel repl](http://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&code=const%20headers%20%3D%20new%20class%20extends%20Headers%20%7B%7D&experimental=false&loose=false&spec=false&playground=true)

### Expected Beha

[2017-03-13 14:55] existentialism commented on #5443
You're saying that without `babel-plugin-import` the code is the same? I'm not seeing that:

With:

[code]

[2017-03-13 14:55] hzoo commented on #5458
http://babeljs.io/docs/usage/caveats/#classes, babel has a limitation with extending native classes

I think this would be a duplicate of https://github.com/babel/babel/issues/4480 and others?

[2017-03-13 14:55] #5458 closed

[2017-03-13 14:58] existentialism commented on #5443
You're saying without `babel-plugin-import` the transformed code is the same? I'm not seeing that...

With:

[code]

Without:

[code]

[2017-03-13 15:07] TennySky opened #5459 "Let declaration in for loop is not properly scoped when initialization uses same identifier"
Sorry for my poor English~
My project dependencies are:
[code]
And the webpack.config.js  has a loader :
[code]
the code:
[code]
expected result:
[code]
but output
[code]
Is that a BUG?

[2017-03-13 15:42] alxpy commented on #5459
Hmm, as for me, it's normal behavior

[2017-03-13 15:45] alxpy commented on #5459
Hmm, as for me, I think this code should throw something like "Duplicate declaration"...

[2017-03-13 15:47] alxpy commented on #5459
Hmm, as for me, I think this code should throw something like "Duplicate declaration"...

[2017-03-13 15:55] aaronang commented on #5459
@TennySky Thank you for reporting this. I think it is a bug because the code works in Chrome and would indeed output:

[code]

Although, I would argue that you could just change the variable name 😛

[2017-03-13 16:52] aaronang commented on #4373
@janflyborg I apologize for closing this issue with a standard reply. I will be more careful with closing issues in the future 😬

[2017-03-13 17:46] mattkrick opened #5462 "Bug with destructuring args in a try/catch in an async function"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
babeljs.io standard config

### Expected Behavior

[code]

### Current Behavior
[code]

### Possible Solution
Reference the destructured args:
[code]

### Context
Made a try/catch wrapper for calling stripe. it bugs out! But then when i put a `console.log` in there, it works fine, which makes it extra confusing.
A

[2017-03-13 17:51] janflyborg commented on #4373
No problems. I just thought that my description of the problem was quite clear. :)
Thanks for the help so far. I really appreciate all the work that goes into making Babel better and better.

[2017-03-13 18:25] stevenvachon opened #5464 "Constructor Uint8Array requires 'new'"
[code]

[2017-03-13 18:26] loganfsmyth commented on #5464
Copying from https://github.com/babel/babel/issues/5458#issuecomment-286131672

Thanks for reporting! Unfortunately, http://babeljs.io/docs/usage/caveats/#classes, Babel has a limitation with extending native classes.

I think this would be a duplicate of #4480 and others?

[2017-03-13 18:26] #5464 closed

[2017-03-13 18:28] stevenvachon commented on #5464
Ok, thank you.

[2017-03-13 18:34] loganfsmyth commented on #5464
The plugin mentioned in Caveats should make it work for you.

[2017-03-13 18:39] gandazgul commented on #3049
I'm going to write this here because I had this issue and arrived here but still had to do more research.

@jmm this is not a dupe of any of those. It's also not exactly related to #2212.

You are right in that the brackets in import { Baz } from 'Foo'; are different than the de-structuring brackets in const { Baz } = Foo;

Import lists will only work with explicit named exports and is not a de-st

[2017-03-13 18:47] loganfsmyth commented on #3049
Personally I'd recommend

[code]

Mixing CommonJS and ES6 imports in the same file isn't a good idea.

[2017-03-13 19:15] stevenvachon commented on #5464
Awesome!

[2017-03-14 01:06] loganfsmyth commented on #5408
A similar issue was just raised in https://github.com/aspnet/JavaScriptServices/issues/739#issuecomment-286289838. In that usecase, people are expecting the AST locations to take the original sourcemap locations into account.

Given that, an alternative would be to actually delete `mergeSourceMap` entirely and have either babylon or babel-core ensure that the AST locations map to the original file

[2017-03-14 05:44] TennySky commented on #5459
@aaronang  thanks for your answer and argument, It was only a Test Code when I learning ES6 language from [here](http://es6.ruanyifeng.com/#docs/let)

[2017-03-14 05:53] TennySky commented on #5459
@alxpy I agree with you!
[code]
ask for me, I think the variable i and j should be in same code scope.

[2017-03-14 09:45] keshcode commented on #5326
i would like to work on this

[2017-03-14 10:28] inikulin commented on #4920
@loganfsmyth We've encountered multiple cases there source maps give incorrect position with `retainLines` disabled. And while you may run in some problems with `retainLines` it's still much better than without it.

[2017-03-14 14:40] stevenvachon commented on #5441
@aaronang IRC would be much better

[2017-03-14 16:20] stevenvachon commented on #5441
@loganfsmyth Have you done anything with this at all in your work in "rewriting `ignore`"?

[2017-03-14 17:08] loganfsmyth commented on #5441
Hmm, this is a tough one in Babel 6.x. Currently we load all the plugins before checking `ignore` which means that for cases like this ignore is executed too late, and the missing plugin causes the error you are seeing.

I'm changing the application order of `ignore` in 7.x so this should work as expected in `7.x`.

In 6.x, unfortunately you don't have tons of options. The simplest would be to act

[2017-03-14 17:46] stevenvachon commented on #5441
Thanks! That works.

Minor corrections (and changes for quick replacement when 7.x ls released):
[code]

[2017-03-14 17:54] loganfsmyth commented on #5441
Ah yeah, for some reason I was thinking that wouldn't work, but I'm totally wrong

You could even skip the `.configure` with

    return require("babelify")(filename, opts);

I think.

Keep in mind that explicitly checking `in-view`'s filename like that could fail if they refactor the module into multiple files or something though.

[2017-03-14 18:03] stevenvachon commented on #5441
That's true, but very unlikely, I'd think, because the file has already been browserified. If they were to split the main file out to multiple files, it'd probably wouldn't be a bundle. A regex/glob might be best anyway, but this is temporary in my project.

[2017-03-14 18:35] loganfsmyth commented on #5434
This issue should be resolved in https://github.com/babel/babel/pull/5466 for 7.x

[2017-03-14 18:44] loganfsmyth commented on #4186
Duplicate of https://github.com/babel/babel/issues/5434.

This will be fixed in Babel's 7.0 release.

[2017-03-14 18:44] #4186 closed

[2017-03-14 18:54] loganfsmyth commented on #4869
We're planning to change things up a bit in Babel 7.x around this logic.

The current plan is to consistently resolve string-based arguments passed to `babel-loader` relative to the current working directory, rather than relative to the file being compiled.

Would that be helpful in your case? It means your code would have issues if you are running

    webpack app/webpack.config.js

but work work

[2017-03-14 21:07] montogeek commented on #5462
What is

?
[code]
?

[2017-03-14 21:57] mattkrick commented on #5462
This is a transpilation done on the babel website

On Mar 14, 2017 2:07 PM, "Fernando Montoya" <notifications@github.com>
wrote:

[2017-03-14 22:06] existentialism commented on #5462
Dupe of https://github.com/babel/babel/issues/4270 https://github.com/babel/babel/issues/4219 https://github.com/babel/babel/issues/3077

[2017-03-14 23:56] #5434 closed

[2017-03-15 00:46] idangozlan commented on #3969
Any solution? I bumped into the same issue (using npm link + babel = unkown plugin ...)

[2017-03-15 01:09] #5445 closed

[2017-03-15 01:11] hzoo commented on #4013
We're planning on deprecating env in favor of asking users to use a babelrc.js file so you can use process.env yourself

[2017-03-15 01:11] #4013 closed

[2017-03-15 01:18] hzoo commented on #4970
I don't think we are going to support other config files/names. We are going to add a .babelrc.js file and deprecate the "env" option. And yes the option to not walk up the tree is `babelrc: false`

[2017-03-15 01:18] #4970 closed

[2017-03-15 01:24] hzoo commented on #2397
@popham what was the result of this? was this just a bug in flow?

[2017-03-15 01:28] hzoo commented on #2931
If you want to make a pr for this (maybe `--no-polyfill`) or something then I think we would accept this. Closing for inactivity

[2017-03-15 01:28] #2931 closed

[2017-03-15 01:31] aaronang commented on #5462
Closing this issue because it is a duplicate. Thank you for taking the time to report though 😄

[2017-03-15 01:31] #5462 closed

[2017-03-15 01:32] aaronang commented on #4270
Closing this issue because it is a duplicate of #4219. Thank you for taking the time to report though 😬

[2017-03-15 01:32] #4270 closed

[2017-03-15 01:34] hzoo commented on #4018
Sorry I believe we are going to keep the method of using ignore/only for now. We'll be fixing a lot of the bugs in the current implementation though and be thinking about how best to support node_modules soon.

[2017-03-15 01:34] #4018 closed

[2017-03-15 01:38] hzoo commented on #4898
Going to close for inactivity. I think you'll want to use a bundler like webpack/browserify instead of concating the files. modules: false isn't going to be useful if you use import/export

If you just have an usage issue or want help, I would recommend checking out our [slack community](https://slack.babeljs.io/) or [StackOverflow](http://stackoverflow.com/questions/tagged/babeljs).

[2017-03-15 01:38] #4898 closed

[2017-03-15 01:40] hzoo commented on #4882
Plugins do go before presets, but it just adds the same visitors first before merging them. You may need to use the passPerPreset option but I'm not sure that will help. If you use es2015 ultimately the const/let will eventually turn into var anyway so if you didn't want that you would need to turn off/exclude that plugin (don't use es2015)

[2017-03-15 01:40] #4882 closed

[2017-03-15 01:41] hzoo commented on #4889
Going to close for inactivity, I would suggest using something like gulp or something else to handle watch - babel watch is just for a simple use cases atm

[2017-03-15 01:41] #4889 closed

[2017-03-15 01:43] hzoo commented on #4859
If you want more spec compilant code, you'll need to not use loose mode in this case

[2017-03-15 01:43] #4859 closed

[2017-03-15 01:49] hzoo commented on #3797
smaller repro

`if (a) for (let i = 0; i < 1; i++) () => i`

[2017-03-15 01:55] hzoo commented on #2439
Looks like this is fixed?

[code]

https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=true&presets=es2015%2Creact%2Cstage-0&targets=&browsers=&builtIns=false&code=console.log('two')%3B%0Aexport%20*%20from%20'.%2Fone'%3B%0Aexport%20%7Bfoo%7D%20from%20'.%2Ftwo'%3B%0Aconsole.log('three')%3B%0A&experimental=true&loose=true&spec=true&playground=false&stage=0

[2017-03-15 01:57] hzoo commented on #2437
Now we just error because it was already declared

[code]

[2017-03-15 01:57] loganfsmyth commented on #2439
Looks like?

[2017-03-15 01:57] #2439 closed

[2017-03-15 01:58] hzoo commented on #2421
Looks like this is done in v6 at least

[code]

https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=true&presets=es2015%2Creact%2Cstage-0&targets=&browsers=&builtIns=false&code=import%20*%20as%20self%20from%20'.%2Fself'%3B%0Aconsole.log('foo'%20in%20self)%3B%0Aexport%20var%20foo%20%3D%20'thing'%3B&experimental=true&loose=true&spec=true&playground=false&stage=0

[2017-03-15 01:58] #2421 closed

[2017-03-15 02:00] hzoo commented on #3918
If this has to do with babel-register, closing as a dupe of https://github.com/babel/babel/issues/4716

[2017-03-15 02:00] #3918 closed

[2017-03-15 02:07] #2437 closed

[2017-03-15 02:13] hzoo commented on #3720
Current result (of console.log): `[2, 1, 2]`

Expected result (of console.log): `[2, 1, 1]`

Bug: need to make the param it's own scope?

[code]

[2017-03-15 03:04] hzoo commented on #2585
is this still an issue?

[2017-03-15 04:12] aaronang commented on #5459
Reproduction: https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=Node-6&browsers=%3E%202%25&builtIns=false&code=for%20(let%20i%20%3D%200%3B%20i%20%3C%203%3B%20console.log(i)%2C%20i%2B%2B)%20%7B%0A%20%20let%20i%20%3D%20%22abc%22%3B%0A%20%20console.log(i)%3B%0A%7D&experimental=false&loose=false&spec=false&playground=true

[2017-03-15 15:20] jEnbuska opened #5470 "Object rest spread not working as would expect in object destructuring when keys are numbers"
I noticed this strange behavior just now. Is this something that has been thought of?
`const { a, ...otherNumbers } = { a: 1, b: 2, c: 3 };`
`console.log(a); // 1`
`console.log(otherNumbers);  {b: 2, c: 3}`

So as expected variable 'a' gets to be its own variable with value 1, and 'a:1' is excluded from 'otherNumbers'

`excludeKey = 1;`
`const { [excludeKey]: one, ...otherLetters } = { 1: 'a', 2:

[2017-03-15 15:51] yavorsky commented on #5470
@jEnbuska Hi! Thanks for the report!

Seems like the problem covered in `objectWithoutProperties` helper's arguments.
It gets object and array of arguments to discard.
Then it calls `indexOf` to discard passed properties.
It compares argument `1` which actually a number with the key from target like `1 === "1"` and gets `false`.
So we need to pass an array of strings to prevent this.
Going to fix

[2017-03-15 16:16] hzoo commented on #5470
BTW @yavorsky we have a few issues/prs related to this

[2017-03-15 16:17] gsathya commented on #5470
Related: https://github.com/babel/babel/issues/4196

[2017-03-15 16:17] yavorsky commented on #5470
@hzoo @existentialism pointed me to https://github.com/babel/babel/pull/3675.

[2017-03-15 17:12] existentialism commented on #5239
@trusktr going to close this for now, but let us know if you run into any more issues!

[2017-03-15 17:12] #5239 closed

[2017-03-15 17:22] lourd opened #5471 "Stage 2 preset docs missing documentation of dynamic import plugin inclusion"
The stage 2 preset includes the syntax-dynamic-import plugin (https://github.com/babel/babel/blob/master/packages/babel-preset-stage-2/package.json), but [the documentation](https://babeljs.io/docs/plugins/preset-stage-2/) does not mention it.

I'm also curious, when do the TC39 stage presets get updated? It appears that the [dynamic import proposal](https://github.com/tc39/proposal-dynamic-import

[2017-03-15 17:24] lourd commented on #5471
I'd be happy to open a PR updating it, but I couldn't figure out how the top section of the docs are generated, i.e. `This preset includes the following plugins...`

[2017-03-15 17:27] existentialism commented on #5471
@lourd feel free to send an update to https://github.com/babel/babel.github.io/blob/master/docs/plugins/preset-stage-2.md

[2017-03-15 17:33] lourd commented on #5471
Nice, thanks for the pointer. Here's a PR https://github.com/babel/babel.github.io/pull/1197

[2017-03-15 17:39] loganfsmyth commented on #4920
Please in the future file bugs for cases you run across. We can't know that there are sourcemap issues if you don't give us examples.

[2017-03-15 17:42] loganfsmyth commented on #5170
I believe you can also go into the Nexus NPM mirror's list of files and manually delete the cached JSON metadata files for whatever babel-* packages you are having trouble with, to avoid having to expire the whole cache.

[2017-03-15 17:46] hzoo commented on #5471
Moving to https://github.com/babel/babel.github.io/pull/1197

[2017-03-15 17:46] #5471 closed

[2017-03-15 18:14] inikulin commented on #4920
@loganfsmyth These are quite complex chunks of code and issues usually represented by incorrect error stack frames generated using [source-map-support package](https://github.com/evanw/node-source-map-support). Therefore, it will take a lot of effort for us to create small test cases and we are not even sure if the problem is in `babel` itself or in `source-map-support`. `retainLines` worked well

[2017-03-15 18:25] loganfsmyth commented on #4920
I think I was convinced above to stand down from trying to remove it for now. It's not code I love, but I was under the mistaken impression that people only used it for tooling that didn't have sourcemap support, rather than day-to-day dev.

That said, it absolutely does have low priority, so while I'll certainly take PRs that try to make it work better without compromising other functionality, it

[2017-03-15 18:34] hzoo commented on #5330
Yeah I believe so 👍 , https://github.com/babel/babel/issues/4219

[2017-03-15 18:34] #5330 closed

[2017-03-15 18:34] hzoo commented on #5299
Just going to close this in favor of the PR https://github.com/babel/babel/issues/5309 even though it's not merged

[2017-03-15 18:34] #5299 closed

[2017-03-15 18:35] loganfsmyth opened #5472 "[7.0] Remove aliased helpers from babel-runtime"
`babel-runtime`'s built files currently contain several aliases that are unused as far as I can tell. I haven't done any checks on the history, so I'd be curious to see why they existed in the first place. We basically output:

[code]

where the last two just `module.exports = require('./someHelper')`.

---

- [ ] Comment below you are going to do this (for others to know): `"I'd like to work on t

[2017-03-15 18:39] hzoo commented on #4922
You can use `external-helpers`

[2017-03-15 18:40] hzoo commented on #4953
The implementation has been moved to https://github.com/facebook/regenerator/issues so I would check there (search issues first), and it's possible we are on the older version

[2017-03-15 18:40] #4953 closed

[2017-03-15 18:43] #4922 closed

[2017-03-15 19:06] hzoo commented on #4059
`"function hello(hello.bye) {}"`

We need to not use LVal here or change to a function to verify it's not a MemberExpression

https://github.com/babel/babel/blob/2c0907acdc9981f1e923a2e318521b387dbf66d5/packages/babel-types/src/definitions/core.js#L253

[2017-03-15 19:13] inikulin commented on #4920
@loganfsmyth we're planning to land a couple of fixes for minor `retainLines` issues we've encountered recently.

[2017-03-15 19:21] inikulin commented on #4920
Also, I recall that I was surprised at the time by the statement in the docs that `retainLines` is more suitable when you don't use sourcemaps. Sourcemaps are usually not perfect when it comes to accuracy and retaining line numbers more likely will increase chances that they'll point to correct line in the source. With this in mind, we've turned on `retainLines`  which eventually fixed most source

[2017-03-15 20:00] loganfsmyth opened #5473 "[7.0] Consider moving root AMD/UMD/SystemJS options to be plugin/preset options?"
Raising this for discussion for now because I'm curious, but not at all convinced what the right move would be.

We currently have the following options to `babel-core`:
[code]

These are all then exposed via `state.file.getModuleName()` from `babel-core`.

We own these module transforms and we want to make the usage as easy as possible, but it also seems strange to me to have these module argumen

[2017-03-15 21:56] babel-bot opened #6698 "Tighten up parsing of Flow TypeCasts"
### Input Code

[code]

### Babylon/Babel Configuration

Flow syntax plugin enabled

### Expected Behavior
Should be a syntax error

### Current Behavior
We're currently parsing `bar` as a TypeCastExpression w/ a value of `foo`. Flow requires that you wrap a TypeCastExpression in parens, and we're allowing the parens for the CallExpression to be used right now, which the Flow parser does _not_ all

[2017-03-15 23:04] trusktr commented on #5239
Thanks for that solution, I didn't know about argument destructuring at the time.

[2017-03-16 01:14] hzoo commented on #2964
Going to close for inactivity/old, maybe similar to https://github.com/babel/babel/issues/5408, otherwise can open a new issue with repro.

[2017-03-16 01:14] #2964 closed

[2017-03-16 01:14] hzoo commented on #3751
Ok closing.

[2017-03-16 01:14] #3751 closed

[2017-03-16 01:22] hzoo commented on #2288
I think we're going to close this unless we feel this needs to be reopened again.

[2017-03-16 01:22] #2288 closed

[2017-03-16 01:25] hzoo commented on #3720
this is actually an exact duplicate of https://github.com/babel/babel/issues/3720, so closing

[2017-03-16 01:25] #3720 closed

[2017-03-16 01:30] hzoo commented on #2968
Going to close for inactivity, hopefully using the `node --inspect --debug` in latest node solves this?

[2017-03-16 01:30] #2968 closed

[2017-03-16 01:35] hzoo commented on #2182
Is this still an issue, can you confirm the actual/expected?

[2017-03-16 01:37] hzoo commented on #2055
We're using https://github.com/istanbuljs/babel-plugin-istanbul in babel for coverage, will reopen if anyone needs this still

[2017-03-16 01:40] hzoo commented on #1965
I know the repl is really useful but we haven't seen much activity from this at all. Unless someone wants to implement I'm going close for now.

I'd recommend checking out the online REPL: https://babeljs.io/repl/ which we will continue to make much better.

[2017-03-16 01:40] #1965 closed

[2017-03-16 01:45] hzoo commented on #3737
I don't think this is an issue anymore, Babel is compiled with babel 6 now so there's only 1 version of babel-runtime in the deps. In Babel 7 we don't make babel-runtime as a dependency.

You can also pass transform-runtime a new option to resolve babel-runtime

[2017-03-16 01:45] #3737 closed

[2017-03-16 01:46] jedireza commented on #2055
Yep we'd like this for hapijs/lab.

[2017-03-16 01:51] hzoo commented on #3071
Going to close for inactivity, let us know if it's still an issue

[2017-03-16 01:51] #3071 closed

[2017-03-16 01:53] hzoo commented on #3738
Closed the pr https://github.com/babel/babel/pull/3155, let us know if this is still wanted and we can discuss more

[2017-03-16 01:53] #3738 closed

[2017-03-16 01:55] hzoo commented on #3763
Going to close for inactivity

[2017-03-16 01:55] #3763 closed

[2017-03-16 02:06] hzoo commented on #3793
Ok we merged passPerPreset (albeit not really documented/announced). It does have some issues, and it seems to make more sense looking back for each preset to opt-in to per pass on its own.

We're thinking about how to fix this in general in  https://github.com/babel/notes/blob/master/2016-08/august-01.md#potential-api-changes-for-traversal

[2017-03-16 02:06] #3793 closed

[2017-03-16 02:06] loganfsmyth commented on #2055
Could you expand on what specifically your usecase is? The problem at the moment is there really isn't a great heuristic to place these comments. In a perfect world I'd love to see this feature removed entirely. "ignore next" specifically is super tough. If we do want to do this, I'd much prefer a general "start" and "end" comment that wraps tokens with no location defined in the original code.

[2017-03-16 02:10] hzoo commented on #3781
Should be easy to just clone it, can fix in 7.0.

[2017-03-16 02:18] hzoo commented on #3842
You should be able to run es3ify or the es3 transforms on the output of building the helpers

[2017-03-16 02:18] #3842 closed

[2017-03-16 02:18] loganfsmyth commented on #3781
I think my refactoring may fix this since avoiding mutation for caching purposes is one of the goals.

[2017-03-16 02:20] hzoo commented on #3853
Going to close for inactivity, I think when we use .babelrc.js in Babel 7 that you can change the config based on process.env and pass that in when using babel-node

[2017-03-16 02:20] #3853 closed

[2017-03-16 02:22] hzoo commented on #3855
http://astexplorer.net/#/gist/82056f1b76e5b570303fcd540f8d91f7/379d6ecadfcebb7b1c9f7bfaf3a5a8e72792016b works, so I believe it's fixed?

[2017-03-16 02:22] #3855 closed

[2017-03-16 02:33] hzoo commented on #3892
We're fixing up ignore/only in Babel 7

[2017-03-16 02:33] #3892 closed

[2017-03-16 02:34] hzoo commented on #3908
https://github.com/babel/babel/pull/5279 is the pr

[2017-03-16 02:35] #3908 closed

[2017-03-16 02:35] hzoo commented on #3914
I believe a dup of https://github.com/babel/babel/issues/3914, we are going to rewrite ignore/only which should cover this

[2017-03-16 02:35] #3914 closed

[2017-03-16 02:38] hzoo commented on #3922
Not sure what we are doing with this?

[2017-03-16 02:38] a86c6f7964 commented on #3914
Isn't this ticket #3914 ? Which is the dupe?

[2017-03-16 02:41] hzoo commented on #3914
Oops did this 2 times already.. https://github.com/babel/babel/issues/1912

[2017-03-16 02:52] willxy commented on #1965
When I was looking at this the other day, what seemed to work (macosx, babel-cli 6.24.0) was:

[code]

[2017-03-16 02:53] hzoo commented on #1965
We could add that info to the docs if you want to make a pr https://github.com/babel/babel.github.io, if it's just a readme change then i'd be in a readme in this repo under packages/.

[2017-03-16 03:04] hzoo commented on #3951
Based on https://github.com/evanw/node-source-map-support/issues/97#issuecomment-286182325 looks like not an issue anymore

[2017-03-16 03:04] #3951 closed

[2017-03-16 03:13] willxy commented on #1965
I found babel-node mentioned at http://babeljs.io/docs/usage/cli/#babel-node, so put in for a couple lines about it there: https://github.com/babel/babel.github.io/pull/1198

[2017-03-16 03:15] hzoo commented on #3980
is this still an issue?

[2017-03-16 03:16] hzoo commented on #3981
babylon is moved to the separate repo: https://github.com/babel/babylon/blob/7.0/bin/generate-identifier-regex.js so closing

[2017-03-16 03:16] #3981 closed

[2017-03-16 03:21] hzoo commented on #4012
Going to close for now as an edge case

[2017-03-16 03:21] #4012 closed

[2017-03-16 03:26] hzoo commented on #4021
Should be ok now, using https://github.com/babel/babel-preset-env (works with es2015, or latest as well)

[code]

[code]

[2017-03-16 03:26] #4021 closed

[2017-03-16 03:32] hzoo commented on #4034
looks like defaultJSExtensions is deprecated and defaultExtension defaults to js. Haven't really seen any cod that is adding .js to imports?

[2017-03-16 03:32] #4034 closed

[2017-03-16 03:35] hzoo commented on #4109
We are removing the quotes option for the generator in Babel 7. the generator is just for compiled output not for preserving any kind of style. For that I would use escodegen, recast, prettier to suit that need specifically (which you can plug into babel in place of generator)

[2017-03-16 03:35] #4109 closed

[2017-03-16 03:36] hzoo commented on #4104
We're going to redo ignore and fix the bugs, closing as part of https://github.com/babel/babel/issues/1912

[2017-03-16 03:36] #4104 closed

[2017-03-16 03:38] hzoo commented on #5470
Yeah this looks like a dupe of #4196?

[2017-03-16 03:38] #5470 closed

[2017-03-16 03:43] hzoo commented on #4344
dupe of https://github.com/babel/babel/issues/4161

[2017-03-16 03:43] #4344 closed

[2017-03-16 03:45] hzoo commented on #4329
Can reopen when we get to this as a proposal

[2017-03-16 03:45] #4329 closed

[2017-03-16 03:49] hzoo commented on #4338
We should make a better error but in Babel 7 this errors.

[code]

TypeError: Cannot read property '__esModule' of null

[2017-03-16 03:49] #4338 closed

[2017-03-16 05:19] benbernard commented on #3969
@hzoo I also encountered the same issue, doesn't seem like this has actually been resolved?

[2017-03-16 05:23] premasagar commented on #1965
Thanks @willxy, that works.

[2017-03-16 05:23] loganfsmyth commented on #3969
The approach @hzoo mentioned would be changing

[code]
to
[code]

which should pass in the plugin directly and avoid the path looking.

We're also planning to revisit this behavior in Babel 7.x to hopefully make stuff like this less likely to fail.

[2017-03-16 09:07] Reinmar commented on #3980
Not for me because we dropped some feature on our side which required this. Also, as it was pointed to me in https://github.com/babel/gulp-babel/issues/72, there are other ways to achieve what I wanted to achieve, although, they required a lot more code.

Anyway, since no one else is requesting the same feature, I guess you can close it.

[2017-03-16 13:16] janzenz opened #5478 "Static method cannot call another static method."
I was trying to call another static method from another static method using `this.constructor` or even just `this.` but it throws an error.
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
[code]
[code]

### Possible Solution
Possible solution is by using the class name itself
[code]

### Context
I'm using static methods to implement my listener functions. The l

[2017-03-16 13:52] JulianJason commented on #5472
I'd like to work on this

[2017-03-16 14:33] yoyeung opened #5479 "babel-register cannot use import"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

Error:
Unexpected reserved word

am i missing somthing?

### Your Environment

| software         | version
| ---------------- | -------
| Babel            | 6.24
| node             | 7.60
| npm              | 4.1.2
| Operating System | Mac

[2017-03-16 14:46] hzoo commented on #5479
Yep just a small issue, @yoyeung. You can't use the syntax you are transpiling in the same file you are calling babel-register. So you would need to either use regular require, or require another file that uses import.

aside: I would switch out ['latest'] for ['env'] https://github.com/babel/babel-preset-env

[2017-03-16 14:46] #5479 closed

[2017-03-16 18:03] hzoo commented on #5478
aside: You don't need to have both `'env', 'es2015'`, env covers everything.

[2017-03-16 18:03] hzoo commented on #3980
Thanks, closing

[2017-03-16 18:03] #3980 closed

[2017-03-16 18:12] hzoo commented on #4107
I would go with the first option, closing for inactivity

[2017-03-16 18:12] #4107 closed

[2017-03-16 18:13] hzoo commented on #4116
Closing for inactivity

[2017-03-16 18:13] #4116 closed

[2017-03-16 18:14] hzoo commented on #4085
I would recommend https://babeljs.io/repl/ in the meantime

Going to close for inactivity, if there's a simple solution we would accept a PR later

[2017-03-16 18:14] #4085 closed

[2017-03-16 18:16] hzoo commented on #4083
Closing for inactivity, if you have the error again I would update to the latest version and make a new issue with reproduction steps (input, output, config, expected, actual, error)

[2017-03-16 18:16] #4083 closed

[2017-03-16 18:18] hzoo commented on #4092
Closing for inactivity, if you can repro again please provide repro steps

[2017-03-16 18:18] #4092 closed

[2017-03-16 18:35] segphault opened #5482 "Remove lodash dep from babel-helper-builder-react-jsx"
The babel-helper-builder-react-jsx package (https://www.npmjs.com/package/babel-helper-builder-react-jsx) takes a dependency on all of lodash, but doesn't appear to actually use lodash. At present, the lodash package accounts for about 38% of the total install size of the Babel React preset.

[2017-03-16 18:36] hzoo commented on #4230
Going to close for inactivity, looks like relay doesn't use/recommend it anymore. Were probably going to deprecate it and change it to be a pass option in each preset rather than a global passPerPreset option anyway

[2017-03-16 18:36] #4230 closed

[2017-03-16 18:37] hzoo commented on #4252
Going to close for inactivity. It might just be a core-js related issue if it's about promise in ios8.3?

[2017-03-16 18:37] #4252 closed

[2017-03-16 18:38] hzoo commented on #4264
Going to close for inactivity, we could just make it a plugin option, I assume this is relevant for preset-env

[2017-03-16 18:38] #4264 closed

[2017-03-16 18:42] hzoo commented on #5482
Awesome, would you like to make a PR to remove it?

[2017-03-16 18:48] segphault commented on #5482
Sure, will do. Thanks!

[2017-03-16 18:52] jedireza commented on #2055
@loganfsmyth the quick summary is that not all non-user generated code is wrapped in before and after aux comments, which causes incorrect coverage results.

More details are in an old issue I created for this: https://github.com/babel/babel/issues/4450

[2017-03-16 19:08] #5482 closed

[2017-03-16 19:30] jetpacmonkey opened #5485 "Returned async fat-arrow function with argument destructuring gets the parent function's arguments"
It seems like something's going wrong with a combination of canonical `arguments`, argument destructuring, and `async-to-generator`.

### Input Code

[code]

[REPL link](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&targets=&browsers=&builtIns=false&code=function%20test(fn)%20%7B%0A%20%20return%20async%20(...args)%20%3D%3E%20%7B%0A%20%20%20%20

[2017-03-16 19:39] existentialism commented on #5485
Thanks for the issue @jetpacmonkey, we're actively tracking this issue in https://github.com/babel/babel/issues/4219 (and all the linked issues, including https://github.com/babel/babel/issues/5330 are related).

[2017-03-16 19:57] hzoo commented on #4274
This issue should be covered by https://github.com/babel/babel/pull/5442 now (docs in https://github.com/babel/babel/pull/5481)

transform-runtime will have a `useBuiltins` option so that the polyfills won't be using core-js but the regular builtIn ones (named just like in preset-env)

[2017-03-16 19:57] #4274 closed

[2017-03-16 20:18] jetpacmonkey commented on #5485
Whoops, thanks! I blame Github's weak issue search for my oversight 😏

[2017-03-16 20:19] hzoo commented on #5485
All good, we really should of fixed this earlier 😄

[2017-03-16 20:19] #5485 closed

[2017-03-16 23:34] rattrayalex commented on #3741
Are you open to PR's for this?

[2017-03-16 23:57] hzoo commented on #3741
I think we'd like to move less options into babelrc in general? Do you have any particular use case that would require this?

[2017-03-17 00:05] rattrayalex commented on #3741
Interesting.

In this case, [LightScript](http://www.lightscript.org), which operates as a babel plugin, uses the `.lsc` file extension. The plugin doesn't process files without `.lsc` in the filename, so that normal JS can coexist next to LightScript files.

If `extensions` were an available option in the `.babelrc`, LightScript users could run `babel`, `babel-node`, etc, rather than specifying `

[2017-03-17 00:22] wcjohnson commented on #3741
As someone using `babel-cli` with LightScript, I'm also interested in this. I think when someone hands a directory to `babel-cli` for compilation, what they mean is "compile everything you can in this directory" -- so if LightScript plugin is installed, the babel should compile all LightScript files. Thus the plugins should register their own extensions, imo.

[2017-03-17 03:59] janzenz commented on #5478
@hzoo Oh thanks for the info!

[2017-03-17 04:01] loganfsmyth commented on #5478
You need `this.constructor.listenerFunc.bind(this.constructor)` otherwise you're going to get the wrong `this`, just like any other function.

[2017-03-17 04:01] #5478 closed

[2017-03-17 05:11] loganfsmyth commented on #4823
I can explain why this is currently happening. We had a request to avoid initializing the `args` array on branches where it wasn't used, e.g.

[code]
so to optimize the code if _most_ of the time the `if` doesn't run, it's a waist of time to initialize the `args` array and then throw it away, so we optimized it to only create `args` at the first location it is used in the function. This unfortunat

[2017-03-17 05:50] loganfsmyth commented on #3741
There are a few issues I see with this. I think the biggest one is just that we don't control the callsites of most Babel usecases. A standard Webpack usecase is `test: /\.js?x/`, so your `extensions` config has no effect. Same for `babel-register`, the require hooks for a set of extensions are registered before Babel is ever called.

`babel-cli` is the one case where we do control both ends so we

[2017-03-17 06:10] rattrayalex commented on #3741
Interesting.

It's currently much easier to use webpack than babel itself for this kind of use-case, because of what you mentioned. Most webpack users are used to being explicit about file extensions, so I'm not personally worried about duplicate code in the user's configs there.

The bigger problem occurs when config leaks out of config files. If a project can't build without special flags, that'

[2017-03-17 07:55] wheresrhys commented on #4274
Excellent news - thanks

[2017-03-17 09:47] danez commented on #5078
You cannot simple "copy" a node by taking it and reusing it. You need to clone it before you can reuse it, as otherwise if `this` is changed in the first function it is also changed in the second, as they reference the same nodes.
By changing the plugin to do this it works correctly:

[code]

[2017-03-17 09:56] ufoqhmdt commented on #4252
Maybe we should report this issue to  issue system of core-js.

[2017-03-17 11:42] Aladdin-ADD opened #5490 "【Question】Invalid number"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

the output is `Invalid number`.
I know it is not a good practice, but it works in most browsers.
Is this  intentional, or a bug?

### Your Environment

| software         | version
| ---------------- | -------
| Babel            |  6.23.1
| node             | v6.9.4
| npm              |
| Operating Syste

[2017-03-17 12:07] danez commented on #5490
babel and its parser babylon are usually operating in strict mode and module-scope. In strict mode using number like this is not allowed and you should instead use `var j = 0o4567;` for octal numbers.

If your intention is that the example code is decimal numbers, then the code is wrong as they are actual octal numbers.

In future please use our slack or stackoverflow for support..

[2017-03-17 12:07] #5490 closed

[2017-03-17 13:24] hzoo opened #5491 "read-only error when const is declared inside of function with the same name"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

No SyntaxError

### Current Behavior

[code]

### Your Environment

[code]

[2017-03-17 16:51] hzoo commented on #4206
We're changing how presets are resolved in 7.0 to cwd https://github.com/babel/babel/pull/5466 which should help with this

[2017-03-17 16:51] #4206 closed

[2017-03-17 16:57] hzoo commented on #4235
It's in the fields list https://github.com/babel/babel/blob/39c862c1955041b3bfae72fda694c93657d8b73c/packages/babel-types/src/definitions/es2015.js#L259

[2017-03-17 16:57] #4235 closed

[2017-03-17 17:02] hzoo commented on #4237
Going to close in favor of https://github.com/babel/babel/issues/3880 due to inactivity

[2017-03-17 17:02] #4237 closed

[2017-03-17 17:04] hzoo commented on #4240
Going to close for inactivity. No idea why it would be different in register

[2017-03-17 17:04] #4240 closed

[2017-03-17 17:12] hzoo commented on #4246
Looks like this is fixed now, I just tried console.log and only got spread http://astexplorer.net/#/gist/18724ea4b8708096aedeb8019c70b2d9/dab057d9ece3b83fad33845786ea61e398ab47a6

[2017-03-17 17:12] #4246 closed

[2017-03-17 18:40] cdubois-mh opened #5492 "JSXSpread error filling terminal with non-useful debug information"
*bug*

When the spread operator is miss-used, the compiler goes crazy and doesn't give the developper any hint on why something went wrong.

Inside a react es6 class, I was trying to render an array of jsx elements as follow:

[code]

I already know that I should've written `{ actions }` and not `{ ...actions }`.

I got an incredible load of errors that filled my terminal from babel compiler, the

[2017-03-17 18:50] hzoo commented on #4265
Hm I guess we can do this for loose mode?

[2017-03-17 18:51] hzoo commented on #4276
I think this would be a duplicate of https://github.com/babel/babel/issues/2055 regarding the helpers not being covered, also closing for inactivity.

[2017-03-17 18:51] #4276 closed

[2017-03-17 18:53] hzoo commented on #4278
Sorry for the delay but this should be fixed by https://github.com/babel/babel/pull/5442 with the new useBuiltIns option so that it doesn't pull in anything that can be polyfilled.

[2017-03-17 18:53] #4278 closed

[2017-03-17 19:07] loganfsmyth commented on #4265
Maybe we can add a `liveExports` and/or `liveImports` flag in 7.x that would make the use commit to ditching live bindings to avoid getters?

[2017-03-17 19:16] hzoo commented on #4285
closing as a duplicate of https://github.com/babel/babel/issues/4265

[2017-03-17 19:16] #4285 closed

[2017-03-17 19:50] hzoo commented on #4283
We aren't going to support this, closing

[2017-03-17 19:50] #4283 closed

[2017-03-17 19:52] #4291 closed

[2017-03-17 19:53] hzoo commented on #4294
Closing for inactivity, can reopen if you have more detail

[2017-03-17 19:53] #4294 closed

[2017-03-17 19:54] hzoo commented on #4295
there's a .babel.json file you can delete in your home directory.

Were going to default it to node_modules/.cache later to make it easier to delete. and were' going to fix the issues with the cache key https://github.com/babel/babel/issues/5198

[2017-03-17 19:54] #4295 closed

[2017-03-17 19:57] hzoo commented on #4302
I don't think we've made a change to the modules transform to support non top level imports yet - I don't think loose ever allowed you to do so before? can check out https://github.com/benjamn/reify and the new babel plugin for it https://github.com/benjamn/reify/tree/master/packages/babel-plugin-transform-es2015-modules-reify

[2017-03-17 19:57] #4302 closed

[2017-03-17 19:58] hzoo commented on #4298
closing for inactivity, we are making some changes to --copy-files in 7.0 if this isn't fixed already

[2017-03-17 19:58] #4298 closed

[2017-03-17 20:00] #4303 closed

[2017-03-17 20:02] hzoo commented on #4304
closing

[2017-03-17 20:02] #4304 closed

[2017-03-17 20:02] timdorr commented on #4265
Was there a reason for doing the getter in the first place? Unfortunately, the commit log dead ends at 6.0.0 when Sebastian pushed out the big rewrite rollup commit. So, has this ever gotten any scrutiny even?

[2017-03-17 20:03] hzoo commented on #4302
Also https://github.com/tc39/ecma262/pull/646

[2017-03-17 20:04] hzoo commented on #4305
Closing for inactivity, let us know if it's still an issue

[2017-03-17 20:04] #4305 closed

[2017-03-17 20:06] hzoo commented on #4310
Closing in favor of https://github.com/babel/babel/issues/4920, we just support retainLines as deprecated/legacy thing unless someone makes a PR

[2017-03-17 20:06] #4310 closed

[2017-03-17 20:06] hzoo commented on #4308
if this is correct, closing

[2017-03-17 20:06] #4308 closed

[2017-03-17 20:07] hzoo commented on #4265
doesn't seem like it?

[2017-03-17 20:09] hzoo commented on #4312
Not sure but this still `loose` mode (meaning you don't care) so don't know if we really want to do this?

[2017-03-17 20:11] hzoo commented on #4582
going to close as a dupe of https://github.com/babel/babel/issues/4582

[2017-03-17 20:11] #4582 closed

[2017-03-17 20:16] hzoo commented on #4317
closing for inactivity, can reopen if still an issue, may need to use traverseFast/cheap https://github.com/babel/babel/blob/master/packages/babel-traverse/src/index.js#L42 to remove other properties

[2017-03-17 20:16] #4317 closed

[2017-03-17 20:23] hzoo commented on #4379
This sounds like more of a regenerator specific issue I think? can report there

[2017-03-17 20:23] #4379 closed

[2017-03-17 20:29] loganfsmyth commented on #4290
You know, thinking about this, it probably isn't that bad. When we're duplicating the CommonJS exports, we just need to make sure that the getters and setters are preserved, so we'll copy the getters with getOwnPropertyDescriptor and copy the rest using normal property access.

[2017-03-17 21:43] hzoo commented on #4332
https://github.com/babel/babel/pull/3698 was merged in 6.22

[2017-03-17 21:43] #4332 closed

[2017-03-17 21:45] hzoo commented on #4334
Closing

[2017-03-17 21:45] #4334 closed

[2017-03-17 21:52] hzoo commented on #4361
Closing, but yes the docs could be better there

[2017-03-17 21:52] #4361 closed

[2017-03-17 21:58] hzoo commented on #4392
duplicate of https://github.com/babel/babel/issues/4265?

[2017-03-17 21:58] #4392 closed

[2017-03-17 22:00] hzoo commented on #4418
sounds like another issue that will be fixed by https://github.com/babel/babel/pull/5442

[2017-03-17 22:00] #4418 closed

[2017-03-17 22:04] hzoo commented on #4425
We don't really support eval like mentioned

[2017-03-17 22:04] #4425 closed

[2017-03-17 22:08] hzoo commented on #4433
https://github.com/babel/babel/issues/4426

[2017-03-17 22:08] #4433 closed

[2017-03-17 22:09] boopathi commented on #4433
https://github.com/babel/babel/pull/3629 fixes this.

[2017-03-17 22:20] hzoo commented on #4426
interesting edge case..

## Output Code

[code]

Ok I guess we need to add the keys in order. probably logic in https://github.com/babel/babel/blob/7.0/packages/babel-helper-define-map/src/index.js and https://github.com/babel/babel/blob/7.0/packages/babel-plugin-transform-es2015-classes/src/vanilla.js `pushMethod`

[2017-03-17 22:25] hzoo commented on #4440
going to close as dupe of https://github.com/babel/babel/issues/4198

[2017-03-17 22:25] #4440 closed

[2017-03-17 22:26] hzoo commented on #4198
We should just land https://github.com/babel/babel/issues/4954 or do it ourselves then?

[2017-03-17 22:28] hzoo commented on #4444
Closing since it's moved to https://github.com/facebook/regenerator

[2017-03-17 22:28] #4444 closed

[2017-03-18 06:07] zhaoyao91 opened #5495 "Cannot throw error in do-expression"
Cannot throw error in do expression.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

compile successfully.

### Current Behavior

failed to compile
[code]

### Possible Solution

do not throw in do-expression
[code]

### Context

### Your Environment

| software         | version
| ---------------- | -------
| Babel

[2017-03-18 06:23] wm123450405 opened #5496 "an object of The class which is extends by base type like Array,Number,Object,String or Error is not instanceof this class"
index.js
[code]
gulpfile.js
[code]
test.js
[code]

the result is `false`

new Exception() is not instanceof Exception, but only instanceof Error

[2017-03-18 14:30] hzoo commented on #5496
We don't support extending built-ins yet: http://babeljs.io/docs/usage/caveats/#classes but we are trying to figure out a solution. https://github.com/babel/babel/issues/4480

[2017-03-18 14:30] #5496 closed

[2017-03-18 14:40] hzoo commented on #4449
We're doing https://github.com/babel/babel/issues/4630 .babelrc.js in Babel 7!

[2017-03-18 14:40] #4449 closed

[2017-03-18 15:26] hzoo commented on #4761
Going to close for inactivity, but we'd appreciate a PR if you want to do it! https://github.com/babel/babel/blob/d33d02359474296402b1577ef53f20d94e9085c4/packages/babel-cli/src/_babel-node.js

[2017-03-18 15:26] #4761 closed

[2017-03-18 15:29] hzoo commented on #4782
I believe this was fixed in https://github.com/babel/babel/pull/5008 when we stopped running over arrow functions!

[2017-03-18 15:29] #4782 closed

[2017-03-18 16:54] kopax opened #5498 "How to read the value of propTypes of my Button component"
I need a function that would return the `propTypes` and the `defaultProps` of any React Component in order to display a table like this:

![image](https://cloud.githubusercontent.com/assets/1866564/24073899/99b42746-0c31-11e7-9590-9181e59c523c.png)

I have created the following function to read the `propTypes` and `defaultProps`

    function getInfo(component) {
      console.log('propTypes', com

[2017-03-18 17:13] chilloutman commented on #4956
I recently can into this and would like to provide an example:

Let's say we want to simplify this expression, by which I mean reduce it by folding all constants and statically knowable subexpressions, resulting in "3":

[code]

The visitor get's called in this order:
[code]

Because we get to the `arguments` only after we exited the `ArrowFunctionExpression`, there is no way of storing the argume

[2017-03-18 18:46] bluepnume commented on #5432
Would it be possible to change this to do `obj instanceof Symbol`? Any down-sides you see to that?

[2017-03-18 21:37] budarin opened #5500 "Env preset with targets ">5%, last 2 versions" throws an error @regeneratorRuntime is not defined""
I use env preset in my react app

[code]
and I try to use such code:

[code]
when I run transpiled code in IE11 it throws me the error:
**regeneratorRuntime is not defined**

why? babel in debug mode says that it includes regeneratorRuntime plugin, but there is no an effect!
Help me please

Webpack 2.2.1
Babel 6.24.0
Node 7.7.1
yarn 0.21.3
Windows

[2017-03-19 02:28] hzoo commented on #5500
regeneratorRuntime isn't included or is a plugin. `regeneratorRuntime` is a runtime meaning it needs to be in your source code at runtime. The way you can include this with preset-env is with using babel-polyfill, can also use the https://github.com/babel/babel-preset-env#usebuiltins option. Or include `regeneratorRuntime` directly: https://github.com/facebook/regenerator/tree/master/packages/rege

[2017-03-19 02:28] #5500 closed

[2017-03-19 02:32] hzoo commented on #5498
This doesn't look like a babel issue/bug?

Thanks for making an issue! However, issues are not for support questions but rather for reporting bugs/features requests.

If you just have an usage issue or want help, I would recommend checking out our [slack community](https://slack.babeljs.io/) or [StackOverflow](http://stackoverflow.com/questions/tagged/babeljs).

[2017-03-19 02:32] #5498 closed

[2017-03-19 02:35] trusktr opened #5501 "[bug] Babel outputs ES6 import statements instead of converting to CommonJS."
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

**.babelrc:**
[code]

**package.json**

[code]
### Current Behavior

I'm running

[code]

Babel takes `src/index.js` which looks like

[code]

and the resulting `index.js` file contains this at the top:

[code]

### Expected Behavior

I would expect Babel to output something like

[code]

Only `src/index.js` is

[2017-03-19 02:36] trusktr commented on #5501
You can reproduce by running the following:

[code]

then take a look at `./index.js` after it builds.

[2017-03-19 02:37] hzoo commented on #5501
babel-plugin-transform-runtime is still being run due to your babelrc file. It's not only running commonjs unless you remove your babelrc file. It creates import statements. Doing ` --plugins=transform-es2015-modules-commonjs` doesn't do anything since you are already using es2015 in the babelrc

[2017-03-19 02:39] hzoo commented on #5501
we have a bug with transform-runtime and export * (workaround is don't use export * or don't use transform-runtime right now) https://github.com/babel/babel/issues/2877

[2017-03-19 02:39] #5501 closed

[2017-03-19 02:42] trusktr commented on #5501
Ah, okay. The caveats of Babel. I would've never guessed. Thanks.

[2017-03-19 02:42] hzoo commented on #5501
It's not a caveat just a bug we haven't fixed yet 😄

[2017-03-19 03:54] hzoo commented on #4451
If the issue is just Symbol.iterator, you'll need to provide a symbol polyfill (can use babel-polyfill), or we should also introduce https://github.com/facebook/react-native/blob/master/babel-preset/transforms/transform-symbol-member.js in loose mode or something.

Closing for inactivity

[2017-03-19 03:54] #4451 closed

[2017-03-19 03:55] hzoo commented on #4569
Closing for inactivity, can you update the packages and check again if it still has the error?

[2017-03-19 03:55] #4569 closed

[2017-03-19 03:56] hzoo commented on #4537
Yeah we don't really support/recommend using babel with concatenation, babel transforms per file and assumes modules and a bundler (like https://webpack.js.org) is recommended.

[2017-03-19 03:56] #4537 closed

[2017-03-19 03:58] hzoo commented on #4558
In https://github.com/babel/babel/pull/5487 and other prs we are fixing how only/ignore work and interact so this should be fixed in Babel 7

[2017-03-19 03:58] #4558 closed

[2017-03-19 03:58] hzoo commented on #4555
Closing for inactivity, please provide more info about the code that fails ^

[2017-03-19 03:58] #4555 closed

[2017-03-19 03:59] hzoo commented on #4525
We recommend ^, we could think about a --env later but we are deprecating env in favor of babelrc.js

[2017-03-19 03:59] #4525 closed

[2017-03-19 04:00] hzoo commented on #4554
Closing for inactivity, if this is still an issue we can reopened or maybe check a pr?

[2017-03-19 04:01] hzoo commented on #4512
looks like this is solved

[2017-03-19 04:01] #4512 closed

[2017-03-19 04:03] hzoo commented on #4498
Closing for inactivity, we can add extra options or to loose mode if it's really wanted

in the current repl it compiles to
[code]

right now

[2017-03-19 04:03] #4498 closed

[2017-03-19 04:05] hzoo commented on #4963
I think the workaround is to make polyfill the entry point or in a separate file to get around this issue.

[2017-03-19 04:05] #4963 closed

[2017-03-19 04:06] hzoo commented on #4493
Similar to https://github.com/babel/babel/issues/4963 and others, I would recommend making the require polyfill it's own file/entry point to workaround hoisting issues.

[2017-03-19 04:06] #4493 closed

[2017-03-19 04:09] hzoo commented on #4467
https://github.com/babel/babel/pull/5487 we are redoing ignore/only in Babel 7 so should be fixed then

[2017-03-19 04:09] #4467 closed

[2017-03-19 04:12] #4615 closed

[2017-03-19 04:14] hzoo commented on #4613
Closing for inactivity, can you provide a minimal repro tested on latest babel/plugin versions again?

[2017-03-19 04:14] #4613 closed

[2017-03-19 04:16] hzoo commented on #4663
Going to close, if we think this is good then we can accept as a PR

[2017-03-19 04:16] #4663 closed

[2017-03-19 04:19] hzoo commented on #4693
sounds like https://github.com/babel/babel/issues/4716? not sure other than issues with npm link

[2017-03-19 04:19] #4693 closed

[2017-03-19 04:21] hzoo commented on #4707
We're redoing ignore/only in Babel 7 https://github.com/babel/babel/pull/5487 and some other prs so should be fixed then. can run with babelrc false in the cli to not check other configs I believe

[2017-03-19 04:21] #4707 closed

[2017-03-19 04:22] hzoo commented on #4728
closing for inactivity, I would try register

[2017-03-19 04:22] #4728 closed

[2017-03-19 04:22] hzoo commented on #4709
I would use transform-runtime or external-helpers plugins for this

[2017-03-19 04:22] #4709 closed

[2017-03-19 04:23] hzoo commented on #4745
Not that there's no development but it's not a priority, closing

[2017-03-19 04:23] #4745 closed

[2017-03-19 04:25] hzoo commented on #4757
@babel-bot move to babel/babylon

[2017-03-19 04:25] #4757 closed

[2017-03-19 04:25] hzoo commented on #4756
@babel-bot move to babel/babylon

[2017-03-19 04:25] babel-bot opened #6697 "Parsing long strings and object literals"
Original issue submitted by @kangax in https://github.com/babel/babel/issues/4756

### Input Code

- https://github.com/Microsoft/ChakraCore/blob/master/test/Strings/long_concatstr.js
- https://github.com/Microsoft/ChakraCore/blob/master/test/Function/631838.js
### Babel Configuration (.babelrc, package.json, cli command)

n/a
### Expected Behavior

Parser shouldn't hang / throw stack overflow err

[2017-03-19 04:25] #4756 closed

[2017-03-19 04:26] hzoo commented on #4750
Closing for inactivity, can reopen or new issue if you have more info. We are redoing only/ignore in Babel 7 so may be fixed then. You probably don't want to run babel on all node_modules anyway

[2017-03-19 04:26] #4750 closed

[2017-03-19 04:28] hzoo commented on #4784
Closing for inactivity. If it's a spec issue it may be covered by https://github.com/babel/babel/pull/4964 later

[2017-03-19 04:28] #4784 closed

[2017-03-19 04:35] hzoo commented on #4902
Closing for inactivity

[2017-03-19 04:35] #4902 closed

[2017-03-19 04:36] hzoo commented on #4941
Closing for inactivity, this should be fixed in Babel 7 with .babelrc.js

[2017-03-19 04:36] #4941 closed

[2017-03-19 04:37] hzoo commented on #4952
https://github.com/babel/babel/issues/4952 landed in master, need to release

[2017-03-19 04:37] #4952 closed

[2017-03-19 04:37] hzoo commented on #4198
https://github.com/babel/babel/issues/4952 landed in master, need to release

[2017-03-19 04:37] #4198 closed

[2017-03-19 04:37] hzoo commented on #4951
We can decide what to do without this issue 😄

[2017-03-19 04:37] #4951 closed

[2017-03-19 04:41] hzoo commented on #5146
Also with https://github.com/babel/babel/pull/5487 prs with ignore in Babel 7

[2017-03-19 04:41] #5146 closed

[2017-03-19 04:44] hzoo commented on #1829
Not sure what we should do with this issue anymore. If anything we want: less hacks in babel-eslint (partially done already), and maybe better interop with babel/eslint (possibly passing ast between or running eslint rule in babel, etc.

[2017-03-19 04:44] #1829 closed

[2017-03-19 10:38] xtuc commented on #5492
To spread an array you need to use:
[code]

This isn't an issue in Babel. The error come from the object spread of an array passed to JSX.

As far as I remeber you could directly use the action array in JSX, like:

[code]

[2017-03-19 13:00] dmail opened #5503 "path.remove() is reversing leading & trailing comments"
Hello dear maintainers,

### Input Code
[code]

### Expected Behavior
[code]

### Current Behavior
[code]

### Possible Solution
Pull request #5504 fix the provided example.

### Context
Writing a custom babel plugin to selectively remove import statement so that they get ignored by plugins running after it.

### Your Environment

| software         | version
| ---------------- | -------
| Babel

[2017-03-19 14:44] motiz88 commented on #4367
This is apparently an ongoing issue (related: #2817, #4168, possibly others), and a heck of a tricky one.

The closest thing I have to a minimal repro is [this gist](https://gist.github.com/motiz88/c66853142129dc392e7f180f736c0273), and that's still using the `es3-property-literals`, `es2015-modules-commonjs`, and `es2015-classes` transforms together. And virtually any code change fixes the output

[2017-03-19 17:54] sheerun opened #5505 "Cannot change syntax per file extension"
Forgive me if it is possible, but I cannot find any documentation on it.

Here's what I want to do: Write a babel plugin that transcompiles `.css` files (but not only, in general any file other than .js) to es6 module, as so babel can track dependencies when this file is changes, and webpack can later tree shake it, and there's no inlining duplication.

To give an example, I want to transcompile f

[2017-03-19 18:19] sheerun commented on #5505
To be completely clear: I don't want to replace transformer per-file, I just want to replace parser per-file. If you don't want to allow it, I'd ask for even less: allow for custom preprocessing step for syntax for per-extension (i.e. transform input file even before it's passed to syntax parser, a `string => string` function).

[2017-03-19 18:22] rattrayalex commented on #5505
Here's how I accomplish that in my plugin:

https://github.com/lightscript/babel-plugin-lightscript/blob/master/src/index.js#L1001 changes the parser depending on filename

https://github.com/lightscript/babel-plugin-lightscript/blob/master/src/index.js#L670 activates/deactivates the visitor depending on filename

It's a bit messy, especially for cases when you don't have filenames (eg; source str

[2017-03-19 19:10] sheerun commented on #5505
@rattrayalex Awesome! Let me try this and report if it's enough

[2017-03-19 19:57] loganfsmyth commented on #5176
The `babel` command compiles all of the files matching it's standard extensions like ".js" and skips all other files. The intention of `--copy-files` is to say "please copy the files you can't handle instead of skipping them". Your expected behavior is already the behavior of a standard `cp` so I'm not sure we'd want that.

[2017-03-19 21:00] sheerun commented on #5505
@rattrayalex It seems `manipulateOptions` manipulates options globally, not per-file, isn't it?

[2017-03-19 21:12] ORESoftware opened #5506 "Getting weird error - Use the `babel-core` package not `babel`."
Just wondering why I see this error:

[code]

it's coming out of babel-cli

these are the only babel packages I am loading/requiring:

[code]

seems like a weird error to me

[2017-03-19 21:34] aaronang commented on #5506
This error message is returned when you import `babel-cli`: https://github.com/babel/babel/blob/d33d02359474296402b1577ef53f20d94e9085c4/packages/babel-cli/index.js.

[2017-03-19 22:17] ORESoftware commented on #5506
@aaronang ok thanks, so I should not import `babel-cli` at all?

[2017-03-19 22:21] aaronang commented on #5506
@ORESoftware Nope, you should import `babel-core` instead as the error message says 😄

[2017-03-19 22:21] #5506 closed

[2017-03-19 22:31] ORESoftware commented on #5506
Thanks, but it says use babel-core instead of babel.

It does not say "use babel-core instead of babel-cli"

Right?

[2017-03-19 22:37] trusktr commented on #5501
Ah. :} Well looking forward to using `export *` in the future. :}

*/#!/*JoePea

On Sat, Mar 18, 2017 at 7:42 PM, Henry Zhu <notifications@github.com> wrote:

[2017-03-19 22:40] aaronang commented on #5506
@ORESoftware Would you like to submit a pull request for this? 😄

[2017-03-19 22:41] ORESoftware commented on #5506
Sure, let me first verify that it works

[2017-03-19 22:42] ORESoftware commented on #5506
Is there some documentation that shows that babel-cli is deprecated in favor of babel-core?

[2017-03-19 22:47] aaronang commented on #5506
@ORESoftware I already made a PR for it. It is not deprecated, it is just not meant for use in a programmatic manner.

[2017-03-19 23:02] ORESoftware commented on #5506
You mean it's for internal use and not for developers to install directly?

[2017-03-19 23:50] rattrayalex commented on #5505
I'm not sure; since it has a file path I assume it's per file, but perhaps
the changes persist? I haven't looked. If so, perhaps an `else` case can
reset things?

On Sun, Mar 19, 2017, 14:00 Adam Stankiewicz <notifications@github.com>
wrote:

[2017-03-20 00:33] ORESoftware opened #5509 "babel-runtime is 'unrequireable' - breaks require/require.resolve()"
I opened this issue with Node.js

https://github.com/nodejs/node/issues/11928#issuecomment-287660448

I have a script that checks to make sure all modules are installed correctly in a particular directory. The problem is that babel-runtime module (and perhaps others in the babel ecosystem) are not requireable.

They do not have a main property on package.json and/or do not have an index.js file.

[2017-03-20 01:00] loganfsmyth commented on #5509
The tough part is runtime just doesn't really need an index. Isn't throwing the right behavior in that case? It seems like you're using require.resolve for a case it wasn't intended for. This is one specific case, but any package could lack an index.

If you need to see if a module exists, why not implement that specific behavior? The behavior is well-defined afaik.

[2017-03-20 01:51] aaronang commented on #5506
@ORESoftware It is meant for external use. In specific, the package enables developers to use the CLI: https://babeljs.io/docs/usage/cli/. So you do need it in `package.json` to be able to use CLI commands. However, you should not do something like `import * from 'babel-cli'` in your source code. That will result in the error you received.

[2017-03-20 02:41] ORESoftware commented on #5509
I could could implement it myself, but the next person that calls require.resolve() on a babel ecosystem module and gets an unexpected error will face the same issue.

WRT to implementing it myself, I suppose I could just check for the existence of the package.json file.

However I think it would be a lot easier to not have to re-implement a specific require.resolve() function for modules that don

[2017-03-20 02:44] ORESoftware commented on #5509
Here is what I think should happen:

require('babel-runtime') => throw an error
require.resolve('babel-runtime') => if the package exists in the right directory, should not throw

you can achieve the above by creating an index.js file and throwing an error in there.

[2017-03-20 03:41] hzoo commented on #5506
babel-cli was never intended to be used programmatically, `babel-cli` is just a CLI tool that wraps babel-core. If you want to use babel in your own code you'll want to use babel-core. The error message is just saying babel probably since it's a legacy message from when there was just the `babel` package and no one else has reported this "error message typo"

[2017-03-20 04:02] hzoo commented on #5509
Thanks for the report and suggestions. So it's not that we aren't going to do it, but again I'm skeptical this is necessary? There are plenty of other npm modules that are also not requireable because they aren't meant to (and do not have an index.js file), especially any cli tool.

I don't believe this has ever been a reported issue or heard of anything like this in slack, twitter, or slackoverfl

[2017-03-20 04:31] hzoo commented on #5382
this is because the helpers pull in core-js as well. should be fixed in https://github.com/babel/babel/pull/5442 with the useBuiltIns option in 7.0 so that the helpers don't also import core-js, https://github.com/babel/babel/pull/5481 (docs prs)

[2017-03-20 04:31] #5382 closed

[2017-03-20 05:35] Thuva4 commented on #5326
I would like to work on this issue

[2017-03-20 07:39] sudo-suhas commented on #5382
Great :smile: If you don't mind, could you also tell me by when 7.0 might be released?

[2017-03-20 13:33] hzoo commented on #5382
No schedule, we will be releasing alpha/rc versions over time though, probably another one with that PR this week.

[2017-03-20 15:33] hoschi commented on #5325
Same error, slightly other syntax:
[code]

It works if I remove the plugin, or remove `{buttonText}`. This version works too:
[code]

[2017-03-20 15:49] burashka opened #5512 "Babel very strange move comments"
Babel very strange move comments: example, DojoDoc comments in function and info about copyright.

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
es2015 preset

### Expected Behavior
[code]

### Current Behavior
[code]

### Your Environment
You can reproduce on your sandbox ("Try it out"): http://babeljs.io/repl/

[2017-03-20 15:53] hzoo commented on #5512
Thanks for the report.

[2017-03-20 16:16] kaicataldo commented on #5512
Comments are challenging because they can occur _anywhere_.  The way the current algorithm works, comments are marked as "leading" and "trailing" comments on nodes. This method works in that all comments are accounted for (i.e. no comments will be lost), but isn't very precise as far being able to calculate where the comment should go after transformation.

This _might_ be made better by thinking

[2017-03-20 19:58] burashka commented on #5512
Thanks for your answer. We develops [UI Framework for APS Standard](http://doc.apsstandard.org/2.2/frontend/). It based on Dojo Toolkit and use [DojoDoc](http://dojotoolkit.org/reference-guide/1.10/developer/markup.html#developer-markup) for [auto-generate documentation](http://doc.apsstandard.org/2.2/frontend/widgets-api/w/aps-ActiveItem/).

DojoDoc have syntax: _attrToDom: function(/*String*/ at

[2017-03-21 03:33] NE-SmallTown opened #5513 "Babel website don't support react"
Recent months I have many times to test something at [babel website](https://babeljs.io/repl/),but today when I test something like before,the babel website doesn't work.

the error pic:

http://ogitl0zvo.bkt.clouddn.com/2017-03-122230.jpg

So I want to ask what happened?

[2017-03-21 03:35] hzoo commented on #5513
If you just have a question, please check our slack. We leave the issues for bug reports and feature requests. If you have an issue with the website check https://github.com/babel/babel.github.io. This repo is for the code

[2017-03-21 03:35] #5513 closed

[2017-03-21 03:36] hzoo commented on #5513
@babel-bot move to babel/babel.github.io

[2017-03-21 03:43] hzoo commented on #5064
Even though we are doing a major bump I'd rather go with the original api above. I don't think ranges are that common? We could do both and deprecate the old version

[2017-03-21 05:01] xareelee opened #5514 "babel-plugin-transform-export-extensions doesn't work on React Native"
I followed [the instruction](https://babeljs.io/docs/plugins/transform-export-extensions/) to install and set up `babel-plugin-transform-export-extensions`.

The `export * from ...`  syntax should work after installing in a React Native project, but the syntax only exports `undefined`.

### Input Code

Try to load `index.js` which is just a bundle of components.

[code]

This `index.js` works:

[c

[2017-03-21 05:14] Kovensky commented on #5514
`export * from` is not one of the extended syntaxes, it is part of ES2015. The export called `default` is also the one export that `export * from` specifically does _not_ reexport.

If you want to re-export the default export as a default export, then you can use `export { default } from`.

[2017-03-21 05:15] mohsen1 commented on #5064
Ok cool. A few questions:

* How you do method arguments list overload in FlowType?
* How you throw a deprecation warning?

[2017-03-21 05:20] xareelee commented on #5514
@Kovensky Thanks for your reply.

How do I export multiple components with `export ... from ...` syntax per line per component? The following doesn't work:

[code]

[2017-03-21 05:23] Kovensky commented on #5514
In that case, you can use something like `export { default as CodeView } from './CodeView'`.

What the extended syntax should do for you is allow using `export CodeView from './CodeView'`, with the `CodeView` as a shorthand for `{ default as CodeView }` just like when `import`ing.

[2017-03-21 06:50] aaronang commented on #5387
Closing this issue due to long period of inactivity. If this issue remains troublesome, please provide an example repository that is able to reproduce the problem, or join our [Slack channel](https://slack.babeljs.io) for faster communication.

[2017-03-21 06:50] #5387 closed

[2017-03-21 06:51] #4489 closed

[2017-03-21 07:19] babel-bot opened #6632 "'useBuiltIns' option force to import 'regenerator-runtime'"
Basicly my `.babelrc` file looks like this:

[code]

And then in entry point I use `import 'core-js';`.

The idea is to always import 'core-js' for polyfilling standard library and import helpers and regenerator runtime only when it's really used in code (via 'transform-runtime' plugin). `useBuiltIns` can be great improvement to this scenario that will reduce number of 'core-js' polyfills. But `us

[2017-03-21 07:37] okonet commented on #5064
@hzoo I would break the API TBH and make it accept a `loc` object since it seem pretty common in different ASTs:

ASTs having `loc` object:
- babel-eslint
- babylon
- babylon6
- esformatter
- recast
- flow
- traceur (has `location`)

ASTs without `loc`:
- acorn
- espree
- esprima

So to me having this function accept objects as arguments seems like a better choice so I'm in favor of https://github

[2017-03-21 13:06] hzoo commented on #5492
Pretty sure the issue is that the OP is saying we should have a "better" error message if you accidentally type  `{ ...actions }` instead of `{ actions}`.

[2017-03-21 14:53] matiasherranz commented on #2877
@julien-f Your CommonJS workaround worked perfect for me. Thanks for sharing.

[2017-03-21 15:32] dmail commented on #5512
As #5503 demonstrates leading comments are messed up. I made PR #5504 to fix this issue and it works however comment output is still a bit messy.
The PR also contains tests that helps to understand where comments will be when a node is removed using `path.remove()`.

[2017-03-21 21:51] brunops opened #5518 "babel-runtime changes global behavior on Magento websites"
Hello, I've been trying to debug babel core for two days now, but I'm not being able to identify the exact problem in the code. Here's a repo that reproduces it https://github.com/brunops/bug-babel-runtime

The issue:
Whenever code cointaining something that gets polyfilled, like `typeof obj === 'object'` or `new Promise` is transpiled with `babel-plugin-transform-runtime` enabled, if the resultin

[2017-03-21 22:00] loganfsmyth commented on #5518
The polyfill we use in `babel-runtime` is `core-js`. This has been reported also in https://github.com/zloirock/core-js/issues/278. There must be a bug in that prototype.js version.

I don't know if that's something that they'd want to pursue fixing given that it's a bug in an unrelated library. Would you be able to upgrade `prototype.js`?

[2017-03-21 22:01] hzoo commented on #5518
This sounds unrelated to babel itself?

[2017-03-21 22:04] brunops commented on #5518
Might be unrelated then, sounds like the problem is in `core-js`, feel free to close this.

Will try to follow up on the linked issue.

thanks!

[2017-03-21 22:05] #5518 closed

[2017-03-21 23:00] brunops commented on #5518
Hey, sorry to revive this, but this problem got me thinking about a couple more questions..

First, the problem does seem to be in `core-js`, and I agree that this might be a very specific scenario.

But then again, doesn't this problem show a use case where `babel-runtime` creates the very error that it claims to solve (sandboxed environment)? Are there more things that can possibly be leaking be

[2017-03-21 23:06] #5441 closed

[2017-03-21 23:17] loganfsmyth commented on #5518
It's definitely a bug in something, I don't disagree there. I don't think there is anything we could do from inside `babel-runtime` to change that though.

JavaScript doesn't really make that possible. At the end of the day anything can touch a global somehow.

Given that this is fixed in Prototype 1.7.3, I'm tempted to say that Prototype did something to mutate the global environment that was bad

[2017-03-21 23:30] SPAHI4 opened #5519 "babel-plugin-transform-decorators: Property is readonly if no value set"
Original issue here https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/issues/57

It's still not solved on `7.0.0-alpha.1`

[2017-03-22 01:08] phpeek opened #5520 "babel-plugin-transform-react-constant-elements: prop undefined when using async function"
### Input Code

[code]

### Babel Configuration (.babelrc)

[code]

### Output

[code]

### Expected Behavior
`_ref` should be hoisted to the top of `_asyncToGenerator` function, right after where `uppercasedName` constant is defined.

### Current Behavior
`uppercasedName` is `undefined` where `_ref` is being defined resulting in error.

### Context
I'm using https://github.com/kriasoft/react-star

[2017-03-22 01:35] curtiscook commented on #5518
I ran into this same issue while debugging yesterday and today.

The issue only seems to occur in Magento if you have an extension that includes babel. If you don't introduce an outside version of babel, the objects align, which suggests to me that the new implementation is still leaky.

As stated above, prototype.js pre 1.7 chokes on the update object shape from post 1.7. I'm concerned that openi

[2017-03-22 02:04] ea167 opened #5521 "Plugin transform-flow-strip-types does not remove :Iterator<T>"
`Iterator<K2>` is not stripped in the code below

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

[2017-03-22 02:12] existentialism commented on #5521
@ea167 what's your .babelrc / webpack loader config look like?

Seems to work via the repl (though it's via the preset-react):

https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=true&presets=react&targets=&browsers=%0A&builtIns=false&code=class%20MapOfMaps%3CK1%2CK2%2CV%3E%20%7B%0A%20%20innerKeys(key1%3A%20K1)%3A%20Iterator%3CK2%3E%20%7B%7D%0A%7D%0A&experimental=false&loose=false&spec=

[2017-03-22 04:15] hzoo commented on #5519
We haven't announced Babel 7, it's still alpha, and the pr to move legacy into transform-decorators was simply porting the code over so no work has been done. So I didn't expect it to have solved any of the issues from the repo. I would just follow the issues there until we do a release and we can port that stuff over.

[2017-03-22 04:15] #5519 closed

[2017-03-22 05:42] Kovensky commented on #5432
`Symbol() instanceof Symbol` is not `true`

[2017-03-22 05:44] Kovensky commented on #4265
It's not really possible to implement reexporting without using getters... unless you just assume that the original export will never ever change, which breaks things, in particular circular references 😕

[2017-03-22 05:52] ea167 commented on #5521
@existentialism thank you very much! You pointed me to the source of my problem.

My mistake, fully, there are no bugs, I apologize, sorry for the issue :(

Actually, _Eslint_ was complaining. What is weird is that Eslint did not report any error about flow until I used `Iterator<T>`, and that misled me. Installing eslint-plugin-flowtype solved the issue.

[2017-03-22 05:52] #5521 closed

[2017-03-22 07:03] bluepnume commented on #5432
How about this. Before:

[code]

After:

[code]

[code]

Only adds 20 bytes to the function and seems to make it totally cross-domain safe. Happy to add a PR if it gets the seal of approval from you guys.

Thanks!

[2017-03-22 08:18] #5495 closed

[2017-03-22 08:19] xtuc commented on #5495
The fix will be in Babel 7.

[2017-03-22 12:29] mmhansen commented on #4647
I'm interested in this one, is it still an ongoing issue?

[2017-03-22 14:07] babel-bot opened #6631 "Support for CEF (Chromium Embedded Framework) as a target environment"
Chromium Embedded Framework
https://bitbucket.org/chromiumembedded/cef

CEF 3 is currently used as a the environment for Adobe CEP, a way for third-parties and individual users to write embedded panels for all Adobe products:
https://github.com/Adobe-CEP/CEP-Resources/blob/master/CEP_7.x/CEP_7.0_HTML_Extension_Cookbook.pdf

 -|CEP 5.2|CEP 6.1 and CEP 7.0
---|---|---
CEF 3|CEF 3 branch 1453, revisi

[2017-03-22 14:49] hzoo commented on #4798
Done in https://github.com/babel/babylon/pull/274.

Updating Babel in https://github.com/babel/babel/pull/5522, need to add the transform tests/changes

[2017-03-22 14:51] hzoo commented on #4798
@babel-bot move to babel

[2017-03-22 16:19] cdubois-mh commented on #5492
Like @hzoo mentioned, I was talking about what the error message displays.

In my post, I clearly stated that I already knew how to fix the error.
The problem is that I spent almost 3 hours just searching in my code where the error was.
I use the spread operator often ( with redux ) so since the error message didn't give me a position or even a file name, I was completely lost.

[2017-03-22 16:22] hzoo commented on #5492
Yep, this isn't really a high priority but definetely something we should do (I'm usually in favor of better error messages in general, although the tradeoff is a slower parse usually).

[2017-03-22 17:25] ianwremmel opened #5524 "Extending from Error behaves differently from other base classes"
### Input Code
[code]
[REPL Link](
https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&code=function%20assert(holds%2C%20message)%20%7B%0A%20%20if%20(!holds)%20%7B%0A%20%20%20%20throw%20new%20Error(message%20%7C%7C%20%60Assertion%20does%20not%20hold%60)%3B%0A%20%20%7D%0A%7D%0A%0Aclass%20A%20%7B%7D%0Aclass%20FromA%20extends%20A%20%7B%

[2017-03-22 17:29] loganfsmyth commented on #5524
Seems like a duplicate of https://github.com/babel/babel/issues/5496, https://github.com/babel/babel/issues/5284, and many others.

Have you explored the plugin mentioned in https://babeljs.io/docs/usage/caveats/#classes ?

[2017-03-22 17:34] ianwremmel commented on #5524
thanks for responding so quickly! i thought i did all the proper research before opening this, but clearly I haven't had enough coffee yet. https://github.com/loganfsmyth/babel-plugin-transform-builtin-extend looks like it'll do exactly what I need.

[2017-03-22 17:38] #5524 closed

[2017-03-22 18:05] existentialism commented on #5521
@ea167 no need to apologize! glad your issue got resolved.

[2017-03-22 18:39] lencioni opened #5526 "transform-react-constant-elements can create duplicate constant elements from identical"
This isn't necessarily a bug, because the code works fine, but it might be an opportunity to optimize the output for this edge case.

I believe that if you have code like the following:

[code]

transform-react-constant-elements will end up extracting two `Foo`'s:

[code]

It seems like it could go one step further and coalesce these into the same ref since they are identical:

[code]

This was se

[2017-03-22 20:07] #4798 closed

[2017-03-22 20:37] #5315 closed

[2017-03-23 00:04] hzoo commented on #5472
Closed in https://github.com/babel/babel/pull/5516

[2017-03-23 00:04] #5472 closed

[2017-03-23 01:21] hzoo commented on #5509
Going to close, doesn't seem like anyone will hit this (and if they do we can reopen)

[2017-03-23 01:21] #5509 closed

[2017-03-23 01:22] hzoo commented on #5505
K closing then

[2017-03-23 01:22] #5505 closed

[2017-03-23 01:23] Kovensky commented on #4312
Though setting it in the superclass' prototype is definitely wrong and dangerous 😕

[2017-03-23 02:06] ORESoftware commented on #5509
sure np

[2017-03-23 02:24] #4990 closed

[2017-03-23 02:53] hzoo commented on #5514
Closing this issue since it appears to be resolved. Please feel free to leave a comment requesting this issue be reopened if needed. Thanks! 🙂

[2017-03-23 02:53] #5514 closed

[2017-03-23 03:24] hzoo commented on #2397
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:24] #2397 closed

[2017-03-23 03:25] hzoo commented on #2463
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:25] #2463 closed

[2017-03-23 03:26] hzoo commented on #2426
Seems rare to do `[...arguments];` in user code

Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:26] #2426 closed

[2017-03-23 03:28] hzoo commented on #2486
We can probably add this as an option, and turn it on in development or something?

[2017-03-23 03:30] hzoo commented on #2585
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:30] #2585 closed

[2017-03-23 03:32] hzoo commented on #3065
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:32] #3065 closed

[2017-03-23 03:33] hzoo commented on #4086
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:33] #4086 closed

[2017-03-23 03:35] hzoo commented on #3732
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:35] #3732 closed

[2017-03-23 03:40] hzoo commented on #3922
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:40] #3922 closed

[2017-03-23 03:45] hzoo commented on #4079
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:45] #4079 closed

[2017-03-23 03:47] hzoo commented on #4045
Wait the expected behavior is to remove it `/*::` as well or to keep it?

[2017-03-23 03:48] hzoo commented on #4010
Might be fixed by https://github.com/babel/babel/issues/5466 in 7.0.. but

Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:48] #4010 closed

[2017-03-23 03:49] hzoo commented on #4280
May be fixed by https://github.com/babel/babel/issues/5466 in 7.0

Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:49] #4280 closed

[2017-03-23 03:50] hzoo commented on #3986
@guybedford this still an issue and if it is do you want to make the PR?

[2017-03-23 03:51] hzoo commented on #4024
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:51] #4024 closed

[2017-03-23 03:52] hzoo commented on #4177
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:52] #4177 closed

[2017-03-23 03:53] hzoo commented on #4176
Closing as a dupe of https://github.com/babel/babel/issues/4020 and due to inactivity

[2017-03-23 03:53] #4176 closed

[2017-03-23 03:54] hzoo commented on #4180
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:54] #4180 closed

[2017-03-23 03:55] #4861 closed

[2017-03-23 03:56] hzoo commented on #4644
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-23 03:56] #4644 closed

[2017-03-23 04:01] hzoo commented on #5023
more minimal repro is

[code]

[2017-03-23 04:03] hzoo commented on #5023
Might also be the same issue as https://github.com/babel/babel/issues/4363 @danez?

[2017-03-23 04:09] aaronang commented on #4767
I have done some investigation and it seems that the current library that we are using does not have any support for *not* escaping special characters, e.g. `\n`, `\r`, `\t`, etc.

Have a look here: mathiasbynens/jsesc#20.

[2017-03-23 06:02] bfred-it commented on #2426
That was only an example. The suggestion still stands for other array and array-like objects: `[…arrayLikeObject]`

[2017-03-23 06:59] adrianton3 opened #5529 "Ternary expression fails parsing when react preset is present"
### Input Code

[code]

[repl link](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015%2Creact&targets=&browsers=&builtIns=false&code=a%20%3F%20()%20%3D%3E%20(%7B%7D)%20%3A%20b%20%3D%3E%20c
)
### Babel Configuration (.babelrc, package.json, cli command)

See the link to the repl

### Expected Behavior

The code should compile to

[code]

as it does if the react pre

[2017-03-23 09:30] GuillaumeCisco commented on #5315
Do we know which minima versions of `transform-react-constant-elements` and `babel` to install, for fixing this issue?

[2017-03-23 12:35] hzoo commented on #5529
Thanks for reporting, this is a parser issue. React currently adds flow automatically so it parses with the flow plugin.

@babel-bot move to babel/babylon

[2017-03-23 12:35] #5529 closed

[2017-03-23 12:35] babel-bot opened #6696 "Ternary expression fails parsing when react preset is present"
Original issue submitted by @adrianton3 in https://github.com/babel/babel/issues/5529

### Input Code

[code]

[repl link](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015%2Creact&targets=&browsers=&builtIns=false&code=a%20%3F%20()%20%3D%3E%20(%7B%7D)%20%3A%20b%20%3D%3E%20c
)
### Babel Configuration (.babelrc, package.json, cli command)

See the link to the repl

[2017-03-23 12:43] AlexTes opened #5531 "Babel doesn't rewrite Promise for asyncToGenerator"
### Problem
I tried going through the related Babel code, but Babel is complicated 😅. Luckily the problem is simple: Babel's async-to-generator transform doesn't rewrite the `Promise` name. So if I overwrite  `Promise` by importing `bluebird` for example, that's what I'll get back from awaiting something. Node gives me an ES6 Promise instead (now that it supports async/await)! I understand from @l

[2017-03-23 15:20] wzup opened #5532 "Babel doesn't ignore node_modules directory, although it is in “ignore” config"
For some reason `babel` doesn't ignore `node_modules` directory, although I specified it in `"ignore"` field of `.babelrc` file. Why does it happen? How to make `babel` act as expected?

My goal is to compress and mangle all `.js` files in my ExpressJS app (particularly my all back end code) before I push my app to remote repo and then to server. So I use `babel` and `babili`.

Here is my `.babelr

[2017-03-23 15:26] hzoo commented on #5532
There are some issues with ignore/only that we are fixing in 7.0 like with https://github.com/babel/babel/pull/5467, similar to https://github.com/babel/babel/issues/4558.

Will do another alpha release today that you can test!

[2017-03-23 15:26] #5532 closed

[2017-03-23 15:27] hzoo commented on #4558
@ianstormtaylor btw I think we'd be interested in the OSS fellowship 😁

[2017-03-23 15:44] loganfsmyth commented on #5531
Thanks for filing, I totally agree this is something we can look into. I know we've had a similar issue filed before but I can't find it so I'm happy to have this be the primary source.

This seems like a good candidate to try to fix in Babel 7.x which we're working on now.

[2017-03-23 15:55] #5503 closed

[2017-03-23 16:02] szilveszter99 opened #5533 "Enhanced object literal on a reused variable that is a cloned plain object leads to unexpected behaviour"
### Input Code (content of test.js)
[code]

### Babel Configuration (.babelrc, package.json, cli command)
no configuration, fresh directory and npm i babel-cli (version 6.24.0)
[code]

### Expected Behavior
I would expect that the first function prints {a:1} {a:1} {a:1} {a:1}

### Current Behavior
The first function prints {a:1} {a:2} {a:3} {a:4} despite the fact we don't change the solution and i

[2017-03-23 16:06] loganfsmyth commented on #5533
This is expected behavior
[code]
vs
[code]

are very different things. One reassigns `someobject` and one does not.

[2017-03-23 16:08] wzup commented on #5532
While you can't help much, @hzoo,  with your "There are some issues with ignore/only that we are fixing", I found that if I pass ignored directories in command line, they are accepted.

I'm curious, you're a member of the dev group, and you didn't know that? You could say that passing ignored as cli options is a solution. Thanks for nothing

[2017-03-23 16:11] hzoo commented on #5532
Yeah I didn't know that actually, or forgot. I mentioned on slack I haven't really used `ignore` so I haven't had to deal with this issue. Glad you figured it out.

[2017-03-23 16:18] loganfsmyth commented on #5532
Dang dude, we're humans not robots, if you insult the people trying to help I'm not sure how you expect to get help in the future.

[2017-03-23 17:01] szilveszter99 commented on #5533
@loganfsmyth yes, the second one is my workaround, but I would expect the first to behave exactly the same as the second one in the context seen above.

[2017-03-23 17:03] loganfsmyth commented on #5533
The two pieces of code do different things. In this case it seems that your expectations don't match the code. Because in the first you change the object that `someobject` references, your `someobject['a'] += 1;` will update the property on that object, whereas in the second, that line will always update the `a` property on the original object.

If you changed it to

[code]

it would also work.

[2017-03-23 17:11] szilveszter99 commented on #5533
yes, I see that is also working, but I am cloning the object and passing the cloned someobject to the solution object, that is why I am not expecting any changes in the solution object in the next loop when I am console.logging it

[2017-03-23 17:13] szilveszter99 commented on #5533
hmm, I have to rethink this.

[2017-03-23 17:23] szilveszter99 commented on #5533
haha, alright, not sure how I confused myself so deeply, obviously I am not freezing it and reusing the previous reference

[2017-03-23 17:23] #5533 closed

[2017-03-23 17:42] ianstormtaylor commented on #4558
@hzoo haha awesome, you should apply!

[2017-03-23 19:07] worc commented on #4334
that's a bad expectation. when pulling a repo down and running the initial build, you would expect that the command line tool that's creating files would also be able to create the directories for those generated files.

[2017-03-23 19:16] loganfsmyth commented on #4334
I think it's relatively common for tools to expect the directory to exist. Even simple unix tools like `touch` for instance:

[code]

[2017-03-23 20:58] danez commented on #5023
maybe, i should look at this again.

[2017-03-23 21:42] mikesherov commented on #5532
Please block and report that user.

[2017-03-23 21:56] loganfsmyth commented on #5532
To me, that seems like an unnecessarily aggressive approach, for this specific case.

[2017-03-23 22:42] bradzacher commented on #3741
Another use case is typescript.

When using a build flow like `browserify -> tsify -> babelify` to compile then transpile typescript to JS, the babel transform will get skipped unless you specifically [configure babel to accept TS/TSX files](https://stackoverflow.com/questions/42968868/babelify-transform-not-running/42988231#42988231).

The other option is to use a flow like `browserify -> tsify -

[2017-03-24 00:50] mikesherov commented on #5532
You're right! I just get upset when I see folks taking your hard work for granted. Keep up the great work @hzoo and @loganfsmyth

[2017-03-24 04:29] aaronang commented on #5006
I couldn't reproduce this error either. @KyleAMathews Could you maybe walk us through the steps that you took to get to this error?

[2017-03-24 04:56] KyleAMathews commented on #5006
I did in the original post... it was just a simple jsx => js file conversion. If no one can reproduce it we can close this.

[2017-03-24 04:58] Kovensky commented on #5531
How could this be implemented anyway? Rename the shadowing "Promise" away to be able to access the global Promise? Always require core-js's (probably the worst idea)?

[2017-03-24 05:00] loganfsmyth commented on #5531
I'd expect renaming the in-scope bindings to allow the global ones in the helpers to work.

[2017-03-24 05:07] loganfsmyth commented on #5006
Sorry, looks like I never properly replied to this. @aaronang happy to chat more, but essentially this is because of the way we look of presets both with and without the `babel-preset-` prefix. If you have `react` as a preset, but either don't have `babel-preset-react` installed and _do_ have `react` installed, Babel will try to load React itself as a babel plugin.

It might be worth us considerin

[2017-03-24 05:25] ljharb commented on #5531
Yes, that's exactly what I'd expect.

[2017-03-24 05:34] wikiwong commented on #5532
@wzup If you don't see how @hzoo has made your life easier, maybe you should stick with ES5 syntax

[2017-03-24 07:36] Kovensky commented on #2486
That was one part of the spec mode patch

[2017-03-24 11:32] gajus opened #5538 "Exporting imported types fails using babel-plugin-transform-flow-comments"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Not sure. I cannot figure out whats the expected syntax.

[code]

produces:

[code]

According to this [source](http://stackoverflow.com/a/32727530/368691), the expected syntax is:

[code]

### Current Behavior

[code]

This results in an error saying that `DatabaseConnectionType`

[2017-03-24 11:40] gajus commented on #5538
I might be wrong, but this appears to be a deficiency in the Flowtype spec. I cannot find an example of exporting and imported type in https://flowtype.org/docs/modules.html documentation.

[2017-03-24 11:48] gajus commented on #5538
After some digging in Flow issues, I [found](https://github.com/facebook/flow/issues/1379) that this works:

[code]

Which translates to:

[code]

Using this logic, then:

[code]

should produce the same output.

[2017-03-24 12:23] Kovensky commented on #5538
It looks like the transform only deals with `ExportNamedDeclaration` that have a `declaration` (so something like `export type Foo = {}`), but not ones that have `specifiers` (like `export type { Foo, Bar as Baz }`). Is that supported in the flow spec?

[2017-03-24 12:25] gajus commented on #5538
I cannot find a reference in the spec, but it works.

https://flowtype.org/try/#0C4TwDgpgBAYg9nKBeKA7ArgWwEYQE4DcAUERAB5hx7BSiRQDe8cAvgUA

[2017-03-24 13:38] esakkikrishnan commented on #3893
I have the same problem
Works fine when using babel-node
Doesn't Work when using node with babelrc

[2017-03-24 17:03] loganfsmyth opened #5541 "Understanding usecases of manual .babelrc lookups and OptionManager use"
In an ideal world, it makes no sense for third parties to reimplement `.babelrc` lookups in their own tools, and I think that fact that it isn't uncommon points to missing features from babel-core. I think it is important that we, as a team, understand _why_ that approach is currently taken by tools using `babel-core` so that we can ensure the babel-core API provides the primitives that third part

[2017-03-24 17:41] florianb opened #5542 "babel-node shouldn't pass the arguments-separator (`--`)"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
None

### Expected Behavior
Calling

`babel-node index.js -- --version`

should pass

    [ 'node',
    '/<...>/babelbug/index.js',
    '--version' ]

to the called program.

### Current Behavior
Calling

`babel-node index.js -- --version`

currently passes

    [ 'node',
    '/<...>/babelbug/index.js',
    '--',

[2017-03-24 17:54] loganfsmyth commented on #5542
I'm open to suggestions here, but I don't know that I agree with your suggestion. `babel-node` at least until now has aimed at essentially being a dropin replacement for the `node` binary, so we pass the arguments straight through.

[2017-03-24 18:00] florianb commented on #5542
Thanks for your quick response @loganfsmyth - i just finished writing (after having created the issue incidentially).

I guess i have to take further investigations.

[2017-03-24 18:10] florianb commented on #5542
@loganfsmyth Okay, i guess you're right, but then the problem is even more complicated, i guess. Compare the following calls:

[code]

It seems like `babel-node` fails at least for the version-option. It looks like babel-node shouldn't process any options behind the script-argument-

[2017-03-24 18:19] florianb commented on #5542
Probably i should rewrite the issue then? 🤔

[2017-03-24 18:20] loganfsmyth commented on #5542
Yeah I don't want to imply things are great with the current approach. The cases we'd probably want to handle, which we can explore, are

[code]

It seems like the least we can do is require that `babel-node`'s arguments come before the script filename? That way `--version` would pass through to your script properly.

[2017-03-24 18:21] loganfsmyth commented on #5542
So, find the filename, process all arguments before the filename, pull out the whitelist of `babel-node` arguments, and pass the rest on to Node, and append the rest of the args as args for your script.

[2017-03-24 18:22] loganfsmyth commented on #5542
Or maybe we take everything up to the first argument we recognize as Node args, then take everything from there up to the filename as babel-node args, and everything after that as script args?

[2017-03-24 18:23] florianb commented on #5542
Interesting ideas, i guess it would be the easiest to treat everything behind the filename as script-args.

[2017-03-24 18:27] florianb commented on #5542
But then again, how to distinguish between node-args and babel-args. There aren't that much options overlapping but it may be risky in the future.

[2017-03-24 18:34] loganfsmyth commented on #5542
That's fair. I don't think there will be a ton of overlap and babel-node doesn't have many options at least. Open to suggestions though.

[2017-03-24 19:19] hzoo commented on #2474
This should be fixed in 7, can try `babel-register@7.0.0-alpha.4`

[2017-03-24 19:19] #2474 closed

[2017-03-24 19:26] hzoo commented on #1912
This should be fixed in Babel 7 https://github.com/babel/babel/commit/39c862c1955041b3bfae72fda694c93657d8b73c

[code]

can test with "babel-core": "7.0.0-alpha.3", (or cli)

[2017-03-24 19:26] #1912 closed

[2017-03-24 19:29] hzoo commented on #4082
This should be fixed in Babel 7 with https://github.com/babel/babel/pull/5487

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:29] #4082 closed

[2017-03-24 19:31] hzoo commented on #5086
This should be fixed in Babel 7 with https://github.com/babel/babel/pull/5487 - we are using https://github.com/jonschlinkert/micromatch which seems to accept negation?

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:32] hzoo commented on #5002
This should be fixed in Babel 7 with https://github.com/babel/babel/pull/5487

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:32] #5002 closed

[2017-03-24 19:32] hzoo commented on #4052
This should be fixed in Babel 7 with https://github.com/babel/babel/pull/5487

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:32] #4052 closed

[2017-03-24 19:35] hzoo commented on #5542
This sounds like https://github.com/babel/babel/issues/2530? can we close one of them?

[2017-03-24 19:37] florianb commented on #5542
Great finding @hzoo - i'd close this one if everybody agrees and participate in #2530.

[2017-03-24 19:37] hzoo commented on #3061
Going to close since https://github.com/babel/babel/pull/3670 is open

[2017-03-24 19:37] #3061 closed

[2017-03-24 19:48] hzoo commented on #4445
Hm not sure if it merged before or not... closing for inactivity

However in Babel 7 we will have .babelrc.js so you can pass the same config in with different environmental variables at least

[2017-03-24 19:48] #4445 closed

[2017-03-24 19:51] hzoo commented on #4869
Should be fixed by https://github.com/babel/babel/issues/5466 by resolving from cwd combined with using require in the babelc plugins/presets

This should be fixed in Babel 7

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:51] #4869 closed

[2017-03-24 19:51] hzoo commented on #4716
Should be fixed by https://github.com/babel/babel/issues/5466 by resolving from cwd combined with using require in the babelc plugins/presets

This should be fixed in Babel 7

can test with:
"babel-core": "7.0.0-alpha.3"
"babel-cli": "7.0.0-alpha.3"
"babel-register": "7.0.0-alpha.5"

[2017-03-24 19:51] #4716 closed

[2017-03-24 19:56] hzoo commented on #4960
Sorry for delay @insin, yeah we can do this. Would be better to do it automatically in the future as part of core. I'm cool if you send the PR so closing in favor of that 👍

[2017-03-24 19:56] #4960 closed

[2017-03-24 20:00] #4982 closed

[2017-03-24 20:02] hzoo commented on #5000
I don't think we're going to take the plugin into the repo. Thanks for making a plugin though and really glad it's working for bootstrap though!

Maybe we can have another repo for 3rd party plugins or move to the org if you think it will have greater visibility but I don't think we will manage it. Let me know if you want to do something like that (can join slack and talk too)

[2017-03-24 20:02] #5000 closed

[2017-03-24 20:07] hzoo commented on #4679
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-24 20:07] #4679 closed

[2017-03-24 20:08] hzoo commented on #4958
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-24 20:08] #4958 closed

[2017-03-24 20:19] hzoo commented on #5404
This should be fixed in Babel 7 via https://github.com/babel/babel/pull/5487

Can test with babel-cli@v7.0.0-alpha.3

[2017-03-24 20:19] #5404 closed

[2017-03-24 23:34] loganfsmyth commented on #5086
I actually didn't cover that in the current PR. Still could be useful though.

[2017-03-25 01:04] boopathi commented on #4818
This actually works. The accessor of binding's scope is wrong in the above example. It should be `binding.scope.path.type` instead of `path.scope.path.type`. 😃

[2017-03-25 06:16] aaronang commented on #5006
@loganfsmyth Thanks for the explanation. I can now confirm this error. It occurs when `babel-preset-react` is **not** installed while `react` is installed.

[2017-03-25 06:40] aaronang commented on #5000
Maybe https://github.com/babel/awesome-babel?

[2017-03-25 06:47] aaronang commented on #5443
Closing this issue as it has been inactive. Please feel free to open a new issue or leave a comment asking to reopen this issue. Thanks! ✌️

[2017-03-25 06:47] #5443 closed

[2017-03-25 06:51] aaronang commented on #2530
Closing this issue since there is a duplicate issue #5542 that has more activity. Thanks for reporting! 😄

[2017-03-25 06:51] #2530 closed

[2017-03-25 07:04] blade254353074 commented on #5443
The issue is finally closed, I have been thinking about it...

[2017-03-25 08:43] arunoda commented on #5541
@loganfsmyth Thanks for opening this issue.
Actually, we wanted to get the default lookup system without implementing our own logic.
But, we wanted to detect which `.babelrc` is going to use. If not, we wanted to use our own defaults.

We can easily do fix and remove the private API use, if babel has a public API to resolve the `.babelrc` file.

[2017-03-26 04:43] lukeapage commented on #3821
Pure annotation support has now been implemented in UglifyJS2...

[2017-03-26 05:22] loganfsmyth commented on #5006
I posted a PR with a proposed approach: https://github.com/babel/babel/pull/5547

[2017-03-26 06:37] loganfsmyth commented on #5541
I'm curious, do you need to detect the presence of a `.babelrc` specifically, or just the presence of plugins? The `OptionManager` API we currently expose allows you to fully resolve Babel's config into a set of options and a set of plugins, so you could for instance use that as a proxy. The primary difference that comes to mind is:

* You can't really differentiate between plugins enabled via a p

[2017-03-26 13:32] arunoda commented on #5541
@loganfsmyth We need to check the existence of an exiting babel config file.
If there's a such a file (even a package.json) we need log it when running next.js.

So, users know what's there babel config file and how it looks like.
Usually, that helps to find issues where a wrong babelrc file (in a top level directory) messed up Next.js.

[2017-03-26 20:37] wub commented on #4075
I'm still getting this, as well, 6.24.0. Even including the entirety of core-js or babel-polyfill doesn't work for me. Happens when using for...of on an array of HTML elements/`HTMLCollection`

[2017-03-27 08:34] florianb commented on #5542
Alright @loganfsmyth, i would then propose

## Refine the `babel-node` interface-docs

From currently

    babel-node [options] [ -e script | script.js ] [arguments]

to

    babel-node [options] [script.js | -e "script"] [--] [arguments]

where the `--` should probably be documented as in the [node-docs](https://nodejs.org/api/cli.html#cli):

## Fix the options parsing

From currently also acting

[2017-03-27 08:48] Catx7 opened #5549 "[Help Wanted] babel node exclude specific file"
Hello ,

I want to exclude a specific file during my deployment. When I am creating the build file :

I am not sure how I can do this.
I tried this config but did not work.
**.babelrc**
`{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": ["transform-runtime"],
  "ignore": ["**/*-test.js","**/devConfig.js"]
}
`
I am using babel-node and webpack.
Any suggestions.

[2017-03-27 09:08] #5549 closed

[2017-03-27 20:05] olslash opened #5552 "babel-plugin-transform-react-constant-elements -> Cannot read property 'declarations' of null"
Working example showing the bug: https://github.com/olslash/react-transform-constant-elements-bugreport

Using babel-plugin-transform-react-constant-element, when a React component defines a method that returns a function using class property syntax, not referencing the argument to the returned function leads to the build error:

`Cannot read property 'declarations' of null`

### Expected Behavior

[2017-03-27 21:34] hzoo opened #5553 "babel-polyfill: generate individual files for each shim"
Choose one: is this a bug report or feature request?: feature request

### Expected Behavior

it would be more intuitive and also less weird (for npm 2, yarn?) if babel-preset-env just changed into babel-polyfill still

[code]

### Current Behavior

Currently https://github.com/babel/babel-preset-env/#usebuiltins turns

[code]

into

[code]

### Possible Solution

Generate the extra module files t

[2017-03-28 01:53] bretkikehara opened #5556 "babel-polyfill should softly fail at runtime"
### Expected Behavior
While babel-polyfill is great at detecting whether a given page has multiple instances of babel-polyfill imported, [throwing an error](https://github.com/babel/babel/blob/master/packages/babel-polyfill/src/index.js#L2) is a suboptimal solution when external scripts must be loaded, but are not fully controlled by the developer. babel-polyfill should silently fail without furth

[2017-03-28 02:12] loganfsmyth commented on #5556
You could certainly override this by manually setting `global._babelPolyfill = false` before loading it yourself, but I don't know that we want this to fail silently.

This is absolutely a bug in this advertising plugin your are loading, third-party code should never load global polyfills like babel-polyfill.

[2017-03-28 02:12] tgecho opened #5557 "A slash followed by a leadingComment is not generated correctly in compact mode"
I'm prepending certain expressions with leadingComments, but when Babel generates in compact mode it lets the comment bleed into forward slashes, creating an invalid result.

[code]

Demonstration: https://jsfiddle.net/Ltgfmnh0/

### Expected Behavior
Ideally, the generator would ensure a space exists between the slash and the comment.

### Current Behavior
The rest of the line becomes commented o

[2017-03-28 02:15] loganfsmyth commented on #5557
Sounds like a bug to me! Good find.

[2017-03-28 02:21] loganfsmyth commented on #5557
I don't have time to tackle this now, but if someone wants to, I _think_ it's just on this line: https://github.com/babel/babel/blob/0c2ac9d907364958fc0f71b656c3ce9255dfef62/packages/babel-generator/src/printer.js#L559 we should have `if (this.endsWith("/")) this._space();`

[2017-03-28 02:33] bretkikehara commented on #5556
@loganfsmyth Thanks for the quick reply. `global._babelPolyfill = false` doesn't seem to be the best solution b/c it basically overwrites existing polyfill'ed functions.

The important issue is there are different stakeholders for website, videojs plugin script, and advertiser script, so there will be various levels of support for babel-polyfill. As the developer of the videojs plugin, I have no c

[2017-03-28 02:49] tgecho commented on #5557
I should be able to take a stab at a PR tomorrow. Thanks for the pointer in the right direction!

[2017-03-28 06:29] aaronang commented on #5198
What is the current status of this issue?

[2017-03-28 10:23] vicwang163 opened #5559 "AST will run twice"
[code]
any method in visitor will run twice, anyone can help me

[2017-03-28 10:26] vicwang163 commented on #5559
@thejameskyle I need your help

[2017-03-28 10:39] goto-bus-stop commented on #5559
Can you share your `.babelrc` and your input code?

[2017-03-28 12:00] msuperina commented on #5060
Hi I have developed a React module that does that https://www.npmjs.com/package/react-cache in combination with a babel plugin https://www.npmjs.com/package/babel-plugin-transform-react-cache

It does not work on JSX but intercept React.createElement after being transformed by JSX, so it can be used without JSX.

[2017-03-28 12:03] msuperina commented on #5060
Also, I started yesterday this repo to automatically detect what the cache function should look like in the transpile phase https://github.com/msuperina/aot-detection
It is not clean code read at the moment...

[2017-03-28 13:12] xtuc commented on #5559
Could you please use the [issue template](https://raw.githubusercontent.com/babel/babel/7.0/.github/ISSUE_TEMPLATE.md) ?

[2017-03-28 13:17] hzoo commented on #5559
@vicwang163 please follow the issue template, don't ping people randomly in the issue, and ask this question in our slack instead.

Your code snippet has a syntax error (missing }). Maybe you just have 2 classes in the code so it console.logs twice.

Thanks for making an issue! However, issues are not for support questions but rather for reporting bugs/features requests.

If you just have an usage

[2017-03-28 13:17] #5559 closed

[2017-03-28 14:40] hzoo commented on #5556
But we are saying that the app should include the polyfill, it doesn't make sense for libraries to do it especially if you don't know the order it's loaded in

[2017-03-28 16:22] babel-bot opened #6695 "Discussion: Should we have sourceType: "auto""
In Babel 6, we've hardcoded everything to be `sourceType: "module"` by default, which has been a bit of a problem because people often run Babel on arbitrary code that they don't own, and sometimes that code is written assuming it will be treated as a script. This leads to complaints about `this` being replaced at the top level, among other things.

Would people be open to adding an `auto` sourceT

[2017-03-28 18:08] sebmarkbage commented on #5060
It is very unusual to use an inline object literal and then place it into state, which is then mutated but not impossible. It is a bit more common to create an object, pass it to an element, and then mutate it but usually that is not directly inline in the JSX element. Sometimes we see things like:

[code]

Personally, I prefer a bit more safety around this. I'd only use such an optimization in co

[2017-03-28 18:24] bretkikehara commented on #5556
@hzoo Thanks for the reply!

Let's take a step back. I agree that when building a SPA there should only be 1 instance of the polyfill. Assuming the most basic single bundle webpack build, you should only include babel polyfill once just like how the [documentation specifies](https://babeljs.io/docs/usage/polyfill/). I believe that throwing error is great to handle that case as forces libraries to

[2017-03-28 18:38] hzoo commented on #5556
Hmm I guess for that case it is a a reason to do https://github.com/babel/babel/issues/5553, and making everyone try useBuiltIns?

So even for the case where each library does include the polyfill we should at least only include the polyfills that are actually used in a library https://github.com/babel/babel-preset-env/issues/84

Although if you are going to use a polyfill in a library, I'd recomm

[2017-03-28 19:06] bretkikehara commented on #5556
Forgive my ignorance, but what is the reason for ponyfill? Shouldn't polyfills only modify global space when the features aren't already available natively?

`https://github.com/babel/babel-preset-env/issues/84` seems great if we know at compile time what features are depended upon. Unfortunately it doesn't fix the runtime issue.

[2017-03-28 19:07] hzoo commented on #5556
A common opinion is that libraries shouldn't modify the global space and that only the app should choose what to polyfill, thus ponyfill for libraries (or a library uses https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-runtime) + something like rollup/webpack

[2017-03-28 20:53] aaronang commented on #4464
Closing issue because it is identical to #4196.

[2017-03-28 20:53] #4464 closed

[2017-03-29 01:08] sergiotapia commented on #4628
@goto-bus-stop @FezVrasta This is happening to me using Rails and Webpacker on a fresh app. My .babelrc file looks like this:

[code]

Would love some ideas!

[code]

[2017-03-29 02:20] vicwang163 commented on #5559
@xtuc thank you for your suggestion
my plugin is here : https://github.com/vicwang163/babel-plugin-react-perf
the .babelrc in my project is
[code]
I found that my injected code will added twice
at first, I doubt that there is something wrong with my code,
so then I simplified my visitor code, as below

[code]
there is no extra logic, console.log will run twice for the same class too

the package.j

[2017-03-29 04:03] loganfsmyth commented on #5559
That is likely expected behavior. We don't provide any guarantees that a given visitor will be called only once. As the various plugins move things around in the AST, it is possible for the same nodes to be encountered more than once.

Generally we recommend people add the nodes to a Set, or include logic to check if the code you're injecting is already present.

I don't disagree that this behavio

[2017-03-29 05:12] vicwang163 commented on #5559
@loganfsmyth thanks for your reply
I am just looking for a better solution that I don't know,
ok,I will add some logic to check in my project for now

[2017-03-29 17:21] MatusSkerlik opened #5564 "Compiled with Syntax error - Invalid regular expression"
When i run project in "developing" mode everything works as it should.
`npm run dev`
But when i bundle code into Electron and run application, i am getting error in /app/dist/bundle.js
`npm run package`

_Syntax error: Invalid regular expression: missing /_

my repository [rep](https://github.com/MatusSkerlik/Prezior)

Compilation of source code is made by babel-pollyfill
OSX 10.12.3, node v6.9.2,

[2017-03-29 17:30] loganfsmyth commented on #5564
I think you'll need to narrow this down a bit, there isn't nearly enough information to go on. What code is failing? Do you have a sense for what the error is? What makes you say this is a Babel issue?

The link to your repo also doesn't work.

[2017-03-29 17:45] MatusSkerlik commented on #5564
Sorry for that link, it works now.
Like i said everything works until i run bundled application.
 I think it is problem with babel or my babel configuration because code is converted from es6 to es5 and that is babel functionality. I really dont know where is the problem, but when i use syntax validator to test file /app/dist/bundle.js there is a syntax error.

[2017-03-29 17:58] loganfsmyth commented on #5564
I'm happy to help if this is a Babel issue, but it would be great if you could narrow it down. That file is 2MB. What regex is broken? What does it look like in the original source? What change happened to make it break, at least from what you can tell?

[2017-03-29 18:10] MatusSkerlik commented on #5564
it is on 12 line, it is loadash.js 1.8.3 section of code i think, please go to [http://esprima.org/demo/validate.html](http://esprima.org/demo/validate.html) and copy contents of bundle.js in it so you can see. When i fix this line another syntax error will show up on line 37, modernizr.js section, and it continues for ever.

[2017-03-29 18:17] loganfsmyth commented on #5564
Line 12 is 90000 characters long. Please include the working vs failing regexes here so we can compare.

[2017-03-29 18:31] MatusSkerlik commented on #5564
This lines don't work.
generated code -> line 12 `var W=//g;`,
generated code -> line 36 `Fe=//g`, `He=//g` and so on.
I think that first slash is representing something like new line because everything is form end of line.
It is helpful in some way ?

[2017-03-29 18:33] loganfsmyth commented on #5564
If you remove the `BabiliPlugin` from your Webpack config, does it work? It's possible that's causing some issue.

[2017-03-29 18:44] MatusSkerlik commented on #5564
Yes, it works now. Thank you so much, you have saved my ass 👍

[2017-03-29 18:46] loganfsmyth commented on #5564
Babili is still beta-level, so it's certainly possible there is some bug you are hitting here.

[2017-03-29 18:53] MatusSkerlik commented on #5564
Thank you again, i would not use it if i knew it. It took my so much time.

[2017-03-29 18:53] #5564 closed

[2017-03-29 22:34] Agamennon commented on #2367
I have the same issue, you should be able to override the constructor, there are too many use cases for this, as far as i can tell, looking at the proposal this should be considered a bug

[2017-03-29 23:04] loganfsmyth commented on #2367
Class-level constructors can return a new constructor function that replaces the decorated, so instead of
[code]
you do

[code]

[2017-03-30 07:33] mrstux opened #5565 "[babel-polyfill] breaks existing Uint8Array default constructor behaviour"
In vanilla IE11, Edge, Chrome, Safari, FireFox, PhantomJS and Node the following code succeeds.

[code]
When executing the above line after importing the babel-polyfill, it throws **'TypeError: Wrong length!'** in all browsers except Chrome.

The expected behavuour is that `new Uint8Array()` should not throw, as this is the existing behaviour in ALL user-agents tested.

This affects the usage of l

[2017-03-30 12:06] boopathi commented on #5564
@MatusSkerlik looks like some bug with Babili in regexp. Might be the same as https://github.com/babel/babili/issues/440. Can you try with [Babili Option](https://github.com/babel/babili/tree/master/packages/babel-preset-babili#1-1-mapping-with-plugin) - `regexpConstructors` set to `false`

[code]

in your webpack config.

[2017-03-30 21:00] hzoo commented on #5565
If this is a problem with the polyfill specifically then it's a core-js issue

[2017-03-31 00:14] bluepnume commented on #5432
Any love for this idea?

[2017-03-31 02:47] babel-bot opened #6630 "PSA: ask other preset repos (if they are willing) to deprecate in favor of this preset"
There were a few reasons we finally started preset-env (much in https://github.com/babel/babel/pull/3476). One of the reasons was similar to the problem that presets never had the ability to provide it's own options. After we added options to preset-es2015 (loose mode, modules: false for webpack, etc), it removed the need for presets like `preset-es2015-loose` and `preset-es2015-webpack` and even

[2017-03-31 08:02] sublee opened #5568 "Extract Python messages in nested gettext calls"
When Babel extracts messages from Python code, it ignores `_(...)` in another `_(...)`.

My `_` is slightly customized to accept `**kwargs` for formatting.  I guess it is one of common patterns.  So I can write like this code:

[code]

Babel extracts only `You have {fruit}!` in the above code.  There's no `an apple`.  But at the same case in C#, xgettext can extract both of the messages.  So I thi

[2017-03-31 09:18] alxpy commented on #5568
@sublee You need another repository =)

[2017-03-31 10:29] sublee commented on #5568
OMG, I'm sorry!

[2017-03-31 10:29] #5568 closed

[2017-03-31 10:42] danez commented on #4219
This has been fixed in the 7.0 branch and will be backported to 6.0 with #5567.

[2017-03-31 10:42] #4219 closed

[2017-03-31 11:11] RoboBurned commented on #3757
I use the following workaround for this bug:
Create a file named .babelrc in project root dir with the absolute paths to presets:
[code]
I don't know if there any %node_modules% variables are supported here so I just put absolute path.

[2017-03-31 11:57] aight8 commented on #3757
Could be solved by a simple option which point the root node modules path, or even multiple ones. It would be really nice if this would be implemented. Currently all that ugly workaround is a joke, because the whole preset/plugin resolution is there but it's unusable if you don't stick at the current node_modules path.

[2017-03-31 12:01] anubhav7495 commented on #5459
Compilation result from `Typescript` compiler:
[code]
This works as expected.
I would like to work on this issue, can somebody point me in the right direction?

[2017-03-31 12:45] #5565 closed

[2017-03-31 14:29] rajatvijay commented on #5086
Hi everyone

I would like to work on this issue.

Is it a good idea to use it (https://github.com/jonschlinkert/micromatch) in Babel 6?

[2017-03-31 15:19] andyearnshaw opened #5569 "Assume array option for transform-es2015-for-of"
I'm working on a library that has to remain as small as possible.  As such, we aren't including most of `babel-polyfill`.  However, I'd still like to permit `for..of` loops in the codebase.

https://github.com/babel/babel/pull/3485 added an optimisation path for array literals or explicitly type-hinted variables.  I'd like to add an option that forces the assumption that all `for..of` statements t

[2017-03-31 15:26] hzoo commented on #5569
If you pass an array it already does this; try `for (let a of []) {}` in the repl, and we already have a "loose" mode. If we do this the option name would have to signify that it isn't spec/dangerous

[2017-03-31 15:58] alexindigo opened #5570 "Support for scoped presets"
Would be nice to have support for scoped presets. Especially valuable for those of us with internal npm instances, where we can publish only scoped modules.

Current syntax to include module `babel-preset-mypreset` into babel config looks like this:

[code]

But there is no syntax to use module `@mycorp/babel-preset-mycorppreset`.

As a suggestion, something like this seems pretty straightforward:

[2017-03-31 15:58] andyearnshaw commented on #5569
And indeed it could. There are already several options that "aren't spec".
For instance spread's loose mode forces array assumption.

On Fri, 31 Mar 2017, 16:27 Henry Zhu, <notifications@github.com> wrote:

[2017-03-31 15:59] alexindigo commented on #5570
@bcoe this one :) Thanks.

[2017-03-31 19:36] Wandalen commented on #1298
What if I want transpile source code which I don't control? What if that source code have "return" outside of function. That works perfectly fine in nodejs. Point of view that it's must be not working just only because it's stated in a paper doesn't make sense for me.

[2017-03-31 19:56] Wandalen commented on #1298
Anybody know how can I make babel ignore "return" outside of function? Seems loose: ["es6.modules"]  does not work anymore.

[2017-03-31 20:04] hzoo commented on #1298
This issue was created for Babel 5 which isn't supported anymore. If you need it babylon has a option for it https://github.com/babel/babylon#options but doesn't mean we **support** the transform just the parsing.

[2017-03-31 20:08] Wandalen commented on #1298
Ah, that's useful. Thank you @hzoo

[2017-04-01 01:58] loganfsmyth commented on #5570
We do have this currently: https://github.com/babel/babel/blob/7.0/packages/babel-core/src/config/helpers/get-possible-preset-names.js#L5, we don't have it for plugins though: https://github.com/babel/babel/blob/7.0/packages/babel-core/src/config/helpers/get-possible-plugin-names.js

[2017-04-02 20:12] cjihrig commented on #4554
Ben would probably know the most official way to do this, if one exists. Passing the IPC channel and the file descriptor both failed for me, but I was able to proxy the IPC channel like [this](https://github.com/cjihrig/babel/commit/6c1f629f456bcb63c1e6fdb7e18d9cad626c0cbc).

[2017-04-02 20:29] satazor opened #5574 "Invalid repository in package.json"
### Expected Behavior

package.json repository field should be a valid cloneable URL.

### Current Behavior

All packages repository field are invalid, e.g.: https://github.com/babel/babel/tree/master/packages/babel-helper-fixtures

### Context

I was improving npms.io to handle mono repositories better and I was testing it against babel, but then I discovered this..

[2017-04-03 08:25] bnoordhuis commented on #4554
You have an existing ipc file descriptor that you want to recognize the child process as such?  Spawn it with `{ stdio: ['inherit', 'inherit', 'inherit', fd], env: { NODE_CHANNEL_FD: 3 } }`.  (Undocumented but present since basically forever.)

Note that you can't use the file descriptor in two processes at the same time, though.

[2017-04-03 08:34] andimarek commented on #5553
Hi,

I would help with this issue, but I need a bit guidance. :-)

Shouldn't the expected behavior to be imports from `babel-polyfill`:

[code]
instead from `core-js`?

Otherwise generating new module files in `babel-polyfill` wouldn't make much sense, I think.

Thanks,
Andi

[2017-04-03 09:31] chhetrisushil commented on #5032
is ordering the function definition is the only solution? or is there another workaround?

[2017-04-03 13:35] xtuc commented on #5574
The only clonable git repository contains all the packages (monorepo).

I don't see what could be the repository of a single package.

[2017-04-03 14:15] TomYeoman opened #5576 "Error: watch null UNKNOWN"
Hi all,

I'm having an issue where babel has randomly stopped working for a team member. I've tried reinstalling babel-cli, reinstalling project dependencies etc with no luck.

The build is always successfull but upon trying to start a watch it bombs out with the "Error: watch null UNKNOWN" error.

My "npm run build" script which runs on my identical machine, but does not run on my colleagues:

[2017-04-03 15:10] loganfsmyth commented on #5576
Could you include the full error with stack trace?

[2017-04-03 18:40] hackhat opened #5577 "transform-react-constant-elements v6.23.0: `Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.`"
### Provide a general summary of the issue in the title above

When enabling `transform-react-constant-elements@v6.23.0` I got this error: `Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined.` If I disable it doesn't break the code.

### Input Code

[code]

But this code works?!:

[code]

Noticed that I've m

[2017-04-03 23:07] zweiler commented on #4367
I don't have a minimal reproduction at the moment, but in my application, I can consistently see this by using a React class (e.g. class Foo extends React.Component), while a pure component seems generate the correctly quoted default keyword.

[2017-04-04 01:48] vihanb opened #5578 "babel-generator does not"
I'm creating a transformer with babel 6 and it looks like the following generates broken code:

[code]

This generates:

[code]

but this is a SyntaxError in JS, the correct code would be:

[code]

[2017-04-04 01:48] vihanb opened #5579 "babel-generator does not correctly handle numeric literals"
I'm creating a transformer with babel 6 and it looks like the following generates broken code:

[code]

This generates:

[code]

but this is a SyntaxError in JS, the correct code would be:

[code]

[2017-04-04 01:52] existentialism commented on #5578
https://github.com/babel/babel/issues/5579

[2017-04-04 01:52] #5578 closed

[2017-04-04 01:57] loganfsmyth commented on #5579
Do you have a sample repo? AFAIK, babel converts `(1).foo` to `1 .foo`. Note that the space there is enough to fix the parsing issue.

https://babeljs.io/repl/#?babili=true&evaluate=false&lineWrap=false&presets=&targets=Node-7.4&browsers=&builtIns=false&code=(1).foo&experimental=true&loose=true&spec=false&playground=false&stage=0

[2017-04-04 02:00] vihanb commented on #5579
This is on AST explorer:
<img width="866" alt="screen shot 2017-04-03 at 6 59 28 pm" src="https://cloud.githubusercontent.com/assets/15314511/24638721/b35cc8e0-189f-11e7-8d98-693da8fdb837.png">

[2017-04-04 04:05] loganfsmyth commented on #5579
Gotcha. Opened a PR: https://github.com/benjamn/recast/pull/393

[2017-04-04 04:05] #5579 closed

[2017-04-04 10:11] TomYeoman commented on #5576
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@2.14.20
3 info using node@v4.4.0
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info prebuild babeltest@1.0.0
6 info build babeltest@1.0.0
7 verbose

[2017-04-04 13:20] chee opened #5582 "spreading array does not create correct result for array with empty slots"
### Input Code
http://babeljs.io/repl/#?presets=es2015&code=const%20array%20%3D%20%5B%2C%2C%2C%2C%2C%5D%3B%0A%5B...array%5D.map((_%2C%20i)%20%3D%3E%20i)

[code]

### Expected Behavior
this should product the array `[0, 1, 2, 3, 4]`

### Current Behavior
it produces an array with 5 empty slots.

### Possible Solution
possible solution is to use `_toConsumableArray` like you would if it was `Array(5

[2017-04-04 15:44] shlomisas commented on #934
isn't do something like this it's enough?

`Array.prototype.slice.call(arguments)`

[2017-04-04 18:24] babel-bot opened #6629 "Move transform-runtime functionality into this preset"
After https://github.com/babel/babel-preset-env/pull/241 is done

The plugin that is added is a fork of transform-runtime to only do polyfills but it's very similar logic so we could just make it an option, maybe `useBuiltIns: runtime`.

Then we can deprecate that plugin and make everything simplier.

[2017-04-04 20:32] babel-bot opened #6628 "Meta: Polyfills + Babel helpers"
Just going to make another issue to talk about the ideal scenario for both polyfills and babel helpers and how we can get there via babel-preset-env.

How can we write ES20xx and ship the smallest amount of code (for a given target environment)?

- [x] syntax: if your target environment supports that syntax, don't compile it (the original point of this project)
- [x] polyfill: if your target envir

[2017-04-05 07:30] huanz opened #5587 "transform-decorators-legacy：ReferenceError xxx is not defined"
### Input Code
`login.js`
[code]
`index.js`
[code]

### Babel Configuration (.babelrc, package.json, cli command)

.babelrc
[code]
`package.json`
[code]

[code]

### Current Behavior

error:

[code]
output：

[code]

### Possible Solution

### Context

### Your Environment

| software         | version
| ---------------- | -------
| Babel            |  6.24.0
| node             | 7.7.4
| npm

[2017-04-05 07:55] goto-bus-stop commented on #5587
This doesn't look like a Babel bug. Can you double-check that you're referencing the `login` name correctly in your source code? The output you show suggests there might be a typo (`loign` instead of `login`)

[2017-04-05 08:20] huanz commented on #5587
@goto-bus-stop sorry,i wrote wrong `login`

[2017-04-05 08:20] #5587 closed

[2017-04-05 16:26] Slapbox commented on #5564
For me, the package [Chrono-Node](https://github.com/wanasit/chrono) 1.3.1 and 1.2.5 both cause this error. Adding `regexpConstructors: false` makes no difference unfortunately.

[2017-04-05 23:18] angeloocana opened #5593 "Unexpected token import only at Travis"
Hi!

After removing gulp-babel from my project, i started getting this error 'Unexpected token import' only at Travis.
When I test in my machine works fine.

This error happens only with node_mudules at travis, could any one help me?

Project:
https://github.com/polutz/ptz-user-domain

Travis:
https://travis-ci.org/polutz/ptz-user-domain/jobs/219081105

Npm Scripts:
"mocha": "mocha ./dist/**/*.js

[2017-04-05 23:23] loganfsmyth commented on #5593
It would appear your `ptz-core-domain` module in node_modules contains `import` statements that have not been transpiled before the module was published.

[2017-04-05 23:28] angeloocana commented on #5593
Thanks @loganfsmyth
So is it not possible to publish to npm with imports, just because of Travis?

[2017-04-05 23:36] angeloocana commented on #5593
I was using gulp, in order to compile to ./dist/ with typescript and babel:

[code]

What is the recommend way? All the examples that i found, babel runs on the fly or by webpack.
This package ptz-core-domain must run on browser and sever.

[2017-04-05 23:45] loganfsmyth commented on #5593
The issue is that `babel-register` by default will not compile things in `node_modules`. I'm not sure why switching from Gulp to the CLI would affect that, if it is being published the same both ways.

[2017-04-06 00:18] angeloocana commented on #5593
Thanks =D
Is there some way to force babel to compile node_modules?

If I use the .babelrc bellow, i get the same error as travis in my machine:
[code]
SyntaxError: Unexpected token import

If I use the .babelrc bellow, travis still fails but i can run it locally with no errors:
[code]
From: https://babeljs.io/docs/plugins/preset-es2015/

__________________________

When I was using gulp, I was ex

[2017-04-06 00:50] loganfsmyth commented on #5593
You'd need to explicitly configure `babel-register`, e.g.

[code]
then instead of `js:babel-register` do `js:./custom-babel-register.js` or whatever filename you put ^ in.

What is your reason for publishing ES6 modules? Generally publishing a module without a CommonJS build isn't good form, since it means users of your library can't use it in standard Node.

[2017-04-06 01:16] angeloocana commented on #5593
It worked!!! Thank you!!!

I removed gulp because gulp-typescript wasn't generating source-map and throwing typings errors.
If there is some way to output babel compiled files without gulp i can think about it.

And again: Thank you!!! =D

[2017-04-06 03:10] brantphoto commented on #5577
@hackhat I only had a second to look at this but the problem looks to be that ES6 classes don't hoist. http://stackoverflow.com/questions/35537619/why-are-es6-classes-not-hoisted

[2017-04-06 04:11] brantphoto commented on #5325
hi everyone. I was having the same issue as @hinok,
`var bazFactory = function bazFactory((_temp = _ref3, _ref4 = <Bar icon={icon}>`

thought it was a version issue, but it appears to be an issue with the order of the plugins run

DOES NOT WORK:

        "plugins": [
          "transform-react-remove-prop-types",
          "transform-react-constant-elements",
          "transform-react-inline-elem

[2017-04-06 09:11] slorber commented on #5325
@brantphoto thanks, declaring constant-elements last seems to fix the problem on my codebase too!

There's already an optimization preset for Babel and I've made a PR to update the order: https://github.com/thejameskyle/babel-react-optimize/pull/33

[2017-04-06 09:23] hinok commented on #5325
@brantphoto Thanks! This really helped me and and fixed the problem 🍾 🎈 🎉

[2017-04-06 13:43] Reinmar opened #5594 "ERROR in unknown: 'super' outside of function or class"
## Bug

I'm not sure where to report this issue because the problem is that I get so little info that I don't know how to debug it.

So, when using Webpack + Babili + babel-preset-env I get this error:

[code]

If you want to reproduce it, just clone https://github.com/CKEditor5/ckeditor5.github.io/tree/babel-error:

[code]

Important facts:

* If I build the code without babel-preset-env everythi

[2017-04-06 13:47] hzoo commented on #5594
You should run preset-env with `debug: true` to see what transforms are run. And you should try removing plugins/code/babili to get a minimal repro.

[2017-04-06 13:49] Reinmar commented on #5594
Thanks for the tips.

So, the debug option gave me:

[code]

I'll try to check how removing plugins help later on.

[2017-04-06 13:52] hzoo commented on #5594
And it's possible the browsers ^ do support those plugins but aren't implementing 1 part of compat-table so we just defer to compiling it. If you are sure you can use include/exclude

[2017-04-06 13:53] #5593 closed

[2017-04-06 15:17] #5531 closed

[2017-04-06 16:25] Reinmar commented on #5594
I have more findings.

If I disable the Babili plugin (and keep babel-preset-env), the build passes, but it doesn't work. I found out that this is the code which then causes it to fail:

[code]

Source: https://github.com/ckeditor/ckeditor5-engine/blob/3a8ebed444d9b04304536ce88ddc370125de2a0f/src/model/liveselection.js#L126-L135

The same code works fine in the browser when I disable both – Babili

[2017-04-06 16:29] Reinmar commented on #5594
This is the transpiled version of that function which:

[code]

Now it's clear – the generator cannot be transpiled if `super` is not saved somewhere, because in the `regeneratorRuntime.wrap()`'s callback `super` is not valid.

[2017-04-06 16:36] Reinmar commented on #5594
Apparently, generator's transpiler depends on classes transpiler. I'm afraid that there are more dependencies like this which makes babel-preset-env pretty risky to use :(.

[2017-04-06 18:02] wbyoung commented on #4373
This might be related, but I don't seem to be able to get flags like `--use-openssl-ca` working through `babel-cli` either.

[2017-04-06 18:26] hzoo commented on #5594
There are very few - class/async/generators/rest just can't be transpiled in that way. You could just explicitly blacklist regenerator

[2017-04-06 19:36] loganfsmyth opened #5597 "[7.0] Investigate what would be needed to remove the shadow-function.js internal plugin"
This plugin is ugly and requires us to tack private undocumented properties onto AST nodes so that `this` and `arguments` are handled properly when processing scopes.

Ideally the rewriting and hoisting of these values would be handled by some helper that was used by all of the places we need to normalize these values. We should investigate what if anything might be blocking us from doing that.

T

[2017-04-06 20:22] jpfiorilla opened #5598 "Object literal shorthand not getting transpiled?"
Hello,

I'm trying to sort out compatibility with Internet Explorer 11, and I'm running into an issue with object literals. IE11 stops at this line, saying it expected a colon:
[code]

This indicates that my babel isn't transpiling the object literal shorthand in my bundle.js like I expected. I've tried using `babel-polyfill` to solve this (see below) but no such luck. I've also tried using the "e

[2017-04-06 20:55] loganfsmyth commented on #5598
Do you have babel-loader in your webpack config? If so, how is it configured? And what is the path of the file containing the content triggering the error?

[2017-04-06 21:43] Download commented on #798
Is there anyone else that cares about bundle size? Can we please have the option to skip this function call? I just checked some transpiled code and it really adds a lot of overhead to class-heavy code. Everywhere I see this same line....

Before transpilation:

[code]

After:

[code]

[2017-04-06 21:45] loganfsmyth commented on #798
Keep in mind that once you account for gzip the difference is probably much less.

[2017-04-06 21:47] hzoo commented on #798
Also https://github.com/babel/babel/pull/4850 (we can add to loose mode)

[2017-04-07 00:25] lexi-lambda opened #5600 "transform-es2015-destructuring + transform-es2015-parameters + transform-flow-comments: discards type annotation on destructured function arguments"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
A type annotation comment should be placed on the input argument:
[code]

### Current Behavior
No type annotation comment is created:
[code]

### Possible Solution

This is caused by an interaction between `transform-es2015-destructuring`, `transform-es2015-parameters`, and `transfo

[2017-04-07 01:35] rtsao opened #5601 "Standalone babel helpers"
Duplication of babel helpers is a problem that hasn't yet been fully solved. It's solved from a userland code standpoint, but not solved when you consider node_modules that use babel in a prepublish step.

### Expected Behavior
**Standalone babel helpers package**
There should be a `babel-helpers-standalone` package, with `main` and `module` package.json fields that correspond to the babel helpers

[2017-04-07 01:51] hzoo commented on #5601
Thanks for making this issue @rtsao, definetely too complicated right now.

There is also transform-runtime with the helpers only option. I want to consolidate all this functionality somehow, maybe in preset-env. https://github.com/babel/babel-preset-env/issues/248

[2017-04-07 01:57] rtsao commented on #5601
Cool, let's move discussion there.

[2017-04-07 01:57] #5601 closed

[2017-04-07 02:00] hzoo commented on #5601
Oh ok 😅 just tweeted it haha, also @Kovensky made https://github.com/babel/babel/pull/5442.

I think there's an opportunity to combine babel-polyfill/transform-runtime/babel-runtime/external-helpers and all that

[2017-04-07 12:32] Alphapage opened #5603 "Feature request: ability to preprocess js source in plugins with a fork of babylon"
Hello,

This is a long running limitation of babylon parser which doesn't provide a way to create a custom syntax: you want to keep control of babylon which I understand.

The problem is that we need to use a fork of babylon then modify its source code. Finally, we replace the original babylon package with our fork: most of the time the package will never be updated and could result in cascading e

[2017-04-07 14:45] hzoo commented on #5553
@andimarek yeah must of been my typo

Done in https://github.com/babel/babel/pull/5584 and released with alpha 7

[2017-04-07 14:45] #5553 closed

[2017-04-07 15:00] alippai opened #5604 "Async + arrow + rest parameters doesn't work"
Choose one: is this a bug report or feature request?

Bug report

### Input Code
https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Ces2016%2Ces2017&targets=&browsers=ie%2011&builtIns=false&code=function%20logged(errorName%2C%20functionName%2C%20asyncFn)%20%7B%0D%0A%20%20return%20async%20(...params)%20%3D%3E%20%7B%0D%0A%20%20%20%20try%20%7B%0D%0A%20%20%20%20%20%20r

[2017-04-07 15:01] hzoo commented on #5604
Duplicate of https://github.com/babel/babel/issues/4219

[2017-04-07 15:01] #5604 closed

[2017-04-07 15:19] hzoo commented on #5604
Releasing v6.24.1 to fix

[2017-04-07 15:22] existentialism commented on #4219
Release in [v6.24.1](https://github.com/babel/babel/releases/tag/v6.24.1)!

[2017-04-07 16:12] jpfiorilla commented on #5598
Hi Logan, thank you for responding. I do have babel-loader in my config, as below:

[code]

[2017-04-07 16:21] loganfsmyth commented on #5598
And what is `APP_DIR`, and are you sure the file that is getting skipped is inside that folder?

[2017-04-07 16:28] jpfiorilla commented on #5598
Ah, that was it! That file was outside the `APP_DIR` folder. Thank you very much!

[2017-04-07 16:28] #5598 closed

[2017-04-07 17:36] slahav opened #5606 "npm install fails on v6.4.21"
npm ERR! No compatible version found: babel-types@^6.24.1
npm ERR! Valid install targets:
npm ERR! 7.0.0-alpha.7, 7.0.0-alpha.3, 7.0.0-alpha.1, 6.23.0, 6.22.0, 6.21.0, 6.20.0, 6.19.0, 6.18.0, 6.16.0, 6.15.0, 6.14.0, 6.13.0, 6.11.1, 6.10.2, 6.10.0, 6.9.1, 6.9.0, 6.8.1, 6.8.0, 6.7.7, 6.7.2, 6.7.0, 6.6.5, 6.6.4, 6.6.0, 6.5.2, 6.5.1, 6.5.0, 6.5.0-1, 6.4.5, 6.4.3, 6.4.1, 6.4.0, 6.3.24, 6.3.21, 6.3.20,

[2017-04-07 17:43] slahav commented on #5606
Probably an issue with our local npm repo, closing for now.

[2017-04-07 17:43] #5606 closed

[2017-04-07 18:09] hzoo opened #5607 "Move syntax-dynamic-import to stage-3"
https://github.com/tc39/proposal-dynamic-import

Just need to move the calls in files to the other packages

https://github.com/babel/babel/blob/7.0/packages/babel-preset-stage-2/package.json
https://github.com/babel/babel/blob/7.0/packages/babel-preset-stage-2/src/index.js

from stage 2 to stage 3

[2017-04-07 19:21] snowystinger opened #5609 "No compatible version found: babel-types@^6.24.1"
No compatible version found: babel-template@^6.24.1

I'm trying to resolve by pinning versions with npm-shrinkwrap, but I'm very new to this.
It seems that these libraries are suddenly incompatible with node 7.x
[code]

[2017-04-07 19:22] snowystinger commented on #5609
Seems like a similar problem to https://github.com/babel/babel/issues/3018 ?

[2017-04-07 19:32] loganfsmyth commented on #5609
It is published, it's possible you'll need to invalidate that module's cache in your npm mirror.

[2017-04-07 21:18] runspired opened #5611 "babel-traverse 6.24.1 is broken because ignored directories are needed"
[code]

[2017-04-07 21:29] runspired commented on #5611
I suspect after further review that `npm publish` was botched and simply did not have all the requisite files included. `babel-traverse` has only added tests since it's previous publish.

[2017-04-07 21:32] hzoo commented on #5611
Wow that's really bad..

I'm looking at https://unpkg.com/babel-traverse@6.24.1/lib and it seems to be ok though? I see a path folder with an index.js file in it

[2017-04-07 21:35] runspired commented on #5611
I can confirm that's not what I'm ending up with, I'll keep digging.

[2017-04-07 21:36] runspired commented on #5611
for reference, this is what was installed:

<img width="254" alt="screen shot 2017-04-07 at 2 36 09 pm" src="https://cloud.githubusercontent.com/assets/650309/24820760/977c0b56-1b9f-11e7-8bf0-4c5f0ba747c4.png">

[2017-04-07 21:38] hzoo commented on #5611
that's really weird, I just did an `npm install babel-traverse` to 6.24.1

![screen shot 2017-04-07 at 5 37 49 pm](https://cloud.githubusercontent.com/assets/588473/24820806/00f7c732-1bb9-11e7-8bb4-2a04cbe032c5.png)

[2017-04-07 21:40] runspired commented on #5611
Yeah I've now tried an npm install and a yarn install in an empty directory and both work correctly.  I will keep digging.

[2017-04-07 21:45] runspired commented on #5611
@hzoo thanks for weighing in and sorry for crashing your friday night. This seems to be on our end. After blowing away `~/.npm` and reinstalling we're hitting this:

[code]

So it seems we may have imported it poorly and are now bouncing around issues.

[2017-04-07 21:45] #5611 closed

[2017-04-07 22:38] snowystinger commented on #5609
Thank you very much, I've been able to verify this. We're working on fixing our npm mirror's cache

[2017-04-07 22:38] #5609 closed

[2017-04-08 02:43] aluanhaddad commented on #5201
@danharper And yet, the Angular team has indeed managed to create a bastardized, incompatible, non-ES-compliant dialect of TypeScript that they are pushing as Ahead of Time Compilation (AOT) to improve performance.

While it does not have runtime type information, it actually resembles @Script in some ways.

It is interesting to recall that @Script had not Decorators but rather a syntactically ide

[2017-04-08 14:14] #5607 closed

[2017-04-08 14:18] hzoo commented on #5603
Thanks for the request!

Sorry, yes we have a lot of requests for this but it's not currently a priority for us as a project at the moment. We are focusing on providing a tool that helps developers use the latest version of JavaScript as well as move forward TC39 proposals to make it into JavaScript.

We currently aren't focused on letting anyone make whatever syntax they want to use, so I think f

[2017-04-08 14:18] #5603 closed

[2017-04-08 14:51] Alphapage commented on #5603
Thank you for pointing me to this "parserOpts".
[code]
I was waiting something like this to modify the js source sequentially, then let official babylon do its job:
[code]
This will help me anyway. Thanks again.

[2017-04-08 18:03] szachara opened #5614 "[Q] How to disable strict mode, if babel.transform() is used"
Hi, i want to ask, if it's possible to disable strict mode, when babel.transform() is used.

[code]

Options are described in this doc http://babeljs.io/docs/plugins/transform-strict-mode/

But I don't know, how to pass this options to `env preset`.

Thank you for advices. 😃

[2017-04-08 18:31] hzoo commented on #5614
transform-strict-mode isn't part of the env preset - strict mode is turned on via the modules transform like http://babeljs.io/docs/plugins/transform-es2015-modules-commonjs, so you would have to use `modules: false` to turn off compiling import/export. Then you can just add other plugins in your plugins option

Thanks for making an issue! However, issues are not for support questions but rather f

[2017-04-08 18:31] #5614 closed

[2017-04-08 18:55] szachara commented on #5614
Ok, thx, I knew about `modules: false` and also that strict mode is enabled by `transform-es2015-modules-commonjs`, so there isn't any chance to somehow pass `strict: false` or `strictMode: false` to `transform-strict-mode` transform?

[2017-04-08 18:59] szachara commented on #5614
Ok, thx, I knew about `modules: false` and also that strict mode is enabled by `transform-es2015-modules-commonjs`, so there isn't any chance to somehow pass `strict: false` or `strictMode: false` to `transform-strict-mode` transform?
Thank you for answer @hzoo

[2017-04-09 00:06] loganfsmyth commented on #5614
That's generally not a good idea because it means your code will not be ES6 compliant. If your code doesn't work in strict mode, you should be writing it using normal CommonJS.

[2017-04-09 07:21] MrLoh opened #5616 "babel-node is missing a --no-babelrc flag"
Hi, I'm building an app with next.js and need different babel configurations for the react part and node part.

My Problem ist that `babel-node` always ignores the the presets set in the `--presets` flag and uses whatever is in the babelrc file. I can't find a way to stop this behavior. There seems to be no `--no-babelrc` flag for babel node.

[2017-04-09 08:20] szachara commented on #5614
Ok, this morning I get it 😃 ES6 modules are always in strict mode, so that behavior is absolutely right, so disabling modules is all we need. Thx for direct me on right way @loganfsmyth

[2017-04-09 20:52] ORESoftware opened #5618 "Babel not working with NODE_PATH"
This is a bug report - I am getting this error:
[code]

Webpack should be able to find the babel modules, because I am using NODE_PATH, which allows me to store Babel deps in a particular location, and I run webpack like so:

[code]

I have this webpack config:

[code]

as you can see, in `resolve.alias`, we are referencing another project. No Babel dependencies are installed in

But that should n

[2017-04-09 20:53] ORESoftware commented on #5618
Sorry, maybe I should file this with Webpack instead.

[2017-04-09 22:02] loganfsmyth commented on #5618
This is definitely unrelated to Webpack. Babel performs plugin/preset lookups, not Webpack.

`NODE_PATH` is considered deprecated in Node, and Babel has not historically taken it into account.

Note the [Node documentation](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders):

[2017-04-09 23:36] #5557 closed

[2017-04-09 23:39] #3778 closed

[2017-04-10 03:53] ORESoftware commented on #5618
NODE_PATH is the bomb diggity, and I love it, it probably won't be going anywhere for a long time.

But yes I see that this may be a Webpack issue. One stupid trick I used was to just do:

cd $HOME && npm install my-babel-deps

now Webpack/Babel might be able to find them there, and I won't have to install them in projects that don't need Babel. I can explain why I would have projects that don't n

[2017-04-10 04:02] loganfsmyth commented on #5618
That's a Babel 6 bug that we couldn't fix without breaking people. In Babel 7, plugins passed to `babel-loader` will resolve relative to the cwd so npm link will no longer break for that case. It will just expect your root repo where the webpack config is to have the `node_modules` installed.

[2017-04-10 04:07] ORESoftware commented on #5618
ughh, resolving relative to cwd is always a nightmare, absolute paths are so much better.  But I guess Babel 7 might fix my problem, we'll see. So this is actually a Babel issue?

[2017-04-10 04:11] loganfsmyth commented on #5618
We expose `babel.resolvePlugin('foo', '/my-dir')` if you want to create an absolute path, but Babel has no way to do that automatically if all you tell it is

    loader: 'babel-loader',
    query: {
      presets: ['es2015'],
    },

Currently in Babel 6 that tries to find `es2015` relative to each file that gets compiled, which is why it breaks for npm linked modules. In v7 at the moment the pla

[2017-04-10 11:21] xtuc commented on #5616
As a current workarround you can use https://babeljs.io/docs/usage/cli/#babel-ignoring-babelrc

[2017-04-10 14:35] boopathi commented on #4818
Re-opening this as the issue occurs ONLY when either `traverse.cache.clear()` or `path.scope.crawl()` is called. And mangler and dce of babili depends on these two so as to capture the transformations made in other places - to recalculate references etc...

[2017-04-10 14:51] pavel06081991 commented on #4800
@hzoo, have the same issue. Are you planning maybe to add opportunity to use two or more babelrc. config files?

[2017-04-10 16:42] bdwain commented on #4829
@chicoxyzzy  running `babel-external-helpers -t umd > es/babel-external-helpers.js` gives me a file that can't run in the browser. the error is babelHelpers.typeof is not a function.

This seems to be the problematic code (at the very beginning of the function)

[code]

[2017-04-10 18:40] hackhat commented on #5577
@brantphoto Thanks, but actually is not a hoisting issue. Is just an optimisation issue. By the time the component uses the class, the class has already been defined (long time).

[2017-04-10 18:43] astericky commented on #5518
I too am working on a library integration with Magento 1 and this seems like this could be the reason for the conflicts I am seeing on the invoke function.

[2017-04-10 21:17] thejameskyle opened #5622 "Exporting default async function get wraps in parens"
Need to update [`needsParens`](https://github.com/babel/babel/blob/d33d02359474296402b1577ef53f20d94e9085c4/packages/babel-generator/src/node/index.js#L86) for [prettier](https://github.com/prettier/prettier/issues/1181).

[code]

[code]

[2017-04-10 21:22] thejameskyle commented on #5622
Actually for some reason we're parsing:

[code]

as a `FunctionExpression`, but:

[code]

as a `FunctionDeclaration`

[2017-04-10 21:24] thejameskyle commented on #5622
I guess this was fixed in https://github.com/babel/babylon/pull/377

[2017-04-10 21:24] #5622 closed

[2017-04-11 01:05] brantphoto commented on #5577
@hackhat ah, I read your post on you site and now I get it. I would fix the examples in this ticket, as they are inaccurate and not consistent with your post (such as only using one <Separator/> component example missing).

[2017-04-11 01:26] JDutil commented on #4628
I'm also experiencing this migrating to webpacker for rails with the following .babelrc if anyone has any ideas:
[code]