[2018-06-05 05:02] simonbuchan commented on #8117
Alternative fix is to provide `allExtensions: true` in the preset (and presumably `isTSX: true` if `react` is provided, though wouldn't it already?)

#7955 seems a little odd to force this, since you could use `overrides` for the same behavior (though, obviously for more work)

[2018-06-05 05:44] xtuc opened #8118 "Add more labels in our READMEs"
We now generate the READMEs of all our packages! It includes a link to the issues related to that package, for example see the [babel-preset-typescript/README.md](https://github.com/babel/babel/blob/master/packages/babel-preset-typescript/README.md).

We maintain a map of package -> label, here: https://github.com/babel/babel/blob/master/scripts/generators/readmes.js#L23-L35. It would be great to

[2018-06-05 09:55] robertrossmann commented on #7770
As an external observer, I agree with removing the stage 0-2 presets as it would seem that using early-stage code features should really be done only after careful evaluation.

Aside from that, it sounds that the main motivation for removing these presets stems from the feeling that many developers do not bother to understand what they are bringing in to the language by installing a transform/plug

[2018-06-05 11:03] tvooo commented on #8109
I believe this was introduced with this PR, which updated `debug` to a version containing the regression: https://github.com/babel/babel/pull/6390

You are right, this should be fixed in`debug`; `debug` should then be upgraded in `babel-core`. It is most likely going to be fixed in `debug`s current major 3.x which should get into `babel-core` 7, but `babel-core` 6.x is still on `debug` 2.x. Would

[2018-06-05 16:57] loganfsmyth commented on #8117
We could, but the more we do stuff like that, the more the REPL diverges from what users would actually see in their own project, which I'd rather avoid.

What specifically makes that PR seem odd?

[2018-06-05 19:50] greim commented on #8084
@Billy - It threw me for a loop too at first, but given Babel has its own syntax parser—which is completely separate from the underlying JS engine's parser—it makes sense how the two can get out of sync.

[2018-06-05 22:39] loganfsmyth commented on #8117
Fair!

Yeah, it's all relatively new, but where we're ending up is that presets are allowed to set configuration like that, but plugins don't have nearly as much access to that kind of thing.

[2018-06-05 23:22] hzoo commented on #8084
@greim good points, can certainly be confusing. To be clear, the reason is that the default behavior of the parser is to fail the syntax in v6 that data wasn't updated given work on v7 (since last year)

[2018-06-06 09:01] legndery commented on #8101
@hzoo .. hey.. is there a workaround? We are using very convoluted build process to counter this issue.

[2018-06-06 09:31] shanshaji opened #8120 "Property value of ObjectProperty expected node to be of a type ["Expression","Pattern","RestElement"] but instead got "JSXExpressionContainer" while parsing file"
## Bug Report
Getting a type error on submit button

[code]
This is the error:
[code]

[2018-06-06 10:07] zloirock commented on #7868
Fixed in #7646.

[2018-06-06 10:33] legndery commented on #8101
Hey, changed the post, sorry missed it. Using babel 6.

[2018-06-06 10:50] Dan503 opened #8121 "[Feature Request] Please use async-to-promise rather than async-to-generator"
## Feature Request

**Is your feature request related to a problem? Please describe.**

In order to use async functions with present-env in IE11 the _entire_ babel-pollyfill plugin needs to be downloaded by users just so that `regeneratorRuntime` is not undefined (a function that only Babel uses by the way).

This gives an idea of the sort of impact that the download alone has:
https://bundlephobi

[2018-06-06 11:01] legndery commented on #8101
Yes! babel 7 works. Thanks!
But as it's still in beta we cannot use it for our production.(possible stable release date?) So, anything other than upgrading to 7?

[2018-06-06 19:10] nicolo-ribaudo commented on #8059
I have tested how AMD modules behave when concateated, but they seem to work :thinking:

/index.html
[code]
[code]

It logs `a imported 2 from b`, even if I don't decare `path/b` in the dependencies of `a`

[2018-06-07 00:07] calebeby commented on #8049
I'm going to try and fix this issue

[2018-06-07 00:40] calebeby commented on #8049
I am only observing this issue when I enable the typescript transform plugin. Are you all using the typescript plugin too?

[2018-06-07 01:41] malbernaz commented on #8049
👍 there's probably something to do with ts and jsx syntax collapsing

[2018-06-07 02:11] Kovensky commented on #8049
This seems to happen when the typescript syntax or transform plugin are used directly.

It seems that, currently, only the preset is capable of actually looking at the file extension and decide whether JSX or typescript parsing is enabled or disabled. It needs to do it because `.ts` files are not allowed to use JSX as it conflicts with the old-style angle bracket cast (`const y = <Foo>x;`).

A wor

[2018-06-07 06:32] mts commented on #8049
@calebeby I am using "@babel/plugin-syntax-typescript": "7.0.0-beta.48"

[2018-06-07 06:34] XhmikosR commented on #8105
Are there any official docs about the cwd change? I'm hitting this with our Bootstrap repo and karma. It's the only thing preventing me from updating babel.

[2018-06-07 06:36] jdiprizio commented on #8049
Can confirm that I do have typescript transform enabled and that it seems to have been caused by having React code in `.ts` files.

[2018-06-07 06:47] vincentdchan opened #8124 "Feature Request: jsesc option for babel-generator"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I am using babel-generator to generate some codes for ASTs. But I want to customize the `jsesc` option. Currently the option is mostly fixed:

[code]
I want to specific the `opts` variable in the global option of `generate` function. **I will submit a PR if you think it's OK.**

**Describe the solution you'd lik

[2018-06-07 10:02] abnerCrack opened #8126 "arrow function auto bind performance"
[code]

[code]

[2018-06-07 10:18] #8126 closed

[2018-06-07 14:16] rubennorte opened #8128 "Incorrect code generated when running for-of after block-scoping"
## Bug Report

The following examples can be found in this gist: https://gist.github.com/rubennorte/f121ed807a1e0bff803ee62cb8783662

**Current Behavior**

Babel generates assignments to undeclared variables when specifying the for-of plugin after block-scoping:

[code]

**Input Code**

[code]

**Expected behavior/code**

Something like:

[code]

**Babel Configuration (.babelrc, package.json, cli

[2018-06-07 15:09] yuri-karadzhov opened #8129 "Safari TP has lower version then Safari 11 according to getLowestVersion"
Safari TP has lower version then Safari 11 according to getLowestVersion
https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/targets-parser.js#L37-L68

All unreleased and released version should be compared together and released version should be < the unreleased. Instead versions are compared with semver that throws when comparing tp and 11 that cause the issue.

[2018-06-07 18:22] #7924 closed

[2018-06-07 20:46] xtuc commented on #8105
@XhmikosR we are currently documenting it, see https://new.babeljs.io/docs/en/next/babelconfigjs.html#merging-behavior. Let's us know if there anything to change.

[2018-06-08 03:35] BeniCheni commented on #8118
Hello, @xtuc, giving this "_good first issue_" a try to add more labels to [it](https://github.com/babel/babel/blob/master/scripts/generators/readmes.js#L23-L35). Hopefully, I could accomplish to return around quickly with a PR soon.

Simple question: what does the mentioned "_spec_" key-value pair mean in previous comment?

If there's a more dynamic way to adapt something called "_spec_", I'd lik

[2018-06-08 06:34] xtuc commented on #8118
Hey @BeniCheni, good news. The `spec: xx` labels are used to label issues with a specific JavaScript specification. For example: https://github.com/babel/babel/issues/8076 related to the Decorator specification.

I don't think we can do it dynamically, note that we don't have every specification as a labels.

You should be able to tell the what specification a plugin is based on the name or maybe

[2018-06-08 06:45] xtuc commented on #8129
Thanks for the report, would you mind sending a PR?

[2018-06-08 15:11] hzoo opened #8131 "Docs: change label link to only open issues?"
I noticed now that we generate the readme's to the website docs, the issues link points to all issues (open or closed). I'm not sure how useful that is so figured we should change it to only point to open issues?

This would be doing something like adding this query to the current url `+is%3Aopen`

https://github.com/babel/babel/blob/9f4e2f81d8c1780ba435e880479427f45213421a/scripts/generators/read

[2018-06-08 15:15] xtuc commented on #8131
Yes, that's ok to me. Thanks for the issue.

[2018-06-08 16:56] nicolo-ribaudo commented on #8059
Sorry for the misleading comment, they are all in the same file

[2018-06-08 21:57] SamuelEarl commented on #6838
I am creating a [Vue](https://vuejs.org/) and [hapi.js](https://hapijs.com/) project. I am using Webpack as my bundler and [nodemon to watch server changes with the babel-node command](https://github.com/babel/example-node-server). I got this same error when I tried to install and configure highcharts-vue: `Couldn't find preset "@babel/env" relative to directory`.

This is what I had to do to get

[2018-06-08 22:00] xtuc commented on #8121
We have a PR in progress here https://github.com/babel/babel/pull/7076.

I would appreciate your feedback there.

[2018-06-08 22:43] Dan503 commented on #8121
Actually re-opening this issue since the pull request hasn't been merged yet

[2018-06-09 03:57] alexzherdev commented on #8131
Opened a PR with an update to the script and newly generated readmes.

[2018-06-09 06:18] bugzpodder opened #8134 "babel 7 preset-env has extra targets"
# v7 Regression

**Describe the regression**
When I target an environment for @babel/preset-env it ended up having extra targets

**Input Code**
https://github.com/bugzpodder/demo-babel-preset-env-async-issue

**Babel Configuration (.babelrc, package.json, cli command)**

[code]
I also tried .babelrc and babel.webpack.config.js

**Expected behavior/code**
Only target node

** Current behavior **
[

[2018-06-09 12:41] mokevnin opened #8135 "babel-node run files with unexpected extension without processing it"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

Today I spent about 3 hours trying to fix `unexpected token` for this run `babel-node bin/server`.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

`babel-node` will stop execution with the message abo

[2018-06-09 13:03] #8131 closed

[2018-06-09 13:46] nojvek commented on #6476
const string enums are even more fantastic, because then you're essentially just dealing with strings.

[2018-06-09 15:15] dislido opened #8136 "spread-operator doesn't transform to ES5"
## Bug Report

**Current Behavior**
spread-operator doesn't transform to ES5

[code]
**Input Code**
[code]

**Expected behavior/code**
[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): v7.0.0-beta.49
- Node/npm version: Node 10.0.0/npm 5.6.0
- OS: Windows 7
- Monorepo yes
- How you are using Babel: `babel.transform`

**Possible Solut

[2018-06-09 19:45] Slapbox opened #8137 ".babelrc is seemingly read, but not implemented in @babel.beta.46 and up"
You may be able to solve this by using a `babel.config.js` file instead.

This is related to https://github.com/babel/babel/pull/7358

Simply save your `.babelrc` file as `babel.config.js` and then change your first line from:
[code]
to:
[code]

[2018-06-09 19:46] #8137 closed

[2018-06-09 22:55] damianobarbati commented on #7177
Hey @nicolo-ribaudo, I just noticed that decorated component proptypes are somehow applied at runtime to enhanced component.

Decorator:
[code]

Decorated:
[code]

PropTypes complains about:
[code]

But `WithRouter` (aka the enhanced component returned in my decorator) is not expecting or defining any proptype, those it is complaining about are defined in wrapped components instead.

The following

[2018-06-09 23:38] #7445 closed

[2018-06-09 23:38] #7541 closed

[2018-06-10 03:11] bugzpodder commented on #8134
So it doesn't repo in a clean docker container.  so it means babel is reading some configs from my disk that I don't know about?

[2018-06-10 03:20] jamiebuilds opened #8140 "Parse private class properties with Flow types"
Flow already supports this syntax:

[code]

cc @jridgewell since you implemented private properties

[2018-06-10 03:32] boringer opened #8141 "Cannot transform class properties with "stage-2""
## Bug Report

**Current Behavior**

[code]

**Input Code**

[code]

**Expected behavior/code**

Can transform correctly.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**

- Babel version(s): 6.26.3
- Node/npm version: Node 10.3.0, NPM 6.1.0
- OS: macOS 10.13.5
- How you are using Babel: with Parcel

**Possible Solution**

I tried to add `plugins`:

[code]

T

[2018-06-10 06:48] bugzpodder commented on #8134
Looks like I have an errorneous ~/package.json that had browserslist...

[2018-06-10 08:52] nicolo-ribaudo commented on #8141
We are tracking it at https://github.com/babel/babel/issues/8052

[2018-06-10 08:52] #8141 closed

[2018-06-10 21:19] TomasRas commented on #8029
Having same problem here :/
My package json :
` "devDependencies": {
    "@babel/core": "7.0.0-beta.44",
    "@babel/plugin-syntax-jsx": "^7.0.0-beta.49",
    "@babel/plugin-transform-react-jsx": "^7.0.0-beta.44",
    "@babel/preset-env": "^7.0.0-beta.49",
    "@babel/register": "^7.0.0-beta.49",
    "autoprefixer": "^8.4.1",
    "babel-eslint": "^8.2.3",
    "babel-loader": "^8.0.0-beta.0",
    "

[2018-06-10 22:28] TomasRas commented on #8029
Same here.
My package json:

    `"devDependencies": {
    "@babel/core": "7.0.0-beta.44",
    "@babel/plugin-syntax-jsx": "^7.0.0-beta.49",
    "@babel/plugin-transform-react-jsx": "^7.0.0-beta.44",
    "@babel/preset-env": "^7.0.0-beta.49",
    "@babel/register": "^7.0.0-beta.49",
    "autoprefixer": "^8.4.1",
    "babel-eslint": "^8.2.3",
    "babel-loader": "^8.0.0-beta.0",
    "compression-we

[2018-06-10 22:33] nicolo-ribaudo commented on #8029
1) Update babel/core to beta.49. All the Babel packages should be at the same version
2) Don't use `^` in beta versions, since there could be breaking change

[2018-06-11 02:10] vincentdchan commented on #8124
I will submit a PR today

[2018-06-11 03:43] wtgtybhertgeghgtwtg commented on #8140
I've been getting by with
[code]
and then having the types inferred from assignment, since `prettier` and `eslint` error out otherwise, but, yeah, it's sub-optimal.  Would this be a `babylon` issue, then?

[2018-06-11 04:04] BeniCheni commented on #8118
Hi @xtuc, open a PR (#8144) for the packages in the `/package` directory and the "pkg: *" prefixed labels, which I was only able to map the relationship so far.

Happy to update more under advice from code review. Also still trying my best judgement to map the `spec: xx` labels to existing packages in the `./packages`.

Will do another PR, if I understand the mapping for "spec" labels correct, or

[2018-06-11 05:32] #8118 closed

[2018-06-11 05:33] xtuc commented on #8118
Thanks for your PR.

You can also ping me on slack (username: `sven`).

[2018-06-11 08:45] claire1028 commented on #4265
Hope to solve

[2018-06-11 08:57] nicolo-ribaudo commented on #8128
Currently plugins order matter, but it isn't documented anywhere :pensive:
Do you want to open a PR to add thid caveat to https://github.com/babel/website/blob/master/docs/plugin-transform-for-of.md, similarly to https://github.com/babel/website/blob/master/docs/plugin-proposal-decorators.md#note-compatibility-with-babelplugin-proposal-class-properties?

[2018-06-11 11:17] Nuruddinjr opened #8145 "Unexpected token with react-loadable"
## Bug Report

**Current Behavior**
After installing `react-loadable` and adding some babel plugins, I am getting multiple `Unexpected token` errors
Last one is
[code]
My `.babelrc`:
[code]

Webpack config is extended create react app.

**Environment**
- Babel version(s): babel-core@6.26.0
- Node/npm version: Node 10.4.0
- OS: MacOS 10.13.5
- How you are using Babel: loader

[2018-06-11 15:45] marcofugaro commented on #8095
Happened to me also, it's because of react depending on an older version
![image](https://user-images.githubusercontent.com/7217420/41241569-91e4bc78-6d9d-11e8-9694-1487c0b97c9a.png)

[Yarn's resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) might help.

I filed an issue with react: https://github.com/facebook/react/issues/13018

[2018-06-11 16:02] timc13 commented on #8095
@marcofugaro thanks - i'm willing to bet this is the root cause of my problem

[2018-06-11 17:41] jamiebuilds commented on #8140
babylon has been moved from a separate repo into the babel monorepo.

[2018-06-11 17:56] acconrad opened #8147 "Determine if site is using Babel"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I spoke with @hzoo and one thing we realized is that it's currently very difficult to determine if a site is using Babel or not.

**Describe the solution you'd like**
I see two solutions:

1. **Prepend the AST to have a `__babelVersion` global variable**. This is the most intuitive and simple solution. Simply ma

[2018-06-11 18:05] hzoo commented on #8147
Example of checking the syntax with Google BigQuery: https://twitter.com/sebmck/status/911336494824132608 (current way).

My other suggestions
- License comment like `@license babel` which won't get removed by a minifier
- Directive like `"use babel"`
- Just a string "babel v7.0.0" etc

And for implementation we can either auto add it in something like `babel-loader` or `@babel/cli` vs. `@babel/co

[2018-06-11 18:22] benjamn commented on #8061
Are most folks not using `@babel/plugin-transform-runtime`? Seems like this would be a much bigger problem, if they were. Is there some other best practice that I've missed, or are people really just inlining helpers in every module?

Either way, it would be great to see a `7.0.0-beta.50` release soon!

[2018-06-11 18:34] #8124 closed

[2018-06-11 18:36] #8129 closed

[2018-06-11 18:37] loganfsmyth commented on #8147
I think the hardest part of this is that without an opt-in, we don't know which file to add it to, and adding it to _every_ file doesn't seem ideal, but if it's opt-in I imagine most people wouldn't bother.

[2018-06-11 18:40] hzoo commented on #8147
I don't think it matters as long as we do it once? Or we do it with babel-loader as an entry. We just need it once so it could be a `if (check) { print }` type of thing

[2018-06-11 18:52] loganfsmyth commented on #8147
The hard part is defining what "once" is qualified with.

* If an application is built with 10 entry points in Webpack, the comment might well need to be in each one if each one is a separate application.
* If you use `babel-cli`, files are just processed in alphabetical order, do we just put it in whichever file ends up at the start?

[2018-06-11 19:39] loganfsmyth commented on #8147
Injecting real code worries me because it's hard to detect and strip out if a user wanted to. Using a directive would be easier, but I still think it'd be annoying for most users since stripping directives is uncommon. Personally, if we wanted to do this, I think we'd have to inject a comment, even if it were just `// @babel-version v7.0.0-beta.49`.

That said, it's also hard because it's not clea

[2018-06-11 19:41] hzoo commented on #8147
I don't think we need to go that far yet? The initial question was just a matter of knowing what website is using babel via a simple directive (doesn't even need a version). I don't think that there's anything we need to strip out there, and it's not printing the whole config or something.

[2018-06-11 19:54] loganfsmyth commented on #8147
What counts as using Babel though? If they import a `node_module` that was compiled with Babel, does that count as using Babel? To me it seems like it shouldn't.

I think that's part of my concern here. If a minifier can't remove something that tooling has injected, I'd personally be frustrated by that tool.

[2018-06-12 05:21] XhmikosR commented on #8105
@xtuc: thanks! I need to see why our karma coverage breaks with babel after beta 45 and onward.

[2018-06-12 06:38] Globegitter commented on #7952
@loganfsmyth Sorry it took a while, but I managed to get an example repo together and also figured out what the issue is. Bazel provides a patched `require`: https://github.com/bazelbuild/rules_nodejs/blob/master/internal/node/node_loader.js#L18 and babel further down the line tries to load the plugin using the `resolve` module which ignores this patch. It is actually quite straight forward to fix

[2018-06-12 08:20] cavaller opened #8148 "Babel 7.0.0-beta.49 (--experimental-modules)"
I am using **Node v10.4.0**

[code]

## 1. This does not work because I am using the Flow (It is 👌)
node --experimental-modules ./packages/services/src/server.mjs

# This both should work but It does not (2, 3)

## 2. This does not work (ignoring everything probably)
./node_modules/.bin/babel-node --presets "@babel/preset-flow" ./packages/services/src/server.mjs --experimental-modules

[code]

##

[2018-06-12 08:51] xtuc commented on #8148
All the Babel version are affected since it's a new flag.

We need to add this flag into https://github.com/babel/babel/blob/master/packages/babel-node/src/babel-node.js. Would you mind sending a PR?

[2018-06-12 09:20] xtuc commented on #8145
You are missing this transformation: https://babeljs.io/docs/plugins/transform-class-properties

[2018-06-12 09:32] nairihar opened #8150 "Import Export"
Hi I have some issue, can you plese help to undestand the problem, and how can I resolve it.

I have two files

First
[code]

Second
[code]

I am getting error,
"Promise.promisifyAll is not a function",
why second file executes first, and First file executes after Second ?

[2018-06-12 09:40] nairihar commented on #8150
Is babel moves all imports to top ?
Then how I can fix problems like this ?

[2018-06-12 12:40] pronebird opened #8151 "babel-preset-env errors on spread operator"
## Bug Report

**Current Behavior**
Spread operator is supported in node v8.9 from what I can tell, but babel fails to compile it.

That's the error output from babel:

[code]

The piece where it errors:

[code]

The same code runs in electron CLI:

[code]

**Input Code**
- REPL or Repo link if applicable:
https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBCELwQ3

[2018-06-12 12:54] pronebird commented on #8151
I was told that this was resolved in babel 7

[2018-06-12 12:54] #8151 closed

[2018-06-12 13:38] #8022 closed

[2018-06-12 17:40] #8110 closed

[2018-06-12 21:52] watadarkstar opened #8153 "Couldn't find any versions for "@babel/plugin-syntax-object-rest-spread" that matches "7.0.0-beta.51""
## Bug Report

When doing a `yarn install` it says `Couldn't find any versions for "@babel/plugin-syntax-object-rest-spread" that matches "7.0.0-beta.51"`.

[code]

**Current Behavior**
No version for beta 51.

**Expected behavior/code**
Finds the version.

**Possible Solution**
I imagine this is because it just got updated 29 minutes ago. And the registry is not yet up to date?

**Env**
[code]

[2018-06-12 21:55] watadarkstar commented on #8153
@hzoo You just committed `beta.51` - can you confirm that this issue will be resolved after waiting some more time for the `npm` registry to get updated? Or did you forget to commit something?

[2018-06-12 22:16] jac1013 commented on #8153
Thanks for opening this issue, this issue break a project I'm working on just now, it looks like the ``@babel/plugin-syntax-object-rest-spread`` beta-51 is not published yet :woman_shrugging:

[2018-06-12 22:20] watadarkstar commented on #8153
@jac1013 Yeah I just tweeted Henry hopefully he can publish it soon 💯 https://twitter.com/icookandcode/status/1006662135579938816

[2018-06-12 22:21] hzoo commented on #8153
The registry might not update in time or issues regarding proxy/cyclical deps, I would also not use `^` in the package dependencies. https://unpkg.com/@babel/plugin-syntax-object-rest-spread@7.0.0-beta.51, they should all be published. The commit only happens when it's published so it should be published.

[2018-06-12 22:27] dnalborczyk commented on #8148
@cavaller  I think it's currently not possible to use the `--experimental-modules` flag with babel.

you could check out [esm](https://github.com/standard-things/esm). it's awesome! it works great together with babel.

[code]

it runs with every node version, you can keep the `js` file extension, supports dynamic imports, and much more...

[2018-06-12 22:33] calebeby commented on #8153
I'm seeing the same issue, even though I am not using a proxy, and I can see that it is published from http://registry.npmjs.org/@babel/plugin-syntax-object-rest-spread

I see the issue with npm and with yarn. Is this a bug in the registry?

[2018-06-12 22:35] loganfsmyth commented on #8153
If you manually run `npm show @babel/plugin-syntax-object-rest-spread` do you get `beta.51`?

[2018-06-12 22:36] calebeby commented on #8153
Yes

[2018-06-12 22:38] calebeby commented on #8153
I also am able to access the tarball that `npm show @babel/plugin-syntax-object-rest-spread` references.

[2018-06-12 22:40] watadarkstar commented on #8153
Thanks for the quick reply @hzoo I will wait it out.

@calebeby Try again now it should work as its now working for me.

[2018-06-12 22:42] calebeby commented on #8153
Still not working for me :man_shrugging:

[2018-06-12 22:47] watadarkstar commented on #8153
Maybe give it some time @calebeby it should resolve on its own.

[2018-06-12 22:49] loganfsmyth commented on #8153
@calebeby What specifically are you seeing? If it is there in `npm show` then it seems impossible that it would be the same issue files here.

[2018-06-12 22:51] calebeby commented on #8153
`npm show @babel/plugin-syntax-object-rest-spread`

[code]

`npm i`

[code]

[2018-06-12 22:55] loganfsmyth commented on #8153
What happens if you explicitly `npm i @babel/plugin-syntax-object-rest-spread@7.0.0-beta.51`? That's super weird.

Maybe clear your `npm` cache? I can't think of a reason why it would be there in `npm show` but not `npm i`.

[2018-06-12 22:56] calebeby commented on #8153
Same thing if I install it with `npm i @babel/plugin-syntax-object-rest-spread@7.0.0-beta.51`

[2018-06-12 23:00] calebeby commented on #8153
Same thing if I clear the cache

[2018-06-12 23:00] loganfsmyth commented on #8153
I'm not sure what to say. Did you clear your cache?

[2018-06-12 23:44] calebeby commented on #8153
OK well now it works. That was weird :confused:

[2018-06-13 00:52] calebeby commented on #8153
😑 https://github.com/Pigmice2733/scouting-frontend/pull/183

[2018-06-13 01:50] hzoo opened #8155 "Split out helpers from core-js/built-ins"
Having the version of babel-runtime be tied to core-js has caused us issues so Logan has suggested we split it out. Just writing down in an issue what I think we can do? (There's plenty of stuff to fix but we can always move things till later since we just want an RC too).

- `@babel/plugin-transform-runtime` should only transform the babel helpers (devDep) instead of also doing it for `core-js` a

[2018-06-13 02:29] imhazige opened #8156 "Invalid Option: 'true' is not a valid value for 'targets.forceAllTransforms'"
## Bug Report
after upgrade from to 7.0.0-beta.44 to 7.0.0-beta.51, the build will result in a error:

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**

[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

[2018-06-13 03:05] imhazige commented on #8156
after set all these dependencies to a fixed version instead of the the latest, the build works again.
[code]

[2018-06-13 06:07] thealjey opened #8157 "Preset flow regression after version 7.0.0-beta.47"
## Bug Report

**Current Behavior**
I am using `@babel/preset-flow` and the code below works with versions of the preset up to and including `7.0.0-beta.47`, the newer versions all result in a `Syntax Error: Unexpected token, expected ";" (1:8)`.

**Input Code**

[code]

**Expected behavior/code**
I expect it to transpile like before.

**Babel Configuration (.babelrc, package.json, cli command)**

[2018-06-13 09:04] jamiemagique commented on #8156
@imhazige The `forceAllTransforms` error is actually coming from the `tools/webpack.config.js` file in `react-starter-kit`: https://github.com/kriasoft/react-starter-kit/blob/master/tools/webpack.config.js#L94

I am also getting this error updating from `7.0.0-beta.49` -> `7.0.0-beta.51`.

[2018-06-13 10:19] jrusse27 commented on #8156
According to the documentation at https://babeljs.io/docs/en/next/babel-preset-env.html#forcealltransforms

The **forceAllTransforms** property should be set in the **root** of the preset settings object:
[code]
whereas in react-starter-kit it is set as a property of targets:
[code]

[2018-06-13 10:46] vpanjganj commented on #6611
@ddegroot1985 hasn't it changed to `envName`? or maybe I'm wrong

[2018-06-13 10:46] jamiemagique commented on #8156
@jrusse27 Nice one, totally missed that when I read the same thing 😅

[2018-06-13 12:11] imhazige commented on #8156
@jrusse27 thank you.

[2018-06-13 12:13] #8156 closed

[2018-06-13 13:04] #8153 closed

[2018-06-13 13:58] existentialism commented on #8157
@thealjey you'll likely want to match the version of the flow preset with the one used in the `next/babel` preset (beta.42 I believe?), as it's a bad idea to mix beta versions.

[2018-06-13 15:27] thealjey commented on #8157
@existentialism wow, that totally makes sense. Thanks for the explanation!

[2018-06-13 15:27] #8157 closed

[2018-06-13 15:41] AlbertRui opened #8159 "Module build failed: TypeError: Cannot read property 'babel' of undefined"
Above all，some code segments in the configuration file of package.json is as follows:
`"scripts": {
    "dev": "WEBPACK_ENV=dev webpack-dev-server --port 8086 --inline",
    "dev_win": "set WEBPACK_ENV=dev && webpack-dev-server --port 8086 --inline",
    "dist": "WEBPACK_ENV=online webpack -p",
    "dist_win": "set WEBPACK_ENV=online && webpack -p"
  },
"dependencies": {
    "bootstrap": "^3.3.7",

[2018-06-13 15:43] existentialism commented on #8159
@AlbertRui please fill out the issue template, we're going to need a lot more information to help you!

[2018-06-13 15:53] NathanGrimaud opened #8160 "babel-preset env does not compile getter setter on object"
## Bug Report

**Current Behavior**
It looks like babel-preset env (version ^1.7.0) does not compile getters / setter when used on objects.

**Input Code**
https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBA7gJ3AcxgXhgbwFAEhkCmsUAFAJQ4xUy4JECuCYMArANzbUwC-ANJzQhEYpMPQC2FAVygALAJYQAdAH1YGMeI65u2XdmAAbAIYQIMZCBAATSheGkpXWgyYwAbNJ4ChxEpqc

[2018-06-13 16:08] loganfsmyth commented on #8160
I don't think there is anything we can compile it to. If an environment doesn't support the syntax, it's unlikely that it would support `Object.defineProperty` either.

[2018-06-13 19:39] timkendrick opened #8163 "[babel-types] `t.isNodesEquivalent()` throws error on `TemplateElement` nodes"
## Bug Report

**Current Behavior**
Attempting to run `t.isNodesEquivalent()` on any node that contains a `TemplateElement` node somewhere in its subtree will throw an error.

**Input Code**
- REPL or Repo link if applicable: https://runkit.com/embed/o7tn287ktlay

[code]

**Expected behavior/code**
No error should be thrown

**Babel Configuration (.babelrc, package.json, cli command)**
N/A

**Envi

[2018-06-13 19:50] srghma opened #8164 "Invalid Option: 'true' is not a valid value for 'targets.forceAllTransforms'"
## Bug Report

**Current Behavior**
[code]

[.babelrc](https://github.com/srghma/my-create-react-app/blob/4501c8e6b36bf9be2c3966d82769ae15e085462d/.babelrc#L40)

[code]

How to reproduce:

[code]

**Possible Solution**
change `"forceAllTransforms": true` to `"uglify": true`

[2018-06-13 19:54] hzoo commented on #8164
`forceAllTransforms` doesn't go under `targets` unlike `uglify` so you need to specify it at a higher level in the config.

[2018-06-13 19:55] #8164 closed

[2018-06-13 19:57] srghma commented on #8164
@hzoo, tnx, it works

[code]

[2018-06-13 22:12] existentialism commented on #8134
@bugzpodder ok to close?

[2018-06-13 23:01] #8134 closed

[2018-06-13 23:02] bugzpodder commented on #8134
@existentialism I feel the behavior is a bit weird.  I have a package.json in my source code and that should be used.  I am not sure why babel is walking up the tree and finding the root package.json.

[2018-06-14 03:31] dnalborczyk commented on #8148
@xtuc could you elaborate on your :thumbsdown:

whitelisting the flag wouldn't do anything, as far as I know.

[2018-06-14 04:51] codejamninja commented on #6600
Why is `babel-polyfill` not independent? I've been using `idempotent-babel-polyfill` https://www.npmjs.com/package/idempotent-babel-polyfill as a workaround.

[2018-06-14 06:29] donaldpipowitch commented on #6611
browserslist now technically supports this (https://github.com/browserslist/browserslist/issues/75). The `node` property in this  `targets` config was Babel-specific, right? Should this be deprecated now? Do we need to do anything more to support browsers and Node at the same time?

[2018-06-14 07:45] xtuc commented on #8148
@dnalborczyk: according to the description of the issue @cavaller is looking specially for the `--experimental-modules` flag on Node v10.4.0. I doubt that an alternative will actually help him.

It will pass it to Node

[2018-06-14 10:37] nicolo-ribaudo commented on #7177
Yes thank you, in this issue have been reported so many different problems that it has become hard to follow them.

[2018-06-14 10:37] #7177 closed

[2018-06-14 10:42] damianobarbati opened #8166 "Decorators: react propTypes are applied to HOC instead of decorated component defining them"
Decorated component `propTypes` are somehow applied at runtime to enhanced component.

Decorator:
[code]

Decorated:
[code]

PropTypes complains about:
[code]

But `WithRouter` (aka the enhanced component returned in my decorator) is not expecting or defining any proptype.
PropTypes is complaining about prop-types defined in wrapped components instead as if they were defined in the decorator.

The

[2018-06-14 11:18] std4453 commented on #8136
Spread syntax is not included in `@babel/preset-env`, you need `@babel/plugin-proposal-object-rest-spread`, see [this](https://new.babeljs.io/docs/en/next/babel-plugin-proposal-object-rest-spread.html) for details.

[2018-06-14 11:19] Crashthatch opened #8167 "Config validation regression?"
I've just updated to babel 7.0.0-beta.51 (from 7.0.0-beta.49) and I'm now getting an error when I try to build with webpack:

[code]

I've traced it down to my config being:
[code]

rather than:
[code]

Presumably this failure is a result of the new validation introduced here: https://github.com/babel/babel/pull/8031 by @sun1x

Does this mean that my previous config was always invalid and was prev

[2018-06-14 11:32] nicolo-ribaudo commented on #8136
That is not object spread, it should work.

[2018-06-14 12:24] JohannesMerz opened #8168 "babel-plugin-external-helpers break on locally linked packages"
## Bug Report

**Current Behavior**

If you have multiple packages locally linked together (like with lerna for example) the babel-plugin-external-helpers package (and babel-plugin-external-helpers-2, i tried both with the same results) break.

It always results in a `ReferenceError: babelHelpers is not defined`.

My best guess is that it looses some references as the linked module doesn't have ac

[2018-06-14 12:51] dnalborczyk commented on #8148
I know https://github.com/babel/babel/issues/6285

[esm](https://github.com/standard-things/esm) is a module, and does the same thing as `--experimental modules` but on steroids. I **highly** recommend it. The maintainer of the module also joined the node modules working group recently.

as you see, I found myself with the same problem some time ago, and found [esm](https://github.com/standard-thi

[2018-06-14 13:27] hzoo commented on #8167
https://github.com/babel/babel/issues/7445, yeah targets should take an object 👍

[2018-06-14 13:27] #8167 closed

[2018-06-14 13:46] existentialism commented on #8136
@std4453 this is actually incorrect, @babel/preset-env _does_ support object-rest-spread as of https://github.com/babel/babel/pull/7658

[2018-06-14 13:51] Crashthatch commented on #8167
Ok, thanks. Well done to @sun1x who added the validator. You've uncovered an unnoticed bug that's been in my code for months!

[2018-06-14 13:59] microbouji commented on #8136
I'd like to give this a try if it's not urgent. It would be my first PR so it will probably take some time.

[2018-06-14 14:31] XhmikosR commented on #8105
@xtuc: I tried using `--config-file ./.babelrc.js` for babel-cli but it doesn't seem to work for beta51. Going back to beta 44 works fine.

Here's where we are calling babel https://github.com/twbs/bootstrap/blob/v4-dev/package.json#L41-L42. I'm probably missing something, but shouldn't this transition be more smooth?

[2018-06-14 14:36] XhmikosR commented on #8105
Never mind, sorry for the noise. Our issue was because of rollup-plugin-babel. Updating to 4.0.0-beta-5 fixes the issues :)

[2018-06-14 15:04] dnalborczyk commented on #8166
@damianobarbati could you create a *reduced* repro repository? it would be easier to see what the issue might be.

[2018-06-14 15:10] damianobarbati commented on #8166
@dnalborczyk here a repro: https://github.com/damianobarbati/yarsk/tree/50ms

- git clone git@github.com:damianobarbati/yarsk.git
- git checkout 50ms
- yarn install
- yarn serve:dev //in one terminal to run node
- yarn build:dev //in another second terminal to build with webpack

[2018-06-14 17:18] brainkim commented on #8098
This would be nice. I assume typescript support presets includes support for all supported typescript features...

[2018-06-14 22:45] Andarist commented on #8155
Do we have to support helpers referencing core-js as part of this module? Seems like those are completely different things and if people want to polyfill some stuff in helpers modules then they should have an easy way (~) of compiling helpers with core-js v2, v3 or any others. Either as standalone file that could be referenced by `@babel/plugin-transform-runtime` or as part of bundlers loaders/plu

[2018-06-14 23:28] majelbstoat commented on #7748
I'm excited to see this fixed. It would greatly simplify a bunch of things within React, most notably for me usage of Apollo's `<Query>` and `<Mutation>` components.

[2018-06-14 23:56] TomLingham opened #8171 "Variable naming discrepancy in output when nodes added to AST."
## Bug Report

**Current Behavior**
When using the `invariant` package and `babel-plugin-dev-expression`, compilation renames the function import without renaming the call site that is added to the AST.

**Input Code**
[code]

**Expected behavior/code**

I expected the `invariant` function to maintain the same name throughout the code. However in the output code you can see that `_invariant` is th

[2018-06-15 00:05] DanielRosenwasser commented on #7748
Yup, hoping we can get it in soon. (P.S. does Medium use TypeScript? 😃)

[2018-06-15 01:01] std4453 commented on #8136
I've did some research and it turns out that `Math?.max(...args)` will output with spread syntax unchanged, might be of some help. My apologies for the previous mistake.

[2018-06-15 03:13] C4Phone commented on #8140
Hi, I'm new to this community so please correct me if I'm wrong. I tried to reproduce the issue but cannot see any actual problem when trying to use babel to transpile your typescript code.

I tried compiling your script using this babel start kit: clarkdave/babel-typescript-starter@3f16d3186953b181f9f0215ace5cc9a35cf9dd89. And babel was able to:

1. Compile  ``` class Thing {   abc: string;   def

[2018-06-15 03:46] C4Phone commented on #8140
I did find the following issue when using the flow version of babel starter kit from omimo/es6-flow-starter@edc8cae70a63ea2405d60316ef34bf5e3eeb43d4.

Babel compiled the following code without finding out about the type error of assigning 123 to a string.

[code]

Here is the resulting code:

[code]

However, I am not sure what the expected output is.

[2018-06-15 03:54] majelbstoat commented on #7748
It uses Flow, but I recently left and am working on something new ;)

[2018-06-15 04:56] AlexanderOMara opened #8172 "TypeScript abstract classes break decorators, abstract keyword remains in compiled code"
Bug report.

I wasn't sure if I should open a new bug or not, but I previously created [a bug report about how Babel was unable to compile decorators on TypeScript abstract classes](https://github.com/babel/babel/issues/7837). Since that update has been released, today I tried it out, and while it now compiles the code, it doesn't quite work due to it leaving the `abstract` keyword in the compiled

[2018-06-15 05:26] xploreraj opened #8173 "Error: Plugin 0 specified in "/<somePath>/.babelrc" provided an invalid property of "Instrumenter""
Getting no issue in stage or localhost, but **only while deploying to our prod environment (starting up the app)**, getting below error:
[code]

Here is my `.babelrc`
[code]

The dependencies: `node v8.11.2`

[code]

Please explain the error and any solution/suggestion.

Thank you

[2018-06-15 06:34] paiboonpa opened #8174 "Cannot run https://babeljs.io/repl/ on IE11"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.
Enter https://babeljs.io/repl/ with IE11. It will show "An error occurred while loading Babel :("

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).
Can load up the editor just like in Chrome/Edge

I'm running IE11 on Windows 10 Home

[2018-06-15 06:39] xtuc commented on #8174
@babel-bot move to babel/website

[2018-06-15 06:39] #8174 closed

[2018-06-15 07:20] nicolo-ribaudo commented on #8140
The problem is with private properties (with `#` before the name), which are engaged by the `classProperties` parser plugin.

[2018-06-15 08:00] NathanGrimaud commented on #8160
Hello :)
My issue was not about an environment doesn't support the syntax, but the closure-compiler that does not. I was just a bit surprised that both class and object doesn't compile the same way ;)
Nevermind i will find an other way.

[2018-06-15 11:44] TomLingham commented on #8171
@nicolo-ribaudo I've done a lot more digging and it looks more and more likely that the issue is with Babel.

Looking at the output code, you can see that it correctly picks up the first binding, but the second one it not transformed.
[code]

Both these nodes are created nearly identically in the plugin:
[code]

If I swap the nodes in the if statement, then it is always the second one that isn't t

[2018-06-15 11:57] GerHobbelt opened #8180 "babel/parser: augment tokenization via parser plugins or brute-force cloning?"
## Feature Request

### **Is your feature request related to a problem?**

I am using / intend to use babel to parse, validate and transform JS code written in 'action code blocks' in JISON grammar files. JISON (a grammar generator like old-skool `GNU bison` 😁 ) recognizes special variables in the action code such as `$1` and `@​1` to represent grammar-specific values. Currently these variable for

[2018-06-15 12:08] xtuc commented on #8180
Extending Babylon is not possible, see http://babeljs.io/docs/en/next/babel-parser.html#will-the-babel-parser-support-a-plugin-system.

[2018-06-15 12:12] TomLingham commented on #8171
I've added a minimal reproduction. I've committed the compiled code too, but you can pull it down and build it if you are interested 👍

https://github.com/TomLingham/babel-8171-repro

[2018-06-15 12:59] nicolo-ribaudo commented on #8171
Sorry, I don't have time to investigate right now. I'm reopening this issue.

[2018-06-15 13:14] demurgos commented on #8148
`esm` is a fine workaround but you shouldn't have to use it. I prefer a simple native solution rather than "modules on steroids". For example it needs configuration to run in strict mode. I use `esm` when I have no other choice (with `mocha` for example) but I highly prefer to use Node's native implementation.

[2018-06-15 15:13] xploreraj commented on #8173
Got resolved by removing `"plugins": ["istanbul"]` from `.babelrc`.

[2018-06-15 15:13] #8173 closed

[2018-06-15 17:34] wKich commented on #4909
I think the PR #8143 allow to generate ASCII-unsafe code. So may be we should close this issue.

[2018-06-15 19:09] hzoo commented on #4909
Oh yes that would work, a more generic solution in https://github.com/babel/babel/pull/8143. So now it can be

[code]

[2018-06-15 19:09] #4909 closed

[2018-06-16 01:34] loganfsmyth opened #8182 "Recent betas don't create output full directory hierarchy with --out-dir"
## Bug Report / Regression

Reported via https://github.com/twbs/bootstrap/pull/26658#issuecomment-397739198

**Current Behavior**
[code]
will attempt to create `dir` and throw if `other/nested` doesn't already exist.

**Expected behavior/code**

It should create all parent directories of the output directory. We should probably just replace `outputDestFolder` with `mkdirp`.

**Where did this come

[2018-06-16 05:50] XhmikosR commented on #8105
Spoke too soon. For starters we are hitting #8182. After that is sorted I'll see if we need any other options.

[2018-06-16 07:27] XhmikosR opened #8184 "Issue with `only` after beta 44 on Windows"
# v7 Regression

**Describe the regression**
After beta 44 (>beta44), `only` doesn't transpile the files. Removing `only` works like it does up until beta 44.

**Babel Configuration `.babelrc.js`**

[code]

**Expected behavior/code**
The input files should be transpiled.

**Environment**
- Babel version(s): v7.0.0-beta.51

[code]

- Node/npm version: 10.4.1, npm 6
- OS: Windows 10 / 7
- Monorepo:

[2018-06-16 09:04] GerHobbelt commented on #8180
Got it. That works for me, swapping out the parser via `parserOpts.parser`. Case closed. 😄

(I'll have a look later if I can strip out the regular parser, but that's secondary now. First to get this stuff working.)

[2018-06-16 09:04] #8180 closed

[2018-06-16 09:38] vipcxj commented on #8184
The same issue, but there is no problem on mac os, but trigger issue on windows. Because of operation system?

[2018-06-16 14:39] himanish-star commented on #8182
Hey @loganfsmyth, I would like to take up this issue. May I?

[2018-06-16 16:54] damianobarbati commented on #8166
@dnalborczyk @nicolo-ribaudo sorry for the messy repro I provided before.

Here a clean an minimal repro to easily see what's going on: https://github.com/damianobarbati/babel-hoc-bug

🙃

[2018-06-16 17:07] loganfsmyth commented on #8182
@himanish-star Go for it!

[2018-06-16 18:15] TheAifam5 opened #8185 "Invalid Option: 'l' is not a valid value for 'targets.0'."
## Bug Report

**Current Behavior**
Currently babel-loader throws an error (_look title of this issue_) when the presets are defined inside Webpack configuration file.
The problem does not occurs in version `7.0.0-beta.49` of `@babel/plugin-syntax-decorators` and `@babel/preset-env`.

**Babel Configuration (webpack.config.ts)**
[code]

**Environment**
- Babel version(s): ^7.0.0-beta.51
- Node/npm

[2018-06-16 18:28] loganfsmyth commented on #8185
Duplicate of #8167

See https://github.com/babel/babel/issues/8167#issuecomment-397295483

[2018-06-16 18:28] #8185 closed

[2018-06-16 18:47] XhmikosR commented on #8184
I can't try another OS so I don't know if it's OS-related.

@hzoo: have you thought about using AppVeyor for Windows CI?

[2018-06-17 07:14] loganfsmyth opened #8186 "Class heritage should be evaluated as strict code"
## Bug Report

This is extremely low priority, but I'm just filing it since I noticed it.

**Current Behavior**
Class expressions/declarations are automatically strict. We've now added logic to ensure that `use strict` is added to classes properly, but the class parent heritage is still executed outside of the strict IIFE, so it is executed non-strictly.

**Input Code**

[code]

**Expected behavio

[2018-06-17 13:58] rogueai opened #8188 "`Container is falsy` when wrapping an arrow function"
## Bug Report

I'm trying to write a babel plugin that wraps a call expression into an if/else statement.
Everything works fine, except when the input code includes an arrow function and passing `spec: true` to `plugin-transform-arrow-functions`.

**Current Behavior**
An error is thrown `ReferenceError: Container is falsy`

**Input Code**
See repo below for minimal reproduction steps and unit test

[2018-06-17 14:17] BeniCheni commented on #7918
Hello, recently did a "_good first issue_" labelled issue and had a lot of fun. So after checking "_good first issue_" issue again, I'll give this one a spin.

Just did `npm i --save-dev babel-cli` to learn about the `cwd` option in some tests first. Hopefully, I could understand the usage, and try to leverage of the previous comments here as hit to "_land_" on a potential PR. Will shadow y'all in

[2018-06-18 08:06] danielo515 opened #8190 "Lookup documentation on 7.x is confusing and provides no alternatives"
Hello,

I can see a dramatic change on the lookup behavior from babel 6 to babel 7. Here is the docs I'm referring to:
https://babeljs.io/docs/en/next/babelrc#lookup-behavior

The first statement is clear, the babelrc file at root will be ignored. I can understand that this is a new "feature" to avoid unexpected behaviors, but is very very inconvenient on mono-repo environments.
The documentation

[2018-06-18 11:43] stevennzhou opened #8191 "`exclude` is invalid when i set in .babelrc"
Hi~Now I have a question that I use `Promise` in entry.js, but I wouldn't like `babel-preset-env` to help me polyfill it.Then I try to add `exclude` setting.Nothing is changed. Just like this.
[code]
And my entry.js is:
[code]
Could you help me solve this problem?
Thx~

[2018-06-18 12:40] mquandalle commented on #8099
For information, this issue is still present in `v7.0.0-beta.51`

[2018-06-18 13:33] hzoo commented on #8098
Thanks for the issue, understandable that you might think it would include other transforms!

So this would be a breaking change if you are using preset-env and are intending to not compile a plugin if it's supported natively eventually. I suggested we had plugins before as well but we would have to add these as TS is updated and even remove them if they are added to preset-env (this is a similar

[2018-06-18 13:55] mquandalle commented on #8098
I certainly haven't investigated this issue as much as you have, but the current structure isn't very intuitive to me. As you said, if we just want to remove type annotations and don't want to support any other typescript feature we can use the appropriate plugin `@babel/plugin-transform-typescript`. For me, the idea of a typescript preset is to include a list of plugins so that a typescript proje

[2018-06-18 15:06] Globegitter opened #8193 "babel-cli overrides file when processing files with the same name in differrent directories"
## Bug Report

**Current Behavior**
When I want to process multiple specific files in different directory locations at once then babel overrides files with the same name in the `out-dir`. E.g. running `babel --out-dir test/ test.js assets/test.js` with any file content, one can only find one file in the output directory. I would expect to fine one file in `test/test.js` and the other file in `test

[2018-06-18 18:13] rtsao opened #8195 "RFC: Better babel-preset-env API"
## Feature Request

**Is your feature request related to a problem? Please describe.**

First off, major props for creating such an incredibly awesome feature 😄. I think it's fair to say the `env` preset is truly game-changing and should be regarded as a huge milestone in advancing the JS ecosystem forward.

However, I think at times the existing configuration and mechanics of the `env` preset is

[2018-06-18 18:46] hzoo commented on #8195
Just real quick since I just skimmed this: since this is mostly just naming changes if we want to do this we should probably do so before RC. Generally speaking, if it's more intuitive then i'm probably ok with that. Thanks for thinking through many of the options/scenarios and getting a bigger sense of the current issues.

[2018-06-18 19:10] sant123 commented on #7932
Hi, I'm using `babel www/js/main.jsx -o www/js/main.js` but it seems is not reading .babelrc. This is my project structure:

![image](https://user-images.githubusercontent.com/7959437/41556711-2c6740d2-7301-11e8-9a22-8ac76d4a2d6e.png)

My workaroung is to explicitely set --config-file like this:

`babel www/js/main.jsx --config-file ./.babelrc -o www/js/main.js`

¿Is this the intented behavior?

I

[2018-06-18 19:47] sant123 commented on #7932
I forgot to mention I'm using babel 7 and now we can use `babel.config.js`. I renamed .babelrc to it and now I have:

[code]

My command `babel www/js/main.jsx -o www/js/main.js` now works without --config-file.

[2018-06-19 02:56] vipcxj commented on #8184
I have debug into it. and found this issue maybe related to [issue 118](https://github.com/micromatch/micromatch/issues/118). And in the babel side. it maybe the side effect of changing from relative path to absolute path at recent update.

[2018-06-19 04:19] #8182 closed

[2018-06-19 05:11] XhmikosR commented on #8184
@vipcxj: did you manage to make `only` work with some workaround? I tried using absolute paths, still the same.

[2018-06-19 05:24] MatthewHerbst opened #8199 "Labels are not being treated properly when declared as Strings"
## Bug Report
babel is removing expressions after labels that are declared as string identifiers within another expression. This causes unexpected behavior. Further, babel allows string-declared labels within an expression, but not outside of one.

**Current Behavior**
https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=PTAEBkEMCMFMBtQGcAOsDGAuAUCUA

[2018-06-19 05:33] loganfsmyth commented on #8199
These two `break` and `continue` examples are invalid because labels need to be direct parents, but in this case they are siblings. For example
[code]
compiles fine.

These aren't LabelledStatements, they are Flowtype casts. In Babel 6 this is enabled by default as part of `preset-react`. In Babel 7 it has been split into a separate preset explicitly to make it harder to run into issues like this

[2018-06-19 05:37] MatthewHerbst commented on #8199
@loganfsmyth ah, thanks for the link. We initially suspected a Flow issue, but then we thought about it and didn't think we had Flow anywhere in our repo.

I'm guessing the handling of string labels within `()` and without being different also related to that bug?

We're excited for Babel 7 to come out of beta!

[2018-06-19 05:41] loganfsmyth commented on #8199
`(C: 1);` is valid Flowtype code. You can look at https://flow.org/en/docs/types/casting/

What it's saying is, cast the variable `C` to the type `1`, and your other example is casting the string `"D"` to the type `1`. That's not exactly something that is useful, but it is valid Flowtype code.

Yeah that's not uncommon with Babel 6. I'm glad it is separate from `preset-react` for `7.x`.

[2018-06-19 05:44] loganfsmyth commented on #8184
I can take a look at this, but if someone can throw together a simple repository to reproduce, it'd make life much easier.

[2018-06-19 05:45] XhmikosR commented on #8184
@loganfsmyth: is there a gulp + babel boilerplate I can try using to make a repro repo for you?

[2018-06-19 05:46] XhmikosR commented on #8184
Also, this issue is quite dangerous because I don't get any error when building.

[2018-06-19 06:01] loganfsmyth commented on #8184
@XhmikosR The easiest is usually to use `@babel/cli` and skip Gulp. It seems unlikely that this is a Gulp-specific, but if that's the case it does complicate the reproduction steps.

[2018-06-19 06:03] XhmikosR commented on #8184
I'll see what I can do and ping you. I will try to make a repo with Gulp though, so that we meet the exact same conditions.

[2018-06-19 08:16] XhmikosR commented on #8184
@loganfsmyth: https://github.com/XhmikosR/babel-only-test

Install gulp, do `npm i` and then `gulp`. Notice how the _site/assets/js files are not transpiled, at least not for me on Windows with node 10.4.1. Going back to beta.44 works again.

[2018-06-19 12:51] jakzo opened #8202 "Star and local exports with duplicate names cause an error"
## Bug Report

**Current Behavior**
When `export * from` and named `export` statements in the same file both export a value with the same name a runtime error is thrown.

This happens because Babel adds a getter to the `exports` variable when transpiling `export * from` but doesn't add a setter. The `export` statement simply assigns the property on `exports`. This is an error in strict mode, and w

[2018-06-19 16:12] shellscape commented on #7478
I'm watching this issue and the mentioned jest issue with a keen eye. The workaround mentioned by disabling jest reporting and wrapping with nyc does work, but it's god-awful ugly. Please do update this issue should you find another way around this.

[2018-06-19 18:56] CaothicPechan opened #8203 ""this" on methods = 'undefined' using on node js"
Hi, i'm trying to set up babel for using es6, on my node js problem, the issue is when i'm trying to use properties of a class on my methods it said that is undefined.

Here is my project -> https://github.com/CaothicPechan/chatbot-provider.git

When i'm instancing the class i can access to the properties on the constructor, but on methods i can not acces..

let fbService = new fbProvider(constant

[2018-06-19 19:11] XhmikosR commented on #8105
I think this is the same as #8184. @loganfsmyth pinpointed the cause: after the recent micromatch update things broke on Windows.

I made #8201 so that we test things on Windows.

[2018-06-19 19:15] loganfsmyth commented on #8105
I think this issue is resolved, right @specialkk ?

@XhmikosR I think the issue in https://github.com/babel/babel/issues/8184 is separate, so let's continue this over there.

[2018-06-19 19:15] #8105 closed

[2018-06-19 19:29] loganfsmyth commented on #8184
We could also ditch generic string-based pattern matching in favor of our own specific whitelist, e.g. handle paths ending with `*` and `**/` and `*.extension` and such, then leave it up to people to use regexes for anything more complicated.

[2018-06-19 23:37] loganfsmyth commented on #8199
Is there anything left to track here? It seems like the only real issue was the one in https://github.com/babel/babel/issues/6698.

[2018-06-19 23:55] MatthewHerbst commented on #8199
I guess not. Thanks for the help!

[2018-06-19 23:55] #8199 closed

[2018-06-19 23:58] loganfsmyth commented on #8199
No problem!

[2018-06-20 02:05] Kovensky commented on #8184
`*` is definitely _not_ a valid filename character on Windows, which is the only system that uses `\` as a separator. Fortunately, windows also accepts `/` as a path separator...

[2018-06-20 04:32] acconrad commented on #8147
Just checking in - did we reach some consensus here? Feels like we still have a bunch of unanswered questions, but I am eager to contribute.

[2018-06-20 05:59] loganfsmyth commented on #8184
Alright, that's good to know about `*` at least. It supports special logic for `+` and `{}` and `()` and such too, which are allowed in Windows: https://www.npmjs.com/package/micromatch#matching-features

Maybe we can turn off the rest of the micromatch stuff and only allow `*`-based expansion matching?

[2018-06-20 06:03] XhmikosR commented on #8184
Just some notes

* `/` paths are not Windows valid. It works in Node.js because I guess they handle this themselves.
* `*` isn't allowed in Windows paths. In fact none of these is allowed: `\/:*?"<>|`

[2018-06-20 06:43] Kovensky commented on #8184
`/` paths are valid when they are processed by the shell or the standard C library. Only "super-absolute" paths that start with `\\?\` do not accept `/` as a separator.

[2018-06-20 06:46] Kovensky commented on #8202
There should not be a setter at all; the problem is that the star export helper is not filtering which exports to provide.

[2018-06-20 06:49] XhmikosR commented on #8184
The rule of thumb is do not use `/` on Windows.

There is absolutely no reason for you guys to risk things. Just follow the rule.

For reference

[code]

[2018-06-20 06:54] Kovensky commented on #8184
That is a limitation of `command.com` / `cmd.exe`, not a windows thing. Node is not doing anything special when `/` paths work; it's `command.com` / `cmd.exe` that break it to support CP/M-style switches.

I'm not saying we're going to require `/` in paths but the assertion that `/` is invalid in paths on windows is wrong. It's a `cmd.exe` problem; it's valid anywhere else on windows.

[2018-06-20 06:55] xtuc commented on #8147
I'm not a fan of injecting specific code into the generated code and we'll likely have many duplicates on a single page.

I just want to mention that GitHub has a great code analysis tool/team.

[2018-06-20 06:57] XhmikosR commented on #8184
Thanks for the explanation, but either way, as long as the issue is fixed I personally don't really care what might work or not. `cmd` is the default shell as you already know.

[2018-06-20 07:04] jakzo commented on #8202
@Kovensky Correct, though that would require some refactoring of the helper. Maybe something like moving star exports to the end of the file after all other exports have been added so it knows which to filter?

[2018-06-20 13:09] himanish-star commented on #6698
I would like to take this up. May I?

[2018-06-20 14:36] #8091 closed

[2018-06-20 16:27] stasm opened #8204 "preset-env needlessly transforms generator functions for Firefox 52"
## Bug Report

**Current Behavior**
Generator functions are transformed using the `regeneratorRuntime` when Firefox is set to version 52. This is incorrect; Firefox 52 supports generators.

**Input Code**
- [REPL with preset-env set to Firefox 52](https://babeljs.io/repl/#?babili=false&browsers=Firefox%2052&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABAKkQcwKZgBQEpEDeAUIogJ

[2018-06-20 16:29] stasm commented on #8204
Oh, I think I just found the reason:

https://github.com/babel/babel/blob/9283efaeb7a8c5b505b19332c3407dc44c668777/packages/babel-preset-env/data/plugins.json#L198-L207

I ran `npm run build-data` but `53` persists. Where does it come from?

[2018-06-20 16:35] existentialism commented on #8204
@stasm our data is generated from compat-table:
https://kangax.github.io/compat-table/es6/#test-generators, and resolves to v53 since 52 doesn't pass a couple tests.

[2018-06-20 16:53] eventualbuddha commented on #7118
I'm looking into adding TypeScript support to babel-codemod and I ran into this issue because babel-codemod itself uses the `export default interface ...` pattern in exactly the way @simonbuchan says (see [Resolver.ts](https://github.com/square/babel-codemod/blob/9e44e2e0d47e2bcefc0f8de475ae85057e4649cf/src/resolvers/Resolver.ts)).

For what it's worth, I agree that babel should just delete the `e

[2018-06-20 19:48] rricard commented on #8052
I opened #8205 for early feedback. Keep in mind that this is far from finished (see prev. comment) but it gives an idea of the architectural choices made and we can discuss them here before going further. Next goal is to be able to run that against test-262 and make sure it passes for that feature (and backport some missing tests in babel from 262)

[2018-06-20 20:01] whaaaley commented on #8193
Does this still occur when you place the flag at the end?

`babel test.js assets/test.js --out-dir test/`

[2018-06-20 20:44] loganfsmyth commented on #8193
Happy to have a conversation around this. I can tell you _why_ this happens, at least. The short of it is that when Babel is given a file it isn't really clear _what_ the behavior should be, though I can certainly see the argument behind what you're hoping for.

When you do

    babel test.js assets/test.js --out-dir test

Babel breaks that down into two separate items, (the `filepath` and `basedi

[2018-06-20 23:09] rtsao commented on #6830
As a follow up to this, I've created a comprehensive proposal regarding configuration of the env preset: https://github.com/babel/babel/issues/8195. One area addressed in the proposal is polyfilling.

For those interested, please leave feedback!

[2018-06-20 23:33] existentialism commented on #8195
First, thanks for the great writeup... definitely agree if Henry and I could go back in time we have a bunch of lessons learned :)

We should be able to implement everything here without needing a breaking change?

I think we're pretty set on what's left for the RC (which is already wayyyyyyy long overdue).

I'll try to get more granular comments/feedback when I have a bit more time tonight/tomorr

[2018-06-20 23:41] rtsao commented on #8195
Also another thing that would be nice for the library use case is a modified version of `{useBuiltIns: "usage"}` that instead rewrites builtin usages to *ponyfills* (rather than applying global polyfills).

I'm not totally sure if this is actually feasible to do robustly, but that would be ideal because then libraries could non-intrusively use ponyfills.

[2018-06-21 09:37] Adamfsk commented on #8076
@hzoo @DanielRosenwasser @andy-ms I understand this is only stage 0 functionality at the moment, but it is required for the vast majority of dependency injection libraries in Typescript to work, such as the most popular library InversifyJS. For many users this will stop them from being able to use the new built-in typescript compiler with dependency injection.

There are possible workarounds, such

[2018-06-21 09:38] #7492 closed

[2018-06-21 14:12] budarin opened #8206 "Migrate to babel 7: Requires Babel "^7.0.0-0", but was loaded with "6.26.3""
## Bug Report

**Current Behavior**
I've tried to move to Babel 7 on existing simple project.
When I've finished migration I've got the error:
[code]

Babel config for transformation the app is in ```/config/babelLoaderConfig.js```
Here is link for the [repository](https://github.com/budarin/react-bootstrap-project)

**Environment**
- Babel version(s): v7.0.0-beta.51
- Node/npm version: Node 10.4.

[2018-06-21 14:16] xtuc commented on #8206
I think that you're loading a plugin that uses Babel 6 which is not compatible with Babel 7.

[2018-06-21 14:16] budarin commented on #8206
What is the issue?
Move back?

[2018-06-21 15:09] ajliv commented on #8206
@budarin try installing babel-core@7.0.0-bridge.0 alongside @babel/core and then adding this to your package.json --

[code]

[2018-06-21 16:55] loganfsmyth commented on #8206
As mentioned in the error itself, the stack trace is the important part here to diagnose the issue. Please include that.

[2018-06-21 17:28] budarin commented on #8206
Repo is changed, but you cold do checkout the head
[code]

[2018-06-21 17:34] loganfsmyth commented on #8206
Yeah, so you have `babel-register` which is Babel 6. It would be `@babel/register` for Babel 7.

[2018-06-21 17:36] budarin commented on #8206
@loganfsmyth
I have not babel-register in package.json!

[2018-06-21 17:41] jsg2021 commented on #8206
@budarin you have `babel-core` twice with different values. Try deleting the line:
[code]

[2018-06-21 17:45] loganfsmyth commented on #8206
@budarin Since you're using a `webpack.babel.js` file, Webpack loads `babel-register`/`@babel/register` automatically, but since you don't have it it you deps you're basically accidentally relying on npm to flatten your dependencies and you're getting one by chance.

[2018-06-21 17:45] budarin commented on #8206
@jsg2021
I have no ```"babel-core": "^6.26.3",``` - it's error while copy from commit log - not remove removed line

[2018-06-21 17:46] donaldpipowitch commented on #8195
A little bit related: https://github.com/babel/babel/issues/6611

Currently you can target both `browsers` and `node`, but this actually doesn't work. It would be nice, if it would be either possible (and maybe leveraging browserslist new support for Node; my favorite solution) or validate the config and throw an error so that you know that you need to use one or the other - but not both. Thanks 🙃

[2018-06-21 17:49] budarin commented on #8206
@loganfsmyth
Should I manually install @babel/register to resolve the problem?

[2018-06-21 17:52] loganfsmyth commented on #8206
Yep!

[2018-06-21 18:01] budarin commented on #8206
@loganfsmyth
It's little bit better :)
But it does not support syntax in webpack.config.babel.js:
[code]

[2018-06-21 18:19] existentialism commented on #8195
@donaldpipowitch also tangential, but now that browserslist [supports node versions](https://github.com/browserslist/browserslist/pull/253/files) we may want to reconsider calling it `targets.browsers`, and maybe `targets.query` or something?

[2018-06-21 18:30] budarin commented on #8206
Above error was due to env's config for node - I've remove lines:
[code]
and webpack.config.babel.js is compiled

Thanks a lot!

[2018-06-21 18:30] #8206 closed

[2018-06-21 23:49] npahucki commented on #6974
I'm running into this as well when using react-static. It works fine if you run in the root directory, but running in the `npm postintstall` fails with ```Error: Options {"loose":true} passed to /xxx/test/node_modules/babel-preset-env/lib/index.js which does not accept options. (While processing preset: "/xxx/test/node_modules/babel-preset-env/lib/index.js") (While processing preset: "/xxx/test/no

[2018-06-22 00:36] loganfsmyth commented on #6974
@npahucki As mentioned earlier, generally it is an issue with `babel-register` or `babel-node`'s configuration. If you include that we can try to direct you, but the error on its own is not enough information.

[2018-06-22 03:19] rakelblujeans commented on #7918
https://github.com/babel/website/pull/1701

[2018-06-22 08:59] karbica opened #8209 "Symlinked module cannot find Babel plugin, property of 'useBuiltIns' undefined"
## Bug Report

**Current Behavior**
An npm linked module exposes a `bin`. That `bin` runs the build using the Webpack module provided the `webpack.config.js`. It works normally when called from `npm run build` but throws an error in the output of the file when called using the `bin`. I linked it so I can work on it without having to publish to the registry. This module will be used as a dependency

[2018-06-22 10:20] joselcvarela opened #8211 "Failed installing babel-loader@8.0.0-beta"
## Bug Report

**Current Behavior**

Documentation says:
[code]
but

[code]

**Expected behavior/code**
Correct installation

**Environment**
- Node/npm version: 8.9.4/6.1.0
- OS: Windows10

[2018-06-22 10:50] joselcvarela commented on #8211
I could solved it by consulting versions page in npm package page and specify the correct version:
https://www.npmjs.com/package/babel-loader?activeTab=versions

[2018-06-22 10:50] #8211 closed

[2018-06-22 11:02] microbouji opened #8212 "Optional Chaining: unable to apply further transforms to certain function call arguments"
## Bug Report

**Current Behavior**
The following input code throws "Container is falsy"

**Input Code**

[code]

**Expected behavior/code**
[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]
Order doesn't matter.

**Environment**
- Babel version(s): v7.0.0-beta.51
- Node/npm version: Node 8.10.0 / npm 5.6.0
- OS: Ubuntu 16.04
- Monorepo [e.g. yes/no/Lerna]
- How you are

[2018-06-22 11:04] budarin opened #8213 "Babel 7 crashes Jest tests"
## 🐛 Bug Report

I have worked my project with Babel 6.
Then I moved it to Babel7 and got the error:
[code]
jest.config.js

[code]
/config/jest/transformer.js

[code]

## To Reproduce

run tests

## Expected behavior

successful tests

## Link to repl or repo (highly encouraged)

Link to my [repository](https://github.com/budarin/react-bootstrap-project)

## Run `npx envinfo --preset jest`

**Envi

[2018-06-22 12:35] ctrlplusb opened #8214 "Getting a 404 page for API docs"
## Bug Report

Try to view the API documentation. I found the following link on the [.babelrc](https://babeljs.io/docs/en/babelrc) page:

https://babeljs.io/docs/en/api.md

Get presented with a 404 page.

[2018-06-22 13:53] existentialism commented on #8214
@babel-bot move babel/website

[2018-06-22 14:23] ctrlplusb commented on #8214
👍

[2018-06-22 14:23] #8214 closed

[2018-06-22 18:15] budarin commented on #8213
as I can see in .tmp/jest-transform-cache the module code is not transpiled yest - there is the original source of the .tsx module

[2018-06-22 18:42] loganfsmyth commented on #8213
Since you've got
[code]
You'll only be transforming `.js` files.

[2018-06-22 18:47] budarin commented on #8213
@loganfsmyth
Thanks alot!!!
I think that it automatically transform with config, but it's not true

[2018-06-22 18:47] #8213 closed

[2018-06-22 20:13] DrewML commented on #6698
@himanish-star go for it!

[2018-06-23 01:56] himanish-star commented on #6698
Yep, I have started digging into this already but I haven't made much way. If I am not wrong I'll have to check through the `preset-flow` and `preset-react` folders right?

[2018-06-23 06:01] nicolo-ribaudo commented on #6698
Nope 🙂 The parser is in `packages/babel-parser`.

[2018-06-23 06:58] himanish-star commented on #6698
Thanks!

[2018-06-23 12:27] kachkaev opened #8216 "TypeScript: Typed template literal syntax issue"
## Bug report / Feature Request

With TypeScript 2.9.2 and `styled-components` 3.3.3, it is possible to declare a typed template literal the following way:

[code]

This is parsed and linted by TypeScript well (e.g. writing something like `p => p.xyz` causes a TS error).

When the same code is parsed with babel 7 & `babel-preset-typescript@7.0.0-beta.51`, the following syntax error shows up:

[cod

[2018-06-23 12:52] kachkaev commented on #8216
This seems to be an issue only when a field in the interface is optional (followed by `?`). After it is removed, transpilation works:

[code]

[2018-06-23 13:29] kachkaev commented on #8216
Great! Sorry that I failed to find those. Feel free to close this issue if you think it's a duplicate or we can close it once #7754 is merged / new babel version released.

[2018-06-23 13:50] rakelblujeans commented on #7918
https://github.com/babel/website/pull/1704

[2018-06-23 14:16] existentialism commented on #8216
@kachkaev no need to apologize! let's close this and keep the conversations together :)

[2018-06-23 14:16] #8216 closed

[2018-06-23 18:18] budarin opened #8218 "babel doesn't transpile typescript even having @babel/preset-typescript in config"
## Bug Report

**Current Behavior**
I want to run webpack with ```webpack.config.babel.ts```
Wen I run webpack
[code]
it fails with error:
[code]
**Expected behavior/code**
expexted to run webpack.config.ts

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s):  [v7.0.0-beta.51]
- Node/npm version: [Node 10/npm 6]
- OS:  [Windows 7]
- Monorepo [

[2018-06-24 07:58] TomLingham commented on #8218
I'd give `webpack -r @babel/register` in your script, this will register babel before loading your config files. I'm fairly confident that `webpack.config.babel.js` is hardcoded with the `js` extension.
This is how I do it, except I register babel in a separate file and run `webpack -r ./path/to/register-ts.js`

[2018-06-24 10:34] budarin commented on #8218
@TomLingham
thanks for the idea, but I am confusing!
every tool has a config to configure it, but babel need to have another config to configure config for doin it's job !
It's little bit strange!
Why it should not be in config as an option???
why I should like a sorcerer gather different peaces of knowledge how with many hacks to force babel work as expected???
Sorry for my emotions but I spend a

[2018-06-24 11:02] budarin commented on #8218
@TomLingham
I create register-ts.js
[code]
And try to run webpack
[code]
but it fails with
[code]

[2018-06-24 11:11] TomLingham commented on #8218
Make sure you have the command written correctly:
`webpack-dev-server -r ./register-ts.js --config ./webpack.config.babel.ts`
-r will load the module from the node_modules folder unless it is a relative import just like when using node.

[2018-06-24 11:28] budarin commented on #8218
@TomLingham
something stange is happend - I place ```register-ts.js``` at the root of the project and when I call
[code]
I get the error:
[code]
only calling like this
[code]
helps

[2018-06-24 11:34] TomLingham commented on #8218
Is the file called `register-ts.js` or `registerTS.js`? Just make sure you are typing that correctly first.

[2018-06-24 11:37] budarin commented on #8218
of course my version is called ```registerTS.js``` (I 'have tryied to use your name) and there is no typos when calling webpack

[2018-06-24 11:39] TomLingham commented on #8218
Alright, try prefix the file as if webpack is loading it relative to the `./node_modules/webpack-cli/bin/` directory. I've noticed this also happens sometimes with webpack-dev-server.
for example `webpack-dev-server -r ../../../registerTS.js`

[2018-06-24 11:43] budarin commented on #8218
@TomLingham
It helped to run ```registerTS.js``` run (I placed console log to check if it 's runnig) but did not help to transpile ```webpack.config.babel.ts```:
[code]

[2018-06-24 11:52] TomLingham commented on #8218
This repo has a setup that works https://github.com/TomLingham/typescript-webpack
`npm install` and then `npm run dev` to get it running. See if you can use that as a reference.
I would need to see more of your code / setup to be able to troubleshoot further I think.

[2018-06-24 11:53] budarin commented on #8218
@TomLingham
Here is the [repo](https://github.com/budarin/react-ssr-bootstrap-project) - try to play with it, please

[2018-06-24 12:48] budarin commented on #8218
@TomLingham
I didn't manage to win it :(
Error:
[code]

[2018-06-24 12:54] TomLingham commented on #8218
The path to `register-ts.js` is incorrect. Put `register-ts.js` inside `config/webpack/client/` and try that.

[2018-06-24 13:00] budarin commented on #8218
@TomLingham
Thanks a lot for your help and patience!

I'm tired of the struggle and the thousands of little things you need to keep in mind to customize all the tools :)

[2018-06-24 13:00] #8218 closed

[2018-06-24 22:21] majelbstoat opened #8221 "Babel 7 runtime causing issues with GRPC"
## Bug Report

Using babel-loader causes an error with GRPC where identical code using ts-loader does not. I can't be certain it's the runtime, but the error looks suspicious.

[code]

This is triggered by returning a simple `Error()` from a GRPC server handler. The code compiles with tsc, and is loaded correctly with ts-loader.

**Babel Configuration (.babelrc, package.json, cli command)**

.babe

[2018-06-24 22:59] danielo515 opened #8222 "Option to avoid the small runtime when transforming modules"
## Feature Request

Hello,

I'm a node-js developer that uses babel because it is a fantastic tool for transforming JS code, not only for bundling or transpiling down to a different version, but also to apply optimizations and even for compiling from other languages. This means that my build target is almost always node.

Currently I'm forced to use modern modules, using the `import` keyword, inst

[2018-06-25 04:05] loganfsmyth commented on #8221
The error seems likely to be whatever user code is at

[code]
so we don't have enough to go on. The only way https://github.com/grpc/grpc-node/blob/3fc29c46e77ebab59739d6d048dafa6d2ca514ea/packages/grpc-native-core/src/server.js#L64 would be throwing that error is if https://github.com/grpc/grpc-node/blob/3fc29c46e77ebab59739d6d048dafa6d2ca514ea/packages/grpc-native-core/src/server.js#L62 assigned

[2018-06-25 07:29] damianobarbati opened #8223 "[decorators] react propTypes of "decorated component" are being applied to "enhanced component" returned by HOC"
`propTypes` of "decorated component" are somehow applied at runtime to "enhanced component".

Here a basic repro: https://github.com/damianobarbati/babel-hoc-bug

PropTypes is complaining about prop-types defined in wrapped components just as if they were defined in class returned by the decorator.

Is there something I'm missing here?

Babel config and dependencies versions:
[code]

[2018-06-25 07:30] damianobarbati commented on #8166
I'm closing this and re-opening it for sake of clarity.

[2018-06-25 07:30] #8166 closed

[2018-06-25 07:59] dluksza commented on #7177
I'm getting this error message on my mobile app build with `react-native` 0.56.0-rc.3 (`react` 16.4.1).

First time I got this was on `react-native` 0.56.0-rc.2, but then removing `node_modules` and installing all dependencies again was fixing it. Right not this workaround doesn't work any more :|

[2018-06-25 12:47] HyP3r- commented on #8111
Update to this issue:

If I write this in the **polyfill.js**
[code]
it is working on **Microsoft Internet Explorer 11** and not on **Microsoft Edge** and if I write this in the **polyfill.js**
[code]
it is working on the current version **Microsoft Edge** but not on **Microsoft Internet Explorer 11**.

The reason for that is following: The **Microsoft Internet Explorer 11** has no **Fetch API** a

[2018-06-25 14:31] tw0517tw opened #8224 "ignore options not working"
## Bug Report

**Current Behavior**

Running `babel src -d lib --ignore __tests__` not ignoring files in `__tests__` folder.

**Input Code**

See https://github.com/tw0517tw/babel-ignore for reproducing repository.

**Expected behavior/code**

Not to compile `src/__tests__/index.spec.js` to `lib/__tests__/index.spec.js`.

**Babel Configuration (.babelrc, package.json, cli command)**

None

**Envir

[2018-06-25 18:30] ramin25 opened #8225 "Parser allows spaces between # and identifier"
## Bug Report

**Current Behavior**
First identified in: [Class Fields (Stage 3) #12](https://github.com/babel/proposals/issues/12#issuecomment-398758818)
The parser currently allows spacing between the private name symbol `#` and the identifier.

However, it seems to violate the [lexical grammar](https://tc39.github.io/proposal-class-fields/#sec-new-syntax) in the spec proposal:
[code]

**Input C

[2018-06-25 20:21] liamfd commented on #8151
If it helps anyone else, I was running into this issue even with the Babel 7 beta. In my case, it was specific to `webpack`/`babel-loader`, as `babel-node` worked fine. Upgrading from webpack 3 to 4 solved the issue, I'd make sure you're on the latest `babel-loader` as well.

[2018-06-26 01:05] loganfsmyth commented on #8224
You'll need to ignore `src/__tests__` specifically. Your logic as-is would ignore a `__tests__` that was a sibling of `src`.

[2018-06-26 01:35] tw0517tw commented on #8224
Thanks @loganfsmyth ,

I tried `src/__tests__` and it's good (https://github.com/tw0517tw/babel-ignore/pull/3).
But usually we have many other folders under `src` so I tried `src/**/__tests__` but it fails on Windows (https://github.com/tw0517tw/babel-ignore/pull/2).

[2018-06-26 01:40] loganfsmyth commented on #8224
Yeah, `ignore` and `only` and such are totally busted on Windows at the moment :( https://github.com/babel/babel/issues/8184

[2018-06-26 07:54] CraigMeng opened #8226 "generators "function*" still not working in IE11"
## Bug Report
in my react project,
I use babel-polyfill in my entry index.js, and it is not working in IE11. I see the console is
SCRIPT1010: Expected identifier
File: bundle.js, Line: 176230, Column: 13
where the line is
    function* evaluate(expr, input, environment) {

Babel config:
[code]

**Environment**
- "babel-core": "6.26.0", "babel-polyfill": "^6.26.0",
- Node/npm version: [e.g. Node 6/

[2018-06-26 13:02] DZuz14 commented on #7277
Is the code responsible for this located here?
https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/targets-parser.js#L145

[2018-06-26 14:19] existentialism commented on #7277
You can reference a previous PR for this over at the old repo: https://github.com/babel/babel-preset-env/pull/114.

Keep in mind, there were some unresolved questions in that thread that we might want to nail down :)

[2018-06-26 16:46] DZuz14 commented on #7277
Excuse my naivety on this issue(and the Babel project in general), but why cant the node field in targets just have a simple true or false value, and require that people set their node version in package.engines.node in their package.json?

In the package.json, you'd have to explicitly specify "current", ">=6"  etc.

[2018-06-26 17:48] tabrindle opened #8227 "Add envinfo to ISSUE_TEMPLATE"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Babel gets an incredible number of issues, and managing and triaging them takes a lot of people and time, especially when issues are missing critical environment or setup info.

**Describe the solution you'd like**
I'd like to add [envinfo](https://www.npmjs.com/package/envinfo) to babel in some way to help faci

[2018-06-26 20:30] ai opened #8228 "Use Browserslist 4"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Browserslist 4 with Node.js versions support was released

**Describe the solution you'd like**

1. Use Browserslist 4
2. Use Browserslist to load Node.js versions as well
3. If Babel config has `target`, do not use Browserslist config (even if `target` contains only Node.js)

**Describe alternatives you've con

[2018-06-26 23:39] xtuc commented on #8227
I don't want to force peoples to use an additional tool for submitting a bug report.

I would prefer something in Babel/cli itself.

[2018-06-27 00:14] tabrindle commented on #8227
Normally I agree; It is worth considering that npx is preinstalled on node 8+ so for the most part it wouldn't require installing anything. 'npx envinfo' takes about 2 seconds to fetch.

[2018-06-27 04:04] alangpierce commented on #8099
I just ran into this same issue in the Sucrase project (which has a fork of Babel's parser): https://github.com/alangpierce/sucrase/issues/277

It looks like the underlying issue here is destructuring within a parameter in a function type. The `tsIsStartOfFunctionType` method in babel-parser has a bunch of rules to determine when to take the function parsing code path, but returns `false` here whe

[2018-06-27 06:36] CraigMeng commented on #8226
sorry, this seems to be node modules issue I imported. Close this issue.

https://stackoverflow.com/questions/47672324/script1002-syntax-error-in-ie11-with-react-babel-webpack

[2018-06-27 06:36] #8226 closed

[2018-06-27 09:11] throrin19 commented on #8063
@loganfsmyth After that, I include directly source files into my project (and not autobuild vue-mc) to see if the problem is in my side or in their side.

I have another error this time.

In my Collection, if I call an instancied method in the constructor, I have the error `TypeError: _this.clearState is not a function`. This is my class :

[code]

This is the compilated result for this constructo

[2018-06-27 11:25] sanchitgn opened #8229 "@babel/node Cannot resolve module with --require"
## Bug Report

**Current Behavior**
`@babel/node` cannot seem to resolve node modules, when using `--require` flag. Needed to [preload environment variables](https://github.com/motdotla/dotenv#preload) with `dotenv`

**Input Code**

`package.json`
[code]

[code]

Running `npm run dev` throws the following error

[code]

**Expected behavior/code**
The module resolution should work as expected

**Ba

[2018-06-27 17:38] simonseyock opened #8230 "export * gets pushed to top"
## Bug Report

**Current Behavior**

if a normal `import` statetement is used before a `export * from 'somwhere'` statement, the latter gets pushed to the top. This causes all code in `'somwhere'` to be executed before the code from the import.

**Input Code**
[code]
becomes

[code]

**Expected behavior/code**

I expect the second statement to happen second.

**Babel Configuration (.babelrc, packa

[2018-06-27 17:42] existentialism commented on #8230
@simonseyock thanks for the issue! This is actually fixed in babel 7:

http://babeljs.io/repl#?babili=false&browsers=last%201%20Chrome%20versions&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAcgGbCgZxgg3AKAKYAekscAVHElBCImngMYQB2AJtkA&debug=true&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=true&sourceType=module&lineWrap=false&presets=e

[2018-06-27 17:44] loganfsmyth commented on #8230
Yeah, duplicate of #4356. Unlikely to be fixed in 6.x at this point.

[2018-06-27 17:49] simonseyock commented on #8230
Thanks, I did not see that issue

[2018-06-27 17:49] #8230 closed

[2018-06-28 01:52] Pay0801590664 commented on #8227
https://www.npmjs.com/package/envinfo

[2018-06-28 01:53] Pay0801590664 commented on #8227
https://www.npmjs.com/package/envinfo

[2018-06-28 02:04] kyoukhana commented on #8111
Did this ever get resolved

[2018-06-28 04:04] JunreyCen opened #8231 "`interopRequireDefault` required by windows absolute path"
**Describe the regression**
When compiled esmodule to commonjs, i got `interopRequireDefault` required by windows absolute path instead of npm address

**Input Code**
[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Expected behavior/code**
[code]
or
[code]

**Environment**
- Babel version(s): [7.0.0-beta.47]
- Node/npm version: [Node 8/npm 6]
- OS: [Windows 7]
- Ho

[2018-06-28 04:17] loganfsmyth commented on #8231
As far as I know, there's no current code in Babel itself that would use an absolute path. Would you be able to provide a reproducible repository?

[2018-06-28 13:23] ariran5 opened #8232 "es6 class to es5"
## Bug Report
hi
I found to not work correctly

if I transpilie this (es6 -> es5)

[code]
it work, but it not work in browser.
console said to me `function is not a constructor`
http://jsfiddle.net/8ouqLr9d/23/

I check this here https://babeljs.io/repl/

[2018-06-28 13:43] hzoo commented on #8232
Thanks for the question!

If you have a static method, then you don't need to create an instance of it with `new`. So it's just `A.B()` which should work fine.

[2018-06-28 13:43] #8232 closed

[2018-06-28 15:32] ariran5 commented on #8232
But if I use babel `new A.B()` work!!!

[2018-06-28 17:30] loganfsmyth commented on #8232
@ariran5 Babel does its best to behave like real ES6 code, but there are always edge cases that we can't fully handle. This is one of them. A function created with method syntax can't be instantiated as a constructor.

[2018-06-28 19:20] devssh opened #8233 "[Feature Request] Support for 'self' keyword in classes which is more specific than 'this' keyword"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Using 'this' is confusing in classes as it could refer to the class or the current function in the class.
I have spent a lot of time writing code where there is an error and it turns out to be an oversight of the scope for 'this' when refactoring code to a function.

**Describe the solution you'd like**
The same

[2018-06-29 00:48] dschinkel opened #8234 "What to use to run node script now?"
I don't want to use babel-node so with babel 7 how should my script look to run node .js files?

[2018-06-29 00:49] loganfsmyth commented on #8234
If you don't want to use `babel-node` to compile files on the fly, you can use `@babel/cli`'s `babel` command to compile your files first.

[2018-06-29 00:54] dschinkel commented on #8234
right.  I've been trying to find the right command for the cli..but no luck

[2018-06-29 01:00] loganfsmyth commented on #8234
What specifically doesn't work? The `babel` command will compile a file and either print it or save it, but not run it, so you'd save it to a script and run that with `node`.

[2018-06-29 01:01] dschinkel commented on #8234
well when I use `babel myscript.js` it's outputting my ES6 module as literal text instead of executing it.

[2018-06-29 01:03] loganfsmyth commented on #8234
If you want to execute the code, that is what `babel-node` is for. Why don't you want to use it?

[2018-06-29 01:06] dschinkel commented on #8234
yea I will I just figured there was a new way to do that in babel 7 but guess not.

[2018-06-29 01:07] mocheng opened #8235 "`logger.debug` causes "Unexpected token" error"
# v7 Regression

**Describe the regression**

After migration to  v7.0.0-beta.51, most of features are OK except one case. The original code in one library is like this.

[code]

This code is transpiled into.
[code]

When this code is referenced by another repo built with babel v7.0.0-beta.51. It fails with error message as below.

[code]

**Input Code**

So, the input code is below

[code]

The `

[2018-06-29 01:07] loganfsmyth commented on #8234
The module is now called `@babel/node`, but the command is the same name.

[2018-06-29 01:07] dschinkel commented on #8234
yea got it working now thx

[2018-06-29 01:07] #8234 closed

[2018-06-29 01:10] loganfsmyth commented on #8233
Since this doesn't appear to require new parser support, you could explore writing your own plugin to do this.

It's not something that I'd expect to land in the language though, and definitely not something Babel would implement without a language proposal.

[2018-06-29 01:10] #8233 closed

[2018-06-29 01:14] loganfsmyth commented on #8235
Would you be able to put together an example repository? From what you've shown, it's not clear how I'd go about reproducing this issue. The snippets of code you've included all see to be valid. It seems more likely that it is something else in your build process that is causing this code to fail.

[2018-06-29 07:58] devssh commented on #8233
Ya can you tell where I could suggest this as a language proposal for ES2018? I could only think of Babel as the best place to suggest this

[2018-06-29 11:36] dantesolis commented on #7954
hey @HassanAli321  if you are not taking this and or if you want to do it together, let me know I would like to take it or help with it :)

[2018-06-29 12:44] artola opened #8236 "Preset's name for scoped packages"
I have `presets` for all the parts in the tool-chain, from Jest to TSLint. Then I did the same for Babel.
The preset works perfectly, if the name is "babel-preset-xxx", but we prefix all our react stuff then the package become "@company/rdk.babel-preset-xxx".

Now if I try to use it in webpack as:

[code]
THIS BREAKS  :( ... with this message:

[code]
As the hint says, prefixing with `module:` wor

[2018-06-29 13:12] xtuc commented on #8236
Please indicate the version of Babel you are using.

[2018-06-29 13:33] existentialism commented on #7954
@dantesolis there's a PR for this already, thanks tho!

[2018-06-29 13:50] mgol opened #8237 "babel-minify incorrectly removes code blocks guarded by `if`s with possible truthy conditions"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

`babel-minify` incorrectly removes code blocks guarded by `if`s with possible truthy conditions if the variable used to guard the block is declared inside of the `if` block.

**Input Code**
- REPL or Repo link if applicable:

REPL fails with `repl: traverse.clearCache is not a function` so I'm just attaching inpu

[2018-06-29 14:19] nicolo-ribaudo commented on #8237
Wrong repo 😛

@babel-bot move to babel/minify

[2018-06-29 14:20] #8237 closed

[2018-06-29 16:36] loganfsmyth commented on #8236
The same way we auto-prefix packages with `babel-plugin-`, we do the same for packages in scopes.

I suppose one option we could consider would be to loosen those requirements when a scope is in use, and only append `babel-preset-` when that name is not present anywhere in the module name, rather than explicitly looking for it as a prefix. I don't think I'd want that for non-scoped packages though

[2018-06-29 18:28] chocolateboy commented on #8222
Not sure if it still works with Babel v7, but you might find this useful: https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs-simple

[2018-06-29 19:56] danielo515 commented on #8222
That's what I'm using.
But I would prefer to just have an option on this one. Not very important, but I think it is worth mentioning

[2018-06-29 20:10] loganfsmyth commented on #8222
That seems like the core of the issue to me. There's absolutely nothing wrong with using CommonJS if that's what you want to use.

Personally I'm against most customizations like this because the specific output syntax isn't really something you're supposed to be thinking about. Babel outputs all kinds of code that's a little uglier, but conceptually what matters is the semantics of the original E

[2018-06-30 05:11] lili21 opened #8239 "babel-plugin-transform-react-inline-elements doesn't work properly with babel-plugin-component"
## Bug Report

**Current Behavior**

the `import` expression disappear, removed by babel-plugin-transform-react-inline-elements

**Input Code**

[code]

**Expected behavior/code**
the output code should be right.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): 6.26.0
- Node/npm version: Node 8.9.1/npm 5.6.0
- OS: OSX 10.13.5
- Monorepo: n

[2018-06-30 09:28] cybermerlin opened #8240 "public properties is not defined in a class (es 8,9rd edition)"
## Bug Report

**Current Behavior**
property is not defined in a prototype.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_l

[2018-06-30 11:54] artola commented on #8236
@xtuc version: 7.0.0-beta.51 with "babel-loader": "^8.0.0-beta.4",
@loganfsmyth Thanks for the info. I do believe that we should try first node-resolution and if fails the several appends of nowadays (or viceversa).

[2018-06-30 12:05] nicolo-ribaudo commented on #8240
That is the expected behavior. Public properties are not defined on the prototype, but on `this` at construction time.

e.g.
[code]

[2018-06-30 12:05] #8240 closed

[2018-06-30 16:10] sw-yx opened #8241 "[babel-register] doesn't transpile import syntax, "Unexpected token import" error"
## Bug Report

**Current Behavior**
Hello! I am trying to use the `import` syntax in node. I think `babel-register` should help me with that. However when I try running my node script it gives me the `SyntaxError: Unexpected token import` error as though `babel-register` isn't set up right.

**Input Code**
- REPL or Repo link if applicable: https://github.com/sw-yx/boring-SSG/tree/babelbugreport/t

[2018-06-30 19:17] vjeux opened #8242 "Babylon doesn't parse trailing commas correctly for function call generics"
## Bug Report

This was found because prettier outputs trailing comma and it no longer parses with babylon.

**Input Code**

[code]

http://astexplorer.net/#/gist/dffec8c8a6f66e9fcc260ee76dd68119/5eb2048db26cff01ad2eda5cdac682a1079a54ff

**Current Behavior**
[code]

**Expected behavior/code**
It parses. flow-0.72.0 parses it fine.

**Environment**
- Babel version(s): babylon7-7.0.0-beta.44

**Poss

[2018-06-30 20:17] zertosh commented on #8242
This has already been fixed. https://github.com/babel/babel/pull/7934

[2018-06-30 20:41] vjeux commented on #8242
@zertosh This PR adds support for `<>`, which appears to be working fine. What this issue is specifically about is trailing commas. I don't believe that trailing commas in this context are working. cc @samwgoldman

[2018-06-30 21:18] zertosh commented on #8242
@vjeux, I just tested (and confirmed) that trailing commas in type arguments work in 7.0.0-beta.51

[2018-06-30 21:19] #8242 closed

[2018-06-30 21:19] vjeux commented on #8242
Thanks for double checking, so it is therefore on us to fix!

[2018-07-01 04:31] brainkim opened #8243 "disable emojis in cli output"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Emoji output is causing subtle bugs in my terminal.

**Describe the solution you'd like**
`🎉  Successfully compiled 11 files with Babel.` <- I want that 🎉  gone with a flag like `--no-emoji`

**Describe alternatives you've considered**
Being fun and chill. But I can't do it 😡.

**Teachability, Documentation, Ado

[2018-07-01 09:41] xtuc commented on #8243
I would like to remove them, many terminal environment will have trouble displaying them (CI for example?).

maybe we can detect it using the TERM variable or something similar. Could you please add more information about your environment?

[2018-07-01 15:18] brainkim commented on #8243
This is in the regular terminal for OSX high sierra. I'm encountering a bug where when I try to repeat the previous command the cursor is off by however many emojis were in the output and I don't find out until I run the command again and get an error.

[2018-07-01 15:32] brainkim commented on #8243
It works when I strip my terminal of all emojis (yarn is acting like a dick and disregarding emoji false in .yarnrc) and pipe babel output to /dev/null. I sincerely do not understand why JavaScript™️ tools feel the desire to make their cli outputs memeable (oh god remember yeoman?) ![](https://i.stack.imgur.com/9VMFG.png)

[2018-07-01 16:18] xuyuanxiang opened #8244 "Typescript namespaces syntax should be supported"
## [Namespaces](http://www.typescriptlang.org/docs/handbook/namespaces.html) syntax should be supported

I’m trying to begin using Babel 7.x to compile my project, But failed and got the following error message：`SyntaxError: Namespaces are not supported.`

[2018-07-01 16:19] TrySound commented on #8244
They are legacy. Use es modules.

[2018-07-01 18:26] Zorgatone opened #8245 "toString method of custom class extending Array strips string line feed"
## Bug Report

**Current Behavior**
With the ES6 example when extending Array and defining a toString method code in the browser I get the correct output, with the code transpiled by Babel I don't get the correct output (multiline string should be printed to the console).

**Input Code**
- REPL or Repo link if applicable:

[code]

Babel transpiled output code:
[code]

**Expected behavior/code**
I

[2018-07-01 18:34] Zorgatone commented on #8245
More precisely (after some testing), it looks like you cannot add custom methods when extending Array, and in this case the toString custom method is ignored and Array.prototype.toString is called instead.

I tried creating another custom method with a new name which is not existing on Array.prototype and when calling it it throws that it's not a function

[2018-07-01 18:35] Zorgatone commented on #8245
Not sure if it's a browser issue or Babel, because the ES6 syntax doesn't give this error

[2018-07-01 19:32] nicolo-ribaudo commented on #8243
There is the irrational part of me which thinks that emoji are cool and we should add the `--no-emoji` flag, but probably we should just remove them if they cause problems.

[2018-07-01 19:34] nicolo-ribaudo commented on #8245
Extending built-ins (like `Array`) is not supported in Babel 6.
It works in Babel 7 :tada:

https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECyCuIAuBLAggJw2AntApgB5L4B2AJjJtngN4BQ900wA9qREhvMEqxgApC0ALzQADABpoeMVOgAzFCBABKaA2bMUC6AICEAbULScAXQB0-AG74MOAQIAOARnUiAfNADkpeAFsAIztvURExJBwnfFZdV1V1TS1mJAALDFYAd2hSfGyAUSx-AW8ASVJ

[2018-07-01 19:34] #8245 closed

[2018-07-01 19:38] brainkim commented on #8243
I think a `--no-emoji` flag is fine!

[2018-07-01 20:09] jridgewell commented on #8243
Removing it would probably be better. Even good terms break because of it.

[2018-07-01 20:19] xtuc commented on #8243
I would be against adding a new flag

[2018-07-01 21:21] dnalborczyk commented on #8229
works for me ...

[code]

or

[code]

or

[code]

[2018-07-01 21:43] justinfagnani opened #8246 "Publish JS modules build to npm"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I'd like to load Babel in a browser using the native module system that all browsers now support. Babel seems to be only distributed as CJS though.

**Describe the solution you'd like**

Publish standard JS modules, probably to a separate modules/ folder of the packages, along with a `module` field in package.j

[2018-07-01 21:47] justinfagnani opened #8247 "Change extensions of Babel source from .js to .fjs"
## Bug Report

**Current Behavior**
Non-JavaScript syntax is used in .js files.

**Expected behavior/code**
.js files should contain standard JavaScript, or at least syntax actually proposed to TC39.

**Possible Solution**
Change extensions of Babel source from .js to .fjs

[2018-07-01 22:30] jridgewell commented on #8247
What nonstandard syntax do we use?

[2018-07-01 22:30] nicolo-ribaudo commented on #8246
Even if we published Babel without transpiling modules, it would still rely on node semantics to esolve dependencies (e.g. `import "@babel/types"` -> `../somewhere_up_in_the_directories_chain/node_modules/@babel/types`).

[2018-07-01 22:32] nicolo-ribaudo commented on #8247
I guess that he talks about flow? Flow expects by default to find type annotations in `.js` files: https://flow.org/en/docs/config/options/#toc-module-file-ext-string

[2018-07-02 00:20] justinfagnani commented on #8246
That's ok, many tools like unpkg.com with the ?module query param, or the Polymer build system support rewriting just the import specifiers.

For future native support, there's the package-name-maps proposal which will let browsers use named imports.

[2018-07-02 02:44] loganfsmyth commented on #8246
Babel's standard workflow is specifically Node >= LTS, so if browser usage of this is the primary driver, I suppose we could consider an ESM build of `@babel/standalone`.

[2018-07-02 02:48] loganfsmyth commented on #8247
As far as I can tell there's zero reason for us to do something like this? Using experimental syntax in `.js` files is extremely common in the community. A feature request like this really needs to elaborate the why something should be considered.

[2018-07-02 02:51] loganfsmyth commented on #8236
@artola Multiple-pass resolution was an ongoing pain point for us in Babel 6 because it was a frequent source of confusion, especially when people forgot to install presets. By expecting a strict 1-1 mapping, it allows Babel to give much more useful feedback when errors happen. I don't think I'd be willing to revert that.

I'd certainly be happy to discuss alternative ways to handle how the 1-1 ma

[2018-07-02 02:52] #8235 closed

[2018-07-02 02:52] #8231 closed

[2018-07-02 03:54] stalkerg commented on #8111
Same problem with old Firefox 46.

[2018-07-02 05:18] amereii opened #8249 "Unexpected token import"
## :warning: Edit by @nicolo-ribaudo

If you are getting this error but you have already enabled a modules transform plugin, it can be caused by different configuration problems:

1. If you have added a modules transform plugin inside `.babelrc`, `.babelrc.js` or `package.json#babe`, keep in mind that those configuration files don't cross package boundaries.
    This means that they are not applie

[2018-07-02 06:45] artola commented on #8236
@loganfsmyth I do believe that module resolution for `presets` (may be others, `plugins`?) is not crystal clear, and with many edge cases, e.g., these cases can handle scoped packages with no specific prefix with similar result:

`presets: ['@company/rdk.babel-preset-xxx/'],`
`presets: ['@company/rdk.babel-preset-xxx/index'],`
`presets: ['module:@company/rdk.babel-preset-xxx'],`

I would like to j

[2018-07-02 07:31] damianobarbati commented on #8223
Did anybody have the chance to verify this? 😔

[2018-07-02 07:34] #8243 closed

[2018-07-02 10:58] kisenka commented on #6629
Any updates on this? This would be a really helpful!

[2018-07-02 12:56] Hypnosphi commented on #6629
[`useBuiltins: 'usage'`](http://new.babeljs.io/docs/en/next/babel-preset-env.html#usebuiltins) from babel 7 seems to do what's requested here

[2018-07-02 13:38] kisenka commented on #6629
@Hypnosphi cool, thanks. However it's not possible to use `useESModules` transform-runtime option here.

[2018-07-03 08:00] GHLandy opened #8251 "About @babel/polyfill Document"
I'm learning babel for personal configuration recently, and I want more details about @babel/polyfill.
I'v seached it on <www.npmjs.com> which info me to <https://babeljs.io/docs/en/next/babel-polyfill>，but there is nothing.

When the missing document will be udpated?

[2018-07-03 09:26] Dinfyru opened #8252 "Invalid Option: production is not a valid top-level option."
- Babel version(s): ^7.0.0-beta.51
- Node/npm version: Node 9.11.1, npm 5.6.0
- OS: node:8.11.2-alpine (docker)
- Monorepo [e.g. yes/no/Lerna]
- How you are using Babel: `loader`
.babelrc - https://pastebin.com/hT6HYTvz
error:
[code]

[2018-07-03 10:38] brokenmass opened #8253 "@babel/preset-env loading unneeded polyfill"
## Bug Report

**Current Behavior**
When using node 10.4.1 and the latest @babel/preset-env with targets `{node: 'current'}` the polyfill for `es6.array.sort` is used

**Expected behavior/code**
`es6.array.sort` polyfill should not be loaded as Array.sort is already supported in node.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

[code]
**Environment**
- Babel version(s):

[2018-07-03 12:19] alex83130 opened #8254 "Typescript + webpack encore (with Babel) + foundation [syntax error on IE 11]"
Hello all,

I have a problem for many hours now and i can't find the solution...

On my Symfony 3 project I've decided to use webpack-encore to manage my assets. I use ES6 JS and Typescript to develop in a modern javascript code. Then Babel transpile the code in ES2015 to be interpreted by all browsers. I use also the framework Foundation CSS.

My first issu is a Syntax Error, everythink is ok on

[2018-07-03 12:44] demurgos commented on #8254
ES6 and ES2015 is the same thing. Classes are part of ES2015, which is *not* supported by IE11.

What you want is to target ES5.

[2018-07-03 12:44] #8251 closed

[2018-07-03 12:44] hzoo commented on #8251
https://github.com/babel/website/pull/1678 wasn't merged correctly for some reason, it should definitely be there, so I just updated it.

[2018-07-03 12:51] hzoo commented on #8254
How are you importing the foundation js code? The issue is that you are running `foundation-sites/js/foundation.abide.js` which is file using ES2015 as shown here: https://unpkg.com/foundation-sites@6.5.0-rc.1/js/foundation.abide.js vs. using the dist file like in https://unpkg.com/foundation-sites@6.5.0-rc.1/dist/js/. It would be easiest to just import the dist file which is already compiled.

Ot

[2018-07-03 12:51] #8254 closed

[2018-07-03 13:23] alex83130 commented on #8254
Thanks to both of you for your quick answers

@demurgos Normaly I think that my generated code is already in ES5 according to my .babelrc
      `   "browsers": ["last 2 versions", "ie >= 11"] . `
But maybe I don't have the right target env config ?

@hzoo I tried to include directly the dist file but I need to the Foundation object. And if I import just the dist/js/foundation.js, Foundation object

[2018-07-03 13:43] GHLandy commented on #8251
Got it, thanks!

[2018-07-03 13:54] hzoo commented on #8252
Yeah `production` isn't an option in `@babel/preset-env`. So you wouldn't meant to indent it under `"env"` like ^

[2018-07-03 13:54] #8252 closed

[2018-07-03 13:57] nicolo-ribaudo commented on #8252
@hyunwoona  is right, your config should be like this:

[code]

[2018-07-03 13:57] nicolo-ribaudo commented on #8252
Whoops, too slow 😆

[2018-07-03 14:12] alex83130 commented on #8254
@hzoo   Other question : I watching your article, the babel v7 is the actual Master branch ?

[2018-07-03 15:00] existentialism commented on #8253
@brokenmass preset-env uses [compat-table](https://github.com/kangax/compat-table) for its data, which currently does not have node 10 mappings.

[2018-07-03 20:44] jsg2021 commented on #7705
I still get this in beta.51. I haven't been able to use any of the betas because of this issue. :(

[2018-07-04 04:23] Pukkamade opened #8257 "Pukkamade"

[2018-07-04 04:39] #8257 closed

[2018-07-04 04:39] existentialism commented on #8257
@Pukkamade closing for now, since it's empty... but feel free to open a new issue if you have one!

[2018-07-04 06:32] xtuc commented on #8159
I'm closing this because of the lack of issue template and activity since. Feel free to open a new one.

[2018-07-04 06:32] #8159 closed

[2018-07-04 06:36] xtuc commented on #8172
ping @babel/typescript

[2018-07-04 06:39] xtuc commented on #8249
Could you please provide the full stack trace? Are you using Webpack?

[2018-07-04 08:50] amereii commented on #8249
No

[code]

[2018-07-04 08:53] xtuc commented on #8249
You need to transpile JavaScript's modules to something that Node understands, you need to use https://babeljs.io/docs/en/babel-plugin-transform-es2015-modules-commonjs.

[2018-07-04 09:00] amereii commented on #8249
@xtuc I do the following

`yarn add transform-es2015-modules-commonjs --dev`

Next

[code]

But not fixed

[code]

[2018-07-04 09:46] xtuc commented on #8249
Could you please try with the babel/cli? Your configuration looks ok to me.

[2018-07-04 09:55] eranikid opened #8258 "Call to regeneratorRuntime precedes the requiring of babel-polyfill"
## Bug Report

**Current Behavior**
Upon transpiling a file of code with async function, babel generates the following line:
[code]
`regeneratorRuntime` is undefined by default, from my research I found that you need to add a `babel-polyfill` for it to be defined:

[code]
However in a transpiled code, call to `require('babel-polyfill');` goes after the call to `regeneratorRuntime`, thus `regenerat

[2018-07-04 10:05] Andarist commented on #8258
This is somewhat hack-ish, but you should be able to trick this issue by separating this into 2 files like this:
[code]

[code]

[2018-07-04 10:49] amereii commented on #8249
@xtuc I run

[code]

and then `node script-compiled.js` , the output is no same as `babel-core/register`

[code]

[2018-07-04 12:43] burnnat opened #8260 "GenericTypeAnnotation.id should allow QualifiedTypeIdentifier"
## Bug Report

**Current Behavior**
Current `babel-types` [documentation for GenericTypeAnnotation](https://babeljs.io/docs/en/next/babel-types.html#generictypeannotation) indicates the `id` property is of type `Identifier` but in some parsed expressions it can also have type `QualifiedTypeIdentifier`.

**Input Code**
- See the [parsed AST](https://astexplorer.net/#/gist/e79570d7bcf37d607b354b43ba

[2018-07-04 13:28] LeanidShutau opened #8262 "babel-traverse throws on collisions in different typescript ambient module declarations"
## Bug Report

**Current Behavior**
`@babel/traverse` tries to throw a `Duplicate declaration` error for key duplicates in different ambient module declarations in one file. `@babel/parser` with `typescript` plugin is used to build an AST.
https://github.com/babel/babel/issues/4640 explains why `Cannot read property 'file' of undefined` is thrown.

**Input Code**
[code]
**Output**

[code]

**Expec

[2018-07-04 16:16] richtera opened #8263 "With the latest Beta51 version (which is automatically pulled in by another module).... traces, traces,..."
## Bug Report

**Current Behavior**
When I use @babel/types there are a bunch of validators that now output console.trace with messages like "The node type SpreadProperty has been renamed to SpreadElement". I get thousands of them and I am not sure how to get rid of them. The calling parent is "babel-plugin-transform-object-rest-spread"

**Input Code**
I am not doing anything special other than us

[2018-07-04 16:46] nicolo-ribaudo commented on #8263
Can you show the auto-generated babel config and `package-lock.json`/`yarn.lock`?

[2018-07-04 17:08] sebinsua commented on #7749
Has any work been done on this?

[2018-07-04 19:47] nicolo-ribaudo commented on #8263
Beta packages should all be used with the same version, because we might have introduced breaking changes in the various betas. 😉

Babel 7 plugins will throw a nice error when they are used with the wrong babel/core version.

[2018-07-04 20:33] brokenmass commented on #8253
@existentialism well I don't think it's not node 10 specific.
It applies to any `node > 0.10` I guess

[2018-07-04 22:39] #8070 closed

[2018-07-05 07:17] dnalborczyk commented on #8150
@nairihar yes, es6 imports are hoisted.

I assume `bluebird` would be responsible for installing their Promise implementation onto the global object - they probably had a reason why not to do so.

anyhow, what you can do:

[code]

[code]

[code]

[2018-07-05 07:56] Andarist commented on #8150
Closing because it got answered. Feel free to comment further though. Thanks @dnalborczyk for answering this!

[2018-07-05 07:56] #8150 closed

[2018-07-05 08:45] dnalborczyk commented on #8223
hey @damianobarbati

I looked into this and it seems odd. I noticed when you change the hoc2 `decorator` to be just a wrapper function it works as you probably expect without an error message.

[code]

[code]

that being said, I'm not sure if trying to find out where and what the problem is might be worth pursuing, `PropTypes` are pretty much `deprecated` https://reactjs.org/blog/2017/04/07/react-

[2018-07-05 09:03] damianobarbati commented on #8223
PropTypes are not deprecated! They were just moved to independent package 😅

On Thu, 5 Jul 2018 at 10:46, dnalborczyk <notifications@github.com> wrote:

[2018-07-05 09:12] dooboolab commented on #7831
![image](https://user-images.githubusercontent.com/27461460/42313848-a59383fa-807e-11e8-8c7d-1bca3c3805e9.png)
I am suffering from this issue in `react-native@0.56` any idea?

[2018-07-05 09:20] dnalborczyk commented on #8223
`prop types` are pretty much super seeded by `flow` or `typescript` and the likes. just saying that the `near deprecation`, plus, the more important fact that the `decorator proposal` changed significantly, make a good point of not spending too much time on the issue -- if it is one.

obviously, this is just my opinion, and not my call to make.

[2018-07-05 10:50] #8120 closed

[2018-07-05 11:14] zloirock commented on #8253
@brokenmass as you can see in `compat-table`, it was fixed only in v8 6.3. Latest node result in  `compat-table`  for node 8.10 which use v8 6.2. So feel free to add to `compat-table` node 10 results.

[2018-07-05 12:38] ddivin-sc opened #8269 "Patterns as rest arguments - unexpected token"
## Bug Report

**Current Behavior**
Babel didn't understand spread operator in function as argument

**Input Code**

[code]

**Expected behavior/code**
I'am expected return 'cc' in console, but BabelJS throw an error

[code]

**Environment**
- Babel version(s): [e.g. v6.0.0, v7.0.0-beta.34]
- Node/npm version: [e.g. Node 8/npm 5]
- OS: [e.g. OSX 10.13.4, Windows 10]
- Monorepo [e.g. yes/no/Lerna]

[2018-07-05 13:01] arnsa opened #8270 "Uncaught ReferenceError: _extends is not defined"
## Bug Report

**Current Behavior**
Hello everyone,

I've been googling for the whole day and I can't seem to find a solution to my issue. Here's the part I am struggling with: https://gist.github.com/arnsa/5c75fcd226bfdb6a52769a2ec1bfe017

So when webpack tries to compile this, I get this error: Uncaught ReferenceError: _extends is not defined

I checked the compiled code and I saw that there's n

[2018-07-05 13:41] markusenglund opened #8271 "Implement tinier, even looser transforms (like buble)"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The output of some babel transforms is much larger than the equivalent output when using [buble](https://github.com/Rich-Harris/buble), even when using babel with loose mode. I assume babel's output is more accurate or spec-compliant or something, but the buble output works completely fine. Here's an example of

[2018-07-05 13:45] TitanKing commented on #7831
@dooboolab Did you manage to find a solution for this?

[2018-07-05 13:54] dnalborczyk commented on #8270
@arnsa could you assemble a simple minimal repro repository?

[2018-07-05 14:18] dnalborczyk commented on #8269
you probably mean `rest parameters`.

it doesn't seem to be limited to function args though.
[code]

[2018-07-05 14:31] mCodex commented on #7831
I've also tried:

[code]
in my package.json and then:

[code]

but still doesn't work :/

[2018-07-05 15:30] Titozzz commented on #7177
@dluksza As @Ashoat said in https://github.com/facebook/react-native/issues/20038, It is maybe related to babel 7 + react-native-modal.

[2018-07-05 15:36] loganfsmyth commented on #8270
Does it still fail if you remove `["import", { "libraryName": "antd", "style": true }]`? It could be that this plugin is doing something wrong.

As mentioned, it'd be helpful to have a functional example repository to reproduce the issue.

[2018-07-05 15:40] hzoo commented on #8271
On mobile, but real quick. In general we will implement loose mode when people send a PR, or ask for it. For the class syntax it already is a lot less in v7 so you should check that output.

[2018-07-05 16:03] loganfsmyth commented on #8271
In Babel 7 it's going to be easier to centralize the functions like `_inherits` into a single location, so I wouldn't really include the size of that function when considering the size of the output of Babel vs Buble. Given that, we're essentially comparing

[code]
vs
[code]

I'm not sure I see a ton of difference.

Is it the size of the helper functions that is your primary concern, and would cen

[2018-07-05 16:16] TrySound commented on #8271
Error messages adds too much bytes.

[2018-07-05 16:18] hzoo commented on #8271
Sure, we could implement a mode that is specifically for libraries. We could implement the options individually and have an option that does the loosest thing possible if you wanted it for a lib, but of course it's a case by case basis to determine what is "loose" to some and what is required for others.

[2018-07-05 16:24] hzoo commented on #8184
I believe we are going with 3 now: Disallow pattern matching entirely and treat strings as explicit paths.

https://github.com/babel/notes/blob/master/2018/2018-07/july-02.md#rc and ask to use a regex in a `.js` config file otherwise

[2018-07-05 16:32] loganfsmyth commented on #8271
@TrySound Which error messages? What qualifies as too many bytes? It is hard to discuss this stuff without specifics.

[2018-07-05 16:40] TrySound commented on #8271
I'm okay with current implementation. I think the critic is about messages in `_classCallCheck`, `_possibleConstructorReturn` and `_inherits` helpers
[code]

My point is these messages produces more safe code. And since helpers are reused there's no reason to care about size even more. Project shouldn't be considered with only one number via final bundle size. There is a size of library code and r

[2018-07-05 16:48] loganfsmyth commented on #8271
@TrySound Ahh gotcha, thanks for clarifying :)

[2018-07-05 16:50] Andarist commented on #8271
Most (all of them?) are not produced by loose mode, so either way it doesn't matter much at this point.

[loose output](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=true&code_lz=MYGwhgzhAEDCCWAnUBTaKAeAXFA7AJjAMoAWYADmgN4BQ00wA9rhFogK7BaOLQAU0RGHzx2MAJTRa9ehHaVEfcQG46MrCXgQAdEJFjoAXmgatq-gF8aasIhRh-k6TLtZ2iXNACyYDdoAKAJLQAFTeviTa5IwA7gKmOnqiEAA00ABM0CpqVhZ

[2018-07-05 16:52] TrySound commented on #8271
I get it. repl uses babel6 :)

[2018-07-05 17:09] hzoo commented on #8271
You can actually change the repl build to point to a different version like another tag or master which is v7. https://babeljs.io/repl/build/master/

[2018-07-05 17:12] TrySound commented on #8271
![image](https://user-images.githubusercontent.com/5635476/42337510-b0aad728-808f-11e8-9813-0b807817048f.png)

[2018-07-05 17:47] markusenglund commented on #8271
@loganfsmyth I assume you're referring to `@babel/runtime` when you're talking about centralizing helpers? The problem I've had with that package is that it seems to produce larger output than the normal internal helpers. It also imports bunch of corejs polyfills for features, some of which are supported back to IE 9. Any word on why the helpers are different in `@babel/runtime`?

[2018-07-05 17:47] rubennorte opened #8272 "Flow type arguments in function calls are not visited"
## Bug Report

**Current Behavior**

Babel doesn't visit explicit type arguments in new and call expressions.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

I expected the `GenericTypeAnnotation` to be visited and the type identifier to be modified.

**Environment**
- Babel version(s)

[2018-07-05 17:49] TrySound commented on #8271
useBuiltIns: true produces exactly the same output as rollup plugin babel by default and do not import any polyfills.

[2018-07-05 17:49] hzoo commented on #8271
This is something we are fixing in v7 right now 🙂: https://github.com/babel/babel/pull/8266

It is confusing for people to use so we are splitting it ^, you can check the PR. It won't use anything in core-js by default unless you need it.

[2018-07-05 18:29] markusenglund commented on #8271
Going off-topic a little but here, but I still don't get why `@babel/runtime` has different helpers than the normal ones. Is this being changed?

Example: This is the objectWithoutProperties helper in `@babel/runtime 7 beta`:

[code]

[2018-07-05 18:43] TrySound commented on #8271
https://github.com/babel/babel/pull/8261

[2018-07-05 18:48] markusenglund commented on #8271
Ok, it sounds to me like using `@babel/runtime` with `useBuiltIns: true` should be the recommended way to use babel for libraries?

[2018-07-05 18:50] TrySound commented on #8271
Yes. And according the latest issues/PRs it will be default soon.

[2018-07-05 19:58] #8272 closed

[2018-07-06 01:09] hzoo commented on #7770
Ok as of https://github.com/babel/babel/releases/tag/v7.0.0-beta.52, I ran `npm deprecate` on the yearly/stage presets. Will be annoying for anyone using `^` which we have recommended against while in pre-release but that's why we are just doing it for the latest release to give people time if you are already on v7. If someone wants all the plugins, or the equivalent, you are always able to make y

[2018-07-06 02:49] Aladdin-ADD opened #8275 "using preset-stage-1, got "You must pass 'pipelineProposal' option to @babel/preset-stage-1""
## Bug Report

**versions**:
[code]

**config**:
[code]
it's working before, but now got error(might be related to the new release)
[code]

[2018-07-06 02:56] hzoo commented on #8275
Hey thanks for the issue, this is what I mentioned in https://github.com/babel/babel/releases/tag/v7.0.0-beta.52. Yeah it's as the message says, you will have to specify the option in the options for Stage 1. We are also deprecating stage 1 preset since it seems better to just ask people to explicitly opt-in to proposals or make their own preset.

Also for your particular config, Stage 1 includes

[2018-07-06 02:56] #8275 closed

[2018-07-06 07:50] Mati365 opened #8276 ""The pipeline operator requires a proposal set error" during compile"
My build crashes with: ` The pipeline operator requires a proposal set. You must pass the 'pipelineProposal' option to @babel/preset-stage-0` error. I modified webpack.config.js by adding that flag to presets but it still not work.

[code]

Anyone know how to fix it?

[2018-07-06 08:06] Mati365 commented on #8276
passing `minimal` to `pipelineProposal` fixed the problem. Can you provide more info in error log about it?

[2018-07-06 08:59] gengjiawen commented on #8184
@hzoo Is there a hotfix to fix this issue ?

[2018-07-06 09:19] liubin915249126 commented on #8041
@the-simian but i got this "You gave us a visitor for the node type PrivateName but it's not a valid type"

[2018-07-06 09:19] mengli404 opened #8277 "@babel/plugin-proposal-pipeline-operator version upgrade produce problem - 'proposal' must be one of: minimal While processing"
before upgrade to **_@babel_plugin-proposal-pipeline-operator@7.0.0-beta.52@@babel**, everything is well , after upgrade version, produce one problem:
[code]

[2018-07-06 09:20] Andarist commented on #8269
Interestingly this doesnt work in Chrome
[code]

[2018-07-06 09:23] darind opened #8278 "Maximum call stack size exceeded when using @babel/standalone in Angular application"
## Bug Report

**Current Behavior**

Maximum call stack size exceeded error is thrown when using `@babel/standalone` in a newly created Angular 6 application.

**Input Code**

Create an Angular app using `@angular/cli` and install the `@babel/standalone` package:

[code]

Try using Babel inside `src/main.ts`:

[code]

Build the Angular application in production mode so that the UglifyJs plugin is

[2018-07-06 09:31] mengli404 commented on #8277
@nicolo-ribaudo I have added these  `["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }]`  in `babelrc.js`, but it still can not work

[2018-07-06 09:45] nicolo-ribaudo commented on #8277
What error do you get now? Can you show your configuration?

[2018-07-06 09:58] mengli404 commented on #8277
@nicolo-ribaudo  my configuration in webpackrc.js:
[code]

the error is still exist:
[code]

[2018-07-06 10:41] nicolo-ribaudo commented on #8277
The configuration looks correct. Which software are you using to run it? Maybe it adds another instance of the pipeline proposal plugin.

[2018-07-06 11:21] mAAdhaTTah commented on #8276
@nicolo-ribaudo Sure. I'll also revisit the error message for the core plugin itself (#8277).

[2018-07-06 12:19] tw0517tw opened #8280 "Class property type definition is compiled to assigning `void 0`"
## Bug Report

**Current Behavior**
Compile Flow type definitions of class properties into `void` assignments.
[code]

**Input Code**

Please check https://github.com/tw0517tw/babel-class .
Input is in `src/index.js` and output is in `lib/index.js`.
Misbehavior file in `test.js`.

[code]

**Expected behavior/code**
Not generating the `_defineProperty(this, "prop", void 0);` lines.

**Babel Configu

[2018-07-06 12:31] hzoo commented on #8184
Yeah, this was introduced due to https://github.com/babel/babel/pull/8038, but since this is a regression and don't have the time to properly implement ^, we can do a revert.

Sorry for the churn, didn't understand the upgrade and ecosystem affect.

[2018-07-06 12:33] tw0517tw commented on #8280
But it overrides what I set in `super()`, shoudn't the definition line come before `super()`?

[2018-07-06 12:45] #8163 closed

[2018-07-06 12:54] nicolo-ribaudo commented on #8280
It's correct, class fields are defined _after_ the super constructor has been called. I think that declaring the field like `foo: type = this.foo` might work.

[2018-07-06 13:13] msz commented on #6487
👍 . I would also like to do the same thing as @NodeGuy.

[2018-07-06 13:44] throrin19 commented on #8063
The bug is already present in Beta 52

[2018-07-06 13:48] tw0517tw commented on #8280
Huge thanks for your help!

[2018-07-06 16:32] josezy commented on #1625
@loganfsmyth How can I make it include dependencies?

[2018-07-06 17:01] #8276 closed

[2018-07-06 20:44] kaidjohnson commented on #7877
@eubenesa Thanks! That did the trick. Sorry for the delay in getting back to you. Switching to `babel.config.js` with the latest (now v7.0.0-beta.52) seemed to do the trick.

[2018-07-06 20:44] #7877 closed

[2018-07-07 03:49] mengli404 commented on #8277
@nicolo-ribaudo my env as below:
IDE: Vistual Studio Code
Terminal: iTerm2

still the same error msg before

[2018-07-07 04:19] destinatis commented on #8277
I have this error too.

`['@babel/preset-stage-0', { decoratorsLegacy: true, pipelineProposal: 'minimal' }]`

This don't work. >:(

[2018-07-07 04:32] hzoo commented on #8277
Weird

[code]

either with the preset or the plugin should work. I would make sure everything is the same version (beta.52) and clear cache if necessary (`node_modules/.cache`, or `BABEL_DISABLE_CACHE=true` with `@babel/register`).

[2018-07-07 06:05] moafim opened #8284 "Property right of AssignmentExpression expected node to be of a type ["Expression"] but instead got null"
## Bug Report

**Current Behavior**
React-Native App on Both iOS and Android got the Error:
bundling failed: TypeError: Property right of AssignmentExpression expected node to be of a type ["Expression"] but instead got null

**Input Code**
[code]

[code]

**Expected behavior/code**
Run App As Before

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel ve

[2018-07-07 06:23] loganfsmyth commented on #8284
Would you be able to provide a sample file that reproduces the issue?

[2018-07-07 06:31] moafim commented on #8284
@loganfsmyth Unfortunately I can't

[2018-07-07 06:35] loganfsmyth commented on #8284
You don't necessarily need to provide your actual production code, but you could trim it down to figure out exactly what decorator is causing the issue, then you could make an example without your original code.

[2018-07-07 06:39] moafim commented on #8284
@loganfsmyth I think it's about ` "babel-plugin-transform-decorators-legacy": "^1.3.5"`
[code]

[2018-07-07 06:39] loganfsmyth commented on #8284
Hmm actually, I didn't see that you'd edited the original issue to be specific to Babel 7.x. On Babel 7's beta, `babel-plugin-transform-decorators-legacy` is not the right thing to use, as noted here: https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy#babel--7x My guess would be that if you use the `@babel` plugin, it'll work.

[2018-07-07 06:48] moafim commented on #8284
@loganfsmyth I've install ` "@babel/plugin-proposal-decorators": "^7.0.0-beta.52"` then change `.babelrc`'s `"plugin"` attribute to `"plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]` but the Error stills yet.

[2018-07-07 10:40] dimapaloskin commented on #7831
Looks like this bug related with this commit: https://github.com/babel/babel/commit/b8dcd6f593955be2779b770182a4e8930288cdaa
which totally renamed `callee` to `expression`

The quick fix:
https://github.com/babel/babel/blob/master/packages/babel-plugin-proposal-decorators/src/transformer-legacy.js#L49

`const expression = decorator.expression;` -> `const expression = decorator.expression || decora

[2018-07-07 12:06] otbe opened #8285 "@babel/preset-env adds polyfills based on import names"
## Bug Report

**Current Behavior**
It adds polyfills for things that dont need ones. It looks like it adds these polyfills solely based on the import name.

For example:
[code]
will be translated to
[code]
Please have a look at my test repo. If you change the name to "link2" no polyfill is added.

**Input Code**
Repo
https://github.com/otbe/babel-7-preset-env-wrong-polyfills

**Expected behavior/

[2018-07-07 14:58] Globegitter commented on #8193
@loganfsmyth thanks for explaining that really makes some sense as to why this is happening. Yeah so either the `basedir` would have to be the current directory when passing in files or the `basedir` would stay as it is and would just be taken into account when when putting the file into out-dir.

Either way, I would be happy if it could make that into 7.x, either introduced as a breaking change o

[2018-07-07 15:51] mengli404 commented on #8277
Still got the same error, how can I contact you @hzoo , can you help me to debug the problem?

[2018-07-07 16:14] nicolo-ribaudo commented on #7831
@dimapaloskin That is only a problem when you are using different versions of the various packages.

[2018-07-07 16:15] nicolo-ribaudo commented on #8277
Can you create a repository which reproduces the problem?

[2018-07-07 16:17] xtuc commented on #7749
@sebinsua I think that no progress has been made yet. Do you want to work on it? Feel free to ask questions on our Slack.

[2018-07-07 16:31] mAAdhaTTah commented on #8277
If the latest version isn't published yet, you'd still be getting the same error, no?

[2018-07-08 04:32] amereii commented on #8249
@xtuc , Is it a bug?

[2018-07-08 06:02] mengli404 commented on #8277
If I changed the version from beta52 to _@babel_plugin-proposal-pipeline-operator@7.0.0-beta.46@@babel, everything is fine, once version update, even add
[code]
that's didn't work, sorry, I can not push my code repo to public repo for some security issue problem, @destinatis can you help to share your code to reproduce the problem?

Finally, I degrade version to beta.46 to solve this problem.

[2018-07-08 07:31] nicolo-ribaudo commented on #8277
@mengli404 You could create a reduced test case (config + command to run + small sample file).

[2018-07-08 07:35] nicolo-ribaudo commented on #8249
What Babel version are you using? In the issue description you said 7.0.0-beta.44 but all your Babel plugins are version 6.

[2018-07-08 10:04] amereii commented on #8249
https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/yarn.lock#L12
https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/yarn.lock#L1348

https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/package.json#L68-L73

Is something wrong?

[2018-07-08 12:38] #7868 closed

[2018-07-08 13:49] #8271 closed

[2018-07-08 18:26] nenagvozdenovic opened #8288 "Svakako je potrebno pružiti podršku"
--------------^ Click "Preview" for a nicer view!

Help support Babel!

Babel has always been a community project, not really backed or owned by any single (or group) of companies. While some maintainers used to work at Facebook (and Henry at Adobe) no one was working on it full time and there certainly isn't a huge company or team anywhere doing all this work.

---

As a group of volunteers you c

[2018-07-08 19:15] xtuc commented on #8288
This seems to be a mistake. I'm closing it, feel free to reopen it if needed.

[2018-07-08 20:05] #8288 closed

[2018-07-09 03:50] Daniel15 commented on #6200
Ping... Can we enable this?

[2018-07-09 06:08] arnsa commented on #8270
@loganfsmyth I tried removing that line, but it still fails.

@loganfsmyth @dnalborczyk here's the repo where you can reproduce the error: https://github.com/arnsa/babel-extends-error-test

To run it, run `npm install && ./node_modules/.bin/webpack-dev-server --mode development`

[2018-07-09 08:02] thientnc-ibl commented on #8284
@loganfsmyth
you MUST use exactly version `"@babel/plugin-proposal-decorators": "7.0.0-beta.47"`. The `7.0.0-beta.47` is same as the version of `@babel/core` that is used by react-native 0.56. Besides, you MUST install `"babel-preset-react-native": "5.0.1"` as react-native 0.56 upgrade instruction
<img width="758" alt="screen shot 2018-07-09 at 3 01 26 pm" src="https://user-images.githubuserconten

[2018-07-09 08:06] the-spyke commented on #7517
I like the idea that `env` preset will use module transformation only if the `environment` (webpack/browser/node/etc) needs it. But, of course, it should be overridable in the config. Modules aren't really different to, lets say arrow functions.

But if Webpack team suggest to turn off module transformation by default, maybe it time for them to deal with the `__WEBPACK_IMPORTED_MODULE_` problem 😅

[2018-07-09 11:58] XhmikosR commented on #8184
Closing this since #8281 has been merged.

[2018-07-09 11:58] #8184 closed

[2018-07-09 15:01] ralmo commented on #7565
@dapetcu21  I might be experiencing a pretty similar behavior. Were you able to solve this issue?

[2018-07-09 15:09] existentialism commented on #8270
@arnsa you'll want to remove the unnecessary `plugins` in your [webpack config for babel-loader](https://github.com/arnsa/babel-extends-error-test/blob/master/webpack.config.js#L40).

Also, you can remove simplify your babelrc a bit by removing es2015 (since you're using env), and es2015-destructuring (since it's already included).

[2018-07-09 19:58] rtsao commented on #8195
A couple minor adjustments to the RFC:

[code]

After some more deliberation, I think this is terser and less confusing. I also forgot there needs to be a `"normal"` option which corresponds to default behavior (i.e. `{loose: false, spec: false}`)

[2018-07-09 20:55] laquereric commented on #8246
I agrre that 'in-browser' application would be a 'big win'. I am investigating another application scenario as well where Node would NOT be in the picture. An 'ESM build of @babel/standalone' would be great. I would be glad to help if I can.

[2018-07-09 21:11] sant123 opened #8294 "Wrong path debug when using @babel/register"
## Bug Report

**Current Behavior**
Hi, I'm using @babel/register with Visual Studio Code, however when I review my `console.log`s I see the path where is printed is wrong. The path is `debug:/home/sant821/app.js`.

**Expected behavior/code**
The path should be where I'm executing my code. `/home/sant821/Desktop/babel-example/app.js`

**Babel Configuration (package.json)**
Only running @babel/regi

[2018-07-09 21:45] stevenvachon opened #8295 "Unexpected token with nested object spread"
## Bug Report

**Current Behavior**
[code]

**Input Code**
[code]

**Expected behavior/code**
It should accept the code as valid input.

**Babel Configuration (.babelrc, package.json, cli command)**
I can reproduce it with the public Babel repl with "babel-plugin-syntax-object-rest-spread" plugin.

**Environment**
- Babel version(s): 6.26.0
- Node/npm version: Node 10.3.0/npm 6.1.0
- OS: OSX 10.13

[2018-07-09 21:49] hzoo commented on #8295
Thanks for the report, but I think it's expected that it errors? I assume you are trying to return an object? For that, you'll need to wrap the `{}` in parens because otherwise the syntax looks like it's a block and it's ambiguous. Something like this

[code]

[2018-07-09 21:49] #8295 closed

[2018-07-09 21:53] stevenvachon commented on #8295
Sorry, typo. It still errors with the parenthesis.

[2018-07-09 22:00] stevenvachon commented on #8295
My project is using [abel-plugin-transform-object-rest-spread](https://www.npmjs.com/package/babel-plugin-transform-object-rest-spread) and my repl is using [babel-plugin-syntax-object-rest-spread](https://www.npmjs.com/package/babel-plugin-syntax-object-rest-spread). Which one should we be using?

[2018-07-09 22:20] rtsao commented on #8195
@hzoo should this issue be added to https://github.com/babel/babel/milestone/15?

[2018-07-10 00:12] rtsao commented on #8285
I suppose this is a case that demonstrates how broken the `"usage"` option is:  https://github.com/babel/babel/pull/8183#issuecomment-398931001.

[2018-07-10 01:12] bradennapier commented on #8276
So this is now required all the sudden?  I am not using pipeline but just using stage-0 requires this or errors.... seems stupid - just dont expect it if it is not provided.

[2018-07-10 01:13] bradennapier commented on #8277
this should definitely not be required to use stage-0 if you dont plan to use this at all... i am not using pipeline anywhere and now i am running into a random blocker for no reason

[2018-07-10 01:41] bradennapier commented on #7795
This doesnt work for node...

### .babelrc

[code]

### Debug Output:

[code]

### Transpiles To:

[code]

### When Run by Node 8.10 as specified:

[code]

[2018-07-10 01:43] mAAdhaTTah commented on #8276
Stage presets are being removed (#8293). Stage-0 means "all proposals Stage 0 and above", so 0+, which includes the pipeline operator, which is Stage 1.

[2018-07-10 01:45] bradennapier opened #8297 "@babel/preset-env fails to polyfill Promise#finally"
When using preset-env as designed it will not add the `Promise#finally` polyfill.  Promise#finally did not ship until NodeJS v10+ so it should be doing it all the way up to that.

### package.json snippet

[code]

### .babelrc

[code]

### Debug Output:

[code]

### Transpiles To:

[code]

### When Run by Node 8.10 as specified:

[code]

[2018-07-10 01:49] bradennapier commented on #8297
Interestingly, it does work when using "entry" and including `@babel/polyfill` - so this is purely a problem with `usage` not detecting the use of `Promise#finally` at all.

[code]

[2018-07-10 01:51] mAAdhaTTah commented on #8277
Babel is still in beta, so you should expect breaking changes. You can lock your version to avoid problems like this.

Stage 0 proposals are inherently unstable, so should be used with caution. This is part of why they're being removed, because it's too easy to opt into proposals you're not using. If you're going to use unstable proposals, it makes more sense to force you to pick and choose the on

[2018-07-10 01:53] bradennapier commented on #8297
Also note that `include` appears to also be broken.

[code]

[code]

[2018-07-10 02:00] existentialism commented on #8297
Yep, there's currently no `usage` mapping for `.then`, `.catch` or `.finally`.

The `include` option is a bit trickier in `usage` mode, what would you expect it to do, add it to every file? It works`entry` has the `@babel/polyfill` import/require to add it.

[2018-07-10 02:04] bradennapier commented on #8297
Might be nice to add a warning since that is a clearly unsupported feature that users would likely expect to be working.  It seems it could also warn users that it wont work since it can clearly parse the syntax and know its there easily enough.

Or is this just an oversight that needs to be addressed?

I had to add transform-runtime and bulk up the package quite a bit :(

It also seems that it fa

[2018-07-10 02:11] hzoo commented on #8276
I understand you think it's stupid, but this is how the Stage presets have always worked. Stage 0 includes Stage 1, and thus we would have to pass all the options down if we make it required.

Since this is frustrating, this is also why we are going to remove the Stage presets since it's clear either users include proposals they don't need/use/know about and everyone can always make their own inst

[2018-07-10 06:09] arnsa commented on #8270
@existentialism that's a good catch! Even though after I removed babel-loader plugins from the webpack config, I am still getting this error. The only way this error is gone is when I remove BOTH babel-loader plugins from webpack config AND `["import", { "libraryName": "antd", "style": true }]` from my `.babelrc` file. But then there's another problem - ant design's styles are not being imported.

[2018-07-10 06:56] nicolo-ribaudo commented on #8285
What if `./test` contains this code?
[code]

[2018-07-10 08:40] KidkArolis commented on #5667
This is causing me endless frustration with the multitude of tools still using babel 6.. It takes 60s for `require('babel-register')` to kick in in any project calling that.

[2018-07-10 09:48] TrySound opened #8298 "Babel loose mode is unsafe with array spread operator"
## Bug Report

I just went though two bugs with array spread operator.

**Spread of array constructor call**

[code]

**Spread of string**

[code]

**Expected behavior/code**
I think this loose mode is too loose and could be slightly improved with small helpers. This things are the only problems I had with loose mode in a year.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

[2018-07-10 10:39] dapetcu21 commented on #7565
Not really. In the meantime I moved on from that project.

[2018-07-10 10:50] Andarist commented on #8298
Well, this is a cost of using loose mode. It's not always spec-compliant and such cases might bite you. I don't think holey arrays are popular enough to warrant introducing `toConsumableArray` in the loose mode.

Maybe we could try to track if array might be holey and use this helper IF we know that it is - it would be limited only to the simplest situations though - analyzing runtime values with

[2018-07-10 10:53] nicolo-ribaudo commented on #8298
Loose mode assumes thematic your code behaves "in the most obvious way": Babel assumes that you are only using array spread with "normal" (e.g. not holey) arrays.

[2018-07-10 14:03] hzoo commented on #7770
Made https://github.com/babel/babel/pull/8293

[2018-07-10 14:31] existentialism commented on #8270
@arnsa I'm not terribly familiar with `antd`, but from the looks of `babel-plugin-import`, it has a dep on @babel/helper-module-imports@7.0.0-beta.34... we recommend using matching versions of the betas, so I'd start there?

Ref:
https://github.com/ant-design/babel-plugin-import/blob/master/package.json

[2018-07-10 20:18] felippepuhle commented on #7879
thanks @nicolo-ribaudo

[2018-07-10 21:42] damianobarbati commented on #8223
@dnalborczyk both `flow` and `typescript` are intended for `compile-time type-checking` while prop-types are intended for `runtime type-checking`.
And not everyone is willing to add the flow/ts typechecking layer in their codebase!

Can you please share any link or resource mentioning their near deprecation?

Thanks for the help!

[2018-07-10 22:19] #7748 closed

[2018-07-10 22:29] nicolo-ribaudo opened #8300 "Yield and await in class methods keys"
## Bug Report

**Current Behavior**
Babel generates invalid code (yield or await inside a normal function)

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
It should alert `3`

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): v7.0.0-beta.52

**Possible Solution**
a) Compute the keys before the IIFE
b) M

[2018-07-11 00:09] sebinsua commented on #7749
@xtuc Where's the Slack?

[2018-07-11 01:31] tbremer commented on #8148
Not sure if this has been addressed, but adding a +1 to the request.

With ESM support in Node barreling towards us it'd be _really_ helpful to be able to use `.mjs` modules and Flow at the same time.

[2018-07-11 07:57] nicolo-ribaudo commented on #7749
https://babeljs.slack.com/ (https://slack.babeljs.io/)

[2018-07-11 09:21] matteoferigo opened #8301 "Typescript type checking in Babel 7"
When I run babel 7 on typescript files it simply transpile them but doesn't type-check.

How can I check that types are matching? Is there a plugin for babel 7?
I tried to use [tsc](https://www.npmjs.com/package/tsc) but... it's deprecated. Any solutions?

Thanks

[2018-07-11 09:32] TrySound commented on #8301
`tsc` is deprecated in favour of `typescript` package
![image](https://user-images.githubusercontent.com/5635476/42563147-2df7518c-8506-11e8-9cad-74aadf67b33d.png)

Babel is only for faster transpiling. Use ide and `typescript` package cli to check types.

[2018-07-11 09:39] nicolo-ribaudo commented on #8301
@TrySound is right: Babel is only meant for transportation (it supports things that typescript doesn't). You still need to use typescript to check your types.

[2018-07-11 09:39] #8301 closed

[2018-07-11 09:55] prakashsanker opened #8302 "babel-register ignore is not ignoring node_modules"
**Current Behavior**

When I use babel-register in order to do server side rendering with react, I get TypeErrors that are inside my node_modules.

**Input Code**
I have an express server that looks like this -
[code]

This is started like so

[code]

My bootstrap.js looks like this
[code]

**Expected behavior/code**
I expect the code to transpile properly. However, I get this

[code]

I have alre

[2018-07-11 12:20] xuqinggang commented on #7831
Note: please ensure babel plugin package version is consistent!
![image](https://user-images.githubusercontent.com/13174560/42570853-d4ad84c4-8547-11e8-8604-5d93083672b2.png)

[2018-07-11 12:35] nicolo-ribaudo commented on #7831
You shouldn't use `^` in beta versions: they could get out of sync

[2018-07-11 14:37] PaijoRX commented on #7627
How to fixing the issue?

[2018-07-11 15:18] jsnajdr commented on #7795
@bradennapier That indeed seems to be a bug. In order for `useBuiltIns: "usage"` to add the `finally` polyfill, there would need to be a record for `finally` in the `instanceMethods` map [here](https://github.com/babel/babel/blob/6dca0ff9bf75bc71039ca4eca045a7f17e93a25e/packages/babel-preset-env/src/built-in-definitions.js#L32). But it's missing.

[2018-07-11 15:18] dingziqi opened #8303 "[babel-traverse] there need an error handler when call getKey of non-object"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s):  6.26.3
- Node/npm version: Node 8.11.3/npm 5.

[2018-07-11 15:22] loganfsmyth commented on #8303
This sounds like a bug in `add-module-exports`. It shouldn't be calling `.get` if the path doesn't point at a valid node.

[2018-07-11 15:22] #8303 closed

[2018-07-11 17:00] hzoo opened #8304 "Move now Stage 4 proposals into preset-env"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Move relevant proposals into preset-env from Stage 3.

- [x] Lifting template literal restriction (part of template literals already)
- [x] s (dotAll) flag for regular expressions, done already
- [ ] Rest/Spread Properties, part of shippedProposals
- [ ] RegExp Unicode Property Escapes, part of shippedProposals

[2018-07-11 18:20] ankurkaushal360 opened #8305 "Using `>=` only seems to target minimum version for browsers"
## Bug Report

**Current Behavior**
Targeting browsers with greater than or equal to only seems to target the minimum browser version.

For example if I want to target `ie >= 10`, it should include 10 and as well as 11 but only seems to target 10.

Here's the output:

[code]

**Input Code**

`N/A`

**Expected behavior/code**
If I have a `>=10` for a browser version (In case it is IE), it should ta

[2018-07-11 18:29] hzoo commented on #8305
Thanks for making an issue! This is intentional though,  https://babeljs.io/docs/en/next/babel-preset-env.html#determine-the-lowest-common-denominator-of-plugins-to-be-included-in-the-preset

I think about what it means to target a browser and to target 2 would mean to use the LCD unless you are going to output multiple files, otherwise it would potentially fail on the other? If you support a brow

[2018-07-11 18:29] #8305 closed

[2018-07-11 19:10] haggholm opened #8306 "Babel 7: Re-exporting both default and named symbols fails to export named symbols"
## Bug Report

**Current Behavior**
A module is importing both the default and named (via wildcard) symbols from a non-ES module, and re-exporting them. We use this in various scenarios either to have internal packages that can synchronise versions of 3rd parties, or for platform selection with React Native.

Since `import { Foo } from "react"` works, I would expect `export * from "react"` to work

[2018-07-11 19:15] smerat commented on #8306
Any luck with this?

[2018-07-11 19:20] haggholm commented on #8306
…Or use `_interopRequireWildcard`, or…well, something. At any rate, it seems to me that `export * from "react"` should work the same regardless of whether or not there’s a default import!

[2018-07-11 19:26] joepuzzo opened #8307 "Cannot read property 'join' of undefined ( preset-stage-0 )"
## Bug Report

**Current Behavior**
When i try to run webpack I am getting the following error

[code]

**Input Code**
- https://github.com/joepuzzo/informed

[code]

**Environment**
- Babel version(s): [e.g. v6.0.0, v7.0.0-beta.34]
- Node/npm version: Node: 9.5.0 NPM: 5.8.0
- OS: OSX 10.13.5
- Monorepo NO
- How you are using Babel: Webpack

**Additional context/Screenshots**
My project uses story

[2018-07-11 19:51] mAAdhaTTah commented on #8307
First, stage-# plugins are deprecated, so you should definitely move off of those.

Second, this is definitely on me; I exported the list of pipeline proposals from the syntax plugin but imported it from the proposal plugin.

However, given that those are deprecated, do we want to fix it?

[2018-07-11 19:58] joepuzzo commented on #8307
Ok so basically i should stop using stage-0 preset? I attempted to remove it and now im getting `Plugin/Preset files are not allowed to export objects, only functions. In node_modules/babel-preset-stage-0/lib/index.js` Even though i removed it from the babel config.

[2018-07-11 20:01] joepuzzo commented on #8307
And also side question. If i remove stage zero how else can i achive this syntax in side of classes
[code]

[2018-07-11 20:02] hzoo commented on #8307
[code]

[2018-07-11 20:07] joepuzzo commented on #8307
@hzoo Thanks!

[2018-07-11 23:01] larsgw commented on #1286
`ie8: true` in the uglify json config is not doing it for me on IE9 and babel `7.0.0-beta.49`. Either way, it also happens on unminified builds.

[2018-07-12 02:01] a1p4ca commented on #8307
Are stage-# plugins really deprecated? I can't find any documentation about that.

[2018-07-12 05:50] sxyshirly commented on #7627
@existentialism Hi, I'm also having this issue and i'm a newer of babel. i feel confused with so many babel deps.
.babelrc
{
    "presets": ["env"]
}
and the error still exists.
ERROR in ./src/App.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: Cannot read property 'bindings' of null
    at Scope.moveBindingTo (E:\node_modules\@babel\traverse\lib\scope\index.js:8

[2018-07-12 07:06] LinFeng1997 commented on #8249
try https://www.npmjs.com/package/babel-plugin-dynamic-import-node

[2018-07-12 07:42] damianobarbati commented on #8307
@hzoo we now have to manually include every plugin listed in https://babeljs.io/docs/en/babel-preset-stage-3 and https://babeljs.io/docs/en/babel-preset-stage-2?

[2018-07-12 08:09] arnsa commented on #8270
@existentialism just tried to update babel packages to @7.0.0-beta.34, but I get the same error. Here's my package.json:

`
{
  "name": "admin-app",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "flow": "./node_modules/.bin/flow",
    "flow:coverage": "./node_modules/.bin/flow-coverage-report -i 'src/**/*.js' -t html -t json -t text --threshold 75",
    "build

[2018-07-12 08:39] arnsa commented on #8270
Ok, I've finally found a solution: just downgraded babel-plugin-import version to 1.6.0 and now it works :D. Thank you all for your help!

[2018-07-12 08:39] #8270 closed

[2018-07-12 12:13] petrdanecek opened #8309 "Babel 7 ignores files outside of project directory"
I think I'm missing something. I recently upgraded up to latest Babel 7 and got lot of issues related to my webpack configuration. I was able to solve all of them expect that I'm not able to import webpack.parts once they are outside of my project directory. I think my problem is related to below symptoms:

this doesn't work, babel ignores the content and nothing is "transpiled"
`./node_modules/.b

[2018-07-12 13:25] raulpineda opened #8310 "Components get hoisted outside of valid scope"
## Bug Report

**Current Behavior**
Using plugin-transform-react-constant-elements, when trying to render a component inside a map, the ref gets hoisted outside of the valid scope if said component doesn't include the current identity or tries to access a property of an object directly

**Input Code**
[code]

gets transformed into

[code]

**Expected behavior/code**
I would expect both cases to cr

[2018-07-12 13:33] rickbeerendonk commented on #8307
If the plugins are deprecated, they should still work without an error, right? Otherwise remove them completely.

[2018-07-12 13:38] hzoo commented on #8307
I'm working on a PR https://github.com/babel/babel/pull/8293. You don't need every plugin manually, you can include the ones you are using like described in https://github.com/babel/babel/blob/479d0b58271ae70887292b55072e5479611fc60b/packages/babel-preset-stage-0/README.md. If it feels like a lot, then I would recommend making your own preset and then including that instead so you only need to do

[2018-07-12 13:43] lukeapage commented on #8310
I wonder if this comment is wrong:

https://github.com/babel/babel/blob/6.x/packages/babel-plugin-transform-react-constant-elements/src/index.js#L41

the babel hoister makes a mistake when hoisting it.

If the used prop is already  `var` instead of `let` the symbol would be present but not assigned. I wonder if the hoister checks for last assignment (or maybe it checks last assignment and doesn't

[2018-07-12 16:44] mcampa opened #8311 "Inconsistent behavior"
The following code throws an error as expected:
[code]
![image](https://user-images.githubusercontent.com/1934727/42647167-088ec5ee-85b8-11e8-8000-fce1a1c5f024.png)

However, babel transpiled code does not:
[code]

which returns an empty array

**Babel Configuration (.babelrc, package.json, cli command)**

Any babel configuration. It also happens in https://babeljs.io/repl

[2018-07-12 16:49] loganfsmyth commented on #8311
This should be fixed by #7491 on our 7.x beta release.

[2018-07-12 18:03] SavePointSam commented on #7566
I'm running into the exact same issue here. No matter what I try babel doesn't find `babel.config.js` in the root despite @loganfsmyth's [message](https://github.com/facebook/jest/issues/6053#issuecomment-383632515) about this functionality. It appears babel is still stopping at the first package.json and not continuing to search up the tree.

There is mention of a `root` config option in the curr

[2018-07-12 19:16] mxmzb commented on #7566
you need to add an `--ignore` flag to your `babel-node` command, that whitelists your linked package in your `node_modules`. more on it here: https://github.com/cloverfield-tools/universal-react-boilerplate/issues/41#issuecomment-143053807

[2018-07-12 19:20] #8311 closed

[2018-07-12 21:17] bradennapier commented on #8307
Should definitely make sure its working - do you have any idea how many apps will break with this due to odd configurations that people do?

Also not a huge fan of deprecating these anyway.  At minimum another option similar to preset-env should be available to automatically apply the staged plugins in this case.

Babel seems to be int he habit lately of making things FAR harder to implement and r

[2018-07-12 21:27] intolerance opened #8312 "babel-transform-react-jsx fails to install (npm keys)"
## Bug Report

**Current Behavior**
npm install fails due to invalidated keys.

**Input Code**

[code]

**Expected behavior/code**
NPM installs babel-transform-react-jsx successfully

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): v6.23.0
- Node/npm version: Node 8.11.1/npm 5.6.0
- OS: OSX High Seirra 10.13.5
- How you are using Babel: lo

[2018-07-12 21:30] mAAdhaTTah commented on #8307
Yeah, I'll fix this; I haven't had a chance to get back to it. But just to note, the error message is produced at the point the configuration is failing, so it's not like it'll magically fix people's configuration.

It's not quite that; we don't want people blinding adding stage-0 to their configuration because the proposals contained within on inherently unstable, may not make it into the languag

[2018-07-12 21:32] nicolo-ribaudo commented on #8307
I think that the ideal developement cycle would be something like

[code]

It doesn't take much more time than using the stage presets, since Babel helps the user by actually saying what to do.

[2018-07-12 21:36] jsg2021 commented on #8312
you have a typo in your package name. `babel-transform-react-jsx` should be `babel-plugin-transform-react-jsx`

[2018-07-12 21:49] existentialism commented on #7627
@sxyshirly hard to tell without more info... but are you mixing babel v6 and v7 packages?

I'm noticing both `@babel/traverse` and `babel-plugin-transform-es2015-block-scoping`.

[2018-07-12 21:55] bradennapier commented on #8307
I do like this.  Any time that you can walk the user through simple questions and automate the process is ideal in my mind.  This makes preset-env really powerful for the whole project in general (more so than now).

Although there is obviously a lot more needed on your end to accomplish the task above, DX++

[2018-07-12 22:03] SavePointSam commented on #7566
I've learned that the `root directory` mentioned in the opening paragraph of [this document](https://babeljs.io/docs/en/next/babelconfigjs#lookup-behavior) actually means the CWD when the babel command is run, so babel only looks adject to it's processing directory. UNLESS you use the `root` option, though I haven't discovered how that is implemented as there is no documentation other than that it

[2018-07-12 22:14] intolerance commented on #8312
Thanks @jsg2021

[2018-07-12 22:14] #8312 closed

[2018-07-12 22:15] mAAdhaTTah commented on #8307
I generally agree; in this case, we can't do that because there is no "default" for the pipeline operator that won't be a breaking change when one of the three proposals becomes the _actual_ default, accepted behavior.

[2018-07-12 22:40] mgcrea opened #8313 "Add workspaces support to recursively compile monorepo packages!"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Both `yarn` and `jest` have added first-class support for monorepos, there is the `workspaces` property from `package.json` that enables a recursive `node_modules` install in a single command, same for jest with the `jest.projects` property.

Would be nice to have a clean way to compile all packages at once (ea

[2018-07-12 23:11] SavePointSam commented on #7566
My final problem actually came from using the nodemon JS API over the CLI. For some reason the same commands failed.

[code]
[code]

My next problem comes from having `babel.config.js` in the package root rather than the repository root. I'll be looking into the alleged `root` option soon.

[2018-07-13 03:01] loganfsmyth commented on #8306
Good catch! Posted a PR: https://github.com/babel/babel/pull/8316

[2018-07-13 05:30] sxyshirly commented on #7627
@existentialism yeah……I think i'm mixing the version of something. but I don't know how to updata my babel, I‘m totally newer and don't know where to start……. Actually i'm turn my app to h5, i use this guide: https://github.com/necolas/react-native-web/blob/master/packages/website/guides/getting-started.md

I carried out these command：
1. yarn add --dev babel-loader url-loader webpack webpack-cli

[2018-07-13 11:29] mAAdhaTTah commented on #8307
Opened a PR to resolve this #8317.

[2018-07-13 16:12] rugk opened #8319 "Song needs audio version"
## Feature Request

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Someone has to transform [this text](https://github.com/babel/babel/blob/master/SONG.md) into a song.

**Describe alternatives you've considered**
Computer-generated voice, but that's not yet so nice to hear.

**Teachability, Documentation, Adoption, Migration Strategy**

[2018-07-13 16:14] xtuc commented on #8319
We have a one: https://youtu.be/40abpedBKK8

[2018-07-13 16:14] #8319 closed

[2018-07-13 16:16] rugk commented on #8319
Wow cool! Then you just need to link it somewhere. E.g. [here](https://github.com/babel/babel#is-there-a-babel-song) and [here](https://github.com/babel/babel/blob/master/SONG.md) it is not linked.

[2018-07-13 16:17] nicolo-ribaudo commented on #8319
Do you want to open a PR?

[2018-07-13 16:19] SavePointSam commented on #7566
I've ultimately opted for creating my own babel-preset in my monorepo that defines everything I need. I then have a `babel.config.js` inside the root of all my packages that simply has the following:

[code]

I did notice that putting my `ignore` settings in my `babel.config.js` don't work while putting them as a flag on the `babel-node` CLI does. So, I'd like to fix that as well. However, for my

[2018-07-13 16:55] SavePointSam commented on #7566
It turns out that the incompatibilty has to do with how `babel-node` is written. However, it is looked at for deprecation in favor of a more robust `@babel/cli`, so I'm just going to leave the `--ignore` flag on `babel-node` as the functionality in `babel.config.js` doesn't work the same way at the flag.

[2018-07-13 19:12] SavePointSam commented on #7566
To properly close this ticket, the answer to the original question:

[code]

By default, `babel-node` will ignore anything outside the CWD from which it is called. Adding the `--ignore` flag disables this default functionality and the actual value provided to the flag doesn't matter. You can optimize the ignore by providing a pattern to which things you explicitly want ignored so you don't end up

[2018-07-13 20:09] sneko commented on #7627
@existentialism Hi! After changing `env` to `@babel/preset-env` I get this error:

[code]

Do you think it's still related to babel?

[2018-07-13 21:08] helios1138 opened #8321 "how to use Babel 7 babel-register to compile files outside of working directory"
v7 migration guide mentions that

but it doesn't mention a way to get around this behavior

in v6, a setup like this was working:
[code]
now if you do `cd bar && node run` it only compiles what is in `bar` but not in `foo`

is there a way around this or is it something that is just impossible to do in Babel 7?

[2018-07-13 23:18] helios1138 commented on #8321
ok, I've figured it out. in case someone needs it, the solution is
[code]

[2018-07-14 04:46] amereii commented on #8249
@LinFeng1997 I add **babel-plugin-dynamic-import-node**

`yarn add babel-plugin-dynamic-import-node --dev`

[code]

still having ** Unexpected token import** error

[2018-07-14 06:09] pearofducks commented on #8249
@amereii  - you're requiring babel 6's `babel-core/register` in that code snippet you just posted. Babel 7's register is `@babel/register` (which is _also_ in your yarn.lock).

[2018-07-14 07:33] kickthemooon opened #8322 "Webpack 4 / Babel - 2 functions not working in IE11"
I am new to Webpack / Babel.

I hope I will be able to put together a reasonable question about this, so forgive me if the question is a bit off or I don't manage to present all the necessary details.

I am just playing around with webpack and babel in order to get familiar with the two.

My goal is to make some es6 js to work in IE 11.

The stack / package.json looks like this:
[code]

Webpack co

[2018-07-14 08:41] amereii commented on #8249
@pearofducks  Can you tell me more detail , what must I do exactly

Also see https://stackoverflow.com/questions/37780952/babel-core-register-vs-babel-register

The recommended usage is babel-register since that is the module where the code actually lives, and babel-core/register has been removed in Babel 7.x. Better to depend specifically on the module you use, rather than load it as a side-effec

[2018-07-14 10:11] dr-js opened #8323 "[Babel 7][plugin-proposal-object-rest-spread] TypeError: Property value of ObjectProperty expected node to be of a type"
## Bug Report

**Current Behavior**
With `7.0.0-beta.53`, setting `loose: true` for `@babel/plugin-proposal-object-rest-spread` and compiling some ES2018 Rest Properties code will produce error:

`TypeError: Property value of ObjectProperty expected node to be of a type ["Expression","PatternLike"] but instead got null`

This does not happen with `7.0.0-beta.51`.

**Input Code**

[code]
**Babel Co

[2018-07-14 10:14] IljaDaderko opened #8324 "@babel/preset-env doesn't seem to transpile with target of node v6"
## Bug Report

**Current Behavior**
I've set up babel with flow and env presets to target node `6.14`. It seems to work fine because it creates `lib` folder from input `src` folder, but code inside `lib` folder is not transpiled it seems (it has some empty lines cleaned up etc... though)

**Input Code**
[code]

**Expected behavior/code**
Output code should be transpiled, particularly the `import`

[2018-07-14 10:38] poldridge opened #8325 "Incorrect associativity of exponentiation operator"
## Bug Report

**Current Behavior**
Parenthesis used to override the right-associative behaviour of the exponentiation operator are lost when compiling to a target that has the exponentiation operator. This is reproduceable in preset-env with a target of node >= 7 and in preset-es2017.

**Input Code**
- REPL link: https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&spec=false&lo

[2018-07-14 12:13] hzoo commented on #8325
Thanks for the report, seems like the printer is removing the parentheses! Looks like this should be fixed in v7 though (we haven't really done many backports and are trying to release an RC soon): https://babeljs.io/repl/build/master/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgziA2CmB00QHMAUACVAWAVDgjAJR4BM6hA3OgPTXoCiAHgA6zAAuAXOvgGwA06AOKx26LAChQkGAiRpMuA

[2018-07-14 12:48] amereii commented on #8249
@pearofducks  After doing that , **Unexpected token import error** is solved but now I have

[code]

[2018-07-14 12:57] insin opened #8326 "@babel/cli can't be quietened"
# v7 Regression

**Potential Commit/PR that introduced the regression**

https://github.com/babel/babel/pull/7439

**Describe the regression**

`@babel/cli` can no longer be quietened.

The `--quiet` flag was removed and a "Successfully compiled..." message is logged to the console without an option to suppress it:

https://github.com/babel/babel/blob/62ee1adc8543975f1ff0d41dd2ad6875404713a7/packa

[2018-07-14 17:51] damianobarbati commented on #8223
@nicolo-ribaudo could you give a look at this? 🙏🏻

[2018-07-14 17:56] loganfsmyth commented on #8326
It looks like `--quiet` was removed in #7439 but it probably just wasn't fully thought through, not sure. Having it seems reasonable alongside the separate `--verbose` option.

[2018-07-14 17:59] loganfsmyth commented on #8309
What is your project structure, and where are your `.babelrc, `package.json` and `webpack.snippets.js` relative to eachother. We've made changes to restrict the scope of where `.babelrc` files are loaded and depend on that.

[2018-07-14 19:49] #8306 closed

[2018-07-14 21:13] destinatis commented on #8307
This issue is fucking annoying.

[2018-07-15 08:29] MNITD commented on #8229
@sanchitgn I have the same problem as you have, I found sush workaround https://github.com/motdotla/dotenv/issues/89#issuecomment-182147361

[2018-07-15 11:02] #8101 closed

[2018-07-15 15:04] kickthemooon commented on #8322
As it turns out the problem was my function getStyle().

[code]

The function returns rgb color in Chrome/Firefox but hex color in IE. So when the color gets to the shadeRGBColor() in IE it's hex color so the problem is obvious from shadeRGBColor() name itself.

The solution for me was to write two new functions:

[code]

That solved the issue for me.

[2018-07-15 15:04] #8322 closed

[2018-07-15 21:09] Xesenix opened #8328 "Typescript constructor property assigment"
## Bug Report

**Current Behavior**
After updating to `babel v7.0.0-beta.53` I can't use typescript assignment to class properties like this:
[code]

**Input Code**
Example https://github.com/Xesenix/xes-typescript-playground/tree/typescript-constructor-example run `npm run serve` in console you will see `undefined` for the class A property.

[code]

**Expected behavior/code**
I expect that proper

[2018-07-16 00:59] coodoo opened #8329 "EventTarget works in browser but not for babel"
[code]

Above code runs fine in Chrome devtools console, but when transpiled with babel, it crashes with following messages.

[code]

Environment:
Chrome Canary Version 69.0.3492.0 (Official Build) canary (64-bit)
Babel 6.23.0

[2018-07-16 01:06] jridgewell commented on #8329
This is fixed in v7. Dupe of https://github.com/babel/babel/issues/4480.

[2018-07-16 01:06] #8329 closed

[2018-07-16 01:11] coodoo commented on #8329
Kudos for the fix and super quick response! 👍👍

[2018-07-16 02:24] awesomepeng opened #8330 "webpack4 import() not find module"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): [e.g. v6.0.0, v7.0.0-beta.34]
- Node/npm versi

[2018-07-16 03:30] loganfsmyth commented on #8330
You haven't given us anything to work with. If the error is a dependency not being found, it's like not a Babel issue. Please elaborate on your issue.

[2018-07-16 05:04] #8330 closed

[2018-07-16 07:16] scriptspry opened #8331 "Unexpected output when de-structuring a class property in an if-block with no braces"
## Bug Report

**Current Behavior**

Babel outputs unexpected, incorrect(_probably_?) es5 code for a pretty basic es6 code snippet.

**Input Code**

[Link to REPL](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0G8BQBIYB7AdhALgJwFdgd08AKASkVRRwAsBLCAOgH0APaAXkWgAcAXNACMAGmgBHIQCZoAXwDcSGvSZsARt2iVuAPmopDIAKY5-4iUpooA9DegB3UgGsI1hgD

[2018-07-16 07:30] paranoidjk commented on #7054
This issue is to say that `to-fast-property` is somehow being build to users dist bundle, but it use es6 const and let.

and since it's a dep of babel, users's project won't set any compile for it.

We temporary fixed it by compile it during build. https://github.com/ant-design/ant-design-mobile/commit/c14bc44ff7ee918c077e0a53eda030580822904a

[2018-07-16 07:30] #7054 closed

[2018-07-16 07:55] nicolo-ribaudo commented on #8331
It works with the latest version, if you are willing to use a beta. In case you don't,  w will release an RC soon.

https://babeljs.io/repl/build/master/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0G8BQBIYB7AdhALgJwFdgd08AKASkVRRwAsBLCAOgH0APaAXkWgAcAXNACMAGmgBHIQCZoAXwDcSGvSZsARt2iVuAPmopDIAKY5-4iUpooA9DegB3UgGsI1hgDNt-AsarJDQzIEc0l5LVUWDgolQLllQLtHPC

[2018-07-16 07:55] #8331 closed

[2018-07-16 12:52] Akirus commented on #7282
For someone why will come to this page from google like me:
Updating babel-generator to 6.26.1 fixed it for me.

[2018-07-16 15:01] Rohanhacker commented on #8326
Hey @loganfsmyth, I'd like to work on this. This will be my first contrib. 😃

[2018-07-16 15:09] loganfsmyth commented on #8326
@Rohanhacker go for it!

[2018-07-16 15:17] loganfsmyth commented on #7054
Babel 6 uses `to-fast-properties@1` and is fine.

Babel 7 only supports Node >= 6.9.x so many ES6 features like this are expected. It's only `@babel/standalone` that we try to support on ES5 environments, and even that isn't quite working properly yet (#7607).

[2018-07-16 16:17] bpatram opened #8332 "Flowtype class generic types are not stripped away"
## Bug Report

**Current Behavior**
It seems using generics for classes does not correctly get striped away when compiled when using the flow preset.

**Input Code**
- https://github.com/bpatram/eslint-flow-generics/tree/babel-test

[code]

gets output as

[code]

(note that `<string>` is not stripped away)

**Expected behavior/code**
I would expect `< string >` to not be included in the output.

[2018-07-16 16:18] poldridge commented on #8325
Thanks for the quick reply! I'm glad to know it is fixed in v7 beta.

[2018-07-16 16:20] loganfsmyth commented on #8325
If you'd like to post a backport PR, I'd be up for landing it since this is certainly a bug that could frustrate people as more people adopt the exponential operator.

[2018-07-16 17:02] #8307 closed

[2018-07-16 18:07] hzoo commented on #8307
https://github.com/babel/babel/releases/tag/v7.0.0-beta.54

I also removed the requirement to specify the decorators/pipline plugin options (default to true/"minimal"). We are going to remove the Stage presets next which will require them but at least now you won't have to specify anything, especially if you aren't using them. You can always pin to an older version or use beta.54.

[2018-07-16 18:08] loganfsmyth commented on #8332
This syntax is relatively new in Flow and is only available in our 7.x-beta branch: https://github.com/babel/babel/pull/7934

[2018-07-16 18:12] poldridge commented on #8325
@loganfsmyth I'm not sure if [this](https://github.com/babel/babel/pull/8333) is the correct way to make a Backport PR or if this should be backported to 5.x as well.

I confirmed that the added test fails without the fix and all tests pass with the fix included.

[2018-07-16 20:13] adoi commented on #7918
Hey @loganfsmyth is this still open? I would like to work on this

[2018-07-17 05:04] loganfsmyth commented on #7918
@rakelblujeans Agreed!

[2018-07-17 05:04] #7918 closed

[2018-07-17 10:32] IhostVlad opened #8334 "Plugin helper should check version semantically but not literally"
# v7 Regression

**Potential Commit/PR that introduced the regression**
https://github.com/babel/babel/pull/7450
https://github.com/babel/babel/issues/7265

**Describe the regression**
There is issue in `helper-plugin-utils`: it tries to check if babel version satisfies plugin requirements, but instead semver check, directly regular expression comparation is performed (
https://github.com/babel/ba

[2018-07-17 15:53] rubennorte opened #8335 "Redundant call to `assertThisInitialized` for classes in loose mode"
## Bug Report

**Current Behavior**

There are duplicated calls to the `assertThisInitialized` helper.

[code]

**Input Code**

[code]

**Expected behavior/code**

[code]

**Environment**
- Babel version(s): v7.0.0-beta.48
- Node/npm version: Node 8
- OS: OS X
- Monorepo: no
- How you are using Babel: core

[2018-07-17 17:13] oliviertassinari commented on #8309
Sorry for the noise, I'm dropping it here. I have noticed a similar behavior where this works
[code]
but this doesn't:
[code]

[2018-07-17 17:21] loganfsmyth commented on #8309
@oliviertassinari That is expected in 7.x, because the working directory is used to decide what packages to consider compilable by default, among other things.

[2018-07-17 17:37] loganfsmyth commented on #8309
There are kind of two related pieces here.

1. `babel-node` only attempts to compile files that are:
  * Rooted at the current working directory
  * Not inside `node_modules` in the current working directory
2. Assuming a file passes those rules and will be compiled, the logic for how Babel decides what configuration to use also depends on the working directory because the working directory is use

[2018-07-17 17:39] oliviertassinari commented on #8309
@loganfsmyth Thanks you. It seems my issue is with 1. and only 1. I'm using the following workaround:
[code]

[2018-07-18 06:18] dooboolab commented on #7831
@rknell Thanks. My app is running now. However, there is another problem left for me which is jest. It works fine when I downgrade to `react-native@0.55.4` but throws error message in `0.56`.

[code]

If you want to checkout my boilerplate I am working on,  it is in [here](https://github.com/react-native-seoul/react-native-js-boilerplate/tree/dev). Be sure that it is a `dev` branch. I'll merge to

[2018-07-18 10:57] jjd314 commented on #8284
@moafim I don't know if this will apply in your case, but I was getting the same error, with all the dependencies in my package.json at the latest versions (7.0.0-beta.54 for the babel stuff, 5.0.2 for babel-preset-react-native, etc.).  When I ran `babel --version`, though, it said `7.0.0-beta.54 (@babel/core 7.0.0-beta.47)`.  I added an explicit dependency on @babel/core, and things started worki

[2018-07-18 13:33] nicolo-ribaudo commented on #8223
I have investigated a bit (sorry for the long delay), and I think that this is a misconfiguration problem.
The documentation [says](https://babeljs.io/docs/en/next/babel-plugin-proposal-decorators.html#note-compatibility-with-babel-plugin-proposal-class-properties) that the decorators plugin should come before the class properties one, but in your repo they are run in the opposite order.
Here is w

[2018-07-18 13:40] damianobarbati commented on #8223
Hell yeah, it was that. Thanks @nicolo-ribaudo 🙏🏻

[2018-07-18 13:40] #8223 closed

[2018-07-18 14:08] existentialism commented on #8284
@jjd314 re: babylon, it was renamed to @babel/parser in beta.48

[2018-07-18 16:19] thiagoarrais commented on #7987
Anyone tackling this? I'd like to give it a try.

[2018-07-18 17:58] hvaoc commented on #7831
I got the same error when adding Mobx support to my react native project.

Changes suggested by @dooboolab above fixed this error for me.

Am using "react-native": "^0.56.0".

[2018-07-18 20:43] petrdanecek commented on #8309
In my case all .babelrc, package.json, node_modules are in very same projectDir whilst webpack.snippets.js is outside shared between many projects. Something like:
[code]

[2018-07-18 22:34] existentialism commented on #8324
Couldn't repro this locally.

Curious, is _anything_ getting transpiled? If not, I wonder if this is more related to some of the config-file-resolution changes in v7?

[2018-07-18 22:35] existentialism commented on #8325
Closing this as the PR has landed. We'll update when the next v6 version ships, thanks again @poldridge!

[2018-07-18 22:35] #8325 closed

[2018-07-18 22:56] thiagoarrais commented on #7987
Do you folks have any preferred method for deep cloning? I'm currently using JSON.stringify -> JSON.parse

[2018-07-18 23:03] loganfsmyth commented on #7987
I wonder how that would do on larger ASTs, since we could potentially end up with an extremely large string as an intermediate value. If we could clone following those semantics without actually creating the intermediate, that seems like it would be ideal.

[2018-07-18 23:31] jonhartnett commented on #7987
Preferably, include a boolean option to disable cloning so that external cloning can be done in performance-sensitive contexts.

[2018-07-19 00:09] loganfsmyth commented on #7987
@jonhartnett My preference would probably be to wait and see if people bring it up as a real performance concern. I'd expect 99% of people to be using the non-AST version anyway.

[2018-07-19 05:07] IljaDaderko commented on #8324
@existentialism Well, I get success message from babel, it removes empty lines, but as a whole nothing much changes.

Transpiles fine with v6 setup.

There is a project outside of this one that has another .babelrc and uses v7 plugins. Everything transpiles there fine.

[2018-07-19 08:12] sxyshirly commented on #7627
I have installed this deps
    "@babel/core": "^7.0.0-beta.38",
    "@babel/node": "^7.0.0-beta.54",
    "@babel/plugin-check-constants": "^7.0.0-beta.38",
    "@babel/plugin-transform-block-scoping": "^7.0.0-beta.54",
    "@babel/preset-env": "^7.0.0-beta.54",
and modified .babelrc
 "presets": ["@babel/preset-env"]
i still get this issue……could anyone tell me why？

[2018-07-19 14:04] existentialism commented on #7627
@sxyshirly you want to ensure all your v7 dependencies are using the exact same beta, so we recommend dropping the `^` and setting `@babel/*` to the same version.

[2018-07-19 18:47] IzaGz commented on #8241
i am seeing the same error tryed also babel-plugin-syntax-dynamic-import ,  babel-plugin-dynamic-import-node - no changes same error

[2018-07-19 20:12] againksy opened #8343 "Unable to fix Unexpected token import, without recloning repo"
I have server side rendering
webpack 4.16 react 16.4
in wbepack config i have
`		rules: [
      {
        test: /\.js$/,
        loader: 'babel-loader',
        exclude: /node_modules/,
        query: {
          plugins: ["transform-decorators-legacy", "syntax-dynamic-import"],
          presets: [ 'react', [  'es2015'  ],  'stage-0',  ]
        }
      },
`
in package.json on client i have
`  "d

[2018-07-19 20:14] thiagoarrais commented on #7987
Found another method for cloning: `t.cloneNode`. I'm not sure if that is better (memory and CPU-wise) than the JSON method, though... Any ideas?

[2018-07-19 20:45] loganfsmyth commented on #7987
I think a generic deep clone is the best way to go for this usecase. `t.cloneNode` only copies a specific whitelist of fields.

[2018-07-19 21:03] againksy opened #8344 "SyntaxError: Unexpected token import"
`node server.js
/Users/z/project/webpack_babel7/reducers/index.js:1
(function (exports, require, module, __filename, __dirname) { import { combineReducers } from 'redux';
                                                              ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)

[2018-07-20 00:26] zavr-1 commented on #7936
With `VS Code 1.25.1` it's possible to do
[code]

[2018-07-20 00:26] #7936 closed

[2018-07-20 00:53] jeaye commented on #8295
I'm seeing this as well. Looks like @stevenvachon just made a typo in the report and this shouldn't be closed.

[2018-07-20 06:44] adrienharnay opened #8346 "Cannot combine flow and typescript plugins (babel-preset-react-native and babel-preset-typescript)"
## Bug Report

I also opened an issue on the react-native project. Opening one here as well so we can discuss possible solutions! https://github.com/facebook/react-native/issues/20283

**Current Behavior**
When trying to use `@babel/preset-typescript` on a React Native project, the following error happens: ```
Cannot combine flow and typescript plugins
[code]

**Environment**
- Babel version(s): v

[2018-07-20 08:10] nicolo-ribaudo commented on #8343
You can delete node_modules and reinstall them.

[2018-07-20 10:23] yshing opened #8347 "6.x transform-es2015-modules-commonjs loose option doesn't work as expected"
## Bug Report

**Current Behavior**
babel-plugin-transform-es2015-modules-commonjs
`loose` option doesn't work as [README](https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs).

With the `loose` option on, babel 6 is still producing code using Object.defineProperty. And would cause re-export to fail due to the use of `Object.defineProperty`

Also related to #6795

**Expect

[2018-07-20 11:27] vyazadji opened #8349 "babel-preset-env doesn't support destructuring of default parameters in arrow functions for Edge"
## Bug Report

Support of Edge via *babel-preset-env* doesn't cover the destructuring of default parameters in arrow functions.

**Current Behavior**
I add the support of Edge via *babel-preset-env*

.babelrc
[code]

**Input Code**

An example with destructuring from [compat-table](http://kangax.github.io/compat-table/es6/#test-destructuring,_parameters_defaults,_arrow_function) https://github.com

[2018-07-20 12:05] thiagoarrais commented on #7987
Ended up opting for lodash's cloneDeep. See the [discussion on the PR](https://github.com/babel/babel/pull/8342#discussion_r203967259) for details.

[2018-07-20 13:37] existentialism commented on #8295
Can you create a small repo that reproduces the problem?

I just tried this locally and it worked?

[code]

[code]

[code]

[2018-07-20 16:01] pwmckenna opened #8350 "`only` option no longer supports functions"
# v7 Regression

@babel/register's `only` argument no longer supports functions that take a path and return a bool.

[code]

**Expected behavior/code**
I would expect my function to gate whether a file is compiled, but I get the following error
[code]
**Environment**
- Babel version(s): [v7.0.0-beta.54]
- Node/npm version: [e.g. Node 8/npm 5.6.0]
- OS: [e.g. OSX 10.13.4, Windows 10]
- Monorepo [no

[2018-07-20 16:17] loganfsmyth commented on #8350
It can be an array with a single functions, it just can't be a single function. I'm happy to leave this open since it's not an unreasonable request, it just got changed when we were locking down the options by adding validation, and leaving it as an array seemed relatively straightforward.

[2018-07-20 17:13] luzat opened #8351 "[preset-env] Android not supporting anything?"
## Bug Report
The preset seems to think that Android does not support anything and enables every plugin because of `"android": "67"` support. Chrome for Android should support most features in that version.

I set up an [example repository](https://github.com/luzat/babel-preset-env-demo) with basic configuration and debug enabled. Output after `npm install`/`yarn install` and `npm run demo`/`yarn

[2018-07-20 17:36] existentialism commented on #8351
Hmm, not sure as compat-table only has explicit handling of android <= 4.4.3, and removed the Chrome aliases for a while.

Ref:
https://github.com/kangax/compat-table/pull/1104

My initial reaction is I'd rather keep it (relatively) simple and consistent with our data source (compat-table), and ask users to use `Chrome`, than maintain a mapping.

[2018-07-20 17:57] tommytroylin opened #8352 "preset-env loads unnecessary polyfills"
## Bug Report

I'm targeting chrome >= 40 and I notice that preset-env imports `es6.promise` polyfill

but [caniuse](https://caniuse.com/#feat=promises) and [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) tell that it's supported since chrome `32`

after some digging I find this
https://github.com/babel/babel/blob/adae1501aca6b6107477ea61b47f72cee43a

[2018-07-20 17:59] luzat commented on #8351
It is very non-intuitive if specifying Android as a platform includes all plugins/transforms without explanation. Also, other tools might require Android to be in the browser list, which would lead to maintaining multiple lists for different tools.

There is already special code for [Opera and Electron](https://github.com/babel/babel/blob/adae1501aca6b6107477ea61b47f72cee43a4438/packages/babel-pre

[2018-07-20 19:22] zloirock commented on #8352
Nope. See `compat-table` tests. And seems it should be stricter and equal [`core-js` feature detection](https://github.com/zloirock/core-js/blob/56f1360f7ca5104b98216bcbcacfb2ffcb9d8cf0/packages/core-js/modules/es.promise.js#L44-L62) results - [Node 10 and Chrome 66 bug](https://bugs.chromium.org/p/chromium/issues/detail?id=830565), engines without unhandled rejection tracking, etc.

[2018-07-20 19:28] Daniel15 opened #8354 ""Container is falsy" when combining optional chaining with template literals"
## Bug Report

These work:
[code]

But combining the two throws "Container is falsy":
[code]

REPL: https://d.sb/1f

**Babel Configuration (.babelrc, package.json, cli command)**
Internal FB configuration

**Environment**
- Babel version(s): v7.0.0-beta.47
- Node/npm version: v9.11.2
- OS: CentOS Linux release 7.5.1804
- Monorepo: N/A
- How you are using Babel: CLI

[2018-07-20 19:53] existentialism commented on #8351
I guess I view `Android 57` a bit differently than `Opera 57` or `Electron 57`... since Android 57 doesn't exist? It's Chrome for Android v57... while it might be pedantic; since we haven't had any complaints about this, I'm a bit hesitant to introduce this change.

[2018-07-20 20:07] againksy commented on #8343
@nicolo-ribaudo i have tried this , off course at the first time.
 -it does not help

[2018-07-20 20:10] existentialism commented on #8344
Is this a duplicate of your other issue at https://github.com/babel/babel/issues/8344?

[2018-07-20 20:13] dnalborczyk commented on #8354
according to the [proposal docs](https://github.com/tc39/proposal-optional-chaining) the suggested syntax for optional method/function calls seems to be:

[code]

might be still a parser bug - though not sure if or what the proposal suggests - as the following syntax should maybe be disallowed. if you run the following:

[code]

generates:
[code]

vs.

[code]

generates:
[code]

[2018-07-20 20:37] luzat commented on #8351
I need to think a bit about this. caniuse knows about Android browsers <=4.4 and Android 67 (with global usage of 0), which I think are encoded as "android". Chrome for Android should be encoded as `and_chr`, currently at 67, too. For some reason browserslist does not return `and_chr 67`, but `android 67`. This could be the root cause. `and_chr` would be mapped to chrome by preset-env.

This may b

[2018-07-20 20:58] Daniel15 commented on #8354
@dnalborczyk `localStorage` is the thing that's nullable, not `getItem`. What I want is the equivalent of:
[code]

[2018-07-20 21:07] dnalborczyk commented on #8354
aaah, you're right. I looked too quickly... :smiley:

[2018-07-21 01:44] pirix-gh opened #8357 "Unexpected token import"
## Bug Report

**Current Behavior**
Import token not recognized

**Input Code**

**package.json:**
[code]
**.babelrc:**
[code]

Changing the preset (eg. preset-env) does not solve the problem

**Then run:**
`npx @babel/node src/index.js ` or
`node -r @babel/register src/index.js `

**Outputs:**
[code]

**Expected behavior/code**
The code is supposed to run

**Environment**
- Babel version(s): [7.0

[2018-07-21 14:30] guybedford opened #8358 "path.scope.hasBinding doesn't seem to reflect new top-level declarations"
I just noticed this edge case of the System module format output.

If I apply a transform that adds a new top-level binding, then the `path.scope.hasBinding` in the system module format is not seeing that new binding as existing.

Here is a minimal replication that works after `npm install @babel/core @babel/plugin-transform-modules-systemjs`:

[code]

If you run the above, the `path.scope.getBind

[2018-07-21 14:45] guybedford commented on #8358
The workaround I have found for the above is to explicitly add:

[code]

to the injection plugin in the first case to ensure the binding is registered.

[2018-07-21 16:09] Zibri opened #8360 "does not compile?"
what I did:

[code]
What I got: (the build log is huge but this is the relevant part)

[code]

[2018-07-21 16:10] Zibri commented on #8360
On ubuntu 17.10

[2018-07-21 17:34] hzoo commented on #8360
👋 Since it looks like you are trying to setup the Babel repo itself, I would follow the instructions here (`make boostrap`) https://github.com/babel/babel/blob/master/CONTRIBUTING.md#setup, it installs the other sub dependencies since Babel is a mono-repo.

[2018-07-21 17:34] #8360 closed

[2018-07-21 18:58] mehulmpt commented on #7831
Yes. Downgrading to 0.47 version fixes the problem. I'm keeping dependencies as:

[code]

before babel 7 is stable for react native

[2018-07-21 20:42] existentialism commented on #7831
@mehulmpt just to clarify: “babel 7 is stable for react native”... it is, it’s just that all your @babel/* dependencies need to fixed to matching versions, and since RN is currently using beta47, you must too.

[2018-07-21 20:45] mehulmpt commented on #7831
Yeah, I meant to say "before we can fallback to semver for babel 7 packages for react native"

[2018-07-22 03:18] swcisel commented on #8284
@jjd314 Thank you for helping me (finally) successfully update to 0.56!

[2018-07-22 04:33] amereii commented on #8249
@xtuc , @nicolo-ribaudo , @LinFeng1997 , @pearofducks How can I fix it ? is it a bug?