[2017-09-05 23:11] chicoxyzzy commented on #6203
Than we should publish libdefs for babylon or just use [`flow-copy-source`](https://github.com/AgentME/flow-copy-source).

[2017-09-06 01:51] loganfsmyth opened #6204 "We have a cyclic dependency through `babel-traverse`"
In https://github.com/babel/babel/commit/14584c218cd8f61490c31d8bee3de34024fe32d1#diff-af2efa0aecdd6cb7790cd55ef11c04e6R12 I accidentally introduced a dependency cycle, so we'll have that same publishing issue we have in 6.x.

I made `babel-traverse` depend on `babel-helper-function-name`, which depends back on `babel-traverse`. It also appears that depends on `babel-template` and `babel-template`

[2017-09-06 03:40] jridgewell commented on #6201
No, we don't support this yet.

[2017-09-06 03:40] #6201 closed

[2017-09-06 09:11] damianobarbati commented on #1742
I still don't get it.

a.js
[code]

b.js
[code]

[2017-09-06 10:20] nicolo-ribaudo commented on #1742
Inside objects "this" refers to the "this" outside the object (the global "this"); inside classes to the instance itself.

[2017-09-06 10:26] damianobarbati commented on #1742
@nicolo-ribaudo so what I'm aiming to do is not possible?
Defining an arrow function as a property and invoking it within a class instance to use that instance as scope?

[2017-09-06 10:52] nicolo-ribaudo commented on #1742
If by "property" you mean "object property", you need to use a normal function.

[2017-09-06 10:53] damianobarbati commented on #1742
And manually bind it, got it: thanks @nicolo-ribaudo.

[2017-09-06 14:31] hzoo opened #6205 "Handle syntax errors from babylon that need a plugin"
Ref https://github.com/babel/babylon/pull/658

Need to check the error message from babylon and then throw a new error or something cool.

![screen shot 2017-08-03 at 5 00 49 pm](https://user-images.githubusercontent.com/588473/28943599-61931d1a-786d-11e7-9ae7-c97dad2a3190.png)

Could do a mapping between the syntax plugin in babylon and the transform/preset to turn on for babel for the user, or e

[2017-09-06 16:14] loganfsmyth commented on #6130
@sdgluck Sorry, I had a typo, it's `?!`, not `?:`. So `ignore: /node_modules\/(?!__test__)/`

[2017-09-06 22:37] houli opened #6206 "Async function hoisting is overly aggressive"
## Bug Report
The transformation of `async function x` to `var x = function () { var _ref = _asyncToGenerator(... ` means that x must be hoisted. This is to avoid issues where `x` is referred to before it is defined. The problem is that the hoisting is overly aggressive and async functions appear before other statements in the code such as requires and imports. This is immediately noticeable if yo

[2017-09-06 22:52] loganfsmyth commented on #6206
Currently this is the suggested approach: https://github.com/babel/babel/issues/4487#issuecomment-245842828

We don't really have any way of knowing where to put the function. We could technically special-case `babel-polyfill`, but you could just as easily do `import "./my-polyfills";` with `babel-polyfill` in another file and it would still break.

The best we could do is leave it as a function d

[2017-09-07 06:32] onnimonni opened #6207 "babel-node --help doesn't tell anything about --inspect flag"
I tried to see if `babel-node` supports inspect flag. I tried it and it works just fine but the help page doesn't tell anything about it:
[code]

[2017-09-07 07:01] loganfsmyth commented on #6207
`--inspect` is an option for Node itself. Node has a massive number of options, it isn't really realistic to show our own documentation for all of that.

[2017-09-07 07:06] onnimonni commented on #6207
I see. Sorry for bothering about this then :)

[2017-09-07 07:06] #6207 closed

[2017-09-07 14:45] maxbucknell opened #6208 "Cannot Select Presets and a File Input Directory via the CLI"
## Bug Report

If one is using the CLI to compile scripts that are not descendants of the directory containing `package.json`, and also sets a preset via the `--presets` flag, it will fail to find presets, and the compilation will die.

### Input Code

[maxbucknell/babel-test-preset-compilation](https://github.com/maxbucknell/babel-test-preset-compilation)

### Expected Behavior

It should minify

[2017-09-07 16:44] loganfsmyth commented on #6208
This is expected behavior in 6.x, but I think your code works in 7.x as expected due to https://github.com/babel/babel/pull/5466. This would be a breaking change in 7.x though.

[2017-09-07 17:30] trusktr opened #6210 "How does Symbol.hasInstance + instanceof work (or does it even work?) in IE11 and below?"
I'm looking at [this output in the repl](http://babeljs.io/repl#?babili=false&browsers=ie%2010&build=&builtIns=true&code_lz=MYGwhgzhAEBiD29oG8C-AodD4G0DKAngLYBG8IAdABaQCSAdhAC5j3ACmAutALzQBmAVzZMAlvHoAKeEyrsATgEoU6aNGASI5dhRDwA5pIDkoxizbt4_dXOABrI4vQZ0GswN7R67AO5xEmNamzKwcVv5IAPSR0Hr6MABEweZh1sC2dglAA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=react%2Cstage-0%2Cstage-2%2Cenv&pr

[2017-09-07 18:16] n1ru4l opened #6211 "Add babel-cli option for preserving .mjs extension"
This is a **Feature Request**

Since the mjs extension will be supported in node.js soon and can also today be used trough packages like @std/esm it would be awesome to have a option for preserving that extension.

I asked about this on Slack and was told to use some custom gulp configuration. I am aware that that works, but I would prefer to not having that extra dependency for transpiling my fil

[2017-09-07 18:29] errorx666 commented on #5630
This is affecting the output of gulp.

![image](https://user-images.githubusercontent.com/1048542/30178977-7cf0f7a2-93d0-11e7-997d-88b5c37a8f16.png)

![image](https://user-images.githubusercontent.com/1048542/30178928-519fec70-93d0-11e7-893f-c20cbd4c5922.png)

[2017-09-07 19:18] dthai92 opened #6212 "ReferenceError: this hasn't been initialised - super() hasn't been called"
See [repo](https://github.com/dthai92/babel-bug-super) to reproduce issue.

### Reference error from this code

[code]

### Babel Configuration (package.json)

[code]

### Expected Behavior

babel-plugin-transform-class-properties should handle transforming class to ES5.

### Current Behavior

Not adding a constructor class causes a reference error.

`Uncaught ReferenceError: this hasn't been init

[2017-09-07 19:44] babel-bot opened #6605 "Block scope transform not included when targeting Safari 10"
Specifying a target of `"safari >= 10"` doesn't use the `transform-es2015-block-scoping` plugin. Yet Safari 10 does need this because of [this](https://bugs.webkit.org/show_bug.cgi?id=159270) bug.

Ex:
[code]
is an error in Safari 10.1.2 resulting in `SyntaxError: Can't create duplicate variable that shadows a global property: 'a'`.

I've had to manually include this plugin in the `include` option

[2017-09-08 14:44] achun opened #6215 "BUG? if (typeof exports == 'object')"
config:

[code]

source:

[code]

output:

[code]

See: [babeljs repl](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=JYMwFALgngDgpgexAAjgDxggThAzgXkIHIEAjAKzgGMIiBKAbwF8g&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015&prettier=false&targets=&version=6.26.0)

[2017-09-08 14:53] goto-bus-stop commented on #6215
This is expected behaviour, it's the [babel-plugin-transform-es2015-typeof-symbol](https://www.npmjs.com/package/babel-plugin-transform-es2015-typeof-symbol) transform at work. `typeof xyz` should return "symbol" if `xyz` is a Symbol, the `_typeof` function does that in environments that don't have Symbol natively.

[2017-09-08 14:54] nicolo-ribaudo commented on #6215
That output is needed to prevent polyfilled `Symbol`s to return true for `typeof x === "object"`.

[2017-09-08 14:55] #6215 closed

[2017-09-08 15:59] achun commented on #6215
Are you sure?

[code]
...? quote undefined quote : ...

[2017-09-08 18:08] jridgewell commented on #6215
It's to prevent a reference error (since typeof won't throw if `exports` is undeclared). This is the expected output.

[2017-09-08 20:03] rostik404 opened #6216 "Incorrect capturing of stacktrace in custom errors"
After babel transformation, custom error loses its stacktrace because of incorrect value in `_this.constructor`.

### Input Code
Here is a simple example  of custom js Error:
[code]
I'm expecting to get `Test` in constructor and full stacktrace in `e.stack`, and everything works as I expect:
[code]

After babel transformation, I'm getting this code:

[code]
And in this code, I'm getting `Error` in

[2017-09-08 21:56] loganfsmyth commented on #6216
`.name` is `Error` because we don't support extending builtin types out of the box: https://babeljs.io/docs/usage/caveats/#classes

That said, even using that extension, which makes `.name` `Test`, the stack trace itself does seem to still contain `Error`. I'm not sure there's anything we can do there, I have no idea how Chrome decides what to use when building traces.

[2017-09-08 23:01] jridgewell commented on #6212
Ok, this is due to the inserted constructor (which you figured out), using `babel-runtime` helpers. Explicitly:

[code]

Notice the two calls to `_possibleConstructorReturn`. The outer one throws the error, the inner works fine. If we consult source code in `babel-runtime@7.0.0-alpha.20`, we see:

[code]

That outer call passes `undefined` for self, which throws the error.

- - -

This usecase was

[2017-09-08 23:04] hzoo commented on #6212
Good investigation @jridgewell

It might be because it wasn't "changed"  itself but it's dependencies did so it didn't publish again (lerna does a deps check)? This has been an issue before, so we may want to force a publish for that pkg specifically when releasing then. Although I thought I turned on force publish so dono

[2017-09-08 23:20] dthai92 commented on #6212
That makes sense @jridgewell. This explains how the reference error could be avoided by removing the babel-plugin-transform-runtime from the babel-loader in the webpack.config.js.

[2017-09-08 23:31] jridgewell commented on #6210
Does `babel-polyfill` not handle this?

[2017-09-08 23:32] jridgewell commented on #6208
Closing with https://github.com/babel/babel/issues/6208#issuecomment-327857141.

[2017-09-08 23:32] #6208 closed

[2017-09-08 23:36] #2450 closed

[2017-09-08 23:38] jridgewell commented on #6197
This isn't a babel issue, since we don't transform `process.argv`. Might be a webpack issue.

[2017-09-08 23:38] #6197 closed

[2017-09-08 23:45] RubenVerborgh opened #6217 "Variable redeclarations are not recognized as modifications"
## Bug report

### Input Code
[code]
### Babel Configuration (.babelrc, package.json, cli command)
Default.

### Expected Behavior
Babel recognizes that `a` and `b` are not constants.

### Current Behavior
Babel reports that `a` and `b` are constants.

### Possible Solution
In babel-traverse, `registerBinding` incorrectly assumes that each variable name of a declaration is a new name and does not

[2017-09-08 23:51] jridgewell commented on #6217
This was fixed in #5745.

[2017-09-08 23:57] loganfsmyth opened #6220 "Remove `babel-node` from `babel-cli`"
In https://github.com/babel/babel/pull/6023#issuecomment-318873235 we added a new package `babel-node` to keep things separate, but we didn't actually remove the command from `babel-cli` yet.

[2017-09-08 23:57] RubenVerborgh commented on #6217
This does not seem to be fixed; still fails in latest `master`, which includes #5745.

[2017-09-09 03:02] #6217 closed

[2017-09-09 03:16] hzoo commented on #5632
PR is https://github.com/babel/babel/pull/6209

[2017-09-09 11:37] n1ru4l commented on #6211
Okay I will do a PR for this, any suggestions for the option flag?

I thought about something like `--keep-modules`

[2017-09-09 17:53] tbranyen opened #6222 "Ability to output mjs extension when -d is specified"
Feature request:

[Recommendation](https://twitter.com/bradleymeck/status/906572163519578112) from Node core is to output mjs alongside js files so that the package.json `main` field can be ambiguous. Since babel only outputs `.js` files when used with the `-d` directory flag, it becomes complicated to make this work. I'd like to see an option available to specify the extension the same as with pa

[2017-09-09 17:57] nicolo-ribaudo commented on #6222
Would #6221 work for you?

[2017-09-09 18:00] tbranyen commented on #6222
No, my source isn't `.mjs`, it's `.js`, but I'm trying to output `.mjs` specifically for Node.

[2017-09-09 18:03] tbranyen commented on #6211
Hi @n1ru4l I understand your motivation for this flag, but I'm a little worried this is of limited use for most users who will still author in `.js` files and see `.mjs` as a build step. Seems your use case and even more could be solved with an output extension flag.

[code]

[2017-09-10 00:15] n1ru4l commented on #6211
I see your point, but I think both options solve different problems. I think that both options should be available (but not be used together). Furthermore since .mjs will become the main extension (that will be consumable by almost all JavaScript clients beside .js) the keep-module-extension option should become enabled by default at some point in the future.

[2017-09-10 00:23] jridgewell commented on #6222
Are you trying to have two copies of every file? In that case, a find and copy would probably be better than running babel twice:

[code]

I'm cool with having an `--ext` or `--keep-file-extension`, though.

[2017-09-10 00:33] #4192 closed

[2017-09-10 00:41] tbranyen commented on #6222
Two copies of every file is the only way to support new Node ESM and legacy CJS. Unfortunate and hopefully temporary.

[2017-09-10 00:43] tbranyen commented on #6211
I thought more and can see value in having both. Preserve original works better which mixed extensions in an input glob :+1:

[2017-09-10 01:58] exvu commented on #5021
Did you solve this problem? I encountered the same problem

[2017-09-10 05:40] ssi-anik commented on #6197
Ok, thanks then. :)

[2017-09-10 10:51] zloirock commented on #6210
@jridgewell `core-js` provide only `Symbol.hasInstance` and `Function.prototype.@@hasInstance`, but can't override `instanceof` operator logic.

[2017-09-10 11:52] nicolo-ribaudo commented on #6210
This is handled by the [`babel-plugin-transform-es2015-instanceof`](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-es2015-instanceof) plugin. It needs to be added to `babel-preset-es2015` and `babel-preset-env`

[2017-09-10 12:30] nicolo-ribaudo commented on #5285
The problem is that you pass `Object` to the mixin, and Babel doesn't support extending primitives. To get the same behavior, you can use `MixinName(class {})`.

I'm closing this as a duplicate of #4480

[2017-09-10 12:30] #5285 closed

[2017-09-11 07:24] xtuc commented on #6211
I think we should also merge https://github.com/babel/babel/pull/5700. It will ensure that the module is parsed correctly.

[2017-09-11 15:18] #5632 closed

[2017-09-11 18:20] hhg2288 commented on #6211
is this issue claimed right?

[2017-09-11 18:46] n1ru4l commented on #6211
@hhg2288 Yes https://github.com/babel/babel/pull/6221 is the PR

[2017-09-11 19:05] brmscheiner commented on #3969
@loganfsmyth What if my project has babel but not webpack? I can't use `require` in .babelrc because it's pure JSON

[2017-09-11 19:06] afuggini commented on #4097
@jridgewell I was experiencing the same issue. I didn't know about loose mode but I wouldn't use it. Instead I ended up using this polyfill for older browsers (in my case I will do some kind of lazy loading for this so it is not loaded for every browser that doesn't need it).

https://gist.github.com/afuggini/85b02644491f130879a8e789a5b1cea8

[2017-09-11 19:08] loganfsmyth commented on #3969
@brmscheiner Plugins referenced by a `.babelrc` file are resolved relative to the `.babelrc`, so I'd expect the plugin to be installed in the `node_modules` relative to that file.

[2017-09-11 19:17] brmscheiner commented on #3969
@loganfsmyth ah, that sheds light on things. My problem is that .babelrc and node_modules are in the same directory, but after packaging my electron app on certain systems they are not. So I think I should take this up with electron folks. Thanks for the help!

[2017-09-11 19:43] lbeschastny commented on #4097
@afuggini the real problem addressed in this issue is that transpilled code rely on getters, which couldn't be polyfilled.
`loose` mode was designed to produce legacy browsers friendly code, so it shouldn't use things like getters and setters.

[2017-09-11 20:07] #4363 closed

[2017-09-11 20:09] ajaymathur commented on #6210
Hi, Can I take this up please?

[2017-09-11 20:18] loganfsmyth commented on #6210
This is an interesting one. I wonder if it was left out on purpose? I could see this being a performance issue, but I honestly don't know. Seems like we'd need to dig into the git history?

[2017-09-11 20:18] danez opened #6225 "Export async function not working"
Choose one: is this a bug report or feature request?

bug

### Input Code
[code]

or

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

https://babeljs.io/repl/build/7.0/#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA29UGcCeAdgMZzLokwCWEhcMEYcAFAJRwDeAvkA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=env&prettier=false&

[2017-09-11 20:34] ajaymathur commented on #6210
@loganfsmyth I did a search on git log and found following commit:

commit a9ac3b0c94057922430335dfe833284012e370df
Author: Sebastian McKenzie <sebmck@gmail.com>
Date:   Tue Nov 3 19:22:51 2015 +0000

    move instanceof functionality to separate plugin - fixes #2745

direct link to issue https://github.com/babel/babel/issues/2745

[2017-09-11 20:56] mattgoucher opened #6226 "copy-files flag does not respect ignore block in .babelrc"
**Bug:** If in your build script, you have `--copy-files` passed, files that are ignored in .babelrc files will be copied over, instead of being ignored.

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
Babel should not copy files that are explicitly ignored in `.babelrc` configuration. In this case, babel should not transpile or

[2017-09-11 21:12] loganfsmyth commented on #6226
The objective of `--copy-files` is to say "please copy the files that Babel doesn't process", so this is working as expected. If you only want it to copy the files Babel processes, just leave off `--copy-files`. If you need a bit of both, seems like you'd want to piece that together with Gulp.

[2017-09-11 21:58] jridgewell commented on #6210
Likely just an oversight then, I don't see it being any more of a penalty than `typeof`.

[2017-09-11 22:03] jridgewell commented on #4097
I'll accept a PR for this. We just need a loose version of https://github.com/babel/babel/blob/4daf11528c62d39309904f40baf22f90d307cd58/packages/babel-plugin-transform-es2015-modules-commonjs/src/index.js#L33-L43.

[2017-09-11 22:06] #6211 closed

[2017-09-11 22:12] cagdastulek opened #6227 "babel-polyfill adds a variable called "global" to browser runtime (regression?)"
### Bug
When using babel-polyfill 6.23, typing "global" to the browser console throws undefined error, which is the correct behavior.

After upgrading to 6.26, "global" is set to an object.

This sounds dangerous as checking if "global" is set or not is one of the common ways to check if a script runs inside Node or Browser environment.

### Your Environment

| software         | version(s)
| ----

[2017-09-12 01:20] mattgoucher commented on #6226
@loganfsmyth That makes sense, I was curious if that was the expected. However, it's strange that it works differently when the `--ignore` flag is passed to the command, versus inside the .babelrc.

[2017-09-12 01:27] dijotcr222 opened #6228 "How we can save 100 data into DB at the same time using MSSQL"
function savedata(session,response){
   var conn = new sql.ConnectionPool(connection);
var reqs = new sql.Request(conn);
conn.connect(function(err){

 if(err){
console.log(err)

}else{

var SqlSt = "INSERT into saveDB$ (CHAT_ID,QUESTION,DATE_TIME,RESPONSE,USER_NAME,FUND_TYPE,USERAGE) VALUES";
SqlSt += util.format("(%s,%s,%s,%s,%s,%s,%s)","'"+session.message.address.id+"'","'"+RESPONSE+"'","'"+sess

[2017-09-12 01:29] #6228 closed

[2017-09-12 01:32] jridgewell commented on #6226
Yup, that seems like a bug.

[2017-09-12 01:34] dijotcr222 commented on #6228
what !!! closed

[2017-09-12 01:38] hzoo commented on #6228
Your issue doesn't have to do with Babel or using it, I would ask on stackoverflow.com or another forum. The issue tracker is for Babel specifically.

[2017-09-12 01:45] jridgewell commented on #6227
Sounds like core-js implemented the global polyfill, which should be expected. /cc @zloirock

[2017-09-12 01:45] #6227 closed

[2017-09-12 01:46] hzoo commented on #6212
Ok I downloaded the repo, and see the runtime helpers code ^. In node_modules the version is still v6 for some reason. The alpha.20 version is correct it's just resolving to the old version still for some reason.

[code]

Looks like we really need those updates from regenerator/unicode-property, neither of which are in this repo?

[2017-09-12 02:04] existentialism commented on #6130
@sdgluck I tested your repo/branch with @loganfsmyth' suggestion and it works:

Going to close for now, but let us know if you continue to have issues!

[2017-09-12 02:04] #6130 closed

[2017-09-12 02:08] zloirock commented on #6227
@jridgewell yep.

@cagdastulek about dangerous of this feature you can talk with @ljharb as with the champion of this proposal.

[2017-09-12 02:15] hzoo commented on #6212
Oh of course, you are using transform-runtime but don't have babel-runtime as a dependency. Because those 2 packages ^ include it, it uses v6 instead of just erroring asking you to use v7.

solution: add babel-runtime@7.0.0-alpha.20 as a dep (you always need it if you are using the transform-runtime plugin).

[2017-09-12 02:15] #6212 closed

[2017-09-12 02:46] jridgewell commented on #6225
Looks like this is a mismatched repl bug. It's somehow loaded `babel-preset-env-standalone@0.0.6`, which uses `babel-plugin-transform-es2015-block-scoping@6.6.0`, which is incompatible with `babel-core@7.0.0-alpha.20`

[2017-09-12 02:55] hzoo commented on #6225
If this is a repl bug we should maybe just move to the website repo? sounds like v7 is fine

[2017-09-12 03:28] jridgewell commented on #6225
@babel-bot move to babel/website

[2017-09-12 03:28] #6225 closed

[2017-09-12 03:44] ljharb commented on #6227
@cagdastulek the proper way is to check `typeof process !== 'undefined'`, because browserify and webpack all transpile `global` to `window` - so there's not actually any danger there.

[2017-09-12 05:36] babel-bot opened #6676 "Start and end locations when there are decorators"
I am not really sure if this is actually a bug, or if it is working as intended. It causes a bug on another project (astexplorer) but before trying to find a way to deal with it there I first want to confirm here if it's a bug or working as intended.

I have seen that when a decorator is attached to an exported class, then the start and end locations of the `ExportDefaultDeclaration` are not updat

[2017-09-12 09:51] sundayha commented on #4265
Hope to solve

[2017-09-12 14:45] msdark commented on #4097
something like this?

[code]

[2017-09-12 14:59] jridgewell commented on #4097
You wouldn't need the `enumerable` part (that'd actually be an error). Instead:

[code]

And then just call the loose version when loose, or the normal version when not.

[2017-09-12 15:03] msdark commented on #4097
Thanks.. this could be my first PR here, can I claimed?

[2017-09-12 15:49] loganfsmyth commented on #4097
We should probably hold off on this until https://github.com/babel/babel/pull/6230 lands. I was planning to do this myself once that lands, but I'm open to helping you out with it if you'd like

[2017-09-12 18:19] jridgewell opened #6233 "V8 can't optimize Array with initial size"
[code]

Cool, so we'll just reallocate space after pushes. 🙄

---

## EDIT: Check https://github.com/babel/babel/issues/6233#issuecomment-329164507

[2017-09-12 18:21] hzoo commented on #6233
Oh, do we ever do `new Array` instead of `[]`?

[2017-09-12 18:23] jridgewell commented on #6233
Rest elements.

[2017-09-12 18:49] Kerrick opened #6234 "Named exports + destructuring for env preset doesn't work."
This is a bug report.

### Input Code
[code]
[Babel REPL link](http://babeljs.io/repl#?babili=false&browsers=last%201%20chrome%20version&build=&builtIns=false&code_lz=MYewdgzgLgBApgDwA4gE5QjAvDA3gXwG4AoRFdCAOgDEQRsYByACzgBs2RGTTk1ZQkWLhi16-BmX4QeU9DAAmcAGYBDAK5tYcjISA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=senv&prettier=false&targets=&version=6.26.0)

### Babel Configuratio

[2017-09-12 19:01] loganfsmyth commented on #6234
This will be fixed in 7.x with https://github.com/babel/babel/issues/6234

[2017-09-12 20:07] rjhilgefort commented on #5104
@loganfsmyth Would you mind dropping a link to the issue you filed so we can follow along?

Any updates on this in general?

[2017-09-12 20:14] existentialism commented on #5104
@rjhilgefort the babylon link is actually right above (https://github.com/babel/babylon/issues/498), and a fix was landed here https://github.com/babel/babylon/issues/498

[2017-09-12 22:16] hzoo commented on #6233
Hmm ok like http://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=NoOjEMBoAICMF0DcQ&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015&prettier=false&targets=&version=7.0.0-alpha.19 in the helper: `arr2 = Array(arr.length)`

cc @bmeurer though since v8 is trying to optimize tooling code like Babel anyway

[2017-09-12 22:57] cagdastulek commented on #6227
All, thanks for explanations. @ljharb what if someone defines a `process` global variable in browser? Is there any more robust way to determine if I am in Node or not? We use the following code snippet which breaks if we use the latest core-js, of course:
[code]

[2017-09-12 23:03] loganfsmyth commented on #6227
What's your usecase you're trying to solve by making this distinction? Usually it's best to check for the thing you actually care about like the existence of a given API or something. That would help make suggestions for you.

[2017-09-12 23:16] ljharb commented on #6227
@cagdastulek if someone does that, then a lot of node checks would suddenly start failing, sure.

I'd echo @loganfsmyth's question - why does it matter if you're in node? Feature detection is much more robust than useragent sniffing (or the equivalent).

[2017-09-12 23:32] cagdastulek commented on #6227
We use these flags in various parts of our code base. I guess for each of our uses case, we can go one by one and make such checks by checking the APIs instead. The challenge on our end is time and resource, of course.

By the way, I thought, with babel, I can enable/disable the features/proposals by configurations. Is it possible to disable this proposal?

[2017-09-12 23:37] loganfsmyth commented on #6227
@cagdastulek Currently while Babel's syntactic transformations can be toggled off and on easily, it's separate from `babel-polyfill`. `babel-polyfill` includes whatever `core-js` decides to implement, which in this case includes a few experimental things.

[2017-09-12 23:41] msdark commented on #6210
So this is basically re-add the functionality to preset-env preset-es2015 as mentioned in https://github.com/babel/babel/issues/6210#issuecomment-328337803

[2017-09-12 23:54] ljharb commented on #6227
@cagdastulek what would be the point, if it ends up landing in the language you'd be stuck anyways. Best to make the fix now.

[2017-09-12 23:58] jridgewell commented on #6210
Yup.

[2017-09-13 00:09] cagdastulek commented on #6227
This is also what we figured out. Thanks a lot for all comments and help.

[2017-09-13 00:17] #4356 closed

[2017-09-13 00:17] #2536 closed

[2017-09-13 00:17] #3947 closed

[2017-09-13 00:17] #4026 closed

[2017-09-13 00:17] #4154 closed

[2017-09-13 00:17] #5630 closed

[2017-09-13 00:17] #5654 closed

[2017-09-13 00:17] #6234 closed

[2017-09-13 00:59] loganfsmyth commented on #6128
Going to close this since it does not seem actionable for us.

[2017-09-13 00:59] #6128 closed

[2017-09-13 01:02] loganfsmyth commented on #5967
FYI edited this issue body. The ES6 module syntax part of this is now done in https://github.com/babel/babel/pull/6230 so this issue is even easier, we just need to move the logic from this module into `block-scoping`.

[2017-09-13 01:10] loganfsmyth commented on #4895
This should only have happened previously if you were using `module.exports` or something like that in your file, which isn't a usecase we really supported.

In Babel 7.x, if you wanted to access the AMD `'module'` import, you'd have to explicitly

    import module from 'module';

to get it.

[2017-09-13 01:10] #4895 closed

[2017-09-13 01:12] loganfsmyth commented on #4473
Fixed in https://github.com/babel/babel/pull/6230 Opted for the first example output for sanity's sake. We can always explore more later if people actually hit that edge case.

[2017-09-13 01:12] #4473 closed

[2017-09-13 01:13] loganfsmyth commented on #4367
To the best of my knowledge these are working now. If you run into this, please open a new issue with a reproducible example.

[2017-09-13 01:13] #4367 closed

[2017-09-13 01:15] #4163 closed

[2017-09-13 01:18] loganfsmyth commented on #4091
This appears to work now.

[2017-09-13 01:18] #4091 closed

[2017-09-13 01:22] loganfsmyth commented on #3902
This is not a supported usecase for the AMD transform.

You can't mix CommonJS-style `require` and ES6 `import`.

[2017-09-13 01:22] #3902 closed

[2017-09-13 01:23] loganfsmyth commented on #3845
I'm just going to close this. `auxiliaryCommentBefore` is flaky at absolute best. If you need coverage reporting via Instanbul, use https://github.com/istanbuljs/babel-plugin-istanbul

[2017-09-13 01:23] #3845 closed

[2017-09-13 01:24] loganfsmyth commented on #3034
I'm just going to close this. auxiliaryCommentBefore is flaky at absolute best. If you need coverage reporting via Instanbul, use istanbuljs/babel-plugin-istanbul

[2017-09-13 01:24] #3034 closed

[2017-09-13 02:20] colshacol commented on #6150
I have spent the last two hours trying to track this down. (Because I am bored, off work, and really want to begin contributing to Babel.)

I followed the data all through `babel-traverse/src/path` modification and replacement, but it does not seem to be happening there.

`packages/babel-traverse/src/path/replacement.js` finishes (in the particular case of `cheese`/`baz` on line `200`. And at that

[2017-09-13 02:29] hzoo commented on #5109
Isn't this fixed now too https://github.com/babel/babel/pull/6230?

[2017-09-13 03:04] loganfsmyth commented on #5109
Yup!

[2017-09-13 03:04] #5109 closed

[2017-09-13 03:07] loganfsmyth commented on #4281
As of https://github.com/babel/babel/pull/6230, `require` statements like this will be entirely ignored when using the `UMD` transform.

Someone could certainly write a transform for CommonJS to UMD, if there isn't one, but I don't think it's likely to be something we'd want to maintain in Babel's core repo.

[2017-09-13 03:07] #4281 closed

[2017-09-13 03:13] #3802 closed

[2017-09-13 03:20] loganfsmyth commented on #2182
I don't see this behavior currently. If you can see it, feel free to reopen.

[2017-09-13 03:20] #2182 closed

[2017-09-13 03:20] loganfsmyth commented on #5792
Duplicate of https://github.com/babel/babel/issues/2877

[2017-09-13 03:20] #5792 closed

[2017-09-13 03:38] loganfsmyth commented on #5696
@benjamn Is this an issue with Recast potentially? Not sure how it decides when to render the `as foo` part and when not too, but this seems to print okay locally in my test.

[2017-09-13 03:40] loganfsmyth commented on #5208
Yup, there are two ways to fix this:

1. Compile the module in `node_modules` too, which isn't idea and could break that module.
2. Use `babel-preset-env` for your Node environment, so it'll skip compiling the class syntax since your local Node version obviously supports it.

[2017-09-13 03:40] #5208 closed

[2017-09-13 03:43] loganfsmyth commented on #4799
Your example appear to be working now.

[2017-09-13 03:43] #4799 closed

[2017-09-13 03:59] #5690 closed

[2017-09-13 04:31] bmeurer commented on #6233
You should never emit calls to `Array(len)`. Always use `new Array(len)`, because the *[[Call]]* syntax doesn't have *elements kind tracking* in the most recent V8 versions (and was always a bit broken before).

Besides that, holey arrays aren't the end of the world and it's usually faster to just do `new Array(len)` and live with the holeyness, rather than starting with `[]` and having to realloc

[2017-09-13 05:51] babel-bot opened #6675 "Export a constant with the list of valid plugins"
Babylon should probably be validating the plugins that you enable. But it would also be useful to export them all as an array of strings.

Would be useful in something like astexplorer, so it doesn't have to maintain its own list.

[2017-09-13 07:53] wangyun1517 commented on #5851
@hzoo @bdadam So what's the conclusion？ Still not recommended?

[2017-09-13 07:59] nicolo-ribaudo commented on #5851
I'd suggest looking at this question on HashNode! https://hashnode.com/ama/with-babel-team-cj7awmk5e00ij54wu6onnyc5w#cj7be3u8e00t554wu7nti3iiu

[2017-09-13 08:09] maurobringolf commented on #5967
Thanks, I will give this a try today.

[2017-09-13 09:35] ajaymathur commented on #6210
Cool, so can I please take this up ?

[2017-09-13 13:10] nicolo-ribaudo commented on #6210
@ajaymathur Yes 👍

[2017-09-13 13:17] hzoo commented on #6233
Alright, sounds like an easy fix to just use `new Array()` instead of `Array` and forget using `[]` like you said. Would be a nice beginner contribution too.

[2017-09-13 13:19] hzoo commented on #6067
beta.0 is out, so closing

[2017-09-13 13:19] #6067 closed

[2017-09-13 13:27] hzoo commented on #6216
I guess we'll close then? Can try https://github.com/babel/babel/issues/4480#issuecomment-311357113

[2017-09-13 13:27] #6216 closed

[2017-09-13 13:29] hzoo commented on #4589
https://github.com/babel/babel/pull/4843#issuecomment-326368862

Hopefully this works better with linux subsystem now?

[2017-09-13 13:29] #4589 closed

[2017-09-13 14:23] jridgewell commented on #6030
This could be done pretty easily now if we add support for `import` statements into the helpers code.

[2017-09-13 15:57] bmeurer commented on #6233
Nice. Yeah indeed a good starter project. cc @mathiasbynens

[2017-09-13 17:49] loganfsmyth commented on #6030
Yup! We can definitely make helpers support `import fooHelper from "fooHelper";` and rewrite it all so they link together properly and get injected together.

[2017-09-13 18:56] mathiasbynens commented on #6233
As always, It Depends™.

I’m going to give newcomers to the Babel project a chance to submit a patch for [this change](https://github.com/babel/babel/issues/6233#issuecomment-329164507). If no one picks it up by early next week, I’ll contribute a patch myself.

[2017-09-13 19:16] Andarist commented on #6233
I can take it :) going to send PR in following days.

[2017-09-13 19:30] keustma commented on #6233
Hi @Andarist , I was tinkering with this before I saw your comment. Is it OK if I create a PR for this?

[2017-09-13 19:31] gs-akhan commented on #6233
I would love to see how it was fixed and learn on how to go about making this.

Thanks @Andarist

[2017-09-13 19:43] Andarist commented on #6233
@keustma sure, go for it

[2017-09-13 19:44] Swivelgames commented on #5052
Friendly poke. No, seriously, poke... What's the deal with this?

If you all need help, I'll gladly pitch in a PR! 😄

[2017-09-13 20:15] Swivelgames commented on #5052
Thanks @existentialism for working this! 😄

Is it possible to get an ETA on when this would likely make it's way into a release?

[2017-09-13 20:33] #2438 closed

[2017-09-13 22:15] gsathya opened #6240 "Computed class fields evaluated during construction"
bug report

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

stage3, stage2 presets

### Expected Behavior
1
1

### Current Behavior
1
undefined

### Your Environment
[REPL](https://babeljs.io/repl/build/4898/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBAHhC8EHIoINwCg0GMA2IDOeEAYhAN5oQQDaUAunBAIzqWYD2AdngC5gCumbmzAAKAJRkIFShHZc22AKYA6bGwDmI7gA

[2017-09-13 22:18] gsathya opened #6241 "Class fields don't work when super() is called in a different scope"
bug report

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

stage3, stage2 preset

### Expected Behavior
1

### Current Behavior
undefined

### Your Environment
[REPL](https://babeljs.io/repl/build/4898/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBAHhC8EEYDcAoFBjANiAzjiAYhAKZQAuxAdgCb4DyARgFbHpkQDeKEE6c0qbrwD2lHGTABXNsLAAKAJScIQngDN-iuAD4IOSQ

[2017-09-13 22:46] loganfsmyth opened #6242 "Gain consensus on path forward for "sourceType" for parsing modules vs scripts in 7.x"
Rather than have this on Slack, I thought it would be useful to have this as an issue so we can refer to it in the future. So, the question:

What this means in practice is:

* Users using ES6 module syntax will have to rename their files to `.mjs` _or_ put `sourceType: "module"` in their `.babelrc` or whatever Babel config they have.
* Users who were relying on Babel automatically adding `use str

[2017-09-13 23:51] gsathya opened #6243 "new.target is not allowed in class field initializer"
bug

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

stage3, stage2

### Expected Behavior
no error

### Current Behavior
Error

### Your Environment
[REPL](http://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEBi0G8BQ1oA9oF5oDsCmA7gHQAuYATgOZ4kDcSAvkkA&debug=false&circleciRepo=&evaluate=true&lineWrap=false&preset

[2017-09-14 06:37] jridgewell commented on #6233
@bmeurer: How hard would it be for Chrome to handle this case? Something like the following:

[code]

[2017-09-14 07:31] ngnam commented on #909
Thanks Bro ^^
`let asyncFn = (item) => {
            return new Promise((resolve, reject) => {
                setTimeout( () => {console.log(item); resolve(true)}, 1000 )
            })
        }
        // asyncFn('a')
        // .then(()=>{return async('b')})
        // .then(()=>{return async('c')})
        // .then(()=>{return async('d')})
        let a = ['a','b','c','d']
        a.reduce((p

[2017-09-14 08:04] mathiasbynens commented on #6233
@jridgewell If transitioning back up the lattice were possible, we could end up in elements kind transition loops. (Also, technically, it wouldn’t be a lattice anymore.)

This is something I (naively) brought up as well. Especially in cases where things like `Array.prototype.fill()` are used, e.g. `new Array(3).fill(42)`, it would seem the elements kind should be able to transition back from `HOLE

[2017-09-14 08:11] mathiasbynens commented on #6233
Allow me to clarify what I tried to convey in that last paragraph you quoted. There’s two ways to go:

1. Either you choose to optimize the *array creation* itself by using `new Array(n)` so it can be preallocated.
2. Or, you choose to optimize the later *operations on the array*. In this case it makes sense to avoid `HOLEY` elements kinds.

It’s a trade-off for sure, and as the choice depends on

[2017-09-14 08:13] maurobringolf commented on #5967
I looked into `block-scoping` but would need quite some time to understand its working pieces and put the constants check in the right place. Don't expect a PR from me soon, someone with experience in `block-scoping` will probably be a lot more efficient at this task.

[2017-09-14 08:37] ckrad opened #6245 "when babel presets es2015 opts modules set false, got the error Uncaught SyntaxError: Unexpected token import"
when babel presets es2015 opts modules set false, got the error Uncaught SyntaxError: Unexpected token import
[code]

can anyone help me?

[2017-09-14 08:37] mathiasbynens commented on #6233
Also: it’s not like every single `.push(x)` triggers reallocation. Implementation details time! In V8, an empty array gets a buffer of 16 elements. This gives it a little bit of room to grow without needing reallocation. Once you add a 17th element, the buffer expands by 50%. This formula continues after that every time reallocation is needed.

[2017-09-14 08:59] nicolo-ribaudo commented on #6245
Can you show a code snippet which reproduces the issue? Are you getting that error from Babel or from node/the browser?

[2017-09-14 15:35] xehpuk opened #6246 "transform-es2015-unicode-regex fails to parse regex"
## Bug Report
The plugin `transform-es2015-unicode-regex` can't parse this regex:
[code]

### Babel Configuration
#### webpack.config.js
[code]

#### package.json
[code]

### Expected Behavior
Transformed regex compatible with ES5 respectively no transformation at all.

### Current Behavior
[code]

### Possible Solution
#### webpack.config.js
[code]
Why is it needed anyway? All listed browsers sup

[2017-09-14 17:31] jridgewell commented on #6233
My thought is that the `MAYBE_PACKED` would sit above `PACKED` and `HOLEY` on the lattice, something like:

| SMI | DOUBLE | ELEMENT |
| --- | --- | --- |
| `MAYBE_PACKED` | | |
| `PACKED` | | |
| `HOLEY` | | |
| | `MAYBE_PACKED` | |
| | `PACKED` | |
| | `HOLEY` | |
| | | `MAYBE_PACKED` |
| | | `PACKED` |
| | | `HOLEY` |

With that added stipulation that you can't transfer to a `MAYBE_PACKED`, it

[2017-09-14 18:00] #5091 closed

[2017-09-14 18:11] hzoo opened #6247 "Can't use object-rest-spread in a function"
Original issue submitted by @tolmasky in https://github.com/babel/babylon/issues/724

Here's the REPL example: https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=FAMwrgdgxgLglgewgAgB4AoCUwDewCQAbgIYBOyxyAvMujsgHROkCmAzjMgL7XJsIBbFjAAWcCAHNMAbmBcgA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-0&prettier=false&targets=&version=6.26

[2017-09-14 18:15] tolmasky commented on #6247
In 6 this seems to happen because of this: https://github.com/babel/babel/blob/6.x/packages/babel-plugin-transform-object-rest-spread/src/index.js#L183

That is false and thus ref is never set, causing undefined to be used into createObjectSpread. Does the REPL use 7-beta? This code looks very different there.

[2017-09-14 18:23] tolmasky commented on #6247
I guess its fixed in 7? https://runkit.com/tolmasky/59bac814a0dafb0012fb9954

Would it be possible to backport these changes to the 6 branch or are they 7 reliant? We've got users running into this now, and even after 7 ships we'll probably have to start on 6 for a while.

[2017-09-14 19:08] jdalton opened #6248 "babel-register should passthru for other handlers."
At the moment `babel-register` hooks into `require.extensions` but doesn't passthru to previous `require.extensions` compilers. This makes order important for things like [@std/esm](https://github.com/standard-things/esm) *(related issue [here](https://github.com/standard-things/esm/issues/62))*.

`@std/esm` will passthru to existing `require.extensions` handlers so folks can load `@std/esm` after

[2017-09-14 19:26] jridgewell commented on #6248
Can you make a PR? I'm not familiar enough with the require hooks to make the fix myself.

[2017-09-14 19:32] jdalton commented on #6248
Totally 💯 !

[2017-09-14 19:40] jridgewell commented on #4535
This was fixed by #3670.

[2017-09-14 19:40] #4535 closed

[2017-09-14 19:41] jridgewell commented on #6248
I know we had [previous issues](https://github.com/babel/babel/issues/4535) where babel would recompile the file from disk, but that's been fixed in 7. Is that the same issue as this?

[2017-09-14 20:54] jdalton commented on #6248
No this is a different issue where previous handlers aren't called. It requires a couple more hooks to be added but it's doable to passthru to existing compilers to build on each other.

[2017-09-14 22:07] hzoo commented on #5556
Closing for inactivity, and also that we weren't really able to come to a conclusion on this - we still don't think libraries should be including a polyfill, and you could just import core-js manually as a workaround but not recommended. You could try preset-env's useBuiltIns option which actually does get around this issue since it rewrites it.

[2017-09-14 22:07] #5556 closed

[2017-09-15 01:31] jridgewell commented on #6247
Yup, fixed in 7.

[2017-09-15 01:31] #6247 closed

[2017-09-15 01:31] Kovensky commented on #6242
One possible difficulty is what to do with `.ts` and `.tsx` files. The babel typescript transform is written with the idea that `--isolatedModules` is used so they are always modules _but_ if the file only uses `import Identifier =` and `export =`, it is still a commonjs module script. 🤔

[2017-09-15 01:31] jridgewell commented on #6245
You can't use `import` or `export` in script mode.

[2017-09-15 01:31] #6245 closed

[2017-09-15 01:39] tolmasky commented on #6247
Would it be possible to backport these changes to the 6 branch or are they 7 reliant? We've got users running into this now, and even after 7 ships we'll probably have to start on 6 for a while.

[2017-09-15 01:41] jridgewell commented on #6247
I don't think we're cutting any more 6 releases, mainly because there's not enough of us to fix 6 bugs and work on 7.

[2017-09-15 07:46] chicoxyzzy commented on #6203
I think we should fix this or remove `babel-types` and use `babel-plugin-transform-flow-comments` in babylon before 7 release. If we decide to remove `babel-types` I can do this and update all dependent packages in the repo after moving babylon to monorepo.

[2017-09-15 10:02] Kovensky commented on #6243
It seems it is supposed to evaluate to `undefined` (each initializer runs in the equivalent of `(function () { return initializer }).call(this)`).

[2017-09-15 18:04] lukescott opened #6252 "optimize for of Object.keys"
Feature request.

### Input Code

[code]

### Expected Behavior

Built-in functions that always return an array should be optimized like an inline `[...]`:

[code]

### Current Behavior

Built-in functions that always return an array are not optimized:

[code]

### Possible Solution
Check for commonly used built-in functions such as Object.keys. If these functions are used, optimize "for of".

###

[2017-09-15 18:06] #5633 closed

[2017-09-15 18:06] hzoo commented on #6252
hey @lukescott this is already done in v7 😄  so maybe upgrade https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=GYewTgBAFANgpgFwgazgTwiYEDyAjAKzgGMEA6VNAZyhEJIQEpGIBvASAChOBfIA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015&prettier=false&targets=&version=7.0.0-beta.0

[2017-09-15 18:06] #6252 closed

[2017-09-15 18:07] lukescott commented on #6252
Oh, sweet! TY @hzoo !

[2017-09-15 18:31] loganfsmyth opened #6253 "'babel-generator' should not inject newlines before the update suffix operator"
In JS, there are a few places where it's explicitly defined that newlines may not exist. We recently reworked some logic in https://github.com/babel/babel/pull/5950 for instance so we can explicitly declare "no newlines" for instance, and it will reformat comments to skip newlines.

In https://github.com/babel/babel-loader/issues/513, it was reported that we don't respect the no-newline insertion

[2017-09-16 04:26] zestime commented on #6253
It looks simple. I can do it. By the way, two tests in babel-generator are broken. They are related to 7f390b028212b49dffc371989e92d972545b33fa about parentheses.

[2017-09-16 06:44] #5909 closed

[2017-09-16 17:27] babel-bot opened #6604 "transform-class-properties together with babel env"
I'm having difficulties using the plugin transform-class-properties together with babel-preset-env, even if it's defined in the `.babelrc` the build still says 'Missing class properties transform.'. Searching online I found that you need to use transform-class-properties before the others (or after, can't recall now) but as far as I know I can't change the execution order in the babelrc.

How can

[2017-09-16 22:23] hzoo opened #6258 "Simplify class static getter in loose mode"
We could simplify the transform here if we want: https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAECCIFMBOAXaBvAUNaEVhQEthoBzBNANQFEAlAZQEkB5AOQAoBKDbHaJCgFckAO2g0GLVrwC-mGUA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015-loose&prettier=false&targets=&version=7.0.0-beta.0

[code]

[code]

[code]

[2017-09-17 13:23] danez commented on #1798
This is fixed in 7.0

https://babeljs.io/repl/build/7.0/#?babili=false&browsers=&build=&builtIns=false&code_lz=GYVwdgxgLglg9mABAZwBTIJSIN4ChGIBOAplCIUngQQOTI0BcidNANPtQPScDqAFgE9EMZIih8RiADYwwxRAjF95cgB5Rps4gH4OAXwDayALoBuXHqA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=&prettier=false&targets=&version=7.0.0-alpha.20

[2017-09-17 13:23] #1798 closed

[2017-09-17 18:22] #6253 closed

[2017-09-17 21:33] #6210 closed

[2017-09-18 14:19] Ambroos opened #6262 "Bug: 7.0.0-beta.0 - export default async function named() {} is broken"
Bug report

### Input Code

[code]

Failing demo project: git@gist.github.com:e33790419e48fc6c504e39aa3b35572f.git or https://gist.github.com/Ambroos/e33790419e48fc6c504e39aa3b35572f - scripts in package.json.

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
Transpiling works as it did in 6.

### Current Behavior
[code]

### Context
Only seems to happen

[2017-09-18 15:16] MaxGenash opened #6264 "ES2015 Class works wrong with instanceof after transpilation"
## Bug report

### Input Code
I have the next code:

[code]

### Expected Behavior
When I run the above code in the console of Google Chrome v58 or node.js v8.5 I get the next output, which is expected behavior:
`error instanceof ThrottleError =  true`

### Current Behavior
After transpilation the above code becomes the next:
[code]
When I run the transpiled code it in the console of Google Chrome

[2017-09-18 15:48] #6246 closed

[2017-09-18 16:26] loganfsmyth commented on #6264
Duplicate of https://github.com/babel/babel/issues/5524

[2017-09-18 16:26] #6264 closed

[2017-09-18 16:30] Ambroos opened #6266 "Question: 7.0.0-beta.0 - babel-register exports with __esModule - intentional?"
The package `babel-register@7.0.0-beta.0` no longer does `module.exports = exports["default"]` but instead does:

[code]

While this makes revert available it also means that compatibility with existing implementations breaks. `interpret` for example (used for config.babel.js in projects like webpack) currently relies on the default export pointing to the register function.

It's patchable in inte

[2017-09-18 18:14] #6233 closed

[2017-09-18 21:17] ajaymathur commented on #6258
Sounds nice. Can I please give it a shot and come back if I have any questions?

[2017-09-18 21:37] existentialism commented on #6258
@ajaymathur sure!

[2017-09-18 22:50] loganfsmyth commented on #6266
I'll PR a fix. It's a change we knew about but mostly forgot to go back and fix, sorry about that.

[2017-09-18 22:53] loganfsmyth commented on #6266
Fix: https://github.com/babel/babel/pull/6268

[2017-09-18 23:08] Ambroos commented on #6266
Awesome, thanks a lot for the fast response!

[2017-09-18 23:23] ajaymathur commented on #6258
@existentialism Thanks 😃

[2017-09-19 07:42] gsathya commented on #6240
Actually, I think this is WAI. @littledan, can you confirm?

[2017-09-19 09:14] MyGuySi opened #6270 "Super expression must either be null or a function, not undefined"
I'm using React Native and getting the error in the title. The error is pointing at `actions.js:7` (see screenshot below) which is an import statement. It's importing a singleton of a class that extends a base class. I'm guessing that it's the `super()` call in the singleton class that's causing the issue.

It came up after restructuring the project and moving the files into new directories. The c

[2017-09-19 10:44] MyGuySi commented on #6270
Deleted my local repo, cloned again and it works fine... weird

[2017-09-19 14:35] pranavpr commented on #6220
Have created a PR #6251 for this. @loganfsmyth can you please review it and let me know your comments?

[2017-09-19 16:35] loganfsmyth commented on #6270
Yeah this is generally how cycles manifest in Babel code right now. There's any number of reasons that `undefined` could get passed to a class, but that's the main reason it happens when it clearly seems like you imported it right.

I'm not sure there's anything specifically actionable to do that should make us leave this open though.

[2017-09-19 16:52] #6266 closed

[2017-09-19 19:22] hzoo commented on #6262
Not sure yet but my guess is that regenerator is using babel-types 6.x still and we have an issue https://github.com/facebook/regenerator/blob/3860530dce5d5988d42670858791b2b3b894c921/packages/regenerator-transform/package.json#L32 @benjamn?

[2017-09-19 19:49] littledan commented on #6240
To be clear: I think the original post is right, and Babel has a bug.

[2017-09-19 20:29] kurtextrem opened #6272 "Bind single function definition in loose mode"
Feature Request
Twitter Thread: https://twitter.com/aweary/status/908114184130281472 & https://twitter.com/left_pad/status/910219061174337537

![](https://pbs.twimg.com/media/DJpFCPCVYAAfEjw.jpg)

[2017-09-19 20:30] loganfsmyth commented on #6242
Another way to look at this is that right now, without modifying the code of the file itself with things like `export {};`, there's literally no way to tell Babel to treat a given snippet of code as a module. As a hack it can check the extension, but what if there's no filename given? If we do inject `export {};`, that'll show up in an output sourcemap.

Being confident of _when_ something is a mo

[2017-09-19 22:28] hzoo opened #6273 "7.x regression with env"
bug report

[code]

Ok looks like it works in 2.0.0-alpha.20 so it happened between `alpha.20` and `beta.0` https://github.com/babel/babel/releases/tag/v7.0.0-beta.0

Error: a.js: Couldn't find a Program
    at Scope.getProgramParent (/b/node_modules/babel-plugin-transform-es2015-block-scoping/node_modules/babel-traverse/lib/scope/index.js:836:11)

### Minimal Input Code

[code]

### Babel Configu

[2017-09-19 22:30] bradchristensen commented on #6262
I didn't realise what was actually causing this so thanks for pinpointing it! I was able to upgrade to the beta by using your suggestion of splitting up the function definition and export statement, which is good enough for me since I only have a few of these.

For what it's worth, I noticed that this became an issue for me during the alphas but I was able to work around it at the time by pinning

[2017-09-19 22:33] jridgewell commented on #6273
Repl?

[2017-09-19 22:33] hzoo commented on #6273
we need to fix env in the repl

[2017-09-19 22:39] hzoo commented on #6262
The error is coming from babel-types which validates ast node types, and we aren't know that regenerator is using a different version so it might be incompatible

[2017-09-19 22:49] hzoo commented on #6273
jk incompatible versions since i forgot to update preset-env packages to beta.1..

[2017-09-19 22:49] #6273 closed

[2017-09-19 23:31] bradchristensen commented on #6262
Yikes! I've just tracked that down to being caused by a different breaking change in `babel-preset-env`. I had a `browserslist` section in my `package.json` (which I see now may not have even been used until now) which I intended to be conditionally overridden by my `node` target in `.babelrc.js`. I see in the code that the updated documentation states that this will now be merged in with the exis

[2017-09-19 23:41] dnalborczyk opened #6275 "Babel 7.0.0 beta 1 transform-es2015-modules-commonjs plugin: "default" and "member" import broken"
_not sure if this counts as a bug, since the following is not spec anyways, but it was working in Babel 6.x.x and 7.0.0 beta 0 -- unless it's intendet behavior now?_

importing a default member and member from a common js module throws exception.

[code]

exception:
[code]

configuration
[code]

[2017-09-19 23:42] kesne opened #6276 "7.0.0-beta transform-react-inline-elements broken for multiline string props"
When using `transform-react-inline-elements` in the latest 7 betas, multiline string props don't transpile correctly. This leads to unterminated string constants which are not valid JavaScript.

### Input Code

[code]

Currently this outputs the following:

[code]

which is not valid JS

### Babel Configuration

[code]

### Expected Behavior
Valid JS is outputted. It should output the following gi

[2017-09-19 23:49] loganfsmyth commented on #6275
Looks like a bug to me! Thanks for reporting, I'll take a look.

[2017-09-20 02:07] Kovensky commented on #6242
The difficulty with supporting _that_ for `node_modules` compilation is that the setting that is appropriate for the user's project is not necessarily the correct setting for any given `node_modules` module, and there may be multiple different `node_modules` entries each requiring a different setting.

This problem should also increase as node modules start shipping `.mjs` files. Probably the easi

[2017-09-20 02:38] xialvjun opened #6277 "Maybe a better module system"
I don't know where to make an ecmascript rfc, so I put it here.

Js is a dynamic language, I don't think we should use the concept of static importing.
If it's static importing, just consider `import { a, b, c } from 'http://www.google.com/abc.js';`, how can you believe the imported must have fields `a, b, c`: google can respond `foo.js` this time and 'bar.js' next time.

The duty of tree shaking

[2017-09-20 04:55] mayani commented on #5219
Fixed in insin/babel-plugin-react-html-attrs#9

[2017-09-20 04:55] #5219 closed

[2017-09-20 05:04] loganfsmyth commented on #6277
Sorry, this isn't the place for this. I'd recommend posting on https://esdiscuss.org/ if you feel strongly about this.

I think you should also clarify your arguments because as it is I don't think it is clear from your examples what you feel is lacking in the current syntax and proposed `import()`.

[2017-09-20 05:04] #6277 closed

[2017-09-20 06:32] ljharb commented on #6242
Just dropping in to say that in no way should "unambiguous" be the default - it's nonstandard, and the only defaults should ever be "the standard". Adding it as an option is great! But it should only be explicitly opt-in.

I think that the proper thing is to do what node is planning, which is ".mjs is Module, .js is Script" by default, and if users want to override this by *extension* they should

[2017-09-20 07:50] Andarist opened #6278 "Optimize `let a;` - skip explicit undefined when possible"
**Feature request**

### Input Code
[code]

### Expected Behavior
[code]

### Current Behavior
[code]

### Context
Just a small optimization. Need to be checked if `let` declaraction is within loop - if yes then it cannot get optimized, but if not it should be ok to skip explicit undefined.

Posting this as a reminder, I plan to work on this, but not right now, because I have more pressing issues

[2017-09-20 07:56] vetoshko commented on #1286
I still have the same issue ("version": "6.26.0").

[2017-09-20 18:38] carvalhoviniciusluiz opened #6281 ""sh: 1: ./node_modules/.bin/babel: not found" while deploying to heroku"
I get the error "sh: 1: ./node_modules/.bin/babel: not found" while deploying to heroku.

<pre>
Counting objects: 37, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (31/31), done.
Writing objects: 100% (37/37), 9.85 KiB | 0 bytes/s, done.
Total 37 (delta 1), reused 0 (delta 0)
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Node.j

[2017-09-20 18:42] loganfsmyth commented on #6281
Heroku does not install dev dependencies since the server sounds as "production" by default: https://stackoverflow.com/questions/43463204/deploy-to-heroku-gulp-not-found-error

[2017-09-20 18:42] #6281 closed

[2017-09-20 19:07] carvalhoviniciusluiz commented on #6281
I understand! in that case then have to create the variable NPM_CONFIG_PRODUCTION = false in heroku to deploy :+1: it would be the only way

[code]

[2017-09-20 22:13] jridgewell commented on #6278
This is a good beginner-friendly bug.

[2017-09-20 22:19] nicolo-ribaudo opened #6283 "`var`s which conflicts with a `let` declared in an outer block aren't reported."
This issue only appears if the let declaration is inside a block. If it is a direct child of a function body/program, babel throws correctly.

  [REPL](https://babeljs.io/repl/build/4985#?babili=false&browsers=&build=&builtIns=false&code_lz=N4KABGA2CmAuYEMDc4zDANwQJ0UsAviAUA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=stage-2&prettier=false&targets=&version=7.0.0-beta.1)

### In

[2017-09-20 22:24] nicolo-ribaudo opened #6284 "When inserting a variable declared in an outer scope using `Scope#push`, references aren't updated"
[AST Explorer](https://astexplorer.net/#/gist/e9ca1c26ad4ca7202c11d8227e31bb2a/66e27f86fd9eba8cfc9b71bd0df2b069527e4e4c)

Choose one: is this a bug report or feature request?

### Input Code
[code]

### Visitor
[code]

### Expected Behavior
[code]

### Current Behavior
[code]
  Note that if I give that output to babel a second time, it correctly throws the error.

### Your Environment

| software

[2017-09-20 22:26] Andarist commented on #6278
There are many gotchas with this - https://github.com/babel/babel/issues/255 . So need to be checked carefully

[2017-09-20 22:53] ajaymathur commented on #6258
Hi, I started with this, I was able to transform the tree, I have a question condition for this transformation should be `ClassDeclaration` with only one body node of kind `get`.

Am I correct?  What could be the other conditions?

[2017-09-21 00:48] natevw commented on #5222
Thanks folks, for looking into this more deeply! (TBQH I wasn't even 100% sure whether the spec supported me here or not, but of course glad it does after all ;-)

[2017-09-21 01:17] ajaymathur commented on #6278
Checking if it is declared in loop, should be the only check?

[2017-09-21 01:34] dnalborczyk opened #6285 "support --experimental-modules flag with node v8.5.0"
I tried to use Babel (6.26.0/7.0.0 beta 1) with native ES6 modules in node v8.5.0 with the new **--
experimental-modules** flag set, and noticed a couple issues which would need to be addressed in order to make it work.

_reference:_
https://nodejs.org/dist/latest-v8.x/docs/api/esm.html

1. one would need to pass in the new **--experimental-modules** flag to node (unsupported by Babel). I added th

[2017-09-21 03:29] jridgewell commented on #6278
I'm like 90% sure that's all that's needed. If it's not, it's a bug much deeper in the codebase.

[2017-09-21 03:54] hzoo commented on #6285
for 2, We landed https://github.com/babel/babel/pull/6221

[2017-09-21 07:43] Andarist commented on #6278
like mentioned in the linked thread, we need to be careful for such cases:
[code]

We can probably check binding identifiers to determine if:
- explicit undefined is needed (would cause some false positives for sure)
- just rename the identifier if there is a clash name + loop check as mentioned

[2017-09-21 16:15] simonjoom opened #6287 "babel-plugin-transform-es2015-parameters beta."
bug report:

With the new version supported loose mode i have got some trouble with prerender,

my application compiled with Loose: true work good on browser
But server side it's not working my prerender cannot see window.prerenderready=true

seems window is lost when we use babel-plugin-transform-es2015-parameters in Loose mode

So i went back to babel-plugin-transform-es2015-parameters alpha.20

[2017-09-21 16:32] loganfsmyth commented on #6287
You erased our issue template, it asks for Input Code for a reason. There is no way we can guess what the problem is, you need to give us an example that causes the problem.

[2017-09-21 16:51] simonjoom commented on #6287
Unfortunately i cannot give an example easily

it's inherent to prerender , i cannot show a part of code where it's happening,

I use window.prerenderready=false; in my main application.
This switch allow to say to prerender to wait till the rendering process is finish or not.

I use window.prerenderready=true;  in a code to say to prerender that he can take the output.

my code work well , but wi

[2017-09-21 17:05] loganfsmyth commented on #6287
If this is an issue with the parameter transform, there must be some specific function in your code that is not being handled correctly. We need to know what function that is and what part of it is not transformed correctly. I don't necessarily need your real production code, but I'll need you to trim down your code to a small piece that reproduces the problem on its own. If you can't give product

[2017-09-21 19:35] simonjoom commented on #6287
well , the function is not so specific, just create a simple application (SPA)
window.prerenderready=false; is in the main entry chunk and no function around (it's in top Level)

to test it in same environment as me:
create a very simple SPA application
In the global code of the entry point
add window.prerenderready=false;

Nota i use entry chunk with common chunk
i use last web pack 3

my web-pac

[2017-09-21 19:42] nicolo-ribaudo commented on #6287
Hi, can you create a simple repository which can be downloaded to reproduce the bug? This would make it easier to debug and solve the issue.

[2017-09-21 19:44] loganfsmyth commented on #6287
I want to get this fixed for you, but please try to appreciate this from my side. I have no clear instructions of how to reproduce this issue, I don't know anything about prerender, I don't even have a description of the bug you are reporting. Even if I got a setup working, I don't have a clear picture of what I'd be looking for. You're asking me to take what could end up being an hour or two to r

[2017-09-21 19:46] simonjoom commented on #6287
ok i will do recreate this bug in my time  (i will recreate a simple SPA for it

[2017-09-21 19:52] loganfsmyth commented on #6287
If that is what it will take then that'd be great. Usually it's possible to trim down the code to short examples of the input ES6 and the output ES5 to demonstrate what the incorrect transpiled output is, which would avoid needing an entire application to reproduce the issue though.

[2017-09-21 21:09] jridgewell commented on #6278
I believe those errors were wayyyyy back in babel history. Now, those two `foo`s should always be different bindings, and be renamed (if possible) or closed over (if not possible) to ensure they're different `var` bindings.

[2017-09-21 22:47] Andarist commented on #6278
Ok, thanks for the clarification - I have started working on this.

[2017-09-21 23:18] Andarist commented on #6272
I might try working on this.

[2017-09-22 02:47] hzoo commented on #4959
I think I wrote enough to start a PR somewhere

[2017-09-22 05:26] #6278 closed

[2017-09-22 05:26] #6275 closed

[2017-09-22 06:55] babel-bot opened #6603 "IE 9 Array (find&findIndex) not work"
Somebody tell me how to do it? In addition to using polyfill

[2017-09-22 08:28] ankon opened #6290 "babel-preset-2015: 'don't make yearly presets' message is hard to read and messes up the console"
### Expected Behavior
`npm install` output is reasonable.

### Current Behavior
Noisy and messy output from babel-preset-es2015 (see screenshot)
![screen-babel-messy-output](https://user-images.githubusercontent.com/1210641/30735843-be2934bc-9f80-11e7-9604-bc4d233456ae.png)

### Possible Solution
1. Use less fancy emojis that simply might not exist everywhere
2. Shorten the message so it fits into

[2017-09-22 11:33] ajaymathur commented on #6258
Hi, I am sharing my findings here please correct me if I am wrong.

https://github.com/babel/babel/blob/72da5e1d022a533c7209070aa1eb2920552526b5/packages/babel-plugin-transform-es2015-classes/src/vanilla.js#L189
 is where node is transformed. I need to handle this in case of `isLoose` is `true` and node kind is `get`, _Maybe write a helper and use it_

PS: I am starting with Babel, with this issue

[2017-09-22 15:02] bclinkinbeard commented on #5797
I'm getting this error with the following deps.

[code]

[2017-09-22 16:45] nicolo-ribaudo commented on #5797
Can you run `yarn list` or `npm list`?

[2017-09-22 17:03] bclinkinbeard commented on #5797
Now I'm getting a different error.

<details>
 <summary>Here is the error</summary>
yarn test v1.0.2
$ jest
 FAIL  ./test.js
  ● Test suite failed to run

    Cannot find module 'fbjs/lib/warning' from 'ReactNoopUpdateQueue.js'

      at Resolver.resolveModule (node_modules/jest-resolve/build/index.js:192:17)
      at Object.<anonymous> (node_modules/react/lib/ReactNoopUpdateQueue.js:13:15)

Test

[2017-09-22 17:14] loganfsmyth commented on #6290
The fact that it prints out on multiple lines as the progress spinner updates seems like a bug in `npm` to me. I agree that part of the output is unfortunate, but it'd happen no matter what deprecation warning we put in there.

For the message itself, I'd say it is just as large as we want it to be. The fact that you noticed it is pretty much an indication that it's working.

What does that gain u

[2017-09-22 17:37] Nickersoft opened #6291 "Potential issue transpiling the RegExp unicode constructor?"
Hi guys, I'm building an app via React Native and seem to be running into an issue supporting Unicode in my regex. After I saw that Unicode regex was part of the ES6 standard, I figured I'd reach out to the Babel community over the RN one, as I presume that's where the issue may lie.

Choose one: is this a bug report or feature request?
Bug report

### Input Code

[code]

where `terminators` is a

[2017-09-22 17:41] hzoo commented on #6290
Thanks for reporting, I made it a bit shorter. The multiple prints seems like a separate issue like Logan said

I don't think there is a way to do this, otherwise I would of tried to format it better earlier. We'd like to get users to switch from babel-preset-es2015 to babel-preset-env while explaining the reasoning there, which doesn't really fit into a single line and most people ignore it.

[co

[2017-09-22 17:41] #6290 closed

[2017-09-22 18:53] johnhaley81 opened #6292 "Add `Promise#finally` to `babel-preset-stage-3`"
Now that https://github.com/tc39/proposal-promise-finally is in stage 3. Are there any plans to add `Promise#finally` to the preset?

[2017-09-22 20:11] zloirock commented on #6292
`Promise#finally` is a part of standard library, not syntax, so it can't be added to presets. [It's a part of `core-js`](https://github.com/zloirock/core-js#stage-3-proposals), so it's available in `babel-polyfill`.

[2017-09-22 20:11] #6292 closed

[2017-09-22 20:14] existentialism commented on #6292
@johnhaley81 as a sidenote, we have support for this in babel-preset-env@2.x (currently in beta), with the recently added [`shippedProposals` option](https://github.com/babel/babel-preset-env/#shippedproposals).

[2017-09-22 21:10] nicolo-ribaudo commented on #5797
I think the problem might be caused by jest-runtime, which uses Babel 6.

[2017-09-22 21:24] bclinkinbeard commented on #5797
Any suggestions on how to fix? 😀

[2017-09-22 21:50] loganfsmyth commented on #5797
It may not be feasible at this point, if some of your packages have strong ties to dependencies that expect Babel 6.

[2017-09-22 21:54] nicolo-ribaudo commented on #5772
I don't think this is an issue, since it throws if you enable the `tdz` options (like for `let x = x;`, it doesn't throw by default).

[2017-09-22 21:55] #5772 closed

[2017-09-22 21:58] nicolo-ribaudo commented on #5797
You could open an issue or a PR the jest repo! 😉

[2017-09-22 22:07] nicolo-ribaudo commented on #6291
Babel can't transpile that regex, since its value is dynamic and it is not known at compile time. It should be handled by a polyfill.

[2017-09-22 22:25] Andarist opened #6295 "Consider making fixture runner public/official"
**feature request**

### Context
At the moment those modules:
- `babel-helper-fixtures`
- `babel-helper-plugin-test-runner`
- `babel-helper-transform-fixture-test-runner`

Have this note:

I think the community of babel plugin writers could benefit from having those packages as officially supported. Probably already some depend on it anyway - but claiming it as stable would be nice.

[2017-09-22 22:42] jridgewell commented on #6291
Yup, you need to add `core-js` to your runtime, it already [supports](https://github.com/zloirock/core-js/blob/master/modules/es6.regexp.constructor.js) this.

[2017-09-22 22:42] #6291 closed

[2017-09-22 22:47] jridgewell commented on #6258
@ajaymathur: I think you're on the right track.

But, I think this is a slippery optimization. It only really makes sense for a single getter/setter.

[2017-09-22 22:52] ajaymathur commented on #6258
@jridgewell : something like a single node in body of ClassDeclaration of kind get or set ?

[2017-09-22 22:54] ajaymathur commented on #6258
I got you, there should only one get and/ or set else the get or set property will be overridden

[2017-09-22 22:58] jridgewell commented on #6258
Yah.

[2017-09-22 23:03] jridgewell commented on #6287
This is likely caused by https://github.com/babel/babel/issues/6287.

[2017-09-23 02:38] jordanbtucker opened #6296 "babel.transform API is not using .babelrc"
## Bug

`babel.transform` should use `.babelrc` as indicated at https://babeljs.io/docs/usage/api/.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

The code should run without error.

### Current Behavior

The following output is displayed:

[code]

Note that `babel.transformFile` does not suffer from this bug.

### Your Enviro

[2017-09-23 02:54] arguiot opened #6297 "Having Class issue with custom elements"
# Bug

I'm trying to create custom elements ([MDN](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Custom_Elements)), but it returns me something unexpected.

### Input Code

[code]
Link : [REPL](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=GYVwdgxgLglg9mABBOBbADggpmKiAUYAhqlgDTJEA2VARkRANYCUiA3gFACQEVRAzv2RpMYHHiwAPKDgAmQgBIAVALIAZAKJUspXO248E_KACcQ0O

[2017-09-23 03:14] jridgewell commented on #6297
https://github.com/babel/babel/issues/4480.

[2017-09-23 03:14] #6297 closed

[2017-09-23 04:09] Nickersoft commented on #6291
Thanks for the help guys!

[2017-09-23 04:44] simonjoom commented on #6287
i guess you mean  this ?
https://github.com/babel/babel/pull/6274

[2017-09-23 05:04] pudility commented on #6296
They are not the same. The first is:
[code]
The second is:
[code]

When you use `strictEqual` it will error if they are not the same, however if you want to check if they are the same you can use `===`. Here is an example:
[code]

[More documentation on `strictEqual `](https://nodejs.org/api/assert.html#assert_assert_strictequal_actual_expected_message)

[2017-09-23 05:11] jridgewell commented on #6287
Lol, whoops.

[2017-09-23 05:15] jordanbtucker commented on #6296
@pudility You're missing the point. `withOptions` and `withoutOptions` *should* be the same if `transform` was pulling the configuration from `.babelrc`. The reason I used `strictEqual` is to provide a test for this case.

[2017-09-23 05:20] pudility commented on #6296
I see what you are saying now. You are saying that they should either both or neither have `"use strict";`. I don't know why that is happening, sorry.

[2017-09-23 06:12] jordanbtucker commented on #6296
It turns out that if I specify a `filename` option, then it will use `.babelrc`.

[code]

[2017-09-23 11:48] ankon commented on #6290
Fair enough.

It looks ugly, and at least for me having ugly text in the very first message I see from a tool is a bit of an indication of other issues hidden in the tool. This heuristic guided me well so far, but obviously it's just a very rough heuristic. :)

[2017-09-23 13:44] zloirock commented on #6291
@jridgewell not exactly. It's for another regex features.

[2017-09-23 15:33] brokentone commented on #6273
I'm currently getting this error as described here. What was the resolution?

[2017-09-23 17:17] jridgewell commented on #6291
I should have read at the source. Isn’t this a runtime polyfill `core-js` would do?

[2017-09-23 18:25] #6220 closed

[2017-09-23 21:45] nicolo-ribaudo commented on #5395
https://github.com/babel/babel/blob/2374062bbdfe8815892d64bd797298805db8b150/packages/babel-traverse/src/scope/index.js#L914-L918

Do we want to remove flow bindings in Babel 7?

[2017-09-23 22:01] nicolo-ribaudo commented on #4530
This issue has been fixed on master: https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=GYVwdgxgLglg9mABAdwE4IOYBVUEMwDOADjADYCmAFAJSIDeAUIs4jMIpQXALbnVMtBwOKg4UorRAF5EABgDckgDyIKYDFAAWimAGpdtRoOMtxquBFykAarlTyBJwWbvpkAMSQya0gHz1HJxMtGAIAOgATOABlHnIQ9QB1GC1KUgsrW1RqByDBAF9cp3yGfKA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Cstage-

[2017-09-23 22:01] #4530 closed

[2017-09-23 22:03] nicolo-ribaudo commented on #4311
This has been fixed on master: https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsL3egFAI2ACcAaGQgLwEoYBvAKBiZlThgOJgEIBeH84NUbMRAbUKkBFALox-4wWQnSA3PQC-QA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Cstage-2&prettier=false&targets=&version=7.0.0-beta.1

[2017-09-23 22:03] #4311 closed

[2017-09-23 22:05] Andarist opened #6298 "[bug] Generating leadingComments in called CallExpressions"
**bug report**

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
[code]
### Current Behavior
[code]

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  latest
| node             | irrelevant
| npm              | irrelevant
| Operating System | irrelevant

[2017-09-23 22:06] nicolo-ribaudo commented on #4567
This now works (`exports.foo` is correctly updated after `foo` is assigned): https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAbzgMwhOBfAUANwIZQppwC8cALAExA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Cstage-2&prettier=false&targets=&version=7.0.0-beta.1

[2017-09-23 22:06] #4567 closed

[2017-09-23 22:13] loganfsmyth commented on #4567
Yup! Nice. Fixed in 7.x.

[2017-09-23 22:14] nicolo-ribaudo commented on #6298
I think this works as intended:

In `foo()()()` the call expressions are `foo()`, `foo()()` and `foo()()()`. Since leading comments are added before the node, thei should all go before `foo`.

If you want the comment to be placed between the callee and the parentheses, you may do something like this:

[code]

[2017-09-23 22:15] loganfsmyth commented on #6298
I agree. I see this as expected behavior.

[2017-09-23 22:27] nicolo-ribaudo commented on #3960
This had been fixed: the helpers now reference global variables instead of local ones - http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&code_lz=JYWwDg9gTgLgBAZQJ4gEYQDZwGZQiOAcgDoB6ZNTQgbgChbSAqRuAVQGcBTAEzhgjgBjCADsAbp1hx2KdBnZ8B7GFGAiA5u2JxGpWmICGUabMwAVCAhVr1cALyJTWAPyPKGYmDz8YSMJ2J-K1UNOAAuOABXEW5ObDUeOgZmWh04AGEoTgMYTgUDIQxRTjgIbDgAAxl3CuJUxnq4AAEvYENcxpajAwIAbwB5VAArTkEY

[2017-09-23 22:27] #3960 closed

[2017-09-23 22:34] nicolo-ribaudo commented on #2988
@babel-bot Move to babel/babylon

[2017-09-23 22:34] babel-bot opened #6674 "ES2016 bind syntax does not work with functions"
Original issue submitted by @julien-f in https://github.com/babel/babel/issues/2988

[code]

[2017-09-24 03:56] #6298 closed

[2017-09-24 10:00] nicolo-ribaudo commented on #2228
This works using Babel 7: http://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA28DGnUDOBcAYhBHAN4C-AUGRQLxwB2WmA3EA&debug=false&circleciRepo=&evaluate=true&lineWrap=false&presets=es2015%2Cstage-0&prettier=false&targets=&version=6.26.0

[2017-09-24 10:00] #2228 closed

[2017-09-24 10:12] #2988 closed

[2017-09-24 22:32] Andarist commented on #6298
Thanks for the clarification guys, I've misunderstood how nodes are structured here. It makes sense that it gets printed like this :)

[2017-09-25 04:22] fatcerberus opened #6299 "Babel-transpiled class can't extend from native class"
I'm not sure if this is even possible to fix, but I figured I'd report it just in case. 😅

Supposing one is running under an ES6-supporting engine and there is a class which is not subject to transpilation:
[code]

If the class below is transpiled with Babel and then executed:
[code]

The result is a TypeError, constructor cannot be called without new.  For example, I saw this when I tried to tran

[2017-09-25 04:33] loganfsmyth commented on #6299
Gonna dup this with https://github.com/babel/babel/issues/4480.

Unfortunately fixing this is not at all easy, and it's impossible to do in an entirely spec-compliant way. We've had a few suggested solutions, but not that are particularly nice implementation-wise. Usually the expectation is that if a library publishes code with ES6-native classes, users using that library should also have Babel se

[2017-09-25 04:33] #6299 closed

[2017-09-25 04:39] fatcerberus commented on #6299
:+1:

Yes, my current work is already planned as a major version bump (4.8 -> 5.0) and I've even already made breaking API changes.  I just figured if I could allow people to keep the `transpile()` step in their build scripts for the next version that would be nice, but if it's not possible I can live without the BC.  Thanks for the quick response! 😃

[2017-09-25 04:50] loganfsmyth commented on #6299
No problem. Yeah, we've been trying to push everyone in the community to use https://github.com/babel/babel-preset-env because that way it's super easy to say "compile for Node" and get native classes to solve this problem.

[2017-09-25 04:52] fatcerberus commented on #6299
I definitely agree there.  Unfortunately babel-standalone doesn't yet support `env` ☹️
https://github.com/babel/babel-standalone/issues/86

[2017-09-25 06:14] TiddoLangerak opened #6300 "Flow: `import { type X }` compiles differently from `import type { X }`"
### Bug

Named type imports are stripped differently based on which syntax is used. `import { type X } from 'X'` results in `import 'X'`, while `import type { X } from 'X'` is stripped completely. As a result, the two statements are not equivalent.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

At the minimum I expect both imp

[2017-09-25 06:22] xtuc commented on #6295
Yes I agree. I did actually try this in the past and IRC the issue was that is depends on the Lerna packages structure. It's not easy to have something generic enough.

I could image a very generic test runner and a way to launch it with Lerna, does it make sense to you?

[2017-09-25 06:25] loganfsmyth commented on #6300
This is expected behavior, but I definitely sympathize with your confusion. We don't have much control over what syntax Flow supports though.

[code]
is explicitly an import declaration that only imports types. It is impossible for an `import type` statement to import anything but a type, so it has no runtime behavior and cannot cause a circular dependency.

[code]
was explicitly added _because_ i

[2017-09-25 06:26] xtuc commented on #6296
It works with `filename` because the `.babelrc` file is resolved relatively to the file location. Alternatively you can pass your configuration in the transform API.

Can I close this issue? Feel free to open it if needed later.

[2017-09-25 08:16] TiddoLangerak commented on #6300
Thanks for the explanation! This is also what the flow maintainers explained in the mean time, so I think this issue can be closed.

[2017-09-25 08:16] #6300 closed

[2017-09-25 08:32] jordanbtucker commented on #6296
Thanks for the validation. I think the docs should be updated to make this more clear.

[2017-09-25 08:49] BorisTB opened #6301 "Babel repl - prettier is not defined"
Bug

On [babel repl](https://babeljs.io/repl/) when I check Prettify, the whole repl is lagged with console error `prettier is not defined` and I can't refresh repl. (I have to remove `replState` from localStorage and then refresh)

[2017-09-25 10:00] xtuc commented on #6296
Yes, that would be great. Do you want to contribute? Would you mind updating the documentation [here](https://github.com/babel/babel/blob/master/packages/babel-core/README.md).

[2017-09-25 10:01] xtuc commented on #6301
@babel-bot move to babel/website

[2017-09-25 10:01] #6301 closed

[2017-09-25 12:43] mor-n4 opened #6302 "Incorrect compile error when having a 'const' inside a function expression of same name"
This is a bug report.

Babel shows a compile-time error for the below snippet, even though it is valid ES2015.

### Input Code

[REPL](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&debug=false&code=(function%20fn()%20%7B%0A%20%20const%20fn%20%3D%2042%3B%0A%7D)%3B)

[code]

### Babel Configuration (.babelrc, package.json, cli co

[2017-09-25 13:03] pudility commented on #6296
I can also update the documentation if you don't want to.

[2017-09-25 13:43] nicolo-ribaudo commented on #5823
Can this issue be closed? The `tdz` option already handles this.

[2017-09-25 14:11] nicolo-ribaudo commented on #5459
This is a duplicate of #4351

[2017-09-25 14:11] #5459 closed

[2017-09-25 14:15] nicolo-ribaudo commented on #5973
Duplicate of #4209

[2017-09-25 14:15] #5973 closed

[2017-09-25 15:30] SamFromDaUk opened #6303 "In babel-cli add a short log option when compiling"
Choose one: is this a bug report or feature request? feature request

### Input Code

N/A

### Babel Configuration (.babelrc, package.json, cli command)

[code]

`node_modules/.bin/babel ./app/src -w -p -d ./app/scripts --modules amd --extensions '.es6,.jsx' --source-maps`

### Expected Behavior

When compiling a project with a large number of files there can be an excessive amount of logs produce

[2017-09-25 18:36] #5823 closed

[2017-09-25 20:07] hzoo commented on #6295
there's also https://github.com/babel-utils/babel-plugin-tester, and jest, etc. We should figure out internally too

[2017-09-25 20:52] jordanbtucker commented on #6296
I'm happy to contribute, but it might be better to let someone more familiar with the internals update the docs. If @pudility wants to take that on, it's fine with me.

[2017-09-26 00:49] JonathanRys opened #6311 "Developers can be mean"
Choose one: is this a bug report or feature request?
bug report

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

People shouldn't pride themselves on what great code they've written; they should pride themselves on how much they've taught others and given back to the community.

### Current Behavior

People are jerks.
Situation:

[2017-09-26 04:02] phyllisstein opened #6312 "_typeof helper causing infinite loop and stack overflow in 7.0.0-beta.1."
### Choose one: is this a bug report or feature request?
Bug Report

### Summary
A glitch in the `_typeof` helper is causing an infinite loop in v7.0.0-beta.1. Rather than checking `typeof Symbol.iterator === 'symbol'`, the helper is calling itself recursively: `_typeof(Symbol.iterator) === 'symbol'`.

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

##

[2017-09-26 05:00] loganfsmyth commented on #6312
This is a side-effect of version mismatch. Unfortunately `preset-env` doesn't currently match up with any particular version of `babel-core`. You need to look at the plugins it is loading to know what version of `babel-core` it is meant to be used with.

`babel-preset-env` currently loads [the beta.0 babel plugins](https://github.com/babel/babel-preset-env/blob/13ea687a49df93f0cc53cd9334c8bee38a4a

[2017-09-26 05:05] phyllisstein commented on #6312
Ack! Thanks so much for the pointer, sorry it turned out to be less of a bug proper than I'd thought. Super grateful for the clarification.

[2017-09-26 05:05] #6312 closed

[2017-09-26 05:10] loganfsmyth commented on #6312
It's all good. As the one who introduced this particular version incompatibility, I figure helping people get past it is the least I can do.

[2017-09-26 08:04] SamFromDaUk commented on #6311
Im not associated with the good developers from Babel, but i'm not sure what this bug report is trying to suggest?

I'd suggest you massively strip down on the fluff, and state exactly what bug you are experiencing with a minimal test case example.

[2017-09-26 09:06] Alphapage opened #6313 "path.traverse : recursive or not ?"
Hello,

When using `path.traverse({CallExpression: ... })` in my babel plugin where path is a FunctionDeclaration, I expect it to recursively traverse the tree as stated in the handbook.
It seems to work except for:
- `for (const t of tt) return test()`
- `[].forEach(t=>{return test2()})`
Is it the expected behaviour ?
If so, why the handbook tells that path traverses the tree recursively ?
Or how

[2017-09-26 11:11] TrySound opened #6314 "Provide option in flow plugin to strip only type word in import type statements"
Choose one: is this a bug report or feature request?

Feature

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
[code]

### Current Behavior
[code]

[2017-09-26 12:30] nicolo-ribaudo commented on #6313
The AST is traversed recursively, following these steps:
[code]

In your first example you should see the `test()` call, while in the second example the `[].forEach()` call and then `test2()`.
What is the wrong behavior you are experiencing?

[2017-09-26 12:32] nicolo-ribaudo commented on #6314
You should use `import { type Action } from './actions';`: `import type` statements should be considered side effects free and thus removable.

[2017-09-26 12:34] TrySound commented on #6314
@nicolo-ribaudo Good suggestion, thanks.

[2017-09-26 12:34] #6314 closed

[2017-09-26 12:47] Alphapage commented on #6313
`[].forEach()` is reached, but neither nested `test()`, nor `test2()` are reached.
If I test with a FunctionDeclaration, the nested CallExpression is reached as expected, but not inside my `for .. of`  or `[].forEach()` body

[2017-09-26 14:13] jridgewell commented on #6313
Can you provide an example on [AST Explorer](http://astexplorer.net/)? This is what how all babel plugins transform, so I'm confident it's working correctly.

[2017-09-26 14:13] #6313 closed

[2017-09-26 14:15] #6276 closed

[2017-09-26 14:19] jridgewell commented on #6287
Closing this as likely fixed by #6274. This will be released with `7.0.0-beta.2`

[2017-09-26 14:19] #6287 closed

[2017-09-26 14:40] hzoo commented on #6262
Hmm ok, we just need a better changelog for preset-env then, thanks!

[2017-09-26 15:50] Alphapage commented on #6313
My big mistake: I was using a ReturnStatement which skipped the nested CallExpression.
So sorry, thank you very much for your help.

[2017-09-26 19:00] Andarist opened #6315 "Self-redefining helpers broken"
**bug report**

`typeof` and `extends` helpers are designed at the moment in a way that they should redefine themselves (assign to their name's identifier) within their body during first call. This is broken at the moment, because somehow local variable declaration is added in their body (with the same identifier in declarator)

### Input Code
Anything using object spread transform.

### Babel Con

[2017-09-26 19:04] Andarist opened #6316 "Optimize computed properties in spec mode in object literals"
**feature request**

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
latest babel@beta
using standard `babel-preset-env` configuration

### Expected Behavior
What gets outputted in `loose` mode:
[code]

### Current Behavior
[code]

### Possible Solution
Detect being in object literal and do what loose transform would do (probably just call it instead of the `sp

[2017-09-26 19:21] Andarist commented on #6315
Probably [rollup's plugin](https://github.com/rollup/rollup-plugin-babel/blob/a5f16de276c9a55bf6989797c2d6cda46201d5ed/src/index.js#L50) issue. Gonna head there with a fix

[2017-09-26 19:31] hzoo commented on #6311
Thanks for contributing.

This isn't really an actionable issue for this repo, going to close. This is something we can do with tooling from github, https://github.com/hzoo/contributors-on-github, etc.

[2017-09-26 19:31] #6311 closed

[2017-09-26 19:36] schmod opened #6317 "transform-es2015-parameters breaks insertBefore/insertAfter on children"
Hi. I'm the author of [babel-plugin-angularjs-annotate](https://github.com/schmod/babel-plugin-angularjs-annotate/issues).

Recently, a user reported [a bug](https://github.com/schmod/babel-plugin-angularjs-annotate/issues/30) that seems to be popping up when users are transforming code that utilizes default function parameters.

Using `preset-env` and my plugin, a user would expect this snippet:

[2017-09-26 20:20] jridgewell commented on #6316
Can't, due to setters on `Object.prototype`. This shouldn't log anything:

[code]

[2017-09-26 20:20] #6316 closed

[2017-09-26 21:21] Nicholi commented on #5915
Still crashing

babel-core: 6.26.0
babel-traverse: 6.26.0
babel-plugin-minify-mangle: 0.2.0
babel-plugin-minify-simplify: 0.2.0
node: 8.5.0

No webpack, nothing special, just doesn't work. Only solution is to disable mangle/simplify in minify options.

[2017-09-26 21:55] dnalborczyk opened #6319 "Babel 7.0.0 beta 2 removed babel-node"
Babel 7.0.0 beta 2 removed babel-node with this commit: https://github.com/babel/babel/commit/2374062bbdfe8815892d64bd797298805db8b150

I was wondering what is the recommended way to achieve the same functionality going forward? babel-register?

[2017-09-26 21:58] existentialism commented on #6319
@dnalborczyk it's been moved to [its own package](https://github.com/babel/babel/tree/master/packages/babel-node)

https://unpkg.com/babel-node@7.0.0-beta.2/

[2017-09-26 22:01] dnalborczyk commented on #6319
thank you @existentialism !

[2017-09-26 22:01] #6319 closed

[2017-09-26 22:39] #2877 closed

[2017-09-26 22:39] #3880 closed

[2017-09-27 13:09] Ambroos commented on #6262
@hzoo - I think this still is an issue. Targeting Node 8 with babel-preset-env probably just disables the relevant transform as it may not be needed.

export default async function named()... is still broken as mentioned in my issue. @bradchristensen's comments are not completely related to this.

[2017-09-27 14:00] jridgewell commented on #5915
This appears to be fixed in http://babeljs.io/repl#?babili=false&browsers=ie%2010&build=&builtIns=true&code_lz=MYewdgzgLgBAZmGBeGBTAJgS1kgfDMEEAB2XwG8AoGGUSWAQ2RgG0YBGAGhgCYYBdarXDRWMCJnTdMAc0IAnDAOZsuMBiwAM_AQG5KAXyA&debug=false&circleciRepo=&evaluate=true&lineWrap=true&presets=es2015-loose%2Creact%2Cstage-3&prettier=false&targets=&version=7.0.0-alpha.19.

[2017-09-27 14:00] #5915 closed

[2017-09-27 14:41] babel-bot opened #6673 "Warning if tests fail that if you need to generate fixtures."
If the tests fail (`yarn run test-only`), warn the user that you need to run a command that will delete the `expected.json` so that the tests pass.

# Proposal

### Error
[code]

After an error like this warn user that they may need to delete `expected.json`, or have a command for doing this.

### Command
The command for fixing this could be something like `babylon-remove-broken-expected-json`.  I

[2017-09-27 15:14] brikou opened #6324 "taggedTemplateLiterals prevent tree shaking"
Choose one: is this a bug report or feature request?

I don't know if bug or feature (maybe both)

when using taggedTemplateLiteral with css fe. the generated code is not tree shakable anymore by webpack. When not imported, the transformed code is visible in source. With 1000's of css export it is a big problem.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[2017-09-27 15:38] Andarist commented on #6324
Hi @brikou. We have started adding `#__PURE__` annotations for cases like that which will help with the dead code elimination story. This one is already on my list which I'd like to have annotated, gonna create a PR for this in following days - keep in mind that this will be babel7 feature and won't be back-ported to babel6 branch.

[2017-09-27 17:31] babel-bot opened #6602 "Add support for Samsung Internet browser"
Samsumg Internet uses Chromium under the hood, but it doesn't always stay up-to-date with the latest version. We discovered this recently due to a bug report from a Samsung Internet user.

To fix it, we had to investigate the version of Chromium they use and [then manually add that to the browser list](https://github.com/GoogleChrome/workbox/pull/815/files#diff-7b9b61c220cc1842c38185dad092626bR162

[2017-09-27 18:13] arthurchipdean commented on #6283
I would like to claim this bug. I have narrowed the issue down to the Declaration method in the CollectorVisitor on line 65 in scope/index.js

If I comment out the if statement at that line the bug an error is correctly thrown:
[code]

I just have to figure out why that code is there and what effects removing it may have. ( I think the solution may be adding another condition to that if statement.

[2017-09-27 18:30] arthurchipdean commented on #6283
Can I claim this bug? I have narrowed the issue down to the Declaration method in the CollectorVisitor on line 65 in scope/index.js

If I comment out the if statement at that line an error is correctly thrown:

    // delegate block scope handling to the `BlockScoped` method
    if (path.isBlockScoped()) return;

I think the solution will be some modification to the BlockScoped method?

[2017-09-27 18:43] jridgewell commented on #6283
@arthurchipdean: it's yours.

[2017-09-27 18:56] jridgewell commented on #6317
Can you create a simple plugin in [AST Explorer](http://astexplorer.net/) that will cause this issue?

[2017-09-27 19:32] edmorley commented on #4759
Is this a bug with babel/babel-plugin-transform-regenerator's use of [regenerator-transform](https://github.com/facebook/regenerator/tree/master/packages/regenerator-transform), or solely with the latter? Just wondering if this needs to be re-filed over at:
https://github.com/facebook/regenerator/issues

Also, is there an issue filed already for improving the error messages in cases like these? Th

[2017-09-27 20:49] Andarist commented on #6324
If you use UglifyJS you can also leverage `pure_funcs` setting to achieve your goal

[2017-09-27 21:20] brokentone commented on #6262
I'm confirming this is still an issue in beta.2, [here is a repo/branch](https://github.com/brokentone/babel-7-async-default/tree/beta-2) reproducing with the following command:  `./node_modules/.bin/babel --out-dir lib src/`

I did notice that *anonymous* functions were fixed in this situation (export, default, async). However, *named* are still not.

[2017-09-27 21:53] bradchristensen commented on #6262
@Ambroos is right - I *did* run into this issue, but I was luckily able to work around it because `regenerator` shouldn't have been included in my project in the first place 😅 (thanks for pointing me in the right direction there @hzoo!)

Apologies for the confusion.

[2017-09-28 05:10] probablyup opened #6328 "Meta: Getting the most out of preset-env"
I had a great convo with @hzoo about this topic over the weekend and wanted to distill it down into some concrete action steps if there’s interest:

**The concept**

The “env” preset is an awesome evolution of the Babel ecosystem. It allows for finely-targeted transpilation and more efficient inclusion of necessary helpers, which leads to smaller overall bundle sizes. However, due to the way most

[2017-09-28 08:51] 6graNik opened #6329 "Strange destructive assignment operator behavior"
I want to **Report Bug**
I don't really know is bug on your side or not, or may be it is not event real bug;

In this case the parser will fail trying to work through this code. Lower you can see side by side es6 vs transpiled es5 on babeljs.io
[code]

![image](https://user-images.githubusercontent.com/6370221/30957410-c48987e6-a442-11e7-9aa9-69b858a71cd9.png)

So we can fix this error by just add

[2017-09-28 09:11] zzzgit opened #6330 "env It looks like your Babel configuration specifies a module transformer"
Choose one: is this a bug report or feature request?

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

### Current Behavior

### Possible Solution

### Context

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |
| node             |
| npm              |
| Operating System |

[2017-09-28 09:14] #6330 closed

[2017-09-28 09:15] nicolo-ribaudo commented on #6329
That code is a function invocation: you are calling `{}` as a function.
You should always use a semicolon when the line starts with (, [, + or - to prevent this kind of surprising errors.

[2017-09-28 09:15] #6329 closed

[2017-09-28 09:57] Andarist commented on #6329
@6graNik Note that you can use [`eslnt`](https://github.com/eslint/eslint) to warn you against such erros or you can use [`prettier`](https://github.com/prettier/prettier) to have your code formatted consistently and when its used with `--no-semi` option it will protect you against such errors by inserting `;` at the start of possibly problematic line

[2017-09-28 11:46] Andarist commented on #6328
Great starter! I've felt for quite some time that 'best practices' should be revisited. Always seemed strange that:
- babel-helpers are duplicated in all transpiled by babel dependencies (also quite always duplicated even across files of the same project)
- as mentioned by you - cannot target efficiently newer envs, because libraries are transpiled to es5 and we end up with sub-optimal code for th

[2017-09-28 12:34] graingert opened #6331 "do-expression support for catch"
Choose one: is this a bug report or feature request? bug

I expect this to work:
[code]

But I get `undefined`;

babel transpiles to:
[code]

but I expected:

[code]

an alternative that works is:
[code]

see https://github.com/tc39/proposal-do-expressions/issues/6

[2017-09-28 14:55] brokentone commented on #6262
I've dug in a little further, and I'm pretty confident this is an incompatibility between babylon 6/7 ASTs that affects `babel-types@6` in this tree:

[code]

I assume that `regenerator` needs to update to `babel@7-beta`

[2017-09-28 15:05] hzoo commented on #6262
Good investigation, seems to be the case

https://github.com/facebook/regenerator/blob/master/packages/regenerator-transform/package.json#L32 yeah @benjamn?

This is mostly a result of regenerator and some other plugins not being in this monorepo but being a dependency in the presets

[2017-09-28 15:34] probablyup commented on #6328
Definitely nontrivial, but it could be incrementally adopted.

This definitely would be less effort, but I could see a lot of confusion on the part of library maintainers on exactly how much to transpile. If you don't transpile at all, you can't really use bleeding edge syntaxes because there's no guarantee the consumer will have that transform plugin enabled (either via "env" or separately.)

IMO

[2017-09-28 20:08] Andarist commented on #6328
Sure, but it doubles the work and might introduce new bugs, regressions etc. The project, as extremely popular one, and the team has imho enough of work as it is.

This is just a matter for establishing good practices and **documenting** it. Helping to set up properly most popular projects would also help the community, rest would follow in their own time -
 incremental adoption in the community.

[2017-09-29 01:46] Kovensky commented on #6328
Yes, the only way to have any approaching-sane behavior with this "latest" target idea is to have packages transpile all non-standard syntax (JSX, type annotations, anything not stage-4) down to the latest standard at the time (e.g. es2017 as of this writing). This will ensure that a single application of preset-env with no options (or only with `targets` option) will produce code that is usable b

[2017-09-29 02:22] kassens opened #6333 "[babel-generator] Missing parens around some flow types"
Choose one: bug report

Babel generates `?any | any` instead of `?(any | any)`.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

babel 6.26

### Expected Behavior
`?(any | any)`

### Current Behavior
`?any | any`

### Possible Solution
fix up logic parenthesis.js of babel-generator?

### Context
This is a bit of a contrieved example, but it makes a difference

[2017-09-29 05:21] RyukiKaneko opened #6336 "convert isNaN(value) to value === NaN"
find bug
there is defference result from expective result

isNaN(NaN) => true
NaN === NaN => false

please confirm

[2017-09-29 05:33] loganfsmyth commented on #6336
That is expected. `NaN` means "a totally unknown result" essentially, so even though both are unknown, one unknown is not the same as another unknown. You might also consider using https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/is if you want `0 !== -0`.

[2017-09-29 05:33] #6336 closed

[2017-09-29 05:34] nicolo-ribaudo commented on #6336
Yes, `isNaN`and `=== NaN` are different.
Babel doesn't covert `isNaN(x)` to `x === NaN`, so I don't understand what the issue is about. If Babel does covert it, please show your `.babelrc` and `package.json` files.

[2017-09-29 05:35] nicolo-ribaudo commented on #6336
Too slow 😆

[2017-09-29 11:19] daft300punk commented on #6150
@achambers A polite ping, still working on this issue? If not, I'd like to take this. Thanks.

[2017-09-29 13:29] ednx opened #6339 "Babel-cli not install"
Choose one: Hi Babel-cli not install

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Context
Any idea why I can not install babel-cli

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel            |  6
| node             | 8.4.0
| npm              | 5.4.1
| Operating System | Window 10

[2017-09-29 16:11] yavorsky commented on #6339
@ednx Hi! Have you checked https://github.com/npm/npm/issues/18380 ?

[2017-09-29 16:21] achambers commented on #6150
@daft300punk For sure. I never actually got to it I'm afraid so you're more than welcome to add your awesome to it :)

[2017-09-29 17:28] graingert opened #6340 "let [a, ...[b, c, ...d]] = "hello"; console.log(a, b, c, d) Unexpected token (1:11)"
Choose one: is this a bug report or feature request? bug-ish

### Input Code
[code]

https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=DYUwLgBA2ghgNBAdMqAjBBjBzEBMC6-EAvBAEQAWIwwA9mQNwQa0B2AzraInQOYAU8COmYJcASgZA&debug=false&circleciRepo=&evaluate=true&lineWrap=true&presets=es2015%2Ces2015-loose%2Ces2016%2Ces2017%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3&prettier

[2017-09-29 17:51] hzoo commented on #6340
This is fixed on master, so you can try 7.x (/repl/build/master)

https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=DYUwLgBA2ghgNBAdMqAjBBjBzEBMC6-EAvBAEQAWIwwA9mQNwQa0B2AzraInQOYAU8COmYJcASgZA&debug=false&circleciRepo=&evaluate=false&lineWrap=true&presets=es2015%2Creact%2Cstage-2&prettier=false&targets=&version=7.0.0-beta.2

[2017-09-29 17:51] #6340 closed

[2017-09-29 17:52] hzoo commented on #6339
If it's simply an install issue then it shouldn't be an issue with Babel since we aren't releasing 6.x, and doing 7.x betas so not a regression from a release at least

[2017-09-29 17:52] #6339 closed

[2017-09-29 18:06] graingert commented on #6340
Aww dang

On 29 Sep 2017 18:51, "Henry Zhu" <notifications@github.com> wrote:

[2017-09-29 18:08] graingert commented on #6340
What's the ETA on 7.x final?

On 29 Sep 2017 19:06, "Thomas Grainger" <tagrain@gmail.com> wrote:

[2017-09-29 18:19] hzoo commented on #6340
no guaranteed eta, we're working on it - I would try the beta

[2017-09-29 18:43] #6333 closed

[2017-09-29 19:01] lslv1243 opened #6341 "object-rest not behaving as expected with computed properties"
Choose one: is this a bug report or feature request?
bug

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

rest should be
[code]

### Current Behavior

rest is
[code]

### Possible Solution

indexOf compares with 3 equals and the object key is represented as string
https://github.com/babel/babel/blob/88b7983e4f1b4d472f37c057afce0

[2017-09-29 19:24] Andarist commented on #6341
Thanks for the report @lslv1243 . It is indeed a bug, let me look into fixing it.

[2017-09-29 19:27] graingert commented on #6340
@hzoo hmm, I tried using "babel-eslint" but it still failed for me: https://travis-ci.org/mysticatea/eslint-plugin/jobs/281424580

https://github.com/mysticatea/eslint-plugin/pull/16

[2017-09-29 19:54] zyklus opened #6342 "Babel can not resolve plugins in parent folder with yarn workspaces"
See https://github.com/yarnpkg/yarn/issues/4503 for the issue filed against yarn, but there is discussion there that yarn is not responsible so I'm opening one here as well.

In short, yarn workspaces can cause babel-plugins to be installed outside of the project root so babel is unable to resolve them properly.  It's arguable that babel should look above the project root in other `node_modules` f

[2017-09-29 20:07] loganfsmyth commented on #6342
Can you add a descriptive example of what directory structure isn't working, and how you've configured Babel?

[2017-09-29 20:40] Andarist commented on #6341
This already got fixed by https://github.com/babel/babel/pull/5757 and the fix is available in v7.

For some reason when having preset-es2015 + stage-3 active in the repl it creates buggy output. stage-3 alone is working as expected.

[2017-09-29 20:54] oliverchang opened #6344 "Incorrect renaming of variables in object destructuring assignment."
Choose one: is this a bug report or feature request? Bug report

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

The expected output is something like:

[code]

### Current Behavior

Instead I see:

[code]

This seems to still work as intended in that v0 and v1 both get the expected values (1 and 2), but the expected output make

[2017-09-29 21:02] nicolo-ribaudo commented on #6344
`Scope#rename()` only renames the variable and its references, without transforming anything else.
If you want to rename also the object keys, which are not related to the variable name, you should do it manually using `objectKeyPath.replaceWith`.

[2017-09-29 21:02] #6344 closed

[2017-09-29 21:22] phyllisstein commented on #6093
`babel-plugin-transform-promise-to-bluebird` and `babel-plugin-universal-import` also fall victim to this bug when used with the TypeScript preset.

[2017-09-29 22:16] hzoo opened #6346 "Internal: remove inlined plugin from Babel's .babelrc"
Just need to remove the lines in

https://github.com/babel/babel/blob/9418945a1f3a8a1fafaacde00bce4ec4c866c5e5/.babelrc.js#L9-L26

Basically I had a bug and updated Babel itself, so needed a temporary workaround. Because it's fixed, we can remove this (now unnecessary) code.

I guess you could just do this change in github as well, should be ok if tests pass.

- Please only work on this if you are

[2017-09-29 22:20] Andarist commented on #6341
Ok, got down to it - in v7 there is still a conflict when using both:
- babel-plugin-transform-es2015-destructuring
- babel-plugin-transform-object-rest-spread

**Actual output**
[code]

**Expected output**
[code]

[2017-09-29 22:23] hzoo opened #6347 "Remove babel-messages and inline the usages"
TL;DR remove `babel-messages` package and inline it's contents into where we are using it.

---

I was looking at https://github.com/babel/babel/tree/master/packages/babel-messages and it's usage in the codebase. It seems like it's only used in 7 files, and doesn't seem to be any sharing of the messages across the codebase so it seems like it's not necessary to have anymore.

- Read our [contribut

[2017-09-29 22:32] rouzbeh84 commented on #6347
oh nice! @hzoo i can handle this 👍 .

[2017-09-29 22:33] existentialism commented on #6347
@rouzbeh84 join us on slack if you have any questions!

[2017-09-29 22:41] xjlim commented on #6346
@hzoo I can work on this

[2017-09-29 22:57] jridgewell commented on #6341
There's all kinds of bugs with using destructuring and object-rest-spread together. It's on my list of todos.

[2017-09-30 01:22] JeromeFitz commented on #6347
I know this issue is claimed, but thought it would be a good one to at test out how to contribute in the future.

@rouzbeh84 - My only goal with my referenced commit/ branch is to track against your future one and see how they line up.

[2017-09-30 03:15] hzoo commented on #6347
Totally @jeromefitz! I was thinking before that it is unfortunate that issues especially beginner friendly ones are only claimed or done by one person (whoever happens to see it first). I would definitely encourage everyone to try a PR and compare solutions if not just try it out to get a feel of contributing in the future.

I will try to encourage this much more in the future, thanks for re-affir

[2017-09-30 03:35] lilijialiang commented on #5905
I try to use it like this:

package.json
[code]

index.js
[code]

why the output is not changed ？

[2017-09-30 04:13] hzoo commented on #5905
@lilijialiang because the syntax plugin parses it. you just need to use the `transform` plugin.

meaning swap out `babel-plugin-syntax-optional-chaining` with `babel-plugin-transform-optional-chaining`

Seems like people do this a lot, although I'm not sure what we can do to prevent it..

[2017-09-30 04:15] #6346 closed

[2017-09-30 05:13] jridgewell commented on #5905
Maybe change them from plugins? So a new key in the config (`syntaxes`) that'll hold them, with transform plugins still enabling.

[2017-09-30 05:49] JeromeFitz commented on #6347
*Wasn't enough room in Twitter for this question.* 😀️

**In dealing with prettier and multi-line strings**

Should we keep them uniform if they have a template string:
[code]
Or literal based on what the line contains:
[code]

[2017-09-30 09:25] rouzbeh84 commented on #6347
@JeromeFitz i've created PR #6352 with what I had as well as a checklist of files affected as far as I could tell. Feel free to pick up where I left off or let me know which one's you'd like to handle and I can help on the remaining.

If I did these right myself (which now looking at your question I think I didn't so thank you! fix/rebase pushed to PR). Anyways, I think you'd be fine in doing the

[2017-09-30 09:51] Andarist commented on #6347
@rouzbeh84
the single literal shouldnt be used (imho) because the second line will get unfortunately unnaturally indented.

@JeromeFitz
I would probably chose the latter, but any of them is fine really - if only allowed by prettier and eslint

[2017-09-30 11:39] alloy opened #6353 "[BUG] babel-node does not transform TypeScript source."
As the title says, currently babel-node does not appear to transform TypeScript source. I did not find any CLI options related to this either, so expected it to work out of the box.

cc @andy-ms

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

[code]

[code]

### Expected Behavior

[code]

[code]

### Current Behavior

[code]

### Your Environment

|

[2017-09-30 12:53] graingert commented on #6340
@hzoo hmm, I tried using "babel-eslint" but it still failed for me: https://travis-ci.org/mysticatea/eslint-plugin/jobs/281424580

https://github.com/mysticatea/eslint-plugin/pull/16

[2017-09-30 13:11] existentialism commented on #6347
Yeah, either is fine (agree with @Andarist, I'd probably do the latter), and both should pass lint and be preserved by prettier.

[2017-09-30 13:14] #6150 closed

[2017-09-30 13:22] JeromeFitz commented on #6347
Cool @rouzbeh84, bringing down your PR now and will close out the rest of the references. Thanks @Andarist (& @existentialism), we'll preserve prettier + lint based on your feedback. 👍️

[2017-09-30 20:48] babel-bot opened #6672 "Set id to null for ArrowFunctionExpressions?"
Should the [ArrowFunctionExpression section of the AST specification](https://github.com/babel/babylon/blob/master/ast/spec.md#arrowfunctionexpression) clarify that supplying an `Identifier` for `id` does nothing, by explicitly saying `id: null`? Of course, we don't need to change `babel-generator` or `babel-types` to accommodate this change, because that would only hurt backwards compatibility.

[2017-09-30 21:30] #5900 closed

[2017-09-30 21:30] #6324 closed

[2017-10-01 03:25] #6347 closed

[2017-10-01 05:44] simonjoom commented on #6287
I confirm beta.2 resolved my issue with prerender , working good now

[2017-10-01 20:34] methodbox opened #6358 "Deprecation warnings are obnoxious and unnecessary"
Choose one: is this a bug report or feature request?
Feature Request

### Expected Behavior
Deprecation warnings that are not used for spam and massive blocks of unreadable text.

### Current Behavior
Horribly obnoxious deprecation warning which is fundamentally spam:
[code]

### Possible Solution
Don't use NPM as an advertisement platform, go back to the standard deprecation warnings.

System
mac

[2017-10-02 00:41] jetstarmedia commented on #2055
why updates?

[2017-10-02 00:41] jetstarmedia commented on #4450
any updates?

[2017-10-02 01:34] hzoo commented on #6358
It's not intended for spam, and not advertising anything other than the project itself.

remove preset-es2015,
`npm install babel-preset-env --save-dev`
change `{ "presets": ["es2015"] }` to `{ "presets": ["env"] }`

[2017-10-02 01:37] loganfsmyth commented on #2055
My comment above unfortunately still applies. Support for `auxiliaryComment*` flags is extremely limited. I think if you need reliable coverage reporting via Babel, using a plugin built to actually handle it consistently, like https://github.com/istanbuljs/babel-plugin-istanbul, is pretty necessary, otherwise you're basically just rolling the dice as to whether or not these comments end up in reas

[2017-10-02 01:37] #6358 closed

[2017-10-02 02:06] hzoo commented on #6287
Awesome

[2017-10-02 11:20] babel-bot opened #6601 "Import instead of require for es6.promise"
I use both babel and babel-preset-env beta.2.

My .babelrc:

[code]

Resulting start of compiled .js file:

[code]

I suspect this might be because regenerator-runtime is added? But really, I have no idea.

[2017-10-02 11:26] leftmostcat opened #6360 "Use of this.constructor inside ES6 class constructor fails"
Choose one: is this a bug report or feature request?

### Input Code

From https://github.com/bookbrainz/bookbrainz-site/blob/061d62f97d13d33d3e745b378b62c34b04234c7f/src/client/components/pages/error.js

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

`this.constructor` in the above snippet should reference `SiteError`, and `const err = new Si

[2017-10-02 11:30] babel-bot opened #6600 "Polyfills included two times for two passes (not idempotent)"
When using `useBuiltIns: 'usage'` and doing two passes with babel, it can require polyfills multiple times, what makes babel not idempotent on second run (in my opinion it should be).

[code]

[2017-10-02 11:39] nicolo-ribaudo commented on #6360
You can look for a solution in https://github.com/babel/babel/issues/4480

[2017-10-02 11:39] #6360 closed

[2017-10-02 11:56] babel-bot opened #6599 "Feature: Precompile dependencies based on their engines"
If I target node 0.10 or 0.12 and some of my dependencies support node >= 4, I need to precompile all of them. Currently it takes too much time (even minutes) for babel to precompile all dependencies (i.e. without ignoring node_modules), but most of them don't need it anyway.

Couldn't babel-preset-env automatically discover the target to precompile to per-package based on engines field? And skip

[2017-10-02 13:31] xtuc commented on #6331
I have a fix [there](https://astexplorer.net/#/gist/d2fabd373c1b9da9adee9468c8e4db46/ed9bf499a022de21c257bcee30994efc94661d62) which could be added to the existing transformation plugin.

The source of this issue comes from `path.replaceExpressionWithStatements`
https://github.com/babel/babel/blob/0e432f0e0dc4b275ffa6948c3495c5cc5bcf52d5/packages/babel-traverse/src/path/replacement.js#L209-L254

I

[2017-10-02 13:55] #5052 closed

[2017-10-02 17:10] #6030 closed

[2017-10-02 18:06] hzoo opened #6363 "Document babel-helpers + new dependency functionality"
We landed https://github.com/babel/babel/pull/6254 so we should document the changes and in the meantime also document it itself 😄

I can do it too if no one takes it.

`babel-helpers`: modify the readme to explain how to write one, and how it interacts

[2017-10-02 18:37] andy-ms commented on #6353
You need to specify `--extensions ".ts"`.
There was a PR adding these at #6027, but there was concern specifically that it would change the default behavior of `babel-register` (used by `babel-node`).

[2017-10-02 18:46] CharlieGreenman commented on #4177
Is there any way we can re-open this? Running across an issue where breakpoints in chrome are off by one line.

[2017-10-02 18:49] hzoo commented on #2560
not even sure I remember what `es5.properties.mutators` corresponds too, going to close for inactivity.

[2017-10-02 18:49] #2560 closed

[2017-10-02 18:51] jridgewell commented on #4177
https://github.com/babel/babel/issues/6008.

[2017-10-02 18:56] CharlieGreenman commented on #6008
I was wondering if anyone has officially picked up this issue at this time?

[2017-10-02 19:21] jridgewell commented on #6328
Undoing a transform is impossibly hard, there are just way to many dynamic aspects of JS to take into account.

[2017-10-02 19:24] jridgewell commented on #6328
Undoing a transform is impossibly hard, there are just way to many dynamic aspects of JS to take into account.

- - -

Sorry for the close, I fatfingered it.

[2017-10-02 19:26] #4209 closed

[2017-10-02 19:29] probablyup commented on #6328
Some are definitely harder than others, but I don't think that's an axiom. The incremental portion of this concept is the most important aspect to this regard... that way it's an opt-in process for transforms that are linear enough to be undone.

[2017-10-02 20:29] #6363 closed

[2017-10-02 20:31] alloy commented on #6353
Aha, thanks for pointing me to that 👍

[2017-10-02 20:31] #6353 closed

[2017-10-02 20:36] hzoo commented on #6353
Can't make some doc changes in various places if that helps?
 https://github.com/babel/babel/pull/6365/files

[2017-10-02 20:50] alloy commented on #6353
Documentation is obviously good for when there’s really no other option, but [I do think](https://github.com/babel/babel/pull/6027#issuecomment-333657409) that in my case it’s reasonable to expect that I want Babel to process my TS sources.

[2017-10-02 21:45] cgood92 commented on #6341
Having the same problem.

[code]

[2017-10-02 21:47] hzoo commented on #6093
If someone can provide a minimal repo with more information that would helpful for someone to be able to figure this out. We have a fix for the transform-runtime issue but that may not be the issue given that it is an error in other places that modify imports as well.

[2017-10-02 22:18] phyllisstein commented on #6093
Hi @hzoo , here's a few of the cases I've seen. Hope it helps: <https://github.com/phyllisstein/babel-typescript-imports-mwe>.

[2017-10-03 00:36] parris opened #6368 "react-display-name + babel-preset-env are non-compatible"
It seems that babel-preset-env and all display-name type plugins don't operate well together. Is there a workaround to make the class displayName property work while using babel-preset-env? This is useful for automatically generated analytics event naming among other things.

[2017-10-03 01:12] TimothyGu opened #6370 "Erroneous "missing super() call in constructor" error thrown during transformation"
This is a bug report of transform-es2015-classes.

### Input Code

[code]

([REPL link](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEDCAWBLEATaBTAHgF3QOxRgGV1toBvAKGmmAHs8JsAnAV2GzuYAoBKCgL6UBQA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015&targets=&version=6.26.0))

or

[code]

([REPL link](https://babeljs.io/repl/#?babili=false

[2017-10-03 01:15] parris commented on #6368
I may have been mistaken, closing for now (sorry about that)

[2017-10-03 01:15] #6368 closed

[2017-10-03 08:05] graingert commented on #6340
Oh woops, I got confused, those tests are failing property spread

[2017-10-03 13:15] alloy opened #6373 "[BUG] Babel 7 with es2015 preset incorrectly destructures from imported module."
### Input Code

Cloneable/runnable example can be found [here](https://github.com/alloy/babel-7-destructuring-imported-variable-bug).

Given a module that exports an object:

[code]

And a module that imports the object and then destructures it into multiple objects:

[code]

### Babel Configuration

[code]

### Expected Behavior

I would expect both `Foo` and `Bar` to be taken from `_someModule.N

[2017-10-03 13:23] orta commented on #6373
Nice response @babel-bot , I should steal this and get it on CocoaPods' peril.

[2017-10-03 13:30] hzoo commented on #6373
[REPL on master](https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=JYWwDg9gTgLgBAbzgOQKYGcaoCYHkBGAVqgMYzpwC-cAZlBCHAEQB0A9Og6gLQgTYBXADaomAKBIQAdpkRwAYhAgAaOACEAhlCpwAvCgxY8RUuSA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015&targets=&version=7.0.0-beta.2)

<img width="991" alt="screen shot 2017-10-03 at 9 29 32 am" src="https://use

[2017-10-03 14:26] hzoo commented on #6370
Thanks for the report @TimothyGu! You can test master with `/repl/build/master`

Looks like the [2nd case works fine in 7.x/master](https://babeljs.io/repl/build/master#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEDCAWBLEATaBTAHgF3QOxRgGV1toBvAKGmmAHs8JsAnAV2GzuYAoBKC6jWjNSrZngoBfANyDJlSUA&debug=false&circleciRepo=&evaluate=false&lineWrap=false&presets=es2015&targets=&version=7.

[2017-10-03 14:35] wcastand commented on #6302
Hi, can someone help write a test case for this bug. I tried to add in babel-traverse tests a fixture with the code. (actual.js, expected.js, option.json) but the tests are still passing.

I thought this was going to failed since it's supposed to throw an error.
I tried to make a typo in the test's code and the test throw and error so they are taken into account.

Maybe i don't have the right appr

[2017-10-03 14:45] RoboBurned commented on #2816
@kittens As I can see this is not exactly how it works now.
I have the following file structure.
server
 server.js
  import App from '..\client\components\App'
client
 components
  App.jsx

When I run babel-node in server directory and pass it server.js as a input file it raises an error because it can't find react preset relative to directory \client\components. I have react preset installed in s

[2017-10-03 15:34] TimothyGu commented on #6370
So this is how the class looks like under 7.x

[code]

[code]

So it looks like all the necessary pieces are there to fix the first issue.

----

with

[code]

the transpiled class can look like

[code]

In other words, I think simply removing

https://github.com/babel/babel/blob/91cde0148d16afe9f9192953084f0b668885cdf4/packages/babel-plugin-transform-es2015-classes/src/vanilla.js#L451-L453

shoul

[2017-10-03 16:08] hzoo opened #6375 "Issue with reusing AST nodes"
Just want to write this down since we're seeing the same kind of fix for issues and we should look into solving this generally.

Immutable asts would be a larger change, so maybe https://github.com/babel/babel/pull/5971 or infra in our unit tests to check uniqueness would help

https://github.com/babel/babel/pull/6046
https://github.com/babel/babel/pull/6054
https://github.com/babel/babel/pull/637

[2017-10-03 16:16] loganfsmyth opened #6376 "Centralize each plugin's option processing to the top of the function."
As of https://github.com/babel/babel/pull/6350, plugins have changes from

[code]
to
[code]

Now that the options are easily accessible in the top-level scope, alongside the old `this.opts` and `state.opts` methods, it would help readability and validation if we move the accesses to these options to the top of the plugin functions.

In some places the references are already nicely grouped, like ht

[2017-10-03 17:24] MattiasBuelens opened #6378 "Modules transforms incorrectly rewrites array reference in transpiled for-of loop"
When using the (unofficial) [babel-plugin-transform-for-of-as-array](https://github.com/jridgewell/babel-plugin-transform-for-of-as-array) on a `for..of` loop that iterates over an imported array variable, the AMD (and CommonJS) modules transform fail to rewrite all of the array references.

Repro: https://github.com/MattiasBuelens/babel-for-of-modules-regression

### Input Code
[code]

### Babel

[2017-10-03 18:31] nicolo-ribaudo commented on #6378
@Andarist Is this fixed by https://github.com/babel/babel/pull/6374?

[2017-10-03 18:38] Andarist commented on #6378
Dont think so, the fix there is directly in the destructuring plugin, so it shouldnt fix this one.

I suspect the underlaying issue is the same - reusing node and thus interfering with cache optimization in module helper.

I can track this one too, once i get home

[2017-10-03 18:44] jridgewell commented on #6370
The first is absolutely an error.

The second is fixed in master.

[2017-10-03 19:20] nicolo-ribaudo commented on #6370
@jridgewell I think the first should be a runtime error, while currently it is reported as a static error.

[2017-10-03 19:25] #6373 closed

[2017-10-03 19:27] TimothyGu commented on #6370
In fact, even the following should be treated as a runtime error:

[code]

It follows the same logic as what I wrote up in https://github.com/babel/babel/issues/6370#issue-262275885, and parses successfully with no early errors in all JavaScript engines I can test besides Babel.

[2017-10-03 20:09] MattiasBuelens commented on #6378
#6374 is indeed very interesting. Simply changing [line 16 in the `for-of-as-array` transform](https://github.com/jridgewell/babel-plugin-transform-for-of-as-array/blob/fd2b1482d433d46d45e5b25fed5aa4ea14fd45e7/src/index.js#L16) from this:
[code]
to this:
[code]
already solves this particular problem.

Would this be a correct fix for the plugin? When exactly should a plugin need to use `t.clone`?

[2017-10-03 20:22] nicolo-ribaudo commented on #6378
A node should never be used twice, so you should always clone it when it is duplicated.
If the node is nor an identifier nor a literal, the correct function to clone it correctly is `t.deepClone`.

[2017-10-03 20:22] Andarist commented on #6378
@MattiasBuelens this is a correct fix. The issue got introduced by recent improve caching. Probably the plugin has reused `array` node and when `babel-helper-module-transforms` got into rewriting live bindings (what u have imported) it has marked this node as seen in its [`ReferencedIdentifier visitor`](https://github.com/babel/babel/blob/68182bd69fe7b6f3d1deac0efb16fc6ff9098363/packages/babel-hel

[2017-10-03 20:24] #6378 closed

[2017-10-03 20:24] hzoo commented on #6378
We should note that in the upgrade docs for tool authors since it may happen a lot

[2017-10-03 20:27] MattiasBuelens commented on #6378
Thanks for the help! I'll open a pull request in `babel-plugin-transform-for-of-as-array` to get this fixed. :)

[2017-10-03 22:11] hzoo commented on #6378
Funny since @jridgewell made that plugin..

[2017-10-03 22:14] jridgewell commented on #6378
What'd I do?

[2017-10-03 22:15] jridgewell commented on #6378
Oh yah, but that was way before I realized there was an issue with reusing nodes.

[2017-10-04 05:49] xtuc commented on #6375
I can work on this tomorrow, I would like to have a quick prototype to measure the perf impact (if any).

[2017-10-04 09:50] Andarist commented on #6375
closed by accident with a fat finger :<

[2017-10-04 14:24] bmeck commented on #6242
@loganfsmyth

Are there clear examples of this right now? Also things are starting to look like you can declare the media type for source text and Node is moving it's interpretation of `.js`/CJS to be under [`text/vnd.node.js`](https://github.com/nodejs/TSC/issues/371) (please don't use this til registration is done).

[2017-10-04 14:27] bmeck commented on #6285
@dnalborczyk what command are you using to run `node`? `babel-node` doesn't hook into ESM loading and is using `require.extensions` which has been deprecated for a few years.

[2017-10-04 15:27] ljharb commented on #6242
How would a MIME type be relevant to non-browsers tho? Babel transpiles for server apps too.

[2017-10-04 15:28] bmeck commented on #6242
@ljharb various useful APIs, like `Blob` and `URL.createObjectURL` use MIME

[2017-10-04 15:30] ljharb commented on #6242
I didn't realize those worked in node, but I'm still not understanding how a mime type is relevant to how Babel parses things :-/

[2017-10-04 15:34] bmeck commented on #6242
@ljharb because if they have a "sourceMode" having it be MIME based would be great. https://github.com/bmeck/I-D/blob/master/javascript-mjs/draft.md#textjavascript updated internet draft also added a `goal` parameter per review in https://github.com/bmeck/I-D/issues/1

[2017-10-04 15:49] ljharb commented on #6242
Right, but what besides the extension informs the mime type?

[2017-10-04 16:01] bmeck commented on #6242
@ljharb for file backed source text extension mostly informs the type. However `.js` remains ambiguous if you target browsers using Script vs browsers using CJS. No one targets using Script to my knowledge so it isn't really an issue. for non-file backed source texts (things that are using mechanics like WebPack's `emitFile` APIs the type is declared via the loader).

[2017-10-04 16:10] dnalborczyk commented on #6285
@bmeck first, thank you for getting the ball rolling and the implementation for supporting ESM in node!

Yeah, I think this issue can be closed for the time being, till the node _ESM_ implementation and/or the deprecated _require.extensions_ get a proper replacement - if ever. At the time of opening this issue, I wasn't aware of node's _require.extensions_, though on the way of digging through thi

[2017-10-04 16:18] nicolo-ribaudo opened #6385 "finally in do-expressions"
`finally` shouldn't alter the completion vaule of the try statement. You can test it using `eval("body of the do expression")`;

https://babeljs.io/repl/build/5158/#?babili=false&browsers=&build=&builtIns=false&code_lz=G4QwTgBCELwQJgewgbwgFzAT1RATBAL4QBmAlgHYgA21OaAzEUQFCiQBGsCyam9GABZhEAd1TFiAYxDopgiAAoApgEpcAVmbkqtAQDZmhFiymIKAZ0TVlAOmqIA5opAAaCB1UBuE-yjdlUGpFACJ-XAJiHRo6XCZCEO8INnAPAKDQ8L5hMQlm

[2017-10-04 16:19] #6331 closed

[2017-10-04 16:30] nicolo-ribaudo commented on #6385
Specification: https://tc39.github.io/ecma262/#sec-try-statement-runtime-semantics-evaluation (Specifically, step 3 for try-finally and step 5 for try-catch-finally)

[2017-10-04 16:45] nveenjain commented on #6376
Is there any way, i can help with the issue, i know that it has PR, but can i be of any help there?

[2017-10-04 17:15] hzoo commented on #6376
@nveenjain yeah for sure! you can help review the PR or just try to make a branch yourself to compare if you want to learn it yourself (although we may not merge it specifically)

[2017-10-04 17:29] ljharb commented on #6242
Right, but babel doesn't target browsers; that's a bundler's job.

[2017-10-04 18:18] bmeck commented on #6242
@ljharb it should still use the MIME under the hood when there are not files instead of a random enum.

[2017-10-04 18:33] ljharb commented on #6242
Without an extension, where would it get the MIME from? (Sorry if I'm being dense here; I just don't see how mime types ever matter before the point of sending a response to a browser)

[2017-10-04 18:41] bmeck commented on #6242
@ljharb a variety of potential places, mostly from generated source that is not on disk.

[2017-10-04 21:34] RusinovAnton opened #6386 "Tests failing with error in babel-standalone"
While working on https://github.com/babel/babel/pull/6381 I've got error after run `make test` locally.

[code]

| software         | version(s)
| ---------------- | -------
| babel-standalone            |  7.0.0-beta.2
| node             | 8.5.0
| npm              | 5.4.1
| Operating System | macOS Sierra 10.12.6

[2017-10-04 22:00] hzoo commented on #6386
Ok need to add this line

Modified: packages/babel-core/src/config/option-manager.js

@ option-manager.js:509 @ function normalizePair(
[code]

[2017-10-04 22:09] RusinovAnton commented on #6386
You da real MVP

[2017-10-05 11:25] keithamus commented on #6385
Hey @nicolo-ribaudo thanks for this issue.

I believe the current behaviour is correct. The specification notes that in any try/finally or try/catch/finally block the `finally` block takes precedence. Do not trust eval for semantics.

[2017-10-05 11:30] keithamus commented on #6385
To clarify @nicolo-ribaudo; the spec says if `[[Type]]` is `normal` then let the `try{}` portion of the statement take precedence over the `finally{}` type; but in this case neither block is `normaly`, they are both completions of the `return` type (determined by the `return` statement.

In this case, because you have a `return` statement in your finally block - the `[[Type]]` is `return` (see htt

[2017-10-05 11:36] keithamus commented on #6385
Sorry I haven't been very clear here. I believe the do expression creates implicit return statements. The spec needs clarifying though. Right now it is doing nothing out of the ordinary; again, this isn't eval semantics. There's an open issue for this here: https://github.com/tc39/proposal-do-expressions/issues/6

[2017-10-05 12:13] hzoo opened #6388 "Document using babel-template as a template tag"
Ref https://github.com/babel/babel/pull/5001

Can explain the different ways to use it and examples.

[2017-10-05 12:27] xtuc commented on #6375
It's more complicated than I thought , the traverse algorithm is not easy to understand.

I wanted to use Immutable.js with a tree datastructure.

I don't know what we would do with mutations like: `path.node.id.name = "a";`, it would have a big perf impact to allow that (since it would bypass the partial copy optimization). Only `path.Insert*`, `path.remove` or `path.replace*` would be possible.

[2017-10-05 12:42] hzoo commented on #6375
@loganfsmyth had ideas a long time ago: https://github.com/babel/notes/blob/master/2016/2016-08/august-01.md#potential-api-changes-for-traversal around this.

And yes we would have to prevent assignment and only allow path methods

[2017-10-05 13:52] dnalborczyk commented on #6285
closing this issue as the _--experimental-modules_ flag wouldn't be useful as of now, though I think it would generally better to pass *all* possible flags to node, not just a handful whitelisted.

[2017-10-05 13:53] #6285 closed

[2017-10-05 19:13] nojvek opened #6392 "babel-preset-typescript doesn't work"
Followed the documentation at: https://www.npmjs.com/package/babel-preset-typescript

Getting this error:
[code]

[code]

End goal is to get this working with webpack with babel-loader.

[2017-10-05 19:14] nojvek commented on #6392
@andy-ms  @hzoo

[2017-10-05 19:16] existentialism commented on #6392
@nojvek thanks for the issue! You'll need to upgrade all your babel deps to the latest betas to match `babel-preset-typescript`, as it depends on some changes in our parser.

(p.s. no need to ping, the team will respond asap!)

[2017-10-05 19:16] hzoo commented on #6392
Would appreciate it if you provided the source for the error?

However I see it's because you are using the typescript preset when everything else is Babel 6. It's using some APIs only in Babel 7 so you just need to update everything else as well.

I would change everything to `7.0.0-beta.2` (eslint/loader are different)

[2017-10-05 19:37] plmrry commented on #6392
I'm getting:
[code]
Using:
[code]

[2017-10-05 19:41] hzoo commented on #6392
I would clear node_modules and make sure you don't have any other plugins/deps that are using v6

[2017-10-05 20:08] nojvek commented on #6392
I made the following changes to the package.json

![image](https://user-images.githubusercontent.com/1018196/31249913-fbe12fec-a9cd-11e7-964d-51a2fd1125c6.png)

webpack.config

[code]

Although I still get an error like this.

[code]

[2017-10-05 20:11] hzoo commented on #6392
babel-loader can be `^7.1.2` and preset-typescript should also be `beta.2`

If you only run typescript loader it will probably fail for unknown syntax, you should still run with es2015?

[2017-10-05 21:28] nicolo-ribaudo commented on #6385
I think they return the completion record of the block, because the proposal says "Return the result of evaluating Body." [1](https://github.com/tc39/proposal-do-expressions#tennants-correspondence-principle) (Even if it is a single line, it is the only proposed "specification" I could find).

The specification says that the result of evaluationg a block should be the result of evaluating its stat

[2017-10-05 23:05] hzoo opened #6393 "Ensure the distributed bundle works in Node 0.10"
---

Migrated from https://github.com/babel/babel-preset-env/issues/4
Originally created by @baer on *Thu, 01 Sep 2016 04:06:53 GMT*

---
Currently the transpile targets Node 4+. Once features have stabilized we should expand that support to 0.10

[2017-10-05 23:05] hzoo commented on #6393
---

Migrated from https://github.com/babel/babel-preset-env/issues/4#issuecomment-252048106
Originally created by @hzoo on *Thu, 06 Oct 2016 18:26:38 GMT*

---
We run the es2015 preset now + travis so this is fixed

[2017-10-05 23:13] hzoo opened #6394 "Ensure the distributed bundle works in Node 0.10"
---

Migrated from https://github.com/babel/babel-preset-env/issues/4
Originally created by @baer on *Thu, 01 Sep 2016 04:06:53 GMT*

---
Currently the transpile targets Node 4+. Once features have stabilized we should expand that support to 0.10

[2017-10-05 23:13] hzoo commented on #6394
---

Migrated from https://github.com/babel/babel-preset-env/issues/4#issuecomment-334616012
Originally created by @hzoo on *Thu, 05 Oct 2017 23:05:57 GMT*

---
Issue migrated to babel/babel#6393

[2017-10-05 23:13] hzoo commented on #6394
---

Migrated from https://github.com/babel/babel-preset-env/issues/4#issuecomment-252048106
Originally created by @hzoo on *Thu, 06 Oct 2016 18:26:38 GMT*

---
We run the es2015 preset now + travis so this is fixed

[2017-10-05 23:13] hzoo commented on #6394
---

Migrated from https://github.com/babel/babel-preset-env/issues/4#issuecomment-334617126
Originally created by @hzoo on *Thu, 05 Oct 2017 23:13:06 GMT*

---
testing!

[2017-10-05 23:14] hzoo opened #6395 "Ensure the distributed bundle works in Node 0.10"
---

Migrated from https://github.com/babel/babel-preset-env/issues/4
Originally created by @baer on *Thu, 01 Sep 2016 04:06:53 GMT*

---
Currently the transpile targets Node 4+. Once features have stabilized we should expand that support to 0.10

[2017-10-05 23:14] hzoo commented on #6395
---

Migrated from https://github.com/babel/babel-preset-env/issues/4#issuecomment-252048106
Originally created by @hzoo on *Thu, 06 Oct 2016 18:26:38 GMT*

---
We run the es2015 preset now + travis so this is fixed

[2017-10-05 23:14] #6395 closed

[2017-10-05 23:14] #6393 closed

[2017-10-05 23:14] #6394 closed

[2017-10-05 23:34] hzoo opened #6396 "Select browsers based on particular feature support"
---

Migrated from https://github.com/babel/babel-preset-env/issues/157
Originally created by @graingert on *Fri, 27 Jan 2017 08:51:43 GMT*

---
Eg all browsers that support async await,  would select Chrome or all browsers that support arrow functions, would select most modern browsers

[2017-10-05 23:34] hzoo opened #6397 "Recommending alternatives to Uglify in the README"
---

Migrated from https://github.com/babel/babel-preset-env/issues/190
Originally created by @verekia on *Mon, 06 Mar 2017 16:24:55 GMT*

---
I think it would be helpful to recommend ES6-aware minifiers as an alternative to Uglify. Otherwise all the smart optimizations done by `babel-preset-env` are lost, since at the end of the day, we do have to minify production code.

Seems like Babili is the

[2017-10-05 23:34] hzoo opened #6398 "Drop support for older versions of Node"
---

Migrated from https://github.com/babel/babel-preset-env/issues/85
Originally created by @baer on *Mon, 12 Dec 2016 17:18:59 GMT*

---
Node 0.10 / 0.12 is at EOL. When the main babel project drops support officially, we should as well

See: babel/babel#4315

[2017-10-05 23:34] hzoo opened #6399 "modules/es7.array.includes.js -> modules/es7.array.includes"
---

Migrated from https://github.com/babel/babel-preset-env/issues/129
Originally created by @hzoo on *Mon, 09 Jan 2017 22:02:02 GMT*

---
In our config file it's unncessary to use `.js` since it ends up being a require/import statement.

`require("es7.array.includes.js")` -> `require("es7.array.includes")`

[code]

The `.js` is unnecessary and inconsistent (not sure why this happened other than

[2017-10-05 23:34] hzoo opened #6400 "Migration from preset-stage-0 to preset-env"
---

Migrated from https://github.com/babel/babel-preset-env/issues/218
Originally created by @vansosnin on *Sun, 19 Mar 2017 10:02:44 GMT*

---
Hello!
First of all, I want to thank mainteiners for your work!

Did you met a problem migrating from preset-stage-0 to preset-env? I have a big project, where we have been used preset-stage-0 to transform ES6 code. But since I discovered this awesome pre

[2017-10-05 23:34] hzoo opened #6401 "regeneratorRuntime is not defined"
---

Migrated from https://github.com/babel/babel-preset-env/issues/112
Originally created by @osenvosem on *Fri, 30 Dec 2016 07:10:07 GMT*

---
I use the latest Chrome 55, it supports generators. It works well if only I exclude `transform-generator` explicitly. With `useBuiltIns: true` I also got the issue. It seems to be a bug.

[code]
I suppose the preset should include `babel-plugin-transform-

[2017-10-05 23:34] hzoo opened #6402 "Edge 14 doesn't get block scoping detected"
---

Migrated from https://github.com/babel/babel-preset-env/issues/207
Originally created by @mgol on *Mon, 13 Mar 2017 23:08:11 GMT*

---
Edge 14 passes all tests in the Kangax ES6 table in the `const` & `let` sections:
http://kangax.github.io/compat-table/es6/

However, specifying `Edge >= 14` as a target still transpiles `const` to `var`:
https://babeljs.io/repl/#?babili=false&evaluate=true&li

[2017-10-05 23:34] hzoo opened #6403 "Invalid plugins configuration with transform-regenerator and arrow functions"
---

Migrated from https://github.com/babel/babel-preset-env/issues/160
Originally created by @Strate on *Mon, 06 Feb 2017 09:21:30 GMT*

---
With config such as:
[code]
I got error when use async arrow function from "transform-regenerator" plugin:
[code]

[2017-10-05 23:34] hzoo opened #6404 "Cannot find module 'core-js/modules/es6.map'"
---

Migrated from https://github.com/babel/babel-preset-env/issues/162
Originally created by @GitScrum on *Wed, 08 Feb 2017 18:50:34 GMT*

---
https://travis-ci.org/GitScrum/posthtml-beautify/jobs/199149037

[2017-10-05 23:34] hzoo opened #6405 "Promise seems to be polyfilled in environments that support promises"
---

Migrated from https://github.com/babel/babel-preset-env/issues/105
Originally created by @matthewmueller on *Sun, 18 Dec 2016 23:55:13 GMT*

---
Just messing around with the new polyfill stuff, but not sure it's working for promises. Here's my `.babelrc`:

[code]

Here's my file:

[code]

And here's my output (from `babel index.js`):

[code]

Based on the data, Promises have been supported si

[2017-10-05 23:34] hzoo opened #6406 "Couldn't find preset "env" relative to directory"
---

Migrated from https://github.com/babel/babel-preset-env/issues/186
Originally created by @adlk on *Fri, 03 Mar 2017 14:49:36 GMT*

---
I'm working with the [`electron-forge`](https://github.com/electron-userland/electron-forge) setup and I'm trying to dynamically require an external node_module that is located in `/Users/name/plugin` Unfortunately babel-preset-env is trying to resolve the pre

[2017-10-05 23:34] hzoo opened #6407 "regeneratorRuntime issue"
---

Migrated from https://github.com/babel/babel-preset-env/issues/92
Originally created by @gabrielstuff on *Tue, 13 Dec 2016 21:30:50 GMT*

---
Here is my `.babelrc` :

[code]

All code `*entries() {` is tranformed to

[code]

Which throw a :

[code]

I then think about adding `babel-polyfill` or `babel-runtime` but then what would be the point of that preset 🤔

So here I come, and how should w

[2017-10-05 23:34] hzoo opened #6408 "%TypedArray%.prototype.every missing in IE11"
---

Migrated from https://github.com/babel/babel-preset-env/issues/196
Originally created by @alippai on *Wed, 08 Mar 2017 13:04:51 GMT*

---
The env preset doesn't include the %TypedArray%.prototype.every polyfill for IE11 target.
IE11 has TypedArray support, however it's missing some functions on the TypedArray instances.

[2017-10-05 23:34] hzoo opened #6409 "Is the version published to NPM from master?"
---

Migrated from https://github.com/babel/babel-preset-env/issues/126
Originally created by @skattyadz on *Mon, 09 Jan 2017 15:58:08 GMT*

---
This is a strange question, but I'm getting errors like

[code]

Looking at version `1.1.6` in my `node_modules` folder, https://github.com/babel/babel-preset-env/commit/84d10f31fedc06b7c3d73135dbda50117c61059f hasn't been applied. Also, `validIncludesAnd

[2017-10-05 23:34] hzoo opened #6410 "Incorrect browser targets"
---

Migrated from https://github.com/babel/babel-preset-env/issues/163
Originally created by @tleunen on *Thu, 09 Feb 2017 18:09:57 GMT*

---
Hey,

I have these targets:
[code]
And with the debug option, the preset gives me this:
[code]
So Chrome 57 isn't really "last 2 versions". Since the last stable version of Chrome is still 56.

When using the same settings, with the same `getLowestVersion`

[2017-10-05 23:34] hzoo opened #6411 "exclude 'web' polyfills from node by default"
---

Migrated from https://github.com/babel/babel-preset-env/issues/220
Originally created by @restrry on *Mon, 20 Mar 2017 18:01:21 GMT*

---
Hi, after running `babel-env-preset`  with `useBuiltIns: true` for node (v7.6) environment got in console:
[code]
So, I was surprised to find 'web' polyfills included in the final node build (I use webpack for both node and web). Of course I could use `excl

[2017-10-05 23:34] hzoo opened #6412 "Feature Request: Improve "useBuiltIns""
---

Migrated from https://github.com/babel/babel-preset-env/issues/197
Originally created by @davesnx on *Wed, 08 Mar 2017 15:17:50 GMT*

---
Hey @hzoo

First of all, thanks for this preset, it's super usefull when you develop Apps! 👍

I have a small feature request that could allow having smaller bundle sizes when you are using `babel-preset-env`.

useBuiltIns could statically analyze which poly

[2017-10-05 23:34] hzoo opened #6413 "Problema Error: Couldn't find preset "env" relative to directory "D:\\www\\test\\....""
---

Migrated from https://github.com/babel/babel-preset-env/issues/219
Originally created by @EOM on *Sun, 19 Mar 2017 19:13:28 GMT*

---
Hi, problema use **Bable to PowerShell in Widows 10 Pro 64Bit**

NodeJs: v6.9.5 **_(Install in C:\ ... \ ...)_**
NPM: v3.10.10 **_(Install in C:\ ... \ ....)_**

Install: **_(Install global in C:\ ... \ ...)_**
`npm install babel babel-cli babel-preset-env babe

[2017-10-05 23:34] hzoo opened #6414 "Version numbers should be string not numbers"
---

Migrated from https://github.com/babel/babel-preset-env/issues/187
Originally created by @danez on *Fri, 03 Mar 2017 17:35:43 GMT*

---
As we are currently using numbers for targets, it can happen that too much plugins get applied although not necessary.

[code]

This will apply unnecessary transforms as 6.1 < 6.9

[code]

[2017-10-05 23:34] hzoo opened #6415 "Strange behavior when setting targets = { chrome: 55 }."
---

Migrated from https://github.com/babel/babel-preset-env/issues/66
Originally created by @AJIh on *Sat, 10 Dec 2016 10:29:10 GMT*

---
Thanks for your preset. It makes babel transformation much more graceful. :)

I encountered a strange problem when setting targets = { chrome: 55 }.

[code]

It seems that async functions is not recognized by babel. Setting `chrome=54` or adding `transform-asyn

[2017-10-05 23:34] hzoo opened #6416 "Environment "browser" and version "latest""
---

Migrated from https://github.com/babel/babel-preset-env/issues/23
Originally created by @AlicanC on *Sun, 09 Oct 2016 10:34:08 GMT*

---
It would be nice if we had a "browser" environment which would cover all browsers and a "latest" version to target the latest version of an environment.

Examples:

[code]

[2017-10-05 23:34] hzoo opened #6417 "Unable to combine with syntax-dynamic-import, async await, and Node 6.9"
---

Migrated from https://github.com/babel/babel-preset-env/issues/168
Originally created by @eliperelman on *Thu, 23 Feb 2017 16:34:23 GMT*

---
I'm trying to configure this to support `syntax-dynamic-import` and async await, but have had some troubles getting it to actually work:

config:

[code]

The code I am trying to test this on is:

[code]

With the above configuration, I get the error (p

[2017-10-05 23:34] hzoo opened #6418 "Multiple envs: 1 for node, 1 for browsers"
---

Migrated from https://github.com/babel/babel-preset-env/issues/189
Originally created by @verekia on *Mon, 06 Mar 2017 15:58:57 GMT*

---
Let's say we are using Babel on both the back-end with Node and on the front-end with Webpack. What would be the correct way to setup `babel-preset-env` so that it performs minimal transformations for Node, but more transformations for browsers when buildin

[2017-10-05 23:34] hzoo opened #6419 "Async-to-generator plugin is not excluded properly"
---

Migrated from https://github.com/babel/babel-preset-env/issues/165
Originally created by @Whoaa512 on *Fri, 17 Feb 2017 07:03:54 GMT*

---
Basically if you add `transform-async-to-generator` to the exclude it is not respected.

Created a repo with the reproduction of the bug.
https://github.com/Whoaa512/fast-async-babel-env-repro

[2017-10-05 23:34] hzoo opened #6420 "Add lodash.intersection as a dependency"
---

Migrated from https://github.com/babel/babel-preset-env/issues/172
Originally created by @jbzdawka on *Fri, 24 Feb 2017 15:21:02 GMT*

---
My guess is a supplementary package required lodash and has since dropped it (or specified specifics and it did not include intersection). Lodash is currently in the devDeps, but lodash/intersection is used in src/normalize-options.js.

The suggestion is t

[2017-10-05 23:34] hzoo opened #6421 "Feature request: read browserlist config file"
---

Migrated from https://github.com/babel/babel-preset-env/issues/34
Originally created by @stevewillard on *Wed, 02 Nov 2016 16:37:15 GMT*

---
It would be great if the same config file used for browserlist could be used in this plugin as well.

See: https://github.com/ai/browserslist#config-file

[2017-10-05 23:34] hzoo opened #6422 "Support `browserslist` files"
---

Migrated from https://github.com/babel/babel-preset-env/issues/42
Originally created by @Kovensky on *Thu, 10 Nov 2016 15:20:31 GMT*

---
Support loading the `browsers` data from a `browserslist` file, resolved the same way `.babelrc` is.

`browserslist.readConfig(pathToFile)` should DTRT (or return `false`).

[2017-10-05 23:34] hzoo opened #6423 "Add PhantomJS as a target"
---

Migrated from https://github.com/babel/babel-preset-env/issues/158
Originally created by @graingert on *Mon, 30 Jan 2017 11:54:08 GMT*

---
Now that Phantom 2.5 supports ES2015 it would be good to add it as an Alias to chrome:

depends on https://github.com/kangax/compat-table/issues/1013

[2017-10-05 23:34] hzoo opened #6424 "Object Spread Transform Not Included"
---

Migrated from https://github.com/babel/babel-preset-env/issues/49
Originally created by @iansinnott on *Sun, 20 Nov 2016 18:35:14 GMT*

---
I was trying to create a babel config for some dev work and just wanted the target recent Chrome. I'm using Webpack 2 and babel-loader as the build pipeline. The following config caused a compiler error:

[code]

However, manually adding `babel-plugin-tra

[2017-10-05 23:34] hzoo opened #6425 "Add Rest Spread Syntax Plugin for Node >= 6.8.1"
---

Migrated from https://github.com/babel/babel-preset-env/issues/90
Originally created by @joshperry on *Tue, 13 Dec 2016 09:34:29 GMT*

---
Since these operators have been [supported in node](http://node.green/#rest-parameters) for awhile (and are also in the LTS release) it would be nice if targeting node versions that support this operator would use the [syntax plugin](https://www.npmjs.com/

[2017-10-05 23:34] hzoo opened #6426 "Dont work arrow function in class and transform-do-expressions"
---

Migrated from https://github.com/babel/babel-preset-env/issues/217
Originally created by @khotey on *Sat, 18 Mar 2017 16:36:24 GMT*

---
I have class:
[code]

Webpack modules config:
[code]

.babelrc:
[code]

When build scripts I have error:
  `8:11  error  Parsing error: Unexpected token =`
And the same problem with bind(transform-do-expressions), If I use `onClick={e => ::this.someAction}`

[2017-10-05 23:34] hzoo opened #6427 "Make uglify a target"
---

Migrated from https://github.com/babel/babel-preset-env/issues/134
Originally created by @hzoo on *Tue, 10 Jan 2017 19:24:30 GMT*

---
Going to work on this now

If you use minification already (uglify) then targeting later browers and compiling less would be useful because it will syntax error. I thought at the very least we could have an option to only check polyfills with a `targetBuiltIns

[2017-10-05 23:34] hzoo opened #6428 "debug option: using plugins/using polyfills should account for includes/excludes"
---

Migrated from https://github.com/babel/babel-preset-env/issues/127
Originally created by @hzoo on *Mon, 09 Jan 2017 16:15:57 GMT*

---
ref https://github.com/babel/babel-preset-env/pull/109 (not due to this pr but related)

@yavorsky realized the logging is kinda broken for exclude/include. `pluginList` and `builtIns` list should be printed after accounting for include/exclude. Not sure if we

[2017-10-05 23:34] hzoo opened #6429 "Add tests for debug output"
---

Migrated from https://github.com/babel/babel-preset-env/issues/133
Originally created by @existentialism on *Tue, 10 Jan 2017 17:47:52 GMT*

---
Now that we've fixed a few bugs in debug output (h/t to @yavorsky), it would be great to add test(s) to make sure we don't break it later.

We definitely want to ensure that:

- Output logs _after_ exclude/include processing is done (https://github.c

[2017-10-05 23:34] hzoo opened #6430 "replace manual electron-to-chromium file with external package"
---

Migrated from https://github.com/babel/babel-preset-env/issues/142
Originally created by @Kilian on *Sun, 15 Jan 2017 17:09:18 GMT*

---
I just created an electron-to-chromium package that provides the same object that you manually keep in https://github.com/babel/babel-preset-env/blob/master/data/electron-to-chromium.js but then automatically generated as suggested by @kevinsawicki here: htt

[2017-10-05 23:34] hzoo opened #6431 "useBuiltIns: figure out how to remove polyfills that aren't actually used in the codebase"
---

Migrated from https://github.com/babel/babel-preset-env/issues/84
Originally created by @hzoo on *Mon, 12 Dec 2016 17:04:39 GMT*

---
## Goal: only include necessary polyfills

### Don't include if supported environments support it natively #20
- Use preset-env config to determine what parts of core-js to pull in (original PR, #55)

[code]

gets transformed to

[code]

### Don't include if yo

[2017-10-05 23:38] #6404 closed

[2017-10-05 23:38] #6409 closed

[2017-10-05 23:38] #6410 closed

[2017-10-05 23:38] #6406 closed

[2017-10-05 23:38] #6411 closed

[2017-10-05 23:38] #6412 closed

[2017-10-05 23:38] #6413 closed

[2017-10-05 23:38] #6414 closed

[2017-10-05 23:38] #6418 closed

[2017-10-05 23:38] #6429 closed

[2017-10-05 23:38] #6430 closed

[2017-10-05 23:38] #6415 closed

[2017-10-05 23:38] #6416 closed

[2017-10-05 23:38] #6419 closed

[2017-10-05 23:38] #6420 closed

[2017-10-05 23:38] #6423 closed

[2017-10-05 23:38] #6424 closed

[2017-10-05 23:38] #6425 closed

[2017-10-05 23:38] #6427 closed

[2017-10-05 23:38] #6428 closed

[2017-10-05 23:38] #6431 closed

[2017-10-05 23:38] #6421 closed

[2017-10-05 23:38] #6422 closed

[2017-10-05 23:38] #6426 closed

[2017-10-05 23:38] #6397 closed

[2017-10-05 23:38] #6398 closed

[2017-10-05 23:38] #6399 closed

[2017-10-05 23:38] #6401 closed

[2017-10-05 23:38] #6396 closed

[2017-10-05 23:38] #6402 closed

[2017-10-05 23:38] #6403 closed

[2017-10-05 23:38] #6405 closed

[2017-10-05 23:38] #6407 closed

[2017-10-05 23:38] #6408 closed

[2017-10-05 23:38] #6400 closed

[2017-10-05 23:53] hzoo opened #6432 "Data issues"
---

Migrated from https://github.com/babel/babel-preset-env/issues/7
Originally created by @hzoo on *Tue, 06 Sep 2016 03:50:00 GMT*

---
~~Data can be wrong in https://github.com/babel/babel-preset-env/blob/master/src/plugins.js.~~

We're using https://kangax.github.io/compat-table/es6/ now

<img width="1316" alt="screen shot 2016-10-08 at 11 13 43 am" src="https://cloud.githubusercontent.com/ass

[2017-10-05 23:53] hzoo opened #6433 "Auto detect for node"
---

Migrated from https://github.com/babel/babel-preset-env/issues/9
Originally created by @hzoo on *Sat, 24 Sep 2016 04:41:53 GMT*

---
https://github.com/babel/babel/pull/3476#issuecomment-213222405

Or just determine current node version before running?

[2017-10-05 23:53] hzoo opened #6434 "Does not accept options"
---

Migrated from https://github.com/babel/babel-preset-env/issues/10
Originally created by @tinovyatkin on *Fri, 30 Sep 2016 03:53:05 GMT*

---
I've got an error `Options {"targets":{"chrome":51},"modules":false,"loose":false} passed to /Users/tino/Sites/transfers.do/node_modules/babel-preset-env/lib/index.js which does not accept options. (While processing preset: "/Users/tino/Sites/transfers.d

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-252140666
Originally created by @DZuz14 on *Fri, 07 Oct 2016 02:43:45 GMT*

---
Any stuff a junior dev can work on? Will gladly help out with anything I can.

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-252103901
Originally created by @hzoo on *Thu, 06 Oct 2016 22:15:03 GMT*

---
we'll need to make some PRs to `compat-table` as we go when we find issues/missing stuff

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-252047440
Originally created by @hzoo on *Thu, 06 Oct 2016 18:24:16 GMT*

---
We should figure out granularity
- some browsers implement under a flag: (compat-table has `flag, strict, etc`) - what are these?
- maybe the browser implements most of the feature (say 12/13) which covers most use cases etc.

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-253985866
Originally created by @hzoo on *Sat, 15 Oct 2016 13:57:56 GMT*

---
We're using compat-table already so we can close this. The issue is just that the data might be not up or date or the logic incorrect but that's an ongoing effort

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-252140864
Originally created by @hzoo on *Fri, 07 Oct 2016 02:45:44 GMT*

---
One thing that we want to do (continually) is check that `data/plugins.json` is actually correct/accurate to both what's actually true (testing in browsers/node) as well as correct to kangax.github.io/compat-table/es6/ (although annoying)

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-247875211
Originally created by @fson on *Sun, 18 Sep 2016 20:33:42 GMT*

---
I took a first stab at generating the data from ES compatibility table in #8.

[2017-10-05 23:53] hzoo commented on #6432
---

Migrated from https://github.com/babel/babel-preset-env/issues/7#issuecomment-249359363
Originally created by @chicoxyzzy on *Sat, 24 Sep 2016 11:12:08 GMT*

---
Hey! Compatibility table collaborator here! I just want you to know I will be working on moving raw  data to a distinct npm package soon.

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-257098177
Originally created by @hzoo on *Sat, 29 Oct 2016 15:35:01 GMT*

---
@shubheksha Let me know if you need any more context/help on this, or if someone else can take this too

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-252935123
Originally created by @hzoo on *Tue, 11 Oct 2016 14:34:37 GMT*

---
Awesome - ~~I'l try to merge something of https://github.com/babel/babel-preset-env/pull/19 first to fix merge conflicts~~ merged

And we can even use it on the project itself 😛

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-252479007
Originally created by @AlicanC on *Sun, 09 Oct 2016 10:42:52 GMT*

---
@rtsao great idea. We should support keywords in versions. #23 needs that too.

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-254309462
Originally created by @hzoo on *Mon, 17 Oct 2016 19:33:43 GMT*

---
@shubheksha still able to work on this? no rush though

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-250282800
Originally created by @deepsweet on *Wed, 28 Sep 2016 20:02:06 GMT*

---

https://github.com/rtsao/babel-preset-es2015-node/blob/master/index.js

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-252079383
Originally created by @hzoo on *Thu, 06 Oct 2016 20:30:17 GMT*

---
yeah we can use `process.version` but we still need to specify whether you are compiling node or compiling for other environments

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-258000226
Originally created by @hzoo on *Wed, 02 Nov 2016 21:10:46 GMT*

---
https://github.com/babel/babel-preset-env/issues/35

w/ `"node": "current"` or `"node": true`

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-254587767
Originally created by @hzoo on *Tue, 18 Oct 2016 17:56:57 GMT*

---
You can do what was in https://github.com/facebookincubator/create-react-app/pull/878 if you use a preset or use a local js file. If you use a package.json/babelrc you won't be able to use javascript in the config so we could have a hardco

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-252103086
Originally created by @rtsao on *Thu, 06 Oct 2016 22:10:47 GMT*

---
What about a special value for node (e.g. `{node: "process"}`) which infers from process.version?

[2017-10-05 23:53] hzoo commented on #6433
---

Migrated from https://github.com/babel/babel-preset-env/issues/9#issuecomment-252933756
Originally created by @shubheksha on *Tue, 11 Oct 2016 14:30:18 GMT*

---
I'll work on this!

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-250731029
Originally created by @hzoo on *Fri, 30 Sep 2016 12:22:37 GMT*

---
The first release is out, it should definitely be at least usable. @tinovyatkin are you sure you are on the latest version of babel (babel-core)

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-250859216
Originally created by @hzoo on *Fri, 30 Sep 2016 21:42:08 GMT*

---
Ok it was supposed to be an export default - fixed in https://github.com/babel/babel-preset-env/commit/fa53e8389ee4f5df275b378da6336a28c62e8c40 (0.0.2)

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-250654348
Originally created by @milesj on *Fri, 30 Sep 2016 04:11:21 GMT*

---
I don't believe this package is actually done. Is there a reason you're trying to use it?

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-302934383
Originally created by @pragmader on *Sun, 21 May 2017 12:41:47 GMT*

---
My build started failing today because of the same issue.

[code]

The code that uses the plugin is here https://github.com/catberry/catberry/blob/9.0.0/lib/builders/BrowserBundleBuilder.js#L367-L396

Was working the day before, I ha

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-250847825
Originally created by @hzoo on *Fri, 30 Sep 2016 20:44:52 GMT*

---
Actually this is probably from the regression from 6.16 (it was working fine before). I think https://github.com/babel/babel/pull/4620 should fix it

[2017-10-05 23:53] hzoo commented on #6434
---

Migrated from https://github.com/babel/babel-preset-env/issues/10#issuecomment-250832125
Originally created by @tinovyatkin on *Fri, 30 Sep 2016 19:29:03 GMT*

---
Yes, babel-core is 6.16

[2017-10-05 23:56] #6432 closed

[2017-10-05 23:56] #6433 closed

[2017-10-05 23:56] #6434 closed

[2017-10-06 02:26] #6386 closed

[2017-10-06 05:43] loganfsmyth opened #6437 "Figure out an approach to NodePath 'hub' object tracking with better cache behavior"
I recently realized we've got bug with our invalidation logic for NodePath that can cause some real weirdness. Here it is [on ASTExplorer](http://astexplorer.net/#/gist/232f9956e84a89d90fd02b013071778a/797e7d58601ed6327610784494f19bb18197a9f5) and here:

[code]
will print `undefined` for `hub` even through `p2.hub` is the `Hub` class instance.

Which is surprising because in https://github.com/bab

[2017-10-06 06:14] nicolo-ribaudo commented on #6437
Would making `hub` a getter be too expensive? e.g.
[code]

[2017-10-07 13:10] galenjiang commented on #6392
@hzoo Does this preset only remove type syntax, but it does not run a ts language server for type checking?

[2017-10-07 14:28] TrySound commented on #6392
@galenjiang Yes. This is the only reason for new tool.

[2017-10-07 14:28] hzoo commented on #6392
It works the same as `babel-preset-flow`. You still need to run flow/ts separately.

[2017-10-07 21:04] qm3ster opened #6441 "Import transform not listed in REPL Debug output"
This is a bug report

### Input Code
[REPL Link](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=true&code_lz=JYWwDg9gTgLgBAbwIIF84DMoRHA5AOgHoBDfAKwGdcg&debug=true&circleciRepo=&evaluate=true&lineWrap=true&presets=env&targets=&version=6.26.0
)
[code]

### Babel Configuration (.babelrc, package.json, cli command)

**Enable "Debug" checkbox (currently not serialized in link)**

Def

[2017-10-08 02:06] Always-Sunny opened #6443 "babel-core not recognizing jpg (or other image) imports"
When trying to import a photo:

`import img from '../public/photo.jpg';`

babel-core throws this error:

I made a bare-minimum app to reproduce this error, as it was occurring in a another app I was working on. To reproduce, clone: https://github.com/Always-Sunny/bare-minimum/tree/fileloader and npm start.

Node 8.6.0
file-loader: 1.1.5
webpack 3.6
babe-core 6.26.0

[2017-10-08 02:20] loganfsmyth commented on #6443
This isn't a Babel issue really. Your code is loading a JPEG, and Node doesn't know what you want it to do. For browser-side, you've configured Webpack to handle images, but Node can't handle it.

What is it you'd expect your Node code to do for your images? I don't know off the top of my head what a normal approach here would be, but this probably isn't the place to have that conversation.

[2017-10-08 02:20] #6443 closed

[2017-10-08 03:34] Always-Sunny commented on #6443
But the error is being thrown from inside babel-node? I'm using express to serve static files, and I've already posted an issue in file-loader's repo. Don't know where else to address this issue. (I have a stack exchange going too). Any advice on where else to go or what else to do?

[2017-10-08 04:19] loganfsmyth commented on #6443
Yes, but you'd also get the same error in Node without `babel-node`. Babel doesn't know what it should do with a JPEG and neither does Node.

That may be where this misunderstanding is coming from? Your code isn't serving static files at all. You are explicitly importing the image in your JS code. That means webpack itself will include the binary content if the image inside your final JS file. Thi

[2017-10-08 04:36] antonio-gomez commented on #4097
Hey @DanielSWolf I was wondering if you were able to find a walk around to this issue or we still waiting for a PR to be merged avoiding `Object.defineProperty` to be present at the transpiled output.

[2017-10-08 14:23] existentialism commented on #6441
@babel-bot move to babel/website

[2017-10-08 15:09] Kreha6 opened #6444 "file compiled with babel-cli throws an error"
I'm compiling my client side using webpack with env, stage-0 and react presets. It was working just fine but now I started working on server-side rendering, so I had to use some es6 and jsx syntax in my server file. I'm compiling it using exact same presets as in webpack, but after running compiled file it throws me an error in one of client files that are being imported inside server file. Here i

[2017-10-08 15:18] loganfsmyth commented on #6444
I responded here https://stackoverflow.com/questions/46632151/file-compiled-using-babel-cli-throws-an-error/46632702#46632702

[2017-10-08 15:18] #6444 closed

[2017-10-08 17:44] natew opened #6445 "CLI: Option to skip file output if the same file already exists"
Consider this a small feature request, or perhaps even something solvable in shell (though I know not how).

Basically, when doing an `--out-dir` with the CLI, it would be helpful to have a flag `--skip-write-if-same`. Reason being, if you have watchers running like webpack, it will get pretty frustrated by all the file writes as you run watchers.

I figure a PR wouldn't be too tricky to do, so if

[2017-10-09 00:10] trusktr opened #6446 "Calling super methods doesn't always work, if method is missing in the proto chain."
Unfortunately, this [simple example](http://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAECC0G8BQ1rAPYDsIBcBOArsDungBQCUiKq0OAFgJYQB0jmjOlNAvje50rVaaLBHQgApixDoA5mQDksNhxyKKvJHyShIMAELRJADxyTMAExjxkOvVGgBhY2YvXoR5KgFcq32ggCAAdJPFVBTREMbAlpWQVFJwj1KOg-HUxJAHdnIA&debug=false&circleciRepo=&evaluate=true&lineWrap=true&presets=es2015%2Creact%2Cstage-2&targets=&version=

[2017-10-09 01:14] loganfsmyth commented on #6446
If we don't have a repro case I definitely can't see us keeping this open, so that'd definitely critical to get.

[2017-10-09 04:32] wcjohnson opened #6447 "Babylon (6 and 7): Flow typecast parsing bug"
Choose one: is this a bug report or feature request? Bug report.

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
Babylon with `flow` plugin enabled. Appears to affect both Babylon 6 and 7.

### Expected Behavior
Both the Flow docs (https://flow.org/en/docs/types/casting/) and the Flow parser flag this as a parse error.
The Flow parser says `Unexpected token :`

[2017-10-09 04:43] loganfsmyth commented on #6447
This appears to be a duplicate of https://github.com/babel/babylon/issues/413

[2017-10-09 04:43] #6447 closed

[2017-10-09 05:28] Jamesernator opened #6448 "Async Generator spec changes"
Basically the specification for async generators [changed back in May](https://github.com/tc39/tc39-notes/blob/master/es8/2017-05/may-25.md#15iva-revisiting-async-generator-yield-behavior) to make `yield` in async generators essentially equivalent to `yield await`, currently Babel still unwraps like in the old proposal.

Chrome and Firefox already have plans to ship, and Safari is hoping to ship s

[2017-10-09 05:48] xtuc commented on #6445
I think this should actually be the default. There is no reason to re-compile if the source file hasn't changed but there might be a few edge cases I don't have in mind currently.

[2017-10-09 05:49] xtuc commented on #6441
Since it has been moved https://github.com/babel/website/issues/1412, i'm going to close this. Thanks @existentialism

[2017-10-09 05:49] #6441 closed

[2017-10-09 10:10] Andarist commented on #6448
Thanks for reporting the issue, I will look into fixing this.

[2017-10-09 14:22] loganfsmyth commented on #6445
Interesting idea, I guess that would be relatively easily to do. I'm up for accepting a PR for this I think.

@xtuc I don't think we can avoid recompiling at the moment since we can't easily know if something changed, but we can definitely recompile and then just skip writing to disk if the content is already there.

[2017-10-09 14:25] hzoo commented on #6445
The edge case is that the source is the same, but you changed your babelrc/node_modules and babel version(s) unless this is only during "watch"?

[2017-10-09 14:30] xtuc commented on #6445
Sorry, I wasn't clear, I meant to avoid Babel writing a file with the same content which triggers a build in some watcher.

On the other hand we could store hashes to detect if a file has changed in Babel's input.

[2017-10-09 14:32] loganfsmyth commented on #6445
Yeah, storing hashes and such is where things start getting complicated. I have idea for that hopefully for 7.x, but it seems beyond the scope of what this is asking for.

[2017-10-09 14:42] xtuc commented on #6445
Yes, but as @hzoo said, a checksum of the content of the file in input won't suffice, it's not that easy.

About the output, it's simpler. I would compare the emited string from Babel with the current content of the file before writing in it.

[2017-10-09 14:57] loganfsmyth commented on #6445
Agreed.

[2017-10-09 15:21] DrewML opened #6449 "Add new pragma to transform-es2015-modules"
![image](https://user-images.githubusercontent.com/5233399/31345486-820f56e2-acdb-11e7-8fa8-10a458658a5a.png)

**Open Question**: Should we make this default behavior, or put it behind a flag? If it is indeed on its way to being a part of node core, it makes sense to just make it default to `on`.

[2017-10-09 15:40] perekrestov-igor commented on #3083
[code]

[2017-10-09 17:03] pbadenski opened #6450 "babel-preset-typescript doesn't work with object casts"
This is a bug.

# Current behaviour

For all following (valid) TypeScript babel-typescript-preset throws an error: ```Unexpected token, expected }```.

# Input Code
[code]

[code]

[code]

# Babel configuration (.babelrc, package.json, cli command)

```babel --extensions '.ts' --presets typescript```

### Your Environment

| software         | version(s)
| ---------------- | -------
| Babel

[2017-10-09 17:04] keithamus commented on #6385
Yeah now I think you're right - but I think it should first be resolved in https://github.com/tc39/proposal-do-expressions/issues/6.

[2017-10-09 17:55] hzoo commented on #6450
@andy-ms was this meant to be supported or is that new?

[2017-10-09 18:21] bmeck commented on #6449
You should be able to validate stuff against https://github.com/bmeck/node/tree/named-export-core , but I need time to cleanup/write tests/write docs.

[2017-10-09 20:54] trusktr commented on #6446
@loganfsmyth I've got the tab open, will post a repro soon!

[2017-10-09 22:28] chrisdothtml commented on #6431
Not sure what the status of this effort is, but this is definitely a big problem when using babel with webpack. For example, if I have 6 files that get transformed to replace `Object.assign` with the `_extends` polyfill, all 6 of those files will have the polyfill in them.

This is the perfect opportunity for a complimentary webpack babel **plugin** that has access to the webpack babel **loader**

[2017-10-09 23:00] pmunin opened #6453 "Uncaught TypeError: Constructor Map requires 'new'."
## Bug

### Input Code

Here is link  to [babel playground](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAECyCeswAdoFMAeAXNA7AJjEqgN4BQ0l0wA9rhFgE4CuwWNjAFAJTTlUDoEZsjRduAbgpUAvtMo4GPPvMGM0WZo1zQARAAkwIEDWgB3DiHy6pAuXIBuYRtAC2iFNAC80XGjNwHsg8UrT0NCBoAHQmAOac7sTQAJb0WGC4wGg0AGaBxJJkYRAR0XEJQVGKWDyFAPR1AMRCNFpZxMipsQCqAEoAMl7E3bjJdFEAVhBRrihAA&debug=false&ci

[2017-10-09 23:01] Andarist commented on #6431
@chrisdothtml you can brainstorm with others in the new open thread about this - https://github.com/babel/babel/issues/6328

[2017-10-09 23:44] babel-bot opened #6671 "Add sourceType 'function'"
We have snippets of JS supplied by content creators that should run inside a function and which we pass into new Function(transform(code)), but babel will only let us parse starting at either a top level file or module instead of inside a function. This manifests in an error about return statements which we can suppress, but that's not really what we want since we want it to parse based on the rul

[2017-10-10 04:51] #6376 closed

[2017-10-10 11:42] tenbits opened #6456 "(transform-es2015-function-name) Scripts root function variable is renamed"
Hello Team,

initially I got the issue with `es2015` preset, but lately I have narrowed it to the `function-name` plugin.  Consider this setup:
[code]
[code]

The source file is expected to be transpiled as a script, so that `obj_clone` method is available in scripts scope, but the plugin, or babel internals, renames the variable `obj_clone` to `_obj_clone` and the output is:
[code]

This behaviou

[2017-10-10 11:55] Andarist commented on #6456
Could u write down ur expected result for your example and justify ur reasoning? I think the behaviour is quite good, because it:
- acts as with [inferred function names](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name#Inferred_function_names)
- allows u to use correct identifier from the outer scope, consider similar input:
[code]
if babel would not

[2017-10-10 11:58] Andarist commented on #6456
If the behaviour of inferred function names is one u don't rely upon, you can always switch to using recommended `babel-preset-env` and leverage its [`exclude option`](https://github.com/babel/babel/tree/fcdfc61bdbf8898c9cf872fa4f615bddd4cd3548/experimental/babel-preset-env#exclude) to "ban" `function-name` plugin

[2017-10-10 12:38] loganfsmyth commented on #6456
Generally Babel assumes that each file it processes is a module (ES6 or CommonJS), rather than a general script, so renaming things like that is safe in that context because variables declared at the top level of the file are module-scoped, not global.

This behavior definitely happen with function-name like you've described, but there may be other cases that will make it happen too.

I'd recommen

[2017-10-10 13:16] tenbits commented on #6456
@Andarist The expected behaviour is such when the root variable name is not renamed.
[code]

Root variable `obj_clone` should be `obj_clone` after transpiling.

@loganfsmyth Does `"sourceType": "script",` in options has no influence on source type?

Actually I don`t want it to be global, it should be in the root scope of the script, and how and where the script is executed is beyond the topic.

Is

[2017-10-10 13:25] Andarist commented on #6456
@tenbits you have not used `transform-es2015-function-name` semantics in ur expected output. I believe the output **is** exactly what you have proposed **when** not using the mentioned plugin. The real question was - what is expected output when **using** `transform-es2015-function-name`?

[2017-10-10 13:28] loganfsmyth commented on #6456
Not in this case. `sourceType` controls parsing of content based on JavaScript's parsing targets, but CommonJS modules are also really `script`s. Babel essentially assumes you're always in a module separately.

That comment was based on

So we're on the same page, there is no "scripts scope". Variables declared in the root scope of a non-modular script are globals. If `obj_clone` isn't global or i

[2017-10-10 13:54] tenbits commented on #6456
@Andarist ups, sorry, it was the source, the expected output would be:
[code]
And as I have already mentioned right now
[code]
var obj_clone = function obj_clone() {
	obj_clone();
};
[code]

[2017-10-10 14:14] loganfsmyth commented on #6456
[code]

The reason that isn't done, which I admit isn't strictly necessary in this case, is that if the code was something like
[code]
then
[code]
would behave differently, because now the reassigned function doesn't apply to the recursive call.

Again though, it would dramatically help the readability of your code to explicitly create a global, which would avoid this issue entirely. e.g.

[code]

[2017-10-10 14:17] loganfsmyth commented on #6456
I'll also add that doing
[code]
is only possible if we can statically ensure that the variable is _never_ reassigned, which is impossible if the file is executed as a standard browser script since things in other files could reassign it. And if it _isn't_ global, then the output we already give doesn't have any external sideeffects.

[2017-10-10 14:26] loganfsmyth commented on #6456
Also I should be clearer, I'm not trying to argue against having a general flag for distinguishing real language-level scripts from CommonJS modules. In fact I've raised the issue before out of concern for top-level variable mangling for `babel-minify`. It is just that we don't have that now, so I'm trying to illustrate why things behave the way they do at this moment. It's also unlikely something

[2017-10-10 14:34] tenbits commented on #6456
Yes, the re-assigment at runtime within the recursive loop itself is the only one edge case. But even with the renaming: Why should the **variable** be renamed and not the new **function** name should be different? The output would be then:
[code]

Thanks, @loganfsmyth, but the workaround is not possible in my case, as the script is executed not in the global scope, therefor the variable is not gl

[2017-10-10 14:39] loganfsmyth commented on #6456
Because we're trying to make the code as spec-compliant as possible, and the spec doesn't add underscores to the start of the function name.

If we had a flag to say files were scripts and not modules, then I think that'd be reasonable behavior to opt into, but we're trying to make our defaults as spec-compliant as we can.

Ah okay. How are you executing it exactly? Perhaps there are other alterna

[2017-10-10 14:39] CharlieGreenman commented on #4177
I should mention that I think there is merit with having sourcemaps compiled using eval. There is a work around with webpack. If there is a way we can figure out how to do that with babel cli, that would solve issue for most: https://stackoverflow.com/questions/46669432/using-the-webpack-eval-devtool-option-with-babel-cli

Users can then migrate from babel over to webpack. Giving more space for th

[2017-10-10 15:02] loganfsmyth commented on #4177
@CharlieGreenman If something works with eval but not normal sourcemaps, then that's just a Webpack bug, because either way Babel is generating the exact same sourcemap.

[2017-10-10 15:07] CharlieGreenman commented on #4177
@loganfsmyth just to clarify. This is an issue using the babel cli `--source-maps inline` / `--source-maps` option. Suggestion was to borrow from solution that works with webpack, wherein sourcemaps are compiled using eval. Trying to apply that solution for babel cli without webpack.

[2017-10-10 15:59] loganfsmyth commented on #4177
@CharlieGreenman This issue is about Babel in general failing to create accurate sourcemaps in some cases. Whether a sourcemap is inlined with `eval` or put into a file is irrelevant, it is still the identical sourcemap content. The only reason Webpack has the `eval` mode is because it makes incremental compilation faster, it does not change the meaning of any sourcemap content.

[2017-10-10 16:00] tenbits commented on #6456
@loganfsmyth Which spec doesn't allow underscores in function names?

As a workaround I have just added the name of the function manually, so that it is not anonymous anymore.  Now the function name and the variable name stay intact.

[2017-10-10 16:07] loganfsmyth commented on #6456
The goal of `transform-es2015-function-name` is to cover the following ES6 behavior:

[code]
so if we rewrote it to

[code]
the result of that changes.

[2017-10-10 16:10] EdmundsEcho commented on #4066
The documentation at the following URL (https://babeljs.io/docs/usage/cli/) repeats everything that was discussed here.  The reader is instructed to install locally, but then given the global command.  Only in this post did I learn I could use `(npm bin)/babel` to tap into npm's scope to run babel locally.  It might be worthwhile to update the page to include two versions of the instructions: one

[2017-10-10 16:16] loganfsmyth commented on #4066
I'll reopen this since it seems like a fair criticism that we can improve on.

[2017-10-10 16:21] EdmundsEcho commented on #4066
Thank you!

[2017-10-10 17:39] tkshnwesper commented on #5873
Happens when async/await is used incorrectly.

[2017-10-10 17:48] EirikBirkeland commented on #5873
I have left the office for the day. I will get back to you tomorrow.

[2017-10-10 18:27] andy-ms commented on #6450
Hm, this is working fine for me. Clone https://github.com/andy-ms/babel-typescript-sample and run `npm run transpile` and it works.

[2017-10-10 20:19] tenbits commented on #6456
@loganfsmyth Thanks again for the clarification.  It is really sad that babel doesn't aim to support "script" modules, and that "function-name" plugin has higher priority. Though it seems, it doesn't always support it.

<table>
<tr><td>Source</td><td>Output</td></tr>
<tr>
<td><pre lang="js">
var foo = function () {
    foo();
};
foo = function(){}
console.log(foo.name)
</pre></td>
<td><pre lang="j

[2017-10-10 20:19] #6456 closed

[2017-10-10 20:23] loganfsmyth commented on #6456
Fair enough. Like I said, if you expand on your usecase it's still entirely possible we can give you suggestions. Running Babel on general scripts just isn't very common. You may very well be able to get your code to work with the addition of a custom plugin or something, but we can't say if we don't know your usecase.

[2017-10-11 00:46] TrejGun opened #6458 "BindExpression changed behavior between beta.0 and beta.2"
bug report

transform-decorators-legacy is somehow broken in latest version and doesn't refer imported objects properly

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Possible Solution

[code]

### Context

### Your Environment

| software         | version(s)
| ---------------- | ----

[2017-10-11 01:10] CharlieGreenman commented on #4177
@loganfsmyth you are right. That being said, I would like to make the following suggestion. How about we offer an eval option for the babel cli?

[2017-10-11 09:59] Andarist commented on #6456
@loganfsmyth well, the use case got mentioned - he runs this script as part of some larger script, so probably other part needs to know the identifier beforehand, because the 2 scripts get concatenated

Anyway the behaviour could get polished I think because as you have mentioned the renaming in the given example was not necessary. Also the [latest code example](https://github.com/babel/babel/issu

[2017-10-11 12:50] babel-bot opened #6670 "Unable to parse a class get method with a decorator"
The error is thrown when the jsdoc lib is trying to parse a class with get method which has a decorator.
### Input Code

[code]

### Babylon/Babel Configuration
used by the jsdoc lib

[code]

### Expected Behavior
Should (?) parse a get method with decorator similar to a normal instance method.

### Current Behavior
Parser throws `ERROR: Unable to parse <file-path>: Stage 2 decorators may only be

[2017-10-11 12:56] no23reason opened #6459 ".babelrc gets overwritten on install"
Bug report.

My existing `.babelrc` file gets overwritten if I do a fresh install.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
Original `.babelrc`:
[code]
Replaced by:
[code]

Relevant part of the `package.json`:

[code]

### Expected Behavior
`.babelrc` is left alone.

### Current Behavior
`.babelrc` gets overwritten.

### Your Environment

This bug is m

[2017-10-11 13:28] a-x- opened #6460 "optional-chaining does not work in babel@6 with webpack(3)"
**bug report**

either
babel-plugin-transform-optional-chaining@6 and babel-plugin-syntax-optional-chaining@6 don't work with babel@6 and webpack@3 (also, why two plugins are there?)

webpack uses my .babelrc (I tried to remove `.babelrc` and errors did change)
I tried place .babelrc content into webpack.config.js
I tried run development build.

### Input Code
[code]

### Babel Configuration (.bab

[2017-10-11 13:33] a-x- opened #6461 "babel@7 does not work with latest env"
**bug report**

babel@7 does not work when object-rest-spread, destructuring, parameters, shorthand-properties es-features used with latest env (last 1 Chrome version) and "useBuiltIns": false,

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
<details><summary>.babelrc</summary>

[code]
</details>

### Expected Behavior

### Current Behavior

### Possible Solu

[2017-10-11 13:43] existentialism commented on #6461
@a-x- what error are you getting?

And just to check, do all your versions match?

I just tried it (with success) using:

[code]

[2017-10-11 14:00] existentialism commented on #6460
@a-x greetings!

`babel-plugin-transform-optional-chaining` was added in 7.x, so it won't work with Babel@6. Also, you don't need both the transform and the syntax plugin, as using the transform automatically enables the syntax.

Also, not sure if it's just a copypasta issue, but the .babelrc you included above doesn't actually have it listed in `plugins`.

[2017-10-11 16:00] a-x- commented on #6460
Thank you for clarification about syntax-optional-chaining vs transform-optional-chaining

I tried each single plugin of them.

[2017-10-11 16:01] a-x- commented on #6460
I should issue it to babel-loader may be, because babel understand optional-chaining, but webpack with babel does not

[2017-10-11 16:10] a-x- commented on #6461
Thank you so much for development option!

I use exactly matched versions.

I got now, that it works with babel, but do not do with webpack+babel

[2017-10-11 16:11] a-x- commented on #6461
e.g.:

[code]

[2017-10-11 16:22] a-x- commented on #6461
Thank you for *development* option!

I use exactly matched versions.

I have got right now, that babel works good, but webpack+babel don't.

[code]

[2017-10-11 16:27] existentialism commented on #6461
What's the `test` in your babel-loader config look like?

[2017-10-11 17:09] hzoo commented on #6459
There isn't anything in Babel that changes your babelrc config file.

 "babel-env": "^2.4.1", - this is not an officially supported module (not really sure what it does other than what you described). I would not use this? I believe you mean't to install `babel-preset-env` (and maybe that's why we need `@babel/` to show what is official or not

[2017-10-11 17:09] #6459 closed

[2017-10-11 17:13] hzoo commented on #6460
Going to close because optional chaining shouldn't work with v7

[2017-10-11 17:13] #6460 closed

[2017-10-11 17:58] no23reason commented on #6459
Thank you @hzoo, that really was the issue, I missed the `preset` part. My bad, thanks again for your advice.

[2017-10-11 18:03] hzoo commented on #6459
all good @no23reason! Hopefully scoped packages in v7 will prevent this kind of thing in the future 🙂

[2017-10-11 18:09] a-x- commented on #6461
`/jsx?$/`

[2017-10-11 21:24] DrewML opened #6464 "Unexpected completion value using `insertAfter` in nested JSXElement"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
Custom Plugin

[code]

### Expected Behavior

Expected the `div` `JSXElement` to be inserted within the parent `JSXElement`'s `children` array, after the currently visited node.

[code]

### Current Behavior

An assignment expression + sequence expression is injected, which changes the completion value and loses

[2017-10-11 22:59] tleunen opened #6465 "babel@7/preset-env@2: Destructuring assignment fails when modules 'commonjs'"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
This should be compiled into:
[code]

### Current Behavior
[code]
This results in an error: `ReferenceError: MESSAGE_TYPE is not defined` because `MESSAGE_TYPE` only exists on `_message`. (See line with `AGENT`)

### Your Environment

| software         | version(s)
| ---------------

[2017-10-11 23:17] existentialism commented on #6465
Think this is due to plugin ordering in preset-env =/

I'll push a fix.

[2017-10-11 23:53] Andarist commented on #6465
I'm pretty sure that this got fixed by https://github.com/babel/babel/pull/6374

[2017-10-12 00:03] existentialism commented on #6465
@Andarist oh derp, that's right 👍

[2017-10-12 00:04] existentialism commented on #6465
@tleunen closing this, as this will be fixed in beta.3 (shipping soon!)

[2017-10-12 00:04] #6465 closed

[2017-10-12 12:11] Qantas94Heavy commented on #6241
This should be fixed by #6337 -- you can check this in the REPL here: https://babeljs.io/repl/build/5096

[2017-10-12 15:09] jneuendorf opened #6468 "Re-exports hoisted above imports"
I have encountered something that's very likely a bug.
In the same module, the transpiled code for `export ... from ...` appears before the transpiled code for `import ...` in the output.
This scenario has already been asked [here](http://discuss.babeljs.io/t/re-exports-hoisted-above-imports/773) - unfortunately without an answer.
I think this is a bug because the 2 following snippets should be eq

[2017-10-12 18:43] jasonkarns opened #6469 "Improve .babelrc filename per dotfile conventions and with filename extension"
Feature request:

Two concerns with the current `.babelrc` filename:

1. The leading dot violates the long-standing convention that dotfiles are intended to be hidden. They are intended to be hidden because they are _user specific preferences_. As such they would typically remain local to a machine, and not be committed to version control. Babel's configuration file is none of these. It _should_ b