[2017-01-17 19:46] bmeurer commented on #4615
Yes, V8 recognizes `!function` as IIFE since [crrev.com/2509143003](https://codereview.chromium.org/2509143003), as described in the relevant tracking bug [crbug.com/v8/5643](https://bugs.chromium.org/p/v8/issues/detail?id=5643), so by now it hit Chrome stable, and there shouldn't be any need to wrap `!function` into parens (as far as V8 is concerned).

[2017-01-17 20:14] xtuc commented on #5145
Looking at the source code this is wanted [babylon/src/parser/expression.js](https://github.com/babel/babylon/blob/b918554d73ed20c847068243edf99d19ca146dbe/src/parser/expression.js#L53)

Could you please tell us what's the reason behind that? Can you reference a specification? I don't have much context there, sorry.

[2017-01-17 20:24] gsathya commented on #5145
https://tc39.github.io/ecma262/#sec-__proto__-property-names-in-object-initializers

[2017-01-17 20:32] existentialism commented on #5145
@babel-bot move to babel/babylon

[2017-01-17 20:32] babel-bot opened #6705 "should allow duplicate __proto__ keys in patterns"
Original issue submitted by @gsathya in https://github.com/babel/babel/issues/5145

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

presets - latest

### Expected Behavior
No error

### Current Behavior
Error: `Redefinition of __proto__ property`

### Possible Solution

### Context

### Your Environment

| software         | version
| ---------------- | -----

[2017-01-17 20:55] #5145 closed

[2017-01-17 22:27] danez commented on #5095
I just checked the transpiled code of the repl in node 6 and was not able to reproduce. The Error was thrown as expected.

Though it seems the repl is somehow misbehaving here and not evaluating the code correctly.

[2017-01-17 22:31] danez commented on #5095
Oh I found the issue, it seems the repl is catching the Error and printing it. But as in the example the Error has no msg nothing is printed.

[2017-01-17 22:42] hzoo commented on #5095
https://github.com/babel/babel/blob/672adba9a14aa3b4d4676ef6b8699616d2062a55/packages/babel-helpers/src/helpers.js#L430-L440 - doesn't handle getters

[2017-01-18 02:57] gsathya commented on #4987
@littledan can our test262 test infra be used by babel or is it tightly coupled with our CI?

[2017-01-18 03:01] hzoo commented on #4987
I know there's https://github.com/bakkot/test262-web-runner and https://github.com/bterlson/test262-harness too but haven't looked into it that much

[2017-01-18 08:47] danez commented on #5095
I think it does.

[code]

This code is printing
[code]

[2017-01-18 10:37] slorber commented on #5149
Mentionning some people that might be able to contribute: @thejameskyle @hzoo @kittens @STRML @appden @spicyj @DrewML @Timer @koba04

[2017-01-18 10:51] littledan commented on #4987
@gsathya It would take some infrastructure work to hook everything up. I'm not sure what you'd get out of V8's infrastructure. I'd recommend starting with either the web runner or the official Node-based command-line runner.

[2017-01-18 11:23] danez commented on #5149
Please don't ping random people, that won't make the resolution of the problem faster.

[2017-01-18 11:34] slorber commented on #5149
@danez these are not random people but people that previously contributed to this plugin or had discussed useful informations about it. About issue resolution I'm pinging people to know the right thing to do, and will likely make a PR if I am able to, based on feedback of pinged people.

[2017-01-18 12:39] basickarl opened #5152 "Bug: instanceof"
http://stackoverflow.com/questions/41719162/instanceof-custom-error-class-returning-false
http://codepen.io/anon/pen/RKKwJJ?editors=0011

Turning off babel support on codepen fixes it. This also affects my local node js installation so it's not related to codepen but babel.

### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
I was exp

[2017-01-18 12:41] basickarl commented on #5152
It's a transpiler limitation. As stated in the SO comments.

[2017-01-18 12:41] #5152 closed

[2017-01-18 13:50] chicoxyzzy commented on #4987
I didn't see this issue earlier. I <3 the idea and will be happy to help if I can.

Also we can add https://github.com/babel/babel-preset-env/issues/117 to discussions in first message

[2017-01-18 14:10] ggilberth commented on #5139
@4rlekin - Are you still working on this?

[2017-01-18 14:26] 4rlekin commented on #5139
I am, unfortunately didn't had much time to spend on it yet. I should report some progres in the next 12 hours i guess.

[2017-01-18 15:33] STRML commented on #5149
Thanks @slorber, will take a look at this; seems like another issue with Hoister bindings.

[2017-01-18 16:29] marckaraujo commented on #2683
Use this https://www.npmjs.com/package/babel-plugin-module-resolver

[2017-01-18 16:56] STRML commented on #5149
Can confirm the following erroneous output:

[code]

Note `Child`'s use in `_ref` before declaration.

[2017-01-18 16:58] STRML commented on #5149
This seems related to https://github.com/babel/babel/pull/3596, which prevented from hoisting to scopes where a binding hasn't been evaluated yet, but it did not seem to be able to handle situations where Program scope is all we have and we just need to reorder.

[2017-01-18 16:58] gsathya commented on #4987
Mostly the harness -- ability to skip tests + cli

[2017-01-18 17:01] gsathya commented on #5095
The getter should not be copied over. `{ "a" : 1 }` is correct.

[2017-01-18 23:49] echenley opened #5155 "[babel-plugin-syntax-flow] Bug with Webpack 2.2.0-rc.4 and later"
I believe there is some incompatibility between this plugin and webpack 2.2.0 starting at 2.2.0-rc.4. 2.2.0-rc.3 works as expected. With later versions, Webpack is able to bundle the code, but my app doesn't render and I receive the following runtime error.

![screen shot 2017-01-18 at 5 36 03 pm](https://cloud.githubusercontent.com/assets/6344219/22087690/fd8274fa-dda4-11e6-8b86-47ba8cd6c795.png)

[2017-01-19 00:16] hzoo commented on #5155
This is odd because since they are types they should all the stripped out via `"transform-flow-strip-types"` and not bundled at all?

[2017-01-19 00:31] littledan commented on #4987
@gsathya I think V8's infrastructure for this is a bit heavy for this purpose. It would probably be simpler to rebuild something different than use that.

[2017-01-19 01:23] gkatsev commented on #4799
I'm having a similar issue with sometimes not getting `default` quoted correctly. I made a reduced test case here: https://gist.github.com/gkatsev/d60b19120db3ada5d21a00ba5996f109. If you run babel on `bar.js` and have `typeof "foo";` uncommented, in `_interopRequireDefault`, the return object will have an unquoted `default`, if `typeof` is commented out, `default will be quoted correctly.

[2017-01-19 02:32] #4904 closed

[2017-01-19 09:54] slorber commented on #5149
thanks @STRML that was fast!

Is reordering always possible? I mean there might be cases where people are using cyclic dependencies between the components? I've already done some things like that in my app.

This is a dumb question but what's the easiest way for me to test your PR against my app? It seems npm install does not support installing through git subdirectories and babel is a monorepo

[2017-01-19 10:43] 4rlekin commented on #5118
So what's the status here ? I'd be willing to help with that.

[2017-01-19 11:41] xtuc commented on #5086
Yes, good analyze :+1:

Your recommendation makes sense.

[2017-01-19 13:34] STRML commented on #5149
You'd have to check out and build the whole project then copy the package
out.

If you have any patterns you think would break this, could you please post
them so I can get them in the test suite?

On Jan 19, 2017 3:54 AM, "Sébastien Lorber" <notifications@github.com>
wrote:

[2017-01-19 16:16] boopathi opened #5156 "ClassDeclaration has bindings in two scopes"
ClassDeclarations have bindings in two scopes

1. The scope in which it is declared
2. The class's own scope

While all other bindings belong to only one scope.

### Example:
http://astexplorer.net/#/VstAUrU0JT

Here, you can see class `A` binding appears in the scope where the class is declared and class's own scope. FunctionDeclaration `B` is registered only in the scope where the function is de

[2017-01-19 17:07] echenley commented on #5155
@hzoo I think I might have figured out where the issue lies. Removing https://github.com/brigand/babel-plugin-flow-react-proptypes/issues also resolves the issue. It must have something to do with the output of that plugin when exporting prop types.

[2017-01-19 19:15] aikar commented on #4630
I suggest designing it like post-css's postcss.config.js file.

More use cases: Only running things when certain contexts are set. Changing config options based on environment, or context of the compile.

For example, I have one folder I don't want to enable react-css-modules on. So right now im having to do in webpack
[code]
Since I'm on webpack1, i wanted to try passing a function to the react-c

[2017-01-19 20:08] hzoo commented on #5156
We could do this in 7 if we go with your suggestion?

[2017-01-19 21:05] hzoo commented on #5155
Ok yeah sounds like an issue with that plugin in that case :+1:

[2017-01-19 21:05] #5155 closed

[2017-01-19 21:10] echenley commented on #5155
Thanks! Sorry for the noise.

[2017-01-19 22:53] eisisig commented on #4630
Are there any good reasons a JavaScript library, created to work with JavaScript doesn't want to accept JavaScript as configuration? 😸

[2017-01-19 22:59] hzoo commented on #4630
Because it can make the config more complicated then it needs to be and maybe the interaction of different presets/inherited ones have conflicts. Every new feature has tradeoffs. I think we still to do this but its not just as simple as adding it and hoping nothing else breaks or has issue?

[2017-01-19 23:00] anilanar commented on #4630
Doesn't babel have a node API that allows you to run babel with a "javascript" object?

[2017-01-19 23:04] hzoo commented on #4630
Yeah you can already reference another js file in your .babelrc, or just use babel-core/babel-loader to use javascript atm.

[2017-01-19 23:10] anilanar commented on #4630
Yup, we all know. We just don't understand how come making .babelrc a javascript file that exports the configuration object would be complicated. It seems to me that I can just encapsulate babel-core and provide that feature already.

[2017-01-19 23:21] yavorsky commented on #4630
@anilanar Providing this features is not a big problem. "Complexity" means not hard to implement, but hard to understand for others. Most of the features provided in examples ahead already could be implemented with bundler (like webpack). Moreover, you can already specify environment and use different plugins/presets for dev, prod, test, etc. Imagine your project with 50+ lines babelrc.js + 80+ li

[2017-01-19 23:23] eisisig commented on #4630
@hzoo The problem with in my case was where the file is being resolved from...

[2017-01-19 23:40] eisisig commented on #4630
@yavorsky not everybody is bundling code with babel...

Sacrificing babel power because you don't trust people who use it is not a good enough reason to not support js as config file. But that is just my opinion... I do think babel should have an easy way to be used but also advanced enough for those who want... The nature of babel is advanced. It's touching your code and transforming it to someth

[2017-01-19 23:41] aikar commented on #4630
Considering most other systems comparative to babel support js based configs, i think more would expect it to support it than be confused by it.

It's also not babels place to dictate how "complex" ones config is/should be.

it should support exporting a function too (and even supporting a Promise as webpack2 added also) would be ideal.

promise api allows async retrieval of information in order t

[2017-01-20 01:08] babel-bot opened #6634 "Debug output omitted with 2 .babelrc files"
I have a Node web app where both the server and frontend use Babel. The frontend is served using `webpack-dev-middleware` in development, so I can just launch the app in one command with `babel-node`.

Root level `.babelrc` for server:
[code]

Subdirectory `.babelrc` for frontend:
[code]

When the `debug` option is set to `true` in both files, only the output for the server (Node) one is shown - I

[2017-01-20 01:51] ilionic commented on #5012
Any updates on this one? First was getting it and had to downgrade to `6.20.0` Now getting it again:

[code]

[2017-01-20 02:25] aoc commented on #5012
@ilionic if you rollback a direct dependency it doesn't mean it will rollback its dependencies. For example, If you take a look at `babel-core`'s package.json you'll see it looks for the latest `babel-traverse` 6.x.x version. So even if you go back to `babel-core@6.20.0`, it will get `babel-traverse@6.22.0`.

You can easily check the `babel-traverse` version you're using by looking at `/app/node_m

[2017-01-20 02:31] hzoo commented on #5012
Sorry forgot about this one in the last release, will do a patch.

[2017-01-20 02:36] #5012 closed

[2017-01-20 03:14] hzoo commented on #5012
Ok released `babel-traverse@6.22.1`, `babel-core@6.22.1`, `babel-cli@6.22.1` for folks using npm 2.

[2017-01-20 04:16] mattmull opened #5160 "No compatible version found: babel-runtime@^6.22.0"
I believe the same issue https://github.com/babel/babel/issues/4975 that happened when 6.20 was released is happening again.

### Babel Configuration (.babelrc, package.json, cli command)
I've cleared cache and checked for the version again and still get 6.20.0
[code]

### Expected Behavior
Running `npm i` completes successfully.

### Current Behavior
`npm i` causes:
[code]

### Possible Solution

[2017-01-20 04:19] hzoo commented on #5160
Man that really sucks.

You're using the regular registry right?

`npm view babel-runtime version` >> 6.22.0 for me.

https://unpkg.com/babel-runtime@6.22.0/ is also the latest

Sorry can't help more atm, going to rest

[2017-01-20 04:23] mattmull commented on #5160
Yes, npmjs also shows 6.20.0 as the latest.
<img width="400" alt="screen shot 2017-01-19 at 11 22 24 pm" src="https://cloud.githubusercontent.com/assets/9367752/22135747/306d87de-de9e-11e6-852c-4fbb5e206e9b.png">

[2017-01-20 04:25] existentialism commented on #5160
re: npm website version => https://github.com/babel/babel/issues/4975#issuecomment-266171772

[2017-01-20 04:30] hzoo commented on #5160
It's also 6.22 on https://registry.npmjs.org/babel-runtime/

[2017-01-20 04:42] mattmull commented on #5160
My mistake - I noticed we are using a virtual npmjs repo (we pull/cache npmjs repo for internal use) and that is where the old version is coming from. If I bypass that and go directly to npmjs it resolves as expected.

[2017-01-20 04:42] #5160 closed

[2017-01-20 04:43] existentialism commented on #5160
@mattmull no worries, glad it's resolved!

[2017-01-20 04:44] u9520107 opened #5161 "babel-node error when passing arguments"
### Input Code

When trying to run index.js with arguments, babel-node will error out.

[code]

### Babel Configuration (.babelrc, package.json, cli command)

Config is not invoked as babel-node fails to identify the correct path to index.js
[code]

### Expected Behavior

babel-node runs index.js with "test" in the argument list

### Current Behavior

The following Error is shown:
[code]

### Poss

[2017-01-20 04:51] joscha commented on #5161
we are seeing the same problem where previously this command:

[code]

would work, but now errors with:
[code]

[2017-01-20 05:03] rkirsling commented on #5160
I experienced the same issue in a GitHub Enterprise / NPM Enterprise environment.

Around 5:00 PT today, Greenkeeper starting firing off broken branches like the world was ending:
![](https://cloud.githubusercontent.com/assets/2172590/22136570/18b33260-de8a-11e6-8452-7e936e6ad508.png)
All of the errors were `No compatible version found: babel-...@^6.22.0`.

I was able to experience this behavior l

[2017-01-20 05:17] #5121 closed

[2017-01-20 06:00] #5161 closed

[2017-01-20 06:04] loganfsmyth commented on #5161
Fixed in `babel-cli@6.22.2`, sorry about that and thanks for the bug report.

[2017-01-20 06:42] u9520107 commented on #5161
@loganfsmyth Thanks for the quick fix!

[2017-01-20 06:52] loganfsmyth opened #5163 "Write tests for #5162"
Fixed the code in that case, but we should add a test to make sure it doesn't regress.

- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] [Join our slack](http://slack.babeljs.io/) if you haven't already if you need more immediate help or just comment in this issue/PR
- [ ] write tests fo

[2017-01-20 09:43] #5112 closed

[2017-01-20 09:43] danez commented on #5112
Closed by #5119

[2017-01-20 09:45] cvrptn opened #5166 "No compatible version found: babel-runtime@'>=6.22.0 <7.0.0'"
We've recently been running in the following issue. When running the npm install for our project on our CI (Jenkins) we receive the following error:
No compatible version found: babel-runtime@'>=6.22.0 <7.0.0'

However, when running everything locally, this does seem to work.
Seems like this is the same issue as in https://github.com/babel/babel/issues/4975
When running "npm view babel-runtime ver

[2017-01-20 09:47] danez commented on #5166
Are you using a private proxy repository for npm? If so maybe it caches too much? The version 6.22.0 was successfully released to npm.
http://registry.npmjs.com/babel-runtime

[2017-01-20 09:49] cvrptn commented on #5166
Not that I know of. However, the page at npmjs (https://www.npmjs.com/package/babel-runtime) lists 6.20.0 as the latest released version.

[2017-01-20 09:50] mehtayash commented on #5166
Getting this error too
No compatible version found: babel-code-frame@^6.22.0
npmjs page lists 6.20.0 as latest

[2017-01-20 09:56] danez commented on #5166
The npmjs.com page is heavily cached and it might take some days to refresh.

[2017-01-20 09:56] trusktr opened #5167 "How to not maximize code?"
I have some code (f.e. generated by TypeScript compiler), and when I run it through Babel it comes out prettified and less condensed. How can we prevent this from happening?

[2017-01-20 09:57] trusktr commented on #5167
I suppose I can use babili, but my concern is performance. f.e., will Babel prettify the code, then run it through babili again to minify it, in which case that's an extra step? What's the most performant way?

[2017-01-20 09:58] chicoxyzzy commented on #5167
I think you can use `compact` option http://babeljs.io/docs/core-packages/#options

[2017-01-20 10:11] trusktr commented on #5167
@chicoxyzzy Thanks. At first glance of the output, `babili` preset seems the same as `--compact=true`.

I'm compiling with three steps: typescript -> babel -> webpack. Should I even use the `compact` option or Babili at all? Maybe I should just minify in Webpack?

[2017-01-20 10:15] trusktr commented on #5167
Basically, without compressing anything, the `typescript -> babel` step converts

[code]

to

[code]

I wonder if it could be more performant if it didn't do that. I mean, to just leave the formatting as is and replace inline (but not minify).

[2017-01-20 10:31] cvrptn commented on #5166
Ok, apparently we are using a local proxy that is serving use a stale version of babel-runtime. I'm sorry for the inconvenience. Refreshing its cache will probably fix my issues.

[2017-01-20 10:31] #5166 closed

[2017-01-20 11:01] ilionic commented on #5012
@aoc Yes I am aware of that, and that took quite a bit of time to investigate. I had to explicitly set `    "babel-traverse": "6.20.0"` which fixed the issue for some time.
@hzoo many thanks!

[2017-01-20 11:11] 4rlekin commented on #5163
I could help with that.

I'd just need to now what babel's testing stack looks like (i only have experience with jasmine)

[2017-01-20 12:45] aoc commented on #5012
thanks @hzoo `babel-traverse@6.22.1` fixed it for me (yarn v0.19.1)

[2017-01-20 12:52] hzoo commented on #5118
If you'd like to start looking into this, can go ahead. Might need to do it myself if its too involved but we'll see how it goes for you?

Immediately you should see an error

Basically for that we need to not extend a native built-in? Or I guess we could just not compile classes for that specific fix.

[2017-01-20 13:34] 4rlekin commented on #5118
Ok, so i'll look into that and do my best, but i'll proceed with caution and probably consult a lot.

[2017-01-20 14:44] existentialism commented on #5163
@4rlekin check out [CONTRIBUTING](https://github.com/babel/babel/blob/master/CONTRIBUTING.md#running-lintingtests) for some notes about running tests.

The (existing babel-node tests)[https://github.com/existentialism/babel/tree/master/packages/babel-cli/test/fixtures/babel-node] should serve as a great starting point, especially the (filename)[https://github.com/babel/babel/tree/master/packages/b

[2017-01-20 15:05] hzoo opened #5169 "Only run coverage on 1 build (maybe the latest node)"
There shouldn't need to be a reason for us to run the code coverage for each node version in travis?

Similar to how we do flow/lint checks on a separate build, except in this case we still have to do `make boostrap` and run tests so it makes sense to run it on the latest node.

you will want to check
- https://github.com/babel/babel/blob/master/.travis.yml

[code]

Right now we run `make test-ci`

[2017-01-20 15:12] hzoo commented on #5167
@trusktr not to derail from this discussion (can continue) but we'd like if issues were for bug reports/issues rather than questions or support.

[2017-01-20 15:38] hzoo commented on #5141
Closed via https://github.com/babel/babel/issues/5142

[2017-01-20 15:38] #5141 closed

[2017-01-20 15:38] hzoo commented on #5127
Closed via https://github.com/babel/babel/issues/5131

[2017-01-20 15:38] #5127 closed

[2017-01-20 15:38] hzoo commented on #5120
Closed via https://github.com/babel/babel/issues/5123

[2017-01-20 15:38] #5120 closed

[2017-01-20 15:39] hzoo commented on #5117
Closed via https://github.com/babel/babel/issues/512

[2017-01-20 15:39] #5117 closed

[2017-01-20 15:40] hzoo commented on #4315
Closed via https://github.com/babel/babel/issues/5025, https://github.com/babel/babel/issues/5041 on branch 7.0

🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2017-01-20 15:40] #4315 closed

[2017-01-20 15:40] hzoo commented on #5108
Closed via https://github.com/babel/babel/issues/5124

[2017-01-20 15:40] #5108 closed

[2017-01-20 15:47] hanieel opened #5170 "babel-core 6.22.1 npm ERR! notarget No compatible version found: babel-traverse@^6.22.1"
using Babel-core as a dependency broke as of this morning due to "No compatible version found for babel-traverse@^6.22.1":

15:30:02 npm ERR! notarget Valid install targets:
15:30:02 npm ERR! notarget 6.22.0, 6.21.0, 6.20.0, 6.19.0, 6.18.0, 6.16.0, 6.15.0, 6.14.0, 6.13.0, 6.12.0, 6.11.4, 6.10.4, 6.9.0, 6.8.0, 6.7.6, 6.7.5, 6.7.4, 6.7.3, 6.7.2, 6.7.0, 6.6.5, 6.6.4, 6.6.3, 6.6.2, 6.6.0, 6.5.0, 6.5.0

[2017-01-20 15:50] hzoo commented on #5170
This is usually because of cache if you are using a proxy or different registry than the public npm.

The website is not updated immediately.

`npm view babel-runtime version`
https://unpkg.com/babel-core@6.22.1/
https://registry.npmjs.org/babel-core/

https://github.com/babel/babel/issues/5166
https://github.com/babel/babel/issues/5160

We will continue to investigate this moving forward.

[2017-01-20 16:08] hanieel commented on #5170
Thank you for the quick response, will reach out to our team to speed up cache on our registry.

[2017-01-20 16:25] danrigsby commented on #5170
`npm view babel-runtime version` is now showing 6.20.0 as the latest version as is https://www.npmjs.com/package/babel-runtime.  Did anything greater get unpublished?

[2017-01-20 16:27] hzoo commented on #5170
We don't unpublish anything unless the package is actually broken.

^ I mentioned above that the website is not updated immediantely and is usually out of date even a day later.

Again check that you are on the public registry. https://registry.npmjs.org/babel-runtime/

[code]

[2017-01-20 16:43] jtenner opened #5171 "Scope unchanged after `path.replaceWith` from within `path.traverse`"
I found a fun use case where identifying `ReferencedIdentifier`s within a function context would not update if repeated calls to `path,replaceWith` were used from within a `path.traverse` call.

This problem can be seen and outlined here with this [astexplorer](https://astexplorer.net/#/LwSQgSJ6wf/3) example.

The final replacement will output the reference count to the `A` identifier on the curre

[2017-01-20 17:51] hzoo opened #5172 "[7.0] Setup Yarn"
We dropped [Node 0.10/0.12](https://github.com/babel/babel/issues/4315) so we can use yarn now.

- [ ] read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] check you are on 7.0 branch
- [ ] add yarn.lock
- [ ] check travis logs build with yarn

[2017-01-20 18:15] ChauTNguyen commented on #5172
Hello, can I try this one out?

[2017-01-20 18:16] jimtom2713 opened #5173 "No compatible version found: babel-runtime@^6.22.0"
Attempting to install babel dependencies for my project. The following error is what is presented.

No compatible version found: babel-runtime@^6.22.0

I've seen this issue presented before with the release of babel-runtime 6.20.0.
https://github.com/babel/babel/issues/4975

It appears that the versions were upgrading but they were never published to npm.

A general npm install on our project prod

[2017-01-20 18:20] marcoblos commented on #5170
:1 Waiting for publish 6.22.0 🙏

Thanks.

[2017-01-20 18:22] jimtom2713 commented on #5170
I also had this issue with babel-runtime and I believe they are related.
https://github.com/babel/babel/issues/5173

[2017-01-20 18:24] loganfsmyth commented on #5170
@marcoblos @jimtom2713 Sorry to hear you're both having issues. As mentioned above, it has definitely been published. It may be that you have a local npm package caches at your offices that are causing problems.

[2017-01-20 18:27] hanieel commented on #5170
This is resolved on my end. Cleared nexus repo cache and rebuild and all working again. !!

Sent from my iPhone

[2017-01-20 18:41] marcoblos commented on #5170
@loganfsmyth @hanieel You are right I use Nexus in my organization. Thanks for explanation, the problem is solved.

Just for share:

- Login in Nexus;
- Server administration and configuration
- Repositories
- Npm Registry
- Click on Rebuild Index

Thanks for quickly answer.

[2017-01-20 18:51] xtuc commented on #5172
Yes sure :+1:

[2017-01-20 19:22] frostiebot opened #5176 "copy-files option still compiles files"
The [documentation for copy-files](https://babeljs.io/docs/usage/cli/#babel-copy-files) simply states:

However, looking at the code in [babel-cli/src/babel/dir.js](https://github.com/babel/babel/blob/master/packages/babel-cli/src/babel/dir.js#L36), it appears that a file will only be explicitly copied _if_ it is _not_ compilable _and_ the copy-files option was passed.

### Reproduction Steps
Assu

[2017-01-20 19:32] snowblindroan commented on #5173
bump

[2017-01-20 19:34] hzoo commented on #5173
Should be the same issue as https://github.com/babel/babel/issues/5170 and the others

if you are using non-public npm you'll need to remove cache/update again.

[2017-01-20 19:34] #5173 closed

[2017-01-20 20:51] priyajeet commented on #5170
@marcoblos rebuilding indexes nukes all internal and local npms. Should not be done if people are using their internal repos for internal npms

[2017-01-20 20:53] hzoo commented on #5170
As an update: it looks like the solution for us is to publish all packages to a different `dist-tag` (which we already do: `lerna-temp`) and then wait like a few minutes or even an hour and then switch to `latest` rather than switching over immediately.

[2017-01-20 20:54] priyajeet commented on #5170
Yeah whatever you guys can do to help. This has lately been causing a lot of downstream grief.

[2017-01-20 20:56] hzoo commented on #5170
I think it's always been an issue but I never understood the issue or how to fix it, reached out to npm folks (@bcoe) today.

[2017-01-21 02:14] kangax opened #5178 "`path.getTypeAnnotation()` throws"
Ran into this while fixing some Babili issues.

https://astexplorer.net/#/GbUDVxRZlD

### Input Code

[code]

### Expected Behavior
Should not throw

### Current Behavior
Throws "Invalid typeof value"

This is coming from `inferAnnotationFromBinaryExpression` which somehow produces `null`, passing it to `createTypeAnnotationBasedOnTypeof ` in flow.js which doesn't understand "null" as one of the t

[2017-01-21 03:25] cellog commented on #4953
*every(callback, thisArg = undefined) {
    const cb = thisArg ? callback.bind(thisArg) : callback
    for (let i; i < this.arr.length; i++) {

    }
    return true
  }

I have exactly the same issue.

[2017-01-21 04:33] hzoo commented on #5178
Oh thought it might of had to do with https://github.com/babel/babel/pull/3414 by @amasad but maybe not.

[2017-01-21 07:59] sindresorhus commented on #5091
👍 Feel free to borrow our implementation of this in @avajs: https://github.com/avajs/ava/blob/ad5122d507bfaa044fc3a2e51e467238e16dba11/cli.js#L7-L16

[2017-01-21 13:00] jeffmo commented on #5178
Hmm, AFAIK this isn't related to Flow other than syntax...but I'm not really familiar with this code.

Random guess: Does Babel try to infer types somewhere? If so, maybe it gets confused by the `""` typeof comparison?

[2017-01-21 13:20] #5169 closed

[2017-01-21 14:06] hzoo opened #5184 "[7.0] Remove old babel-runtime code"
We can drop some more backwards-compat stuff in some packages.

- [ ] comment below you are going to do this (for others to know)
- [ ] read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] check you are on 7.0 branch
- [ ] remove old code referencing padLeft/padRight https://github.com/babel/babel/blob/d76092b2ddd86ecaa9df2a23610fd86a34ed379b/packages/babel-runt

[2017-01-21 14:29] #4590 closed

[2017-01-21 14:33] hzoo opened #5185 "[7.0] Drop Node 5"
We dropped Node 0.10/0.12 but 5 is also unmaintained so we should drop it from the travis matrix.

- [ ] comment below you are going to do this (for others to know)
- [ ] read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] check you are on 7.0 branch
- [ ] remove node 5 from travis.yml https://github.com/babel/babel/blob/7.0/.travis.yml

[2017-01-21 14:47] scottarnold commented on #5185
I'll take it!

[2017-01-21 14:57] vkbansal commented on #5184
I'll take it

[2017-01-21 15:01] varemenos commented on #5091
I'd like to work on this

[2017-01-21 15:06] vkbansal commented on #5184
[ ] comment below you are going to do this (for others to know)
 [ ] read CONTRIBUTING.md
 [ ] check you are on 7.0 branch
 [ ] remove old code referencing padLeft/padRight
 [ ] run make test or npm test

[2017-01-21 15:16] hzoo commented on #5185
https://github.com/babel/babel/issues/5186!

[2017-01-21 15:16] #5185 closed

[2017-01-21 17:24] danez opened #5188 "Proposal: Rethink path/node removal"
Inspired by babel/babili#300, babel/babili#375 and #4896 I was thinking how to properly solve all this cases. Here a short introduction to the problem:

Assuming this code:

[code]
Now assuming a transform removes all `a()` calls, and the resulting code gets

[code]

This is not valid js syntax anymore and babel currently throws somewhere after calling `path.remove()` in this case.

Currently we h

[2017-01-21 17:25] #5184 closed

[2017-01-21 20:37] kaicataldo commented on #5118
@4rlekin Please feel free to take this on if you're willing. I have some personal things that I have to attend to at the moment and won't be able to get to this until next week at the earliest.

[2017-01-21 20:50] Jokero commented on #4800
@hzoo ping

[2017-01-22 00:36] hzoo commented on #4800
I'm not sure it might of gotten removed or changed (as a bug) in 6.0. I feel like if you are going to start using plugins + options the best you can do is to create a `.babelrc` or add `"babel": {}` to your package.json for now. You can use `babelrc: false` to make it not inherit or find any other configs.

[2017-01-22 03:56] amirmohsen commented on #4958
I'm having a similar issue. I thought it was a problem with the "babel-react-optimize" package, but now I'm seeing it happen more and more in various situations involving babel and jsx. Here's a link to the issue I had opened on that package: https://github.com/thejameskyle/babel-react-optimize/issues/28

[2017-01-22 09:03] OliverJAsh opened #5190 "Error when using for await with async iterator"
Running this in v6.18.0 with `stage-3` preset…

[code]

… generates this error…

[code]

Possibly related to https://github.com/babel/babel/issues/4639?

[2017-01-22 09:19] OliverJAsh commented on #5190
Fixed by ensuring I require `babel-polyfill` immediately before *any* transpiled code.

[2017-01-22 15:54] jrajav opened #5191 "Default parameter Flow annotations cause parsing error"
Annotating a function type in Flowtype with a default parameter (which looks like `?Type`) seems to cause a parsing error in the current version of Babel, ^6.21. This could be a regression of #2493.

### Input Code

[code]

https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=const%20fn%3A%20(%20Object%2C%20%3FObject%20)%20%3D%3E%20void%20%3D%20

[2017-01-22 16:53] danharper commented on #5191
@babel-bot move to babel/babylon

[2017-01-22 16:53] #5191 closed

[2017-01-22 16:55] danharper commented on #5191
This is a parser bug, so I've moved it to there: https://github.com/babel/babylon/issues/321

[2017-01-23 01:40] boopathi opened #5192 "Missing Parens. Syntax Error after transforming ArrowFn as Callee"
When transforming CallExpression with ArrowFn as the callee to TaggedTemplate, a pair of parens doesn't get outputted.

http://astexplorer.net/#/K2CkvW8FLH

Edit: Also for FunctionExpression

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

which is a SyntaxError.

### Possible Solution

###

[2017-01-23 01:43] loganfsmyth commented on #5192
Definitely a `babel-generator` issue. Reproducible on the REPL with no transforms: https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=&code=%22use%20strict%22%3B%0A%0A(()%20%3D%3E%20%7B%7D)%60%60&experimental=false&loose=false&spec=false&playground=false

[2017-01-23 11:41] boopathi commented on #5188
I think that nullify will have more corner cases that can't be handled safely.

For example,

[code]

It's easier to simply use `replaceWith(getSafeReplacement())` instead of inspecting what `getSafeReplacement` returns. If the Node returned by `getSafeReplacement` needs to be inspected before replacement, then we might as well understand the context around the path to be removed and create that N

[2017-01-23 16:45] #5192 closed

[2017-01-23 16:54] kangax commented on #5178
Yep, AFAICS, Babel tries to infer annotation — https://github.com/babel/babel/blob/master/packages/babel-traverse/src/path/index.js#L38

This suite looks useful and explains things a little — https://github.com/babel/babel/blob/8c35b320d37a957b629e75f59a9f52292cfd6b8e/packages/babel-traverse/test/inference.js#L57-L175

Looks like this is just an inference bug. I'll fix it.

[2017-01-23 18:00] fredbutters commented on #5170
I'm getting a similar error that may be related. I've verified that the `npm-cache` directory is empty after cleaning the cache.
`No compatible version found: babel-preset-es2015@^6.22.0
Valid install targets
6.13.1, 6.13.0, 6.9.0, 6.6.0...`

There is a .cache.json file for this package that references the `dist-tag`. In case this helps:

`{"name":"babel-preset-es2015","dist-tags":{"latest":"6.13.

[2017-01-23 18:03] bcoe commented on #5170
@fredbutters are you using a private npm registry?

`npm config get registry`

[2017-01-23 18:11] jimtom2713 commented on #5170
@fredbutters I was experiencing this issue with all the babel related repos. We are using an internal Nexus repository. The internal registry works for every module we use (so far) except anything having to do with babel. It may have something to do with their tagging system, but we're not really sure. We cleared our cache and rebuilt the internal registry index with no success.
We solved this by

[2017-01-23 18:20] fredbutters commented on #5170
Wow thanks for the quick responses

@bcoe the result of `get registry` returned `http://127.0.0.1:5080` - do I need to change that?

@jimtom2713 thanks for the suggestion. We don't use Nexus that I'm aware of, but we might be able to do something similar to your solution.

[2017-01-23 18:31] existentialism commented on #5170
@fredbutters you might have [local-npm](https://github.com/nolanlawson/local-npm) installed?

Try:
[code]

[2017-01-23 19:06] fredbutters commented on #5170
@existentialism

Yes, I totally forgot we were using local-npm. I updated the registry to point to `https://registry.npmjs.org` but I still get the error. Actually the error is now showing different valid install targets:
`Couldn't find any versions for "babel-preset-es2015" that matches "^6.22.0". Possible versions: "6.0.2, 6.0.8, 6.0.11, 6.0.12`

 `npm view package dist-tags` returned `latest: '

[2017-01-23 19:40] kangax opened #5196 "Show location in the input when throwing an error"
Pretty often I run into cases when runtime errors do not show location of where the error occurred in the input source.

https://github.com/babel/babel/issues/5178 is one such example. I'll include more as I encounter them.

We need to figure out how to make these messages more informative.

[2017-01-23 22:28] fredbutters commented on #5170
I'm pretty sure this is a problem with our TFS build server and not related to babel. Somehow that registry is still getting cached. Thanks for the suggestions though.

[2017-01-23 22:31] hzoo commented on #5170
Going to close since we understand it has to do with local npm cache/proxies.

For the next release, going to try waiting like an hour before switching the dist tag to `latest` to see if we get less/none of these issues. Probably have to change lerna to support this easily.

[2017-01-23 23:20] hzoo commented on #5172
Done in https://github.com/babel/babel/issues/5175!

[2017-01-23 23:20] #5172 closed

[2017-01-24 02:59] hzoo opened #5197 "[7.0] Tests: switch to jest"
I think we are using like 3 different testing frameworks and would like to move to use the same one for all projects? I believe the team agreed with choosing jest a good base (and is possible since we have dropped node 0.10/0.12 in 7.0).

Not sure how difficult this is but shouldn't be too bad and we can help.

- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUT

[2017-01-24 04:34] hzoo opened #5198 "[7.0] Default babel-register cache location to node_modules"
why: easier to find since it's in node_modules, easy to clear all cache for all the tools that use it.

Move register cache file location to `./node_modules/.cache/babel-register` via

https://github.com/avajs/find-cache-dir

Ref previous babel-loader PR: https://github.com/babel/babel-loader/pull/301/files as well as the current file (https://github.com/babel/babel-loader/blob/e9e37029e0c5905d884

[2017-01-24 05:38] shubheksha commented on #5198
I'll take this one!

[2017-01-24 07:14] geordidearns commented on #5197
Hey @hzoo I'm keen to pick this one up please. I'll take a look and reach out with any questions ✌️

[2017-01-24 10:24] graingert opened #5201 "babel-plugin-transform-typescript-strip-types"
It would be great to create a typescript version of babel-plugin-transform-flow-strip-types especially as the type annotations are so similar (TypeScript adds interfaces)

[2017-01-24 10:24] graingert commented on #5201
See here for the issue in TypeScript: https://github.com/Microsoft/TypeScript/issues/11441

[2017-01-24 10:27] graingert commented on #5201
I think this might have been what https://github.com/babel/babel/issues/3968 was about, but it's not clear if that was asking for something like https://github.com/codemix/babel-plugin-typecheck/issues/163

[2017-01-24 10:27] danez commented on #5201
Feel free to create it, also doesn't necessarily have to be in the babel repo. :)

[2017-01-24 10:28] graingert commented on #5201
@danex it's actually quite difficult because that plugin relies on the built in babylon support for flow.

[2017-01-24 10:29] mkusher commented on #5201
the first thing that should be done is typescript plugin in babylon. There is already issue for that https://github.com/babel/babylon/issues/320

[2017-01-24 10:50] slorber commented on #5149
Hi,

@STRML it's probably better than before but it still does not work in my app. However it's probably very close to working because simply commenting a single HOC in my app makes it start successfully (didn't try to use it further but the basics are working)

I can try to make a simpler repro case, in the meantime here's my raw problematic source file: https://gist.github.com/slorber/c5093d2759

[2017-01-24 11:17] danharper commented on #5201
As TS has language additions (e.g. enums, constructor param visibility), something as simple as `flow-strip-types` wouldn't work.

[2017-01-24 11:54] graingert commented on #5201
enums could not just be stripped, but they don't look that hard to convert.
constructor param visibility doesn't effect the resulting JS in TypeScript, so I don't see how that could not be stripped.

[2017-01-24 11:59] mkusher commented on #5201
it means that this:
[code]
should be transpiled to es2015 as:
[code]

[2017-01-24 12:01] graingert commented on #5201
hmm, strip is probably a misnomer then.

[2017-01-24 12:01] graingert commented on #5201
I mean it in terms of a transpile without checking types.

[2017-01-24 12:02] mkusher commented on #5201
maybe `babel-plugin-transform-typescript` will be enough?

[2017-01-24 12:08] danharper commented on #5201
Doesn't TS also add runtime information for types, decorators etc.?

Adding support to the parser & generator (i.e. no transpilation) would be a great first step, e.g. a `babel-plugin-syntax-typescript`.

[2017-01-24 12:12] graingert commented on #5201
@danharper I'm pretty sure the types are erased https://github.com/Microsoft/TypeScript/wiki/FAQ#what-is-type-erasure

[2017-01-24 12:36] xtuc commented on #5201
Yes, there are no types at runtime, TS remove them at compilation ([example](http://www.typescriptlang.org/play/index.html#src=interface%20SomeInterface%20{%20}%0D%0A%0D%0Avar%20x%3A%20SomeInterface%3B))

[2017-01-24 12:37] graingert commented on #5201
@danharper you might be thinking of ATScript

[2017-01-24 13:12] danharper commented on #5201
I'm thinking of `emitDecoratorMetadata`: TS outputs reflection metadata for types etc. when a decorator is used. afaik Angular relies on this:

[code]

[code]

[2017-01-24 13:25] danharper commented on #5201
Now there's a blast from the past*

_* where "past" is like 2 years ago ha_

[2017-01-24 13:40] mark-ukr commented on #4351
Same here.
[code]

In node it just throws a `ReferenceError: arg is not defined`, which is expected behavior.

In Babel (with `babel-preset-es2015` on) it types `NaN`, which is error.

The compiled output is the following:

[code]

Babel is expected to split `arg` to 2 different variables to make it work as expected.

[2017-01-24 18:07] kangax opened #5204 "`path.evalute()` should not be confident for local `undefined` variable"
https://astexplorer.net/#/MM5lEC6YOj/2

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
This should return `confident=false`

### Current Behavior
It currently reports `undefined` identifier as having `undefined` value, confidently, which isn't the case.

| software         | version
| ---------------- | -------
| Babel

[2017-01-24 18:25] martinbethann commented on #5160
Just wanted to note that this is still happening and https://www.npmjs.com/package/babel-runtime is showing 6.20.0.  I'm trying to install via Web Essentials in Visual Studio 2015 but I'm getting the error listed above.

[2017-01-24 18:27] #5170 closed

[2017-01-24 18:28] hzoo commented on #5160
Again the website is not immediately update (or even for a few days) https://github.com/babel/babel/issues/5170#issuecomment-274105242.

https://unpkg.com/babel-runtime@6.22.0/
https://registry.npmjs.org/babel-runtime/

[2017-01-24 19:37] thejameskyle opened #5207 "Spec: Multiple calls to super should throw after constructor succeeds for the second time"
[code]

According to the spec the second `super()` here should throw.

However, the throw happens after the second call to `super()`, the effect being that `hi` is logged twice.

Test cases:

[code]

[code]

[code]

[2017-01-24 19:44] thejameskyle commented on #5207
The behavior of the constructor running for the second time is being discussed here: https://github.com/tc39/ecma262/pull/762

[2017-01-24 20:00] marvinhagemeister opened #5208 "Wrong TypeError: missing new keyword, although it is present"
Sample repository where the bug is easily reproduceable: https://github.com/marvinhagemeister/babel-bug/

Steps to reproduce:
1. Clone above repo
2. `npm install`
3. `npm run build && node dist/index.js`
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Extending a class with the `extends` keyword should work

### Current Behavior

[2017-01-25 01:02] thejameskyle commented on #5207
Note: Babel cannot simply statically disallow multiple calls to super inside of the constructor as this is allowed:

[code]

[2017-01-25 01:06] thejameskyle commented on #5207
Here's a rough draft of how to check it.

[code]

[code]

[2017-01-25 01:25] hzoo commented on #5207
Cool, and it sounds like (if I'm not mistaken) we could statically analyze if you are using super in the constructor 2x and based on that add the `_checkSuperCalls` helper?

So basically find the constructor, then:

[code]

maybe something like that?

[2017-01-25 02:39] thejameskyle commented on #5207
Not necessarily:

[code]

[2017-01-25 09:11] marvinhagemeister commented on #5208
Found a simpler preset to reproduce the problem:

[code]

[2017-01-25 11:04] marvinhagemeister commented on #5208
Managed to reduce the test case even further, see the latest commits to https://github.com/marvinhagemeister/babel-bug/

[2017-01-25 11:13] danez commented on #5208
Well most probably it happens because as long as the class is inside node_modules it won't be transpiled and used as native class.
And the problem seems to be that babel-transpiled classes are calling the parent constructer in a way that works for other transpiled classes but not native classes.

Might be related to #4480

[2017-01-25 12:01] xtuc commented on #5207
Could we implement it in [`possibleConstructorReturn`]( https://github.com/babel/babel/blob/master/packages/babel-helpers/src/helpers.js#L442) ?

There is maybe currently a transpilation issue: [REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015&experimental=true&loose=false&spec=false&code=class%20Foo%20{}%0A%0Aclass%20Bar%20extends%20Foo%20{%0A%20%20constru

[2017-01-25 14:10] marvinhagemeister commented on #5208
@danez Might be. I'm afraid I'm not familiar enough with babel code.

Nonetheless I found a workaround for now. When the imported module is babelified to ES5 instead of a native ES6 class, everything works as expected.

[2017-01-25 19:33] enterit opened #5210 "regexify used in babel-core for globs matching does not check for the end of text"
Babel API documentation says that `only` option supports glob syntax - the same that `minimatch` provides.
But, Babel treats '*.js' glob as if it matches JSON files. Internally, it is an issue for all globs - Babel's `regexify` returns RegExp that does not check for the end of text in the matching text.

For instance, for '*.js' Babel generates RegExp `/(?:(?!\.)(?=.)[^\/]*?\.js)/i`.
Compare with

[2017-01-25 19:37] hzoo commented on #5190
Yeah for any polyfill you will need it to be run before any other code (entry point in webpack, top of the main file) http://babeljs.io/docs/usage/polyfill/#top

[2017-01-25 20:32] WebReflection commented on #5116
FWIW, https://github.com/WebReflection/classtrophobic-es5 targets ES5, while https://github.com/WebReflection/classtrophobic targets at least native `class` capable browsers

[2017-01-25 20:37] dmitriiabramov commented on #5081
any updates on this one?

[2017-01-26 12:38] sudo-suhas opened #5213 "await in try without catch throws type error"
### Input Code
[code]

### Babel Configuration (.babelrc)

[code]

### Current Behavior
The configuration should have been able to parse async await functions but I was getting the following error:
<details>
<summary>Error stack trace</summary>

[code]
</details>

I could not replicate the error in the online repl.

### Possible Solution
It is possible to work around this problem by including a ca

[2017-01-26 16:03] existentialism opened #5215 "Remove "Try In REPL" links from package readme files"
Now that we [automatically add "Try" links to code blocks](https://github.com/babel/babel.github.io/pull/1104) on the website, we can remove the hardcoded REPL links inside various package READMEs.

- [ ] Comment below you are going to do this (for others to know)
- [ ] Since this differs from contributing to Babel proper, be sure to read our website's [README.md](https://github.com/babel/babel.gi

[2017-01-26 18:45] mattste commented on #4323
It appears this is still a problem. I have encountered this issue using material-ui in a React Native Webview. The assignment produces a stack that causes a stack overflow.

I'd be interested in tackling this if someone would lend a little guidance on what part of the codebase to look into.

[2017-01-26 19:00] gnimmelf commented on #4845
I'm using the `es2015-riot` preset, and cannot get a top level `this`;
[code]
I hope it's just the param names I got wrong, but suspect not. So any hint welcome.

Cheers.

[2017-01-26 19:34] loganfsmyth commented on #4323
Feel free to hop on our Slack if you have questions. Essentially what we'd want to do is change this loop: https://github.com/babel/babel/blob/a52265c79eeffbecc73859d03832972799115060/packages/babel-plugin-transform-es2015-modules-commonjs/src/index.js#L431

so that for very large sets of nonHoistedExportNames, we break the expression into multiple expression statements. Maybe we can limit each on

[2017-01-26 20:09] buzinas opened #5217 "Ability to define a custom namespace for external helpers"
Currently the [code sets up a hard-coded namespace `babelHelpers`](https://github.com/babel/babel/blob/master/packages/babel-plugin-external-helpers/src/index.js).

I would like to have the ability to define my own name, eg:
[code]

[code]
Do you see any problem if we add this option to the external-helpers plugin?

[2017-01-26 20:50] existentialism commented on #5215
Fixed in https://github.com/babel/babel/pull/5216

[2017-01-26 20:50] #5215 closed

[2017-01-26 21:00] hzoo commented on #5217
Thanks for bringing this up - curious what's your use case for doing this?

[2017-01-26 21:51] mayani opened #5219 "transform-react-inline-elements doesn't work well with react-html-attrs"
babel-plugin-transform-react-inline-elements doesn't work well with babel-plugin-react-html-attrs

The react-html-attrs plugin transforms certain attributes like class to className. This makes it easier to copy HTML code directly as JSX. However, react-inline-elements plugin uses the untransformed value (class), instead of the transformed value (className). As a result. no class attribute gets set

[2017-01-26 22:00] hzoo opened #5220 "[7.0] Move `legacy-decorators` into stage-1 preset 🎉"
Right now the transform-decorators plugin in [babel-preset-stage-2](https://github.com/babel/babel/blob/master/packages/babel-preset-stage-2) just errors because it hasn't been implemented. (It's in progress).

In the meantime we should just remove it from stage 2 and then move the [decorators legacy plugin](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy) by @loganfsmyth i

[2017-01-26 22:20] hzoo opened #5221 "[7.0] Use lerna's --independent mode + changes"
Ref https://github.com/babel/babel/issues/4950 (still need to figure out babel-core versioning/peer deps idea in another issue)

We'd like to do independent versioning for all experimental proposal packages, instead of the fixed versioning mode we use now. (Context: https://github.com/lerna/lerna#how-it-works)

- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUT

[2017-01-26 22:22] #4950 closed

[2017-01-26 22:23] hzoo commented on #4949
Might be better in https://github.com/babel/notes (since we haven't really talked about this yet) - still 👍  though. Just trying to make issues lower

[2017-01-26 22:23] #4949 closed

[2017-01-26 22:30] Anderson-Vasques commented on #5221
I'll take this one.

[2017-01-26 22:30] yavorsky commented on #5220
I'll take this one 👌

[2017-01-26 22:35] natevw opened #5222 "transform-class-properties: Static arrow functions are bound to `undefined` rather than the class"
When using babel-plugin-transform-class-properties, it turns out that extending the https://babeljs.io/docs/plugins/transform-class-properties/ example to include a "boundStaticFunction" fails:

[code]

## Expected behavior

Calling `(Bork.boundStaticFunction)()` should behave the same way as `Bork.boundStaticFunction()`.

Babel would emit code either like

[code]

or:

[code]

## Actual results

[2017-01-26 22:57] kangax opened #5223 "Add `path.getPrevSibling`, `path.getNextSibling`, etc."
We have quite a few cases of `path.parentPath.getSibling(path.parentPath.key + 1)` in [Babili's DCE](https://github.com/babel/babili/blob/master/packages/babel-plugin-minify-dead-code-elimination/src/index.js).

It would be nice if Babel provided basic traversal methods like `getPrevSibling()`, `getNextSibling()`, `forEachPrevSibling()`, `forEachNextSibling()`, etc.

Naming subject to change, of c

[2017-01-26 23:03] hzoo commented on #5223
I like it! Names seem fine to me but maybe someone else has a better idea. We should just have the same api as jQuery haha.

[2017-01-26 23:13] kangax commented on #5223
Seems like a nice beginner-friendly task so I'm marking it as such.

[2017-01-26 23:15] hzoo commented on #5223
Yep! I'l update the issue for that stuff

[2017-01-27 01:02] hzoo commented on #5221
https://github.com/babel/babel/issues/5224

[2017-01-27 01:02] #5221 closed

[2017-01-27 06:00] chitchu commented on #5223
Hi @kangax, @hzoo

If you don't mind I'll pick this one up.

I do have a suggestion. Instead of `getNextSibling(), getPrevSibling()`, would method chaining be better syntax wise? ie `getSibling().next(), getSibling().prev(), getSibling().prev().prev().next()`

[2017-01-27 09:09] buzinas commented on #5217
@hzoo basically it's because we have a very big application, and we're trying to reduce as most as we can the footprint. We're already injecting only the external helpers we actually use, and minifying them, but we have ~8kb of the word "babelHelpers" in our final JS file.

Of course gzipping helps there, but want to change that to any 2-letters word, and it would be simple if we could customize t

[2017-01-27 10:18] alexeyraspopov commented on #4010
I have exactly the same issue when piping files. Babel simply don't see any configurations except directly passed options.

[code]

[2017-01-27 14:45] itsforbabu commented on #4075
We see this happening again since 2 days. As of yesterday we are using "angular-cli" and not "angular-cli@latest". And the command we use is "ng build --prod".

inline template:14:10 caused by: Object doesn't support property or method 'Symbol(Symbol.iterator)_9.cv9thrssiwh'

[2017-01-27 16:58] kangax commented on #5223
@chitchu chaining would work automatically since the method will be defined on a path and will return another path (or `null`/`undefined`).

[2017-01-27 19:08] JemarJones opened #5228 "Error message incorrect for global installation"
The cli error message currently says the following:

[code]

But if someone installed the package globally, shouldn't it say:
[code]

Or perhaps if theres no way to detect how it was installed:

[code]

[2017-01-27 20:02] existentialism commented on #5220
https://github.com/babel/babel/pull/5225 👍

[2017-01-27 20:02] #5220 closed

[2017-01-27 20:29] babel-bot opened #6704 "[Flow] Add support for method boolean on FunctionTypeAnnotation"
Right now,

[code]

produce the exact same AST (and behave the same way). It would be nice to differentiate somehow so that we can print them the way they were written.

The flow parser is going to get a `method` boolean on `FunctionTypeAnnotation` that distinguishes between the two forms.

It would be great to have the same for Babylon so we can keep the printer simple!

Thanks!

cc @hzoo @samwgo

[2017-01-27 20:43] chitchu commented on #5223
@kangax I misunderstood what `getSibling` does. That makes it clear then.

[2017-01-28 02:27] possibilities opened #5232 "--watch and --copy-files only copies files initially"
My hope was that non-js files would be copied on change to avoid needing a separate tool for keeping them in sync when I'm `--watch`ing. Would this be considered a desirable improvement if I worked on it? Thanks!

[2017-01-28 03:33] loganfsmyth commented on #5056
Sorry it's taken so long to get back to you, I see you've already posted a PR. While I appreciate the motivation, this is currently the behavior listed in the specification. https://tc39.github.io/proposal-class-public-fields/#initialize-public-instance-fields specifically is

<img width="1081" alt="screen shot 2017-01-27 at 7 31 22 pm" src="https://cloud.githubusercontent.com/assets/132260/223939

[2017-01-28 04:06] mbrowne commented on #5056
Thank you for the clarification. I looked at that spec but wasn't sure if the absence of `else` behavior had to be taken so literally, since the property is still `undefined` after all - now I know. I'll take it up on the spec repo as you suggested.

[2017-01-28 04:27] jamiebuilds opened #5233 "do expressions should allow return statements"
https://twitter.com/sebmarkbage/status/825197254252257280

[code]

[2017-01-28 04:41] hzoo commented on #5233
What would this transform into? I think we need to allow returns in do expressions in babylon since it's only in functions atm.

[2017-01-28 05:01] loganfsmyth commented on #5056
Yeah, take an example like
[code]
the value is `4`, if it assigned `undefined` in the general case, it'd override the value.

[2017-01-28 05:08] thejameskyle commented on #5233
This is going to be a more difficult transform for sure.

It's gonna be something like this:

**Input:**

[code]

**Output:**

[code]

[2017-01-28 05:45] bounceme opened #5234 "shorthand reserved words"
https://github.com/pangloss/vim-javascript/issues/644#issuecomment-275828980

[2017-01-28 09:53] xtuc commented on #5234
While you can use a reserved keyword in an ES6 property shorthand, you can't declare it:
[code]

[code]

See [REPL](http://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=&experimental=false&loose=false&spec=false&code=const%20while%20%3D%20true%3B%0Aconst%20i%20%3D%20{%20while%20}&playground=true).

[2017-01-28 10:46] mark0978 commented on #5069
You can see it working in the [Playground](http://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=latest%2Creact%2Cstage-2&experimental=false&loose=false&spec=false&code=%2F%2Ffor%20this%20function%0Avar%20doStuff%20%3D%20(%7B%20name%3D'default'%20%7D%3D%7B%7D)%20%3D%3E%20console.log(name)%0A%0A%2F%2FThis%20breaks%20%0AdoStuff()%0A%0A%2F%2Fbut%20this%20works%0AdoStuff(%7B%7D)&p

[2017-01-28 11:40] wtgtybhertgeghgtwtg commented on #5197
To clarify, does this apply to other Babel projects like `babylon`, as well?

[2017-01-28 11:41] xtuc commented on #5197
Yes.

[2017-01-28 12:00] danez commented on #5197
I would not touch babylon right now, as it works perfectly fine with ava.

[2017-01-28 12:31] mbrowne commented on #5056
Ah, good point. But I think it depends on people's expectations based on programming in other languages with classes...for example, in PHP it'd also override the value:

    class Base {
        public $foo = 4;
    }

    class Child extends Base {
        public $foo;
    }

    $c = new Child();
    var_dump($c->foo);  //null

After thinking about it a bit, I'm leaning toward the opinion that o

[2017-01-28 14:31] #5234 closed

[2017-01-28 14:57] hzoo commented on #5118
Oops done in https://github.com/babel/babel/issues/5218!

[2017-01-28 14:57] #5118 closed

[2017-01-28 15:23] xtuc commented on #5228
Thanks for the issue :+1:. We can detect if Babel was installed globally.

Related #5091

[2017-01-28 17:27] bounceme commented on #5234
Could you explain what is happening here please ?

https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015%2Ces2015-loose%2Ces2016%2Ces2017%2Clatest%2Creact%2Cstage-0%2Cstage-1%2Cstage-2%2Cstage-3&code=window.while%20%3D%201%0Ai%20%3D%20%7Bwhile%7D%0A

[2017-01-28 17:30] hzoo commented on #5234
What part? If you mean `{ while }` then it's es6 shorthand syntax http://babeljs.io/docs/plugins/transform-es2015-shorthand-properties/ and thus you end up making while an identifier which isn't allowed since it's a keyword

[2017-01-28 17:36] bounceme commented on #5234
Ohh , so I was initially right about this. the variable being used as a shorthand must be a valid identifier. Correct?

[2017-01-28 17:45] hzoo commented on #5234
Exactly because it actually means the property valid is that key.

[2017-01-28 18:10] bakkot commented on #5233
In the proposal, `break` and `continue` crossing the do-expression boundary would also be legal, a la:

[code]

(Personally I'm not so sure allowing non-exceptional control flow in do-expressions is a good idea, but it's what the proposal calls for.)

[2017-01-28 20:46] hzoo commented on #4299
I think we'll probably just do https://github.com/babel/babel/issues/5091

The global version isn't always up to date since you would have to `npm i -g babel-x` every time. Having a local one ensures each project's deps

[2017-01-28 20:46] #4299 closed

[2017-01-28 20:48] hzoo commented on #3729
I think we will go with https://github.com/babel/babel/issues/5091 instead.

[2017-01-28 20:48] #3729 closed

[2017-01-28 20:50] loganfsmyth commented on #5233
Allowing `return`, `continue`, `break`, and `throw` makes sense from my view. Do expressions should behave like any other block statement.

[2017-01-28 20:52] hzoo commented on #3972
Going to close for inactivity

[2017-01-28 20:52] #3972 closed

[2017-01-28 20:53] hzoo commented on #3893
Going to close for inactivity

[2017-01-28 20:53] #3893 closed

[2017-01-28 20:53] hzoo commented on #3910
I believe the is issue is covered by ^

[2017-01-28 20:53] #3910 closed

[2017-01-28 20:55] #4323 closed

[2017-01-28 20:55] #5167 closed

[2017-01-28 23:06] eirslett opened #5237 "Edge case; functions in object literals cannot be constructors"
Problem: ES 6 code works when transpiled to ES 5 with Babel, but not when running the same ES 6 straight in the browser without transpiling.

### Context
It is a somewhat crazy edge case, which can easily be disregarded as too stupid to bother with fixing, so I'll have to explain a bit of the background.

Backbone collections can be polymorphic; depending on which parameters are given for a model.

[2017-01-29 00:24] mbrowne commented on #5056
Created the new issue in the spec repo: https://github.com/tc39/proposal-class-public-fields/issues/57

[2017-01-29 00:40] loganfsmyth commented on #5237
Yeah, this is a tough one. This is an edge case I've definitely known about, and it has similar requirements to arrow functions, since they also aren't new-able and also have `.prototype === undefined`. The arrow transform has https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-es2015-arrow-functions/src/index.js#L19 so we could potentially have the same here.

The perf impa

[2017-01-29 02:02] thymikee opened #5238 "[7.0] Proposal to drop regenerator"
### Expected Behavior
Removing `regenerator-runtime` entirely.

### Current Behavior
Regenerator is used because of Node 0.10 support. Since Babel7 drops it, maybe it's time to drop that dependency?

### Possible Solution
I'm working on a PR, but I'd like to be sure if that's desired change.

[2017-01-29 02:09] hzoo commented on #5238
Not sure what this means? I don't know why we would remove the package if that's what you mean since Babel is used not just node.

We don't use generators in Babel either so we wouldn't need to remove it from Babel itself since it doesn't use it anyway.

[2017-01-29 03:19] jharris4 commented on #5220
Should this maybe be documented on the README for https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-decorators?

I just tried using the non-legacy plugin and got the error, and only knew why by searching and finding this issue.

[2017-01-29 07:53] thymikee commented on #5238
Meh, of course I didn't check well. Thought ES2015 generators were entirely supported in Node 4 and we could get rid of unnecessary transforming them with `regenerator` in Babel, but [that's not true](http://node.green/#generators).

Sorry about that!

[2017-01-29 07:53] #5238 closed

[2017-01-29 08:43] trusktr opened #5239 "[bug?] Unable to destructure object with rest operator inside parens expression list"
### Input Code

[code]

The intent is to pass a copied object, not the original. f.e., this would work too:

[code]

Did I do the destructuring version wrong? If so, how would I destructure `o` to send a copy into `f()`?

Or is this a bug?

### Babel Configuration (.babelrc, package.json, cli command)

Using the repl, Babel 6.22.1 at time of writing.

### Expected Behavior

I thought I could make

[2017-01-29 08:47] trusktr commented on #5239
I also tried

[code]

and

[code]

but no luck.

[2017-01-29 11:44] varemenos commented on #5091
I've got a couple of questions about this feature's implementation.

1) Should we inform the user every time they invoke a local copy of babel?

* will they get confused if we don't?
* will they get annoyed if we do this every single time?

2) Should the babel-cli try to resolve the `./node_modules/babel-core` based on the cwd only or should it try to find the closest package.json based on the cwd

[2017-01-29 12:05] sindresorhus commented on #5091
Should walk up. That's how `require` works and would IMHO be the expected behavior.

[2017-01-29 13:18] hzoo commented on #5238
All good, but my point is that we can't drop anything just because it's supported in Node since you can use Babel in the browser (more likely) for things like IE etc. If you are using Node 4 you probably are going to use generators anyway even though its not fully supported. https://github.com/babel/babel-preset-env is more conservative though

[2017-01-29 13:55] thymikee commented on #5238
Thanks for the clarification, appreciated.

[2017-01-29 16:24] fatcerberus opened #5240 "Babel uses strict mode even when modules: false"
I have the following Babel transform:
https://github.com/fatcerberus/minisphere/blob/master/assets/system/cell_modules/transpile.js#L20-L29

When `modules: false` which I use for migrating old scripts, Babel doesn't prepend a strict mode directive and the transpiled code then runs in loose mode, which is correct.  However the transpiler still operates as though the code is strict, producing errors

[2017-01-29 16:39] xtuc commented on #5081
@dmitriiabramov I will also look at this. I wasn't able to reproduce it in Jest (with both PR mentioned here). Could you please provide some steps to reproduce the issue?

@DrewML @existentialism  I think we could, starting from the end `dropWhile` we find empty spaces.

Using a `reduce` we could both remove white spaces and actually join the string.

This will avoid using a replace with a Regex,

[2017-01-29 21:41] loganfsmyth commented on #5240
I believe you'll also want to set `sourceType: 'script'`

[2017-01-29 21:43] fatcerberus commented on #5240
Ah, thanks, I didn't see any reference to that option in the documentation for the es2015 plugin.  I'll try that and see if it works.

[2017-01-30 02:19] fatcerberus commented on #5240
`sourceType: 'script'` worked, thanks again.  I had to use it as an option for `transform()` rather than the ES2015 plugin specifically.  `sourceType` doesn't seem to be in the documented list of options supported by `transform()`:
https://babeljs.io/docs/usage/api/#options

So I never would have known about it if you didn't tell me.

[2017-01-30 07:18] xtuc commented on #5240
Good catch, I created an issue to update the documentation.

Do you mind If I close this issue? Feel free to reopen it if needed.

[2017-01-30 07:18] #5240 closed

[2017-01-30 07:21] xtuc commented on #5220
@jharris4 Yes, I will update the documentation.

@existentialism @hzoo This is a breaking change, right?

[2017-01-30 10:02] MasanoriOyabu commented on #4946
@davewasmer
After all, how did you solve it?

[2017-01-30 15:04] azer commented on #4161
This breaks preact for people who prefer passing their choices via CLI.

[2017-01-30 15:12] DarrylD commented on #5069
Reinstalled the package, not sure why it wasn't working before but, it's fine now.

Thanks!

[2017-01-30 15:12] #5069 closed

[2017-01-30 15:56] davewasmer commented on #4946
@MasanoriOyabu I didn't. I had to work around the issue by not running babel on already transpiled code, but as far as I know, this bug is still present.

[2017-01-30 16:01] existentialism commented on #5239
Do you need `c`?

[code]

[2017-01-30 17:31] thejameskyle commented on #5233
do expressions are a potential precursor to making every statement in JS into an expression. `return`, `break`, `continue`, etc all need to work. @loganfsmyth is right, there's little difference from a block statement.

[2017-01-30 17:40] bakkot commented on #5233
I disagree, but this issue probably isn't the place for that conversation. I just wanted to note that it's what the proposal currently calls for.

[2017-01-30 22:15] bramus commented on #855
Earlier today/this week [this feature – named “Null Propgation Operator” – was promoted to `stage-1` by the TC39 Committee](https://ecmascript-daily.github.io/ecmascript/2017/01/30/ecmascript-proposals-status).

I guess that makes this request re-open for consideration?

[2017-01-30 23:49] danielo515 commented on #2047
I am also missing this feature. The reasoning behind removing it still unclear to me. Removing this feature almost breaks all the modules that trusted babel for transpile to regular CJS modules.

[2017-01-30 23:59] arslivinski opened #5245 "Export babel-cli as a Node API"
Would be nice to have the babel-cli API exposed through an Node API, like [eslint does](http://eslint.org/docs/developer-guide/nodejs-api#cliengine).
Some people, like me, writes his own build scripts to not depend on external tools like Grunt, Gulp or similar.
However, the Babel API is too simple and every time I need to write the build scripts for a new project I feel like I'm reinventing the wh

[2017-01-31 04:43] loganfsmyth commented on #2047
You can get this behavior in Babel 6 via https://www.npmjs.com/package/babel-plugin-add-module-exports

[2017-01-31 08:06] danielo515 commented on #2047
Dear @loganfsmyth, I already found that plugin after a couple of hours of searching. So yes, why not add another plugin to the plethoria of plugins required for the most basic Babel functionality. I don't understand why you just give the option .

[2017-01-31 08:11] xtuc commented on #2047
@Daniel15 Would it help to indicate that on the website?

[2017-01-31 09:53] moimael commented on #4800
@hzoo There are still cases where you cannot use .babelrc for example in the case of our isomorphic app, we have webpack + babel with .babelrc fro the client side, and command line babel for the server side, because we have a shared component directory and both need to process it differently, since they have different ES6/7 support (node vs the browser).

[2017-01-31 11:07] xtuc commented on #855
@bramus there is already babel/babylon#328.

[2017-01-31 14:27] babel-bot opened #6633 "Add greenkeeper bot to keep build-data green."
I think we need to add automatic updates for our dependencies, especially would be useful for [compat-table](https://github.com/kangax/compat-table).
Seems like [Greenkeeper](https://github.com/integration/greenkeeper) could help us.

[2017-01-31 16:41] bertuz opened #5249 "cannot catch thrown errors because polyfill catches them"
I'm trying to get errors that I explicictly throw inside my code, but polyfill seems to catch and just console.error them. In specific, I throw an Error  inside a generator and this is what I get in my console:

[code]

unfortunately, adding the following code:
[code]

can't help. How can I let them bubble? Thank you

[2017-01-31 16:50] naomik commented on #256
Why is this closed again? It's been in "temporarily removed, going to be reimplemented" status for over a year. Will TCO ever see the light of day in Babel?

[2017-01-31 17:00] danielo515 commented on #2047
Dear @xtuc, not helpful to me but definetively helpful for newcomers .

[2017-01-31 18:52] xtuc commented on #5249
Could you please use the [template](https://github.com/babel/babel/blob/master/.github/ISSUE_TEMPLATE.md) to provide more context about this issue.

[2017-01-31 19:00] isiahmeadows commented on #256
@naomik I believe the reason it was pulled was due to complexity concerns. but also pending [this proposal](https://github.com/tc39/proposal-ptc-syntax). The main issue is implementor reluctance (it breaks a lot of their previous assumptions about JS returning).

[2017-01-31 20:04] hzoo commented on #5139
Done in https://github.com/babel/babel/issues/5154!

[2017-01-31 20:04] #5139 closed

[2017-01-31 20:05] hzoo commented on #4803
Closing this via https://github.com/babel/babel/issues/5154 - in order to fix this were going to drop quotes in 7.0 given it has been broken for a while and we don't really want to support custom options for compiled output (quotes, tabs, spaces, etc).

[2017-01-31 20:05] #4803 closed

[2017-02-01 02:28] rattrayalex commented on #4968
I am also experiencing this with the `AwaitExpression` node.

The following code works:

[code]
while this does not work:
[code]

other node types which are non-experimental work just fine, so I assume this has to do with the fact that `AwaitExpression` and `Decorator` are defined in `babel-types/src/definitions/experimental.js`.

To be clear, `AwaitExpression`s are parsing just fine, and no error

[2017-02-01 02:30] loganfsmyth commented on #4968
Do you have the `babel-plugin-transform-async-to-generator` enabled as well? Generally issues like this happen because the AwaitExpression has already been converted by another plugin before your plugin has time to run.

[2017-02-01 02:31] rattrayalex commented on #4968
I do not; `await` is printed in the output.

[2017-02-01 02:47] loganfsmyth commented on #4968
Would you be able to put together a repo that reproduces the issue for you? When I test it out, it seems to work as I'd expect.

[2017-02-01 02:54] rattrayalex commented on #4968
My repo is at GitHub.com/lightscript/babel-plugin-lightscript but
unfortunately until https://github.com/babel/babel/pull/4886 is merged an
onerous number of `npm link` calls are required, so I wouldn't recommend
trying it there.

If you'd like, I can make a branch with the customer nodes removed and you
can try that?

On Tue, Jan 31, 2017, 18:47 Logan Smyth <notifications@github.com> wrote:

[2017-02-01 02:57] loganfsmyth commented on #4968
Yeah ideally something that is easily `npm install`able would be perfect.

[2017-02-01 03:02] rattrayalex commented on #4968
Cool, I'm on my phone at the moment but hope to get something up soon -
thanks!

On Tue, Jan 31, 2017, 18:58 Logan Smyth <notifications@github.com> wrote:

[2017-02-01 03:40] rattrayalex commented on #4968
Hmm, when I remove my custom node types, `AwaitExpression` works. I'll try to dig into that more. May have to do with aliases, since I've defined a custom node type that has `AwaitExpression` as an alias.

[2017-02-01 03:41] rattrayalex commented on #4968
@SerkanSipahi did you define any custom node types?

[2017-02-01 09:57] SerkanSipahi commented on #4968
@rattrayalex what do you mean with custom node types?

this is/was im trying to do:
[code]

[2017-02-01 16:18] rattrayalex commented on #4968
Confirming that my custom node type's definition was the cause. Apologies.
Not sure if this helps in figuring out what was going on with `Decorator`.

(for the curious, the problem was that I was instantiating`babel-types.FLIPPED_ALIAS_KEYS['AwaitExpression']` as `[]` instead of as `['AwaitExpression']`)

I'll open an issue to discuss the problems laid out in #4886

[2017-02-02 00:46] jwbay commented on #5081
@xtuc @tgrochowicz apologies for stepping on toes, but I took a crack at this in #5255. This issue is blocking another PR I'm trying to get in elsewhere.

[2017-02-02 11:46] moimael commented on #3853
I'd love to see this implemented, we use babel-node in dev for an isomorphic app, and our .babelrc is used for the client-side only, we use cli to specify babel options for the server side.

[2017-02-02 12:57] aight8 commented on #3757
Have the same issue. I have splitted my app source from the webpack based builder source because it's so much cleaner now.

However I can't use plugin and preset short name this is cumbersome.

I wrote helper methods which point to the correct package. PACKAGE_DIR is the root package dir of the builder package.

[code]

It were nice when you could just define a root in the babelrc config once.

[2017-02-02 13:39] UltCombo commented on #2047
This must already have been explained several times in other places, but to put it in simple terms:

Module `a.js`:

[code]

Module `b.js`:

[code]

What do you expect this to print? The old behavior was inconsistent as the default export's properties sometimes could be referenced as named exports (when there are no named exports in the module), but the behavior would change as soon as a named exp

[2017-02-02 15:13] olivierbeaulieu opened #5257 "Object destructuring assigned as an object's property does not work as expected"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
Presets 2015, using the babeljs.io website's REPL

### Expected Behavior
If you put the input code in Chrome's console, `console.log(a);` rightly prints the following:
[code]

### Current Behavior
If you put the same input code through babel, you will get an error `bar is not defined`:
https://babeljs.io/repl/#?ba

[2017-02-02 17:00] danielo515 commented on #2047
So it is better to break in a backwards manner (breaking all the modules that relies on this functionality) than in forwards manner, even taking into account that some thousands will never export a second property.

In any case, what you said makes a lot of sense and it is logically argued, so I can not be against it. Making breaking changes to change things that makes non sense should happen more

[2017-02-02 20:23] loganfsmyth commented on #2047
We can definitely do better on documentation on this, sorry about that.

The point mentioned above is indeed the problem we looked to solve. I've also elaborated a bunch on that here if you are curious: http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

We made this change on a Babel major version so that it would only affect people as they upgrade, and since it wa

[2017-02-02 20:31] loganfsmyth commented on #5257
This is an issue with the code, rather than Babel. You'll see the same in Chrome if you mark the code strict

[code]

Your issue is that in
[code]
the `{bar,baz}=foo` is just an assignment, not a default value. Default values apply to destructuring, not object declaration. So you are essentially doing

[code]
and the destructuring assignment of `bar` and `baz` attempts to assign to those variables

[2017-02-02 21:03] danielo515 commented on #2047
Thanks for the extra info. From your apologies I deduct that I'm not the only one confused about this. Just make sure that everybody knows about the issue and the solution.

Thanks for this great project

[2017-02-02 21:40] STRML commented on #5149
Did you try the code from the PR? I have compiled your repro [and it seems fine](https://gist.github.com/STRML/7c1fecc018be319cfe57d5dec24226fb), unless I'm missing something in the noise.

[2017-02-03 01:56] sompylasar opened #5259 "When Babel cache gets too big, an exception "TypeError: Method Uint8Array.length called on incompatible receiver" is thrown from `fs.writeFileSync`"
This issue: https://github.com/babel/babel/issues/2678 (Babel cache errors when it gets too big)
was improperly fixed via this commit: https://github.com/babel/babel/commit/8ffc7012ccb00e6ab615c55d9911841efb54154a
which worked around the original error but introduced a different error:
[code]
which gets thrown from `fs.writeFileSync`: https://github.com/nodejs/node/blob/v4.7.0/lib/fs.js#L1161

The

[2017-02-03 07:28] xtuc commented on #5259
Good catch :+1: This would have catch using Flow annotations I think. I will make a PR for that.

[2017-02-03 09:42] slorber commented on #5149
@STRML yes that's what I explain in my previous comment: I have tested your PR and I am still unable to start my app, due to a single file. I've posted a gist to this file unmodified so that you might be able to see where the problem come from. If you want I can try to get a smaller repro case

[2017-02-03 09:44] slorber commented on #5149
Maybe I've not tested correctly, I'll try again because your output seems fine. I'll see if I get the same output as you do.

[2017-02-03 09:46] slorber commented on #5149
@STRML I've just pasted your babel output to my app and it seems to work, so it's probably my test that was not good.

[2017-02-03 11:48] STRML commented on #5149
Okay; then this is okay to mark as fixed by #5153 and let's get it merged.

[2017-02-03 11:51] pronebird opened #5261 "Setting sourceMaps option only works for inline SMs"
This is my .babelrc

[code]

However when running babel source maps are not being generated:

```babel app/ --copy-files --out-dir build```

Adding `--source-maps true` to CLI tool forces SMs to be generated. Is it a bug?

[2017-02-03 14:03] olivierbeaulieu commented on #5257
Ah, I should have noticed the REPL was adding a strict statement. Good answer, thank you for your time! I believe we can close this issue now.

[2017-02-03 14:03] #5257 closed

[2017-02-03 14:10] STRML commented on #5149
If you would, please keep this open until #5153 is merged (as it is not yet fixed in `master`).

[2017-02-03 14:12] slorber commented on #5149
so I'm not sure what do you want me to do :) I'll let this open until the PR is merged

[2017-02-03 15:53] fatcerberus opened #5262 "Babel transpiles hoisted function to function expression"
At least in some cases Babel seems to transpile fully hoisted function definitions into function expressions assigned to a hoisted `var`.  This changes the meaning of the code and sometimes causes difficult-to-diagnose bugs.

### Input Code

(Full disclosure: Yes, I know this code is questionable to begin with as it conditionally defines a hoisted function.  It's not my code, though, so I have no

[2017-02-03 17:09] loganfsmyth commented on #5262
Would you be able to clarify what specific case is breaking? I have a guess, but it is hard to verify with your snippet. Is the code specifically relying on the function declaration being available outside the `if` statement?

[2017-02-03 17:19] loganfsmyth commented on #5091
Is the proposal here that this call a local `babel-core` or a local `babel-cli`? I don't think I'd want it to have any knowledge of `babel-core` at all, since then we're way more likely to run into versioning mismatches, whereas if it proxies through to a local `babel-cli` things will likely work alright.

I'd be in favor of printing a message, we'll just have to make sure that we disable the mess

[2017-02-03 17:35] sindresorhus commented on #5091
Call the local `babel-cli`.

[2017-02-03 17:45] fatcerberus commented on #5262
The code in question is a polyfill for older Sphere versions.  As noted it's not strictly correct because of hoisting, but ends up working anyway because the function definition is hoisted in its entirety.  Babel transforms it to a var statement, which means the function is now conditional (as originally intended) but the identifier binding is *not* due to hoisting, introducing a bug in the transp

[2017-02-03 17:55] loganfsmyth commented on #5262
Sorry, I'm having a hard time following what you're describing, could you make a standalone example that makes it clear what you are seeing vs what you expect?

[2017-02-03 17:58] fatcerberus commented on #5262
`DoesPersonExist()` is a native function provided by the Sphere platform.  The snippet is supposed to provide it for old versions that don't include it, but (due to hoisting) accidentally provides it for all versions.  Babel's transformation results in it the native function being shadowed by a hoisted `var`.

[2017-02-03 18:04] DrewML commented on #5081
@jwbay don't think you're stepping on any toes. We're all pretty busy so contributions are greatly appreciated 😃

[2017-02-03 18:17] loganfsmyth commented on #5262
The existence of the `var` shouldn't hurt anything as long as the assignment inside the `if` doesn't run, as far as I'm aware.

I think at this point, I can still give you an answer. Pre-ES6, function declarations were not allowed in `if` statements officially. Some JS environments allowed them anyway, with each environment implementing slightly different behavior for the edge cases.

When ES6 bec

[2017-02-03 18:32] fatcerberus commented on #5262
The problem specifically with the transformed code is that the `var` gets hoisted but the function does not, leading to it being `undefined` in environments that don't need the polyfill.

[2017-02-03 18:54] loganfsmyth commented on #5262
As I said, that is my guess based on what you've given me. I'm going to need a reproducible snippet of code that I can run to understand the issue, if we're going to make more progress. I understand what you are saying, but I disagree with your conclusion, so we need an example.

For example, in Node running

[code]

errors with `TypeError: fn is not a function` even though there is no `var fn`.

[2017-02-03 19:36] fatcerberus commented on #5262
I understand.  I'll try to come up with a repro case later (I'm not near a computer at the moment), but does it matter that the function is defined in global code?  Node runs everything as a module, so under the hood even "global" code is actually part of a function body there.

[2017-02-04 01:08] fatcerberus commented on #5262
Okay, so I did some more digging.  Given the following (note: indirect eval is used to emulate global code because otherwise Node runs everything in function context):

[code]

Node outputs:
[code]

In other words, the function is not hoisted out of the `if` block.  When the code inside the eval is passed to Babel, using the .babelrc provided above, it gets transformed to:
[code]

However, Node ou

[2017-02-04 05:49] loganfsmyth commented on #5262
I think the right answer here is to not run that file through Babel. Playing around with Duktape, take a look at [this example link](http://duktape.org/dukweb.html#%0Avar%20global%20%3D%20new%20Function('return%20this')()%0A%0Aglobal.fn%20%3D%20function()%7B%20print('global')%3B%20%7D%3B%0A%0Aif%20(false)%20%7B%0A%20%20%20%20function%20fn()%7B%20print('if')%3B%20%7D%0A%7D%0A%0Afn()%3B), this snipp

[2017-02-04 05:52] fatcerberus commented on #5262
What's curious to me is that the global function is *not* shadowed in Node, even with the `var` version.

[2017-02-04 05:56] loganfsmyth opened #5266 "Consider implementing Annex B.3.3 block scoping and keep behavior in mind"
Kind of filing this as a general reminder. Annex B.3.3 extends ES6's rules for block-scoped declarations, for web compatibility. A few examples can be found in https://github.com/babel/babel/issues/5262

While not strictly needed, Babel's transforms are increasingly being run on all kinds of JS files and running the block scoping transform on code that was written to use B.3.3 behavior can in some

[2017-02-04 05:58] loganfsmyth commented on #5262
I'd have to dig into the spec to remember how things are supposed to interact around `eval`, it probably adds additional weirdness.

[2017-02-04 05:58] fatcerberus commented on #5262
Agreed, I just wanted to figure out what was going on.  The code in question seemed wrong to me from the start :-)

[2017-02-04 06:00] loganfsmyth commented on #5262
Yeah, if you didn't see, I filed an issue above ^ for us to track this particular case. I don't know that we'd implement it any time soon or ever, but it's at least something to keep in our list.

[2017-02-04 06:03] fatcerberus commented on #5262
Out of curiosity though, is there a reason Babel transforms the function definition into a function expression in the first place?  That changes the hoisting behavior in any case so it seems like kind of an odd transformation to do.

[2017-02-04 06:17] loganfsmyth commented on #5262
If it left it as a function declaration, the code could throw an exception in an ES5 environment, because support for function declarations inside `if` blocks wasn't part of the ES5 spec. It needs to convert it to an expression in order to be sure the code will not be considered a syntax error.

[2017-02-04 06:19] fatcerberus commented on #5262
Ah, that makes sense.  Anyway, since there's nothing for Babel to fix here, I'll close the issue.  Thanks!

[2017-02-04 06:19] #5262 closed

[2017-02-04 10:42] varemenos commented on #5091
Sorry for the delay with this issue, I've had some personal issue the past few days.
Yep I misunderstood the purpose of the issue... Alright so, I'll replace the invocation from babel-core to babel-cli and add log a message when babel's is not set up to output transpiled output to stdout.

Are there any conflicts between this issue and #5258?

[2017-02-04 12:03] shubheksha commented on #5198
What about the `BABEL_CACHE_PATH` variable? Currently the default with the fall back being implemented as a JSON file. Will that logic be removed completely?
https://github.com/babel/babel/blob/master/packages/babel-register/src/cache.js#L6

[2017-02-04 12:14] shubheksha commented on #5198
Also, I guess I'll have to write a couple of tests for this package? I couldn't find any in it's folder. I'd appreciate any guidelines to get started.

[2017-02-04 16:38] hex13 opened #5267 "access to all child scopes of given scope?"
Now each scope object has `parent` variable for accessing parent scope.
So. If you have scope object, you can traverse up by accessing `path.scope.parent`.

But how to access child scopes in similar way?

I would like to be able traverse whole scope tree by for example `path.scope.childScopes`

So I propose adding `childScopes` property to the Scope class:
[code]

That would make easy analysing fi

[2017-02-04 19:06] loganfsmyth commented on #5091
I don't think there are any conflicts, I wouldn't worry about it.

[2017-02-04 19:08] loganfsmyth commented on #5267
While that may work for static trees, it's going to be a pain to keep that updated as the tree is modified. We already don't do a good job of updating side data structures like `Scope` during AST mutation, I'm a bit hesitant to add more things we'd need to keep synchronized.

[2017-02-04 21:19] Kushan- commented on #5006
Hi i am getting the same error although i have the preset module installed i am still stuck.
![webpack error
![installed module](https://cloud.githubusercontent.com/assets/10103331/22621618/a3fab290-eaf5-11e6-8bd7-891a527bad0d.png)
](https://cloud.githubusercontent.com/assets/10103331/22621610/861ebfa0-eaf5-11e6-94d4-7461505f9951.png)

[2017-02-04 21:23] loganfsmyth commented on #5006
@Kushan- What is in your `rest-server/src/.babelrc` file?

[2017-02-04 21:27] Kushan- commented on #5006
it's at the root level

I updated my post, to fix the error

![screenshot from 2017-02-04 16-27-03](https://cloud.githubusercontent.com/assets/10103331/22621660/cdbd7742-eaf6-11e6-8c2b-b3f3fefbdec8.png)

[2017-02-04 21:30] loganfsmyth commented on #5006
The error is saying your `rest-server/src/.babelrc` file has an error in it. Your webpack configuration is in the root, but that will use Babel's configuration from the `.babelrc`.

[2017-02-04 21:36] Kushan- commented on #5006
okay, i found it.. Sorry this is my first time setup.. thank you so much

[2017-02-04 22:07] babel-bot opened #6702 "Error Recovery"
Right now whenever Babylon comes across a syntax error it immediately throws an error and tosses out the AST. While this is okay for a compiler pipeline where we want don't want to attempt transforming a broken AST, it's not okay for other types of tooling.

For example, there's plenty of tooling that needs to run in your editor while you are typing. If you are in the middle of typing code, you of

[2017-02-05 00:53] OracPrime commented on #4911
The + (/^win/.test(process.platform) ? '.cmd' : ''); fix is great inside a js file.  However is there a way to make something like BABEL_PATH apply to scripts inside package.json files?  It's causing problems over at https://github.com/yahoo/react-intl/issues/821

[2017-02-05 05:53] loganfsmyth commented on #4911
I'm not sure what you mean about inside `package.json`?

[2017-02-05 08:20] fatcerberus commented on #5262
It turns out there was nothing wrong with Babel's transformation even for this questionable legacy code.  The cause of the error in my case was a hoisting bug in Duktape - a hoisted `var` at top level overwrites any global binding with the same name.  That doesn't happen in Node.

[2017-02-05 12:06] OracPrime commented on #4911
For example, one of the projects I'm working with has a scripts entry
  "scripts": {
    "clean": "../../node_modules/.bin/rimraf build",
.... other scripts removed
}
where they are using the local node_modules to be certain they know which version they're using.  However, on windows this fails.   A script entry of "rimraf build" works correctly, but once you specify the explicit path you need to

[2017-02-05 19:20] boneskull commented on #5085
@hzoo With use in Node.js, if the module which requires `babel-polyfill` *also* contains a top-level `async` function, loading the module will fail with a `ReferenceError`, because the function is moved *before* the call to `require('babel-polyfill')`.

The only workaround I've found is to relocate the code containing the `async` function into a separate module, and `require` it after `babel-polyf

[2017-02-05 19:57] loganfsmyth commented on #4911
Gotcha. Yeah, seems like just the pain of combining Windows + POSIX. I don't know if there is any standard way to do that.

[2017-02-05 19:58] loganfsmyth commented on #5085
Yeah generally I recommend

    import 'babel-polyfill';
    import './app';

to initialize everything.

@boneskull Keep in mind that don't recommend that libraries load `babel-polyfill`. Better to use `transform-runtime` for library usecases.

[2017-02-05 20:00] xtuc commented on #5198
I think the cache location should still be overridable (`BABEL_CACHE_PATH`).

I tried to add some tests ([there](https://github.com/babel/babel/pull/5260/files#diff-0487592203c69bc80889d59b04ddbba4)).

[2017-02-05 20:05] OracPrime commented on #4911
I think there may be a way of doing it with cross-env - I'm raising an issure there that might sort it...

[2017-02-06 07:28] shubheksha commented on #5198
@xtuc & @hzoo, does this look right?
`var FILENAME = process.env.BABEL_CACHE_PATH || findCacheDir({ name: 'babel-register' }) || os.tmpdir();`

I'll wait for #5260 to land before writing tests for this patch.

[2017-02-06 10:31] Shadowman4205 opened #5268 "I have this error, how solve it?"
ERROR in ./~/babel-core/lib/helpers/resolve.js
    Module not found: Error: Cannot resolve module 'module' in ......\node_modules\babel-core\lib\helpers
     @ ./~/babel-core/lib/helpers/resolve.js 34:14-31

[2017-02-06 14:12] hzoo commented on #5198
Yeah 👍 (dono if we really want to support `BABEL_CACHE_PATH` anymore but just so it's one less thing to break we could keept it).

[2017-02-06 15:29] erikdesjardins opened #5269 "Parens are not emitted for await of ternary expression"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Possible Solution
Opening a PR momentarily...

[2017-02-06 15:55] hzoo opened #5271 "Make babel-node a standalone package (similar to babel-register)"
https://unpkg.com/babel-node@6.5.2/message.js

This would be similar to how we used to have `babel-core/register` -> `babel-register`

I guess we don't have to remove `babel-node` from babel-cli unless we want to make that breaking change..

cc @JonnyBurger (can you transfer me the npm package (@hzoo))

---

- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUTING

[2017-02-06 17:06] #5269 closed

[2017-02-06 18:30] #5228 closed

[2017-02-06 19:00] hex13 commented on #5267
Well. I understand your concerns. For plugins which modify tree and want to have access to scope this could raise some problems.

But for me this won't be a problem, because I will reparse files after each modification.

So for purpose of what what I'm doing* I will make fork.

But I have 2 more questions:
- I will probably modify only `babel-traverse` package. What would be better (for purpose of

[2017-02-06 23:10] hex13 opened #5272 "confusing comment in babel-traverse/src/scope/index.js"
https://github.com/babel/babel/blob/b845f2b69dc2f9548caaf58bd9396da2feb144cc/packages/babel-traverse/src/scope/index.js#L79
comment says
[code]
the problem is that currently there is no such thing in code like `blockVariableVisitor`.
There it was back in time: https://github.com/babel/babel/blame/f7186980e5c4de00e3dfe503cc856ad24cb1fb8c/src/babel/traversal/scope.js#L425

But now it seems that func

[2017-02-06 23:28] hex13 commented on #5272
I made PR for this.

[2017-02-06 23:33] chitchu commented on #5271
Hi @hzoo,

If you don't mind I can pick this up.

[2017-02-07 00:15] loganfsmyth commented on #5267
This still doesn't seem like it needs to be part of `babel-traverse`, you can traverse to get all of the information you want, relatively easily.

[code]

seems like it would work, for instance.

[2017-02-07 00:17] #5272 closed

[2017-02-07 00:18] chitchu commented on #5271
Would it be better if the target package is `babel-cli`?

And before I make the pull request. This what the `babel-node` folder looks like. Did I miss anything?

[code]

[2017-02-07 00:46] traviskaufman commented on #5086
Haven't forgotten about this, just been v. busy :) Hopefully will have time this weekend to take it on!

[2017-02-07 11:37] tommytroylin opened #5274 "transform-runtime plugin inject 'import' statements and break the whole file"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]
[code]

### Current Behavior
[code]

### What's wrong
when using babel with
[code]
It adds `import` statements in transformed file which will crash in node and browsers.

### Your Environment
| software         | version
| ---------------- | -------
| Babel            | ^6.21.0
| node             | 6.9.2
|

[2017-02-07 11:53] chitchu commented on #5261
I don't think it's a bug. Based from the [api docs](https://babeljs.io/docs/usage/api/), setting the `sourceMaps` to `true` means that `babel.transform` will return the generated code along with a `map` property.

[2017-02-07 11:55] pronebird commented on #5261
@chitchu so `--source-maps true` behaves different from corresponding option in `.babelrc`?

[2017-02-07 12:34] chitchu commented on #5261
Not entirely. Setting `--source-map (true|inline|both)` overwrites the `sourceMaps` config you set in your `.babelrc`. But only through the cli can you have external source maps (Not sure why).

For reference here's are the files responsible for writing sourcemaps:
* `--out-dir` [dir.js](https://github.com/babel/babel/blob/bda0d5cc68146b15f99ab91e69326df802bc726c/packages/babel-cli/src/babel/dir.j

[2017-02-07 13:47] talarari commented on #2515
hey, any update on this?
source maps are incorrect so debugging doesn't work well, see
Microsoft/vscode#19973

[2017-02-07 14:48] hzoo commented on #5271
Yeah good idea

Right, whatever is necessary to make it work on it's own. Can check that the necessary deps are in package.json since you might not need everything.

So this means you probably don't need src/babel/* or babel-external-helpers.js, and you'll want the bin folder https://github.com/babel/babel/blob/master/packages/babel-cli/bin/babel-node.js + add bin in package.json

[2017-02-07 15:21] vkbansal opened #5275 "Unexpected env option behaviour"
### Babel Configuration (.babelrc, package.json, cli command)
This config does not work.
[code]

But, this config works.
[code]
Code in action:

Failing build:
https://travis-ci.org/vkbansal/react-contextmenu/builds/199246315

Working build:
https://travis-ci.org/vkbansal/react-contextmenu/builds/199253625

[2017-02-07 15:39] fatcerberus commented on #4920
I've noticed there are a few constructs for which `retainLines` glitches out.  The ones I've found so far:
* Generator functions
* Classes with accessors (get/set): The methods are placed in the correct position, but the accessors get appended to the end instead of staying where they are in the source.

[2017-02-07 15:55] hzoo commented on #4980
I'd rather we go with a js file instead of supporting YAML so closing in favor of https://github.com/babel/babel/pull/4892

We can have a distinction between dynamic configs = JS and static configs = JSON

[2017-02-07 15:55] #4980 closed

[2017-02-07 16:00] montogeek commented on #5268
@Shadowman4205 Can you please post your Babel config?
Probably is just a typo when requiring the module

[2017-02-07 16:17] #5223 closed

[2017-02-07 16:19] #4783 closed

[2017-02-07 16:30] hzoo opened #5276 "[7.0] Deprecate env option in .babelrc"
~~## EDIT: We're just going to deprecate now~~
## Fixing merge behavior instead

Original issue details:
<details>
http://babeljs.io/docs/usage/babelrc/#env-option

some env issues: https://github.com/babel/babel/issues/5275, https://github.com/babel/babel/issues/4539, https://github.com/babel/babel/issues/4013, https://github.com/babel/babel/issues/4817

[code]

Options specific to a certain envi

[2017-02-07 17:03] jharris4 commented on #5276
```drop the env option entirely and recommend using .babelrc.js using a combiation of ternaries + process.env manually```

Is the idea here to support a `.babelrc.js` file that works the same way as the existing `.babelrc` file?

[2017-02-07 17:04] hzoo commented on #5276
Yeah https://github.com/babel/babel/pull/4892 (added to the description) - it's the same thing

[2017-02-07 17:06] xtuc commented on #5276
Yes, the config would be moved there. You will have then the ability to write JavaScript.

[2017-02-07 17:08] danez commented on #5276
The more I think about this, the more I like it. We could even remove .babelrc  support completely and only support the js variant? 😈

[2017-02-07 17:25] jharris4 commented on #5276
I like the idea of `.babelrc.js`, but this might not be compatible with having a babel config inside `package.json`.

I'd hate to see that feature be dropped, because it's very convenient to be able to specify & maintain babel plugins and their associated package dependencies all in one file.

The other bonus of using a babel config in `package.json` is that it doesn't have the side effect that `.

[2017-02-07 17:32] jharris4 commented on #5276
Also, just to chime in about the ```only allow a development, production, profiling env options``` idea, I think this might be a bit too limiting.

Several of our projects make use of custom `env` values, such as `es` (to support separate builds in the `jsnext:main`/`module` format) and `test` (to support custom plugins like `babel-plugin-rewire` that should **only** ever be included when building

[2017-02-07 17:34] hzoo commented on #5276
It should still because it reads from either babelrc/package.json - you would use `babelrc: false` to prevent that.

[2017-02-07 19:04] jacobbogers opened #5277 "after update, babel ignores typescript files in local src/node_modules,."
Typescript files in local node_modules is not compiled anymore after an npm update, why is that?

I submitted this issue first with typescript (see link below) but they have proven it is not a tsc problem it is a babel problem
https://github.com/Microsoft/TypeScript/issues/13929

The project to reproduce the issue is  (npm install and 'gulp ts')
https://github.com/jacobbogers/donorfind

### Input

[2017-02-07 19:38] loganfsmyth commented on #5277
This seems unlikely to be a Babel bug. You don't even have `babelify` loaded in your Browserify config.

My guess would be it is because of your weird setup with `src/node_modules`, why are you putting files inside a `node_modules` directory? `tsify` is probably skipping that file entirely because it is inside a folder named `node_modules`.

[2017-02-07 19:44] loganfsmyth commented on #5277
You can verify by changing

    .plugin(tsify)

to

    .plugin(tsify, {global: true})

since that will tell Browserify to process files inside node_modules folders.

[2017-02-07 20:50] thanatos opened #5278 "Babel's color detection uses stdout for stderr output"
When Babel outputs errors, it occasionally does beautiful syntax highlighting on the problematic section. Many programs that do this check if they're writing to a terminal prior to outputting color code, typically with a call to `isatty`. Babel appears to make this check, but appears to check whether *stdout* is a TTY prior to writing to *stderr*.

In particular, the following command, which outpu

[2017-02-07 22:09] smartynov commented on #4549
Still struggling with this bug. Any chance to fix it?

I experimented a bit with https://babeljs.io and found somewhat minimum [code to reproduce the bug](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&experimental=false&loose=false&spec=false&playground=false&code=function%20f%20(a)%20%7B%0A%20%20switch%20(a)%20%7B%0A%20%20%20%

[2017-02-08 00:29] nbrady-techempower commented on #4911
I'm interested in this as well. For now I just have this in my `package.json` as a quick work around for when I'm on my windows box:
[code]

[2017-02-08 04:12] montogeek commented on #5197
Can I work on this?

[2017-02-08 08:13] OracPrime commented on #4911
In fact it's easy don't try to do any path manipulation with cross-env, just put cross-env before the command

"scripts": {
    "start": "cross-env ./node_modules/.bin/babel-node server.js",
}

Will work on both

[2017-02-08 08:20] sateffen commented on #4198
*bump* - Still not merged, even though the merge-requests looks good. This is an anoying bug when using babel with d3.

[2017-02-08 11:37] pronebird opened #5281 "Transpile dependent files"
Hi,

I use a plugin that enables to require CSS in javascript, so basically when required it's transpired into JS dictionary with keys that point to CSS classes. At the same time CSS file is being compiled on disk.

The problem I face is to keep both CSS and JS files in sync, i.e if CSS file is being changed on disk, I'd like to find all files that require it and recompile them.

Is there any way

[2017-02-08 12:10] codeuniquely opened #5282 "IE8 Expected identifier - BlueBird Promise"
IE8
Babel Version 6.13.2
BlueBird Version 3.4.7
WebPack Version 1.13.2

The Bluebird Promise library runs successfully in IE7/8 but specifically has the following line of code that is causing and issue after using WebPack / Babel JS to transpile the project code..

We include the bluebird promise library and the following line function exists in the library:
[code]

but after generating the code f

[2017-02-08 14:06] nkashyap commented on #5213
The purpose of async/await functions are  to simplify the behavior of using promises synchronously and to perform some behavior on a group of Promises. Just like Promises are similar to structured callbacks, async/await is similar to combining generators and promises.

[code]

is same as

[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function

If your `

[2017-02-08 15:09] hzoo commented on #5281
This seems kind of out of scope for babel itself (--watch is useful for just basic tasks), I would recommend using something like gulp/webpack to handle these issues

[2017-02-08 15:11] hzoo commented on #5282
Can join our slack ^ in the future for support questions

You shouldn't need to transpile Bluebird? I would just require the library and babel won't need to do anything do it since it would be touched at all. If you really have to you can add http://babeljs.io/docs/plugins/transform-es3-member-expression-literals

[2017-02-08 15:11] #5282 closed

[2017-02-08 15:11] #5281 closed

[2017-02-08 15:36] hzoo commented on #5268
There's not enough info here to help, please join the slack or paste relevant reproduction information  for us to debug

[2017-02-08 15:36] #5268 closed

[2017-02-08 15:37] #5204 closed

[2017-02-08 15:39] hzoo commented on #5217
So gzip/minify `babelHelpers` doesn't do anything since it's global?

[2017-02-08 15:43] buzinas commented on #5217
Yeah, that's right. But found a way to use Webpack Provide plugin to inject babelHelpers into each module, and then UglifyJS could rename it :)

Although, since it's a pretty simple change, it could help other people that don't use Webpack.

[2017-02-08 16:00] rafayepes commented on #5217
@buzinas do you have an example setup?

[2017-02-08 16:08] hzoo commented on #1829
Updates with this stuff:

- Babel can take in a different parser/generator including both recast/prettier for codemods
- Babylon will have an ESTree plugin soon (so we can remove a lot of the AST node checking in babel-eslint https://github.com/babel/babylon/pull/277

[2017-02-08 17:40] hzoo opened #5283 "[7.0] move legacy-decorators into the repo, replacing current decorators"
https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy

Basically since the [current decorators transform](https://github.com/babel/babel/blob/f8ffe03e79d95b2b9ed3481dbb3e90b76c536d90/packages/babel-plugin-transform-decorators/src/index.js#L74-L86) throws an error, we should just move the implementation (even though it's the older stage-1 spec) into the babel repo. We'll do this i

[2017-02-08 18:24] alxpy commented on #5283
@hzoo I'd like to work on this

[2017-02-08 18:49] loganfsmyth commented on #5213
The error is thrown from inside `babel-plugin-component`, so it seems likely to be an edge-case that the plugin fails to handle. That plugin is not something we maintain. I'd recommend filing the issue there.

[2017-02-08 18:51] loganfsmyth commented on #5274
Definitely a bug, it's a pain unfortunately. Currently tracked in https://github.com/babel/babel/issues/2877

[2017-02-08 18:51] #5274 closed

[2017-02-08 20:19] hzoo commented on #5283
Sounds good! I would recommend checking out our [slack community](https://slack.babeljs.io/) if you need help (or comment here)

[2017-02-08 20:49] xtuc commented on #5198
@shubheksha The PR has been merged. Don't hesitate to tell me if anything is wrong with the tests.

[2017-02-08 21:18] xtuc commented on #5259
Closed in #5260. Feel free to reopen this issue.

[2017-02-08 21:18] #5259 closed

[2017-02-09 06:52] sudo-suhas commented on #5213
Okay. Thank you.

[2017-02-09 06:52] #5213 closed

[2017-02-09 08:48] shaunxu opened #5284 "Class method is not a function when inherits from Error"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
It should display
[code]

### Current Behavior
It reports an error said
[code]

This can also be repo-ed in Try-it page in babel site.

### Possible Solution

### Context

### Your Environment

| software         | version
| ---------------- | -------
| Babel            |  6.22.1
|

[2017-02-09 10:21] nikosandronikos opened #5285 "babel-preset-es2015 generating failing code for es6 mixin"
### Input Code
See https://github.com/nikosandronikos/babel-issue for a minimal test case

The following construct results in class `A` having no methods on it's prototype when built with babel-preset-es2015.
[code]

### Babel Configuration (.babelrc, package.json, cli command)
No .babelrc.
package.json and other configuration available at repository linked above.

### Expected Behavior
The follow

[2017-02-09 13:51] danez opened #5286 "[7.0] Change ForAwaitStatement node type to match ESTree"
Ref https://github.com/estree/estree/pull/138

Original PR: https://github.com/babel/babylon/pull/17
Babylon PR: https://github.com/babel/babylon/issues/348

---
- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] Check you are on 7.0 branch with `git checkout 7.0` and then make a branch of

[2017-02-09 15:53] aweary commented on #5286
@danez I'd love to follow up on https://github.com/babel/babylon/issues/349 and do this as well.

[2017-02-09 16:47] JD342 opened #5287 "Async functions are not hoisted in SystemJS modules"
### Input Code

##### a.js
[code]
##### b.js
[code]

### Babel Configuration (.babelrc)

[code]

### Expected Behavior

[code]

### Current Behavior

[code]

### Possible Solution

Current compiled output for `a.js` looks like this:
[code]

Maybe the assignment `example = ...` should be done before invoking `_export("x", ... )`

### Context

As you can see, I'm trying to declare an asynchronous fu

[2017-02-09 21:04] #5081 closed

[2017-02-09 21:06] #5022 closed

[2017-02-09 21:11] loganfsmyth commented on #5249
Closing due to lack of feedback. Feel free to re-open, but we'll need an example that demonstrates the issue clearly.

[2017-02-09 21:11] #5249 closed

[2017-02-09 21:19] SerkanSipahi commented on #4968
@loganfsmyth see: https://astexplorer.net/#/YD25zHTNWd/6
1.) It works in babylon
2.) In usage as plugin with babel it will never call visitor.Decorator

[2017-02-09 21:22] loganfsmyth commented on #4819
Generally when using `babel-register` you'll want to pass it `ignore: /node_modules/` so that it does not process any of your dependencies.

[2017-02-09 23:44] melbourne2991 commented on #4982
Getting the same error as @brokenalarms, also using babel/register for tests (with jasmine). Oddly it only started breaking when I added the "only" option to babel, I also tried the "ignore" option which had the same effect.

[code]

package.json
[code]

[2017-02-10 00:34] maxcountryman commented on #4414
Is there no way to turn this off? This is obstructive behavior for some use cases.

[2017-02-10 00:41] loganfsmyth commented on #4414
@maxcountryman Do you have a specific case in mind where this causes problems?

[2017-02-10 00:44] maxcountryman commented on #4414
@loganfsmyth yes: I have an object which maps properties to anonymous functions. It's important those functions rename anonymous (unnamed). In my case this is because these objects are converted to JSON and later eval'd.

The other point to make here is this is surprising because Babel/ES6 is taking one representation (anonymous functions) and turning into another (named functions)--generally this

[2017-02-10 00:50] loganfsmyth commented on #4414
Could you elaborate on why having a name ends up affecting the serialization and evaluation? Very little is guaranteed about `.toString()` on a function, so I'd be tempted to say you should be checking and excluding the name specifically in your serialization code if you need them anonymous.

[2017-02-10 00:53] maxcountryman commented on #4414
@loganfsmyth `toString()` is not an issue for what I'm doing and orthogonal to my previous points.

You cannot `eval` and execute a named function without knowing its name--these names are generated (by Babel) and unknowable where the code will be executed. Anonymous functions are returned by `eval`.

[2017-02-10 01:20] loganfsmyth commented on #4414
You can't eval an anonymous function either, `eval('function(){}')` throws a parse error, and `JSON.stringify` skips functions because there is no JSON function representation, that's why I'm asking for an example.

It sounds like whatever you're using to serialize, transmit, and then eval the function, should be handling this for you, or if you're rolled your own, then it should really support na

[2017-02-10 01:24] maxcountryman commented on #4414
@loganfsmyth you most certainly can:

[code]

I'm not really sure what the confusion here is but allow me to reiterate: it is highly suspect to change the representation of something in translation.

[2017-02-10 01:29] loganfsmyth commented on #4414
And your example code works the same with a name

    'foo'

Changing code to match ES6 semantics is Babel's entire job. The source of conflict here is, you say "representation of something", but functions have no representation other than a function object itself, and that is unaffected by whether the function has a name or not. If you're sending a function over the wire to eval it somewhere, tha

[2017-02-10 01:33] maxcountryman commented on #4414
`.toString` is completely orthogonal to this discussion: please drop it.

Babel does what the original issue states, which is to change anonymous, unnamed function, into a named one.

Because this **changes the representation** this behavior should be configurable.

[2017-02-10 01:43] loganfsmyth commented on #4414
I feel like this is getting more heated than I intended, sorry.

Babel changes the function from an anonymous function expression to a named function expression. It does not however change it into a function declaration, which I think is what you're describing about `eval`?

This is at the core if what I'm asking. What do you mean by representation? Given a snippet like

[code]

If changing the fu

[2017-02-10 16:43] loganfsmyth commented on #4968
On my machine:
[code]

[2017-02-10 17:13] redonkulus commented on #4418
@hzoo is this something that will be fixed in babel@7 or can be done before hand?

[2017-02-10 20:34] hughrawlinson opened #5295 "Clarify type of 'plugins' in options obj"
Lil' documentation issue [here](https://github.com/babel/babel/blob/160bd3924bcd36a714f70f57ceaf5959d7ccdb49/packages/babel-core/README.md#options). The 'options' object contains a property called 'plugins', which is described as 'List of plugins to load and use'. It'd be really great to clarify whether this means 'a list of plugin names that babel will use' or 'a list of required plugin objects t

[2017-02-10 20:37] hzoo commented on #5295
Cool, yeah it takes in a few things but most likely you will just pass in a string.

[code]

[2017-02-10 20:39] hughrawlinson commented on #5295
@hzoo looks like it also takes in the instantiated plugin object as well 😄 If there's a category of types it accepts, it'd be really nice to document them. I'd do the PR myself, I just don't know what that category contains.

[2017-02-10 20:43] hzoo commented on #5295
Yeah I believe it would be those 3 - string, array (options), function, object https://github.com/babel/babel/blob/75ac320cf7b763a438afabb354820fe4806d5df4/packages/babel-core/src/transformation/file/options/option-manager.js#L106 - that part is rather confusing so not sure myself!

[2017-02-10 21:31] aweary commented on #5286
@danez is there a recommended way to integrate the changes made to babylon https://github.com/babel/babylon/pull/349? The version that `babel-core` depends on still generates the `ForAwaitStatement` node and I think that might be giving me trouble with the tests.

[2017-02-10 21:32] hzoo commented on #5286
Separately, babylon should just be in the monorepo to prevent this kind of issue! We just need to release a 7.0 prerelease and change 7.0 to depend on that

[2017-02-10 21:34] existentialism commented on #5286
@aweary you can [link them locally](https://github.com/babel/babylon/blob/master/CONTRIBUTING.md#cross-repository-changes)

[2017-02-11 07:21] kt3k opened #5297 "babel-cli doesn't use .babelrc when the source code are given from stdin"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)
[code]

### Expected Behavior
[code]
### Current Behavior
When passing filename as a cli arg, it uses .babelrc and it's transpiled as expected, but when passing the source code as stdin to babel-cli, then it doesn't use the settings of .babelrc.

What I did is like the following:
[code]

### Context
Making tempora

[2017-02-11 13:36] SerkanSipahi commented on #4968
@loganfsmyth hmmm, strange ! which version (babel) do you use? its over 2 month ago that i posted this issue. In the meantime i solved it differently. Over ClassDeclaration im looking for decorators.

[2017-02-11 14:45] xtuc commented on #5297
Yes, i can reproduce it.

workaround you can use temporary:
[code]

[2017-02-11 17:13] rightaway commented on #3930
How could I use the workaround `SuperClass.prototype.method.call(this)` if the method I'm trying to call is async and I want to await it? Without this bug I would do `await super.myfunction()` (`myfunction` is `async`).

[2017-02-11 19:27] loganfsmyth commented on #4418
I think one of the questions here is, does changing `babel-runtime` even make sense, or should we have a separate runtime module that is the same format, but skips the dependency on `core-js`? Even of we make duplicates of all of the helpers in `babel-runtime` with the duplicates referencing globals, you'd still have to require all of your users to install `core-js` since it'd be in the dependency

[2017-02-11 19:33] loganfsmyth commented on #4968
it could potentially have been an issue if you were also using `transform-decorators-legacy`? The only reason I'd expect something like that to not run is if the node was removed and transformed by something else first.

[2017-02-11 19:40] loganfsmyth commented on #5297
See previous discussion in https://github.com/babel/babel/issues/3808.

To me this seems like expected behavior because the `.babelrc` is resolved relative to the file being compiled, so if there is no file, it has no way of knowing where to look. Take for example

    .babelrc
    src/.babelrc
    src/index.js

If a user runs

    babel src/index.js > lib/out.js

we use the `.babelrc` inside `src

[2017-02-11 20:08] SerkanSipahi commented on #4968
exactly, It occurred while using `transform-decorators-legacy`. What to do now?

[2017-02-11 20:21] loganfsmyth commented on #4968
You likely needed to swap the ordering of the two plugins in your `.babelrc`.

[2017-02-11 20:27] SerkanSipahi commented on #4968
this is the ordering (in preset). Is that wrong?
[code]

[2017-02-11 20:36] loganfsmyth commented on #4968
Oh you know what, I was wrong, I don't think either ordering will work. Your approach of traversing for the class first then processing the decorators is indeed what I would recommend.

For what it's worth, I totally hear you that this is frustrating, in the future we're hoping to change up the API to make things like this less confusing.

[2017-02-11 20:40] SerkanSipahi commented on #4968
@loganfsmyth its ok. You guys are so awesome. Thanks for all (babel, babylon, etc) :)

[2017-02-11 20:48] SerkanSipahi commented on #4968
@loganfsmyth i think you can close this issue

[2017-02-11 21:11] #4968 closed

[2017-02-11 21:53] paulondc commented on #3930
@rightaway, take a look at the description: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function

[2017-02-11 22:22] taion commented on #4418
It should be a separate package.

If you are actually using the runtime transform to insert polyfills, then you want the `babel-runtime` helpers that also reference the polyfills (assuming you are using those polyfills, anyway).

The helpers that reference the actual globals only make sense if not actually using the runtime polyfills.

That said, the helpers in babel-runtime are a bit silly, since

[2017-02-12 14:24] hulkish commented on #4630
JS vs JSON vs JSON5 vs YAML vs <whatever> - this is something that always comes up as a frustration for config files. *Everyone always ends up wanting an option to use JS*. Considering babel currently does not have an ability to dynamically specify config's beyond "env" - I think this is a widely desired feature.

[2017-02-12 14:44] STRML commented on #4630
I don't see what JSON offers over JS here; there is no hard requirement
for `.babelrc` to be wire-serializable - so why not?

[2017-02-12 22:52] boopathi commented on #5156
Looks like this is not a bug. Explanation in #5209 - thanks @loganfsmyth

[2017-02-12 22:52] #5156 closed

[2017-02-13 02:34] #4397 closed

[2017-02-13 02:35] #5149 closed

[2017-02-13 03:23] mbrowne commented on #5056
Hi, not sure if you've been following along at the link above, but it turns out this was already updated in the spec repo, it's just that the github page wasn't updated. So I believe my pull request is now officially ready to go.

[2017-02-13 03:37] loganfsmyth commented on #5056
Cool, thanks for looking into it more.

Since this is a breaking change, we'll need to put it behind an opt-in flag on the plugin for Babel 6 or else it could break people's code. We can certainly enable this behavior by default for Babel 7 though.

[2017-02-13 03:55] mbrowne commented on #5056
Sounds good, thanks. Yes, I suppose it would break people's code if they were redeclaring properties like in your inheritance example above. Or if they were counting on uninitialized properties being non-enumerable for some strange reason.

[2017-02-13 05:41] kt3k commented on #5297
Thanks for the clarification and the reference.

Personally I prefer babel-cli to look up the config from cwd in that situation, but I understand this is intended behaviour.

[2017-02-13 05:41] #5297 closed

[2017-02-13 06:19] motiz88 commented on #5104
For anyone wondering - `super` in a class property initializer should indeed work per the [current proposal](https://tc39.github.io/proposal-class-public-fields/#runtime-semantics-class-public-field-definition-evaluation), as also noted [here](https://github.com/tc39/tc39-notes/blob/master/es7/2016-07/jul-27.md#conclusionresolution-8).

@philippotto Hopefully clarifying nitpick: These aren't "boun

[2017-02-13 15:39] existentialism commented on #5239
ping @trusktr

[2017-02-13 17:30] hex13 commented on #5267
Virtual AST types :)
Thanks. I didn't know I could do this way. I tried your tip, and it worked :)

But then I've decided to make some bigger changes in a way JS scopes are analysed* and I couldn't figure out a way to do this by extending static analysis Babel already does so first I ditched all scope analysing in `babel-traverse` (by setting `noScope: true` in visitor), and tried to make my own c

[2017-02-13 17:42] hzoo commented on #5267
@hex13 Thanks - fyi we'd like to simplify everything in babel-traverse moving forward (I guess for Babel 8). It's definetely not set in stone because we have some issues with scoping (esp with https://github.com/babel/babili). We'd love help with that if you can manage

[2017-02-13 20:27] hzoo opened #5299 "Better setup"
If a new contributor does `npm run test` or `make test` and expects it to work you are greeted with `Error: Cannot find module '../lib'` because they didn't run `make bootstrap`. @montogeek

Of course we could be like "You should read the contributing.md, etc" but why not just do it automatically then?

- Basic idea is that these commands should figure out whether the folder in `packages/*/lib` ar

[2017-02-13 20:48] xtuc commented on #5197
@montogeek yeah, it seems nobody is on its integration in Babel.

[2017-02-13 20:49] #5047 closed

[2017-02-13 20:49] #4413 closed

[2017-02-13 20:56] chicoxyzzy commented on #5299
Maybe we can use `postinstall` npm script?

[2017-02-13 20:57] hzoo commented on #5299
if that works in our top level package.json then 👍 , can just do `make bootstrap` there.

[2017-02-13 21:04] chicoxyzzy commented on #5299
Looks like `make bootstrap` will run `make clean:all` which will remove `node_modules` and run `npm install` again so maybe `preinstall` fits better here. I'll check if that works.

[2017-02-13 21:16] chicoxyzzy commented on #5299
Install process goes into infinite loop for both `preinstall` and `postinstall` because of `npm install` command in `make bootstrap`

[2017-02-13 21:17] hzoo commented on #5299
lol that's interesting.. yea we need to remove it one of them then

[2017-02-14 02:02] nickpalmer opened #5305 "Crash caused by newly released babel-transform@66.23.0"
Version 6.23.0 of babel-transform causes babel-plugin-transform-es2015-destructuring to crash while compiling our app.

Pinning to babel-tranform@6.22.1 removes the crash.

If I console.log(this.hub) in babel-transform I see that this.hub is an empty object. This should be trivial to reproduce in any app that uses destructuring..

TypeError: /Users/nick/git/app/src/server/server.js: this.hub.addHe

[2017-02-14 02:06] hzoo commented on #5305
Thanks for the report, looking into it now

[2017-02-14 02:09] rsolomon commented on #5305
Same issue with our build. If we can provide any additional information to help debug just let me know.

[2017-02-14 02:11] hzoo commented on #5305
From https://github.com/babel/babel/pull/5050, need to investigate

[2017-02-14 02:14] rsolomon commented on #5305
babelrc:

[code]

No specific code triggers it-- it throws on every file when the unit tests are run.

[2017-02-14 02:15] loganfsmyth commented on #5305
We're reverting now.

[2017-02-14 02:16] nickpalmer commented on #5305
I think it is a mismatch with our older version of babel-core.

[2017-02-14 02:19] loganfsmyth commented on #5305
I've reverted the PR and published 6.23.1 of `babel-core` and `babel-traverse`, please install your deps and things should be back.

[2017-02-14 02:27] hzoo commented on #5305
Thanks everyone for the reports!

We'll setup better infrastructure to prevent this kind of incompatible change in the future (our issue due to being a monorepo)

[2017-02-14 04:22] chitchu commented on #5299
You can skip the `preinstall` and `postinstall` by running `npm install --ignore-scripts` in `make bootstrap` to avoid recursion.

[2017-02-14 04:36] yongxu commented on #5305
Sorry for this breaking PR. It passed the test when I finished it, but its been a little while. Will look into it now, really sorry for breaking the repo..

[2017-02-14 17:06] existentialism commented on #5305
@yongxu you didn't break anything! we just missed categorizing it as a breaking change, so we'll revisit landing it asap.

[2017-02-14 22:52] bluepnume commented on #4097
Interested in the solution to this. I have a module for which I need exports to be configurable, so I can stub them for tests. Currently anything in exports is readonly, even in loose mode.

[2017-02-15 02:44] kt3k commented on #5297
By the way, I got a better result by passing `--filename` option to cli, which triggers looking up of .babelrc based on the given virtual filename and which worked well with my use case.

[2017-02-15 11:26] cusspvz opened #5313 "Conditional async variable declaration leads to code malfunctioning"
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
[code]

### Current Behavior
[code]

### Context
I use babel with webpack, one codebase that builds for multiple environments.
Sometimes I have to insert conditional environment code, which is done by replacing definitions on the code and thats how I've discovered this issue.

### Yo

[2017-02-15 12:29] Ltrlg commented on #5313
const is bloc-scoped, the second occurence of “user” does not access the
previously stored value. Hence your expected behavior code seems wrong.

2017-02-15 12:26 GMT+01:00 Babel Bot <notifications@github.com>:

[2017-02-15 12:32] cusspvz commented on #5313
@Ltrlg the same rule applies for `let`?

[2017-02-15 12:34] Ltrlg commented on #5313
Yes. Only var is function-scoped.

[2017-02-15 12:35] cusspvz commented on #5313
Oh, I see. Thanks for the clarification! Hope this helps someone in the future.

[2017-02-15 12:35] #5313 closed

[2017-02-15 13:17] jacktuck commented on #4625
@zloirock Seems to be fixed if i use es2016 or es2016.

[2017-02-15 13:17] #4625 closed

[2017-02-15 15:27] feexon opened #5314 "generator error in jasmine: ReferenceError: regeneratorRuntime is not defined"
I tried to solve the problem in issuses,but I can't.I need your helps.I test under jasmine using babel,when I run the tests it throws exception below:
1) generators iterator
  Message:
    ReferenceError: regeneratorRuntime is not defined
  Stack:
    ReferenceError: regeneratorRuntime is not defined

my test code like this:
[code]

[2017-02-15 15:31] feexon commented on #5314
I'm from China,I can't join your slack system.

[2017-02-15 15:36] hzoo commented on #5314
`regeneratorRuntime is not defined` occurs because when using generators or anything similar to that it expects `regeneratorRuntime` as a global variable. You can just import babel-polyfill at the entry point of all your test files http://babeljs.io/docs/usage/polyfill/

Looks like http://stackoverflow.com/a/28988642/724650.

[2017-02-15 15:37] hzoo commented on #5305
Closing now since issue has been fixed (wanted to leave it up for a while so no one needed to make a duplicate issue)

[2017-02-15 15:37] #5305 closed

[2017-02-15 15:53] feexon commented on #5314
thanks very much.I found polyfill not imported in jasmine automatically.when I use require('babel-polyfill') it makes tests run very slowly and the tests failed too.I solve the problem from your links:

[code]

[2017-02-15 15:58] hzoo commented on #5314
if you only need regeneratorRuntime you can just import the specific file https://www.npmjs.com/package/regenerator-runtime

[2017-02-15 15:58] #5314 closed

[2017-02-15 16:27] GuillaumeCisco opened #5315 "transform-react-constant-elements HOC params issue"
### Input Code

Declare a file where layout is created from elements
[code]

createLayout file
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Current Behavior
Get an error: `ReferenceError: _ref is not defined`

### Possible Solution
Replace `<OneComponent title={title} />` by `<OneComponent {...{title}} />`
Looks like the param from the HOC component makes it b

[2017-02-15 17:05] hzoo commented on #4951
If/when we switch to `@babel` we can't use this. So if anything maybe create a `babel-cli-env`? Although you'd probably use `babel-loader` for browser code. For node maybe we just need to make `babel-node/babel-register` prod ready

[2017-02-15 17:45] existentialism commented on #5315
Looks like `_ref` is hoisted above default param handling, reduced test case:

[code]

[code]

[2017-02-15 20:00] hzoo commented on #5286
Made https://github.com/babel/babel/pull/5317 so you can base your PR off of my branch

[2017-02-15 20:02] hzoo commented on #4722
Made https://github.com/babel/babel/pull/5317 so you can base your PR off of my branch

[2017-02-15 20:44] hzoo commented on #5283
Done in https://github.com/babel/babel/issues/5290!!

[2017-02-15 20:44] #5283 closed

[2017-02-15 20:48] hzoo opened #5318 "[7.0] Switch decorators-legacy to decorators in the Stage 1 Preset"
Kinda revert part of https://github.com/babel/babel/pull/5225 due to https://github.com/babel/babel/pull/5290 (replace transform-decorators to be decorators-legacy)

---

- [ ] Comment below you are going to do this (for others to know)
- [ ] Read [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md)
- [ ] remember to run `make build` after a source code change or better ju

[2017-02-15 20:53] sashashakun commented on #5318
Hello! I want to help with this:)

[2017-02-15 20:54] hzoo commented on #5318
Awesome! For this one, you technically can just make the patch from the website (if you know how) but I would follow the instructions above 👍

[2017-02-15 20:55] sashashakun commented on #5318
I know how, but I will follow the instructions👌

[2017-02-15 21:52] hzoo commented on #4722
https://github.com/babel/babel/issues/5320

[2017-02-15 21:52] #4722 closed

[2017-02-15 21:58] hzoo commented on #5318
Nice work @sashashakun! - https://github.com/babel/babel/issues/5319

[2017-02-15 21:59] #5318 closed

[2017-02-15 22:29] hzoo commented on #5286
https://github.com/babel/babel/issues/5321

[2017-02-15 22:29] #5286 closed

[2017-02-16 00:41] STRML commented on #5315
Confirmed output:

[code]

[2017-02-16 00:48] existentialism commented on #5315
@STRML I was working on ensuring that the [default params get hoisted higher](https://github.com/existentialism/babel/commit/d3a262a79903bba9226dfc2c84496e9d785db4e9), but couldn't repro the `ReferenceError: _ref is not defined` error as reported until I actually tried running it, and noticed:

[code]

(_ref is completely gone)

I got caught up in some other things, but will try to look into it mo

[2017-02-16 00:53] STRML commented on #5315
Yeah, I am having issues with that as well. In `hoister`, you can identify a default param like so:

[code]

But it appears that without some very careful twiddling the ref may disappear entirely.

[2017-02-16 01:33] yongxu commented on #5305
thank you for letting me know @existentialism! The `file`   was passed to `PluginPass` and something else changed it(probably assumed it was a changeable state) it somewhere else. I don't think the problem could possibly be my PR. I took a look yesterday but wasn't confident to give the conclusion. It's great to have someone confirm it!

[2017-02-16 08:50] alxpy commented on #4583
@hzoo hi, this issue is already possible to close)

[2017-02-16 08:56] GuillaumeCisco commented on #5315
It is exactly that @existentialism: _ref is completely gone.
Interesting thing, this error came after updating something in my package.json... I don't know what updated and broke things :/
Thank you @STRML for your advice about running it in DEBUG/DEVELOPMENT environment, I think it should be mandatory too!

[2017-02-16 10:15] danez commented on #4072
Duplicate of #4281

[2017-02-16 10:15] #4072 closed

[2017-02-16 10:46] jaggerwang commented on #2877
[code]

This worked for me!

[2017-02-16 13:19] hzoo commented on #4583
When did someone add it? I definetely don't remember adding it. There's no test with a `return a().catch()`

[2017-02-16 14:06] alxpy commented on #4583
@hzoo I can add this test

[2017-02-16 15:08] slorber opened #5325 "transform-react-constant-elements => Acorn: SyntaxError: Unexpected token"
### Input Code

Here's the exact input code I'm using: [gist](https://gist.github.com/slorber/eb77a32076a5623ba48aadbc23d8f2c0)

I've tried to reduce/isolate the problematic part but was unable to find it. It seems that removing code blocks can somehow randomly make the compilation step pass successfully, don't know why.

Note that removing the whole component `StampleDescriptionMainMediaAndText`

[2017-02-16 15:31] existentialism commented on #5325
Do you by chance use webpack's expose-loader?

(https://twitter.com/jimbolla/status/831525123182227458)

[2017-02-16 15:50] hzoo commented on #5325
If you are getting an acorn error it's probably not babylon (unless we didn't compile something down to ES5 and thus the error)

[2017-02-16 15:56] slorber commented on #5325
@existentialism no I'm not using `expose-loader`

@hzoo this error only happens once I enable `transform-react-constant-elements`, it does not when I disable it, so it looks to me quite related to Babel no?

[2017-02-16 17:00] hzoo opened #5326 "Code Coverage: babel-generator"
### Context

When I was reviewing https://github.com/babel/babel/pull/5317 again I noticed we lost some code coverage in the PR.

![screen shot 2017-02-16 at 11 49 36 am](https://cloud.githubusercontent.com/assets/588473/23031166/021ba892-f43e-11e6-9b1b-f2659b6224bc.png)

^ The red boxes are the places where coverage was decreased. I clicked on the red box to get

![screen shot 2017-02-16 at 11 49

[2017-02-16 17:26] hzoo commented on #5326
community that typically always has someone willing to help. You can sign-up [here](https://slack.babeljs.io/)
for an invite.

[2017-02-16 18:00] alxpy commented on #5326
@hzoo I'd like to work on this, if you don't mind

[2017-02-16 18:37] jstejada commented on #2530
@julien-f did you find any solution for this?

[2017-02-16 18:40] julien-f commented on #2530
Nope, I did not investigate any further.

[2017-02-16 22:11] laggingreflex opened #5330 "[bug] Rest parameters in async function"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

It should output `[ '1' ]`. Works with node 7 --harmony. Also works without async functions. Problem is only with async functions

### Current Behavior

It outputs something big I'm not sure what (global object?)

[code]

### Possible Solution

### Context

### Your Environment

|

[2017-02-16 22:17] laggingreflex commented on #5330
related (dupe?) https://github.com/babel/babel/issues/4219

[2017-02-16 23:45] existentialism commented on #5315
Reduced repro:

[code]

[code]

Output:

[code]

[2017-02-17 00:15] paulondc commented on #3930
Is there anybody looking at a definitive fix for this issue ?

[2017-02-17 03:17] yangchongduo opened #5332 "Cannot find module 'rc-util'"
Cannot find module 'rc-util'

[2017-02-17 03:27] loganfsmyth commented on #5332
This really isn't enough information to go on. What makes you say this is a Babel issue? Have you tried reinstalling?

[2017-02-17 05:33] loganfsmyth commented on #5332
Please re-open when you have more info. Closing for now.

[2017-02-17 05:33] #5332 closed

[2017-02-17 07:36] devblazer commented on #4408
I am a bit new on staying up to date with latest features. I would really like to make use of this, how do I get this feature 'enabled' on my babel?

My package versions:
    "babel": "^6.5.2",
    "babel-core": "^6.23.1",
    "babel-loader": "^6.3.2",
    "babel-plugin-transform-decorators": "^6.13.0",
    "babel-plugin-transform-decorators-legacy": "^1.3.4",
    "babel-preset-es2015": "^6.22.0",

[2017-02-17 07:44] loganfsmyth commented on #4408
@devblazer This issue is about implementing this language proposal, so it does not currently exist yet in Babel as a plugin.

[2017-02-17 08:11] xtuc commented on #5332
Please next time use our [issue template](https://raw.githubusercontent.com/babel/babel/master/.github/ISSUE_TEMPLATE.md).

[2017-02-17 11:03] rromanw commented on #4549
The bug is still present on the latest babel-core 6.23.1 . It is really annoying.

[2017-02-17 12:05] anthony-skr commented on #5268
I have the same error.

I'm trying to use babel `babel.transform(source, options);` function inside a React application :

[code]

Error :
[code]

.babelrc / webpack configuration are untouched, they are React defaults.

[2017-02-17 12:12] anthony-skr commented on #5268
Ok I figured out. It's the error we face when using babel on a non-node environment.

Solution: https://github.com/babel/babel-standalone

[2017-02-17 20:47] sergiorojasa commented on #5197
Can I also work on this?

[2017-02-18 07:50] sotream opened #5335 "transformFromAst decorator in a wrong place"
### Input Code
[Demo repo](https://github.com/sotream/babylon_test)

[code]

### Babel Configuration (.babelrc, package.json, cli command)
All config files are in demo repository.

### Expected Behavior
Decorator should be top of default export

### Current Behavior
Decorator placed after after default export

### Possible Solution
?

### Context
I'm trying to parse js file with babylon. Make some

[2017-02-18 07:55] loganfsmyth commented on #5335
Thanks for the report! Looks like a duplicate of https://github.com/babel/babel/issues/4585 Looks like we had a proposed fix, but it was blocked waiting on feedback about what the expected behavior should be.

[2017-02-18 07:55] #5335 closed

[2017-02-18 08:36] sotream commented on #5335
@loganfsmyth Thx for reply. Expected behavior - decorator should be top above default exports in my case.

[2017-02-18 12:15] outsideris commented on #5163
Is it working on progress? If not, I could handle this.

[2017-02-18 17:55] 4rlekin commented on #5163
@outsideris oh shoot, i forgot about the matter, you are very welcome to pick things up

[2017-02-18 18:37] hzoo opened #5340 "Provide information to users about code size, speed, etc"
Twitter thread: https://twitter.com/TheLarkInn/status/832756703275855874

- size of the code before and after the transform(s) per file (that seems easy)
  - not sure about the "break down" by transform since for that you'd need to individually do each one? sounds like a lot of time/work

## Goals (that I would want)

Summary: don't use certain features until native is fast enough or help Babel be

[2017-02-18 18:56] TheLarkInn commented on #5340
Reason as I brought this up as a babel-specific feature is that although webpack can access pre and post source size via github.com/webpack/webpack-sources code, it would be a weird integration on our side to add for just babel inside of webpack. I think a good initiative for us would be to some how just show some informative +% or -% in code size in general when changes are made, etc.

[2017-02-18 19:01] bmeurer commented on #5340
Thanks for taking the time to write this down. I think preset-env is already a very good step in the right direction. But for heavy stuff like async-await that will not help for some time, so adding some mechanism to inform users about code size tradeoffs might indeed help, whether it's in Babel or in Webpack.

[2017-02-18 20:27] yavorsky commented on #5340
Also would be cool to have util to compare code size with preset-env vs preset-latest (preset-env with all plugins). People could see actual benefits of specifying targets and play with it's configuration to see how each supported browser affects the bundle size.

[2017-02-18 20:48] addyosmani commented on #5340
I think exposing the before/after per file would make sense. Let's explore that initially? I believe break downs by transform would be pretty costly, even if you did this in the background. Perhaps explore how much value users get out of the per file top-level before/after first?

There are a few different directions we could get more intelligent with this.

- If you're using preset-env and browse

[2017-02-19 07:33] aaronang commented on #5326
@hzoo I would also like to help out with writing tests. I am assuming that ideally we would like to achieve 100% test coverage?

[2017-02-19 13:23] smeijer commented on #860
Old issue; but [`babel-plugin-inline-import`](https://www.npmjs.com/package/babel-plugin-inline-import) is doing fine for me.

[2017-02-19 15:23] boopathi commented on #4820
I tried something for Babili and rewrote the scope tracking - managing bindings and references based on the existing scopes information. And the implementation is here - https://github.com/babel/babili/pull/395/files#diff-56dbfa697ab56901db4e42301edcb9d7

Though it still has some bugs, we could think about implementing this directly in Babel. Shall we consider this change for 7.0?

I'd like to hea

[2017-02-19 18:44] MatteoGabriele opened #5345 "Unknown option: base.presets[]"
I can't access to the options of a preset without throwing an `Unknown option: base.presets[]` error

This is my setup for `babel` using `webpack@2.2.0`
Works perfectly without the presets options but would be nice to be able to access them.

[code]

This is the error in the console

[code]

The error itself is pretty nice when you write it wrong, but here I guess I'm doing in correctly.

Thanks i

[2017-02-19 19:39] iammerrick opened #5346 "Calling Bound Class Methods In Property Initializer Throw Runtime Exception"
Calling bound class methods in property initializers throws a runtime exception that it can't be found.

### Input Code

[REPL Link](http://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=latest%2Creact%2Cstage-2&targets=&browsers=&builtIns=false&code=class%20Example%20%7B%0A%20%20%0A%20%20state%20%3D%20%7B%0A%20%20%20%20name%3A%20this.getName()%0A%20%20%7D%0A%20%20%0A%20%20get

[2017-02-19 22:01] loganfsmyth commented on #5346
The issue here is ordering. Class properties are initialized in order, and from the classes standpoint, `state` and `getName` are both just class properties, there is no special treatment for class properties that are functions. So you'd have the same problem if you did

[code]

this would attempt to create `this.thing` before `thing` has been assigned.

In your case you are trying to call the fun

[2017-02-20 02:44] yongxu commented on #5305
@loganfsmyth @hzoo Is there any plan for merge this back or is there any update I should work on? Please let me know if there is anything I should do :)

[2017-02-20 04:06] iammerrick commented on #5346
Hey, @loganfsmyth! Thanks for taking the time to explain that to me! That makes a lot of sense. It is surprising to me that "unbound" methods work as expected. Is that just due to semantics for how class methods work vs property initializers?

I am happy to close this issue, its one of those where I feel like a bit of a putz. Thanks for teaching me; I didn't realize using property initializers and

[2017-02-20 04:06] #5346 closed

[2017-02-20 04:22] loganfsmyth commented on #5346
No problem. The class prototype, where the class methods (`foo(){}`) live, is initialized when the class is declared. So since class properties (`foo = () => {}`) run when each instance is instantiated, the prototype already fully exists so all methods are usable.

[2017-02-20 04:35] Rleahy22 opened #5347 "Cannot find module 'to-fast-properties'"
### Babel Configuration (.babelrc, package.json, cli command)

webpack.config.js
[code]

package.json
[code]

### Expected Behavior
Webpack/Babel to successfully build my application

### Current Behavior
ERROR in ./src/main.js
Module build failed: Error: Cannot find module 'to-fast-properties'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:2

[2017-02-20 05:11] gpittarelli commented on #4219
I've reproduced this using presets stage-0 and es2015 on current master, and noticed that it _doesn't_ occur if you do one run with only stage-0 and then another run with es2015.

I further dug into the individual plugins, and while I'm still digging, I believe it only happens when transform-async-to-generator and transform-es2015-parameters are in the same pass.

[2017-02-20 05:16] loganfsmyth commented on #5347
I'm not sure what to say. When you install, does npm say that the module was installed? You mentioned it was in node_modules, so `ls node_modules/to-fast-properties/` shows a list of files? I'm not sure what to say. If you run Node in the directory, can you run `require('to-fast-properties')`?

[2017-02-20 05:46] aaronang opened #5348 "Code coverage script shows Unknown coverage"
### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

Expected to see a line coverage of 89.44% and 1,050 uncovered lines.

### Current Behavior

[code]

### Context

I was just going through the [CONTRIBUTING.md](https://github.com/babel/babel/blob/master/CONTRIBUTING.md) to get started and stumbled upon this problem.

### Your Environment

| software

[2017-02-20 08:54] s3thi commented on #5348
I can confirm this behavior on macOS Sierra. I was working my way through `CONTRIBUTING.md` and ran into the same issue.

### Environment

| software         | version |
|------------------|---------|
| node             | 7.5.0   |
| npm              | 4.1.2   |
| Operating system | macOS Sierra 10.12.2 |

[2017-02-20 09:29] danez commented on #5348
You need to run
[code]

before running the test-cov script. We need to change this or add it to the `CONTRIBUTING.md`

[2017-02-20 13:13] hzoo commented on #5348
You shouldn't have to run all of `make bootstrap` to get coverage? At least you should be able to skip npm install/lerna bootstrap?

[2017-02-20 13:50] shahriar-git commented on #5052
Any News on this? I am not being able to copy .eslintrc file to my compiled directory :(

[2017-02-20 18:19] aaronang commented on #5345
Interesting, I tried to reproduce your error but got a different error instead, that says that `options` is not a valid property. Note that I am using `webpack@2.2.0`.

However, I did manage to get the options working as follows:

[code]

[2017-02-20 18:55] MatteoGabriele commented on #5345
hi @aaronang I'm not using `.babelrc` because in this particular project doesn't suit my needs. Has to be like this.

I will try to add `query` instead of `options` even if it's really weird :)

thanks

[2017-02-20 19:03] aaronang commented on #5345
@MatteoGabriele Are you by the way sure that you are using `webpack@2.2.0`? I am asking this because I created a clean project using `2.2.0` and I got an error saying that `options` is not a valid property.

[2017-02-20 20:00] MatteoGabriele commented on #5345
Super sure :)

https://github.com/Blocklevel/blue-next/blob/master/packages/bcli/package.json#L80

[2017-02-20 20:07] MatteoGabriele commented on #5345
@aaronang I tried the `query` instead of `options` and it does work, I don't have any errors.

if you read webpack2 documentation, `query` is there only for compatibility https://github.com/Blocklevel/blue-next/blob/master/packages/bcli/package.json#L80

[2017-02-20 20:12] MatteoGabriele commented on #5345
No...never mind! i wasn't linking the package and it was not executing my changes, so the issue is still there, with or without `query`. Sorry for the fake news 😄

[2017-02-20 20:17] aaronang commented on #5345
@MatteoGabriele You are right, you can use `options` too instead.

[code]

Have you defined `output`?

[2017-02-20 20:44] MatteoGabriele commented on #5345
@aaronang yep! everything works. Just wanted to try to use this options because apparently reduces the size of the bundle.

[2017-02-20 20:45] aaronang commented on #5345
I guess we can close this issue?

[2017-02-20 20:47] MatteoGabriele commented on #5345
well actually is still not working for me, my setup works, but not when i put that option.

[2017-02-20 20:49] existentialism commented on #5345
@MatteoGabriele mind creating a small repo that repros the issue outside of your CLI project?

[2017-02-20 22:32] MatteoGabriele commented on #5345
@existentialism I've actually wrote a small test and it works, so must be  something in my project setup that is not working properly. No idea.

Thanks both for you time :)

[2017-02-20 22:32] #5345 closed

[2017-02-20 22:34] existentialism commented on #5345
@MatteoGabriele no problem! Let us know if you find any issues!

[2017-02-20 23:16] danez opened #5353 "[7.0] Replace lodash/assign with Object.assign"
We currently us lodash/assign in the codebase: https://lodash.com/docs/4.17.4#assign

For example here https://github.com/babel/babel/blob/454933ef7643dd30b625992cddc8420887cf510e/packages/babel-traverse/src/path/index.js#L7

This is unnecessary for babel 7 as node >4 has the same functionality built-in with `Object.assign`. : https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_O

[2017-02-21 02:22] mdapper commented on #5353
I'd like to work on this one @danez if you don't mind!

[2017-02-21 03:03] Jamesernator commented on #4969
It looks like the logic for converting for-await loops is actually in remap-async-to-generator for some reason, which is a pain because it means that in order to use for-await in an async function you have to also convert them into generators.

I might have a look this week into moving it into its own helper and make async-generator-functions use it.

[2017-02-21 04:06] Rleahy22 commented on #5347
Yes everything says that `to-fast-properties` is there. I can require it from the node repl and I can open up the directory and see that the entire contents of `to-fast-properties/index.js` are simply
[code]

I even replaced where to-fast-properties gets required in `babel-types/lib/index.js` with that block of code, and it still results in the same error. And yes I have made other changes to inde

[2017-02-21 04:58] Kovensky commented on #4969
What's actually a Promise, in async iterators, is the the iterator object itself, which is why new syntax, symbols, etc were required.

`for await` is actually closer to a sugar of:

[code]

[2017-02-21 06:23] loganfsmyth commented on #5347
Would you be able to zip up an example repo, including node_modules, and post it somewhere I could look at? Also feel free to join our Slack if you want a faster back-and-forth.

[2017-02-21 08:48] Harris-Miller commented on #2645
Decorators at Stage 2 since January 4th: http://tc39.github.io/proposal-decorators/

[2017-02-21 10:42] danez commented on #5353
Sure, if you have any questions it is the best to join our slack and ask there in #development

[2017-02-21 13:32] mdapper commented on #5353
Great, I am already there. I made the changes but I want to test them first. If I have any questions I will ask there.

[2017-02-21 15:09] #5348 closed

[2017-02-21 17:03] mattbailey commented on #5072
Just so this might get another google hit, I had the same problem with trying to transform this:

[code]

into this:

[code]

I was incorrectly using `CallExpression()` to identify the block, and also should have been using `ExpressionStatement()`

Thanks for this, I would have spent hours...

[2017-02-21 23:49] hzoo commented on #4914
Alright I think it's best to remove rather than rename. If anything I think we should republish with an error so that people aren't as confused when they try to install it? This is similar to https://github.com/babel/babel/issues/4955 so going to close and merge into that.

[2017-02-21 23:49] #4914 closed

[2017-02-22 01:11] rosskevin opened #5357 "transform-react-inline-elements causes duplicate react error"
In our application, with production optimizations we have found that the `babel-plugin-transfor-react-inline-elements` to cause

[code]

I also found this writeup that led me to the same conclusion:
http://lukecod.es/2016/03/14/react-invariant-violation-minified-exception-ios8-webpack-babel/

### Input Code
[Gist by Luke Karrys](https://gist.github.com/lukekarrys/87bfaf9db949a3cfa628#file-readme-m

[2017-02-22 03:09] hzoo commented on #5353
Closed in https://github.com/babel/babel/issues/5356

[2017-02-22 03:09] #5353 closed

[2017-02-22 03:14] #5163 closed

[2017-02-22 15:11] mdarse commented on #5275
I hit the same issue, would a PR fixing this behaviour be accepted?

[2017-02-22 15:25] hzoo commented on #5275
If you can manage, yes! Although we're also thinking about removing this option entirely ^ in favor of something like a `.babelrc.js`

[2017-02-22 15:29] mdarse commented on #5275
The merging strategy is often a problem because it doesn't always produces the expected result.
Is the expected behaviour to only do a shallow merge of the config options? I mean, trying to merge preset options for example is error prone.

[2017-02-22 15:32] hzoo commented on #5275
If we change behavior that isn't already an error, then even if it's a bug fix it may break other people's builds so then I'm not sure (although yeah it does make sense to replace the whole key like a shallow mere)

[2017-02-22 17:06] leafi commented on #4982
@loganfsmyth You can reproduce the issue on react-infinite-calendar, like so:

[code]

Attached is a shell log of what happens & the log file npm encouraged me to provide.

It has the characteristic resolve failed: Error: Cannot find module 'caniuse-db' and resolve failed: Error: Cannot find module babel-runtime messages.

(We are currently working around this by forcing babel-plugin-transform-reg

[2017-02-22 17:13] existentialism commented on #4982
@leafi this looks like an issue with an old version of `babel-preset-es2015-rollup`/`babel-modify-preset`... (evidence is the error from relative-require).

If you bump to `babel-preset-es2015-rollup@3.0.0` it builds fine.

[2017-02-22 17:20] leafi commented on #4982
@existentialism It's that simple? Ah, wonderful! We'll get on that soon then :)

Thanks for debugging it!

[2017-02-22 17:22] existentialism commented on #4982
@leafi sure! definitely report back if you run into any other issues though.

[2017-02-22 18:41] svidhani opened #5361 "Babel upgrade issue"
I am trying to upgrade from Babel 5 to Babel 6 and i keep getting this error when i try to run tests with mocha

Property value expected type of string but got null
on node_modules/babel-core/lib/transformation/file/index.js:600

Mode details here http://stackoverflow.com/questions/42380736/babel-upgrade-error-property-value-expected-type-of-string-but-got-null

[2017-02-22 18:52] loganfsmyth commented on #5361
Closing since this can be discussed on SO. You tagged in `babel` instead of `babeljs` which is why it didn't get a comment sooner.

[2017-02-22 18:52] #5361 closed

[2017-02-23 01:37] aaronang commented on #5034
I would like to work on this although I am not yet familiar with the Babel codebase.

[2017-02-23 01:40] existentialism commented on #5034
@babel-bot move to babel/babylon

[2017-02-23 01:41] bakkot commented on #5262
For reference, the case of hoisting out of `eval` is a particularly complex one, and I wouldn't trust that node gets it right. Implementations differ, and in fact there's [an open spec question](https://github.com/tc39/ecma262/issues/753) about what the right behavior actually should be.

[2017-02-23 01:45] existentialism commented on #5034
Will reopen if it turns out its not strictly a babylon issue

[2017-02-23 01:45] #5034 closed

[2017-02-23 01:46] bakkot commented on #5266
For people not familiar, [here's an example of the basic B.3.3 semantics](https://gist.github.com/michaelficarra/32602887d40d7b93deee).

It's pretty terrible in corner cases. It also doesn't apply in strict mode, which can change program semantics. Consider:

[code]

In strict code, this prints `1`, since the function declaration isn't hoisted. In non-strict code, it prints `2`, since it is.

[2017-02-23 04:04] fatcerberus commented on #5262
Yeah, in my case it wasn't actually a hoisting issue at all - it was that in Duktape, e.g.:
[code]

Which is a clear bug.  It's since been fixed.

[2017-02-23 04:59] maggiesavovska commented on #1271
It is possible to get this error if you ARE inside a generator but you're not yielding an actual promise.

[2017-02-23 06:15] loganfsmyth commented on #1271
This should only happen if outside a generator, but keep in mind that outside a generator could also be an issue if you are inside a callback, for instance

[code]

would still cause that error since the parent function of the `yield` is the arrow function, not the generator.

[2017-02-23 07:18] aight8 opened #5364 "Feature request: babel api -> get used configuration"
I want to access the used/generated babel configuration. Especially which presets includes which plugins exactly.

PS: I get option-manager work, the ONLY problem is that plugins which presets uses, are anonymous functions. Normally the **key** prop reference to the full path. Plugins included by presets have a dynamical incrementef name something with "$"

How this ensures to avoid duplication pl

[2017-02-23 09:53] jljouannic commented on #1087
I managed to prevent naming of anonymous functions by not using `es2015` preset, but instead declaring all the plugins listed [here](https://babeljs.io/docs/plugins/preset-es2015/), but ommiting `transform-es2015-function-name` in my `.babelrc` file.

I hope there won't be any bad side effects.

[2017-02-23 12:17] MikeKovarik commented on #3930
+1

[2017-02-23 14:40] Joezo opened #5366 "Default async functions fail with babylon@6.16.0"
Exporting default async functions fails to parse with the latest release on babylon(6.16.0). It looks like babylon has fixed a bug https://github.com/babel/babylon/pull/324 in their latest release that babel perhaps relied on. This behaves as expected if I purposefully install babylon@6.15.0.

### Input Code
https://github.com/Joezo/babel-issue

### Babel Configuration (.babelrc, package.json, cli

[2017-02-23 14:42] Joezo commented on #5366
Just seen that @martindoyleuk has opened the same issue in https://github.com/babel/babylon/issues/374 - not sure 100% where this issue belong so i'll leave this one as is. Please close if it's better suited elsewhere :)

[2017-02-23 14:44] hzoo commented on #5366
Yeah it's a babylon issue, same issue.

[2017-02-23 14:44] #5366 closed

[2017-02-23 16:16] hinok commented on #5325
@slorber @hzoo I encountered today the same problem. I made a sample repository that shows this bug (newest webpack, babel-*).

https://github.com/hinok/babel-loader-bug

[code]

In my case this kind of code break `babel-plugin-transform-react-constant-elements`.

[code]

I think that code is wrongly transformed

[code]

**It works without this plugin.**

[2017-02-23 17:39] daltones commented on #5366
Actually that's not a babylon issue. Babylon v6.16.0 fixes https://github.com/babel/babylon/issues/257.

The build failing is a problem with `babel-plugin-transform-async-to-generator` or `babel-plugin-transform-async-to-module-method`. These transforms didn't expect the right AST for `export default async function` (again https://github.com/babel/babylon/issues/257).

All of this is related to ht

[2017-02-23 18:25] slorber commented on #5325
great :) I'm sure it'll be way more helpful that my code snippet :p thanks

[2017-02-24 01:18] naomik commented on #256
@isiahmeadows what a shame. Thanks for the link. I found it informative. I guess PureScript gets this right and will compile PTC to `while` loops – even in complex scenarios. Maybe all hope isn't lost for JavaScript after all...

[2017-02-24 02:04] jbrantly opened #5369 "transform-react-constant-elements causes "We don't know what to do with this node type.""
### Input Code
[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior
Should not error.

### Current Behavior
Errors with "We don't know what to do with this node type. We were previously a Statement but we can't fit in here?"

### Context
This seems to be a regression in 6.23.0 as the same code is transpiled into a working state with 6.22.0. My guess

[2017-02-24 03:04] zackify commented on #5325
I'm having the same problem. Removing `babel-plugin-transform-react-constant-elements` fixes it.

[2017-02-24 05:19] loganfsmyth commented on #256
I think part of the issue too is that Babel was only ever able to compile _some_ cases of TCO, which could also be confusing.

[2017-02-24 09:53] frederikbosch opened #5370 "dynamic string imports and incorrectly transpiled when using amd module loader"
When using `babel-plugin-transform-es2015-modules-amd` in combination with `babel-plugin-syntax-dynamic-import`, dynamic imports with the module name as a string are incorrectly transpiled.

[code]
will now transpiles to

[code]

where as I expect it to transpile to

[code]

package versions
[code]

environment
[code]

[2017-02-24 10:09] loganfsmyth commented on #5370
Are you using a specific plugin like https://github.com/airbnb/babel-plugin-dynamic-import-node/blob/master/src/index.js to convert these? AFAIK the AMD transform does not support `import()`, and I'm not aware of any plugin yet that tries to support AMD yet.

Also I think for this usecase, I'd expect your example to become something like

[code]

since the `import()` is an async request?

[2017-02-24 10:13] zhanzhenzhen opened #5371 "Bug: `super.*` should be allowed before `super()`"
### Input Code

[code]

### Expected Behavior

This code is really legal. On every JS engine that support ECMAScript 2015, it doesn't throw error.

### Current Behavior

Babel does an early syntax check saying `super.*` is not allowed before `super()`.

### Possible Solution

Suppress this early check. The possible error should be runtime, not compile time. If `super.*` is called before `super()`,

[2017-02-24 10:14] loganfsmyth opened #5372 "RFC: Move caching from babel-(loader|register) to babel-core and plugin framework"
The way we load plugins and expose config right now is confusing (see `OptionManager#init`) and leads to lots of complexities. `babel-register` and `babel-loader` both implement their own logic to decide if the value they have in their cache is the equivalent result that they'd get by running Babel. We also saw https://github.com/babel/babel/pull/3564 where Ava could potentially be faster by not l

[2017-02-24 10:15] loganfsmyth commented on #5372
@jamestalmage If we did this eventually, would this be of help to Ava? If so, any input on the API proposal?

[2017-02-24 10:17] frederikbosch commented on #5370
@loganfsmyth I wrote [my own plugin for this](https://github.com/genkgo/dtk/blob/master/lib/dynamic-import.js). That originates from the webpack plugin.

And yes, you are right, what I expect maybe different. In any case, I do not expect the import to be picked up as a static import. And I believe that is what happens now. If I do not import a string but a variable dynamically, it works perfectly.

[2017-02-24 10:23] loganfsmyth commented on #5370
Ah, gotcha. I know what's causing this then. The answer here is "the AMD transform is gross" unfortunately.

One of the big blockers for Babel 7.x is a rewrite of the module transforms, which would also stop this extra transformation from happening with your plugin. I unfortunately don't think there is anything we can do to easily get around this in 6.x at this point.

[2017-02-24 10:27] frederikbosch commented on #5370
While I do not "the AMD transform is gross", I am happy with your reply. Maybe I will have a look in the AMD module transform soon, and see if I can be of help. Otherwise, I will have to wait for Babel 7!

[2017-02-24 10:57] frederikbosch commented on #5370
@loganfsmyth Thanks a lot for your feedback. This is possible after all. Your comment made me zoom into the AMD module loader and that made me recognize [my mistake](https://github.com/genkgo/dtk/commit/d37ef5b522cda40c2af41aa6e11160858f620f9b). The `require` method should be called as an array instead of a string.

I will extract that script as a separate amd dynamic import loader to help other A

[2017-02-24 10:57] #5370 closed

[2017-02-24 12:36] STRML commented on #5369
Thanks @jbrantly, and thanks for the test case. We have a few issues we've seen in 6.23 - this is a tricky beast and includes some updates to `PathHoister` which are hitting a few edge cases, such as default params. I hope to have them resolved by the next minor.

[2017-02-24 15:34] gap777 commented on #4982
I've followed the suggestions on this thread, but now I get this error:

[code]

Any suggestions?

[2017-02-24 16:07] jaridmargolin opened #5373 "Expose _babel-node"
In some instances it may be helpful to execute _babel-node directly. For instance, currently [inspect-process](https://github.com/jaridmargolin/inspect-process/blob/dev/bin/inspect.js) cannot debug child_processes. It implements similar logic to [handle node/v8 args](https://github.com/jaridmargolin/inspect-process/blob/dev/bin/inspect.js) and as a result should be able to side step the babel-node

[2017-02-24 18:03] loganfsmyth commented on #4982
@gap777 Best not to mix questions in with an unrelated issue. We have our recommended support channels documented in our README https://github.com/babel/babel#looking-for-support and we'd be happy to help via one of those channels.

[2017-02-24 18:58] aight8 opened #5374 "Get programmatically a list of used plugins"
# Feature request

Sadly there is currently no way to get a list of the used plugins (**inclusively which are added by presets**). The problem is that for debugging reasons I want to write a checker for the **webpack** package which checks if some module transformer are used.

Also optionally it should output the whole plugin list (for example env/latest etc. are dynamical on time) - but for this

[2017-02-24 19:04] loganfsmyth commented on #5374
Part of the issue here is that I don't think there is a clear list of plugins to give. If a user for instance does

    plugins: [require('custom-plugin')]

all Babel knows is that it was passed a plugin, it doesn't need to have a name, and we have no way of knowing where it came from.

We do have https://github.com/babel/babel/issues/2960 which I think is roughly what you are asking for?

[2017-02-24 19:40] aight8 commented on #5374
You have right. Then let's make a strategy change. Let just name the plugins internally, they have dozens of props which, can we just add a **name** prop to it? The most of the plugins are managed by babel luckily and it wouldn't BC-break anything.

just by the way: What happen if you add a plugin multiple times (for example by different presets)? Does the second plugin instance run but find nothi

[2017-02-24 19:46] hzoo commented on #5374
You can pass a name to plugins now - from http://astexplorer.net/

[code]

[2017-02-24 19:49] aight8 commented on #5374
@hzoo That's awesome - I must search that PR. All the current babel plugin's become a name also ? ;)

FYI: With this naming webpack could check if babel do any module transformation and prevent webpack by tree-shaking. I'm working on a PR there.

[2017-02-24 19:52] hzoo commented on #5374
I didn't know about it either earlier but it seems like it was always there? I just don't think the regular plugins have a name. I believe what @kittens said before was that if you pass a string it uses that as the name, otherwise it doesn't (require)

[2017-02-24 19:55] aight8 commented on #5374
Yeah than it's optional. But wouldn't be it nice to declare this name prop for all babel regular plugins?

[2017-02-24 19:56] loganfsmyth commented on #5374
The other part of my concern here is that the implication here is that third-party tools would be dependent on the names of our plugins seems terrible. If someone wants to come along and implement their own plugin or fork one of our own, they should be able to do so without having to worry about the fact that the plugin name would be different.

I'm up for exposing the name for debugging potential

[2017-02-24 20:04] aight8 commented on #5374
Hm okey I wondering about this argument, I guess over 99% don't fork babel plugins.
If someone fork a babel plugin or implement their own, everything is working fine. Babel must not limiting named plugins to one instance. It's for debugging purposes only.

I currently work on a webpack related package which analyse the webpack config and hint problems and improvements to the user.

[2017-02-24 20:08] loganfsmyth commented on #5374
Could you make a Webpack plugin that looked at the loader input and output and if it saw conversions from ES6 modules to CommonJS from before to after the loader, complain? If you focus on the input and output, you'd avoid all the details about Babel.

[2017-02-24 20:39] aight8 commented on #5374
Hm, this becomes big complexity then especially it should analyse the configuration-only without processing webpack. Also use the webpack object constructor to check if the basic structure is okey and use some libs which are required.

The list of checks are maintained and growing continuously - it's like a linter/analyser. However there are a handful (some dozens) of external loaders/plugins whic

[2017-02-24 21:11] gap777 commented on #4982
@loganfsmyth I was trying to suggest that what I'm seeing is related somehow to the problem talked about here... since I had the same symptoms as @brokenalarms, and tried his fix, and then got this...  if my issue is clearly not related to this thread, my apologies...

[2017-02-24 21:15] loganfsmyth commented on #4982
Gotcha, sorry. Your issue is that you are running Babel on `graceful-fs` when you should not be. Usually Babel skips files in `node_modules` entirely, so your setup may be overriding that.

[2017-02-24 21:19] gap777 commented on #4982
@loganfsmyth I am indeed overriding that, and I see that I am unintentionally babelizing graceful-fs within my node_modules. Please excuse me.

[2017-02-24 21:38] stephen-lim commented on #3757
We have the same problem. Our source code for historical reason resides in a deeply nested folder and cannot be easily moved at the moment. Installing node modules locally puts the files even deeper (because of its nesting structure) that even Windows API cannot recognize it anymore and errors out with a message like file path cannot exceed 256 characters during our build process. So we decided to

[2017-02-24 22:23] bdkjones commented on #3757
I just end up editing Babel-core to let it search globally if all other attempts to find plugins/presets fail. It's under Babel-core/file/option-manager.js or something like that. Two edits to be made, fixes it right up. Hassle when Babel updates, but such is life with JavaScript stuff.

Sent from my iPhone

[2017-02-24 22:24] loganfsmyth commented on #3757
You should be able to pass the absolute paths of the presets to Babel if you want.

[2017-02-24 22:27] bdkjones commented on #3757
I can post my modified file if you need it. You just have to pull out my edits and put them into the new file each time you update Babel because that option-manager file seems to change a lot. I still think a fallback to global resolution should be a thing, but the Babel team disagrees. The "just use a package manager" thing has gotten way, way out of hand. (It takes 700+ components and 300mb of c

[2017-02-24 22:33] bdkjones commented on #3757
@loganfsmyth they suggested the absolute paths once before. The trouble is, you can't always know what those paths are. For example, when including Babel in a Mac App that can be running from anywhere. Absolute paths are also fragile.

[2017-02-25 00:13] aight8 commented on #5374
I get rid of that, using babel-core and compile a small snippet with and without the provided babel config and than just look after import/export node type if they are got replaced. An improvement were to check which kind of modules are used - that just looks cool.

However really useful were to output **which** plugin (and from which preset) affected that.
Also, beside that, it's always informati

[2017-02-25 02:07] aight8 commented on #3757
@bdkjones what was your solution for this? would be cool if you could share it ! 👍
However it would be nice if this would be an option in babel.

[2017-02-25 08:51] izderadicka opened #5378 "Scoping issue with switch and let statements"
Hi I have found this problem:

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)
Using env preset - everything pretty much as in CLI tutorial

.babelrc:
[code]

### Expected Behavior
Above code works fine in recent firefox and chromium

### Current Behavior

babel transpilation is
[code]

This causes undefined variable error.

Clearly there is some misunderstand

[2017-02-25 16:32] xtuc commented on #5378
The `case` is just a list of statements and isn't providing a real scope.

The following code works:

[code]

[Try in REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=true&presets=es2015&targets=Node-4&browsers=&builtIns=false&code=let%20myVar%20%3D%20%7Bval%3A1%7D%3B%0A%0Aswitch%20(myVar.val)%20%7B%0A%20%20%20%20case%200%3A%0A%20%20%20%20%20%20%20%20alert('MyVar.val%20is%200')

[2017-02-25 16:43] aaronang commented on #5378
I found the following. I think the code is compiled correctly in:
* ES2016, [try in REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2016&targets=&browsers=&builtIns=false&code=let%20v%20%3D%200%3B%0A%0Aswitch%20(v)%20%7B%0A%20%20%20%20case%200%3A%0A%20%20%20%20%20%20let%20v%20%3D%201%3B%0A%7D).
* ES2017, [try in REPL](https://babeljs.io/repl/#?babili=false&eval

[2017-02-25 16:46] xtuc commented on #5378
@aaronang With ES2015 we need to transpile `let` to `var` and emulate a scoping in some cases. This issue occurs during the transformation.

[2017-02-25 16:55] aaronang commented on #5378
@xtuc But if you look at the [REPL](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&code=let%20v%20%3D%200%3B%0A%0Aswitch%20(v)%20%7B%0A%20%20%20%20case%200%3A%0A%20%20%20%20%20%20let%20v%20%3D%201%3B%0A%7D) of `babel-preset-es2015`. The compiled code is invalid too.

[2017-02-25 18:25] yavorsky commented on #5378
BTW, Wrapping `case` into the block solves the error:

[code]

[2017-02-25 18:44] izderadicka commented on #5378
[Adding block in case](https://babeljs.io/repl/#?babili=false&evaluate=false&lineWrap=false&presets=env&targets=&browsers=&builtIns=false&code=let%20v%20%3D%200%3B%0A%0Aswitch%20(v)%20%7B%0A%20%20%20%20case%200%3A%0A%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20let%20v%20%3D%201%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%0A%7D) indeed helps.   But as I understood all case statements are by defaul

[2017-02-25 19:08] loganfsmyth commented on #5378
I agree that this appears to be a bug. The curlies in `switch(x) { ... }` introduce their own block scope, so the argument to `switch` should not be transformed.

[2017-02-25 19:22] loganfsmyth commented on #5364
Seems like this is mostly a duplicate of your other bug https://github.com/babel/babel/issues/5374 since options include plugins.

[2017-02-25 19:40] #5364 closed

[2017-02-26 01:39] aaronang commented on #5232
@possibilities I looked into this and found that it actually does write the changes. I did the following to investigate this.

1. Create a test project with the following npm script:
[code]
2. Run:
[code]

3. Add `index.html`.

These steps actually copy the `index.html` to the `lib/`, even when `index.html` is changed. There is a catch though, in the CLI you won't see any notification that the fil

[2017-02-26 03:37] DrewML commented on #5148
+1

[2017-02-26 08:27] sudo-suhas opened #5382 "transform-runtime plugin option ignored for "polyfill":false"
`transform-runtime` plugin usage option for disabling polyfills is ignored when used to transpile code with async functions.
### Input Code
I am able to reproduce the bug using the vue [webpack template](https://github.com/vuejs-templates/webpack) starter pack.

To create a fresh project:
[code]
Modify `.babelrc` to have `["transform-runtime", { "polyfill": false }]`.

Add the following to `src/ma

[2017-02-27 13:21] ccschneidr commented on #4535
With the PR it would generally work. Still, it would need a possibility to process the source map as well. Currently babel ignores the existing map and just overrides it with the new one.

[2017-02-27 13:22] andrembpontes opened #5387 "Converting let to var"
Babel is converting 'let' to 'var' in a wrong way. You can try this example in Chrome and see a correct behavior according with JS specification. If you run the result of babel transpilation you will get an erroneous behavior, as described bellow.

### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

output:
[code]
or
[code]

### Cur

[2017-02-27 15:19] hzoo commented on #5387
Are you sure your example code is correct? You aren't doing anything to arr in the code and then console.log it so it's just the empty array.

[2017-02-27 17:53] vlad opened #5388 "[...new Set([1,2,3])] returns [Set(1,2,3)] instead of [1,2,3]"
### Input Code

[code]

### Babel Configuration (.babelrc, package.json, cli command)

[code]

### Expected Behavior

expecting to return [1,2,3] as in Chrome

### Current Behavior

[...new Set([1,2,3])] returns [Set(1,2,3)]
however, Array.from(new Set([1,2,3])) returns [1,2,3] as expected

### Possible Solution

### Context

### Your Environment

| software         | version
| ---------------- |

[2017-02-27 17:55] hzoo commented on #5388
It's because you are using loose mode, if you want Babel to be spec compliant you'll need to turn it off

[2017-02-27 18:39] loganfsmyth commented on #5387
You can try enabling `tdz: true` on `transform-es2015-block-scoping` but Babel does not currently enable it by default because it had some bugs if I remember right. Not sure how easy they were to hit though.

[2017-02-27 20:13] loganfsmyth opened #5389 "Explicitly declare options for "babel" command instead of autogenerating them from JSON"
Currently in the `babel` command, we autogenerate the CLI arguments in [babel-cli/src/babel/index.js](https://github.com/babel/babel/blob/696e63c58ba98e90c486b390918583c5ba59147d/packages/babel-cli/src/babel/index.js#L15) based on the JSON data in from [babel-core/src/transformation/file/options/config.js](https://github.com/babel/babel/blob/696e63c58ba98e90c486b390918583c5ba59147d/packages/babel-

[2017-02-27 23:57] zhanzhenzhen commented on #5371
Anyone checked it? @loganfsmyth or @hzoo ?

[2017-02-28 00:20] ljharb commented on #4274
Ping - any chance of fixing this soon?

[2017-02-28 01:45] Kovensky commented on #4274
That's actually not a problem with `polyfill: false`, it's a problem with `babel-runtime`.

`polyfill: false` means that it will not just include `babel-polyfill` and polyfill globally, but will only include the things it needs in library mode (no global polyfilling).

[2017-02-28 02:05] ljharb commented on #4274
ok - how can we avoid pulling in core-js?

[2017-02-28 08:14] wheresrhys commented on #4274
My experience is that it's always/mostly caused by being ultra safe every
time typeof is used (to cover cases where typeof Symbol is used). A flag to
disable this cautioun when transpiling typeof would go a long way to
solving the problem
On Tue, 28 Feb 2017 at 2:05 am, Jordan Harband <notifications@github.com>
wrote:

[2017-02-28 10:03] felixfbecker commented on #2061
I just found this thread. I have been using cyclic dependencies in TypeScript for a long time:

_User.js_

[code]

_UserGroup.js_

[code]

If cyclic dependencies are supported, how can this work if the imports are evaluated first (moved to the top)? It seems like those two requirements contradict each other

[2017-02-28 12:25] xtuc commented on #5371
I can reproduice it with a smaller example:

[code]

[Try in REPL](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=true&presets=latest&targets=Node-4&browsers=&builtIns=false&code=class%20Foo%20%7B%7D%0Aclass%20Bar%20extends%20Foo%20%7B%0A%20%20constructor()%20%7B%0A%20%20%20%20const%20t%20%3D%20()%20%3D%3E%20super.test()%0A%20%20%20%20super()%0A%20%20%7D%0A%7D)

This shouldn't throw

[2017-02-28 19:58] langpavel commented on #2645
:+1:

[2017-02-28 20:13] hzoo commented on #2645
Please don't +1, it's not going to make it happen any faster/sooner. If you have constructive comments to add you can comment in https://github.com/babel/babylon/pull/236

[2017-02-28 21:36] also opened #5395 "Plugins using Flow declarations as bindings"
Using the `syntax-flow` and `transform-es2015-classes` plugins together with `declare var` breaks a generated class method and triggers a warning (#3414):

[code]

This occurs when there is a `declare var` for a variable that is referred to in a method with the same name.

### Input Code

[code]

Full example here: https://gist.github.com/also/5e82e860699091d0df4c36f98cf2f666

### Babel Configurat

[2017-03-01 00:03] hzoo commented on #5395
Can you give more context into why you aren't using the flow preset/strip-types plugin and rather the syntax plugin?

[2017-03-01 00:49] also commented on #5395
I reduced the example to the simplest form I could figure out.

In my app, I'm am using `transform-flow-strip-types`. I encountered the issue where the reference to the `global` variable is changed to `_global`. While trying to track this down, I discovered that the same problem happens when just using just`syntax-flow`, and it also included the warning which seemed like it was likely related to t

[2017-03-01 02:09] loganfsmyth commented on #5395
We'll have to investigate the warning message itself, since this seems like probably not what we want.

That said, the transformation itself seems correct. You've declared a variable named `global` but it is scoped inside the module file itself, so it is not a global variable, and since it is scoped that way, Babel deems it safe to rename. I think to declare a real global, you'd need a flow declar

[2017-03-01 04:54] #5388 closed

[2017-03-01 10:49] chicoxyzzy commented on #5318
decorators are on stage 2

[2017-03-01 12:54] yangmingshan opened #5397 "babel-plugin-transform-runtime will not transform js in node_modules"
### Babel Configuration
[code]

### Expected Behavior
transform-runtime will transform js in node_modules, for example, Promise in [axios](https://github.com/mzabriskie/axios)

### Current Behavior
It will not transform js in node_modules

### Context
I use axios for http requests, it depends on Promise. If I don't import Promise polyfill, only use babel-plugin-transform-runtime, it won't work in

[2017-03-01 12:56] hzoo commented on #5397
Babel only compiles what you tell it to. It includes node_modules by default since most libraries in node_modules are already ES5 so that would be slower than necessary. You'd include to include it in your way of telling babel to compile (cli/loader) or to use a polyfill.

[2017-03-01 12:56] #5397 closed

[2017-03-01 12:57] hzoo commented on #5318
@chicoxyzzy yes but the implementation is old so we aren't updating

[2017-03-01 13:02] yangmingshan commented on #5397
Thanks for your reply.

[2017-03-01 18:43] idris commented on #2474
Has anyone found a cleaner workaround? Or is `babel-relay-plugin-loader` still the way to go?

[2017-03-01 21:06] bdentino commented on #4568
Any plans to address this? It seems that the list of ignores specified in .babelrc is once again not being respected by babel-cli.

[2017-03-02 01:21] aaronang commented on #4568
@bdentino This should be fixed in #3644. Are you able to reproduce this?

[2017-03-02 01:21] #4568 closed

[2017-03-02 04:56] #5190 closed

[2017-03-02 04:58] #4847 closed

[2017-03-02 05:08] Kovensky commented on #5371
That... is a really hairy case. I'm not sure it's possible to correctly transpile arrow functions and classes without violating _something_ about `super` in either one.

[2017-03-02 06:28] NE-SmallTown opened #5403 "Why don't convert the third and later arguments of React.createElement to an array"
I notice that the [official doc of createElement](https://facebook.github.io/react/docs/react-api.html#createelement):

[code]

The third argument should be an array.But I know we can pass something like `React.createElement('div', null, 'zzz', 'qqq');`,it does works.

But I check the src code of react when I debug:

![](http://i1.piimg.com/567571/f835a9a48907ca8e.png)

![](http://p1.bpimg.com/567

[2017-03-02 07:05] loganfsmyth commented on #5403
It is possible earlier versions of React did not allow an array there, I vaguely remember something about that, but I'm not totally sure.

Another reason I could see it being is done that way is because it is easier to convert the elements during a standard traversal, e.g.

[code]
to
[code]
to
[code]
to
[code]

[2017-03-02 07:19] isiahmeadows commented on #2474
@idris Placing it into a local `node_modules` folder (not at the root, obviously) is a decent workaround in my experience. I'd rather this fixed, but that workaround has been helpful for a while.

[2017-03-02 10:14] Wandalen commented on #1844
Annoying issue, what a point to force "strict" mode?
@kittens links are dead!

[2017-03-02 10:35] babak49 commented on #5357
Same issue for me. But I was able to reproduce this issue only on IE11. Chrome, Firefox, Edge 14 work fine

[2017-03-02 11:17] pronebird opened #5404 "Add option to copy-without-compilation in babel-cli"
Some of scripts such as service workers throw "require() is not defined" when babel injects code in it. Therefore it would be great if some of javascripts could be left untouched but copied over. `ignore` option does not cut it.

Running babel with:

[code]

1. I tried to drop .js extension from service worker but then browser cannot load it because it's missing some mime-type information.

2. `--

[2017-03-02 12:42] xtuc commented on #5371
I think we should remove the error if the parent node is a function like my example above. Since we can't really statically tell if it's going to be called before the super at runtime.

[2017-03-02 14:10] NE-SmallTown commented on #5403
@loganfsmyth Thanks for your reply,is there any way to ensure the reason?

[2017-03-02 16:44] hzoo commented on #5276
Ok given the widespread use of use of this, let's go with deprecating this feature in 7.0 and then merging `babelrc.js`.

[2017-03-02 16:47] #5277 closed

[2017-03-02 18:02] loganfsmyth commented on #5403
I think someone who knows React better than I do would have to chime in.

Is there a specific problem you are facing because of this?

[2017-03-02 18:08] loganfsmyth commented on #4920
I'm gonna close this.

I don't know that we'll remove it, but I'd absolutely consider `retainLines` deprecated. It is unlikely that we'll put try to fix these issues. Better to rely on sourcemaps if you need mappings back to the original source.

[2017-03-02 18:08] #4920 closed

[2017-03-02 18:11] loganfsmyth commented on #5284
See `Caveats` here: https://babeljs.io/docs/usage/caveats/#classes

[2017-03-02 18:11] #5284 closed

[2017-03-02 18:15] fatcerberus commented on #4920
The main reason I use `retainLines` over source maps is because source maps complicate breakpoints.  For example, if I set a breakpoint on one line and Babel converts it to two or more, what do I map it to?  Do you set multiple breakpoints?  And if the transpiler combines multiple source lines into one, that's even worse because the debugger can't differentiate between them.

[2017-03-02 19:34] loganfsmyth commented on #4920
Fair point. I don't think I'd considered `retainLines` as an actual human debugging benefit, I've been under the impression that most people used it for piecing together different tooling systems.

I generally feel like the output of Babel is close enough that you can mentally map things back to the original source. Do you find that having the exact line numbers match up helps your manual debuggin

[2017-03-02 20:04] fatcerberus commented on #4920
Some background here: I'm the developer of a JS-based game engine, [miniSphere](https://github.com/fatcerberus/minisphere).  The JS engine I use, Duktape, only supports ES5, so I *need* to use Babel to support ES6.  Duktape has a built-in stepping debugger which is used by my SSJ debugger frontend , but location tracking granularity only goes down to the line-number level - I can't set breakpoints

[2017-03-03 00:11] alloy opened #5408 "[babel-generator] Generated code doesn’t match with source with input source-maps"
### Input Code

I’ve put up a repo [here](https://github.com/alloy/test-source-maps-with-typescript-through-babel)

The relevant code is [here](https://github.com/alloy/test-source-maps-with-typescript-through-babel/blob/bd5423e52030ba4837be817a28b458b9a047d32c/index.js#L17-L25)

### Expected Behavior

I would have expected the source-map from babel-generator to map from the original TypeScript so

[2017-03-03 00:54] loganfsmyth commented on #5408
Assuming I'm understanding fully, I think this may be the expected, if frustrating, behavior. `babel-generator` outputs a sourcemap that maps to the sourcecode that was parsed to create the AST and does not take input sourcemaps into account. Currently they are merged inside `babel-core` in https://github.com/babel/babel/blob/7.0/packages/babel-core/src/transformation/file/index.js#L364, so if you

[2017-03-03 01:19] NE-SmallTown commented on #5403
@loganfsmyth Thanks.I will ask the member of react

No,I just want know.

[2017-03-03 01:19] #5403 closed

[2017-03-03 06:40] lingsamuel commented on #5371
This question maybe undecidable.
Probably it should be a runtime error, and give warnings in compile time instead.

[2017-03-03 07:10] aaronang commented on #2600
Seems to be fixed: http://astexplorer.net/#/gist/626c8d7ba420db35873e1e928f7bca69/19b19869937fb433e5e8621319dd1bd93e14148c.

[2017-03-03 07:10] #2600 closed

[2017-03-03 10:39] alloy commented on #5408
Ah yes! This works: https://github.com/alloy/test-source-maps-with-typescript-through-babel/commit/a2982c8fe47eed4a0cf4a012a84411b191e854aa

I was stepping through all the code looking for when the input and output maps of the generated code got merged and could only find it indeed in the transform step, glad I decided to ask.

So if I understand you correctly you’re suggesting to extract `mergeSo

[2017-03-03 13:30] domaslasauskas commented on #4375
I've recently came across this issue and I would like fix it. Could someone confirm that this would be expected result?

[code]

[code]

Related issues: #42

[2017-03-03 16:24] Kovensky commented on #4375
The `this` in your example constructor would throw `ReferenceError` on access, as `this` does not exist until `super` is called.

Also, even if you somehow managed to get away with a working `this`, you'd still crash when calling `Foo` as you cannot call a native `class` constructor as a function, ever, not even for ES5 inheritance.

[2017-03-03 16:55] loganfsmyth commented on #5408
I think it would be reasonable to move `mergeSourceMap` into `babel-generator` so people could more easily do what you are trying to do.

[2017-03-03 22:06] janthonyeconomist opened #5414 "Can you register passing the module name?"
I would like to concat my JS files into a single file; however, when you create your `System.register()` call, you don't pass the module name as the first param.  I'm a little confused because your code looks like it defines it:
[code]
However, when everything is compiled down, there is no module name.  Am I missing something?  Am I supposed to set some kind of plugin option for you to output thos

[2017-03-03 22:08] loganfsmyth commented on #5414
Generally SystemJS already knows the name because it is responsible for loading the files. If you wanted a single file I believe you'd use https://github.com/systemjs/builder

[2017-03-03 22:44] janthonyeconomist commented on #5414
Ah.  I see if i just add `"moduleIds":  true,` do my babel config, it will add the module name.  That is all I needed.

[2017-03-03 22:44] #5414 closed

[2017-03-03 22:51] STRML commented on #5369
A minimal test case:

[code]

The issue is that we're calling `path.insertAfter()` on the `export class B` `ClassDeclaration`, who's parent is an `ExportNamedDeclaration`, not the `Program`. Removing the `export` does not demonstrate the issue.