[2019-11-13 22:40] #10703 closed

[2019-11-14 03:55] shuichen17 opened #10706 "How can I use private method #? I got syntax error"
## Bug Report
I am learning this new feature. I installed "@babel/plugin-proposal-private-methods" and "@babel/plugin-proposal-class-properties". However it cannot be successfully compiled.
**Current Behavior**
Here is the error message:
{ SyntaxError: OOD/src/mian.js: Unexpected token (4:6)
pos: 61,
  loc: Position { line: 4, column: 6 },
  code: 'BABEL_PARSE_ERROR' }
 2 |     #milesDriven = 0

[2019-11-14 04:02] qiulang opened #10707 "@babel/preset-env fails to polyfill IE11 for debug module, version 4"
## Bug Report

I created a simple app to demo this problem(using vue-cli), https://github.com/qiulang/IE11
If I use[ debug module](https://github.com/visionmedia/debug) v3, IE11 can correctly show the page. But if I use v4 IE shows a blank page.

I don't know where I did wrong but I suspect this is a bug.

**Input Code**

Check https://github.com/qiulang/IE11/blob/master/src/main.js
Just import de

[2019-11-14 05:57] shuichen17 commented on #10706
I found the issue. I lost this. Sorry

[2019-11-14 05:57] #10706 closed

[2019-11-14 09:26] #10700 closed

[2019-11-14 09:26] 1Jesper1 commented on #10700
Was a problem with Prosemirror-state. I have updated all Prosemirror modules.

[2019-11-14 13:44] cbdeveloper opened #10708 "@babel/node command broke after installing and uninstalling babel-cli (old package)"
## Bug Report

**Current Behavior**
`npx babel-node main.js`  is triggering the error below:

[code]

It's weird cause it worked for a while and now is coming back as not found. I even closed and opened VSCode again and the error remained.

In between (from when it was working) I have installed the `babel-cli` (by mistake). Then I removed it and installed the correct one `@babel/cli` and then remo

[2019-11-14 15:19] JLHwung commented on #10707
By default babel does not transpile the third party codes in `node_modules`. You may add the `ignore` config to `babel.config.js` if you would like to transpile `debug` module:
[code]

[2019-11-14 15:57] JLHwung commented on #10708
You should install `@babel/node` and `@babel/core` before running `npx babel-node`, please refer to https://babeljs.io/docs/en/babel-node#install for more details.

[2019-11-14 16:00] #10664 closed

[2019-11-14 16:04] cbdeveloper commented on #10708
I did. And the `npx babel-node` command was working fine. It only stopped working only after I've added the `babel-cli` (by mistake) package and removed it. Somehow it broke the `babel-node` command.

[2019-11-14 16:04] #10708 closed

[2019-11-14 16:30] #10699 closed

[2019-11-14 16:31] #10620 closed

[2019-11-14 16:47] JLHwung commented on #10586
Closing it as duplicates of #7258.

[2019-11-14 16:47] #10586 closed

[2019-11-14 19:12] nicolo-ribaudo opened #10709 "ESLint-related packages migration - TODO"
- [x] Merge https://github.com/babel/babel/pull/10705
- [x] Remove lock files from new packages (https://github.com/babel/babel/pull/10711)
- [ ] ~~Ignore new packages while linting~~
- [x] Make "Lint" pass on CI (https://github.com/babel/babel/pull/10712)
- [x] Move CHANGELOG files to `.github/` (https://github.com/babel/babel/pull/10714)
- [x] Actually rename the new packages (https://github.com

[2019-11-14 20:40] rajasekarm commented on #10709
Can I pick this? Migrate from mocha to jest

[2019-11-14 20:45] nicolo-ribaudo commented on #10709
Ok :+1:

[2019-11-14 20:45] nicolo-ribaudo commented on #10709
If you wait 5 mins, I will push the linting PR first

[2019-11-14 20:46] JLHwung commented on #10709
Yep, let's make the CI green again.

[2019-11-14 20:47] rajasekarm commented on #10709
Sure, I'm making the change. I'm using https://github.com/skovhus/jest-codemods to make the change.

[2019-11-15 01:41] qiulang commented on #10707
@JLHwung I tried that but it did not work. Actually vue has a [transpileDependencies
 setting](https://cli.vuejs.org/config/#transpiledependencies) did the same and you can see I set that in my [pakage.json](https://github.com/qiulang/IE11/blob/master/package.json)

But anyway I sei ignore as you said. But I got the same error in IE 11

[code]

The **no static exports found** error. But if I switc

[2019-11-15 02:34] JLHwung commented on #10707
In https://github.com/qiulang/IE11/blob/master/package.json#L55, consider to revise it to
[code]
since `debug` offers a [`browsers` field](https://github.com/visionmedia/debug/blob/master/package.json#L50) and `debug/index` would not match any file.

[2019-11-15 02:37] JLHwung commented on #10588
Closing this as it can not be consistently reproduced. 😔

[2019-11-15 02:37] #10588 closed

[2019-11-15 02:39] #10537 closed

[2019-11-15 02:40] #10391 closed

[2019-11-15 02:42] #10300 closed

[2019-11-15 03:30] qiulang commented on #10707
No I have to use "debug/index" otherwise I will get the error message (I have hit this problem many times!)

"export 'debug' was not found in 'debug'“

[code]

and even chrome can open the page, with

[code]

[2019-11-15 03:32] qiulang commented on #10707
But anyway I had changed to add ignore in babel.config.js (and delete transpileDependencies) so I think it is not the reason

[2019-11-15 04:08] JLHwung commented on #10707
The `transpileDependencies` setting is necessary otherwise `babel-loader` will not feed `debug/src/*.js` to babel. The `ignore` config is not necessary because `babel-loader` is now in charge of what should be processed.

The error `ReferenceError: exports is not defined` is thrown from https://github.com/visionmedia/debug/blob/608fca962b34e2bda841db9a4416bab6b4a62803/src/browser.js#L7, which shou

[2019-11-15 04:37] qiulang commented on #10707
Hi I just can't make it work for IE 11, still SCRIPT1002: Syntax error

Can you take a look at my change https://github.com/qiulang/IE11/commit/83313413d5750698d4a6908c73048922f4264de5
to see if I have done anything wrong ?

[2019-11-15 11:37] sqal opened #10717 "@babel/plugin-proposal-null-coalescing-operator injects unnecessary variable"
## Bug Report

**Current Behavior**
@babel/plugin-proposal-null-coalescing-operator creates unnecesary variable declaration when variable used in conditional expression is within function scope

**Input Code**
https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABACwIZgCYBsCmBhNMAcxwAoYwAHEKANVSxBwEpEBvAKEUQgQGcoiAG4MmiALyIK1OqJyIA_AsR

[2019-11-15 23:07] kaicataldo commented on #10709
Assigning this to myself so I don't lose track of this, but that doesn't mean others should hold off on working on these tasks.

[2019-11-16 00:11] #10717 closed

[2019-11-16 01:51] JLHwung commented on #10707
Yep, see https://github.com/qiulang/IE11/commit/83313413d5750698d4a6908c73048922f4264de5#r35974825

[2019-11-16 23:05] miguelmota commented on #8482
This did not seem to work

[2019-11-17 04:17] qiulang commented on #10707
Hi, with your help I finally made it work for IE 11. Thanks you very much!

But I still have some questions:

**1. Do I need to` import "core-js";` in my main.js or not ?**

If I do not import it, babel complains "Import of core-js was not found."

But IE still shows my page correctly.

What confused me more is if I` import "@babel/polyfill"` instead of `import "core-js"` (as many articles I googl

[2019-11-17 08:53] nicolo-ribaudo commented on #10707
`module: auto` means "whatever Babel's caller wants". Since webpack wants ES modules, in this case auto and false are the same thing.

[2019-11-17 09:44] CntChen commented on #10227
plugin [@babel/plugin-proposal-class-properties](https://babeljs.io/docs/en/babel-plugin-proposal-class-properties) work for me.
[code]

[2019-11-18 15:24] kaicataldo commented on #10709
Looks like we’re all set except for renaming the packages. Thoughts on how to proceed? I’m of the mind that we should all of this with the next minor released that occurs after the new packages are ready.

[2019-11-18 16:56] thorn0 commented on #9231
@nicolo-ribaudo Please consider adding this issue to https://github.com/babel/babel/milestone/16

[2019-11-18 18:04] #10042 closed

[2019-11-18 18:18] #10525 closed

[2019-11-18 18:22] #10571 closed

[2019-11-18 18:23] #10096 closed

[2019-11-18 18:23] #7694 closed

[2019-11-18 18:24] nicolo-ribaudo commented on #9105
You can now use `declare` with class fields (TS 3.7, Babel 7.7)

[2019-11-18 18:24] #9105 closed

[2019-11-18 18:25] #10562 closed

[2019-11-18 20:53] jridgewell commented on #10503
We can actually mark iOS 8 as broken and iOS 9 as fixed, and preset-env will only transpile if iOS 8 is included in the list. We did that for tagged template literals.

[2019-11-18 21:20] hzoo commented on #4987
Via https://github.com/babel/babel/pull/10579 we are able to run the `language` tests in 30m, so I think we can close this and make a new issue for next steps:

- Visualize the diff/failures via a website, maybe link those as potential bugfix/issues for contributors (depending on the test, as some of them we may want to keep as wontfix), or something like test262.report
- Use this data for preset-

[2019-11-18 22:17] dominykas commented on #10659
We're looking into a similar issue (things happening in a different order after moving from 7.6 to 7.7 - not sure about details just yet).

I think another suspect could be #9481.

[2019-11-18 22:25] jbhoosreddy commented on #4987
Yeah.. I think this issue is good to be closed.

I do have a couple minor PRs outstanding:

1. local testing workflow: https://github.com/babel/babel-test262-runner/pull/25
2. better comparision strategy: https://github.com/babel/babel-test262-runner/pull/24
3. docs for maintainers: https://github.com/babel/babel-test262-runner/pull/22

But they don't require this issue to remain open.

[2019-11-19 03:09] hzoo opened #10734 "Feature: Using test262 CI data"
## Feature Request

**Is your feature request related to a problem? Please describe.**

We can close out https://github.com/babel/babel/issues/4987 (3 years later) since via https://github.com/babel/babel/pull/10579 (thanks to amazing work of @jbhoosreddy and many others) we are able to run the `/language` syntax tests of the official JavaScript test suite on CI per PR (takes 30min). We are using

[2019-11-19 03:10] hzoo commented on #4987
Cool closing in favor of https://github.com/babel/babel/issues/10734 and we can add our new ideas there! Really happy this landed and hope everyone else is too 🙂!

[2019-11-19 03:10] #4987 closed

[2019-11-19 04:17] jbhoosreddy commented on #10734
To add more technical information here, for future readers' sake:

We're storing the test262 result artifacts in [tap format](https://en.wikipedia.org/wiki/Test_Anything_Protocol) in the form of `test262.tap` file on master or PR jobs' artifact.

If you want to get the latest master branch results, you can use https://github.com/babel/babel-test262-runner command

[code]

The flat tap format is co

[2019-11-19 15:30] eps1lon opened #10735 "rest spread ignores default values"
## Bug Report

**Current Behavior**
Default values are ignored for rest variables.

**Input Code**
- https://babeljs.io/repl#?babili=false&browsers=chrome%2051&build=&builtIns=false&spec=false&loose=false&code_lz=AQYw9gdgzgLsDeAoYLgEkIAcCuMAKATmJlAFwLKoogA2AhlFAKZQA0lVAdNxjvkSQDyMABZMCHYAF9gAXgTAAZmDDkAjNPZduYUeMoz5mAVADcQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&

[2019-11-19 15:36] Qix- commented on #10707
53 million downloads a week and 1 user has a problem with their bundler != a bug in `debug`. I already get a bunch of spam over there, I don't need any more fuel added to that fire.

Most bundlers for the browser support CJS bundling. It's either that or we move to ESM exports at `debug` which will cause a horde of angry users with `"debug": "*"` in their package.json files blaming me for breaking

[2019-11-19 21:36] 0xdevalias commented on #5374
It would be nice to get this exposed in the CLI as well, as per https://github.com/babel/babel/pull/4806

[2019-11-19 23:23] nicolo-ribaudo commented on #10707
Note that the suggested configuration can be modified to tell Babel that `debug` already uses CommonJS:
[code]

[2019-11-20 00:24] 0xdevalias opened #10739 "babel-node should support NODE_REPL_HISTORY"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Using `node` directly to start a repl allows us to use the `NODE_REPL_HISTORY` env var to maintain our history. This provides a more direct/'nicer' way than having to resort to the `rlwrap` workaround described at https://babeljs.io/docs/en/next/babel-node.html

- https://nodejs.org/api/repl.html#repl_replserve

[2019-11-20 00:36] heygrady opened #10740 "@babel/preset-env includes transform-template-literals for safari"
https://github.com/babel/babel/blob/master/packages/babel-preset-env/data/plugins.json#L2-L10

https://caniuse.com/#feat=template-literals

Seems like there was [a critical bug](https://bugs.webkit.org/show_bug.cgi?id=190756) that affected template literals in safari 12 and ios 12.1. However, the issue was fixed and doesn't affect newer versions.

It's probably impossible to skip just those broken

[2019-11-20 16:06] JLHwung commented on #10740
@heygrady Good catch! Could you open up a PR?

[2019-11-20 16:48] existentialism commented on #10740
@heygrady if you haven't started, I actually created a branch for this last night as bumping `compat-table` requires another change.

[2019-11-20 19:19] #10081 closed

[2019-11-20 20:49] #10296 closed

[2019-11-20 23:18] JLHwung opened #10743 "transform-object-reset-spread should not revisit member access"
## Bug Report

**Current Behavior**
`transform-object-rest-spread` will revisit member access when rest element appears in nested destructuring

**Input Code**
- REPL or Repo link if applicable: [REPL](https://babeljs.io/repl#?babili=false&browsers=chrome%2036&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBAZg9jDCMCuA7ALhAvBADAbgChRIYsIBvAiCAcwFMNYYAKASgquujkVTQGp-hLhDAMkYFBQgAjcAC4IA

[2019-11-20 23:48] #10740 closed

[2019-11-21 10:21] ZeeCoder opened #10745 ""useBuiltIns" in preset-env cannot handle mixing cjs and esm modules with webpack"
## Bug Report

**Current Behavior**

Repo that reproduces the issue:
https://github.com/ZeeCoder/babel-preset-env-usebuiltins-error-repro

The way I noticed this was that I wanted to switch from including all polyfills from core-js (via the now deprecated @babel/polyfill) to have preset-env inject only the necessary bits based on usage.

When I enabled this however, I started to get a warning, sim

[2019-11-21 11:39] nicolo-ribaudo commented on #10745
Using Babel's `override` config option, you can set the `sourceType: script` option for those dependencies: Babel will then directly inject `require` calls

[2019-11-21 13:04] ZeeCoder commented on #10745
Adding `"sourceType": "unambiguous" ` to the babel options worked!
Thanks @nicolo-ribaudo , and also @loganfsmyth who gave me answers on Slack, you guys rock! :raised_hands:

[2019-11-21 13:04] #10745 closed

[2019-11-21 14:04] nicolo-ribaudo opened #10746 "Babel 8 Release Plan"
We plan to release a new major version in the beginning of 2020.

This release won't have all the migration pain which there was while migrating from Babel 5 to Babel 6 and then from Babel 6 to Babel 7. We plan to only make a few breaking changes, and provide an easy migration strategy for each of them. Because of this, you won't see ~80 prereleases like we did in for Babel 7.0.0, but we plan to o

[2019-11-21 20:29] JLHwung commented on #10609
@dongryphon Could you try upgrade to 7.2 or other versions? This can help us narrow down the possible changes that trigger this bug.

Above all, it would be great if you can construct a reproducible example on https://babeljs.io/repl

[2019-11-22 03:48] chenrui333 opened #10750 "latest version on npmjs registry is still v7.7.2"
just FYI, the latest version on npmjs registry is still v7.7.2. Thanks!
`https://registry.npmjs.org/@babel/core`

[2019-11-22 03:59] chenrui333 commented on #10750
Thanks @babel-bot, totally understand. Just to let the team know about this issue though. :)

[2019-11-22 05:41] nicolo-ribaudo commented on #10750
Thanks! It's because we only publish changed packages.

[2019-11-22 08:09] #10750 closed

[2019-11-22 16:16] broonage commented on #10333
I'm really struggling with this. We're stuck with a legacy amd project and have transpiling working fine with babel, but polyfilling is not in yet. I have the same issues as mentioned above. If this is not being corrected, is there a way of polyfilling in amd? I thought of creating a huge amd require js which points to indiviudal polyfill .js files, but babel and core are here for this right, so s

[2019-11-22 16:37] TrejGun commented on #10746
will this allow generate .d.ts files?

[2019-11-22 18:40] bhldev commented on #10374
TYVM

[2019-11-22 20:03] alekslario opened #10751 "Babel tries to import non existing package from core-js@3+"
## Bug Report
**Current Behavior**
Babel tries to import non existing package from core-js@3+
[code]
In core-js@3+ files are renamed and what used to be es7, es6 => now are es, esnext

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]
- Babel version(s): [7.5.5]
- Node/npm version: [e.g. Node 12.13.1/npm 6.7.0]
- O

[2019-11-22 20:40] JLHwung commented on #10751
Could you attach your babel-loader configuration?

[2019-11-22 21:02] kaicataldo opened #10752 "@babel/eslint-* v8"
Making an issue here to track the work that needs to be done for the new @babel/eslint-* packages for the v8 release.

#### `@babel/eslint-parser` (taken from https://github.com/babel/babel-eslint/milestone/1):
* ~~[add support for preset & plugins in babelOptions](https://github.com/babel/babel-eslint/pull/784)~~ We can add this in a later minor version if need be.
* ~~[11.0.0-beta.0 - Private cl

[2019-11-22 21:33] not-an-aardvark commented on #10752
Thanks for working on this!

By the way, mentioning `@babel/eslint` in a GitHub comment has the effect of pinging the people on the [GitHub team with the same name](https://github.com/orgs/babel/teams/eslint). I don't have a problem with the ping, but just pointing it out since I'm not sure that was the intention.

[2019-11-22 21:37] alekslario commented on #10751
I narrowed it down to "linaria/babel". Closing.

[2019-11-22 21:37] #10751 closed

[2019-11-22 21:41] nicolo-ribaudo commented on #10752
@hzoo Can we rename the team to @babel/eslint-team?

[2019-11-22 23:57] nicolo-ribaudo commented on #8462
This should now work when used with node 13.2, which is the first version supporting unflagged es modules.

[2019-11-23 01:07] kaicataldo commented on #10752
@not-an-aardvark Definitely was not the intention. Sorry about that!

[2019-11-23 03:56] existentialism commented on #10752
@hzoo @nicolo-ribaudo renamed to @babel/eslint-team

[2019-11-23 16:17] xiaoxiangmoe opened #10755 "Add support for .mjs config files"
## Feature Request

Add `babel.config.mjs` config file.

[2019-11-23 17:30] kaicataldo commented on #10752
Thoughts on this current list? I'd love to evaluate the additional options proposed in the issues above for @babel/eslint-parser in particular.

[2019-11-24 10:02] guitorioadar commented on #8577
The above solution are important. But if it doesn't fix the issue then this might help you...

If some one working on monorepo following [react-native-web-monorepo][1] than you need to `config-overrides.js` file in `packages/web`. you need to add `    resolveApp('../../node_modules/react-native-ratings'),` in that file...

My complete `config-override.js` file is

    const fs = require('fs');

[2019-11-24 10:03] guitorioadar commented on #8577
The above solution are important. But if it doesn't fix the issue then this might help you...

If some one working on monorepo following [react-native-web-monorepo][1] than you need to `config-overrides.js` file in `packages/web`. you need to add `    resolveApp('../../node_modules/react-native-ratings'),` in that file...

My complete `config-override.js` file is

    const fs = require('fs');

[2019-11-25 08:05] serenader2014 opened #10758 "@babel/preset-env adding unnecessary core-js polyfill"
## Bug Report

**Current Behavior**
@babel/preset-env is adding unnecessary core-js polyfill, when setting @babel/preset-env 's target options to `chrome 49`, for a quite simple one line code :`window.location.search`, babel will produce a useless core-js polyfill:

[code]

The weird thing is, when changing the target browsers to `chrome 50`, the polyfill is gone. So why babel will produce this `e

[2019-11-25 15:13] JLHwung commented on #10758
There is two questions here. The first one is why `regexp.search` polyfill is applied. The `regexp.search` polyfill kicks in because `window.location` could be overwritten as RegExp:
[code]
so when Babel sees a pattern like `foo.bar.search`, it would assume that `foo.bar` may be a RegExp and inject the `regexp.search` polyfill if the browser does not support `regexp.search`.

The other question is

[2019-11-25 15:26] slavafomin opened #10759 "transform-runtime is not removing regenerator-runtime import added by preset-env"
Hello!

Thank you for this great tool!

# Problem

However, I'm looking at situation when the `transform-runtime` plugin is not removing global `regenerator-runtime/runtime` import, which is introduced by the `preset-env` preset.

# Use case

We were working on some libraries and were using `preset-env` to actually transpile the code to the required target execution environment as well as to add n

[2019-11-25 15:43] zloirock commented on #10758
Wrong.

[2019-11-25 16:28] thiagoarrais commented on #10709
Maybe related? https://github.com/babel/babel-eslint/pull/807

@rajasekarm: what do you think?

[2019-11-25 18:38] JustinHaight opened #10760 "Version Numbers Out of Sync"
Version numbers aren't all in sync. With the latest `v7.7.4`, most of the packages were updated but the following weren't bumped:
* babel-core-frame
* babel-helper-fixtures
* babel-helper-plugin-utils
* babel-helper-regex
* babel-highlight
* babel-polyfill

[2019-11-25 18:38] JustinHaight commented on #10760
I'm willing to bump the versions in a PR if you'd like?

[2019-11-25 19:08] nicolo-ribaudo commented on #10760
We only publish packages whose source has changed, to avoid publishing 150+ packages each time

[2019-11-25 19:12] nicolo-ribaudo commented on #10755
https://github.com/babel/babel/pull/10507 is the first step in this direction.

[2019-11-25 20:30] slavafomin commented on #10759
The only way to work around this that I've found so far is to use [filter-imports](https://github.com/ember-cli/babel-plugin-filter-imports) plugin:

[code]

[2019-11-25 20:50] #10453 closed

[2019-11-25 20:51] #9938 closed

[2019-11-26 00:13] #10760 closed

[2019-11-26 00:16] JLHwung commented on #9842
Closing this as it is out of babel's scope.

[2019-11-26 00:16] #9842 closed

[2019-11-26 00:32] JLHwung commented on #9919
Closing it as duplicates of #7597.

[2019-11-26 00:32] #9919 closed

[2019-11-26 01:01] fellowT opened #10765 "babel cdn"
Can the introduction of CDN be introduced as needed  ,I just need to compile JSX

[2019-11-26 01:24] JLHwung commented on #10765
You can use the JSDelivr CDN: https://www.jsdelivr.com/package/npm/@babel/standalone and please refer to [@babel/standalone docs](https://babeljs.io/docs/en/babel-standalone) for its usage.

I assume that you are looking for a CDN used in PRC. I did a latency test and the result is [acceptable](http://www.17ce.com/site/http/201804_4f1b4607283bbef07550aae615a630a5.html).

[2019-11-26 02:09] serenader2014 commented on #10758
That sounds weird to me. So how can I use `window.location.search` without having a polyfill? Is there anyway to tell babel not to polyfill a specific file?

[2019-11-26 03:33] huarse opened #10766 "classNameTDZError in computed prototype methods with class fields"
## Bug Report

**Input Code**

[code]

**Output code with babel**

[code]

However, when I put the `static nickname = 'Tom';` out of the class,  like `Foo.nickname = 'Tom';` or just remove this line, the output code is correct

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babelrc`

[code]

**Environment**

[code]

[2019-11-26 04:12] JLHwung commented on #10766
[Here](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEDC0G8BQ1oCMwCcDcLoG0ByAMwHtTCBdACgEpE5oBfJJoA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=&prettier=false&targets=&version=7.7.4&externalPlugins=%40babel%2Fplugin-pr

[2019-11-26 07:19] nicolo-ribaudo commented on #10766
Note that we also must make sure that it still throws when the class binding is used inside the initializer of a static class property.

[2019-11-26 07:51] #9346 closed

[2019-11-26 08:16] huarse commented on #10766
@JLHwung I was trying to understood the code you mentioned , and then I found that even the feature **Implement TDZ for ClassFieldDefinitionEvaluation** has missed some case, eg.

[code]
this code would not be wrapped `_classNameTDZError`

[2019-11-26 11:12] ilya-pyatin opened #10767 "@babel/plugin-transform-react-inline-elements performance boost"
Hi, I have a question about @babel/plugin-transform-react-inline-elements - how can I measure the performance boost that the plugin provides?

The plugin is used on the project I'm working on, but it causes a lot of errors in the browser console ("Warning: Each child in an array or iterator should have a unique "key" prop.").

I understand that the plugin should be used only in production mode and

[2019-11-26 14:43] jandolezal71 opened #10769 "Trailing comma in typescript spread"
## Bug Report

Hi,

we have problem with trailing comma in typescript after upgrade to `@babel/core` to `7.7.4`.

We installed new prettier (https://github.com/prettier/prettier/blob/master/CHANGELOG.md#1182), which was injected trailing comma after rest in type, but `babel-parser` don't like it.

`tsc` command will not produce any errors, so trailing commas are fine in TS.

Cannot be this relevan

[2019-11-26 16:07] JLHwung commented on #10769
This issue can [reproduced](https://lihautan.com/babel-ast-explorer/#?eyJiYWJlbFNldHRpbmdzIjp7InZlcnNpb24iOiI3LjAuMCIsIm9wdGlvbmFsQ2hhaW5pbmciOnsib3B0aW9ucyI6e30sImVuYWJsZWQiOmZhbHNlfSwiZHluYW1pY0ltcG9ydCI6eyJvcHRpb25zIjp7fSwiZW5hYmxlZCI6ZmFsc2V9LCJjbGFzc1Byb3BlcnRpZXMiOnsib3B0aW9ucyI6e30sImVuYWJsZWQiOmZhbHNlfSwidHlwZXNjcmlwdCI6eyJvcHRpb25zIjp7fSwiZW5hYmxlZCI6dHJ1ZX19LCJ0cmVlU2V0dGluZ3MiOnsiaGlkZU

[2019-11-26 17:38] premdaryanani01 commented on #8599
@ghost this worked for me thanks a lot

[2019-11-26 20:38] JLHwung commented on #10766
@nicolo-ribaudo I don't think it should throw when the static field initializer references class binding. The initializer definition will be wrapped as function in [`ClassFieldDefinitionEvaluation`](https://tc39.es/proposal-class-fields/#runtime-semantics-class-field-definition-evaluation), which will be executed later in [`DefineFields`](https://tc39.es/proposal-class-fields/#sec-define-field). F

[2019-11-26 22:48] nicolo-ribaudo commented on #10759
Out of curiosity, why are you ok with `core-js` using global imports but not `regenerator-runtime`?

[2019-11-26 22:49] nicolo-ribaudo commented on #10769
Even if it is not a regression, this is highly problematic because it doesn't work with the output automatically generated by prettier.

[2019-11-26 23:05] nicolo-ribaudo commented on #10769
I believe that this is a bug in TypeScript itself, and I have opened an issue asking which is the correct behavior.

https://github.com/microsoft/TypeScript/issues/35375

[2019-11-27 09:18] WebReflection opened #10770 "reducing some bloat centralizing (...args) converstion"
## Feature Request

**Is your feature request related to a problem? Please describe.**
If I [write the following](https://babeljs.io/repl#?babili=false&browsers=ie%20%3C%2011&build=&builtIns=usage&spec=false&loose=false&code_lz=MYewdgzgLgBAhjAvDAFAOg3ATgcwgSiQD55cIBuAKFElgCMlUM1s9DETWKg&debug=false&forceAllTransforms=true&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel

[2019-11-27 09:51] slavafomin commented on #10759
@nicolo-ribaudo I can't get into much details right now, but we are working in complex environment with a lot of library code, end-user applications and dedicated service for polyfills and we are gradually switching between different approaches and we don't want to introduce breaking changes for application authors, so we've decided to encapsulate the `regenerator-runtime` in our libraries for now

[2019-11-27 10:07] nicolo-ribaudo commented on #10770
Isn't passing `arguments` to another function a known deoptimization in old engines? (New engines don't need the transform anyway)

[2019-11-27 10:14] WebReflection commented on #10770
AFAIK only if you pass it without using `.apply(null, arguments)` ... IIRC `.apply(null, arguments)` doesn't de-opt, and indeed the two benchmarks show basically no difference in using apply VS direct transform, even in the `(...args) => args` case

[2019-11-27 10:17] TomS- commented on #7597
Still an issue for me too. I've had this come up recently.

[2019-11-27 13:36] Elberet opened #10771 "Use of `arguments` should be permitted even in a field initializer, if the field is initialized with a class expression."
## Bug Report

**Current Behavior**
Any use of `arguments` within a class field initializer leads to `'arguments' is not allowed in class field initializer`, even when such a limitation appears unwarranted - e.g. if the class field is initialized with a class expression and `arguments` appears inside one of the declared class' methods.

**Input Code**
[code]
See also [babeljs.io/repl](https://babe

[2019-11-27 14:35] JLHwung commented on #10771
[Here](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEDC0G8BQ1oAdoF5qkjZqqAtgBQCUi0ATgKYAuArlQHbRhUDmDRNzdMAXxTQhAoA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=&prettier=false&targets=&version=7.7.4&externalPlugins=%40

[2019-11-27 14:57] TrevorBurnham commented on #7607
I'm trying to get @babel/standalone@7 running in IE11 and getting the error:

Polyfilling `WeakSet` is simple enough, but when I do so I get a different error:

Can you tell me what I need to do to get the new version of babel-standalone running in an ES5 environment? I had no trouble with babel-standalone@6.

[2019-11-27 15:14] jandolezal71 commented on #10769
Thank you Nicolò for processing this request.

[2019-11-27 16:33] thiagoarrais commented on #10679
@shenxiang11: this is the output I'm getting with `babel-node`:

[code]
This is a vanilla installation. Are you using any plugins/presets?

[2019-11-27 16:40] JLHwung commented on #10679
@thiagoarrais The error can be [reproduced](https://babeljs.io/repl#?babili=false&browsers=ie%20%3C%2011&build=&builtIns=usage&spec=false&loose=false&code_lz=G4QwTgBAHhC8EEYDcAoFAzArgOwMYBcBLAe2wnWOIAoZ4oBKCAbxQgl1IGdiAbAUwB0PYgHMa9FAF80FavSA&debug=false&forceAllTransforms=true&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&preset

[2019-11-27 16:45] thiagoarrais commented on #10679
Sorry! Fat fingered the close button...

[2019-11-27 16:58] Elberet commented on #10771
@JLHwung Sure, I can prepare a PR, but I think there are still some questions to discuss and I don't feel sufficiently proficient with the TC39 spec to decide all the answers myself - especially, for which nodes exactly the `inClassProperty` state flag should be reset.

For example, resetting the flag before parsing the class body may permit access to `arguments` within decorator call expressions:

[2019-11-27 21:50] nicolo-ribaudo commented on #10770
Related: https://github.com/babel/babel/issues/3927, https://github.com/babel/babel/pull/9152, https://github.com/babel/babel/issues/211

[2019-11-27 22:55] JLHwung commented on #10771
@Elberet Good point! If we reset `inClassProperty` in `parseFunctionBody`, the following case would be a false negative
[code]

But I believe you have pointed to the correct direction, we can check if the scope where `arguments` resides is the same scope as we have toggled on `inClassProperty`. However, instead of recording another state points to the `inClassProperty` scope, I guess we can simply

[2019-11-27 23:51] niftylettuce opened #10773 "latest @babel/runtime + transform-runtime plugin yields "_typeof4.default is not a function" on compiled output"
[code]

`_typeof4` is an object that is `{ default: { } }`

It's not a function and it's trying to be invoked.

`.babelrc` contents:

[code]

Using latest versions of babel/everything.

[2019-11-27 23:53] niftylettuce commented on #10773
Seems related to https://github.com/babel/babel/issues/8731

[2019-11-27 23:55] niftylettuce commented on #10773
The fix described in #8731 worked for me.

[2019-11-28 13:23] lastnigtic commented on #10700
hello! Have you solved this problem?

[2019-11-28 14:08] 1Jesper1 commented on #10700
@lastnigtic Yes

[2019-11-28 14:11] Tarpsvo commented on #10773
Running into the same issue, but the described fixed didn't help me.

[2019-11-28 14:12] JennieJi commented on #9173
Wow this still happens in latest version. Got test case [here](https://github.com/babel/babel/blob/75767d87cb147709b9bd9b99bf44daa6688874a9/packages/babel-cli/test/fixtures/babel/stdin%20--out-file%20--source-maps/out-files/test.js.map). And only fails in babel-cli, babel-core's transform works well. Not sure why babel-cli is not using same implementation from babel-core.

[2019-11-28 14:16] lastnigtic commented on #10700
@1Jesper1 Could you share your solution?
Compile the prosemirror dependencies in node_modules?

[2019-11-28 15:21] Aymkdn commented on #10097
Did you find any solution to this issue?

[2019-11-28 16:04] 1Jesper1 commented on #10700
@lastnigtic It had to do with this version: https://github.com/ProseMirror/prosemirror-commands/blob/master/CHANGELOG.md#bug-fixes-1 It was not compiled to ES5.

[2019-11-28 21:07] LarsDenBakker opened #10775 "[transform-modules-systemjs] top level this not mapped to undefined"
## Bug Report

**Current Behavior**
When using `@babel/plugin-transform-modules-systemjs` the top level `this` is not mapped to `undefined`.

When using `@babel/plugin-transform-modules-commonjs` it is mapped correctly to `void 0`.

**Reproduction**
SystemJS (incorrect):
https://babeljs.io/repl#?babili=false&browsers=chrome%2078&build=&builtIns=false&spec=false&loose=false&code_lz=BQMwrgdgxgLglgew

[2019-11-29 06:35] lcoder commented on #8617
[Hub. buildError](https://github.com/babel/babel/blob/4e774b726475aff9a6a1d2111afec21158979566/packages/babel-traverse/src/hub.js#L19)
It seems that the features have not been implemented

[2019-11-29 07:52] gear4s opened #10777 "Mocha and Babel 7 register not found"
## Bug Report

**Current Behavior**
Mocha can't find module
`✖ ERROR: Cannot find module '@babel/register'`

**Input Code**
- REPL or Repo link if applicable:

**Expected behavior/code**
Mocha should require @babel/register

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`
[code]

**Environment**
[code]

**Additional cont

[2019-11-29 08:14] futagoza commented on #10777
You might need to pass `-r babel-plugin-require-context-hook/register` to mocha when using [babel-plugin-require-context-hook](https://www.npmjs.com/package/babel-plugin-require-context-hook)

[2019-11-29 08:15] lastnigtic commented on #10700
@1Jesper1 Thanks for your help! Works well

[2019-11-29 09:06] gear4s commented on #10777
Thanks for replying @futagoza

I now get the error that context hook register does not exist:
` ERROR: Cannot find module 'babel-plugin-require-context-hook/register'`

I'm also using the test/mocha.opts

[2019-11-29 10:43] rajasekarm commented on #10709
Yeah, This changes should be added here.

[2019-11-29 10:51] nicolo-ribaudo commented on #10709
Please wait for Kai's go-ahead before opening new features/bug fixes in this repo.

[2019-11-29 10:54] rajasekarm commented on #10709
Sure

[2019-11-29 11:20] futagoza commented on #10777
Try these (just to debug, they wont let you use `require.context`):
- exclude `babel-plugin-require-context-hook` entirely
- other register hooks (e.g. `ts-node/register`)

If neither of these work, it's either a problem with mocha (most likely) or your node installation

[2019-11-29 11:49] gear4s commented on #10777
I got it working, thanks for pointing out mocha and node installation

Issue was that mocha was in the global installed modules, and not part of dev dependencies. I've installed it into my project's dev deps and reinstalled node on nvm.

Thanks a lot!

[2019-11-29 14:25] JLHwung commented on #10777
@gear4s I am glad that your issue is resolved.

[2019-11-29 14:25] #10777 closed

[2019-11-29 21:35] thorn0 commented on #10675
It doesn't seem to be the case. This issue is [reproduced on the REPL](https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABHYAeASgPgBQEMBOA5gM4Bci6AlOQIL764CeGmiA3gFCKL4CmUIfEgDaBEgF0A3BwC-QA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&l

[2019-11-29 22:38] nicolo-ribaudo commented on #10773
@niftylettuce @Tarpsvo What are your input files?

[2019-11-29 23:13] nicolo-ribaudo commented on #10746
@TrejGun It is totally unrelated I think. I'd be happy to hear more about it on our Slack!

[2019-11-30 00:19] yordis opened #10782 "Add support for .babelrc.json"
ESLint, Prettier, Husky, LintStage, and many other tools most likely use https://www.npmjs.com/package/cosmiconfig therefor they support `.MyConf.json`

## Feature Request

Add support for `.babelrc.json` configuration file.

[2019-11-30 03:32] JLHwung opened #10784 "rewriteThis in helper-module-transforms misses computed class elements"
## Bug Report

**Current Behavior**
The transformed code does not throw an expected error.

**Input Code**
- REPL or Repo link if applicable: https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAYwDYEMDOa4GE4G84DaMAFgJZoB0AdigLbAC6AFAJR4C-c7QA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileS

[2019-11-30 13:58] fiesh opened #10785 "String valued enums differ from tsc"
## Bug Report

I think this should have been fixed by #7160.

**Input Code**
[code]

**Expected behavior/code**
This is `tsc`'s output:
[code]

This is babel's output using `@babel/preset-typescript`:
[code]

- Babel version(s): v7.7.4
- Node/npm version: Node 12 / npm 6.12.0
- OS: Gentoo Linux
- Monorepo: Just test file
- How you are using Babel: `npm run babel -- --config-file /path/to/babelrc -

[2019-11-30 15:51] futagoza commented on #10785
From [the website/docs](https://babeljs.io/docs/en/babel-plugin-transform-tyapescript#caveats) for this plugin:

It also says, as a workaround, to use [babel-plugin-const-enum](https://www.npmjs.com/package/babel-plugin-const-enum); or remove `const` which makes the enum available at runtime (which I'm presuming you don't want?).

[2019-11-30 15:56] JLHwung commented on #10785
Yeah, Babel should throw "const enums are not supported" on `declare const enum E`.

[2019-11-30 16:16] JLHwung commented on #10785
For a better Dev UX, we should throw an `const enums are not supported` error. Here is where the error is thrown, we should make sure it will also throw for `declare const enums`.

https://github.com/babel/babel/blob/a6e8b3843b53c6e106d9fb2e37fea60c306dd97c/packages/babel-plugin-transform-typescript/src/enum.js#L6-L14

If you don't know how to clone Babel, follow these steps: (you need to have `ma

[2019-11-30 18:42] QingLeiLi commented on #8193
Run into the same issue, Is there a plan to keep the dir path? or anything else?

[2019-11-30 18:43] nicolo-ribaudo commented on #10785
We did already throw that error, but we removed it due to a really high number of people requesting it

[2019-11-30 18:45] nicolo-ribaudo commented on #10785
Ok no, we currently throw 🤔
https://github.com/babel/babel/issues/6476

[2019-11-30 18:46] nicolo-ribaudo commented on #10785
Related: https://github.com/babel/babel/issues/6476

[2019-11-30 21:52] fiesh commented on #10785
I used `babel-plugin-const-enum` but didn't see any difference, unless I used it incorrectly.

Also removing the `const` from the `enum` doesn't change anything, so I don't understand what it meant by not supporting `const enum`.  I guess a `const enum` is different from a `const` `enum` in a way?!

[2019-12-01 00:05] niftylettuce commented on #10773
@nicolo-ribaudo https://github.com/niftylettuce/frisbee and you can see how I managed to workaround this via https://github.com/niftylettuce/frisbee/blob/master/.dist.babelrc.config.js

[2019-12-01 08:36] liningftp opened #10786 "File with the same name, chrome debugger breakpoint location is confused"
## Bug Report

**Current Behavior**
Open Chrome and Turn on F12
Visit http://127.0.0.1/index.html
Breakpoint occurs in ./2/a.js, line2
[code]

But should occurs in ./a.js, line2
[code]

**Input Code**

./index.html
[code]

./a.js
[code]

./2/a.js
[code]

**Expected behavior/code**
Breakpoint occurs in ./a.js

**Environment**

- Babel version(s): v7.7.4
- Node/npm version: Node 13.0.1 /npm 6.12.0
-

[2019-12-01 08:45] liningftp commented on #10786
if ./2/a.js in the after ./a.js e.g.
[code]
debugger is right

[2019-12-01 09:45] Prakashandrews commented on #8599
<img width="661" alt="Screenshot 2019-12-01 at 5 44 11 PM" src="https://user-images.githubusercontent.com/2599266/69912302-58f4a500-1462-11ea-90b8-cc4d4b387a22.png">

{
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}

Issue with babel loader. can help to fix?

[2019-12-01 10:05] fiesh commented on #10785
OK, the problem is that `declare` removes the generated code when `const` is removed.

All our `enum`s are generated automatically in our (C++) backend.  We generate a declaration file that contains them, and since it's a declaration file, of course we can only write declarations.  So I guess a workaround would be to generate an additional implementation file that contains the `enum` implementatio

[2019-12-01 17:57] fiesh commented on #10785
@JLHwung I also think this should only be a warning, not an error, at least in the `declare` case.  When one uses string `enum`s, one can also use the actual string value `"e0"` instead of `E.e0`, and TypeScript will still type check this.  Using strings as such should be legal and would work with babel I think.

[2019-12-01 23:06] nicolo-ribaudo commented on #10773
@niftylettuce This isn't a bug but an unfortunate behavior which isn't really possible to fix, and your "workaround" is the correct way to do it.

A few days ago you changed your `browserify` command to compile every file
(thus, also your `node_modules` folder) instead of only your own files (https://github.com/niftylettuce/frisbee/commit/dab117527b8c96abf682e48692a9926cb2ac6ce1).

This means that

[2019-12-02 02:23] JLHwung opened #10789 "Preset-env loads unnecessary polyfills for Android >= 52"
## Bug Report

**Current Behavior**
The following snippet is transpiled

**Input Code**
- REPL or Repo link if applicable: https://babeljs.io/repl#?browsers=Android%20%3E%3D%2052&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0G8C-Q&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=t

[2019-12-02 06:45] fwh1990 commented on #10746
Wii 8.x be faster than 7.x when building my own project?

[2019-12-02 09:24] theshashiverma opened #10791 "dependency on core-js v2 which is deprecated."
# v7 Regression

**Potential Commit/PR that introduced the regression**
If you have time to investigate, what PR/date introduced this issue.

**Describe the regression**
A clear and concise description of what the regression is.

**Input Code**

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .bab

[2019-12-02 09:36] Tarpsvo commented on #10773
I have a huge non-open-source project with the issue. The breaking commit for me was this:
![image](https://user-images.githubusercontent.com/2018660/69947799-14671900-14f7-11ea-8bbc-d83ad415d5d4.png)

Nothing else changed and nothing I've tried helps.

Babel excludes:
[code]

Babel ignore:
[code]

[2019-12-02 10:48] nicolo-ribaudo commented on #10746
No. Version 8.0 will only contain breaking changes, so if there are any performance improvements that we can make they will also be included in 7.8.0.

[2019-12-02 10:54] nicolo-ribaudo commented on #10773
Without a reproducible demo it's really hard for us to debug the issue :confused:

1. Can you share the stack trace of the error?
2. `ignore` shouldn't be needed, since you are already telling webpack not to compile your `node_modules` except for `create-frontend`

[2019-12-02 10:56] nicolo-ribaudo commented on #10791
https://babeljs.io/docs/en/babel-polyfill

[2019-12-02 10:56] #10791 closed

[2019-12-02 12:59] Tarpsvo commented on #10773
Stack trace:
[code]

`internal-state.js`
![aha](https://i.imgur.com/ty8r7Rw.png)

I'll also try to make a reproducible example, but it might be a while.

[2019-12-02 13:16] mizchi opened #10792 "`@babel/runtime-corejs3` causes `TypeError: Cannot assign to read only property 'exports' of object '#<Object>'` with some import statements."
## Bug Report

**Current Behavior**

`@babel/runtime-corejs3` causes runtime error on webpack build: `TypeError: Cannot assign to read only property 'exports' of object '#<Object>'` with some import statements.

**Input Code**

[code]

I tried some import patterns.

- `import { ok } from "assert"` : error
- `import dep from "./dep";`: It works
- `import flatten from "lodash-es/flatten"`: It works.

[2019-12-02 18:06] kopax opened #10793 "MODULE_NOT_FOUND in @babel/cli/bin/babel.js => node_modules/core-js-compat/helpers.js:3:14)"
## Bug Report

We are experience errors on all our projects since a few minutes, we are still investigating

**Current Behavior**

`core-js` or `babel` is having issue to run babel build, this happen on all our projects that use babel and we are still investigating

**Input Code**
- REPL or Repo link if applicable: https://github.com/bootstrap-styled/provider

[code]

**Expected behavior/code**
A

[2019-12-02 18:10] nicolo-ribaudo commented on #10793
https://github.com/zloirock/core-js/issues/711#issuecomment-560512445

[2019-12-02 18:10] #10793 closed

[2019-12-02 18:15] fde31 commented on #5667
@pwmckenna I've been running into a similar situation where I'd like to have a somewhat "portable" cache for babel in order to be able to reuse a pre-built cache in multiple environments. Might be an edge-case but I'm wondering if have found a solution to deal with the absolute paths in the cache file? Also I couldn't find your PR for the custom cache. Can somebody point me towards any of that kin

[2019-12-02 19:08] JLHwung commented on #10792
The error stack reveals that webpack generates `__webpack_require__` in the output bundle. If you meant to bundle an app and run in node.js, consider set [`target`](https://webpack.js.org/configuration/target/#string) to `"node"` so that webpack will generate bundles that can leverage node.js `require`.

[2019-12-02 19:46] Webboss opened #10796 "Module build failed (from ./node_modules/babel-loader/lib/index.js):"
Html Webpack Plugin:
  Error: Child compilation failed:
  Module build failed (from ./node_modules/babel-loader/lib/index.js):
  Error: [BABEL] /Users/apple/Downloads/project/router-app/node_modules/webpack/  buildin/global.js: Cannot find module './src/data'
  Require stack:
  - /Users/apple/Downloads/project/router-app/node_modules/core-js-compat/helper  s.js
  - /Users/apple/Downloads/project/r

[2019-12-02 19:47] zloirock commented on #10796
See https://github.com/npm/cli/issues/545

[2019-12-02 19:47] #10796 closed

[2019-12-02 21:41] #10410 closed

[2019-12-02 22:03] #10765 closed

[2019-12-02 23:22] JLHwung commented on #10786
@liningftp Good catch! What happens here is that babel-standalone generates incorrect source maps which confuses Chrome DevTools. It will be fixed in #10797.

[2019-12-03 00:06] nicolo-ribaudo commented on #10769
If anyone wants to submit a PR, probably deleting the check for the rest comma from the `tsParseTupleElementType` parser function would be enough, but we'll also need tests.

https://github.com/babel/babel/blob/cfd26fdbf27a4c3eae2311ca145e36bc13dd2abc/packages/babel-parser/src/plugins/typescript/index.js#L615

If it is the first time that you contribute to Babel, follow these steps: (you need to h

[2019-12-03 05:53] mizchi commented on #10792
@JLHwung In this case(`node dist/main.js`), it works. thx!
But, sorry, I want to show you simple case. I want to transform for IE11 indeed.

webpack default `assert` polyfill looks broken yet with this case.

[2019-12-03 05:59] mizchi commented on #10792
This is real log on github CI (IE on Windows 10 Container)  https://github.com/mizchi-sandbox/aalegacy/pull/1/checks

[2019-12-03 11:06] loganfsmyth commented on #10792
Can you try adding `sourceType: "unambiguous"` to your config?
[code]

[2019-12-03 11:26] yeonjuan commented on #10769
@nicolo-ribaudo I will pick this up :)

[2019-12-03 11:39] nicolo-ribaudo commented on #10769
Sure!

[2019-12-03 13:26] guox191 opened #10798 "the `var` declaration is missing with the default function parameters scope"
## Bug Report

**Current Behavior**

Playground:
https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABFApgZygClJRBeRTASnwD5EBvAKEUQDcBDAJ0Qf0QEYBuGxCBNHAA2KAHRC4Ac0wMiPAL4lqtRiwAOTFHXgg07AAwKuQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&p

[2019-12-03 13:26] fasaas opened #10799 "@babel/plugin-proposal-optional-chaining works for tests but not for prod code"
## Bug Report

**Current Behavior**
I am having a piece of code with the optional chaining to avoid deep level nest checking, and I wanted to give this plugin a try.
I am very successful in testing the code, and all my tests pass, but when I do `react-scripts start` I get the following error `Add @babel/plugin-proposal-optional-chaining (https://git.io/vb4Sk) to the 'plugins' section of your Babel

[2019-12-03 16:45] JLHwung commented on #10799
`create-react-apps` does not respect the top level `babel.config.js`, so the behaviour here is expected.

However, the good news is that create-react-apps will include optional chaining in the upcoming 3.3 release. See https://github.com/facebook/create-react-app/issues/7981 if you would like to try on 3.3 beta.

[2019-12-03 16:45] #10799 closed

[2019-12-03 17:32] #10769 closed

[2019-12-03 20:12] jridgewell opened #10802 "Optional Chaining does not propagate receiver when parenthesized"
## Bug Report

**Current Behavior**

Optional Calls allows you to parenthesize the expression to break the optional-ness of the chain. For instance, `(foo?.bar).baz` requires that an object be returned to access `.baz`. This also applies to call expressions: `(foo?.bar)()`.

The problem is, that `(foo?.bar)()` must propagate `foo` as the `this` receiver to the call expression. We currently do not

[2019-12-03 21:05] gustavoschmidt opened #10803 "Name collision with `export *` does not throw error"
## Bug Report

**Current Behavior**
When two functions with the same name are re-exported from the same file with `export *` no error is thrown.

**Input Code**
File1.js
[code]

File2.js
[code]

File3.js
[code]

File4.js
[code]

**Expected behavior/code**
I expect the same error I get when I import two functions to the same file: `Identifier 'asdf' has already been declared`

**Babel Configuration

[2019-12-03 21:28] jridgewell commented on #10802
Excellent, the fix is actually really easy! We can handle this the same way we handle `delete foo?.bar`.

When the parent is a regular call expression (and the callee is the optional chain), we can use the parent as the root of the transform. Specifically, we need to add another check like https://github.com/babel/babel/blob/d18afbd7c3e977208194acbea4c0de0313a6e1eb/packages/babel-plugin-proposal-o

[2019-12-03 22:42] jridgewell opened #10805 "Optional delete must return true when base is nullish"
## Bug Report

**Current Behavior**

When using optional delete to delete a property of a nullish base, the delete operation returns `undefined`. It should return `true`

**Input Code**
[repl](https://babeljs.io/repl/#?browsers=Chrome%2078&build=&builtIns=usage&spec=false&loose=false&code_lz=DYUwLgBAZg9jDcAoAxjAdgZ0gJ3BAvBACYihgjRwD8AdAEYCG2SK6GMoNDGGI2YAClyR8oiGGwBXEAEp4QA&debug=false&forceAllTra

[2019-12-03 22:49] JLHwung commented on #10803
Babel processes input code per file level, which means it does not check if exports have been well defined in another file. Babel is a transpiler, it compiles every single JavaScript file to valid ES5. Therefore, in this case, it is the runtime/bundler that should take responsiblity to check module exports clash.

[2019-12-03 23:08] iansu commented on #10802
I’m interested in working on this issue if no one else is.

[2019-12-03 23:09] nicolo-ribaudo commented on #10802
Sure!

[2019-12-03 23:14] nicolo-ribaudo commented on #10803
When transpiling to commonjs, we could throw at runtime.

[2019-12-03 23:29] mpaarating commented on #10805
I can look at this!

[2019-12-03 23:29] nicolo-ribaudo commented on #10805
Sure, it's yours!

[2019-12-04 02:37] devuxer commented on #8497
@jescalan, Just wondering if you had an update on this. Thanks.

[2019-12-04 03:07] jescalan commented on #8497
Sadly, no update yet - I have this queued but it keeps sinking down the priorities for other things. In the meantime we are disabling the babel cache and getting by, albeit a bit more slowly.

[2019-12-04 05:11] christophermiles commented on #10707
@qiulang Did you get answer to any of these questions? Especially question 1? I am struggling with something similar and am finding the documentation extremely confusing and contradictory.

[2019-12-04 07:17] Andarist commented on #10746
I would like to propose a breaking change.

I believe that `@babel/runtime` helpers should not get special treatment when transpiled to CJS - at least not for their export shape (used requires etc can still be optimized). I propose such output:
[code]

With such ESM-compatible output we could try to explore removing `useESModules` option from `@babel/plugin-transform-runtime` because it's possible

[2019-12-04 07:23] qiulang commented on #10707
@chadhietala sadly no, or I will have closed my issue :(

[2019-12-04 07:25] qiulang commented on #10707
@christophermiles sadly no, or I will have closed my issue :(

[2019-12-04 07:55] falsandtru opened #10807 "`Object` variable declaration conflicts on commonjs"
## Bug Report

Avoiding reference to global variables such as `const { Object } = globalThis;` is an effective performance tuning technique: https://falsandtru.github.io/benchmark/suites/10/

But the current behavior prevents this tuning.

**Current Behavior**
[code]
[code]

**Input Code**
https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAE2AMwIY

[2019-12-04 07:55] mizchi commented on #10792
It works! https://github.com/mizchi-sandbox/aalegacy/pull/1/checks
I resolved this issue  (but I don't know why. need some documentation?)

[2019-12-04 07:55] #10792 closed

[2019-12-04 08:12] Webboss commented on #8599
I am facing the same problem and my babel is already updated but still show the same error-
Error: Child compilation failed:
  Module build failed (from ./node_modules/babel-loader/lib/index.js):
  Error: [BABEL] /Users/apple/Documents/project/router-app/node_modules/webpack/buildin/global.js: Cannot find module './src/data'
please help

[2019-12-04 09:35] fasaas commented on #10799
@JLHwung Thanks for the quick answer.
I am not very clear on what you mean by the `top level babel.config.js`, could you enlighten me?
Furthermore, it's kinda curious that react-scripts takes `babel.config.js` into account but not for that particular plugin.

Thanks again.

[2019-12-04 11:56] #10805 closed

[2019-12-04 17:36] gustavoschmidt commented on #10803
@JLHwung Thank you for the quick response. Since the only exported function of `File1.js` is `asdf`, I would expect the three expressions below to be equivalent:
[code]
[code]
[code]
But only the first two throw an error, which shows the third one is not equivalent in every case. If this is correct and the third should not be equivalent to the first two, feel free to close the issue.

Also thanks

[2019-12-04 18:18] monsonjeremy opened #10808 "@babel/preset-env with target specified is not able to compile"
I've had multiple instances where I have has issues with `@babel/preset-env` when specifying targets in my config for example

[code]

When I run my application I get the following error:
[code]

I'm not entirely sure why this is happening but if I update my config to the following, it works:
[code]

[2019-12-04 20:04] nicolo-ribaudo opened #10809 "Enable optional chaining by default in @babel/preset-env"
## Feature Request

<div align="center">

### Optional chaining is Stage 4!
![](https://media.giphy.com/media/56pSvQ2JFeGT6/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/preset-env` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/b92ad318f173e1a0573a188324aa0c222ea35782

1. Add it to `packages/babel-preset-env/src/available-

[2019-12-04 20:09] rajasekarm commented on #10809
I can give a PR now.

[2019-12-04 20:10] nicolo-ribaudo commented on #10809
I was going to mark this as a `good first issue` for new contributors :sweat_smile:

[2019-12-04 20:11] rajasekarm commented on #10809
sure, we can do that as well.

[2019-12-04 20:19] nicolo-ribaudo opened #10810 "Enable optional chaining by default in @babel/parser"
## Feature Request

<div align="center">

### Optional chaining is Stage 4!
![](https://media.giphy.com/media/inyqrgp9o3NUA/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/parser` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/24c4901ff56c57db1ac60e4d810424656d18e374

1. Remove all the `this.hasPlugin` and `this.expectPlugin`

[2019-12-04 20:44] VivekNayyar commented on #10810
I would like to take this up.

[2019-12-04 20:45] vivek12345 commented on #10810
I would like to take this up.

[2019-12-04 21:06] Druotic commented on #10809
I'll take a stab at this 👍 - it sounds straight forward enough.

[2019-12-04 22:13] jedwards1211 opened #10812 "@babel/preset-typescript + @babel/plugin-syntax-jsx doesn't support explicit JSX element type parameters like tsc"
I discovered today that `tsc` supports the following nice funky syntax:
[code]
According to my testing on AST explorer at least, babel 7 + `@babel/preset-typescript` + `@babel/plugin-syntax-jsx` flags this as a syntax error.

[2019-12-04 22:19] nicolo-ribaudo opened #10813 "Enable nullish coalescing by default in @babel/parser"
## Feature Request

<div align="center">

### Nullish coalescing is Stage 4!
![](https://media.giphy.com/media/xT5LMQ8rHYTDGFG07e/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/parser` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/24c4901ff56c57db1ac60e4d810424656d18e374

1. Remove all the `this.hasPlugin` and `this.expectP

[2019-12-04 22:54] layershifter commented on #10813
Can I take this one? 😇

[2019-12-04 23:01] kaicataldo commented on #10813
@layershifter Have at it!

[2019-12-04 23:23] nicolo-ribaudo commented on #10808
What is your node version?

[2019-12-04 23:58] monsonjeremy commented on #10808
@nicolo-ribaudo I've added the deubg option,
here is my updated babelrc:
[code]

here is the output:
[code]

[2019-12-05 00:35] jackisherwood commented on #10810
Can I take this?

[2019-12-05 01:11] JLHwung commented on #10810
@jackisherwood It's yours.

[2019-12-05 03:21] pakaponk opened #10816 "String.matchAll does not get polyfilled"
## Bug Report

**Current Behavior**
String.matchAll does not get polyfilled.

**Input Code**

[code]

**Expected behavior/code**
The transpiled code should contain this line `require("core-js/modules/es.string.match-all")`

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

- Browserslist: `last 1 safari version, l

[2019-12-05 07:23] #10771 closed

[2019-12-05 07:28] #10270 closed

[2019-12-05 08:35] zloirock commented on #10816
You should use `corejs: '3.4`.

[2019-12-05 08:35] #10816 closed

[2019-12-05 10:23] mario-d-s opened #10818 "Please improve documentation on how config options get merged"
Hi,

I was wondering how config options get merged between those passed to the JS API and those specified in config files (`.babelrc`, `babel.config.js*`). My question originally arose in rollup/rollup-plugin-babel#338 but I was told to report it here.

I found #6765 and #6905 but that seems to be more related to the `env` option...
The documentation over at https://babeljs.io/docs/en/options#merg

[2019-12-05 11:58] pakaponk commented on #10816
@zloirock Thanks! It works. At first, I thought when we use `corejs: 3`, it will always pick the latest version for us.

[2019-12-05 12:12] zloirock commented on #10816
It will break the case "modern compat data + old `core-js`".

[2019-12-05 15:10] Prakashandrews commented on #8599
Thanks :)

Thanks

[2019-12-05 15:11] Prakashandrews commented on #8599
Thanks

[2019-12-05 17:45] thorn0 commented on #10812
It works: https://astexplorer.net/#/gist/62e0a6da42ea4e7b9004451ffbcd1191/cb51300cfffbf354b9a372c454c1d29c2836bae4

[2019-12-05 18:34] JLHwung commented on #10812
I could not reproduce this error on REPL: https://babeljs.io/repl#?browsers=last%201%20version%2C%20not%20ie%2011%2C%20not%20ie_mob%2011%2C%20not%20op_mini%20all&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAYwgOwM7wMoQLbAIoCuwUAnnALxwAUAlBQHzUBQccAPIcSW1rgCIBDGAIA0cXsABqAqAEsBAIwA2wVIwCORUuQDeGAPIBZAKIB9PAFVjAJQCaAX3otWcHVR1wAJkIFx7dckYdZxc4KGAYAihkdk9ZADdGADoUuBgAC1lkAHNUOHS

[2019-12-05 19:28] jedwards1211 commented on #10812
Okay sorry, it must have been a bug in ASTExplorer then.  Maybe it failed to reparse after I tweaked the babel options

[2019-12-05 19:28] #10812 closed

[2019-12-05 21:43] createthis opened #10822 "fsevents 1.2.9 and chokidar 2"
seems like the latest version of cli requires chokidar 2 and fsevents 1.2.9, which is deprecated? I can't even install 1.2.9 anymore via npm. is anyone else experiencing this?

[2019-12-05 21:44] nicolo-ribaudo commented on #10807
Most of the transformations performed by Babel assume that the native environment isn't modified.
One of these assumptions is that all the built-in functions are not shadowed by any local variable.

[2019-12-05 21:51] nicolo-ribaudo commented on #10822
https://github.com/babel/babel/issues/10684, https://github.com/babel/babel/issues/9981#issuecomment-529808712, https://github.com/babel/babel/pull/10741

TL;DR: We can't upgrade to chokidar 3 because it doesn't support node 6, which we will still support until Babel 8.

Also, `fsevents` is an optional dependency which is only needed in MacOS, and won't be installed in any other OS.

[2019-12-05 21:51] #10822 closed

[2019-12-05 21:56] createthis commented on #10822
@nicolo-ribaudo um. cool. but what is the resolution on MacOS?

[2019-12-05 21:59] nicolo-ribaudo commented on #10822
Until then, MacOS will use the deprecated version. It hasn't been deprecated for security reasons but only to speed up the upgrade to v2, so it's still safe.

[2019-12-06 00:39] nicolo-ribaudo opened #10824 "Enable dynamic import by default in @babel/parser"
## Feature Request

Dynamic `import()` was approved for Stage 4 in June: this means that it should be enabled by default in `@babel/parser` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/24c4901ff56c57db1ac60e4d810424656d18e374

1. Remove all the `this.hasPlugin` and `this.expectPlugin` checks related to this plugin in `packages/babel-parser/src`
2. Remov

[2019-12-06 02:41] kaicataldo opened #10826 "@babel/parser: differences between Espree when using ESTree plugin"
## Bug Report

**Current Behavior**
There are a few cases for newer where `@babel/parser` deviates from ESTree. These should be aligned so that `@babel/eslint-parser` works correctly with existing ESLint rules.

##### Dynamic Imports
`@babel/parser` currently parses dynamic imports (`import('a')`) as `CallExpression`s (code [here](https://github.com/babel/babel/blob/master/packages/babel-parser/sr

[2019-12-06 04:14] yeonjuan commented on #10824
@nicolo-ribaudo I will pick this up :)

[2019-12-06 04:21] existentialism commented on #10824
@yeonjuan mind saving this for a first time contributor?

[2019-12-06 04:24] yeonjuan commented on #10824
@existentialism  I don't mind :)

[2019-12-06 04:27] existentialism commented on #10824
@yeonjuan thanks so much!

[2019-12-06 04:43] falsandtru commented on #10807
Most other (especially native) module types don't have this limitation. Therefore this is incompatibility of module types with a very common namespace.

[2019-12-06 07:50] guox191 commented on #10798
Any updates?

[2019-12-06 07:58] AbdulAli19 commented on #10824
can i take this one?

[2019-12-06 08:28] sspantz opened #10829 "'--ignore' conflicts with '--copy-files'"
## Bug Report

**Current Behavior**
cli option '--copy-files' copies all non-compiled files, including ignored files

**Input Code**
- Not behave as what i expect
[code]
run in terminal
[code]

**Expected behavior/code**
'--copy-files' copies all non-compiled files, and skip ignored files

**Environment**

- Babel version(s): [v7.7.4]
- Node/npm version: [ Node v12.13]
- OS: [OSX 10.15.1,]
-  How

[2019-12-06 09:08] nicolo-ribaudo commented on #10824
@AbdulAli19 Sure!

[2019-12-06 11:39] rajasekarm commented on #10829
Hi @sspantz, ignored files should not be copied to the out-dir.

https://github.com/babel/babel/blob/master/packages/babel-cli/src/babel/dir.js#L88

Right now the condition is,

1. if not written and copyFiles is enabled, move the file to out dir.
2. If the file is in ignore list, the written will be false, so ignored files is getting added.

But we've to add a condition , if not written and the f

[2019-12-06 12:30] #10548 closed

[2019-12-06 12:35] AlmeroSteyn opened #10830 "IE11 Promise polyfill not loaded from @babel/present-env v7.7.0"
## Bug Report

I have an issue with `@babel/preset-env` not injecting the Promise polyfill after upgrading from `v7.6.3` to `v7.7.x`.

**Current Behavior**
In a Preact application, when upgrading `@babel/preset-env` from `v7.6.3` to `v7.7.x`, IE11 crashes with console error  `"Promise" is undefined`. In the same repo, by simply reverting back to `v7.6.3`, the issue goes away and the code works fla

[2019-12-06 12:41] nicolo-ribaudo commented on #10830
Could you at least share the path of the source file which contains the promise which isn't being transpiled?

[2019-12-06 13:11] AlmeroSteyn commented on #10830
@nicolo-ribaudo Oh yeah of course!

Fails on `/node_modules/preact/dist/preact.module.js`  and `/node_modules/regenerator-runtime/runtime.js`.

Both files that I cannot imagine should need transpilation?

[2019-12-06 15:21] sspantz commented on #10829
hi @rajasekarm , thanks for your response and quick fix. but what if i try to copy the ignored files after  this issue fixed.

[2019-12-06 15:41] createthis commented on #10822
The inability to install 1.2.9 turned out to be a local network issue. Thanks for taking the time to respond and sorry for the noise.

[2019-12-06 19:51] anthony-redFox commented on #10830
I guess  - it is the same as https://github.com/babel/babel/issues/10678#issuecomment-551408687

[2019-12-06 20:15] rajasekarm commented on #10829
Ignored folder/file will be always skipped when moving to the out dir.

[2019-12-06 21:04] rwjblue opened #10832 "Unresolvable runtime helper modules after upgrading to v7.7.5"
## Bug Report

https://github.com/babel/babel/pull/10549 introduced a bit of breakage to consumers of `ember-cli-babel`.

When using `@babel/plugin-transform-modules-amd` to transpile the runtime helpers (from `@babel/runtime/helpers/esm`) into AMD modules, the resulting define statement's do **not** include the `.js` extension. However, when using `@babel/plugin-transform-runtime@7.7.5` (which in

[2019-12-06 21:05] rwjblue commented on #10832
I'm happy to work on changes to ember-cli-babel to accommodate this change, but wanted to open an issue here to discuss (in case other communities are affected as well).

[2019-12-06 23:44] izure1 opened #10834 "An error occurs when a parameter in the parseFloat function passes an invalid value."
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
NaN should be returned, but an error will occur and the execution will be aborted.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babelrc`

[code]

**Environment**

[2019-12-06 23:52] izure1 commented on #10834
Oh, it was my mistake. I'm sorry for the confusion.

[2019-12-06 23:52] #10834 closed

[2019-12-07 19:35] difosfor opened #10838 "Add persistent caching support to babel core"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Babel takes a significant amount of time when run from command line. This became especially frustrating as I was using it to transpile TypeScript. It was nice that I could configure different tools to support that simply by enabling their support for Babel. But it seemed wasteful that they kept performing the sa

[2019-12-07 22:05] #10832 closed

[2019-12-07 22:50] nicolo-ribaudo commented on #10838
Currently plugins/preset can rely on the `caller` option, which is provided by the tool which calls Babel.
For example, this simple config:
[code]
generates two different outputs if run using `rollup-plugin-babel` or `@babel/cli`: in the first case it outputs ES modules; in the second one it generates CJS modules.

For this reason, when the `caller` (i.e. the tool which uses Babel) changes, the ca

[2019-12-08 08:20] 403605209 opened #10840 "develop a Chinese JS compiler"
I am developing a Chinese js compiler.
hava any good idea?

for example:
``` 符 str = ‘abc’``` --->  ``` var str = ‘abc’```
``` 如(正){}```          --->  ```if(true){ }```
``` 函(参){}```          --->  ```function(parameter){ }```

[2019-12-08 10:26] nicolo-ribaudo commented on #10840
If you fork our parser and modify its tokenizer so that it looks for Chinese words rather than English words,you can the use it in an unmodified `@babel/core` which will already translate it to English.

[2019-12-08 13:15] 403605209 commented on #10840
I downloaded the parser code and modified its tokenizer, how can I compile the code into a production version.

[2019-12-08 13:52] nicolo-ribaudo commented on #10840
You can run `make build` (after running `make bootstrap`), and then you can use either publish `packages/babel-parser` under a new name, or use it locally with `npm link`

[2019-12-08 13:54] 403605209 commented on #10840
thx so much

[2019-12-08 13:54] #10840 closed

[2019-12-08 20:35] Domiii opened #10841 "Adding to Program from nested visitor is ignored with targets: {node:'current'}"
I want to have this plugin insert code at the top when it stumbles across certain type of code down the tree. Works fine when targeting `es5`, does not work when targeting `node: 'current'`.

## My plugin

[code]

## Test input code (to be transformed by plugin)
[code]

## My babel configs

[code]

## Current Behavior
I run the same test twice, once targeting es5 (see config et al below) which wor

[2019-12-08 23:35] kp2017 opened #10842 "Documentation on https://babeljs.io/ is incorrect"
The documentation states: "Babel is a JavaScript compiler." It should say, "Babel is a JavaScript transpiler."

https://www.merriam-webster.com/dictionary/compiler defines a compiler as:
a computer program that translates an entire set of instructions written in a higher-level symbolic language (such as C) into machine language before the instructions can be executed

https://www.yourdictionary.co

[2019-12-08 23:39] nicolo-ribaudo commented on #10842
From wikipedia:

https://en.wikipedia.org/wiki/Compiler

Thus, a transpiler is a compiler.

[2019-12-08 23:39] #10842 closed

[2019-12-09 00:02] kp2017 commented on #10842
Yes all transpilers are compilers but not all compilers are transpilers. Unless Babel is going to take on the role of all the other types of compilations, it would be better termed a transpiler.

Your source also notes this: A program that translates between high-level languages is usually called a source-to-source compiler or transpiler.

[2019-12-09 00:20] nicolo-ribaudo commented on #10842
A man is a human, but not all the humans are men. If I had a website that says "I am a human" I wouldn't expect anyone to complain "You are not a human, you are a man!".
It's the same thing: even if not every compiler is a transpiler, every transpiler is a compiler and thus Babel _is_ a compiler.

That said, this discussion has already taken place a million times on every possible dev-related soci

[2019-12-09 11:07] dipodidae commented on #10374
it really fixed it! unbelieveable!

[2019-12-09 11:27] onrun opened #10844 "typeAnnotation don't output to ts file correctly"
## Bug Report
![image](https://user-images.githubusercontent.com/18000037/70432120-786e7c00-1ab9-11ea-904d-4ab450b8ea13.png)

![image](https://user-images.githubusercontent.com/18000037/70432284-ddc26d00-1ab9-11ea-9610-6c0b4c90da44.png)

[2019-12-09 14:28] wheresrhys opened #10845 "Bug: transpiled first argument in tagged template should not be immutable"
## Bug Report

**Current Behavior**
After adding babel to a node project, a template tag that previously worked now errors when trying to mutate the value of the first argument

**Input Code**
[code]
Results in this error:
[code]

**Expected behavior/code**
When evaluated in nodejs (version 8 through 12) without babel there is no error, and the argument can be mutated ok. [The spec](https://www.ec

[2019-12-09 16:12] JLHwung commented on #10845
I can not reproduce this error on [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBNBOBLADgUQLbKgTwGKPmgBlEwBTGAXhgAoALAQ3gBMBhEZs5gGhgDoBANyYQAlFQB8MAN4AoGDADyAIwBWZYFD4AzeGTIAvMvSZsOXUQG5ZASEYt2nZgG0ADAF0qMAOQQQ6Mig6UgBzGDIAGwgyb2sbPSgAV3gwHz8AmGZE9HRsGD0IZHBo2NkAX2tZUEhYYSQGZQiKam8Gb1kq4thEWGoEFAwsPAJiUjIAAwASaTrEBqay8aA&debug=false&force

[2019-12-09 20:15] pvdz commented on #10410
Hurray :)

[2019-12-09 22:50] nicolo-ribaudo commented on #10844
Where did you get that AST from? It isn't well-formed.

1) Those nodes are for Flow, not for TS.
2) The node used to annotate the parameter should be a `TypeAnnotation` (if using flow), which contains your `ObjectTypeAnnotation`

If you are building that AST yourself, I suggest two good resources to do it correctly:
1) [ASTExplorer](https://lihautan.com/babel-ast-explorer/#?eyJiYWJlbFNldHRpbmdzIjp

[2019-12-09 23:04] nicolo-ribaudo commented on #10845
It is specified to be frozen. You can test this in Chrome:

[code]

Note that in loose mode frozen objects don't throw but fail silently: maybe you were testing it in loose mode in node, but transpiling modules (which are strict) with Babel?

Spec: Step 14 of https://tc39.es/ecma262/#sec-gettemplateobject, which is the algorithm which given a template literal node, generates the corresponding obje

[2019-12-09 23:04] #10845 closed

[2019-12-09 23:04] mk-pmb commented on #7357
Looks like the "good first issue" tag here is outdated.

[2019-12-09 23:08] mk-pmb commented on #6705
How's progress going? Should I take a look?

[2019-12-09 23:08] nicolo-ribaudo commented on #7357
Since `good first issue` is paired with `i: docs`, I think that the original intent was "Updating the docs would be a good first contribution"

[2019-12-09 23:10] mk-pmb commented on #7357
Indeed, however now it seems there's a PR that solves it. If not, someone should comment on #1584 what's missing.

[2019-12-09 23:31] JLHwung commented on #6705
@mk-pmb Sure, you can also pair with @biddwan09 to see if he/she has come up with idea towards a solution.

[2019-12-09 23:58] mk-pmb commented on #6705
From a cursory look, for the hard case it seems we need to establish a mechanism to bubble up annotations, marking parts of the AST as tainted and carrying a todo list of what needs to be checked as soon as we know enough context. I'll need to read more about how our parser works, this will take a while.

[2019-12-10 01:29] #8796 closed

[2019-12-10 01:29] #9899 closed

[2019-12-10 03:15] onrun commented on #10844
Sorry, it's my mistake !

[2019-12-10 03:15] #10844 closed

[2019-12-10 06:50] golubvladimir opened #10851 "Error get @babel/preset-env@^7.6.3"
I run `npm install` for nuxt project
Npm logs

[code]

[2019-12-10 08:09] nicolo-ribaudo commented on #10851
Probably the downloaded file is corrupted; try running `npm install` again.

[2019-12-10 08:18] golubvladimir commented on #10851
@nicolo-ribaudo Problem resolved

[2019-12-10 08:18] #10851 closed

[2019-12-10 09:38] edoardocavazza opened #10852 "ESTree parser plugin incompatibility with ObjectProperty"
## Bug Report

**Current Behavior**

When transpiling JSX with the `estree` parser plugin we have an exception:
[code]

**Input Code**

See https://gitlab.com/edoardo.cavazza/babel-estree-compatibility

**Expected behavior/code**

Babel is able to transpile JSX and to generate an ESTree compatibile AST.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)*

[2019-12-10 10:05] isaachinman commented on #8748
Is there any update on options that are available to devs for this use case?

[2019-12-10 10:25] nicolo-ribaudo commented on #10852
Babel expects an input AST that is in the Babel format, not in the ESTree one.

If you need to generate an ESTree AST, I suggest first running Babel and the converting it's output (either by re-parsing the output code, or by using something like https://github.com/lightscript/babel-to-estree)

[2019-12-10 10:29] edoardocavazza commented on #10852
Wasn't the `estree` plugin intended to convert the Babel AST to the ESTree one? I may have misinterpreted the doc 😅 https://babeljs.io/docs/en/babel-parser#output

[2019-12-10 12:43] dcleao commented on #10625
When you use `@babel/plugin-transform-runtime` without any options, the default for the `corejs` is `false`, which, per the [docs](https://babeljs.io/docs/en/babel-plugin-transform-runtime#corejs) means that the babel helpers with require modules from `@babel/runtime`.

The latter implementation of the babel runtime does not safe-guard any of its code, by importing `core-js` shims or by other mean

[2019-12-10 13:46] donaldpipowitch commented on #8748
I started working on something. It should be quite easy to extend, PR welcome. https://github.com/prisma-capacity/babel-plugin-react-display-name

[2019-12-10 14:17] nicolo-ribaudo commented on #10852
It is meant to generate an ESTree ast from the parser. The problem is that the transformers use the Babel AST format, so the `estree` parser plugin shouldn't be used if you want to then transform the AST using Babel's architecture.

[2019-12-10 23:15] dcleao commented on #10261
I've checked that specifying the "version" property solves the issue, when calling Babel directly to process each file.

However, it doesn't affect a build generated with Webpack and `babel-loader`...
I'm out of ideas :-(

[2019-12-11 07:32] edoardocavazza commented on #10852
Ok, it's all clear now, thanks @nicolo-ribaudo for the explanation!

[2019-12-11 07:32] #10852 closed

[2019-12-11 07:34] luyaoguang opened #10855 "Module not found: Error: Can't resolve '@babel/runtime/helpers/typeof' in '/Users/luyaoguang/node_modules/webpack/buildin'"
Module not found: Error: Can't resolve '@babel/runtime/helpers/typeof' in '/Users/luyaoguang/node_modules/webpack/buildin'

[2019-12-11 07:58] realduolaf commented on #10337
#10220 How's it going?

[2019-12-11 08:12] realduolaf opened #10856 "Something unexpected after re-export a TypeScript Type"
## Bug Report

I don't know if this is a bug. I saw #10162. Maybe there's something wrong with my configuration. Other relevant information #10337 #10044 .

**Current Behavior**
Using @babel/plugin-transform-typescript@7.7.4 via @babel/preset-typescript@7.7.4, re-export a typescript type and get a `not found` warning in the browser console.

[code]

**Input Code**

in `a.ts`:
[code]
in `b.ts`:
[co

[2019-12-11 10:32] nicolo-ribaudo commented on #10855
`npm install --save @babel/runtime`

[2019-12-11 13:39] golubvladimir opened #10857 "Problem with download @babel/preset-env ?"
I can not to load @babel/preset-env by npm.
[code]

I try:
[code]
These commands doesn't work.

For exmaple:
npm install react - work
npm install @babel/core - work
npm install @babel/preset-react - work

[2019-12-11 14:34] nicolo-ribaudo commented on #10857
The version cached by npm had some problems during the download and it is corrupted. Try running `npm cache clean --force`, delete `node_modules` and re-running `npm install`.

[2019-12-11 14:58] golubvladimir commented on #10857
@nicolo-ribaudo Thank you)

[2019-12-11 14:58] #10857 closed

[2019-12-11 15:31] eps1lon opened #10859 "transform-runtime transpiles non-CallExpressions of Object.assign"
## Bug Report

**Current Behavior**
`Object.assign` will be transpiled by transform-runtime

**Input Code**
- REPL or Repo link if applicable: https://github.com/babel/babel/blob/3303b079c596e56909adff4b834f098f5f1d8e2a/packages/babel-plugin-transform-runtime/test/fixtures/runtime-corejs3/built-in-static-methods-proposals/input.js#L51

[code]

**Expected behavior/code**
A read of a function should

[2019-12-11 19:14] zloirock commented on #10859
`var assign = Object.assign` is also non-`CallExpressions`. If you write something like in your example - it's just a problem of your code.

[2019-12-11 20:35] nicolo-ribaudo commented on #10859
Yes, Babel should simulate a native environment as much as possible. It can (and does) do much more than simply replacing function calls.

[2019-12-11 20:58] kaicataldo commented on #10826
These issues have been fixed.

[2019-12-11 20:58] #10826 closed

[2019-12-11 21:01] kaicataldo commented on #10752
I'm not sure this should be a high priority for the v8 release: https://github.com/babel/babel-eslint/issues/786. While it would be nice to support this, this feels like an edge case that, if we do support, might open up another can of worms. Thoughts?

[2019-12-11 21:14] kaicataldo commented on #10752
Also wanted to note that we should probably wait for https://github.com/estree/estree/pull/204 to be finalized before updating the ESLint packages so that we don't duplicate any work.

[2019-12-11 22:03] JLHwung commented on #10337
@realduolaf #10220 fixes flow type export. It does not address this issue.

[2019-12-11 22:05] danez opened #10861 "Do not parse invalid TSTypeCastExpression"
## Bug Report

**Current Behavior**
This parses correctly and results in an AST with a `TSTypeCastExpression`.

**Input Code**
[code]
https://astexplorer.net/#/gist/d90b938ca053a4fd56f834eba9c7432e/2c78977c8dfed48c4b31ed4c7bab57b02cfa4ec1

but it is not valid Typescript syntax:
https://ts-ast-viewer.com/#code/BQSQdgDgrgLgXAAgIZgJ4EoDcAoIA

**Expected behavior/code**
This should throw a syntax erro

[2019-12-11 23:01] kaicataldo commented on #9506
Trying to resolve this for https://github.com/babel/babel/issues/9506, and it sounds like we need to decide what our policy is re experimental features and ESTree. The ESTree spec generally doesn't add language features until they hit stage 4 (see https://github.com/estree/estree/pull/204 as an example). Waiting for the ESTree spec makes the `@babel/eslint-*` packages redundant, because ESLint cor

[2019-12-12 04:44] eps1lon commented on #10859
I'm not sure how you got the impression that I think otherwise?

`if (Object.assign === undefined)` is a problem of my code, why?

Just to clarify: Would you agree with me that the current behavior is a problem or not?

These statements contradict each other. If I'm doing feature detection it shouldn't be transpiled. Otherwise the feature detection is useless: If `if (Object.assign === undefined)`

[2019-12-12 05:27] azizj1 commented on #10690
Has this been added yet?

[2019-12-12 05:42] shrinktofit commented on #10856
As far as I know, this is a restriction of `@babel/plugin-transform-typescript`.

Why?

`@babel/plugin-transform-typescript` transform Typescript files by eliminating imported identifiers if this identifier is type-only used, just like tsc with options `isolatedModules` set to true. For example:
[code]
The plugin sees that `IOptions` is type-only used. So it remove
[code]
from emitted file.

But w

[2019-12-12 07:37] zloirock commented on #10859
A simple example:
[code]

[2019-12-12 07:42] eps1lon commented on #10859
For what?

We don't want to throw in the block. Just skip using e.g. logging libraries that need Object.assign.

[2019-12-12 07:47] zloirock commented on #10859
The example that if it will not be transpiled users will have an error instead of returning work like in engines with native `Object.assign` support.

[2019-12-12 07:53] eps1lon commented on #10859
If that is a concern then don't change it. But you commented on the linked PR introducing even more transpilation. At least leave the status quo so that the behavior stays the same.

Third times the charm: Why does transform-object-assign not work this way?

[2019-12-12 07:54] eps1lon commented on #10859
Also

This is still subject to dead code elimination. Why would you use this code and the transform?

[2019-12-12 08:09] rareyesdev commented on #6341
I'm also experiencing this with `7.7.5`.

[REPL](https://babeljs.io/repl#?browsers=safari%2010.1&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBADgJxHAcgQwLYFMYF4YDkiy62AamgDYCuWBA3AFCMBm1YwUAluDCyCAAUAbxgBtYqkxYAugC4YotABoYAI1UA6bQizQYAX0MBKRYxgxdUagjCW9UJgaA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&s

[2019-12-12 08:42] nicolo-ribaudo commented on #10690
Not yet, but the next minor release (which will include them) will probably be in about 2 weeks.

[2019-12-12 09:19] nicolo-ribaudo commented on #10856
That's correct @shrinktofit. Btw, this you actually test it `tsc` with `isolatedModules` matches Babel's behavior? If you did, then this is the expected behavior.

[2019-12-12 09:36] realduolaf commented on #10856
@shrinktofit  Thanks for your reply。 I know the reason. I know that Babel handles these types by ignoring type checking, but I think maybe there is a way to determine the actual type(type-only or common) of the variable being exported when exporting it?

[2019-12-12 09:36] nicolo-ribaudo commented on #9506
I propose this policy:
1) Only adapt things in the `estree` `@babel/parser` plugin once they are part of the ESTree specification
2) Experimental features use the normal Babel AST, even when `estree` is enabled
3) If needed (for example, for https://github.com/babel/babel-eslint/issues/749), the experimental Babel AST can be adapted by `@babel/eslint-parser` so that it works with ESLint's existing

[2019-12-12 09:38] nicolo-ribaudo commented on #10856
It's not possible, because Babel works per-file and not across the whole dependencies graph.

For example, given this code:
[code]
is it a type-only or commonjs variable?

[2019-12-12 10:19] realduolaf commented on #10856
@nicolo-ribaudo Oh I see. Thanks for your reply. And I'm a little curious that if it's possible to add some syntax or some settings in comments(like eslint ignore) as a plug-in to manually mark whether to export or not? Wouldn't that be weird?

[2019-12-12 11:07] davideapvd commented on #10816
Hello,
when using useBuiltIns: "usage", should the matchAll polyfill should be included? I have a test repo here https://github.com/davideapvd/testusagebabel and it doesn't get included.

[2019-12-12 11:22] realduolaf commented on #10337
@realduolaf OK. Thank you.

[2019-12-12 11:23] realduolaf commented on #10337
@JLHwung OK~ Thank you.

[2019-12-12 12:29] zloirock commented on #10859
`transform-object-assign` is not my work, so I have no ideas.

Yes, it's the case for dead code elimination and I think that this transform should be improved in the future. But cases could be more complex and dead code elimination will not work.

[2019-12-12 12:49] zloirock commented on #10816
@davidaurelio since it's `usage`, it's another issue. `shippedProposals` does not make sense here. It's a Babel issue since built-ins definitions should be updated to the actual `core-js` version.

[2019-12-12 16:59] EsoterikStare commented on #6226
It seems like the intuitive, expected behavior for most [users](https://github.com/babel/babel/issues/6226#issuecomment-473748171) is that `--ignore` (or an ignore config in babelrc) be respected by `--copy-files` because it's a great feature and the simplest way to solve a very common problem. Further, it sounds like [the behavior changed to this less desirable behavior between v6 and v7](https:/

[2019-12-12 21:58] #10855 closed

[2019-12-12 22:00] JLHwung commented on #10808
@monsonjeremy Can you draft a minimal reproducible example on REPL from `/src/server/preferences/handlers/sessions.js`?

[2019-12-12 23:25] JLHwung commented on #10829
Closing this as it duplicates #6226

@sspantz It's a nice report.

[2019-12-12 23:25] #10829 closed

[2019-12-13 02:11] shrinktofit commented on #10856
If you must do that, you can write a plugin to export interfaces, types to `undefined` or any value just like https://github.com/babel/babel/issues/10337 suggested.

[2019-12-13 02:59] shrinktofit commented on #10856
Yes. With `isolatedModules` set, tsc does not allow reimporter an interface, or type:

![image](https://user-images.githubusercontent.com/28807867/70764134-8f4ef000-1d91-11ea-8bef-c11bc121d664.png)

[2019-12-13 03:56] skeggse opened #10864 "support opt-in import-anywhere syntax"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Generally, putting imports anywhere besides the top-level is covered by the dynamic imports case. In `jest`, the file-mocking mechanism enforces the loading of external modules within the confines of the module initializer provided to that mocking mechanism. That is, if I want `db.js` to export a fake database

[2019-12-13 13:29] nicolo-ribaudo commented on #10856
Thanks @shrinktofit!

@realduolaf I'm closing this issue, since Babel's goal is to match TS's `--isolatedModules` option.
If you want, I suggest following @shrinktofit's advice (https://github.com/babel/babel/issues/10856#issuecomment-565270310)

[2019-12-13 13:29] #10856 closed

[2019-12-13 13:34] nicolo-ribaudo commented on #10864
We are not going to implement a feature unless it is at least an ECMAScript proposal. TypeScript/Flow/JSX are an exception because they are popular and widely used languages built on top of ECMAScript.

That said, you could enable the parser option `allowImportExportEverywhere` and write your own plugin to transform it.

[2019-12-13 13:34] #10864 closed

[2019-12-13 13:37] nicolo-ribaudo commented on #10864
https://astexplorer.net/#/gist/e2f2e874eaae9fadf7a6a1f17449741f/8267013c429aa4c29f7d2ab7cff898e91c5f614f

[2019-12-13 13:39] #9947 closed

[2019-12-13 13:52] smelukov commented on #10798
I'm trying to research and solve it ☺️

[2019-12-13 14:37] bdryl-softserve commented on #8979
@nicolo-ribaudo is this a bug? Should we investigate it in order to fix that or is somehow expected behavior?

[2019-12-13 14:43] smelukov commented on #10798
I think that I've found the reason:

- https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-parameters/src/params.js#L149 - at this point we use `callDelegate` helper
- https://github.com/babel/babel/blob/master/packages/babel-helper-call-delegate/src/index.js#L35 - at this point we use `hoistVariables`(there is a todo, maybe it is a reason?)
https://github.com/babel/babel/bl

[2019-12-13 15:57] difosfor commented on #10838
Alright, it's untested in this form, but hopefully easier to read at least:
https://github.com/exmg/babel/commit/f6e0a9f4e8fb464930fe64e8cd6fd71942d18c67

[2019-12-13 16:47] dosentmatter commented on #10785
@fiesh, from what I can tell. It seems like babel currently transforms `declare const enum` as if it was `declare enum`. Unlike the plain `const enum`, `declare const enum` doesn't complain. Either way, babel doesn't support the inlining feature of const enums. The only way I know how to inline right now is by using [`babel-plugin-const-enum`](https://www.npmjs.com/package/babel-plugin-const-enum)

[2019-12-13 16:52] dosentmatter commented on #10785
@fiesh, from what I can tell. It seems like babel currently transforms `declare const enum` as if it was `declare enum`. Unlike the plain `const enum`, `declare const enum` doesn't complain. Either way, babel doesn't support the inlining feature of const enums. The only way I know how to inline right now is by using [`babel-plugin-const-enum`](https://www.npmjs.com/package/babel-plugin-const-enum)

[2019-12-13 22:24] davidaurelio commented on #10816
@zloirock did you mean to mention me here?

[2019-12-13 22:30] zloirock commented on #10816
@davidaurelio sorry, seems it's an issue with GitHub autocomplete.

[2019-12-14 11:19] fiesh commented on #10785
@dosentmatter Thank you very much for the detailed explanation.

Our use case is an automatically generated TypeScript declaration file that specifies the exposed API of the underlying C++ program.  Our enums were then exposed via `declare const enum`.  An enum `E` being `{ e0 = "e0" }` could then either be used via `E.e0` or the string literal `"e0"`.

The latter should probably be supported by b

[2019-12-14 12:06] D-Pagey commented on #10374
@zouxuoz Thanks, fixed it with failing build in Netlify!

[2019-12-15 01:21] taralx opened #10866 ""default" in .browserslistrc"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

**Environment**

[

[2019-12-15 01:29] taralx opened #10867 "@babel/preset-env doesn't work with default in browserslistrc"
## Bug Report

**Current Behavior**
If relying on external browserslist config, "defaults" in that file resolves to empty set, which enables all transforms.

**Expected behavior/code**
"defaults" should resolve normally. In the example below, many transforms should be disabled.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.confi

[2019-12-15 01:34] taralx commented on #10866
Oops, dunno how that happened.

[2019-12-15 01:34] #10866 closed

[2019-12-15 22:31] ProgrammingLife commented on #8482
Why there are so many different versions of babel: babel-cli, @babel/cli? Which one to use? As I supposed we should use @babel/cli instead of babel-cli?

[2019-12-16 06:41] starkana commented on #8229
How come this hasn't been patched yet? I still have to add node_modules to the path to make it work.

[2019-12-16 09:52] TomasHubelbauer opened #10869 "Sourcemap misreports the locations of string literals which are JSX children"
## Bug Report

**Current Behavior** & **Input Code**

https://github.com/TomasHubelbauer/babel-sourcemap

[code]

In the output:

[code]

- `div` is mapped correctly
- `App` is mapped correctly
- `h1` is mapped correctly
- `Welcome to my application!` is mapped to the `h1`
- `This is my app!` is mapped to the `div`
- `strong` is mapped correctly
- `MINE.` is mapped to the `strong`

So, it appears

[2019-12-16 14:34] dosentmatter commented on #10785
@fiesh, I think babel-plugin-typescript doesn't support inlining `const enum` because it requires type information and babel transpiles files/modules in isolation (`isolatedModules` flag). So if you do `export const enum`, that `const enum` won't be able to make it into a different module when importing it. `const enum` is entirely a type, since it inlines and has no code output.

The way `babel-p

[2019-12-16 18:48] JLHwung commented on #10867
Closing this as it duplicates #9962. We plan to fix it in babel v8.

@taralx It is a nice report, thank you!

[2019-12-16 18:48] #10867 closed

[2019-12-16 19:48] taralx commented on #9962
FYI it's "browserslist" and not "browserlist", which is why I did not originally find this one. :)

[2019-12-16 20:30] nicolo-ribaudo commented on #10798
[code]

This code, which is passes as a parameter to `VariableDeclaration` should already add the variables without initializer to the scope. Maybe that function isn't always called by `hoistVariables`?

[2019-12-16 20:38] nicolo-ribaudo commented on #10625
Another option is to transpile `@babel/runtime` with `@babel/preset-env`.
We have been discouraging it for two reasons:
- `@babel/plugin-transform-runtime` can't be used to transpile `@babel/runtime` because it will inject circular dependencies. This can be solved by excluding that plugin for this package.
- `@babel/preset-env` could have some problems when transpiling the `@babel/runtime/helpers/

[2019-12-17 09:04] artisb45 opened #10875 "Very high memory usage compiling mozilla/PDF.js"
## Bug Report

**Current Behavior**
When running npm start or npm run build, while pdf.js is used in create-react-app project, memory usage seems to skyrocket to unreasonable amounts and fail with "JavaScript heap out of memory" error.
![unreasonable memory usage](https://user-images.githubusercontent.com/13067633/70979646-a146d080-20ba-11ea-8982-247b09b20ad1.png)
![NPM Error](https://user-images.

[2019-12-17 09:06] antonellil opened #10876 ""Error at Promise.coroutine" being generated during runtime using bluebird with coroutines"
## Bug Report

**Current Behavior**
We've been using this plugin for year(s) now with the bluebird module and coroutine option to enable cancellation (which works as expected), but just did some memory profiling and noticed a significant amount of memory is being allocated due to these error strings at runtime for every single async function we define:
![image](https://user-images.githubuserconten

[2019-12-17 11:06] nicolo-ribaudo commented on #10752
Remove unnecessary rules from the plugin: https://github.com/babel/eslint-plugin-babel/issues/188

[2019-12-17 12:46] chenyuncai opened #10877 "Cannot parse json object with two keys. Unexpected token expected ";""
## Bug Report

**Current Behavior**
We want to use babel/parser to extrac the strings in my code to auto localization. I write my own html parse to get the js code and send the js code to 'babel/parser'.

**Input Code**

[code]

**Expected behavior/code**
Expected return the same status about fail or success. But one of them goes wrong.

**Babel Configuration (babel.config.js, .babelrc, package.js

[2019-12-17 14:36] GoodForOneFare opened #10878 "transform-react-constant-elements does not transform all hoisted `_react` references"
## Bug Report

**Current Behavior**
`transform-react-constant-elements` can generate unrunnable code if two functional components are defined, and the first component renders the second component.

Note: this only affects `preset-env` + `transform-react-jsx` + `transform-react-constant-elements` configs.

The last line of this simplified output shows the bug:
[code]

**Input Code**
- [A link to my

[2019-12-17 15:58] JLHwung commented on #10877
It is expected, because JSON file is not a valid JavaScript file.
[code]

I am not sure that I follow. Can you give an example on how you use `@babel/parser`?

[2019-12-17 16:08] nicolo-ribaudo commented on #10877
For JSON, you can use `JSON.parse` instead of `@babel/parser`.

[2019-12-17 16:31] Mrdev1ce opened #10879 "@babel/plugin-transform-react-constant-elements is not create _ref for component in case of using object destructuring syntax"
## Bug Report

**Current Behavior**
@babel/plugin-transform-react-constant-elements is not create _ref for component in case of using object destructuring syntax.
As you can see in example - _ref variable was used, but it was not defined.

**Input Code**
- Babel REPL
https://babeljs.io/repl#?browsers=ie%20%3E%3D%2010%2C%20Chrome%20%3E%3D%2054%2C%20last%202%20versions&build=&builtIns=false&spec=fal

[2019-12-17 16:43] chenyuncai commented on #10877
Thx guys, it's my fault.

I'm writing a tool to extract strings from original vue files with babel/parser.

The attr of some Node has the form like ' :param="{a: 1, b: 2}".

So I need to deal with this satuation on my own manually.

thanks again.

[2019-12-17 16:43] #10877 closed

[2019-12-17 19:28] leomp12 opened #10883 "Not importing Promise.allSettled with useBuiltIns: 'usage'"
## Bug Report

**Current Behavior**
I'm using `Promise.allSettled` on source code but `core-js/modules/es.promise.all-settled` is not being imported on output.
Other polyfills like `core-js/modules/es.promise` and `core-js/modules/es.promise.finally` are normally imported, the problem seems to be only with [allSettled](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Object

[2019-12-17 19:34] zloirock commented on #10883
https://github.com/babel/babel/issues/10816#issuecomment-564961336

[2019-12-17 20:01] leomp12 commented on #10883
@zloirock you're suggesting to use `corejs: '3.4'`?
I've tried specifying `corejs: '3.4'` (`^3.4.8`), also tried specifying `corejs: '3.5'` (`^3.5.0`), unsuccessfully...
it only worked for me when I added `import 'core-js/modules/es.promise.all-settled'` it manually in the source code.

[2019-12-17 20:06] zloirock commented on #10883
You should use something like `corejs: '3.5'`, but now it will not work since built-ins definitions broken on the Babel's side. For `useBuiltIns: 'entry'`, `corejs: '3.5'` will fix it.

[2019-12-17 20:29] leomp12 commented on #10883
_Update_: Hadn't tried before with `corejs: { version: 3, proposals: true }`, worked! :sweat_smile:

[2019-12-17 20:41] zloirock commented on #10883
Sure, but if you don't need the rest proposals and the size of the bundle makes sense for you - I don't recommend to do it, `import 'core-js/modules/es.promise.all-settled'` could be better -)

[2019-12-17 20:43] zloirock commented on #10883
`shippedProposals` makes no sense for `core-js@3`. `corejs.proposals` injects all built-ins proposals on usage.

[2019-12-17 21:03] leomp12 commented on #10883
got it, thanks @zloirock

[2019-12-17 21:26] antonellil commented on #10876
This looks to be an issue with bluebird's coroutine definition and not this babel plugin https://github.com/petkaantonov/bluebird/blob/49da1ac256c7ee0fb1e07679791399f24648b933/src/generators.js#L199

Sorry about that, taking the issue there.

[2019-12-17 21:26] #10876 closed

[2019-12-18 05:31] #8229 closed

[2019-12-18 10:07] midgethoen commented on #10875
I just realise I commented underneath the [wrong issue](https://github.com/mozilla/pdf.js/issues/11410#issuecomment-566954257).

I have patched the file described in the PR, but this doenst fix the memory error for me.

FYI, however, by deleting the sourcemaps from the pdfjs-dist package i can get CRA to run again.

[2019-12-18 10:25] ykadosh commented on #10081
@JLHwung Thanks for the explanation.
I'm trying to write a plugin that ignores certain imports. I need babel to ignore imports that it does not understand (i.e. `import './style.scss';`).
Is that even possible? Or am I completely off?

[2019-12-18 11:32] njlr opened #10888 "Allow key prop on React fragment in JSX"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

You cannot add a `key` prop to a React fragment with the concise syntax:

[code]

Instead you must use the longer syntax:

[code]

This happens when generating elements dynamically, particularly dictionary lists (`<dl>`):

[code]

**Describe the solution you'd like**

[2019-12-18 12:21] rajasekarm commented on #10888
Hi @njlr , By default, React is not supporting attributes for <></> including keys.

https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#keyed-fragments

[2019-12-18 13:36] nicolo-ribaudo commented on #10888
Yeah, this feature request should be made to the https://github.com/facebook/jsx repository.

[2019-12-18 13:36] #10888 closed

[2019-12-18 17:34] JLHwung commented on #10875
Update: The issue is not fixed since I misidentified the memory bottleneck.

For CRA users, you can remove the source maps from the `pdfjs-dist` package (thanks to @midgethoen).

Babel 7.6.4 works because `inputSourceMap` is not functioning, which is later fixed in #10623. However `inputSourceMap` bloats the memory via `JSON.parse/JSON.stringify` on this big [source maps](https://unpkg.com/pdfjs-d

[2019-12-18 17:54] kaicataldo opened #10889 "Chore/DX: move from make to JS-based taskrunner"
Given the higher barrier for contribution for Windows users introduced by us using `make`, we should explore moving to a JS-based taskrunner. WSL should be the silver bullet for this, but I haven't been able to get `lerna bootstrap` run in WSL (and it [looks like I'm not the only one](https://medium.com/@sinansaka/working-with-lerna-and-yarn-workspaces-in-wsl-25bc28b55368)).

My initial exploratio

[2019-12-18 19:30] TomasHubelbauer opened #10891 "Contributing on Windows"
Hi, I wanted to spend some time on trying to fix a bug I recently reported: #10869. I've read through the readme, but it mentions `make` as an entry-point to the build. I used Make for Windows, but the scripts seem to be written assuming macOS/Linux, so they didn't run successfully for me.

Is it possible/encouraged to contribute to Babel as a Windows user? Perhaps I need to use WSL?

[2019-12-18 19:35] JLHwung commented on #10081
You can remove the imports if it ends with `.scss`

https://astexplorer.net/#/gist/bb3cc383f1b7dadf5bf464f3c4f7c133/f83722b5eb7ccc1ce612e1d683a1741d9a76a31b

[2019-12-18 19:40] kaicataldo commented on #10891
Your timing is impeccable! I just made this issue and am working on it as we speak: https://github.com/babel/babel/issues/10889.

Would you like to close this issue as a dupe and continue the conversation on that issue?

[2019-12-18 19:53] TomasHubelbauer commented on #10891
Awesome!

[2019-12-18 19:53] #10891 closed

[2019-12-18 19:55] TomasHubelbauer commented on #10889
Yes, please! I'm not partial about them being in JS, but they should IMO be cross-platform, so there are other options like PowerShell or something. But JS feels like the best choice given the project itself is written in it.

[2019-12-18 20:28] JLHwung commented on #10889
We do have travis building on Windows: https://travis-ci.com/babel/babel/jobs/268662807 so it is okay to build and test on Windows.

Some of maintenance scripts might not be cross platform, though. Since GNU Make is not bundled in Windows and GNU Make for Windows seems to be not actively maintained (Last updated 13 years ago), switching to JS-based task runner could help reduce the fiction here.

[2019-12-18 20:56] elevatebart opened #10892 "Leading comment is lost when using named import just before"
## Bug Report

- [X] I would like to work on a fix!

**Current Behavior**
Parsing the code in the section below using `@babel/parser` should return a leadingComments on the export declaration

**Input Code**

[code]

**Expected behavior/code**
For the `leadingComment` to be attached to the exportDeclaration node

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .e

[2019-12-18 21:10] elevatebart commented on #10892
Additionally, this code actually finds the comment

[code]

and this one does not

[code]

[2019-12-18 23:05] JLHwung commented on #10892
@elevatebart Under the hood Babel uses comment attachment algorithm to consume the comments and assign to different AST nodes. It lives in `packages/babel-parser/src/parser/comments.js`, you can take a close look at
https://github.com/babel/babel/blob/80e95d0c833d639157579c765b6624cd4c2696d6/packages/babel-parser/src/parser/comments.js#L171-L181

There is a detailed comment on the third argument `

[2019-12-18 23:36] BjMrq opened #10893 "Webpack with Babel compile fine but I get Uncaught ReferenceError: require is not define"
I am having some trouble implementing webpack with babel in a project I inherited.

I would like to use babel and webpack on an existing project, but i get Uncaught ReferenceError: require is not define.

Here is my webpack config:

[code]
here is my babel config file:

[code]
I trued quite some combination already but I am stuck, any help would be welcome :)

[2019-12-18 23:56] nicolo-ribaudo commented on #10893
Which is the source of the original file which, when bundled, throws the error?

[2019-12-18 23:58] BjMrq commented on #10893
the source file if an index.html document located in:
public/assets

[2019-12-18 23:59] nicolo-ribaudo commented on #10893
I mean, the file which contains `require`.

[2019-12-18 23:59] BjMrq commented on #10893
The bundled.js file

(I removed externals: [nodeExternals()], since I am buildng for web (react))

[2019-12-19 00:02] nicolo-ribaudo commented on #10893
Ok, I'm not being clear enough :sweat_smile:

The _original_, _untranspiled_ and _unbundled_ files which contains the code that, after bundling, will throw the error.
Does that file contain both `require` and `import`/`export`?

[2019-12-19 00:03] BjMrq commented on #10893
I am now trying with webpack.config :

`const HtmlWebPackPlugin = require('html-webpack-plugin');
const TerserPlugin = require('terser-webpack-plugin');
const webpack = require('webpack');
const path = require('path');

module.exports = {
  entry: `${__dirname}/src/index.js`,
  output: {
    path: path.resolve(__dirname, 'dist'),
    filename: 'bundle.js',
    publicPath: '/'
  },
  plugins: [

[2019-12-19 00:03] nicolo-ribaudo commented on #10893
That error is just from webpack and is not related to Babel.

[2019-12-19 00:05] BjMrq commented on #10893
Oh okay!
I' ll go looking for awnsers in this direction then, thank you!

[2019-12-19 00:16] #10875 closed

[2019-12-19 00:29] #6341 closed

[2019-12-19 01:34] #10893 closed

[2019-12-19 08:41] midgethoen commented on #10875
Thnx for the quick response @JLHwung. Hopefully I can test the patch out later today.

[2019-12-19 08:56] MarcelGerber commented on #10678
Can confirm this is working now in v7.7.7 with #10839.

[2019-12-19 09:51] #10116 closed

[2019-12-19 10:25] oscarmarimrf opened #10894 "const aren't being transpiled when they have a function assigned"
## Bug Report

**Current Behavior**
const aren't being transpiled in the following situation:
- they are defined on a dependency file, in node_modules
- they have a function assigned `const a = param => 'whatever'`
- that function is used by another function that is consumed by the entry point

**Input Code**
- Filename: `entry.js`
[code]

- Filename: `package_in_node_modules/index.js`
[code]

***

[2019-12-19 10:37] nicolo-ribaudo commented on #10894
If you add `debug: true` to preset-env's options, what does it log?

[2019-12-19 10:43] nicolo-ribaudo commented on #10678
I'll keep this issue open since I would like to reintroduce the commit we had to revert

[2019-12-19 10:48] oscarmarimrf commented on #10894
Thanks for your help @nicolo-ribaudo !
Here is the output:
[code]

[2019-12-19 13:48] nicolo-ribaudo commented on #10894
Ok, I just realized the problem. `.babelrc` isn't applied across different packages, so it isn't applied to `package_in_node_modules/index.js` because it's not a file of the main package, but of a dependency.
Using `babel.config.json` (which is applied to the whole project) should give you the behavior that you want.

[docs](https://babeljs.io/docs/en/config-files#project-wide-configuration)

[2019-12-19 15:07] elevatebart commented on #10892
Hello @JLHwung

I managed to write a fixture for my failing user story.
I am in the process of figuring out how the parser works.

In the `comments.js` file, I am looking at `processComments()`.

I do not understand why a comment separated by two lines from the previous import (even a named import) should be taken as a trailing comment of the import (and removed from the export).

@nicolo-ribaudo

[2019-12-19 15:12] elevatebart commented on #10892
And, is there a way to scope the `make build` command.

To understand the code, I would love to be able to see it step by step.
To step through it I try debugging and following [the contributor guide](https://github.com/babel/babel/blob/master/CONTRIBUTING.md#debugging-code) I managed to step in the code using vscode debugger with `debugger;` statements. The issue is that for every change I make,

[2019-12-19 15:40] JLHwung commented on #10892
Hi @elevatebart

Generally the whitespace is ignored when consider what AST nodes should the trailing comments be attached to. Think about the following case

[code]

If `/* my-linter-ignore-end */` is not attached as trailing comments of `bar();`, tools will find it difficult to determine the boundary of `my-linter-ignore`. But `/* my-linter-ignore-end */` should _also_ be the `leadingComments` o

[2019-12-19 16:04] oscarmarimrf commented on #10894
Indeed, that solved the issue ,thanks @nicolo-ribaudo !

[2019-12-19 16:04] #10894 closed

[2019-12-19 16:28] elevatebart commented on #10892
Understood, thank you,

The desired outcome of my use case is the following:
The "lost comment" should be attached both on the `import` node and on the `export` node

Does this seem correct?

[2019-12-19 20:26] JLHwung commented on #10892
@elevatebart Correct. It should stay in the state.leadingCommets stack and attach it to the export declaration.

[2019-12-19 21:53] regiontog opened #10896 "Missing referencePaths after crawl"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
`scope.crawl()` does not add references to bindings correctly in some cases. In particular I get the bug when referencing a class inside a class method.

**Input Code**
https://github.com/regiontog/babel/compare/master...bug/missing-references-after-crawl

[code]

**Expected behavior/code**
I expect the binding `a` to have 1

[2019-12-20 07:37] midgethoen commented on #10875
Huzzah :tada: it has been fixed for me. thnx again.

[2019-12-20 15:33] SkyaTura commented on #9224
Any updates?

[2019-12-20 17:46] kaicataldo commented on #9506
Wanted to check in with others who might be more knowledgeable about this. This error is thrown during the initial parsing, and I'm not seeing a way to easily access the `@babel-traverse.Scope` class to modify it. Would it make sense to try to expose this somehow? Or do we want to try to monkeypatch it in `@babel/eslint-parser` for now instead of modifying the public API of `@babel/core`? Please l

[2019-12-20 20:20] nicolo-ribaudo commented on #9506
Does `@babel/eslint-parser` use `@babel/traverse`? Doesn't it only use `@babel/core`'s `.parse` method?

[2019-12-20 20:49] kaicataldo commented on #9506
I've actually been trying to track this down, because I was confused by this too. It looks like it does do some scope analysis at parse time. Here's a stack trace I logged by manually throwing an error when the `Scope` class is instantiated:

[code]

[2019-12-20 22:54] nicolo-ribaudo commented on #9506
Ok, calling `babel.parse` definitely shouldn't do any scope analysis. It should only call `parser.parse` + all the config loading logic.

[2019-12-20 23:04] kaicataldo commented on #9506
Yeah, that makes sense to me. I'll keep digging and see if we need to update `babel.parse()`.

[2019-12-21 05:13] armano2 commented on #9305
can confirm its fixed

[2019-12-21 05:13] #9305 closed

[2019-12-21 10:56] yitomok opened #10904 "Template string failing with Cannot read property 'range' of null"
It throws error when dynamic import, template literal inline and rule `template-curly-spacing` as follow:

#### Tested on:
`babel-eslint@10.0.3` (with `@babel/parser@7.7.7`)
`eslint@6.7.2`

#### Sample code:
[code]

#### .eslintrc.json
[code]

The problem is coming from `@babel/parser@7.7.7`, which added `ImportExpression`.

_Originally posted by @yitomok in https://github.com/babel/babel-eslint/i

[2019-12-22 09:22] #10892 closed

[2019-12-22 17:23] alifaaz opened #10907 "req.body dont parse using babel ???"

[2019-12-22 17:45] fancy-rabbit opened #10908 "useBuiltIns: "entry" of @babel/preset-env breaks webpack's minimizer"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
useBuiltIn: "entry" of @babel/preset-env breaks webpack's minimize plugin(terser-webpack-plugin)
Output Code contains

[code]
error message: Unexpected token: keyword (with)

**Input Code**
- REPL or Repo link if applicable:

[code]

while core-js is imported as a webpack external whose global name is __CoreJS

**Expected be

[2019-12-22 17:53] fancy-rabbit commented on #10908
moreover,  this output code
[code]
will break babel itself too, if we run npx babel xxx.js it will throw "Unexpected token" with BABEL_PARSE_ERROR.

[2019-12-22 18:46] ethan-pearce commented on #10908
Same issue here too 🙋🏻‍♂️

[2019-12-22 21:26] thorn0 commented on #10889
@kaicataldo Did you try adding `"mutex": "file:../babel-mutex"` to `lerna.json`? This made `make bootstrap` work for me in WSL.

[2019-12-22 23:08] nicolo-ribaudo commented on #10908
First of all, I suggest removing `"modules": "cjs"` from your Babel config since you are already using webpack.

Also, could you try replacing `import "core-js"` with `import "core-js/modules/es.string.ends-with"` and disable `useBuiltIns` in your config?
By doing so, we disable Babel's transformation of `core-js` imports and we can understand if the problem is caused by Webpack or by Babel.

[2019-12-23 03:12] fancy-rabbit commented on #10908
removing "modules":"cjs" could lead to some compatibility problems in our project because not all the modules are ES2015 compliant(i.e. use import and module.exports) and they work well with Babel 6 defaults, huh... modifying them could be a big project.

Replacing import 'core-js' with import "core-js/modules/es.string.ends-with" works without problem.

[2019-12-23 09:04] nicolo-ribaudo commented on #10908
Ok, could you also try replacing it with `require("core-js/modules/es.string.ends-with")`?
Also, do you have a repository which reproduces the issue I could look at?

[2019-12-23 09:18] piranna opened #10910 "`core-js` definitions not fully injected with `useBuiltIns: usage`"
## Bug Report

**Current Behavior**

When using `useBuiltIns: usage` with `core-js` to add support for `Promise.any()`, I get a `TypeError: getBuiltIn(...) is not a constructor` error. Seems it's due the fact babel is not adding the `esnext.aggregate-error` require in transpiled code. By changing `useBuiltIns` to `entry` and setting by hand both `core-js/modules/esnext.aggregate-error` and `core-j

[2019-12-23 11:26] pranshudobhal commented on #8599
[code]

[code]

I'm getting these errors. Can anyone help?

[2019-12-23 12:29] kaicataldo commented on #10889
@thorn0 I have not! Trying to find documentation around this option, but am coming up short. Mind sharing where you found that info? Thanks!

[2019-12-23 12:47] thorn0 commented on #10889
@kaicataldo found it here https://github.com/lerna/lerna/pull/806

[2019-12-23 14:01] ryokkkke opened #10911 "Assigns global properties when defining a function that has a function type argument with default value and rest parameters"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
This bug occurrs when transpile TypeScript codes.

1. define a function that has function type argument with default value and rest parameters.
2. define a variable that has same name as the argument function's argument name in the function body.
3. then compile, and 'var' expression in a for sentence is disappearing from ou

[2019-12-23 14:52] JLHwung commented on #10911
Closing this as duplicate of #10798.

@ryokkkke Thank you! It is a nice report.

[2019-12-23 14:52] #10911 closed

[2019-12-23 15:40] JLHwung commented on #10798
This is a regression introduced by #10053.

[2019-12-23 17:43] fancy-rabbit commented on #10908
replacing it with require have the same problem:
in development mode, the generated code is like
'''js
eval("module.exports = __CoreJS.modules.es.string.ends-with;\n//# sourceMappingURL=data:application/json;charset=utf-8;base64,*****\n//# sourceURL=webpack-internal:///core-js/modules/es.string.ends-with\n");
'''
and in production mode, the generated code is like
'''js
/***/ 100:
/***/ (function(m

[2019-12-23 17:47] nicolo-ribaudo commented on #10908
If replacing it with `require` has the same problem, then it's not a Babel bug because Babel doesn't touch that `require()` call (it only transforms `import`s to `require`s).

It's probably a bug with whatever turns that require call into `__CoreJS.modules.es.string.ends-with` (which I don't know if is a webpack core feature or a webpack plugin).

[2019-12-23 17:57] fancy-rabbit commented on #10908
seems to be a webpack core feature since disabling all the plugins is uselss. I'll report an issue to them. Thanks very much~

[2019-12-23 18:00] #10908 closed

[2019-12-23 18:13] fancy-rabbit commented on #10908
@ethan-pearce maybe we'd better move to https://github.com/webpack/webpack/issues/10172

[2019-12-23 18:15] ethan-pearce commented on #10908
@fancy-rabbit Yeah seems the most sensible

[2019-12-23 18:54] kaicataldo commented on #10904
I _think_ this should be fixed by https://github.com/babel/babel/pull/10828, but will have to verify.

[2019-12-23 18:55] kaicataldo commented on #10904
Added to https://github.com/babel/babel/issues/10752 so I don't forget to verify this when I start going through rules.

[2019-12-23 20:46] ferdelamad commented on #10280
Clearing `node_modules` worked for me:
[code]

[2019-12-24 02:10] concision commented on #10690
Tacking on for visibility - I can create a new issue for this topic if necessary, but it is fairly related in nature to this current issue.

**Problem**:
TypeScript has offered support for numeric seperators for quite some time now (version 2.7), as per their [documentation](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html#numeric-separators) (examples included).

How

[2019-12-24 02:39] MegaJSDeveloper opened #10920 "gulpfile.babel.coffee"
## Bug Report

**Current Behavior**
`gulpfile.babel.coffee` must not using coffeescript transpilation, it use just babel transpilation

**Expected behavior/code**
`gulpfile.babel.coffee` must go through the transpilation chain `coffeescript` => `babel`

**Babel Configuration**
`gulpfile.babel.coffee` :
[code]
`cmd` :
[code]

[2019-12-24 02:44] #10920 closed

[2019-12-24 02:47] JLHwung opened #10921 "Add numeric separator to shippedProposals in preset-env"
## Feature Request

<div align="center">

### Numeric Separator is Stage 3 and shipped in Chrome 75/Firefox 70/Safari 13!
<pre>
<code>
![](https://example.com/you-know-how-excited-i-am.gif)
</code>
</pre>
</div>

This means that it should be enabled via `shippedProposals: true` options in `@babel/preset-env` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/pull/84

[2019-12-24 04:48] Wetinee commented on #10921
I'd like to try this out, with such detailed instructions above.  ;)

[2019-12-24 05:59] ryokkkke commented on #10911
@JLHwung
Thank you for checking!
I'm going to watch conversations on that issue from now on:)

[2019-12-24 10:09] LabhanshAgrawal opened #10922 "@babel/cli Compilation error in ci after 7.7.0"
## Bug Report
**Current Behavior**
Compilation in CI failing for versions of cli after 7.7.0 with the following error

`babel: stdin compilation requires either -f/--filename [filename] or --no-babelrc`

**Input Code**
Trying to update cli version in [hyper](github.com/zeit/hyper) repository
Gives an error while running this command

`cross-env BABEL_ENV=production babel --out-file target/renderer

[2019-12-24 10:48] nicolo-ribaudo commented on #10922
This _might_ have been caused by https://github.com/babel/babel/pull/10698

[2019-12-24 12:02] askbeka commented on #10008
@zloirock I can relate with your proposal, but does it require too big of a change from current implementation?
Looking at time this one is taking, I am afraid that this issue will never be resolved.

@nicolo-ribaudo Some time has passed and no visible progress on this issue.
Did you meet any dead ends? Some update will appreciated. Even better if you could publish your work.
I believe others woul

[2019-12-24 12:11] zloirock commented on #10008
@askbeka top-level `targets` option? Nope, it's the simplest solution. More over - targets parser already extracted from `preset-env` in #10899.

[2019-12-24 16:26] JLHwung commented on #10922
As a workaround, you can put the filename _before_ the options:
[code]

[2019-12-24 18:51] nicolo-ribaudo commented on #10008
Yeah sorry for postponing this, I will try to work again on this feature in January/February.

Two quick comments:
1. I love the idea of a top-level `targets` option. It would not only be useful for polyfills and `preset-env`, but also for any other preset which wants to use the most modern features possible (like a minifier which could transform a normal function to an arrow).
2. My initial propo

[2019-12-24 20:10] JLHwung commented on #7598
Closing this as won't fix, however, PR to AST/spec.md is welcome.

[2019-12-24 20:10] #7598 closed

[2019-12-25 05:30] zloirock commented on #10008
My proposal is adding support of top-level `targets`, not removing this option for each plugin. I think that plugins should have this option, but if it's not passed - they should inherit it from the top level.

[2019-12-25 12:30] ykadosh commented on #10081
@JLHwung This is great, thank you so much!

[2019-12-25 14:02] ykadosh commented on #10081
One more question (if that's OK) - what if I have a named import and I want to assign an empty object to it?
For example:
[code]
If I remove this import completely, `styles` becomes `undefined`, and I need it to be an `Object`...

[2019-12-25 15:26] JLHwung commented on #10081
Babel is processing sources per file-level, which means it has no idea of what the `./styles.scss` will be. If you meant to interpret `./styles.scss` as a style Object which can be used later in any CSS-in-JS frameworks, then you can turn to the bundler (such as Webpack) plugins (such as css-loader).

Should you have further questions, please open a new question issues as it is out of the scope of

[2019-12-25 18:13] #10922 closed

[2019-12-25 20:41] layershifter commented on #10889
Had the same friction during first time contribution, so totally support this 👍

I vote for Gulp as it is a time proven task runner. However any cross platform solution will be great 🙏

[2019-12-26 06:40] ykadosh commented on #10081
OK thanks!

[2019-12-26 09:58] lovetingyuan opened #10926 "why babel not traverse visitor hook when I insert a `templateLiteral` expression?"
## Bug Report

**Current Behavior**
I add a template literal statement into ast, but babel does not call matched visitor-hook again to process the template literal statement inserted.

![image](https://user-images.githubusercontent.com/7310471/71470997-f85e4b00-2808-11ea-966b-cedd871b4dbc.png)

**Input Code**
- REPL or Repo link if applicable:
[code]
https://astexplorer.net/#/gist/7aa0a37867291c59

[2019-12-26 11:53] nicolo-ribaudo commented on #10926
A `TemplateElement` is a single string part of a template. You want this:
[code]

[2019-12-26 11:53] #10926 closed

[2019-12-26 11:57] lovetingyuan commented on #10926
ok, thank you very much 😊.

[2019-12-26 16:32] PenguinTamer commented on #9849
Any progress? I'm having the same issue

[2019-12-26 19:42] kelly-tock opened #10928 "After upgrading babel preset-env, core, runtime and typescript to 7.7.7, async functions are not working in some cases"
## Bug Report
After updating preset-env ,core, runtime, and typescript to 7.7.7 from 7.7.5, in some scenarios async functions are not behaving the same way.

![image](https://user-images.githubusercontent.com/39061683/71487992-df8f6e80-27e3-11ea-862a-d3bf9cea12ec.png)

- [ ] I would like to work on a fix!

**Current Behavior**
When a click handler is called in this case, the error in the screensho

[2019-12-26 19:42] kelly-tock commented on #10928
this seemed relevant from the release notes:

https://github.com/babel/babel/pull/10839
https://github.com/babel/babel/pull/9481

[2019-12-26 22:35] nicolo-ribaudo commented on #10928
As a workaround you can disable the `spec: true` preset-env option. Btw, why do you enable both `spec` and `loose`, which do opposite things?

[2019-12-26 23:07] nicolo-ribaudo commented on #9849
@PenguinTamer Did you try using `useBuiltIns: usage`, `@babel/plugin-transform-runtime` or importing `regenerator-runtime`?

[2019-12-26 23:33] drzraf opened #10931 "transpile a core-js internal as [buggy] `var _parse-int =`"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
When recompiling my project, I hit this error:
[code]

It sounds like transpiling [this file](https://github.com/zloirock/core-js/blob/master/packages/core-js/internals/parse-int.js) resulted in an illegal variable name being generated.

**Which mechanism/options is in charge of creating that `var _parse-int` identifier?**

[2019-12-26 23:55] nicolo-ribaudo commented on #10931
Rollup and Babel configs?

[2019-12-27 00:08] kelly-tock commented on #10928
Will try this and great question. This was set up this way when I first saw it already.

[2019-12-27 01:29] #10910 closed

[2019-12-27 05:48] PenguinTamer commented on #9849
I did and resolved my issue, thank you for your answer though!

Sent from my iPhone

[2019-12-27 08:35] piranna commented on #10910
Thank you! :-D

[2019-12-27 09:52] kayhadrin opened #10932 "Flow type definition of functions using Array of arguments should use $ReadOnlyArray"
## Bug Report

**Current Behavior**
When writing JS code typed with Flow and using the `t.arrayExpression(...)` function, I encountered some Flow type issues.

Example code:

[code]

Flow error:

[code]

**Expected behavior/code**
I expect that passing an array of `BabelNodeCallExpression` objects to `arrayExpression()` should be Flow valid.

**Babel Configuration (babel.config.js, .babelrc, packa

[2019-12-27 11:05] Fortur commented on #10221
@yeongjet Do you find the workaround?

[2019-12-27 11:39] homobel commented on #10798
I think issue I've met related to this one but in my case it related to **this**.
https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEBC0G8C-AoFpIwILQKYA8AXXAOwBMZ4EUBIYAexIkICcBXYQ-lgChLAC2uADTRgAI2gBeaDwCU0gHxjGEeiFwA6EPQDmPQgAsAlhE38hchdRo0IbAA65ecgNxpbR0-cG5p0C1x3TxMzCX8JYNRUdFVCaDB_ElwAd2gsHgByADF6eky3FDBNCXl3IA&debug=false&forceAllTransforms=fals

[2019-12-27 15:51] ajafff opened #10933 "plugin-transform-modules-commonjs: imported template tag has implied receiver"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

Using an imported identifier (default or named import doesn't matter) as tag of a tagged template literal, the transpiled code calls the tag with an implied receiver.

**Input Code**
https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAMwhANHA3gIwIZQL6JQQhwDkSEpA3AFA0UAGDt

[2019-12-27 16:22] dongryphon commented on #10609
I haven't forgotten about this... apologies. I will try to get around to this over the holidays.

[2019-12-28 16:28] JLHwung commented on #10798
@smelukov Looking into the code

https://github.com/babel/babel/blob/e9dc74e78768988c51e21741ba982c7240fd30b8/packages/babel-helper-call-delegate/src/index.js#L35

and

https://github.com/babel/babel/blob/e9dc74e78768988c51e21741ba982c7240fd30b8/packages/babel-helper-hoist-variables/src/index.js#L32

I think the timing of registering declaration is incorrect. While `state.emit` looks like a callba

[2019-12-28 16:51] JLHwung commented on #10798
@homobel Thanks for the reproduction case! Yes it is the same issue.

[2019-12-28 18:49] drzraf commented on #10931
Actually a [bug in the rollup plugin](https://github.com/rollup/plugins/issues/114). Sorry for the noise.

[2019-12-28 18:49] #10931 closed

[2019-12-28 21:46] #10933 closed

[2019-12-29 03:51] jakewilson commented on #10802
Hey @iansu, are you still working on this? If you're too busy, I'd love to take a crack at it.

[2019-12-29 18:27] iansu commented on #10802
@jakewilson I am still working on this. I just haven't had much time over the holidays. I'll pick it up again this week.

[2019-12-29 19:06] ajafff opened #10941 "plugin-transform-modules-commonjs: export binding not updated by 'for...in' and 'for...of'"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
If an exported binding is used as LHS in a ForOfStatement or ForInStatement, only the local variable is updated. The exported binding stays the same.

**Input Code**
- REPL or Repo link if applicable: https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAG2PAZhCcC8cDkBLAOzxj

[2019-12-30 02:15] bhollis opened #10945 "babel-preset-env: Including 'android' browser when not in browserslist config"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Upgrading from `babel-preset-env` (and other babel libraries) from 7.7.4 to 7.7.5 starts including too many transformations. PR here - this adds 10% size to our app. https://github.com/DestinyItemManager/DIM/pull/4814

Our babel config: https://github.com/DestinyItemManager/DIM/blob/master/babel.config.js

Our browserslist c

[2019-12-30 02:27] bhollis commented on #10945
Note: removing "unreleased versions" from our browserslist query causes the "android" entry to be removed from babel-preset-env, and it will then use the right transforms. Unfortunately we use our browserslist config for more than just babel-preset-env - we also drive a "this browser is not supported" warning from it. So we'd prefer not to remove the "unreleased versions" line.

[2019-12-30 02:40] JLHwung commented on #10945
Closing this as a duplicate of #10789, it will be fixed in #10790.

@bhollis It is a nice report. Thank you!

[2019-12-30 02:40] #10945 closed

[2019-12-30 05:19] bhollis commented on #10945
Thank you!

[2019-12-30 09:15] rajasekarm commented on #10921
@Wetinee Any updates on this issue? Let us know if you need any help.

[2019-12-30 10:39] #6675 closed

[2019-12-30 13:43] JLHwung commented on #6675
@rajasekarm Is this issue fixed?

[2019-12-30 21:10] #10861 closed

[2019-12-31 00:48] Wetinee commented on #10921
Sure! It should be done by tomorrow. ;)

[2019-12-31 14:36] #6687 closed

[2019-12-31 23:57] ciez opened #10948 "null in ArrayExpression elements type"
## Feature Request
ArrayExpression elements type is [currently defined](https://github.com/babel/babel/blob/26eb8918702552c98bbe2dd9f41dd1d6aaeb7a1f/packages/babel-types/src/definitions/core.js#L26) as

[code]
However Expression already includes NullLiteral.

Is _null_ in the current definition different from NullLiteral?

If _null_ is not the same as NullLiteral, when  would the parser return _nu

[2020-01-01 02:16] JLHwung commented on #10948
Hi @ciez, they are good questions. Let me try to answer them.

Yes.

`[,]` will be parsed as `elements: [null]` while `[null]` will be parsed as `elements: [NullLiteral]`.

Happy hacking babel and happy new year!

[2020-01-01 09:22] ciez commented on #10948
Thank you kindly Huáng!

It is a very clear explanation.

Happy New Year!

[2020-01-01 09:22] #10948 closed

[2020-01-01 15:14] nicolo-ribaudo commented on #6675
I suggested to close this issue for two reasons:
- The packages which most needed this feature were the ones that did run `@babel/parser` on the user's code: without knowing which plugins were needed, they used to enable all of them. In the past it was done using `plugins: ["*"]`, but since `"*"` has been removed this would have been a good workaround.
  We solved this in a better way: by exposing

[2020-01-02 03:21] Banou26 opened #10951 "Feature Request: @babel/preset-typescript import names transform"
## Feature Request
- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
When using babel on a folder with `.ts` files, the output files are renamed to `.js`, but ESM `import`s are kept with the `.ts` extension,

**Describe the solution you'd like**
When using `@babel/preset-typescript`, in addition of renaming files from `.ts` to `.js`, we

[2020-01-02 13:43] xianwei-lu opened #10952 "sourcemap not mapping correct"
## Bug Report

sourcemap not mapping correct when using babel-loader

**Current Behavior**

**project old-babel behavior**

![image](https://user-images.githubusercontent.com/28993048/71669119-97a1b600-2da6-11ea-8426-992e2c95ba13.png)

**project test-project behavior**

![image](https://user-images.githubusercontent.com/28993048/71669016-4691c200-2da6-11ea-9db5-2f4e0a30ad13.png)

**Input Code**
th

[2020-01-02 13:46] nicolo-ribaudo commented on #10951
Since changing extensions in import paths isn't specific to TypeScript, I think that it should be a separate plugin.
Would https://github.com/tleunen/babel-plugin-module-resolver wotk for you?

[2020-01-02 14:58] Banou26 commented on #10951
Alrighty, i'll make an issue over there then.
Thanks :)

[2020-01-02 14:58] #10951 closed

[2020-01-02 16:54] kelly-tock commented on #10928
disabling spec: true worked for me. is this an incorrect usage somehow or a bug?

[2020-01-02 17:21] nicolo-ribaudo commented on #10928
Using both `spec: true` and `loose: true` is an incorrect usage. However, I think that this is a bug anyway: are you able to reproduce it using `spec: true` with `loose` disabled?

[2020-01-02 17:40] kelly-tock commented on #10928
I just tried spec true and loose false, and it still had the same issue. its working with both set to false.

[2020-01-02 18:38] nicolo-ribaudo commented on #10928
I have some problems reproducing this. Could you post the full stack trace, and the transpiled version of the `handleClose` and `onClose` functions?

[2020-01-02 19:36] kaicataldo commented on #10889
@thorn0 Thanks for the suggestion, but it's unfortunately still not working for me.

[2020-01-02 21:42] kelly-tock commented on #10928
stack:
[code]

[2020-01-02 21:46] amadeus commented on #10879
This is a very similar issue that I ran into as well - here's a small repro - for me it appears to be an issue when ALSO using the es2015 preset:

https://babeljs.io/repl#?browsers=ie%20%3E%3D%2010%2C%20Chrome%20%3E%3D%2054%2C%20last%202%20versions&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwBQduEAdqvAMolYwAWwzAczgBeOAAoAlCIB8cZgFcANovp0sAD0iw4

[2020-01-02 21:54] kelly-tock commented on #10928
compiled onClose:
[code]

[2020-01-02 22:09] kelly-tock commented on #10928
original code:
[code]

[2020-01-02 23:19] nicolo-ribaudo commented on #10928
Ok, I'm really confused but interested :upside_down_face:
I understand if you don't have time to help me debug this bug since you have worked it around, but...

1) There is a `var _this3 =` declaration somewhere. Could you check if it seem to use the same `this` as the one in the last line (`.bind(this)`) of the code you posted?
2) Could you add a `debugger;` right before the `_newArrowCheck` in t

[2020-01-03 08:35] deser commented on #8652
So what guys? :)

[2020-01-03 12:05] matiasherranz commented on #9849
This fixed my issue too. Thanks!

[2020-01-03 13:29] JZBo opened #10954 "Likely bug in babel-node within monorepos, does not seem to accept --config-file or --root-mode options in its cli"
## Bug Report

Hello and thanks for your constant work on babel,
I would like to report what I think is definitely a bug, or at least an unintended behaviour difference between babel and babel-node, both in version 7.7.7.

A short summary:
*In a monorepo, the babel cli can correctly use either the "--root-mode upward" and the "--config-file" to refer to the root config file "babel.config.js" when

[2020-01-03 15:16] kelly-tock commented on #10928
happy to help.

[code]

so it appears to be the this of the function component.

debugger to see the values, where the this is the window and not the this of the function:

![image](https://user-images.githubusercontent.com/39061683/71731159-a4a3c100-2e09-11ea-937a-02c38fe8fd00.png)

[2020-01-03 15:17] kelly-tock commented on #10928
and this was working previously to the latest round of 7.7.7  updates to the various babel packages.

[2020-01-03 18:29] #9849 closed

[2020-01-03 19:56] EvertonSA commented on #9668
I don't understand why are you guys recommending a lib that has a huge `This package has been deprecated`.

[2020-01-03 21:50] Hydroper opened #10957 "Not transforming to ES5"
I already used Babel once, but now I'm unable to transform a single `src` directory into ES5/ES3 syntax.

Reproduction:

[code]

Somehow sources into `src_es3` still contain ES2015 `class`.

[2020-01-03 22:05] nicolo-ribaudo commented on #10957
You need to create a configuration file:

[code]

[2020-01-03 22:05] #10957 closed

[2020-01-03 22:07] #10435 closed

[2020-01-03 22:16] nicolo-ribaudo commented on #9668
The npm package is https://www.npmjs.com/package/typescript, which provides the `tsc` command.

[2020-01-03 23:26] #10789 closed

[2020-01-04 02:24] proteriax opened #10959 "a?.b.c() produces different result than a?.b!.c()"
## Bug Report

- [ ] I would like to work on a fix!

**Input Code**
- REPL or Repo link if applicable:

[code]

**Actual behavior**
[code]

**Expected behavior/code**
The `!` should have no effect on the produced code.

Problem: Suppose `a` is null, then the second line can be reduced to:
[code]

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- File

[2020-01-04 02:42] missing1984 commented on #6629
any update on this one?

[2020-01-04 15:58] macabeus commented on #10959
I'm working in a fix to this bug.

[2020-01-04 19:28] sanex3339 opened #10960 "[babel-generator]: jsescOption.numbers does not affect NumericLiterals"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Currently, when I set:

[code]
This option has not affects any numbers that `@babel/generator` is generated.

For example i need the following in the output generated code:
[code]

**Expected behavior/code**
[code]
This option should affect any numbers that `@babel/generator` is generated

- @babel/generator version: 7.7.7
-

[2020-01-04 23:58] macabeus commented on #10959
PR opened: https://github.com/babel/babel/pull/10961

[2020-01-05 13:00] lishine commented on #9809
I have similar error
[code]

node v8.16.2

package.json
[code]
.babelrc.js
[code]

[2020-01-05 19:47] danez commented on #9506
I have the same problem in `react-docgen` which only tries to parse a file with a private method.

Is this fixed with #10914?

[2020-01-05 22:34] kaicataldo commented on #9506
The error here should be fixed, yes!

[2020-01-06 11:18] htulipe opened #10965 ""defaults" query in .browserslistrc is not accepted by babel-preset-env"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
I have a `. browserlistrc` file that contains the `defaults` query. I don't have `targets` option defined in babel-preset-env options. With that setup, the preset includes 148 core-js imports.

If I change this setup and define the `targets` option to `defaults` I would expect the output to be the same. It is not. The preset

[2020-01-06 15:10] Abo-Gabal commented on #7597
i tried importing
core-js --> error still exist
react-app-polyfill --> error still exist
babel/polyfill --> error still exist

[2020-01-06 19:28] dword-design opened #10966 "Parentheses removed falsely when transforming nullish-coalescing-operator"
## Bug Report

**Current Behavior**
When transforming an AST containing a nullish coalescing operator, parentheses are removed falsely, leading to different behavior.

**Input Code**
[code]

See also:
https://github.com/dword-design/test-babel-missing-parentheses

**Expected behavior/code**
The resulting file should still contain the parentheses.

**Environment**

- Babel version(s): 7.7.7
- Node/

[2020-01-07 14:45] JLHwung commented on #10965
Closing this as duplicate of #9962 , it is fixed in #10897. However we can not ship it until Babel 8 because it is a breaking change.

As a workaround, you can specify `defaults` again in `targets.browsers`. We recognize that it is not ideal but could not ship in Babel 7 because we are changing the behaviour of default options.

[code]

@htulipe A personal thank-you for this report and the reprodu

[2020-01-07 14:45] #10965 closed

[2020-01-07 15:53] htulipe commented on #10965
Sorry I missed that @JLHwung, thanks for the link and the workaround.

For those stumbling on the same issue, I got around it by "expliciting" defaults. Meaning I put `> 0.5%, last 2 versions, Firefox ESR, not dead` in my `.browserslist` file. Works fine.

[2020-01-07 19:10] benburch93 opened #10968 "Syntax doubling with .babelrc while trying to use babel-plugin-proposal-class-properties"
All,

I am trying to include babel-plugin-proposal-class-properties in my code bundle, but I get the following error;

2020-01-07 08:19:31.593 [error][tid:NSOperationQueue 0x2817acc40 (QOS: UNSPECIFIED)][RCTCxxBridge.mm:414] Failed to load bundle(http://169.254.99.36:8081/index.bundle?platform=ios&dev=true&minify=false) with error:(index.js: Cannot find module 'babel-plugin-plugin-proposal-class-p

[2020-01-07 19:11] nicolo-ribaudo commented on #10968
Could you also try `@babel/proposal-class-properties`? (even if your second config should already work)

[2020-01-08 08:54] sidntrivedi012 commented on #10966
Hey, I would like to work on it. Thanks.

[2020-01-08 10:56] chenjiahan commented on #9872
Wrote a small plugin to add `array.iterator` polyfill automatically:

Repo: [babel-plugin-dynamic-import-polyfill](https://github.com/chenjiahan/babel-plugin-dynamic-import-polyfill).

### Example

#### In

[code]

#### Out

[code]

### Installation

[code]

### Usage

.babelrc

[code]

[2020-01-08 10:56] chenjiahan commented on #10140
Wrote a small plugin to add `array.iterator` polyfill automatically:

Repo: [babel-plugin-dynamic-import-polyfill](https://github.com/chenjiahan/babel-plugin-dynamic-import-polyfill).

### Example

#### In

[code]

#### Out

[code]

### Installation

[code]

### Usage

.babelrc

[code]

[2020-01-08 11:32] IgorNovozhilov opened #10970 "Empty coverage report when using "type": "module" with babel/register"
Empty coverage report when using `"type": "module"` in "package.json".

[code]

How to configure everything to work "out of the box"?

Example repo: https://github.com/demo-source/node-app

Here is the output in the original:
![изображение](https://user-images.githubusercontent.com/3082812/71974558-d1e5da00-3222-11ea-8aab-62b921b15692.png)

Relying on the message: `ExperimentalWarning: The ESM mod

[2020-01-08 11:45] nicolo-ribaudo commented on #10970
`@babel/register` only works with commonjs scripts, because node doesn't have a stable API to hook into modules loading yet.

[2020-01-08 14:07] AjayPoshak commented on #10921
I would like to give it a try.

[2020-01-08 14:08] nicolo-ribaudo commented on #10954
Next time please post a clear example of your directory structure :pray:
I managed to reproduce the bug with this one:
[code]

As a side note (but it's not the cause of the bug) you are not using the `babel` and `babel-node` installed in your package.json but the globally installed packages. You should either run `./node_modules/.bin/babel ...`, `npx babel ...` or `yarn babel ...`.

[2020-01-08 14:21] nicolo-ribaudo commented on #10954
The problem is that, by design, `@babel/register` and `@babel/node` only compile the current cwd:
https://github.com/babel/babel/blob/09cb4273bc74e1916db17920f068cad563eefd00/packages/babel-register/src/node.js#L140-L157

As a workaround you can pass a custom `--ignore`:

[code]
or
[code]

[2020-01-08 14:55] IgorNovozhilov commented on #10970
@nicolo-ribaudo, Maybe there is a plugin that solves this problem?

[2020-01-08 14:57] mAAdhaTTah commented on #10970
@IgorNovozhilov No. Node does not yet provide the capabilities needed to create a plugin.

[2020-01-08 15:28] existentialism commented on #10921
@AjayPoshak let's give @Wetinee a chance to respond!

[2020-01-08 17:43] IgorNovozhilov commented on #10970
Well, then I'll use my solution, maybe someone will be useful:
https://www.npmjs.com/package/babel-hook-esm-to-cjs-package-type-runtime
Or maybe someone will suggest something else...

[2020-01-08 23:25] monsonjeremy commented on #10808
Sorry for the delay @JLHwung.. Here's a really small example to reproduce.
[code]

[2020-01-08 23:47] monsonjeremy commented on #10808
@JLHwung I've gone ahead and made a repo to test this out on, it should error out if you run `npm start` (node version 12)

[2020-01-09 01:57] JLHwung commented on #10921
@Wetinee has talked to me offline a bit. She's working on it after the holiday seasons.

[2020-01-09 11:00] zachsa opened #10972 "Babel-node does not transpile files references by workers. Can/should it?"
I find that using `new Worker(file.js)` (and file.js uses import statements), that babel loads the referenced script fine but babel-node doesn't. Is this a bug or related to how babel-node works (my understanding of these things is not so good)?

I have just posted a StackOverflow question with more detail: https://stackoverflow.com/questions/59662352/how-to-get-babel-node-to-convert-files-referen

[2020-01-09 11:31] narutowyh commented on #9894
I have the same problem.

[2020-01-09 12:04] ermanolca commented on #9576
Hi there!

Did anybody find a solution about this problem?

[2020-01-09 12:13] Danoha commented on #8840
@nicolo-ribaudo [Here](https://babeljs.io/repl#?browsers=edge%2017&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsI2ACmQC1RAC4YB5AIwCsBTKZAGhgDpXgAnAcxAEoYBvAFABIdjWQJ2WOBGbAADvIA2YPIRBMO3HgG5BAXyA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=typescript%2

[2020-01-09 12:59] githubxiaowen commented on #10966
You may need to write like this。you just parse the code, not transform it
[code]

[2020-01-09 15:19] JLHwung commented on #10972
The `Worker` constructor does not invoke `Module` constructor so babel-node could not hook into the loader and apply the transformation. You can use `@babel/register` to hook into any files loaded _inside_ your worker:

file-wrapper.js
[code]
main.js
[code]

[2020-01-09 16:44] n3nad commented on #8482
@milesj Thank you mister! 🎩

[2020-01-09 17:24] benburch93 commented on #10968
Nicolo-ribaudo: Indeed that silenced the syntax-doubling.  This is quite different from the expected.

But I now have this happening;

error:(index.js: Cannot find module '@babel/preset-react'

In spite of the module being in node-modules, and I wonder if there is some related failure or misconfiguration changing the way that name is being searched for?

I'm really not an idiot, I promise, but I'm

[2020-01-09 20:39] nelsondude commented on #10690
Has this been added to preset-env yet?

[2020-01-09 22:07] JLHwung commented on #10896
Hi @regiontog, thanks for your report!

This issue comes from how babel registers bindings for the id of ClassDeclaration
https://github.com/babel/babel/blob/09cb4273bc74e1916db17920f068cad563eefd00/packages/babel-traverse/src/scope/index.js#L134-L140

As you can see the `binding` variable is referencing the returned result from `path.scope.getBinding` - That means if the binding is not defined in

[2020-01-09 23:41] nicolo-ribaudo commented on #10690
I hope to publish it tomorrow or during the weekend

[2020-01-09 23:56] nicolo-ribaudo commented on #10968
I have to admit that I have no idea about what could cause this bug with the other syntaxes you tried. Babel's logic is something like "only add `plugin-` if it's not already there", so even if the logic runs twice it shouldn't be duplicated.

Anyway, try running `npm install --save-dev @babel/preset-react` or `yarn add --dev @babel/preset-react`. It _should_ be found if `node_modules/@babel/prese

[2020-01-10 00:08] existentialism commented on #10896
@JLHwung sidenote, fantastic explanation :)

[2020-01-10 01:00] JLHwung commented on #10690
@nicolo-ribaudo I can see a busy Friday/Monday is coming.

[2020-01-10 01:28] #10824 closed

[2020-01-10 01:52] #10813 closed

[2020-01-10 02:02] #6222 closed

[2020-01-10 02:03] #6226 closed

[2020-01-10 02:16] #10775 closed

[2020-01-10 06:41] laysent opened #10978 "fail to parse decorator with computed name in class"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

Babel is throwing syntax error (`Unexpected token`) when parsing decorator (legacy mode) with computed class property.

**Input Code**
[code]

**Expected behavior/code**

Babel should parse the above code without throwing out syntax error.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .

[2020-01-10 07:41] zachsa commented on #10972
thanks - i'm quite new to this and would definitely be interested in knowing more about how the node.js module system works.

what is the Module constructor? I can see that there is no `Module` constructor in JavaScript (at least not in the browser or the Node.js repl)

[2020-01-10 11:12] nicolo-ribaudo commented on #10978
The problem is that they are ambiguous:
[code]

Am I decorating the `name` field with `@computed`, or the field `foo` with `@computed["name"]`?

A decision had to be made, and it was decided that `[...]` are part of the decorator.

[2020-01-10 11:30] zachsa commented on #10972
Another question - when using babel (not babel-node), it does actually work:

[code]

That does convert the worker to commonjs.

[2020-01-10 14:57] JLHwung commented on #10978
Closing this as it works as expected.

[2020-01-10 14:57] #10978 closed

[2020-01-10 21:07] #10809 closed

[2020-01-10 22:14] #10755 closed

[2020-01-10 22:41] #10782 closed

[2020-01-10 22:47] nicolo-ribaudo commented on #9894
@narutowyh Could you share a repository which reproduces the issue?

[2020-01-11 00:00] DanielRosenwasser opened #10981 "`import type` in TypeScript"
TypeScript 3.8 will support a new `import type` construct. While there's already some logic for similar stuff (Flow has its own `import type`), TypeScript's has a few extra restrictions.

* `import type` can only be used on imports with named imports or with a default import - but not both.

[code]
* Even though `import type` creates no emit, an `import type` functionally shadows variables from th

[2020-01-11 00:01] DanielRosenwasser commented on #10981
CC @andrewbranch

[2020-01-11 01:46] #9349 closed

[2020-01-11 03:11] kaicataldo commented on #10981
For my own understanding, how do we decide what the interface for AST nodes for TypeScript-specific syntax is like? Is there a spec?

[2020-01-11 03:54] andrewbranch commented on #10981
If it helps, here’s the changes to TypeScript’s parse tree node interfaces: https://github.com/microsoft/TypeScript/pull/35200/files#diff-4b8bd1eea29904f1be39cd864e1a45c0

The only change was adding a boolean `isTypeOnly` property to ImportClause and ExportDeclaration.

[2020-01-11 05:55] zxh19890103 opened #10984 "If no runtime installed, how our babel transforms es6 feature class?"
I am studying Babel these days. I found that Babel interpolates many helper functions where I use `class`. This is the case I didn't install `@babel/runtime`. When I set the plugin `@babel/plugin-transform-runtime` with `@babel/runtime` installed, Babel requires the helpers for defining `class` from `@babel/runtime`. How does Babel provide these helpers if no `runtime` installed? Thanks.

[2020-01-11 08:29] nicolo-ribaudo commented on #10984
`@babel/helpers`, a dependency of `@babel/core`, includes the source of all the helpers.
We use it to generate `@babel/runtime`, and `@babel/core` uses it to inject the inline helpers.

I suggest looking at the source code of the `addHelper` function in `@babel/core` 😉

[2020-01-11 08:29] #10984 closed

[2020-01-11 08:57] pragtiverma opened #10985 "Below issue"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.

[2020-01-11 08:59] pragtiverma commented on #10985
Request you to please add screenshots here..

[2020-01-11 09:35] nicolo-ribaudo commented on #10985
Please open a new issue by writing the info required by the issue template.

[2020-01-11 09:35] #10985 closed

[2020-01-11 11:00] mischnic commented on #10896
I'll close my old issue https://github.com/babel/babel/issues/9327 as a duplicate.

[2020-01-11 11:00] #9327 closed

[2020-01-11 11:21] nicolo-ribaudo opened #10986 "Disable Annex B by default in @babel/parser"
## Feature Request

From the Annex B introduction in the spec:

Most of the Annex B features are only used by legacy code, which probably isn't using Babel. Modern code is discouraged from using them, and browsers can't remove them because of the "don't break the web" constraint.

Well, _we_ can break things :stuck_out_tongue:

Supporting Annex B features by default means that, by default, we are

[2020-01-11 18:09] JLHwung commented on #10986
Note that Annex B also includes grammar extension to regex. We may also need to propose annex B option to `regjsparser`, which is used in `regexpu-core` offering multiple regex features support.

[2020-01-11 19:39] zxh19890103 commented on #10984
Got. Thank you very much.

[2020-01-11 23:31] JLHwung opened #10988 "await should be allowed when it is not in AsyncArrowHead"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.
The following snippet will throw SyntaxError: Await cannot be used as name inside an async function (1:1)

**Input Code**
- REPL or Repo link if applicable: [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQQw7iCWAuCUAEBeAfPA3gXyA

[2020-01-12 03:54] JLHwung opened #10989 "Unexpected token when parsing a member expression after a property initializer in an object pattern"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

The following snippet will throw SyntaxError: Unexpected token, expected ","
**Input Code**
- REPL or Repo link if applicable: [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQbwBAhmC8YCwCYA0YBGAuMIC-A6AJmNjFtgJRA&debug=false&fo

[2020-01-12 06:55] vedantroy commented on #10989
I would like to take this up.

[2020-01-12 07:12] abhinavsingi opened #10990 "Latest version breaks on node<10"
## Bug Report

**Current Behavior**
semver is included as "^7.1.1" in following:
https://github.com/babel/babel/pull/10899/files#diff-ef7266ff2423fa596fa449062b0b725fR23
https://github.com/babel/babel/pull/10899/files#diff-284fef7c611cebc1a424f6a765782a30R28

Newly created packages `babel-compat-data` and `babel-helper-compilation-targets` seems to be using v7.1.1 of semver which breaks on node<10

[2020-01-12 10:02] XaveScor commented on #10746
@babel/preset-env using core-js@2 by default. Can @bable/preset-env@8 using core-js@3 only?

[2020-01-12 10:22] nicolo-ribaudo commented on #10746
Yeah, this is a good idea!
@zloirock WDYT about dropping support for `core-js@2`?

[2020-01-12 10:35] zloirock commented on #10746
Yes, `core-js@2` support should be dropped and the version of `core-js` should be required argument with `useBuiltIns` in `preset-env`. Maybe it could be good also to enforce specifying of minor `core-js` version.

[2020-01-12 10:44] zloirock commented on #10746
Why it should be dropped - copy-paste from the draft of one post:

[2020-01-12 12:56] #10990 closed

[2020-01-12 13:03] nicolo-ribaudo commented on #10990
Fixed in 7.8.1

[2020-01-12 15:05] JLHwung commented on #10989
@vedantroy Sure. If it's the first time you are contributing Babel, follow these steps: (you need to have `make` and `yarn` available on your machine).
1. Run `yarn && make bootstrap`
1. Wait :hourglass_flowing_sand:
1. Run `make watch` (or `make build` whenever you change a file)
1. Add a test (only `input.js`; `output.js` will be automatically generated)
1. Update the code!
1. `yarn jest babel-p

[2020-01-12 15:21] JLHwung commented on #10972
The `Module` constructor is actually the internal implementation of CommonJS module of Node.js: https://github.com/nodejs/node/blob/f9c16b87eff60858efa0b6977fa1d253be538589/lib/internal/modules/cjs/loader.js#L154, when a module is loading, it will call the functions registered in `Module._extensions`: https://github.com/nodejs/node/blob/f9c16b87eff60858efa0b6977fa1d253be538589/lib/internal/modules

[2020-01-12 17:27] armano2 commented on #10981
i have same issue, i was planning to add this to @typescript-estree but i'm unsure if we want to extend existing `ImportDeclaration` by adding new property to it or creating new node type `TSImportTypeDeclaration`

[2020-01-12 21:27] sidntrivedi012 commented on #10966
Hey, was working on this issue. Needed some help in that how do we decide precedence in https://github.com/babel/babel/blob/master/packages/babel-generator/src/node/parentheses.js ?

Also, how to find which function in `parentheses.js` implements operations on `??` operator ?

[2020-01-12 22:57] nicolo-ribaudo commented on #10966
Its precedence should be the same as `??` or lower.

In the spec, they are represented at the same level: https://tc39.es/ecma262/#sec-binary-logical-operators
[code]

`??`, `&&` and `||` are represented using a `LogicalExpression` node: you can see it on ASTExplorer. [demo](https://astexplorer.net/#/gist/2d7aa7f6ea9b8350d50c0e5e5bd81880/9e1002ec7ed9355bf11de8946dab8385e9523fe0)
You need to create

[2020-01-13 03:35] GEOHOTIOS opened #10996 "TypeError: _typeof2 is not a function"
var _typeof2 = __webpack_require__(/*! @babel/runtime/helpers/typeof */ "./node_modules/_@babel_runtime@7.7.7@@babel/runtime/helpers/typeof.js");

function _typeof(obj) {
  if (typeof Symbol === "function" && _typeof2(Symbol.iterator) === "symbol") {
    module.exports = _typeof = function _typeof(obj) {
      return _typeof2(obj);
    };
  } else {
    module.exports = _typeof = function _typeof(

[2020-01-13 07:53] sidntrivedi012 commented on #10966
Ok, working on it. Just to confirm, is this causing this issue? https://github.com/babel/babel/blob/master/packages/babel-generator/src/node/parentheses.js#L114-L126

[2020-01-13 08:16] nicolo-ribaudo commented on #10966
Oh good catch! It seems that the problem is there.
Probably `Binary` is an alias for `BinaryExpression` and `LogicalExpression`.

[2020-01-13 08:17] nicolo-ribaudo commented on #10966
But removing that `isLogicalEexpression` test would still leave some cases to fix.

[2020-01-13 08:22] sidntrivedi012 commented on #10966
@nicolo-ribaudo so, should I remove the `isLogicalExpression` condition ?

[2020-01-13 08:41] sidntrivedi012 commented on #10966
Also, here true is already returned for it - https://github.com/babel/babel/blob/master/packages/babel-generator/src/node/index.js#L111

[2020-01-13 08:46] consolejs opened #10997 "There has been a problem with the installation recently."
## Bug Report

There was a problem after the recent reinstallation, and I got the following error:

[code]

**Environment**

- Babel version(s): v7.8.0
- Node/npm version: Node 13.0.1/npm 6.12.0
- OS:  OSX 10.11.6
- Monorepo: no
- How you are using Babel: cli

[2020-01-13 09:47] xuyuanxiang opened #10998 "@babel/types TypeScript declaration file has some errors above v7.8.0"
## Bug Report

When I upgrade `@babel/types` to `7.8.0`, the following TypeScript source files had some compilation errors:

[code]

I followed the error message and fixed it like this:

[code]

Typescript compilation was successful，But when I use `node` to execute the compiled JS file，`@babel/types` threw errors:

[code]

**tsconfig.json**

[code]

**Environment**

[code]

[2020-01-13 10:30] consolejs commented on #10997
I have removed all node related files from my computer, then reinstall nodejs.
Problem solved. :joy:

Thank you very much!！

[2020-01-13 11:16] rajasekarm commented on #10997
Closing this issue, Since the reporter mentioned it is solved.

[2020-01-13 11:16] #10997 closed

[2020-01-13 12:39] askart opened #10999 "TypeError: Cannot read property 'range' of null"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
[code]

**Input Code**
[code]

**Expected behavior/code**
No issues found by eslint or eslint rule name.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babelrc`

[code]

- Filename: `package.json`

[code]

- Filename: `.eslintrc`

[code]

**Environment**

[code]

[2020-01-13 15:51] yamenarahman commented on #8482
This worked for me, in package.json
[code]

[2020-01-13 17:26] nicolo-ribaudo commented on #10999
Thanks for the report. We are still tracking ESLint-related issues in the `babel/babel-eslint` repository, so I'm closing this as a duplicate of https://github.com/babel/babel-eslint/issues/799

[2020-01-13 17:26] #10999 closed

[2020-01-13 17:29] eilon-shai opened #11000 "version 7.8.0 fail to install on node 6.1.0"
our build is failing since 12/1 on npm install, we are using jest@23.6.0 and it is using @babel/highlight@7.8.0
it fails both on jenkins (linux) and locally (macos).
we are using node 6.1.0 npm 3.8.6
error:
npm ERR! code EMISSINGARG

npm ERR! typeerror Error: Missing required argument #1
npm ERR! typeerror     at andLogAndFinish (/usr/local/lib/node_modules/npm/lib/fetch-package-metadata.js:31:3)

[2020-01-13 17:37] jdelStrother opened #11001 "7.8 regression with babel-eslint & dynamic imports"
## Bug Report

**Current Behavior**
When using babel-eslint (10.0.3) with babel >= 7.8 , dynamic imports trigger the no-unused-expression rule.

**Input Code**
[code]

[code]

The same project with babel @ 7.7.4 does not trigger this error:

[code]

**Expected behavior/code**
Dynamic imports shouldn't be treated as unused expressions

**Babel Configuration (babel.config.js, .babelrc, package.json#

[2020-01-13 17:37] nicolo-ribaudo commented on #11000
Using node 6.1.0 and npm 3.8.6 I get a slightly different error:
[code]

(Nore the `This is an error with npm itself` message)

[2020-01-13 17:42] nicolo-ribaudo commented on #11001
This is a bug in ESLint itself, it can also be reproduced without using Babel at all: https://eslint.org/demo#eyJ0ZXh0IjoiaW1wb3J0KFwiZm9vXCIpXG4wID09IDA7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6eyJqc3giOnRydWV9fSwicnVsZXMiOnsicmVxdWlyZS1qc2RvYyI6MiwidmFsaWQtanNkb2MiOjIsIm5vLWltcGxpY2l0LWdsb2JhbHMiOjIsIm5vLXVudXNlZC1leHByZXNzaW

[2020-01-13 17:44] nicolo-ribaudo commented on #11001
Oh actually I think that it's not a bug, it's a feature. `import()` returns a promise, so you have to use either `await import()` or `import().then(...)`.

[2020-01-13 17:55] jdelStrother commented on #11001
ohhhhhhhh.  Of course, sorry.  I've been looking at this way too long.

[2020-01-13 18:36] nicolo-ribaudo commented on #11000
Ok, this is the problem:
When `npm@3` downloads a `package.json` file from the registry, in some cases (I didn't understand exactly when) it adds a `type: ` property to mark it as having a different format.

We added `type: "commonjs"` to our package, thus `downloadedPackage.type` is always truthy and thus "normal" `package.json` files aren't handled correctly.

https://github.com/npm/npm/blob/db9

[2020-01-13 19:05] #11001 closed

[2020-01-13 20:18] #11000 closed

[2020-01-13 20:36] eilon-shai commented on #11000
Thank you for the quick response

[2020-01-13 20:40] nicolo-ribaudo commented on #11000
I'll release it after that https://github.com/babel/babel/pull/11002 (a fix for a different regression) is merged.

[2020-01-13 20:51] eilon-shai commented on #11000
great, thanks

[2020-01-13 21:30] #10998 closed

[2020-01-13 21:38] nicolo-ribaudo commented on #10966
Oh right, we are already handling cases of mixed `??` and `||`/`&&`. Then assigning the correct precedence might be enough.
Btw, if you have other questions please open a draft PR so that it's easier to see what you are doing!

[2020-01-13 21:52] nicolo-ribaudo commented on #10998
Fixed in 7.8.3

[2020-01-14 00:43] #10907 closed

[2020-01-14 06:55] arku commented on #10988
@JLHwung I would love to fix this bug 🙂

[2020-01-14 08:02] ZachSAEON commented on #10972
Ah, thanks. But. the only reason that `babel-cli` knows to transform `worker.js` is that the file is referenced by the `Worker` constructor. Does this mean that `babel-cli` follows all file references whereas `babel-node` only follows module imports? Why is this?

Thank you very much for your answers. Out of interest, I see this line:

[code]

That looks like there is one loader per file extension

[2020-01-14 09:13] rajasekarm commented on #10988
@arku Go ahead. It's yours now.

[2020-01-14 11:46] ianchanning commented on #10791
It took me a while to find this bug report as I was searching based off the yarn warning message I get.

Anyone who finds this should look at the above answer: https://github.com/babel/babel/issues/10791#issuecomment-560344796

So I'm just putting this here for any future searches:

[code]

[2020-01-14 14:08] benburch93 commented on #10968
Thank you!  I will give this a try today.

[2020-01-14 14:28] liamfd opened #11007 "Error when Mixing Nested Async Functions and TypeScript Generics"
## Bug Report

- [x] I would like to work on a fix!

I'm interested in helping, but I don't have much context! If someone else would like to take point on a fix, that is also fine with me.

**Current Behavior**
When mixing TypeScript generics and async/await in a certain way, I'm seeing an `Unexpected Token, expected ";"` error.

**Input Code**
- [REPL](https://babeljs.io/en/repl#?browsers=&build=

[2020-01-14 14:42] Lighttree opened #11008 "Internal proxy registry can't get latest version of code-frame."
Hi guys, this is might be not related to `@babel/code-frame`. But this is only case I recently faced, so I think there is something different in how the package published.

We have private proxy repository which saves all installed packages from `NPM`.

With latest release of `@babel/code-frame` I started to get error during `npm update`:
[code]
I did quick check of our proxy and noticed that it a

[2020-01-14 15:02] lukepolo commented on #11008
Im having similar issues

[code]

[2020-01-14 15:25] JLHwung commented on #11008
Both `@babel/code-frame@7.8.3` and `@babel/plugin-proposal-nullish-coalescing-operator@7.8.3` have been published to `npm`
https://www.npmjs.com/package/@babel/code-frame
https://www.npmjs.com/package/@babel/plugin-proposal-nullish-coalescing-operator

Frankly speaking we could not control the cache policy of third party npm registry, but typically they will be resolved after couple of hours or da

[2020-01-14 15:25] #11008 closed

[2020-01-14 15:34] JLHwung commented on #11007
As a workaround, you can wrap the async function declaration into parenthesis.
[code]

[2020-01-14 15:42] JLHwung commented on #10972
`babel-cli` transforms all the JavaScript files inside the `src` folder. It operates on per-file level and does not process the module references.

Under the hood `babel-node` uses [pirates](https://github.com/ariporad/pirates), which overwrites `Module._extension[".js"]`. So when a module is loaded, the babel transform defined here will be executed: https://github.com/babel/babel/blob/a0a9c64a470

[2020-01-14 15:56] JLHwung commented on #10675
@rajasekarm The issue is not related to babel-eslint and reproducible on REPL. Let me know if you are still working on this. :)

[2020-01-14 18:04] nicolo-ribaudo commented on #10981
Currently, we use a `.type` property for flow imports. It would be nice to keep them aligned.

[2020-01-14 18:14] armano2 commented on #10981
`type` property seems good to me, for imports/exports that are not `type` do we want to set is as null or undefined?

[2020-01-14 19:09] benburch93 commented on #10968
OK, I did the yarn install, and modified the package.json thus;

`{
  "name": "SystemsDockConfig",
  "version": "0.0.2",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest"
  },
  "dependencies": {
    "@babel/runtime": "^7.6.3",
    "buffer": "^5.0.7",
    "eslint": "^6.8.0",
    "eventemitter3": "^4.0.0",
    "native-base": "

[2020-01-14 19:19] JLHwung commented on #10896
friendly ping @regiontog, let me know if you working on this. Should you have questions on developing a fix, please ask in the `#development` slack channel.

[2020-01-14 19:20] JLHwung commented on #10810
Closing this since #10817 has been merged.

[2020-01-14 19:20] #10810 closed

[2020-01-14 19:27] jridgewell commented on #10981
The [explorer suggests](https://astexplorer.net/#/gist/be2e4a6c169562f6d52e0d00853f467a/fbbe1fb43700251e596d109542b771ef820534c6) we use `importKind: 'type'` for type imports and `importType: 'value'` for value imports.

[2020-01-14 19:49] rajasekarm commented on #10675
No, I'm not working on it.

[2020-01-14 19:55] nicolo-ribaudo commented on #10981
Oh, you are right :man_facepalming:
And we are using `exportKind` for `export type { x } from "x"`/`export { x } from "x"`.

[2020-01-14 20:00] nicolo-ribaudo commented on #11008
Or better, please report the bug to npm. Every time we release a Babel version we are affected by this bug, and it's really annoying that they aren't fixing it because it only affects people for a few hours/days.

[2020-01-14 20:36] JLHwung commented on #10675
@rajasekarm Thanks. I will unassign you so if people are interested at a fix they can move on.

[2020-01-14 20:43] regiontog commented on #10896
Thanks, I've been busy this week, but I was planning on taking a look tomorrow since I have the day off. I don't mind if someone else wants to take a look either.

[2020-01-14 20:56] danez commented on #10889
I once started with all in gulp, but never had the time to continue with it #9674

[2020-01-14 22:11] regiontog commented on #10896
@JLHwung You were right, the fix is exactly as you suggested. The only thing that is not entirely clear to me is when the parent scope gets the `a` binding. I assume previously in the traverse if it is top-to-bottom. But I don't see a `Program` visitor.

Nevertheless my test passes now, I'll check if the bug in parcel is resolved by the same change. I can submit a PR with the fix and the test if y

[2020-01-14 22:32] JLHwung commented on #10896
The parent scope will get the `a` binding in the `Declaration` visitor
https://github.com/babel/babel/blob/09cb4273bc74e1916db17920f068cad563eefd00/packages/babel-traverse/src/scope/index.js#L62-L75, since `ClassDeclaration` is also `Declaration`. Its parent scope will be registered with newly created binding info.

[2020-01-14 23:04] regiontog commented on #10896
My only problem with the current approach that it presumably depends on the `Declaration` visitor being called before the `ClassDeclaration` visitor. I don't know if that is by design since `Declaration` is less specific or not. But if that's not a contract traverse must uphold then depending on it might not be a good idea.

[2020-01-15 01:09] JLHwung commented on #10896
The `Declaration` visitor is called before `ClassDeclaration` because babel-traverse explode the visitors according to the `Object.keys`: https://github.com/babel/babel/blob/f544753bb8c9c7a470d98e897b089fd31b83d1f6/packages/babel-traverse/src/visitors.js#L26

I admit that this is too subtle and essentially the object keys are unordered. So here we are on the same page. I propose to merge the `Clas

[2020-01-15 03:53] #6705 closed

[2020-01-15 08:57] josteinjhauge opened #11010 "syntax error running test with jest"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.
test fails because of syntaxError
 FAIL  __tests__/App.test.js
  ● Test suite failed to run

    SyntaxError: /Users/Jostein/Documents/jobb_Ovitas/projects/hunnor/node_modules/react-native/jest/mockComponent.js: Support for the experimental syntax 'classProperties' i
sn't curr

[2020-01-15 10:01] Lighttree commented on #11008
Thanks. Today `npm update / install` back to normal. Seems that it takes some time to get latest version information. I was thinking that `npm update / install` will force this, but seems that it is not.

[2020-01-15 13:02] bennypowers opened #11012 "istanbul ignore abstract of class method"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- [REPL Link](https://babeljs.io/repl#?browsers=last%201%20Chrome%20versions&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEAKD28BOICeBJAdhALkgrgLYCmmOxAJtAN4BQ00AAjgBYCWmA5tAGZvEgKAbnrRRAegBUk0dElMwAI1xIwwHLPmMADkjYA3MOU3Q2uMJkX4QpzpmTFomYgA8ND

[2020-01-15 14:56] JLHwung commented on #11010
Please use `babel.config.json` instead of `.babelrc`. `.babelrc` is meant for file relative config, searching `.babelrc` will stop once a `package.json` is seen. So the `@babel/plugin-proposal-class-properties` is never applied to `node_modules/react-native/jest/mockComponent.js` because there is a `package.json` in `node_modules/react-native`.

This issue duplicates https://github.com/facebook/re

[2020-01-15 14:56] #11010 closed

[2020-01-15 17:02] Kadrian opened #11013 "Increased bundle size after upgrading past 7.6"
# v7 Regression

**Potential Commit/PR that introduced the regression**
https://github.com/babel/babel/pull/10161

**Description**
When we recently upgraded from `7.5` to `7.8` we experienced a bundle size increase from `~3,4 MB` to `3.5 MB` minified (`+90 KB` difference)

When we checked the bundle diff, we found that a function `_getRequireWildcardCache` is being re-defined for every module in o

[2020-01-15 19:05] JLHwung commented on #11013
Could you share how your app is bundled? If it is bundled by webpack, you should use [@babel/plugin-transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime) to replace the injected helper codes
[code]
by runtime imports
[code]

[2020-01-15 22:30] #10966 closed

[2020-01-15 22:45] nicolo-ribaudo commented on #11013
If you are already using `@babel/plugin-transform-runtime`, this is probably what is happening: the helper has been updated, so Babel must inline it to ensure that you are using the new version (just in case your `@babel/runtime` is old). You can prevent this by passing a `"version": "^7.6.0"` (or what ever you are using) to tell "Hey Babel, I'm already using a version which includes the new featu

[2020-01-15 23:49] Kadrian commented on #11013
Thank you for the hints! That already helped. So we're using the parcel bundler and we didn't use `@babel/plugin-transform-runtime` before. Now after adding the plugin, the bundle size decreased considerably, but checking the bundle: the `_getRequireWildcardCache` is still being redefined. We've also been using corejs-2. So after adding `@babel/runtime-corejs2` and including these parameters
[code

[2020-01-16 00:04] nicolo-ribaudo commented on #11013
If you are also using `preset-env`, I suggest using it's `useBuiltIns: usage` option rather than `plugin-transform-runtime`'s `corejs`. This is because `preset-env` only includes polyfills for your target environments, while `transform-runtime` polyfills everything.

[2020-01-16 00:27] JLHwung commented on #11013
Could you see where these codes comes from? It is likely that they may come from the node_modules because some library use babel to transpile itself before publishing.

[2020-01-16 02:18] t47io commented on #10818
+1 tagging on here, I had the following `.babelrc`:
[code]

I was expecting when running in production mode, the final babel config would have a single plugin with options merged, i.e.:
[code]

But it does not. The behavior I'm observing is it's "overriding", not "merging". The current (`@babel/core` 7.8.3) gives:
[code]

Just want to clarify the expectation, thanks!

[2020-01-16 03:48] kuehlein opened #11019 "fields on class instance frozen"
## Bug Report

**Current Behavior**
Properties on class instance are frozen

**Input Code**
[code]

**Expected behavior/code**
Properties on class instance should not be frozen

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babelrc`

[code]

**Environment**
[code]
- Monorepo: yes
- How you are using Babel: cli

[2020-01-16 05:57] jridgewell commented on #11019
They're not frozen. `foo.bar === undefined`, and `Object.isFrozen(undefined) === true`. Setting `foo.bar = true` will not throw, unless you've manually frozen `foo`.

[2020-01-16 05:57] #11019 closed

[2020-01-16 08:52] gre commented on #10997
In fact this is a bug in last version that i can constantly reproduce with Node 13, https://github.com/babel/babel/commit/e7961a08a839b0bfe2c5a08f2e1c7e3d436af144 so we will need a new patch version to address this

[2020-01-16 08:56] nicolo-ribaudo commented on #10997
As a workaround, you can upgrade to Node.js 13.6

[2020-01-16 10:37] Kadrian commented on #11013
Hmm, that's a good idea, but the code seems to be injected between our own modules / files. It's around ~330 duplicate function definitions, which could about match our number of own files that make up our bundle.

After monkey patching the `cache.get` method, we realized that the cache is never even called, probably because all of our modules are esmodules, and the cache is only accessed for non-

[2020-01-16 10:45] sidntrivedi012 commented on #10802
Hey @iansu , are you still working on this ? Would like to work on it.

[2020-01-16 16:05] niget opened #11020 "Unsupported syntax "catch { }""
npm build  , use   _jsdom@16.0.0@jsdom  , build error

[code]

https://github.com/jsdom/jsdom/commit/d2ae947c60297a8ec404b4adbd78267bedd439f4?diff=split

[2020-01-16 16:21] JLHwung commented on #11020
What's your nodejs version? `jsdom` requires `node >= 10`.

[2020-01-16 16:29] niget commented on #11020
v10.15.3 and v12.14.1(lts)  both build error

[2020-01-16 16:38] JLHwung commented on #11020
What's the output of the following snippet?
[code]

[2020-01-16 16:41] niget commented on #11020
[code]

[2020-01-16 16:56] JLHwung commented on #11020
That means `node` does support optional catch bindings. You can check
1) if this `node` is exactly the same `node` used to run `jsdom`
2) if the syntax error is coming from another places other than the optional catch bindings

But I couldn't go further because lack of necessary information.

As babel-bot said

Following this etiquette would greatly help other people to diagnose and reproduce your

[2020-01-16 17:00] niget commented on #11020
thank you very much

[2020-01-16 19:33] iansu commented on #10802
@sidntrivedi012 I am still working on this. I've written some failing tests to cover this case. I'm just working on actually fixing it. I don't have a ton of experience working with Babel's AST so it's taking me a little longer than I hoped but I am still trying to work through it.

[2020-01-16 21:06] existentialism commented on #10802
@iansu please let us know if you have any questions!

[2020-01-16 21:38] nshoes commented on #8571
@cipater that solution worked for me too! Thanks.

[2020-01-16 22:05] MLoughry commented on #10981
I don't suppose anyone's working on a code mod to migrate existing code to this syntax? 🤞

[2020-01-16 22:11] andrewbranch commented on #10981
@MLoughry if you set `importsNotUsedAsValues: "error"` in your tsconfig, I plan to have a quick fix for the resulting errors. It shouldn’t be too hard to write a small program to do the same across a whole project, but that’s not something tsc or the language service currently supports.

[2020-01-16 22:17] nicolo-ribaudo commented on #10981
Also, this will be hard to implement using Babel because we don't have type information.

[2020-01-16 22:17] MLoughry commented on #10981
@andrewbranch Is there a way to programmatically invoke quick fixes across a set of files? Our project is over 20k modules, and tsserver can't really hold the entire project in memory at once. 😅

[2020-01-16 22:23] nicolo-ribaudo commented on #11013
Could you share your full config, and the config of the tool you are using to run Babel (if any)?

[2020-01-16 22:28] andrewbranch commented on #10981
Sort of. There’s a language service command to _get_ code fixes for a given file, which will return text change range information that you should be able to pump into a String.prototype.splice on the string contents of a file and write it back to disk.

[2020-01-16 22:49] jridgewell commented on #10981
Actually, I think it'll be really easy for imports. We don't have type information, but we do know whether an imported value is only used in type positions in the AST. The difficult one is for exports, since we have no idea if an `export { Foo } from "foo.js"` is exporting a value or a type.

[2020-01-16 22:53] nicolo-ribaudo commented on #10981
Oh you are right.
And if someone is already using Babel, `export { Foo } from "foo.js"` will already be broken for them when `Foo` is a type: we can then assume that it is a value.

[2020-01-16 22:57] andrewbranch commented on #10981
Note that the assumption may not hold up for any re-exported import, not just export declaration re-exports:

[code]

[2020-01-16 23:08] jridgewell commented on #10981
Yup. We'll have trouble with any re-exported thing. But my intuition is that re-exporting is much less common than using imported values, or only exporting local values.

[2020-01-17 03:17] vedantroy commented on #10989
@JLHwung It seems like fix-6705 has been merged into master. I assume this means I can just work with the master branch, correct?

[2020-01-17 03:26] JLHwung commented on #10989
@vedantroy Correct!

[2020-01-17 09:34] ralphsol opened #11027 "Conversion of large map using _defineProperty"
For a given js file, which contains only a large map such as below -
-----------------------‐---------f.js-----------------------‐-------------
module.exports = {"A":"1", "B":"2", "C":"3", ...}
-----------------------‐--------------------------------‐-------------------

And with preset as 'es2015', Babel keeps the file unchanged till some occurrences. But beyond a count, it replaces the latter in

[2020-01-17 09:44] nicolo-ribaudo commented on #11027
Can you provide a reproducible example?

[2020-01-17 12:20] sidntrivedi012 commented on #10960
@nicolo-ribaudo I would like to work on this. Can you please guide how to proceed? Thanks :)

[2020-01-17 12:22] sanex3339 commented on #10960
Set the options as descrived above.

With these options, all numbers should be generated in hexadecimal view:
`0` -> `0x0`

[2020-01-17 13:02] sidntrivedi012 commented on #10960
Made a Draft PR at #11028 . PTAL.

[2020-01-17 15:21] ExE-Boss commented on #10981
Will&nbsp;it&nbsp;be&nbsp;possible to&nbsp;import&nbsp;types from&nbsp;`@types/*`&nbsp;packages&nbsp;directly?

## Example:
[code]

---

This&nbsp;would be&nbsp;particularly&nbsp;useful for&nbsp;importing&nbsp;types from&nbsp;non‑**npm**&nbsp;`@types/*`&nbsp;packages.

[2020-01-17 18:27] nicolo-ribaudo commented on #10981
I don't see how it's different from importing from any other package, from a Babel point of view.

[2020-01-17 18:30] benburch93 commented on #10968
Worked through that and your solution about removing the "plugin-" worked as did your suggestion about the structor of the package.json.

So, the workaround is good, but the bug exists.

[2020-01-17 18:36] ExE-Boss commented on #10981
I thought this was the **TypeScript** repository.

[2020-01-17 20:00] #8840 closed

[2020-01-17 20:57] vedantroy commented on #10989
@JLHwung While messing with the presented test case, I found that `{a = 3} = {}` works in the Chrome DevTools console, but fails in babel. Could this also be considered a bug? If so, I should probably try and fix that first, since it seems like a simpler case of the above bug.

![Valid_Code](https://user-images.githubusercontent.com/8407819/72645601-030c8b80-3942-11ea-8276-0eb2408de116.png)

[2020-01-17 21:00] nicolo-ribaudo commented on #10989
It's because chrome parses it as an expression. If you use `@babel/parser`'s `parseExpression` it will work, or you have to wrap it in parentheses: `({ a = 3 } = {})`.

[2020-01-17 22:12] JLHwung commented on #10798
@smelukov Are you still working on this issue? If you have any questions about developing a fix, feel free to ask in `#development` channel.

[2020-01-18 16:46] sidntrivedi012 commented on #10766
Hi all, I would like to work on this issue. Thanks.

[2020-01-19 07:27] kzc commented on #10306
Closing out issue since parentheses output behavior with respect to comments appears to be by design and the default is not likely going to change.

[2020-01-19 07:27] #10306 closed

[2020-01-19 23:33] #10989 closed

[2020-01-20 01:23] vedantroy commented on #10941
I'll work on a fix.

[2020-01-20 02:08] vedantroy commented on #10941
I'll take a shot at this.

[2020-01-20 02:32] #10896 closed

[2020-01-20 06:30] vedantroy commented on #10941
@ajafff How did you test the given code sample in Node.js. I tried running it, but Node.js does not support `export let foo = ` syntax.

I think I'm confused, but it seems like in Node.js, the expected behavior is not for `exports.foo` to be updated.

For example:

[code]
Outputs
[code]
not
[code]

Or are you referring to the fact that if I run the following two files in the browser (without trans

[2020-01-20 07:44] ajafff commented on #10941
You can run the untranspiled code in Node.js by using the `--experimental-modules` option and using `.mjs` as file extension.
The behavior is the same as running the untranspiled code in the browser.

Since the transpiled code should be semantically identical, it should update `exports.foo` whenever `foo` is updated.

---

I don't know exactly how these presets work. It seems like "es2015" is tran

[2020-01-20 08:45] aprilmintacpineda opened #11033 "[@babel/plugin-proposal-decorators] decorators for functions?"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

Allow usage of decorators for functions not just classes.

**Describe the solution you'd like**

currently

[code]

is allowed, but when you do

[code]

You get an error saying `Leading decorators must be attached to a class declaration`.

Useful links:

- https://gi

[2020-01-20 08:54] nicolo-ribaudo commented on #11033
It's not supported by the proposal: https://github.com/tc39/proposal-decorators/issues/40

[2020-01-20 08:54] #11033 closed

[2020-01-20 19:32] kaicataldo commented on #10981
Unassigning myself since this will be a team effort! :)

[2020-01-21 02:53] vedantroy commented on #10941
@ajafff It seems like the solution to this issue, is make Babel replace

[code]
with
[code]

[2020-01-21 05:36] hemantkumar5151 commented on #7610
//This is the src/app.js folder

import React from 'react';

let temp = <p>This is the SRC</p>
let appRoot = document.getElementById('root');

ReactDOM.render(temp, appRoot);

//This is the public/script/app.js folder

'use strict';

var _react = require('react');

var _react2 = _interopRequireDefault(_react);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default:

[2020-01-21 07:17] ajafff commented on #10941
@vedantroy while your suggested fix works, there's another case that it doesn't cover: You can export the same variable multiple times with different names:

[code]

should give roughly this code:

[code]

[2020-01-21 08:27] #8026 closed

[2020-01-21 08:42] yangxiaolin opened #11034 "@babel/plugin-proposal-object-rest-spread not work even i was config .babelrc correctly"
when i use react with express do ssr, i config webpack for node and client.
but when i use **object spread operator**, node throw error.

[code]

**here is my .babelrc file**

[code]

**and there is my webpack config**

[code]

os: Mac catalina 10.15.2
node: v12.13.0

[2020-01-21 08:50] nicolo-ribaudo commented on #11034
1. That's not an object, that's JSX spread.
2. What is your project directories structure?
2. Can you try renaming `.babelrc` to `babel.config.json`, and setting `rootMode: upward`? My guess is that your webpack config file is not in your root directory, and the Babel config file isn't correctly found.

[2020-01-21 09:03] yangxiaolin commented on #11034
@nicolo-ribaudo thanks for your answer.

i was rename `.babelrc` to `babel.config.json` and  setting `rootMode: upward` and remove webpack config file to same directory. just like this

[code]

but throw the same error(QAQ).

[2020-01-21 09:04] nicolo-ribaudo commented on #11034
What is the path of the file which is throwing, and what is the full stack trace?

[2020-01-21 09:08] yangxiaolin commented on #11034
this is the full stack trace

[code]

[2020-01-21 09:48] budarin opened #11035 "Configuration contains string/RegExp pattern, but no filename was passed to Babel"
## Bug Report

**Current Behavior**
The project uses typescript as a type checker not as transpiler.
I have working babel config (project runs correctly), but when I try to run jest test - it fails with the error:

**Error Code**

[code]

**Expected behavior/code**
Expected tests to be run

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename:

[2020-01-21 10:20] soryy708 commented on #10996
Perhaps related?
https://github.com/babel/babel/issues/2954
https://github.com/babel/babel/issues/3737
https://swizec.com/blog/dont-worry-its-a-compiler-bug/swizec/6764

[2020-01-21 11:01] soryy708 opened #11036 "`TypeError: (0 , _typeof3.default) is not a function` when executing test inside sub-package of monorepo"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Executing tests written in ES6+ inside sub-package of monorepo results in error: `TypeError: (0 , _typeof3.default) is not a function`

**Input Code**
Repro repo: https://github.com/soryy708/typeof3.default-repro

**Expected behavior/code**
Executed tests without errors

**Babel Configuration (babel.config.js, .babelrc, pack

[2020-01-21 11:13] soryy708 commented on #11036
(opened an issue about it with mocha as well, since I'm unsure on whose end the bug is)

[2020-01-21 17:41] wereHamster opened #11037 "@babel/plugin-transform-react-constant-elements generates non-tree-shakeable output"
## Bug Report

In #7372 the plugin started marking the hoisted values as pure. However the way it does it has no effect if the original React tree is more than one level deep. Let me illustrate…

Consider the following input:

[code]

Will get transformed to this (you can test it on the [babel repl](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgL

[2020-01-21 18:09] buschtoens opened #11038 "`typescript` preset: incompatible with `+=` operator inside arrow functions, nested in ternary"
## Bug Report

- [x] I would like to work on a fix!
  I have close to zero experience with Babel's internals though. I would not be offended, if you think you can fix it yourself quicklier.

**Current Behavior**
The `typescript` preset is incompatible with [`d3-array/cumsum.js`](https://github.com/d3/d3-array/blob/master/src/cumsum.js). The issue seems to only occur for arrow functions using the `

[2020-01-21 18:14] jridgewell commented on #11038
To help you narrow it down, it's an issue with the parser and likely something in `packages/babel-parser/src/plugins/typescript/index.js`.

[2020-01-21 19:56] radekmie commented on #10693
To get some traction - here is a smaller reproduction, including the TypeScript input:

[code]

[code]

[code]

[2020-01-21 20:08] nicolo-ribaudo commented on #11036
I get this output with your repository:
[code]

[2020-01-22 01:20] bradzacher opened #11042 "Proposal: throw syntax error for `}` and `>` in JSX text."
## Feature Request

- [x] I would like to work on this feature!
  - If needs be, I can look into it

**Is your feature request related to a problem? Please describe.**

The JSX spec [1][2] lists `}` and `>` as invalid JSX text characters.

However, babel does not throw a syntax error when it encounters a naked `}` or `>` in a JSXText string.

According to the spec, the only way you should be able

[2020-01-22 08:29] ktor commented on #7607
I'm trying to run 7.8.3 version in Java Nashorn (jdk1.8) and it fails with the same error. Version 6.26.0 works (https://registry.npmjs.org/babel-standalone/-/babel-standalone-6.26.0.tgz).

[2020-01-22 09:24] soryy708 commented on #11036
What OS are you using @nicolo-ribaudo ?

[2020-01-22 09:37] vadzim opened #11043 "Spec compliance: finally block of sync generator should not execute if used in async loop while yielding rejected promise"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
According to the spec
[code]
The code should print "finally" only in the 1) case.
In the cases 2) and 3) finally block of the generator should not be executed.

Node@10 and above, current firefox and chromium have spec compliant behavior.

Babel when transpiling not node@8 has wring behavior according to spec.

Now a lot of