[2021-06-14 12:53] vadeneev opened #13461 "[Bug]: wrong key assignment with antd"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://codesandbox.io/s/bold-pond-g5nzv

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

If you will try to check example - you will notice that submenu items have collision with key names, however, if

[2021-06-14 13:58] mrtnzlml opened #13462 "[Bug]: TypeError: Error while loading config - yield* (intermediate value) is not iterable"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

.babelrc.js

### Configuration

`.babelrc.js`:

[code]

`babel.config.js` in a monorepo root:

[code]

### Current and expected behavior

We have one project in a monorepo (using `yarn workspaces`) which has its own `.babelrc.js` a

[2021-06-14 15:06] #13399 closed

[2021-06-14 15:07] #13421 closed

[2021-06-14 15:08] nicolo-ribaudo commented on #13462
How can I reproduce the error? I tried running `yarn && yarn test-only` in that PR but it doesn't fail.

[2021-06-14 15:12] nicolo-ribaudo commented on #13462
Oh I see it failing now, but it's inconsistent.

[2021-06-14 15:33] nicolo-ribaudo commented on #13462
This might be a Jest bug.

Since V8's `yield* (intermediate value)(intermediate value)(intermediate value)(intermediate value)` is quite cryptic, I replaced line 146 of https://unpkg.com/browse/@babel/core@7.14.5/lib/config/files/configuration.js with this code:
[code]
this better revealed the problem: it now throws that `_gensync().all` is not a function.

I thus replaced it with this:
[code]

An

[2021-06-14 15:35] #13441 closed

[2021-06-14 16:19] JLHwung commented on #13461
It seems that when React is rendering sub menu items, the `restProps` contains an `eventKey` attribute, inherited from the parent `NavMenuItem` component, with higher priority than the specified `key`. So a workaround is add `eventKey={subLevelItem.path}` after `{...restProps}` so the `NavMenuItem` can get the correct sub menu key.

[code]
[Sandbox link](https://codesandbox.io/s/vibrant-fire-69beg

[2021-06-14 21:41] prueker commented on #13445
When will this fix be released, it's been 4 days, but the broken version 7.14.5 is still the latest version in the repo and npm @JLHwung

[2021-06-14 22:09] JLHwung commented on #13445
Fixed in `@babel/parser` 7.14.6.

[2021-06-15 07:06] vadeneev commented on #13461
Thanks a lot! It looks so crazy that it works this way, I was confused that it worked before (it contains same version of antd and rc was used)

[2021-06-15 07:06] #13461 closed

[2021-06-15 07:21] fisker opened #13465 "[Bug]: Tokens in record and tuple not transformed for `@babel/eslint-parser` parser"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

[code]

### Environment

Latest version of `@babel/eslint-parser`

### Possible solution

_No response_

### Additional context

The `type` property should be a str

[2021-06-15 16:01] #13366 closed

[2021-06-15 16:01] renovate[bot] opened #13467 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid packageRules[4].schedule: 'Invalid schedule: Failed to parse "before 00:05am on Friday"'`

[2021-06-15 16:12] fedeci commented on #13467
Still not good🤔

[2021-06-15 16:32] fedeci commented on #13467
Oh, `am` is useless in twelve hour-format.

[2021-06-16 09:59] binary64 opened #13471 "[Feature Request] Remove or parameterize the queue.length >= 10000 check"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

I am using graphql-code-generator, which outputs a single .ts file. Problem is my API is very large, and I've just started to hit your hardcoded limit in node_modules/@babel/traverse/lib/context.js

[code]

This is causing a confusing "Infinite cycle detected."

I spent a lot of time digging deep into

[2021-06-16 13:31] nicolo-ribaudo commented on #13465
We need to add those four tokens to the list of `Punctuator` tokens to convert, at https://github.com/babel/babel/blob/f808a3eb148c53437e5560fe886c9702b45a6076/eslint/babel-eslint-parser/src/convert/convertTokens.cjs#L99-L139

We can then add a test similar to
https://github.com/babel/babel/blob/f808a3eb148c53437e5560fe886c9702b45a6076/eslint/babel-eslint-parser/test/index.js#L325-L333
making sure

[2021-06-16 16:15] lala7573 commented on #13465
I'd like to fix it. Can I try?

[2021-06-16 16:16] existentialism commented on #13465
@lala7573 let's wait a bit (2 hours?) to see if any first-time contributors pop in... otherwise, it's yours!

[2021-06-16 16:32] lala7573 commented on #13465
@existentialism
Oh, ok. It would be better if first time contributor get this issue.
Is there any alternative that I can try? I'd like to contribute and watch some issues but it's hard to find.

[2021-06-16 17:01] nicolo-ribaudo commented on #13430
@lala7573 Do you want to work in this? Ideally we can release a fix in the next patch release.

[2021-06-16 21:00] existentialism commented on #13465
@lala7573 welp, no takers, still up for tackling this?

[2021-06-16 21:18] ameenshake commented on #11877
Looking to pick up my first issue. This appears to be within my capabilities. If there are no concerns, I will work on this :)

[2021-06-16 21:22] JLHwung commented on #11877
@ameenshake I have assigned the issue to you. Feel free to reach out on Slack if you have any questions on building / testing Babel.

[2021-06-16 21:44] plourenco commented on #13465
Not sure if I'm still on time, but without anticipation, if there's still a chance I would like to contribute! :)

[2021-06-16 22:01] nicolo-ribaudo commented on #13465
@plourenco It's yours!

[2021-06-16 22:07] JLHwung commented on #13471
I think we can just remove it. The trap is activated when `NODE_ENV` is `test`, so far we don't have infinite traverse loop issues on the radar.

[2021-06-16 22:09] plourenco commented on #13465
Thanks @nicolo-ribaudo. May I also ask, aside from the above (`#{, {|, |}, |]`), don’t `#[` and `[|` need to be added as Punctuators as well?

[2021-06-16 22:10] nicolo-ribaudo commented on #13465
Right, yes!

[2021-06-17 09:08] liuyingbin1922 commented on #12012
is this problem solved ? @enjikaka

[2021-06-17 14:25] lala7573 commented on #13430
@nicolo-ribaudo
I just fix not to generate hoisted. As jridgewell mentioned, I add a new flag named `hasTemplateExpression`.
I'm thinking about another corner case... If it is ok, I'm going to make a new PR.

https://github.com/babel/babel/compare/main...lala7573:fix-13430

[2021-06-17 14:28] nicolo-ribaudo commented on #13430
If there are only literals (either template or not) we don't need to call `babelHelpers.toPropertyKey`.

[2021-06-17 14:29] #13465 closed

[2021-06-17 14:29] #13471 closed

[2021-06-17 14:52] nicolo-ribaudo commented on #11990
Fixed by https://github.com/babel/babel/pull/13429

[2021-06-17 14:52] #11990 closed

[2021-06-17 14:56] nicolo-ribaudo commented on #12737
If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors know that you are working on this bug.
1. Fork the repo
1. Run `git clone https://github.com/<YOUR_USERNAME>/babel.git && cd babel`
1. Run `yarn && make bootstrap`
1. Wait :hourglass_flowing_sand:
1.

[2021-06-17 14:56] nicolo-ribaudo commented on #13299
Hi @mdaj06! Are you still working on this?

[2021-06-17 15:21] lala7573 commented on #13430
@nicolo-ribaudo
Oh now I understand... I fix it.
https://github.com/babel/babel/compare/main...lala7573:fix-13430

[2021-06-17 18:25] nicolo-ribaudo commented on #13430
Please open a PR, it's easier to review and comment!

[2021-06-17 20:52] mdaj06 commented on #13299
Yes @nicolo-ribaudo! Got a bit side-tracked in the past few weeks.

[2021-06-18 02:30] jridgewell commented on #13430
This still needs to be fixed in object-rest-spread: https://github.com/babel/babel/blob/4eda1c860507e84b44a718a39ce58cf45f7ccc6e/packages/babel-plugin-proposal-object-rest-spread/src/index.js#L103-L104

[REPL](https://babeljs.io/repl/build/main#?browsers=ie%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABHARgKwKbQEoYM5QAUMAlIgN4BQiihVNNGAHhADYgAmGHANNQwG0ABgGsM

[2021-06-18 03:28] iamfotx commented on #12737
@nicolo-ribaudo I would love to work around this one...

[2021-06-18 04:48] wvq opened #13484 "[Bug]: babel-node: AsyncLocalStorage.run() cause an error"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

this example code from nodejs api:
https://nodejs.org/dist/latest-v14.x/docs/api/async_hooks.html#async_hooks_class_asynclocalstorage

[code]

### Configuration file name

babel.config.json

### Configuration

{
  "presets": ["@babel/preset-env"]
}

### Current and expected

[2021-06-18 09:32] nicolo-ribaudo commented on #12737
It's yours!

If you need any help feel free to ask.

[2021-06-18 12:12] ogbeche77 commented on #9849
Its June 20201, and this solution still works

[2021-06-18 13:42] tony-go commented on #13446
Once #13419 is merged I switch to this one ^^

[2021-06-19 07:39] Rainmen-xia opened #13489 "[Bug]: standalone doc 404"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://babeljs.io/docs/babel-standalone 404

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

https://babeljs.io/docs/babel-standalone 404

### Environment

https://babeljs.io/docs/babel-standalone 404

[2021-06-19 08:36] fedeci commented on #13489
Where did you find that link?
The correct one is https://babeljs.io/docs/en/babel-standalone

[2021-06-19 12:22] danieltroger opened #13490 "[Bug]: transpiled `for await` has different behavior than untranspiled `for await`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

I think it's this? But you just need any configuration that correctly loads regenerator runtime and transpiles async functions. I tried to load `babel-plugin-transform-runtime` or something to make

[2021-06-19 12:31] danieltroger commented on #13490
@kdy1 SWC has the same issue FYI. But I'll wait for babel telling me whether this is a bug or actually impossible to transpile before opening an issue with SWC.

[2021-06-19 12:48] mischnic commented on #13490
For example this without any config file: `babel --presets @babel/preset-env --plugins @babel/plugin-transform-runtime index.js -o dist/babel.js`
and then comparing `node index.js` and `node dist/babel.js`

[2021-06-19 13:10] nicolo-ribaudo commented on #13490
A slightly simplified example:
[code]

This happens even without compiling async functions (compiling `for await` is enough to see the bug).

[repl](https://babeljs.io/repl#?browsers=chrome%2055&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=DYUwLgBATiDOD2wBuIDcAoUkAOV4FsBLWECAXggDsQB3CABTyJIAoWoBKcgPgnbkQpy0DhwxYIhMCCgBDAEahhAb3QQIAbQDKAT3zzEAOlmwdlAMYBJaXLDwoAXRZdV69TDABXKJQiu36

[2021-06-19 13:27] nicolo-ribaudo commented on #13490
While working on a fix, I found another bug:
[code]

When compiled, this code throws.

[2021-06-20 09:38] ihgazni2 opened #13492 "[Bug]: should "typeParameters" be a visitor-name of TaggedTemplateExpression ?"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

TaggedTemplateExpression

**code_raw_str:**

    var code = "styledComponent<MyProps>`" +"font-size: 1.5${unit};`"
    console.log(code)
    styledComponent<MyProps>`font-size: 1.5${unit};`

**ast-json-abbr**

[code]

**the-visitors-in-VISITOR_KEYS-only-

[2021-06-20 13:44] nicolo-ribaudo commented on #13492
Yes, the definition should contain `builder: ["tag", "quasi"]` instead of `visitor: ["tag", "quasi"]`.

[2021-06-21 09:41] Jeggery opened #13493 "[Bug]: Problems after using transform-arrow-functions"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

const onClose = async () => {
  await query.init();
};
Asynchronous arrow function error
![微信截图_20210621173921](https://user-images.githubusercontent.com/39072827/122741855-f79c5d00-d2b7-11eb-8f70-2931e3efea25.png)

### Configuration file name

_No response_

### Configuration

_No re

[2021-06-21 09:44] Jeggery commented on #10928
Has the problem been solved？

[2021-06-21 12:25] nicolo-ribaudo commented on #13493
I tried compiling this code with your configuration:
[code]

and it correctly logs `It works!` without throwing any error. Can you provide a complete example that shows the bug?

[2021-06-21 13:02] dennisat opened #13494 "[Bug]: Cannot read property 'slice' of undefined, only when @babel/plugin-proposal-nullish-coalescing-operator babel plugin used"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

This is an imported dependency, `node_modules/@react-leaflet/core/cjs/path.js`.

[code]

### Configuration file name

_No response_

### Configuration

### Webpack configuration

The problem occurs when I add the `@babel/plugin-proposal-nullish-coalescing-operator` in the webpakc co

[2021-06-21 13:55] nicolo-ribaudo commented on #13494
`@babel/plugin-proposal-nullish-coalescing-operator` is not a webpack plugin, it's a Babel plugin. You need to move it from your webpack config to your Babel config, or to the Babel options inside the Webpack config as in https://github.com/babel/babel-loader#usage.

[2021-06-21 13:55] #13494 closed

[2021-06-21 20:48] #13430 closed

[2021-06-22 09:20] JesusTheHun opened #13498 "[Bug]: Uncaught SyntaxError: The requested module '/node_modules/@babel/runtime/regenerator/index.js?v=8bc5bdce' does not provide an export named 'default'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

Using `esbuild` and `@testing-library/dom` I run into this error :

`Uncaught SyntaxError: The requested module '/node_modules/@babel/runtime/regenerator/index.js?v=8bc5bdce' does not provide an export named 'default'`

Because `@testing-library/dom` uses `import _reg

[2021-06-22 11:35] nicolo-ribaudo commented on #13498
`regenerator-runtime` only provides a CJS entry point. You need to configure your bundler to support CJS files, or you cannot transform generators to ES5.

[2021-06-22 15:47] tony-go commented on #13446
Hi @JLHwung and @nicolo-ribaudo 👋

It's a bit funny but is seems that on the [version 7.14.5](https://babel.dev/repl#?browsers=&build=&builtIns=false&corejs=false&spec=false&loose=true&code_lz=IYZwngdgxgFAHgfgJRA&debug=false&forceAllTransforms=false&shippedProposals=true&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=&prettier=false&targets=&ve

[2021-06-22 15:49] tony-go commented on #13446
@JLHwung Maybe we fix it in our previous fix...

[2021-06-22 17:14] nicolo-ribaudo commented on #13446
Well, it _should_ throw when Flow or TS are enabled :stuck_out_tongue:

[2021-06-22 17:24] JLHwung commented on #13446
Can confirm it is fixed in #13419 . Because the checking logic was moved to `checkExpressionErrors` and we have already invoked `checkExpressionErrors` when parsing async call:

https://github.com/babel/babel/blob/47ad54a057ed660bdc524ee26a00d5e985696d34/packages/babel-parser/src/parser/expression.js#L796

[2021-06-22 17:34] nicolo-ribaudo commented on #13446
Oh we should still add a test then.

[2021-06-22 17:37] tony-go commented on #13446
I'll add it so :)

[2021-06-22 21:40] #13492 closed

[2021-06-22 22:11] NickHeiner opened #13502 "Support tokenizing from @babel/core#parse"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I would like to use recast, and have recast use Babel's tokens instead of its own.

### Describe the solution you'd like

I'd like to be able to pass `tokens: true` to `require('@babel/core').parseSync`. Right now, when I do that, it's flagged as an unrecognized option.

### Describe alternatives you'v

[2021-06-22 22:13] NickHeiner commented on #13502
Oops – looks like I just want `parseSync(code, { parserOpts: { tokens: true } })`, instead of passing `tokens` at the top level. Maybe there's a docs tweak that would make this easier for the next user, but functionally, I have what I need. Thanks!

[2021-06-22 22:13] #13502 closed

[2021-06-23 15:11] #13446 closed

[2021-06-24 08:49] lala7573 commented on #13400
Hi, I'd like to try this one if it is possible.

[2021-06-24 08:55] fedeci commented on #13400
It’s yours!

[2021-06-25 07:29] alan-agius4 opened #13509 "[Bug]: []plugin-transform-async-to-generator] doesn't transform `for await` correctly"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

https://babeljs.io/repl/#?browsers=last%201%20Chrome%20version&build=&builtIns=false&corejs=3.6&spec=true&loose=true&code_lz=BQQwzgngdgxgBMAlHAvAPjgbwFBzjAeyjABc4DU4QB3EASzIAUAnAgWzrAFMA6ZrsAQA2ANy7AAjIgDcufEUFDeQggHNgBGXIBmBZlVoMEhYmQoFtcANoSANHABM9gMwBdZCcXK1GrQF9EJFkgA&debug=fals

[2021-06-25 11:13] tony-go commented on #13509
Hey 👋

Be happy to help ✋

Maybe something wrong on the [generator package](https://github.com/babel/babel/tree/main/packages/babel-generator) ?

[2021-06-25 13:48] nicolo-ribaudo commented on #13509
It's because `for-await` is compiled by `@babel/plugin-proposal-async-generator-functions` (since `for await` is about async iterables introduced by async generators).

We should probably throw an explicit error in the `async-to-generator` plugin.

[2021-06-25 14:21] zxbodya opened #13510 "[Bug]: babel fails on flow definition file, if modules in it have imports with the same name"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[REPL](https://babeljs.io/repl#?browsers=defaults%2C%20ie%2011%2C%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=PTACDMBsHsHcCh4BMCmBjSBDATigBALbRICuk-A5AC4oDOVFeA3vHngJYEAO02VeVAJ5d8TPACkAygHkAcpLQALFAUwB2PAF884bNA

[2021-06-25 15:04] Domiii opened #13511 "[Bug] [plugin-dev]: leadingComments `undefined` for `AssignmentExpression`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

* **Description:** Writing a `babel` plugin. Babel does not pick up on certain comments:

## Input code

[code]

## Plugin

[code]

### Configuration file name

babel.config.json, babel.config.js, babel.config.cjs, babel.config.mjs, .babelrc.json, .babelrc.js, .babelr

[2021-06-25 16:01] JLHwung commented on #13511
You can access the leading comment from `ExpressionStatement`, the parent AST node of AssignmentExpression. See [here](https://astexplorer.net/#/gist/5b93673f8fcf5b507fa68b26a964fae3/658d01a17f7df89423cf80fc206f7cf52a20bc64) for the AST example.

When two AST nodes have same locations, Babel parser attaches it to the outermost one, in this case it's `ExpressionStatement`.

[2021-06-27 20:41] fedeci commented on #13170
I did some research while changing all occurrences of `sourceFileName` with `sourceFilename` and discovered that the error of the issue is caused by the following lines
https://github.com/babel/babel/blob/90d5eb7f2f2c699019aab2d5388ec1e8f3f469d2/packages/babel-core/src/transformation/normalize-opts.ts#L29-L33
We are setting the unused `sourceFileName` parser option and, in fact, commenting line 33

[2021-06-28 22:05] nicolo-ribaudo commented on #13484
This is a Node.js bug (segfaults are always Node.js bugs), but it looks like it has been fixed in Node.js 16.4.

[2021-06-28 22:05] #13484 closed

[2021-06-29 05:50] cocobino opened #13519 "[Bug]: `abc${ true ? 'true' : 'false' }` err"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

When Babel compiles strings, there is a bug as follows.

[code]

correct answer : `abctrue`

but babel compile wrong answer as follow
with an invalid `concat` string function.

### Configuration file name

.babelrc

### Configuration

{
  "presets": [
    [
      "@babel/preset-env",
      {

[2021-06-29 11:28] fedeci commented on #13519
Could you update `@babel/preset-env` to the last version?
I can't reproduce the error in Babel REPL.

[2021-06-29 12:08] antgamdia opened #13520 "[Bug]: Parse error when using named import "as" with `babel-plugin-transform-flow-strip-types`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

A file containing a named import using `as` or `As` results in a parse error when using the `babel-plugin-transform-flow-strip-types`. This plugin is used by `babelJest` when transpiling some tests including ES6 modules.

For example, this excerpt belongs to a file de

[2021-06-29 12:55] fedeci commented on #13520
Oh wait probably a first good issue.

[2021-06-29 14:27] nicolo-ribaudo commented on #13519
Are you sure that there is no other tool transforming your code (maybe a webpack plugin, or a minifier)? Babel doesn't wrap the `? :` operator in functions.

[2021-06-30 08:03] morgoth commented on #13401
I cannot reproduce it anymore when taking another look after some time.
Maybe it was indeed some caching issue...
Sorry for falsy report and thank you for your patience.

[2021-06-30 08:03] #13401 closed

[2021-06-30 17:00] takeaways commented on #13520
Wow a first good issue.

[2021-06-30 17:53] hzoo commented on #13452
Looks like we can close this? On our end, maybe we want to add a suggestion to check version numbers and when an option was added (or that link could be enough)

[2021-06-30 17:53] #13452 closed

[2021-06-30 19:41] mischnic commented on #13052
I think this issue can be closed?

[2021-06-30 19:46] #13052 closed

[2021-06-30 20:12] nicolo-ribaudo commented on #13520
@takeaways Do you want to work on this? If you need any help I can write some pointers.

---

If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors know that you are working on this bug.
1. Fork the repo
1. Run `git clone https://github.com/<YOUR_USERNA

[2021-06-30 21:47] nicolo-ribaudo commented on #13401
Well, we are glad that it's working now even if we couldn't figure out the reason!

[2021-07-01 19:51] zot commented on #9849
We're using Babel 6 (for reasons) and this worked for us, thanks very much!!!

[2021-07-02 07:37] fingerpich opened #13524 "[Bug]:"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

rollup-plugin-babel

### Input code

I rollup the following code
[code]
it converted to

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

to give something that doesn't make error
now its made Uncaught ReferenceError: s is not defined

### Environment

- "@b

[2021-07-02 07:44] rnarkk commented on #10746
Would you mind updating the current progress of the task list? Some of them seem to have already been solved.

[2021-07-02 08:38] nicolo-ribaudo commented on #13524
None of the Babel plugins or presets you mentioned (`@babel/preset-env`, `@babel/plugin-proposal-object-rest-spread` or `@babel/plugin-proposal-optional-chaining`) convert `while` loops to `for` :thinking:

[2021-07-02 08:44] #12825 closed

[2021-07-02 10:39] fingerpich commented on #13524
Thanks, you are right I have used rollup
I have edited the issue
As you see in roll up config I have just used babel so I thought its related to babel
but when I tested `babel src -d dist` the result was ok.

Do you think its related to `rollup-plugin-babel` or `rollup`?

[2021-07-02 10:44] nicolo-ribaudo commented on #13524
I think that the problem is a bug in `babel-preset-minify` (enabled in your config at https://github.com/ingrowco/ingrow-js-sdk/blob/fdf8c594c01c96dbac043a554e1e478ce5aae3f8/.babelrc#L4).

- `babel-preset-minify` is not really maintained, however since you are also using `uglify` you can just remove `babel-preset-minify`
- I strongly suggest not duplicating your Babel config (in `rollup.config.js`

[2021-07-02 11:47] fingerpich commented on #13524
Yeah I forgot to remove .babelrc file but i didn't know it does affect when I use rollup
Thanks a lot.

[2021-07-02 11:47] #13524 closed

[2021-07-02 22:34] #13327 closed

[2021-07-03 06:23] colinaaa commented on #13510
I would like to work on this!

Seems that not only flow has this problem, the input code is also valid for typescript but complained by babel

[code]

[2021-07-03 13:23] colinaaa commented on #12345
I would like to work on this!

[2021-07-04 08:44] Austaras opened #13529 "[Bug]: Generate invalid es3 code for class"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

_No response_

### Configuration

babel-preset with target ie 8

### Current and expected behavior

current output
[code]
however `abstract` is a reserved word in es3, so it cannot be used in function name

### Environment

babel website try it out page

###

[2021-07-04 12:05] fedeci commented on #13529
Seems to be caused by that selector not matching class method names.
https://github.com/babel/babel/blob/fce35af69101c6b316557e28abf60bdbf77d6a36/packages/babel-plugin-transform-reserved-words/src/index.js#L10-L12

[2021-07-04 16:29] pravi commented on #10696
I think I was hit by this limitation whe trying to update babel to version 7 in autosize module for debian. See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=990458 for details and finally I had to use rollup to generate the umd bundle.

[2021-07-04 23:31] nicolo-ribaudo commented on #13529
But it should match `BindingIdentifier` of the function expression generated by the class transform :thinking:

[2021-07-05 12:48] fedeci commented on #13529
I can give a look into this.

[2021-07-05 20:52] fedeci commented on #13529
It seems to be caused by `@babel/helper-function-name` adding to the following key to the function declaration.
[code]

[2021-07-05 21:13] i-seesharp commented on #13520
Hi @nicolo-ribaudo I'd like to start working on this if possible. Any ideas on how I could get started with this issue specifically?

[2021-07-05 21:22] fedeci commented on #13520
I'd suggest you to search in your text editor for "isContextual("as")" and try to dig around the results.
Specifically look for files in the `babel-parser/src/plugins/flow/` dir.
If you have any question we are here!

[2021-07-05 22:02] i-seesharp commented on #13520
Amazing! Thanks @fedeci , will get on it!

[2021-07-06 14:52] tony-go commented on #13509
Hi @nicolo-ribaudo

I don't really understand why we should throw something ?

Could you give more details ? (sorry for that :|)

[2021-07-06 17:15] nicolo-ribaudo commented on #13509
When we compile async functions to generators, if there is a `for await` statement we generate invalid code:
https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsLwBQEoYDeAUDPOgE4zADuwqyM2AHjOnDGLgNxEC-QA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&source

[2021-07-06 17:18] #13510 closed

[2021-07-06 17:59] #7673 closed

[2021-07-06 17:59] #11385 closed

[2021-07-06 20:36] JLHwung opened #13533 "[Bug]: Module block should be allowed in member expression"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[AST Explorer](https://astexplorer.net/#/gist/db4b1a51b7645517f2a3c2f9690fbd6b/447c886c9745c468c1774b4e3dbe126d188e3520)

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Current: Pa

[2021-07-06 22:29] nicolo-ribaudo commented on #13533
If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors know that you are working on this bug.
1. Fork the repo
1. Run `git clone https://github.com/<YOUR_USERNAME>/babel.git && cd babel`
1. Run `yarn && make bootstrap`
1. Wait :hourglass_flowing_sand:
1.

[2021-07-07 15:51] #11576 closed

[2021-07-08 12:09] danieltroger commented on #13490
Hey @nicolo-ribaudo, do you know when @hzoo is back from vacation?

Also, sorry for being impatient lol. I can't wait to do freaky things with `for await`.

[2021-07-08 15:51] #13493 closed

[2021-07-09 00:27] mayteio commented on #11038
This also affects `d3-array` + jest + ts combo.

[2021-07-09 23:28] nme077 commented on #13533
I’m getting started on this bug. It’ll be my first.

[2021-07-10 02:06] JLHwung commented on #13533
@nme077 Thanks! I have assigned the issue to you. Feel free to reach out if you have questions when developing a fix.

[2021-07-10 15:41] karlhorky commented on #8529
@nicolo-ribaudo seems like `ts-node@10.1.0` supports a new `moduleTypes` configuration that allows for loading the transformed config as CommonJS (`ts-node` is used by Jest to support TS configs):

https://github.com/facebook/jest/issues/11453#issuecomment-877490572

[2021-07-10 16:36] overlookmotel opened #13547 "[Bug]:"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

[code]

[REPL](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYewdgzgLgBAhjAvPATgcwK4FsCmYoQDcAUEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&s

[2021-07-10 17:32] nme077 commented on #13533
This is my first time contributing. How do I add a test? The instructions above make it sound like it is auto generated, but I am unsure how to generate it. Thanks for your help!

[2021-07-10 18:02] JLHwung commented on #13533
You can create an `input.js` in https://github.com/babel/babel/tree/main/packages/babel-parser/test/fixtures/experimental/module-blocks with following content

[code]

Now that you can run `yarn jest babel-parser`, `output.json` will be automatically generated. In your case, you will instead see an `options.json`
[code]
because parser thinks the code is invalid and throwing an error. Now we can ru

[2021-07-11 15:13] overlookmotel opened #13549 "[Bug]: Function declarations not hoisted to upper scope in sloppy mode code"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

n/a

### Current and expected behavior

In strict mode, function declarations are scoped to the statement block in which they're defined (i.e. behave like `let`). In sloppy mode t

[2021-07-11 17:50] Austaras commented on #13529
For preserving function name, I believe

[2021-07-11 19:25] nme077 commented on #13533
@JLHwung thanks for the help! I added that file and ran the command to generate the options.json and it doesn't seem to work. I get this error.
<img width="1695" alt="Screen Shot 2021-07-11 at 1 23 37 PM" src="https://user-images.githubusercontent.com/55118955/125207775-6a5f7f00-e24b-11eb-862f-b603a58b699e.png">

[2021-07-11 19:35] JLHwung commented on #13533
You can safely ignore this error. Though I am wondering why this test fails. Not sure if it helps but you can try rerunning "make bootstrap".

[2021-07-11 22:27] SCLeoX opened #13550 "[Bug]: plugin-transform-react-jsx-self should not access `this` prior to the `super()` call in a constructor"
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://babeljs.io/repl#?browsers=chrome%2076&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYGwhgzhAEBC0G8C-AoUkYEFoFMAeALjgHYAmM8CK00wA9sRAQE4CuwBdzAFGAJSJqNaBFYAHHDwA8EMWGIA-BGCRSA9LPkK-AbiGokQA&debug=false&forceAllTransforms=false&shippedProposal

[2021-07-12 09:25] otakustay opened #13551 "Support optional import jsx statement for automatic runtime"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

We are evaluating component source code by a `new Function` call at runtime, in this case the generated `import { jsx as _jsx } from "false/jsx-runtime";` breaks function code.

### Describe the solution you'd like

Maybe we can add a `importSource: false` condition to disable this import statement, `_

[2021-07-12 09:39] Corjen commented on #11038
Adding a resolution to 2.3.3 gave us other compilation errors. For anybody else stumbling on this, we've added this in our `package.json`: "d3-array": "file:./lib/d3-array", then copied the content from the d3-array folder in node_modules to our local folder and changed `cumsum.js` to this:
[code]

[2021-07-12 10:57] fedeci commented on #13529
Function name is preserved by the `key` prop.

[2021-07-12 12:15] nicolo-ribaudo commented on #13529
@Austaras is right, it's to preserve `A.prototype.abstract.name`. We don't give strong guarantees about function names (since sometimes it's impossible to preserve them), but we usually try to keep a "nice" name for debugging purpouses.

[2021-07-13 02:40] nme077 commented on #13533
Thank you for your help. I made the changes, but am still running into issues running the tests. After some time, I found what I think might be the cause. The `devDependencies` that use "workspace:*" for the version are causing "Cannot find module" errors. I have run all of the commands suggested previously with no luck.

My understanding is that those versions should be replaced automatically wit

[2021-07-13 16:58] overlookmotel commented on #13549
Does `traverse()` have a concept of/track whether it's currently in a strict mode context or not? I can't see anything obvious recording this on `path` or `state` when traversing.

[2021-07-13 20:32] JLHwung commented on #13533
Did you run `make build`? It seems to me that `packages/babel-helper-fixtures/lib` is empty.

See also https://github.com/babel/babel/blob/main/CONTRIBUTING.md#setup for how to setup your dev environment.

[2021-07-14 06:54] lancewuz opened #13556 "[Bug]: _inherits dose not support that superClass is undefined"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

_inherits supports undefined, since it supports null.

### Environment

babel version v7.12.0

### Possible solution

https://github.com/babel/babel/blob/main/packag

[2021-07-14 14:34] nicolo-ribaudo commented on #13556
Classes cannot extend `undefined`. If you try running that code directly in your browser (without transpiling), you'll get an error.

[2021-07-14 14:34] #13556 closed

[2021-07-14 17:42] nme077 commented on #13533
@JLHwung I finally found the issue with setting up my dev environment. I was using a version of node.js that is not supported. Now I will get to solving the actual issue at hand. Thanks for your help!

[2021-07-14 22:29] varunmankal opened #13557 "[issue with 7.4.4 version]build babel-types@7.4.4 locally"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

- git clone https://github.com/babel/babel.git
- git checkout tags/v7.4.4 -b branch-7.4.4
- make bootstrap

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

current behavior:
When I run the command: make

[2021-07-15 00:03] jedwards1211 opened #13558 "[Bug]: variance is missing from NODE_FIELDS.ClassProperty"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

Expected `NODE_FIELDS.ClassProperty.variance` to be defined, but it isn't.

Parsing the following code produces a `ClassProperty` with a `varianc

[2021-07-15 09:12] antyoxydant opened #13559 "[Bug]: Array.from went wrong on Android 5.0.2"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

TypeError: undefined is not a function

### Environment

- Babel 7.9.0
- node 13.10.1
- device android 5.0.2

### Possible solution

_No response_

### Additional

[2021-07-15 12:59] colinaaa commented on #12737
Any progress on this? I can help on this!

[2021-07-15 17:33] nicolo-ribaudo commented on #13558
Good catch! This needs to be fixed in this list: https://github.com/babel/babel/blob/bfcf783834cbe293ca540e84c1ad285ed2e728e2/packages/babel-types/src/definitions/core.ts#L2067

I'm assigning this bug to you since you ticked "I would like to work on a fix"; feel free to ask if you need any help!

[2021-07-15 18:22] JLHwung commented on #13558
We should also add `variance` to `ClassPrivateProperty`.

[2021-07-15 19:31] komyg commented on #13299
Hi,

I would like to help out if stuck somewhere.

Thanks,
Komyg

[2021-07-16 00:00] jedwards1211 commented on #13558
Sounds good

[2021-07-16 02:57] jedwards1211 opened #13563 "[Bug]: readonly, declare, and definite are missing from NODE_FIELDS.ClassPrivateProperty"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Expected `NODE_FIELDS.ClassPrivateProperty` to have `readonly`, `declare`, and `definite` fields, but it doesn't.

This parses, so I assume

[2021-07-16 03:05] jedwards1211 commented on #13558
@nicolo-ribaudo I'm wanting to make a test that scans all the `@babel/parser` output fixtures, and checks to see if any AST nodes in those have fields that are missing from the `@babel/types` defs, so that we can catch missing fields like this going forward.

But I doubt it's appropriate to have tests from `@babel/types` depend on content in `@babel/parser`.  Is there any other way to make such a

[2021-07-16 07:02] jonathan-s opened #13565 "[Bug]: transform-es2015-modules-amd"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

Version of lit-html@2.0.0-rc.3

[code]

### Configuration file name

.babelrc

### Configuration

_No response_

### Current and expected behavior

Current behaviour.
[code]

Expected behaviour
Not getting a syntax error since it's valid javascript.

### Environment

- Babel: 6.26.0 (babel-core

[2021-07-16 07:19] nicolo-ribaudo commented on #13558
Oh well, I think it's ok to put it in `babel-types`'s tests

[2021-07-16 08:00] nicolo-ribaudo commented on #13565
Could you try using Babel 7 instead? (`@babel/cli`, `@babel/core`, `@babel/plugin-transform-modules-amd`)

[2021-07-16 11:09] nicolo-ribaudo opened #13566 "[Bug]: Derived constructors should not be allowed to return primitive values"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

[repl](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=HYUw7gBAxgNghgZwREAPALiYATZtHIDeAvhIQFATQD2wC6ATgK5TrUMAUAlGZVRAiYAHEJy4BuPlQYh0TBsAgBmSVWLl1QA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=tr

[2021-07-16 14:06] JLHwung commented on #13566
https://github.com/babel/babel/blob/47d79ac9755cde808fa4483014f3b0b450408687/packages/babel-helpers/src/helpers.js#L618-L620

We should throw a type error when `call` is not `undefined` and `typeof call` is neither `"object"` nor `"function"`. This can be a good first issue.

[2021-07-16 14:26] JLHwung commented on #13557
The build error comes from https://github.com/babel/babel/blob/2c88694388831b1e5b88e4bbed6781eb2be1edba/package.json#L73

It is a forked lerna that we used to determine which package should be used. You can safely remove the resolution field and build your own babel-types fork.

[2021-07-16 15:43] nicolo-ribaudo commented on #13566
If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors know that you are working on this bug.
1. Fork the repo
1. Run `git clone https://github.com/<YOUR_USERNAME>/babel.git && cd babel`
1. Run `yarn && make bootstrap`
1. Wait :hourglass_flowing_sand:
1.

[2021-07-16 15:44] nicolo-ribaudo opened #13568 "chore(deps): update dependency prettier to v2.3.2"

[2021-07-16 15:44] #13568 closed

[2021-07-16 17:46] jedwards1211 commented on #13558
Are `declare`, `readonly`, and `definite` all valid `ClassPrivateProperty` fields as well?  (#13563) If so than I can fix both these issues by spreading fields into `ClassProperty` and `ClassPrivateProperty`.

Though I'm still confused why it was necessary to make a separate `ClassPrivateProperty` node type instead of just allowing `ClassProperty.key` to be a `PrivateName`...

[2021-07-16 19:58] #12737 closed

[2021-07-17 04:27] jedwards1211 commented on #13558
Here's a list of missing properties I identified with a script.  Some of them are probably spurious, like `ImportDeclaration.attributes`.  Which ones are valid?

I manually eliminated many things from this list that the script found.  Some of the `@babel/parser` fixtures seem outdated; I see `id: null` and `predicate: null` properties on `ClassMethod`s in some fixtures, `method: false` on some `Ob

[2021-07-17 19:43] nicolo-ribaudo commented on #13558
- `StaticBlock.static` looks like a parser bug.
- `ImportDeclaration.attributes` has been replaced by `ImportDeclaration.assertions`, and it will be removed in Babel 8

All the other ones look like valid AST props when parsing Flow/TS.

[2021-07-18 09:31] mdaj06 commented on #13299
sure @komyg  you can take it up , i havent gotten a chance to really work on it in the past few weeks.

[2021-07-18 12:49] komyg commented on #13299
Thanks, I will start working right away

[2021-07-18 17:20] dhrubesh commented on #13566
Hi @nicolo-ribaudo do you mind if I pick this? It'll be my first issue.

[2021-07-18 18:21] fedeci commented on #13566
It's yours!

[2021-07-18 18:50] nbouvrette commented on #10637
Until the TypeScript version is available there are still ways to make the code more readable, such as:

[code]

[2021-07-19 11:54] dhrubesh commented on #13520
Hi, @i-seesharp are you still working on this? I would like to jump in if you've not gotten the chance to pick it up yet?

[2021-07-19 11:57] dhrubesh commented on #13533
Hi, @nme077 are you still working on this? I would like to jump in if you've not gotten the chance to pick it up yet?

[2021-07-19 12:23] nme077 commented on #13533
I have. I am just putting it through final testing and will make a PR later today.

[2021-07-19 13:13] komyg commented on #13299
Hi @nicolo-ribaudo, I saw that the link in the readme file is broken. I tried to search for it in the documentation, but I haven't found it:

[code]

If you pass me the right link, I can update it as a part of this PR.

[2021-07-19 17:04] jedwards1211 commented on #13558
I see, so adding to the set of types a single-value field can be would be considered breaking, but adding to the set of types an array field like `ClassBody.body` can take isn't considered breaking?  Is there a consistent philosophy or is it decided on a case-by-case basis?

[2021-07-19 20:11] derwaldgeist commented on #11038
Ran into this when using the `three.js` library in combination with React and Meteor 2.2.1. The updated Babel compiler broke my project, and I am not even using TypeScript...

[2021-07-19 21:29] #13533 closed

[2021-07-19 22:17] tdriley opened #13574 "[Bug]: "The Function constructor is eval" warning from Mozilla Addons Linter"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

From the `regenerator-runtime` repo: https://github.com/facebook/regenerator/blob/master/packages/runtime/runtime.js#L748

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Our Browser Extension seems to be stuck in rev

[2021-07-19 22:25] JLHwung commented on #13574
For more info, see https://github.com/facebook/regenerator/issues/450#issuecomment-881960051

[2021-07-19 22:29] JLHwung commented on #13574
[code]

Please provide targets to `preset-env`, see https://babeljs.io/docs/en/babel-preset-env#targets

`regenerator-runtime` are for legacy browsers which does not support generator. If you are compiling to modern browsers, tell `preset-env` so it will not transpile generator and the `regenerator-runtime` won't be included at all.

[2021-07-20 03:19] colinaaa opened #13576 "Make virtual-types assertions more specific"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

The generated validators for virtual types in `@babel/traverse` returns `boolean` instead of `this is NodePath<XXX>`

https://github.com/babel/babel/blob/2c6db5669638a493caa27b9e300d1ab427f99399/packages/babel-traverse/src/path/generated/validators.ts#L419-L436

Things like `isReferencedIdentifier`, `i

[2021-07-20 10:31] Fil commented on #11038
My 2 cts observation: it seems the [minimal reproduction in REPL](https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=true&code_lz=AwAg_CBuILwHwgBQGcCuBbEBqGUCUIAXFLAsANxA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=es2015%2Ctypescript&prettier=true&targets=

[2021-07-20 22:45] armordog commented on #8309
Since this is still a problem, can we have a babelrc option that re-enables the original babel 6 behaviour?

[2021-07-21 01:55] tdriley commented on #13574
Thanks for the suggestion @JLHwung, I was definitely targeting browsers further back than I needed to. However, it appears that no matter how recent I make the browser support, `regenerator-runtime`'s signature `Function("return this")` is still written into the dist files and picked up by the linter.

I even specifically excluded regenerator as per the babel docs: https://babeljs.io/docs/en/babel

[2021-07-21 03:03] JLHwung commented on #13574
@tdriley Can you share a reproducing repo? Is `regenerator-runtime` depended by a library in `node_modules`? In that case this issue can only be fixed at `regenerator-runtime`.

[2021-07-21 07:08] techdiary opened #13582 "[Bug]: Running `npm install` with @babel/core7.14.8 fails"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Seeing following error:
[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

npm install should work as expected

### Environment

 - Babel version 7.14.8
 - Node version 14

### Possible solution

_No response_

##

[2021-07-21 07:31] alielkhateeb commented on #13582
I am facing this exact error trying to `npm i` with `@babel/core@7.14.2`

[2021-07-21 07:38] nicolo-ribaudo commented on #13582
`@babel/generator` 7.14.8 is on npm: https://www.npmjs.com/package/@babel/generator/v/7.14.8. Please see https://gist.github.com/hzoo/df94af2d2ec48696e683b772c775aa67

[2021-07-21 07:38] #13582 closed

[2021-07-21 07:42] techdiary commented on #13582
@nicolo-ribaudo  thank you for taking time and looking into it.
when I run `npm view @babel/generator` latest tag displayed is 7.14.5
[code]

[2021-07-21 07:56] nicolo-ribaudo commented on #13582
I get `7.14.8` when using both `npm view` and `npm show`. I also see it with `npm view @babel/generator versions`. Probably npm is using different proxy servers for us, I suggest asking directly to them.

[2021-07-21 08:00] alielkhateeb commented on #13582
@nicolo-ribaudo You're right, it's the proxy, I cleaned the cache and it works now. Sorry I didn't see this gist before commenting here 😄

[2021-07-21 17:12] #13490 closed

[2021-07-21 17:18] nicolo-ribaudo opened #13586 "Cannot find module '@babel/helper-define-map'"
### Discussed in https://github.com/babel/babel/discussions/13585

<div type='discussions-op-text'>

<sup>Originally posted by **kevinashworth** July 21, 2021</sup>
Briefly, I'm working in a Dockerized environment, not somebody who has paid attention to the details of Babel, and certainly ignorant about how Babel loads helper packages.

This morning I'm getting this error* upon `react-scripts buil

[2021-07-21 17:18] nicolo-ribaudo commented on #13586
It should be added in `dependencies` in https://github.com/babel/babel/blob/main/packages/babel-plugin-transform-classes/package.json.

[2021-07-21 17:20] nicolo-ribaudo commented on #13586
Oh actually, I don't see where `@babel/helper-define-map` is used in `@babel/plugin-transform-classes/lib/transformClass.js` :thinking:

@kevinashworth Could you attach the contents of your local `@babel/plugin-transform-classes/lib/transformClass.js` and check the version in `@babel/plugin-transform-classes/package.json`?

[2021-07-21 18:36] colinaaa opened #13587 "Improve type definition of `NodePath.get()`"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

When using `NodePath.get()` with a simple key, we will get the correct type definition.

e.g:

[code]

however, if the key becomes complex, we would get a vague type as result.

e.g:

[code]

Maybe we could improve this using TS template literal types. (as mentioned in https://github.com/babel/babel/pu

[2021-07-21 19:03] scott-ln opened #13589 "Not an issue"
Apologies, this was opened in error.

[2021-07-21 19:12] #13589 closed

[2021-07-21 21:15] nicolo-ribaudo commented on #13574
@tdriley `Function("return this")` is not from `regenerator-runtime`. Regenerator only uses `Function("r", "regeneratorRuntime = r")`.

[2021-07-21 21:26] nicolo-ribaudo commented on #13299
Uh, that link is auto-generated and unfortunately I think we don't have docs for that internal package :sweat_smile:

[2021-07-21 23:03] tdriley commented on #13574
@nicolo-ribaudo I believe both are used in different versions. `Function("return this")` is in older versions such as v0.11.1 and `Function("r", "regeneratorRuntime = r")` is in newer ones such as v0.13.8. Both cause the linter warning I am trying to get around.

[2021-07-22 03:10] alex-kinokon opened #13591 "[Bug]: Legacy decorator does not support computed property"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

See above.

### Current and expected behavior

**Expected**: TypeScript parses this and compiles it into:

[code]

**Actual**:

[code]

### Environment

- Babel version: 7.14.8

### P

[2021-07-22 03:11] ProfBramble opened #13592 "[Bug]: destructuring loses this point"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

    traverse(AST, {
      CallExpression: (path: NodePath<CallExpression>) => {
        const { get } = path; // lost this / reference
        if (get('callee').toString() === 'require') {
            // do something
        }
     }}

### Configuration

[2021-07-22 07:16] nicolo-ribaudo commented on #13574
@tdriley I opened a PR to Regenerator so that `Function("r", "regeneratorRuntime = r")` is not _executed_ in modern browsers.

However, if Firefox disallows it at lint time and not at runtime it will still warn. You can use the `unsafe-eval` CSP flag to allow `Function(...)` in your extension: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/content_security_pol

[2021-07-22 07:27] nicolo-ribaudo commented on #13592
This is a design decision: all the methods in our code base are _not_ bound, so that we can share them across all the `NodePath` instances and save a lot of memory.

Btw, in general most methods in JS are not bound. For example, this will not work:
[code]

[2021-07-22 07:27] #13592 closed

[2021-07-22 09:36] ProfBramble commented on #13592
Thanks for sharing

[2021-07-22 13:03] tdriley commented on #13574
@nicolo-ribaudo Thank you, but adding this to the manifest does not prevent the linter warning and also adds a new `MANIFEST_CSP_UNSAFE_EVAL` one. This is the same linter Mozilla use to evaluate extensions when they are submitted for release, and we believe it is blocking the approval process. I'd like to completely remove the problem code if possible, as modern browsers don't need it.

[2021-07-22 19:29] nicolo-ribaudo commented on #13574
Do you know for sure that it is not being approved because of `Function()`? According to https://github.com/mozilla/addons-linter/blob/6886efcc8ef8a25b01dc699e63e1e0e96e2711fd/docs/rules.md#web-extensions--manifestjson (`DANGEROUS_EVAL`), it's just a warning an not an error.

Anyway, https://github.com/babel/babel/issues/13574#issuecomment-882903660 shows how to stop Babel from injecting `regenera

[2021-07-22 19:53] #13557 closed

[2021-07-22 19:54] nicolo-ribaudo commented on #13565
Closing since this is a Babel 6 bug, and Babel 6 is not maintained anymore.

[2021-07-22 19:54] #13565 closed

[2021-07-22 19:55] #13519 closed

[2021-07-22 20:41] nicolo-ribaudo commented on #13109
Closing as the solution is https://github.com/babel/babel/issues/13109#issuecomment-826287089

[2021-07-22 20:42] #13109 closed

[2021-07-22 20:48] nicolo-ribaudo commented on #13591
The "legacy" decorators proposal considered `[...]` to be part of the decorator itself. In other words,
[code]
is a decorator (`deco[x]`) that decorates the `y` field, and not a decorator (`deco`) that decorates the `[x]` field followed by an unrelated `y` field.

TypeScript didn't correctly implement the proposal, but they built their own decorators version.

We are currently in contact with the

[2021-07-22 21:19] komyg commented on #13299
Hi @nicolo-ribaudo,

I think that the generated code should look somewhat like this:

[code]

I've created this function: `_checkPrivateFieldInitSpec` and called it inside the constructor: `_checkPrivateFieldInitSpec(this, _foo);`.

The rationale being that if the private map already has a reference to the object, then we know that we've passed through the constructor, and we can consider the fiel

[2021-07-22 22:24] thisissami opened #13594 "[Bug]: babel/traverse cannot handle typescript function overloading in a default export"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

The following code is valid TypeScript but crashes babel.

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

The expected behaviour is that it would transform properly. Instead, it crashes babel with the error stack that follows.

[2021-07-23 13:36] #13558 closed

[2021-07-23 13:36] #13563 closed

[2021-07-23 19:30] mycoin opened #13597 "[Bug]: `@babel/runtime/helpers/extends` could trigger too much recursive call"
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

webpack.config.js
[code]

### Configuration file name

package.json

### Configuration

[code]

### Current and expected behavior

source code for '@babel/runtime/helpers/extends':
[code]

some times cause `RangeError: Maximum call stack size exceeded`

### En

[2021-07-23 22:40] nicolo-ribaudo commented on #13597
In that file there are two extends function: the outer one is called exactly once and the it's replaced with the inner one, which doesn't recurse.

This is just a bug with your minifier.

[2021-07-24 03:34] mycoin commented on #13597
nice reply,  related issues have been fixed.  https://github.com/mishoo/UglifyJS/pull/5099

closed! wish you a nice day .  😇

[2021-07-24 03:34] #13597 closed

[2021-07-24 17:22] bluefangs commented on #11038
Coming here from Meteor issue tracker https://github.com/meteor/meteor/issues/11525. Importing amchart maps caused this issue for me. All is well if I don't use the maps plugin.
[code]

[2021-07-25 07:24] gabrielrholl commented on #11038
+1 to @Corjen's fix.

I'm using npm; I tried @IlyaSemenov and @mstssk's suggestions and didn't have success. Seems unfortunate that I have to pull d3-array into my local package but I've had to do this before in similar situations. Hopefully a fix is on the way.

[2021-07-25 07:35] mykola-paramonov-epam commented on #13520
Hi everyone,
@i-seesharp @dhrubesh Does anybody work on this issue? If not, can I take it? It will be my first issue.

[2021-07-25 07:37] doing-art commented on #13520
@i-seesharp @dhrubesh Does anybody work on this issue? If not, can I take it? It will be my first issue.

[2021-07-25 15:51] taejs commented on #12772
Hi.  @sosukesuzuki
If you're not available, Can I give a look on it?

[2021-07-25 15:54] sosukesuzuki commented on #12772
@taejs Sure! Please go ahead!

[2021-07-26 14:32] terion-name commented on #8932
`include` still not working

[2021-07-26 14:32] terion-name commented on #8932
`include` still not working

[2021-07-26 16:39] nicolo-ribaudo commented on #7022
Fixes by https://github.com/babel/babel/pull/8656

[2021-07-26 16:39] #7022 closed

[2021-07-26 17:32] #13550 closed

[2021-07-26 17:48] tdriley commented on #13574
We cannot be sure. The extension approval process is taking much longer than usual and they have not been able to communicate why.

@nicolo-ribaudo @JLHwung Thanks for your help. I've been able to remove all of the "Function constructor is eval" warnings by:

- Removing package `lodash.clonedeep`
- Removing package `react-html-parser`
- Updating package `webext-redux` to 2.1.7
- Updating package `

[2021-07-26 20:01] aleclarson commented on #13170
This inconsistency seems to be breaking `@babel/plugin-transform-react-jsx-source` in some cases. Could the `getOptions` function support both namings in a new patch version?

https://github.com/babel/babel/blob/224a35c5c69750f7deea19744d4bc14cb069789e/packages/babel-parser/src/options.js#L73-L79

[code]

[2021-07-26 21:00] tony-go commented on #13594
Could take a look 👋🏼 ! Let me know.

[2021-07-26 21:04] #13574 closed

[2021-07-26 21:31] #8300 closed

[2021-07-26 21:32] nicolo-ribaudo commented on #13594
It's yours!

[2021-07-26 22:34] fedeci commented on #13520
@doing-art just give them a coupe of more days to answer, then it will be yours!

[2021-07-26 22:39] komyg commented on #13299
Hi guys, just created a [draft PR](https://github.com/babel/babel/pull/13601) for this issue, so you can follow my progress if you want.

I'll let you know once it is ready for review.

[2021-07-26 22:54] nicolo-ribaudo commented on #13299
Your example has a problem: the error is thrown _before_ evaluating `++counter`, so it's only incremented once and not twice.

We could introduce a new helper, `_privateFieldInitSpec`, called like this:
[code]

Internally this helper would throw the error if the field is already initialized, but at least `++counter` would be evaluated before throwing.

[2021-07-27 04:30] thisissami commented on #13594
@tony-go for what it's worth, this was not an issue on older versions of `TypeScript` and `Babel`. Previously, we were using `@babel/core v7.4.4`, `@babel/preset-typescript v7.3.3`, and `typescript v3.9.6`. We upgraded all 3 libraries to the `@latest` versions last week, and babel would no longer let things compile. After quite a bit of digging, I was able to isolate this bug that I've shared here

[2021-07-27 07:41] polRk opened #13602 "[Bug]: Babel typescript do not bind private field to object"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

should bind private methods to configured object.

### Environment

- jest: 26.6.3
- @babel/core: 7.12.9
- node: v10.14.0

### Possible solu

[2021-07-27 07:57] nicolo-ribaudo commented on #13602
This is the expected behavior and it [matches what TypeScript does](https://www.typescriptlang.org/play?#code/MYGwhgzhAECC0G8BQ1oAcBOBLAbmALgKbTBjAAWxAvIgL4DcSK62eR0A5ofgGIYD2AWwDCZSgAoA1oQCeALmgR82AHYcAlMlSoM3AK4YV0fOSwQAdKQqEA2tJkBdRqlpJaQA): that code is equivalent to the JS code
[code]

and class methods aren't bound. You have to manually bind it:
[code]

[2021-07-27 07:57] #13602 closed

[2021-07-27 10:23] fedeci commented on #13594
It may be helpful to bisect then.

[2021-07-27 13:29] JLHwung commented on #8789
@hg-pyun Thanks for the reproduction repo. The issue you mentioned has been fixed in #10283.

If you hit here from search engines, please open a new issue with reproducing repo. Thanks!

[2021-07-27 13:29] #8789 closed

[2021-07-27 14:02] #13576 closed

[2021-07-27 14:50] taejs commented on #12772
I found it's fixed by #13096!

@nicolo-ribaudo
This issue can be closed.

[2021-07-27 15:20] #12772 closed

[2021-07-27 15:38] JLHwung commented on #13594
The error is thrown from

https://github.com/babel/babel/blob/e0dc925bbe148022df6b43dd6965ebca661915fc/packages/babel-plugin-transform-typescript/src/index.ts#L291-L300

We should check if `TSDeclareFunction` has an `id` before registering global types.

[2021-07-27 16:14] JLHwung opened #13604 "[Bug]: `export default interface {}` should throw"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[REPL](https://babel.dev/repl#?browsers=ie%2011&build=&builtIns=false&corejs=false&spec=false&loose=true&code_lz=KYDwDg9gTgLgBAE2AYwDYEMrDgSwHYzBQBm6y2A3gL4DcQA&debug=false&forceAllTransforms=false&shippedProposals=true&circleciRepo=&evaluate=tru

[2021-07-28 08:15] yklydxtt opened #13608 "[Bug]: TypeError: Cannot read property 'buildError' of undefined"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

i want transform
[code]
to
[code]
but i go this error
![image](https://user-images.githubusercontent.com/52593709/127290269-d8ddcb36-1ad2-4838-b78e-18e34fe706ee.png)

### Configuration file name

_No response_

### Configuration

[code]

### Curr

[2021-07-28 11:09] komyg commented on #13299
I see. So based on your suggestion, I think I will create a new function:

[code]

Here is the full code:

[code]

What do you think?

[2021-07-28 14:08] Domiii commented on #5667
Since the state of the `@babel/register` cache is not going to get any better any time soon, and our project is largely depending on `@babel/register` to be quite performant, I took the time today to overhaul the caching system. It works well even with hundreds of transformed files, and in my first experiments already reduced runtime from several minutes to several seconds.

## Code

WARNING: This

[2021-07-28 15:56] doing-art commented on #13520
@fedeci Thank you. I will wait for the answer a couple of days more.

[2021-07-28 17:19] nicolo-ribaudo commented on #13299
It looks good! The new function can be created in `packages/babel-helpers/src/helpers.js`, and it can be used using the `addHelper` internal method (you can Ctrl+F for it to see how it works).

[2021-07-28 19:47] #13587 closed

[2021-07-29 07:22] fedeci commented on #13520
@doing-art I'd say that you can take it!

[2021-07-29 09:10] Linkontoask opened #13617 "[Bug]: After babel/parser generates ast, immediately use babel/generator to output, the results are inconsistent"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

The input source code is consistent with the production source code

### Environment

- @babel/generator: 7.14.5
- @babel/parser: 7.1

[2021-07-29 09:28] fedeci commented on #13617
The input and output code is the same, probably it is indented differently so the equality check is falsy.

[2021-07-29 10:04] Linkontoask commented on #13617
@fedeci There will be one more blank line in the output of the above code.

I didn't do any conversion. Why is there a blank line when generating the code?
If I change the code to this
[code]
Then you will get the correct output

[2021-07-29 10:23] fedeci commented on #13617
I'll investigate.

[2021-07-29 13:11] nicolo-ribaudo commented on #13617
The reason is that `@babel/generator` doesn't make any guarantee about formatting. It prints the same code, but it might be formatted differently.

If you need to keep the original format, I suggest using https://github.com/benjamn/recast.

[2021-07-29 13:14] fedeci commented on #13617
However is there any particular reason for which we print a new line after a `BlockStatement`?

[2021-07-29 14:17] JLHwung commented on #13617
Babel parser is not an CST parser, the whitespaces are not preserved in the AST, so when Babel generator prints code from the AST, it is almost for sure the output is not exactly the input.

See also https://github.com/babel/babel/issues/10674#issuecomment-550960410.

I think we can mention it in the docs.

[2021-07-29 14:23] JLHwung commented on #13608
Does https://github.com/babel/babel/issues/11889#issuecomment-666143066 work for you?

[2021-07-30 02:12] Linkontoask commented on #13617
Thank you for your reply.
If the output format is not guaranteed, I feel that I can write a little tip here https://babeljs.io/docs/en/babel-generator to tell users

[2021-07-30 07:29] doing-art commented on #13520
Thanks. I am starting wroking on it.

[2021-07-30 16:16] RyanCloudFM commented on #11038
@nicolo-ribaudo This issue is still present in my react-native project which I've updated with @babel/core & @babel/runtime @7.14.8, how can I get this fix?

[2021-07-30 16:39] nosillytrying opened #13620 "[Bug]: Invalid attempt to spread non-iterable instance. In order to be iterable, non-array objects must have a [Symbol.iterator]() method.""
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

...{name: 123}] is not allow
 [...new Set([1,1,2,2]) is allow

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

presets： [
      "@babel/env",
      {
        "targets": {
          "edge": "17",

[2021-07-30 18:30] nicolo-ribaudo commented on #13620
This is the expected behaviour: you cannot spread normal objects in arrays.

Probably there is another way to get what you want: what do you expect `[...{name: 123}]` to be?

[2021-07-30 21:41] nicolo-ribaudo commented on #13617
That would be appreciated :pray:

Docs are in the https://github.com/babel/website repository.

[2021-08-01 07:55] nicolo-ribaudo commented on #11038
Released in `@babel/parser` 7.14.9

[2021-08-02 11:19] el-lsan commented on #11038
how about `@babel/core` `7.14.9` ?
https://www.npmjs.com/package/@babel/core still delivers 7.14.8

[2021-08-02 11:20] el-lsan commented on #11038
@nicolo-ribaudo how about `@babel/core` `7.14.9` ?
https://www.npmjs.com/package/@babel/core still delivers 7.14.8

[2021-08-02 12:35] nicolo-ribaudo commented on #11038
`@babel/core` depends on `@babel/parser@^7.14.8`, which means "the biggest version after >= 7.14.8 but < 8.0.0": it allows your package manager to download 7.14.9.

You can update your (deep) dependencies using `npm update --depth 999`, or by deleting `@babel/parser` from your lockfile.

[2021-08-02 16:16] #13604 closed

[2021-08-03 21:23] #13352 closed

[2021-08-03 21:32] #11241 closed

[2021-08-03 21:55] #13278 closed

[2021-08-03 21:55] #12345 closed

[2021-08-03 21:57] #6476 closed

[2021-08-03 21:57] #8741 closed

[2021-08-03 22:37] #13594 closed

[2021-08-04 12:53] lightmare opened #13631 "[Bug]: F# pipeline right-hand side parsing errors"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

*in the REPL you need to change Pipeline proposal option to `F#`*

#### Parse error in arrow function block: [REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=B4Ag

[2021-08-04 13:47] JLHwung commented on #13631
This is a regression introduced in #11600, unlike hack pipeline, the f-sharp proposal [allows](https://github.com/valtech-nyc/proposal-fsharp-pipelines#impact-on-precedence) arrow after pipeline operator.

Babel 7.14.9 also throws so it is not a regression. We can continue discuss it in https://github.com/valtech-nyc/proposal-fsharp-pipelines/issues/12.

[2021-08-04 14:47] juergba commented on #12106
A new release v0.13.9 of _regenerator-runtime_ has been released recently, with this [commit](https://github.com/facebook/regenerator/commit/cc0cde9d90f975e5876df16c4b852c97f35da436).
Does it solve this issue?

[2021-08-04 15:29] #13400 closed

[2021-08-04 16:05] JMarkoski commented on #12106
@juergba No, it still assigns the `regenerator-runtime` to the global object. The new code only uses a new way to access the global object, that is, via `globalThis` (see the spec: [https://github.com/tc39/proposal-global](https://github.com/tc39/proposal-global)).

[2021-08-05 06:28] liby opened #13636 "[Bug]: TypeError: Cannot read property 'type' of null"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

The issue was found in a company private project and there is no way to give the source code. If I finish the minimal reproduce later, I will definitely post it here.

### Configuration file name

babel.config.js

### Configuration

<details>
<summary>babel.config.js</summary>

[cod

[2021-08-05 06:59] nicolo-ribaudo commented on #13636
Does this only happen since the v7.15.0 release (10 hours ago)?

[2021-08-05 07:02] liby commented on #13636
Right. Downgrade to the following version and the error disappears.
[code]

[2021-08-05 07:12] nicolo-ribaudo commented on #13636
Ok, the bug is probably when parsing an arrow function or an expression in parentheses in `./src/application/shared/hooks/use-sort-by.ts`, if that helps creating a small example when reproducing the bug. It's _likely_ that the closing `)` that triggers the bug is then followed by `:`.

[2021-08-05 07:17] liby commented on #13636
@nicolo-ribaudo
<details>
<summary>use-sort-by.ts</summary>

[code]
</details>

[2021-08-05 07:36] nicolo-ribaudo commented on #13636
Thanks! A minimal example is `([, a]): b => c`. We'll fix this soon in the next patch.

[2021-08-05 07:50] nicolo-ribaudo opened #13639 "Add React Native e2e tests"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

We recently had a React-related regression that made React Native unusable. We can add it as an e2e test, since we don't have any e2e test for jsx.

### Describe the solution you'd like

https://twitter.com/motiz88/status/1423189085632487427

### Describe alternatives you've considered

/

### Document

[2021-08-05 08:54] kelset commented on #13639
Feel free to count me in to help setting this up 👍

[2021-08-05 10:04] kelset commented on #13639
Ok, quick round up of what this CI will need:
* `npx react-native init RNBABEL` to initialize a fresh project (on the latest "stable" RN version). This should run even on a plain linux machine, but could be that it needs either cocoapods or android stuff installed. Need to be tested TBH
* `cd RNBABEL`
* `npx react-native bundle --entry-file index.js --bundle-output ios.bundle`. We actually don't r

[2021-08-05 15:12] alex20044 commented on #11038
I am still seeing the same error with babel/parser 7.15.0

[2021-08-05 15:21] nicolo-ribaudo commented on #11038
Can you share your lockfile?

[2021-08-05 19:21] SethDavenport commented on #11038
I am also seeing the issue with 7.15.0

Relevant portion of my lockfile:

[code]

[2021-08-05 19:31] nicolo-ribaudo commented on #11038
Can you share the code that is failing? I added a test with the one in the original issue description and it's working.

[2021-08-05 19:34] SethDavenport commented on #11038
<img width="330" alt="image" src="https://user-images.githubusercontent.com/4614141/128410132-922fec87-a0e1-4649-8440-012e8c5743ca.png">

[2021-08-05 19:39] nicolo-ribaudo commented on #11038
Ok, it looks like we fixed it for TypeScript but we have the same bug when using Flow (which is the one used by React Native on `.js` files)

[2021-08-05 19:43] SethDavenport commented on #11038
Yeah makes sense - our setup is a combination of TS (for our code) and Flow (for react-native).

[2021-08-05 19:46] nicolo-ribaudo opened #13644 "[Bug]: Error when parsing ternary inside parens with arrow functions when using Flow"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

[REPL](https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&corejs=3.6&spec=false&loose=true&code_lz=BQQwBA_GBuYLwD4zAM4FcC2YDUcwEYBKMALhniQAZCBuIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=

[2021-08-05 19:46] nicolo-ribaudo commented on #11038
I opened https://github.com/babel/babel/issues/13644 since it's effectively a different bug, so that we don't spam people interested in the TS one.

[2021-08-05 19:46] #11038 closed

[2021-08-05 19:47] #13636 closed

[2021-08-05 20:03] nicolo-ribaudo commented on #13644
Another test case: `(a ? (sum += 1) : v => 0);`

[2021-08-05 20:05] nicolo-ribaudo commented on #13644
Another test case:
[code]

It's a ternary type-casted to `any`.

[2021-08-05 20:43] lightmare commented on #13644
Is there any possibility Flow/TypeScript fix their broken grammar? This mess is unsustainable.

[2021-08-05 20:45] nicolo-ribaudo commented on #13644
TypeScript's grammar is worse since is also has `(x: T)` type casts, but I don't think they'll ever change it :shrug:

I also found another bug while fixing this: `<T>(b => c)` should throw but it doesn't.

[2021-08-05 20:47] julianklumpers commented on #11038
For me, it's failing on `d3-geo` where `d3-array` is a dependency.
I'm unable to use the app.

<img width="392" alt="Screenshot 2021-08-05 at 22 33 48" src="https://user-images.githubusercontent.com/26057014/128418786-c3054e10-c21f-4cdf-baed-e90ae6e1ac3a.png">

[2021-08-08 16:16] nicolo-ribaudo commented on #13636
Released in `@babel/parser@7.15.2`

[2021-08-09 15:29] doing-art commented on #13520
Hello @fedeci @nicolo-ribaudo. I see that some [PR](https://github.com/babel/babel/pull/13622) has been linked to this issue and even merged. But I investigated the code of the PR and it does not seem to be related to this issue. Correct me if I am wrong. Could it be that it was linked by accident?

Anyway, I oppened another PR that should fix the issue. If it is already irellevant, just close it.

[2021-08-09 19:01] nicolo-ribaudo commented on #13520
Yes, it was accidentally the wrong number :+1:

[2021-08-09 20:35] #13620 closed

[2021-08-09 20:38] nicolo-ribaudo commented on #13586
This has been fixed by https://github.com/babel/babel/pull/12723 in `@babel/plugin-transform-classes@7.12.13`.

[2021-08-09 20:38] #13586 closed

[2021-08-10 17:19] GeneZharov opened #13663 "[Bug]: Nested workspaces can't be defined with dot notation"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Nested workspaces definition with dot notation works fine with `tsc` but crushes Babel.

[code]

### Environment

Babel version: 7.15.0
OS: macOS 11.5.1
Node: 12.22.1
Yarn: 1.22.10

[2021-08-10 18:46] #13644 closed

[2021-08-10 18:55] #13520 closed

[2021-08-10 19:29] neonsilk commented on #9367
@nicolo-ribaudo it looks like this is still an issue when loose mode is enabled, is that expected?

Starting with the output from [this repl](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=false&spec=false&loose=true&code_lz=MYGwhgzhAEDKCuAHApgJ2gbwL4CgekhgQCNpkAPAF2QDsATIpNTXHG5AdznmIAoBKANxA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false

[2021-08-10 19:40] #13639 closed

[2021-08-10 19:42] nicolo-ribaudo commented on #9367
It's because you are using `loose` mode. You can disable `loose` mode, and granularly enable the [assumptions](https://babeljs.io/docs/en/assumptions) you need (but not `superIsCallableConstructor`).

[2021-08-11 01:21] overlookmotel opened #13665 "[Bug]: `scope.hasBinding` and `scope.getBinding` inconsistent for newly created vars"
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

n/a

### Configuration

n/a

### Current and expected behavior

In above example, [@babel/plugin-transform-modules-commonjs](https://babeljs.io/docs/en/babel-plugin-transform-modules-commonjs) transforms `import {x} f

[2021-08-11 06:14] fengxinming commented on #13062
I had a same problem about `_typeof`

[2021-08-11 07:09] antgamdia commented on #13520
Thank you to everyone involved in this issue and @doing-art for sending the PR with the fix. As soon as it gets released, we'll be able to remove an ugly workaround in our project :P  Thanks!!

[2021-08-12 16:38] komyg commented on #13299
Hey @nicolo-ribaudo,

I've been trying to reproduce this error on Node with private static fields, but I wasn't able to. I think it is because the static fields are a part of the class itself, therefore there is no way to re-declare them.

This is an example that I came up to see if I could reproduce the error:

[code]

I've ran it on Node and it works fine.

Could you help me find an example wher

[2021-08-12 16:41] nicolo-ribaudo commented on #13299
I believe it's impossible to initialize static fields twice, so we only need to fix instance fields.

[2021-08-12 16:43] komyg commented on #13299
Ok, in this case, I think I am done. I've marked the PR as ready for review.

My PR covers instance properties, methods and accessor methods. Is there anything else that we should cover?

[2021-08-12 16:43] nicolo-ribaudo commented on #13299
No, it's ok :+1:

[2021-08-12 16:45] komyg commented on #13299
Great, thanks! 🙂

I await your review then.

[2021-08-12 19:00] jridgewell commented on #13299
Correct. I was wrong in my issue description, this only applies to instance fields.

[2021-08-12 20:29] rifler opened #13672 "[Bug]: preset-env target.esmodules adds Promise polyfill"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

current:
polyfills for Promise and URL are added, async/await transpiled to yield

expected:
polyfills for Promise and URL are not added, async/await not transpiled

b

[2021-08-12 20:56] nicolo-ribaudo commented on #13672
caniuse is not always reliable for this type of data.
- For _transforms_, we use https://kangax.github.io/compat-table/es2016plus/ to generate https://github.com/babel/babel/blob/936fe405e05e09a976103ec67a1dcd6e3a25bcb2/packages/babel-compat-data/data/plugins.json#L155-L165. You can try enabling the [`bugfixes` option](https://babeljs.io/docs/en/babel-preset-env#bugfixes), which makes Babel compil

[2021-08-12 21:15] rifler commented on #13672
`bugfixes: true` returns `async/await` back, thanks

[2021-08-12 21:17] #13672 closed

[2021-08-13 05:19] sosukesuzuki opened #13674 "[Bug]: Invalid `static` property for StaticBlock"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

**Current:**
[code]
**Expected:**
[code]

### Environment

- Babel version: current `main`

### Possible solution

_No response_

### Additi

[2021-08-13 16:02] IPWright83 commented on #11038
Trying to work out if this has been fixed/released yet? Still seems to be failing for me in a regular react app.

[2021-08-13 19:19] nicolo-ribaudo commented on #11038
This should have been fixed in `@babel/parser` 7.15.0, and a similar error (but for flow, not TS) in `@babel/parser` 7.15.2.

Can you share your lockfile?

[2021-08-16 08:22] IPWright83 commented on #11038
@nicolo-ribaudo thanks - I was struggling to follow the Github chain of releases. Also hampered by not checking properly - my create-react-app was a whole major version behind so didn't just upgrade for me.

[2021-08-17 01:22] upupzealot commented on #8642
any solution so far?

[2021-08-18 08:42] LukasPolak opened #13688 "[Bug]: babel/babel-eslint (Archived) has incorrect "Website" in repository details"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

N/A

### Configuration file name

_No response_

### Configuration

N/A

### Current and expected behavior

In the repository details of [babel/babel-eslint (Archived)](https://github.com/babel/babel-eslint) repository, there is a wrong website pointing to a "master" branch instead of

[2021-08-18 14:24] Ontopic commented on #10746
So in order to play around with where things are at, will a @next or ^7.15 bring me the closest to where you guys are at?

[2021-08-18 14:38] JLHwung commented on #10746
7.15 has been published but it will not contain Babel 8 breaking changes, as required by semver. We don't have Babel 8 nightly build, but we have Babel 8 e2e test on popular libraries: https://github.com/babel/babel/blob/614b48678095746b83bbe517c4d6b30ba8cd5c04/.circleci/config.yml#L131 you can fork  Babel repo and run e2e test on your own library to see if Babel 8 will break. Feedbacks are always

[2021-08-18 14:51] Ontopic commented on #10746
Thanks! Long time since I last build Babel myself. Let's see the dev contributor experience nowadays :)

[2021-08-19 00:55] hzoo commented on #13688
Thanks a lot for the for the report, done!

[2021-08-19 00:55] #13688 closed

[2021-08-19 19:54] #13170 closed

[2021-08-19 20:02] overlookmotel opened #13694 "[Bug]: Parser accepts illegal syntax `obj.[prop]`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[REPL](https://babeljs.io/repl/#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=G4QwNgBAvBD2BGArAdAbQA4CdboLoG4AoIA&debug=false&forceAllTransforms=true&shippedProposals=

[2021-08-19 20:31] JLHwung commented on #13694
This issue is a regression introduced in https://github.com/babel/babel/pull/11871.

[2021-08-20 09:29] #13694 closed

[2021-08-20 09:35] Adriaaaaan commented on #13663
I just encountered the exact same issue with the exact same repro steps.  Pretty annoying

[2021-08-20 10:35] overlookmotel commented on #13694
Amazing! Thanks very much for very swift fix.

[2021-08-20 11:23] GeneZharov commented on #13663
@Adriaaaaan As a workaround I renamed my namespaces to `namespace proj_data_util_api {...}`. But actually I like this new naming approach so much that I'm going to keep it this way even if the issue will be solved.

[2021-08-20 14:01] Domiii commented on #11147
Skipping just does not work in general.

Any news? Not being able to skip node is pretty bad. I know there are workarounds, but this is just a pretty obvious bug that requires fixing, if not at least acknowledgement.

Flags still get wiped, even without calling `path.get` in between:

# Order of events

1. Before some `p` gets visited, I call `p.skip()`. That in turn sets `NodePath._traverseFlags`

[2021-08-20 19:42] JLHwung commented on #13665
For the newly created variables, there binding are not registered within the scope.

https://github.com/babel/babel/blob/1d4bd31950ec6399c9620c08b61b44fe4d5c085c/packages/babel-plugin-transform-modules-commonjs/src/index.js#L236

It is a known issue of `Path#unshiftContainer`, in

https://github.com/babel/babel/blob/1d4bd31950ec6399c9620c08b61b44fe4d5c085c/packages/babel-core/src/transformation/fi

[2021-08-20 21:03] julianklumpers commented on #13644
What is exactly fixed? I'm still getting this issue with a fresh project and `d3-geo` installed.

![09a56525-3029-454e-982a-7779e7866380](https://user-images.githubusercontent.com/26057014/130293077-3a9e9797-33f3-4f0a-9ec1-7ec1ff4b8226.jpg)

[2021-08-21 07:23] nicolo-ribaudo commented on #13644
Can you share your lockfile?

[2021-08-22 06:09] luckymore commented on #5261
so...what's the next

[2021-08-22 21:36] zloirock opened #13699 "`@babel/eslint-parser` should support `ecmaVersion: latest`"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

From [`eslint@7.30`](https://eslint.org/blog/2021/07/eslint-v7.30.0-released), `eslint` default parser supports `latest` as `ecmaVersion`, but `@babel/eslint-parser` does not support it. Seems it should be fixed.

### Describe the solution you'd like

^

### Describe alternatives you've considered

^

[2021-08-23 17:53] tedwash opened #13700 "[Bug]: @babel/helpers v14.1.0+ always includes some helpers with @babel/plugin-external-helpers"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

After upgrading some babel dependencies, boilerplate in the output has increased significantly. I am seeing a lot of examples of

[code]

Downgrading the dependencies did not have the de

[2021-08-23 22:04] tedwash commented on #13700
Ah, ok that works now! It's a little strange to me that action was required for this dependency to upgrade. It really bloated some output. I looked it up and the equivalent change to `@babel/plugin-transform-runtime` is to add the `version` option:

[code]

[2021-08-23 22:04] #13700 closed

[2021-08-24 06:30] xwenliang opened #13701 "String.prototype.replaceAll not polyfilled"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

[code in Babel REPL](https://babeljs.io/repl/#?browsers=ios%3E%3D9.0%2Candroid%3E%3D4.4.4&build=&builtIns=usage&corejs=3.6&spec=false&loose=false&code_lz=MYewdgziA2CmB00QHMAUByAjAJgMzvgEsxhoBXAE1gg23QEp6AoUSGBJNLPAgWwEMALsAAWAQWjQMmdABoABOjqMW4KHEQppPeACdYAB2j9gsCVKxzFy5kyA&debug=false&

[2021-08-24 15:25] JLHwung commented on #13701
`String#replaceAll` is supported in `core-js` `3.8.0`. Note that `3` will be interpreted as `3.0` as `preset-env` does not know what version of `core-js` you are using. Consider use a string version for `corejs`:

[code]
See also https://babeljs.io/docs/en/babel-preset-env#corejs.

[2021-08-24 21:12] happycollision opened #13702 "[Bug]: Typescript plugin fails on named tuple positions where the name is a reserved word in JS"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

https://babeljs.io/repl#?browsers=defaults&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=C4TwDgpgBAYgrgOwMYHUCWwAWARCBnJAJzTGDQHsEoBeKAbQCgooAzRJMygLigAoA6QQENCAczw8hCEHQC6AShoA-KFJAAaJlDzBiCUTx17RDWQwZJKO1gnRZcBYqQoIJsdnZz4iJTgjk09FrMdLwAHlwIcAC2AEYQhIrUKm

[2021-08-25 07:21] xwenliang commented on #13701
@JLHwung Thanks for your reply !

But even changed {"corejs": 3} to {"corejs": "3.16"}, i still get the same output

Maybe we should use `es.string.replace-all` instead of `esnext.string.replace-all`:

https://github.com/babel/babel-polyfills/blob/main/packages/babel-plugin-polyfill-corejs3/src/built-in-definitions.js#L549

[2021-08-25 13:32] JLHwung commented on #13701
Yes it will be fixed in https://github.com/babel/babel-polyfills/pull/98

[2021-08-25 19:35] jakeye-nuvolo opened #13703 "[Bug]: rest operator produces global variables"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

`export const Event = (function init() {
function getsomething(){
    let o = {
     'siteIds':122,
     'sitename':'test',
     'sitecity': 'san fran'
     };
    return o;
}
    const { siteIds, ...rest } =
      getsomething();

  return {getsomething

[2021-08-28 15:48] dan-kez opened #13710 "[Bug]: @babel/plugin-proposal-object-rest-spread duplicates assignment calls for _objectWithoutProperties"
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

https://babeljs.io/repl#?browsers=%3E%201%25&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=DYUwLgBA3hAeCsAuaEDu8A0EB0uCe8EAvsRALwQBmArgHYDGYAlgPa0DCAhsMACoAWnMAEkAzgBFqAB2BN6QkABMAFAEoA3EA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=tru

[2021-08-28 17:22] dan-kez commented on #13710
I think I've chased this down to this conditional here: https://github.com/babel/babel/blob/main/packages/babel-plugin-proposal-object-rest-spread/src/index.js#L334-L340

It seems the core issue is that the check `originalPath.node.id.properties.length > 1` only looks one level deep in destructuring.

[This means the following will compile correctly:](https://babeljs.io/repl#?browsers=%3E%201%25&b

[2021-08-29 16:27] #13663 closed

[2021-08-29 16:50] nicolo-ribaudo commented on #13702
Thanks for the bug report!

The problem is in the `tsParseTupleElementType` parser function: https://github.com/babel/babel/blob/1355d0078ca4df9e38f382d2f42684b860e60f6d/packages/babel-parser/src/plugins/typescript/index.js#L882-L892

Keywords are not valid types (i.e. `type X = [function]` is invalid), so the `tsParseType()` call at line 888 fails. We should be able to fix it by:
1. Checking if t

[2021-08-29 17:21] MichaelDeBoey opened #13712 "Support ESLint 8.x"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

ESLint has released the first beta versions of v8 🎉
https://eslint.org/blog/2021/08/eslint-v8.0.0-beta.0-released
https://eslint.org/blog/2021/08/eslint-v8.0.0-beta.1-released

It would be awesome to have official ESLint 8 support. 👊
I'm happy to help where I can of course 🙂

### Describe the solution

[2021-08-29 17:27] ChaitanyaGadodia commented on #13702
Hi! Can I pick this bug?

[2021-08-29 17:52] nicolo-ribaudo commented on #13702
Sure, it's yours!

[2021-08-30 10:03] #12960 closed

[2021-08-30 10:05] #13699 closed

[2021-08-30 10:44] #13299 closed

[2021-08-30 12:59] lopugit commented on #9540
Was this ever addressed? I'm trying to get a program with variable declarations not to include a semi-colon at the end of every declaration

[2021-08-30 13:38] nicolo-ribaudo commented on #9540
This doesn't solve your request. An hypothetical `generateExpression` function would only be able to print expressions, not variable declarations.

In general, Babel doesn't give any option to customize the output style/format. You can use Prettier with the `semi: false` option to re-format Babel's output removing semicolons.

[2021-08-30 15:14] nicolo-ribaudo commented on #13712
@MichaelDeBoey I looked at the migration guide and it seems like we might be able to support it with minimal changes, but it's impossible to know without actually trying. I would love a PR for it! It would be ideal to support both ESLint 7 and ESLint 8 at the same time, to give an easy migration path.

Since you ticked the "Would you like to work on this feature?" box I'm assigning this to you. If

[2021-08-30 15:47] JLHwung commented on #13712
Note that we will need to enable the `classFeatures` for ESLint 8:

https://github.com/babel/babel/blob/d5b0d9e33d340accb02593b341e61750f5879125/eslint/babel-eslint-parser/src/worker/configuration.cjs#L11

If we want to support both ESLint 7 and ESLint 8, we will need to read the eslint version and use different options for them.

[2021-08-30 16:57] dlebedynskyi commented on #5408
Any update on this issue?

[2021-08-30 19:38] loynoir opened #13716 "Package Request: @babel/node-loader"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

### Package Request: @babel/node-loader
Like [@babel/register](https://www.npmjs.com/package/@babel/register) is require hook.

`@babel/node-loader` is import hook.

### Related Link: esbuild ecosystem
- [esbuild-register](https://www.npmjs.com/package/esbuild-register) esbuild require hook by [egoist]

[2021-08-30 20:17] JLHwung commented on #13716
The biggest reason we didn't support ESM import hook yet is that, as of Node 15, the ESM loader API "is being redesigned. This hook may disappear or its signature may change. Do not rely on the API".

https://nodejs.org/docs/latest-v15.x/api/esm.html#esm_loaders

[2021-08-30 23:20] lopugit commented on #9540
Oh you're a genius cheers good idea

[2021-08-31 22:47] dan-j commented on #5408
I doubt there is, I've no need for Babel in my current role and won't find the time to contribute (I just got the notification because I've previously commented).

If nothing much has changed in 4 years, my comment is my suggestion on fixing the issue: https://github.com/babel/babel/issues/5408#issuecomment-316922155, however I have no real idea whether or not that comment is applicable anymore.

[2021-09-01 05:41] fyzhu opened #13718 "[Bug]: duplicate plugin-syntax-dynamic-import in package.json of preset-env"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

If I install newest preset-env with npm, I have to install plugin-syntax-dynamic-import  manually due to plugin-syntax-dynamic-import in both dependencies and dev

[2021-09-01 07:20] merceyz commented on #13718
Why do you have to do that? Package managers ignore `devDependencies` when they aren't from your own `package.json`

[2021-09-01 09:59] #13062 closed

[2021-09-01 10:46] backtolife2021 opened #13719 "[Bug]: TypeError: template is not a function"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

TypeError: template is not a function

### Environment

  System:
    OS: Linux 5.13 Arch Linux
  Binaries:
    Node: 14.17.4 - ~/.nv

[2021-09-01 12:50] nicolo-ribaudo commented on #13719
This is because of how Node.js's strategy to import CJS from ESM works.

When using native ESM, you'll need something like this:
[code]

This will work better when we'll switch to ESM (https://github.com/babel/babel/issues/11701, https://github.com/babel/babel/pull/13414), but it takes time.

[2021-09-01 12:50] #13719 closed

[2021-09-01 14:44] JSteunou opened #13722 "[Bug]: Legacy decorator not parsed anymore on class (regression from 7.14)"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Similar code & conf than this [REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=FAAQ7glgLgFgkgRgBwDsAUBKYBTAHgBwHsAnKAAgGMAbAQwGc6yBhQlFbCqCVgCWyvzZiAIUK4yeKNhQATRgCVsNTgDoWAWyLs

[2021-09-01 14:50] nicolo-ribaudo commented on #13722
Are you 100% sure that the code that you are passing to Babel has the decorator _before_ `export`? In error messages Babel always prints the original code, so I don't understand how the error can be different from the code that you pass to Babel.

Can you try creating a repository with your existing setup, to show the bug?

[2021-09-01 16:46] JSteunou commented on #13722
100% sure, I'm cleaning my conf & code to try to recreate this issue. I have other loader & plugin to check to be sure

[2021-09-02 09:10] JSteunou commented on #13722
ok the issue is from linaria

We are using linaria v2 and the weird thing is that using `linaria/babel` in presets force us to have a `babel.config.js`, (we are in a webpack babel-loader context) and even with the same babel configuration, the linaria-loader (called after the babel-loader) trigger this error... I do not know what's going exactly but that really weird

[2021-09-02 09:36] JSteunou commented on #13722
thank you @nicolo-ribaudo I'll do this then

[2021-09-02 09:56] JSteunou commented on #13722
but yeah clearly both project are linked on this issue, rolling back either linaria or babel make it worked again.

With both version colliding, it crashes on decorator if I add a babel.config.js but on  TypeScript syntax if I remove the wide babel.config.js

As if linaria loader does not process babel loader input but run babel on its own

[2021-09-02 18:35] aimanjaffer commented on #13702
@nicolo-ribaudo Once a check is added to handle situations where the current token is a keyword, should the code currently from line 889 to 922 be executed in both situations i.e. when the current token is a keyword and when it is not, or should this section execute only when the current token is not a keyword?

[2021-09-02 19:44] jridgewell opened #13726 "[Bug]: Private Brand Check incorrectly allowed as RHS of `in` operator"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

Found this while reading https://github.com/evanw/esbuild/releases/tag/v0.12.25 (esbuild continues to have wonderful changelogs):

[code]

Because of the way the `in` operator works, this is parsing the same as `(#a in #b) in c`, which isn't a valid program.

### Configuration file name

_No re

[2021-09-02 20:12] nicolo-ribaudo commented on #13726
Another test case:
[code]

[2021-09-02 20:55] nicolo-ribaudo commented on #13726
Another test case:

[code]

With `errorRecovery` enabled, this currently just reports the error about the variable initializer in strict mode. We must also report the error about `#a` not being part of an `in` expression. This is important because when we will implement https://github.com/tc39/proposal-private-declarations we will be able to write this code:
[code]
which otherwise wouldn't throw b

[2021-09-02 20:56] nicolo-ribaudo commented on #13726
I was initially going to mark this as a good first issue, but I now prefer to work on it myself since it's more complicated than I expected.

[2021-09-02 22:48] guybedford opened #13728 "Update chalk dependency"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I've just been running Babel core in Deno using JSPM import maps (https://generator.jspm.io/#W8nDwMDE7JSYlJqjkJ+n4JKal6/I4JAE4usn5xelOpjrGZrqGcCECopSi1NLdEsqC1KLk4syC0qg8gD3eyFFRwA) and there's an issue with Chalk 2.x because it mutates `__proto__` which was banned by Deno in https://github.com/denolan

[2021-09-02 23:18] hzoo commented on #13728
Sounds good, can at least make a similar change to js-tokens for babel-highlight https://github.com/babel/babel/blob/5fcf876c5761f12af47facdfc994b73e842cf1df/packages/babel-highlight/package.json#L19-L20

[2021-09-03 02:21] JLHwung commented on #13728
Yeah we can't bump because Babel 7 still supports Node.js 6. We can, however, fork `chalk` and then proxy Node.js 6 users to our `chalk@2` fork like we did for `chokidar`: https://github.com/nicolo-ribaudo/chokidar-2

[2021-09-03 03:27] Codex- commented on #13094
Weird that it generates: `var _foo = require("./foo");` when importing a type/alias from TS when going to commonjs

[2021-09-03 06:37] yxwzaxns opened #13730 "[Bug]: babel-node -e option Inconsistent behavior with node -e"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

when -e is a param of an app.js
node app.js -e  != babel-node app.js -e

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

when -e is a param of an app.js
node app.js -e  != babel-node app.js -e

Is it possible to make their behavio

[2021-09-03 08:05] JSteunou commented on #13722
@nicolo-ribaudo I made a repo with minimal code so you can help analyze this issue https://github.com/JSteunou/babel-linaria-decorator-issue

Babel configuration might seems over-engined but that is because you have a really large code base and I based this repo on it, keeping the same structure to be sure to keep everything that could help.

[2021-09-03 09:20] aimanjaffer commented on #13702
Hey @nicolo-ribaudo pardon my ignorance, I'm new to this codebase and I was wondering if there is any documentation for the internal methods such as `this.eat()` and `this.expect()`. Will greatly appreciate your assistance!

[2021-09-03 11:31] fedeci commented on #13702
Nope, there are no docs available for internal parser methods, however you can ask on [Slack](https://slack.babeljs.io/) and you will surely find someone that can help you.
For example `eat(_token)` checks if the specified token matches the current state, if it does the methods skips it returning true, if it doesn't the methods returns false. It is just a sugar for `.matches(_token)` and `.next()`

[2021-09-03 11:35] aimanjaffer commented on #13702
@fedeci Thank you so much for the explanation. Will definitely use the slack channel for these sorts of queries in the future!!

[2021-09-03 13:48] nicolo-ribaudo commented on #13702
@aimanjaffer If you are asking because of this bug, please first leave some time (one more week) for @ChaitanyaGadodia since this bug is assigned to him :pray:

[2021-09-03 14:45] JLHwung commented on #13730
As a workaround, you can explicitly separate user args and babel args by `--`

[code]

[2021-09-03 14:56] aimanjaffer commented on #13702
@nicolo-ribaudo Sure thing!!

[2021-09-04 08:05] #13726 closed

[2021-09-04 09:19] nicolo-ribaudo commented on #13722
When using linaria, Babel is called twice:
- First it's called by the linaria webpack loader, to do some linaria-specific transforms.
- Then, it's called by `babel-loader`

The problem is that [linaria parses your code with your Babel config, but then doesn't use it when transforming/printing the transformed code](https://github.com/callstack/linaria/blob/4662afb8703c9803ecc1bda713c4314684e6de4b/s

[2021-09-04 21:50] Lodin opened #13735 "[Bug]: Error when I specify "declare class" and "function" with the same name"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

[REPL](https://babeljs.io/repl#?browsers=defaults&build=&builtIns=false&corejs=3.6&spec=false&loose=true&code_lz=CYUwxgNghgTiAEkoGdnwILwN4F8BQeAZgK4B2YALgJYD2pG8AFAJTY5A&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=

[2021-09-04 23:18] fedeci commented on #13735
I can look into this

[2021-09-04 23:55] asilberschneider commented on #13703
I am having exactly the same issue in a very similar setup (multiple files transpiled and used on same page with RequireJS, but also multiple transpiled files which are concatenated afterwards).

[2021-09-05 09:55] fyzhu commented on #13718
When I use the newest preset-env, I enconder a problem, I have to install plugin-syntax-dynamic-import manually, then I found package.json of preset-env had plugin-syntax-dynamic-import in both devDependencies and dependencies, I thought it's assosiated with my problem. Maybe it's not.
So I have two questions:
1. why preset-env has plugin-syntax-dynamic-import in both devDependencies and dependenc

[2021-09-05 20:07] nicolo-ribaudo commented on #13703
@asilberschneider Are you using Babel to compile modules to AMD, for RequrieJS?

[2021-09-06 05:33] asilberschneider commented on #13703
Our babel input files are in AMD format already, we use transpilation for new ECMAScript features or proposals and React elements.
"var excluded ..." values overwrite each other when files are loaded with Dojo toolkit AMD loader.

[2021-09-06 07:38] JSteunou commented on #13722
Ok so pure linaria issue, can I close this issue and share your analyse?

[2021-09-06 08:18] nicolo-ribaudo commented on #13722
Yes!

[2021-09-06 08:18] #13722 closed

[2021-09-06 08:58] JSteunou commented on #13722
Thank you :pray:

[2021-09-07 01:50] madhavan-sundararaj opened #13736 "[Bug]: useBuiltIns: usage not working as expected in IE 11"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

Current Behaviour - Polyfill is not applied automatically in `useBuiltIns: usage` mode. I need to manually add the import in the entry file which is similar to having `useBui

[2021-09-07 07:55] fyzhu commented on #13718
The second problem solved, I've already knew why it happened.

[2021-09-07 12:27] #13718 closed

[2021-09-07 12:39] nicolo-ribaudo commented on #13736
@madhavan-sundararaj Can show the output of `BABEL_SHOW_CONFIG_FOR=./path/to/that/file.js npm run build`, replacing `./path/to/that/file.js` with the path to the file containing `Object.entries` and `npm run build` with your build command?

[2021-09-07 12:49] madhavan-sundararaj commented on #13736
@nicolo-ribaudo
[code]

This file is located in node_modules

[2021-09-07 13:54] nicolo-ribaudo commented on #13736
You need to rename `.babelrc` to `babel.config.json` if you want to compile files in other packages (for example, in dependencies). You can read https://babeljs.io/docs/en/config-files for more info.

[2021-09-07 14:05] madhavan-sundararaj commented on #13736
That worked. Thank you @nicolo-ribaudo

[2021-09-07 14:05] #13736 closed

[2021-09-07 21:27] #13710 closed

[2021-09-08 06:16] yxwzaxns commented on #13730
@JLHwung thinks, but my app.js is also a commander script, use -- not work for  params of my app.js

[2021-09-08 15:37] nicolo-ribaudo commented on #13730
@yxwzaxns Can you also check if `babel-node -- app.js -e` works?

This needs to be fixed, but probably it needs to wait for a better solution in Babel 8 (https://github.com/babel/babel/issues/4373)

[2021-09-09 01:33] yxwzaxns commented on #13730
@nicolo-ribaudo  Thinks, it works for me.

[2021-09-09 06:49] trmpowell commented on #11038
@nicolo-ribaudo, I'm still seeing this error. All of my package-lock.js references to `@babel/parser` are using `"^7.x.x"` and the version of `@babel/parser` being used is `7.15.5`:
[code]

We are not using TypeScript. Any ideas/suggestions?

I confirmed this is the same problem by updating `d3-array` `cumsum.js` per an above comment and the babel parsing error is gone (obviously I'd prefer not to

[2021-09-09 06:58] as17744 opened #13740 "[Bug]: export 'default' (imported as 'xxx') was not found in '@babel/runtime-corejs3/xxx"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

.babelrc, package.json

### Configuration

.babelrc
[code]
package.json
[code]

### Current and expected behavior

[code]

### Environment

- @babel/core: 7.15.5
- node: 14.17.0
- npm: 6.14.13

### Possible solution

_No response_

### Additional

[2021-09-09 07:29] nicolo-ribaudo commented on #11038
Can you try running `BABEL_SHOW_CONFIG_FOR=./node_modules/d3-array/path/to/that/d3/file.js npm run build`, using the correct file path and replacing the `npm run build` command with your build command? It should print the config which is applies to that file.

Also, if you are using React Native make sure to clear its cache.

[2021-09-09 07:31] nicolo-ribaudo commented on #13740
Babel assumes Node.js's ESM interop: `import x from "y"`, if `y` is a CJS file, should export `module.exports`.

Please configure your bundler to use Node.js's interop strategy.

[2021-09-09 07:31] #13740 closed

[2021-09-09 07:58] as17744 commented on #13740
Actually there is no `import` in my code. The error happened in `@babel/runtime-corejs3`, I have no idea how to figure it out.

[2021-09-09 18:46] nicolo-ribaudo commented on #13716
I'm closing this as a duplicate of https://github.com/babel/babel/issues/11934.

[2021-09-10 02:35] bradzacher opened #13746 "[Bug]: No error thrown for an ExportAllDeclaration with a non-identifier exported name"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAKjgQwM5wOQQmVG4BmUEAtpiRACYCuANsBgNxA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSiz

[2021-09-10 07:14] nicolo-ribaudo commented on #13746
I believe this is valid? It's the same as
[code]

[2021-09-10 07:20] nicolo-ribaudo commented on #13746
Oh it looks it has reached consensus at tc39, but it hasn't been merged yet (because of editorial problems, not normative/semantics): https://github.com/tc39/ecma262/pull/2154

[2021-09-10 07:32] bradzacher commented on #13746
It looks like support was added for this in https://github.com/babel/babel/pull/12091

[2021-09-10 07:33] #13746 closed

[2021-09-11 16:47] letanloc1998 opened #13747 "[Bug]: [Babel standalone import error]"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

I using Babel standalone with React. I can't import same js name component (different URL).

[code]

routes-index.js
[code]

I using `console.log(<Home />)` and `console.log(<Login />)` and see Babel generate by name of JS file. So, if I import components with same na

[2021-09-11 16:53] letanloc1998 opened #13748 "[Bug]: [Babel standalone can't import css]"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

components-button-index.js
[code]

I can't import css when using Babel standalone and React by embedded into HTML

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

I want to import css

### Environment

[2021-09-11 17:04] nicolo-ribaudo commented on #13748
Babel is only about JS. If you want to import CSS files, you need something like webpack or parcel.

[2021-09-11 20:27] bcoe opened #13750 "[Bug]: @babel/parser@7.14.8 breaks IstanbulJS skip logic"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

There are unit tests in Istanbul that test the following syntax, and ensure that the else statement is removed from coverage tracking when an ignore comment is added:

[code]

### Configuration file name

_No response_

### Configuration

_No response_

[2021-09-11 20:45] nicolo-ribaudo commented on #13750
Technically there isn't a "correct" way to attach comments, but I'm marking this as a regression for now since istanbul a big Babel consumer.

[2021-09-11 21:01] bcoe commented on #13750
@nicolo-ribaudo I updated the tests to pass with the new behavior, with the old behavior in comments.

Reading the prior behavior, it seems that it was expected that coverage would stop being counted from the else statement forward (the old behavior seems slightly weird to me too, I don't understand why it would be expected that line 3 and 4 are in the coverage table):

[code]

and:

[code]

* `li

[2021-09-11 21:19] nicolo-ribaudo commented on #13750
I'm inclined to consider this as a bugfix and not as a regression.

Consider this input code:
[code]

We can mark some AST nodes relevant to this bug:
[code]

We can now add that `/* istanbul ignore else */` comment to our code:
[code]

As you can see, the comment doesn't "touch" the second `if` statement. We could attach it to the AST in two places:
- as a trailing comment of _First if's conseque

[2021-09-11 22:02] bcoe commented on #13750
@nicolo-ribaudo you're right, testing this behavior things to work as you imply:

[code]

Also, to get the old behavior you can just refactor to this:

[code]

[2021-09-11 22:13] bcoe commented on #13750
Behavior of `if`/`else` seems reasonable 👍

I'm a little confused by what's happening with `ignore next` for a logical expression:

[code]

In older versions of Istanbul I believe `/* istanbul ignore next */ (args[0] === 2  || args[0] === 3))` appropriately ignored the logical expression in the parenthesis.

I think the problem is similar where it's grouping the logical expression slightly differe

[2021-09-12 01:04] JLHwung commented on #13750
[code]

In this example the LogicalExpression starts with `a`, the left parenthesis separates the comment from `LogicalExpression`, so the comment does not attach to the LogicalExpression, and because no AST node starts with `(`, it falls to the `innerComments` of upper AST structure, in this case, the `IfStatement`.

When `createParenthesizedExpressions` is enabled, a `ParethesizedExpression` sta

[2021-09-12 05:40] letanloc1998 commented on #13748
Thank you

[2021-09-12 05:40] #13748 closed

[2021-09-12 22:10] nicolo-ribaudo commented on #13712
@MichaelDeBoey Are you interested in opening a PR for this? If not, I can work on it this week.

[2021-09-13 01:17] bcoe commented on #13750
@JLHwung I played with `createParenthesizedExpressions` but it doesn't quite give the behavior I'd expect (I'd likely need to fiddle with the logic for applying comments to the AST). However, I'm a bit worried that adding these additional branches to the AST could hurt performance.

I played more, and I think your suggestion of moving the comment to inside the parenthesis is reasonable:

[code]

☝

[2021-09-13 01:17] #13750 closed

[2021-09-13 07:16] #7266 closed

[2021-09-13 18:50] jridgewell opened #13756 "[Bug]: Incorrect `this.#foo++` transform when using BigInts"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

(Cross posting https://github.com/evanw/esbuild/issues/1600)

[REPL](https://babeljs.io/repl#?browsers=Chrome%2080&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=HYUw7gBAFAxgNgQwM5IgbwFAQgYgGYD2BEAvBAAzADcWEMBwSALgE4CuMTBLUAlOrWxMAFgEskA

[2021-09-14 07:51] Phazoning opened #13757 "[Bug]: Babel doesn't process module react-native-vector-icons on latest version, doesn't apply configuration"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

This is the module that is crashing, [react-native-vector-icons][1]

[1]: https://github.com/oblador/react-native-vector-icons

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

# Expected

Babel processes the

[2021-09-14 12:44] Webdvpv opened #13758 "[Bug]: Cannot find module '@babel/preset-env/lib/utils'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

You can see the problem here:
https://github.com/paulmillr/chokidar/issues/1147

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

While I use Nuxt.js, I got a module error.

### Environment

System:
    O

[2021-09-14 13:50] JLHwung commented on #13757
Can you attach the [effective config](https://babeljs.io/docs/en/configuration#print-effective-configs)?
[code]

[2021-09-14 14:05] JLHwung commented on #13756
I lean to the second approach where we reuse the unary operator `++`/`--` and it also future-proofs the [Decimal](https://github.com/tc39/proposal-decimal) proposal.

[2021-09-14 14:23] JLHwung commented on #13758
Duplicate of https://github.com/nuxt/nuxt.js/pull/8881.

Please update `@nuxt/babel-preset-app` to 2.15.6.

[2021-09-14 19:02] js-choi commented on #10135
Creating a utility function that would determine whether a variable is used only once in a specific expression—and then inlining that variable’s definition into the expression—would be needed for this, and it would definitely be useful in general for other proposals too.

[2021-09-14 19:13] JLHwung commented on #10135
Related: https://github.com/babel/babel/pull/13191#discussion_r629470415

[2021-09-14 19:23] jridgewell commented on #13756
Esbuild went with a getter/setter pair to avoid the issue:

[code]

We already have a very similar helper for [destructure targets](https://github.com/babel/babel/blob/710b3919fae1098e63e7d75535dd0c8597cf695f/packages/babel-helpers/src/helpers.ts#L1294-L1301).

[2021-09-14 19:48] js-choi commented on #10135
Ah, oof, that’s right; side-effect order is observable. Oh well; this probably should be closed then.

[2021-09-14 22:48] rufman opened #13760 "[Bug]: @babel/plugin-transform-react-constant-elements transforms non constant element in for loop"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]
### Configuration file name

babel.config.js

### Configuration
[code]

### Current and expected behavior

When the code is transformed the element is treated as constant when both `transform-block-scoping` and `transform-react-constant-elements` are used. [incorrect](https:/

[2021-09-15 01:36] JonathanMEdwards opened #13761 "[Bug]: error parsing typescript assertion signature"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[this doesn't parse](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABAQwM6oKYCcoAoIIAmMsCAXCmAJ4CUFAUGpjqogWMaUgN4C-QA&debug=false&forceAllTransforms=fa

[2021-09-15 07:27] Phazoning commented on #13757
I cannot manage to do it. Excuse if it seems too simple, but I haven't been with this for long. With build command you mean the node command as in the tutorial (which end up becoming on my case "react-native start", or the command to build the docz site?

[2021-09-15 07:31] nicolo-ribaudo commented on #13757
It should be the command you run in order to get the error you posted.

Btw, depending on the shell you are using you need a different syntax to set the enable the `BABEL_SHOW_CONFIG_FOR` variable: https://babeljs.io/docs/en/configuration#print-effective-configs

[2021-09-15 07:40] Phazoning commented on #13757
So, doing that on powershell, I get the following error:

[code]

I've manually checked and the file exists in the path and the path leads you correctly to the file. Also, it raises the same error when using the other backlash

[2021-09-15 08:25] Ayc0 opened #13765 "Can't compile `/\p{Letter}/u` in REPL"
When I try to compile this code:

[code]

the REPL crashes with the error `/repl.js: Unknown property: Letter`:

![image](https://user-images.githubusercontent.com/22725671/133397833-dab896da-668a-4c96-8907-b695d6b588be.png)

I have no settings enabled, except `present-env` + `ie11` (to force the compiling of unicode regexes), and I'm on the latest version (but I tried with all the other available

[2021-09-15 09:14] nicolo-ribaudo commented on #13765
Thanks! I'm moving this to the `babel/babel` repo because it's a `@babel/standalone` bug.

[2021-09-15 09:18] nicolo-ribaudo commented on #13757
Can you try with the absolute path?
[code]

[2021-09-15 09:23] Phazoning commented on #13757
When I do that the output is this:

[code]

[2021-09-15 10:55] fedeci commented on #13761
This bug comes from the `tsParseTypePredicateAsserts` function where we check that the `asserts` keyword does not have any line break before it. We should change the behaviour of that function to accept line breaks.
https://github.com/babel/babel/blob/710b3919fae1098e63e7d75535dd0c8597cf695f/packages/babel-parser/src/plugins/typescript/index.js#L1318-L1341

---

If anyone wants to help fixing this

[2021-09-15 11:24] JuniorTour commented on #13761
Can i take this?

[2021-09-15 11:33] fedeci commented on #13761
Sure!

[2021-09-15 21:45] #13765 closed

[2021-09-15 22:30] nicolo-ribaudo commented on #13760
I think a better solution would be in `@babel/traverse`, where we set `binding.constant`: if a `var` declaration is defined in a loop, it's _not_ a constant (it's reassigned as many times as the loop runs).

---

I'm assigning this to you, since you ticked the "Would you like to work on a fix?" bug. If you need any help, or you don't want to work on it anymore, let us know!

If it is the first tim

[2021-09-16 14:38] mokimo commented on #9849
`import 'regenerator-runtime/runtime'` in the root file and
`import 'regenerator-runtime/runtime'` in my jest.config.js helped

[2021-09-16 16:38] nicolo-ribaudo commented on #13757
It looks like you are using Webpack with `babel-loader`, and passing `configFile: false` to `babel-loader` which prevents it from loading `babel.config.js`

Or is there more output with more configs? (The one you posted is cropped)

[2021-09-16 17:01] rufman commented on #13760
I've started digging into the code.

[2021-09-16 18:13] ericbiewener commented on #10637
My version of getting typesafety:

[code]

The key here is that the `@babel/types` import must be the same version as the one used by `@babel/core` so that stuff like this will work:

[code]

If the versions are misaligned, trying to pass `path.node` to the above function from inside your plugin function will result in a TS error since `path.node` is getting its type from the version of `@babel/ty

[2021-09-16 21:14] #13094 closed

[2021-09-16 21:24] #13761 closed

[2021-09-16 23:44] loynoir opened #13773 "[Bug]: rename global variable not working"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

package.json

### Configuration

[code]

### Current and expected behavior

[code]

### Environment

- Babel version(s):
    @babel/core: ^7.15.5 => 7.15.5
    @babel/helper-plugin-utils: ^7.14.5 => 7.14.5
- Node: 14.

[2021-09-17 02:01] yoyo837 commented on #9849
This is not preferred

[2021-09-17 07:52] Phazoning commented on #13757
You're right, I didn't notice. I've edited the comment with a full output. Also, no other config araises, but a shortened version of that one

[code]

[2021-09-17 08:11] JuniorTour commented on #13773
A workaround could be visite `Identifier` and use `path.replaceWith(t.identifier('globalB'))`:
[code]

[2021-09-17 08:16] JuniorTour commented on #13773
And according to source code:
https://github.com/babel/babel/blob/51c6a99c8e49967ff62b11da7a54554fd0e8387b/packages/babel-traverse/src/scope/index.ts#L598-L604

`rename()` seems only work for `scope.bindings`, which i think is `local variable` in JS, not `global variable`.

I'm not sure whether it is designed only for `scope.bindings`? 🤔

[2021-09-17 09:32] nicolo-ribaudo commented on #13773
It's because we cannot rename the global variable definition.

If you have this code:
[code]
and you rename `a` to `b`, it will correctly log `2`.

If you have this code:
[code]
and you rename `a` to `b`, it will stop working and log `undefined`.

[2021-09-17 10:49] joepie91 commented on #9009
Just pitching in here with a slightly different usecase: I'm trying to transpile an entirely *different* language (Nix) to JS, reusing Babel infrastructure where possible. I have a working parser for that language, as well as code that transforms its output into an AST that's shape-compatible with ESTree.

But I can't use `@babel/traverse` to transform the Nix AST nodes to JS AST nodes, as it won'

[2021-09-17 15:59] rufman commented on #13760
I was able to set the constantness to false for variables inside a loop, but I'm getting regressions in other packages (like `babel-plugin-proposal-class-properties`) that I'm still confused about:
[code]
instead of `[this].concat(args)` there is now an unnecessary transform using a babelHelper.

[2021-09-17 16:40] nicolo-ribaudo commented on #13760
Could you open a draft PRs? :pray:
It makes it easier to understand if we can/shour:
- Avoid that change
- Accept that change
- Move the fix from `@babel/traverse` to `transform-react-constant-elements`, even if _in theory_ it's better to put it in `@babel/traverse`

[2021-09-17 21:02] loynoir commented on #13773
@nicolas-marien
Oh, I see that difficulty of implement.
So, if `global variable` and `local variable` are on two different road, then I think `path.scope.rename` should always keep `global variable` unchanged, but...

[code]

[2021-09-17 21:13] loynoir commented on #13773
@JuniorTour

Currently, I
- prepend a defination to `Program.body`
- conditionally logging `using two assumptions: ...`
- `scope.rename`
-  cleanup the prepended

Thus, seems safer and do less changes, things like parameters will not changed.
Although top level variable overwrite changed too, but acceptable.

[2021-09-17 21:49] loynoir commented on #13773
[code]

[code]

[2021-09-18 03:48] hyrious opened #13778 "[Bug]: Edge case in TSX: `<T,>(t: T) => t`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

The current output:
[code]
This is valid in TS, but invalid in TSX, because `<T>` is treated as a tag in TSX context.

Expected outpu

[2021-09-18 06:39] hyrious commented on #13778
Possible solution: keep trailing comma in type list:
[code]

[2021-09-18 08:43] nicolo-ribaudo commented on #13778
We can just always unconditionally print a trailing comma.

[2021-09-18 10:45] nicolo-ribaudo commented on #13778
@hyrious Since you already looked at the `@babel/generator` code, would you like to open a PR? Otherwise I'll mark this as a [good first issue] for anyone who is interested in contributing.

---

If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors kno

[2021-09-18 12:35] hyrious commented on #13778
@nicolo-ribaudo Thank you for inviting me. However I'll not be able to use *nix system in the next few days.
So I guess you could do the latter.

The "solution" I posted above was just a quick & dirty hack into node_modules, it just passed this single edge case and didn't follow common practices (it stores a value in an array). It's difficult for me to refactor it into a more robust one in such la

[2021-09-20 16:54] ChaitanyaGadodia commented on #13778
Hi! Can I pick this bug?

[2021-09-20 18:01] fedeci commented on #13778
It's yours!

[2021-09-21 09:30] elpddev opened #13779 "[Bug]: Order of parameter properties - Discrepency between typescript and bable"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

Original Code:

[code]

Babel Emit:

[code]

Typescript emits:

[code]

### Configuration file name

babel.config.js

### Configuration

For reproduction I've used the Babel online repl with Env stage 2 preset and Typescript preset.
[link](https://babeljs.io/repl/#?browsers=defaults%2

[2021-09-21 10:56] nicolo-ribaudo commented on #13779
When comparing TS with Babel, you should always enable the `useDefineForClassFields` TS option: it's the option that makes TS class fields like JS class fields, which is what Babel does and what TC will do in a future version.

After enabling that option, if you target ES2015-ES2021 it will first initialize `this.amount` and then `this.name`. However, if you target ESNext (and soon ES2022, when it

[2021-09-21 11:10] fedeci commented on #13779
From developer.mozilla.org:

[2021-09-21 12:57] nicolo-ribaudo commented on #13779
Yeah, but MDN doesn't define parameter properties, which are a TS extension.

[2021-09-21 14:24] JLHwung commented on #13760
I think whether a binding is constant should only depend on the declaration kind, it should not depend on whether the control flow will be re-entered.

IMO the binding is constant within its scope (defined by the loop body) because we can not re-assign it later:
[code]
The constant binding is re-created within every loop execution, which is not different than
[code]

I think it should be fixed in

[2021-09-21 17:35] nicolo-ribaudo commented on #13760
@JLHwung When we don't compile `const` to `var`, we already generate correct code. If you check [this repl with `var`](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABAUQB4EMC2AHANgUwAoBKAbwChFFg4AnRQgqRGRAXkQAYBuFxAHkQBGHiwDUY4ogpUqAN3T0kHGJVlg4AE3wBnAHTYQOgBaF-mmHMQRjMXJtr4wbUmAC-APn4B6C3I_Eam5qao5QILRIGto63ORuQA&debug=false&forc

[2021-09-21 17:46] jridgewell commented on #13760
I agree with @nicolo-ribaudo. Because the binding is hoisted to the function-level and can be reassigned in multiple loop evaluations, it's not really constant. Eg,

[code]

That's effectively the same as `var foo = i`, but we certainly wouldn't call this one constant.

[2021-09-21 22:24] JLHwung commented on #13760
Oh I see. The traverser incorrectly marks `binding.constant` as `true` for the `var` declaration in for loop.

[2021-09-22 01:33] loynoir opened #13780 "[Bug]: true `ignoreBrowserslistConfig` but reading `.browserslistrc`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

### Actual
[code]

### Expected
[code]

### Environment

[code]

### Possible solution

_No response_

### Additional context

### Not a real world use case

Just try to analyze

[2021-09-22 11:06] nnatter commented on #13701
Hey everybody,
I think we are running into the problem that `String.prototype.replaceAll` is not polyfilled when using the following configuration:

[code]

This example code leads to the following debug output:
[code]

[code]

Is there a workaround beside of explicitly importing the polyfill for the `String.prototype.replaceAll`?

Thanks a lot for your time and all the good work you are doing!

[2021-09-22 14:30] JLHwung commented on #13780
I can not reproduce this issue. And I notice that the command you have given actually test whether Babel accesses `.babelrc`. Can you try
[code]

[2021-09-22 15:07] loynoir commented on #13780
[code]

[code]

[2021-09-22 15:10] JLHwung commented on #13780
[code]

It seems that you have `.babelrc` somewhere. Did you try adding `babelrc: false` to your babel config?

[2021-09-22 15:23] loynoir commented on #13780
No, I don't have any babel config at default location.

[code]
[code]

Also, not a real world use case. 😂
Just happend to find that.
And everything seems fine.

[2021-09-22 15:28] loynoir commented on #13780
[code]

[2021-09-22 15:41] JLHwung commented on #13780
That's certainly strange: It should not load `browserslistrc` when browser targets are given to preset-env:

https://github.com/babel/babel/blob/3d1481f36382d0f335eda33e4a45efa930dd3681/packages/babel-helper-compilation-targets/src/index.ts#L190-L198

The read of `browserslist-stats.json` seems to be issued by the `browerslists`. AFAIK preset-env is not aware of the browserslist stats.

That's ok,

[2021-09-22 16:58] loynoir commented on #13780
https://github.com/loynoir/reproduce-babel-13780.js

[2021-09-22 17:09] nicolo-ribaudo commented on #13701
I just released `babel-plugin-polyfill-corejs3@0.2.5` with the fix for this!

[2021-09-22 17:09] #13701 closed

[2021-09-23 00:47] Josh-Cena commented on #9224
Hello, it's been almost a year now. Are there plans to expose imperative handles so I can call `transformDirectory` from node? Right now I'm still relying on `require('@babel/cli/lib/babel/dir')`, but 1) this is hacky and 2) it doesn't work well with TS because there's no typing.

[2021-09-23 12:00] evanw opened #13785 "[Bug]: the order of exports is incorrect when converting ESM to CJS"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Babel generates this code when converting ESM to CommonJS:

[code]

However, the order of exports is incorrect and does not match what nativ

[2021-09-23 19:28] pmcelhaney opened #13786 "[Bug]: runtime/helpers/esm/*.js import the CJS version of "typeof""
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

This lines from `node_modules/@babel/runtime/helpers/esm/possibleConstructorReturn.js`

[code]

should be

[code]

In other words, the second line should match the first. It should import the ESM version of `typeof.js` rather than the CJS version which lives in the pa

[2021-09-23 20:45] nicolo-ribaudo commented on #13786
The code which should "fix" the imports in the helpers is at in https://github.com/babel/babel/blob/178d43ff179e8f245b9e37887c14d689b5db1b07/packages/babel-plugin-transform-runtime/scripts/build-dist.js#L260.

If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible co

[2021-09-23 21:02] JeySamir opened #13787 "[Bug]: Error: Cannot find module 'node_modules\babel-loader\lib\index.js'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

src/index.js
[code]

### Configuration

package.json
[code]

webpack.base.conf.js
[code]

.babelrc.json
[code]

### Current and expected behavior

I'm trying to build my old working project, but it started throwing errors when building.
I tried to fix it by delete package-lock.json

[2021-09-24 16:39] pmcelhaney commented on #13786
I spent a few hours looking into and I'm lost. :(

With most of the  runtime helpers, `path.get("arguments")[0].node` is just the name of the helper, e.g. `"assertThisInitialized"`. But for typeof, it's the full path to the file without the esm directory (`"@babel/runtime/helpers/typeof"`).

https://github.com/babel/babel/blob/178d43ff179e8f245b9e37887c14d689b5db1b07/packages/babel-plugin-transfor

[2021-09-24 18:48] william-will-angi commented on #5261
+1 Would also like to see this addressed

[2021-09-24 20:03] JLHwung commented on #13787
Can you share the whole webpack build configuration? For example, the contents of "webpack.build.conf.js".

[2021-09-26 09:22] fisker opened #13791 "Improve message for `StrictNumericEscape`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

First, I don't think it's a bug, but I didn't see a better issue template.

When I try to parse this code with huge string, the parse

[2021-09-26 09:35] loynoir opened #13792 "[Bug]: how to use `path.skip()` without breaking other plugin?"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

### Expected
`path.skip()` will not conflict all the plugins after.

[code]

### Actual
`path.skip()` conflict all the plugins after.

[2021-09-26 11:01] ixth opened #13793 "[Bug]: Math.clamp is not polyfilled even with "include": ["esnext.math.clamp"]"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

Currently it leaves source intact, but I expect it to add `core-js/modules/esnext.math.clamp` import.

### Environment

  System:
    OS: macOS 1

[2021-09-26 14:12] #13785 closed

[2021-09-26 19:54] NotWearingPants opened #13794 "[Bug]: Gulp build fails immediately on Windows due to path issues"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

N/A

### Current and expected behavior

Running the commands above produces the following error on Windows:
[code]

The expected behavior is for the repo to build successfully.

### E

[2021-09-26 21:51] #13794 closed

[2021-09-26 23:00] NotWearingPants opened #13796 "[CI] Test babel builds on Windows"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

When attempting to contribute to Babel for the first time, I tried to setup a development environment on Windows, but the build scripts had a bug specific to Windows which forced me to first debug and fix something other than what I tried to solve (it wasn't too difficult, but still).

This bug was int

[2021-09-27 06:55] jantimon opened #13798 "add api for async module resolution"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

[linaria](https://github.com/callstack/linaria/) is using babel and webpack to extract css-in-js at build time.

webpack provides an [api to resolve modules](https://webpack.js.org/api/loaders/#thisresolve) based on the current webpack config.

linaria is [connecting](https://github.com/callstack/linar

[2021-09-27 14:22] JLHwung commented on #13780
The current behaviour is expected:
- `preset-env` does not load `.browserslistrc` as instructed by `ignoreBrowserslistConfig: true`. Actually since you have specified `targets`, you can safely remove `ignoreBrowserslistConfig`.
- `@babel/core` loads `.browserslistrc` because the [top level `targets`](https://babeljs.io/docs/en/options#targets) option is not provided. Note that `@babel/core` is una

[2021-09-27 18:04] JLHwung commented on #13792
Currently the visitors defined by plugins are merged into a single visitor before traversing:
https://github.com/babel/babel/blob/767b72f9c2f49f82049d15ef8eb10094b0164f9a/packages/babel-core/src/transformation/index.ts#L109-L114

So plugins operates within shared TraversalContext, thus `path.skip` will affect other plugins. As a workaround you can
apply the plugin in a single pass, i.e. initiate a

[2021-09-28 00:05] sosukesuzuki opened #13799 "[TS 4.5] Support type-only import/export specifies"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

Support TypeScript 4.5 new syntax type-only import/export specifiers.

### Describe the solution you'd like

Implement https://github.com/microsoft/TypeScript/pull/45998 in Babel

### Describe alternatives you've considered

Nothing

### Documentation, Adoption, Migration Strategy

microsoft/TypeScript

[2021-09-28 01:55] JLHwung commented on #13799
Implementation note: We can borrow some parsing logic from the flow plugin since Flow already supports type-only specifiers.

[2021-09-28 02:11] loynoir commented on #13792
Yeah, after I found `path.skip()` will conflict other plugin, I used something similar to way2 as workaround, record them with method key.

[code]

[code]

<details>
  <summary>babel is so cool</summary>
  <p>

FYI, `tw` is my `@babel/types` wrapper convert
from

`f(A:TA,B:TB,C:TC,D?:TD,E?:TE)`

to

 `f(opt: {A:TA,B:TB,C:TC,D?:TD,E?:TE})`

A babel library wrapper written in babel plugin to optioni

[2021-09-28 15:02] JLHwung commented on #12668
I can not reproduce this error on Babel 7.15: [REPL](https://babel.dev/repl#?browsers=IE%208&build=&builtIns=usage&corejs=3.6&spec=false&loose=false&code_lz=MYewdgzgLgBBCGBbADgGwKYGV2wLwzHQHcZsoAKAbQFYAaGAFnqcfoGZ6AmLnmbmAIz0hggLoBKANwAoUJBAYAdKhABzcos0IUGMlKA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&

[2021-09-28 19:13] #12499 closed

[2021-09-28 19:19] danieltroger opened #13801 "[Bug]: babel crashes when destructuring, after using `for await` inside of async IIFE"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

Code that reproduces the crash (only happens when targeting older engines like `IE 11`:

[code]

[REPL link that also crashes](https://babeljs.io/repl/#?browsers=IE%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=LYQwlgdgFAlA3AKASAzgTwgYwAQDMCuWAL

[2021-09-28 19:20] JLHwung commented on #13071
This issue has been fixed in #13089

[2021-09-28 19:20] #13071 closed

[2021-09-28 19:39] JLHwung commented on #13801
Duplicate of https://github.com/facebook/regenerator/issues/391

See also https://github.com/babel/babel/issues/11411 https://github.com/babel/babel/issues/10808.

I can not reproduce this issue on our fixture runner. I am investigating the REPL error.

[2021-09-28 19:55] danieltroger commented on #13801
I strongly disagree.
They're having set up issues with their config. For me, destructuring and everything is transpiled absolutely fine. I haven't changed my configuration in multiple months and transpiled hundreds of instances of destructuring. It's just this specific combination of destructuring, for await and an IIFE that triggers something. If I lift out the `for await` out of the IIFE there i

[2021-09-28 20:16] JLHwung commented on #13801
The root cause is identical: In https://github.com/facebook/regenerator/blob/dbbddd9bd8c099ed1cdfcecdd077b8b4e7f43042/packages/transform/src/hoist.js#L29 the regenerator transform does not support any destructuring patterns.

It seems to me we have plugin ordering issues in babel-standalone, for unknown reasons the array pattern is seen here even though it should have been transformed since the ho

[2021-09-28 21:04] danieltroger commented on #13801
Yeah, but parcels. Pinging @mischnic for pro knowledge on that - I'm using babel within parcel.

Sure, try this: https://drive.google.com/file/d/1jjx7Fw8QJCeJfEJc5eDDU7tD74bB4vvC/view?usp=sharing

You will have to execute `yarn build` and have yarn installed as it uses yarn berry. I bundled everything for extra reproductionness (which is why the file is so big).

[2021-09-28 21:24] mrtnzlml commented on #13462
I think it is still valid, yes, because I didn't have time to report it any further (to Jest) or try to fix it yet. 🙈

[2021-09-28 21:25] mischnic commented on #13801
It fails for me with

[code]
and
[code]

when running babel via `yarn babel index.js` on
[code]

[code]

[2021-09-28 21:36] nicolo-ribaudo commented on #13462
@KShivendu I assigned this to you, but it might be quite hard to debug sine:
- the error doesn't happen consistently
- it could be a bug in Jest and not in Babel

This issue can either be fixed in Babel, or reduced to a reproduction without Babel and reported to Jest.

[2021-09-28 22:15] nicolo-ribaudo commented on #13786
@pmcelhaney It looks like this is a problem when injecting an import _because the helpers is being transpiled and depends on another helper_, not for normal helper dependencies. In the `possibleConstructorReturn`, the helper itself does not depend on `typeof`: https://github.com/babel/babel/blob/89cab4311ce6dea0090d5819a721a1269765d6ec/packages/babel-helpers/src/helpers.ts#L618-L630

A working wor

[2021-09-29 14:38] JLHwung commented on #13801
Thanks. I can reproduce the error with these plugins now:
[code]

[2021-09-30 07:19] tbergq commented on #13462
I saw this issue again today, so It does still exist.

[2021-09-30 07:26] tbergq commented on #13462
I got the error on my local machine, but the same commit passed on the CI, so yes, it doesn't happen consistently.

[2021-09-30 08:30] tbergq commented on #13462
Delete node modules, clear yarn cache and run jest with `--no-cache` made it work on my local machine again.

[2021-09-30 14:59] JLHwung commented on #13801
I think I have figured it out what's going wrong here.

The `proposal-async-generator-functions` plugin initiates a [sub-traversal from the Program node](https://github.com/babel/babel/blob/89cab4311ce6dea0090d5819a721a1269765d6ec/packages/babel-plugin-proposal-async-generator-functions/src/index.js#L95) in order to run before `async-to-generators`. In this traversal context, it does not have acce

[2021-09-30 16:28] nicolo-ribaudo commented on #13791
We could automatically wrap code in error messages at 100 or 80 chars, so that terminals won't wrap and won't move the `^`. If you read it on a large screen, the current error is fine:
[code]

[2021-10-02 12:18] #13780 closed

[2021-10-02 12:34] #12668 closed

[2021-10-03 15:24] #13792 closed

[2021-10-04 10:00] Jessidhia commented on #13801
This is a regression from (at least) 7.13. The REPL doesn't seem to have 7.14 so I couldn't check that.

Smaller reproduction (the empty push is to skip static array optimization):

[code]

Relevant annotated output in 7.13.17:

[code]

Relevant annotated output in 7.15.7:

[code]

[2021-10-04 10:12] Jessidhia opened #13811 "[Bug]: Regression in `for await` transform, is not `await`ing iterator values"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Minimal example that shows the compilation issue:

[code]

More elaborate example that crashes at runtime

[code]

### Configuration file name

babel.config.js

### Configuration

https://babeljs.io/repl defaults with `not ie 11` in "targets" changed to `ie 11`

### Current and expe

[2021-10-04 13:44] lightmare commented on #13811
The yielded value is not supposed to be awaited, though:

(step 6.f.) https://tc39.es/ecma262/multipage/ecmascript-language-statements-and-declarations.html#sec-runtime-semantics-forin-div-ofbodyevaluation-lhs-stmt-iterator-lhskind-labelset

https://tc39.es/ecma262/multipage/control-abstraction-objects.html#sec-asynciterator-interface

[2021-10-05 01:03] Jessidhia commented on #13811
Oh, right, you are correct; the codegen here is not necessarily wrong. The code I expected is, however, part of the AsyncFromSyncIterator behavior (it awaits value before returning iterator result), and it doesn't seem to be happening either. I'll check again once I'm not on the phone.

[2021-10-05 03:12] Jessidhia commented on #13811
Yep, checking the full codegen:

[code]

The `asyncIterator` helper just directly returns the normal `@@iterator` if there's no `@@asyncIterator`, without actually wrapping it in an AsyncFromSyncIterator. The AsyncFromSyncIterator is supposed to unwrap the value before producing the final result (note 9 [in the algorithm explicitly spells it out](https://tc39.es/ecma262/multipage/control-abstracti

[2021-10-05 03:42] Jessidhia commented on #13811
Looks like the codegen change was done in https://github.com/babel/babel/pull/13491 (with no helper change)

[2021-10-05 10:07] lightmare commented on #13811
Thanks for the detailed explanation. So I guess another way to show the bug would be:
[code]

[2021-10-05 14:11] sin-ack opened #13815 "[Bug]: e.charCodeAt is not a function with @babel/plugin-proposal-unicode-property-regex"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

There's also this, but I think the necessary Unicode data is missing because it fails with `repl.jsx: Unknown property: L`:
https://babeljs.io/repl/#?browsers=defaults%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=M4OgL

[2021-10-05 16:02] JLHwung commented on #13815
There is a bundling issue in `@babel/plugin-proposal-unicode-property-regex` (likely fixed in https://github.com/babel/babel/pull/13767). As a workaround, use the `preset-env` in REPL and [it works](https://babeljs.io/repl/#?browsers=defaults%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=EQFQpgzgLgbwTgAgIYQCYDMYo8AdFAewBkCBjJAGzBIHcw4BhFMACgEpc4wAHCpU1gHoWA

[2021-10-05 17:58] sin-ack commented on #13815
Unfortunately I cannot readily provide the code as this is a work project. However, the snippet was taken from this function:
[code]

The babel config is attached in the issue comment, and there is no specific Webpack configuration in `next.config.js`. The Next version is 11.1. I will try to create a reproduction repo soon and update this issue.

[2021-10-05 23:49] overlookmotel opened #13819 "[Bug]: generate does not output innerComments on class expression"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavior

Would expect `generate()` to output code identical to the input, preserving the `/*foo*/` comment.

Actual output is `'(class extends X {})'`.

[2021-10-06 12:54] #13819 closed

[2021-10-06 22:06] NicholasBertazzon opened #13823 "[Bug]: process.on("SIGINT", () => proc.kill("SIGINT"));"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

process.on("SIGINT", () => proc.kill("SIGINT"));

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

This is not causing my SIGINT callback to fire (babel-node.js)
process.on("SIGINT", () => proc.kill("SIGINT"));

Meanwhile, if I rep

[2021-10-07 21:55] nicolo-ribaudo commented on #13786
Hi @pmcelhaney! Are you still working on this?

[2021-10-08 06:40] bkeren opened #13829 "[Bug]: cannot install the latest version of @babel/plugin-transform-spread"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

npm i -D @babel/plugin-transform-spread

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Yesterday I saw that, the new version of @babel/plugin-transform-spread was published. 7.15.8 as latest version. But I cannot insta

[2021-10-08 14:28] LongTengDao opened #13830 "[Bug]: jsx tagName this is not treated as string currently"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[repl](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=DwQwBA9AfA3AUMALgCwJYGdKwQQSzIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceTy

[2021-10-08 17:56] JLHwung commented on #13830
Related: https://github.com/babel/babel/pull/12279#issuecomment-770285954

[2021-10-11 18:49] nicolo-ribaudo commented on #13644
Could you try running `npx nls why @babel/parser`?

[2021-10-13 22:07] adminy opened #13847 "[Bug]: @babel/transform-react-jsx "Unknown term type: reference""
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

package.json

### Configuration

[code]

### Current and expected behavior

Compiles and runs as if I ran the js directly.

### Environment

Latest Available:
    "@babel/cli": "^7.15.7",
    "@babel/core": "^7.15.8",
    "@babel/node": "^7.15.8",
    "@babe

[2021-10-14 07:32] leepowelldev opened #13848 "@babel/preset-env does not transform invariant when used with babel-plugin-dev-expression 0.2.2"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBMAdgNwIZWKx8BmUIhwDkAdAPRJoZYxEDcAUAwMYSIDO8w7AaqgDbAAJnAC8cHAPYBTRg0rpM2ABTc-goQBpiAFQAW3BOzhY40qPihEAlHSA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=

[2021-10-14 18:18] JLHwung commented on #13823
The `SIGINT` signal is request of termination. It can be captured by the delivered process, which can determine if it should exit or not.

I think the current behavior is fine. Babel node just forward the signal and do nothing. It is up to the sub-process to interpret any signals.

If you want to kill the subprocess immediately, you can send a `SIGKILL` signal. But that is not recommended because

[2021-10-16 00:32] forivall opened #13853 "[Bug]: preset-typescript + plugin-proposal-class-properties tries to assign statics to ambient declarations"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[Babel REPL](
https://babel.dev/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAIQIZTgMyhEcDkA6AemShwG4AocgEwFMBjAGxRrkaQGd24AxCCOGgA8YNAHZUuxOAG9ycOOxhIYwOnABGKCgF9SQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleci

[2021-10-16 02:05] forivall commented on #13853
Possible workaround:
when i was testing, the following options.json is the one that replicates the issue:
[code]

But if I include transform-typescript as a plugin like so:
[code]
, the test case passes as now the typescript transform. I'm not sure if the plugin is deduped, the loading and passes determination code isnt immediately obvious. even if it isn't, conceptually, running the typescript tr

[2021-10-17 08:32] xsjcTony opened #13855 "[Bug]: TypeError: traverse is not a function when using @babel/traverse in node.js"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`@babel/traverse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

I'm using the same code example as in @babel/traverse doc page: [@babel/traverse - Babel](https://babeljs.io/docs/en/babel-traverse)
all outputs bel

[2021-10-17 13:28] nicolo-ribaudo commented on #13855
The docs are imprecise. They have been written before that Node.js released native support for ES modules, and they assume that you are transpiling your `@babel/traverse` usage.

If you are using native ESM, whenever the docs use a default import (such as `import traverse from "@babel/traverse"`) you need to get the default property of the default import:
[code]
This is a side-effect of how the CJ

[2021-10-18 07:02] #13855 closed

[2021-10-18 07:45] VisonM opened #13860 "[Bug]: Template literals in `require` expression are not converted correctly in webpack 4"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]
[code]

![image](https://user-images.githubusercontent.com/40595135/137687952-dc701d5d-aa6b-4f12-9934-722ff76cab6a.png)

### Configuration file name

.babelrc.js

### Configuration

[code]

### Current and expected behavior

![image](https://user-images.githubusercontent.com/

[2021-10-19 18:57] JLHwung commented on #13815
Maybe related: https://github.com/mathiasbynens/regexpu-core/issues/13#issuecomment-383811906

Do you have multiple versions of `regenerate` in your node_modules?

[2021-10-19 20:10] adminy commented on #13847
Thank you for looking into this.

[2021-10-21 16:53] nicolo-ribaudo opened #13868 "Consider breaking optimizations to `@babel/types`"
### 💻

- [ ] Would you like to work on this feature?

From https://github.com/babel/babel/pull/13843#pullrequestreview-782688935:

@jridgewell

@nicolo-ribaudo

You can handle custom AST modifications by changing `VISITOR_KEYS`.

@JLHwung

[2021-10-22 01:40] lgarron opened #13870 "Update the deprecation warning for `babel-eslint` to mention `@babel/eslint-parser` instead of `@babel/eslint`"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I was trying to figure out why `eslint` was failing on the `export` keyword in a `"type": "module"` project.

- A bunch of internet searches say to use `babel-eslint`.
- `babel-eslint` says it's deprecated and to use `@babel/eslint`.
- `@babel/eslint` says it's deprecated and to use `@babel/eslint-pars

[2021-10-22 16:44] bakkot opened #13872 "[Bug]: incorrectly rejects `await` when following a function with an arrow in default parameters"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

or

[code]

### Configuration file name

package.json

### Configuration

_No response_

### Current and expected behavior

These are both valid programs but are rejected with

and

respectively

### Environment

This is with `@babel/parser: 7.15

[2021-10-24 12:45] nicolo-ribaudo opened #13878 "[Bug]: Bodyless methods AST is different from `@typescript-eslint/parser`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

For the first `x();` we generate a `FunctionExpression` node without the `.body` property, while `@typescript-eslint/parser` generates a `TS

[2021-10-27 01:53] Rich-Harris opened #13888 "[Bug]: plugin-transform-modules-systemjs transformation is unsafe"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAbzgDzgXzgMyhEcDkAdAPTKEBWAzvgNwBQdwmcAFDFAK4CmAlInQEgAxhAB2leKgC8cAIz1hYyhAA2XQiogBz

[2021-10-27 15:55] JLHwung opened #13889 "Support destructuring-private"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

[Destructuring Private](https://github.com/tc39-transfer/proposal-destructuring-private) proposal just reached Stage 2. Babel should support parsing as well as transforming this feature.

### Describe the solution you'd like

For parsing, we can add a new parser plugin `DestructuringPrivate` and extend

[2021-10-29 08:37] felixhao28 opened #13894 "[Bug]: plugin-transform-arrow-functions no longer works for imported modules"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Reproduce repo:

https://github.com/felixhao28/babel-bug-repro-arrow-functions

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Current behavior:

The produced JS file still contains "=>" arrow functions despite having "@babe

[2021-10-29 16:18] serdec opened #13895 "[Bug]: babel-register preset-env not applied in node_modules"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

I get the following error when trying to transpile the `react-native` modules inside the `node_modules`

[code]

i created the following repo to reproduce the issue

https://github.com/serdec/babel-register-react-native-issue-preset-env

### Configuration file name

babel.co

[2021-10-29 18:10] JLHwung commented on #13895
Babel does compile react-native but this file uses Flow syntax, which is not supported by preset-env because it is not Standard JavaScript. You can add `preset-flow` to your Babel config.

[2021-10-29 18:25] aleclarson commented on #9683
Maybe `traverse` could accept an optional key? Then we could do this:
[code]

[2021-10-29 18:59] JLHwung commented on #9683
As a workaround you can invoke visitor directly on the root node, it should work as long as you don't have aliases in the visitors:
[code]

[2021-10-29 19:01] aleclarson commented on #9683
@JLHwung In that case, calling `.skip()` on `fooPath` (within the visitor) would not affect the `.traverse` call though, right?

[2021-10-29 19:05] JLHwung commented on #9683
Yes. A subtraverse has isolated traversal context.

Yes. A sub-traverse has isolated traversal context. Calling `.skip` in subtraverse does not affect the root traverse that Babel created for each file.

[2021-10-29 19:54] tolmasky opened #13896 "[Bug]: JSX pragma can happen anywhere in a comment"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

N/A

### Current and expected behavior

Currently, the above will actually generate this code:

[code]

But, even if ignore the syntax error, it seems to me that JSX pragmas should be

[2021-10-30 13:01] edgar0011 opened #13901 "@babel/plugin-transform-typescript@7.16.0 breaks transpilation"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: *path to any file*.tsx: Cannot read property 'path' of undefined
    at PluginPass.enter (node_modules/@babel/plugin-transform-typescript/lib/index.js:242:52)

### Configuration file name

.babelrc.json

[2021-10-30 13:20] serdec commented on #13895
thanks Huang, that solved the problem. However a few other problems of variables and environment not properly set come up (e.g __DEV__ not defined which i solved defining it globally).

Any suggestion on how to properly transpile react-native modules so that it is possible to use them with other testing frameworks other than jest?

[2021-10-30 16:51] ljharb opened #13903 "[Bug]: `super()` in class methods is not reported by `@babel/eslint-parser`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

[code]

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavior

I would expect a parse error, because `super()` is not valid except in `constructor() {}` and this is `contructor() {}`.

### Environment

v7.16.0 of `@babel/eslint-parser`,

[2021-10-30 17:15] ehoogeveen-medweb opened #13904 "[Bug]: Babel turns comments between lines into trailing comments"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

Repl link:
https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=EQVwzgpgBGAuBOBLAxrYBuAUJgZiAdqogPb5SwRwAUAlFAN6ZRQD0LUAwsQLbcT6woAQwBGxEINgALaADchSUQBsIAOiZQVg-fAByQvlAC8UAAxZmbTjz4DhYieRlQQAB2Q9E-AOabixVygAdykUKShEMHIQeHwIABMIgWJhcnghRCUvXw9eflh1Z

[2021-10-30 17:54] #13901 closed

[2021-10-30 19:10] JLHwung commented on #13904
If you check https://astexplorer.net/#/gist/03f767f5dbe210bd68f53a0e841b7d35/ddcf3abd498633acefc578aba4c50478eedb30eb, the comment `"This comment is intended to be relevant to the next line."` is inserted as the trailing comment of WhileStatement and the leadingComment of `console.log`, which is expected. In this case when Babel prints the AST to code, the `trailingComment` wins because whileState

[2021-10-30 20:15] JLHwung commented on #13903
Babel with estree plugin already throws: https://astexplorer.net/#/gist/03f767f5dbe210bd68f53a0e841b7d35/ddcf3abd498633acefc578aba4c50478eedb30eb

and we don't have "contructor" in the codebase anyway, I guess there is nothing can be done on Babel's side?

[2021-10-30 20:25] ljharb commented on #13903
hmm, then why does the test case pass for me in eslint-plugin-react? it fails properly in eslint 8.

[2021-10-30 20:29] ljharb commented on #13903
In AST Explorer, when i select the babel *eslint* parser, as opposed to the babel parser, it does not throw.

[2021-10-30 21:18] ehoogeveen-medweb commented on #13904
Thanks for the response! I don't expect babel to preserve the whitespace style, its decisions here just seem counterintuitive (and unfortunate since Prettier can't restore the comment to its original location).

It feels strange to me that a single line comment after a newline would still be counted as a `trailingComment`. Is every comment in between two sibling nodes always the `trailingComment`

[2021-10-30 21:24] nicolo-ribaudo commented on #13904
Consider this case:
[code]

The comment is on a new line, but for a human it should be clearly treated as a trailing comment. Unfortunately there isn't a clear algorithm to distinguish between the two positions 😕

[2021-10-31 07:22] FuryACE007 commented on #13786
Hi,
I am a newbie and I want to make my first open-source contribution. Could you please assign this bug to me?

[2021-11-01 02:02] felixhao28 commented on #13894
Thank you! I must have copied that from some boilerplate without thinking.

[2021-11-01 02:02] #13894 closed

[2021-11-01 06:49] lyz810 opened #13906 "[Bug]: cannot recognize propTypes as Class static props using @babel/eslint-parser@7.16.0"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

eslint throw an error
error  'test' is missing in props validation  react/prop-types

It should be no error, because `test` props defined in propTypes

It will pass if I

[2021-11-01 07:56] The-x-Theorist commented on #13872
@JLHwung Where should a test be written in a directory?

[2021-11-01 10:03] nicolo-ribaudo commented on #13906
The problem is that the `react/prop-types` rule doesn't support ESLint 8 yet: https://github.com/yannickcr/eslint-plugin-react/issues/3055

[2021-11-01 10:06] nicolo-ribaudo commented on #13872
You can add one for `await` in https://github.com/babel/babel/tree/main/packages/babel-parser/test/fixtures/es2017/async-functions and one for `yield` in https://github.com/babel/babel/tree/main/packages/babel-parser/test/fixtures/es2015/yield

[2021-11-01 12:03] pustovalov opened #13907 "[Bug]: Cannot read properties of undefined (reading 'constantViolations')"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

Before update:
[code]

All works fine

Behavior after update:
[code]

### Environment
[code]

### Possible solution

_No response_

### Additional context

_No respons

[2021-11-01 12:14] mrdzoviii opened #13908 "[Bug]: You may need an additional loader to handle the result of these loaders. When optionals are used in code. It worked on previous version."
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

let options;
if( request?. url) {
url = request?.url;
}

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

It expected start app but it fails with error: unexpected token. It worked on previous babel version.

### Enviro

[2021-11-01 13:19] nicolo-ribaudo commented on #13907
Until this is fixed, the only package you need to downgrade is `@babel/preset-env`

[2021-11-01 19:11] #13907 closed

[2021-11-01 20:29] nicolo-ribaudo opened #13913 "Babel targets don't recognize Node.js 16"
### Discussed in https://github.com/babel/babel/discussions/13912

<div type='discussions-op-text'>

#### Why does `Babel` transpile async functions to generators via `_asyncToGenerator` if target supports async/await?

<sup>Originally posted by **nlucero** November  1, 2021</sup>
I'm trying to understand why my transpiled code transforms regular async functions to generators via `_asyncToGenerato

[2021-11-01 20:30] nicolo-ribaudo commented on #13913
When targeting `node 16.0.0`, Babel complains that it's not a known Node.js version. When targeting `node >=14.0.0`, Babel doesn't transpile async functions.

[2021-11-01 20:34] nicolo-ribaudo commented on #13913
Oh thanks @JLHwung; the reason is https://github.com/babel/babel/discussions/13912#discussioncomment-1572410.

[2021-11-01 20:55] nicolo-ribaudo commented on #13786
Sure, thanks! If you need any help, feel free to ask here or on slack.

[2021-11-01 21:33] nicolo-ribaudo commented on #13903
I don't know why, but it looks like this is intentional:
https://github.com/babel/babel/blob/5b29557af9491cec39d555849054f70785be95fa/eslint/babel-eslint-parser/src/worker/configuration.cjs#L31

[2021-11-01 21:39] nicolo-ribaudo commented on #13903
We should probably just align with the current ESLint 7 and 8 behavior, since that PR was to align with the old ESLint/espree version.

[2021-11-01 21:42] nicolo-ribaudo commented on #13903
Other context for a similar behavior: https://github.com/babel/babel-eslint/issues/327

[2021-11-01 21:53] ljharb commented on #13903
oof, ok - so how can i opt out of this behavior?

[2021-11-01 21:57] nicolo-ribaudo commented on #13903
In your eslint config:
[code]

[2021-11-01 21:57] nicolo-ribaudo commented on #13903
Actually, babel/babel-eslint#327 is opt-in and not by default, so it's different.

[2021-11-01 22:00] nicolo-ribaudo commented on #13903
Currently ESLint accepts this code (our `allowReturnOutsideFunction`):
[code]

[2021-11-01 22:07] ljharb commented on #13903
`allowReturnOutsideFunction` is correct for CJS and transpiled ESM, but wildly incorrect for native ESM, so it seems like it should depend on the sourceType.

`allowSuperOutsideMethod` hasn't ever been correct, so i'm baffled why that'd ever be enabled.

[2021-11-01 22:08] nicolo-ribaudo commented on #13896
Yeah, that regexp was definitely meant to be with `^` and `$`.

[2021-11-01 23:38] birdofpreyru commented on #13060
As @fedeci suggests in his comment by the link above, the issue seems to be resolved in `@babel/eslint-parser@7.16.0` (at least, it does not manifest itself in my project, where I experienced it before).

[2021-11-01 23:51] birdofpreyru opened #13915 "[Bug]: `@babel/estlint-parser` fails in projects relying on `parserOverride`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

`@babel/eslint-parser` fails if Babel config in the host project relies on any preset / plugin using `parserOverride`. This happens because [`@babel/eslint-parser` itself uses it to capture Babel options](https://github.com/babel/babel/blob/05af38cff2d5fc2288ce79b11b755b361a7e946d/esl

[2021-11-02 00:35] peripateticus opened #13916 "[Bug]: [@babel/preset-env] In Safari, arrow functions with ...args as function parameter always get transpiled regardless of Safari version"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

On our current versions of Babel dependencies specified in our lockfile, this code does not get transpiled and passes through, as is. After updating to latest `@babel/preset

[2021-11-02 01:13] JLHwung commented on #13916
Can you update `browserslists` to the latest version? The `browserslists` comes with a `caniuse-lite` package which tells `browserslists` the currently _known_ Safari versions.

My guess here is that if `Safari >= 14` works for you, then the `caniuse-lite` may be out-of-dated and `browserslists` thinks that `Safari >= 15` is unknown Safari versions, which causes Babel fallbacks to applying all tra

[2021-11-02 01:33] peripateticus commented on #13916
Looks like I'm on the latest `browserslist`:

[code]

Running with `debug: true`, here's what I'm seeing:

[code]

[2021-11-02 01:53] JLHwung commented on #13916
The parameter transform kicks in because Safari has a bug on transforming parameters: https://bugs.webkit.org/show_bug.cgi?id=220517

You can add `bugfixes: true` the preset-env options to tell Babel: only transform parameters when the input code is actually affected by this bug. This will be enabled by default on Babel 8.

[2021-11-02 02:00] peripateticus commented on #13916
Yep that did it! adding `bugfixes: true` to the `present-env` option output:

[code]

[2021-11-02 02:02] #13916 closed

[2021-11-02 06:15] nicolo-ribaudo opened #13917 "Would you like to work on a fix?"

[2021-11-02 06:16] nicolo-ribaudo commented on #13917
I accidentally clicked somewhere and of generated this issue

[2021-11-02 06:16] #13917 closed

[2021-11-02 06:19] nicolo-ribaudo commented on #13915
This is probably a regression from when I refactored `@babel/eslint-parser`. Do you know if an older version worked?

[2021-11-02 06:20] #13913 closed

[2021-11-02 06:22] #13060 closed

[2021-11-02 08:18] birdofpreyru commented on #13915
@nicolo-ribaudo I don't know: before v7.16.0 (and #13782) it was not working for me (in my first-to-go project for testing risky upgrades) because of #13060.

[2021-11-02 08:30] nicolo-ribaudo commented on #13915
This was a silly error: after catching the error for the duplicate `parserOverride`, I was re-running Babel with the same options so it always threw again :grimacing:

PR: #13918

[2021-11-02 10:35] azeez1776 commented on #13872
Hello, can I work on the problem?

[2021-11-02 11:07] The-x-Theorist commented on #13872
@azeez1776 I'm currently working on this give me some time please, If I won't be able to take it forward I'll let you know.

[2021-11-02 11:09] azeez1776 commented on #13872
@The-x-Theorist Okay, wish you luck.

[2021-11-02 16:09] Safnaj opened #13920 "[Bug]: Support for the experimental syntax 'jsx' isn't currently enabled when building react native app by react-scripts"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

package.json

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

[code]

### Environment

[code]

### Possible solution

_No response_

### Additional context

_No response_

[2021-11-03 00:11] JLHwung commented on #13920
The error is thrown from the react-native-elements. As I can see your project uses `react-scripts` to build a react native app. The Create React App community [recommends](https://github.com/facebook/create-react-app#react-native) using `expo` to build a react-native app. Consider re-generate your project from expo.

[2021-11-03 00:22] JLHwung commented on #13895
You may try if [`babel-preset-expo`](https://github.com/expo/expo/tree/master/packages/babel-preset-expo) works for you, the Creact React App communities recommends building react native app by `expo`.

[2021-11-03 04:53] Safnaj commented on #13920
I am actually porting the react native elements to web using `react-native-web`. So using react-native script to run only in the web. Is there anything to do with the webpack ?

[2021-11-03 07:27] danieltroger commented on #13801
Yo @JLHwung just curious, why does the REPL link still crash?

[2021-11-03 07:42] The-x-Theorist commented on #13872
Error is recorded when await expression is parsed.
Inside `parseAwait()`
`this.expressionScope.recordParameterInitializerError(
      node.start,
      Errors.AwaitExpressionFormalParameter,
    );`

But how it can be avoided to not record the error for this scenario.

[2021-11-03 09:44] nicolo-ribaudo commented on #13801
The repl link in the issue original issue used Babel 7.15.7. It doesn't crash with 7.16.2: https://babeljs.io/repl/#?browsers=IE%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=LYQwlgdgFAlA3AKASAzgTwgYwAQDMCuWALmAPYTaiSzYDeC22ANgKZHZgoD6AJuS9gC8eEExQtEjTORTtUGTFzBEWAJxAAjVkLoNG2ANoBlNMA2kmAOnlYAkivVFSqgLoAubDUEA-T_X36ECwAHkQeXr7-AfrSELLYAA6qpMCcAsIACsmp4paqLCgWAG4sULTYRaL4LB4A

[2021-11-03 09:46] nicolo-ribaudo commented on #13920
I'm confused by the error: are you linting your `node_modules`? Or are you getting the error when using something different from `@babel/eslint-parser`?

[2021-11-03 09:50] nicolo-ribaudo commented on #13895
I don't think using `babel-preset-expo` would fix this. `@babel/register` ignores `node_modules` by default, and you need to explicitly un-ignore them: https://babeljs.io/docs/en/babel-register/#ignores-node_modules-by-default

Due to how `require()` hooks work, Babel has to decide if a file should be ignored _before_ reading the config, so `ignore` in the config won't work.

[2021-11-03 09:59] serdec commented on #13895
hey @nicolo-ribaudo thanks for your answer. You are actually right and the `babel-preset-expo` doesn't work.

However, `@babel/register` seems to run on the `node_modules/react-native`, in fact if you remove the `ignore` in the config you get the `import` syntax error, while with the `ignore` property that problem is solved. Also, the problem that i encounter don't seem related to javascript synta

[2021-11-03 10:26] nicolo-ribaudo commented on #13895
I tried cloning your repository, but I don't fully understand the problem.

1. If I run `node -r @babel/register app.test.js` I get this error, but it's expected because there is no Babel config (and because even if there was, by default it's not applied to `node_modules`):
[code]
2. If I run `node -r ./babel-register-start.js app.test.js` I get this error:
[code]
    which looks correct, because

[2021-11-03 10:29] nicolo-ribaudo commented on #13895
You could try using https://www.npmjs.com/package/babel-plugin-module-resolver to map that missing file to the android or ios version.

[2021-11-03 11:45] serdec commented on #13895
thanks Nicolo', yes i guess at this stage the problem is not related to babel anymore, but rather to `react-native`.

I doubt that simply mapping the `Platform` file is going to work, rather i guess i'd need to deal with the `react-native` setup.

[2021-11-03 11:45] #13895 closed

[2021-11-03 12:08] Safnaj commented on #13920
This is my folder structure and i am not linting `node_modules`.
If i can exclude `node_modules` from the rules checking the syntax, it will be fixed i think.

<img width="291" alt="Screenshot 2021-11-03 at 5 24 19 PM" src="https://user-images.githubusercontent.com/37530024/140055466-54edbed0-bde6-4293-b96f-2d39566f4753.png">

[2021-11-03 12:55] nicolo-ribaudo commented on #13920
Can you share a repository that reproduces the issue? It's strange because that error is coming when parsing a file in `node_modules`, but if you are not linting them I don't know why `@babel/eslint-parser` would try to parse them.

[2021-11-03 14:06] JLHwung commented on #13872
Good question! Note that the recorded error may not throw, it is eagerly recorded in case we need to throw later. For example,

[code]
Babel will create an `AsyncArrowScope` for `async (...`, we need to record the `await` error but we can't throw the error until we see an `=>` after `async( ... )`, otherwise we just discard the recorded errors.

Now let's head back to OP's example, I will mark the

[2021-11-03 14:28] footok opened #13922 "Babel throws invalid useBuiltins option after upgrading from Babel 6"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

.

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

I recently migrated from webpacker 3 to 5 and also babel 6 to 7
my package.json:

I used to use `.babelrc`, but after I ran `rails webpacker:install` I got a brand new `bab

[2021-11-03 14:45] footok commented on #13922
@JLHwung Hi thank you for your reply. I tried remove `.babelrc` and still getting the same error. I even tried to remove both of config files `babel.config.js` and `.babelrc`, but still getting the error. Tried to remove my `node_modules` and `yarn.lock` file and re-installed them but no luck. Seems like it doesn't recognise my config files changes

[2021-11-03 15:09] JLHwung commented on #13922
Can you print the effective Babel config?
[code]

[2021-11-03 19:40] tolmasky opened #13924 "[Bug]: allowImportExportEverywhere has inconsistent behavior"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

`allowImportExportEverywhere` seems to take on multiple duties, not only allowing one to place the import statement everywhere, but also allowing import and export to appear in "script" contexts. However, it does *not* allow `import.meta` to appear in "s

[2021-11-03 23:51] FabriSoftware opened #13926 "[Bug]: Unexpected Token '<' error in jsx"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

this code works in babel-loader 7.1.5 but i had to update all my babel dependencies and it gave me this error

### Environment

System:
    OS: Linux 5.4 Ubuntu 20.04.3 LTS (

[2021-11-03 23:56] nicolo-ribaudo commented on #13926
That is not valid JSX. Does it work if you remove the `{ }` around the comment?
[code]

If it still doesn't work:
- Can you share your webpack config?
- What is the path of the `.babelrc` file?
- What is the path of the webpack config?
- Which command are you using to run webpack?

[2021-11-03 23:58] #13906 closed

[2021-11-04 00:15] #13915 closed

[2021-11-04 06:56] #13903 closed

[2021-11-04 09:14] The-x-Theorist commented on #13872
@JLHwung Thank you helping out, this will help me for solving the problem. 😄

[2021-11-04 09:49] FabriSoftware commented on #13926
The {} I put when I wrote the issues

`/` = root of the proyect
webpack dir:
/webpack.config.js:
[code]

 /.babelrc

 and the commands I run is `webpack --mode development --watch`
or I also use the express-react-view engine that also uses webpack

[2021-11-04 16:18] nicolo-ribaudo commented on #13926
The only problem I see in your config is that you are mixing Babel 6 (`babel-preset-react`, in your webpack config) and Babel 7 (in your `.babelrc`). However, the error you see isn't caused by this problem. Could you create a repository that reproduces the error? It will help a lot with understanding what causes the problem.

Also, looking at your stack trace again it seems like you are trying to

[2021-11-04 20:13] JLHwung opened #13930 "[Bug]: Babel does not throw duplicated __proto__ when followed by a property whose value is an assignment expression"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[REPL](https://babel.dev/repl#?browsers=firefox%2091&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=BQbwUABBD60A4CcD2AXJsBcECGAaSM8yamO-U2W2EAvBAIxgC-AlEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&

[2021-11-05 01:09] SHESA-AmitBar opened #13933 "[Bug]: package.json isn't being converted to work for older node versions"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

Here's a simple GitHub repo that can represent the issue: https://github.com/SHESA-AmitBar/babel-bug

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

Expected behavior:
`package.json`'s use `exports` key for newer node.js versions but

[2021-11-05 03:44] JLHwung commented on #13933
The `exports` v.s. `main` are a part of Node.js module API, I think it is out of Babel's scope. Not to mention that Babel does not transform JSON.

For example, Node.js 10 introduced `fs/promise`. If you compile

[code]

to

[code]

and then run the compiled program on Node.js 6, it surely throws `fs/promises` is not found: You have to provide a polyfill for `fs/promises` or do a feature detection

[2021-11-05 07:53] footok commented on #13922
@JLHwung I'm not sure how I can print babel config as i'm running rails app, not node. Is there other ways to do that?

[2021-11-05 09:18] #8098 closed

[2021-11-05 10:06] VisonM commented on #13860
Indeed,this is an integration issue between Babel and webpack.I upgrade to webpack 5 everyting ok!Thanks.💗

But I think there should be some other fixed way for those who can't upgrade webpack5?

for example:
 1.  If i comment out presets in .babelrc.js in webpack4, everything also works fine!

2.
[code]

[2021-11-05 10:06] #13860 closed

[2021-11-05 11:47] LongJinCen opened #13934 "[Bug]: replaced node still be traversed"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

to reproduce, please clone this repo https://github.com/LongJinCen/babelTraverse

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

When traversing to a string, if the string satisfie

[2021-11-05 15:46] JLHwung commented on #13934
The behaviour is expected: Replacing a parent path or ancestral path does not skip current visiting node's siblings. It can't be handled by `@babel/traverse` because if we mark every to-be-replaced node and their children as should-be-skipped, the performance will be very slow.

For this reason we don't recommend using `replaceWith` on parentPath, ideally `replaceWith` should only be called on cur

[2021-11-05 19:41] #13872 closed

[2021-11-06 00:46] LongJinCen commented on #13934
Ok, I see. Thank you very much for your answer

[2021-11-06 02:58] dosentmatter commented on #9683
@JLHwung @nicolo-ribaudo

[#11051 has a function to sandwich the descendant node traversal in an `enter` and `exit` call on the root](https://github.com/babel/babel/issues/11051#issuecomment-578475287).

[code]

If the visitor calls `path.skip()` on the root node, would traversal be skipped for that node under the current context?

Is there a way to capture the `path.skip()` on the root node or wr

[2021-11-06 09:40] danieltroger commented on #13801
Oh, I didn't know the version was in the link. Alright, amazing!

[2021-11-06 11:21] Aarebecca opened #13935 "[Bug]: @babel/parser throws error when parsing specific regular expressions"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

**Current**:  As shown below, it throws an exception
![image](https://user-images.githubusercontent.com/25787943/140607629-1712c797-9

[2021-11-06 12:32] JLHwung commented on #13935
[code]

is invalid because the `\/` is interpreted as escaped `/` in the string template, instead of `\` and `/` respectively. Since the regex contains unescaped `/`, it throws a syntax error.

You can escape `\` by `\\`:

[code]

[2021-11-06 12:41] Aarebecca commented on #13935
Thanks! I guess I was careless.

[2021-11-06 12:41] #13935 closed

[2021-11-08 07:17] Zousdie opened #13939 "[Bug]: Unable to transform arrow inside class property"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

source code:
[code]

github repo: https://github.com/Zousdie/babel-bug-unable_to_transform_arrow_inside_class_property

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

SyntaxError "Unable to transform arrow inside class pro

[2021-11-08 13:48] #13933 closed

[2021-11-08 14:19] paztis commented on #13939
Hi

Same problem for me since the release of 7.16, without any code change on my side

[2021-11-08 14:35] nicolo-ribaudo commented on #13939
As a workaround, I think you can enable the `bugfixes: true` option in `@babel/preset-env`: https://babeljs.io/docs/en/babel-preset-env#bugfixes

[2021-11-08 14:45] GrosCanard commented on #13939
Hi,

I am having the same issue after running yarn upgrade and getting v7.16.0 on my project.

[2021-11-08 15:32] JLHwung commented on #13939
The root issue here is that we have transforms (e.g. class transform) which assume certain language feature (arrows) should be transpiled before. This is mostly true when a language feature is implemented before another universally among major browsers: In this case, the class property is implemented after arrow functions. So we don't expect transpiling arrows leaving class properties untouched.

[2021-11-08 16:35] nicolo-ribaudo commented on #13939
Whops, I didn't see your comment and I opened a PR to relax the check.

[2021-11-09 02:08] clhiker opened #13942 "[Bug]: Rewrite Iterative Method doesn't Work after Conversion"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]
Here is [babel repl](https://babel.docschina.org/repl/#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=PTAEBUEMGsFNQC4At6QE5sgT1JAdgCaIqgD2aAlgOYV6QA2oFCsmCFAbvALazKkEAUB3S4MoALygA2gEYANACZ5AZgC6AbmGjmrSAnIBZPkgGSxaaQGUs3A

[2021-11-09 03:36] JLHwung commented on #13942
Babel assumes the iterators of an array literal is always the builtin definition so that it can generate less code for the common array for-of loop. As a workaround, you can apply an identity function so that Babel will respect custom iterator method:

[code]

[2021-11-09 11:12] #13939 closed

[2021-11-09 12:53] clhiker commented on #13942
But I find if setting babel config as preset-react, the result code run by node is
[code]
Here is the [babel repl](https://babel.docschina.org/repl/#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=PTAEBUEMGsFNQC4At6QE5sgT1JAdgCaIqgD2aAlgOYV6QA2oFCsmCFAbvALazKkEAUB3S4MoALygA2gEYANACZ5AZgC6AbmGjmrSAnIBZPkgGSxaaQGUs3AEal6AOl1tymwYJChup

[2021-11-09 13:37] JLHwung commented on #13942
This is expected. Preset-react only transforms JSX, so the for-of is not transpired.

[2021-11-10 06:46] The-x-Theorist commented on #13930
I'd like to work on this issue.

[2021-11-10 08:08] nicolo-ribaudo commented on #13930
Thanks! If you need any help feel free to ask.

[2021-11-10 08:09] The-x-Theorist commented on #13930
How does a doubleProto assignment expression look like?

[2021-11-10 09:12] danieltroger opened #13946 "[Bug]: Repl fails with `.method must be a string (While processing: "base$1")`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://babeljs.io/repl/#?browsers=ie%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=LYQwlgdgFAlA3AKAGYCZaIDYFMAuACMPAXjwAZEQBnATwgGM8kBXenMAewj1EljwG8EePHU6V22AHQZ2AcygAiABZgF8IXhAB3cPm268EJhgyJhoiOKkz5YdQF8ECKrQbNWHLqj6Dh-sPhGJmaaOgGGxqYaYADUMY

[2021-11-10 09:29] danieltroger opened #13947 "[Bug]: babel transforms chained awaits (`await await`, etc) incorrectly"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

When executed untranspiled, the code logs `1` to the console. When executed after transpilation, the code logs `0` to the console.

[REPL Link](https://

[2021-11-10 12:43] nicolo-ribaudo commented on #13947
This bug also happens without regenerator: we transform `await await null` to `yield null`.

[2021-11-10 14:28] JLHwung commented on #13946
The REPL currently does not support plugin with required options. In this case, the `plugin-polyfill-regenerator` requires an `method: "usage-global" | "usage-pure" | "entry-global"` option. As a workaround you can use `preset-env`, which uses `plugin-polyfill-regenerator` under the hood.

I will move this issue to the website repo.

[2021-11-10 14:39] JLHwung commented on #13930
A doubleProto assignment is an object literal with duplicate `__proto__` key:
[code]
However, the duplicate `__proto__` key is allowed in destructuring:
[code]
so we should track such errors in `refExpressionErrors`, and then throw later when we are sure it is a pattern. In this issue, the `a = 1` tricks the parser to think `__proto__: a, __proto__: a,` has been in a pattern, so we should check ho

[2021-11-10 21:56] nrgnrg commented on #13498
I'm also using `esbuild` and `@testing-library/react` and am getting this error

[2021-11-11 02:16] vhenzl opened #13950 "Recent versions are not published in NPM registry"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

N/A

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

The last published version of all Babel packages on NPM is 7.16.0. There are three consequent tags in this repository (v7.16.1, v7.16.2 and v7.16.3) t

[2021-11-11 02:26] vhenzl commented on #13950
I'm stupid. I didn't realise that only changed packages are published with a new version therefore there isn't any `@babel/core` or `@babel/preset-env` in version `7.16.3`. Sorry for the noise.

[2021-11-11 02:26] #13950 closed

[2021-11-11 06:14] The-x-Theorist commented on #13930
@JLHwung Thank you for helping, I'm soon opening a PR.

[2021-11-11 07:16] nicolo-ribaudo commented on #13950
Yeah sorry this can be confusing! We have 100+ packages, and we found that publishing all of them every time often causes problems.

[2021-11-11 13:20] clhiker opened #13952 "[Bug]: Destructuring to a Super Field is not Supported yet."
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]
Here is the Babel [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=MYGwhgzhAEBiD29oG8BQ1rHgOwgFwCcBXYPeAgCgAcD4qIBKFdDaAbgoG0APAGmgB0QiESoBTAgNABLMdjwBdaAF5oNOozYsAvqm1A&debug=false&forceAllTransforms=false&shippedProposals=false

[2021-11-11 14:34] nicolo-ribaudo commented on #13952
SWC's output is wrong: `_get(_getPrototypeOf(Foo.prototype), "client", this) = ref.slice(1)` is not valid JavaScript (could you report this bug to them 🙏).

[2021-11-11 16:45] JLHwung commented on #13924
Related: https://github.com/acornjs/acorn/pull/1019. The option `allowImportExportEverywhere` has been there since [day one of acorn](https://github.com/acornjs/acorn/commit/980845994016f67f7c4b4ac606355477e487d441). Babel parser inherits the option interface.

I think we can allow `import.meta` in scripts via `allowImportExportEverywhere`.

On the `allowImportExport`, I think we may need more use

[2021-11-11 17:08] tolmasky commented on #13924
Sure, but that was before `import.meta` was even proposed. In that original commit, the behavior was much more predictable and deterministic: "all import related features would be allowed everywhere". Only 2 years later was `import.meta` added, at which point this feature became "undefined" with respect to `import.meta`, and the mere emergent behavior of the existing code gave us today's behavior,

[2021-11-11 18:33] tolmasky opened #13953 "[Bug]: DirectiveLiterals seem to "over-escape" when generated from a parse"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

Outputs:
[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Current behavior: this above code outputs `["\\t hi", "\t hi"]`
Expected behavior: I would expect it to output `["\t

[2021-11-11 19:01] tolmasky commented on #13953
So the line in questions seems to be the following, in `stmtToDirective`:

https://github.com/babel/babel/blob/d5ba35586754da12ae406f6012b24d7f02ac17a6/packages/babel-parser/src/parser/statement.js#L162

Here, Babel is performing the inverse operation that I will eventually perform, turning a StringLiteral into a DirectiveLiteral. Except, instead of keeping the existing `value` from StringLiteral,

[2021-11-11 20:55] JLHwung commented on #13953
Yes, because
[code]
should not be interpreted as a `"use strict"` directive. The spec requires a directive to be an [exact codepoint sequence](https://tc39.es/ecma262/#sec-directive-prologues-and-the-use-strict-directive), so we preserve the escape in its `value`, while the `value` of a StringLiteral corresponds to [SV](https://tc39.es/ecma262/#sec-static-semantics-sv) (the unescaped text) in the

[2021-11-11 21:03] tolmasky commented on #13953
Ah, I see, I was interpreting that to mean to that you should be comparing the raw value (as in, doing .rawValue === ...). Makes sense. In that case is there a simple way to go from raw to "normal" value? JSON.parse is insufficient since JSON.parse does not allow for newlines in strings.

[2021-11-11 21:21] tolmasky commented on #13953
This is kine or tricky because the `StringLiteral` to `DirectiveLiteral` transformation drops the `value` information, the original generation of which seems non-trivial, requiring taking the `rawValue` and rerunning it through `Tokenizer.readString` (and thus `Tokenizer.readEscapedChar`) to replicate. It's a shame because this work *has* already been done, only to then be undone later. If there w