[2020-01-22 11:00] soryy708 commented on #11036
I've just tried the same repro repo with the `/`s replaced with `\\`s as so:

    "test": "mocha --require @babel/register \"subrepo\\{,!(node_modules)\\**}\\*.test.js\" --exit"

There is no change to the output - I'm still reproducing.

[2020-01-22 13:54] calaquend1 opened #11045 "Error .options is not a valid Plugin property"
when i run
[code]
which is in package.json
[code]

I get an error
[code]

I've added this part of the error by myself
[code]

in @babel/core/lib/config/validation/plugins.js
[code]
this happens cause of date-fns, obviously

rollup.config.js
[code]

.babelrc
[code]

[code]

[2020-01-22 13:56] nicolo-ribaudo commented on #11045
`external()` is a `rollup` plugin, not a Babel plugin.

[2020-01-22 15:33] aradzie commented on #10996
I had the same issue recently. It was because of mis-configured Babel combined with Webpack which caused application of Babel to its own sources. In my case it worked as follows:

- Webpack bundles modules from `node_packages`.
- Webpack uses the `babel-loader` plugin to transpile sources from `node_packages`.
- One of the modules in `node_packages` is a Babel file with the `_typeof` helper functi

[2020-01-22 16:32] ElkinCp5 commented on #8599
![image](https://user-images.githubusercontent.com/26524274/72913250-e211b500-3d0a-11ea-8d09-011b90bfe49e.png)

[2020-01-22 21:35] kaicataldo commented on #11042
Seems like a nice thing to add to Espree/Acorn (https://github.com/acornjs/acorn-jsx), as well!

[2020-01-22 22:11] jridgewell commented on #11042
This is a breaking change, so getting it in with Babel 8 would be good.

[2020-01-22 22:19] bradzacher commented on #11042
Is there a timeline for the babel 8 release?
If it's soon, and there's limited bandwidth, I'd be happy to try and cobble together a PR.

[2020-01-22 22:31] jridgewell commented on #11042
We're just a few weeks away: https://github.com/babel/babel/issues/10746

This is actually a super easy fix, so it's a Good First Issue. Do you want to do it? The only changes necessary are in https://github.com/babel/babel/blob/1815c349877acca1d3275ea72512ee7824db49e3/packages/babel-parser/src/plugins/jsx/index.js#L411-L447, and some tests.

[2020-01-22 23:14] arku commented on #10988
An update on this issue: I took my time to debug the parse function on the input `(await) => {}` and was able to get a feel for the parser flow. There's a lot going on in it but I have a basic idea of the process. I have started working on my PR and will submit a WIP PR in the next few days.

[2020-01-22 23:15] bradzacher commented on #11042
Sure thing, I'll take a look at it in the next few days.
I'd love to get this in for babel 8, as I think it's a huge win.

[2020-01-23 02:57] existentialism commented on #10988
@arku awesome!

[2020-01-23 05:14] ELLIOTTCABLE commented on #10353
I had high hopes, @nicolo-ribaudo, but unfortunately, it doesn't look like #10352 resolved this particular problem! )=

With `babel --version #=> 7.8.3 (@babel/core 7.8.3)`,

[code]

I'm still getting:

[code]

[2020-01-23 09:32] drcmda commented on #8361
Here's another solution that neither needs a plugin nor export *, which for us wasn't feasible:

before

[code]

after

[code]

[2020-01-23 09:57] nicolo-ribaudo commented on #10353
It fixed it for the parser but not in `@babel/traverse|

[2020-01-23 09:59] wolf-benjamin commented on #10996
I am experiencing the same problem.
@aradzie how can I disable Babel in the `@babel/runtime package`?
Thx!

[2020-01-23 10:21] aradzie commented on #10996
@wolf-benjamin Maybe we should create a separate issue for the maintainers of Babel to take care of this problem. I mean to add something like `.babelignore` or `.babelrc.js` directly to package `@babel/runtime` to resolve this bug automatically for all Babel users.

Meanwhile I just excluded anything under the `node_modules` directory from Babel. But this is not an ideal solution because who know

[2020-01-23 10:49] aradzie opened #11047 "Disable Babel in the @babel/runtime package."
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
The combination of Webpack with Babel may cause a problem such as #10996 if the `@babel/runtime` package is not explicitly excluded from Babel. This package contains helper functions which must not be transpiled by Babel. However, if care is not taken to exclude, Webp

[2020-01-23 10:58] nicolo-ribaudo commented on #11047
I think that there is still value in transpiling it sometimes, for example to include polyfills for the functions used by the helpers.
I think we could so something ad-hoc for the type of helper.

[2020-01-23 11:07] aradzie commented on #11047
Looking at the plugin [source code](https://github.com/babel/babel/blob/1815c349877acca1d3275ea72512ee7824db49e3/packages/babel-plugin-transform-typeof-symbol/src/index.js#L39-L51) it seems like it already tries to detect the situation when the typeof helper is applied to itself. Is this the case? If so, then that code probably is not working properly and needs to be fixed instead of this issue.

[2020-01-23 11:16] wolf-benjamin commented on #11047
To me it seems Webpack tries to take care of the case that another typeof function exists by reassigning it to

`var _typeof2 = __webpack_require__(/* @babel/runtimehelpers/typeof */ "./node_modules/@babel/runtime/helpers/typeof.js");`

before using this new function to do the work. But somehow this doesn‘t get the job done: The error `_typeof2 is not a function` gets thrown.
Let me know if I‘m on

[2020-01-23 11:20] aradzie commented on #11047
@wolf-benjamin No, please take a look at the imported module id. It is the same as the module id in which the helper function is declared. The module imports from itself! And this is the result of application  of Babel to its own helper function.

PS I am preparing a small project to demonstrate the bug.

[2020-01-23 11:23] wolf-benjamin commented on #11047
Btw, adding ignore/exclude commands for `@babel/runtime` in `babel.config.js` seems not to work.

[2020-01-23 11:33] aradzie commented on #11047
And here is the repository I created to demonstrate this issue -- https://github.com/aradzie/babel-typeof-bug

[2020-01-23 13:05] sebinsua commented on #8361
It looks like the real fix will be using ["type-only imports and exports"](https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#type-only-imports-exports) in the next version of TypeScript (3.8).

However, that won't stop people from accidentally importing types using normal imports and exports and potentially breaking a build output transpiled with Babel.

I wish there was a

[2020-01-23 13:31] vkrol commented on #8361
@sebinsua

See `importsNotUsedAsValues` option https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#type-only-imports-exports.

[2020-01-23 14:15] wujekbogdan opened #11048 "[Docs]"
--------------^ Click "Preview" for a nicer view!
We primarily use GitHub as an issue tracker; for usage and support questions, please check out these resources below. Thanks! 😁.

---

* Slack Community Chat: https://babeljs.slack.com (you can sign-up at https://slack.babeljs.io/ for an invite)
* StackOverflow: https://stackoverflow.com/questions/tagged/babeljs using the tag `babeljs`
* Twitter: I

[2020-01-23 14:25] nicolo-ribaudo commented on #11047
@aradzie Thanks! I didn't know that we already tried to prevent this.

[2020-01-23 14:29] aradzie commented on #11047
@nicolo-ribaudo Unfortunately this seems to be a recurring bug.
As @soryy708 mentioned in #10996, these issues may be related:
#2954
#3737
https://swizec.com/blog/dont-worry-its-a-compiler-bug/swizec/6764

[2020-01-23 14:30] nicolo-ribaudo commented on #11047
I'm preparing a PR

[2020-01-23 15:53] soryy708 commented on #10996
In the repro repo https://github.com/soryy708/typeof3.default-repro of https://github.com/babel/babel/issues/11036 node_modules is `ignore`d in `babel.config.js`, but the error still happens.

[2020-01-23 16:30] aradzie commented on #10996
@soryy708

Try something like
[code]

in your `babel.config.js` file.

[2020-01-23 17:39] soryy708 commented on #10996
That glob matches only `node_modules` in the root. My repro is a monorepo where there are 2 packages, one in the root level and one inside `subrepo/`. Your glob would ignore `node_modules` in the root but not in `subrepo/`.

[2020-01-23 17:44] liuxingbaoyu opened #11051 "How to traverse root path"
Hello, how do I traverse the root path?
I found [this issue](https://github.com/babel/babel/issues/9683), but it has been idle for a long time.
Is there any good way? thank!

[2020-01-23 18:20] nicolo-ribaudo commented on #10996
Since it's a regular expression and not a glob, it should also ignore nested `node_modules`.

[2020-01-23 18:41] serhalp opened #11052 "v7.8.0 introduces a non-backwards-compatible change"
Babel design docs claim that [Babel follows semver](https://github.com/babel/babel/blob/master/doc/design/versioning.md). However, Semantic Versioning claims that non-backwards-compatible bug fixes should be released as major versions.

`v7.8.0` included this PR: https://github.com/babel/babel/pull/10887. This PR changes the behavior of the public API, namely `--ignore` combined with `--copy-files

[2020-01-23 18:43] serhalp commented on #11052
Oh, hmm, it's possible this was introduced in 7.7.7 actually, as it looks like parts of this feature were released in https://github.com/babel/babel/pull/10831 which landed in 7.7.7.

[2020-01-24 13:09] sidntrivedi012 commented on #10766
@JLHwung Was looking into this issue but not able to proceed with how to triage it. Can you please give any directions? Thanks.

[2020-01-24 17:05] gravis commented on #8193
Any news on this?

[2020-01-24 18:09] nicolo-ribaudo commented on #11052
I think that we could change the default if it's not too late.

---

Btw, I don't agree with

No bugfix is backward compatible if someone is relying on the bug.

[2020-01-24 19:52] tracker1 opened #11056 "Update to Chokidar 3.x in babel cli"
You're currently referencing an older version of Chokidar in babel cli, which in turn references an older version of fsevents, which seems to have had a point release that is causing issues in npm installs in windows...

Would you please consider updating to Chokidar 3.3.1 (current)?

This is somewhere between a bug and a feature, and pretty much removed the template as it doesn't quite fit this c

[2020-01-24 21:09] nicolo-ribaudo commented on #11056
It will be done in Babel 8: https://github.com/babel/babel/issues/9981#issuecomment-529808712

[2020-01-24 21:09] #11056 closed

[2020-01-24 21:37] ELLIOTTCABLE commented on #10353
Ahhhh, I see. Just to be sure: the non-registration fix _should_ affect this combination of an ES6 module-star-import and a class-type-declaration?

Should I open a separate Issue somewhere else? 😣 I took a look at your changes, and dug around [`checkBlockScopedCollisions`](https://github.com/babel/babel/blob/740064ce/packages/babel-traverse/src/scope/index.js#L345-L369) in hopes that perhaps I co

[2020-01-24 21:42] nicolo-ribaudo commented on #10353
Well, when we introduce a big new feature like TS it will inevitably sneak across all the core modules :man_shrugging: :stuck_out_tongue:

[2020-01-24 21:55] nicolo-ribaudo commented on #8361
This will be fixed in the next minor version: you will be able to use `export type { Interface }`.

[2020-01-24 21:57] nicolo-ribaudo commented on #10981
We will also need to introduce the `importsNotUsedAsValues` option (https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#type-only-imports-exports)

[2020-01-24 22:01] nicolo-ribaudo commented on #11051
Currently this is not possible.
You can do something like this:
[code]

I'm closing this as a duplicate of the issue you linked.

[2020-01-24 22:01] #11051 closed

[2020-01-25 11:33] liuxingbaoyu commented on #11051
@nicolo-ribaudo Thank you! Should I `exit` after `enter`?

[2020-01-25 14:11] nicolo-ribaudo commented on #11051
Oh yeah, right!

[2020-01-25 14:18] STRML commented on #11052
Additionally, the code appears to have a bug - or perhaps an intent I don't understand.

Imagine I am compiling a whole project, and I run something like `babel -out-dir build/ --copy-files --ignore '.git/,migrations/,test/' .`, to compile all the files in the project and copy them into `build/`.

With files like the packfiles in `.git`, the file will be marked as `FILE_TYPE.NON_COMPILABLE` (https

[2020-01-25 14:47] liuxingbaoyu commented on #11051
Thanks!

[2020-01-25 16:08] liamfd commented on #11007
@JLHwung thank you for the detailed explanation! I'll give that solution a shot.

[2020-01-25 19:53] nicolo-ribaudo commented on #11052
I agree: a PR would be appreciated! I'm discussing with the team about the default value of the `copy-ignored` option.

[2020-01-25 20:41] Maushundb commented on #10690
Any update on this?

[2020-01-25 20:43] joebowbeer commented on #10690
@Maushundb it was published on 1/13 in 7.8.3

[2020-01-25 20:52] nicolo-ribaudo commented on #10690
Right! Now Babel is able to parse those features by default. So this config will work:
[code]

Note that if you want to transpile ECMAScript features you'll also need to add `"@babel/preset-env"`.

[2020-01-25 20:52] #10690 closed

[2020-01-26 07:24] liuxingbaoyu commented on #11051
This works for me.
[code]

[2020-01-26 10:52] AriPerkkio opened #11057 "@babel/plugin-transform-block-scoping breaks when scope.crawl() is used by another plugin"
## Bug Report

Hello, I've found some compatibility issues between `@babel/plugin-transform-block-scoping` and two community plugins (`babel-plugin-transform-react-remove-prop-types`, `babel-plugin-remove-debug`). The common thing between these two plugins is that they are using `scope.crawl()` method. When I comment out that method from `babel-plugin-transform-react-remove-prop-types` the bug see

[2020-01-27 10:31] PerpetualWar commented on #10809
is this gonna happen soon ?

[2020-01-27 12:32] nicolo-ribaudo commented on #10809
It has been released in v7.8.0

[2020-01-27 14:57] azizj1 commented on #10690
Doing a `yarn upgrade` on both `@babel/preset-env` and `@babel/preset-typescript` worked for me

[2020-01-27 21:02] #8571 closed

[2020-01-27 21:02] #9127 closed

[2020-01-27 21:02] #10996 closed

[2020-01-27 21:02] #11047 closed

[2020-01-27 21:02] #11036 closed

[2020-01-27 21:34] nicolo-ribaudo commented on #11052
@existentialism @kaicataldo @hzoo Do you have any opinion about this? I'm inclined to change the default value of the option to match the old behavior, but we shouldn't wait too much.

[2020-01-27 21:39] kaicataldo commented on #11052
I think it makes sense to do a patch release with the non-breaking default value.

[2020-01-27 21:43] existentialism commented on #11052
Agree

[2020-01-27 23:09] apmitchell commented on #10997
@nicolo-ribaudo how can I pull the patched version, if upgrading node isn't an option?

[2020-01-28 04:54] nsdevaraj commented on #10997
Same issue in termux

[2020-01-28 08:45] Thisen opened #11060 "Feature Request: Add "--caller" option to @babel/cli"
## Feature Request

- [X] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
I'm currently building some tooling for a monorepo. In here, I want to build each package as CommonJS and ES modules. Therefore, I want to be able to add parameters to `caller` argument, so I can detect which target I should build for.

I want to have a single `babel.

[2020-01-28 09:04] wan2land opened #11061 "wrong js code when using ts constructor assignment"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
If a module imported from TypeScript has the same name as a constructor parameter, a bug occurs.

**Input Code**
- REPL or Repo link if applicable:
  - [babeljs repl](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAbziApgZzQQwObAHbZwC-cAZlBCHAOSnBQoBGmaKAtJgCYj7UBQfFAA9Is

[2020-01-28 15:25] holt-mansfield-finaeo commented on #9668
Babel transpiles my code in a few seconds. Then I run tsc to get types and wait over a minute.

I'm working in a monorepo and I have several watchers in place. I was hoping I could use babel to speed up my workflow. I need the typings because I'm using the code in other packages as I'm developing.

If babel could ever figure out how to emit types tsc would be a thing of the past.

[2020-01-28 20:11] juanmait commented on #10997
Same error using babel-loader and webpack. It won't compile.

[2020-01-28 20:12] nicolo-ribaudo commented on #10997
We are going to release a new version in a few days.

[2020-01-28 21:27] nicolo-ribaudo commented on #9668
What makes TypeScript slower than Babel is not transforming your code: it's exactly figuring out types.
It's technically possible to create something around Babel (a plugin isn't enough, because it needs to analyze multiple files at the same time) which replaces `tsc`, but I think that you will hardly get any benefit for an enormous amount of added complexity.

[2020-01-29 00:29] robwalch opened #11064 "Super class getter invoked with incorrect context in loose mode"
[Given REPL](https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=true&code_lz=MYGwhgzhAEBCkFNoG8BQ1rAPYDsIBcAnAV2Hy0OgAoA3MEAShXQ2nwAsBLCAOjpGgBeaPwDcLAL4sA5gnxsEBKkzStohOcUI42XXmMmopqUJBgB5AEYAraAgAe-BDgAmMeBCSrMuAiTIU1PwqLBgQxAAOCIS09AyGGAD0idDmNNGEnC5IsvhOlGCu0MSe0OFRhDJyCkohahr4Wjrl0TxOBOIYUsbYePJYNkLQOAgA7qk2VETECAzivRBYIAg8IFjSVAPWbYr4cya-Sytm0fibNjsEADTQAOQAkjRYANac

[2020-01-29 09:31] AmberCode commented on #10997
Not sure it it helps for you, but we had the same issue and it looks like it runs fine with node v12.14.1 and npm v6.13.4.

[2020-01-29 18:53] Matheus1714 commented on #10997
My jest-enzyme tests were failed because this error. I change the node and npm versions for node v12.13.1 and npm 6.12.1 using nvm v12.13.1. My tests ran correctly after that.

[2020-01-29 19:42] Expertweblancer commented on #10997
After I upgraded the latest node version (13.7), It works well
Thanks

[2020-01-29 21:27] mattgrande opened #11067 "Installing @babel/preset-env is failing"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I'm attempting to install `@babel/preset-env`, and it is failing with the following message:

[code]

You can see the log file here: https://gist.github.com/mattgrande/3ab7e88213ecb6089babf5ccafd47bb9

**Input Code**
`npm install @babel/preset-env`

**Expected behavior/code**
A successful installation

**Babel Configuration

[2020-01-29 21:43] nicolo-ribaudo commented on #11067
`npm` has downloaded corrupted data. Try cleaning the cache and re-installing it.

[2020-01-30 00:30] mattgrande commented on #11067
[code]

That did it! Thank you!

[2020-01-30 03:18] existentialism commented on #11067
@mattgrande closing for now, but let us know if you run into any other problems!

[2020-01-30 03:18] #11067 closed

[2020-01-30 05:59] vedantroy commented on #10941
Status update.

I managed to partially fix the issue. Look at this commit: https://github.com/vedantroy/babel/commit/18c95592cf4c861763cf4d616ddad9cc57328ef1

Currently:
[code]
is transpiled to
[code]
However, the transpilation is broken when the inner loop body re-declares the exported variable, like this:
[code]
this transpiles to
[code]
Do any Babel contributors have thoughts?

[2020-01-30 12:01] #11052 closed

[2020-01-30 12:45] nicolo-ribaudo commented on #10997
v7.8.4 has been released.

(The fix is line 9 of https://unpkg.com/browse/@babel/helper-compilation-targets@7.8.4/package.json)

[2020-01-30 19:14] drabelo opened #11073 "No matching version found for @babel/compat-data@^7.8.4"
Randomly today, my CICD pipeline broke during the npm install step. It's throwing
[code]

I saw that compat-data was updated to 7.8.4, but for reason my environment is not able to find it? Does anyone have any insight?

[2020-01-30 20:37] formichi3 commented on #11073
I am experiencing the same issue with @babel/parser and @babel/traverse
`Error: Couldn't find any versions for "@babel/parser" that matches "^7.8.4"
    at MessageError.ExtendableBuiltin (/usr/local/lib/node_modules/yarn/lib/cli.js:721:66)
    at new MessageError (/usr/local/lib/node_modules/yarn/lib/cli.js:750:123)
    at Function.<anonymous> (/usr/local/lib/node_modules/yarn/lib/cli.js:50129:13)

[2020-01-30 20:39] formichi3 opened #11075 "Couldn't find any versions for "@babel/parser" that matches "^7.8.4""
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.

[2020-01-30 20:39] #11075 closed

[2020-01-30 20:39] formichi3 commented on #11075
accidental

[2020-01-30 20:45] existentialism commented on #11073
It's definitely there:

https://www.npmjs.com/package/@babel/parser
https://unpkg.com/browse/@babel/parser@7.8.4/

Are you behind a proxy/registry cache?

Can you attach the output of:

[code]

[2020-01-31 03:33] bgl-tand commented on #11073
Having the same problem as of today

[2020-01-31 04:06] dforbes49 opened #11076 "Sha issue with @babel/compat-data version 7.8.4"

[2020-01-31 04:07] dforbes49 commented on #11076
Apologies hit enter accidentally before I got to type my message. Issue with @babel/compat-data version 7.8.4
error sha512-lHLhlsvFjJAqNU71b7k6Vv9ewjmTXKvqaMv7n0G1etdCabWLw3nEYE8mmgoVOxMIFE07xOvo7H7XBASirX6Rrg== integrity checksum failed when using sha512: wanted sha512-lHLhlsvFjJAqNU71b7k6Vv9ewjmTXKvqaMv7n0G1etdCabWLw3nEYE8mmgoVOxMIFE07xOvo7H7XBASirX6Rrg== but got sha512-cHaa41T/RoakGXgjOAzqhSCAW

[2020-01-31 08:36] nicolo-ribaudo commented on #11076
Try clearing you npm cache and reinstalling it.

[2020-01-31 08:44] 0xEther commented on #10707
I am having the exact same problem as described. The debug package is not compiling in babel to rid it of those arrow functions and `let` declarations. Breaks the application in IE11.

[2020-01-31 09:23] nicolo-ribaudo commented on #10707
What's your config?

[2020-01-31 09:38] HunterJS-bit commented on #11076
Not working event after clearing npm cache

[2020-01-31 11:12] 0xEther commented on #10707
The issue I had was the use of debug as a dependency in the socket.io-client module. Updated to 1.6.0 and it resolved.

Have also since read that downgrading to debug@3.2.6 works.

[2020-01-31 11:40] Qix- commented on #10707
Downgrading is not a solution. Are you building node modules too? Or just your own code?

[2020-01-31 12:35] AntonTymczenko opened #11079 "Parsing error: Unexpected reserved type bool"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

Eslint throws an error while parsing `.propTypes` of a React component
[code]

**Input Code**
[code]

**Expected behavior**
Eslint process should pass without errors.

**Babel Configuration (package.json#babel)**
- Filename: `package.json`

[code]

**Environment**

[code]

[2020-01-31 12:54] Fortur commented on #10221
Hi, if found solution for this bug in nest.js:

instead of this code
[code]

you need to use this
[code]

[2020-01-31 13:05] AntonTymczenko commented on #11079
False alarm, guys.
Parser threw this error because of some unclosed `)` in a place where completely different prop was described.

That's what happens when your component has too many (and/or too complicated) props.

[2020-01-31 13:05] #11079 closed

[2020-01-31 14:59] drabelo commented on #11073
It started working for me! It was something to do with the package not being found in our private registry, but it was there after 24hrs.

[2020-01-31 16:01] #11073 closed

[2020-01-31 17:05] miran248 opened #11080 "transpile everything (including node_modules)"
Is there a way to transpile not just the source code but also all referenced `node_modules`packages?

I've tried setting the exclude rule (attached regexp) in webpack config to exclude certain packages but the result was still the same.
[code]

---

Some libraries are either published untranspiled or transpiled with newer targets than what my project targets.

I've tried using `preset-env` but end

[2020-01-31 17:07] existentialism commented on #11080
@miran248 check out the [documentation for babel.config.json](https://babeljs.io/docs/en/config-files#project-wide-configuration)!

[2020-01-31 17:21] sbrudz commented on #10221
`@Body` is being used as a parameter decorator, which requires ["babel-plugin-parameter-decorator"](https://www.npmjs.com/package/babel-plugin-parameter-decorator) in addition to "@babel/plugin-proposal-decorators" for it to work.

[2020-01-31 17:54] miran248 commented on #11080
Can't believe it!
All I had to do was rename `.babelrc` to `babel.config.json` and it started working..
Thanks for the quick help!

[2020-01-31 17:54] #11080 closed

[2020-01-31 18:07] jkrems commented on #7294
Bit rot prevention measure / narrator: It didn't move forward.

CommonJS modules are currently exposed strictly as a `default` binding without support for named exports.

[2020-01-31 18:17] miran248 commented on #11080
Had to do few more steps to get `html-webpack-plugin` and some other things working again.

For anyone, facing the same issues, I've added the following to the new `babel.config.json`:
[code]

.. and to the js section of the `webpack.config.js`:
[code]

[more info](https://stackoverflow.com/a/59647913)

[2020-01-31 18:53] nicolo-ribaudo commented on #11076
This should be fixed in `@babel/compat-data@7.8.5`.

[2020-01-31 18:53] #11076 closed

[2020-01-31 18:55] nicolo-ribaudo commented on #11064
The problem is that Babel doesn't analyze the base class (usually it's defined in a separate file), so we don't know if `super.foo` references a getter, a property or a method :thinking:

I think that we should just document this problem.

[2020-02-01 11:44] Lodin opened #11084 "[plugin-proposal-optional-chaining] Loose mode produces unoptimized code for class methods"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
The `loose` mode of `optional-chaining` plugin compiles class methods in non-optimized way repeating the call to the method instead of remembering its result.

It does not happen for function call though.

**Input Code**
- REPL or Repo link if applicable: [Runkit](https://runkit.com/lodin/optional-chaining-repeating-call-to-

[2020-02-01 12:49] 0xEther commented on #10707
Just my own code; I attempted everything under the sun to transpile debug down to ES2015 and nothing worked.

[2020-02-01 12:56] nicolo-ribaudo commented on #11084
Note that this bug only affects optional calls. Optional member expressions are already memoized in loose mode.

[2020-02-01 12:57] oliverdunk commented on #11084
I'd love to work on this one :)

[2020-02-01 14:27] sidntrivedi012 commented on #10784
I would like to work on this. 🙂

[2020-02-01 17:51] Qix- commented on #10707
I'm still entirely confused. `debug` doesn't do anything special with how it exports functions.

This needs an official Babel response - I can't debug vague bug reports, sorry guys.

Please keep in mind - most issues with `debug` aren't specific to `debug` - it's just that it's one of the most used packages on npm, and thus one of the first things people see when they have bad configurations. I ha

[2020-02-01 18:13] dominiczaq commented on #10707
Yep. The problem reported in this issue is connected with not transpiling whole node modules. Even if the export of debug was changed, you're going to get the same error from different package.

To transform whole node modules instead of just your app change .babelrc to babel.config.js and configure your webpack accordingly.

Apart from fixing this issue you'll have more flexibility in how you shi

[2020-02-01 19:25] mattgoucher commented on #6226
👏

[2020-02-02 02:24] openorclose commented on #8839
Tried the first example out and still resulted in the same error on v7.8.4

[code]

I would like to work on this if still needed!

[2020-02-02 10:17] nicolo-ribaudo commented on #10707
I agree that this is not a `debug` bug, but a problem with how Babel has been configured.

If you configure Babel to transpile node modules but it still isn't working, please provide a minimal repository I can clone to investigate.

Since the original one has been fixed by @JLHwung I'm going to close this issue, but feel free to attach a reproduction here.

[2020-02-02 10:17] #10707 closed

[2020-02-02 12:09] MilanBgd commented on #10997
I had the same issue. I updated to the last Node version (13.7) with Homebrew and it works well. Thanks guys!

[2020-02-02 15:31] 1nfility opened #11085 "Cannot use @babel/preset-env with @babel/core after code has ran through webpack"
## Bug Report

I'm trying to transform code into es5 using nodejs, but i get an error if the code trying to transform a string of code, has been through webpack first. If i create a ``test.js`` file, and do the exact same I do not get an error.

This is the error I get: https://i.imgur.com/z6DeJGQ.png

**Webpack Rule**
[code]

**Transform to es5 code**
[code]

**Environment**
[code]

[2020-02-02 16:18] TrySound opened #11086 "Transform regex feature from normalize-url package"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
I use normalize-url package in browser code. Since v5.0 code contains regex syntax not supported by safari 13.0.3.
[code]
Here's the error I get
[code]
For context
https://github.com/sindresorhus/normalize-url/commit/76172da85d377d5221413117e5398d3af37db60f#diff-16872

[2020-02-02 17:29] nicolo-ribaudo commented on #11086
Lookbehind assertions cannot be transpiled :disappointed:

[2020-02-02 17:32] nicolo-ribaudo commented on #11085
Does this work?

[code]

If it doesn't, then it's now a Babel bug but, for some reason, the `@babel/preset-env` package is not available.

[2020-02-02 17:33] TrySound commented on #11086
This is sad. Thanks for the answer!

[2020-02-02 17:33] #11086 closed

[2020-02-02 17:40] 1nfility commented on #11085
@nicolo-ribaudo That worked, thank you so much! I tried to fix this bug for so many hours.

[2020-02-02 18:02] nicolo-ribaudo commented on #11085
Ok, if it works you can also remove eval.
The problem was that webpack didn't know that it had to bundle preset-env.

[2020-02-02 18:19] 1nfility commented on #11085
Removing eval will cause it to not work.

[2020-02-02 18:33] nicolo-ribaudo commented on #11085
Oh that's super strange :thinking:
Did you kept the `require()` call after removing eval?

Anyway, this seems to be a problem with your bundler and not with Babel.

[2020-02-02 18:33] #11085 closed

[2020-02-02 18:38] 1nfility commented on #11085
Yes, I kept the require call, seems like webpack messes the require call up, but putting it into a string and an eval call causes webpack to not *transform* the require.

[2020-02-02 23:37] nicolo-ribaudo commented on #11085
Oh then it won't work in a browser. Btw, why are you bundling Babel? Usually you only want to bundle the code generated by Babel, not Babel itself.

[2020-02-02 23:38] nicolo-ribaudo commented on #8839
It's yours!

[2020-02-03 01:04] brokensandals opened #11087 "types.isReferenced incorrectly returns true for object/class method param identifiers"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

For code like this:

[code]

calling `isReferenced` for the `baz` node returns `true`.

**Input Code**

Here's a (failing) test case to demonstrate:

[code]

**Expected behavior/code**

`isReferenced` for `baz` should be `false` because it is simply declaring a param for the method.

**Babel Configuration (babel.config.js,

[2020-02-03 04:48] mnpenner commented on #5618
@loganfsmyth Where does it say "deprecated"? On the contrary, it says:

@zetavg You don't have to require in the whole module, you can just resolve it:

[code]

I suspect this will be more efficient if you use `env` to conditionally load some of the plugins.

------

My use case is for docker. I want to install the `node_modules` into my image and then mount my app directory. Since `node_modules`

[2020-02-03 07:31] openorclose commented on #8839
Thanks!

[2020-02-03 09:27] nicolo-ribaudo commented on #11087
Good catch!
Regarding your commit, please don't use `.includes` because we still support Node 6.

[2020-02-03 14:15] 1nfility commented on #11085
It's only for a script in development on the main process.

[2020-02-04 16:03] openorclose commented on #10471
This looks to have been fixed by https://github.com/babel/babel/pull/10053

[2020-02-04 22:06] #11007 closed

[2020-02-05 03:06] maggiew61 commented on #8482
 I tried all the methods here until my colleague pointed out that I didn't remove another babel v6 package, and so it was still there in package.json. I removed it and installed a few babel v7 packages and it finally worked.

this is my working .babelrc
{
  "presets": [
    [
      "@babel/preset-env"
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properti

[2020-02-05 08:43] nitroponiesnetwork opened #11097 "Compat-data triggering clam AV detection for win exploit CVE"
Greetings,

Since babel-compat-data version 7.8.4 has been released, I am getting virus analysis reports about two files, here is the clam log :

`/home/www/*******/node_modules/@babel/compat-data/build/compat-table/es6/index.html: Win.Exploit.CVE_11844-6367494-1 FOUND
/usr/local/share/.cache/yarn/v4/npm-@babel-compat-data-7.8.4-bbe65d05a291667a8394fe8a0e0e277ef22b0d2a/node_modules/@babel/compat-d

[2020-02-05 09:00] nicolo-ribaudo commented on #11097
Thanks for the report! It has been fixed a few days ago in 7.8.5

[2020-02-05 09:00] #11097 closed

[2020-02-05 17:10] JLHwung commented on #11045
Closing this since the configuration is invalid.

[2020-02-05 17:10] #11045 closed

[2020-02-05 17:15] JLHwung commented on #11034
@yangxiaolin Can you share the repository?

[2020-02-05 23:59] #11087 closed

[2020-02-06 02:25] Pranav2612000 commented on #10746
Hey. I would love to contribute to Babel 8. What are some easy features I can work on? I think I can work on :-

Are there any other issues I can contribute to and help?

[2020-02-06 11:57] nicolo-ribaudo commented on #10746
Another good one could be https://github.com/babel/babel/issues/9546, which would give you the chance to dig into `@babel/parser`'s internals.
Or maybe `Disallow using babel.transform, babel.transformFile, babel.transformFromAst, babel.parse, babel.loadOptions and babel.loadPartialConfig synchronously`, which is probably a bit easier.

If you want to work on the `TODOs left in the comments contain

[2020-02-06 13:28] timelessover opened #11099 "export"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.

[2020-02-06 13:28] #11099 closed

[2020-02-06 13:29] timelessover commented on #11099
1

[2020-02-06 14:07] anilanar opened #11100 "babel-types typescript generator emits wrong type for Identifier.name"
TLDR; type generator script falls short when generating a type for `Identifier.name` thus it falls back to `any`.

Proposed change:

1) Define a helper function called refine. I took the name `refine` from [Refinement types](https://en.wikipedia.org/wiki/Refinement_type):

[code]

2) Use `refine` for `Identifier.name` field validator definition:

[code]

3) Update `stringifyValidator`:

[code]

4)

[2020-02-06 15:04] jacksonStone commented on #11034
Broken for me as well. Updating all Babel libs just now and it started not working. Just seems to not transform. My ...'s remain! :) No errors thrown by babel. It's as if my options for the plugin are simply ignored. (Closed source so unable to share unfortunately.) Will try rolling back versions

[2020-02-06 15:10] nicolo-ribaudo commented on #11034
@jacksonStone Can you at least share your config, its path, and the path of the file which is not being correctly transpiled?

[2020-02-06 15:11] jacksonStone commented on #11034
I'll see if I can make a minimal repro

[2020-02-06 15:26] jacksonStone commented on #11034
I think I was too quick to jump on the bandwagon. Fairly straightforward repro attempt in a much simpler project worked as expected with my combination of dependencies. Probably a false alarm on my part. Sorry all

[2020-02-06 16:17] gilly3 opened #11103 "Documentation: Getting started guide recommends deprecated plugin @babel/polyfill"
## Bug Report

**Current Behavior**

The documentation steers new users to use [`@babel/polyfill`](https://babeljs.io/docs/en/babel-polyfill), which is deprecated.
- In the "[What is Babel?](https://babeljs.io/docs/en/index.html)" page, the first link goes to `@babel/polyfill`.
- Step one of the [usage guide](https://babeljs.io/docs/en/index.html) recommends installing `@babel/polyfill`.

**Input

[2020-02-06 18:22] Gallevy opened #11104 "@babel/core parseFile"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
ParseFile method to parse code from a file into AST

**Describe the solution you'd like**
a parseFile method, similar to transformFile but just to parse into AST

**Describe alternatives you've considered**
using @babel/core transformFile and using the result AST

**T

[2020-02-06 18:31] kaicataldo commented on #11104
Mind adding some more information about why the existing [`parseSync`](https://babeljs.io/docs/en/babel-core#parsesync) and [`parseAsync`](https://babeljs.io/docs/en/babel-core#parseasync) methods don't cover your use case?

[2020-02-06 19:05] Gallevy commented on #11104
I want to read an entire directory. Methods like transformFile do help you read entire files. But with parse you don't have parseFile which leaves me with two options. Either read the file myself and use the parse method with the read file or use transformFile and only care about the AST

[2020-02-06 20:52] kaicataldo commented on #11104
Just to be clear, are you expecting the `parseFile` method to do this? That seems out of scope.

I'd like to hear from other team members, but I personally don't think this proposal meets the bar for inclusion in core, since you would need to running this programmatically anyway and iterating through a directory of files, reading their contents, and calling the parse method on these contents isn't

[2020-02-06 21:40] Gallevy commented on #11104
No, just read a single file, similar to how transformFile works

[2020-02-06 23:43] danez commented on #9981
Seems this was merged into the v8 branch.

[2020-02-06 23:43] #9981 closed

[2020-02-07 07:59] fbartho commented on #5408
Is there any way to solve this?

[2020-02-07 08:46] Ninita1 opened #11107 "Babel 7 don't convert index.js properly"
I have a React project which I migrated from Babel 6 to 7. And now I'm facing a little problem when trying to build my package.

I already figured out the problem is when the Babel commands are run.

This is my `"babel"` script on my `package.json`:

    "babel-build": "cross-env NODE_ENV=buildES6 babel ./src/components/ --ignore **/stories,**/*.test.js --source-maps --out-dir ./dist/my-component/

[2020-02-07 09:49] subhero24 opened #11108 "Babel-node not working with "type": "module" in package.json"
I have the following script that I'm running with `npx babel-node script.js`
[code]

It executes fine with my babel config
[code]

When I add "type": "module" to my package.json file, the `npx babel-node script.js` command fails to run and I get the error `SyntaxError: Unexpected token '?'`.

So it seems specifying my package as module, prevents babel-node from loading the babel config?

[2020-02-07 12:16] jackmellis commented on #10337
Is there any more news on this issue? This actually breaks builds using rollup and I’m struggling to find a workaround that doesn’t involve abandoning the Babel plugin

[2020-02-07 13:25] sidntrivedi012 commented on #10784
@JLHwung I was working on this. Wanted to ask that how and where should I requeue the `key` child of `ClassProperty`?

[2020-02-07 14:55] josias-r commented on #7926
Also, the non-watch mode has some colours for paths i.E, when errors appear. Would be nice if the Cli would do it similarly.

[2020-02-07 16:44] novendi commented on #7926
Duplicate of #

[2020-02-07 21:03] nicolo-ribaudo commented on #11108
This is currently expected. `@babel/register` (used by `@babel/node`) only works with CommonJS scripts, because Node.js doesn't have a stable API yet to intercept ES modules loading.

[2020-02-07 21:07] nicolo-ribaudo commented on #10337
In the next minor release, you'll be able to explicitly mark type-only exports using
[code]

[2020-02-07 21:09] nicolo-ribaudo commented on #11107
If you don't want to transpile modules, you shouldn't enable `@babel/plugin-transform-modules-commonjs`.

[2020-02-07 21:09] micopiira commented on #9903
I can't believe how hard was to find this. I found here from @vue/babel-preset-app source code.

Basically all I want to do is to:

- Include only necessary polyfills for target environment using @babel/preset-env
- Transform the babel helpers into imports using @babel/plugin-transform-runtime

The problem is that the babel helpers themselves need polyfills when targeting IE 11 for example.

Thank

[2020-02-07 21:11] nicolo-ribaudo commented on #9903
Your config looks fine to me: if a dependency (`@babel/runtime`) uses modern features not supported by your target envs, it should be transpiled.

There were a few problems when transpiling the `typeof.js` helper from `@babel/runtime`, but they have been fixed in v7.8.4.

[2020-02-07 21:20] micopiira commented on #9903
@nicolo-ribaudo Alright, thanks for your insights!

I also noticed that when setting `useESModules: true` on plugin-transform-runtime you can leave the `sourceType: 'unambiguous'` out. `useESModules: true`  seems to produce a slightly larger bundle than just using `sourceType: 'unambiguous'` . Which one should I use? Or both?

[2020-02-07 21:42] #10786 closed

[2020-02-07 21:53] nicolo-ribaudo commented on #9903
`useESModules: true` should provide a smaller output when using Rollup because it handles ES modules better than CJS.
Webpack 5 might have the same benefit because it concatenates ES modules.

However, if you don't use native ES modules it shouldn't make too much a difference anyway.

[2020-02-07 22:07] micopiira commented on #9903
sourceType | @babel/plugin-transform-runtime useESModules | result
-- | -- | --
module | FALSE | errors
module | TRUE | 157KiB
unambiguous | FALSE | 154KiB
unambiguous | TRUE | 159KiB

Did some tests.. I'm using webpack 4. sourceType: 'unambiguous' + useEsModules: true seems to include both helpers/*.js and helpers/esm/*.js.

So you should probably use `sourceType: 'module' + useESModules: true` O

[2020-02-07 22:08] nicolo-ribaudo commented on #9903
Probably they are both included because one of your dependencies already depends on the non-ESM version.

[2020-02-07 22:21] micopiira commented on #9903
@nicolo-ribaudo I did not have any dependencies other than babel/webpack related. See here https://github.com/micopiira/babel-webpack-test

But using when using `sourceType: 'module' + useESModules: true` OR `sourceType: 'unambiguous' + useESModules: false` the helpers are only included once. Only combination of `sourceType: 'unambiguous' + useEsModules: true` includes them twice.

[2020-02-08 06:40] yoyo837 commented on #9849
I'm use `@babel/plugin-transform-runtime`, still got this issue.

[2020-02-08 09:15] Ninita1 commented on #11107
I already tried;
[code]

but the problem remains. The result is;
[code]

[2020-02-08 09:57] Ninita1 commented on #11107
I already figured out.
I should change my index,js` to this;
[code]
And `@babel/plugin-transform-modules-commonjs` plugin shouldn't be declared and `@babel/env` preset must have `modules: false`, like this;
[code]

Now my `babel.config.js` looks like this and works just fine (for `npm run babel-build`);
[code]
For `npm run build` my `babel.config.js` must be:
[code]

[2020-02-08 09:57] #11107 closed

[2020-02-08 10:35] Pranav2612000 commented on #10746
Shoud I just delete the given functions? Or am I misunderstanding the requirements?

[2020-02-08 12:58] nicolo-ribaudo commented on #10746
Currently they behave asynchronously if you pass them a callback, otherwise they behave synchronously. Only the callback-based version should be allowed.

[2020-02-08 14:39] sts-ryan-holton opened #11111 "BABEL unkown option"
### Environment info
[code]

### Steps to reproduce
I've got a spec file setup in my Components directory, every time I try to run the Jest commands in my Vue project created with the CLI it complains about my Babel configuration despite being the defaults:

My babel config:

[code]

Apparently this is invalid? And commands fail with `ReferenceError: [BABEL] unknown: Unknown option`

### What is e

[2020-02-09 01:58] JLHwung commented on #11111
Can you attach the complete error stack trace _after_ the error message "ReferenceError: [BABEL] unknown: Unknown option"?

[2020-02-09 02:01] JLHwung commented on #11108
Worth add a note to https://babeljs.io/docs/en/babel-register that babel-register does not support compiling native Node.js es modules on the fly.

[2020-02-09 10:40] #10941 closed

[2020-02-10 16:34] existentialism commented on #6989
Fixed in v8 branch via https://github.com/babel/babel/pull/11095

[2020-02-10 16:34] #6989 closed

[2020-02-10 21:09] sidntrivedi012 commented on #11108
I would like to help out in this doc fix.

[2020-02-10 21:12] sidntrivedi012 commented on #11061
I would like to help out to fix this. Please assign it to me. Thanks :)

[2020-02-11 03:47] fengzilong opened #11123 "babel skip searching for browserslist config in some unexpected condition"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

If we use targets like this for preset-env

[code]

babel won't search for browserslist config file

**Input Code**

**Expected behavior/code**

Should still search for browserslist config file even if targets is set to esmodules: false

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .esl

[2020-02-11 09:34] #9684 closed

[2020-02-11 13:56] SimenB opened #11127 "`@babel/plugin-proposal-dynamic-import` does not support `URL`s"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
`@babel/plugin-proposal-dynamic-import` & `@babel/plugin-transform-modules-commonjs` transforms `import(new URL())` to `require(new URL().toString())` (ish, details below) which breaks.

**Input Code**

- REPL or Repo link if applicable: https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_

[2020-02-11 14:40] liuxingbaoyu opened #11128 "@babel/traverse noScope can't path.remove()"
When I upgraded from v7.7.7 to v7.8.4, I found that there was a problem with the noScope option of @babel/traverse.

Error message:
[code]

Code to reproduce the problem:
[code]

[2020-02-11 15:45] liuxingbaoyu commented on #11128
I'm sorry, I'm such a fool. It should be that I have modified it before, this is not a regression error, it is just a common bug. Sorry!

[2020-02-11 15:49] nicolo-ribaudo commented on #11128
Ok, it's not a problem!

[2020-02-11 21:29] carlosesh commented on #11020
I have this exact same issue, any updates?

[2020-02-12 00:26] JLHwung commented on #11035
I can reproduce on my local repo.

Maybe related: #9475

[2020-02-12 00:44] JLHwung commented on #11035
Please update `ts-jest` to v25.2.0, which includes https://github.com/kulshekhar/ts-jest/commit/e0895da602d2dff5ac39134f6e16114e1c7b8baa#diff-18fc617b44692bcaf4a54f79ae44bb45 that happens to fix this issue.

[2020-02-12 00:44] #11035 closed

[2020-02-12 08:42] cncolder opened #11130 "@babel/register write cache fail in node:alpine docker container"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
In `node:alpine` docker image. The folder `node_modules` create by root. And node server runs by 'node' user. So `node_modules` isn't writeable.

`cache.js` not handle `ENOENT` error. It just throw out and crash node server.

[code]

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clea

[2020-02-12 08:44] carloscuesta commented on #8932
I'm facing the same issue and I don't know if this the expected behaviour or it is a misunderstanding of the `babel-preset-env` docs.

According to [`babel-preset-env` include](https://babeljs.io/docs/en/babel-preset-env#include) docs this field on the package.json is used to:

So according to this statement I'm understanding that I can include a a `core-js` built in polyfill to be always present

[2020-02-12 10:55] #10766 closed

[2020-02-12 11:05] jamescdavis commented on #10311
I've opened #11129 because definite properties that are decorated should not be stripped. E.g., in Ember, we use a decorator for service injection, which initializes the property:
[code]
If we are using plugins in the correct order, `myService` is stripped here by the TS plugin before the decorator plugin has a chance to decorate (and initialize) it.

[2020-02-12 11:25] niget commented on #11020
update node version > 10 , Version may be configured in package.json

[2020-02-12 16:04] JLHwung commented on #11020
`jsdom@16` requires `node >= 10`, if you have the same issue, please update node to version 10. Closing this issue as it is not relevant to babel.

[2020-02-12 16:04] #11020 closed

[2020-02-12 16:31] JLHwung commented on #10970
Closing this as it is limited by Node.js capabilities.

[2020-02-12 16:31] #10970 closed

[2020-02-12 19:52] xaviergonz opened #11131 "[@babel/plugin-proposal-decorators] legacy: true, non-transformed class not picked up inside methods"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

When using legacy: true (didn't check without it) and using a class decorator that transforms the class into another one ("wraps it"), the original class will be used instead of the original one.

**Input Code**

https://codesandbox.io/s/boring-morning-yeel2

[code]

**Expected behavior/code**
I expect it to return / use th

[2020-02-12 20:19] #10784 closed

[2020-02-12 20:39] JLHwung commented on #11127
The `toString` call on import specifier was introduced in https://github.com/airbnb/babel-plugin-dynamic-import-node/pull/2 for spec compliance. Converting URL to string should not break the app, that said, it comes from different loader behaviours: the Node.js esm loader supports absolute `file://` URL while its cjs loader doesn't.

There is not much can be done on Babel side because we don't kno

[2020-02-12 21:32] sidntrivedi012 opened #11132 "Add exportKind: "type" for type-only export decarations"
## Feature Request

- [X] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
As of now(until the `export type` PR gets merged), we have `exportKind: value` for values as well as types. This creates some problems in parsing and then transforming the typescript code correctly.

This feature is part of https://github.com/babel/babel/issues/10981.

[2020-02-12 23:01] JLHwung commented on #11130
As a workaround, you can disable the register cache via `BABEL_DISABLE_CACHE` env
[code]

If `node_modules` is not writable due to permission errors, it should throw `EACCESS` instead of `ENOENT`. Babel will ignore the `EACCESS` error and produce warnings only.

Per http://man7.org/linux/man-pages/man3/errno.3.html

In your case, maybe `/home/node/app/node_modules` is a dangling symbolic link moun

[2020-02-12 23:02] JLHwung commented on #11128
Closing it as the OP's issue is resolved.

[2020-02-12 23:08] nicolo-ribaudo commented on #11128
@JLHwung The issue was resolved by modifying our code :stuck_out_tongue:

@liuxingbaoyu Do you want to open a PR?

[2020-02-12 23:21] nicolo-ribaudo commented on #11131
As a workaround, you could use this code for now:
[code]

[2020-02-12 23:37] ctsstc opened #11135 "[@babel/preset-env] Debug doesn't always show"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Sometimes you get the debug output, sometimes you don't. Maybe this is related to caching? I even have the `api.cache(false)` in my `babel.config.js`

**Input Code**

Just running the cli tool or `yarn build` in this case.

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

[2020-02-13 00:38] liuxingbaoyu commented on #11128
@nicolo-ribaudo OK, let me try!

[2020-02-13 10:11] pygy opened #11138 "Unicode RegExp escape sequences handled backwards (lone braces and brackets)"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

The way lone braces and brackets are handled when the `u` flag is set isn't spec conformant. Babel accepts invalid regexps, and emits useless escape sequences.

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAlmAbgQwDZwCYwLwwNoD0AvgQK4A0MBAumdUA&deb

[2020-02-13 10:35] nicolo-ribaudo commented on #11138
Could you reopen this issue in https://github.com/mathiasbynens/regexpu-core? It's what we use to transform regexps.

[2020-02-13 11:04] pygy commented on #11138
Not sure it is the right place to report it...

Babel [correctly throws on `/\-/u`](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAlmAbgQwDZwCYwLwwPQA6AtHgK4DcAUEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=env%2Ces2015%2Cstage-2

[2020-02-13 11:21] #11138 closed

[2020-02-13 12:12] pygy commented on #11138
This may cause a downstream RegExpocalypse...

[2020-02-13 13:17] pygy commented on #11138
@nicolo-ribaudo if this is merged as is upstream, it will break code that relises on Babel, and publishing a codemod to fix this automatically will be hard (since the fix will be picked up by `regexpu-core` and `@babel/helper-create-regexp-features-plugin` through semver, preventing the parsing of the problematic source files).

I suppose we need to create and publish a codemod first, and wait for

[2020-02-13 14:48] carlosesh commented on #11020
@JLHwung this makes no sense, I have the lates version of node, so I don't have idea of why this is not working, but this is not related to a problem with the version of node

[2020-02-13 16:17] JLHwung commented on #11020
@carlosesh Yeah I understand what you are feeling right now. Please report an issue at jsdom (better prepare a reproducing repo) so people can help.

[2020-02-13 16:52] xaviergonz commented on #11131
Thanks for the workaround tip. Unfortunately I'm using create react app (typescript template) which uses babel underneath to transpile and the workaround doesn't work too well when the class is a generic one

[code]

[2020-02-13 17:01] xaviergonz commented on #11131
I think the workaround I'll use in the end is
[code]

but still, it would be great if there was no workaround needed at all I think :)

[2020-02-13 18:20] nicolo-ribaudo commented on #11020
@carlosesh If you have a repository that reproduces the problem I would be happy to look at it.

[2020-02-13 22:36] lifedup commented on #8482
I had a outdated version installed globally that was causing this issue for me.

I used the following to check global dependencies.

`npm list -g --depth 0`

Found a bable package and I removed it globally.

`npm uninstall -g babel-core`

Deleted my package-lock.json

Then reinstalled it locally

`npm i --save-dev @babel/core`

[2020-02-14 15:12] sionzeecz opened #11144 "Cannot access private member through public method via Proxy"
## Bug Report

**Current Behavior**
Throws an error **attempted to get private field on non-instance**

**Input Code**
- Link to [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEAqCmEAu0DeAoa0DEED2AtvAGICW8IAJtALzQAMA3JtCwObwrECSAogDIARABQBKNCywAnTgFcpAO2hIAFqQgA6XIRLkqLAL7oj6YHgXJopC0jALg8WtAXwA7nERIxzMzegAHKTwADwBPJxd3AAUgsOFrZDsHABoJLA4vWy

[2020-02-14 17:19] #11128 closed

[2020-02-14 20:12] dcporter opened #11145 "Simple Typescript: `declare static` property errors on build (but `static declare` works)"
## Bug Report

**Current Behavior**

Building simple typescript with `declare static` properties fails. Switching to `static declare` succeeds. Both are valid TypeScript syntax. Prettier enforces `declare static` by default (which matches how I instinctively write it), fwiw.

**Input Code**
[code]

**Expected behavior/code**
It should compile. Instead I get the following error:

[code]

This featu

[2020-02-15 04:29] jridgewell commented on #11144
This behavior is correct per the spec. You're "getting" a prop from the proxy, which is invoking the getter with `proxy` as the `this` context (via the 3rd argument to `Reflect.get`, `receiver === proxy`). You cannot access private fields through proxies, only on the target.

[2020-02-15 04:29] #11144 closed

[2020-02-16 02:21] cncolder commented on #11130
@JLHwung @babel/register use find-cache-dir@2. It's not check folder permission.

[code]

https://github.com/babel/babel/blob/31b05060409107caa5737f90bdf79fc3538c0a2d/packages/babel-register/src/cache.js#L9

[2020-02-16 07:08] liuxingbaoyu opened #11147 "How to skip child nodes"
Code:
[code]
Output:
[code]

[2020-02-16 23:26] nicolo-ribaudo commented on #11147
This is definitely a bug. If you try to run this code in the monorepo:
[code]

It will log `after 1 true`, `after 1 false`, but `shouldSkip` shouldn't change from `after 1` to `after2`.

[2020-02-17 01:02] liuxingbaoyu commented on #11147
I don't know if this is a bug or not allowed, so I asked a question😛

[2020-02-17 01:16] liuxingbaoyu commented on #11147
Related to this, but I don't know how to fix it😭

[```this._traverseFlags = 0;```](https://github.com/babel/babel/blob/master/packages/babel-traverse/src/path/context.js#L134)
[code]

[2020-02-17 11:16] przemyslawzalewski opened #11149 "_objectWithoutProperties doesn't take default values into account for deeply nested object destructuring with specific preset-env"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
`_objectWithoutProperties` is being called directly on deeply nested destructured property chains without taking default values into account. This causes `TypeError: Cannot read property 'X' of undefined` errors being thrown in a code that uses fallback values to guards against missing nested properties.
The strange thing is

[2020-02-17 13:48] dessant opened #11150 "Migrate Lock Threads to GitHub Actions"
Hi folks, [Lock Threads](https://github.com/dessant/lock-threads) is now a GitHub Action. Please move to the new workflow when you find the time, the GitHub App instance will be shut down this summer.

You can migrate by deleting `.github/lock.yml` and adding `.github/workflows/lock.yml` with the following content:

[code]

Once merged, you can uninstall the GitHub App from the organization and re

[2020-02-17 14:49] helen119 opened #11151 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 14:54] #11151 closed

[2020-02-17 17:32] helen773 opened #11152 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 17:33] #11152 closed

[2020-02-17 18:23] JLHwung commented on #11149
Closing this as it duplicates #10735, which is fixed in #10738 (unmerged yet 😅).

@przemyslawzalewski It is a very detailed report, thank you!

[2020-02-17 18:23] #11149 closed

[2020-02-17 18:30] #10883 closed

[2020-02-17 23:08] chung-leong commented on #11027
I think the OP has duplicate entries in his large map. For instance, the following

[code]
would get transcoded into this:

[code]

[2020-02-17 23:56] nicolo-ribaudo commented on #11027
I have no idea why it's happening; it seems like a bug :thinking:

[2020-02-18 00:08] nicolo-ribaudo commented on #11027
Oh, it's a feature!

Some browsers don't support duplicated keys in strict mode: [compat table](https://kangax.github.io/compat-table/es6/#test-miscellaneous_duplicate_property_names_in_strict_mode), check in the `miscellaneous` section.

If your duplicated properties are being transpiled, then it's because it's required by your targets. These are the first browsers versions which support duplicat

[2020-02-18 00:08] #11027 closed

[2020-02-18 08:02] taejs commented on #10802
Hi, just wanted to check if someone is working on this issue. If not, it'll be my pleasure to work on it!
@iansu

[2020-02-18 08:10] derMart opened #11153 "shasum check failed for preset-env-7.8.4.tgz"
running
`npm install --save babel-loader @babel/core @babel/preset-env`
gives the following error:
[code]

see also https://github.com/npm/cli/issues/802 which includes npm-debug.log

kind regards

[2020-02-18 08:44] #11127 closed

[2020-02-18 08:52] lopugit commented on #5854
How is this still an issue in V7 WTF?

I had to use the manual `Program(path){ path.traverse(realVisitors) }` solution ???

Just add the Phases or Stages idea that someone mentioned in the 3 million replies massive ass AI focused analyze what transformations depend on what bullshit convo.

JUST RUN SEPARATE TRAVERSALS. What in the F

[2020-02-18 09:52] nicolo-ribaudo commented on #11153
This is definitely not a big with Babel.
Try cleaning your cache, or if you are using a proxy between you and npm it's cache.

[2020-02-18 20:16] #11111 closed

[2020-02-19 00:50] JLHwung commented on #11130
@cncolder Babel 8 will use `find-cache-dir@3`. We can not bump `find-cache-dir` to v3 because Babel 7 requires node.js 6 support, which is dropped by `find-cache-dir@3`.

https://github.com/babel/babel/blob/1613418f9b25e56aa511a06f0b0e3c1856f05737/packages/babel-register/src/cache.js#L46
Babel register catches the `EPERM` (Windows) and `EACCES` (Unix) error. If a directory is not writable, it is e

[2020-02-19 07:58] openorclose commented on #10471
My bad, I'll try to work on a fix.

[2020-02-19 10:21] openorclose commented on #10471
[code]
A related error.
This is valid but doesn't compile:
https://babeljs.io/repl/#?browsers=%3E0.5%25%2C%20not%20ie%20%3C%3D11%2C%20not%20safari%205.1%2C%20not%20samsung%204&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABMOcAUBDRBeRBGASkQG8AoRRANwwCdEtc8BuUgXyA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel

[2020-02-19 12:10] alan-agius4 opened #11155 "Browsers not being coerced properly when using `all`"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Classes are not downlevelled.

**Input Code**
[code]

**Expected behavior/code**
Input to be converted to es5, but it is not when one of the browsers version is `all`, the problem seems to be the coercion of targets to gather the minimum version of the browser. When removing `opera 66` from the targets the es6 code is conver

[2020-02-19 15:49] jeffersonlicet opened #11156 "CallExpression expected node to be of a type [...]"
Hello, I'm trying to migrate a babel 6 plugin to the new version, in the old version I was able to create a CallExpression using as a parameter an ObjectPattern.

What I'm trying to do is something like `funcFoo({date, time});` where `{ a: 1, b: 2 }` is the ObjectPattern
But Im getting this error:

The original code is:

[code]

The lib I'm migrating:
https://github.com/jeffersonlicet/babel-plugin

[2020-02-19 16:09] nicolo-ribaudo commented on #11156
ObjectPattern is used for destructuring (`ObjectPattern = ...`). You want an ObjectExpression, which is an object literal.

[2020-02-19 16:35] jeffersonlicet commented on #11156
Perfect. I solved it using: `t.objectExpression(input.properties)`

[2020-02-19 16:48] #11156 closed

[2020-02-20 09:53] cncolder commented on #11130
[code]

[2020-02-20 23:14] JLHwung commented on #11130
@cncolder Thanks for the reproduction Dockerfile. I can confirm this issue can be reproduced and thus I have filed one to the `make-dir` repo: https://github.com/sindresorhus/make-dir/issues/25

`make-dir` is used in `babel-register` to create cache directory. Note that this issue does not affect Babel 8, where `make-dir` has been replaced by native recursive `fs.mkdir` supported on `node>=10.12`.

[2020-02-21 01:21] iansu commented on #10802
I am working on this but I'm stuck on how to fix it. I've tried a few things without success. Any pointers on how I can detect this call expression would be appreciated.

[2020-02-21 01:38] taejs commented on #10802
If so it would be better to ask reporter or maintainer..!
I didn't investigate into details because I'm not a assignee.

@jridgewell @existentialism
I think he needs some helps.

[2020-02-21 04:15] JLHwung commented on #10802
@iansu I come up with a possible solution inspired by @jridgewell 's tips. Let's see if we can sort it out.

** brief summary of optional-chaining plugin **
The optional-chaining transform plugin can be roughly divided into two parts:
i) The first part is to collect an array of to-be-processed AST nodes (`optionals`) and determine the AST node that we want to transform (`replacementPath`).
ii) The

[2020-02-21 04:29] #11145 closed

[2020-02-21 04:30] #11130 closed

[2020-02-21 05:14] jridgewell commented on #10802
I think it's easiest if we transform to:

[code]

Doing a `bind` is super expensive, and using `.call` is moderately expensive.

[2020-02-21 10:20] namesweretaken opened #11161 "Syntax Error"
Hi,

In the babel-helper-plugin-utils package src/index.js there seems (at least to me) to be a syntax error on line 93 . Though this file hasn't been changed for over 2 years.

https://github.com/babel/babel/blob/4b045819b897dee49199d1439776a6013fed49a7/packages/babel-helper-plugin-utils/src/index.js#L93

[2020-02-21 11:21] titivermeesch opened #11162 "Float32Array support for array spread"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
When we spread a Float32Array, we get the next error :
`Invalid attempt to spread non-iterable instance`
This happens on Chrome Mobile but not on Chrome PC

**Input Code**

[code]

**Expected behavior/code**
This should just spread like a normal array.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cl

[2020-02-21 11:34] nicolo-ribaudo commented on #11161
It's not a syntax error: that's a valid Flow type cast.

[2020-02-21 11:34] #11161 closed

[2020-02-21 16:33] iansu commented on #10802
Thanks everyone! What about the `(void 0)()` part of the replacement? @JLHwung I don't think your replacement code produces that part, correct? I'm guessing that's something I can find elsewhere in the code. I'll work on this today and see how it goes.

[2020-02-21 16:38] JLHwung commented on #10802
@iansu

[code]
is equivalent to
[code]
if you apply the call expression on the conditional branches.

You can construct `(void 0)()` from `void 0` (`scope.buildUndefinedNode()`) via `t.callExpression`.

[2020-02-22 02:22] openorclose commented on #10798
Tried on this pr https://github.com/babel/babel/pull/11158,

and got this which should be right:

[code]

[2020-02-22 10:18] #11150 closed

[2020-02-23 02:38] JLHwung commented on #11153
Closing this since it is not reproducible.

[2020-02-23 02:38] #11153 closed

[2020-02-23 02:45] wufenfen commented on #11038
I am also encounting this issue, any solution now?

[2020-02-24 00:40] TrejGun commented on #10618
this issue fixed in typescript 3.8 https://github.com/microsoft/TypeScript/commit/3b396e6124d6a0382c4ab5b2d846a9c4b65a4ea3

[2020-02-24 00:41] nicolo-ribaudo commented on #10618
We will release it in 7.9.0!

[2020-02-24 00:42] TrejGun commented on #10618
cool, thanks!

[2020-02-24 07:55] creativemind1 opened #11165 "Go to definition in VSC not working with paths defined with .babelrc file"
## Bug Report

**Current Behavior**
I have created the file `.babelrc` in the root of my React native project and install all related node_modules related to that. Go to definition with VSC with any of these paths not working. I have provided example below in the file with the supported attached png.

[code]

**Expected behavior/code**
When I import any variable with the file path defined with the

[2020-02-24 10:26] maxdavidson opened #11166 "Deep optional chaining breaks in function argument destructuring"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

Optional chaining breaks when destructuring deep chains inside the function arguments, due to incorrect hoisting of temporary variables.

[REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=FAMwrgdgxgLglgewgAgBYFMA2mEAoDewyyAhgDRHIBGyAvKQPwB0VzUFAvgJTKHEBO6GGH4oADAG5gHYMAzY8-UgC5eH

[2020-02-24 11:46] sayjeyhi commented on #6226
as #10887 you could use  `--copy-files --no-copy-ignored`

[2020-02-24 15:46] Sceat commented on #6226
@sayjeyhi actually #10887 is weird `--no-copy-ignored` doesn't copy ignored js files only and still copy all others ignored files

[2020-02-24 17:34] JLHwung commented on #11162
@titivermeesch You can view the transformed output from [Babel REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAhgJwTAvDMBTA7jAYgGxDigGYAmAQSTgE8AKABgEoAoUSWTLKhW1GANoA6EYgQBdIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=env&

[2020-02-24 20:04] jridgewell commented on #11166
We keep having bugs related to injecting temp variables in a param scope.

[2020-02-24 20:21] nicolo-ribaudo commented on #11166
Maybe in Babel 8 we could add a "transparent" scope (transparent similar to how we handle block scopes) to represent params scope.

[2020-02-24 21:30] #11123 closed

[2020-02-24 23:13] JLHwung commented on #11165
Closing this as it duplicates https://github.com/tleunen/babel-plugin-module-resolver/issues/321 and babel is _not_ aware of any specific plugin options, in this case it's `babel-plugin-module-resolver`.

According to https://github.com/tleunen/babel-plugin-module-resolver/issues/321#issuecomment-533064128, please add a new [`jsconfig.json`](https://code.visualstudio.com/docs/languages/jsconfig) s

[2020-02-24 23:13] #11165 closed

[2020-02-25 00:03] JLHwung commented on #11155
The `all` keyword is not a valid part in browserslist queries except in `op_mini all`. Therefore, both `chrome all`, `firefox all`, etc. are _not_ valid.

`@babel/preset-env` consumes compatibility data from `compat-table`. However `op_mini` is _not_ supported in `compat-table`. (https://github.com/kangax/compat-table/issues/1057)

Besides that the `op_mini all` query is still vague because it doe

[2020-02-25 04:12] fforres opened #11169 "@babel/types. Wrong arity while executing callExpression"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
Been looking into running a code-mod for our codebase.
Our codebase is running Typescript through Babel.
We are looking into extracting some types of some function calls to be reused in other parts of said codemod, but we cannot seem to be able to create a callExpression with more than 2 arguments.

On `@babel/types` it shoe

[2020-02-25 05:45] jaydenseric commented on #8462
Should this issue should be reopened, as the previous work that closed it has been reverted? It’s a Babel v8 checklist item that’s still todo: https://github.com/babel/babel/issues/10746.

[2020-02-25 07:16] alan-agius4 commented on #11155
@JLHwung, thanks for your reply, indded you are right that `firefox all`, `chrome all` etc are not a valid browserslist query and `opera_mini all` is a special case and is a valid query.

[2020-02-25 07:30] titivermeesch commented on #11162
@JLHwung I tried that code on Babel REPL before but I couldn't reproduce the issue, even when I specified the browser version.

I'm running on an Android emulator (along with Cordova) running on `Chrome Mobile 80.0`.
It's not something specific with Cordova though because running the app without it just gives me the same error.

I've indeed tested `Symbol.iterator in Object(new Float32Array)` and

[2020-02-25 14:29] liamfd commented on #9530
If this is available, I'm happy to take a look at it.

[2020-02-25 23:02] deckar01 commented on #9419
I ran into this today. Due to #8932, the work around for this seems to be using any needed features in the main script to trigger usage detection.

[code]

[2020-02-26 00:30] nicolo-ribaudo commented on #11169
Type builders only have parameters for common/standard attributes. If you need to set more, you can use `Object.assign`:
[code]

[2020-02-26 00:31] #11132 closed

[2020-02-26 00:36] JLHwung commented on #11169
The signature of `t.callExpression` only accepts 2 argument: `
[code]

In https://babeljs.io/docs/en/babel-types#callexpression the other properties listed below the signature are _not_ extra arguments, but the shape of the `CallExpression` AST node, which is returned from `t.callExpression`, so you can assign `typeArguments`, `optional`, etc. to the AST node.

We may need to clarify that in the b

[2020-02-26 01:05] jridgewell commented on #11169
`CallExpression` AST node docs may be out of date. `optional` is only on `OptionalCallExpression`.

[2020-02-26 01:06] nicolo-ribaudo commented on #11169
It's `@babel/types` which is outdated. Fixed in a PR opened 5 mins ago 😛

https://github.com/babel/babel/pull/11172

[2020-02-26 02:15] JLHwung commented on #9530
@liamfd Just assigned this issue to you. Feel free to ask on slack #development channel should you have any questions.

[2020-02-26 04:32] JLHwung commented on #11162
@titivermeesch Can you check if `Symbol.iterator in Object(new Float32Array)` returns `true` on an Android device with `Chrome Mobile 80.0`? According to [compat-table](https://kangax.github.io/compat-table/es6/): (Search `%TypedArray%.prototype[Symbol.iterator]`), it is supported on Chrome 80.

If it turns out Chrome 80 on Android does not support iterator symbol, this means the compat-data babel

[2020-02-26 08:26] titivermeesch commented on #11162
I've just tested it with BrowserStack and everything works fine there, so it seems like the emulator is behaving weirdly in this case and you can't indeed do anything about it.
Thanks for your help.

[2020-02-26 08:26] #11162 closed

[2020-02-26 13:09] Kivylius opened #11174 "Add ability to run babel with any .babelrc as cli parameter"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have multiple babel configs that output different code in my package and want specifically to transpile my code with babel with a cli parameter that points to a ".babelrc" (or in my case .test-babelrc). I cannot do it programatically and need this support on the cli level.

**Describe the solution you'd like**

[2020-02-26 15:46] nicolo-ribaudo commented on #11174
Doesn't `--config-file` (pointing to a `babel.config.json` file) works for you? `.babelrc`s are only meant to be loaded based on the file path.

[2020-02-26 17:12] melfa commented on #8351
Any updates on this? browserslist defaults still returns android 76, preset-env with debug enabled reports "android": "4" and compiles all to ES5.

[code]

[code]

[2020-02-26 19:35] JLHwung commented on #8351
This issue has been fixed in #10814, please update `@babel/preset-env` to 7.8.4 or above.

[2020-02-26 19:35] #8351 closed

[2020-02-26 21:40] pvdz commented on #10436
(Still an issue as of 7.8.4)

[2020-02-26 21:52] nicolo-ribaudo commented on #10436
This also affects single-line expressions:
[code]

`SequenceExpression`'s start is at right before `b`, while its end is right before `)` (instead of right after `c`).

[2020-02-26 21:54] #11169 closed

[2020-02-26 22:54] pvdz commented on #10412
It seems this is no longer the case.

[2020-02-27 14:21] zabawt opened #11177 "No matching version found for @babel/traverse@^7.8.6"
While installing @babel/core@7.8.6 I'm receiving this error.
It is caused by @babel/helper-replace-supers.  Apparently it shouldn't be true as latest version is exactly this @babel/traverse -> 7.8.6 https://www.npmjs.com/package/@babel/traverse.

I tried installing @babel/core@7.7.7 and @babel/core@.7.7.0 both versions are failing due to the issue mentioned above.

I will upload npm logs in a seco

[2020-02-27 15:36] zabawt commented on #11177
Fixed on my side, closing the ticket

[2020-02-27 15:36] #11177 closed

[2020-02-27 18:51] JLHwung commented on #10412
@pvdz 🤔I don't think this issue has been fixed yet?

[2020-02-27 19:58] juansalvatore opened #11180 "TypeError: [object Object] is not iterable!↵ at push../node_modules/@babel/runtime-corejs2/node_modules/core-js/library/modules/_for-of.js.module.exports"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.
I'm getting the following error after upgrading to next v9:
[code]
**Input Code**
- REPL or Repo link if applicable:
We have this code.
[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.co

[2020-02-27 20:14] nicolo-ribaudo commented on #11180
Can you add `console.log(Symbol.iterator in state.fetchedRegions, state.fetchedRegions, state.fetchedRegions[Symbol.iterator])`?

[2020-02-27 21:26] ethanryan commented on #11180
hi @nicolo-ribaudo, thanks for your quick response.

i'm working on this with @juansalvatore.

console.logging that logs:

`{fetchedRegions: Map, boroughTree: Array(0)}`

[2020-02-27 21:45] JLHwung commented on #11180
Can you log the constructor of the `state.fetchedRegions`?
[code]
I doubt that `state.fetchedRegions` is not constructed from the builtin Map.

[2020-02-27 21:50] ethanryan commented on #11180
may have misunderstood your question.

i'm doing:

`      console.log('qqq0 - state.fetchedRegions.constructor', state.fetchedRegions.constructor)
      console.log('qqq1 - Symbol.iterator in state.fetchedRegions: ', Symbol.iterator in state.fetchedRegions)
      console.log('qqq2 - state.fetchedRegions: ', state.fetchedRegions)
      console.log('qqq3 - state.fetchedRegions[Symbol.iterator]', sta

[2020-02-27 22:08] pvdz commented on #10412
In that case Tenko is broken. The test cases that I had made an exception for that were marked with this issue are now in sync with how Tenko does it. So either I regressed, or "you" improved :)

[2020-02-27 22:12] pvdz commented on #10412
Oh you're right. Thanks. I see Tenko did not regress, maybe I changed the test runner to only run in strict mode when comparing.

[2020-02-27 22:39] pvdz opened #11183 "[Parser]: First token after a class is considered strict mode"
I guess when parsing the `}` closing token of a class, the next token is still parsed as the strict-mode context from that class, rather than using the outer strict mode status.

In script mode, this (a legacy octal) passes in Babel (because it applies annexb by default):
[code]
This fails after a class:
[code]
But passes with anything in between:
[code]

(All the above cases should pass in non-st

[2020-02-27 22:46] pvdz commented on #10412
Yeah I switched up my testing runs a bit, adding module+annexb, which messed the comparison up.

Anyways, the same problem applies to treating the directive as a tagged template. It's the same problem but might require a different fix, depending on the implementation. Want me to file a separate ticket for that or shall I update the desc?

[code]

(This should pass in non-strict script mode with an

[2020-02-27 22:49] pvdz commented on #10412
Yeah, same for any tail really. I'll update the desc.

[2020-02-28 05:11] jridgewell opened #11187 "Forced calls of OptionalCalls do not print correctly"
## Bug Report

It's possible to force the calling of an `OptionalCallExpression` by wrapping it in parentheses:

[code]

This roughly translates to the following:

[code]

Now, the bug: When we print these without transforming them (meaning we're going to output ES2020 syntax), the forced call loses its parentheses:

[code]

This is incorrect! If we were to try parsing that output, it'd be an opti

[2020-02-28 06:54] sag1v commented on #11187
Would love to take a shot if no takers :)

[2020-02-28 07:07] kaicataldo commented on #10412
Working on this!

[2020-02-28 07:43] hbrls commented on #11177
@zabawt  How did you fix that?

[2020-02-28 13:04] sag1v commented on #11187
@jridgewell / @nicolo-ribaudo
So basically we should add this function to `parentheses.js`?
[code]

Seems to fix these 2 use cases but breaks other use cases such as

[code]

Or

[code]

Another thing i don't understand yet, is why we pass `parent` and not `node` to `isCallExpression` and `isMemberExpression`?

[2020-02-28 15:22] dalyr95 opened #11189 "Chrome target becomes chrome 4"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
My config is set to `>=0.5% in GB`, but now adding this parameter brings the target version for Chrome down to v4. I've tried adding `>=0.5% in GB and not chrome` but no combination seems to shift the Chrome version. When it gets to `>=40% in GB` it will correctly use the last 2 versions flag for chrome.

I'm not sure if thi

[2020-02-28 15:37] dalyr95 commented on #11189
I put my targets into my package.json and ran the following, so it's parsing Chrome 49 as 4??
[code]

[2020-02-28 16:20] dalyr95 commented on #11189
Looking into it, looks like an issue with `getLowestVersions` in `node_modules/@babel/helper-compilation-targets/lib/index.js`

`browsers` comes in as
[code]

and when it reaches `and_chr 4` it sets the minimum chrome version to 4...

Some logging
[code]

[2020-02-28 16:33] dalyr95 commented on #11189
Managed to fix the issue by adding `not ChromeAndroid 4`

But looking at
[code]

where does the `and_chr 4` come from?

[2020-02-28 18:42] sylvainDNS commented on #9849
I had this issue using rollup with babel. I just used this babel config to resolve it :
[code]

[2020-02-28 19:27] JLHwung commented on #11189
@dalyr95 Thanks for the report. This issue duplicates https://github.com/browserslist/browserslist/issues/431, so it should be fixed on `browserslist` side. I will see if I can come up with a PR later.

See https://github.com/browserslist/browserslist/issues/431#issuecomment-565230615

[2020-02-28 20:00] sag1v commented on #11187
I went with this approach:
[code]

Seems to be passing all tests as well as the 2 new cases.
Any feedback is welcome :)

[2020-02-28 20:04] jridgewell commented on #11187
This is fine from a code perspective. The AST and runtime will behave correctly, it's just not as neat as we could make it.

If you want, you can add the following test cases:

[code]

None of these require parens, but they'll get them. We can modify the calls to `t.isCallExpression(parent)` to check if the `callee` node is the current `node`:

[code]

This'll fix the parens in the call cases. I'l

[2020-02-28 20:08] sag1v commented on #11187
@jridgewell Thanks for the info, I wonder if you saw my edited comment regarding this approach
[code]
It looks the same to me, but i may be missing something.

Well, i was sure that `parent.callee` is always the `node` in our case 🤔

[2020-02-28 20:33] sag1v commented on #11187
@jridgewell After some playing with AST Explorer and some of your tests, i realised we probably need to modify the `OptionalMemberExpression` function as well.

[code]
and
[code]

What do you think?

[2020-02-28 20:54] jridgewell commented on #11187
That will miss cases that are manually constructed in AST (it'd work fine if you parse from a source string). Setting `node.extra.parenthesized` shouldn't be required to get the generator to print correct code.

Yah, we should sync these changes in both places.

Those are both equivalent code, just has an unnecessary parentheses. The updated `t.MemberExpression` check should fix it.

[2020-02-28 21:11] sag1v commented on #11187
@jridgewell Thanks for the explanations and pointers, i have learned a lot. 👍🤓

[2020-02-28 23:43] #11187 closed

[2020-02-29 02:03] humoyun commented on #9849
@sylvainDNS it worked like a charm, thanks

[2020-02-29 04:26] sidntrivedi012 commented on #11108
Should we close this issue since it has been solved in https://github.com/babel/website/pull/2177 ?

[2020-02-29 08:20] jridgewell commented on #11084
Are you still working on this @oliverdunk?

[2020-02-29 10:48] oliverdunk commented on #11084
I am, sorry for the delay. I did a first draft and sent it to Nico, but he requested some changes. Will hopefully put up an MR this weekend.

[2020-02-29 18:16] #11108 closed

[2020-03-01 06:44] emahuni commented on #4554
I this post's answer summarise it well https://stackoverflow.com/questions/30585540/process-send-is-conditionally-defined-in-node-js

[2020-03-01 15:26] #10471 closed

[2020-03-01 15:26] #10798 closed

[2020-03-01 16:46] jedwards1211 commented on #4554
@emahuni that misses the point, `process.send` is 100% supposed to be available when the process was spawned with an ipc channel, but this isn't working when the process was spawned from `babel-node`.  `process.send = process.send || () => {}` isn't a workaround because we need to communicate with the parent process, not just prevent `process.send()` from throwing an error.

[2020-03-01 18:35] nicolo-ribaudo commented on #10746
For whoever is watching this issue:
I just added the `Use the new JSX implementation by default` section.

[2020-03-01 21:05] nicolo-ribaudo commented on #11127
@JLHwung I'd like to reevaluate this proposal. Currently, it's impossible to have an `import()` which works both natively and when transpiled on Node.js.

[2020-03-01 22:38] smelukov commented on #9546
I want to try to deal with it

[2020-03-02 08:13] rhpijnacker opened #11195 "Array destructuring transpiles into code that is incompatible with IE11"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
Transpiling the code below generates code that uses _Symbol_, which does not run on IE11, even though I have `@babel/env` set to `ie: 11`.

**Input Code**
[code]

**Output Code**
[code]

**Expected behavior/code**
Transpiled code that runs on IE11.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli co

[2020-03-02 10:29] dalyr95 commented on #11189
Thanks @JLHwung

[2020-03-02 10:36] nicolo-ribaudo commented on #11195
What we usually call "array destructuring" isn't really for arrays. It's for "iterables", which are "objects with a `Symbol.iterator` property". Arrays fall into this category.

This means that the transform should directly use `Symbol.iterator`, because `[a, b, c] = ...` is just syntax sugar for calling `Symbol.iterator`.

However, we have special-cased arrays for two reasons:
1. Most of the "arr

[2020-03-02 13:29] rhpijnacker commented on #11195
Ok, I get what you said above. I just now realize that I simplified my example to the point where it does not actually fail on IE11 anymore.

In the original code, it was not actually an array containing 1,2,3 , but rather a NodeList instance.
If you change the above example as follows:
[code]
it will actually fail with the message `'Symbol' is undefined`.

That leaves the question whether this is

[2020-03-02 19:22] smelukov commented on #9546
@nicolo-ribaudo
Seems like it breaks some cases:

**Input:** `let x: [string, number?, (string | number)?]`
**Output**: `let x: [string, number?, string | number?]`

It makes a different sense

**Input:** `type Element<T> = T extends (infer U)[] ? U : T;`
**Output:** `type Element<T> = T extends infer U[] ? U : T;`

Parsing error

[2020-03-02 19:45] jridgewell commented on #11084
All good. Happy to review an unfinished PR, please open one when you can.

[2020-03-03 13:01] smelukov commented on #9546
Seems like we should create `TSParenthesizedType` nodes even if `createParenthesizedExpressions` is disabled because it breaks some cases.

[2020-03-03 13:37] nicolo-ribaudo commented on #9546
The second one is like a `@babel/generator` bug: it should automatically add parentheses when needed, based on the AST structure.

Parentheses are handled by [`packages/babel-generator/src/node/parentheses.js`](https://github.com/babel/babel/blob/master/packages/babel-generator/src/node/parentheses.js): as you can see, there are many functions that, given a node and its parent, return `true` if th

[2020-03-03 13:43] Vages opened #11197 "Transpilation fails when chaining off optionally chained keys that share names with certain reserved keywords (e.g. class and function)"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

I have a statement that goes something like the following: `const a = foo?.class.bar`. This does not transpile, and I'm quite sure I've found the reason why: Because I'm trying to chain `bar` off the optionally chained `class`.

I've been playing around in the REPL using only `@babel/plugin-proposal-optional-chaining v7.6.0

[2020-03-03 13:59] nicolo-ribaudo commented on #11197
Thanks for the bug report!

This is a parser bug, coming from the `nextToken` function of the tokenizer.

https://github.com/babel/babel/blob/8f281f578db68ef2092ce35b8db003bdb346a9e4/packages/babel-parser/src/tokenizer/index.js#L223-L242

As you can see, in line 225 we handle the case where `curContext` is `undefined`, but we don't do it at line 236 when checking if `curContext.override` is define

[2020-03-03 14:01] Vages commented on #11197
I'll give it a try, @nicolo-ribaudo 😄

[2020-03-03 15:38] Vages commented on #11197
Here you are, @nicolo-ribaudo 😊

[2020-03-03 17:27] #11197 closed

[2020-03-03 19:45] smelukov commented on #9546
@nicolo-ribaudo https://github.com/babel/babel/pull/11200 look at the failed tests

[2020-03-04 00:05] JLHwung opened #11202 "[parser] Illegal arrow expression containing `in` as `for` lhs"
## Bug Report

Copied from https://github.com/acornjs/acorn/issues/922

REPL: [Safe link](https://babeljs.io/repl#?browsers=node%206&build=&builtIns=false&spec=false&loose=false&code_lz=GYewTgBAFAHhC8A-CMCWA7CBPA3DglDkA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=script&lineWrap=false&presets=env&prettier=true&t

[2020-03-04 00:12] JLHwung opened #11203 "[parser] Async arrow cannot be rhs of binary operator"
## Bug Report

Copied from https://github.com/acornjs/acorn/issues/914

[code]

[REPL](https://babeljs.io/repl#?browsers=node%206&build=&builtIns=false&spec=false&loose=false&code_lz=CwAg1CCGDOCeB2BjAFAShAXgHwgExA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=script&lineWrap=false&presets=env%2Cenv&prettier=true&t

[2020-03-04 00:13] nicolo-ribaudo commented on #11202
Oh wow, this is the first time I see `@babel/parser` stuck in an infinite loop.

[2020-03-04 01:49] benmvp commented on #8361
@nicolo-ribaudo has that minor version been released?

[2020-03-04 04:36] vedantroy commented on #11203
I'll try this.

[2020-03-04 05:29] 3cp opened #11204 "plugin-syntax-dynamic-import didnot re"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Based on comments [here](https://github.com/babel/babel/blob/38f8bbac1ab3d70c43c276f48a0c85f3fd72b2bf/packages/babel-plugin-proposal-dynamic-import/src/index.js#L14-L17) in plugin-proposal-dynamic-import:

[code]

plugin-syntax-dynamic-import should preserve dynamic import statement. But it did not.

**Input Code**

Demo rep

[2020-03-04 06:45] songyule opened #11205 "@babel/standalone transform cannot set presets stage-0"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
when i  use Babel.transform(version: @babel/standalone@7.8.6) set presets stage-0, i got an error
`Error: [BABEL] unknown: The decorators plugin requires a 'decoratorsBeforeExport' option, whose value must be a boolean. If you want to use the legacy decorators semantics, you can set the 'legacy: true' option. (While processi

[2020-03-04 08:57] smelukov commented on #9546
I think that I will fix babel 7 in a separated PR

[2020-03-04 09:09] nicolo-ribaudo commented on #11204
You have to exclude the plugin from preset-env. (Add `exclude: ["proposal-dynamic-import"]`)

It's only automatically excluded when you are using a bundler.

[2020-03-04 09:13] nicolo-ribaudo commented on #8361
Not yet. You can watch https://github.com/babel/babel/pull/11171 to ge notified when it's released.

[2020-03-04 09:16] nicolo-ribaudo commented on #9546
Thanks! We will do like this:
- Merge the Babel 7 PR to `master`
- I will merge `master` into `next-8-dev`
-You can then rebase your PR on the new `next-8-dev`

[2020-03-04 10:55] smelukov commented on #9546
It there an issue with a broken example for babel 7?

[2020-03-04 11:00] 3cp commented on #11204
Oh, thx you.

Might be a good idea to show preset-env config in doc of https://babeljs.io/docs/en/babel-plugin-syntax-dynamic-import

[2020-03-04 11:00] #11204 closed

[2020-03-04 11:08] smelukov commented on #9546
Now I can't reproduce the second case...
I suggest fix it for babel 8 for now

[2020-03-04 11:12] nicolo-ribaudo commented on #9546
I will write a reproduction for Babel 7 in ~1 hour

[2020-03-04 18:55] mischnic opened #11206 "transformFromAst: Add option to not clone the AST"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

https://github.com/babel/babel/issues/7987 / https://github.com/babel/babel/pull/8342 clones the AST by default, but cloning can take a considerable amount of time and the caller might decide it is not needed.

**Describe the solution you'd like**
Add an option to `t

[2020-03-04 20:35] JLHwung commented on #11205
We should add default value `true` for `decoratorsBeforeExport` options accepted in the following places:

https://github.com/babel/babel/blob/21c91418722e3b0c0e9042427bb1524baebba452/packages/babel-standalone/src/preset-stage-0.js#L10

and `preset-stage-1.js`, `preset-stage-2.js`.

PR is welcome!

[2020-03-04 23:44] nicolo-ribaudo commented on #11205
We didn't add a default value on purpose: it wasn't clear which one we should have used. The current proposal has decorators _after_ export, but it's a completely different proposal from the one implemented in Babel.

This is a configuration error: in that sandbox, both "modern" and "legacy" decorators are enabled. "modern" decorators using the `stage-0` preset, and "legacy" using the plugin.

Thi

[2020-03-04 23:46] #11189 closed

[2020-03-04 23:50] nicolo-ribaudo commented on #11206
As a workaround, I'm currently using [this plugin](https://github.com/nicolo-ribaudo/codemods/blob/40e90e3ad6e2db91fd7756bcce68bfefd373a3a3/src/utils.js#L59-L67).

Out of curiosity, would using `@babel/traverse` directly (rather than Babel core) work for your use case?

[2020-03-05 02:15] JLHwung commented on #11135
`@vue/cli-plugin-babel` uses `babel-loader` under the hood. `babel-loader` will cache the transformed result to `node_modules/.cache/babel-loader` so the second run `vue-cli-service build` does not actually trigger babel transforms. Therefore, the debug output of preset-env is not shown.

Actually due to cache you can see the second run is much faster than the first run. ( 5825ms vs 16250ms )

Clo

[2020-03-05 02:15] #11135 closed

[2020-03-05 03:01] JLHwung opened #11209 "[parser]: A class should not extend an async function"
## Bug Report

copied from https://github.com/acornjs/acorn/issues/917

The following snippet throw unexpected token `=>`.

[code]

[REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0FMAeAXBA7AJjSBPdw0AFAJTQC8AfNAN4C-tdAUKJDAEKKobbR4HQAZgFcCKAJYB7dMTL1GQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=fals

[2020-03-05 03:31] benmvp commented on #8361
That would explain things. Thanks so much!

[2020-03-05 08:35] mischnic commented on #11206
The current situation works, but could be faster. I think that plugins doesn't help me?

https://github.com/parcel-bundler/parcel/blob/a07a8b84923a74077b70a4d2fcbc5a9f17736f3b/packages/transformers/js/src/JSTransformer.js#L142

https://github.com/parcel-bundler/parcel/blob/a07a8b84923a74077b70a4d2fcbc5a9f17736f3b/packages/transformers/babel/src/babel7.js#L53

But `@babel/traverse` wouldn't accept

[2020-03-05 08:40] gera2ld opened #11210 "@babel/plugin-transform-parameters@7.8.7 throws `Cannot read property 'type' of null`"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
The code should be compiled to:

[code]

While `@babel/plugin-transform-parameters@7.8.4` worked as expected, `v7.8.7` throws the following error:

[code]

**Babel Configuration (babel.confi

[2020-03-05 09:30] smelukov commented on #9546
@nicolo-ribaudo ☺️

[2020-03-05 10:47] Saurabhdataman opened #11211 "Error: No matching version found for @babel/types@^7.8.7"
## No matching version found for @babel/types@^7.8.7

npm install @babel/generator
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/types@^7.8.7
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/generator'
n

[2020-03-05 11:00] dandv commented on #8652
Came here from #3741, which was locked, so I can't ask there: is it possible to configure the extensions via the config file?

[2020-03-05 11:29] thib3113 opened #11212 "[@babel/types] - spreadOperator from an array seems to have a bug with 7.8.7"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.
When I try to build (with react-scripts 3.4.0), I got this error :
`Error: C:\Users\thib3113\app\myFile.js: Expected type "Expression" with option {}, but instead got "SpreadElement".
    at Array.map (<anonymous>)
`

**Input Code**
- REPL or Repo link if applicable:

[code]
this.search return a promise, the promi

[2020-03-05 11:34] abhicutti opened #11213 ""No matching version found for @babel/generator@^7.8.7""
I'm getting this error while run  npm install and also "No matching version found for @babel/helper-compilation-targets@^7.8.7."Please help me here

[2020-03-05 11:35] mickaeldanslenowhere commented on #11211
Hi, I have the same issue, seems like that the publish hasn't been going well... ;)

[2020-03-05 12:26] nicolo-ribaudo commented on #11211
The version is correctly published on npm: https://www.npmjs.com/package/@babel/types

If you are behind a proxy (maybe for work) it's probably its cache that isn't updated.
Otherwise, please report this bug to npm (https://github.com/npm/cli/issues/new/choose) because once there is nothing we can do about it.

[2020-03-05 12:26] #11211 closed

[2020-03-05 12:27] nicolo-ribaudo commented on #11213
The version is correctly published on npm: https://www.npmjs.com/package/@babel/generator, https://www.npmjs.com/package/@babel/helper-compilation-targets (it doesn't have a readme, but it's there)

If you are behind a proxy (maybe for work) it's probably its cache that isn't updated.
Otherwise, please report this bug to npm (https://github.com/npm/cli/issues/new/choose) because once there is noth

[2020-03-05 12:27] #11213 closed

[2020-03-05 12:32] nicolo-ribaudo commented on #11210
This has probably been introduced by 9015fda3c106abda6928cf348797a38f09d4b3e0
---

If it is the first time that you contribute to Babel, follow these steps: (you need to have `make` and `yarn` available on your machine)
1. **Write a comment there** to let other possible contributors know that you are working on this bug.
1. Fork the repo
1. Run `git clone https://github.com/<YOUR_USERNAME>/babel.g

[2020-03-05 13:11] nicolo-ribaudo commented on #11212
@thib3113 I can't reproduce this bug. Can you post your configuration, or (better) a repository which reproduces the issue?

[2020-03-05 13:22] thib3113 commented on #11212
hum .... I'll dig more to find this :/ ...

Recreating an empty react app, with the buggy file, doesn't seems to block the build ...
The project is private so I can't share it directly, but no custom babel configuration (nothing in package.json, no .babelrc ... only config from react-scripts) ...

Did you have any idea of things to do to debug this ?

The only things I see, is, changing this :
`co

[2020-03-05 13:23] nicolo-ribaudo commented on #11212
Can you start by sharing the full stack trace?

It's an internal representation of some JavaScript constructs, used by Babel.

[2020-03-05 13:35] nicolo-ribaudo commented on #11209
@leobalter Would tests like this one be accepted in test262?

[2020-03-05 13:43] songyule commented on #11205
thx, It's ready to work

[2020-03-05 13:43] thib3113 commented on #11212
I doesn't have more trace ...

So, I edit
`node_modules/regenerator-transform/lib/emit.js`
to log the complete error, and it is :
[code]

I update emit.js like that :
[code]
become (for line numbers) :
[code]

[2020-03-05 13:48] nicolo-ribaudo commented on #11212
Ok thanks, I'm able to reproduce it:
https://babeljs.io/repl/#?browsers=node%2010&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsLwBQEoYDeAUDDANoB0VwA7sKsjAAwC6RAvkA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=script&lineWrap=false&presets=env%2Cenv&prettier=true&targets=Node-13&vers

[2020-03-05 13:54] #11205 closed

[2020-03-05 13:58] nicolo-ribaudo commented on #11212
Could you edit this file https://github.com/facebook/create-react-app/blob/master/packages/babel-preset-react-app/create.js (it should be in `node_modules/babel-preset-react-app/create.js`, and add `debug: true` [here](https://github.com/facebook/create-react-app/blob/3f699fd08044de9ab0ce1991a66b376d3e1956a8/packages/babel-preset-react-app/create.js#L72) and [here](https://github.com/facebook/crea

[2020-03-05 14:13] thib3113 commented on #11212
here is the full output :
[code]
( the error is output two times, because I have two files with the same spread line )

[2020-03-05 15:15] Drogglbecher opened #11216 "No "exports" main resolved in @babel/helper-compilation-targets/package.json"
## Bug Report
**Current Behavior**
Since an update to node 13.10.1 I have a problem while building an application with `babel-loader`:
[code]

**Expected behavior/code**
It should build correctly

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

**Environment**
[code]

**Possible Solution**
[snowpack](https://git

[2020-03-05 15:27] JLHwung commented on #11210
The minimum config to reproduce this issue is (`@babel/` is removed because it works for `options.json` in our test fixtures).
[code]

This issue is tricky! It is an integration issue among three plugins. That is, any two of them can not trigger this error.

What's happening in 9015fda is that we access `constantViolations` from the binding info to determine if we should wrap the function body ins

[2020-03-05 15:37] Thenis commented on #11211
Have the same error. Cleaning the cache didn't work

[2020-03-05 16:09] gera2ld commented on #11210
Thanks for the clear explanation.
So this issue is actually caused by `transform-destructuring`, I've moved the test case to `transform-destructuring` since there isn't another fix yet.

[2020-03-05 16:17] nicolo-ribaudo commented on #11211
Please report it to npm.

[2020-03-05 16:21] JLHwung commented on #11216
I can not reproduce this error on my local environments (macOS + Node.js 13.10.1). However I do notice that if `package.json/exports/` is changed to something like
[code]
It will throw exactly the same error as you posted. Can you check if the `node_modules/@babel/helper-compilation-targets/package.json` is same as https://unpkg.com/browse/@babel/helper-compilation-targets@7.8.7/package.json ?

[2020-03-05 16:32] Drogglbecher commented on #11216
Ah, ok, in version 7.8.3 of babel we have
[code]

The `exports: false` could be the thing here.

[2020-03-05 16:34] nicolo-ribaudo commented on #11216
Yeah, we fixed it in 7.8.4. Although, `exports: false` should work starting with Node 13.2 :thinking: (The fix was for Node 13.1-13.2)

[2020-03-05 16:56] nicolo-ribaudo commented on #9546
Sorry for this super long hour! :stuck_out_tongue:

You can add this test to `babel-generator/test/index.js` (it has a section for TypeScript)

[code]

[2020-03-05 16:58] JLHwung commented on #11216
Let the issue stay open for a while as people upgrading to latest node with babel 7.8.3 will be constantly bothered by this issue. I have also filed an issue on node.js: https://github.com/nodejs/node/issues/32107

[2020-03-05 17:58] leobalter commented on #11209
We probably have a similar test for the (sync) arrow function in the extends position. I don’t think it’s a problem to add a valid function form that is not allowed in that position. The only thing I would request is for the test to include the matching spec text in the info meta tag.

[2020-03-05 19:03] BassemN commented on #11216
I'm getting the same error so after updating to node v13.10.1 so I switched back to node LTS v12.16.1 and the error gone. I hope this issue fixed soon.

[2020-03-05 19:10] switz commented on #7926
Sorry for the additional "+1" message, but this would be really handy to have. It's rough UX without it. If someone wants to point me in the direction of where I might implement this, I'm happy to send a PR.

[2020-03-05 19:13] nicolo-ribaudo commented on #11212
The problem is that `regenerator` doesn't support array spread. All your targets support array spread (so the transform isn't included), but Chrome 49 doesn't support it.

The change in your targets is probably caused by a `caniuse` update, used by `browserslist` to decide what browsers it should target.

By default, `create-react-app` uses [`>0.2%`](https://browsersl.ist/?q=%3E0.2%25) ad a query

[2020-03-05 19:19] BassemN commented on #11216
I fixed this issue by removing the `node_modules` directory and `package-lock.json` file then run `npm install` to fresh install all packages then the issue was fixed.

[2020-03-05 20:23] #11210 closed

[2020-03-05 22:34] #10412 closed

[2020-03-06 07:04] wh1tecat-nya commented on #9803
i'm sorry, forgot this issue...
this problem reason is same of @taogilaaa answer.
thanks for help and i hoped same problemed someone got this answer.
closed this issue. thank you.

[2020-03-06 07:04] #9803 closed

[2020-03-06 09:04] dubzzz opened #11221 "Bug when mixing async/await and spreading on function's arguments"
## Bug Report

- [ ] I would like to work on a fix!

Why not if I can have some hints on where to look for 🤔

**Current Behavior**
A clear and concise description of the behavior.

It seems that the code produced when transpiling `(await p).print(...args)` using `@babel/preset-env` with its default configuration is not doing the same as the original code. The `print` function is called with an `un

[2020-03-06 10:15] rhumaric opened #11222 "Last to first traversal option"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when

Hello,

I was implementing a transform to inject returns around the final statements of functions. For this, I had to traverse the list of statements last to first when in the `body`s of

[2020-03-06 10:59] nicolo-ribaudo commented on #11221
Thanks for the repository! It makes it way easier to debug this bug.

I managed to make a simpler reproduction:

[code]

[code]

PS. I noticed that you are using `.babelrc`. It works, but probably what you want is `babel.config.js`/`babel.config.json`!

[2020-03-06 11:00] nicolo-ribaudo commented on #11221
Oh https://github.com/facebook/regenerator/issues/379 :upside_down_face:

[2020-03-06 15:01] #11155 closed

[2020-03-07 08:42] fwang2002 opened #11223 "@babel/proposal-class-properties class field initialization override field value in some situation"
## Bug Report
- [ ] I would like to work on a fix!

**Current Behavior**
@babel/proposal-class-properties generate field initialization code, which overrides the field values assigned dynamically in base class.
Although dynamically assign field value is not good, but sometimes it may write such code. For example: in base class, read a JSON file, and dynamically assign values for class members.

**

[2020-03-07 15:21] JLHwung commented on #11223
Please use the `declare` syntax if you intend `public id: number` to be a type on declaration.

[code]
Since it is introduced in recent TypeScript 3.7, it is behind a `allowDeclareFields` flag.
[code]

In Babel 8 we will remove uninitialized type only declaration.

[2020-03-07 15:21] #11223 closed

[2020-03-09 09:19] paddotk commented on #9849
I can't get it to work, and Webpack doesn't seem to allow this snippet in any kind of way. I'm guessing most people use Webpack (and its config file isn't even preset if create-react-app is used) so what is the solution for the rest?

I installed `@babel/plugin-transform-runtime` within the app as well as `regenerator-runtime` globally, by the way.

[2020-03-09 09:30] sylvainDNS commented on #9849
This snippet must be put in `.babelrc.js` file (or just `.babelrc` if you use json).

If you use create-react-app, you must override webpack config with an external dependy as :
- [craco](https://github.com/gsoft-inc/craco)
- [rescripts](https://github.com/harrysolovay/rescripts)
- [react-scripts-rewired](https://github.com/marcopeg/create-react-app/blob/master/packages/react-scripts/README.md)

[2020-03-09 10:25] paddotk commented on #9849
Ok, thanks, but... Is overriding Webpack config a clever thing to do? The point of packages such as create-react-app is to save a tremendous amount of hassle setting up a working Webpack configuration yourself. I've tried it before and spent over a day getting nowhere.

[2020-03-09 10:44] sylvainDNS commented on #9849
This tweet is a troll, but you must keep in mind that if you override Webpack config in CRA, you own the config, and no support will be provided.
However, overriding is a best alternative than ejecting your CRA.

Personally, I think that overriding webpack in CRA must be used with parsimony, and it isn't a bad thing if you know what you're doing. For instance, I'm mainly overriding CRA to use cust

[2020-03-09 11:15] nicolo-ribaudo commented on #9849
CRA already includes `@babel/plugin-transform-runtime`: https://github.com/facebook/create-react-app/blob/3f699fd08044de9ab0ce1991a66b376d3e1956a8/packages/babel-preset-react-app/create.js#L162

[2020-03-09 12:21] leonardoraele opened #11224 "@babel/plugin-proposal-private-methods "Unexpected token" when accessing private property with elvis operator (obj?.#prop)"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
When I try to access a private property of an object using elvis operator, I get a "Unexpected token" error.

**Input Code**
[code]
By comparison, the following equivalent code seems to be working fine:
[code]

**Expected behavior/code**
No error should occur.

**Babel Configuration**
[code]

**Environment**
- @babel/code-fr

[2020-03-09 14:21] JLHwung commented on #11224
Thanks for the report.

Both `a?.#b` and `a.#b?.c` is _not_ a valid grammar production. According to the [spec](https://tc39.es/proposal-optional-chaining/#prod-OptionalChain)
[code]
`OptionalChain` does not allow `?. PrivateIdentifier` and `OptionalChain . PrivateIdentifier`. Closing this as it is expected.

Side note: there is an open discussion thread on tc39 about interoperability between opti

[2020-03-09 14:21] #11224 closed

[2020-03-10 06:38] GeoffreyBooth opened #11226 "[@babel/core] Bug: “TypeError: Iterator result false is not an object” in Node 6 --harmony"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

In Node 6 running under `--harmony`, Babel’s `transform` throws `TypeError: Iterator result false is not an object`.

**Input Code**

You can reproduce the error with the following one-liner, assuming you have [Docker](https://docs.docker.com/install/) installed:

[code]

The error is present for Babel 7.8.0 and above. If y

[2020-03-10 08:47] mluce194 commented on #11216
I had this issue when trying to run gatsby develop. I tried doing some of the things listed above but nothing worked.

[2020-03-10 08:58] nicolo-ribaudo commented on #11216
What is your `@babel/helper-compilation-targets` version?

[2020-03-10 11:07] zhalice2011 commented on #10374
I resolve my problem by modify .babelrc, `modules:  false`

[code]
![image](https://user-images.githubusercontent.com/24289349/76305159-95f0f300-62ff-11ea-8205-ac130bcbcd6c.png)

[2020-03-10 12:05] smelukov commented on #9546
https://github.com/babel/babel/pull/11227

[2020-03-10 13:12] mluce194 commented on #11216
It is 7.8.3

[2020-03-10 16:13] JLHwung commented on #11226
@GeoffreyBooth Thanks for the report. The issue is an upstream one (all the way up to V8), please refer to https://github.com/loganfsmyth/gensync/issues/4 for more details.

As a workaround, please explicitly enable the harmony toggles you need _except_ `harmony_tailcalls`. This toggle has been removed since node.js 8 so 8+ are not affected.

Note that `harmony_shipping` is enabled by default and

[2020-03-10 16:13] #11226 closed

[2020-03-10 16:34] comoser commented on #11216
This indeed works, with just a few package version updates the gatsby projects can be built again

[2020-03-10 17:00] GeoffreyBooth commented on #11226
In the meantime you might want to consider simply checking for Node version < 8 and `--harmony` and printing an error that `--harmony` mode is unsupported in Node < 8. This error is _always_ thrown in such a situation, as it throws for `transform('')`.

[2020-03-10 20:29] Legends opened #11229 "JS Prefixer"
Does babel support js prefixing like:

`pointerdown --> mspointerdown`

**example:**
`document.addEventListener("pointerdown", ()=>....);`

[2020-03-10 20:40] hparadiz opened #11231 "Property left of ForInStatement expected node to be of a type ["VariableDeclaration","LVal"] but instead got null"
## Bug Report
As of 7.8.7 I'm getting the error `Property left of ForInStatement expected node to be of a type ["VariableDeclaration","LVal"] but instead got null`

Our CI runs like so automatically on every commit:
[code]
Here's the stack trace coming out of webpack CLI
[code]

Our config is:
[code]

This has been mentioned here as well:
https://github.com/apexcharts/apexcharts.js/issues/1359

[c

[2020-03-10 22:45] xtuc commented on #11229
You could write a Babel plugin that does that. I would recommend you looking at https://github.com/jamiebuilds/babel-handbook/blob/master/translations/en/plugin-handbook.md

[2020-03-10 23:31] nicolo-ribaudo commented on #11231
Could you share the contents of `./apps/application/controllers/controllers.addactivity.js`?

[2020-03-11 00:39] hparadiz commented on #11231
I can't share the whole thing but I believe the issue stems from the presence of for ... in type statements using a `var` keyword to define in place like so:

[code]

[2020-03-11 02:48] Legends commented on #11229
Actually a stupid question....

[2020-03-11 02:48] #11229 closed

[2020-03-11 04:05] Jiang1996 opened #11237 "No matching version found for @babel/types@^7.7.0"
**Current Behavior**
-Run npm i -g babel-eslint
Get following error messages:
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/types@^7.7.0.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'babel-eslint'
npm ERR!

[2020-03-11 07:31] Yegorich555 opened #11238 "babel/preset-env doesn't compile according to .browserlistrc and IE"
## Bug Report
- [ ] I would like to work on a fix!

**Current Behavior**
1) use **.browserslistrc** with single line ```IE>=10```
2) babel doesn't compile this according to IE that doesn't support ES6!

**Input Code**
Reproducible repo [here](https://github.com/Yegorich555/WebpackMustHave/tree/feature/bug_babelBrowserListIE)
How to run:
[code]
open **localhost:8080** in **IE11** - you will find th

[2020-03-11 08:19] nicolo-ribaudo commented on #11238
Babel compiles _syntax_: `find` is a function, which needs to be polyfilled. You can either use `@babel/preset-env`'s `useBuiltIns` option ([docs](https://babeljs.io/docs/en/babel-preset-env#usebuiltins)) or `@babel/plugin-transform-runtime`'s `corejs` option ([docs](https://babeljs.io/docs/en/babel-plugin-transform-runtime#corejs)). Or you can also load your own polyfill with a `<script>` tag.

[2020-03-11 08:36] elgs opened #11239 "Option to turn off start/end/loc on AST @babel/parser produced"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The location information the AST @babel/parser produce is great. But when they are not needed, they are causing the AST data produced larger than unnecessary. My workflow is generating many ASTs from small expression. I don't care about the location information and I see the potential to reduce the AST file size

[2020-03-11 08:45] Yegorich555 commented on #11238
Ohh. Thank you. Looks like ```useBuiltIns: 'usage'``` is the best for me.
**useBuiltIns** fixes this but, it's not obvious at all. It's weird that I need to point on polyfills when it's clear from **.browserslistrc**. I have got even any warning, that can draw my attention to it.
It will be a nice feature

[2020-03-11 08:58] mluce194 commented on #11216
Thanks, it worked! (I had tried re-installing node before but I really had to do npm install to solve this issue)

[2020-03-11 10:11] #11238 closed

[2020-03-11 10:40] ahilj92 opened #11240 "Installation Error NPM"
Showing error while installing with NPM
npm install --save-dev @babel/preset-env

npm ERR! Unexpected end of JSON input while parsing near '...Dependencies":{"@babe'

[2020-03-11 11:24] olafChao commented on #11216
This works for me!!! Thanks

[2020-03-11 14:37] nicolo-ribaudo commented on #11216
This is a regression i Node.js. If the workaround we released in 7.3.3 doesn't work for you, please either use Node < 13.9 or wait until https://github.com/nodejs/node/issues/32107 is fixed! (Probably in the next Node.js patch release).

[2020-03-11 14:54] kentcdodds opened #11241 "Support setting Context displayName in `@babel/plugin-transform-react-display-name`"
## Feature Request

- [x] I would like to work on this feature!
- [ ] I have bandwidth to work on this feature in the near future. 🙁

**Is your feature request related to a problem? Please describe.**

Here's an example of React DevTools with a few context providers and consumers:

![image](https://user-images.githubusercontent.com/1500684/76429668-f8380b00-6374-11ea-8ec2-a3713d3e4689.png)

You'll

[2020-03-11 15:03] JLHwung commented on #11240
Can you post your `package.json`?

[2020-03-11 15:08] JLHwung commented on #11237
@babel/types@7.7.0 is [published](https://www.npmjs.com/package/@babel/types) on npm. Could you attach the output?
[code]
Please check if you are behind a proxy or using a third parth npm registry.

There are situations when these cache need some time to update to the latest version. You could also find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matchin

[2020-03-11 15:14] #11237 closed

[2020-03-11 15:15] kevin940726 commented on #11241
I would love to help :) !

However, I think `@babel/plugin-transform-react-display-name` only supports assigning `displayName` to components created by `createClass`? I'm not sure if it should be the right target package we should build this into? Maybe I'm missing something 🤔

[2020-03-11 16:04] kentcdodds commented on #11241
Yes, I believe that's true. That said, there's nothing in the name to suggest that all it handles and considering it's already used by projects which would want this feature I think it's an acceptable place to put this.

[2020-03-11 16:13] JLHwung commented on #11231
Here is a minimal reproduction example
[code]
with `transform-parameters` only. [REPL](https://babeljs.io/repl#?browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=JYAgvAfCDeIGYHsBOIAUA3Ahi0wB2MAvgJQDcIhQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=true&sourceType=module&lineWrap=true&presets=es2015%2Creact%2

[2020-03-11 16:16] kevin940726 commented on #11241
@kentcdodds Fair enough 👍! I'm just curious then why [`babel-plugin-add-react-displayname`](https://github.com/opbeat/babel-plugin-add-react-displayname) isn't also part of this?

[2020-03-11 16:24] hparadiz commented on #11231
I've narrowed down the issue to this commit
https://github.com/babel/babel/commit/9015fda3c106abda6928cf348797a38f09d4b3e0#diff-296be6d02e0f5a9eb2cda2c37099166f

I have downgraded to `@babel/plugin-transform-parameters@7.4.4` and `@babel/preset-env@7.7.1` for now. We have hundreds of instances of (var i in thing) so I'm gonna wait till it's fixed to update the packages.

[2020-03-11 17:05] kentcdodds commented on #11241
I'm also curious about that. I definitely prefer the trade-off of a few extra bytes to have a better production debugging experience.

[2020-03-11 17:47] wilson-manyoma commented on #11216
Thanks a lot, this error was driving me crazy!

[2020-03-11 18:08] mathiasbynens opened #11243 "Support Unicode 13 RegExp property escapes"
## Bug Report

The following JavaScript program currently doesn’t transpile correctly:

[code]

Updating to the latest version of `regexpu-core` should fix the issue.

See https://github.com/tc39/ecma262/issues/1897.

[2020-03-11 18:35] nicolo-ribaudo commented on #11241
Oh wow, I had no idea that our plugin was so outdated.

@roncohen Would you be open to adding this feature to [`babel-plugin-add-react-displayname`](https://github.com/opbeat/babel-plugin-add-react-displayname), and then merging `babel-plugin-add-react-displayname` to the official Babel plugin?

[2020-03-11 20:09] existentialism commented on #11241
Related: https://github.com/babel/babel/issues/8748

[2020-03-11 22:24] #11243 closed

[2020-03-12 00:39] kriskowal opened #11247 "Babel core not importable with Node.js native ESM support"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

Babel version 7.8.7

`import * as babelCore from '@babel/core'` from an ESM in Node.js’s experimental support for ESMs produces an object with a `transformSync` accessor but the accessor returns `undefined`. This occurs when the containing package.json has `"type": "module"` set or when the file has the `.mjs` extension. Th

[2020-03-12 00:42] kriskowal commented on #11247
@erights recommended that I call upon @jdalton or @bmeck for help with this issue. Time permitting, I’ll attempt to isolate this further. I’m not familiar enough with ESM or Babel at this point to tell whether this is an issue that lies more squarely with Babel or Node.

[2020-03-12 00:49] bmeck commented on #11247
This is a known issue per how CJS files are only able to generate `default` exports in order to conform to the ECMAScript specification and binding behavior of ESM. Babel ships a CJS build to package managers and is why this behavior exists. [`esm`](https://www.npmjs.com/package/esm) contains a variety of conveniences that hook into a variety of transpilation patterns such as the `_esModule:true`

[2020-03-12 01:01] kriskowal commented on #11247
@bmeck, I read your statement as “This is not a Node.js bug. Using Babel as it is written today depends on crutches of ESM that will vanish soon. Babel will need to change to accommodate Node.js.” Is this correct? Can you propose a rule that Babel would need to follow to straddle CJS and ESM, like “Avoid default exports.”?

[2020-03-12 01:05] bmeck commented on #11247
@kriskowal I wouldn't phrase it as such since I don't actually think this is a bug but an integration problem by the nature of the transpilation; note that babel file in question is CJS and CJS does not export named bindings in Node. I wouldn't state that importing CJS is broken on Node's side, nor would I state that babel creating CJS from ESM input is broken. They just don't mix / no solutions h

[2020-03-12 01:10] nicolo-ribaudo commented on #11247
We might decide to change this in Babel 8, but in the meantime use `import babelCore from "@babel/core"`.

[2020-03-12 01:18] kriskowal commented on #11247
@nicolo-ribaudo Thank you! That is a fine work-around. Feel free to close if you do not require this task to track.

[2020-03-12 01:20] nicolo-ribaudo commented on #11247
I'll defer the decision to @JLHwung, since he recently started investigating Node.js's new `export` maps which are related to this.

[2020-03-12 07:55] YvetteLau opened #11251 "TypeError: Property left of ForInStatement expected node to be of a type ["VariableDeclaration","LVal"] but instead got null"
The code as follow running normally at last version(V7.8.6), but at Version7.8.7，throw error.

[code]
throw error:

TypeError:  Property left of ForInStatement expected node to be of a type ["VariableDeclaration","LVal"] but instead got null.

my enviorment: `@babel/core:7.8.7, @babel/types:7.8.7,@babel/generator:7.8.7`.

Now, I fix it as:

[code]

or like this:

[code]

Is it a bug with V7.8.7 or

[2020-03-12 09:49] nicolo-ribaudo commented on #11251
https://github.com/babel/babel/issues/11231

[2020-03-12 09:49] #11251 closed

[2020-03-12 09:50] nicolo-ribaudo commented on #11251
This will be fixed in the next patch release.

[2020-03-12 12:39] aherlihy opened #11252 "Babel-Types Alias for All Nodes"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
I need to do type inference in a custom babel plugin in and in order to determine the type I need a visitor method that will be called for every non-leaf node (but for simplicity am asking for a method that is called for every node). Right now it looks like the closes

[2020-03-12 13:34] aherlihy commented on #11252
I realize you can call `exit` and it will call for each node, apologies for the unnecessary issue

[2020-03-12 15:34] henryejemuta commented on #11216
Works like champ! Thanks @BassemN

[2020-03-12 18:07] #11231 closed

[2020-03-12 18:16] dubzzz commented on #11221
Thanks a lot for the quick update and the fix you did 👍

[2020-03-12 19:02] nicolo-ribaudo commented on #11231
Released!

[2020-03-12 20:30] JLHwung commented on #11247
I agree on what Bradley has said before: `@babel/core` is shipped in commonjs, if you are looking at the [entry file](https://unpkg.com/browse/@babel/core@7.8.7/lib/index.js), it is like
[code]
The ESM named import `import { transformSync } from "@babel/core"` is never expected to work with commonjs `exports.transformSync`.

The `esm` will transform the commonjs exports to analogous esm exports so

[2020-03-12 20:30] #11247 closed

[2020-03-13 00:42] johnnywang commented on #7597
So looks like the PR died out and then was closed out because it was never approved. Is anyone else taking a look into this?

I had to import Symbol and Array.from polyfills into my app to get around this, but those are causing their own IE11 issues as well, just fewer than this caused.

[2020-03-13 09:39] nicolo-ribaudo commented on #11252
You can also use `enter` instead of `exit`: `enter` is the default behavior for visitors, and would match the hypothetical `Node` visitor.

[code]

While

[code]

[2020-03-13 10:04] aherlihy commented on #11252
Thank you! However I need to visit the children in depth-first postfix order, i.e. I need to make sure all the leaves are visited before I visit any parents. If I use enter, won't it do it in prefix order so the parent nodes' enter method would be called before the childrens' enter method?

[2020-03-13 10:27] gera2ld opened #11256 "`Cannot read property 'type' of null` again"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
This is a follow up to #11210 . When the assignment expression is wrapped in a block scope that is compiled to IIFE, the error occurs again.

[code]

**Input Code**
- REPL or Repo link if applicable:

[code]

[code]

**Expected behavior/code**
Should not throw error.

**Environment**

[code]
- Babel version(s): all latest, @

[2020-03-13 17:03] nonoesp commented on #11216
This fixed it for me. Thanks @BassemN!

[2020-03-13 17:03] alexey-sh opened #11258 "Converts utf-8 characters"
**Actual behaviour**:
ES2015 option converts
"\u0002\u001e\u012e\b\u0001\b\u0001\u0004\u0002\t\u0002\u0004\u0003\t"
into
"\x02\x1E\u012E\b\x01\b\x01\x04\x02\t\x02\x04\x03\t"

[link to babel playground](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBCELwQRAHQK4AZ0CYXoIwFNscMCAjbXRMtC61AFnNSwBdGtaHaBmRZ-IA&debug=false&forceAllTransforms=false&shippedP

[2020-03-13 17:27] nicolo-ribaudo commented on #11216
Node 13.11 has been released!

[2020-03-13 17:27] #11216 closed

[2020-03-13 17:41] #11174 closed

[2020-03-13 17:56] nicolo-ribaudo commented on #9903
I'm closing this issue, since it's possible to transpile `@babel/runtime` with `@babel/preset-env` to add polyfills.

[2020-03-13 17:57] #9903 closed

[2020-03-13 20:54] JLHwung commented on #11258
These two strings are identical, you can check by
[code]
Babel uses [jsesc](https://github.com/mathiasbynens/jsesc#compact) to generate string literal, by default it will try to convert the string to a format which is 1) ASCII-safe (e.g. `\x02`) and 2) as short as possible (`\x02` vs `\u0002`). If you want to preserve the original `\u` format, please add the following items to your babel config
[c

[2020-03-13 20:54] #11258 closed

[2020-03-13 21:23] alexey-sh commented on #11258
the values are the same but it is important whey you are trying to serve it with a static server on cp1251.
babel documentation doesn't contain the option you've mentioned. so the option is totally unuseful.

so... @JLHwung thanks for your help. even if it makes no sense

[2020-03-13 21:32] nicolo-ribaudo commented on #11258
It will be documented soon: https://github.com/babel/website/pull/2172

Why? Babel doesn't give any guarantee about its output formatting. It only tries to preserve the _runtime_ behavior.

[2020-03-13 21:36] alexey-sh commented on #11258
exactly. so there is no reason to use this tool. also I'd like to note that formatting != encoding.

[2020-03-13 21:43] JLHwung commented on #11258
https://tc39.es/ecma262/#sec-ecmascript-language-types-string-type

I have no idea how `\u0042` => `\x42` can result to incorrect cp1251 encoding. Can you share a reproduction repo?

[2020-03-13 21:51] alexey-sh commented on #11258
sorry no.
it's a tomcat server and jvm with -Dfile.encoding=Cp1251 option

[2020-03-14 09:01] elgs commented on #11239
This is my current work around:
[code]

[2020-03-14 14:20] qmegas commented on #7597
Because of that bug I had to stop using `for ... of` loop. The original report was made on Mar 19, 2018, 2 years have passed and still no fix.

[2020-03-14 15:24] nicolo-ribaudo commented on #7597
This report is not about `for ... of`; it's about array rest/spread. Anyway, I'm working on a fix for both which is smaller than the PR which was discarded: it only works with array and array-like objects. This should make it easier to land it.

[2020-03-15 00:15] nicolo-ribaudo commented on #10625
It's now safe to transpile `@babel/runtime}.

[2020-03-15 00:15] #10625 closed

[2020-03-15 15:29] ljharb commented on #9277
That PR only solved it for strings, not yet for arrays, or Maps or Sets (all builtins should work even without the presence of Symbol.iterator)

[2020-03-15 15:37] nicolo-ribaudo commented on #9277
Yeah sorry, I'm opening the new PR now.

[2020-03-15 18:52] alexey-sh commented on #11258
Actually it's webpack issue. Here is a demo repo
https://github.com/alexey-sh/webpack_and_babel_broken_encoding

[2020-03-15 21:09] valoricDe commented on #8652
@loganfsmyth How is the loading of babel.config.js different to .babelrc? require can import js and json files and the path traversal is also the same isn't it?

[2020-03-15 22:35] nicolo-ribaudo commented on #8652
You can read more about them at https://babeljs.io/docs/en/config-files

[2020-03-16 05:26] Strnadj commented on #9838
I am sorry to open this thread, but this bug irritates me a lot, we have few nasty workarounds to make this work... :(

[2020-03-16 08:32] lizhongit opened #11269 "How to running babel-node with --max-http-header-size"
I wanna running [Verdaccio](https://github.com/verdaccio)，But encounter an error:

[code]

I know it about NodeJS's default header size limit in latest version, one way should be running node command with --max-http-header-size to adjust default header size to up.

So how can I running babel-node with  --max-http-header-size same with node command?

[2020-03-16 09:00] irbian opened #11270 "SourceType script and useBuiltIns"
**Current Behavior**
Hi! I´m new to Babel so maybe I´m approaching this issue in a wrong way but,

We have useBuiltIns that analyzes our code and load the polyfills needed
And we have sourceType script, where "Setting the correct sourceType can be important because having the wrong type can lead to cases where Babel would insert import statements into files that are meant to be CommonJS files"

So

[2020-03-16 10:04] nicolo-ribaudo commented on #11269
You can try `NODE_OPTIONS="--max-http-header-size 100000" babel-node`.

Also, in your example you are not using `babel-node`.

[2020-03-16 10:08] nicolo-ribaudo commented on #11270
When using `sourceType: "module"` babel will inject imports; when using `sourceType: "script"` it will inject `require()` calls (which are supported in CommonJS scripts).

[2020-03-16 10:09] tezml opened #11271 "SyntaxError: Unexpected token"
error code ↓↓↓↓

![image](https://user-images.githubusercontent.com/19584991/76744159-c5e04080-67ae-11ea-869f-f38cda28c537.png)

` ERROR in ../pc-react-next/src/index.js
    Module build failed: SyntaxError: /Users/tezml/Desktop/pc-react-next/src/index.js: Unexpected token (362:9)

      360 | 		let {levels=[], names={}} = level1
      361 |

import  ↓↓↓↓

![image](https://user-images.githubuserco

[2020-03-16 10:11] nicolo-ribaudo commented on #11271
Where did you save your Babel config?

[2020-03-16 10:13] tezml commented on #11271
`{
    "presets": [
        "/usr/local/lib/node_modules/**/**/node_modules/_@babel_preset-env@7.0.0@@babel/preset-env/lib/index.js",
        "/usr/local/lib/node_modules/**/**/node_modules/_@babel_preset-react@7.0.0@@babel/preset-react/lib/index.js",
        "/usr/local/lib/node_modules/**/**/node_modules/_babel-preset-airbnb@4.4.0@babel-preset-airbnb/index.js"
    ],
    "plugins": [
        "/u

[2020-03-16 10:14] tezml commented on #11271
![image](https://user-images.githubusercontent.com/19584991/76746150-ffff1180-67b1-11ea-826d-6983b992351f.png)

[2020-03-16 10:16] nicolo-ribaudo commented on #11271
In which directory is it saved?

[2020-03-16 10:22] tezml commented on #11271
.babel save in my develop root directory
Top code is babel scaffold

[2020-03-16 10:31] irbian commented on #11270
But require is not supported on the browser, I would need something like webpack or babelify, and the codebase is not prepared for that

[2020-03-16 10:36] nicolo-ribaudo commented on #11271
Ok, we need to understand if the babel config is being loaded.

Please try adding some invalid code to `.babelrc` so that it should throw a SyntaxError. Does Babel start complaining about the invalid config file?

[2020-03-16 10:48] tezml commented on #11271
Before using babel 6.x has been no problem.So it's not a question of quotation.

`/Users/tezml/Desktop/pc-react-next ` is a Component
`/Users/tezml/Desktop/pc-react-next-demo` is my Develop  directory

Both of these are .babelrc
I tried it just now. '.babel' doesn't work either

[2020-03-16 10:53] nicolo-ribaudo commented on #11271
In Babel 7, `.babelrc` is only applied in the directory where it's saved. This means that if it is in `/Users/tezml/Desktop/pc-react-next-demo`, it will only be applied to files inside `pc-react-next-demo`.

You can read more about it at https://babeljs.io/docs/en/config-files.

You can either duplicate the file in both directories, or have a `babel.config.json`/`babel.config.js` file in the direc

[2020-03-16 10:59] tezml commented on #11271
ok,I know.But this does not solve the problem

[2020-03-16 11:01] nicolo-ribaudo commented on #11271
Try using `babel.config.js`, and pass the `configFile: "path/to/babel.config.js"` option to `babel-laoder`.

"this" what?

[2020-03-16 15:57] nicolo-ribaudo commented on #11270
Exactly. Before the introduction of ECMAScript modules (`import`/`export`), everything was a script: both the JavaScript you run in the browser and the JavaScript you run in mode.

Unfortunately, there are only two (*) standard systems to import files _from another JS file_: `require` (which only works in some scripts) and `import` (which only works in some modules).

If you can't use native ECMAS

[2020-03-16 18:47] avindra commented on #11271
Noticed this issue too after bumping some `@babel` deps to 7.8.8

No custom `.babelrc`, just a vanilla `create-react-app` package. Our application unit tests started failing on failure to transform JSX after updating the babel deps.

[2020-03-16 20:08] JLHwung opened #11272 "Private Name in the left ForOfStatement is not transformed"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
The following snippet, when transformed via preset-env and stage-3 preset, will throw
[code]

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEDC0G8BQ1oGIAOBuF0C2AFAJSK6oBmA9gE7QEAuAFgJYQB0m0l50A2gLpEcqAL5IRQA&debug=false&forceAllTransforms=false&shippe

[2020-03-16 20:40] jridgewell commented on #11272
Looks like we just need to use the `destructureSet` transform when inside of the `init`.

[2020-03-16 21:03] dman777 commented on #7926
probably best to export it as in `export CHOKIDAR_USEPOLLING=true`

[2020-03-16 21:04] dman777 commented on #7926
probably best to export it as in export CHOKIDAR_USEPOLLING=true

[2020-03-16 21:26] #10988 closed

[2020-03-16 21:29] reznord commented on #11272
I would be happy to pick this one up.

[2020-03-16 21:58] #10618 closed

[2020-03-16 21:58] #10981 closed

[2020-03-16 21:58] #8361 closed

[2020-03-16 21:58] #10337 closed

[2020-03-16 22:06] #10960 closed

[2020-03-16 22:07] #10670 closed

[2020-03-16 22:09] #10921 closed

[2020-03-16 23:33] jharris4 commented on #10752
@kaicataldo Thanks for bringing our attention to this issue. (and for all your work on this package!) It's nice to see that this package is still being actively maintained, albeit in a new repository.

Under `@babel/eslint-parser` in the first comment above, you mention that https://github.com/babel/babel-eslint/pull/784 can be included in a future release. While I understand the logic, that would

[2020-03-17 01:48] mikesherov commented on #7597
@nicolo-ribaudo just wanted to say thank you so much for finally fixing this. Any idea when it may land in a stable version of Babel?   My use case is indeed the `rest spread` use case, and the assumeArray worked for me (mostly), but I'd like to be able to get rid of transforming for-ofs this way.

[2020-03-17 02:54] JLHwung commented on #10481
Babel can not automatically convert non-promise values to promise because it can only be checked in runtime. I think we should document these caveats at https://babeljs.io/docs/en/babel-plugin-transform-async-to-generator

Transferred this issue to `babel/website` repo.

[2020-03-17 02:56] JLHwung commented on #11269
It will be good to mention at https://babeljs.io/docs/en/babel-node that the `NODE_OPTIONS` env is recommended when passing node options to `@babel/node`.

Transferred this issue to `babel/website`.

[2020-03-17 04:54] 0njzy0 opened #11273 "Why I have set the target to chrome 80, and the final conversion code still have polyfill"
This is my .babelrc

[code]

This is my code:

[code]

This is finall conversion code:

[code]

[2020-03-17 06:40] sanex3339 commented on #10960
Thank you!

[2020-03-17 07:12] nicolo-ribaudo commented on #7597
Hi Mike!

You can follow the PRs in https://github.com/babel/babel/projects/12 for updates.
Some of them will already be included in the next release (on Friday), but the pending on the timing some of them could shift to the next patch (no more than 2 weeks) or minor (about 2 months).

If you have any comments about those PRs, please let us know!

[2020-03-17 07:15] nicolo-ribaudo commented on #9277
I'm leaving this open until the example in the original post works.

[2020-03-17 08:58] #8641 closed

[2020-03-17 08:58] #9496 closed

[2020-03-17 09:32] nicolo-ribaudo commented on #8417
This is fixed by https://github.com/babel/babel/pull/11178, which allows you to use `declare` in front of class fields to mark then as type-only and thus don't initialize them to `undefined`.

[2020-03-17 09:32] #8417 closed

[2020-03-17 10:03] silkfire opened #11274 "@babel/core: Upgrade json5 to 2.1.2"
In `@babel/core` 7.8.7, the current version of `json5` (2.1.1) depends on a version of `minimist` that contains the security vulnerability CVE-2020-7598. Can we update `json5` to 2.1.2 to resolve this?

[2020-03-17 11:26] JLHwung commented on #11274
Thanks for the report. PR is welcome!

[2020-03-17 11:44] liuxingbaoyu commented on #11239
You can try [this](https://github.com/babel/babel/pull/10680)

[2020-03-17 13:33] nicolo-ribaudo commented on #11274
Note that `@babel/core` depends on `^2.1.0`, so you can get the patched `minimist` version even without a Babel upgrade.

[2020-03-17 19:53] fernandocanizo commented on #11274
How do you do that @nicolo-ribaudo ? I tried `npm audit fix` and it told me manual intervention is required. Didn't fixed it

[2020-03-17 21:39] wvq opened #11275 "[@babel/plugin-proposal-decorators] should also return the class name"
When use a decorator, like:
[code]
will receive a descriptor:
[code]
The class name 'Todo' does not in the Descriptor, sometimes it's useful.
For example,  logger which class do somethings.

[2020-03-17 22:40] nicolo-ribaudo commented on #11275
The version of the proposal implemented in Babel didn't include the class name in the metadata passed to the decorator (actually, no version ever did).

You can use a `finisher`, which receives as a parameter the class, and then get `Class.name`:

[code]

[2020-03-17 22:40] #11275 closed

[2020-03-18 00:54] JLHwung commented on #11273
The polyfills are injected by `transform-runtime`. Keep in mind that `transform-runtime` is unaware of the browser targets specified in `preset-env`.

When `corejs: 3` is specified in `transform-runtime`, Babel will replace _every_ API to the polyfills provided by `corejs@3` (see [docs](https://babeljs.io/docs/en/babel-plugin-transform-runtime#corejs)). Generally this option is used by library aut

[2020-03-18 01:32] adamu commented on #11274
`@babel/cli` has the same `minimist` problem. Output of `npm audit`:

[2020-03-18 02:01] JLHwung commented on #11274
Please update `mkdirp` to version 0.5.3. As it is a deeply nested dependency, Babel can not do much unless every package has a new patch release for its upstream.

[2020-03-18 04:39] adamu commented on #11274
Unfortunately it seems that `node-pre-gyp` has it pinned to 0.5.1, so I don't think it's possible.
`rc` also has it pinned to `1.2.0`:

[2020-03-18 06:23] shesek opened #11278 "Invalid assignment order introduced in v7.8.0"
## Bug Report

**Current Behavior**
The code below results in incorrect assignment order.

**Input Code**

[code]

Which transplies to:

[code]

**Expected behavior/code**
`O` should be assigned before `b`.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**

None

**Environment**

[code]

**Additional context**

It appears like this bug was introduced

[2020-03-18 09:52] silkfire commented on #11274
@nicolo-ribaudo Why was this issue closed?

![image](https://user-images.githubusercontent.com/1554615/76947835-7d3b9b00-6906-11ea-8bf8-cca71e110fd6.png)

[2020-03-18 10:01] nicolo-ribaudo commented on #11274
Bacause we just merged the fix.

It will be released on Friday.

[2020-03-18 10:40] nicolo-ribaudo commented on #11274
@adamu

There is a problem here: we can't upgrade to `chokidar` v3 in Babel 7 because it contains breaking changes that would be reflected to our users.

- `@babel/cli` has an _optional_ dependency on `chokidar@^2.1.8`.
- `chokidar@2.1.8` has an _optional_ dependency on `fsevents@^1.2.7`
- `fsevents@1.2.11` bundles all its dependencies, including `minimist@0.0.8`

There are a few solutions:
1. Wit

[2020-03-18 14:44] JLHwung commented on #11278
As a workaround you can instruct `transform-parameters` to run before `preset-env`
[code]
The regression introduced at 7.8.0 relates to plugin orders of `transform-parameters` and `proposal-object-rest-spread`.

However, restoring the plugin orders does not fix it for all. when preset-env is targeting to `Chrome 51`, only `proposal-object-rest-spread` will be enabled. The following snippet
[code]

[2020-03-18 20:08] JLHwung opened #11281 "`object-rest-spread` does not transpile correctly when binding is referenced in param initializer"
## Bug Report

- [ ] I would like to work on a fix!

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&spec=false&loose=false&code_lz=BQbwBAhgNGB08HkwF8YCMwF4wJgYy0gEosA-MEZIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Cenv&prettier=fa

[2020-03-18 22:06] vedantroy commented on #11203
A possible fix is to modify `parseExprOp` inside "expression.js":

[code]
A benefit is that the error message will be specific/useful.
A disadvantage is that the error message will be different for async arrow functions vs non async arrow functions. For non async arrow functions, the error message will be a syntax error and for async arrow functions it will be a parse error (I think).

The root ca

[2020-03-19 02:34] jridgewell commented on #10802
Hi @iansu, how's the progress on this?

[2020-03-19 09:02] Friksel opened #11286 "@babel/core 7.8.8 not available on npm?"
Trying to update @babel packages to my surprise npm doesn't have a 7.8.8 version. I would expect to have it though, as @babel here has the 7.8.8 released 7 days ago and as core seems to be a part of the full @babel repo I would expect it to have the same version.

Should core have a 7.8.8 version? If so; is the 7.8.8 core package not pushed to npm or is there no changed code or something else I am

[2020-03-19 09:16] paulmillr commented on #11274
pushed fsevents 1.2.11

[2020-03-19 09:29] droidtechnician opened #11287 "Babel plugin support not working"
Hi,

I am working on ReactJS 16 and using react-mobx for which I require decorators support. I have installed required dependencies. PFB babel dependencies installed

[code]

and this is my .babelrc config

[code]

I don't know why it is still giving me this error
![Error](https://user-images.githubusercontent.com/42478930/77051998-30cd8980-69f2-11ea-9f50-4594dd0d5dc0.JPG)

[2020-03-19 09:48] nicolo-ribaudo commented on #11274
Thanks!

[2020-03-19 09:52] nicolo-ribaudo commented on #11286
It's that! Since this monorepo contains ~150 packages, we have found that publishing all of them together too often causes problems. For this reason, we only publish packages whose source has changed.

[2020-03-19 11:44] Zzzen commented on #9963
🤔Interesting. I'm gonna work on it.

[2020-03-19 13:18] Friksel commented on #11286
Ah, that makes sense. Thanks @nicolo-ribaudo

[2020-03-19 13:18] #11286 closed

[2020-03-19 14:43] #11037 closed

[2020-03-19 15:45] JLHwung commented on #10442
Closing this as it has been fixed in upstream.

[2020-03-19 15:45] #10442 closed

[2020-03-19 16:08] #11278 closed

[2020-03-19 16:10] nicolo-ribaudo commented on #11287
With legacy decorators, the decorator must go _before_ `export`.

[2020-03-19 19:28] existentialism commented on #11038
@buschtoens friendly ping! are you still working on this? no worries if not!

[2020-03-20 03:16] TrejGun commented on #11281
is it valid to use number as rest param?

[2020-03-20 03:26] jridgewell commented on #11042
Closed by #11046

[2020-03-20 03:26] #11042 closed

[2020-03-20 07:45] droidtechnician commented on #11287
When placing the decorator before export I am getting this error

![Error2](https://user-images.githubusercontent.com/42478930/77144805-d80ef700-6aac-11ea-9c17-47ca2ff60922.JPG)

[2020-03-20 07:57] nicolo-ribaudo commented on #11287
1. Is the one you posted your only config file?
2. Could you try running your build with `DEBUG=babel:config:loading:files:configuration command-to-run-your-build`?
3. If you add a syntax error to your `.babelrc` file, does Babel throw?
4. Which is the path of that `.babelrc`?
5. Do you have any other `package.json` file?

[2020-03-20 07:59] #11084 closed

[2020-03-20 08:20] nicolo-ribaudo commented on #7597
This is fixed for all the iterables defined in the ECMAScript spec by https://github.com/babel/babel/pull/11263 and https://github.com/babel/babel/pull/11285

[2020-03-20 08:20] #7597 closed

[2020-03-20 08:58] droidtechnician commented on #11287
1. Yes, this is the only babel configuration file.
2. Let me try this.
3. Yes, if there is any syntax error in babel configuration then it shows an error.
4. It is present in the root folder.
5. No, I have only 1 package.json file

package.json

{
  "name": "customer-management-app",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@babel/core": "7.7.4",
    "@svgr/webpack": "4.3.

[2020-03-20 09:29] nicolo-ribaudo commented on #9838
This is a problem with Babel's "type inference" (*): since the decorators are used in a TypeScript-only position, the imported variables are considered as if they were types.

A few workarounds/fixes:
1. (Real fix) The plugin which transforms the parameter decorator should call `scope.crawl()` in the scope where they moved the decorator to, so that Babel can mark it as used in a non-TypeScript pos

[2020-03-20 10:21] shesek commented on #11278
Thanks for the swift response and fix, cheers!

[2020-03-20 11:23] #10434 closed

[2020-03-20 14:17] mikesherov commented on #7597
Would this also work for jQuery? My other use case is:

[code]

[2020-03-20 15:34] qm3ster commented on #6476
Why is `removeConst` the default? What are the tradeoffs? (considering the `transform-typescript` doesn't typecheck anyway)

[2020-03-20 16:29] hzoo opened #11291 "7.9.0: TS regression with import type as an identifier"
## Bug Report

Reported via Twitter DM, related to https://github.com/babel/babel/pull/11053

**Current Behavior**

Throws an error with an import with identifier type.

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=Last%201%20Chrome%20Version&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBDAnmApnAZlCI4HJ0QS4DcQA&debug=false&forceAllTransforms=false&shippedProposals=

[2020-03-20 18:04] Lukavyi opened #11292 "Create react app is broken because of 7.9.0"
https://github.com/facebook/create-react-app/issues/8680

# Describe the bug
Running npm run build will fail on any project, even on a vanilla app created with create-react-app will fail with the following error:

[code]

[2020-03-20 18:08] existentialism commented on #11292
@Lukavyi please read my comment within the thread: https://github.com/facebook/create-react-app/issues/8680#issuecomment-601820935

[2020-03-20 18:39] JLHwung commented on #11281
@TrejGun In `({ a, ...O }, b = 2, c = O) => {}`, the rest element is `...O` while `2` is the initializer of param `b`. It may looks like `{ a, ...O }, b = 2, c = O` is a big destructuring param but it is not. 😄

[2020-03-20 18:53] ffrezende commented on #11292
My pipelines broke, I have the same error. Does someone have a solution for this bug?

[2020-03-20 18:56] ChrisCoppola-Avlino commented on #11271
I have the same issue with all `@babel` packages at 7.8.8, and also tried 7.9.0.

I have a custom babel file, `.babelrc.js` which worked on previous versions. And I have checked that at least the callback is being called. Nothing super fancy.

[code]

[2020-03-20 18:57] nicolo-ribaudo commented on #11292
Try adding `"@babel/compat-data": "~7.8.0"` to your `"devDependencies"`, deleting `"@babel/compat-data"` from `package-lock.json` and running `npm install`.

[2020-03-20 19:02] nicolo-ribaudo commented on #11271
Could you share a small repository which reproduces the issue :pray:

[2020-03-20 19:05] ChrisCoppola-Avlino commented on #11271
@nicolo-ribaudo I don't have time at the moment, but I will attempt to in the next few days.

[2020-03-20 19:13] Fedeorlandau commented on #11292
Same here, pipeline is broken

[2020-03-20 19:36] wandersoncesar commented on #11292
Works for me in my **Angular** application. Thanks!

I just add `"@babel/compat-data": "~7.8.0"` to my `"devDependencies"`and ran my pipeline again.

[2020-03-20 19:38] nicolo-ribaudo commented on #11292
@wandersoncesar It's unexpected that it broke angular 🤔
You just need to avoid `@babel/preset-env` v7.8.0-7.8.6 which are broken.

[2020-03-20 20:49] ChrisEddy commented on #11292
Our pipeline is broken because of this. Can anyone recommend a react-scripts version to roll back to that works?

[2020-03-20 20:58] Lukavyi commented on #11292
https://github.com/facebook/create-react-app/issues/8680#issuecomment-601851525

[2020-03-20 21:04] hzoo opened #11294 "7.9.0 Regression with React preset and pragma defaults"
## Bug Report

Via https://github.com/zeit/next.js/issues/11230 and on Slack
with the error (error coming from https://github.com/babel/babel/pull/11126)

**Input Code**

Error: `transform-react-jsx: pragma has been set but pragmaFrag has not been set`

[code]

[code]

We removed the defaults in the preset when refactoring in https://github.com/babel/babel/pull/11154 and https://github.com/babel/b

[2020-03-20 21:12] ChrisEddy commented on #11292
Thank you!!

[2020-03-20 21:25] Ailrun commented on #11294
As I mentioned in https://github.com/babel/babel/pull/11126#pullrequestreview-378810819, this issue blocks `@emotion/babel-preset-css-prop` and `gatsby-plugin-emotion` too. I hope #11295 merged as soon as possible (I understand it requires tests though...)

[2020-03-20 21:26] existentialism commented on #11294
@Ailrun it's going out very soon!

[2020-03-20 21:27] Ailrun commented on #11294
@existentialism Thank you for such a quick response! I'm so glad it will be soon.

[2020-03-20 21:29] #11294 closed

[2020-03-20 21:35] nicolo-ribaudo commented on #11294
@Ailrun I'll release when Travis finishes on master.

[2020-03-20 21:36] Ailrun commented on #11294
Thank you all for hard work! I appreciate it a lot :)

[2020-03-20 21:48] kaicataldo commented on #11291
I'm working on this :)

[2020-03-20 22:30] motiz88 commented on #8617
Some version of this issue seems to have been reintroduced by https://github.com/babel/babel/pull/10914 in 7.8.0.

Before 7.8.0, `@babel/core`'s `parseSync` would call `normalizeFile` which in turn would initialise `hub`, so `traverse`ing and calling `path.buildCodeFrameError` worked.

Since 7.8.0, `@babel/core`'s `parseSync` does not call `normalizeFile`, so `hub` isn't initialised and calling `p

[2020-03-20 22:36] DanielRosenwasser commented on #11291
CC @andrewbranch

[2020-03-20 22:37] jdmarshall commented on #11292
Yeah I have a whole team staying late on a Friday afternoon for this.

Why does @babel/core have caret imports of all of its children?  We shouldn't be picking up every child dependency upgrade if we are still using babel/core@7.2.2

[2020-03-20 22:42] nicolo-ribaudo commented on #11292
Because that's almost the standard for open source JS projects?

Anyway, I'm really surprised that `@babel/core`'s dependencies have been upgraded, both `npm` and `yarn` prevent it (even when `^` is used) thanks to their lockfiles :thinking:

[2020-03-20 22:53] jdmarshall opened #11300 "Permissive package.json values are causing backward compatibility problems"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

babel/cli aggressively updates its dependencies, causing our minifier step to fail:

20-Mar-2020 14:18:08 	Warning: Unknown helper createSuper Use --force to continue.

**Input Code**
- REPL or Repo link if applicable:

[code]

Using caret means that you have to maintain deep backward compatibility between versions. It woul

[2020-03-20 22:55] nicolo-ribaudo commented on #11300
We do maintain it. It was a bug introduced in 7.8.0, fixed in 7.8.6 when we discovered it.

If you are still using a version <7.8.6, please upgrade to at least 7.8.7 to receive the bug fix.

[2020-03-20 22:55] #11300 closed

[2020-03-20 23:05] nicolo-ribaudo commented on #11300
The fix is at https://github.com/babel/babel/pull/11298

[2020-03-20 23:29] jalanya commented on #11292
Locally in my macOS Catalina 10.15.0, I'm getting the following error:
[code]
my configuration is
package.json
[code]

And from jenkins, also, i'm getting the following error:

[code]
Do you know if three is a workaround for both cases? Thanks

[2020-03-20 23:59] nicolo-ribaudo commented on #11292
I don't know about the second error, but they are releasing a new CRA version with the fix!

[2020-03-21 00:20] nicolo-ribaudo commented on #11292
Fixed in [create-react-app 3.4.1](https://github.com/facebook/create-react-app/releases/tag/v3.4.1). It should also make the error about "createSuper" disappear (even if it's an actual bug in Babel).

[2020-03-21 00:20] #11292 closed

[2020-03-21 00:24] ptomato opened #11301 "Regression in plugin-transform-for-of 7.9.0"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
Starting with 7.9.0, Babel seems to output ES6 code (method definition shorthand) when transpiling for-of loops, where it didn't before. This breaks if you are using uglify to subsequently process that code, because uglify only handles ES5 code.

Reporting a new bug because this doesn't seem to be covered in any of the other

[2020-03-21 00:28] nicolo-ribaudo commented on #11301
Thanks for the report! I was careful not to use es6 syntax in the new helper, but apparently not careful enough 😢

[2020-03-21 00:38] #11291 closed

[2020-03-21 01:22] #11301 closed

[2020-03-21 03:18] huanzhiyazi opened #11303 "[transform-parameter] Incorrect IIFE when shadowed variable initialized from parameters"
- **First, check a function like this:**

[code]

- **And then transfer it with Babel 7:**

[code]

The input param `date` is discarded for function scope chain.

- **But if you transfer the original code with Babel 6, the output code is:**

[code]

Yeah! You can run it perfectly.

I am not sure if it is a bug! But I think the original code is not a good coding habit, which should be processed as

[2020-03-21 04:03] JLHwung commented on #11303
The Babel 7 behaviour is expected. I would not consider it a bug yet it is indeed sub-optimal.

When there is a variable declaration shadowing the function parameter binding, (i.e. `var date` inside `date`-param function), we will wrap the function body inside an [IIFE](https://en.wikipedia.org/wiki/Immediately_invoked_function_expression) so that the scope of the `var`-binding is _always_ up to i

[2020-03-21 06:32] huanzhiyazi commented on #11303
@JLHwung Thx! Your explanation is very helpful!

I cannot agree with it any more. Maybe in many cases we should remember this rule `more let or const, less var`. If we  always avoid 'var' in this case, the code would never be accepted at the time of grammar checking, and the error can be discovered in advance.

That's right! Thx again for pointing it out!  Please feel free to give me more useful a

[2020-03-21 07:23] TrejGun commented on #11281
i mean part `{a, ...0}` ,`0` (zero) a not valid name for variable.
in other words you can't do `const 0 = 0`
why it should be possible with destruction?

[2020-03-21 09:46] rockus123 commented on #11292
Modern development environment with babel, react and other dependencies will create havoc all the times.  Changes break suddenly and errors are not clear.

[2020-03-21 14:40] jakub-gonet opened #11304 "// comments in anonymous functions break React code"
**I'm submitting a bug report**

**Webpack Version:**
4.42.0

**Babel Core Version**:
7.9.0

**Babel Loader Version**:
8.1.0

**Please tell us about your environment:**
OSX 10.14

**Current behavior:**
After running yarn build in create-react-app following code transpiles to wrong JS code:
[code]

Transpiled and packed:
[code]
(arrow added)
`render()` has dangling `return` (line break after commen

[2020-03-21 14:53] andy128k opened #11305 "Regression in preset-react 7.9.x."
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

After upgrade @babel/preset-react from 7.8.x to 7.9.x all tests in my project are failing with message:

[code]

After bisecting babel I have found a commit which breaks my project. https://github.com/babel/babel/commit/748897be0772d3569c92c26e061ba05ac26563b4

Those lines https://github.com/babel/babel/pull/11154/files#dif

[2020-03-21 14:57] nicolo-ribaudo commented on #11304
Smaller reproduction:
[code]

[2020-03-21 15:00] nicolo-ribaudo commented on #11305
Could this be the same as https://github.com/babel/babel/issues/11304?

[2020-03-21 15:21] andy128k commented on #11305
@nicolo-ribaudo  I cannot confirm neither check. There is no render-prop in my project.

[2020-03-21 15:22] nicolo-ribaudo commented on #11305
Could you share `ProgressBar`'s source?

[2020-03-21 15:22] JLHwung commented on #11303
@huanzhiyazi Thanks for your [post](https://github.com/huanzhiyazi/articles/issues/9), it is indeed a detailed bug report!

Here is a minimum reproduction on [REPL](https://babeljs.io/repl#?browsers=chrome%2042&build=&builtIns=false&spec=false&loose=false&code_lz=BTCGAIF5wFgRgJRQHzgN4ChzgG6gE7gTQQDU4cA3FuPgKYAuArvgHZHUC-CwCQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo

[2020-03-21 15:47] NikitaSedyx commented on #11305
I have the same issue, after release our tests failed

[2020-03-21 15:54] andy128k commented on #11305
@nicolo-ribaudo  There is nothing specific in my ProgressBar. All tests of my components are failing.

Anyway here it is:

[code]

And here is a test:

[code]

[2020-03-21 15:54] JLHwung commented on #11274
Closing this as it has been fixed in `@babel/core@7.9.0`.

[2020-03-21 15:54] #11274 closed

[2020-03-21 16:12] nicolo-ribaudo commented on #11305
Ok, could you share the compiled code for one of those failing components? (`ProgressBar` would be perfect, since it's super simple)

[2020-03-21 16:22] andy128k commented on #11305
Good one:

[code]

Broken one:

[code]

Classic JS error.

[2020-03-21 16:22] nicolo-ribaudo commented on #11305
Ok, this is the same as the other one then! It should be fixed by https://github.com/babel/babel/pull/11306

[2020-03-21 18:20] vedantroy commented on #11202
I don't get an infinite loop. Running `./babel test.js` where "test.js" = `for (x => x in y;;);` outputs `for (x => (x in y);;);`, which is wrong, but there is no infinite loop.

[2020-03-21 18:38] #11203 closed

[2020-03-21 19:11] vedantroy commented on #11281
This issue seems interesting, I'll try fixing it.

@TrejGun I tried evaluating a simple case and got this:

[code]
outputs
[code]

[2020-03-21 19:53] #11304 closed

[2020-03-21 19:53] #11305 closed

[2020-03-21 20:16] kaicataldo commented on #11292
Lockfiles were introduced to help mitigate the problem of shifting dependencies. Highly recommend using one!

[2020-03-21 20:23] brneto opened #11308 "After upgrading babel core, preset-env, babel-loader, preset-react, preset-typescript export from not working"
## Bug Report

After updating the following dependencies ESLint started to complains about all imports from export-from files:
- @babel/core: 7.9.0
- @babel/preset-env: 7.9.1
- @babel/preset-react: 7.9.0
- @babel/preset-typescript: 7.9.0

- [x] I would like to work on a fix!

**Current Behavior**
When I run ESLint src, it throws a "not found in" error the message.

**Input Code**
- https://github.

[2020-03-21 20:28] nicolo-ribaudo commented on #11308
What is your ESLint config?

[2020-03-21 21:07] nicolo-ribaudo commented on #11308
I'm sorry but this is "working as intended".

When using ESLint (without Babel), the ESLint parser produces an AST which matches [the ESTree specification](https://github.com/estree/estree).

When using Babel's parser (without ESLint), there is an option (`"estree"`) to make Babel's output match the ESTree specification. However, Babel implements new features years before that they are specified i

[2020-03-21 21:07] #11308 closed

[2020-03-21 21:41] brneto commented on #11308
@nicolo-ribaudo, would have something I could do in meantime to stop this issue in my project? Some workaround?

[2020-03-21 21:43] nicolo-ribaudo commented on #11308
Yes! I edited the end of my comment a few minutes ago (maybe you missed it)

[2020-03-22 02:19] jaydenseric commented on #8462
What is the best workaround for those of us that can't wait until Babel v8 and need a solution now?

The [option `removeImportsExtension` planned for v7.8](https://github.com/babel/babel/pull/10833#issuecomment-562868733) didn't seem to eventuate.

If there is no better way, I'm going to write a plugin that rewrites every import specifier starting with `@babel/runtime/helpers/` to end with an appr

[2020-03-22 02:24] jaydenseric commented on #8462
The plugin won't be able to add the required `.mjs` extensions to import specifiers within the helper modules though, so I guess that rules out using ESM via `['@babel/transform-runtime', { useESModules: true }]` 😢

[2020-03-22 02:40] vedantroy commented on #11281
@JLHwung Is there a function that acts as the opposite of `getBindingIdentifiers`. Context: I need to get the names of all the default initializes, to see if they reference a variable declaration in a RestElement.

Example
[code]
I need to know that the right-side of `a =` is `b`, so I can transform the parameter.

[2020-03-22 03:22] Lodin opened #11310 "[preset-typescript] Type annotations are not removed for private fields"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
When `@babel/preset-typescript` is used along with `@babel/plugin-syntax-class-properties` , it does not remove type annotations for private fields and methods.

**Input Code**
- REPL or Repo link if applicable:
[Private fields typings - Runkit](https://runkit.com/lodin/private-fields-typings)

[code]

**Expected behavior/co

[2020-03-22 04:02] vedantroy commented on #11281
@JLHwung, what would happen with solution 2 under the following scenario:

[code]
In this case, you must keep `b` in the parameters of the function, so `c = 2` is in the right place.
[code]
However, this will throw a `S is not defined` error. Is this a solution?
[code]

[2020-03-22 04:17] nikitastaf1996 opened #11311 "Conditional transcompiling based on statistics service"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
Let's assume we have a service that can provide statistics of js features support of our userbase.Something like this.
`stats:{
"spread-operator":89}`
Which means that 89 percent of our users support spread operator.
**Describe the solution you'd like**
Add to the Bab

[2020-03-22 05:08] carpie opened #11312 "Pure identifier breaks JSX rendering when using istanbul and auxiliaryCommentBefore option"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I ran into an issue when running Jest tests with coverage enabled with Babel 7.9.1 where I would get the failure `Nothing was returned from render`.  This only happened when `--coverage` was passed to Jest.

Digging deeper, I learned that, when `istanbul` plugin is active, and the `auxiliaryCommentBefore` config option is us

[2020-03-22 05:17] weareoutman commented on #11312
I ran into the same issue. It seems to be introduced by #11126 .

[2020-03-22 05:21] mikehenrty opened #11313 "isReferenced is false for the left hand of AssignmentExpressions (revist #2557)"
## Bug Report

- [ x ] I'd be open to it if you think this is worth looking into

**Current Behavior**
I apologize if this is already being discussed elsewhere, but I'd like to revisit bug #2557. If I can paraphrase that bug, after traversing the following code:

[code]
the `x` binding would not be considered referenced, while `y` would.

If I'm understanding the purpose of `referenced` correctly,

[2020-03-22 07:04] jaydenseric commented on #8462
Here is what I came up with; it really complicates the `.babelrc.js`:

[code]

Publishing this hack of a plugin is a hassle, as is copy pasting it across a bunch of packages. A proper fix in Babel would be awesome 🙏

[2020-03-22 09:14] nicolo-ribaudo commented on #11311
How is this different from using browserslist with custom stats?

[2020-03-22 09:15] nicolo-ribaudo commented on #11312
Fixed by https://github.com/babel/babel/pull/11306, I will release in one hour.

[2020-03-22 09:15] #11312 closed

[2020-03-22 09:16] #11311 closed

[2020-03-22 09:45] #11256 closed

[2020-03-22 09:45] #11303 closed

[2020-03-22 11:35] nicolo-ribaudo commented on #11310
Correct!

For private methods it's working because params/return types are handled by a generic `Function` visitor.

[2020-03-22 12:16] nicolo-ribaudo commented on #10959
This is correct. For reference, this is what the TypeScript compiler (verision 3.8) does: [[TS Playground](https://www.typescriptlang.org/play?ts=3.8.3#code/IYfgdARmDGBQqQIQ1vcVoAoCUakx1iA)]

[code]

[code]

And this is Babel's output: [[Babel repl](https://babeljs.io/repl/#?browsers=chrome%2070&build=&builtIns=false&spec=false&loose=false&code_lz=IYfgdARmDGBQqQIQ1vcVoAoCUakxyA&debug=false&forceAl

[2020-03-22 13:46] Lodin commented on #10889
I'm not sure I understand how `rm -rf` command work in Windows PowerShell in the travis.ci example. Could you please explain it? I'm stuck with setting the babel project up at Windows; even WSL 1.0 does not work with weird errors.

[2020-03-22 14:18] mischnic commented on #11313
There is some logic behind this:
[code]

Would be great to get some feedback, but I guess this is per design and we'll fix it in Parcel.

[2020-03-22 14:27] nicolo-ribaudo commented on #11313
Given that this logic has been in place for years, plugins probably rely on it and I'm a bit hesitant to change it in a patch/minor release.

However, I think that in Babel 8, we should align `x += 2` with `x++`. I'm slightly inclined toward using `x++`'s current behavior.

[2020-03-22 14:30] nicolo-ribaudo commented on #11287
Could you post the output of (2)?

[2020-03-22 14:32] #11240 closed

[2020-03-22 14:33] nicolo-ribaudo commented on #11221
Fixed by https://github.com/facebook/regenerator/pull/386

[2020-03-22 14:33] #11221 closed

[2020-03-22 14:35] #11013 closed

[2020-03-22 14:40] nicolo-ribaudo commented on #10224
I'm closing this since it was related to a buggy browser behavior and is "fixed" by the new `bugfixes` option:
https://babeljs.io/repl/#?browsers=ios%2010.3&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsIxM4AnZACgEoYBvAKBhmAHdhVkYAFPdAW1RAFMA6PbiHQAbAG7cSAbgoBfChRz4ixSUA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=f

[2020-03-22 14:40] #10224 closed

[2020-03-22 14:40] nicolo-ribaudo commented on #10659
Closing since it was not possible to reproduce this issue.

[2020-03-22 14:40] #10659 closed

[2020-03-22 14:43] nicolo-ribaudo commented on #10610
Yes, `parseSync` can load the config file and use "normal" babel plugins.
Your original example seems correct, and I can't reproduce the bug locally.

If you can provide a small repository which reproduces the issue I'd be happy to help. As a quick workaround, you can pass `configFile: "path/to/babel.config.js"` to `parseSync`.

[2020-03-22 14:43] #10610 closed

[2020-03-22 14:45] nicolo-ribaudo commented on #10773
After https://github.com/babel/babel/pull/11049, transpiling the `typeof` helper shouldn't cause problems.

[2020-03-22 14:45] #10773 closed

[2020-03-22 14:46] nicolo-ribaudo commented on #10758
Closing since, form Babel's point of view, `window.location.search` could call the `search` method of a regexp and thus need the polyfill.

You can explicitly pass `exclude: ["es.symbol.search"]` to preset-env to exclude it.

[2020-03-22 14:46] #10758 closed

[2020-03-22 14:49] #9528 closed

[2020-03-22 14:50] nicolo-ribaudo commented on #8049
Closing since this was a configuration issue.

[2020-03-22 14:50] #8049 closed

[2020-03-22 14:50] #10387 closed

[2020-03-22 14:56] #9289 closed

[2020-03-22 14:58] nicolo-ribaudo commented on #9668
Closing per https://github.com/babel/babel/issues/9668#issuecomment-579464154.

TLDR: Babel can quickly compile your TypeScript code, but you should still use `tsc` in two cases:
- as a "linter" to ensure that your types are correct. You can run this before committing, while using Babel while developing.
- to generate .d.ts files.

[2020-03-22 14:58] #9668 closed

[2020-03-22 15:01] nicolo-ribaudo commented on #11212
Fixes by https://github.com/facebook/regenerator/pull/385

[2020-03-22 15:01] #11212 closed

[2020-03-22 15:02] nicolo-ribaudo commented on #10678
This should be fixe by https://github.com/facebook/regenerator/pull/383, because now we use the polyfilled promise with regenerator.

[2020-03-22 15:02] #10678 closed

[2020-03-22 15:02] nicolo-ribaudo commented on #10830
This should be fixe by https://github.com/facebook/regenerator/pull/383, because now we use the polyfilled promise with regenerator.

[2020-03-22 15:02] #10830 closed

[2020-03-22 15:04] nicolo-ribaudo commented on #6707
Closing in favor of https://github.com/babel/babel/issues/9545

[2020-03-22 15:04] #6707 closed

[2020-03-22 15:45] bopfer commented on #11305
#11306 doesn't fix things for me.  Still getting the `Nothing was returned from render` errors with the 7.9.3 packages.

Weird thing is that my tests all run fine on my local MacOS workstation.  But, they fail with the error on my CI system, which is Linux.

Downgrading to `@babel/preset-react@7.8.3` fixes things.

[2020-03-22 16:12] Mouvedia commented on #8049
Is _this_ well documented? If so where?

[2020-03-22 16:23] hzoo commented on #8086
Guess this ended up being the same as https://github.com/babel/babel/issues/8204? Issue unfortunately or not is that we are using compat-table for data and it's saying it doesn't meet requirements for supporting generators until 53 even if it was supported earlier (say the syntax vs rest of the semantics)

[2020-03-22 16:23] #8086 closed

[2020-03-22 16:26] hzoo commented on #10452
Babel doesn't do polyfills directly (whether you use core-js/babel-polyfill/something else) but an updated polyfill should have if it's a newer built-in

[2020-03-22 16:26] #10452 closed

[2020-03-22 16:29] hzoo commented on #9952
I set it up a long time ago, can certainly look into it again but hasn't been a big priority sorry! We'll probably post on twitter or slack when we do though!

[2020-03-22 16:29] #9952 closed

[2020-03-22 16:34] hzoo commented on #9254
This is late so you probably already picked something, but if you're use case is only for import/export there might be specific tools you can use just for parsing that (like even a regex at that point) if you want speed. Babel may give you flexibility but will be inherently slower

[2020-03-22 16:34] #9254 closed

[2020-03-22 16:49] nicolo-ribaudo commented on #8049
In the plugin docs (https://babeljs.io/docs/en/babel-preset-typescript#istsx) it says that, without the `isTSX` option, angle brackets are parsed as typecasts and not as JSX elements.

[2020-03-22 16:55] nicolo-ribaudo commented on #11305
@bopfer Is it possible that your CI used the old version of `@babel/generator` (which is were there was the bug)?

If not, could you add `console.log(ABrokenComponent.toString())` to see the transpiled code on CI? (or better, download the transpiled file)

[2020-03-22 17:05] nicolo-ribaudo commented on #10746
Update: I added the `Parse JSX elements when both the JSX and TypeScript plugins are enabled` section.

[2020-03-22 17:06] nicolo-ribaudo commented on #8049
I have closed this issue because currently it's the expected behavior, but I'm discussing with the team about changing this in Babel 8 (and let the `jsx` plugin alone control JSX parsing).

[2020-03-22 18:37] bopfer commented on #11305
@nicolo-ribaudo Disregard, sorry!  Seems like CI was pulling in the old version for some reason.  I updated all my packages, rebuilt my `yarn.lock` file, and everything is working now.

[2020-03-22 19:38] proteriax commented on #10959
@nicolo-ribaudo There’s a bug filed at the TypeScript repo.

[2020-03-23 00:18] andy128k commented on #11305
Was is published? npm shows 7.9.1 as a latest one here https://www.npmjs.com/package/@babel/preset-react

[2020-03-23 03:59] huanzhiyazi commented on #11303
@JLHwung Wow!! A clearer [example](https://github.com/babel/babel/issues/11303#issuecomment-602059715)

[2020-03-23 04:00] huanzhiyazi commented on #11303
@JLHwung Wow! A clearer example:

[code]

[2020-03-23 04:25] connorjclark commented on #10224
very nice, great work!

(fixed by #11083)

[2020-03-23 05:58] ygnoh opened #11318 "Module not found: Error: Can't resolve '@babel/runtime/helpers/createSuper'"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
After re-installing my Macbook, the error `Module not found: Error: Can't resolve '@babel/runtime/helpers/createSuper'` is occuring during webpack bundling.

**Input Code**

**Expected behavior/code**
Can be bundled without error.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)*

[2020-03-23 06:29] nicolo-ribaudo commented on #11318
Hi @ygnoh! We have some logic specifically to avoid injecting helpers imports when they are not supported by the `@babel/runtime` version, and so far it has always been working: I don't understand where is the bug now.
Would you be able to provide a small repository that reproduces the issue?

As a workaround, you can update `@babel/runtime`.

[2020-03-23 06:31] nicolo-ribaudo commented on #11305
Yes sorry, this was a bug in `@babel/generaror`.

[2020-03-23 07:14] mikehenrty commented on #11313
I would also be inclined towards `x++`s behavior. In my head, I often think of `x++` and `x += 2` as aliases for `x = x + 1` and `x = x + 2`.

Also, (sorry if I'm repeating myself from the Parcel bug) but taking the following [example](https://github.com/mrdoob/three.js/blob/2561e944e1f69ae02c3bf1e71d6bf80ddc73a53c/src/core/BufferGeometry.js#L29) from [Three.js](https://threejs.org/), we have a va

[2020-03-23 07:57] ygnoh commented on #11318
It seems to me that there is no `helpers/createSuper` in `@babel/runtime v7.0.0`, but a library tries to use the `createSuper`. (I couldn't figure out which module tries to use it.)
Therefore I've updated it to the latest which has `createSuper`, and it works! Thanks :)

[2020-03-23 08:00] nicolo-ribaudo commented on #11318
`@babel/plugin-transform-runtime` should only inject `createSuper` calls when it detects `@babel/runtime` `7.9.0` (using the `version` option) :thinking:

[2020-03-23 08:20] nicolo-ribaudo commented on #11318
@ygnoh I found the problem: it was a bug fixed in `@babel/core` 7.5.5 (https://github.com/babel/babel/pull/10208)

As a general rule, we recommend using `^` for your Babel-related version so that you automatically get bugfixes.

[2020-03-23 08:20] #11318 closed

[2020-03-23 08:22] jridgewell commented on #10802
Friendly ping @iansu

[2020-03-23 08:23] jridgewell commented on #11272
How's this going @reznord?

[2020-03-23 08:24] reznord commented on #11272
Hey, had a rough last week. I’ll ge getting on this issue today. Sorry for the delay

[2020-03-23 08:28] jridgewell commented on #11272
No problem! This isn't to make you feel guilty, I just want to avoid situation where you're stuck and haven't asked for help. Take the time you need, especially with all circumstances going on.

[2020-03-23 12:12] Andarist opened #11320 "Inserted identifier clashes with existing identifier from the inner scope"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

Inserted identifier clashes with the existing one **if** the scope gets crawled before generating the inserted UID.

**Input Code**
[code]

**Expected behavior/code**
actual vs expected
[code]

**Babel Configuration**

[code]

**Environment**

Babel 7.9, the rest is quite irrelevant as the issue is not env-specific and is e

[2020-03-23 14:14] nicolo-ribaudo commented on #11320
This might be a bug in `@babel/helper-module-imports`, or in the logic used to collect all the already used identifiers. I don't think that it lives in the jsx helper.

[2020-03-23 16:53] iansu commented on #10802
Hi. I will try to get a PR up for this today. Apologies for the delays.

[2020-03-23 18:33] #11310 closed

[2020-03-23 18:51] loganmccaul opened #11321 "babel-plugin-transform-react-jsx should use the default pragmaFrag if one isn't specified"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
I'm getting the following error when compiling mdx files that contain a React.Fragment as `<></>`

`transform-react-jsx: pragma has been set but pragmaFrag has not been set`

The issue is because mdx is only specifying a jsx pragma, but not a jsxFrag pragma:

See issues opened up in the mdx repos:
- mdx: https://github.com/m

[2020-03-23 19:04] nicolo-ribaudo commented on #11321
When using `@babel/plugin-transform-react-jsx`, if you set `@jsx` and use `<></>`, then setting `@jsxFrag` has been required since fragments where implemented in Babel: https://github.com/babel/babel/pull/6552/files#diff-18da325252fa9074bd50f8b406413a01R69-R80.

This is because `React.Fragment` is _not_ a good default if you are not using `React.createElement`. The error was introduced on purpose.

[2020-03-23 19:04] #11321 closed

[2020-03-23 19:15] loganmccaul commented on #11321
Thanks @nicolo-ribaudo! Definitely helps me understand what's happening here better.

[2020-03-23 19:50] #6923 closed

[2020-03-23 19:50] #8525 closed

[2020-03-23 19:52] nicolo-ribaudo commented on #5696
This works in Babel 7: https://astexplorer.net/#/gist/2f3a941a44b3ef670b238be430fd4ce6/6542646dbc272a3e4da277ebd00e471666635139

[2020-03-23 19:52] #5696 closed

[2020-03-23 20:04] nicolo-ribaudo commented on #11321
@loganmccaul Sorry I got confused. We are not currently setting the default `pragmaFrag` when using the preset, but we'll set the default again in the next patch. We will then remove it in Babel 8.

[2020-03-23 20:18] emilio-martinez commented on #10514
I just ran into this issue as well. As described above, abstract methods get lost upon extending. Is there a workaround somebody's found for this? At least while this bug is triaged, which seems to have been pending for a while.

[2020-03-23 21:31] oliverdunk commented on #10514
Happy to take this one ✋

[2020-03-23 23:52] ChrisCoppola-Avlino commented on #11271
Hey @nicolo-ribaudo just want to point out that, this was a false alarm in my case.

Ended up being a bug in my build process. My .tsconfig file had `emitDeclarationOnly` removed from it, and was supposed to have `--emitDeclarationOnly` flag added to the npm script, but somehow had neither. I was running typescript compiler after webpack to generate d.ts files for a library, causing it to overwrit

[2020-03-24 00:10] jackie1santana commented on #9849
Easiest way to fix this 'regeneratorRuntime not defined issue' in your console:

You don't have to install any unnecessary plugins. Just add:

`<script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>`

inside of the body in your index.html. Now regeneratorRuntime should be defined once you run babel and now your async/await functions should be compiled successfully into ES2

[2020-03-24 04:59] mostafaabobakr7 commented on #8599
That solved the problem for me

[code]

[2020-03-24 06:22] emilio-martinez commented on #9999
Just to clarify, setting the decorators plugin to "legacy" merely side-steps the issue for LitElement in particular, but doesn't actually solve this issue. As also noted above, LitElement's decorators handle both current proposal and legacy cases, although their handling of legacy is more meant for Typescript (as in tsc) decorators.

[2020-03-24 07:38] #11183 closed

[2020-03-24 07:54] iansu commented on #10802
I put up a PR for this but I don't think it's quite right. I think I might have got the `bind` solution working but I'm less sure I was able to covert it to @jridgewell's proposed solution.

[2020-03-24 08:57] nicolo-ribaudo commented on #11321
Released in 7.9.4

[2020-03-24 15:27] #11320 closed

[2020-03-25 15:44] rachedwael opened #11331 "The problem is export without default is not working react-native-gesture-handler"
I have a react-native application.i use react-native-web for transform the application mobile to application web  The problem is export without default is not working in node_modules\react-native-gesture-handler\DrawerLayout.js

![1](https://user-images.githubusercontent.com/38283425/77554785-cb2c4200-6eb6-11ea-87da-3d2ab7452e98.png)

.babel.config.js:
[code]

package.json
[code]

[2020-03-25 16:22] jyoko opened #11332 "Simplify external dependency tree and/or documentation"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

As demonstrated by [this comment](https://github.com/babel/babel/issues/10746#issuecomment-573402372) and [the plan](https://github.com/babel/babel/issues/10746) to drop part of `core-js` support and due to how integral Babel is to parts of the larger Javascript comm

[2020-03-25 16:32] faridg18 opened #11333 "Babel is not building for angular"
## Bug Report

- [ ] I would like to work on a fix!

Currently when I try to build on linux I get the following error:
 Could not find plugin "proposal-numeric-separator". Ensure there is an entry in ./available-plugins.js for it

Although I works fine on macOs

I've tried doing:
  "resolutions": { //adding to package.json
    "@babel/preset-env": "^7.8.7"
  },
npm install npm-force-resolutions --

[2020-03-25 18:47] nicolo-ribaudo commented on #11333
What does `npx nls why @babel/preset-env` print?

[2020-03-25 18:52] nicolo-ribaudo commented on #11331
The error is a bit confusing, but the problem is that you are trying to parse with Babel a Flow file but you have enabled the TypeScript preset. You can fix your config by only enabling the TS preset on TS files:

You can try this config:
[code]

[2020-03-25 20:16] JLHwung commented on #11332
Note that babel is a [monorepo](https://github.com/babel/babel/blob/master/doc/design/monorepo.md). That said, the top level `package.json` does not specify babel's dependencies, but the packages which we need to _build_ all babel packages.

`core-js-compat` is not an external dependency, it is depended by [@babel/preset-env](https://github.com/babel/babel/blob/master/packages/babel-preset-env/pac

[2020-03-25 20:54] jyoko commented on #11332
I would stipulate that `core-js-compat` as I used it refers to the things downloaded as I described in the usual issue, and that anything namespaced `@babel` is part of this project. If I have somehow notified the relevant people incorrectly, please let me know how to correctly inform them.

[2020-03-25 21:34] nicolo-ribaudo commented on #11332
@jyoko Could you clarify exactly which of the packages in the `@babel/` namespace (you can find them at https://github.com/babel/babel/tree/master/packages) has an undeclared dependency on `core-js`/`core-js-compat`?

The 449 references you linked are mostly for tests, in snapshot files that aren't executed but compared as strings.

[2020-03-25 22:02] faridg18 commented on #11333
@nicolo-ribaudo here is the result for npx nls why @babel/preset-env:

  Who required @babel/preset-env:

  eleven-app-frontend > @angular-devkit/build-angular > @babel/preset-env@7.8.3
  eleven-app-frontend > @nrwl/angular > @nrwl/cypress > @cypress/webpack-preprocessor > @babel/preset-env@7.9.0
  eleven-app-frontend > @nrwl/cypress > @cypress/webpack-preprocessor > @babel/preset-env@7.9.0

[2020-03-25 22:14] jyoko commented on #11332
@nicolo-ribaudo I'm not saying anything has an undeclared dependency, I'm saying that I think for me as a new developer looking at Babel it's unnecessarily indirect for me to see what "Babel" (not pieces of Babel, because I'm unfamiliar with it) pulls in from other places.

I'm not criticizing Babel or the design decisions. The original issue describes how I found out what Babel did and I also cou

[2020-03-25 22:31] faridg18 commented on #11333
UPDATE: Solved it by adding

 "@babel/compat-data": "~7.8.0" to the dev depencies

[2020-03-25 23:08] nicolo-ribaudo commented on #11333
Glad that you managed to work around it!

Btw, I have noticed that `@angular-devkit/build-angular` released a new version which doesn't depend on the broken `@babel/preset-env@7.8.3` (https://unpkg.com/browse/@angular-devkit/build-angular@0.901.0/package.json)

[2020-03-25 23:08] #11333 closed

[2020-03-26 01:16] JLHwung opened #11335 "`transform-destructuring` output invalid syntax when `let` is used as binding name"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
The transformed result of the following snippet throws syntax error

[code]

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQbwBANgpgLmC-YC8YTwJQG4g&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTra

[2020-03-26 06:21] milolu opened #11336 "_createSuper is not defined"
## Bug Report

**Current Behavior**
if you define two class in one js file, will error
Uncaught ReferenceError: _createSuper is not defined

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
update dependencies

**Environment**

- @babel/plugin-transform-classes@7.9.2

**Possible Solution**

**Additional context/Screenshots**
![image-20200326141901583](https://t

[2020-03-26 08:34] nicolo-ribaudo commented on #11336
Could you try updating `@babel/core` to at least 7.5.5? I think that error is caused by a but we fixed long time ago (https://github.com/babel/babel/pull/10208).

[2020-03-26 10:47] houchaowei opened #11337 "Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3". If you are sure you have a compatible version of @babel/core,"
## Bug Report

After upgrading to babel7.0 from babel6.0 according to `https://github.com/babel/babel-upgrade`, I got an error, error output:

[code]

Current Behavior

My `package.json`:

[code]

Input Code
None

Expected behavior/code
None

Environment

* Babel version(s): 7.4.5
* Node/npm version: v8.16.0
* OS: MacOs

Possible Solution
None

Additional context/Screenshots
None

then i fond an i

[2020-03-26 13:34] zjffun commented on #11337
I reporduced you steps and find

[code]

[2020-03-26 13:52] nicolo-ribaudo commented on #11337
Yes, the problem probably caused by `webpack-cli` v2 which depends on Babel 6, and uses it in a way that it loads a Babel 7 plugin from your config.

[2020-03-26 18:21] copyrighthero opened #11338 "Babel compile `html-entities@1.2.1` code generate invalid JavaScript code"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

When using `babel` to compile `html-entities` from `node_modules`, specifically when using the the following environment and configuration file, using the command `babel --config-file ./babel.config.js node_modules/html-entities/lib/html5-entities.js > ~/Desktop/html5-entities.js`, the generated code is invalid.

Original s

[2020-03-26 18:53] marcellomontemagno opened #11340 "Traspiling typescript code coming from node_modules"
**Current Behavior**
I receive `SyntaxError` when trying to traspile a valid `.ts` file coming from `node_modules` other files withing the project would be transpiled as expected. I use babel through `babel-loader` providing an `include` rule so it can traverse the path I'm interested in within `node_modules`.

**Input Code**
here a minimal repo to reproduce the issue:
`https://github.com/marcello

[2020-03-26 19:06] JLHwung commented on #11340
Please rename `.babelrc.js` to `babel.config.js`, this change file relative config to project-wide config. `.babelrc.js` is only applied to your own module, that said, Babel does not apply `.babelrc.js` to `node_modules/aDependency`.

See [Configuration docs](https://babeljs.io/docs/en/config-files#configuration-file-types) for different configuration types.

[2020-03-26 20:54] #11338 closed

[2020-03-26 20:59] nicolo-ribaudo commented on #11335
This is a parser bug, since `let = 2` should be valid.

[2020-03-26 22:08] nicolo-ribaudo commented on #11336
@ulrichb This bug should only happen when using `@babel/core` <7.5.5, but CRA uses 7.9.0.

Could you run `npx nls why @babel/core` and post the output?

[2020-03-27 03:57] houchaowei commented on #11337
@zjffun i follow what you said and run:

[code]
when i run `npm run start`, it worked but failed to compile.
output:
[code]
my `./client/index.js`:
[code]
This is a question of corejs or something else?

[2020-03-27 05:27] vlad0337187 commented on #8309
The only working approach for me was adding `--ignore=' '` to cli command.
So command looks like:
`babel-node --ignore=' ' --root-mode upward --extensions '.ts' ./src/index.ts\"`

(versions:
    "@babel/cli": "^7.6.4",
    "@babel/core": "^7.6.4",
    "@babel/node": "^7.6.3",
)

But it's just a workaround, not a solution for this issue.

[2020-03-27 06:27] houchaowei commented on #11337
my `.bablerc`:
[code]

[2020-03-27 06:48] nicolo-ribaudo commented on #11337
Remove the `polyfill` option from `@babel/plugin-transform-runtime`.

[2020-03-27 07:35] houchaowei commented on #11337
@nicolo-ribaudo tks!  follow your words, it works.

[2020-03-27 07:36] #11337 closed

[2020-03-27 07:43] shrinktofit opened #11342 "Is there an option to not emit code for class fields that have no initializer"
We are suffering from a v8 performance issue.  The following code(directly run on NodeJs, no babel) would get a very low performance:
[code]
if I modify the code  as `const Vec3 = Vec3_110`.

As in babel, use `@babel/plugin-proposal-class-fields`(`loose: true`) and `@babel/preset-typescript`. A class field with no initializer like:
[code]
will emit code like:
[code]

It also suffers from the perfo

[2020-03-27 08:55] nicolo-ribaudo commented on #11342
Can't you just delete the class field?

[2020-03-27 09:33] pandamicro commented on #11342
Our code style guide forces to declare all properties in the class declaration instead of in the constructor.

There are several benefits:

1. Very clear for the maintainer to understand the data structure of a class
2. You can assign the default value in the declaration, if it's not passing by the constructor
3. We can have decorators over properties for other systems to interpret informations ab

[2020-03-27 12:47] nicolo-ribaudo commented on #11342
You are effectively aking for an option to completely ignore a language feature (i.e. class fields without an explicit initializer) because your style guide requires you to use that feature, but you don't want to use that feature.

It's like if a style guide mandated the use of `===`, but you need to use `==`.

Anyway, I can propose a few alternatives:
1. If you don't want the class fields to be i

[2020-03-27 13:35] ulrichb commented on #11336
Okay, I had a second package which depended on @babel/core (`jest`) and therefore indeed `7.4.4` got resolved. After re-installing _both_ `jest` and `react-scripts`, now `7.9.0` got resolved.

Result: Now I get even earlier a false-positive [_Module parse failed: Cannot use keyword 'await' outside an async function_](https://github.com/facebook/create-react-app/issues/8707#issuecomment-603212499)

[2020-03-27 14:50] #11342 closed

[2020-03-27 14:51] shrinktofit commented on #11342
Thanks for your advice~

[2020-03-27 15:07] nicolo-ribaudo commented on #11336
@ulrichb I'm sorry for these bugs :frowning_face:
Can you post an example which reproduces the second error? (Maybe in a new issue)

[2020-03-27 15:08] pandamicro commented on #11342
Thanks for the suggestions, we now add declare or default assignment as good examples to our coding style guide. I just think to generate code like the following is really not the best option here,

[code]

Why couldn't the transpiler use a default value which is compatible to the type we declared instead of just `undefined`. I mean it's always preferable to deal with the complexity during transpi

[2020-03-27 15:14] nicolo-ribaudo commented on #11342
One of the reasons is that the spec defines them as initialised to `undefined`. This code should never throw:
[code]

Also, a more "practical" reason is that from this code it's impossible for us to know the type of `x`:
[code]

[2020-03-27 15:15] kingback opened #11343 "Use babel 7.9.0 with minify-dead-code-elimination cause regexp match infinite loop."
## Bug Report

**Current Behavior**
Use babel 7.9.0 with babel-plugin-minify-dead-code-elimination cause regexp match infinite loop.

**Input Code**
Code from <https://github.com/unshiftio/querystringify/blob/master/index.js#L48>

[code]

**Actual Output**
`parser` is compiled into `while` condition and cause infinite loop.

[code]

**Babel Configuration**
- Filename: `.babelrc`

[code]

**Environ

[2020-03-27 15:16] kingback commented on #11343
Duplicate of https://github.com/babel/minify/issues/981

[2020-03-27 15:16] nicolo-ribaudo commented on #11343
Does it started failing with 7.9.0, or it also didn't work before?