[2019-09-07 14:21] pvdz opened #10413 "[parser] `let` in catch clause is not an error in sloppy"
## Bug Report

The `let` identifier should be valid in a catch clause in sloppy (non-strict) mode but this appears to be invalid.

**Current Behavior**

The `let` identifier is special in strict mode but not a keyword in non-strict mode. In this case Babel still throws over it where I think it should not.

**Input Code**

https://astexplorer.net/#/gist/15eb31fbb1024faa6f42a4940d8beb4a/50b40e18038b

[2019-09-07 16:00] nicolo-ribaudo commented on #10411
`({break})` is a syntax error because it's the same as `({break: break})`

[2019-09-07 16:47] pvdz commented on #10411
Oh wow, thanks for that. I completely missed that detail.

Looking explicitly at it now, https://tc39.es/ecma262/#prod-PropertyDefinition uses https://tc39.es/ecma262/#prod-IdentifierReference for a shorthand. This leads to https://tc39.es/ecma262/#prod-Identifier which forbids "keywords". So you're absolutely correct; this is a syntax error.

[2019-09-07 16:49] pvdz commented on #10411
I will update the issue accordingly. I believe the bug here is that this would not apply to contextual value keywords like `eval` and `arguments`, which can be read in strict mode, just not written to. And this is just a read.

[2019-09-07 19:50] sgravrock opened #10414 "Specifying a browserslist breaks for..of compilation for IE 10"
## Bug Report

**Current Behavior**
Using the env preset with a browserslist containing "ie >= 10"  (or possibly any non-default browserslist), for..of loops are compiled to code that doesn't work on IE 10. The generated code uses `return` as a property name, e.g. `_iterator.return()`, which is a syntax error on IE 10. If the browserslist is omitted entirely, the generated code correctly reference

[2019-09-08 00:05] kimamo commented on #8599
@saulwolfdev fix worked for me!

[2019-09-08 08:58] AnandChowdhary commented on #10408
Awesome! Can we also patch update and publish all dependents of `@babel/types`, like `@babel/core` and `@babel/preset-env`? 😄

[2019-09-08 09:00] AnandChowdhary commented on #10408
Though #10403 is fixed already, perhaps we can keep this issue open until all packages using `@babel/types` are updated as well?

[2019-09-08 15:16] sepehr commented on #7233
Doesn't work for me either.

[2019-09-08 17:04] nicolo-ribaudo commented on #10408
It isn't needed, since they don't peen their dependencies. `yarn upgrade @babel/types` (or the equivalent npm command) should be enough.

[2019-09-08 17:44] rafaelgssa opened #10415 "Some parts of my code aren't being minified since v7.6.0"
## Bug Report

**Current Behavior**
Since v7.6.0, some parts of my code aren't being minified. I'm not sure what's going on. Here's the current output, where `fragment` was supposed to be `n`:

[code]

**Input Code**
- https://github.com/rafaelgssa/esgst/tree/master/browser

[code]

**Expected behavior/code**
This is the code that was generated under v7.5.5:

[code]

**Babel Configuration (.babelr

[2019-09-08 18:40] sgravrock commented on #10414
I don't think this is actually a bug in Babel. Keyword property names like `return` work in IE 10 as long as it's running in standards mode. The test page that I was using to check the compiled code didn't have a doctype declaration. That put IE 10 into compatibility mode, which doesn't support keyword property names and a host of other JS features. Adding `<doctype html>` to the top of the page f

[2019-09-08 18:40] #10414 closed

[2019-09-08 19:10] #10415 closed

[2019-09-09 05:35] #10176 closed

[2019-09-09 10:56] abhinavsingi opened #10416 "Weird behaviour after recent release"
## Bug Report

**Current Behavior**
`Cannot read property 'name' of null` error is coming when babel is parsing.
Since `target.node.id is null`

**Input Code**
- Error code - http://bit.ly/2k7mzXL
- Working code - http://bit.ly/2lZu8QG
- Working code - http://bit.ly/2kzBt9e

This code breaks on repl with only es2015 preset selected
[code]

**Expected behavior/code**
This code is working though

[c

[2019-09-09 13:50] hnrchrdl commented on #10266
Removing all node_modules and running a fresh install resolved the issue for me.

[2019-09-09 13:59] askbeka commented on #10008
Great! Would really love to have this feature.
But consued about `pure` part.

Not sure how ponyfills are implemented right now.

Consider scenario when ponyfill is implemented using some of the language builtins, but if thise builtins are not avaialbe in target they are replaced by their ponyfills.

Is it the case? Or ponyfills always implemented based on other ponyfills without making assumption

[2019-09-09 15:12] nicolo-ribaudo commented on #10008
That's up to the ponyfill that would be used.

For example, an `[].includes` ponyfill could be implemented like this:
[code]

Or it could assume that `.some` is available, and ask you to transform the polyfill source with another polyfill provider which gives you ES5 features:

[code]

[2019-09-09 15:21] nicolo-ribaudo commented on #10266
@sibelius Could you check in your lockfile if every `@babel/helpers` version is >= 7.5.5?

[2019-09-09 15:25] sibelius commented on #10266
we removed node_modules and webpack build cache, and it is solved

tks

[2019-09-09 16:19] joaorsfonseca commented on #8599
Hi.. I'm also running into this issue..
I've trying every single tip on this topic...

**package.json**
[code]

**.babelrc**
[code]

ERROR in ./src/index.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: Cannot find module '@babel/core' (While processing preset: "C:\\_TFS\\EP\\ConnectorV2\\Dev\\Connector.UI\\node_modules\\@babel\\preset-env\\lib\\index.js")
    at Func

[2019-09-09 16:22] nicolo-ribaudo commented on #8599
You are mixing Babel 6 (`babel-*` packages) with Babel 7 (`@babel/*`). You should choose either one or the other (I suggest Babel 7)

[2019-09-09 18:02] abhinavsingi commented on #10416
It shouldn't matter but I've put in new links (with the same code) but with env preset instead of es2015.

Not working code:
http://bit.ly/2lEo2oX

Working code:
http://bit.ly/2lEoaor
Working code:
http://bit.ly/2k8fkPc

Another thing to notice is the difference of code output in both the working snippets

[2019-09-09 19:38] rtsao commented on #10406
I see, so the `corejs: 2` option should be updated to include the same polyfills as `corejs: 3`?

[2019-09-09 20:49] askbeka commented on #10008
Thanks for the example snippet.
I was hoping that it implemented like in 2nd example and that all ponyfills are passed through babel with defined target. Otherwise some feature ends up being fully poly filled even though 90% of it is available on the target.

Anyway. I'd love to contribute. Do you see any blockers?

[2019-09-09 21:17] nicolo-ribaudo commented on #10008
I'm currently working on this privately, because it's a really big feature and I need the ability to commit/refactor whatever I want until it's ready to be shared publicly. I'll let you know when it's ready to be made public!

[2019-09-09 23:49] peter-mouland opened #10423 "@babel/plugin-proposal-object-rest-spread outputs verbose code as 7.5.0"
## Bug Report

**Current Behavior**
as of 7.5.0 the output of my distributed code has become more verbose.  I'm not sure if it's a bug or intended side-effect of another change.  If it's intended, I haven't worked out how to reduce the output again.

Basically a single-line babel-helper has been replaced at the top of the file with multi in-line functions

**Input Code**
[code]

**output**
[code]

[2019-09-10 00:56] VivekNayyar commented on #10262
@nicolo-ribaudo I don't a see a PR for this yet. Can I pick this up?

[2019-09-10 01:15] zloirock commented on #10406
They have different data sources and it's too complex and costly to update it for obsolete `core-js` version.

[2019-09-10 02:56] bmish commented on #10266
I had this same issue and ended up using a yarn resolution in package.json to fix it (a less invasive change than running `yarn-deduplicate`):

[code]

[2019-09-10 04:36] abhinavsingi commented on #10416
Hi, any update on the merge status of this?

[2019-09-10 07:25] Andarist commented on #9981
Just to add a note here - besides bumping transpilation target it would be good to update dependencies as well. I.e. `chokidar` should be bumped to `>3.x` (currently lower versions are sometimes giving me lots of warnings in the console because of the used `fsevents` version) - this can't be done right now, as chokidar@3 has already dropped support for node@6 which babel still supports at this mom

[2019-09-10 08:06] joaorsfonseca commented on #8599
@nicolo-ribaudo thanks for the tip.. I've uninstalled all the babel packages and install the new ones using this command:
[code]

And now the error is slightly different.
ERROR in ./src/index.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: .plugins[3][2] must be a string, or undefined
    at assertPluginItem (C:\_TFS\EP\ConnectorV2\Dev\Connector.UI\node_modules\@babe

[2019-09-10 08:39] graingert commented on #8425
It could use a default config

[2019-09-10 12:42] JLHwung commented on #10423
It is intended for spec compliance. I notice that some of the helpers is not transformed to helper imports, in this case one may specify a helper version to transform-runtime. See https://github.com/babel/babel/issues/10261#issuecomment-514687857.

[2019-09-10 12:45] JLHwung commented on #10423
Close as it duplicates #10261

[2019-09-10 12:45] #10423 closed

[2019-09-10 13:18] #7215 closed

[2019-09-10 13:57] mohammad-khosrojerdi commented on #8599
it work for me, thank you

[2019-09-10 14:19] rajasekarm commented on #10262
@vivek12345 I tried fixing it, But I didn't get the fix. I you want to do a pair programming we can do.

[2019-09-10 14:58] leoasis opened #10424 "Labels with `let` and `const` variable declarations seem to no longer work"
# v7 Regression

**Describe the regression**
Looking at http://astexplorer.net it seems that specifying a label for a variable declaration statement is treated as invalid code in Babel 7, but it is valid in Babel 6. Looking at MDN it doesn't look like this should be treated as invalid code.

**Input Code**
[code]
shows this error message:
[code]

And this:
[code]
shows this error message:
[code]
*

[2019-09-10 15:10] nicolo-ribaudo commented on #10424
It is a syntax error: you can try running `foo: let bar = 123;` in your browser's console.

If you are interested in why, a `LabelledStatement` can only contain what the spec defines as `Statement`:
https://tc39.es/ecma262/#sec-labelled-statements

A `Statement` is one of the following: (https://tc39.es/ecma262/#prod-Statement)
[code]

Here you see `VariableStatement`, which only allows `var` and

[2019-09-10 15:10] #10424 closed

[2019-09-10 17:47] #10416 closed

[2019-09-10 19:40] uzer-ua opened #10426 "Builder-react-jsx: Inconsistent string literal value normalization across different platforms"
## Bug Report

**Current Behavior**
Babel-helper-builder-react-jsx modifies string literal attribute values. Though it itself is already not nice, but even more, it does it in inconsistent way.

**Input Code**

`index.js`
[code]
`index.test.js`
[code]
Due to [this line](https://github.com/babel/babel/blob/daf25af47c4161025dfa552fd41b837f062efe47/packages/babel-helper-builder-react-jsx/src/index.js

[2019-09-10 22:03] bdwain commented on #10295
I can do this

[2019-09-10 23:57] #10295 closed

[2019-09-11 09:07] imcuttle commented on #4289
How's it going? I has similar question when I used `path.replaceWith`

[2019-09-11 09:20] leoasis commented on #10424
Oh my bad, sorry for filing this invalid ticket, and thanks for the thorough answer.

[2019-09-11 09:50] Andarist commented on #6735
@Jessidhia the issue itself is not exclusive to getter descriptors, the current implementation also doesn't handle this correctly:
[code]

Basically seems like in strict mode you can't ever (besides attempts to optimize output) merge more than 2 objects at the time when using spread.

[2019-09-11 10:23] #9877 closed

[2019-09-11 15:49] JLHwung commented on #10408
Close as it duplicates #10403

[2019-09-11 15:49] #10408 closed

[2019-09-11 22:04] twiss opened #10431 "Calling a method on an `await`ed value with rest parameters incorrectly uses `undefined` as `this` value"
## Bug Report

**Input Code**
- [REPL link](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsLwgCgHQHABOA5iAJQwDeAUDDDsAO7CrIwBuwANggKbk8AWz7IAFugAm-QqQoBuGgF8gA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=e

[2019-09-11 22:14] nicolo-ribaudo commented on #10431
Thanks for the bug report, I moved it where the root cause of this bug (regenerator) is maintained: https://github.com/facebook/regenerator/issues/379

[2019-09-11 22:14] #10431 closed

[2019-09-11 22:59] bre30kra69cs commented on #10413
Think i can fix it!

[2019-09-11 23:38] mgrybyk opened #10432 "istanbul ignore next is ignored after upgrade @babel/core from 7.5.5 to 7.6.0"
## Bug Report

**Current Behavior**
After upgrade `@babel/core` from 7.5.5 to 7.6.0 `jest --coverage` ignores `/* istanbul ignore next */`

**Input Code**
1. clone https://github.com/webdriverio/webdriverio
2. remove `node_modules` and `package-lock.json`
3. set `@babel/core` version to `7.6.0`
4. `npm install`
5. run `node_modules/.bin/jest --clearCache ; node_modules/.bin/jest packages/wdio-sync

[2019-09-11 23:39] nicolo-ribaudo commented on #10413
If you need any help, feel free to ask in our slack channel! (In `#development`)

[2019-09-12 22:57] JLHwung opened #10434 "the unicode definition of t.isValidIdentifier is outdated"
## Bug Report

**Current Behavior**
The following snippet returns false because `esutils` are still using Unicode 9.0.0.

**Input Code**
- REPL or Repo link if applicable: https://runkit.com/embed/h5oakw0vn4bs

[code]

**Expected behavior/code**
Return true, which also aligns to babel-parser.

**Environment**
- Babel version(s): v7.6.1
- Node/npm version: Node 12
- OS: macOS 10.14, Chrome 76
- Mon

[2019-09-13 08:27] nicolo-ribaudo commented on #10434
It could work 👍

[2019-09-13 09:31] pvdz opened #10435 "[parser] x2028 and x2029 should increment location lines"
## Bug Report

**Current Behavior**

While line terminators are not allowed in strings (unless continuation), and `\u2028` and `\u2029` are considered line terminators explicitly, they are still allowed inside a string without needing to be escaped. Should this increase the line counter? If multi-line comments and templates do, then I think this should as well.

The same goes for 2028 and 2029 in

[2019-09-13 09:50] mgroenhoff commented on #8375
Thanks all for taking this over!

[2019-09-13 10:05] nicolo-ribaudo commented on #10435
cc @loganfsmyth I remember that you did already think about this problem, am I right?

[2019-09-13 10:27] pvdz opened #10436 "[parser] Multi line group location ending"
## Bug Report

**Current Behavior**

I think the location end is incorrect for multiline groups. If the group starts with the first non-whitespace after the parenthesis, then the end should be after the last non-whitespace but before the parenthesis. Right now it seems to be after the character before the closing paren.

**Input Code**

[code]
Delta:
[code]

[code]
Delta:
[code]

**Environment**

[2019-09-13 10:37] pvdz opened #10437 "[parser] Tagged template with \8 should set value to null"
## Bug Report

**Current Behavior**

Minor AST issue; The `\8` and `\9` are illegal escapes. In tagged template these should be recognized as bad escapes and set the `.value` property in the AST to `null` to reflect this.

**Input Code**

[code]

[code]

**Expected behavior/code**

For templates, an escape `\8` and `\9` end up as `NotEscapeSequence`
https://tc39.es/ecma262/#prod-NotEscapeSequence

[2019-09-13 14:42] pvdz opened #10438 "[parser] unicode escape in ident key of objlit should not throw keyword error"
## Bug Report

**Current Behavior**

Identifiers can have unicode escapes in them. An object literal can have keywords as their properties. An object literal can have a key that has a unicode escape in it. The spec uses the canonical value regardless.

Babel (and Acorn) throw errors for cases that ought to be valid.

**Input Code**

[code]

**Expected behavior/code**

Should not throw an error.

T

[2019-09-13 19:48] #10406 closed

[2019-09-13 20:15] bakkot commented on #10438
The tests are [only a month old](https://github.com/tc39/test262/pull/2295) and have not yet been upstreamed into this project (the last update was [six months ago](https://github.com/babel/babel/pull/9806)).

[2019-09-13 20:47] pvdz commented on #10438
@bakkot hah, fair enough. I didn't check their age :)

[2019-09-13 23:12] anilpatel75 opened #10440 "Babel-preset-react-app Error"
## Bug Report

Module build failed: Error: Plugin/Preset files are not allowed to export objects, only functions. In /app/node_modules//client/node_modules/babel-preset-react-app/index.js

[2019-09-15 14:26] CrCliff commented on #10412
I'm looking to start contributing to Babel, would this be a good issue to take up?

[2019-09-15 17:37] natuprog commented on #9918
`import CampElec from "newscript.js";

origen = [2,-3,0];
destino = [1,5,-6];
carga = 6*Math.pow(10,-6);
campo = CampElec(origen, destino, carga);
console.log("Campo Electrico: ");
console.log(campo[0], " en el eje x");
console.log(campo[1], " en el eje y");
console.log(campo[2], " en el eje z");`

it makes me the error:
man.js:2 Uncaught SyntaxError: Cannot use import statement outside a module

[2019-09-15 17:50] nicolo-ribaudo commented on #9918
That error isn't thrown by Babel. Babel throws `'import' and 'export' may appear only with 'sourceType: "module"'`

[2019-09-15 17:55] JLHwung opened #10442 "Invalid identity escape in regex does not throw when unicode flag is on"
## Bug Report

**Current Behavior**
When unicode flag is enabled, invalid identity escape does not throw.

**Input Code**
[REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=PQHQhsCuDcQ&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=script&lineWrap=true&prese

[2019-09-15 18:04] JLHwung commented on #10412
@CrCliff Sure. This issue is related to babel-parser and it could be daunting if you have never worked with a recursive descent parser implementation. But trust me, it worths all the efforts to figure out what's going wrong and try to fix it eventually. Please go through the [CONTRIBUTING](https://github.com/babel/babel/blob/master/CONTRIBUTING.md) first and get a development babel build.

[2019-09-15 18:49] pvdz commented on #10412
Conceptually, something is not asserting that the string is actually followed by a semi-colon or ASI before determining it to be a directive.

How you should actually solve this in the parser really depends on the parser architecture. I can't tell you much about that on Babel.

[2019-09-16 09:33] s100 commented on #10432
It seems as if this is a parsing problem which occurs when the previous line ends with a close-parenthesis. We saw this issue with code looking like:

[code]

where the `/* istanbul ignore next */` was not taking effect. We were able to get it to take effect by adding a semicolon to the end of the previous line:

[code]

Of course, now our linter, which is configured to disallow semicolons at the

[2019-09-16 10:59] nicolo-ribaudo commented on #10432
I'm working on this. It has been introduced by https://github.com/babel/babel/pull/10380

[2019-09-16 13:31] coreyfarrell commented on #9102
I've encountered this as well as it effects nyc ignore hints.  From what I can tell the issue occurs to any comment following an object-literal assignment with no trailing semi-colon.  I can only reproduce the error if the object-literal has at least one key.
[code]
Using `const`, `var` or `let` to declare instead of assign `obj` makes no difference.  The comment is recorded under `tailingComments

[2019-09-16 13:33] nicolo-ribaudo commented on #9102
Might be fixed by https://github.com/babel/babel/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc

[2019-09-16 13:52] coreyfarrell commented on #9102
@nicolo-ribaudo I can confirm this fixes the issue both for my example code and for the code posted by @HairyRabbit.

[2019-09-16 16:14] khorramk commented on #8599
this is what is did:
delete node_modules
npm install @babel/core --save-dev
npm install @babel/preset-env --save-dev
npm install babel-core --save-dev
npm install babel-jest --save-dev
npm install babel-loader --save-dev to ^7.0.0-0.

then
npm install

solved my problem

[2019-09-17 03:48] rajithaw opened #10450 "Dynamic import does not work on Edge"
## Bug Report

**Current Behavior**

I am using import() statements for dynamically loading modules in my code. I've added "@babel/plugin-syntax-dynamic-import" plugin to the .babelrc file. My code runs fine on Chrome and Firefox but fails on Edge with the following error.

![Microsoft_Edge_Error](https://user-images.githubusercontent.com/5545438/65009050-b3479480-d94e-11e9-8ca8-b93aeffeee55.png)

[2019-09-17 08:38] lukepass opened #10452 "URLSearchParams polyfill not provided"
## Bug Report

**Current Behavior**
Hello, I am very new to this tool so please forgive me :)

I looked into this issue "Babel is not providing polyfill for URLSearchParams #9667" and it says that it should have been fixed while ago.

I noticed that it still doesn't polyfill URLSearchParams:

**Input Code**

[code]

**Expected behavior/code**
I expected it to be polyfilled.

**Babel Configuration

[2019-09-17 10:31] htho opened #10453 "IE: iframe.contentDocument: Object doesn't support property or method 'Symbol(Symbol.iterator)_*"
Hi,

the original bug #4075 is long gone. But I got the same error in my setup and I want to document the solution, because somebody might face a similar issue.

I used an old version of html2canvas (0.5.0-beta4). `for...of` loops failed for elements selected inside the onclone callback (html2canvas clones the part of the dom that should be screenshotted).

Inside this callback, `clonedRoot.childN

[2019-09-17 10:31] htho commented on #10453
since this is just fyi i close it now.

[2019-09-17 12:08] mAAdhaTTah commented on #10450
The dynamic import plugin just allows babel to parse the syntax. It doesn't transform `import()`. The reason it works on Edge & Chrome is both of those browsers support dynamic module loading. Handling dynamic import is the responsibility of a bundler. Babel can't do anything for you here because it only works on a single file at a time. It can't know what the proper result should be for transform

[2019-09-17 12:17] nicolo-ribaudo commented on #10450
Note that Babel can transpile `import()` to commonjs, AMS or systemjs. In you case it should be handled by webpack.

[2019-09-17 13:28] htho commented on #10453
Well,

I need to reopen this issue, because an update in fact did not fix my problem. I don't know why it worked temporarily.

It has nothing to do with html2canvas, but with elements in an iframe. (html2canvas creates the clone in an iframe)

Here is my test code:

[code]

Somehow an HTMLCollection within an IFrame is not an HTMLCollection.
Of course adding `Array.from(collection)` would fix it,

[2019-09-17 13:51] tomasfrancisco commented on #8229
If in monorepo, the workaround can become even more nasty.
[code]

[2019-09-17 14:10] Austaras opened #10454 "Babel transform default parameter when not needed"
## Bug Report

**Current Behavior**
Transform default parameter to es5 when target browsers all support this syntax

**Input Code**
https://babeljs.io/en/repl#?babili=false&browsers=last%202%20versions%20and%20%3E%201%25%2C%20not%20ie%20%3C%3D%2011%2C%0Anot%20op_mini%20all&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABAJwIZgOYFMAUBnKVZKRAXkQAYAaRLMAEzMoEpEBvAKEW8QgQMRFkTANoB

[2019-09-17 14:12] nicolo-ribaudo commented on #10453
An iframe is like a new page, with new JavaScript bultin objects. If you want things inside the iframe to be polyfilled, you need to load the polyfill inside the iframe:

[code]

[2019-09-17 14:18] nicolo-ribaudo commented on #10454
They aren't fully supported by Edge 17: https://kangax.github.io/compat-table/es6/#test-destructuring,_parameters_defaults,_arrow_function (expand the "destructuring, parameters" section)

[2019-09-17 14:18] #10454 closed

[2019-09-17 16:41] natuprog commented on #9918
maybe the error can be that i havent put the export as default export?

[2019-09-17 19:26] nicolo-ribaudo opened #10459 "Static fields named "constructor" should be a parser error"
## Bug Report

**Expected Behavior**
Static class fields can't be named `constructor`. We already disable it for instance fields.

**Input Code**
- REPL or Repo link if applicable:

[code]

[repl](https://babeljs.io/repl#?babili=false&browsers=last%202%20versions%20and%20%3E%201%25%2C%20not%20ie%20%3C%3D%2011%2C%0Anot%20op_mini%20all&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEC

[2019-09-17 20:06] guywaldman commented on #10459
On it 😊 I'd love to contribute to Babel.

[2019-09-17 20:13] nicolo-ribaudo commented on #10459
Go for it!

[2019-09-17 20:41] Basaingeal commented on #10459
I see that this is already claimed, but I was hoping to take a crack at it when I saw it posted on Twitter. Would it be bad form to open a PR of my own with my version of the fix?

[2019-09-17 20:43] nicolo-ribaudo commented on #10459
Please give @guywaldman the time to fix it, if he doesn't in a few weeks it's your. I encourage you to try fixing this bug locally even if Guy will open a PR, to start getting comfortable with Babel's internals anyway!

[2019-09-17 21:06] nicolo-ribaudo opened #10460 "Numeric separators should be disallowed in unicode escape sequences"
## Bug Report

**Current and Expected Behavior**

Currently `@babel/parser` allows numeric separators (i.e. the `_` in `123_456`) inside unicode escape sequences, both in the `\u{...}` and `\uXXXX` forms. They should be disallowed.

**Input Code**
- REPL or Repo link if applicable:

[code]

[repl](https://babeljs.io/repl#?babili=false&browsers=last%202%20versions%20and%20%3E%201%25%2C%20not%20ie%2

[2019-09-17 21:14] ivandevp commented on #10460
I would like to take this issue :blush:

[2019-09-17 21:14] nicolo-ribaudo commented on #10460
It's your!

[2019-09-17 21:56] nicolo-ribaudo commented on #6705
If anyone wants to work on this issue, here are some info :slightly_smiling_face:

This parser error is thrown by the [`checkPropClash`](https://github.com/babel/babel/blob/45a484f0a2802a932a951fca2f9cf1ba63b0aed5/packages/babel-parser/src/parser/expression.js#L75) method, which has different problems:
- The description in the comment above the method doesn't make any sense :thinking: It should be

[2019-09-17 22:13] #10438 closed

[2019-09-17 23:19] #10459 closed

[2019-09-17 23:59] rajithaw commented on #10450
Thanks for pointing me in the right direction. I'll close this issue and create a new one in webpack.

[2019-09-17 23:59] #10450 closed

[2019-09-18 02:38] Ethan0007 opened #10462 "Cannot read property 'name' of null"
Hi,

I just want to ask if how can i fix this issue  Cannot read property 'name' of null?

<img width="1332" alt="Screen Shot 2019-09-18 at 10 29 26 AM" src="https://user-images.githubusercontent.com/12542052/65103252-412f8800-da00-11e9-87c5-f021b3fce4f1.png">

"@babel/core": "^7.4.4",
"@babel/runtime": "^7.4.4",'
 "typescript": "^3.4.5"
 "babel-plugin-transform-inline-environment-variables": "^0.

[2019-09-18 02:41] xiaobeilo opened #10463 "misbehave: babel.config.js VS .babelrc"
## Bug Report

**Current Behavior**
When I upgraded to Babel > 7 and used the. Babelrc configuration file, it seemed that babel-loader did not handle the dependencies under node_modules, although I added the build in webpack
When I used Babel. Config. js, it worked correctly

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
    "@babel/core": "^7.6.0",
    "@b

[2019-09-18 04:11] kofifus opened #10464 "generatorOpts/jsescOption/minimal not working for Chinese characters"
(after `npm install -g @babel/core @babel/cli @babel/preset-env @babel/generator babel-preset-minify`)

I am struggling to babel source code containing Chinese characters.
Looking [here](https://github.com/babel/babel/pull/8143) I tried using `generatorOpts` like this:

.babelrc:
[code]

but Chinese strings are still transformed to another (wrong) encoding.

Ie in source:

`$('#LabelFilter').text(

[2019-09-18 05:50] jaydenseric commented on #9242
I'm working on a new version of [`babel-plugin-syntax-highlight`](https://github.com/jaydenseric/babel-plugin-syntax-highlight), and finding it very tricky indeed to set the right `raw` and `cooked` values when creating a new `templateElement`.

A regular string needs to be converted into a template literal, but it may contain characters like `` ` ``  that need to be backlash escaped. Essentially,

[2019-09-18 09:48] nicolo-ribaudo commented on #10463
It is the expected behavior: `.babelrc` is only applied to your own package, while `babel.config.js` to the whole project.

If the documentation wasn't clear, how do you suggest we could improve it? https://babeljs.io/docs/en/config-files#configuration-file-types

[2019-09-18 09:55] nicolo-ribaudo commented on #10464
I can't reproduce this bug, could you provide a repository which reproduces it?

Also: never install Babel globally. It will cause problems because it might use old presets from your dependencies.
Do you get the same wrong output if you install them with `npm install --save-dev @babel/core @babel/cli @babel/preset-env @babel/generator babel-preset-minify` and compile using `./node_modules/.bin/bab

[2019-09-18 13:24] taherbth commented on #8599
@khorramk, tried your solution but still having problem,

98% after emitting SizeLimitsPlugin

 ERROR  Failed to compile with 1 errors                                                                            1:14:00 PM

 error  in ./resources/assets/js/app.js

Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: Plugin/Preset files are not allowed to export objects, only f

[2019-09-18 14:14] JLHwung commented on #10464
Could you make sure the original source file is encoded in utf-8?

Babel would always output the file in the utf-8 encoding. If the source file is encoded in GBK but _interpreted_ as utf-8, the output file would be so-called [Mojibake](https://en.wikipedia.org/wiki/Mojibake) or 乱码 in Chinese. And it will be even worse when these Mojibake is _interpreted_ by code editor as GBK source again.

[2019-09-18 14:39] JLHwung commented on #10202
Close it as it duplicates #10273.

[2019-09-18 14:39] #10202 closed

[2019-09-18 16:30] RyanEwen commented on #10281
Just for others who might come across this... my `package.json` ended up like so:

[code]

To build and start watching for changes I run `npm run-script build` which in turn runs a few other scripts:
* `delete-prev-build` recreates the `babeljs` directory (where I serve the complied JS from).
* `update-polyfill` copies the polyfill JS file into my `babeljs` dir .
* `compile-javascript` calls babel

[2019-09-18 17:38] awave1 commented on #6705
@nicolo-ribaudo maybe you can help. I tried running tests, using `yarn jest parser` (or `TEST_ONLY=babel-parses make test`), but every time I run either of those commands, it doesn't do anything. Any clues what might be wrong?

[2019-09-18 17:55] nicolo-ribaudo commented on #6705
Does `./node_modules/.bin/jest` print anything?

[2019-09-18 18:01] JLHwung commented on #6705
@awave1 If you have questions on building babel, I suggest to join our [slack room](https://babeljs.slack.com/) for help. It is more convenient to communicate and we could keep this thread more focused.

[2019-09-18 19:56] JLHwung commented on #7710
This issue could not be reproduced at [REPL](https://babeljs.io/repl#?babili=false&browsers=ie%20<%3D%2011%2C%0Anot%20op_mini%20all&build=&builtIns=false&spec=false&loose=false&code_lz=BQbwlgXABCB08CsC-SoF4oGsCUBuAUKJFANrywIC6qGOuQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env&pr

[2019-09-18 19:56] #7710 closed

[2019-09-18 22:53] kofifus commented on #10464
@nicolo-ribaudo  using `--save-dev` and `./node_modules/.bin/babel` did not help

@JLHwung  the source encoding as shown by VSCode is UTF-8, is there anything else I can check ?

[2019-09-18 23:16] JLHwung opened #10465 "The BigInt suffix should be disallowed in NonOctal Decimal Integer Literal"
## Bug Report

**Current Behavior**
The following code should throw a syntax error if the parser plugin bigInt is enabled.

**Input Code**
- REPL or Repo link if applicable: https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=AwDgnAdkA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=

[2019-09-18 23:21] gonzarodriguezt commented on #10465
I would like to take this! :)

[2019-09-18 23:26] JLHwung commented on #10465
@gonzarodriguezt Sure, go for it. If you have any questions on developing with babel, feel free to discuss it in our [slack room](https://slack.babeljs.io/).

[2019-09-19 01:57] xiaobeilo commented on #10463
Ha ha, sorry, I did not read carefully, now I understand, thank you for your reply

[2019-09-19 01:57] #10463 closed

[2019-09-19 17:43] pvdz commented on #10438
Nice :)

[2019-09-19 18:27] JLHwung commented on #10464
@kofifus Could you attach the transpiled source file? You may remove unrelated source.

[2019-09-19 18:29] billyvg commented on #10264
This is still happening for us using `v7.6.0`

[2019-09-19 23:21] kofifus commented on #10464
Ok I found it, you were right it had nothing to do with babel. I was doing some regexp replace stuff of the js before calling babel using another tool (`rxrepl.exe`) and forgot to set it to utf8, so babel already received broken input.

Thanks for the help, closing this.

[2019-09-19 23:21] #10464 closed

[2019-09-20 00:44] nicolo-ribaudo opened #10470 "[parser] Disallow private properties access on super"
## Bug Report

**Input Code**

[code]

[repl](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0FMAeAXBA7AJjAQtA3gFDTQDESA3IcdALYIoAWA9pgBQCUBNJEArgAcEAJwB05KiQC-hKUA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=script&lineWrap=false&presets=&pretti

[2019-09-20 01:04] VivekNayyar commented on #10470
I will pick this up

[2019-09-20 01:05] nicolo-ribaudo commented on #10470
It's yours!

[2019-09-20 04:27] Wcdaren opened #10471 "Default function parameters is a inline function"
[code]
after bable
[code]

[2019-09-20 12:22] vivek12345 commented on #10262
@rajasekarm I am also struggling on this. Will check with @nicolo-ribaudo for some help here to guide us in the right direction.
@nicolo-ribaudo so far I have understood that the problem could be starting from here
https://github.com/babel/babel/blob/3a7b6e1c22bd844f5e16bffd56938fec93762d5e/packages/babel-parser/src/parser/expression.js#L1683

and somehow the code is not reaching this point
https:

[2019-09-20 14:02] JLHwung commented on #10471
Related issue: #9947

[2019-09-20 16:10] rajasekarm commented on #10262
@vivek12345 I struck at the same place.

[2019-09-20 17:44] nicolo-ribaudo commented on #10262
@vivek12345 The problem is then we reset `refShorthandDefaultPos`:

https://github.com/babel/babel/blob/46c70ad73460606eeb93371776e112f54d2f156a/packages/babel-parser/src/parser/expression.js#L209

We do so when parsing a valid assignment expression. This is probably done because if, after parsing an object, we find the `=` token then it was a pattern and we don't have to throw:
[code]

Unfortunat

[2019-09-20 17:55] vivek12345 commented on #10262
Understood. That makes it a lot more clear to me now. I had seen that reset but had no clue why was it used.

I will start to think now with this in mind and the approach you mentioned so that we can fix this too :)

[2019-09-20 19:44] joeyhub opened #10474 "It's unreasgithub node.js"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): [e.g. v6.0.0, v7.0.0-beta.34]
- Node/npm versi

[2019-09-20 22:06] joeyhub commented on #10474
This posted itself as I guess it stole the focus. Was going to be why it takes a fifth of the second to get started but I've not done enough to see if I can work around it.

[2019-09-20 22:06] #10474 closed

[2019-09-20 22:22] #10470 closed

[2019-09-21 10:38] MicahZoltu opened #10476 "Cannot load UMD module created with transform-es2015-modules-umd as an ES module."
## Bug Report

**Current Behavior**
If you apply the transform-es2015-modules-umd plugin to a module, the resulting code cannot be executed as an ES module.

The problem stems from the fact that the generated code passes `this` as the first parameter to the UMD function.  When executed as an ES module, `this` is undefined at the script scope so `undefined` gets passed into the UMD function.  `glob

[2019-09-21 12:10] nicolo-ribaudo commented on #10476
UMD _can't_ be compatible with ES modules. It isn't possible to create a file which is compatible with ES modules and with RequireJS/AMD, because the first one uses _syntax_ which isn't supported in scripts.

[2019-09-21 13:09] MicahZoltu commented on #10476
@nicolo-ribaudo Are you saying that passing anything other than `this` to the UMD function is against UMD specification?

[2019-09-21 13:11] MicahZoltu commented on #10476
To be clear, I'm not suggesting spitting out something that uses ES module syntax.  I'm suggesting simply passing `globalThis || window || this` to the UMD function call site instead of `this`.  That alone makes it so you can call a UMD module generated by Babel from an ES module context.

[2019-09-21 23:36] pranaysonisoft opened #10478 "Spread syntax ES5 transpile Not Working"
ES6

`const nest = (items, admin_form_settings_id = null, link = 'parent_category_id') => items.filter(item => item[link] === admin_form_settings_id).map(item => ({ ...item, children: nest(items, item.admin_form_settings_id) }));
`

ES5 output
[code]

Why Spread syntax Not Remove in ES5 output

[2019-09-22 01:44] nicolo-ribaudo commented on #10478
What is your configuration?

[2019-09-22 09:17] awthwathje commented on #10271
Thanks a lot for your efforts to explain! This should be definitely added to the docs and be easily searchable to prevent further questions like this.

[2019-09-23 08:49] rajasekarm commented on #10262
@vivek12345 we can do a pair programming this week end and try to fix this. Let me know if it works for you.

[2019-09-23 09:07] apollux opened #10481 "Awaiting a non promise value results in error."
## Bug Report

**Current Behavior**
Awaiting a non promise value results in error: Unhandled rejection TypeError: A value undefined was yielded that could not be treated as a promise

**Input Code**
[code]

**Expected behavior/code**
The non promise return value of noop should be wrapped in a resolved promise.

**Babel Configuration (.babelrc, package.json, cli command)**
[code]

**Environment**
-

[2019-09-23 09:17] nicolo-ribaudo commented on #10481
You say that you are using Babel 6, but all your plugins are Babel 7. Which version are you using?

[2019-09-23 10:03] apollux commented on #10481
Copy paste from wrong environment, updated the info. Using babel 7.6.0

[2019-09-23 16:23] MengMengYan opened #10482 "objectSpread not working with boolean arguments"
Hi,
We have a scenario where objectSpread throws an exception when the arguments list contains a boolean.

This particular piece of code

[code]

gives an exception : Object.keys argument is not an object.

Shouldn't the check be like:
`   var source = arguments[i] != null && typeof arguments[i] === 'object' ? arguments[i] : {};`

[2019-09-23 17:14] #10432 closed

[2019-09-23 17:14] #9102 closed

[2019-09-23 18:17] nicolo-ribaudo commented on #10482
`Object.keys` should support boolean arguments. You might need to load a polyfill.

[2019-09-23 20:47] #10460 closed

[2019-09-23 21:07] #10465 closed

[2019-09-23 22:43] Carrie-Zhang opened #10485 "No matching version found for @babel/generator@^7.6.2"
## Bug Report

**Current Behavior**
-Run npm install --save-dev @babel/core
  Get following error messages:
    npm ERR! code ETARGET
    npm ERR! notarget No matching version found for @babel/generator@^7.6.2
    npm ERR! notarget In most cases you or one of your dependencies are requesting
    npm ERR! notarget a package version that doesn't exist.
    npm ERR! notarget
    npm ERR! notarget It

[2019-09-23 22:47] nicolo-ribaudo commented on #10485
Thanks! I will fix this in a few minutes

[2019-09-23 22:53] nicolo-ribaudo commented on #10485
Actually, it seems that it has been correctly published: https://www.npmjs.com/package/@babel/generator :thinking:

[2019-09-23 22:57] Carrie-Zhang commented on #10485
Nothing in the log

[2019-09-23 22:58] Carrie-Zhang commented on #10485
Right now the error becomes to:
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/traverse@^7.6.2
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/core'
npm ERR! notarget

[2019-09-23 22:59] nicolo-ribaudo commented on #10485
If you look for "dist-tags" at http://registry.npmjs.org/@babel/traverse, what version do you see (it should be in the first few lines)

[2019-09-23 23:02] Carrie-Zhang commented on #10485
"dist-tags":{"latest":"7.6.2"}

[2019-09-23 23:04] Carrie-Zhang commented on #10485
However, when do `npm i --save-dev @babel/traverse`
Got + @babel/traverse@7.6.0

[2019-09-23 23:06] nicolo-ribaudo commented on #10485
Oh ok. This is a npm bug, since you are correctly seeing the version as published.
Usually this kind of npm bugs are solved automatically by waiting until every proxy/cache between you and them is updated. You could report it at https://npm.community/

Btw, `npm view @babel/traverse` prints nothing?
Also, make sure that your npm client is updated.

[2019-09-23 23:07] Carrie-Zhang commented on #10485
npm view @babel/traverse

@babel/traverse@7.6.0 | MIT | deps: 9 | versions: 49
The Babel Traverse module maintains the overall tree state, and is responsible for replacing, removing, and adding nodes
https://babeljs.io/

dist
.tarball: https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-asset-release/@babel/traverse/-/traverse-7.6.0.tgz
.shasum: 389391d510f79be7ce2ddd6717be66d3fed4b516

[2019-09-23 23:07] Carrie-Zhang commented on #10485
npm view @babel/generator

@babel/generator@7.6.0 | MIT | deps: 5 | versions: 50
Turns an AST into code.
https://babeljs.io/

dist
.tarball: https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-asset-release/@babel/generator/-/generator-7.6.0.tgz
.shasum: e2c21efbfd3293ad819a2359b448f002bfdfda56

dependencies:
@babel/types: ^7.6.0 jsesc: ^2.5.1        lodash: ^4.17.13     source-map: ^0.

[2019-09-23 23:16] nicolo-ribaudo commented on #10485
What does `npm config get registry` log?

[2019-09-23 23:24] Carrie-Zhang commented on #10485
Thanks @nicolo-ribaudo , found out registry point to a wrong url. Problem solved.

[2019-09-23 23:24] #10485 closed

[2019-09-24 00:01] nicolo-ribaudo opened #10486 "`@babel/types` should validate the number of elements inside template literals"
## Feature Request

`@babel/types`, when calling `t.templateLiteral` , should throw an error if the number of `quasis` (static template strings) is not exactly one more than the number of `expressions` (substitutions).

**Possible Solution**

`@babel/types` already already provides the ability to define custom validation functions, for example
https://github.com/babel/babel/blob/a00f3716106a0811ff

[2019-09-24 07:01] tschaei opened #10488 "`Cannot set property 'trailingComments' of null` when parsing destructuring array assignment with two trailing comments right next to each other"
## Bug Report

**Current Behavior**
Given a  array parameter with two trailing comments right after each other parsing the code fails with the error `Cannot set property 'trailingComments' of null`.

**Input Code**
https://astexplorer.net/#/gist/a9695795c5bcf8dcba3fd886b025add0/46534ba4d7c94712ba4d45ee0de058c0213ee0cf

[code]

**Expected behavior/code**
Babel parses the code without throwing `Cann

[2019-09-24 10:08] dteiml commented on #8229
+1

[2019-09-24 13:23] Basaingeal commented on #10486
I'll give this one a go.

[2019-09-24 15:08] #10488 closed

[2019-09-24 16:59] jasonmcaffee commented on #8789
I encountered this issue with typescript.  Babel will watch js files by default, but not .ts files.
To change this, provide the --extensions option to babel, along with the watch:
[code]
I'm using versions:
[code]
Hope that helps!

[2019-09-24 22:12] #9959 closed

[2019-09-24 22:12] #10440 closed

[2019-09-24 22:12] #10462 closed

[2019-09-24 22:13] #10286 closed

[2019-09-24 22:13] #10265 closed

[2019-09-24 22:14] #10168 closed

[2019-09-24 22:14] #9041 closed

[2019-09-24 22:14] #8721 closed

[2019-09-24 22:14] #10365 closed

[2019-09-24 22:15] #10374 closed

[2019-09-24 22:16] #9661 closed

[2019-09-24 22:29] nicolo-ribaudo commented on #10437
Note that it should set to `null` `value.cooked`, not `value` itself.

[2019-09-24 22:35] nicolo-ribaudo commented on #10437
Is this a Chrome bug?
[code]

[2019-09-24 22:50] #10373 closed

[2019-09-24 22:52] #10345 closed

[2019-09-24 22:54] #10268 closed

[2019-09-24 22:57] nicolo-ribaudo commented on #10105
It's not deprecated, as any other plugin for stable features. Many people use presets with custom plugin instead of using preset-env.

[2019-09-24 22:57] #10105 closed

[2019-09-24 23:41] #7497 closed

[2019-09-25 02:59] JLHwung commented on #9789
Feel free to reopen this issue if there is reproducible repository.

[2019-09-25 02:59] #9789 closed

[2019-09-25 07:48] pvdz commented on #10437
In sloppy web compat, `'\8'` would be the character '8' where `\7` would be character `\u0007`. In strict both should be an error.
In a template literal any octal escape should always be an error, `\8` and `\9` are included as forbidden in the grammar.
In a tagged template it's considered a bad escape but not a syntax error.

One thing to note is that template behaviour of both kinds (for octals)

[2019-09-25 14:10] JLHwung commented on #9525
Implementing this feature will introduce unnecessary complexity to the traverser, which is very performance-sensitive on the memory layout. As @nicolo-ribaudo has mentioned the `WeakSet` solution, closing this issue as won't fix.

[2019-09-25 14:10] #9525 closed

[2019-09-26 01:03] devongovett opened #10495 "RFC: Support babel.config.json for better cacheability"
At the moment, Babel supports several configuration options: `.babelrc`, `.babelrc.js`, and `babel.config.js`. Many projects have migrated to `babel.config.js` since it was introduced, especially monorepos. However, many configs are still quite simple and could be JSON instead of JavaScript. This has several benefits, including better cacheability. Babel should support `babel.config.json` in addit

[2019-09-26 08:43] piet-v opened #10497 "Nested Typescript enums wrong transpilation."
## Bug Report

**Current Behavior**
When defining an enum (NewEnum) using values from another enum (OriginalEnum) NewEnum will end up also containing all key/value pairs from OriginalEnum.

**Input Code**
https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYOwrgtgBAwg8gGTgJQMpQN4CgpQOoASAkgCoCiUAvFAOQDEAZk8zQDQ5QBCCAgjANJVadAAxjxbLAF8sWUJCglgADw

[2019-09-26 08:50] piet-v commented on #10497
Did some experimentation. Seems this inconsistency happens with any dynamic value.

Also happens for:
https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAZiEMC8MDe9EC4YHIBOApgCa4A0MARgIb5a6UA2ArobjAL4DcAUD4WGYBbGADEAlgC9JAYRCMQ-COh4wYjcQHMAFlFQAiOFMn6YAahj7KzafrKqYxWgGtUCEADoa-exyA&debug=false&forceAllTransforms=false&shippedProposals

[2019-09-26 10:35] nicolo-ribaudo commented on #10495
Previous discussion: https://github.com/babel/babel/pull/7358#issuecomment-364638966

Personally, I would like this feature. For most users, the only dynamism that they might need in their config is provided by the `env` key.
Other that caching, I think that it has some advantages:
- It would allow us to esily lint configuration files (https://github.com/babel/babel/issues/7880, [babel-doctor](htt

[2019-09-26 13:00] loganfsmyth commented on #9545
Are function params and variable declarations the only cases where we currently know there are issues?

One alternative would be to move the `typeAnnotation` field from `Identifier` to `VariableDeclarator`, and also add a new `FunctionParam` node type that would wrap the `Identifier` and have `optional`, `decorators`, and `typeAnnotation`.

I worry that `AnnotatedPattern` is too overloaded by havi

[2019-09-26 13:31] khoumani commented on #9851
I'll be looking into this

[2019-09-26 13:39] SakibulMowla commented on #10066
I'm taking a look into this issue.

[2019-09-26 13:41] vankop opened #10498 "babel-plugin-proposal-private-methods using symbols"
## Feature Request

**Is your feature request related to a problem? Please describe.**

If it will be possible to use `Symbol` for private method, plugin will produce less code. Obviously, it must be used only for supported envs.

**Describe the solution you'd like**

Code:
[code]

will be transformed to:
[code]

Maybe I do not understand why Babel can not use this assumption, it will be great if

[2019-09-26 13:42] ye7ia commented on #10437
I'm looking into this.

[2019-09-26 13:48] nicolo-ribaudo commented on #10498
It's because they are not private properties. They are normal public properties with an unknown name. It's like doing this:

[code]

[2019-09-26 13:59] vankop commented on #10498
Thanks for explanation. It possible to access using `Object.getOwnPropertySymbols` only as I see

[2019-09-26 13:59] #10498 closed

[2019-09-26 17:58] #10486 closed

[2019-09-26 18:05] devongovett commented on #10495
That's a good list of other advantages of JSON over JS. I'm happy to make a PR for this if it is something Babel would consider.

cc. @loganfsmyth from the previous discussion

[2019-09-26 18:57] #10209 closed

[2019-09-26 18:57] #10254 closed

[2019-09-26 20:07] devongovett commented on #10495
Made a PR since it was pretty easy: https://github.com/babel/babel/pull/10501

[2019-09-26 21:57] jrop opened #10502 "ICE when compiling a *.d.ts file"
## Bug Report

**Current Behavior**
An exception is thrown when attempting to transform a *.d.ts file here: https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/src/index.js#L142
[code]

**Input Code**

[code]

**Expected behavior/code**

Babel should not process *.d.ts files, or should give a better error.

**Babel Configuration (.babelrc, package.json, cli comman

[2019-09-26 21:59] milesj commented on #10502
`*.d.ts` files are declaration files, not source files. They are not meant to be parsed by Babel, so you should exclude them.

[2019-09-26 22:08] jrop commented on #10502
@milesj Yep, if you notice, that is listed as my solution.  What was hard to track down was Babel threw a very cryptic error, and that I had to hunt to find out what the actual issue was.  In this case, it was a very simple fix.  I did not post this as a request to process declaration files, but it seems feasible that people will inadvertently run into this as well: it is not uncommon when using T

[2019-09-26 22:18] jrop commented on #10502
To be a little more explicit, let me list out the steps that got me into this predicament:

[2019-09-26 22:24] jrop commented on #10502
To be a little more explicit, let me list out the steps that got me into this predicament:

1. I wanted to write a custom macro, and have it sit alongside my source.  In this case, I needed to write the macro in straight up JavaScript: no TypeScript: create a `src/my.macro.js`
2. I wanted to tell TypeScript how the macro would be "typed", since I would be using it in expressions: create a `src/my.

[2019-09-27 09:04] Jessidhia commented on #10495
@nicolo-ribaudo it actually is possible to have autocompletion in typescript-aware editors with `babel.config.js` -- but it takes some boilerplate. You need `@types/babel__core` installed and

[code]

[2019-09-27 11:53] qiyunbao opened #10503 "[preset-env] ios8 Computed property names wont transfer in strict mode"
## Bug Report

**Current Behavior**
when set env target to ios8, @babel/preset-env won‘t transform `Computed property names` syntax, which in ios8 is not fully support in strict mode.

**Input Code**

[code]

**Expected behavior/code**
If the target is set to ios8,  babel-env should transfer the code to es5,  but now it will keep the syntax and ios8 will throw an Error like this `SyntaxError: Atte

[2019-09-27 16:16] JLHwung commented on #10252
Fixed by #10249

[2019-09-27 16:16] #10252 closed

[2019-09-27 16:19] hzoo commented on #4987
Update: working via babel/babel-test262-runner and we also have https://github.com/babel/babel/pull/10500 as a per to test in circle. We can ask about being adding to http://test262.report too

[2019-09-27 17:06] hzoo opened #10505 "Babel should output the current file being transformed if there's an unexpected error"
## Bug Report

**Current Behavior**
After reading https://github.com/babel/babel/issues/10502, I noticed that an important issue was that the error messages from `@babel/traverse` and thus `@babel/core` don't include the file being processed which would of made debugging much easier. I assumed this was the case already since we do output the file for an expected error like a syntax error, but ther

[2019-09-27 22:05] JLHwung commented on #10503
The browser feature data in preset-env is aligned to caniuse. In this data every browser will have a range of versions in which the feature is natively supported. We would _not_ mark any specific version as unsupported if the implementation is faulty under some edge cases.

Note that you can use `include` option of preset-env to enable `@babel/plugin-transform-computed-properties`.
[code]

[2019-09-28 13:49] lostpebble commented on #6856
Please, to re-iterate what I said a year ago now (https://github.com/babel/babel/issues/2960 - in an issue that is almost 4 years old now about this)... This would make debugging **SO much easier**.

All I want is an output of the config file to know for sure what is being used. Right now you can never really have an idea of what is actually being used in babel's processing, unless you are 100% su

[2019-09-29 02:23] simonjoom opened #10508 "last babel problem with array iterator"
babel transpile this:

[code]
to

[code]
the "count" give undefined after babel.

easy to see the output directly on
https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=true&loose=true&code_lz=NoOjEECdIQwTwBQBYCUIDWBTOBnBKBdIA&debug=false&forceAllTransforms=true&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=

[2019-09-29 02:23] simonjoom commented on #10508
https://github.com/nathanreyes/v-calendar/issues/434#issue-499844702

[2019-09-29 02:57] loganfsmyth commented on #10508
When you use `loose: true`, you are opting out of the ability to use iterable types with spread syntax.

You'll either need to do
[code]
or disable loose mode.

[2019-09-29 02:57] #10508 closed

[2019-09-29 04:57] simonjoom commented on #10508
ah ok thks

[2019-09-30 05:50] rzubrycki opened #10509 "TypeError: Invalid attempt to spread non-iterable instance [occurs only iOS Safari]"
# 🐛 bug report

## 🎛 Configuration (.babelrc, package.json, cli command)

package.json
`"devDependencies": {

"@babel/core": "^7.5.5",
"@babel/preset-env": "^7.5.5",
"babel-preset-env": "^1.7.0",
"parcel-bundler": "^1.12.3",
"sass": "^1.22.9"
	},
	"dependencies": {
		"date-fns": "^2.2.1",
		"mustache": "^3.0.1"
	},
	"scripts": {
		"start": "parcel index.html --open",
		"build": "parcel build index

[2019-09-30 10:28] emilio-martinez commented on #9999
I just bumped into this issue as well—also with LitElement decorators. (cc @justinfagnani, FYI)

[2019-09-30 15:37] jdeff opened #10510 "[Typescript Plugin]: Enum is not initialized properly when value references another string enum case"
## Bug Report

**Current Behavior**
When the value of an enum case references a string case on another enum an unexpected extra key is added to the compiled javascript object. This is especially apparent when the case names do not match.

**Input Code**
https://bit.ly/2nRTcds

[code]

**Expected behavior/code**
With the code above, I would expect a javascript object that contained one key, "baz",

[2019-09-30 16:11] jdeff commented on #10510
It looks like the issue could be fixed somewhere around `isStringLiteral` in [enum.js](https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-typescript/src/enum.js#L80). Since `isStringLiteral` doesn't detect Foo.foo as a literal string, it uses the `buildNumericAssignment` template. We should probably translate `Foo.foo` to its literal value, "foo".

[2019-09-30 16:18] JLHwung commented on #10510
Hi Jayme, thank you for submitting this issue, unfortunately it duplicates #10497 and I would suggest we can discuss possible solution there.

[2019-09-30 16:28] jdeff commented on #10510
Ah! Perfect thanks for pointing me to that.

[2019-09-30 17:30] #10510 closed

[2019-09-30 23:35] gavar commented on #8361
having file like, works well:
[code]

`export {}` tricks babel as if it was exporting something.
I'm wondering how to do that automatically as part of plugin.

[2019-10-01 00:40] tajo commented on #8361
@gavar Oh, that's a neat workaround. Should be pretty straightforward to add this into the ts plugin.

[2019-10-01 00:47] drewlustro commented on #8361
Yeah, that is pretty neat @gavar. Silly me wrote a codemod to transform everything to `export type ...`

[2019-10-01 09:40] #10314 closed

[2019-10-01 13:16] gavar commented on #8361
I've made a very simple plugin for that, it doesn't have it's own module, but feel free to copy.

https://github.com/gavar/webpackery/blob/master/registry/babel-configurer/src/inject-empty-exports.ts

[code]

[2019-10-01 15:19] #10502 closed

[2019-10-01 15:19] #10505 closed

[2019-10-01 16:30] rafde opened #10512 "babel-plugin-transform-modules-amd wraps with `define` when `define` already wrapping"
## Bug Report

**Current Behavior**
When a module is already wrapped with `define`, babel-plugin-transform-modules-amd will still wrap it with another `define`.

**Input Code**
https://babeljs.io/repl#?babili=false&browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=CYUwZglgdiAUYFcoGMAuED2VYCcQEcEI8BKAAgG8AoMsvVBHKSgXwG4qWS2g&debug=false&forceAllTransforms=false&shippedProposals=

[2019-10-01 19:05] edsrzf commented on #3864
I can't reproduce this issue, so it seems to have been fixed somewhere along the line. I used this source:

[code]

(This differs slightly from the report in a few ways. It seems like the original report is missing the `let _i = i` line because otherwise the issue doesn't really make sense.)

Ran both:

[code]

Both commands produce the same output:

[code]

Versions:

[code]

[2019-10-01 19:20] jieyouxu commented on #10509
If you evalute the expression `document.querySelectorAll('.date')` in the console, you will find that the evaluated expression is of type `NodeList`, representing a collection of `Node`s (see [MDN | NodeList](https://developer.mozilla.org/en-US/docs/Web/API/NodeList)). Note that the spread operator `...target` requires that `target` be an `iterable`, i.e. to implement the `[Symbol.iterator]` metho

[2019-10-01 19:22] felboomy commented on #10509
If you need any help, or just have general Babel or JavaScript questions, we have a vibrant,,

[2019-10-01 19:35] nicolo-ribaudo commented on #3864
I think that the OP uses a plugin to inject the `let` declaration; it isn't directly in the code.

[2019-10-01 19:39] jridgewell commented on #3864
I can't remember why I opened this…

[2019-10-01 19:39] #3864 closed

[2019-10-01 19:40] nicolo-ribaudo commented on #10509
Thanks @felboomy and @jieyouxu!
Even if it's not written on MDN, I believe that modern browsers support `[Symbol.iterator]` on `NodeList`.
That said, Babel is only about core JavaScript and not about dom APIs. I suggest manually loading a polyfill for `NodeList.prototype[Symbol.iterator]`, or (better) use `Array.from(x)` instead of `[...x]`

[2019-10-01 19:42] felboomy commented on #10509
Or just have general Babel or JavaScript questions, we have ..?

[2019-10-01 20:53] JLHwung commented on #9883
This is a bug of `source-map-support`: https://github.com/evanw/node-source-map-support/pull/253

Close it as it is out of babel scope.

[2019-10-01 22:25] justinwilaby opened #10514 "preset-typescript + decorator on abstract base class overwrites members with undefined"
## Bug Report

**Current Behavior**
Decorating an abstract base class causes implementors to have `undefined` function refs even though the function is implemented.

Given this scenario:
[code]

**Expected behavior/code**
Base class definitions should not initialize abstract methods to `void 0` when decorators are used. This will allow implementors of abstract classes that use decorators to proper

[2019-10-01 23:26] edsrzf commented on #6616
uglify-es is now unmaintained since this was filed, so let's make the discussion about [Terser](https://github.com/terser/terser) instead.

This issue feels like it needs more explanation of its motivations. Babel doesn't have targets for other tools or parser implementations. Why should Terser get special consideration? There's also no source of data for what features Terser supports, as far as I

[2019-10-01 23:39] graingert commented on #6616
Duktape would be another useful target

[2019-10-02 04:33] andy-hanson opened #10517 "Parsing and generating flow type moves parentheses"
## Bug Report

**Input Code**

`packages/babel-generator/test/fixtures/types/ArrowFunctionExpression2/input.js`:
[code]
`packages/babel-generator/test/fixtures/types/ArrowFunctionExpression2/options.json`:
[code]

**Expected behavior/code**
The output should be the same as the input, with the parentheses around `(T => T[])`.

**Current Behavior**
Output code is:
[code]
The parentheses have moved f

[2019-10-02 05:32] #10044 closed

[2019-10-02 05:40] nicolo-ribaudo commented on #10514
Note that TypeScript 3.7 will align with Babel's behaviour of initializing class fields to undefined.

[2019-10-02 09:27] shorif2000 commented on #10227
@nicolo-ribaudo can you open i have made a repo https://github.com/shorif2000/babel_upgrade.git

I have not put any content in there just the npm libraries that i currently have and webpack  babel config files.

[2019-10-02 12:52] coreyfarrell opened #10518 "Source map is changed when re-running babel with no transforms."
## Bug Report

**Current Behavior**
Running no transform on babel output changes the source-map.

**Input Code**

[code]

**Expected behavior/code**
result1.map should deeply equal result2.map.

**Environment**
- Babel version(s): 7.6.2
- Node/npm version: node 12.11.0, npm 6.11.3
- OS: Fedora 30
- Monorepo: no
- How you are using Babel: API

**Additional context/Screenshots**

result1.map:
[code]

[2019-10-02 13:05] edsrzf commented on #6950
I'm just reviewing some older issues. I also can't reproduce this with the code given in the issue. Can we close this issue? Or if it's still a problem, could we please get clearer instructions on how to reproduce it?

[2019-10-02 13:28] nicolo-ribaudo commented on #6950
Given the two years without response, I'm closing this. Thanks @edsrzf!

[2019-10-02 13:28] #6950 closed

[2019-10-02 14:45] #9778 closed

[2019-10-02 19:28] edsrzf commented on #7348
This is now documented on MobX's site: https://mobx.js.org/best/decorators.html#enabling-decorator-syntax (scroll down to "Babel 7")

Can we close this issue?

[2019-10-02 20:07] edsrzf commented on #7281
I'm able to reproduce this with Babel `7.0.0-beta.38`, but it looks like this was fixed sometime before the 7.0.0 release. I cannot reproduce using `7.0.0` or the latest `7.6.2`. Would be nice to understand more details, but perhaps we can close this off?

[2019-10-02 21:36] Andarist commented on #7281
Seems like possible this got fixed along the way (as investigated by @edsrzf - thank you for that!). If the issue still persists please report it back (in a new issue), preferably with a repro case attached.

Closing this now as the issue seems stale.

[2019-10-02 21:36] #7281 closed

[2019-10-02 21:45] existentialism commented on #10227
@shorif2000 it looks like you still have a `.babelrc` file that references all the v6 stuff... can you try removing it? (Doing so gets past your error in your example repo)

[2019-10-02 22:04] nicolo-ribaudo commented on #7348
Yes @edsrzf, thanks!

[2019-10-02 22:04] #7348 closed

[2019-10-03 00:41] justinwilaby commented on #10514
@nicolo-ribaudo - This defect is not related to class fields but rather class functions.

If I defined a base class (` class A`) with an empty abstract method and then decorate any class field, all classes that extends the base (`class B`) will have `undefined` for the abstract method even when that method is implemented by the subclass. If I remove the decorator, everything works as expected.

It

[2019-10-03 03:28] edsrzf commented on #7694
Hi, I'm just doing a bit of issue triage. Could you please describe what you're expecting, but not seeing? Perhaps with a reproduction case?

`@babel/node` does create source maps internally. It's built upon `@babel/register` which supports source maps via [node-source-map-supporrt](https://github.com/evanw/node-source-map-support). When an exception is thrown, the stack trace references the origi

[2019-10-03 03:52] edsrzf commented on #7374
Hi there, I'm just doing some issue triage. I'm not able to reproduce this anymore using Babel 7.6.2.

I used this configuration:

[code]

This should be basically equivalent to the one used in the original report. I removed some things that didn't affect the output, I made the browser target list absolute rather than "last 2" so that the result will be consistent regardless of when the code is co

[2019-10-03 07:39] nicolo-ribaudo commented on #10514
Oh I initially misunderstood the bug :+1:

[2019-10-03 07:54] nicolo-ribaudo commented on #7374
Thanks @edsrzf. It has probably been fixed by https://github.com/babel/babel/pull/9639

[2019-10-03 07:54] #7374 closed

[2019-10-03 08:02] shorif2000 commented on #10227
I have tried but it still get

[code]

[2019-10-03 08:20] nicolo-ribaudo commented on #10227
It doesn't seem related to Babel

[2019-10-03 08:23] #10478 closed

[2019-10-03 12:12] Hypnosphi opened #10522 "transform-react-constant-elements: using mutable variable doesn't lead to deoptimization"
## Bug Report

**Current Behavior**
When a React component uses a `let` variable, hoisting of the returned React Element leads to incorrect behavior

**Input Code**
- REPL or Repo link if applicable:
https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=DYUwLgBAZg9jEF4IHIAWJjBsg3AKDxAA8AHGAJ0gGMYA7AZ0jHIEsBzNkc-gQSrBZ16ANRYBDAEIBXMGDqIIACgCUiAHwQA3ngj

[2019-10-03 12:36] edsrzf commented on #9997
Hi, just doing some issue triage. I think I understand what's being reported, but does it actually cause any problems? The TypeScript enum in the report roughly compiles into:

[code]

It seems to me that we don't need to worry about generating an identifier that collides with `_E` because the enum only introduces an `E` binding to the variable scope, not `_E`.

If I'm missing something, then perh

[2019-10-03 12:45] Istador opened #10523 "plugin-transform-unicode-regex: replace RegExp constructor/calls and replace at runtime"
## Bug Report

**Current Behavior**
When I want to transpile for IE11 and the code contains regular expressions with the unicode flag, then the flag needs to be removed and the regular expression pattern needs to be replaced.

[@babel/plugin-transform-unicode-regex](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-unicode-regex) does this, but only for RexExp literals, no

[2019-10-03 16:43] nicolo-ribaudo commented on #8249
I wrote an explanation in the original issue.

[2019-10-03 16:43] #8249 closed

[2019-10-03 16:53] nicolo-ribaudo commented on #8344
Sorry for the late reply.

By default, `@babel/register` only comple files in the root folder of the project, which defaults to the cwd. You can overwrite this behavior by passing a custom `only` or `ignore` option:

[code]

[2019-10-03 16:53] #8344 closed

[2019-10-03 18:37] dreamsinspace opened #10525 "babel-preset-typescript failed to parse optional async method"
## Bug Report

**Current Behavior**
Babel throws `Unexpected token, expected "("` when encounters this piece of code:
[code]

**Expected behavior/code**
This code should be parsed successfully

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): 7.4.0
- Node/npm version: 10.16.3
- OS: Windows 10
- Monorepo: no
- How you are using Babel: cli

[2019-10-03 22:13] rafde commented on #10512
[code]
I'd never fathom the above code would be done since it looks like a mixture of AMD and ES. I don't think supporting the mixture should be allowed, but I suppose `define` isn't being assumed as ES. But how do I handle it as AMD instead of ES?

The repo I am working on has a mixture of
[code]

and

[code]

due to a large number of files that are using `define` and newer files using `import`,

[2019-10-04 07:55] LeoJiaXin opened #10526 "semicolon is missing when NodePath.insertBefore/insertAfter a CallExpression"
## Bug Report

**Current Behavior**

When I insert a CallExpression before some Statement like following code, the semicolon is missing. The follow code would throw an error ----- test() is not a function

[code]

**Input Code**
https://runkit.com/embed/6as9r7v6sohz

**Expected behavior/code**
[code]

[2019-10-04 08:23] LeoJiaXin commented on #10526
My bad...CallExpression should be wrapped by ExpressionStatement

[2019-10-04 08:23] #10526 closed

[2019-10-04 10:12] shorif2000 commented on #10227
I have updated it to use webpack 4. strange thing is, it seems to webpack fine.

[code]

[2019-10-04 13:18] shorif2000 commented on #10227
after checking with my prod environment it has successfully webpacked however it does not work in IE 11

error i get is `SCRIPT1010: Expected identifier` on line `exports = module.exports = function (...args) {`

[2019-10-04 17:50] DanielRosenwasser opened #10527 "TypeScript assertion signatures"
TypeScript 3.7 will support an `asserts Identifier is Type` syntax in function annotation positions (much like with type predicates).

[code]

See more at the original pull request: https://github.com/microsoft/TypeScript/pull/32695

[2019-10-04 22:11] nicolo-ribaudo commented on #10527
Will it be released in 3.7?

[2019-10-05 05:55] ghasemikasra39 commented on #8249
same issue. Any solution ?

[2019-10-05 11:38] JennieJi commented on #10452
Hi @lukepass , as @babel/polyfill doced [here](https://babeljs.io/docs/en/babel-polyfill), it is deprecated since v7.4.0, now you should use [corejs](https://github.com/zloirock/core-js) directly instead.

[2019-10-06 02:44] JennieJi commented on #9246
Hi @kevinbarabash , this issue is fixed since v7.4.5, suggest to close

[2019-10-06 04:24] #9246 closed

[2019-10-06 10:06] tanhauhau commented on #10527
anyone working on this? can I work on this issue?

[2019-10-06 11:08] nicolo-ribaudo commented on #10527
Yes :+1:

[2019-10-07 09:33] blackstormx opened #10528 "runtime helpers could not be resolved"
## Bug Report

**Current Behavior**
During build, I am getting errors:
[code]
etc...
My package .json:
[code]

And a part of a build script:
[code]
if I disable @babel/transform-runtime plug-in, and manually write this:
`import { _classCallCheck } from "../node_modules/@babel/runtime/helpers/classCallCheck.js";
`
Into my source code, it still doesn't work. Same error.

Also I am using rollup as yo

[2019-10-07 09:53] nicolo-ribaudo commented on #10528
This makes me think that this problem is not actually related to Babel :thinking:
Does that file exist in your node_modules?

[2019-10-07 09:58] blackstormx commented on #10528
Yes they all do. Here is the picture:
https://imgur.com/a/RFBPZAi

[2019-10-07 12:03] blackstormx commented on #10528
I found out its actually a rollup-babel plugin issue.
If anybody is down for helping I posted here: https://github.com/rollup/rollup-plugin-babel/issues/330

[2019-10-07 12:03] #10528 closed

[2019-10-07 13:29] DanielRosenwasser commented on #10527
Yes!

[2019-10-07 13:33] DanielRosenwasser commented on #10527
For the record, the grammar is something like

`asserts` <sub>\[No *LineTerminator* here]</sub> *Identifier* `is` *Type*

[2019-10-07 13:36] arcanis commented on #10298
ping @nicolo-ribaudo (no action needed, I just want to make sure this issue isn't lost as it just got more relevant now that 3.7 is on its way 😃; kinda related to #10527)

[2019-10-07 13:37] nicolo-ribaudo commented on #10298
Thanks, I totally missed this!

[2019-10-07 17:48] nicolo-ribaudo commented on #10298
@arcanis I'm not sure about what should be implemented in Babel. From that PR, it looks like that it allows template literals in the _type checker_ where a generic expression is already allowed.
It doesn't expand TS's syntax, by enabling for example template literals in types.

[2019-10-07 18:02] arcanis commented on #10298
It's not only a typecheck thing - the change allows to use backtick literals without substitutions everywhere a regular string would be accepted in the type definitions. For example, the following is valid with TS 3.7 only:

https://www.typescriptlang.org/play/index.html?ts=3.7-Beta#code/KYOwrgtgBAYg9nKBvAsAKClAFsANrxAXigAMAzBEgGnQF8BuIA

vs TS 3.6:

https://www.typescriptlang.org/play/index.html#

[2019-10-07 18:10] stevenvachon commented on #9224
[babel-transform-dir](https://npmjs.com/babel-transform-dir) doesn't support Babel 7.x

[2019-10-08 07:18] Wolvereness commented on #9997
I'd suspect this would be an issue if a transform was attaching something to the enum itself, especially auto-generating more values. I reported the issue because it violates the assumption that a generated uid is unique to a file. Whether or not a variable scope matters is a question of how many turtles down you go into implementation.

It's not pertinent to anything I'm working on; I just happen

[2019-10-08 16:50] #10522 closed

[2019-10-08 17:35] #10043 closed

[2019-10-08 17:43] #10339 closed

[2019-10-09 00:09] pzuraq commented on #9779
@nicolo-ribaudo would you be interested in a PR to fix this? I can probably get one done soon-ish, if I could get a pointer to how the current class fields transform manages to replace the [`initializerWarningHelper`](https://github.com/babel/babel/blob/ba2c0f7adf58dfb9de6a152d858c418f374c6194/packages/babel-plugin-proposal-decorators/src/transformer-legacy.js#L154) when in `loose` mode

[2019-10-09 00:39] coreyfarrell opened #10531 "Filename is duplicated for errors created by `path.buildCodeFrameError` in 7.6.3"
## Bug Report

**Input Code**

[code]

**Expected behavior/code**
The first line of error.message should be `/path/to/filename.js: example error`

**Current Behavior**
The first line of error.message is `/path/to/filename.js: /path/to/filename.js: example error`

**Babel Configuration (.babelrc, package.json, cli command)**

None / see code.

**Environment**
- Babel version(s): 7.6.3
- Node/npm ve

[2019-10-09 20:39] andreineculau opened #10533 "broken build after source-map was bumped to v0.6"
## Bug Report

**Current Behavior**

Getting the following when running babel CLI, after babel@7.6.3 was picked up (which includes a newer source-map https://github.com/babel/babel/pull/10446 ):
[Travis CI build](https://travis-ci.com/tobiipro/browser-coords/builds/131042030)

[code]

**Input Code**

https://github.com/tobiipro/browser-coords

**Expected behavior/code**

[A green build, like the p

[2019-10-10 09:23] dkamyshov opened #10534 "Input source maps are ignored in v7.6.0 and up"
## Bug Report

**Current Behavior**
Babel ignores input source maps.

**Input Code**
https://github.com/dkamyshov/babel-input-source-map-reproduction

- run `yarn`, you should see `{"version":3,"sources":["../lib-tmp/index.js"],...` in the console - **this is incorrect**

- run `yarn add -D @babel/core@7.5.5`. you should see `{"version":3,"sources":["../src/index.tsx"],...` - this is correct

**Ex

[2019-10-10 11:21] krishnagupta opened #10535 "After upgrading babel from 6 to 7, I am facing following issue:-"
ERROR in ./src/ErrorBoundary.js
Module build failed: Error: D:\fronend\CloudServices_Telecare_PortalFrontEnd\src\ErrorBoundary.js: This API has been removed. If you're looking for this functionality in Babel 7, you should import the '@babel/helper-module-imports' module and use the functions exposed  from that module, such as 'addNamed' or 'addDefault'.
    at File.addImport (D:\fronend\CloudServi

[2019-10-10 11:59] RichardPK commented on #10374
I'm experiencing the same issue with React + Jest.

[code]

My only babel-related packages are:
[code]

I have a bit of babel config in my package.json for my styled components macros:
[code]

My testing-related packages are:
[code]

I don't have a .babelrc file, my app runs fine locally (including the styled-components macro).
Additionally I am running a storybook library in this repo - though I'

[2019-10-10 12:16] RichardPK commented on #10280
Experiencing this issue as well -> https://github.com/babel/babel/issues/10374#issuecomment-540538042

[2019-10-10 12:29] medikoo commented on #10533
Same here, perfectly working build stopped working

[2019-10-10 13:06] nicolo-ribaudo commented on #10374
Could you check which dependency is enabling `@babel/preset-env` or `@babel/plugin-proposal-dynamic-import`, and how it is enabling it?

[2019-10-10 14:03] #10533 closed

[2019-10-10 20:14] thorn0 commented on #10298
I wouldn't call it "everywhere"... See https://www.typescriptlang.org/play/index.html?ts=3.7-Beta&ssl=3&ssc=1&pln=4&pc=1#code/C4TwDgpgBAHlC8UDeUCGAuKA7ArgWwCMIAnKAXwG4BYAKFEihAVgG0ADVNgXWpqA

[2019-10-10 20:16] pnowak commented on #10437
Hi @ye7ia. Are you working on it?
If not, can I take over?

[2019-10-11 08:18] #9935 closed

[2019-10-11 09:25] zouxuoz commented on #10374
@RichardPK we got same error today in our CI and resolve the problem by reset cache of the node_modules

[2019-10-11 16:05] popuguytheparrot opened #10537 "Add OR (|) to packages for clear console"
## Feature Request
Hey. Always, when i start install modules, i see in terminal this warning. I checked packages and saw peerDeps only use bridge version.
[code]
![image](https://user-images.githubusercontent.com/19804652/66666580-9b1b1a80-ec59-11e9-80d9-dfdf9bce18e2.png)

Can use | for peerDeps? Like "@babel/core": "^7.0.0-0 | ^7.0.0 " to remove warning ?

[2019-10-11 17:54] nicolo-ribaudo commented on #10537
It should already work: you can try putting `@babel/core` and `^7.0.0-0`
in https://semver.npmjs.com/

[2019-10-11 18:16] ianstormtaylor opened #10538 "Feature Request: a flag to print the current config"
There doesn't appear to be an easy way to know which config settings Babel is using when processing your file. This is kind of insane given that Babel is known for being such a huge headache to configure, and I'd bet that the majority of the issues opened in this repository are likely frustrating misconfiguration issues.

It seems like…

- https://github.com/babel/babel/issues/2960 was opened in 2

[2019-10-11 20:15] baocang opened #10540 "some option allow keep trailing commas in generator or transformFromAst"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have an issue when i create an ast with code like below:
[code]
After generate code from the AST via @babel/generator or @babel/core/transformFromAst, I get the flow code:
[code]
In the real world, I created an AST by my visual code generate tool, and the code also can be modified by the tool and programer als

[2019-10-11 20:51] JuanjoOrt opened #10541 "Cant compile React / Redux project"
Hey, im trying to compile my project, and im having this issues:

this is the error:

[code]

I have this package:

[code]

I read something about the version of babel, but cannot fix it. Created a Git repository of the project:

https://github.com/JuanjoOrt/ReactprojectTest
https://github.com/JuanjoOrt/ReactprojectTest

Feel free to clone it and PR if u can find the solution.

Thanks a lot

[2019-10-11 21:56] JLHwung commented on #10541
A [Babel configuration](https://github.com/babel/babel-loader#options) is in need to support React JSX syntax.

You can add configuration to `webpack.config.js`
[code]

[2019-10-11 22:12] JuanjoOrt commented on #10541
awwwww is for thaat.

Thanks a lot.

Close Issue

[2019-10-11 22:12] #10541 closed

[2019-10-11 22:31] carolstran opened #10542 "More inclusive language in docs"
:wave: Sorry I know I'm ignoring all of your well-thought out templates, but I wasn't sure where this would land! Here me out...

I noticed that there are a couple of instances of words "simply" and "easily" in your documentation/code comments. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facin

[2019-10-12 01:22] #10517 closed

[2019-10-12 09:00] popuguytheparrot commented on #10537
@nicolo-ribaudo
nothing
![image](https://user-images.githubusercontent.com/19804652/66698587-df54fc00-ece7-11e9-8fa3-9a85184eb835.png)

[2019-10-12 16:56] mohsinulhaq commented on #10142
Is there any issue in merging this? @nicolo-ribaudo

[2019-10-13 12:14] nicolo-ribaudo commented on #10311
@matt-tingen This bug will be fixed in the next minor release by #10546. Unfortunately we can only fix it when the TypeScript plugin runs before the class properties plugin, since we must remove the field in the TS plugin.
Babel runs plugins before presets, so you will need to either use a preset which includes `plugin-proposal-class-properties`, or use `@babel/plugin-transform-typescript` instead

[2019-10-13 12:15] nicolo-ribaudo commented on #10542
Yes please, feel free to open a PR to babel/website!

[2019-10-13 13:42] carolstran commented on #10542
Awesome! I'm on it 🚀

[2019-10-13 21:51] nicolo-ribaudo commented on #10142
The only blocker is that PRs need to have at least two :heavy_check_mark: reviews. If you could find some time and check if the code I wrote makes sense, a :white_check_mark: would help!

[2019-10-14 02:26] shimataro opened #10548 "Generated code by preset-env causes error on Node.js v12 and ES Modules"
## Bug Report

**Current Behavior**
[code]

**Input Code**

`src/example.mjs` (source code)

[code]

`dist/example.mjs` (generated code)

[code]

**Expected behavior/code**
[code]

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): 7.6.4
- Node/npm version: Node v12.11.1/npm 6.11.3
- OS: Ubuntu 18.04
- Monorepo: no
- How you are using Babel:

[2019-10-14 06:16] mercmobily opened #10550 "Compiling a multi-file library of components with Rollup + Babel"
I have written a [set of elements](https://github.com/mobily-enterprises/tpe) in ES6.
I would like to make a `distrib` folder where designers are able to just import the necessary elements and use them.
I am using `rollup` and `babel`.

`rollup.config.js` is:

[code]
Note that I pass the files through to `babel`. This is my `babel.config.js`:

[code]
Note that I want *everything* to go through rol

[2019-10-14 10:29] birdofpreyru opened #10551 "Allow CLI's --keep-file-extension to accept the list of extensions to keep"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When entire directories are compiled by Babel CLI it either changes extensions of all processed files to `.js`, or keep original extensions of all files, if `--keep-file-extension` flag is set. In some use cases it might be handy to keep extensions of some file types, while convert to `.js` all others.

**Descri

[2019-10-14 11:00] mercmobily commented on #10550
Thank you bot. And please accept my apologies for filing an issue... but I think I have very specific questions which won't get much love on SO!

[2019-10-14 13:17] JLHwung commented on #10548
Although ESM requires explicit file extensions, you can always specify `--es-module-specifier-resolution=node` to restore CommonJS extension resolution:
[code]

[2019-10-14 16:03] nicolo-ribaudo commented on #10540
`@babel/generator`'s output isn't meant to be developer-friendly.
Sure, we try to keep it as readable as possible, but we give precedence to speed and predictability.

If your generated code is meant to be consumed by humans (and not by machines), I suggest using `prettier` to convert the AST to a nice-looking source code.

[2019-10-14 16:19] #10531 closed

[2019-10-14 18:12] boweihan commented on #8796
@nicolo-ribaudo is this currently being worked on / claimed? If not I'd love to give it a shot.

[2019-10-14 18:42] JLHwung commented on #10523
Currently we don't have plan to support transforming RegExp constructors because it is highly dynamic. It is better to do it on the user land as it is in your proposed workaround.

Instead of referencing `regexpu-core` from global object, you can inject a `regexpu-core` import if the regular expressions are problematic.
[code]

[2019-10-14 20:09] nicolo-ribaudo commented on #8796
It's yours :+1:

[2019-10-14 20:20] nicolo-ribaudo commented on #9652
Hi :wave:
If anyone wants to take a look at this issue, here are a few hints:
- That option can be named `useSpread`, similarly to `useBuiltIns`
- This option also needs to be documented in the `babel/website` repo!
- The transform isn't actually implemented in `@babel/plugin-transform-react-jsx`, but in `@babel/helper-builder-react-jsx`. Since this helper doesn't have any tests, it's ok to put th

[2019-10-14 20:33] ivandevp commented on #9652
I have contributed in 1 issue before but I'd like to help with this if nobody else want to take it :sweat_smile:

[2019-10-14 20:41] nicolo-ribaudo commented on #9652
Since your other issue was in a completely different part of Babel, let's do like this: if someone comments in 5 minutes you two can try working on this bug together (you can coordinate using our Slack), otherwise I'll assign this issue to you :+1:

[2019-10-14 20:48] Istador commented on #10523
That didn't work for me, because `addDefault` wants a path and not an identifier as the first parameter.
[code]

This did the trick for me:
[code]
instead of:
[code]

Thank you for the pointer into the right direction.

---

I don't expect babel to do this natively, but I'd expect the plugin [@babel/plugin-transform-unicode-regex](https://github.com/babel/babel/tree/master/packages/babel-plugin-tr

[2019-10-14 21:09] baocang commented on #10540
👌，I will format code with prettier, add this step and it won't be too much trouble.

[2019-10-14 22:07] #10540 closed

[2019-10-14 22:19] nicolo-ribaudo commented on #6705
Note that #10532 only fixes the "simple case" of https://github.com/babel/babel/issues/6705#issuecomment-532417727

[2019-10-15 00:50] mercmobily commented on #10550
Closing this, adding another much better issue. Thank you!

[2019-10-15 00:50] #10550 closed

[2019-10-15 00:52] mercmobily opened #10552 "Get rid of "regeneratorRuntime is not defined" without importing the polyfill at the top (for libraries)"
I wrote a library of elements, and want to make sure designers can just add the right ES5 source file to their HTML pages to start using it.
I am creating a bundle using rollup (to roll it up to one file) and babel (to make sure any browser can use it).

My `rollup.conf` is pretty simple:

[code]

Note that `./tpe.js` contains a long list of imports:

[code]

My `babel.conf.js` is even simpler:

[

[2019-10-15 02:17] JLHwung commented on #9215
Babel cli under the hood uses chokidar to watch file changes, according to the [document](https://github.com/paulmillr/chokidar#performance), you can use
[code]
to instruct chokidar to use polling for files over network.

Given that this workaround exists, babel cli would not support extra chokidar watch options.

[2019-10-15 02:46] JLHwung commented on #10081
It is expected. The cache will compare the modified time of the source file with the cache modified time and skip the transformation if the file is not modified. Therefore the plugin would not run when cache is valid.

Although we do not recommend it, but you can always disable the cache by
[code]

[2019-10-15 02:52] JLHwung commented on #10110
I could not reproduce this error on [REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABGAFAKwM4IJQG8BuAhgE6IQC8AsoVABYB0hARhim6JLAinkaQCbEY5AESCYIgNx9khUWEJSO0eEgAeARhSEANE14lE-GAHMao42ahSZaNOVwBfHYgxRS5RCOBxiUxMpcSMTg2np4coQAPlEA2iIY_CIAupI-xCgywhqSMLkA1Pl4iIT0ADYApmAmdOQwAKQAzAAMzZJ2sTDJ5KVocDCobsTYkoiOjpLShiFg5BAIWJXlcCZTp

[2019-10-15 09:29] anushreemjoshi opened #10554 "Update @babel/helper-function-name package to use latest version of lodash"
## Bug Report

**Current Behavior**
Currently @babel/helper-function-name package requires following packages:

        "@babel/helper-get-function-arity": "^7.0.0",
        "@babel/template": "^7.1.0",
        "@babel/types": "^7.0.0"

In these packages, @babel/types is not updated to latest version which in turn is dependent on lodash. lodash version less than 4.17.12 has security vulnerability

[2019-10-15 10:16] nicolo-ribaudo commented on #10298
@arcanis I tested the following cases, and it seems that every template literal which is parsed by TS also works with Babel:
[code]

I will update the enum transform.

[2019-10-15 12:32] mercmobily commented on #10552
Well let's just say that it has had 11 views all day... The [Stack Overflow question](https://stackoverflow.com/questions/58385471/get-rid-of-regeneratorruntime-is-not-defined-without-importing-the-polyfill) is not looking very promising

Thing is, this is a rollup/babel issue, and I can see that you guys don't quite agree on a few key issues -- which in turn cause this problem.

Specifically, the

[2019-10-15 16:00] JLHwung commented on #9530
Thank you @azz for offering a solution. I will add some detailed descriptions about the solution.

Background: In `plugin-transform-spread` we will check if an AST node is an array expression and applied array-type helper transforms. To determine if a node is an array expression, we will infer its type annotation in various ways according to different AST node types. This function is an inferrer o

[2019-10-15 17:25] gonzarodriguezt commented on #10413
Hey, i think this actually isn't a bug, as [this PR](https://github.com/babel/babel/pull/10099) disallow `let` as name in lexical bindings (let and const style binding) per the spec detailed there, and the `catch` block has indeed that style of binding, but i do think that the error should be more general, the error thrown now is:

[code]

Maybe it should say something related with the scope type

[2019-10-15 17:44] nicolo-ribaudo commented on #10413
It was an oversight in that PR: the specification only limits `let` in `let` and `const` declarations.

[2019-10-15 21:46] #10142 closed

[2019-10-15 21:52] JLHwung commented on #9296
I could not reproduce this error on [REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAE2AMwIYFcA28DGnUDOBcAyhALbADC-RcA3gFBxyECeAdjnARcALLAYACwgIAFKihRUbAJQNmLODggcC8DsADuAQWmy4AXjgBtALpKWWvQbYA6MOgLDx991JnyrcKEPRQHHA2-l5KAL6M4UA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=

[2019-10-15 22:08] JLHwung commented on #9301
Unlike [Bourne shell](https://www.cs.ait.ac.th/~on/O/oreilly/unix/upt/ch08_14.htm), single quotes are not used at all by the cmd.exe command processor except [limited cases](https://stackoverflow.com/a/24181667/1490357). Therefore the following is expected to fail on Windows cmd.exe
[code]

Closing this as it is out of babel scope.

[2019-10-15 22:08] #9301 closed

[2019-10-16 01:41] Macil opened #10560 "babel-preset-minify fatally breaking for-of loops"
## Bug Report

**Current Behavior**
babel-preset-minify breaks for-of loops in some cases. It seems like there's two necessary conditions:
1. babel-preset-env detects that the value being looped over is an array and activates its array-iteration fast-path.
2. A conditional with a return statement exists before the for-of loop.

**Input Code**

[code]

**Current Output**

Here's the buggy output pr

[2019-10-16 03:20] shimataro commented on #10548
@JLHwung
Thank you for your comment.

Yes, I'm using this option for now. But I think it's a makeshift, not a smart solution.

Since v12 and ESM will be standard in the near future, I think it's better to work by default, not to specify `--es-module-specifier-resolution=node`.

[2019-10-16 06:22] samMeow opened #10561 "babel transfrom runtime incompatible with url loader"
## Bug Report

**Current Behavior**
Babel dynamic import `_interopRequireWildcard` function fail if imported obj/ modules is pure string (e.g. base64 encoded image), because cache (WeakMap) doesn't accept string as key (only accept object).

**Input Code**
Ref: https://github.com/babel/babel/pull/10161

**Expected behavior/code**
`_interopRequireWildcard` should take care string module (url-loader

[2019-10-16 06:26] nicolo-ribaudo commented on #10561
If you are using webpack you shouldn't transpile modules: it will just lead to a less optimized output.

[2019-10-16 06:47] samMeow commented on #10561
Thanks for quick response. If the direction is to only cache object, we can simply return at the top?
`if (typeof obj !== 'object') return obj` and skip those cache part?

[2019-10-16 08:16] codetker opened #10562 "@babel/plugin-transform-runtime do not work well"
## Bug Report

**Current Behavior**
While using @babel/plugin-syntax-dynamic-import in babel.config.js, I got an error in my project
![image](https://user-images.githubusercontent.com/9033585/66900398-50214e80-f02f-11e9-9ba6-5925386fd2eb.png)
But I did have installed @babel/plugin-syntax-dynamic-import@7.2.0. It made me confused.
Then I tried to use the old version babel-plugin-dynamic-import-webp

[2019-10-16 08:59] nicolo-ribaudo commented on #10561
Good idea, it can be added to the condition of the first if statement.

[2019-10-16 13:43] JLHwung commented on #10562
Could you attach the babel configuration?

[2019-10-16 14:12] #8227 closed

[2019-10-16 17:03] JLHwung commented on #9320
@chrisisler Could you open up a PR to have `save()` listen for `SIGINT` and `SIGTERM`?

[2019-10-16 17:26] JLHwung commented on #6641
Similar to what I have commented on https://github.com/babel/babel/issues/10503#issuecomment-536111179:

For those who are experiencing this exact issue, a workaround is to force computed-properties transform via the `include` option.
[code]

[2019-10-16 22:01] #10437 closed

[2019-10-17 02:54] regalskr2006 opened #10570 "'export interface' of typescript not compiling correctly"
## Bug Report

**Current Behavior**
Throw an error

[code]

**Input Code**

[code]

**Expected behavior/code**
Compiled correctly

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**

software | version(s)
-- | --
Babel | 7.4.3
node | 8.12.0
npm |  6.12.0
Operating System | windows 7

[2019-10-17 03:14] JLHwung commented on #10570
There are multiple issues on your example.

1) If you would like to parse TypeScript with babel, please add `@babel/preset-typescript` to the `presets` field in your configuration

2) The error is thrown from `\app\validator\index.js`. A `.js` file should not use TypeScript syntax, consider change it to `.ts`.

[2019-10-17 07:30] #9649 closed

[2019-10-17 07:30] #10413 closed

[2019-10-17 11:49] #10554 closed

[2019-10-17 18:25] JLHwung commented on #10190
This is a known defect of `babel-plugin-autobind-class-methods`, see https://github.com/chris-lock/babel-plugin-autobind-class-methods/issues/4

Closing this here as it is out of scope.

[2019-10-17 18:31] biddwan09 commented on #9652
Hi @nicolo-ribaudo can i work on this issue with @ivandevp . I am really interested to start contributing on this project

[2019-10-17 18:33] biddwan09 commented on #6705
Hi @nicolo-ribaudo  can you please assign this issue to me . I would like to contribute on this one

[2019-10-17 22:16] #4098 closed

[2019-10-18 00:37] cakoose opened #10571 "Babel chokes on valid Flow syntax (`typeof blah.default`)"
## Bug Report

package.json
[code]

.flowconfig
[code]

.babelrc
[code]

src/test.js
[code]

Flow runs fine:
[code]

Babel does not:
[code]

My Node version:
[code]

BTW, I know Flow is processing the file because I added a type error to "test.js" and Flow caught it.

[2019-10-18 02:43] woongsikchoi commented on #8837
This issue also occurs when merge conflict message like "<<<<<<< HEAD" occurs after TypeScript interface declaration.

[code]

[2019-10-18 05:43] jedwards1211 commented on #8277
@nicolo-ribaudo based on the errors I saw, it looked like the options validation was happening in `@babel/core`, which was too old in my project and only knew about the `minimal` proposal.  Once I upgraded all babel deps the error went away.  The options validation should happen in `@babel/plugin-proposal-pipeline-operator`

[2019-10-18 11:13] 1st8 commented on #8571
Did you find a way to solve this without downgrading Babel & Webpack?

I am having the exact same issue and can't find solution... also in a larger private project so I can't share anything to reproduce it now.

[2019-10-18 15:07] mAAdhaTTah commented on #8277
@jedwards1211 It does, via the syntax plugin: https://github.com/babel/babel/blob/master/packages/babel-plugin-syntax-pipeline-operator/src/index.js

[2019-10-18 15:21] jedwards1211 commented on #8277
Ah right.  Back in the day I had assumed even the grammar and parsing logic was pluggable, but it's not, right?  All of the parsing lives in core and plugins just turn things on or off?

Maybe there could have been a peerDependency in the plugin to warn about this?

[2019-10-18 15:28] jedwards1211 commented on #8277
Also tbf the error messages hardly made it clear that the parser is what needs to be updated...took me like 30 minutes to guess that was what the problem was

[2019-10-18 15:57] mAAdhaTTah commented on #8277
Maybe worth updating the error message to say something like "If you expect this proposal to be valid, you may need to update `@babel/core`" or something like that. @nicolo-ribaudo thoughts?

[2019-10-18 17:05] jedwards1211 commented on #8277
Yeah, esp considering that as far as I can tell from this thread no one realized a version mismatch was causing the OP's problem

[2019-10-19 00:41] cooperka commented on #8577
I'm trying to run Jest tests and getting the `Support for the experimental syntax 'classProperties' isn't currently enabled` error due to code in `node_modules/react-native/jest/mockComponent.js`.

This fixed it for me in `package.json`:

[code]

Latest recommendations can also be found here: https://jestjs.io/docs/en/tutorial-react-native

[2019-10-19 04:40] theKashey opened #10577 "_interopRequireWildcard breaks on nodejs cases"
## Bug Report

**Current Behavior**
- Given a code `import * as isNode from 'detect-node';` (TypeScript syntax)
- Compiles to es5 code `const isNode = require('detect-node')` (again TypeScript)
- Parcel bundler then compiles es2015 code to the following
[code]

The result would be __correct__, however, internally it uses `WeakMap` based cache, and by some reason, expects any module to be resolved

[2019-10-19 04:58] jridgewell commented on #10577
Closing as a dupe of https://github.com/babel/babel/issues/10561, PR at https://github.com/babel/babel/pull/10574.

[2019-10-19 04:59] #10577 closed

[2019-10-19 05:04] jridgewell commented on #10577
Sorry for being brief. This was an excellent bug report, and thank you for filling it!

[2019-10-19 06:29] theKashey commented on #10577
No worries.
But I've added a [comment](https://github.com/babel/babel/pull/10574#issuecomment-544107112) to PR for the case `module.exports = function`

[2019-10-19 06:29] theKashey commented on #10561
Why?

[2019-10-19 10:01] #10561 closed

[2019-10-20 01:56] cipater commented on #8571
If I recall correctly, this issue ended up being a result of my upgrading http://github.com/rails/webpacker from 3.x to 4.0. One of changes introduced in 4.0 was a decision to have `babel-loader` transpile the `node_modules` folder, which it previously was not doing.

Excluding the `node_modules` folder fixed the issue for my setup:

https://github.com/rails/webpacker/blob/master/docs/v4-upgrade.m

[2019-10-20 08:22] nicolo-ribaudo commented on #8571
Cam you try to isolate the node module which is giving problems?

[2019-10-20 09:13] 1st8 commented on #8571
Yes!!!

It was a package which caused this, yanking it from our codebase fixed it.

This is the offending code: https://github.com/AllenFang/react-bootstrap-table/blob/master/dist/react-bootstrap-table.js#L4403

[2019-10-20 16:55] hoalenh commented on #8796
Thanks

[Nấm Linh Chi Đỏ Việt Nam](http://linhchinhathoang.com/san-pham.html), [Mua Nấm Linh Chi ](https://wordpress.com/view/namlinhchidonhatban.wordpress.com)

[2019-10-21 07:11] meandmax commented on #10571
+1

[2019-10-21 08:35] borblanto commented on #9999
We had the same problem with LitElement decorators.
But, this babel configuration works for us:

[code]

[2019-10-21 11:27] akagamina commented on #10227
any solution?

[2019-10-21 13:41] JLHwung commented on #10227
Could you attach the complete error stack? Does this code snippet reside in node_modules?

[2019-10-21 13:53] tsareg commented on #10486
Hey folks, after upgrading to recent @babel/types (namely 7.6.3) I started to get:
"Number of TemplateLiteral quasis should be exactly one more than the number of expressions.
Expected 2 quasis but got 1"

The code I'm trying is dynamic import with `@loadable/component`:
[code]

This was working fine with @babel/types 7.4.4.
Can you please explain what's wrong now with this code and what needs to

[2019-10-21 15:39] #10059 closed

[2019-10-21 16:08] filipesantoss opened #10583 "Object spread not transpiled correctly for Safari 11"
## Bug Report

**Current Behavior**
Safari throwing error with message
[code]
 at
[code]

**Input Code**

[code]

**Expected behavior/code**

`_objectSpread` to be called with `result` as a parameter, returning `{ name: 'username', email: 'some@mail.com' }`

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): 7.6.4
- Node/npm version: 11.13.0

[2019-10-21 16:22] JLHwung commented on #10583
Could you pass `debug: true` to preset-env configurations?
[code]
It will print the effective plugins if you re-run the webpack, which should look like
[code]
Could you attach it?

[2019-10-21 16:56] filipesantoss commented on #10583
Sure! Here it is:

[code]

[2019-10-21 17:20] wwwdonus commented on #8599
.babelrc
{
    "presets": [
        "babel-preset-env"
    ]
}
NPM Comand Line:
npm install --save-dev babel-loader@7 babel-core@latest babel-preset-env  webpack webpack-cli -D

this command will resolve your problem must use @7 after-babel-loader like babel-loader@7  instead of latest babel-loader@8

[2019-10-21 17:54] JLHwung commented on #10583
I could not reproduce this error on [REPL](https://babeljs.io/repl#?babili=false&browsers=safari%2011&build=&builtIns=usage&spec=true&loose=false&code_lz=MYewdgzgLgBBAOAnApgQwCYwLwxAIwCtlhYsA-GACgG8YA6B_IkgGhmQFtUBLAGwC4YAcgggOyAAJc-dUByEwAvgEoA3EA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=fal

[2019-10-21 19:50] scotttball commented on #10552
@mercmobily I'm just a passerby, but core-js polyfills for `Set` and `Map`, Instance methods such as "foobar".includes("foo"), etc. Regenerator-runtime/runtime polyfills for generator functions.

I would add regenerator-runtime/runtime to your rollup to inject for each element, but this is going to add some bloat if your designers are using many elements within the same app.

[2019-10-21 20:15] code-mattclaffey opened #10584 "Can't resolve '@babel/runtime/helpers/interopRequireDefault'"
## Bug Report
I am working in a project that uses composer for its packages and I found a strange error where the module that I had in composer was searching for @babel/runtime in the root of the project and not within the scope of the composer module. When I try to import a js module in my entry file I get the following error:

[code]

The project setup is like so:

[code]

code to replicate:

[c

[2019-10-21 20:27] JLHwung commented on #10584
Sorry for being brief, please see https://github.com/babel/babel-loader/issues/812#issuecomment-544635996

[2019-10-21 20:37] code-mattclaffey commented on #10584
I tried that and the cwd() is pointing to the right place

[2019-10-21 21:41] JLHwung commented on #10584
Where does `node_modules` reside? It should be in one of the parent folder chains of the path above.

[2019-10-21 21:45] code-mattclaffey commented on #10584
It lives in the composer/magento2-frontools folder.

[2019-10-21 21:57] JLHwung commented on #10584
`@babel/runtime` is a production dependency and it will ship with your production code. So it should be installed at one of `node_modules`
e.g.
[code]
or
[code]
so that your source code could resolve against. It won't be resolved by `webpack` if it is in `composer/magento2-frontools`.

[2019-10-21 22:01] mercmobily commented on #10552
How do you do that?
(Please note: I tried already for hours and hours, and didn't manage -- please see my config in the post!)

[2019-10-21 22:13] filipesantoss commented on #10583
After further inspection, I've found the source of the problem. Turns out we had another `ignore` regex on a webpack config that matched the name of the directory the troubling file was in.

There's no issue at all, this can be closed. Thanks for helping!

[2019-10-21 22:14] #10583 closed

[2019-10-21 22:53] nicolo-ribaudo commented on #10552
You could try using `@babel/transform-runtime`: this package injects imports to regenerator and to babel helpers (which are otherwise inlined) in your files, where needed.

[2019-10-22 02:57] JLHwung commented on #10583
I am glad that you have solved your issue. It would be much easier to debug such configuration issues if we have implemented #10538

[2019-10-22 03:12] hzoo commented on #10538
Thanks for bringing this up again! Yeah we definitely should work on this. The earlier PRs are only showing various internal options and specifically things like plugins/presets which I don't know is that helpful.

It's a little more complicated than that given you can have multiple configs, and different configs for different files/folders. Might be best to start with listing out where configs ar

[2019-10-22 08:13] code-mattclaffey commented on #10584
I think this is just issues with it being a composer package and not an npm one. I am not allowed to change it to being one at my work because its full of PHP devs vs one FE dev. Going to close this issue for now.

[2019-10-22 08:13] #10584 closed

[2019-10-22 09:04] shorif2000 commented on #10227
it fails in `0.bundle.js`

[code]

[2019-10-22 09:15] nicolo-ribaudo commented on #10227
1. Why are you bundling `@babel/register`? I don't think that it works in a browser.
2. You have set up webpack so that it doesn't transpile `node_modules` (https://github.com/shorif2000/babel_upgrade/blob/8c009e2d69ec835e50d1189173bd9b11aafb59e9/webpack.config.js#L30), and this is why that module isn't being transpiled. If you are 100% sure that you want to bundle it, you can use
[code]

[2019-10-22 09:29] shorif2000 commented on #10227
that fixed this error. next one comes up in `main.bundle.js (289,4051)` with message `SCRIPT5045: Assignment to read-only properties is not allowed in strict mode` .  stops at the below code in `{throw e}`

[code]

[2019-10-22 09:42] rev-hikari opened #10586 "Array spread doesn't work correctly."
## Bug Report

**Input Code**

[REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAhgJwQRhgXhgbQHS4IJJwCeAFAEwCUAugFCiSyIJnowELHkUDcd408JAGZWOXEzJVuQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env&prettier=true&ta

[2019-10-22 09:43] nicolo-ribaudo commented on #10227
Why are you bundling `@babel/register`?

[2019-10-22 09:48] shorif2000 commented on #10227
not sure. i was replacing babel 6 values with babel 7.  but if i remove it Chrome loads but IE comes up with new error `SCRIPT5022: Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner}). If you meant to render a collection of children, use an array instead.
    in CCPApp` in `0.bundle.js`

[code]

[2019-10-22 09:59] shorif2000 commented on #10227
i changed my webpacke file entry to

[code]

IE loads now. is this correct way to set up?

[2019-10-22 10:03] nicolo-ribaudo commented on #10227
Yes :+1:
You saw that last error because React uses some features which, without the polyfill, aren't available in older browsers.

[2019-10-22 10:15] shorif2000 commented on #10227
using `NODE_ENV=production webpack -p` and '@babel/polyfill' in webpack file with `usage` option in babel file i get

[code]

if i remove polyfill from webpack file and use entry in babel file i get. IE does not work using this option.

[code]

IE error `"Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7B%24%24typeof%2C%20type

[2019-10-22 11:10] wendt88 opened #10587 "Error evaluating async computed property: RangeError: Maximum call stack size exceeded"
## Bug Report

**Current Behavior**
wrong code in webpack build after `@babel/preset-env` update

**Input Code**
[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

babel.config.js
[code]

**Environment**
- Babel version(s): broken after `@babel/preset-env` `7.3.1`
- Node/npm ve

[2019-10-22 12:33] nicolo-ribaudo commented on #10587
Fixed by #9939 (it will be in the next release)

[2019-10-22 12:33] #10587 closed

[2019-10-22 12:51] julienw opened #10588 "After upgrading to the latest version of babel, I get an error: t(...).isPlaceholder is not a function"
## Bug Report

**Current Behavior**
After upgrading to latest babel packages, I get this error:
[code]

**Input Code**
[code]
with such .babelrc:
[code]

**Environment**
- Babel version(s): core is 7.6.4, template is 7.6.0, types is 7.6.3
- Node/npm version: node v10.16.3
- OS: Linux
- Monorepo: no
- How you are using Babel: cli in this case, but the problem happened first with my webpack configur

[2019-10-22 12:56] ssipos90 commented on #10008
Awesome, now we can have multiple packages for the same stuff in our bundles.

![image](https://user-images.githubusercontent.com/11758652/67287537-fbc11780-f4e3-11e9-9169-a7d8b0a0ba08.png)

![image](https://user-images.githubusercontent.com/11758652/67287779-62decc00-f4e4-11e9-833e-4be86f538f70.png)

![image](https://user-images.githubusercontent.com/11758652/67287824-7ab65000-f4e4-11e9-94b4-1af1

[2019-10-22 13:30] JLHwung commented on #10588
The `@babel/*` dependencies are not flatten to the root level, as a workaround, please run
[code]

[2019-10-22 13:41] julienw commented on #10588
I did the same process manually before filing the bug (thanks for the tool, much easier!). So I still have it after running the same process with the tool. I also did it for @babel/core and @babel/template.
_but_ I don't have the problem when doing it on everything. So likely one of the other modules is the problem.

And now I can't reproduce anymore, probably because my `node_modules` is in a bet

[2019-10-22 14:01] JLHwung commented on #10588
If the shape of `node_modules` are changed by `yarn`, `yarn.lock` must also be changed otherwise it is a bug.

`yarn-deduplicate` writes the new `yarn.lock` but does not touch `node_modules`. And I assume you have run `yarn` after that. So the `yarn.lock` must experience the following process
[code]

Could you share the `yarn.lock` of the first `(good)` and `(bad)`? You may also DM me on slack. We

[2019-10-22 14:02] julienw commented on #10588
Actually I could reproduce again by 1/ switching to master and running `yarn install`, then 2/ switching to my branch and running `yarn install`.

By using yarn-deduplicate on various babel packages I could determine that the problem was with `@babel/code-frame`. Does that mean that some other babel package should upgrade to a newer version of that package?

[2019-10-22 15:10] julienw commented on #10588
1. [before upgrade](https://github.com/babel/babel/files/3756531/yarn.lock.txt)
2. [bad when installing on top of the previous one, good when installing on top of the next one](https://github.com/babel/babel/files/3756513/yarn.lock.txt). You'll see that I upgraded more than just babel stuff here. It's a bit strange that I don't get the same behavior depending on which previous yarn.lock we had, bu

[2019-10-22 15:29] JLHwung commented on #10588
@nicolo-ribaudo In [7.5.5](https://github.com/babel/babel/commit/0407f034f09381b95e9cabefbf6b176c76485a43#diff-3941fc777f15b5b85aacb9c9b51a94daR36), `@babel/core` bumps `@babel/code-frame` dependencies to `^7.5.5`, but `@babel/template` remain the dependency on `^7.0.0` because there is no change in `@babel/template`.

This dependency inconsistency results in nested dependencies. Should we also bu

[2019-10-22 15:32] caot commented on #8599
[8 Best Head Gasket Sealers of 2019](http://oilandwaterproject.org/)

[2019-10-22 16:41] JLHwung commented on #10588
@julienw What's the version of `@babel/types` in `./node_modules/@babel/core/node_modules/@babel/template/node_modules/@babel/types/package.json`? If it is exactly 7.6.x, then `isPlaceholder` is well defined and it may be caused by uninitialized commonjs module, otherwise it should be a bug of yarn.

[2019-10-22 16:52] julienw commented on #10588
I get 7.3.0 for that one.

[2019-10-22 16:53] julienw commented on #10588
I agree that it could be a bug of yarn because we don't get the same setup with the same package.json/yarn.lock depending the environment we come from...

[2019-10-22 21:45] nicolo-ribaudo commented on #10588
This dependency inconsistency results in nested dependencies in node_modules. Should we also bump the version of dependents of lerna changed?

If it will make it less likely to have problems like this, then yes :+1:

[2019-10-23 13:18] the-spyke opened #10595 "Loading .cjs config files on Node 13"
## Feature Request

**Is your feature request related to a problem? Please describe.**

If you have Node 13 and `babel.config.js` file in a package with `type=module` then Node will emit a warning:

[code]

**Describe the solution you'd like**

The solution should be renaming `babel.config.js` into `babel.config.cjs`, but it isn't supported by Babel yet.

**Describe alternatives you've considered*

[2019-10-23 15:55] lopezdp commented on #8249
none.

[2019-10-23 15:57] lopezdp commented on #8249
How come none of my other services are requiring me to use transform tho? this is just something going on with this service.

[2019-10-23 16:01] lopezdp commented on #8249
Any context would be great here... where is this going? .babelrc? webpack.config? in the implementation? where??????

[2019-10-23 20:06] JLHwung commented on #8789
@jasonmcaffee Thank you for the report. The issue you reported will be fixed by #10270.

[2019-10-24 06:02] Jessidhia opened #10601 "Regression in @babel/plugin-transform-named-capturing-groups-regex with unicode regexps"
## Bug Report

**Current Behavior**
Likely a regression from https://github.com/babel/babel/pull/10430, but the contents of `u` regexps are getting transformed to being non-`u` without updating a regexp's flags. The problem becomes a more serious bug when the `s` flag is also present, as the transformed `.` no longer matches newlines.

**Input Code**
- [REPL link](https://babeljs.io/repl#?babili=f

[2019-10-24 06:26] nicolo-ribaudo commented on #10601
Need to check if it's fixed by https://github.com/babel/babel/pull/10447

[2019-10-24 11:36] Flcwl opened #10602 "All `js` files minified when `mode` = `production`"
**I'm submitting a docbug report**

**Webpack Version:**
4.22.0

**Babel Core Version**:
6.26.3

**Babel Loader Version**:
7.1.5

**Please tell us about your environment:**
OSX 10.14.6

**Current behavior:**
When the webpack `mode` is set to `production`, the `*.js` files passed through the babel-loader are compressed (Maybe `minified` set `true` when productionMode).

**Expected/desired behavior:

[2019-10-24 12:23] nicolo-ribaudo commented on #10602
`mode: production` enable the Terser plugin ([webpack docs](https://webpack.js.org/configuration/mode/)), which is a minified. You should disable it.

[2019-10-24 12:23] #10602 closed

[2019-10-24 15:17] JLHwung commented on #10601
Will be fixed in #10447, see https://github.com/babel/babel/pull/10447#issuecomment-545966579 for current approach.

True, I will propose a `useDotAllFlag` to regexpu-core.

[2019-10-24 18:48] robinvw1 commented on #8417
Wow, I just literally spent 5 hours figuring out why my react-native iOS app was not doing any network request. It just didn't resolve or reject. Kudo's for the people [here](https://github.com/facebook/react-native/issues/20405) mentioning that `@babel/plugin-proposal-class-properties` is the dealbreaker.

[2019-10-24 19:05] bsmith-cycorp opened #10605 "@babel/preset-typescript doesn't appear to support generic functions"
## Bug Report

**Current Behavior**
Even the simplest example of a generic function, taken straight from the TypeScript docs, fails to parse.

**Input Code**
https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABDAJgUzLKBPAPAFQD4AKAQwCcBzALkXwEpb9EBvAKEU8XLShHKQVKAbjYBfIA&debug=false&forceAllTransforms=false&shippedProposals=false&c

[2019-10-24 19:13] nicolo-ribaudo commented on #10605
It's a big with the repl. You can use the bottom section in the sidebar to load `@babel/plugin-transform-typescript`.

[2019-10-24 19:18] bsmith-cycorp commented on #10605
That does appear to solve this exact case, although I got to this case via a problem with a more syntactically-complicated function I had in my own code. Let me see if I can reproduce that one.

[2019-10-24 19:22] bsmith-cycorp commented on #10605
Hmm. It seems to be an independent issue, and I can't reproduce it in the babel playground but I still see it in my own environment.

Here's the code:
[code]

Here's the error (absolute paths scrubbed):
[code]

And here's the babel config:
[code]

[2019-10-24 19:48] bsmith-cycorp commented on #10605
Further details: It seems to have problems with both `as Foo` and `extends Bar`. If I remove both of those, it's happy. If either is there, it fails to parse. All other simplifications seem to have no effect on the problem.

[2019-10-24 19:51] bsmith-cycorp commented on #10605
Also, I know this should be valid TypeScript because it shows no issues in VSCode on TSC 3.6.3 or 3.7.1-rc

[2019-10-24 21:10] basarat commented on #10605
Experiencing this outside of the playground, with nextjs 9 (comes with babel / TypeScript configured out of the box). The input code provided (https://github.com/babel/babel/issues/10605#issue-512126194) gives an error `Module parse failed: Unexpected token` :rose:

[2019-10-24 21:17] nicolo-ribaudo commented on #10605
@bsmith-cycorp Can you also provide the first 26 lines of that file?

[2019-10-24 21:19] bsmith-cycorp commented on #10605
[code]

[2019-10-24 21:19] bsmith-cycorp commented on #10605
(there are some comments that I left out)

[2019-10-24 21:24] nicolo-ribaudo commented on #10605
Thanks!
Also, what does `npx nls why @babel/parser` log?

[2019-10-24 21:31] bsmith-cycorp commented on #10605
That exact command just says:
[code]

[2019-10-24 21:32] bsmith-cycorp commented on #10605
Strangely, because `@babel/parser` is in my node_modules but isn't in my package.json

[2019-10-24 21:32] nicolo-ribaudo commented on #10605
It doesn't log anything else? :thinking:
It should tell you the exact versions of `@babel/parser` in your dependency tree and why they are there.

[2019-10-24 21:35] basarat commented on #10605
Ignore what I've said here : https://github.com/babel/babel/issues/10605#issuecomment-546104677 My issue root case was not babel :heart: Bad conincidence that it happened to stumble on this issue right now. My issue was that next doesn't transpile ts files imported outside of its root directory (e.g. a root `shared` folder above the folder containing next src), aka something I can fix in my code :

[2019-10-24 21:45] bsmith-cycorp commented on #10605
Ah- it could be because I have package.lock disabled.

Here's this:
[code]

[2019-10-25 00:15] binarykitchen opened #10606 "Not using the plugin @babel/plugin-transform-parameters when target is IE11"
When I've set @babel/preset-env's targets to IE11, I'm expecting the @babel/plugin-transform-parameters plugin to be included. Because IE11 doesn't support default function parameters.

But I can see in debug mode it doesn't. Which is IMO a bug.

Using latest versions here of anything (7.6.4). Here is my babel config placed in package.json

[code]

[2019-10-25 01:52] binarykitchen commented on #10606
Sorry, false alarm. Because it is a node module and that's ignored by default.

[2019-10-25 01:52] #10606 closed

[2019-10-25 15:42] bsmith-cycorp commented on #10605
Update: this is almost certainly not a problem with typescript. I had my typescript config (above) within an `override` clause which seems not to have been taking effect, because I get the same error when I remove it entirely. We're starting the process of migrating from Flow, which is the non-override configuration, so my guess is that Flow was trying to interpret this code which would explain wh

[2019-10-25 16:32] nicolo-ribaudo commented on #10605
Glad you are figuring it out!

[2019-10-25 16:32] #10605 closed

[2019-10-26 15:45] samshelley commented on #10509
I'm also seeing this on Edge 15, Chrome 49 (last chrome build for Windows XP), Facebook 239.0.0. These browsers are not super prevalent, but the error was easy enough to fix once we figured it out (it was just fairly surprising)

It looks like the helper function that is used to polyfill `...` on old browsers (https://github.com/babel/babel/blob/43065a9e24b42cf34a6da48b62576ab5909dcae2/packages/ba

[2019-10-27 19:51] LinusU commented on #9883
This should be fixed in `source-map-support` `0.5.14` :shipit:

[2019-10-28 01:00] dongryphon opened #10609 "[plugin-transform-modules-commonjs] Does not always reference imports properly"
## Bug Report

**Current Behavior**
In some cases `import` does not generate correct reference to imported names.

**Input Code**

[code]

The above reference to `merge` is left unchanged and hence does not refer to the imported `merge` function.

**Expected behavior/code**

All uses of imported names should be updated.

**Babel Configuration**

`./babel.config.js`
[code]

`./babel.register.js`
[c

[2019-10-28 01:15] dongryphon commented on #10609
I wish I could give you access to the repository but it is private.

[2019-10-28 15:09] sirluis commented on #10008
why babel rely on a single dev project cheez

[2019-10-28 15:13] TheHighriser opened #10610 "babel.config.js read but not working via babel/core parseSync."
## Bug Report

**Current Behavior**
I have a custom script which is importing @babel/core and is using the parseSync method. I pass the option for rootMode (so it finds the babel.config.js) and the filename. I am using a plugin for allowing decorators:

[code]

When I now try to parse the source code it always throws ILLEGAL token. Which is the line with the decorator. If I remove the plugin but p

[2019-10-28 17:24] JLHwung commented on #10609
I could not reproduce this error on my local environment. Could you try remove the `node_modules` and reinstall?

[2019-10-28 17:32] JLHwung commented on #10610
`babel.parseSync` is not supposed to share the same configuration shape with `babel.transformSync`. For the former you may checkout `@babel/parser` [API Documentation].(https://babeljs.io/docs/en/babel-parser#api)

Could you help improve [babel.parserSync](https://babeljs.io/docs/en/babel-core#parsesync) docs and point it to `babel/parser` usage page?

[2019-10-28 17:54] JLHwung commented on #10610
I could not reproduce this issue on my local environment.

Note that the configuration
[code]
contradicts to the `babel.config.js` you have listed before
[code]
because  when `decoratorsBeforeExport` is true, `legacy` must be false. Could you offer a reproducing repository?

[2019-10-28 23:43] mkrause opened #10611 "TypeScript: "Fake this" in async function being treated as real argument"
## Bug Report

**Current Behavior**
Given an `async` function, in the following code the ["fake this"](https://www.typescriptlang.org/docs/handbook/functions.html#this-parameters) argument seems to be treated as a real argument, causing the argument `param` to be undefined.

**Input Code**

[Link to REPL](https://deploy-preview-2019--babel.netlify.com/repl#?babili=false&browsers=&build=&builtIns=f

[2019-10-28 23:46] nicolo-ribaudo commented on #10611
Does it work if you give the `typescript` preset an higher precedence?
[code]

[2019-10-28 23:51] mkrause commented on #10611
@nicolo-ribaudo It does! That fixes the problem for me. Interesting, I thought it already had higher precedence because it was earlier in the list, but apparently it works the other way around.

[2019-10-28 23:58] mkrause commented on #10611
Should I close this or is this something that should be fixed regardless of the workaround/fix above?

[2019-10-29 00:46] nicolo-ribaudo commented on #10611
I'm closing this issue, since curretly there isn't much we can do to make plugins automatically run in the correct order.
We have been trying different time to implement automatic ordering, but there are already different issues tracking it.

[2019-10-29 00:46] #10611 closed

[2019-10-29 05:25] TheHighriser commented on #10610
Thanks for the real quick answer here. Probably this is a misunderstanding from my side.

So the question is if the babel.config.js file is able to do the same work as the options above in the parseSync. So if you would remove the plugin from the parseSync block above, would it still be able to parse the decorator (because it is configured in the babel.config.js file) - Is this possible? Because t

[2019-10-29 17:51] #10527 closed

[2019-10-29 18:37] #10495 closed

[2019-10-29 21:19] #10476 closed

[2019-10-29 21:32] #10262 closed

[2019-10-29 21:58] #8951 closed

[2019-10-29 21:58] #9892 closed

[2019-10-29 21:58] #10367 closed

[2019-10-29 21:58] #9199 closed

[2019-10-29 21:58] #10601 closed

[2019-10-29 22:02] #9652 closed

[2019-10-29 22:25] nicolo-ribaudo commented on #10045
It's not possible for Babel to transpile the behavior of runtime functions (like `new RegExp`): you need a polyfill for that. You could try using https://github.com/slevithan/xregexp (I don't know any other polyfill which has named capturing groups support).

[2019-10-29 22:25] #10045 closed

[2019-10-29 23:08] chrisabrams commented on #10374
Thanks @zouxuoz that fixed it for us too!

[2019-10-29 23:19] #9883 closed

[2019-10-30 00:15] craigkovatch commented on #8361
I am facing a somewhat opposite issue trying to get React Styleguidist with `react-docgen-typescript` and `react-scripts` to *ignore* exported interfaces, because I get a bunch of errors like this: `Attempted import error: 'ButtonProps' is not exported from './components/Button/Button'.`

Apologies for the tangent of a comment, but I want to leave a breadcrumb here for anyone else who comes here w

[2019-10-30 21:42] JLHwung opened #10617 "RFC: Print Babel Configuration"
## Introduction

This document aims to address the requirement of printing babel configuration. The concept of configuration and environment information is clarified. Two new config items are introduced.

There have been multiple issues requesting this feature (#2960, #6856, #10538), of which we shall agree on the popularity and value.

There are two PRs (#4806, #7201) implementing this feature. B

[2019-10-31 09:15] TrejGun opened #10618 "TS: re-exported types are not stripped properly"
## Bug Report

**Current Behavior**
Imported types are not stripped for decorated method's params

**Input Code**

[code]

**Expected behavior/code**
EventLog (web3/types) should be stripped out

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

It does not work even without `babel-plugin-parameter-decorator`

**Environment**
[code]
- Babel version(s): ^^^
- Node/npm version:

[2019-10-31 14:45] JoshuaToenyes commented on #10534
@nicolo-ribaudo – I'm still seeing this issue present in `@babel/core@7.6.4`. The example repo above by @dkamyshov still exposes the issue... any insights?

[2019-10-31 14:54] JLHwung commented on #10534
Can confirm it is not fixed in `@babel/core` 7.6.5

[2019-10-31 15:27] ShinobiWPS opened #10620 "Missing class static properties"
## Bug Report

**Current Behavior**
When I use a Class with static property (like a simple variable) it breaks and suggest to add a plugin or class,if I remove static properties everything work perfectly as expected.

**Input Code**

[code]

**Expected behavior/code**
Since every modern browser now supports es6 ,classes too, I expected to have  "@babel/plugin-proposal-class-properties" included in

[2019-10-31 16:56] ShinobiWPS commented on #10620
tryed and same exact output as in the screenshot above
`{
  "presets": [["@babel/preset-env", { "shippedProposals": true }]]
}`

[2019-10-31 17:06] JLHwung commented on #10620
@ShinobiWPS Sorry, my bad. `shippedProposals` tracks Stage 4 proposals only. For stage 3 proposal, you still have to add it to the `plugins` section.

[2019-10-31 17:08] ShinobiWPS commented on #10620
where i can track the progress of stage for that particular proposal?

[2019-10-31 17:14] JLHwung commented on #10620
You can check the status of active proposals on https://github.com/tc39/proposals.

[2019-10-31 17:22] rifler opened #10622 "We noticed you're using the `useBuiltIns` option without declaring a core-js version"
## Bug Report

**Current Behavior**
I have the direct dependency `"core-js": "3.3.5",` in my `package.json`, but whatever see that warning.

**Expected behavior/code**
No warning

**Babel Configuration (.babelrc, package.json, cli command)**

[code]
I also tried `3` and `"3"`

**Environment**
- Babel version(s): 7.6.4
- Node/npm version: 10/6.12.1
- OS: OSX 10.14.6
- Monorepo: Lerna
- How you are

[2019-10-31 17:50] JLHwung commented on #10622
@rifler Do you have other babel configurations? Such as the loader options of `babel-loader` in webpack configs?

[2019-10-31 18:08] joebowbeer commented on #6226
If my reading is correct, the current behavior is a regression. I think babel-cli should be able to handle relatively simple combinations of include/exclude/copy as requested here, without resorting to gulp. After several years struggling with gulp, I am trying to remove it, which brings me here. Relying on another cmd such as rsync solves one problem, but does not work well with watch.

[2019-10-31 18:41] rifler commented on #10622
it is my carelessness, sorry

thanks for babel!

[2019-10-31 18:41] #10622 closed

[2019-10-31 20:12] #10534 closed

[2019-10-31 20:58] binarykitchen opened #10624 "Add polyfill for Object.constructor.prototype.name"
Any code which has `Object.constructor.prototype.name` is breaking on IE11 which hasn't reachend EOL yet.

Turns out Babel nor any of it's add-ons are polyfilling or transpiling it into IE11 compatible ES5 code. Would be good to add yeah?

[2019-11-01 11:54] nicolo-ribaudo commented on #10624
What is your config? It seems to be working:

[2019-11-01 12:09] nicolo-ribaudo commented on #10617
1. I think one env var is enough. If I specify `BABEL_SHOW_CONFIG_FOR_PATH`, then it's obvious that I want to print the config and I shouldn't need `BABEL_SHOW_CONFIG`.
2. Maybe it could be a follow-up, but it would also be really useful to know _why_ Babel is loading or not a configuration. For example:
[code]
[code]

[2019-11-01 12:35] RobHannay opened #10625 "iterableToArray transitive usages not polyfilled"
## Bug Report

**Current Behavior**
When spreading a new Set with core-js 'usage', transitive dependencies are not polyfilled which breaks IE11.

We saw this live when it was not polyfilling 'Array.from', but on this repro it fails earlier because Symbol is also not polyfilled.

If Symbol is added manually it then fails saying it's not an iterable instance, but works fine on Chrome/FF.

Also if yo

[2019-11-01 14:58] nicolo-ribaudo commented on #10625
If you aren't passing a file to Babel (you are excluding it in your webpack config with `exclude: /node_modules/`), Babel can't transform that code.

I usually suggest transforming the specific node_module with Babel, but since `@babel/runtime` is a Babel module itself it's really risky.

I suggest aliasing `@babel/runtime` to `@babel/runtime-corejs3` in your webpack config: https://repl.it/@nicol

[2019-11-01 15:02] jridgewell commented on #10624
He's likely talking about function names, which IE11 doesn't support:

[code]

[2019-11-01 17:52] jquense opened #10626 "Typescript generic function and optional chaining drops fn context"
## Bug Report

**Current Behavior**
In certain situations with generic function calls in TS and optional chaining causes parens to be emitted in the wrong place, cause functions to loose their context

**Input Code**

https://babeljs.io/repl#?babili=false&browsers=last%201%20Chrome%20version&build=&builtIns=false&spec=false&loose=true&code_lz=FAYw9gdgzgLgBAUwB4EMC2AHANguBeOAbzmDjgEsIIEAnALiNLLgHMa

[2019-11-01 22:11] zloirock commented on #10625
For load both dependencies - `core-js` and `core-js-pure`? -) For proper work, in this case, required a version of `runtime`, compiled with injecting global `core-js` version.

[2019-11-02 00:25] dasa opened #10627 "Invalid read-only when using destructuring shadowed by import"
## Bug Report

**Current Behavior**
The commonjs and amd plugins create invalid `throw new Error('"' + "foo" + '" is read-only.');` statements in the output when there is an import with the same name as used in the destructuring even though it's shadowed by a function parameter.

**Input Code**
- REPL link: https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=f

[2019-11-02 12:30] shrinktofit opened #10629 "Multi-pass transform takes no effect."
## Bug Report

I'm transforming codes from CommonJS format to UMD format using babel. I break it into 2 passes:
- Pass 1 transform CommonJS format to ES6 module format using plugin [babel-plugin-transform-commonjs](https://github.com/tbranyen/babel-plugin-transform-commonjs);
- Pass 2 transform ES6 module format into UMD format using `@babel/preset-env` with options `modules: "umd"`.

**Current Be

[2019-11-02 12:56] xerosanyam opened #10630 "Clean install gives error: "Error: Cannot find module 'babel-plugin-transform-runtime'""
was getting the error mentioned in title of this issue.
Solved it by removing .babelrc from root folder

[2019-11-02 12:56] #10630 closed

[2019-11-02 14:39] dongryphon commented on #10609
I got the same result. Which wasn't surprising because this bug is like a light switch when I toggle the package dependencies between 7.1 and latest and then redo the lerna bootstrap. Works in 7.1 and fails in latest.

How can I help you debug this? If you can point me at how to debug the transform maybe I can spot something. I've never hacked on the babel before so I have no clue how to step thro

[2019-11-03 09:31] ashi009 opened #10632 "Run _createClass with object literals to allow property name mangling"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Assuming a simple pipeline like babel -> terser. When `transfrom-classes` is enabled, the generated code won't be able to be mangled by terser with `mangle.properties` option turned on.

In the transformed code `_createClass` is called with an array of descriptors to declare, and each descriptor of them has a `

[2019-11-03 14:43] javierguzman commented on #8919
Hello,

I am trying to specify my babel configuration under my config folder but it does not work. Is this option still not available? What would be the workaround? Thank you in advance and regards.

[2019-11-03 20:00] binarykitchen commented on #10624
Yeah that. And sorry about the false alarm, just found out core-js polyfills this well.

[2019-11-03 20:00] #10624 closed

[2019-11-03 21:09] JLHwung commented on #10617
Good point! I have updated the document and also removed the `--show-config-for-path` cli option.

We can append the _inactive configs_ to the output config chains. i.e.

[code]
and _ignored_ when the effective config is empty. i.e.
[code]
What do you think?

[2019-11-03 23:24] #10595 closed

[2019-11-04 08:45] mzubairharoon opened #10633 "Babel @babel/preset-es2015 Module not found"
I've installed babel 7 through the documentation command.

npm install -D babel-loader @babel/core @babel/preset-env @babel/preset-es2015 --save-dev

https://i.stack.imgur.com/z0KqM.png

But I'm getting error

`    Module build failed (from ./node_modules/babel-loader/lib/index.js):
    Error: Cannot find module '@babel/preset-es2015'`

**babelrc**

`{ "presets":
[
  [
  "@babel/preset-env", {
  "

[2019-11-04 09:11] nicolo-ribaudo commented on #10633
You don't need it if you are already using preset-env

[2019-11-04 09:16] mzubairharoon commented on #10633
Hi @nicolo-ribaudo when I remove preset-es2015 the compiled source has functions in this format, which shows the syntax error in IE 11.

`module.exports = len => {`

Thanks

[2019-11-04 09:26] nicolo-ribaudo commented on #10633
Which is the path of the file containing that arrow function?

[2019-11-04 09:31] mzubairharoon commented on #10633
When I remove @babel/preset-es2015 it compiles without error.

`{
                test: /\.js$/,
                loader: 'babel-loader',
                options: { presets: ["@babel/preset-env"/*, '@babel/preset-es2015'*/] },
                exclude: /(node_modules)/
            },`

But it has function syntax which doesn't work in IE

`module.exports = len => {`

The file containing that arrow fu

[2019-11-04 09:37] goremikin opened #10634 "[plugin-transform-modules-systemjs] does not resolve `export {};`"
## Bug Report

**Current Behaviour**
When the .js file contains an empty `export {};` line it is not transformed causing an error in old browsers.

**Input Code**

[code]

**Expected behavior**
`export` tag should be either removed or transformed to `_export();`

**Babel Configuration (cli command)**

[code]

**Environment**
- Babel version(s): 7.6.4
- Node/npm version: Node 10.16/npm 6.9
- OS: OS

[2019-11-04 09:47] nicolo-ribaudo commented on #10633
Sorry for not being clear: I meant the original source file, not the output one.

[2019-11-04 09:48] mzubairharoon commented on #10633
Sorry Crypto-browserify is a package which is used, can I show that source?

https://i.imgur.com/jcRfsFj.png

[2019-11-04 10:04] mzubairharoon commented on #10633
Here is the file which has this arrow function and it is not converted through babel.

https://imgur.com/QB7K3GX

[2019-11-04 10:20] nicolo-ribaudo commented on #10633
Ok so,
1) you are telling webpack not to pass that file to Babel, because you are excluding all your `/node_modules/`. You can use
[code]
2) .babelrc is only applied to the current package, and not to other packages (like dependencies). You need to use `babel.config.js` instead.

[2019-11-04 10:33] mzubairharoon commented on #10633
Thanks, I tried number #1, but I see this error.

`Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.module.rules[0] has an unknown property 'not'. These properties are valid:
   object { enforce?, exclude?, include?, issuer?, loader?, loaders?, oneOf?, options?, parser?, resolve?, sideEffects?, query?, type

[2019-11-04 11:02] nicolo-ribaudo commented on #10633
You didn't copy it correctly

[2019-11-04 11:13] jasonwilliams opened #10635 "preset-env not properly respecting "browserslist""
## Bug Report

**Current Behavior**
Setting "last 2 versions, not ie <= 10" still sets a target for IE 10.

**Input Code - inside package.json**
[code]
Generates
[code]

**Expected behavior/code**
IE 10 should not be a target.

**Environment**
- @babel/preset-env@7.4.5
- Node/npm version: v12.11.1
- OS: Linux
- Monorepo: yes
- How you are using Babel: loader

**Possible Solution**
I've managed to

[2019-11-04 11:23] mzubairharoon commented on #10633
Perfect Thanks alot

[2019-11-04 11:23] #10633 closed

[2019-11-04 12:20] dentrado opened #10636 "Type annotation is stripped from Typescript template"
## Bug Report

**Current Behavior**
A `@babel/template` template with placeholders and a type annotation generates code without the annotation. A template without placeholders works as expected.

**Input Code**

[code]

**Expected behavior/code**

I expect both templates above to keep the `: string` type in the generated code.

**Babel Configuration (.babelrc, package.json, cli command)**

No conf

[2019-11-04 13:22] hbroer opened #10637 "Typesafe babel plugin development with TypeScript"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I miss some types for plugin development in typescript which I need. I asked for some help at the slack channel but got no answer.

1. I can't find the type for PluginPass (https://github.com/babel/babel/blob/master/packages/babel-core/src/transformation/plugin-pass.js). It should be exported to make it usable l

[2019-11-04 14:53] nicolo-ribaudo commented on #10636
The root cause of this bug is that the type annotation is a child node of the identifier. The identifier you are passing to `@babel/template` doesn't have the type annotation, and thus the one in the template is discarded.

https://github.com/babel/babel/issues/9545 would be a possible way of fixing this.

[2019-11-04 14:54] nicolo-ribaudo commented on #9545
That would work. I don't think that "would make the AST less polymorphic" is a good argument because it just moves the polymorphism down to the child of `FunctionParam`, but I prefer your suggestion because of `optional` and `decorators`.

[2019-11-04 15:15] JLHwung commented on #10635
It is expected because `ie_mob 10`, which is included in `last 2 versions`, is _not_ excluded. Under the hood Babel will map `ie_mob 10` to `ie 10`. Consider add `ie_mob 10` to the browserslist config:
[code]

[2019-11-04 16:35] dsherret commented on #7235
I have another example that works fine with the TypeScript compiler and fine without `@babel/preset-typescript`.

The following code with no type annotations fails to parse. This is taken from checker.ts in the TypeScript compiler source:

[code]

Stripped down:

[code]

[2019-11-04 18:05] #9779 closed

[2019-11-04 18:22] #10298 closed

[2019-11-04 18:25] #10626 closed

[2019-11-04 19:40] bradzacher commented on #9545
Defining a new node type represents a significant breaking change for us when compared to the base ESTree spec, which can cause us all manner of issues with existing ESLint rules expecting a certain structure. It's not an insurmountable problem, but it's definitely something to consider.

I prefer the idea of hoisting the type annotation up to where it belongs, as opposed to defining a new node ty

[2019-11-04 20:51] #10634 closed

[2019-11-04 21:35] alexkrolick commented on #10063
It's also possible to hit this error on other built-ins, like the Notification object

[2019-11-04 21:50] #10627 closed

[2019-11-04 22:46] Kizito25 opened #10641 "npm install --save-dev @babel/preset-env **Not Working**"
## Bug Report

**npm install --save-dev @babel/preset-env** is not **working in windows**
A clear and concise description of the behavior.

**Input Code**
- Code To Install @babel/preset-env:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc, package.json, cli command)**

[code]
**Returned Output **

[code

[2019-11-04 23:11] nicolo-ribaudo commented on #10641
The file got corrupted while downloading. Try running it again.

[2019-11-04 23:11] #10641 closed

[2019-11-04 23:26] nicolo-ribaudo commented on #8919
It is available. Please post your files tree, the command you are running, and where you are running that command from.

[2019-11-04 23:28] nicolo-ribaudo commented on #10632
Can you post a comparison of the mangled result for the current output and for the proposed output?

[2019-11-04 23:35] #9021 closed

[2019-11-04 23:35] #9905 closed

[2019-11-05 01:51] ashi009 commented on #10632
Sure thing.

Sample class:

[code]

The following snippets are the diffs of the current implementation and the patched one.

After Babel ([repl](https://babeljs.io/repl#?babili=false&browsers=last%201%20and_chr%20version%0A&build=&builtIns=usage&spec=false&loose=false&code_lz=KYDwDg9gTgLgBAYwDYEMDOa4EE4G8BQccAtsDABYQAmWAFAJR4C-hJZlVAQg3q3AJAIIAOzQQkwAHRIIAc1oUAlmkmkK1OvXoBuVixZA&debug=false&forceA

[2019-11-05 02:40] jridgewell commented on #10632
The issue with this is we'll have to use `Object.getOwnPropertySymbols` to get any symbol'd keys. Otherwise, this is fine.

[2019-11-05 02:47] JLHwung commented on #10632
We may replace `{ key: Identifier, value: function() }` by `[Identifier, function()]` without changing the helper logic too much.

Note that any helper interface change is a breaking change unless we go with a new helper such as `_defineProperty2`.

[2019-11-05 03:49] ashi009 commented on #10632
This won't work either. A plain string cannot be naturally interpreted as a property. Also, it will break getter/setter definitions.

[2019-11-05 03:51] ashi009 commented on #10632
Yep. Just out of curiosity, why not call `Object.defineProperties()` with all the descriptors, which already handles symbol'd keys.

[2019-11-05 05:13] zloirock commented on #10008
A long time ago I wrote that we should discuss it. I wrote that it's over-complicated. Ok, I'll write what I mean here.

Yes, we should simplify adding new plugins for polyfilling and we should extract `core-js` plugins from `preset-env`. This work I started on #7646.

But we don't need new conceptions like "polyfill provider" and "polyfill injector". Why add new entities? Moreover - entities base

[2019-11-05 09:15] #6702 closed

[2019-11-05 09:15] #10316 closed

[2019-11-05 09:33] javierguzman commented on #8919
Thanks for your message Nicolo! My project tree is as follows:
Project
  |
 +-- client
 +-- server
      |
     +-- config
          |
          +-- babel.config.js
     +-- src
     +--package.json

I have been running "npm run build" from Project/server.

npm run build was: "babel -d dist --config-file config/config.babel.js src"
Still, I tried other folder combinations like ./config/config.babe

[2019-11-05 09:36] nicolo-ribaudo commented on #8919
Reddit's folks are correct. babel-cli is Babel 6 and @babel/cli is Babel 7 (babel.config.js has been introduced in v7.0.0)

[2019-11-05 09:40] loganfsmyth commented on #10632
Personally, I'd have a lot of reservations about this. Even if we change this one specific case, what about other transforms? For instance
[code]
becomes
[code]
Do we also need to handle mangling of `first` too?

What happens if there are situations where we are unable to transform code in such a way that a mangler can tell what to do? For decorators for instance, it has at times been important th

[2019-11-05 09:43] javierguzman commented on #8919
I see! Thanks for the clarification about @. Still I think I tried to use .babelrc which I think it should work, but taking into account I was using an old version who knows what was going on. Anyway, as I mentioned I swapped to Webpack, if I find time to try this again I will write back, just for the sake of curiosity... mainly!

[2019-11-05 09:44] nicolo-ribaudo commented on #8919
When you came back to this, I suggest reading https://babeljs.io/docs/en/config-files for the difference between `babel.config.js` and `.babelrc`!

[2019-11-05 09:47] nicolo-ribaudo commented on #10632
Also, it wouldn't work with this code:

[code]

Since using an object the `set` would overwrite the `get` instead of extending it.

[2019-11-05 09:54] loganfsmyth commented on #9545
Our AST is not compatible with ESTree already. We have a separate parser mode that we use when parsing for ESLint and that can always keep the existing behavior.

The issue at the moment is that, for function params, there is no place to hoist _to_, we only have `Identifier`. The `Parameter` node type in your example is what we're proposing adding. The question is basically whether `Parameter` sho

[2019-11-05 10:02] nicolo-ribaudo commented on #9545
(Note that, when the parser plugin `estree` is enabled, we should keep the old AST)

[2019-11-05 12:00] viktor-ku opened #10644 "[bug] babel-preset-typescript with babel-loader failed to parse private constructor"
[code]

[code]

in resulting js file I see
[code]

[2019-11-05 12:20] f-roland opened #10645 "error index.js: "" is not a valid identifer name error with 7.7.0"
## Bug Report

Hi There,
One of our builds on CI has just failed when we picked up the latest 7.7.0 release.
Building a react-native project is failing and we're getting this error :
[code]

This happend on circle CI right after 7.7.0 was published, on a code base that hasn't changed, and is building perfectly on other platforms where the dependencies haven't been installed.

The problem is that m

[2019-11-05 12:27] f-roland commented on #10645
this is fairly urgent, as I believe 7.7.0 has unvoluntarily introduced a breaking change
this is where it happens : https://github.com/babel/babel/blob/5f2240e7ab319c8e22cc6d2405364e439968e1e0/packages/babel-types/src/definitions/core.js#L410

somehow this must not be called properly, as when I logged the params after an error, here's what i have
[code]

[2019-11-05 12:30] love2me opened #10646 "throw error: api.caller is not a function in babel-preset-env/index.js"
## Bug Report

**Current Behavior**

` api.caller is not a function
    at _default
 (/Code/node_modules/@babel/preset-env/lib/index.js:234:35)
    at Object.default (/Code/node_modules/@babel/helper-plugin-utils/lib/index.js:19:12)
    at getEnvPlugins (/Code/node_modules/parcel-bundler/src/transforms/babel/env.js:62:34)
    at getEnvConfig (/Code/node_modules/parcel-bundler/src/transforms/babel/

[2019-11-05 12:48] nicolo-ribaudo commented on #10646
Could you open a quick PR? 🙏

[2019-11-05 12:49] guyca commented on #10645
For now, downgrading to `"@babel/types": "7.6.x"` seems to resolve it

[2019-11-05 12:50] f-roland commented on #10645
@guyca not when the dependency is pulled from another package which defines `@babel/core: ^7.7.0`

[2019-11-05 12:55] f-roland commented on #10645
@guyca besides, if you have to rollback for a feature to work, it means there's a breaking change in the version, and it shouldn't be `7.7.0` but `8.0.0` and we wouldn't have that problem
@nicolo-ribaudo this is really serious. Could you please - at least consider to - unpublish that version so it doesn't block people from building react-native bundles ?

[2019-11-05 13:09] nicolo-ribaudo commented on #10645
We will publish a fix today.

PS. I suggest using a lockfile to avoid problems with regressions like this one.

[2019-11-05 13:18] love2me commented on #10646
I had to create a PR. Please review.
@nicolo-ribaudo

[2019-11-05 13:21] f-roland commented on #10645
We have lockfiles. But in some environments, you can generate a project and run yarn start on it, and therefore no lockfile.

This is a semver violation !

[2019-11-05 13:38] f-roland commented on #10645
Thanks @nicolo-ribaudo. When will the faulty versions be unpublished from npm ?

[2019-11-05 13:39] #10646 closed

[2019-11-05 13:39] yuanfux commented on #10645
FYI, react native community is deeply affected by this.

[2019-11-05 13:41] f-roland commented on #10645
Thanks @yuanfux - still waiting for the versions to be removed from the npm registry - that's the only real fix

[2019-11-05 13:45] f-roland commented on #10645
@nicolo-ribaudo this isn't resolved as long as the version is still on npm. Who can unpublish it ?

[2019-11-05 13:49] nicolo-ribaudo commented on #10645
https://www.npmjs.com/package/@babel/types/v/7.7.1

I will update the changelog later.

[2019-11-05 13:50] #10645 closed

[2019-11-05 13:51] f-roland commented on #10645
@nicolo-ribaudo I don't think that will do... now the projects which have captured that in their cache won't work either... the best way to address this is to unpublish the version, not create a new one

[2019-11-05 14:06] f-roland commented on #10645
@nicolo-ribaudo confirmed that 7.7.1 works. Still think it'd be better to remove the faulty version though. NPM gives you 3 days after the initial publish for that. After that, it's too late to remove !

Anyway, thank you for resolving this fairly quickly. But it had a very big impact on a big chunk of the JS community, especially react-native developers

[2019-11-05 14:10] loganfsmyth commented on #10645
Definitely an unfortunate Metro bug: https://github.com/facebook/metro/blob/690f175c2d88432521edd9cde55bfdd220588134/packages/metro/src/ModuleGraph/worker/JsFileWrapping.js#L81

An empty string is not a valid variable name and isn't a valid function name :( They should just be passing `null`, e.g.
[code]

Tracked in https://github.com/facebook/metro/issues/481

[2019-11-05 14:18] dekameron22 commented on #10645
and what with @babel/core?
I'm using
"@babel/core": "^7.7.0",
"@babel/runtime": "^7.7.0",

[2019-11-05 14:20] mxmzb commented on #10645
in my case the error has not gone away yet even with `@babel/types@7.7.1`. will come back here when i find the issue.

_// update: found the issue. after removing `node_modules` and `yarn.lock` it now works._

[2019-11-05 14:22] f-roland commented on #10645
@loganfsmyth fair enough, but still, the bundle build failures happened with babel 7.7.0
fixing that bug on metro and keeping 7.7.0 as it was means you're effectively deprecating all versions of RN but the last that will use the latest metro update

[2019-11-05 14:26] kryops commented on #10644
We are experiencing similar problems since the 7.7.0 update:

[code]

[2019-11-05 14:42] pvdz commented on #10435
Seems this is fixed in, at least, 7.6.4

[2019-11-05 14:45] pvdz commented on #10435
Apologies; it hasn't been fixed. I was looking at wrong results.

[2019-11-05 14:48] pvdz commented on #10435
fwiw --> https://github.com/estree/estree/issues/199

[2019-11-05 15:09] loganfsmyth commented on #10645
@f-roland Yep! My intention was only to provide context, not to argue against reverting this change.

[2019-11-05 15:38] kubilaykiymaci opened #10651 "@babel/parser -> Flow Type Error when"
## Bug Report

When i am getting bundle, @babel/parser is failed. (this has been since upgrading version 7.7.0)

[code]

**Environment**
- Babel version(s): [v7.6.4]
- Node/npm version: [v8.12.0]
- OS: [OSX]

**Additional context/Screenshots**

SyntaxError: /***/Documents/projects/gitrepos/***/index.js: Unexpected token (242:34)
 at Object.raise (/****/***/node_modules/@babel/parser/lib/index.js:6

[2019-11-05 15:58] JLHwung commented on #10644
Could you attach the babel config? I could not reproduce this issue with `@babel/preset-env` and `@babel/preset-typescript` enabled.

[2019-11-05 16:02] JLHwung commented on #10651
I could not reproduce this error on [REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=true&loose=false&code_lz=BQEwhgLmBcAEYDsCeBKOA3A9gSxLAvAHyyYIDKA7tgA4CmAamADYCutAwgBaIDmtsAMgElyVOo1YduCPsADesAHTLwUADSwA1rSSwAviiA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=tru

[2019-11-05 16:13] ashi009 commented on #10632
@loganfsmyth Sounds fair.

Property name mangling has been a very challenging problem to tackle, given the dynamic nature of js.  However, anyone or any company that wants to do this will write their code against some strict style guidelines (like [Google's][1]), and even willing to avoid using certain language features.

My team writes code carefully to allow code optimizers to do its magic, and

[2019-11-05 16:22] markbello opened #10652 "No matching version found for @babel/template@^7.7.0 as a dependency of '@babel/helper-remap-async-to-generator'"
[code]

## Bug Report

**Current Behavior**
NPM install failure

**Input Code**
private repo

[code]

**Expected behavior/code**
Successful install.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- Babel version(s): [e.g. v6.0.0, v7.0.0-beta.34]
[code]
- Node/npm version: node v10.13.0, npm v6.9.0
- OS: OSX 10.14.5
- Monorepo: yes
- How you are using Babel:

[2019-11-05 16:27] jschleus opened #10653 "Some few possible spelling errors"
On the FOSS server fossies.org I have used a new functionality and have done as a trial a "codespell" run for the new "Babel" release 7.7.0. Here the version independent URL of the resulting report:

https://fossies.org/linux/www/babel/codespell.html

That URL redirects always to the URL of the report for the last "Babel" release supported on Fossies (in case such a report was requested respective

[2019-11-05 16:28] JLHwung opened #10654 "Babel-minify throws cannot set property inList of [object Object] which has only a getter"
## Bug Report

**Current Behavior**
Babel-minify will throw on @babel/traverse 7.7

**Input Code**
- [REPL](https://babeljs.io/repl#?babili=true&browsers=&build=&builtIns=false&spec=true&loose=false&code_lz=BQMwlABAvAfBLDEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=babili%2Cenv&p

[2019-11-05 16:31] kubilaykiymaci commented on #10651
**my babel config**
[code]

**full of error stack**
[code]

[2019-11-05 16:44] ymallikreddy521 opened #10655 "No matching version found for @babel/helper-annotate-as-pure@^7.7.0"
we will run npm install we get below error

No matching version found for @babel/helper-annotate-as-pure@^7.7.0

[2019-11-05 16:49] JLHwung commented on #10655
`@babel/helper-annotate-as-pure@7.7.0` is [published](https://www.npmjs.com/package/@babel/helper-annotate-as-pure) on `npm`. Are you using a customized npm registry?

[2019-11-05 16:55] kryops commented on #10644
@JLHwung I can reproduce with just `@babel/preset-typescript`:

[code]

Input:
[code]

Output:
[code]

In combination with `@babel/preset-env` it can only be reproduced when targeting relatively modern browsers that support ES2015 classes.

I created a repo for it here: https://github.com/kryops/babel-issue-10644

Thank you for having a look at this! 😊

[2019-11-05 16:56] JLHwung commented on #10652
`@babel/template@^7.7.0` is [published](https://www.npmjs.com/package/@babel/template) on `npm`. Are you using a customized npm registry?

[2019-11-05 17:10] nicolo-ribaudo commented on #10655
This is either a bug with npm, or a proxy/cache you are using which isn't updated. You could find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2019-11-05 17:10] nicolo-ribaudo commented on #10652
This is either a bug with npm, or a proxy/cache you are using which isn't updated. You could find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2019-11-05 17:14] nicolo-ribaudo commented on #10651
As a workaround, wrapping that arrow function in parentheses might fix the issue.

I'm assigning this to me since I initially fixed this issue more than an year ago, and then reintroduced it :sweat_smile:

[2019-11-05 17:16] nicolo-ribaudo commented on #10653
The first thing that I noticed is that many of them are in the changelog, but it's automatically generated using commit messages.

[2019-11-05 17:28] #10654 closed

[2019-11-05 17:53] SeasonsNeedfulThings commented on #9853
How's about yall are going to make this parcel lose life cuz of all this bullshit being put upon thy shoulders and really shouldn't be invading personal areas and such. People have no privacy anymore which is about to be the number one thing to throw one off a dam cliff!

[2019-11-05 17:54] SeasonsNeedfulThings commented on #9853
Do what yall think might be best in ur interest but not for the one in topic right

[2019-11-05 17:56] kubilaykiymaci commented on #10651
@nicolo-ribaudo  i'm looking forward to your fix, thank you very much :)

[2019-11-05 17:57] jahed commented on #10261
This also affects the new `useSpread` option for JSX transforms introduced in [7.7.0](https://babeljs.io/blog/2019/11/05/7.7.0.html).

[2019-11-05 17:57] SeasonsNeedfulThings commented on #9853
Do any of u people with children actually go to school with them and take the time to eat breakfast with them?? Highly doubtful cuz I have not yet to see one. So keep bringing all ur judgements along with the blame that u will be responsible for a life lost. Over what???

[2019-11-05 17:58] SeasonsNeedfulThings commented on #9853
I dont care if this isn't in proper format cuz obviously I'm not proper sort of speak to whoever's it may concern circumstances.

[2019-11-05 18:42] markbello commented on #10652
yeah pretty sure this is a proxy issue in my case, thanks!

[2019-11-05 18:42] #10652 closed

[2019-11-05 19:52] #10644 closed

[2019-11-05 19:56] bernardodomingues-hotmart opened #10659 "@babel/preset-env v7.7.1 update breaks async test"
## Bug Report

**Current Behavior**
I have a test that starts an async function but asserts the app state synchronously. When `@babel/preset-env` was updated to `v7.7.1` from `v7.6.3`, the test broke because the async code is executed before the synchronous assertion is made.

**Input Code**

[code]

**Expected behavior/code**
The test should assess the app's state after the synchronous code has r

[2019-11-05 19:56] JLHwung commented on #10435
@pvdz I could not reproduce this error on [babel-ast-explorer](https://lihautan.com/babel-ast-explorer/#?eyJiYWJlbFNldHRpbmdzIjp7InZlcnNpb24iOiI3LjYuMCIsIm9wdGlvbmFsQ2hhaW5pbmciOnsib3B0aW9ucyI6e30sImVuYWJsZWQiOnRydWV9LCJkeW5hbWljSW1wb3J0Ijp7Im9wdGlvbnMiOnt9LCJlbmFibGVkIjp0cnVlfX0sInRyZWVTZXR0aW5ncyI6eyJoaWRlRW1wdHkiOnRydWUsImhpZGVMb2NhdGlvbiI6ZmFsc2UsImhpZGVUeXBlIjp0cnVlLCJoaWRlQ29tbWVudHMiOnRydWV

[2019-11-05 20:22] JLHwung commented on #10659
@bernardodomingues-hotmart I could not reproduce this issue on [REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBAzhC8EEYDcAoAZgVwHYGMAuAlgPZYQBG4AFAJQQDeKE0cEAzKgL4oohQCeuCJlyESQokRr1GzeACZUTCmBqdulXgJwQpsAHzSmIAO4gCecZOqKIOElCIAbAKYA6R0QDmlKNZQdqGiA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=

[2019-11-05 20:23] #10635 closed

[2019-11-05 20:24] emilmuller opened #10660 "Babel polyfill documentation"
How to polyfill is seriously confusing.

Under https://babeljs.io/docs/en, under Usage -> Polyfill, the first thing that greets you under the headline @babel/polyfill, is that the package is deprecated.

So the package is deprecated, how does one polyfill?

Apparently like so: As of Babel 7.4.0, this package has been deprecated in favor of directly including core-js/stable (to polyfill ECMAScript

[2019-11-05 21:17] JLHwung commented on #10660
Although `@babel/polyfill` has been deprecated, the documentation is still helpful for those haven't transition to core-js and regenerator. That said, Microsoft still offers documentations of Windows XP even though it is end of life.

Could you help improve the polyfill page to make it more clear to our users? Thank you!

[2019-11-05 22:27] emilmuller commented on #10660
Of course I can help improve it, but I'm currently a little in the blue as to what is the correct approach :)

For instance, I would like to polyfill for ie11 based on usage. I also use npm packages (which reside in node_modules) which is a pretty common thing. Then you end up with questions such as https://stackoverflow.com/questions/52407499/how-do-i-use-babels-usebuiltins-usage-option-on-the-ve

[2019-11-05 22:50] #10660 closed

[2019-11-06 02:52] thorn0 commented on #10527
@DanielRosenwasser A question about the grammar. The place of `Identifier` can be also be taken by `this`, right?

[2019-11-06 03:38] lirbank opened #10661 "[TypeScript] "public constructor" fails to transpile in 7.7.x"
## Bug Report

**Current Behavior**
After upgrading Babel to 7.7.x, the code constructors marked as "public" does not transpile.  to. If I remove the "public" keyword it works. This only occurs with constructors, public methods still transpile properly.

Error:
[code]

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
Using "public constructor" worked before so

[2019-11-06 04:13] ymallikreddy521 commented on #10655
Nope. we are not doing any customization.

[2019-11-06 04:23] JLHwung commented on #10655
@ymallikreddy521 Could you attach the output of the following command?
[code]

[2019-11-06 04:30] JLHwung commented on #10661
Closing it as duplicate of #10644, which will be fixed in 7.7.2.

@lirbank Nice report. Thank you!

[2019-11-06 04:30] #10661 closed

[2019-11-06 05:39] shrinktofit opened #10662 "[Reopen]_typeof function in generated code calls itself before it is defined (T7149)"
It's a reopen of ISSUE https://github.com/babel/babel/issues/4125.

I have found a reproducible example. My transform code:
[code]

Generated code:

[predefine.zip](https://github.com/babel/babel/files/3812495/predefine.zip)

babel version: 7.6.4
transform-modules-umd version:7.7.0, but 7.2.0 does not reference `_typeof` before declare it

@nicolo-ribaudo

[2019-11-06 07:17] ycjcl868 commented on #10661
+1

[2019-11-06 08:50] shrinktofit commented on #10662
The error disappear if the original source doesn't contains `typeof` keyword.

[2019-11-06 08:54] ciroanni opened #10664 "No matching version found for @babel/helper-module-imports@^7.7.0"
## Bug Report

we still have issue on @babel/helper-module-imports@^7.7.0.
could you update on npm the new version of this module please?

thanks

[2019-11-06 09:21] Flcwl commented on #10602
very thx. the webpack has so much default "behavior", not feel good.

[2019-11-06 12:16] bernardodomingues-hotmart commented on #10659
HI @JLHwung! Thanks for the response. I've tried to set it up, but unfortunately, I wasn't able to reproduce this behavior on a simple and isolated code. My original faulty code involves `redux`, `redux-thunk` and asynchronous updates to the store, whose state is assessed by the tests.

I might refactor my tests to be less brittle regarding the async code execution order instead. Nevertheless, the

[2019-11-06 12:21] bernardodomingues-hotmart commented on #10659
This [runkit](https://runkit.com/bernardofd/babel-10659) is a little closer to my use case but does not present the unexpected behavior

[2019-11-06 12:40] JLHwung commented on #10664
@babel/helper-module-imports@7.7.0 is published on npm. Could you attach the output?
[code]

You could also find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2019-11-06 14:34] jschleus commented on #10653
I see the problem.

Spelling errors respectively typos in changelog files seem to be generally a little bit problematic. Some are very old (and nobody bothered about it) but in rare cases they may be give misleading information.

[2019-11-06 14:59] ymallikreddy521 commented on #10655
There were some changes on Proxy by team. Now it works.

[2019-11-06 14:59] #10655 closed

[2019-11-06 15:08] ivanovivelin commented on #10664
This issue is still present. Is there any solution for it ?

[2019-11-06 15:10] existentialism commented on #10664
@ivanovivelin it's definitely published: https://unpkg.com/browse/@babel/helper-module-imports@7.7.0/, https://www.npmjs.com/package/@babel/helper-module-imports

Can you check the results of the command that @JLHwung suggested?

[2019-11-06 15:48] hbroer commented on #10637
Just noticed that only 50% of the available Types come from @babel, the other 50% come from @types. :/

Also noticed one of Types I missed I just oversee: `PluginObj` is the type of the functionr eturn value. But still missing the `PluginPass` definition.

And now I don't know who to ask, or where to add, the missing type...

[2019-11-06 16:17] smehdi21 opened #10666 "No matching version found for @babel/parser@^7.7.0"
## Bug Report

**Current Behavior**
The npm package  @babel/parser@^7.7.0 not found

**Input Code**

pm ERR! notarget No matching version found for @babel/parser@^7.7.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/template'
npm ER

[2019-11-06 16:38] JLHwung commented on #10666
@babel/babel/parser@7.7.0 is [published](https://www.npmjs.com/package/@babel/parser) on npm. Could you attach the output?
[code]

You could also find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2019-11-06 16:55] JLHwung commented on #10653
@nicolo-ribaudo we may check the typos in the commit message using [yaspeller](https://github.com/hcodes/yaspeller) and husky. But we will take some time to maintain a custom dictionary.

[2019-11-06 22:42] jridgewell opened #10670 "Add cloneDeepWithoutLoc"
I had a need for a `t.cloneDeepWithoutLoc` function today. We have a `t.cloneDeep` and a `t.cloneWithoutLoc` (both deprecated, but that's OK), but we do not have a `t.cloneDeepWithoutLoc`.

These functions all live in https://github.com/babel/babel/tree/bdb4318f47ec42ca4e325b5163e2e8ad57de4849/packages/babel-types/src/clone.

They are exported publicly at https://github.com/babel/babel/blob/bdb431

[2019-11-06 22:55] Taym95 commented on #10670
I would like to work on it!

[2019-11-06 22:57] nicolo-ribaudo commented on #10670
It's yours!

[2019-11-06 23:18] #10651 closed

[2019-11-06 23:31] JLHwung commented on #10644
Fixed in 7.7.2.

[2019-11-06 23:31] JLHwung commented on #10651
Fixed in 7.7.2.

[2019-11-06 23:32] JLHwung commented on #10654
Fixed in 7.7.2.

[2019-11-06 23:32] thorn0 opened #10671 "TypeScript 3.7 syntax: `asserts this`"
## Bug Report

**Current Behavior**
In #10527, it wasn't taken into account that the `asserts` keyword can be followed by `this`, not only by an identifier. Now it's a parser error, `Unexpected token`. [Babel REPL](https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEAqCmEAu0DeAoaXqQvATkgJIQLIBMAFAJQBcOUBSMSAFgJYydyJLlqZsQ9gDNolNt3YA7ZGG

[2019-11-07 04:10] skalyanmoguloju opened #10672 "No matching version found for @babel/traverse@^7.7.2"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/traverse@^7.7.2
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/core'
npm ERR! notarget

[2019-11-07 04:36] #10672 closed

[2019-11-07 04:58] jridgewell opened #10673 "Optional chaining on super.method() breaks"
## Bug Report

**Current Behavior**
Optional call of a super method (`super.method?.()`) attempts to use `super` as an identifier, which is invalid. This might only happen in strict mode?

**Input Code**
[REPL](https://babeljs.io/repl/#?babili=false&browsers=last%201%20and_chr%20version%0A&build=&builtIns=usage&spec=false&loose=false&code_lz=MYGwhgzhAEBCkFNoG8BQ0PQLYIC4AsB7AEwAoBKFaAX1VtVEhgBEEAnA

[2019-11-07 05:45] ShiChenCong opened #10674 "@babel/generator output code different with input code"
## Bug Report

**Current Behavior**

**Input Code**
[code]

**parse the code, then generate it into the file**
[code]

**output Code**

[code]

**Environment**
- "@babel/generator": "^7.6.4",
- "@babel/parser": "^7.6.4"

@nicolo-ribaudo

[2019-11-07 07:31] nicolo-ribaudo commented on #10673
Solution 1 is not correct if `method` is a getter.

[2019-11-07 07:35] nicolo-ribaudo commented on #10674
Babel doesn't make any guarantee about the output format.

I suggest using one of those packages:
- `recast`, which keeps the original formatting
- `prettier`, which prints your code nicely formatted

[2019-11-07 09:09] rajasekarm commented on #10617
I worked on this implementation #7201 earlier, If this is proposal is finalized I can re-implement this.

@JLHwung @nicolo-ribaudo

[2019-11-07 09:48] alexwalterbos opened #10675 "Parsing error for generic function named 'of'"
Thanks for the great tool guys! I found a parsing bug regarding generic function definitions and specific naming:

## Bug Report

**Current Behavior**
Babel-eslint parses a generic function just fine:
[code]

It fails to parse that same function when it is named `of`, however:
[code]
[code]
Flow accepts the function just fine and shows 'No errors!'. It confused me for longer than I'd like to admit

[2019-11-07 10:10] rajasekarm commented on #10675
I can pick this.

[2019-11-07 16:29] JLHwung commented on #10617
@rajasekarm That's awesome. I will assign to you. Also feel free to comment on this proposal should you have any suggestions.

[2019-11-07 17:02] DavidKindler opened #10676 "No matching version found for @babel/generator@^7.7.2"
## Bug Report

**Current Behavior**
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/generator@^7.7.2npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/traverse'
npm ERR! notarget

**Possible Solution**
Chang

[2019-11-07 17:08] existentialism commented on #10676
@DavidKindler it's definitely published: https://unpkg.com/browse/@babel/generator@7.7.2/, https://www.npmjs.com/package/@babel/generator

Are you behind a proxy/registry cache?

Can you attach the output of:

[code]

You could also find a solution in babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2019-11-07 17:31] DavidKindler commented on #10676
Quite right.  Using a nexus proxy registry.  Problem seems to be there.  Thanks for your help.

[2019-11-07 17:31] #10676 closed

[2019-11-07 18:22] jridgewell commented on #10673
You're right. We can go the second solution.

Are there any meta properties that can be methods? Eg `new.target?.()`? We might need a new issue to track those.

[2019-11-07 18:25] jridgewell commented on #10673
To make this appropriate for a Good First Issue, the needed changes are in https://github.com/babel/babel/blob/c2bace4b73ae65771941efcf9c2eb33ad8c3463f/packages/babel-plugin-proposal-optional-chaining/src/index.js#L79-L93

We need to check if the context is `super`, and if so, use `this` instead.

[2019-11-07 20:22] Shriram-Balaji commented on #10673
@jridgewell I'd like to take a stab at this.

[2019-11-07 20:26] jridgewell commented on #10673
Excellent! It's yours.

[2019-11-07 22:49] #10666 closed

[2019-11-08 05:29] loganfsmyth opened #10678 "Using `@babel/runtime-corejs*` still uses the global Promise for generators/async-fns"
I thought this was something we'd addressed at some point, but I guess not?

`regenerator-runtime` uses the global `Promise`, even if we're trying to use it via one of the standalone runtime modules like `@babel/runtime-corejs3`. In an ideal world, we'd be able to pass in the `Promise` implementation that the regenerator runtime should use, or else transform the regenerator runtime at publish time

[2019-11-08 06:53] mreinstein commented on #10678
I was definitely burned on this. here is a minimal repro example.

https://github.com/mreinstein/babel-async-min-example

To reproduce the problem:
1. clone this repo
2. comment out these lines: https://github.com/mreinstein/babel-async-min-example/blob/master/rollup.config.js#L14-L34 (this is a workaround for the problem that @loganfsmyth produced)
3. `npm run build`
4. open `index.html` in a bro

[2019-11-08 08:29] nicolo-ribaudo commented on #10678
cc @benjamn What do you think that would be best?

[2019-11-08 09:21] shenxiang11 opened #10679 "Conflicting behavior run with babel-node and node, see my script in issue body."
## Bug Report

**Current Behavior**
babel-node returns ```undefined```
node throws an error ```ReferenceError: x is not defined```

**Input Code**

[code]

[2019-11-08 10:24] ShiChenCong commented on #10674
thx, it is helpful

[2019-11-08 10:24] #10674 closed

[2019-11-08 11:21] viktor-ku commented on #10644
@JLHwung thanks a lot!

[2019-11-08 11:51] thorn0 commented on #6148
Tested this with 7.7.2. The bug is gone.

[2019-11-08 11:51] #6148 closed

[2019-11-08 14:53] rajasekarm commented on #10675
The actual error is in babel-eslint.

In this https://github.com/babel/babel-eslint/blob/master/lib/parse.js#L36, plugin is always set to estree. But in this example, it a flow code.

So first thing, in the project, we've to configure flow as plugin.

[code]

and we've to use this change in the parser inside babel-eslint.

https://github.com/babel/babel-eslint/blob/master/lib/parse.js#L36

[2019-11-08 18:36] alexey-sh opened #10681 "Babel doesn't work from npm install"
## Bug Report

**Current Behavior**
Here is a [simple app ](https://github.com/alexey-sh/test_webpack_with_npm) which I want to install via `npm i --save git+https://github.com/alexey-sh/test_webpack_with_npm.git`
After installation, it runs webpack and there is a babel rule as well. But the result of that process contains "class A extends B"(babel doesn't converted it) etc while running webpack f

[2019-11-08 18:51] chrishinrichs commented on #10482
@nicolo-ribaudo this fails in IE11, which has `Object.keys` natively - seems like this should be fixed as we're using a `babel-preset-env` setting that should include IE11 and this issue did not occur with babel@6

[2019-11-08 18:57] nicolo-ribaudo commented on #10681
If you add the `debug: true` option to the env preset, what does it print?

[2019-11-08 20:34] peey commented on #10482
@chrishinrichs the spec for [Object.keys](https://www.ecma-international.org/ecma-262/9.0/#sec-object.keys) dictates that it should work for booleans^*. IE11 might be deviating from the spec.

Can you check if `Object.keys(new Object(boolean))` works? Your browser's supposed to be doing something similar internally.

[2019-11-08 21:28] MarcelGerber commented on #10678
I actually have a test case that worked fine in Babel 7.6.2, but is broken with Babel 7.7.2.
You can find this test case in https://github.com/MarcelGerber/babel-bug-regenerator-promise. There is a `working` branch using 7.6.2, while the `master` branch is not working (7.7.2).
The diff between these two branches (including the built file!) can be seen here: https://github.com/MarcelGerber/babel-bu

[2019-11-08 22:12] chrishinrichs commented on #10482
@peey from what I can gather, IE11 implements the ES5 version of `Object.keys` which specified that the argument had to be an Object (http://ecma-international.org/ecma-262/5.1/#sec-15.2.3.14). The ES6 spec changed to indicate it should be coerced to an object, which is what modern browsers do (http://ecma-international.org/ecma-262/6.0/index.html#sec-object.keys).

I confirmed that `Object.keys(O

[2019-11-08 22:32] MarcelGerber commented on #10678
This (at least my) problem is caused by #9481. Disabling the `async-to-generator` step makes it such that global `Promise` is used in the code generated by regenerator.

[2019-11-08 23:27] pgnd opened #10684 "babel-cli using outdated chokidar->fsevents dependency"
current @babel/babel-cli uses old 'chokidar'

https://github.com/babel/babel/blob/master/packages/babel-cli/package.json#L32

results in

warning @babel/cli > chokidar > fsevents@1.2.9: One of your dependencies needs to upgrade to fsevents v2: 1) Proper nodejs v10+ support 2) No more fetching binaries from AWS, smaller package size

needs bump to chokidar v3+

latest,

https://github.com/paulmillr

[2019-11-09 03:07] ArgonAlex commented on #8310
It looks like this might be fixed by #10529?

[2019-11-09 03:31] #10482 closed

[2019-11-09 07:12] nicolo-ribaudo commented on #10684
It's not compatible with Node 6, so we can't upgrade yet.

[2019-11-09 07:21] pgnd commented on #10684
@nicolo-ribaudo

Node *6*?  Isn't v6 long-ago EOL'd?

  https://nodejs.org/en/about/releases/

atm, _I_ have

node -v
  v13.1.0

Curious as to why there's a need for dragging along v6 compat?

[2019-11-09 08:12] nicolo-ribaudo commented on #8310
Yup, thanks!

[2019-11-09 08:12] #8310 closed

[2019-11-09 08:12] nicolo-ribaudo commented on #10684
We will drop node 6 support in Babel 8, but until then we have to maintain it for backwards compatibility.

[2019-11-09 09:29] QC-L opened #10686 "classDeclaration in typescript report: Too many arguments passed. Received 6 but can receive no more than 4"
## Bug Report

**Current Behavior**
I require `@babel/types` to create ts file.
But use `t.classDeclaration` report error.

[code]

**Input Code**

[code]

**Environment**
- Babel version(s): 7.7.0
- Node/npm version: Node 12 and npm 6.10.2
- OS: macOS 10.15
- How you are using Babel: node

## Questions

I see classDeclaration in [@babel/types](https://github.com/babel/babel/blob/master/packages/b

[2019-11-09 09:44] nicolo-ribaudo commented on #10686
Builders only support common properties. If you want to assign other props you can do something like
[code]

[2019-11-09 09:48] QC-L commented on #10686
@nicolo-ribaudo THX!

[2019-11-09 09:48] #10686 closed

[2019-11-09 11:17] nicolo-ribaudo commented on #10678
@MarcelGerber
Could you comment out these lines?
https://github.com/nicolo-ribaudo/babel/blob/f087c3f5bbcafd6d9689f261798ae809b9fb4fcc/packages/babel-preset-env/data/overlapping-plugins.js#L6-L7

I want to keep the logic because it will be useful in the future for something we are working on and because I'd like to avoid using `async-to-generators` when we already use `regenerator`, but let's fix

[2019-11-09 12:04] MarcelGerber commented on #10678
@nicolo-ribaudo Yes, that's exactly what I did yesterday. With these two lines commented out everything works just fine.

[2019-11-09 14:45] youradds opened #10688 "Can't get latest version of Babel to install with npm"
I can't seem to get 7.7.2 to install on my Ubuntu 18.10 server. Please see:

https://serverfault.com/questions/991088/babel-6-26-3-keeps-getting-installed-instead-of-version-7-7

I've tried:

Which just installs:

[code]

Trying to force a later version, gives:

[code]

What am I doing wrong?  I'm on these versions:

[code]

[2019-11-09 15:31] JLHwung commented on #10688
@babel/core@7.7.2 is [published](https://www.npmjs.com/package/@babel/core) on npm. Could you attach the output?
[code]
Check if you are behind a proxy or using a third party npm registry. There are situations when these cache need some time to update to the latest version. You could also find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+

[2019-11-09 15:34] youradds commented on #10688
Hi,

Thanks for the quick reply :) For some reason I don't seem to be able to attach any files? Here is the output:

[code]

[2019-11-09 15:36] JLHwung commented on #10684
Closing it in favour of #9981, which also [mentioned](https://github.com/babel/babel/issues/9981#issuecomment-529808712) `chokdiar` issue.

[2019-11-09 15:36] #10684 closed

[2019-11-09 15:39] youradds commented on #10688
Interestingly - if I try and install @babel/core, I get:

[code]

Yet when I run --version I get the old version still:

[code]

[2019-11-09 15:40] JLHwung commented on #10688
Yeah, `babel-core` is babel v6, and you should uninstall `babel-core` and use `@babel/core` instead. Rule of thumb: from v6 to v7 we have renamed every official `babel-foo` package to `@babel/foo`. You can also check out this [migration guide](https://babeljs.io/docs/en/v7-migration) if you are upgrading to v7.

[2019-11-09 15:48] youradds commented on #10688
Ah right. Ok I tried removing it:

[code]
Yet it still seems to think its installed at 6.26?:

[2019-11-09 15:52] JLHwung commented on #10688
You should also remove the globally installed `babel-cli`.
[code]

[2019-11-09 15:55] youradds commented on #10688
Cool - well that got rid of that, but now I don't know how to invoke it haha =)
[code]

Do I need to do another step to make it accessable from command line? (all my scripts to create the Babel versions run from CLI in a bash script)

[2019-11-09 15:59] JLHwung commented on #10688
You may install `@babel/cli` globally
[code]

But I would recommend install at your app locally and invoke by
[code]
which I think is easier to maintain.

[2019-11-09 16:03] youradds commented on #10688
WAHOO!!! Thanks you so much :) I installed @babel/cli with the -g flag, and then run:

I got:

[code]

So I assumed its because @babel/core needed installing globally as well - so I did:

`npm -g install @babel/core`

...and now I get:

[code]

Thank you so much. I was going mad with this issue!

If you want to add the answer on my SO post, I'd be happy to accept it (and hopefully someone else who

[2019-11-09 16:19] JLHwung commented on #10688
@youradds I am gonna close this issue now and I am glad your issue is solved. You may link to this thread on the SO post.

[2019-11-09 16:19] #10688 closed

[2019-11-09 18:19] kachkaev opened #10690 "TypeScript 3.7 featues in @babel/preset-typescript"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I upgraded to [TS 3.7](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html) recently and tried playing with its new features like [optional chaining](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#optional-chaining) and [nullish coalescing](https://www.

[2019-11-09 18:29] JLHwung commented on #10690
@kachkaev I don't think these two plugins will be added to the typescript preset in the future because
1) They are stage-3 ES proposals and would likely be included in the ECMAScript standard, by that time `preset-env` will include these plugins and you don't have to add these two plugins to your configs
2) `preset-typescript` aims to parse and strip the TypeScript-only language features such as t

[2019-11-10 00:09] qodesmith commented on #10679
What's the expected result? I ran that in Chrome's console and it threw a different error:

[code]

[2019-11-10 02:46] benjamn commented on #10678
Is this an application-level concern, such that setting `regeneratorRuntime.Promise` once, in some sort of global setup code, might be a good solution, or would it make more sense to allow passing a specific `Promise` implementation to each `regeneratorRuntime.async` call (once per `async` function, essentially)?

[2019-11-10 14:26] fabb commented on #10690
I would also have expected these plugins to be included in the @babel/preset-typescript. The problem is that the new syntax compiles fine when type checking with `tsc`, but fails at run time due to lacking browser support. I‘d suggest adding these plugins to @babel/preset-typescript to bridge the time until preset-env includes them.

[2019-11-10 16:29] yuryturing opened #10693 "super.method call incorrectly translated if class name is shadowed by local variable"
## Bug Report

**Current Behavior**
Super method call is incorrectly translated when there exists a variable shadowing class variable name.

[code]
**Input Code**
[Repl](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=PTAEBcAsFNQYwPYBNYEsDOoDm0B20AnAQ3GiVACMBPCdOUAd1SlGnQDYIiCdwAoRLnThQARQCuqOAGtQAXlAAKAA7c84AJTyAfKADeoAG7dQAfSIBuUAWjhxBXGaLz4AG

[2019-11-11 02:16] shenxiang11 commented on #10679
@qodesmith
I'm not sure if babel-node and node should has same behavior.

[2019-11-11 07:47] fuweichin opened #10696 "umd-compliance of babel-plugin-transform-modules-umd"
## Bug Report

**Current Behavior**
With `babel-plugin-transform-modules-umd`(npm `@babel/plugin-transform-modules-umd version@7.7.0`), there are lots of limitations to transform mjs to js:

+ doesn't support `export default xxx`
+ is not compatible with amdjs  since output code FACTORY lacks of `return xxx`
+ is not compatible with commonjs since output code IFFE  lacks of `module.exports=xxx`

*

[2019-11-11 09:31] nicolo-ribaudo commented on #10690
Why should we add those plugins to the TypeScript preset and not, for example, `@babel/plugin-transform-classes`?

[2019-11-11 09:36] #9851 closed

[2019-11-11 10:09] fabb commented on #10690
`@babel/plugin-transform-classes` is covered by `preset-env`: https://github.com/babel/babel/blob/master/packages/babel-preset-env/package.json

[2019-11-11 10:10] alexey-sh commented on #10681
turn out, the issue was about webpack settings.
here is more information about it
https://github.com/webpack/webpack/issues/9947

also the demo repo has been updated with proposed fix and it works perfectly.

thanks to babel team

[2019-11-11 10:10] #10681 closed

[2019-11-11 17:19] JLHwung commented on #10696
There are three changes on the proposed expected code.

1) apply `factory` to `module.exports` instead of `exports`

Actually it is _not_ compliant to [CommonJS spec](http://www.commonjs.org/specs/modules/1.0/) which only defined `exports`. `module.exports` is defined in Node.js Module system. Other than Node.js, there are many other [CommonJS implementation](https://www.quora.com/Are-there-implem

[2019-11-11 21:09] #10535 closed

[2019-11-11 21:10] #10110 closed

[2019-11-11 21:38] #10066 closed

[2019-11-11 22:36] #10671 closed

[2019-11-11 22:37] JLHwung commented on #8117
It is now [fixed](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBCBcEHYFcC2AjAppAvBAjAbiA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=typescript&prettier=false&targets=&version=7.7.3&externalPlugins=).

[2019-11-12 00:48] nicolo-ribaudo commented on #9545
I was experimenting with this plugin and found a problem:
[code]

where do you find to store the type annotation in this case?

[2019-11-12 01:02] bradzacher commented on #9545
what in the sam hill is that syntax?!?

It looks like flow completely ignores the type that's provided there:
https://flow.org/try/#0PQKgBAAgZgNg9gdzCYAoVBjOA7AzgFzAG0BDALjGwFcBbAIwFMAnAGjDooKYEtsBzNhgp04cGAxLYAumAC8xAOQkFbfEyoM2ARikBuVCQB0+OABk4GEuPMJmAYRK4GACgCUusMGBgSc2fK5ePlQ6MABaMC1Pb1D-eRExCWxMYzgAMW4ADwYAEzcPLzAMP3lqemZUIA

I think that's probably some legacy syntax or something that the pa

[2019-11-12 01:24] bradzacher commented on #9545
Quoting response from someone on the flow team:

[2019-11-12 13:35] fuweichin commented on #10696
**Ask in reply:**

1. It seems that current implementation of the plugin follows [CommonJS Strict](https://github.com/umdjs/umd/blob/master/templates/commonjsStrict.js) variant of UMD. and that means I cannot use `export default` in ES module.
2. The [AMD](https://github.com/amdjs/amdjs-api/blob/master/AMD.md#user-content-factory-) API says:

3. Similar to the first above, Why the plugin doesn't s

[2019-11-12 14:20] nicolo-ribaudo commented on #10696
@fuweichin The thing with `export default x` is that it should similarly to `export { x as default }`, which in turn has the same semantics as `export { x as foo }`: default and named exports are the same thing, with only a slightly different syntax.

[2019-11-12 16:28] #10673 closed

[2019-11-12 16:46] nicolo-ribaudo commented on #10690
Given that in ~1 month these 2 features will probably become standard, we'll directly add them to preset-env in the next release.

[2019-11-12 20:59] existentialism commented on #9545
@bradzacher thanks for investigating!

[2019-11-12 22:55] #6134 closed

[2019-11-12 23:25] #4825 closed

[2019-11-12 23:54] nicolo-ribaudo commented on #8462
Node's ESM implementation is now unflagged.

[2019-11-13 07:53] zloirock commented on #10008
@nicolo-ribaudo any feedback?

[2019-11-13 12:58] tbergq opened #10699 "Transform regex error in safari"
## Bug Report

**Current Behavior**
Regex capturing group is not working in safari, but works in chrome

[code]

**Expected behavior/code**
It works in all browsers

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

[2019-11-13 13:48] JLHwung commented on #10699
There is a [lookbehind assertion](https://github.com/tc39/proposal-regexp-lookbehind) in `/(?<=\d)\s/g`, which Safari [does not support](https://kangax.github.io/compat-table/es2016plus/#test-RegExp_Lookbehind_Assertions) yet. Babel only allows parsing lookbehind assertion but could not transform since it is an engine feature that could not be polyfilled.

[2019-11-13 15:34] JLHwung commented on #10662
I can reproduce this error by the following snippet ([REPL](https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQSgBAvAfGAuCeAHApgewGZgHYFcA2ekEEYA5KgEYBWyAxrKQNwBQQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=&prettier=false&targe

[2019-11-13 15:39] reylimykel commented on #8249
Update 2: Since Node 12, you can use either the .mjs extension, or set "type": "module" in your package.json. And you need to run node with the --experimental-modules flag.

Update: In Node 9, it is enabled behind a flag, and uses the .mjs extension.

node --experimental-modules my-app.mjs
While import is indeed part of ES6, it is unfortunately not yet supported in NodeJS by default, and has only

[2019-11-13 16:41] nvolungis commented on #5079
@loganfsmyth I came across a use case for a module that exports a proxy as default. In our codebase, we use css modules w/ webpack, so importing a css file will result in an object with classnames as keys and hashes as values. In test (using jest), we don't want to parse the css files, but we still want to assert that certain classnames were added to the dom. The attempted solution was to mock out

[2019-11-13 16:51] 1Jesper1 opened #10700 "Babel 7 + Node 12 "Class constructor Transform cannot be invoked without 'new'""
I have a problem error with babel 7: "Class constructor Transform cannot be invoked without 'new'" when not using target node _current_

When using target node _current_ I get the error "ReferenceError: regeneratorRuntime is not defined".
I'm not importing @babel/polyfill, but instead importing:

[code]

[code]

How to fix these errors?

**Environment**
- Babel version(s): [7.7.0]
- Node/npm versi

[2019-11-13 19:04] jeysal opened #10703 "BabelRegExp breaks deepStrictEqual with RegExp"
## Bug Report

**Current Behavior**
Regexp literals with named capture groups create `BabelRegExp` instances, which Node does not consider to `assert.deepStrictEqual` `RegExp` instances created using the constructor. Their `.source` also differs.

**Input Code**
- REPL or Repo link if applicable:
https://babeljs.io/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=M

[2019-11-13 19:07] jeysal commented on #10703
Found https://github.com/babel/babel/pull/7105 - perhaps the `runtime` flag mentioned there would work, but `preset-env` does not enable it? https://github.com/babel/babel/pull/9345

[2019-11-13 21:47] #10662 closed

[2019-11-13 21:48] MarcelGerber commented on #10678
@benjamn I don't know exactly what you're asking, and I think you know the correct answer better than I do.

But if I understand your question correctly, then I think a global one-time-setup code would suffice. I don't see why someone would need multiple, different Promise implementations.

[2019-11-13 21:51] nicolo-ribaudo commented on #10678
From a transformer point of view, I think that it would be easier to pass it as a parameter.

@MarcelGerber I realize that my previous comment wasn't clear at all, but I was asking if you want to open a PR commenting out that lines :sweat_smile:
That way we can fix the regression in the next patch.

[2019-11-13 22:13] nicolo-ribaudo commented on #10703
We have to wrap regexps with our own class to make things like `.groups` work. We can't do it for `new RegExp` because, since the argument is dynamic, we can't handle it at build-time.

There are two possible cases with your original example code:
1) Your engine supports named capturing groups. You can then configure your `preset-env` targets so that it doesn't wrap the syntactic regexp with the c

[2019-11-13 22:20] renchap commented on #8809
Can https://github.com/babel/preset-modules solve this?

[2019-11-13 22:40] jeysal commented on #10703
Sorry, I thought I had tried it with a higher target but apparently the config didn't apply - targeting Node 10 the transform is not applied. In my case this will work, but good to hear that you also expect that `runtime` could be used to work around this otherwise (if someone also needs it to work on old Node versions).