[2020-03-27 15:19] kingback commented on #11343
Yes, it started failing with 7.9.0, it works well before

[2020-03-27 15:25] nicolo-ribaudo commented on #11343
Ok, this is technically a bug in `babel-minify` which assumes that "Purish" expressions (i.e. expressions that don't have side effects) produce immutable objects.

However, since (currently) no one is actively working on `babel-minify` and since the bug started appearing when we release Babel 7.9.0, we might revert [this line](https://github.com/babel/babel/pull/11267/files#diff-757f0f7d11a836d10a

[2020-03-27 15:53] ulrichb commented on #11336
@nicolo-ribaudo No prob.

I've boilded the problem down to the following sample:

[code]

So there seems to be a conflict between the name of the local and the callback typing argument. When renaming one, the error disappears.

BUT: I can only reproduce this in my production app. Not in a fresh CRA, neither in the Babel playground :/

On the positive side: The "_createSuper is not defined" error d

[2020-03-27 16:05] ulrichb opened #11344 "Naming conflict in callback typing produces unnecessry complex state machine"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

**Input Code**
- REPL or Repo link if applicable:

[code]

[REPL Link](https://babeljs.io/en/repl#?browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsIxOgtgUwEFxoAKAKBivmCmXQCcwAuGUgShgF4A-GABQZ5UIfAB4QyBqggBzHgBpK1dAAc0mEKwDey6tRwEAw

[2020-03-28 13:46] nicolo-ribaudo commented on #11344
Simpler example:
[code]

[2020-03-28 14:22] nicolo-ribaudo commented on #11344
@ulrichb Can you check the version of `@babel/plugin-transform-parameters`? This seems to be fixed in 7.9.3: https://babeljs.io/en/repl#?browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=IYZwngdgxgBAZgV2gFwJYHsIxOgtgUwEFxoAKAKBivmCmXQCcwAuGUgShgF4A-GABQZ5UIfAB4QyBqggBzHgBpK1dAAc0mEKwDey6tRwEAwsAA2pgEa0A1gH5WpZAAt8AZWAEAch_ysICXAt8Bk5eGAA3dFQAEwBuPRgAX24YbUSldlZBYVEJKRl5VPIEqE1k

[2020-03-28 19:39] michaelfig opened #11348 "Proper eventual-send (wavy-dot, aka tildot) support"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
The only problem is wanting to land the new ["wavy-dot" eventual send syntax](https://github.com/tc39/proposal-wavy-dot) (currently stage1) in Babel.

**Describe the solution you'd like**
Add and implement an `["eventualSend"]` parser option.

`babel-plugin-syntax-eve

[2020-03-28 23:17] #10514 closed

[2020-03-29 11:51] coderaiser opened #11350 "this.hub is undefined in estree mode"
## Bug Report

This related to #8617

- [x] I would like to work on a fix!

**Current Behavior**
`@babel/parser` has a different behavior when `estree` enabled, and when not.

**Input Code**
When `estree` disabled code with `Duplicated variable declaration` throws while parsing:

[code]

When `estree` mode enabled code is parsed, but can't be traversed because of `this.hub` is undefined:

[code]

[2020-03-29 16:43] ulrichb commented on #11344
@nicolo-ribaudo Okay, cool. Thanks!

[2020-03-29 18:44] guybedford opened #11351 "ncc build support"
## Feature Request

Zeit uses ncc internally to build a lot of tools into single optimized installs that can be used as standalone executables.

With anything that depends on Babel, this is not currently possible due to the dynamic plugin patterns used internally in Babel, where the plugin name is passed as a string, with the dynamic require itself contained within Babel core.

If plugins are pass

[2020-03-29 18:48] JMarkoski opened #11352 "Invalid warning for not declaring 'corejs' option when using 'useBuiltIns': 'false'"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
When using `@babel/preset-env` and setting `useBuiltIns: 'false'` and not declaring a `corejs` option, the following warning occurs:

        core-js version. Currently, we assume version 2.x when no version
        is passed. Since this default version will likely change in future
        versions of Babel, we recommend exp

[2020-03-29 18:52] nicolo-ribaudo commented on #11352
We should throw an error about `"false"` not being a valid value instead.

[2020-03-29 20:05] nicolo-ribaudo commented on #11351
`@babel/preset-env` and all the other presets in this repository already load plugins upfront: https://github.com/babel/babel/blob/master/packages/babel-preset-env/src/available-plugins.js

For `preset-modules`, we had a short discussion about it at https://github.com/babel/preset-modules/pull/6, but we could reconsider it if needed. Note that, starting from `@babel/preset-env@7.9.0`, you don't ne

[2020-03-29 21:41] lydell opened #11353 "Fails to parse object division in ternary alternate: `weird ? true : {}/2`"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Fails to parse two useless but valid pieces of JavaScript.

**Input Code**

[Case 1](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=O4UwlgTgJgBA_DALhAriGAuGBvAvgegCYBuIA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=

[2020-03-29 21:47] lydell commented on #11353
Maybe related:

[Case 3 (error)](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=DYQwRgpsBcAEDeBfA9AJgNxA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=es2015%2Cstage-2&prettier=false&targets=&version=7.9.0&externalPlugins=):

[code]

[code]

[C

[2020-03-29 22:05] JMarkoski commented on #11352
Yeah, that's definitely way more reasonable to do. I spent hours digging what the problem could be, and rereading the docs about `useBuiltIns`, thinking I must have misunderstood something in how the option works. So I think it's reasonable to add a better error handling there.

[2020-03-29 22:20] nicolo-ribaudo commented on #11353
Isn't the error in Case 3 expected? It's a block statement.

[2020-03-29 22:32] JMarkoski commented on #11352
Also, there are many places where the same situation can happen, so I think it sholud be either done everywhere or nowhere at all.

[2020-03-30 03:11] jedwards1211 commented on #5667
I would hope it's obvious to anyone that one big fat json file is not a viable long-term strategy for fast startup

[2020-03-30 06:16] lydell commented on #11353
You’re right! Updating the comment.

[2020-03-30 06:25] kingback commented on #11343
use `resolutions` to lock the version of `@babel/types`, it works for me

[code]

[2020-03-30 10:56] jlchereau commented on #10904
The following does not trigger the 'range' of null error:

[code]

but the following does:

[code]

[2020-03-30 13:13] codex-zaydek commented on #11304
I noticed this in my own code…I thought I was going crazy. I have the following code:

[code]

In development — no problem. In production, it’s basically a no-op and nothing renders. Simply removing the `NOTE` comment fixed my problem.

[2020-03-30 18:34] JLHwung commented on #11350
You can wrap the parsed ast into a `File` class (defined in `@babel/core`) so `this.hub` is available, like we did in #10575.

I admit that this workaround is not ideal as ultimately `babel/traverse` should be allowed to run as a standalone package. Historically there has been attempt on fixing this issue (#5050) but later reverted in #5306.

@coderaiser I think we can surely revisit this issue an

[2020-03-30 19:56] kaicataldo commented on #10904
What version are you using?

[2020-03-30 22:59] tatimatch commented on #11292
this(npm i @babel/compat-data@7.8.0) works for me! thanks

[2020-03-31 09:48] jlchereau commented on #10904
[code]

[2020-03-31 17:02] marcellomontemagno commented on #11340
@JLHwung thank you for the prompt reply, renaming the file fixes my issue

[2020-03-31 17:46] #11340 closed

[2020-03-31 18:15] Showcase-Joz commented on #11216
lovin life....thanks

[2020-03-31 21:41] SimenB commented on #7660
And private class fields 😅

[2020-04-01 03:34] shrinktofit opened #11356 "@babel/plugin-transform-classses(createSuper)@7.9.x may have performance issue"
Classes **with super class** are very slow to `new`, in comparison to what babel@7.8.8 does. The difference can be found at [here](https://fossies.org/diffs/babel/7.8.8_vs_7.9.0/packages/babel-plugin-transform-classes/test/fixtures/regression/T2997/output.js-diff.html).

[code]

I have upload the test code to [this repository](https://github.com/shrinktofit/babel-perf). You can try it just by `nod

[2020-04-01 07:06] jridgewell commented on #11356
Unfortunately, this is the cost of `Reflect.construct` with a `NewTarget`. We could better optimize `_createSuper` to avoid duplicate code checks and return specialized wrappers based on environment, but we're still going to be much slower.

[2020-04-01 08:07] johannes-z opened #11357 "Broken resolved paths in Windows inside a monorepo"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I'm using `rollup` to bundle a package inside a `yarn` monorepo. As soon as `@babel/plugin-transform-runtime` is used, the built package breaks because of broken resolved paths to runtime helpers such as `_typeof`. This results in warnings like this:

[code]

As you can see, the Backslashes are missing from the paths, causin

[2020-04-01 08:09] nicolo-ribaudo commented on #11356
We can at least disable `createSuper` (or use a reduced version) in loose mode.

In "normal mode" the first goal is to be spec-compliant and fully compatible, but in loose mode we can assume that everything is used "normally" and prefer speed over correctness.

[2020-04-01 08:16] jridgewell commented on #11356
Oh, I thought we avoided that for loose already. We should definitely do that.

[2020-04-01 13:14] nicolo-ribaudo commented on #11356
@shrinktofit I investigated a bit the performance issue, here is what I found:
- The performance regression only happens in engines with native `Reflect.construct` support. You can test it, for example, in Node.js 5 (I had to replace `let`/`const` with `var`, and to remove destructuring).
- All the engines I know with `Reflect.construct` also support native classes, so maybe you can avoid transpil

[2020-04-01 18:36] JLHwung opened #11362 "`proposal-logical-assignment` should not assign anonymous function name"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
The following snippet, after transform will print string `"f"` to the console

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBAZg3AUACihA_CgvNArgOwMYAuAlgPY4ICUEA3gL4UB0OIAtgKZA&debug=false&forceAllTransforms=false&shippedProposals=false&circl

[2020-04-01 23:20] billyjanitsch opened #11363 "Add `proposal-export-namespace-from` to `preset-env`"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
When `@babel/preset-env` is enabled, export namespace syntax causes Babel to emit an error:

[code]

A different, less descriptive error is emitted when `{loose: true}` is passed to the preset:

[code]

**Input Code**
See [this repo](https://github.com/billyjanitsch/babel-export-ns-bug) for a minimal reproduction. Run `npm i

[2020-04-02 00:42] JLHwung opened #11364 "Enable import.meta by default in @babel/parser"
## Feature Request

<div align="center">

### `import.meta` is Stage 4!
![](https://media.giphy.com/media/gY5sEujrJbCve/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/parser` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/c3388ea42f3ec2d9614503fd0eff81b679ba12a7

1. Remove all the `this.hasPlugin` and `this.expectPlugin` che

[2020-04-02 01:12] Wetinee commented on #11364
I would like to give it a try.

[2020-04-02 01:24] kk-o commented on #11364
Giving this a shot, wish me luck!

[2020-04-02 01:40] existentialism commented on #11364
@Wetinee mind if we give a first time contributor a shot?

[2020-04-02 01:48] Wetinee commented on #11364
Sure!  It's yours now! @kk-o

[2020-04-02 01:53] existentialism commented on #11364
@Wetinee thanks! 🙏

[2020-04-02 02:18] avindra commented on #11271
@nicolo-ribaudo also a false alarm in my case. I let the issue sit for a while... did `> yarn.lock && rm -fr node_modules  && yarn install` today and I'm not seeing this issue anymore.

[2020-04-02 02:31] shrinktofit commented on #11356
This looks like the most appropriate solution for us, for now, thank you~

@nicolo-ribaudo  BTW, why can't we substitute `Reflect.construct` with operator new?

[2020-04-02 03:35] Abdelwahab0 opened #11365 "Module build failed (from ./node_modules/babel-loader/lib/index.js):"
### **Bug Report**
I came across this issue while trying to setup babel with webpack to compile back my JavaScript ES6+ modules back to ES5.

[code]
**package.json**

[code]

**webpack-config.js**

[code]
**.babelrc**

[code]

**Additional context/Screenshots**

![image](https://user-images.githubusercontent.com/59283912/78208028-9fefb700-74a3-11ea-8d13-6e92a2615672.png)

[2020-04-02 03:40] existentialism commented on #11365
@Abdelwahab0 couple things:

The [`presets` option](https://babeljs.io/docs/en/presets#preset-options) in the config is an array of strings or arrays:

[code]

Also, it looks like you're mixing v6 (babel-core, babel-preset-env) and v7 dependencies (@babel/core, @babel/preset-env). Unless you have a good reason to stick with v6, we recommend using v7.

[2020-04-02 03:50] Abdelwahab0 commented on #11365
so I did that and I got this error in return
it says here I don't have babel-core 7 even tho it shows in the package.json file as a developer dependency
 "@babel/core": "^7.9.0",!
[code]

[2020-04-02 08:18] nicolo-ribaudo commented on #11356
It's because with `new` you can't specify the third parameter of `Reflect.construct` (`new.target`).

[2020-04-02 12:58] nicolo-ribaudo commented on #11363
@billyjanitsch The problem is that we added `export * as ns from "foo"` support by default to `@babel/parser` (in #10521) but not to `@babel/preset-env`.

As a workaround, you can enable `@babel/plugin-proposal-export-namespace-from` in your config. A proper fix would be similar to https://github.com/babel/babel/commit/80aa7dc3c6972c0b107dd8b4ed88663141cf8583#diff-cf817afef443d0d96acf65275e0edf13.

[2020-04-02 14:09] JLHwung commented on #11365
Please make sure you are specifying the following combinations.
[code]
I am gonna close this issue since it is due to incompatible versions.

[2020-04-02 14:09] #11365 closed

[2020-04-02 14:24] JLHwung commented on #11363
@nicolo-ribaudo Actually it will be more than 80aa7dc because `export-ns-from` is not available in either `compat-table` or `caniuse-db`. We may resort to unconditionally including `proposal-export-namespace-from` due to lack of support data.

[2020-04-02 14:32] JLHwung commented on #11271
@tezml Please use the following combinations:
[code]
`babel-loader@7` does not support `@babel/core@7`.

I am gonna close this issue as we don't have reproduction repo.

[2020-04-02 14:32] #11271 closed

[2020-04-02 14:50] GlauberF opened #11367 "compile Javascript Code (string) and return via http"
maybe my question may seem strange, but what I need is to create a call in nodejs, where I send in the body a typescript or javascript code in string format and I get a return compiled in string as well.

Reason:
I have a cms / editor where I can write the code in javascript and save this javascript code in the string format in the database, then use it to render the information on screen.

howeve

[2020-04-02 15:06] telenko commented on #11336
Hi,

I'm facing same issue. The first time it appeared when I had such versions in package.json:
`"@babel/core": "7.5.5",
"@babel/cli": "7.6.0",
"@babel/plugin-external-helpers": "7.2.0",
"@babel/preset-env": "7.6.0"`

To solve the issue I've tried to upgrade to the last versions all libraries above:
`"@babel/cli": "7.8.4",
    "@babel/core": "7.9.0",
    "@babel/plugin-external-helpers": "7.8.3",

[2020-04-02 15:08] nicolo-ribaudo commented on #11367
You can do something like this, using `babel.transformAsync` (or `babel.transformSync`).

[code]

[2020-04-02 15:08] #11367 closed

[2020-04-02 15:08] JLHwung commented on #11352
@JMarkoski

preset-env uses `invariant` to validate `useBuiltIns`
https://github.com/babel/babel/blob/94447135c75a19da867f2e6a8906ce0a7e8f1ed4/packages/babel-preset-env/src/normalize-options.js#L187

It seems to me that it suffices to simply this into
[code]
since practically `"false"` will never be allowed as a different option than `false`.

Can you submit a PR? Thank you!

[2020-04-02 15:14] nicolo-ribaudo commented on #11336
Can you check what `npx nls why @babel/helpers` prints?

Also, those helpers aren't called from `babelHelpers.createSuper` probably because Babel doesn't know which helpers it can safely use from the `babelHelpers` object (it must assume that it is ^7.0.0). You can pass the `"helperVersion": "^7.9.0"` option to the plugin if you want to tell Babel that you are using an up-to-date `babelHelpers` ob

[2020-04-02 15:52] #11336 closed

[2020-04-02 22:33] userings opened #11369 ""regeneratorRuntime is not defined" error with async useState in react"
## Bug Report
**Current Behavior**

[code]
results in ```Uncaught ReferenceError: regeneratorRuntime is not defined``` error

**Expected behavior/code**
state updated asynchronously.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
no babel config file
relevant dependencies:
[code]
relevant dev dependencies:
[code]
webpack.config.js rule
[code]

**En

[2020-04-02 23:15] arku commented on #11362
@JLHwung I would like to take a stab at this issue.

[2020-04-03 06:44] jblevins1991 commented on #11292
You should not be using the caret symbol if you are going to accept breaking changes into minor releases on code that you control. If you introduce breaking changes on a minor version release you should be burdened with fixing it, not everyone that depends on you. Why is this such a hard concept in the javascript industry.

[2020-04-03 06:52] jblevins1991 opened #11371 "Could not find plugin "proposal-numeric-separator". Ensure there is an entry in ./available-plugins.js for it."
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
A clear and concise description of the behavior.

When I run webpack-dev-server with a babel configuration file, I get the following error. I understand that this was an issue with a dependency. I am not using cra and all of the solutions I have seen thus far have not worked.
[code]

**Input Code**
- REPL or Repo link if app

[2020-04-03 07:12] #11371 closed

[2020-04-03 08:51] nicolo-ribaudo commented on #11292
@jblevins1991 We fixed it in 7.8.7.

If you depend on open source software you are not helping to maintain and you are not supporting in any way (neither with human time nor financially), you are not entitled to complain about what the maintainers are doing. I assure you that we are trying to do our best. Why is this such a hard concept in the tech industry.

[2020-04-03 08:54] nicolo-ribaudo commented on #11369
You have installed `@babel/plugin-transform-runtime`, but you need to enable it in the Babel `plugins` option.

[2020-04-03 10:37] pustovalov commented on #11364
Also would like to give it a try

[2020-04-03 11:16] sosukesuzuki commented on #10785
How is the status? Can I work on this?

[2020-04-03 12:47] JMarkoski commented on #11352
@JLHwung Yes, I will submit a PR. Also, the same thing should be done with https://github.com/babel/babel/blob/94447135c75a19da867f2e6a8906ce0a7e8f1ed4/packages/babel-preset-env/src/normalize-options.js#L171

Should I add a fix for that too in the PR?
Thanks.

[2020-04-03 19:41] #11352 closed

[2020-04-03 22:02] dangreaves commented on #11061
I experienced a very similar issue to this when importing a type with the same name as the constructor argument. However, in my case, the output was slightly different to the above, resulting in a module import.

## Source

[code]

## Expected output

[code]

## Actual output

[code]

## Versions

- @babel/core 7.9.0
- @babel/preset-env 7.9.0
- @babel/preset-typescript 7.9.0

[2020-04-04 11:27] userings commented on #11369
Thanks!

[2020-04-04 11:27] #11369 closed

[2020-04-04 15:33] Beraliv commented on #9530
@JLHwung @liamfd if this is NOT in progress, could I have a chance to do it?

[2020-04-04 15:45] candreitodorut commented on #8482
I had the same issue with babel-core. Try using `@babel/cli` and `@babel/core` instead of `babel-core`

[2020-04-04 22:32] davidje13 opened #11379 "[preset-env] Add ability to error if polyfills are required"
## Feature Request

Some corejs polyfills are overly bloated (or have trivial alternatives in many situations) and it can be desirable to avoid the need for them. `preset-env` already has the ability to detect where polyfills would be required in code via `useBuiltIns` (and with more accuracy than a linter since it is the tool which actually adds the polyfill!)

Extending the existing concept of t

[2020-04-05 01:24] Feisty-er opened #11380 "Babel not rendering JSX in Chrome but works in Firefox"
## Bug Report

**Current Behavior**
Babel isn't working correctly in Chrome but is working in Firefox. Details below:

**Backgroundr**
I'm following along a Treehouse ReactJS introduction course and were asked to add this script to our html file so we could render JSX using Babel. I've seen several people post about this in the Treehouse support forum - but thought I would reach out to the Babel t

[2020-04-05 11:52] SimenB commented on #7660
@nicolo-ribaudo any chance of reviving this? Came up yet again with numeric separators this time

[2020-04-05 16:52] emilmuller opened #11381 "How to target flexbox support?"
So I want to support flexbox as a minimum requirement. I find out (through caniuse) that Firefox on Android has a minimum requirement of 68, and that desktop Firefox has a minimum requirement of 52. How can I target that?

As "and_ff" doesn't seem to be supported, and after finding this pull request: https://github.com/babel/babel/pull/10814/commits/f22162aab0cfe0a3e0d2dba9d45b7ca73b37a84d, it wou

[2020-04-05 18:12] nicolo-ribaudo commented on #11381
Why are you saying that they are not in sync?

Firefox for Android 68 and Firefox 68 have been released on the same day ([Firefox for Android 68 release notes](https://www.mozilla.org/en-US/firefox/android/68.0/releasenotes/)], [Firefox 68 release notes](https://www.mozilla.org/en-US/firefox/68.0/releasenotes/)).

[2020-04-05 20:57] nicolo-ribaudo commented on #7660
@SimenB I don't think that it fits in this repository, but I have published https://github.com/nicolo-ribaudo/babel-preset-current-node-syntax.

It detects the features supported by the current Node.js version and enables the corresponding syntax plugins. So far it supports:
- Numeric separators (Stage 3)
- Class public and private fields, and private methods (Stage 3)
- Logical assignment operato

[2020-04-05 21:12] SimenB commented on #7660
Exciting, thanks! Only other I could think of that has caused issues would be bigint literals but that might have been enabled by default already?

Thoughts on plugins enabled by default in newer versions of babel but not in older ones? Just teach users to upgrade their babel version?

[2020-04-05 21:18] nicolo-ribaudo commented on #7660
Yes, BigInts are enabled by default since v7.9.0.

I only added features not supported by 7.9.0 (which is the `peerDependency` on `@babel/core` for that preset) because if someone wants support for e.g. BigInts they can simply upgrade `@babel/core` instead of installing this new packages.

Do you think I should target an older version? Maybe 7.8.0 which is 3 months old?

[2020-04-05 21:38] nicolo-ribaudo commented on #11380
Could you check if using Babel 7 instead of Babel 6 works?

[code]

[2020-04-05 21:43] #11344 closed

[2020-04-05 21:46] SimenB commented on #7660
Aiming for 7.8 sounds good to me 👍 Then we can match that peer dependency in the next version of jest. Our current peer is just 7.0.0

[2020-04-05 23:36] Feisty-er commented on #11380
Hi Nicolo, thanks for getting back to  me.

1 - I added Babel 7 but it's not working on either browser now.
2 - I logged console.log ("hello"); but it didn't display - just errors are all related to babel.

See screenshots from both Chrome and Firefox
<img width="1397" alt="Chrome" src="https://user-images.githubusercontent.com/63174586/78512721-1107d500-77ea-11ea-9dbb-4e6eacbd04a1.png">
<img widt

[2020-04-06 08:29] jaydenseric commented on #8462
To workaround this issue I've published [`babel-plugin-transform-runtime-file-extensions`](https://github.com/jaydenseric/babel-plugin-transform-runtime-file-extensions), a Babel plugin that adds file extensions to Babel runtime `import` specifiers and `require` paths for [Node.js ESM compatibility](https://nodejs.org/api/esm.html#esm_mandatory_file_extensions).

[2020-04-06 21:23] oliverdunk commented on #11380
Hi @Feisty-er! The link @nicolo-ribaudo provided was to an HTML page, which lets you browse the package. Can you try putting `https://unpkg.com/@babel/standalone@7.9.4/babel.min.js` (the link to the raw file) as your script's src?

That said, I wasn't able to reproduce the bug in either version. It might be useful if you could produce a simple test case, including an index.html and app.js that you

[2020-04-06 22:27] kaicataldo commented on #9530
As long as there isn't an open PR for it, I think it's been long enough that it's fair game.

[2020-04-07 00:05] kaicataldo commented on #11202
Huh, so interestingly, at least in Firefox:

[code]

[2020-04-07 10:37] rjgotten commented on #10904
@kaicataldo
For what it's worth - I'm also having this problem with the `template-curly-spacing` throwing on a dynamic import.

Relevant packages:

[code]

Unlisted dependencies confirmed fully de-duped:

[code]

Problem occurs with `babel-eslint` versions 10.0.3 10.1.0 and the 11.0.0-beta2 under its `@next`.

[2020-04-07 14:40] nicolo-ribaudo commented on #11202
[code]
This is an infinite loop because it's valid code, and you didn't provide a condition in the test :stuck_out_tongue:

[code]

[2020-04-07 15:04] RichardHoOoOo opened #11385 "SyntaxError: unknown: Binding 'arguments' in strict mode (2:6)"
Hi I follow the instructions in this [doc](https://babeljs.io/docs/en/babel-plugin-transform-arrow-functions) to transform arrow functions.

I find an error `SyntaxError: unknown: Binding 'arguments' in strict mode (2:5)` is thrown every time when a variable is named "arguments". For example,
[code]

The instruction I use is `require('@babel/core').transform(code, {plugins: ['@babel/plugin-transfo

[2020-04-07 15:10] #9963 closed

[2020-04-07 15:32] nicolo-ribaudo commented on #11385
You can pass `sourceType: "script"` as an option to Babel. The default value is `"module"`, and that code is not valid inside modules.

[2020-04-07 15:32] #11057 closed

[2020-04-07 16:02] nicolo-ribaudo commented on #11385
The second one is a bug!

[2020-04-07 16:15] nicolo-ribaudo commented on #11385
@RichardHoOoOo If you are interested in fixing this issue you are welcome to help, otherwise it's open for anyone who wants to work on it!

---

The problem is in the utility we have to convert arrow functions to ES5 function expressions. In the [`hoistFunctionEnvironment`](https://github.com/babel/babel/blob/70cc111b357a09034a59f106c798727ae9ed1ca2/packages/babel-traverse/src/path/conversion.js#L

[2020-04-07 17:44] SimenB commented on #7660
I've landed that preset in Jest now, so I'll consider this solved (finally!). Thanks!

[2020-04-07 17:44] #7660 closed

[2020-04-07 18:45] kaicataldo commented on #11202
Ah, that makes sense :laughing:

[2020-04-07 19:06] #11281 closed

[2020-04-07 21:03] JosNun opened #11387 "Optional chaining in JSX doesn't parse correctly for properties named "class" or "function""
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
When using optional chaining in JSX, it will not parse correctly with a property named `class` or `function`.

Not sure if this falls under babel, or eslint-plugin-react

**Input Code**
- REPL or Repo link if applicable:
[Babel REPL example](https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&c

[2020-04-08 04:07] wvq opened #11389 "BABEL_PARSE_ERROR with decorator"
Decorator cann't execute method in chains, only the chains last node can do that.

[code]

[2020-04-08 08:40] dmr07 opened #11390 "Error: output file doesn't exist when specifying both output and directory"
I get the following errors when running these corresponding command:

[code]

The directory `./dist/` does indeed exist, but `server.js` does not.

I didn't try creating a blank `server.js` placeholder file since the command works without `--out-dir ./dist`, and it's not too unreasonable to assuming the decision to not have the user create the file is consistent.

I've read the documentation, and

[2020-04-08 10:12] darpanrangari opened #11391 "npm ERR! notarget No matching version found for @babel/helper-validator-identifier@7.9.5"
## Bug Report

### No matching version found for @babel/helper-validator-identifier@7.9.5

**Current Behavior**
Run npm install --save-dev @babel/helper-validator-identifier@7.9.5
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/helper-validator-identifier@7.9.5
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package ve

[2020-04-08 11:06] FlorinPorusniuc commented on #11391
I have the same problem

[2020-04-08 11:31] darpanrangari commented on #11391
I dont need karma-coverage the issue is with @babel/helper-validator-identifier@7.9.5 even if we install with ^ its not downloading the latest 7.9.5

[2020-04-08 11:46] FlorinPorusniuc commented on #11391
I have no issues trying to run npm install --save-dev @babel/helper-validator-identifier@7.9.5 on my local machine but when I do this from jenkins using a registry node config I also get:

 npm ERR! code ETARGET
 npm ERR! notarget No matching version found for @babel/helper-validator-identifier@^7.9.5
 npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget

[2020-04-08 11:53] darpanrangari commented on #11391
I am using a private registry that could be the issue, I tried the same with npm registry and it worked. it can be closed.

[2020-04-08 12:16] darpanrangari commented on #11391
@FlorinPorusniuc is this specific to the latest publish which was done 15hr ago?

[2020-04-08 12:58] munjakarnakar commented on #11211
Getting the same error even after **npm cache clean --force**.

[2020-04-08 13:01] kmxcubeathota commented on #11391
@darpanrangari we are also facing the same issue.

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/helper-validator-identifier@^7.9.5.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/types'
npm ERR! notar

[2020-04-08 13:03] nicolo-ribaudo commented on #11391
7.9.5 has been correctly published to `npm`: https://www.npmjs.com/package/@babel/helper-validator-identifier.

If you are using a proxy for the npm registry (maybe it's used by your company, or you are using it because your country blocks the main npm registry), then it's likely that it has cached the old version of the package and it isn't loading the new one. If you can, try clearing the proxy'

[2020-04-08 13:03] #11391 closed

[2020-04-08 13:25] nicolo-ribaudo commented on #11389
Are you using "legacy" decorators or the other implemented version?

[2020-04-08 13:33] nicolo-ribaudo commented on #11211
That clears your local cache, but it's likely a problem with a server/proxy between you and npm.

[2020-04-08 13:36] #11357 closed

[2020-04-08 13:56] SimenB commented on #7660
And lastly, for anyone following this, Jest 25.3.0 has been released with that preset.

Super happy this is solved now 😀

[2020-04-08 14:10] #11387 closed

[2020-04-08 15:40] JLHwung commented on #11390
In Babel 7, `@babel/cli` will throw when `--out-file` and `--out-dir` are used together. I don't think Babel 6 supports this scenario I will check later.

Can you upgrade to Babel 7?

[2020-04-08 15:59] FrediArro opened #11392 "Babel throwing error about exportDefaultFrom even after adding the plugin"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I created my porject with CRA.
I tried to import React-Navigation to my project. After the import, babel started throwing me an error for "@babel/plugin-proposal-export-default-from" plugin every time i tried to run my code. So I added it and also updated my babel configuration, but it still keeps throwing me this error. Wha

[2020-04-08 16:23] jx453331958 opened #11393 "Where is the acorn in babel-parser?"
In the [official document](https://babeljs.io/docs/en/babel-parser#credits) we can see "Heavily based on acorn and acorn-jsx, thanks to the awesome work of RReverser and marijnh.". But I never see the 'acorn' in the babel's source code. So I have some questions:

1. Did we rewrite all the 'acorn' in this project ?
2. And why we didn't use the 'acorn' as a dependency ?
3. What difference between ba

[2020-04-08 16:57] nicolo-ribaudo commented on #11393
`@babel/parser` was born as a fork of Acorn, but it has been completely rewritten. However, we still use some of it algorithms (for example, to handle expressions precedence).

[2020-04-08 17:52] monsonjeremy commented on #10808
@JLHwung I'm sorry I totally did not notice that I didn't link the repo.. Here is the link: https://github.com/monsonjeremy/babel-error-example

[2020-04-08 18:30] JLHwung commented on #10808
@monsonjeremy Thanks for the repo!

The issue comes from the fact `regenerator` does not recognize the object pattern in your source: (i.e. `const { param } = req`) We could submit an upstream fix to `regenerator`, but practically, if an engine does not support generator, it does not support destructuring either. Here is a list of supported engine versions.

[code]
As you can see versions with `de

[2020-04-08 19:25] monsonjeremy commented on #10808
@JLHwung This is an oversight on my part I guess. So if I have `@babel/preset-env` then I don't need any ES2015 transforms, only new transforms like `@babel/plugin-proposal-optional-chaining`?

[2020-04-08 19:28] JLHwung commented on #10808
@monsonjeremy Yes. If you are using latest `@babel/preset-env`, `@babel/plugin-proposal-optional-chaining` has been included and will activate when your targets setting does not have native support.

[2020-04-08 19:42] monsonjeremy commented on #10808
Thanks for your help @JLHwung, really appreciate it! Feel free to close if needed!

[2020-04-08 19:45] #10808 closed

[2020-04-08 19:58] JLHwung commented on #11392
@FrediArro Thanks for your report, especially for the reproduction repo.

I am afraid I have to close it because it is Duplicate of #7954, which will be fixed by #8080. Since both Flow and TypeScript supports type exports now, I will see if I can revive #8080.

[2020-04-08 19:58] #11392 closed

[2020-04-08 20:00] JLHwung commented on #11392
Duplicate of #7954

[2020-04-08 21:47] oliverdunk commented on #11353
Could I take this one? ✋

[2020-04-08 23:09] thedavidprice commented on #6226
@Sceat I'm experiencing the same, frustrating to diagnose, behavior. Do you know if anyone has opened an issue for this? To my surprise, I couldn't find one. Assuming I'm just not looking hard enough.

[2020-04-08 23:32] thedavidprice opened #11394 "`--no-copy-ignored` only ignores `.js` files and does not enforce config "ignore:" settings"
## Bug Report

**Current Behavior**
When using babel cli with `--copy-files --no-copy-ignored`, files and directories configured in my `babel.config.js` ARE copied into my build directory (with the exception of specified file types ending in `.js`). To be clear:
- there are **no** included files with names including `test.js`
- there **are** included files with names including `test.ts`
- there **

[2020-04-08 23:51] oliverdunk commented on #11353
I started to investigate here. It looks like at the `:` symbol, we call [updateContext()](https://github.com/babel/babel/blob/3ce7c2e394f9bbd249600bef3ce04aa3519890fb/packages/babel-parser/src/tokenizer/index.js#L1549). This sets `exprAllowed` to true, causing the binary expression to be interpreted as a regular expression.

I think my next steps are to get more familiar with https://github.com/sw

[2020-04-09 02:44] jx453331958 commented on #11393
Thanks! I understand.

[2020-04-09 02:44] #11393 closed

[2020-04-09 03:43] mikeRChambers610 commented on #10509
For anyone it might help, this issue happened for me because I was trying to use a graphql query in the wrong way. I was doing the initial query which returned an object and then I was trying to refetch the same query but I was trying to return it in an items array. Once I removed the items[] the issue was solved.

GraphQL that had the issues:
graphql(myQuery, {

options: props => ({

    variable

[2020-04-09 06:23] peterjuras commented on #10746
Will the babel 8 release also include default handling of `.ts` and `.tsx` extensions? (see #8652). It's tagged with the milestone but this issue doesn't mention it.

[2020-04-09 07:49] wvq commented on #11389
Not use legacy option or other implemented version.

package.json :
[code]

and the .babelrc:
[code]

[2020-04-09 09:18] OZZlE opened #11396 "Is it possible to use lodash-es instead of lodash?"
## Feature Request

I'm going through our main bundle size and I see babel requires `lodash` and another module we have installed requires `lodash-es` which seems to be exactly the same thing except `lodash-es` is lodash converted to ES modules https://www.npmjs.com/package/lodash-es

Would it be possible for babel to only require lodash-es as it's much smaller in size?

It's dependent in the foll

[2020-04-09 10:35] Sceat commented on #6226
@thedavidprice tried all kind of bundlers/ways to make my monorepo work but ended up totally dropping Babel :man_shrugging: i now use
[code]
to run my projects with still advanced ecma features but without having to move any files around (except through dockerfiles)

[2020-04-09 13:50] nicolo-ribaudo commented on #11396
Why are you bundling Babel? It's meant to be used as a build tool, not as part of your app.

[2020-04-09 19:02] nicolo-ribaudo commented on #11389
@wvq In "non-legacy" mode, decorators must be in the form of `foo.bar.baz` or `foo.bar.baz()`. No other expressions are allowed.

This is the version of the proposal implemented in Babel: https://github.com/tc39/proposal-decorators/tree/7fa580b40f2c19c561511ea2c978e307ae689a1b

If you are comfortable with reading the spec text, you can find the syntax [here](https://github.com/tc39/proposal-decora

[2020-04-09 19:02] #11389 closed

[2020-04-09 21:24] devongovett opened #11399 "Automatically annotate `React.forwardRef` as PURE"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

When building an app with React, `React.forwardRef` calls prevent tree shaking unused components. This can be fixed by adding a `/*#PURE*/` annotation so terser knows it's safe to remove. I think `@babel/preset-react` could do this automatically.

**Describe the solu

[2020-04-09 22:08] nicolo-ribaudo commented on #9280
Fixed by https://github.com/babel/babel/pull/8656

[2020-04-09 22:08] #9280 closed

[2020-04-09 22:11] #10552 closed

[2020-04-09 22:13] nicolo-ribaudo commented on #10227
Closing as the original problem was resolved.

[2020-04-09 22:13] #10227 closed

[2020-04-09 23:18] davewasmer opened #11400 "Typescript: object method with type assertion and spread arguments"
## Bug Report

**Current Behavior**
When compiling Typescript, asserting an object's method as some type and immediately invoking it with spread arguments results in calling the method with `.apply(void 0, ...`, which results in an undefined value for `this` inside the method (despite being called on the object).

This does not occur if you drop the type assertion, or if you don't use the spread o

[2020-04-10 04:00] jridgewell commented on #10746
Can we also take the chance to rename now-standard features still listed a `proposal-*`?

- babel-plugin-proposal-async-generator-functions
- babel-plugin-proposal-dynamic-import
- babel-plugin-proposal-export-namespace-from
- babel-plugin-proposal-json-strings
- babel-plugin-proposal-nullish-coalescing-operator
- babel-plugin-proposal-object-rest-spread
- babel-plugin-proposal-optional-catch-bind

[2020-04-10 07:52] aladdin-add commented on #10617
any news?

[2020-04-10 12:16] Zzzen commented on #11166
😕  What is the expected output though?

[2020-04-10 12:22] Zzzen commented on #11060
Using environment variables like `process.env.CALLER` should work.

[2020-04-10 12:47] damien-git opened #11402 "kexec and node 12"
The current version of `kexec` (3.0.0) does not build on node 12 (see [Unable to build on node 12](https://github.com/jprichardson/node-kexec/issues/36)).
As a consequence, `babel-node` cannot pass signals correctly.
Is there an alternative solution ?

[2020-04-10 14:01] nicolo-ribaudo commented on #11166
Probably something like this:
[code]

[2020-04-10 14:18] nicolo-ribaudo commented on #11402
Is there any other package we could use as a replacement for `kexec`?

[2020-04-10 14:24] nicolo-ribaudo commented on #11399
Currently, we only handle `React.createElement` because we do mark it when transpiling JSX elements (if you manually write `React.createElement`, it won't be marked as pure).

Looking at React's source, it seems that there are many pure functions:
- `createElement`
- `cloneElement`
- `forwardRef`
- `createRef`
- `memo`
- ... and basically everything except for hooks.

Maybe it would make sense to

[2020-04-10 15:56] damien-git commented on #11402
Interestingly, other options mentioned [here](https://stackoverflow.com/questions/34290403/a-way-to-call-execl-execle-execlp-execv-execvp-or-execvp-from-node-js) have also had issues with node 12.

[2020-04-10 23:29] oliverdunk commented on #11400
I went ahead and opened a PR to fix this! We were trying to form the "this" of the apply call from the as expression, when it's really useless to us.

[2020-04-11 07:48] jedwards1211 opened #11407 "Babel 7: path._traverseFlags don't get restored after contexts are pushed and popped"
## Bug Report

- [x] I would like to work on a fix!

This is not actually causing me problems but I noticed this while trying to grok the `@babel/traverse` source code and I felt like it was worth asking about.  I don't know if it's intended behavior or not.

`TraversalContext` calls `NodePath.pushContext`/`popContext` as necessary to keep track of nested traverse operations.  What seems odd to me

[2020-04-11 12:34] nicolo-ribaudo commented on #9943
Removed in the `next-8-dev` branch: https://github.com/babel/babel/pull/9958

[2020-04-11 12:34] #9943 closed

[2020-04-11 22:13] jedwards1211 commented on #8358
@nicolo-ribaudo is it appropriate for us to call `newPath.scope.crawl()`?

I'm implementing a promise chain to async/await transform, which means I'm moving statements in bulk from promise handler function bodies to the outer async function body, so to update all the bindings correctly I would have to basically reimplement everything that `Scope.prototype.crawl` does.

[2020-04-12 10:40] filipstoklasa commented on #9849
this solution works for me:

[code]

[2020-04-12 17:56] dosentmatter commented on #6476
@qm3ster, the reason I chose `removeConst` to be default is because it relies on regular `enum` transpilation of `@babel/plugin-transform-typescript` and it is just the simpler solution.
I didn't want the default to be `constObject`, because that may be unexpected for developers. They have to wrap their head around why the `constObject` works, when they may just want `const enum` to work and not c

[2020-04-12 18:31] dosentmatter commented on #10785
@sosukesuzuki, I worked on my plugin, `babel-plugin-const-enum` https://github.com/dosentmatter/babel-plugin-const-enum/issues/16, yesterday and it turns out I already support `declare const enum`. I released `babel-plugin-const-enum@1.0.0` already. It will just ignore the `declare` for `const enum` and transpile with `removeConst` or `constObject`, depending on which option you select. `constObje

[2020-04-12 18:41] max-mykhailenko commented on #11189
@nicolo-ribaudo @dalyr95 @JLHwung I still have this problem when use expression like `> 0.9% in my stats`. Will create new issue in browsersList repo

[2020-04-13 15:09] tenjojeremy opened #11411 "Property name expected type of string but got null"
`error`
[code]
`particles\index.js`

[code]
`babel config`

[code]

`package.json`

[code]

`node` version `v12.13.1`

Thanks

[2020-04-13 15:31] liamfd commented on #9530
@Beraliv hey, please go for it if you would like to. Sorry, it fell off of my radar.

[2020-04-13 16:24] SuperOleg39 commented on #6676
Hello!

Have same problem with eslint and different parsers - `babel-parser` not include decorators to Node start, but `@typescript-eslint/parser` (Typescript AST underhood) include decorators in location.

Which behaviour is right?

[2020-04-13 16:30] existentialism commented on #11411
@tenjojeremy I believe this is related to https://github.com/babel/babel/issues/10808#issuecomment-611119555

[2020-04-13 19:04] JLHwung opened #11414 "Babel throws confusing error when private property is used as computed key"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
The following snippet, after transformed, throws
[code]

**Input Code**
- [REPL](https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEAqD2BzRICm0DeAoa0DEADgE7wHQC80ARACYCWEYARmjVQNw7QDaALgBYMAdIRIEAuhWgAzMCAiosAXyA&debug=false&forceAllTransforms=false&shippedProposals=f

[2020-04-13 20:53] skeggse opened #11415 "exported functions block array detection in plugin-transform-for-of"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

A clear and concise description of the behavior.

**Input Code**

- [repl link](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAbgQwDYFcCmEYF4YG0CMANDAEwC6A3AFBUBmKYwUAluDCAA4sC2zAXmgAmACgCUMAN5UYMAPSyYAcTRRMUAE4JItEOu5CYUEDAQxoWwQnWCT6zQE8AtNHtI0MHephIQnAHTSHrowwqCQsIio7

[2020-04-13 21:47] IanPhilips commented on #11331
Happening to me as well, and the above config file has no effect.

[2020-04-13 21:53] iammerrick opened #11416 "Computed Properties + Object Rest Spread Crashes Babel"
## Bug Report

**Current Behavior**
Babel crashes when using a computed property with object spread.

**Input Code**
- REPL or Repo link if applicable: [REPL](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBKC2AHArlApgExgXhgcgAsBLPAbgChRJYMAnIsAaxhxgG8YwBDeNALnwYiaWKEZo8MAL4VK4aDAJoANspCs25FiwDaCFOgwBdAXgBKASQAKeADRbtiNLQjhTAWWf1gjOw5YAdEF0DIwOUk

[2020-04-14 01:06] JLHwung commented on #11416
The REPL errors because only es2015 preset is enabled while the object spread is ES2018. I can not reproduce this error after `@babel/plugin-proposal-object-rest-spread` is added. [REPL](https://babeljs.io/repl/#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBKC2AHArlApgExgXhgcgAsBLPAbgChRJYMAnIsAaxhxgG8YwBDeNALnwYiaWKEZo8MAL4VK4aDAJoANspCs25FiwDaCFOgwBdAXgBKASQAKeADRbti

[2020-04-14 07:25] jridgewell commented on #11414
Once #11405 has landed, this will be a very simple fix. All that's needed is to rearrange https://github.com/babel/babel/blob/070ec201packages/babel-helper-create-class-features-plugin/src/index.js#L185-L186, so that the private name nodes are inserted before the key nodes.

I think this is a GFI.

[2020-04-14 08:01] RajAakash opened #11418 "Plugin/Preset files are not allowed to export objects, only functions."
![image](https://user-images.githubusercontent.com/40253371/79200065-9e37d300-7e55-11ea-8b25-27e0d4830afa.png)
I got that issue when running a simple code of file: add.test.js
`const add = (a,b) => a + b;

//syntax for test: test('',code_for_test);

test('should add two numbers',()=>{
    const result=add(3,4);

    if(result!==7){
        throw new Error(`You add 4 and 3. The result was ${result}

[2020-04-14 09:14] OZZlE commented on #11396
I used `webpack-bundle-analyzer` and it reports lodash to be a big part of our bundle, and from package-lock.json it seems to come from babel.. I cannot see that we are bundling Babel though.. If I compare with for example https://www.valentinog.com/blog/babel/ then this is what we're doing also.

So it seems like either webpack-bundle-analyzer doesn't understand that this is not a part of the gen

[2020-04-14 11:43] OZZlE commented on #11396
my bad seems it comes from https://www.npmjs.com/package/react-image-gallery

[2020-04-14 11:43] #11396 closed

[2020-04-14 12:22] iamandrewluca commented on #8089
Is this still a thing with `babel@7`?
Using `@babel/plugin-transform-runtime` and `@babel/runtime-corejs3` in a `my-library` does solve this?

And when an app will use `my-library`. Will `babel` only polyfill needed features based on it's target?

[2020-04-14 12:39] nstepien opened #11419 "@babel/react: useSpread needlessly clones props"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
Enabling `useSpread` needlessly clones props:
[code]
With `useSpread` disabled, you can see that the object is not cloned:
[code]

**Input Code**
- REPL or Repo link if applicable:

[code]
I can't find a toggle for `useSpread` in the babel REPL. 🤷

**Expected behavior/code**
When a component only has 1 spread object as prop,

[2020-04-14 13:05] nicolo-ribaudo commented on #11419
Does cloning props cause any observable effect, maybe in the number of re-renders?

[2020-04-14 13:07] nstepien commented on #11419
Not that I know of. I just figured we could avoid extra work/bytes when possible.

[2020-04-14 13:11] nicolo-ribaudo commented on #11419
This affects both the `classic` and `automatic` runtimes. Before going ahead, I would wait for a :+1: from @babel/react

[2020-04-14 13:14] nstepien commented on #11419
The [`@babel/preset-react` docs](https://babeljs.io/docs/en/babel-preset-react#react-classic-runtime) only list `useSpread` under the `classic` runtime options. 🤔

[2020-04-14 13:15] nicolo-ribaudo commented on #11418
The problem is that you are using Babel 6 plugins/presets with Babel 7. Please use `@babel/preset-env`, `@babel/preset-react`,  and `@babel/plugin-transform-class-properties` instead. Also, I suggest not using the beta but a newer version (at least 7.9.0).

[2020-04-14 13:15] #11418 closed

[2020-04-14 13:16] nicolo-ribaudo commented on #11419
Yeah, because with `automatic` it's enabled by default :stuck_out_tongue:

Classic output:
[code]

Automatic output:
[code]

[2020-04-14 13:23] #7954 closed

[2020-04-14 13:23] #11331 closed

[2020-04-14 13:51] nicolo-ribaudo commented on #11415
This might be a bit hard to fix.

In order to decide when to apply the "array-only" optimization, `@babel/plugin-transform-for-of` calls the `isGenericType("Array")` function, which returns true if and only if the inferred type of `values` is `Array<something>`.
https://github.com/babel/babel/blob/f6c7bf36cec81baaba8c37e572985bb59ca334b1/packages/babel-traverse/src/path/inference/index.js#L114-L12

[2020-04-14 15:31] skeggse commented on #11415
I like all of these solutions! 1 is acceptable to me, as are the rest.

[2020-04-14 16:07] nicolo-ribaudo commented on #11415
:+1:

I'm assigning this issue to you since you ticked "I would like to work on a fix!". If you need any help, feel free to ask either here or in our Slack!

[2020-04-14 16:33] wlblanchette commented on #11038
Yes this is still an issue. An update of `d3-array` that includes the cumsum function will be sending more people to this page.

[2020-04-14 16:37] iammerrick commented on #11416
@JLHwung Thanks for the insight on why this is happening! That is also the case for our builds currently.

Great question! We have builds, all with shared code. The various builds have different runtime requirements. Generally, we aim for the lowest common denominator because we want the code that is run in our design tool (we are a website builder) to mirror the code that is going to be deployed

[2020-04-14 16:37] #11416 closed

[2020-04-14 17:32] d9k opened #11420 "plugin-transform-object-assign: _extends.apply is not a function"
Generated code:

[code]

[2020-04-14 19:13] lunaruan commented on #11419
Hey! Cloning props was an intentional decision so we shouldn't change this. @sebmarkbage

[2020-04-14 19:55] trueadm commented on #11419
Cloning the props is an important heuristic here.

It means that the object that gets passed to React's `jsx` is a plain mutable object with simple properties; otherwise if you passed in `props` directly there are no guarantees.

Some of the properties might not be enumerable, or the properties might be getters/setters, or the object might be frozen/sealed (meaning React would have to clone it aga

[2020-04-14 20:51] jridgewell commented on #11419
Closing as intentional per https://github.com/babel/babel/issues/11419#issuecomment-613649672.

[2020-04-14 21:04] nstepien commented on #11419
@trueadm What about `React.createElement`? Babel doesn't clone the props object in classic mode with `useSpread` disabled, so we could retain that behavior in this case, right?

[2020-04-14 21:13] trueadm commented on #11419
For ‘createElement’, we don’t need to clone the props as we create another object internally that acts as a clone.

[2020-04-14 21:17] nstepien commented on #11419
@jridgewell I guess we can reopen and only address the `createElement` case then.

[2020-04-15 00:24] gaearon commented on #11419
To be clear, we'd like to freeze passed props directly in the future but it would be a breaking change so can't do that now.

[2020-04-15 02:03] oyeanuj commented on #11086
@nicolo-ribaudo @TrySound I'm facing the same issue - curious, did you find a workaround?

[2020-04-15 09:54] nicolo-ribaudo commented on #11086
Unfortunately the only "workaround" is to avoid using them.

[2020-04-15 10:54] pacifier007 opened #11425 "Way to exclude some polyfills completely."
## Feature Request

When using `useBuiltIns: "usage"`, a lot of polyfills added may not be needed at all for my target browsers (ES7, I tried with Edge > 16). For example, when I use `array.includes('string')`, the following get added:

[code]

This adds in a lot of code that's unnecessary for my usage.

In babel/env options, I can add these all to the `exclude` but these may be relevant to anothe

[2020-04-15 12:57] nicolo-ribaudo commented on #11425
Doesn't `exclude: ["es.array.includes", "es.string.includes"]` work for you?

Also, those polyfills you have in your output are not related to `.includes()`. When only using `array.includes('string')` and targeting Edge 16, I get this output:
[code]
This is what I get when targeting an older browser (ie 7):
[code]

[2020-04-15 14:26] pacifier007 commented on #11425
Whoops. Sorry about that. My example wasn't correct as I had a lot of ES5 code in there too - that I didn't think would trigger any polyfills at all.

I can confirm `exclude` does work.

That brings me to a similar query. Is there any way to ignore a whole chunk of ES5 code (or any code), to not be polyfilled. I couldn't find any.

Something like autoprefixer or eslint `/* babel-core-js: off */` .

[2020-04-15 19:47] #9530 closed

[2020-04-15 20:44] faridg18 opened #11427 "Having trouble with building angular project"
**Current Behavior**
I am building my angular project on circleci and it just keeps failing with the following message:
**An unhandled exception occurred: Cannot find module '@babel/compat-data/corejs3-shipped-proposals'**

Require stack:
- /home/circleci/eleven-app/frontend/node_modules/@angular-devkit/build-angular/node_modules/@babel/preset-env/lib/polyfills/corejs3/usage-plugin.js
- /home/circ

[2020-04-16 08:32] AngeloAvv opened #11429 "babel#7.9.5 not working well with some self-closing tags"
## Bug Report

**Current Behavior**
Using babel with version 7.9.5, some self-closing tags like: `<span><i class="fa fa-heart-o"/></span>` do not get rendered well and then all the DOM will be broken. This behavior appears only with this version, with previous versions like 7.9.0 or above it works.

If you change the self-closing tag into a normal tag, the babel-preset-env work pretty well.
`<span

[2020-04-16 09:23] benschoch commented on #11427
As we're facing a similar issue, here are 2 options we came up with so far:
- Adapt dependency of babel/preset-env to v7.9.0: `"@babel/preset-env": "=7.9.0"`
- In case you use a NodeJS Docker Image, fix the version to something below 13.13, i.e.: `node:13.12.0-alpine`

Both solutions are temporarily and should be removed as soon as there is an actual fix of the node images or the babel/preset-env

[2020-04-16 10:18] cherishing opened #11430 "@babel/plugin-transform-for-of state.availableHelper"
`        if (!state.availableHelper(builder.helper)) {
          (0, _noHelperImplementation.default)(loose, path, state);
          return;
        }
`

Module build failed (from ./node_modules/_babel-loader@8.1.0@babel-loader/lib/index.js):
TypeError: state.availableHelper is not a function
but  `   if (state.availableHelper && !state.availableHelper(builder.helper))` can be running.  why?

[2020-04-16 11:08] nicolo-ribaudo commented on #11430
What is the full stack trace?

[2020-04-16 11:10] nicolo-ribaudo commented on #11427
This was a breaking change in node 13.13 which breaks with Babel <7.9.0: https://github.com/nodejs/node/issues/32852#issuecomment-613652057

Either update Babel or don't update Node.js :stuck_out_tongue:

[2020-04-16 11:10] #11427 closed

[2020-04-16 11:17] nicolo-ribaudo commented on #11429
I don't understand how this could be caused by Babel. Babel only parses JavaScript code, not HTML files or angular templates. Did you only update `@babel/preset-env`, or also other packages? Do you have a running example that  reproduces the bug?

[2020-04-16 11:57] AngeloAvv commented on #11429
I don't have a running example since it is a closed source project and it's still in development. Consider that most of our dependencies in our package.json file are legacy so they aren't updated by far. As I mentioned before, I could fix the bug by following two ways: without using the self-closing tags with babel-preset-env 7.9.5 (but our project is very huge and it will take a lot of effort to

[2020-04-16 12:18] panthony commented on #11429
Hello everyone 👋

I have the same issue as @AngeloAvv.

I have a dependency to [spectrum](https://github.com/bgrins/spectrum) which generate HTML with self-closing tags (see [here](https://github.com/bgrins/spectrum/blob/master/spectrum.js#L143) using JavaScript.

Reverting back to a previous version of babel fixed the issue.

[2020-04-16 12:59] ben-eb opened #11431 "babel-types: Allow optional and kind fields in objectTypeProperty"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
The generator for `objectTypeProperty` doesn't support the fields `optional` and `kind`.

https://babeljs.io/docs/en/babel-types#objecttypeproperty

**Describe the solution you'd like**
The constructor should be able to generate an annotation with these properties.

*

[2020-04-16 20:29] developit commented on #11429
Neither of these examples appear to use JSX?

If they somehow do, perhaps it's an issue with pragma calls now being marked as `@PURE`? ([example](https://babeljs.io/repl#?browsers=Edge%3E%3D16&build=&builtIns=false&spec=false&loose=true&code_lz=DwEwlgbgBAdg5gWjAMwLwCIDGAXATgGwDpcB7EgWwGcoAyGqHA4sqw_AU3mwAsoA-KAAZ0DfAENKlDMgCu-fAm7swcbtighkHAB5Qt7bQnC52OMCRgJMJfDPIx0fAFBQooSKIlT0YGAAcZbAQ4Uhk_BhsEf

[2020-04-16 20:56] devongovett opened #11435 "Anonymous generator function expression with typescript generic fails to parse"
## Bug Report

**Current Behavior**

Anonymous generator functions with typescript generics fail to parse:

[code]

`SyntaxError: Unexpected token, expected "(" (1:21)`

When adding a name to the function it works as expected:

[code]

TSC parses anonymous generator functions with generics [as expected](https://www.typescriptlang.org/play/index.html?ssl=1&ssc=1&pln=4&pc=1#code/MYewdgzgLgBAZmGBeeBX

[2020-04-17 02:51] liuliangsir commented on #11411
Same issue here

[2020-04-17 06:56] nicolo-ribaudo commented on #11411
@tenjojeremy / @liuliangsir All the browsers with destructuring support also support generators. What is the use case for regenerator when you are not transpiling destructuring?

[2020-04-17 07:00] #11411 closed

[2020-04-17 09:51] kane-mason opened #11438 "Private Fields Not Inspectable In Chrome Dev Tools"
## Bug Report

**Current Behavior**
I am using `@babel/plugin-proposal-class-properties` and `@babel/plugin-proposal-private-methods` with webpack to create and use private class fields. Everything transformes correctly and the website works as expected. But when i put a breakpoint in chrome and try to inspect the value (within the class and within scope of course), chrome doesn't seem to recognis

[2020-04-17 10:40] AngeloAvv commented on #11429
After further investigations, I can say that the issue may not involve directly the preset-env, so I changed title and the description of the issue accordingly. Also, downgrading doesn't fix the problem because the nested dependencies of core and preset are still referencing the last ones. I found it by analyzing directly our yarn.lock file.

In other words, if we use our yarn.lock file which refe

[2020-04-17 11:01] nleborgne opened #11439 "Build failed Travis (Cannot find module)"
I use Travis CI to automate the deployment of my VueJS program. I have the following error when I deploy :

[code]

My devDependencies are :
[code]

Thank you

[2020-04-17 11:06] JLHwung commented on #11439
@nleborgne Thanks for the report.

Please update `@babel/preset-env` to 7.9.0, c.f. https://github.com/nodejs/node/issues/32852#issuecomment-613655150

[2020-04-17 11:06] #11439 closed

[2020-04-17 11:09] nleborgne commented on #11439
@JLHwung the module is not included to my package. Should I add it?

[2020-04-17 11:10] JLHwung commented on #11439
@nleborgne You can run `npm update --depth 999 @babel/preset-env` to update nested dependencies.

[2020-04-17 19:23] lderas commented on #9849
this one did it for me

[2020-04-17 22:25] silkentrance opened #11441 "Q: Querying a field of a prototype or constructor function without invoking the getter or setter"
Over at https://github.com/testdeck/testdeck we skim through the available fields in a given suite class in order to find actual test methods. Some of the user defined suites might have getters or setters for whatever reason. (context: typescript.)

Now, accessing these via `prototype[key]` will invoke the getter or setter and thus may result in error.

It would be nice to have some means of refle

[2020-04-17 22:35] silkentrance commented on #11441
See also https://github.com/testdeck/testdeck/blob/master/packages/core/index.ts#L137

[2020-04-17 22:36] silkentrance commented on #11441
Perhaps you can get things up to speed in the respective committees. TIA!

[2020-04-17 22:45] silkentrance commented on #11441
https://github.com/testdeck/testdeck/issues/248

[2020-04-18 01:54] ak1987 opened #11442 "babel seems to ignore .browserslistrc"
## Bug Report

**Current Behavior**
Babel is not compiling code as expected (even const / let stays in code). I am using following CLI command: _watchify main.js -t babelify -o build/main.js_

**Input Code**
- REPL or Repo link if applicable:

[code]

**Expected behavior/code**
I do expect that babel should transform code to ie8 - compatible (es5)

**Babel Configuration (babel.config.js, .babelrc,

[2020-04-18 08:47] nicolo-ribaudo commented on #11441
You already can!
[code]

In general, this isn't the correct repository to propose new JS features: please read [how to do it](https://github.com/tc39/ecma262/blob/master/CONTRIBUTING.md#new-feature-proposals).

[2020-04-18 08:47] #11441 closed

[2020-04-18 09:14] nicolo-ribaudo commented on #11442
You you add the `debug: true` option to `@babel/preset-env`, what does it log?

[2020-04-18 11:24] ak1987 commented on #11442
@babel/preset-env: `DEBUG` option

Using targets:
{
  "ie": "7"
}

Using modules transform: auto

Using plugins:
  proposal-nullish-coalescing-operator { "ie":"7" }
  proposal-optional-chaining { "ie":"7" }
  proposal-json-strings { "ie":"7" }
  proposal-optional-catch-binding { "ie":"7" }
  transform-parameters { "ie":"7" }
  proposal-async-generator-functions { "ie":"7" }
  proposal-object-rest-

[2020-04-18 12:11] ernestostifano opened #11443 "Unexpected keyword 'yield' error in transpiled code."
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

Transpiled code throws `SyntaxError: Unexpected strict mode reserved word` on runtime.

Static analysis complains `Unexpected keyword 'yield'. Cannot use yield expression out of generator.`

**Input Code**
- REPL or Repo link if applicable: [REPL Link Here](https://babeljs.io/repl#?browsers=since%202015&build=&builtIns=fals

[2020-04-18 12:59] nicolo-ribaudo commented on #11442
Can you check what is the exact output corresponding to the input code you posted? What is the file path of the input you posted?

[2020-04-18 13:18] nicolo-ribaudo commented on #11443
@ernestostifano I have re-opened this issue in the repository we internally use to transform dynamic import: https://github.com/airbnb/babel-plugin-dynamic-import-node/issues/84

[2020-04-18 13:42] ak1987 commented on #11442
I have double checked all the paths, and datetime of new file.
Still, let / const are present, and for .... of construtions.

[2020-04-18 13:43] nicolo-ribaudo commented on #11438
Unfortunately, this is something that cannot be represented using source maps.

Babel generates this code for your class:
[code]

and there is no way for us to tell the debugger that when you write `this.#welcomeTest`  it should actually run `_classPrivateFieldGet(this, _welcomeText)` :slightly_frowning_face:

[2020-04-18 13:45] nicolo-ribaudo commented on #11442
Is it possible that the code that is not being compiled comes from `node_modules`? If it is, then please read https://github.com/babel/babelify#why-arent-files-in-node_modules-being-transformed.

[2020-04-19 09:08] pramish22 opened #11444 "Module not found: Can't resolve '@babel/runtime/helpers/classCallCheck'"
I've installed babel but still I'm getting this error. How to fix this?

[2020-04-19 09:15] shangwenhe opened #11445 "Remove moduleRoot from the generated module name"
https://github.com/babel/babel/blob/f6c7bf36cec81baaba8c37e572985bb59ca334b1/packages/babel-helper-module-transforms/src/get-module-name.js#L36

[2020-04-19 09:18] nicolo-ribaudo commented on #11445
Why?

[2020-04-19 09:20] nicolo-ribaudo commented on #11444
What is your package.json? Did you add `@babel/runtime` to your dependencies? What is the full error?

[2020-04-19 10:01] pramish22 commented on #11444
That one is fixed now I'm getting different error
![image](https://user-images.githubusercontent.com/31245053/79684954-d2930100-8252-11ea-83bd-2e4b4cc550d2.png)

[2020-04-19 12:29] nicolo-ribaudo commented on #11444
That one is not related to Babel.

It's a permissions problem, probably caused by some files being created with admin rights. You can try to delete `node_modules` and re-install it.

If it doesn't work, I suggest asking on StackOverflow on in some other general JavaScript support platform!

[2020-04-19 12:29] #11444 closed

[2020-04-19 12:44] dineshselvantdm commented on #5261
It's still happening.

[2020-04-19 13:41] ak1987 commented on #11442
Code comes from node_modules, right.

I will check the link and give you a response. Thank you.

[2020-04-19 13:51] shangwenhe commented on #11445
[code]

Failed to achieve the expected effect, use 'moduleIds' and 'moduleRoot' config;

[2020-04-20 03:53] woongsikchoi opened #11446 "Binary operator after TypeScript `as` assertion causes wrong SyntaxError"
## Bug Report

**Current Behavior**

If a bianry operator like `>=` appears directly after TypeScript `as` assertion, a wrong SyntaxError occurs.

**Input Code**
[code]

The above code causes the following SyntaxError:
[code]

**Expected behavior/code**

No SyntaxError should occur.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babel

[2020-04-20 09:15] farwayer commented on #11108
The problem is if you set `type: module` in package.json then your `babel.config.js` must be in module format (or you will get `Error while loading config - module is not defined` error).

And babel config in esm format works fine with `@babel/cli` but not with `@babel/register`. So for now it is not possible to have `type: module` and using babel-node.

[2020-04-20 09:47] nicolo-ribaudo commented on #11108
You can use `babel.config.json` or `babel.config.cjs`.

[2020-04-20 12:04] farwayer commented on #11108
Thanks for response! I can't use `babel.config.json` because of dynamic configuration logic based on `caniuse-api`. I already tried `babel.config.cjs` but with no luck. It works with `@babel/cli` but `@babel/node` do not use it.

[2020-04-20 14:48] alasarr commented on #5261
Same issue here

[2020-04-20 15:25] nicolo-ribaudo commented on #11446
@DanielRosenwasser What is the precedence of the `as` operator? It seems like it has very different precedences on the left and on the right, but I'm not sure about it.

Specifically, on the left is it higher or lower than relational operators? I'm asking because from my experiments it has an higher precedence than `>` and lower precedence than `<`, but `>` and `<` should have the same precedence.

[2020-04-20 16:16] lencioni commented on #10617
👋 I just wanted to chime in here with my current use-case where something like this would be pretty helpful, in case it might be helpful for yall. I'm currently working on taking a complicated Babel preset and inlining it directly into a complicated .babelrc file.

After a naive attempt, I'm getting confusing errors that I assume are due to the `env` and `overrides` options not working exactly how

[2020-04-20 18:23] existentialism commented on #11435
Note the error only occurs when `jsx` is enabled too ([REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAZmGBeeBXMwoEtwCoYA8AKgHwAUWYADqlAFwxECUDA4gKZjsBOAhlCG4EwqALYAjHiRgBvAFAwYATyzsANgBMYAJgDccgL5ygA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&li

[2020-04-20 19:09] hzoo commented on #11435
Good catch - later, should we just enable jsx parsing by default in the tests or run them separately?

https://github.com/babel/babel/blob/1a08aa5adc564d5205dc7900d8364b28dc0914a5/scripts/parser-tests/typescript/index.js#L72

[2020-04-20 21:05] JLHwung commented on #11445
Per [docs](https://babeljs.io/docs/en/options#moduleroot), the `moduleRoot` will always be included in the generated source. If you would to strip the `moduleRoot` in the generated module name, you can pass your own `getModuleId` function:
[code]

[2020-04-20 23:33] AviVahl commented on #10746
How would such change be compatible with babel-register? Unless I'm missing something, `require.extensions` is synchronous.

[2020-04-21 09:45] kane-mason commented on #11438
Thank you for the response. Is this someone elses shortcoming we can log on another project? For example with chrome or sourcemap spec. Or is there absolutely nothing we can do and have to live with

[2020-04-21 12:22] jeysal opened #11455 "support simple namespace import cases in referencesImport helper"
## Feature Request

- [x] I would like to work on this feature! (just not sure when I have time)

**Is your feature request related to a problem? Please describe.**
`path.referencesImport('dep', 'prop')` cannot be used on the `prop` identifier in the following code to detect that it references the import.
[code]
This is because for namespace imports, the implementation is currently quite simplisti

[2020-04-21 15:07] tpluscode commented on #10514
Bugger, I just wasted several hours looking for the problem in all the wrong places.

This has not been released yet, has it?

Is there any workaround?

[2020-04-21 15:24] tpluscode commented on #10514
No, wait, I assumed that it would be enough to install the latest typescript present.

I updated `@babel/helper-create-class-features-plugin` to the latest (7.9.5) but it's still setting undefined to my abstract methods 😞

[2020-04-21 16:05] nicolo-ribaudo commented on #10514
What does `npx nls why @babel/helper-create-class-features-plugin` log?

[2020-04-21 16:35] hzoo commented on #8776
If this is via webpack (I see loader) then your deps are using const as well so you'd need to compile those with babel or use another dep that is compiled https://stackoverflow.com/questions/33878586/safari-babel-webpack-const-declarations-are-not-supported-in-strict-mode

[2020-04-21 16:35] #8776 closed

[2020-04-21 16:47] tpluscode commented on #10514
[code]

[2020-04-21 17:58] SukantPal opened #11457 "@babel/traverse visitor argument type"
I am using `@babel/traverse` and I am not able to infer what the "types" are for the enter/exit methods:

[code]

Moreover, using `isNode` returns true on both `arg` and `arg.node`:

[code]

I think this is a bug. The visitor's argument is a node or `arg.node` is a node - not both.

Is there a reference for these methods?

[2020-04-21 19:12] #10675 closed

[2020-04-21 19:22] #11435 closed

[2020-04-21 22:11] m93a opened #11460 "Namespaces fail to merge with enum, w/ misleading error message"
## Bug Report

**Current Behavior**
Set up a TypeScript repository with Babel and [plugin-transform-typescript](https://babeljs.io/docs/en/babel-plugin-transform-typescript/). Add this code:

**Input Code**
[code]

**Expected behavior/code**
It should compile just fine. In TypeScript this just works: [Playground Link](https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=27&pc=1#code/KYDwDg9gTgLgBM

[2020-04-21 22:40] m93a opened #11461 "Destructuring assignment not supported in namespaces"
## Bug Report

**Current Behavior**
Set up a TypeScript repository with Babel and [plugin-transform-typescript](https://babeljs.io/docs/en/babel-plugin-transform-typescript/). Add this code:

**Input Code**
[code]

**Expected behavior/code**
It should compile just fine. In TypeScript this just works: [Playground Link](https://www.typescriptlang.org/play/#code/MYewdgzgLgBCBGArGBeGBvAhgLhgIgDMQQ8AaG

[2020-04-22 03:13] #11445 closed

[2020-04-22 03:14] shangwenhe commented on #11445
So ga

[2020-04-22 03:46] 1wpro2 opened #11463 "@bable/cli issue with typescript on classState.userConstructorPath"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

When running babel with typescript, `babel . -d lib --extensions '.ts,.tsx'`, it throw an exception with
[code]
it's because this line at

[code]
where `classState.userConstructorPath` is undefined.

**Expected behavior/code**
I have expected the `babel` cli to run successfully.

**Babel Configuration (babel.config.js, .bab

[2020-04-22 05:36] devongovett commented on #11435
Good catch on JSX, and thanks for fixing @existentialism! 😍

[2020-04-22 06:44] rhpijnacker commented on #5261
Also here... took me a few hours to figure out this was a known bug

[2020-04-22 06:58] johannes-z opened #11464 "[preset-typescript] Re-export of interface fails"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I'm trying to bundle typescript with rollup and `@babel/preset-typescript`, but re-exporting an interface fails:

[code]

**Input Code**
- REPL or Repo link if applicable: I've prepared a Repo here: https://github.com/johannes-z/vue-lib-starter/tree/bug/babel-typescript. Please note the two `src`-files, and `build/rollup.con

[2020-04-22 07:37] nicolo-ribaudo commented on #11464
You can use
[code]

The problem is that, by looking at that code (Babel works on a per-file basis), it's impossible to know that it is a type.

[2020-04-22 07:38] d892fc commented on #8404
Me too

[2020-04-22 07:42] nicolo-ribaudo commented on #11464
I'm closing this because:
- Babel's documented goal is to match TS's `--isolatedModules` mode, which [disallows that code](https://github.com/babel/babel/issues/10856#issuecomment-565279868)
- It can be easily worked around be explicitly marking the type export.

[2020-04-22 07:42] #11464 closed

[2020-04-22 08:28] lavor opened #11465 "Cannot read property 'value' of undefined at new ConfigItem"
I have a problem to run `mocha` test in my application.

I tried to debug it and there is problem with calling `Object.defineProperty` in `ConfigItem.constructor`:
https://github.com/babel/babel/blob/1a2f67191cd4c990019a977735ef9cb185dc0851/packages/babel-core/src/config/item.js#L105-L108

Before calling `Object.defineProperty(this, "_descriptor", ` the property `this._descriptor` has correctly se

[2020-04-22 11:09] nicolo-ribaudo commented on #11465
What node.js version are you using? `Object.defineProperty` doesn't delete the value :thinking:

[code]

Can you also add a `console.log(Function.toString.call(Object.defineProperty))` after line 106? Maybe some buggy code is modifying it.

[2020-04-22 11:15] nicolo-ribaudo commented on #11460
The problem is that you have two instances of the typescript plugin: the one enabled by CRA, and the one added by you. The one enabled by CRA finds `namespace` and throws.

I _think_ the CRA Babel preset supports a `typescript: false` option to disable their instance of the plugin.

[2020-04-22 12:22] m93a commented on #11460
Hey,
Thank you for your reply. Why do I have two instances of the typescript plugin? CRA also compiles TypeScript using `plugin-transform-typescript`? I don't see any CRA preferences that could help me disable TypeScript in an already created project. Could you please help me out with this?

[2020-04-22 12:32] lavor commented on #11465
I am using node 8.12:
$ node -v
v8.12.0

Yes, I know that it can be used also for modifying a property. As I wrote, it happen after some time, so the code on those works for some time and once it stop to work.

I added log, you were right, my dependency library `pdfjs-dist` is modyfing it. I am using version 1.10.100 of that library:
[code]

Thanks

[2020-04-22 12:39] afilp commented on #5667
Can we safely delete this file?

[2020-04-22 12:41] #11465 closed

[2020-04-22 13:32] goosewobbler commented on #5261
Can confirm this is still an issue.

sourceMaps: 'inline' => inline sourceMap (correct behaviour)
sourceMaps: 'both' => inline sourceMap, no file sourceMap (incorrect behaviour)
sourceMaps: true => no inline sourceMap, no file sourceMap (incorrect behaviour)

[2020-04-22 13:36] ueler commented on #11429
We also have babel in our project and also suspected babel first.
However, in our case upgrading the dependency jquery to 3.5.0 (see their release notes) was responsible for messing up our whole AngularJS project. Back to 3.4.1 everything works fine again.

Maybe this is not directly related to this question, just in case someone also has upgraded babel together with jquery.

[2020-04-22 14:40] existentialism commented on #11429
It would be really helpful if someone could create a small repo that reproduces the problem!

[2020-04-22 14:40] AngeloAvv commented on #11429
@ueler is right. By forcing jQuery version to 3.4.1 the problem doesn't appear anymore.
I didn't think about jQuery because 95% of our dependencies are legacy projects which no longer get updated by far.

[2020-04-22 14:40] #11429 closed

[2020-04-22 14:57] rhpijnacker commented on #5261
I've been debugging this for a while and came to these conclusions:

* adding the inline sourceMap line for the `'inline'` and `"both"` parameters are handled by `babel-core/src/transformation/file/generate.js`
* adding the map-file sourceMap line is handled by `babel-cli\src\babel\dir.js` and `babel-cli\src\babel\file.js`
* `dir.js` and `file.js` do not have access to the full config as read from

[2020-04-22 15:01] rhpijnacker commented on #5261
I've encountered one additional inconsistency:

Using `'inline'` or '`both`' will _not_ write the sourceMap line when the source-file is in the exclude list, and thus the source-file is not transformed.
However, since the cli package that writes the .map file is not aware of this, it will write the source map anyway.

We rely on the excluded files _not_ to get a sourceMap, which means we cannot cu

[2020-04-22 17:01] goosewobbler commented on #5261
I'm wondering if the map-file creation should be extracted to `babel-core` where it can have access to config and passed overrides for config when invoked by `babel-cli`.  IMO this functionality is not a CLI thing, but it should be accessible by the CLI code.

[2020-04-22 18:24] reactuser35 commented on #10008
`"useBuiltIns" : "pure" `option looks real solid.

I don't want to pollute the global scope and also I don't want to include so much and unnecessary polyfills while using babel-plugin-transform-runtime.

I think this future is the one of the needed one on next releases.Any update on that?

[2020-04-22 22:57] SukantPal opened #11469 "Trailing comments of ClassMethod are reported as trailing comments of BlockStatement when the method has no code inside but has a comment"
Starting from this code:

[code]

The `/* Trailing comment */` is in the `trailingComments` of the ClassMethod "constructor". However, if you comment out the only line of code in the constructor:

[code]

Then, the trailing comment appears in the trailing comments of the `BlockStatement` inside the constructor.

Furthermore, if you remove both comments from inside the constructor, then the trailin

[2020-04-23 02:45] kaicataldo commented on #10889
I was able to test this in WSL2 today (currently only available in Windows 10 Insider in the Fast Ring), and was able to run everything when the repo was cloned into the Linux installation.

I couldn't even read the directory when trying to access the repo when it was cloned in my Windows home directory that's mounted into the Linux installation.

Definitely still seems like something we should fi

[2020-04-23 07:12] ashuorg opened #11470 "@babel/runtime -> SyntaxError: Unexpected token export -> helpers/esm/extends"
Bug Report

**@babel/runtime:**

**Current Behavior**
[code]

**Input Code**
babelrc
[code]

**Expected behavior/code**

Expect no error

[2020-04-23 07:28] sidntrivedi012 commented on #11061
Sorry for delaying the work on this issue. Will start working on it from today onwards.

[2020-04-23 07:36] sidntrivedi012 commented on #11461
I would like to work on it after completing #11061 .

[2020-04-23 08:14] nicolo-ribaudo commented on #11470
The `esm` folder contains es modules. What is your configuration?

[2020-04-23 08:27] nicolo-ribaudo commented on #11470
The `esm` folder contains es modules.
Do you have any other config Babel config or enabling `@babel/runtime`?
What does `npx nls why @babel/runtime` say?

[2020-04-23 09:27] #10785 closed

[2020-04-23 11:15] ashuorg commented on #11470
_yes you are right it is not esm related issue i should edit the question_

following is the logs of `npx nls why @babel/runtime`
[code]

Note: application structure is like following
[code]
_child package.json_ [following contains all babel related packages]
[code]

[2020-04-23 13:45] eps1lon commented on #6978
I think having at least a debug output for what plugins are switched into `loose` mode would already help. We'd like to use optional-chaining (and can in loose mode) but it requires looking through each plugin individually to get an overview over the potential impact.

I collected the plugins for the following targets:
[code]

<details>
<summary>plugins grouped by `loose`, `spec` and no mode in `@

[2020-04-23 19:34] hparadiz commented on #8404
Since the time I wrote this I implemented webpacking basically doing the same thing. Webpack lets you run `webpack --config [someconfig]` and that's all you need cause webpack runs globally. Ironically it's using babel under the hood. Both are installed in the system wide global node_modules directory letting you use webpack from the CLI.

The files are automatically compiled and uploaded after ev

[2020-04-24 07:53] d892fc commented on #8404
@hparadiz : Thanks for sharing! I've being thinking about this thing until yesterday I figure out that it's not possible to get rid of the NPM or the node_modules/ stuff. That's why:

- We have to maintain old web projects sometimes.
- Old projects may rely on some NPM packages, for example, libraries and build tools.
- These packages' API changes fast, may be not backword compatible.
- These pack

[2020-04-24 09:30] jcubic opened #11473 "Babel is optimizing code and there are no way to disable that"
## Bug Report

Babel is removing code that is always true and there are no way to disable that feature.

it seems that there are no way to disable this optimization, why babel do that?

- [ ] I would like to work on a fix!

**Current Behavior**

Babel is optimizing the code and there are no option to turn this off.

**Input Code**
I have code like this:

[code]

and babel is happy because it remov

[2020-04-24 15:35] grubersjoe opened #11474 "any in ClassDeclaration fields in TypeScript type in @babel/types since 7.8.0"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

I updated `@babel/types` from `~7.7.0` to the latest version `7.9.5` and noticed that all of a sudden I get new TypeScript errors. The Problem is that beginning with `@babel/types@7.8.0` a lot of fields of the `ClassDeclaration` type use `any` instead of more specific types used before (compare below). Because I use the `no

[2020-04-24 15:39] butlimous opened #11475 "No assignment to constant variable error"
## Bug Report

**Current Behavior**
Code is not logging the expected error in the browser.

**Input Code**
[code]

**Expected behavior/code**
The output code from Babel should  log the following error `Uncaught Error: "from" is read-only` as I'm assigning a new value to a constant. The code without Babel would output the following `Uncaught TypeError: Assignment to constant variable.` which is bas

[2020-04-24 15:52] nicolo-ribaudo commented on #11473
Babel doesn't do those optimizations; it's some other tool you are using.

[2020-04-24 16:13] jcubic commented on #11473
Sorry it was rollup Tree-shaking.

[2020-04-24 16:13] #11473 closed

[2020-04-25 08:32] pravi opened #11481 "Allow building first release of a major version with previous major version (build babel 8.0 with babel 7.x)"
## Feature Request
- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

Currently babel 7 stable release requires babel 7 to build (it uses plugins not present in babel 6) which makes it very difficult to bootstrap babel package in debian.

**Describe the solution you'd like**

It'd be great if you can support building at least first rele

[2020-04-25 09:02] nicolo-ribaudo commented on #11481
@pravi Would it be acceptable for you to have a prerelease of Babel 8.x (Maybe 8.0-rc.1) buildable with 7.x, and then use 8.0-rc.1 to build 8.0?

[2020-04-25 09:15] pravi commented on #11481
@nicolo-ribaudo thanks, that will work.

No we don't need to pull them from npmjs as those are already packaged in Debian. This special case is required because of a self build dependency to same major version.

Even GCC needs GCC to build itself, but you can use an older GCC (or another C compiler) to build the newer GCC. In case of babel, even other transpilers like buble don't work.

[2020-04-25 11:34] JLHwung commented on #11443
@nicolo-ribaudo Is it fixed by #11458?

[2020-04-25 11:50] nicolo-ribaudo commented on #11443
Yes!

[2020-04-25 11:50] #11443 closed

[2020-04-25 14:27] ak1987 commented on #11442
I have tried to change package json as you wrote, but output file now has a lot of requires, example:
_require("core-js/modules/es.symbol");
require("core-js/modules/es.symbol.description");
require("core-js/modules/es.symbol.async-iterator");_
etc, etc.

And unfortunately, it's not working...

const / let stays in code.

I tried to use 2 commands consistently:

browserify main.js -o bundle.js
bab

[2020-04-25 14:57] ak1987 commented on #11442
I have tried adding
[code]
to package.json, but const / let stays in code.

Transformation is fired by _watchify main.js -t babelify -o build/main.js_ command.

.babelrc:

[code]

Problem stays, unfortunately. Though code is working in new browsers, old ones fail

[2020-04-25 15:57] igorlino opened #11483 "Use of lodash modules for leaner bundle"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

Analysing the size of the angular CLI bundle that requires angular/localize that dependes on babel/core, i noticed an additional complete lodash dependency.

[code]

The lodash fully included has:
Stat size: 527.84 KB
Parsed size: 70.72 KB
Gzipped size: 23.81 KB

loo

[2020-04-25 16:43] nicolo-ribaudo commented on #11483
We can't do this because Node.js <14 doesn't support ECMAScript modules.

[2020-04-25 18:57] JMarkoski commented on #11442
The problem is with your config file. Rename it to `babel.config.json`, which is a project wide configuration file. When you use `.babelrc` the files in `node_modules` don't get transpiled by `babel`. Note that even when you use `babel` through a loader in a bundler like `webpack`, and you have set the bundler to also process the files in `node_modules` instead only your code through the loader, t

[2020-04-26 09:33] nicolo-ribaudo commented on #10008
I made the [`babel-polyfills`](https://github.com/babel/babel-polyfills) repository public. Also, I have created an RFC to move `targets` to the top-level options (https://github.com/babel/rfcs/pull/2).

I have not published the `babel-polyfills` packages on npm yet, I still have to polish some things and to test that it passes all the polyfills-related tests of `@babel/preset-env`.

If anyone has

[2020-04-26 10:25] reactuser35 commented on #10008
Thanks for the answer.
That repository looks exiting and also be sure that lots of developer in the community are waiting for that "pure" related solutions. I hope we will able to use it soon.

My suggestion is that after you finish your job and open it to the usage of community please write detailed docs and maybe some medium.com articles about the past and future usage of that target/babel/trans

[2020-04-26 10:55] nicolo-ribaudo commented on #10008
Sure, proper docs and a blog post is one of the things I need to finish before the first release!

[2020-04-26 13:07] UkrainianCitizen commented on #9849
Where do you put this?

[2020-04-26 13:17] yoyo837 commented on #9849
.bablerc

[2020-04-26 14:01] UkrainianCitizen commented on #9849
Thanks, could you please elaborate, is this everything I supposedly need to do? Maybe I need to install `@babel/plugin-transform-runtime`, don't I?

[2020-04-26 17:10] JMarkoski commented on #9853
I will try to clarify in details about what happens exactly and why.

First, `core-js` exposes two packages that are relevant in this context and they are: `core-js` and `core-js-pure`. Now, `core-js` defines global polyfills, and `core-js-pure` provides polyfills that don't pollute the global environment. What this means in simpler words is that if you write this `import "core-js/stable/set";`, y

[2020-04-26 19:34] abhranilnaha opened #11488 "Please update chokidar optional dependency to 3.4.0 from 2.1.8 for @babel/cli package"
It is throwing below warning with Node 12 while loading chokidar dependency (version 2.1.8) which has a dependency on fsevents version 1.2.7. Minimum fsevents 1.2.9 version is required for Node 12. Please update to chokidar 3.4.0 which is dependent on fsevents 2.1.2 which will not throw any error with Node 12. I am using macOS Catalina.

Error:
warning Error running install script for optional dep

[2020-04-26 19:46] nicolo-ribaudo commented on #11488
This will be done in Babel 8 (https://github.com/babel/babel/pull/10747) at some point in 2020. It is a breaking change, so it can't be done earlier.

However, please note that:
1. `@babel/cli` depends on `chokidar@^2.1.8`. `chokidar@2.1.8` depends on `fsevents@^1.2.7`. Due to [how version ranges work](https://stackoverflow.com/a/22345808/2359289), npm can resolve it to `fsevents@1.2.9` which, as

[2020-04-26 19:46] #11488 closed

[2020-04-26 20:58] radum commented on #9853
@JMarkoski Thank you very much for this. My understanding of how babel and core-js work is much clear now.

Here is another comment around the same topic https://github.com/babel/babel/issues/9728

_PS: Also your issue links are wrong._

[2020-04-26 21:42] JMarkoski commented on #9853
Oh, I messed up the links. They are fixed now.

[2020-04-27 07:45] srv-smn opened #11489 "Getting error while building the project"
## Bug Report

- [ ] I would like to work on a fix!
Hello , I am very much new to this node , react and javascript world , I developed a project a by seeing the tutorial but , now when I am trying to build the project I am getting . I read a lot of post regarding this issue but I was unable to fix the issue , From last 1 week I am trying to solve the issue , recently I was reading a Post treating

[2020-04-27 08:03] igorlino commented on #11483
You are right, I had a feeling that could be the case. I will raise an issue in the Angular project, why this dependency appears on the 1st place.

Thank you for the answer, I will close this issue :)

[2020-04-27 08:03] #11483 closed

[2020-04-27 08:23] cpojer commented on #10746
Hello! Thanks everyone for your hard work on Babel (8). I wanted to ask about your upgrade strategy. To this day, Babel 6 is still found in many dependency trees of projects that use Babel 7 just because some tools haven't been (properly) upgraded. With many tools pulling in Babel 7, what is your recommendation on adopting Babel 8 to avoid mixing Babel 7 and 8 (and 6)?

It seems that due to semver

[2020-04-27 09:01] nicolo-ribaudo commented on #10746
It's not always possible, but in most cases we are making it so that something that works with Babel 8 can also work with Babel 7. Sometimes it works "out of the box" (for example for `Disallow using babel.transform, babel.transformFile, babel.transformFromAst, babel.parse, babel.loadOptions and babel.loadPartialConfig synchronously`), other times by enabling the corresponding option (for example,

[2020-04-27 11:09] cpojer commented on #10746
Keep in mind the impact of duplicating Babel 6 and Babel 7 was lower because the package names changed from the `babel-` prefix to using the `@babel` org. When Babel 8 comes out, it is likely that through hoisting rules every tool will pull in its own copy of Babel 7 or 8 within its sub-node_modules folder.

Babel 6 had a "bridge" mode that allowed installing version 7 of some packages like `babel

[2020-04-27 15:19] joshuanapoli opened #11490 "transitive dependency on vulnerable kind-of"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
Dependency scanners may report CVE-2019-20149 for projects that depend on @babel/cli@7.8.4. This is due to dependency on an version of kind-of because of this dependency chain: chokidar@^2.1.8 → braces (2.3.2) → is-number (3.0.0) → kind-of (3.2.2)

**Describe the solu

[2020-04-27 15:26] GitGangGuy commented on #10752
The package `@babel/eslint-parser` isn't available yet (contrary to the README of it in the babel monorepo). Should users like me just use this package for now?

[2020-04-27 16:31] dennisdenk opened #11491 "yarn / npm fails compiling when node is on v13 or v14"
## Bug Report

**Current Behavior**
When node is installed in Version 13 or 14 yarn dev will fail with following error:
[code]

**Input Code**
- Just add it to the dependencies

**Expected behavior/code**
To not fail when building.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

**Environment**

[code]
  System

[2020-04-27 16:43] JLHwung commented on #11491
Duplicate of #11439

[2020-04-27 16:46] JLHwung commented on #11491
@dennisdenk Thanks for the report, see https://github.com/babel/babel/issues/11439#issuecomment-615185790 for the solution.

[2020-04-27 16:46] #11491 closed

[2020-04-27 17:01] JLHwung commented on #11490
Duplicate of #10741

[2020-04-27 17:02] JLHwung commented on #11490
Thanks for the report, see https://github.com/babel/babel/issues/11488#issuecomment-619614369 for the explainers.

[2020-04-27 17:02] #11490 closed

[2020-04-27 17:08] dennisdenk commented on #11491
Not working for me. Neither V13 nor 14

[2020-04-27 17:10] JLHwung commented on #11489
Please update all dependencies to their latest versions, especially if you are working on a kickstart project. i.e. the latest version of `next` is `next@9` but your repo is using `next@4`, likewise for other dependencies in your repo.

The JavaScript ecosystem is evolving really fast. That said, it is likely that the post you read may be out-of-dated even if they are written in 2019. As a rule of

[2020-04-27 17:10] #11489 closed

[2020-04-27 17:12] JLHwung commented on #11491
@dennisdenk Did you try removing your `node_modules` and install again?

[2020-04-27 17:26] dennisdenk commented on #11439
Works with npm on version 13 and 14. Yarn not working

[2020-04-27 17:27] dennisdenk commented on #11491
yes. it works when I do npm install and then yarn dev.
but only with yarn its not working at all. same error as before

[2020-04-27 18:27] kaicataldo commented on #10752
@GitGangGuy We haven't published the new `@babel/eslint-*` packages yet. The current plan is to release them with the Babel v8 release. In the meantime, we recommend using `babel-eslint`. Thank you for your patience!

[2020-04-27 20:20] JLHwung commented on #11491
Please update `vue-cli-service` to 4.3.0, which includes latest `@babel/preset-env` 7.9.0.

[2020-04-27 21:00] nicolo-ribaudo commented on #10752
@kaicataldo Maybe we can add a note in the READMEs?

[2020-04-27 21:16] umanghome opened #11494 "_unsupportedIterableToArray is broken"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
`_unsupportedIterableToArray` has a bug where if the iterable is of type Map or Set, it does `Array.from` on `iterable.constructor.name` instead of the iterable itself.

**Broken Code**
https://github.com/babel/babel/blob/1b777f52663f1b3b9cc590478bccb0b4dde14ee1/packages/babel-helpers/src/helpers.js#L1047

This was introduce

[2020-04-27 21:20] nicolo-ribaudo commented on #11494
Wow good catch! If you want to open a PR, we can release it in the next patch.

[2020-04-27 21:23] umanghome commented on #11494
@nicolo-ribaudo: My colleague @ChintanAcharya would be working on the fix. Can you assign this to him?

[2020-04-27 21:25] nicolo-ribaudo commented on #11494
Sure! But he has to leave a comment here first. Otherwise, GitHub doesn't show me his username in the assignees dropdown :stuck_out_tongue:

[2020-04-27 21:26] ChintanAcharya commented on #11494
Hey @nicolo-ribaudo! I'll be picking this up.

[2020-04-28 05:27] #11494 closed

[2020-04-28 06:34] chdharm commented on #8482
My package.json is here. I have remove babel-core and babel-cli from it but still when I am doing npm install I am seeing error:

`{
  "name": "nivochartbasedymreports",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@antv/data-set": "^0.11.1",
    "@babel/cli": "^7.8.4",
    "@babel/preset-env": "^7.9.5",
    "@babel/register": "^7.9.0",
    "@nivo/bar": "^0.61.1",
    "@nivo/h

[2020-04-28 06:38] chdharm commented on #8482
It's not even installed globally:
`npm list -g | grep babel
\│ ├─┬ @babel/code-frame@7.8.3
│ │ └─┬ @babel/highlight@7.9.0
│ │   ├── @babel/helper-validator-identifier@7.9.5`

[2020-04-28 06:59] nicolo-ribaudo commented on #8482
Try running `npx nls why babel-core` to see where it comes from.

[2020-04-28 07:59] chdharm commented on #8482
@nicolo-ribaudo
Thank you so much. It got fixed now.

[2020-04-28 13:16] perrin4869 opened #11497 "@babel/register to hook .cjs files"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
Right now `@babel/register` will by default hook the following extension files with node: `.es6`, `.es`, `.jsx`, `.mjs`, and `.js`. It seems to me that if `.mjs` is included, then `.cjs` should be included too. There are practical reasons for this as well.

**Describe

[2020-04-28 14:07] nicolo-ribaudo commented on #11497
Yeah, I think that we can add this in a minor.
FYI, I'm experimenting at https://github.com/babel/babel/pull/11409 with the possibility of setting `extensions` in config files, but that PR needs to wait for Babel 8.

[2020-04-28 14:28] perrin4869 commented on #11497
hm... I noticed that these extensions are defined in `@babel/core`: https://github.com/babel/babel/blob/2d8edf7c6f1b077e0c92cbd18a9b3b3f59642e88/packages/babel-core/src/index.js#L44

This means that changing this value could have big unexpected implications... what do you think? Should I try to keep this change confined to `@babel/register` or go ahead and change the core value?

[2020-04-28 14:46] nicolo-ribaudo commented on #11497
That `DEFAULT_EXTENSIONS` is only used by `@babel/register`, `@babel/cli`, and `@babel/core`, so it should be ok to change it.
Maybe first wait for another :+1: from another team member.

[2020-04-28 22:56] huangginny commented on #8507
Hello - I'm actually trying to find a solution to this issue as well. Any updates since 2018?
Thanks.

[2020-04-29 03:21] AjayPoshak commented on #11414
I would like to take it up.

[2020-04-29 07:46] ygnoh commented on #11318
I resolved this error by declaring `"@babel/runtime": "^7.9.2",`.

[2020-04-29 13:09] umanghome commented on #11494
@nicolo-ribaudo When will this be released?

[2020-04-29 15:48] bendavidsonku commented on #11391
This is definitely still an issue.

[2020-04-29 16:13] hzoo opened #11499 "Better parser error when using jsx"
Was checking https://github.com/babel/babel/pull/11478 and testing out syntax and noticed we don't error with the normal "use this plugin/preset" like we do for proposals with JSX itself. @nicolo-ribaudo mentioned it's probably since jsx is implemented as a normal [plugin](https://github.com/babel/babel/tree/master/packages/babel-parser/src/plugins) so we didn't have `this.expectPlugin("recordAndT

[2020-04-29 17:52] nicolo-ribaudo commented on #11391
This shouldn't have nothing to have with your PC but with some cache between you and npm. Anyway, it's not actionable for us since our packages are correctly published on npm's servers.

[2020-04-29 18:29] nicolo-ribaudo commented on #11494
I'll release later today.

[2020-04-29 18:50] m-an opened #11501 "babel-plugin-transform-react-constant-elements fails the build"
## Bug Report

Hi guys, I don't have enough JS/Babel/React skills, so my report might not be providing all the useful/needed information, so excuse me. However, I would be glad to help and share all the needed information.

**Current Behavior**
I have inherited the project from my colleague who is not working in the company anymore, there was a React frontend feature we were going to roll out on p

[2020-04-29 19:10] nicolo-ribaudo commented on #11501
Hi @m-an, I tested this with Babel 7 and it works. I get this output:

[code]

If you have time do to it, I suggest [updating to Babel 7](https://babeljs.io/docs/en/v7-migration) which is the current version. Babel 6 hasn't been maintained for years.

[2020-04-29 19:10] #11501 closed

[2020-04-29 19:20] vxcamiloxv commented on #11394
same issue

[2020-04-29 19:48] nicolo-ribaudo commented on #11499
This bug needs different steps in order to be fixed, but they can be done in the same PR.

1. First, we should make `@babel/parser` throw a developer-friendly error.
   Consider these examples:
[code]
    The first one throws `SyntaxError: Unexpected token (1:0)`, while the second one throws a more actionable `SyntaxError: This experimental syntax requires enabling the parser plugin: 'pipelineOper

[2020-04-29 21:46] karansapolia commented on #11499
I would like to take this up.

[2020-04-29 22:00] existentialism commented on #11499
@karansapolia it's yours! let us know (here or on slack) if you have any questions!

[2020-04-30 02:44] mohsen1 commented on #10746
Please add ts and tsx as default extensions. I spent a few hours to figure out babel-node need specifying extensions for it to work when importing ts files. @peterjuras

[2020-04-30 09:16] m-an commented on #11501
Alright, @nicolo-ribaudo , thank you for clarification!

[2020-04-30 10:16] dioufinos opened #11503 "Unable to download @babel/helper-replace-supers ver. 7.9.6"
Hi,

we are using a Nexus as a proxy. Till now we were able to download all the prior versions of @babel/helper-replace-supers. Today we had the below behavior:

npm ERR! notarget No matching version found for @babel/types@^7.9.6
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget

[2020-04-30 10:47] geoefth90 commented on #11503
Same issue exists for @babel/traverse@^7.9.6

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/traverse@^7.9.6
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/helper-replace-supers'
npm ERR! notarget

and

[2020-04-30 12:40] nicolo-ribaudo commented on #11503
Both `@babel/types` and `@babel/traverse` are correctly published on `npm`:

- https://www.npmjs.com/package/@babel/types/v/7.9.6 ([source code](https://unpkg.com/browse/@babel/types@7.9.6/))
- https://www.npmjs.com/package/@babel/traverse/v/7.9.6 ([source code](https://unpkg.com/browse/@babel/traverse@7.9.6/))

Since it's they are both published, there is nothing we can do about the errors you ar

[2020-04-30 12:40] #11503 closed

[2020-05-01 10:42] Climax777 commented on #8962
Thanks this worked for me too. Would be great if one could specify extensions directly in .babelrc and have `@babel/register` adhere to them

[2020-05-01 11:20] pravi opened #11505 "@babel/runtime/helpers are not getting generated during babel rebuild from source"
## Bug Report

We are trying to update babel from 6 to 7 in debian, but @babel/runtime/helpers are not getting generated during rebuild from source (make build with babel-standalone tasks disabled, I'd assume these targets are only for browser build and should not be required for nodejs only builds).

Patch used to skip standalone make targets -> https://salsa.debian.org/js-team/node-babel/-/blob/

[2020-05-01 11:24] pravi commented on #11505
The babel package built can rebuild itself and many other packages are rebuilt successfully https://wiki.debian.org/Javascript/Nodejs/Transitions/Babel7 the only failure is for packages that depends on @babel/runtime

[2020-05-01 11:37] Hotell commented on #8962
Totes, even better if it would consume closest .babelrc automatically, currently it needs to be manually required with register

[2020-05-01 12:05] mischnic opened #11506 "plugin-proposal-decorators doesn't clone `id` identifier"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
After `@babel/plugin-proposal-decorators` and `@babel/plugin-proposal-class-properties` ran, these two identifiers are the same object in the AST (see test script below), so mutating the top-level one has unwanted side-effects.

Babel output:
[code]

This also has the effect that `programScope.rename("Foo", "Bar")` renames (

[2020-05-01 13:54] nicolo-ribaudo commented on #11505
You can try `make build-dist`, which is `make build` + build polyfill and runtime. Starting from Babel 7.6.3 (https://github.com/babel/babel/pull/10506), you can use `make build-plugin-transform-runtime-dist`, which only builds `@babel/runtime`).

[2020-05-01 14:08] pravi commented on #11505
@nicolo-ribaudo thanks! Let me try this.

[2020-05-01 14:19] pravi commented on #11505
Thanks again, that fixed the issue. Can we replace browserify with rollup or webpack to generate the polyfill? Both rollup and webpack can replace browserify and that can reduce many build dependencies.

[2020-05-01 14:31] nicolo-ribaudo commented on #11505
In Babel 8 we will probably stop publishing `@babel/polyfill` since it has been deprecated for a long time. We now encourage our users to directly import the polyfill they want to use.

For reference, this is the source of `@babel/polyfill`: https://github.com/babel/babel/blob/master/packages/babel-polyfill/src/noConflict.js

[2020-05-01 15:52] dioufinos commented on #11503
thanx for your prompt response @nicolo-ribaudo. Problem fixed as you said, this is a bug from Nexus side.

Thanx again!!!

[2020-05-02 01:30] DullReferenceException opened #11507 "Decorator declaration syntax seemingly completely unsupported"
## Bug Report

In looking through [the TC39 explainer](https://github.com/tc39/proposal-decorators), I have attempted to define a decorator thusly:

[code]

Sadly, I get a syntax error as soon as what should be the `decorator` keyword is encountered:

I've whittled down my `.babelrc` to just this, and the problem still occurs:

[code]

Oddly, I'm not seeing a lot of material on the web about the T

[2020-05-02 01:53] DullReferenceException commented on #11507
OK, I think I've finally found the info that the current stage-2 proposal is _not_ implemented by anyone, either Babel or TypeScript.

Maybe this ticket should be morphed into a plea to update the [documentation on the babel plugin](https://babeljs.io/docs/en/babel-plugin-proposal-decorators) so it clarifies that it does _not_ support the current proposal but only an earlier proposal.

[2020-05-02 05:40] pravi commented on #11505
@nicolo-ribaudo shouldn't package.json -> scripts -> build say `make build-dist` then? As `npm run build` currently produce an incomplete build and it is not really clear we need to run build-dist unless we get this error and dig deeper into the Makefile.

[2020-05-02 05:41] alanhg opened #11510 "Assert fail"
Errors are confusing me.

I found switch syntax cause the error

**Webpack Version:**
    "webpack": "4.17.1",

**Babel Core Version**:
    "@babel/core": "7.9.6",

**Babel Loader Version**:
    "babel-loader": "8.1.0",

**Please tell us about your environment:**
OSX 10.15.4

**Current behavior:**

Module build failed (from ./node_modules/thread-loader/dist/cjs.js):
Thread Loader (Worker 0)
Assert

[2020-05-02 16:07] angrycat9000 opened #11509 "Incorrect variable scoping in switch statement"
## Bug Report

**Current Behavior**

Babel uses a variable defined inside a switch statement block outside of the block. This hides previous definition of the variable.  This results in different code path execution before and after transformation.

**Input Code**

[REPL](https://babeljs.io/repl/#?browsers=ie%20%3E%3D%2011&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABFApgZy

[2020-05-02 17:29] pleunv commented on #11379
I do agree something like this might be very useful. In our IE11+ bundle we pull in about 130kb (gzipped) of core-js polyfills, which is reduced to about 90kb in an esmodule build, which is simply still just way too much. As far as I can tell many of these are there for edge cases or spec compliancy which more often than not you will not hit and thus are wasted bytes.
Having something that gives y

[2020-05-02 18:31] nicolo-ribaudo commented on #11510
Could you share the contents of `leadSearchForm.tsx`, or a minimal example which reproduces the bug?

[2020-05-02 20:44] Amosss opened #11511 "core-js 2 deprecated warning with npm"
Hi

I got the following

[code]

Is/was this addressed or about to be in the future?
Thanks

[2020-05-02 21:00] nicolo-ribaudo commented on #11511
I see two instances of `core-js` 2 in your dependencies:

- `@babel/runtime-corejs2 > core-js@2.6.11`
  Here it's explicit that `@quasar/babel-preset-app` wants to use `core-js` 3 because of the `@babel/runtime-corejs2` dependency. It can use `@babel/runtime-corejs3` instead.
- `babel-runtime > core-js@2.6.11`:
  This is part of babel 6. In Babel 7, `@babel/runtime` doesn't depend on `core-js` any

[2020-05-02 21:00] #11511 closed

[2020-05-03 03:10] ak1987 commented on #11442
Thanks for your reply @JMarkoski.
I think i got your point.
It seems for me that process must looks like this:
- Using browserify we got all node_modules functions into single file.
- Babelify it.

Sounds simple, but to babelify i must add
[code]
So i am stuck again...

Output file has "require" statements that throws error "require is not defined"

babel.config.json:

[code]

package.json:

[code

[2020-05-03 03:46] JMarkoski commented on #11442
Can you provide a reproducible repo?

[2020-05-03 03:57] ak1987 commented on #11442
@JMarkoski https://github.com/ak1987/ytdl here it is

[2020-05-03 05:04] JMarkoski commented on #11442
The problem is that code in `node_modules` doesn't get transpiled by `babel`. This has to do with the way you are using `browserify` + `babelify`. Use the link provided by @nicolo-ribaudo to run `babelify` as a global transform, with the `node` api.

[2020-05-03 05:15] ak1987 commented on #11442
Thanks for your reply.
But can you please clarify where this code should be?
[code]

[2020-05-03 05:20] JMarkoski commented on #11442
You should make a new `.js` file, and run in with `node`. Here you have info how to use the `node` api: [https://github.com/babel/babelify#node](https://github.com/babel/babelify#node)

[2020-05-03 10:54] dehghani-mehdi opened #11513 "IIFE problem"
Consider [this babeljs.io/en/repl](https://babeljs.io/en/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=G4QwTgBAHhC8EAoBmBXAdgYwC4EsD2aCAlBAN4BQEEGBAzngDYCmAdA3gOYIDkL3RAbnIBfIsSA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=

[2020-05-03 13:04] nicolo-ribaudo commented on #11513
Those two outputs have the same behaviour.

[2020-05-03 22:57] Valulz commented on #11509
Hello @angrycat9000

I might be mistaken, but you have to surround your case condition with curly braces if you want to declare a scoped variables in it. This is because let/const are block scoped. So, in your example, the const use the lexical binding of the switch, not the case 0. Which leads babel to transform the condition `switch(x)` into `switch(_x)`.

As you can see here : [REPL](https://ba

[2020-05-04 00:33] fwextensions commented on #11216
FWIW, this still happened with babel 7.8.3 and node 13.12, so updating to node >= 13.11 doesn't seem sufficient.  Updating babel to 7.9.6 fixes it, though.

[2020-05-04 02:53] #11513 closed

[2020-05-04 13:08] cbratschi commented on #7597
In which Babel release will this be shipped? So far I still see the failing version if assumeArray is false.

[2020-05-04 13:27] NE-SmallTown opened #11515 "Should we combine the transform-runtime and preset-env in an application?"
## Question 1

I find that there are many unnecessary duplications in the (webpack) bundle (output)result, to be specific, they all are the helpers(like `classCheck`, `objectSpread`(due to the `object-spread` plugin).

So, I want to reduce the duplications. If it's a library, sure, I will use transform-runtime plugin(refer to `runtime-corejs3`) to do this. But now this is an **application**, so, w

[2020-05-04 13:46] imbillow commented on #5261
same issue even now.

[2020-05-04 14:22] csvan opened #11516 "Outdated dependency: Chokidar v2 incompatible with Nodejs v14"
## Bug Report

**Current Behavior**

Installing Babel on a Nodejs system yields the warning:

`warning @babel/cli > chokidar@2.1.8: Chokidar 2 will break on node v14+. Upgrade to chokidar 3 with 15x less dependencies.`

**Expected behavior/code**
Babel should not have a dependency on Chokidar2, but rather 3.

**Environment**

[code]

**Possible Solution**

Upgrade to Chokidar3, there should be no

[2020-05-04 14:24] existentialism commented on #11516
@csvan check out https://github.com/babel/babel/issues/11488#issuecomment-619614369 for more details (also https://github.com/babel/babel/pull/10741)

[2020-05-04 14:26] csvan commented on #11516
Thanks @existentialism! Closing this

[2020-05-04 14:26] #11516 closed

[2020-05-04 15:11] alanhg commented on #11510
I fixed by refactor the code. I found switch in render logic code can lead to the issue

[2020-05-04 15:12] #11510 closed

[2020-05-04 17:24] tmcdos commented on #10904
I am experiencing this problem when I lint code like this (string templates **without** any interpolation inside):
[code]

[2020-05-04 17:47] coreyward commented on #11488
@nicolo-ribaudo Since chokidar@3 is almost entirely backwards compatible aside from Node@6 support, would it not be possible to simply relax the requirement to `>2.1.8`?

[2020-05-04 17:53] nicolo-ribaudo commented on #11488
No, that would install version 3 even on Node.js 6.

If you are using yarn you can use `"resolutions"`, or [`npm-force-resolutions`](https://www.npmjs.com/package/npm-force-resolutions) with npm.

[2020-05-04 17:56] nicolo-ribaudo commented on #11515
The docs are confusing: `@babel/transform-runtime`'s `corejs` option is recommended for applications, but it's not discouraged for libraries. We only want to discourage using any polyfill injecting method that is not `@babel/transform-runtime`'s `corejs` option when creating libraries.

Also, we are currently reworking our methods to inject polyfill to unify them: https://github.com/babel/babel/is

[2020-05-04 17:59] nicolo-ribaudo commented on #7597
Objects defined as iterable by the spec are supported starting from Babel 7.9.0. Array-like objects (which are not iterable, and technically shouldn't work with `for-of`) will be supported in 7.10.0.

[2020-05-04 18:09] ljharb commented on #7597
@nicolo-ribaudo fwiw arraylike objects don't need to work, just arrays, Maps, Sets, and strings.

[2020-05-04 18:11] nicolo-ribaudo commented on #7597
It should work with all the dom collections, that in old browsers are normal array-like objects. However, it will be opt-in since it's not spec-compliant.

[2020-05-04 18:14] ljharb commented on #7597
The DOM collections can't be identified beyond just by being arraylike? I'd expect their Object.prototype.toString to differ.

[2020-05-04 18:45] aysiscore opened #11518 "Core-JS "3" using v3.6.5 results in mini-css-extract-plugin error but v2.6.11 does not"
## Bug Report

I have set up my Webpack 4 config to handle `babel-loader` like this:

[code]
I expect my build to build but it does not. I get an error stating:

There is nothing wrong with the CSS file at all, and nothing at line 115 that is invalid. I know this because the same error occurs with an empty CSS file!

If I run the same build but downgrade to `core-js@2.6.11` in my `package.json` an

[2020-05-04 20:16] Lodin opened #11519 "Plugin fails working with multiple disappearing decorators on property"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I'm working on a Babel plugin that uses decorators as transformation marks. However, I faced a strange issue that happens only for decorators on a property but works successfully for methods.

The algorithm is the following:
1. The plugin finds a node (property or method), opens its decorators, and starts looping through the

[2020-05-04 22:57] daveneeley opened #11521 "RangeError: maximum call stack size exceeded when using require to import a second file"
## Bug Report

**Current Behavior**
When I run `yarn test` or `yarn coverage`, the test suite Bot.tests.js fails with
[code]

**Input Code**
Linked code reproduces the issue.
https://gist.github.com/daveneeley/89cc99d4741d880b988688664408eeae

**Expected behavior/code**
I expect `yarn test` or `yarn coverage` to pass all test suites.

**Babel Configuration (babel.config.js, .babelrc, package.json#

[2020-05-04 23:06] daveneeley commented on #11521
Related: https://github.com/babel/babel/issues/9127

[2020-05-04 23:18] existentialism commented on #11521
First thing to check is that you’re mixing v7 (@babel/core) and v6 (babel-preset-env) dependencies. You’ll want to switch to @babel/preset-env.

[2020-05-05 00:36] groverpankaj commented on #11216
Thanks for this post. I changed the babel package from 7.8.3 to 7.8.4 and did npm installed. This fixed the issue.

[2020-05-05 01:23] daveneeley commented on #11521
babel-jest wants babel-preset-env, it doesn't compile if I upgrade. If I downgrade babel-core to 6.26.3, the error still reproduces. Updated gist.

[2020-05-05 01:38] daveneeley commented on #11521
However, if I delete node_modules and try revision 4 of the gist, it passes! Though it takes 21 seconds. So @babel/core and @babel/preset-env work after all, my babel config was wrong for that scenario.

[2020-05-05 01:38] #11521 closed

[2020-05-05 04:40] rhendric commented on #8437
I got sick of this myself and wanted to do something about it, but the parser code responsible for assigning comments to nodes is a little too arcane for me. On the other hand, it turns out to be very easy to write a plugin that patches this, at least for my project:

[code]

I have no idea if this helps with anyone else's use cases, so I'm not packaging it up as a fix (and I still would hope that

[2020-05-05 14:00] #11362 closed

[2020-05-05 16:37] briandipalma opened #11525 "Should ParentClass.call(this); work if ParentClass and its parent is Babel compiled?"
## Bug Report

Here's a link to some code which is quite common in our code base. It works OK up to the point that we nuke our yarn.lock file and then it breaks horribly.

https://babeljs.io/repl#?browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEAKYCcCmA7ALvZ7oG8BQ00wA9ihGggK7BrEIAUAlLgYdGgBYCWEAdAA6JUGIegBqYEJSTQAvNABEARiUKA3KwC-ebXlCQYmYdCQAPNKgAmh0SKxoWhEmQrVaDZvj

[2020-05-05 17:33] nicolo-ribaudo commented on #11525
To be 100% spec compliant, that code should throw because you can't `.call()` a class.

[2020-05-05 18:39] vegerot commented on #6476
What's the status on this?  Would really like to use `const enum`s in my TypeORM `enum` columns

[2020-05-05 18:40] vegerot commented on #8741
What's the status on this?  Would like to use `const enum`s in my TypeORM `enum` columns

[2020-05-05 18:42] calebeby commented on #8741
@vegerot See https://github.com/babel/babel/issues/8741#issuecomment-509041135, it works really well!

[2020-05-05 19:07] rodrigopaco1986 commented on #11216
This worked for me. Babel 7.8.3

[2020-05-05 20:01] vegerot commented on #8741
Thanks, works great

[2020-05-05 22:49] jillesme opened #11526 "Difference between JSX prop="\n" vs prop={"\n"}."
## Bug Report

- [X] I would like to work on a fix! (_May take a while due to time constraints so if anyone else would like to, feel free!_)

**Current Behavior**
See input/output code. Result is different for these 2 components:

![image](https://user-images.githubusercontent.com/2955483/81123566-37538a00-8ee8-11ea-8f62-d995c392554f.png)

- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIn

[2020-05-06 00:54] robmcl4 opened #11527 "traverse of Array Literal takes O(n^2) time"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

Babel's traverse module takes O(n^2) time to traverse an Array Literal, which causes some unexpected slow-downs. I suspect this is due to consistent worst-case performance on the path cache [in `babel-traverse/src/path/index.js:89`](https://github.com/babel/babel/blob/f6c7bf36cec81baaba8c37e572985bb59ca334b1/packages/babel-

[2020-05-06 05:05] dosentmatter commented on #6476
@vegerot, I saw you commented https://github.com/babel/babel/issues/8741#issuecomment-624234808 and you got a reply on that issue to use `babel-plugin-const-enum`. That issue is talking about using `constObject` option of `babel-plugin-const-enum`. If you want to `removeConst`, `babel-plugin-const-enum` allows you to do that. See https://github.com/babel/babel/issues/6476#issuecomment-509039884.

[2020-05-06 08:10] briandipalma commented on #11525
Hi Nicolò, thanks for replying.

OK, so the older version of Babel that we have in our current yarn.lock files allows us to mingle classical and ES6 classes without an issue but with the newest versions of Babel it's no longer possible as it was a bug to do so. I understand that but what I don't understand is introducing such a change in a patch/minor release?

Our code has gone from working to be

[2020-05-06 08:22] briandipalma commented on #11525
Also it would be good to get some clarity on what is OK to convert. Can an ES class inherit from a classical prototype class? So maybe we can convert from the bottom upwards? If we convert a class that has children we would then have to convert all the children etc all the way down to ES classes correct?

[2020-05-06 13:28] vegerot commented on #6476
Thank you.  I'll look into it

[2020-05-06 16:47] wereHamster opened #11528 "Expose types of VISITOR_KEYS, ALIAS_KEYS in the @babel/types TypeScript declaration file"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**

The linaria project currently uses TypeScript module augmentation to extend the babel types with declarations which are not in the official package. If those two consts are part of the public API, they should be documented in the official package.

[code]

[2020-05-06 18:18] polkovnikov-ph commented on #10497
@piet-v The provided code doesn't reproduce the issue for me anymore. Seems it was fixed.

[2020-05-06 20:33] arasmussen opened #11529 "`delete foo.sort` does not delete foo.sort"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

[code]

gets converted to

[code]

This doesn't delete the `sort` key from the object `foo`.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

**Environment**

[code]

[2020-05-07 10:15] sKopheK commented on #10752
Hi, any estimated date when is the new version available with fixed `@babel-core` supporting private class methods? (sorry if it's not an appropriate thread, couldn't find any better)

[2020-05-07 10:51] #11529 closed

[2020-05-07 12:24] LarsDenBakker commented on #11166
Just ran into this too :( Is it possible to still fix this within babel v7?

[2020-05-07 12:26] nicolo-ribaudo commented on #11166
Yes, definetly. The implementation won't be "nice", but it can be fixed.

[2020-05-07 14:37] ak1987 commented on #11442
@JMarkoski & @nicolo-ribaudo  thanks for your reply.
Unfortunately, browserify gives an empty file output.

[code]

If i remove 'transform' section, it works, but, of course, with no transformation to es5.

This configuration

[code]

With babel.config.json

[code]
seems to be very close to solution, but it gives A TON of import errors, like:

[code]

I suppose something is wrong with core.js

May

[2020-05-07 15:51] kaicataldo commented on #10752
@sKopheK The current plan is to release these packages with Babel v8.

[2020-05-07 17:59] Maksio commented on #11491
Had the same issue, have solved with advice above
`vue upgrade`

[2020-05-07 20:50] rhendric opened #11534 "@babel/standalone can't parse any quantifiers in unicode regexes"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

It's right there in the title. Something about the @babel/standalone compilation process causes it to omit critical parts of regjsparser, such that any regex literal with a `u` flag and a quantifier will cause Babel to incorrectly raise a syntax error.

Can be reproduced [on babeljs.io](https://babeljs.io/repl#?code_lz=PQQw

[2020-05-08 00:55] vedantroy opened #11535 "@types/babel__traverse is missing several isXXX methods"
## Bug Report

- [Maybe (depends on complexity) ] I would like to work on a fix!

**Current Behavior**
The type definition for `NodePath` is missing some isXXX methods.

**Input Code**

[code]

**Expected behavior/code**
`isTSType` (and several other isXXX) should exist on any `path` object. I know they do exist because when I inspect the code while it is running in the debugger, I see the method

[2020-05-08 03:11] jedwards1211 opened #11536 "@babel/polyfill 7.8.7 still uses core-js 2 while @babel/node uses 3"
Hopefully this isn't intentional...
[code]

[2020-05-08 08:30] nicolo-ribaudo commented on #11536
`@babel/polyfill` is deprecated, and we encourage directly including the `core-js` version that you need.

[2020-05-08 10:06] nicolo-ribaudo commented on #11534
Rollup is removing this code:
https://github.com/jviereck/regjsparser/blob/03d4486ec43184c1e6a18a871308d7ba1825c992/parser.js#L488-L495

[2020-05-08 10:49] nicolo-ribaudo commented on #11536
I realized that we have the deprecation notice in the docs and in the readme, but never used `npm deprecate`. I just fixed it.

[2020-05-08 10:49] #11536 closed

[2020-05-08 18:12] jedwards1211 commented on #11536
Gotcha, thanks!

[2020-05-08 21:12] nicolo-ribaudo commented on #11535
Thanks for the bug report!

The TypeScript type definitions are not maintained by us, but at https://github.com/DefinitelyTyped/DefinitelyTyped: please report the bug there!

Btw, we are thinking about providing official type definitions, but that's a longer-term goal.

[2020-05-08 21:12] #11535 closed

[2020-05-08 22:07] JMarkoski commented on #11515
Answer to the first question: To reduce the helper duplication you should use the `@babel/transform-runtime` plugin together with the `@babel/runtime` dependency. The `corejs` option of the `@babel/transform-runtime` plugin should be set to `false`. This way the plugin will alias the helpers to the `@babel/runtime` dependency, and every helper will be included only once in the application, thus re

[2020-05-09 13:19] JMarkoski commented on #10759
Another solution is to switch from `useBuiltIns: 'usage'` to `useBuiltIns: 'entry'`, since you are okay with global `core-js` pollution. You can add only `import 'core-js'` in the entry point, and leave the `regenerator: true` option on the `@babel/transform-runtime`.

[2020-05-09 14:07] zhbhun opened #11539 "@babel/plugin-transform-runtime bring unnecessary polyfill with corejs configuration."
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
I use @babel/preset-env and @babel/plugin-transform-runtime, both set `3` to corejs option. and I set high chrome target version. But, compile results still have needless polyfill.

**Input Code**

[code]

As seen examples, chrome 78 is supprted Promise, but babel still bring it's polyfill. If I remove @babel/plugin-transfor

[2020-05-09 16:14] SimenB opened #11540 "`@babel/core` `parseSync` does not handle `exclude` in config"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo link if applicable: https://github.com/SimenB/babel-parse-exclude

**Input Code**

[code]

**Expected behavior/code**
Passing an empty string to `parseSync` will throw if config file contains

[2020-05-09 16:47] nicolo-ribaudo commented on #11540
Consider this example:

[code]

When you call `babel.parseSync`, it will parse `.ts` and `.tsx` files as TypeScript and everything else as Flow. This example can easily come up in React Native codebase since `node_modules` with React Native usually contain Flow code but the app might be written in TypeScript. So yes, parse info _can_ be inferred from the filename.

If you are using `parserOpts` yo

[2020-05-09 16:53] SimenB commented on #11540
This issue was a result of debugging why https://github.com/istanbuljs/istanbuljs/pull/555 broke.

It might just be that a better error is needed, describing why a filename would be needed and how to skip it. Solution in this case is https://github.com/istanbuljs/istanbuljs/pull/562

[2020-05-09 17:25] SimenB commented on #11540
@nicolo-ribaudo btw, without adding `Error.stackTranceLimit = 100` the error we ger is this:

[code]

Doesn't even point back to the `parseSync` call, which might have had an impact in how confusing this was? Not sure, and also very much not sure if there's anything you can do 😀 Maybe some `callerError` you pass around and reuse stack from or some such?

[2020-05-09 17:29] slavafomin commented on #10759
@JMarkoski you should mention that this would lead to a less efficient bundles due to the addition of extraneous polyfills, that are not actually used by the library. However, it could work in certain scenarios.

[2020-05-09 18:04] JMarkoski commented on #10759
No, it won't. Adding import to `core-js` will pollute the global environment, thus adding functionality, but not increasing bundle size. Also the single line import will convert to more granular imports from the `core-js` library based on your targets, thus not adding polyfills that are not needed, although this is irrelevant. The `useBuiltIns: 'usage'` option also pollutes the global environment,

[2020-05-09 18:24] kaicataldo commented on #10746
I’m beginning to rethink our plan has been to release the `@babel/eslint-*` packages with Babel 8. I believe we’re ready to release those packages now - any further changes will become apparent with the myriad of integrations in the community. If we were to release these packages in the next v7 line release, we can start getting immediate feedback. One other possible benefit is that if we need to

[2020-05-09 19:24] nicolo-ribaudo commented on #11540
@loganfsmyth Do you think that it would be possible for `gensync` to restore the stack frames missed due to the generators usage?

[2020-05-09 19:30] nicolo-ribaudo commented on #10746
The next ESLint release has been in the prerelease state for too long. If it's already compatible with ESLint 7, I would be ok with releasing it in Babel 7.

[2020-05-09 21:42] nicolo-ribaudo commented on #11527
I tried to replace the array cache with a `Map`, which should have `O(1)` get/set complexity. However, the time still seems to grow quadratically :thinking:

[code]

[2020-05-10 03:07] shivanandssonnad opened #11541 "Module parse failed for node_modules"
**I am upgrading babel to babel 7 from babel 6. Facing below issue with one of my node_modules parse.**

Package.json

[code]

webpack config:
[code]

![image](https://user-images.githubusercontent.com/64739888/81489933-08973400-9299-11ea-993c-8436bb46b998.png)

Need help to solve these issues with node_modules parse.

[2020-05-10 03:53] shivanandssonnad commented on #11541
I am using
"redux-form": "^5.3.1" => using babel 6

[2020-05-10 07:58] nicolo-ribaudo commented on #11541
You can fix it using `babel.config.json` (which is applied to all the app) instead of putting the Babel configuration in `package.json` (which behaves as `.babelrc` and is only applied to your own files in that package).

https://babeljs.io/docs/en/config-files

[2020-05-10 10:16] coreyfarrell commented on #11540
@nicolo-ribaudo It's not that the stack frames are missed, it's just that there are so many they overload the default `Error.stackTraceLimit` of 10.  Here is the complete stack trace @SimenB shared with me, produced when `Error.stackTraceLimit = 100;` was set:

[code]

Everything above `loadFullConfig` from `@babel/core/lib/config/full.js` is not really helpful to users of babel IMO.  One way woul

[2020-05-10 11:55] anilanar commented on #8529
I think this feature doesn't need to know about `ts-node`, as core babel is already capable of stripping types. So:

- babel would add `babel.config.ts` to auto detected files list
- Parse all config files (not just .ts) using its own capabilities with all syntaxes enabled, transpile it by assuming a default config with `preset-env` + `node: current`, and run `eval` on the result.

This is a more

[2020-05-10 19:57] JMarkoski commented on #11539
First, you should not be using `@babel/preset-env` and `@babel/transform-runtime` together, see here [https://github.com/babel/babel/issues/9853#issuecomment-619587386](https://github.com/babel/babel/issues/9853#issuecomment-619587386) for a thorough answer. The reason `babel` is including the polyfills is because the `@babel/transform-runtime` plugin doesn't have an option to specify targets, so

[2020-05-10 20:44] JMarkoski commented on #11425
Related: [https://github.com/babel/babel/issues/9170](https://github.com/babel/babel/issues/9170) , [https://github.com/zloirock/core-js/issues/518](https://github.com/zloirock/core-js/issues/518).

About the suggestion to have an option to disable polyfilling a block of code: Suppose you have two browsers as your targets and you disable polyfilling for a block of code that needs polyfills on the

[2020-05-10 21:03] nicolo-ribaudo commented on #11540
I'm working on this:
[code]

[2020-05-10 23:09] cpojer commented on #10746
Question: could the official upgrade guide suggest how library authors can make their code compatible with both Babel 7 and 8, and then recommend them to use a semver range that works with either 7 or 8 until 7 is dropped at a later time?

I believe that could significantly reduce the gap in time when some tools are upgraded but others aren't.

[2020-05-11 02:10] zhbhun commented on #11539
Get it, thank you!

[2020-05-11 02:10] #11539 closed

[2020-05-11 06:27] zhbhun commented on #11539
@JMarkoski As you said:

- library is suggested to use @babel/transform-runtime with corejs option plus @babel/runtime-corejs3 as dependency
- App is suggested to use use import 'core-js at the top of your app with useBuiltIns set to entry and @babel/transform-runtime only for helpers.

As a result, @babel/runtime-corejs3 use core-js-pure, and app use core-js. App and library may imoprt same polyf

[2020-05-11 10:20] briandipalma commented on #11525
You can extend a classical prototype class from an ES class but not vice-versa:

[code]

[code]

And `Reflect.construct` is no help:

[code]

Back to classical classes for our higher up classes. I don't understand the logic behind that decision in the spec.

[2020-05-11 15:10] JLHwung commented on #11528
The `types` exports in `@babel/core` are forwarded from `@babel/types`, can you add the type definition to `packages/babel-types/scripts/generators/typescript.js`?

[2020-05-11 15:29] nicolo-ribaudo commented on #10746
Yes!
1. We will check which Babel 7 plugins in this repository work with `@babel/core` 8, and relax their server ranges
2. The `@babel/core` API (used by Babel integrations such as Jest, Parcel, the webpack and rollup plugins, etc) will work both with Babel 7 and Babel 8. There is a breaking change (https://github.com/babel/babel/pull/11110), but the alternative already works with Babel 7.
3. If a

[2020-05-11 15:33] cpojer commented on #10746
Thanks for the reply @nicolo-ribaudo, that's really exciting as that will ease the transition 👍

[2020-05-11 16:49] rcarletto67 commented on #8577
Hi i'm building an react ionic app and after all your help I still struggle with this error.
![Cattura](https://user-images.githubusercontent.com/62461613/81587833-df20fa00-93b7-11ea-9584-957d1ff00bc7.PNG)
It happened when I tried to ionic serve after importing the react native calendar component.
Thanks for the attention

[2020-05-11 17:17] nicolo-ribaudo commented on #11525
With `Reflect.construct`, the 3rd argument should be `new.target` and the return value is the new "`this`".

[2020-05-11 22:20] akzone commented on #8577
I've the same problem.

[2020-05-12 01:27] KB1RD opened #11542 "TypeScript & @babel/plugin-proposal-class-properties -- `_defineProperty` is called for abstract properties"
## Bug Report
- [ ] I would like to work on a fix! (Maybe... Depends on how involved it is)

**Input Code**
This issue appears specific to @babel/plugin-proposal-class-properties and TypeScript. Here is the input TypeScript:
[code]
Also in [this](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=IYIwzgLgTsDGEAJ

[2020-05-12 02:15] Soremwar opened #11543 "[Feature/Discussion] Babel for Deno"
# Babel for Deno

**Is your feature request related to a problem? Please describe.**
Deno reaches v1.0 on two days. There has been some discussion inside the repo on how to produce reliable polyfills and transpilation inside Deno. The runtime itself has the capabilities to make some level of transpilation through the TSC compiler, but the quality and usability of it isn't really aimed for all Java

[2020-05-12 03:53] #11534 closed

[2020-05-12 08:31] xtuc commented on #11543
I'm not very familiar with Deno but my understanding is that it uses TypeScript instead of JavaScript. While Babel supports TypeScript, i'm unsure to understand why we would use it instead of TypeScript itself? Maybe I misunderstand what you are suggesting

[2020-05-12 11:15] Soremwar commented on #11543
Hi @xtuc.

Even though Deno does treat TypeScript as a first class language, internally all the code is transpiled and run though the V8 engine, in that way, it's very similar to Node.

One trick that Deno manages to pull off is using the TSC compiler of TypeScript to both compile TypeScript to JavaScript and JavaScript to a lower-more supported version. However, as I mentioned earlier, this doesn

[2020-05-12 12:13] briandipalma commented on #11525
Yes but that requires almost as many changes/work as just upgrading the leaf classes to ES classes as you can't replace `this` you have to store the object as `this._self` etc. I'll close this anyway as it's not a bug it's spec behaviour but I'll update it with the version of the babel dependency you need to lock to to prevent this change from causing issues. We're going to upgrade our code and ou

[2020-05-12 12:13] #11525 closed

[2020-05-12 12:35] KB1RD commented on #11542
So I've traced it down to [this](https://github.com/babel/babel/blob/master/packages/babel-helper-create-class-features-plugin/src/index.js#L177) line of code:
[code]
It seems like this should also check if the prop is abstract as well as static. However, it seems like the prop object has no member indicating that it is abstract.

[2020-05-12 12:57] briandipalma commented on #11525
[code]

Locks you to a working version.

[2020-05-12 13:04] MariuzM opened #11545 "CRA + TS + Emotion, how to use <> instead of <React.Fragment>?"
Apologies first if this is the wrong place to ask, but I'm unsure if this is an issue of Emotion or TS or maybe my silliness

I'm using Create React App 3.4.1 with TypeScript and Emotion. When i try to use short hand fragment `<>` I'm getting error `transform-react-jsx: pragma has been set but pragmaFrag has not been set`

Any advise on how can i use the short hand `<>`? My understanding there was

[2020-05-12 13:10] KB1RD commented on #11542
Fixed on fork https://github.com/KB1RD/babel/commit/236d0a359828405e6d35c0ed5a5300089e5cedc7

[2020-05-12 14:43] dilyanpalauzov opened #11546 "Default targets for preset-env shall be “defaults”"
No `.browserslist` file implies a `.browserslist` file with content `default`, and this means support for IE 11 and this means, as of https://kangax.github.io/compat-table/es6/, only some ES2015/ES6.

https://babeljs.io/docs/en/babel-preset-env#targets says “Sidenote, if no targets are specified, @babel/preset-env will transform all ECMAScript 2015+ code by default.”

Apart from the fact that ther

[2020-05-12 15:01] existentialism commented on #11546
@dilyanpalauzov the initial intent of `preset-env` was to replace `preset-latest`, that is, transform all ES2015+ code down to ES5.

Changing this behavior is a breaking change. Check out a few relevant discussions: https://github.com/babel/babel/pull/8897#issuecomment-490659840, https://github.com/babel/babel/issues/9962, and ultimately the PR that will land in Babel 8: https://github.com/babel/b

[2020-05-12 15:12] dilyanpalauzov commented on #11546
The default for preset-latest means es2015, es2016, and es2017.  But the default for preset-env is “Sidenote, if no targets are specified, @babel/preset-env will transform all ECMAScript 2015+ code by default.”

This needs rewording like, “the resulting code will require ES2017 conformant engine”.  I really do not understand what is written there.

[2020-05-12 15:17] existentialism commented on #11546
Yeah... if no target is specified all ES2015+ code will be transformed (same as preset-latest behavior)?

[2020-05-12 15:25] dilyanpalauzov commented on #11546
There is source language and target language.

“will transform all ECMAScript 2015+ code by default.” means that the source language is ES2020, e.g. the input can containing optional chaining.  I  mean, I read it as “transform FROM". It does not say anything about ”transform TO (version)”.

In its current writing “transform” is transitive verb, https://www.merriam-webster.com/dictionary/transform

[2020-05-12 15:27] existentialism commented on #11546
Happy to change the language to reduce confusion, would you like to send a PR?

[2020-05-12 15:33] breuerfelix opened #11548 "Cannot use import from outside a module"
## Bug Report

**Current Behavior**
Babel is not able to resolve the `import` statement as the native Browser.

Code setup:
[code]
[code]

Working example without Babel:
[code]

Example with Babel which is not working:
[code]

Babel throws the following error:
[code]
If i don't set the data-presets attribute, I get an error that require is not defined.

Am i missing something or is this a Bug ?

W

[2020-05-12 15:38] dilyanpalauzov commented on #11546
My reading is that targets: accepts only browserslist queries and the browserslist does not accept "es2020" as input.  So targets can be only a list of browsers with corresponding versions. `ES2015+` is not a browserslist query and I cannot write what the default for `targets` is.

So something like this:

or

or

[2020-05-12 16:29] dilyanpalauzov opened #11549 "Change the shorthands from babel-plugin-… to @babel/plugin-…"
https://babeljs.io/docs/en/plugins#plugin-shorthand says:

https://babeljs.io/docs/en/presets#preset-shorthand says:

As plugins and presets are commonly not prefixed with `babel-plugin-` or `babel-preset-`, but with `@babel/plugin-` and `@babel/preset-` change the shorthand options to `@babel/preset-` and `@babel/plugin-`.

[2020-05-12 16:42] jridgewell commented on #11542
This is the correct behavior when comparing against typescript, see https://www.typescriptlang.org/play/index.html?useDefineForClassFields=true#code/IYIwzgLgTsDGEAJYBthjAgggg3gKAQVEhngRGABMAuBAOwFcBbEAUygG48CFLWVgUVkXDQ4iAOYB7KTXrM2nPAF8gA.

This would need to be changed in typescript first.

[2020-05-12 19:04] JLHwung commented on #11548
In https://github.com/babel/babel/pull/11466 we support `data-type` annotation in `@babel/standalone`, it will be shipped in the next minor release 7.10.

Since there is an ongoing PR targeting to this issue, I am gonna close it. @breuerfelix Thanks for the report.

[2020-05-12 19:04] #11548 closed

[2020-05-12 19:21] breuerfelix commented on #11548
@JLHwung hmm somehow i already read about that setting in another issue that it is possible :D

thanks alot for this info ! then i just have to wait some days, hope it will be soon since daaaamn a world without a bundler (even though a little slower) would be awesome :D

[2020-05-12 19:35] JLHwung commented on #11545
Can you run `npx envinfo --preset babel`? This should print your babel version.

In 7.9.0 there was a regression (https://github.com/babel/babel/issues/11294) that throws the same error as in your post. It is later fixed in patch releases. If that's your case, please try removing `yarn.lock` and run `yarn install` again.

[2020-05-12 20:49] calebeby opened #11551 "Removing a VariableDeclarator causes same-named variables in outer scope's bindings to be removed"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior/Expected Behavior/Potential Solution**
I am developing a custom plugin. The details of the plugin are irrelevant to this bug.

Given this code:

[code]

If the inner `foo` declaration is removed via `path.remove()`, then the binding for `foo` in the inner scope should be removed, and the binding for `foo` in the outer scope sh

[2020-05-12 21:12] nicolo-ribaudo commented on #11551
Since `_removeFromScope` uses the exact scope that contains the binding declaration, I cannot think about any possible negative side effect :+1:

If I add a `debugger;` statement to the plugin I see the bindings :shrug:

---

I'm assigning this issue to you and I'm not writing any "hints" because you have already investigated a lot, but feel free to ask if something is not clear!

[2020-05-12 22:47] KB1RD commented on #11542
My apologies... I had [tested with `useDefineForClassFields` disabled.](https://www.typescriptlang.org/play/#code/IYIwzgLgTsDGEAJYBthjAgggg3gKAQVEhngQgFNIAuBAOwFcBbECqPAXzzxTQwCEEFAB6U6AEwzZ8hAOYVElSAAoAlLgKEEUBQyh0EAVk1cOQA) This is the default option in TypeScript playground, so I had assumed it was a bug. I have since read https://www.typescriptlang.org/v2/docs/handbook/release-notes/typescript

[2020-05-12 22:47] #11542 closed

[2020-05-13 02:04] hzoo commented on #10746
Was thinking through some ideas on how to make the migration easier (not for 1 project for the ecosystem) with @nicolo-ribaudo and @existentialism and I'll post an idea we had here: https://hackmd.io/2WTT3Z5HSZutVkk5biGKfA. (this is in addition to writing up a guide to migrate and codemods where possible)

Basically was thinking we could enable the breaking changes in a 7.x patch under an environm

[2020-05-13 04:38] vedantroy opened #11555 "BigInt Literal not parsed in Typescript interface declaration"
## Bug Report

- [] I would like to work on a fix!
- Not right now, but in a week or two if that's ok!

**Current Behavior**
BigInt literal is not being parsed in Typescript interface declaration:
https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=AQSwdgLgpgTgZgQwMZWAcSmWInAN4BQwxUAXMAIwAMYA3EQL4EED0LANlBMNAM4TkMWGDmABefGUo0mnbqgnUwQA&debug=false&forceAllTra

[2020-05-13 07:17] dangreen commented on #10759
Hi. I have same issue. Using transform-runtime I expect what my bundle will dependence only on core-js and babel/runtime. I have the project which use Rollup for bundling. In rollup config I should provide external dependencies, and I provide only core-js and babel/runtime. And as result: regenerator-runtime is not marked as external dependency and it becomes part of the package.

[2020-05-13 09:07] cpojer commented on #10746
@hzoo I think that's a great idea, thank you for thinking about this.

[2020-05-13 10:21] JMarkoski commented on #10759
@dangreen I'm not sure I understood correctly what is the problem you are trying to solve, but I'll try to explain the philosophy of using the `@babel/preset-env` with `useBuiltIns: 'usage'` and `@babel/transform-runtime`.

So, we should note the main important difference between the two: you use `@babel/preset-env` with `{useBuiltIns: 'usage', corejs: *}` when you want **globally polluting** poly

[2020-05-13 11:19] dangreen commented on #10759
@JMarkoski ok. How I should configure preset-env and transform-runtime to not pollute the global environment?

[2020-05-13 11:44] dangreen commented on #10759
@JMarkoski I should disable useBuiltIns for preset-env and add corejs option to transform-runtime?

[2020-05-13 15:02] RDIL opened #11556 "Package not found"
## Bug Report

Hi Babel team,
I was trying to add `@babel/plugin-transform-inline-consecutive-adds` (as showcased by the docs), but yarn seems to think it doesn't exist:
[code]
- [ ] I would like to work on a fix!

**Current Behavior**

Package not found.

**Input Code**

n/a

**Expected behavior/code**
Package to properly resolve.

**Environment**

[code]
- Babel version(s): [e.g. v6.0.0, v7.0.0-

[2020-05-13 15:13] JMarkoski commented on #10759
@dangreen Copy-paste from my answer given in (linked in the above comment) : [https://github.com/babel/babel/issues/9853#issuecomment-619587386](https://github.com/babel/babel/issues/9853#issuecomment-619587386)

Note that, if you want to target specific environments with this, you can't do that, because `@babel/transform-runtime` doesn't have an option to specify targets, you'll get polyfills for

[2020-05-13 15:18] dangreen commented on #10759
@JMarkoski in your answer no word about preset-env. I want to know how to combine preset-env with transform-runtime.

[2020-05-13 15:20] JMarkoski commented on #11556
The installation command is

See here: [https://github.com/babel/minify/tree/master/packages/babel-plugin-transform-inline-consecutive-adds](https://github.com/babel/minify/tree/master/packages/babel-plugin-transform-inline-consecutive-adds)

[2020-05-13 15:23] RDIL commented on #11556
That fixed it.  Thanks!

[2020-05-13 15:23] #11556 closed

[2020-05-13 15:26] JMarkoski commented on #10759
@dangreen I don't seem to understand your question, may you please be more specific? According to this comment:

you don't want global pollution. Using `@babel/preset-env` includes polyfills by polluting the global environment. You can't configure it otherwise, it's what it does, includes imports from `core-js` that will pollute your global environment. The only option to avoid that is to use `@ba

[2020-05-13 15:27] Daniel-Mietchen opened #11557 ""Try it out at our REPL." link in README.md gives "Could not load Babel build" error"
## Bug Report

I came here to learn about Babel, since I do not know it. So not sure I can help fix this.

**Current Behavior**

The link

from [README.md](../blob/master/README.md) currently redirects to

[https://babeljs.io/repl/build/master#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=NoRgNATGDMC6B0BbAhgBwBQDsAEBeAfNjgNTYgCUA3

[2020-05-13 15:39] Daniel-Mietchen opened #11558 "Avatars in "Our top sponsors are shown below!" in README.md do not load"
## Bug Report

**Current Behavior**
<img width="909" alt="Screen Shot 2020-05-13 at 11 29 11" src="https://user-images.githubusercontent.com/465923/81833162-60d66c00-950d-11ea-8ede-d1e515d6b79b.png">

Looks like the underlying images at addresses like
https://opencollective.com/babel/sponsor/14/avatar.svg
are gone. I checked https://opencollective.com/babel but could not find a suitable replacemen

[2020-05-13 15:43] dangreen commented on #10759
@JMarkoski can you please provide babel config example for that?

Because config like that:

[code]

produce code like that:

[code]

[2020-05-13 16:19] JLHwung commented on #11558
I can not reproduce this error, can you attach the result of
[code]

Also moved this issue to `babel/website`.

[2020-05-13 16:45] JMarkoski commented on #10759
@dangreen: Make this:

With this config:

[code]

[2020-05-13 16:46] dangreen commented on #10759
@JMarkoski where is preset-env config?

[2020-05-13 16:52] JMarkoski commented on #10759
@dangreen You don't need it, moreover, you shouldn't use it with `@babel/transform-runtime` (although you can use it in a config where `useBuiltIns: 'entry'` and `@babel/transform-runtime` is used only for helpers, but here we talk about `useBuiltIns: 'usage'`). I'll link again my answer that answers exactly the question why you **shouldn't** use it: [https://github.com/babel/babel/issues/9853#iss

[2020-05-13 16:57] dangreen commented on #10759
@JMarkoski

to my mind this important info should be added to transform-runtime documentation

[2020-05-13 17:06] JMarkoski commented on #10759
@dangreen See the corrected comments. Hope it solves your problem :)

[2020-05-13 17:12] dangreen commented on #10759
@JMarkoski but, as I understand, transform-runtime doesn't respect targets and browserslist config, and transform-runtime can add useless polyfill. I'm right?

[2020-05-13 17:17] JMarkoski commented on #10759
Yes, that's true. But the benefit is that you will have the polyfills bundled with your library/app (its more useful for libraries, not so much for apps, because you can allow global pollution in your app, the problem is that you don't want your library users to have global scope pollution), and avoid global scope pollution.

The main thing and the main point of confusion is how to handle polyfill

[2020-05-13 17:37] dilyanpalauzov opened #11559 "Strip “proposal-” from plugin names, when the features are set in stone."
Strip “proposal-” from plugin names, that are stage 4-TC 39-set in stone:

*   babel-plugin-proposal-async-generator-functions
*   babel-plugin-proposal-dynamic-import
*   babel-plugin-proposal-export-namespace-from
*   babel-plugin-proposal-json-strings
*   babel-plugin-proposal-nullish-coalescing-operator
*   babel-plugin-proposal-object-rest-spread
*   babel-plugin-proposal-optional-catch-bindi

[2020-05-13 22:14] JMarkoski opened #11561 "Better error handling for `include` and `exclude` options when option is not an array"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
When setting the `exclude` option on `@babel/preset-env` to a string that represents a plugin (with intention to exclude that plugin) babel throws non-descriptive error

     plugins.map is not a function

 Moreover, if we provide anything other than array for the options `exclude` and `include`, the same error will be throw

[2020-05-13 22:36] nicolo-ribaudo commented on #11561
It's yours!

[2020-05-13 23:14] haltman-at opened #11562 "Imports/requires return undefined"
## Bug Report

We've been using Babel v6, and I recently attempted to upgrade to Babel v7.  The project in question is the Truffle Debugger; the overall repo can be found [here](https://github.com/trufflesuite/truffle/tree/babel-up) and the particular package can be found [here](https://github.com/trufflesuite/truffle/tree/babel-up/packages/debugger).  Note that I'm linking to the branch where I a

[2020-05-14 06:15] markwoodward23 opened #11563 "[Feature/Discussion] Code splitting IE11 polyfills"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
Our application requires about 89KB of polyfills to run - it's a modern React app, and our browser standard say we need to support IE11. IE11 browser usage for us is at 4.9%, so it's not going anywhere soon.

The browserslistrc file for the app looks like this:
Chrome

[2020-05-14 07:59] JMarkoski commented on #11561
@nicolo-ribaudo I found another, somewhat related issue, so my question is whether to open another separate issue (maybe for better documentation of what is fixed) or to fix the problem in this one. The issue is as follows:

The docs about include ([https://babeljs.io/docs/en/babel-preset-env#include](https://babeljs.io/docs/en/babel-preset-env#include) say that plugins prefixed with `plugin-` are

[2020-05-14 08:50] nicolo-ribaudo commented on #11561
Let's update the docs and keep the regexp as-is.

[2020-05-14 09:02] JMarkoski commented on #11561
@nicolo-ribaudo Should I update the docs in this issue or should I file a separate one?

[2020-05-14 09:04] nicolo-ribaudo commented on #11561
Opening a PR in the `babel/website` repository is enough 🙏

[2020-05-14 13:09] phil-warner opened #11564 "Error: Cannot find module '../constants'"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**
When running webpack I'm getting the following error on roughly half of the entry points that get picked up by babel-loader:

overlapping.get is not a function (While processing: "/Users/me/Documents/GitHub/my-project/node_modules/@babel/preset-env/lib/index.js"

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.i

[2020-05-14 13:17] nicolo-ribaudo commented on #11564
It seems like you are compiling Babel with itself. Try this `exclude`:

[code]

If it doesn't work, we need a reproducible example.

[2020-05-14 13:21] phil-warner commented on #11564
Hi Nicolo

Thanks. Maybe some progress. I'm now getting this:

[code]

[2020-05-14 13:29] existentialism commented on #11564
@phil-warner sidenote, you have both v6 and v7 babel deps in your package.json, might want to switch to v7 completely (babel-* -> @babel/*)

[2020-05-14 14:07] phil-warner commented on #11564
Thanks. Would you be able to offer a little more info on how I'd go about that?

[2020-05-14 14:42] thorn0 commented on #11526
This is expected. `\` doesn't have any special meaning in JSX text and attribute values.

[2020-05-14 15:04] JRamonMC opened #11565 "Unexpected token, expected ",""
## Bug Report

I'm triying to do a basic test, render the App (React-Native). But it seems babel parser doesn't recongnize renderer creation.

**Current Behavior**

[code]

App-test.js: Unexpected token, expected "," (9:36)

<img width="516" alt="Captura de pantalla 2020-05-14 a las 16 58 10" src="https://user-images.githubusercontent.com/20944056/81950401-2d2a3d80-9604-11ea-9ded-3f9bd614ff93.png"

[2020-05-14 15:14] JMarkoski commented on #11565
That syntax is `JSX`, and for that you need `@babel/preset-react`.

[2020-05-14 15:16] phil-warner commented on #11564
@existentialism - thank you. I've replaced everything that was v6.

I also upgraded node to the lts version (12.16.3) on the off-chance that my installation was missing a core module, but I'm still getting the same issue. Here is the require stack:

[code]

[2020-05-14 18:21] amasad opened #11566 "Repl.it playground to test and repro issues on Node.js and with babel.config.js"
Hello! I was talking to @hzoo a while back and he indicated it might be useful to use Repl.it as a Babel playground running on Node.js.

I think this might be especially useful since babel.config.js doesn't seem to work on client-side repls.

Here is a repl: https://repl.it/@amasad/babel-playground

Let me know what you think and happy to help out if it's is useful

[2020-05-14 18:58] JMarkoski commented on #11442
@ak1987 Try this. First:

and try this config: `babel.config.json`:
[code]

and this:

[code]

[2020-05-14 19:01] kaicataldo commented on #10904
This should be fixed in the latest v11 prerelease (and will be included in the next major release,[ which will be under a new package name](https://github.com/babel/babel-eslint/#note-babel-eslint-is-being-moved-into-the-babel-monorepo-please-follow-along-here-to-track-our-progress)).

[2020-05-14 22:40] #11555 closed

[2020-05-14 22:52] nicotroia commented on #7926
Currently running
[code]

`babel ./src --watch --out-dir ./dist`

and nothing outputs besides a single `Successfully compiled 7 files with Babel.`

[2020-05-14 23:06] JRamonMC commented on #11565
Yeah, that's the solution, I don't know why I forgot it. Thanks @JMarkoski !

[2020-05-14 23:06] #11565 closed

[2020-05-15 19:36] nicolo-ribaudo commented on #11563
_This answer assumes that you use webpack. If you don't, it might still be useful for someone else_

With Babel, you can configure multiple compilation strategies. For example, you can differentiate between "modern" and "legacy" browsers. The most common way of doing it is to handle separately browsers with and without native es modules support, but you can use any other target.

[code]

Then, you

[2020-05-15 22:16] elclanrs opened #11568 "Expected TypeScript type guard for isNumberLiteral"
## Bug Report

Working with @babel/types I ran into a minor annoyance with `isNumberLiteral`. All other similar functions like `isStringLiteral` have a type guard:

[code]

But `isNumberLiteral` just returns a boolean:

[code]

In the following code, this issue forces me to assert the type only for the number literal case:

[code]

[code]

[2020-05-15 22:26] elclanrs commented on #11568
I just realized this function is deprecated in favor of `isNumericLiteral` which does return a type guard.

[2020-05-15 22:26] #11568 closed

[2020-05-15 23:32] sventschui opened #11569 "Nested function result destructuring breaks block scope checks"
## Bug Report

- [ ] I would like to work on a fix!

**Current Behavior**

When nesting destructuring of function results something goes bad with block scope checks. The following code is ending up in a `"x" is read-only` error on the line `[x] = [2]`. When changing `const [y] = ...` to `const y = ...` everything works as expected.

(REPL: [bad](https://babeljs.io/repl#?browsers=ie%2011&build=&bui

[2020-05-16 06:00] dilyanpalauzov opened #11570 "preset-env: emit a warning for 'useBuildIn': 'usage' when the input contains “import 'regenerator-runtime/runtime'”"
When I set for `@babel/preset-env: {"corejs": 3, "useBuiltIns": "usage"}` and the input file contains:

[code]
Babel says “When setting `'useBuildIns•: 'usage'`, polyfills are automatically imported when needed.  Please remove the direct import of core-js or use `'useBuildIns': 'entry'` instead.”

But it says no such thing about `import 'regenerator-runtime/runtime'`.

* Emit a similar waring for

[2020-05-16 07:14] nicolo-ribaudo commented on #11569
@calebeby Could you check if your PR fixes this bug?

[2020-05-16 08:52] brettz9 commented on #10904
Regarding the "latest v11 prerelease", I guess you mean the *next* such release, @kaicataldo, as npm is showing the latest release for `babel-eslint` as 11.0.0-beta.2 from 5 months ago (and https://www.npmjs.com/package/@babel/eslint-parser shows nothing yet)?

[2020-05-16 12:48] shivanandssonnad commented on #11541
@nicolo-ribaudo I tried removing babel config from package.json using babel.config.json, but still getting same error. here is my babel.config.json

[code]

[2020-05-16 14:50] eps1lon commented on #6978
A concrete example for this is `for-of`. Would be nice to tell babel to `assumeArray` though ideally it would check the type (jsdoc or TypeScript).

I could pass the code through typescript first which would prevent triggering the full iterator transpilation. But I don't know how/if source maps work if I have two transpilation steps.

[2020-05-17 04:43] Freivincampbell commented on #8599
Thank you 😊  so much, this solution worked perfectly for me.

[2020-05-17 11:02] vasiliicuhar opened #11573 "Nodes with _blockHoist = 2 have higher priority than import declarations"
## Bug Report

[x] I would like to work on a fix!

**Current Behavior**
If a plugin (in my case it's react-refresh/babel) inserts a variable declaration in the root scope, this declaration is printed before any import statement in this file. This breaks some parsers, that expect import declarations should be before any statements.

- [Codesandbox](https://codesandbox.io/s/floral-architecture-y6yhf

[2020-05-17 11:03] o-alexandrov commented on #8741
Since `babel-plugin-const-enum` doesn't support:
- `declare const enum example { ... }`
- or in a namespace:
[code]

Just fyi for anyone stumbling upon this:
- there's still a mismatch between `tsc` and `babel`, so you should avoid using a const enum in a TS declaration file because it would fail in runtime

[2020-05-17 11:21] nicolo-ribaudo commented on #11573
This is a bug with those parsers. Also, the actual and expected code you posted have the same behavior because import statements are always executed before anything else regardless of their position in the file.

[2020-05-17 11:30] vasiliicuhar commented on #11573
I know from somewhere that imports are hoisted, and from the spec it looks like the only requirement for imports is to be on top level.
Do you know why the spec allows statements before imports?

[2020-05-17 12:15] nicolo-ribaudo commented on #11573
I think that the only reason is that the spec doesn't want to enforce any code style.

[2020-05-17 12:45] vasiliicuhar commented on #11573
Fair point.

[2020-05-17 12:45] #11573 closed

[2020-05-17 15:35] ylc395 opened #11574 "`String.prototype.matchAll` is not polyfilled by @babel/runtime-corejs3"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**
`String.prototype.matchAll` is not polyfilled with @babel/runtime-corejs3(version 7.9.6)

**Input Code**

[code]

**output Code**
[code]

**Expected behavior/code**
`String.prototype.matchAll` should be polyfilled.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `b

[2020-05-17 16:03] ylc395 commented on #11574
Sorry, wrong option provided. No bug need to fix.

[2020-05-17 16:03] #11574 closed

[2020-05-17 21:11] dosentmatter commented on #8741
@o-alexandrov does `declare const enum example { ... }` do anything different than `const enum examplle { ... }`? I read about [ambient enums](https://www.typescriptlang.org/docs/handbook/enums.html#ambient-enums), but it doesn't seem to apply to `const enum`s. `declare` also makes your code produce no output, but `const enum` already does that.

I actually [support `declare const enum`](https://g

[2020-05-18 04:15] abalter opened #11575 "How to add custom operators/keywords to JavaScript with Babel?"
I [asked this question on SO](https://stackoverflow.com/questions/61842348/how-to-add-a-custom-operator-to-javascript-or-node-js-with-babeljs), and although it received positive response in terms of upvotes and stars, there are no comments or answers. So perhaps it's outside the scope of expertise of users who track the babeljs tag.

I would like to add custom operators, keywords, and syntax to Ja

[2020-05-18 07:28] o-alexandrov commented on #8741
@dosentmatter thank you for the quick response and the babel plugin you created.

Whenever it's convenient for you or anyone else, you are welcome to take a look at the repro of the error  I created using a project initialized with [create-react-app](https://github.com/facebook/create-react-app/).
For your convenience, please look at the [commits in the repro here](https://github.com/o-alexandrov/

[2020-05-18 08:17] #11545 closed

[2020-05-18 08:59] jleveugle opened #11576 "Comments in parentheses disappear"
## Bug Report

- [x] I would like to work on a fix!

**Current Behavior**

Comments in parentheses disappear when compiled.

Example here:

https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=GYexHoCoAIHUHkBKBpAkgOQOLUuAFFNOvACpxJpY7gCUQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&e

[2020-05-18 09:23] stnor opened #11577 "babel-node should add '.ts', '.tsx' as a default extensions to hook into"
## Bug Report

**Current Behavior**

I'm running jasmine tests in babel-node in my front-end typescript project, and I got
[code]
It took me four hours to understand that *.ts files aren't included by default in babel-node. Google/SE was no help.

As Typescript is supported by babel since a while back, it seems resonable that babel-node should hook into '.ts'-files by default? Perhaps '.tsx' too.

[2020-05-18 15:30] niftylettuce opened #11583 "Programmatic list of polyfills?"
How can one programmatically get a list of polyfills that are to be added?

I was thinking to parse the CLI output in a dummy test run for the string `Using polyfills:` since https://babeljs.io/docs/en/babel-core#transformfileasync was not working for me, (e.g. `result` only contained `plugins` as opposed to `polyfills` Array as well).

[2020-05-18 15:32] niftylettuce commented on #11583
Parsing `code` isn't exactly the best approach either:

[code]

Curious if there's another way or something hidden somewhere?

[2020-05-18 15:33] homobel commented on #10798
Hi guys my case with "this" seems not fixed.

[2020-05-18 16:19] niftylettuce commented on #11583
Once this is possible, I would then be using the output to generate a customized version of https://github.com/babel/babel/blob/master/packages/babel-polyfill/scripts/build-dist.sh.  Until then, I have to use the global babel polyfill created in the dist folder.

[2020-05-18 18:56] NagabhushanS opened #11584 "Class fields not recognized by @babel/plugin-proposal-class-properties."
I am trying to get around this issue for quite some time. I have added the plugin @babel/plugin-proposal-class-properties for es6+ class-fields which are an experimental feature. However, it still gives me a syntax error.
Here is my sample package.json
[code]
.babelrc:

[code]

Sample app.js:

[code]

And here is the error:

[code]

[2020-05-18 19:09] homobel commented on #10798
@nicolo-ribaudo @JLHwung  Unfortunately #11158 fix not resolved issue with default parameter with "this"(7.9.6) I've mentioned above.

[code]
Produces:

[code]
With same "_this is not defined" error.

I'm not sure about approaches here used but I've checked example on playground with only @babel/plugin-transform-classes enabled and it produce also invalid code(same error):
[code]
So probably here

[2020-05-18 20:19] dosentmatter commented on #8741
@o-alexandrov, the reason your repo fails at runtime is because `@babel/plugin-transform-typescript` doesn't even look at [`typings/interfaces.d.ts`](https://github.com/o-alexandrov/example-const-enum/blob/9f96bfac523a399e088da8279221a646f5fa887b/typings/interfaces.d.ts) at all. You also changed [`isolatedModules: false`](https://github.com/o-alexandrov/example-const-enum/commit/d20b3b8e4a1f12ae96

[2020-05-18 20:25] JLHwung commented on #11584
Where is your `.babelrc` located? If it is not at the root of your project, babel will not apply `.babelrc` to `WEB\setup\app.js`.

If you don't have complex babel configuration, please rename it into `babel.config.json`.

[2020-05-18 21:12] nicolo-ribaudo commented on #11425
I'm closing this issue as partially answered, and partially moved to https://github.com/babel/babel-polyfills/issues/11 (which is the repo where we'll implement polyfills innovations)

[2020-05-18 21:12] #11425 closed

[2020-05-19 05:48] o-alexandrov commented on #8741
@dosentmatter please be informed you are actually supporting the statement I made [above](https://github.com/babel/babel/issues/8741#issuecomment-629779409) (highlighted what I'm talking about below):

Let me please comment on the provided workaround (1st wasn't an option), so the 2nd:

- you cannot import a `value` (opposite of a type) from a `.d.ts` file, as it breaks the ambient declaration, so

[2020-05-19 06:41] NagabhushanS commented on #11584
Hi JLHwung, the .babelrc file is in the same folder as app.js and package.json (in other words root of the node project). I also tried removing babelrc and adding babel.config.json. It still doesn't work.

[2020-05-19 06:43] NagabhushanS commented on #11584
I have seen that some stackoverflow question which had issues with class fields handling in babel, but none of the solutions worked since most solutions were either telling you to properly config webpack or were related to react. I am using neither of them.

[2020-05-19 07:03] nicolo-ribaudo commented on #11584
Trying to isolate the problem: if you run your app without nodemon, does it work?

[2020-05-19 12:11] markwoodward23 commented on #11563
@nicolo-ribaudo - makes sense, thank you. I'll give this a go.

[2020-05-19 14:00] dosentmatter commented on #8741
@o-alexandrov

I think we all agree that `tsc` and `babel` do not compile TS to JS in the same way, as I mentioned by linking the list of caveats that `@babel/plugin-transform-typescript` has. This doesn't mean `babel` for TS compilation is unusable since there are workarounds. There is also a workaround for your `const enum`. My plugin also comes with its own list of caveats.

I wasn't saying to

[2020-05-19 16:01] o-alexandrov commented on #8741
@dosentmatter it seems we are heading away from each other's actual points the more we talk. I really appreciate the intent though, but it happened that you misinterpreted my messages, which is totally fine.
I feel sorry for unnecessarily pinging in a thread where many people are involved and I have nothing else to add to what I already stated above:
- the above statements would promote the use of

[2020-05-19 20:29] JLHwung commented on #11584
I assume you are invoking babel through `@babel/register`, where do you `require("@babel/register")`?

Note that `@babel/register` will only be applied on files _required_ later than the entry, which means if you mix class properties and `require("@babel/register")` in `setup\app.js`, they won't work
[code]

BTW can you attach the output of
[code]

[2020-05-19 20:31] #11575 closed

[2020-05-19 20:44] dosentmatter commented on #8741
@o-alexandrov, your points are:

I'm still confused about why you would want babel or a babel plugin to parse through `.d.ts` files. The docs for `@babel/plugin-transform-typescript` states that it just ignores types when compiling TS to JS.

- When you use `declare ...`, that generates no code and is just provides type information.
- Anything you put in a `.d.ts` file is just type information.

U

[2020-05-20 02:13] bluetch opened #11589 "Failed to compile with SCSS file"
## Bug Report

When I install node-sass, and change my file from .css to .scss it display below error, could you help me to resolve this problem?

ERROR in ./style/template_editor/EditBar.scss
Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: Unexpected token (1:0)

=========

{
  "name": "practice",
  "version": "1.0.0",
  "description": "practice",
  "main": "inde

[2020-05-20 04:56] phil-warner commented on #11564
This problem was fixed by adding "@babel/plugin-transform-for-of" to by Babel plugins.

[2020-05-20 04:56] #11564 closed

[2020-05-20 06:37] NagabhushanS commented on #11584
Hi JLHWung, Thanks for pointing out about @babel/register, I actually have a separate bin folder where there is a module called app.js which require babel-register and the module app.js (which is at root of the project folder). I accidently was executing app.js instead of bin/app.js.

[2020-05-20 06:37] #11584 closed

[2020-05-20 07:11] nicolo-ribaudo commented on #11589
What's your webpack config?

[2020-05-20 19:07] Lodin commented on #11519
According to @nicolo-ribaudo's investigation, my issue contains not the bug but the undefined behavior because tools were used incorrectly. The correct approach we have come to is the following:
<details>
<summary><a href="https://runkit.com/lodin/disappearing-decorators-on-property-fix-attempt-2" rel="nofollow">Code <sup>[Runkit]</sup></a></summary>

[code]
</details>

[2020-05-20 19:07] #11519 closed

[2020-05-20 19:37] dilyanpalauzov commented on #11577
Do you mean what is described athttps://github.com/microsoft/TypeScript/issues/38546?

In particular that 'import ./b' in typescript means all of 'import ./b.ts', 'import b.js' or import the directory b/, whichever exists, while in ES6 syntax, one has to be explicit 'import ./b.js', 'import ./b.ts' or 'import ./b'.  Sadly, I had no luck to communicating the problem to the TypeScript team and the d

[2020-05-20 20:25] dilyanpalauzov commented on #11577
I edited the comment above several times.

[2020-05-20 20:41] nicolo-ribaudo commented on #11577
Related - https://github.com/babel/babel/issues/8652

[2020-05-21 08:56] towry commented on #8193
Same issue for babel `7.8.4 (@babel/core 7.9.6)`

[2020-05-21 09:11] stnor commented on #11577
@dilyanpalauzov no. It's what @nicolo-ribaudo ref'ed..

[2020-05-21 12:37] yulanggong opened #11591 "babel-traverse Scope.rename bad case"
## Bug Report

- [x] I would like to work on a fix!
a fix is here #11595

I add a test case here:
https://github.com/yulanggong/babel/commit/0dfff883b67da1d8b405720f23e6fe5d397c58f3

**Input Code**

[code]

**Plugin Code**

[code]
**Expected Result**

[code]

**Current Result**

[code]

**Diff**
[code]

**Environment**

[code]

**Possible Solution**

**Additional context**
Add any other context ab

[2020-05-21 22:25] #6625 closed

[2020-05-21 22:25] #8489 closed

[2020-05-21 22:25] #11583 closed

[2020-05-22 06:09] tomitrescak opened #11596 "@babel/plugin-proposal-decorators does not work properly with class properties"
## Bug Report

Following code works correctly with Typescript compiler but fails with Babel.

**Current behavior**
A clear and concise description of the behavior.

**Input Code**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen (or code).

I am able to override class protptype in the decorator.

**Babel Configuration (babel.config.js, .babelrc, package

[2020-05-22 12:44] redbastie commented on #8599
@anuragrksharma THANK YOU!

[2020-05-22 13:07] existentialism commented on #11499
@karansapolia friendly ping, are you still working on this? no worries if not!

[2020-05-23 01:24] anamariagr commented on #8599
👍 thaks
npm install -D babel-loader @babel/core @babel/preset-env webpack

[2020-05-23 01:25] anamariagr commented on #8599
`npm install -D babel-loader @babel/core @babel/preset-env webpack`
thanks  👍

[2020-05-23 02:18] ajihyf opened #11599 "Export babel tooling in @babel/standalone and @babel/core"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem? Please describe.**
I am implementing a tool to transform an expression using `parser.parseExpression`, `traverse`, `types.X` and `generate(exp)`. This tool should be directly used on the web however @babel/standalone doesn't export these toolings.

**Describe the solution you'd like**
D

[2020-05-23 08:45] dilyanpalauzov opened #11601 "Do not strip imports in preset-typescript"
With this input a.ts:
[code]
`babel --presets '@babel/preset-typescript' a.ts` prints:
[code]
so `import i from './i.js';` is gone, whereas `babel a.ts` keeps that `import` in the output.  This is inconsistent.

[2020-05-23 08:47] dilyanpalauzov commented on #11601
If I rename a.ts to a.js and call `babel --presets '@babel/preset-typescript' a.js`, then `import i from './i.js';` is in the output.

[2020-05-23 09:19] nicolo-ribaudo commented on #11601
This is the correct behavior: https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=2&pc=22#code/JYWwDg9gTgLgBAcgHQHoBGSBWBnBBuAKFEljmDgDMoIRFVgtdCCAbAU3ngF5EBGAJgDM+IA

If you want Babel to only remove imports marked as `type`, you can enable the [`onlyRemoveTypeImports`](https://babeljs.io/docs/en/babel-preset-typescript#onlyremovetypeimports) option.

[2020-05-23 09:19] #11601 closed

[2020-05-23 09:22] nicolo-ribaudo commented on #11599
You could wrap it in parentheses to disambiguate between a block statement and an object expression:
[code]

[2020-05-23 10:15] ajihyf commented on #11599
@nicolo-ribaudo The wrapped statement generates code as a statement, eg. `(3)` -> `3;` and `({ a, b: 3, ...obj })` -> `({ a, b: 3, ...obj });`. I've tried to use string manipulation functions to remove these punctuations but seems tricky and error prune.

[2020-05-23 23:11] karansapolia commented on #11499
@existentialism so sorry, I have not been able to work on this yet. In case someone wants to pick this up, please feel free. I really want to start helping out with Babel, will try to chip in where I can next :slightly_smiling_face:

[2020-05-24 15:23] existentialism commented on #11499
@karansapolia no need to apologize at all!

[2020-05-24 19:39] fpipita opened #11604 "transform async to generator plugin causes infinite recursion in legacy Edge"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**
This is an issue with legacy Edge versions more than with Babel itself.

It is related to the way the `transform-async-to-generator` plugin handles the [object method with super](https://github.com/babel/babel/blob/master/packages/babel-plugin-transform-async-to-generator/test/fixtures/async-to-generator/object-method-with-s

[2020-05-24 20:23] nicolo-ribaudo commented on #11604
Can you reproduce the `super.method` bug without using the async plugin?
We might introduce a "bug fix" plugin specifically for it.

[2020-05-24 20:31] #9448 closed

[2020-05-24 20:55] #11399 closed

[2020-05-24 20:56] #10959 closed

[2020-05-24 20:57] #11364 closed

[2020-05-24 21:00] #10509 closed

[2020-05-24 21:03] #7926 closed

[2020-05-24 21:44] #8834 closed

[2020-05-24 23:26] Abradoks opened #11605 "standalone is missing polyfills in ES5 environment"
## Bug Report
I'm trying to run https://unpkg.com/@babel/standalone@7.9.6/babel.js in ES5 browser (Opera 12.18), but it's missing some polyfills. Looks like reoccurring #7607. Here are some of the problematic places:

Symbol
https://github.com/babel/babel/blob/df819a060c05a53d0e62f12985892e63d0e22f9a/packages/babel-types/src/constants/index.js#L67

Set
https://github.com/babel/babel/blob/e39b50803

[2020-05-25 02:17] HiMrHu commented on #11499
i want to try this.

[2020-05-25 03:16] kaicataldo commented on #11499
Awesome! Please feel free to reach out if you have any questions.

[2020-05-25 07:11] tianzzq0 opened #11606 "@babel/core: Can't resolve 'fs' in 'transformation'"
## Bug Report

I installed @ babel / core in webpack, but it is not working

**Current behavior**
[code]

**Expected behavior**

output translated code

[code]

**Environment**

[code]

[2020-05-25 10:34] mrbinr opened #11607 "Critical dependency: the request of a dependency is an expression after upgrade 7.8 to 7.9"
## Project

It about a ReactJS project built with create-react-app

## Bug Report

**Current behavior**
I have a ReactJS code in which there is this part of code which works perfectly
[code]

**After upgrading babel**

babel/core@7.8.7 to 7.9.0
@babel/plugin-transform-runtime@7.8.3 to 7.9.0
@babel/preset-env@7.8.7 to 7.9.0

i have this error in log compilation :
[code]

and then in browser
[code]

[2020-05-25 13:31] fpipita commented on #11604
I am able to reproduce it with this minimal example:

[code]

where `getter` needs to be an arrow function.
Replacing it with an ordinary function throws an error instead (SCRIPT5022: SCRIPT5022: Invalid use of the 'super' keyword).

[2020-05-25 15:54] nicolo-ribaudo commented on #11607
What is your config?

[2020-05-25 17:39] bakkot opened #11608 "do-expressions and nested breaks"
## Bug Report

[code]

This should print `1` twice. Instead it prints `undefined` twice.

- [REPL](https://babeljs.io/repl#?browsers=ie%209&build=&builtIns=usage&spec=false&loose=false&code_lz=MYewdgziA2CmB00QHMAUAoABJgJiTA3ltphAO4CWALsABaaoBEAjIwJSHEmbACGEsTC0YAuLt0wUAZgyoAnAK6wORCRKYgFVdgG5xagEZzYvANZ612AL7ib19Gz3pQkGAiRpieTtwAeIn3VhR31MIxNTTF8LEjtMGxCgA&debug=false&forceAllTransforms=false&ship

[2020-05-25 19:29] JLHwung commented on #11606
@tianzzq0 It seems to me that you are bundling `@babel/core` into your Webpack app. The code example you listed are meant to be executed on node.js but not _bundled_ by Webpack. Please use [`babel-loader`](https://github.com/babel/babel-loader) if you want to transpile JavaScript codes in Webpack.

[2020-05-25 20:36] mconnol6 opened #11609 "Transpilation error"
## Bug Report

**Current behavior**

Transpiler is converting page.fill (function from [playwright](https://github.com/microsoft/playwright)) to Array.fill.

I opened an [issue with playwright](https://github.com/microsoft/playwright/issues/2345), and they think that the issue is either with babel or babel-jest.

**Input Code**

[code]

**Expected behavior**
When I run this code, I receive this er

[2020-05-25 21:08] existentialism commented on #11609
To be clear, we aren't converting page.fill into Array.fill... but `usage` is going to add an import statement for Array.fill due to seeing `.fill()` being used (not a perfect detection mechanism).

Do you have `core-js` as a devDependency? I see `babel-polyfill` v6 listed above which isn't going to work.

[2020-05-26 04:07] guybedford opened #11610 "Constant violation code path internal error"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

[code]

Running with preset-env with esmodules.

See REPL replication of error - https://babeljs.io/repl/#?browsers=ie%

[2020-05-26 07:49] mrbinr commented on #11607
hi,

I was creating a repo with a newest create-react-app project to explain each step of the problem, but with this newest project there is no problem .. :(
So it seems to be the upgrade of babel from version 7.8.* to 7.9.* which has not been done corretly or may be all packages are not updated ?
Something really strange ...

if someone has a idea about upgrading properly babel in a project ...

[2020-05-26 08:06] fpipita commented on #11604
Despite this won't solve the Edge bug, I've found out there was something that I could've done in a better way regarding my use case, so I thought it would've been a good thing to share it here.

Basically, I need to generate two builds, an "es5" build targeting es5 environments and an "esnext" one targeting browsers that support es modules natively and make use of the "module/nomodule" pattern to

[2020-05-26 09:01] nicolo-ribaudo commented on #11604
I'm keeping this issue open to track the edge bug, but I'm glad you solved it in the best way possible!

[2020-05-26 09:04] nicolo-ribaudo commented on #11607
Did you eject CRA in the broken project, or is it with the default config?

[2020-05-26 12:20] mrbinr commented on #11607
no, i did not ejact CRA , it's default configuration

[2020-05-26 14:20] mconnol6 commented on #11609
Hello, I uninstalled `babel-polyfill` and installed `core-js@3` and this fixed the issue. Thanks for your help!

[2020-05-26 14:20] #11609 closed

[2020-05-26 16:00] samstickland opened #11614 "Babel transformation error: "don't know how to turn this value into a node""
## Bug Report

After upgrading webpack and babel I'm now faced with a few errors like this from our vue-jest based test suite, and I have no idea how to go about debugging them:

[code]

**Current behavior**

This is the only type of stacktrace I get, on around 8 or so tests:

[code]

**Input Code**

Apologies, I'm not sure what code will be useful to share here.- I'm open to suggestions. Our test

[2020-05-26 16:10] samstickland commented on #11614
Apologies, digging deeper into this and I think it might be an istanbul / jest issue, since removing these lines  from `jest.config.json` makes the issue disappear:

[code]

[2020-05-26 17:21] JamesSingleton commented on #11216
Interesting, just started getting this on Node 12.17.0 which was released today.

[2020-05-26 17:38] JamesSingleton opened #11615 "No "exports" main resolved in @babel/helper-compilation-targets/package.json with Node 12.17.0"
## Bug Report

I know #11216 mentions a similar issue, but that is with Node 13, this is with the newly released 12.17.0.

**Current behavior**

Node just released 12.17.0 and now running `"build": "babel src -d ./",` with the following deps (also installed the latest versions as well and still had the issue)

[code]
results in:

[code]

**Input Code**

[code]

**Expected behavior**

It should bui

[2020-05-26 18:27] MylesBorins commented on #11615
@JamesSingleton I was unable to reproduce locally with the exact same babel config and the following dependencies

[code]

Do you have an example of the code you are attempting to transpile?

[2020-05-26 18:29] JamesSingleton commented on #11615
@MylesBorins, two repos that I know of that are exhibiting this behavior right now are
* https://github.com/americanexpress/holocron
* https://github.com/americanexpress/redux-idle-callback

[2020-05-26 18:46] MylesBorins commented on #11615
Looks like the issue was an out of date version of helper-compilation-target in the package-lock. I've opened a PR that should fix this.

https://github.com/americanexpress/holocron/pull/35

Once that has confirmed to fix stuff I think this issue can be closed.

[2020-05-26 18:55] existentialism commented on #11615
@MylesBorins thanks for digging in!

[2020-05-26 19:14] JamesSingleton commented on #11615
@MylesBorins what is _weird_ is when I did `npm i -D @babel/core@latest` I still ran into issues. Did you delete the `package-lock.json` and then reinstall? I had to copy in your lockfile for it to finally work... weird

[2020-05-26 19:29] etillson opened #11617 "TypeError for CallExpression when node is JSXIdentifier"
**I'm submitting a bug report**

**Webpack Version:**
4.43.0

**Babel Core Version**:
7.9.6

**Babel Loader Version**:
8.1.0

**Please tell us about your environment:**
OSX 10.15.4

**Babel Config:**
[code]

**Current behavior:**
on npm build

ERROR in ./app/app.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: /app.js: Property arguments[0] of CallExpression expec

[2020-05-26 20:36] JamesSingleton commented on #11615
@MylesBorins going to close this issue, thanks for taking the time to help me out!

[2020-05-26 20:36] #11615 closed

[2020-05-26 20:41] etillson commented on #11617
I think this is now solved by updating to
`"@babel/plugin-transform-react-inline-elements": "7.9.0",`

[2020-05-26 20:41] #11617 closed

[2020-05-26 20:42] hzoo opened #11619 "Modify all our package.json's to use a different value for the repository field"
So `package.json` files can have a `repository` field!

After looking at https://github.com/babel/babel-polyfills with @nicolo-ribaudo, we realized there's another format for it that we should change all the packages in this monorepo to. https://docs.npmjs.com/files/package.json#repository

![image](https://user-images.githubusercontent.com/588473/82948460-d1e73c00-9f6f-11ea-9e72-ba8b99eeaa19.png)

[2020-05-26 21:05] #11591 closed

[2020-05-26 21:16] MylesBorins commented on #11615
FTR I had to blow away the entire lockfile and run `npm install` again to get the right dependency graph

[2020-05-26 23:56] wataruoguchi opened #11620 "Lerna's npmClientArgs is sitting in an incorrect place"
## Bug Report

Hi Babel team!

This is super minor.

I was just reading your lerna settings and saw `npmClientArgs` in https://github.com/babel/babel/blob/master/lerna.json#L39 .

According to [Lerna's document](https://github.com/lerna/lerna/blob/master/README.md#lernajson), `npmClientArgs` would only be placed in `command.bootstrap.npmClientArgs`, however, you don't have `command.bootstrap` so m

[2020-05-27 00:08] daniel-s opened #11621 "In-browser JSX translation broken with 7.9 -> 7.10 upgrade."
## Bug Report

**Current behavior**

In browser JSX translation does not work for Babel 7.10.0.

A script tag in HTML like the following works fine.
<script src="normal_script.js"></script>

A tag like this does not work:
<script src="react_script.jsr" type="text/babel"></script>

By *does not work* I mean that no Javascript in that file will execute. Not even simple JS that does not require any t

[2020-05-27 00:14] wataruoguchi commented on #11620
Sorry, please disregard this

[2020-05-27 00:14] #11620 closed

[2020-05-27 00:18] JakeGinnivan commented on #8837
Found another example of this error:

[code]

An inline ternary which assigns JSX to a variable. It is only the `else` path which causes the Assert fail.

[2020-05-27 00:29] saulosantiago commented on #11619
@hzoo Can I work on this issue?

[2020-05-27 00:30] existentialism commented on #11619
@saulosantiago it's yours!

[2020-05-27 00:53] epihel commented on #11621
This might be related to this CI failure: https://github.com/babel/babel/runs/710737539. It looks like other babel modules for version **7.10.0** successfuly published, but if _any_ version of `@babel/plugin-proposal-class-properties` is included in `package.json`, then `npm install` fails.

[2020-05-27 01:26] hzoo commented on #11621
Must be related to https://github.com/babel/babel/pull/11466, if you look at the history of standalone. https://github.com/babel/babel/commits/master/packages/babel-standalone

[2020-05-27 01:28] Airkro commented on #10746
How about drop support for `core-js 3` (in `preset-env`). We have `babel-plugin-polyfill-corejs3` now.

[2020-05-27 01:32] hzoo commented on #11621
Ok looks like `type: script.getAttribute("data-type"),` should be `type: script.getAttribute("data-type") || "",` or the if check should be changed to include null in https://github.com/babel/babel/pull/11466/files#diff-7a71ff75920619cbc0e67883df263ca8L53.

I guess in this case, the workaround for 7.10 standalone would be to define a `data-type` in your script tag.

[2020-05-27 02:20] dimaqq opened #11622 "Odd 'loose' mode configuration must be the same..."
`'loose' mode configuration must be the same for both @babel/plugin-proposal-class-properties and @babel/plugin-proposal-private-methods`

I'm getting this error even though I don't use either of the proposals explicitly.
Thus, it's kinda hard for me to configure their `loose` modes 😆
I think they are brought in through a preset.

My config is:
[code]

I've recently done `yarn upgrade` and this er

[2020-05-27 02:31] existentialism commented on #11622
Both `@babel/plugin-proposal-class-properties` and `@babel/plugin-proposal-private-methods` are enabled via `shippedProposals`.

Are you sure you don't have another babel config (like a .babelrc file) that is enabling loose mode for class-properties?

[2020-05-27 02:39] dimaqq commented on #11622
I don't have another config... at least not anything I've written.
I am using CRA + config overrides, where I tell webpack(?) to look for babel config in `package.json`. I guess it's possible that CRA set some options somewhere...

I've tried:
* explicit `"loose": false` in `"@babel/preset-env"` options: does not help 👎
* explicit `"loose": true` in `"@babel/preset-env"` options: helps, I can buil

[2020-05-27 02:41] existentialism commented on #11622
CRA sets class properties to loose :)

https://github.com/facebook/create-react-app/blob/master/packages/babel-preset-react-app/create.js#L151

[2020-05-27 04:09] arku commented on #11621
@hzoo I would like to fix this issue.

[2020-05-27 04:16] dfabulich commented on #11621
The fix is ready! Sorry everybody!

[2020-05-27 04:28] arku commented on #11621
@dfabulich Ah, you beat me to it.

Let me close my PR. Thanks for the quick fix!

[2020-05-27 05:04] jedwards1211 opened #11627 "sourceType: 'unambiguous' ignores type imports/exports"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

If a file only contains type imports or exports, Babel seems to assume the source type is script.  Consequently, a value import inserte