[2020-05-27 05:39] yigalirani opened #11628 "babel stand alone version 7.10.0 doesnt work"
7.10 doent seems do do anything at all. null behavoir. I had to revert to 7.9

[2020-05-27 06:18] dbayerlein-bhs commented on #11622
I have the same problem with the lastest beta of Storybook.

[2020-05-27 06:18] danielbayerlein commented on #11622
I have the same problem with the lastest beta of Storybook.

[2020-05-27 06:32] dimaqq commented on #11622
## TL;DR

concise work-around:
[code]

[2020-05-27 06:39] vramana commented on #11216
@JamesSingleton Upgrading the packages to 7.10 fixed the issue for me.

[2020-05-27 07:19] jseminck commented on #11615
In my case, the `@babel/helper-compilation-targets` package is installed as a dependency of `@babel/preset-env`. Updating it to the latest version fixed the issue for me.

[code]

[2020-05-27 07:27] nicolo-ribaudo commented on #11622
This is a breaking change.
If someone had one of those two plugins in loose mode and preset-env in non-loose mode (or the opposite), it breaks.

[2020-05-27 08:04] nicolo-ribaudo commented on #11620
Don't worry! I appreciate that someone is taking a look at out files looking for problems!

[2020-05-27 08:57] thecodejack commented on #11621
Hey guys...our builds are breaking. Any ETA on release?

[2020-05-27 09:48] nicolo-ribaudo commented on #11621
Later today

[2020-05-27 09:48] nicolo-ribaudo commented on #11621
Later today

[2020-05-27 10:32] nicolo-ribaudo commented on #10746
That was one of my goals when I started working on the polyfill packages, but we should first do https://github.com/babel/rfcs/pull/2

[2020-05-27 11:47] hamlim commented on #11628
We're also running into an error when using `7.10.0` with `@babel/standalone` while using the stage-0 preset:

[code]

It seems like the stage-1 preset defaults the `version` to `may-2020` and that option doesn't seem to be overridable from the `stage-0` preset: https://github.com/babel/babel/blob/master/packages/babel-standalone/src/preset-stage-1.js#L13

Should all options for stage-0 be spread

[2020-05-27 11:48] hamlim commented on #11628
I just noticed the linked pull request won't resolve the error we're running into above, would it be better to open up a new issue to track this?

[2020-05-27 12:38] nicolo-ribaudo commented on #11628
@hamlim Could you open a PR adding that option to the stage 0 preset? We can merge it for the next patch.

[2020-05-27 12:39] hamlim commented on #11628
Sure!

[2020-05-27 14:32] #11619 closed

[2020-05-27 15:13] hamlim commented on #11628
@nicolo-ribaudo I tried using `make build-dist` to build locally and test but it doesn't seem to create the single file entry for the standalone package, do you know how I can test this locally?

[2020-05-27 16:19] #11621 closed

[2020-05-27 16:30] hamlim commented on #11628
I think this issue should still be open as there is another issue with the 7.10 release of babel-standalone unrelated to the PR that was merged above cc @existentialism

[2020-05-27 16:41] epihel opened #11632 "@babel/plugin-proposal-class-properties Can't Be Installed after 7.10.0 Upgrade"
Since yesterday (26 May 2020), when many babel modules were upgraded to **7.10.0**, trying to install _any_ version of @babel/plugin-proposal-class-properties via `npm install` (latest is **7.8.3**) fails with messages such as:

`No matching version found for @babel/helper-member-expression-to-functions@^7.10.0`

This configuration in `package.json` works, as long as I don't include `@babel/plugin

[2020-05-27 17:31] nicolo-ribaudo commented on #11632
Please see https://gist.github.com/hzoo/df94af2d2ec48696e683b772c775aa67 (GitHub should have shown you this link when clicking on "new issue").

npm link of that package: https://www.npmjs.com/package/@babel/helper-member-expression-to-functions

[2020-05-27 17:31] #11632 closed

[2020-05-27 19:36] nicolo-ribaudo commented on #11622
This code works with 7.9 but not with 7.10:
[code]

[2020-05-27 20:02] epihel commented on #11632
@nicolo-ribaudo Yes; you're right. The problem was with my company's Nexus cache. Once we cleared the cache, everything installed.

[2020-05-27 22:19] nicolo-ribaudo commented on #11614
Both of them use Babel under the hood, so lets keep this open.

[2020-05-28 04:49] gandatandya opened #11636 "Babel works locally but fails on GitLab CI"
Hello, I am using Serverless Framework and GitLab CI to deploy my react-app

I am able to build deploy from my machine, but when setting it up on GitLab CI, I got the following error:
'loose' mode configuration must be the same for both @babel/plugin-proposal-class-properties and @babel/plugin-proposal-private-methods

This error does not appear on my local machine, so I am not sure what's going o

[2020-05-28 13:14] umer310 opened #11638 "Module build failed"
Hash: 226316e2f827f75e552a
Version: webpack 4.43.0
Time: 859ms
Built at: 05/28/2020 6:11:32 PM
       Asset      Size  Chunks             Chunk Names
  index.html  17.7 KiB          [emitted]
js/bundle.js   483 KiB    main  [emitted]  main
Entrypoint main = js/bundle.js
[0] multi babel-polyfill ./src/js/index.js 40 bytes {main} [built]
[./node_modules/webpack/buildin/global.js] (webpack)/buildin/g

[2020-05-28 13:16] existentialism commented on #11638
😀

[2020-05-28 15:23] JLHwung commented on #11636
Duplicate of #11622

[2020-05-28 15:23] #11636 closed

[2020-05-28 18:35] #11628 closed

[2020-05-28 19:05] gandatandya commented on #11622
@JLHwung, is this the same issue?
The weird thing I am seeing is that, it works on my local machine, but it shows the above error when I am running it in GitLab CI

I also don't have plugin-proposal-private-methods anywhere in package.json, so I am not sure which babel package depends on it.

Here is my package.json
`
"devDependencies": { "@babel/core": "^7.6.4",
"@babel/plugin-proposal-class-prop

[2020-05-28 19:52] nicolo-ribaudo commented on #11622
`transform-react-jsx` and `proposal-class-properties` are already enabled by the preset you are using: you can safely remove them.

Could you share your lockfile (`yarn.lock` or `package-lock.json`) in a gist?

[2020-05-28 20:21] char0n commented on #8962
@Hotell IMHO that is already supported, if I understand correctly what you meant.

`.babelrc`
[code]

And I have an `index.js` file I want to run in node that requires `index.ts` file.

[code]
In order to run it i run:
[code]
Closes `.babelrc` with `node` env will be used for transpilation.

[2020-05-28 20:51] gandatandya commented on #11622
Attached is the package-lock.json
[package-lock.txt](https://github.com/babel/babel/files/4698202/package-lock.txt)

[2020-05-28 21:59] nicolo-ribaudo commented on #11622
Ok, I think that the problem is that Parcel is bringing in `@babel/preset-env`, which is bringing in the `private-methods` plugin causing the bug tracked in this issue.
You can't reproduce it locally because your lockfile contains `preset-env@7.9.0`, but for some reasons Gitlab CI is ignoring the lockfile and downloading version 7.10.0.

You can workaround this Babel bug (until it's fixed) by usin

[2020-05-28 22:51] gandatandya commented on #11622
@nicolo-ribaudo your suggestion works. Thanks for the help!

[2020-05-29 10:15] BenGale commented on #5261
Am I correct in understanding this is the expected behaviour? That in the config that option only half works, and that you need to pass it to the cli if you want to use the 'true' option?

This seems like an unusual decision...

[2020-05-29 10:46] rhpijnacker commented on #5261
Well... not expected by any of the users, but apparently so by the authors ;)

[2020-05-29 16:58] Petercopter commented on #11614
Same problem here in a vue-jest stack. The error surfaces when trying to upgrade from `jest 25.4.0` to `25.5.4` or `26.0.1`.

[2020-05-29 17:36] bmaehr opened #11644 "7.10 breaks PhantomJS"
## Bug Report

**Current behavior**
The (automatic) update of babel for 7.9 to 7.10 breaks PhantomJS.

**Possible Solution**
Adding this to package.json fixed it until the next updates form other babel submodules broke it again.
[code]

[2020-05-29 17:39] kaicataldo commented on #11644
Can you share more details about what's breaking? Error messages, stack traces, description of the expected/actual behavior would be very helpful!

[2020-05-29 17:49] bmaehr commented on #11644
There is no good stacktrace for finding the problem.

First it was:
[code]

Now it is
[code]

[2020-05-29 18:20] existentialism commented on #11644
@bmaehr you'll want to update `ember-cli-babel`, check out the recent bug fix releases: https://github.com/babel/ember-cli-babel/releases

[2020-05-29 18:23] bmaehr commented on #11644
If you tell me how, perhaps ;-)

[2020-05-29 18:24] bmaehr commented on #11644
I will try 7.21, I'm on 7.19

[2020-05-29 18:25] existentialism commented on #11644
Ref: https://github.com/babel/ember-cli-babel/issues/342

[2020-05-29 20:33] JLHwung opened #11646 "Babel should transform class private properties mixed with logical assignment operators"
## Bug Report

This is a good first issue for first-time Babel contributors.

**Current behavior**
A clear and concise description of the behavior.

- [Codesandbox](https://codesandbox.io/s/admiring-shape-r8657)

throws
[code]

**Input Code**

[code]

**Expected behavior**
It should be transpiled successfully

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .esli

[2020-05-29 20:57] nicolo-ribaudo commented on #10008
I'm closing this issue since we have released [`babel-polyfills`](https://github.com/babel/babel-polyfills)!
We have decided not to implement `@babel/runtime`-like helpers support in `@babel/preset-env` since it wouldn't have reduced much the time needed to release it.

If there is anythig more to discuss, please open an issue there 😉

[2020-05-29 21:00] jridgewell commented on #11646
Specifically, this needs to be handled in https://github.com/babel/babel/blob/5b24d798758a9ad1f5aa383d1e83869ae7964ab1/packages/babel-helper-member-expression-to-functions/src/index.js#L287-L313

[2020-05-29 21:02] nicolo-ribaudo commented on #3934
This is now supported in the new [`babel-polyfills`](https://github.com/babel/babel-polyfills) repository. You can configure Babel like this:

[code]

Or, if you need more advanced filters, you can use the [`shouldInjectPolyfill`](https://github.com/babel/babel-polyfills/blob/master/docs/usage.md#shouldinjectpolyfill) option.

[2020-05-29 21:02] #3934 closed

[2020-05-29 21:06] nicolo-ribaudo commented on #6629
This has been implemented in the [`babel-polyfills`](https://github.com/babel/babel-polyfills) repository.

You can now install `babel-plugin-polyfill-corejs3` (or any other polyfill provider), and configure it like this:
[code]

[2020-05-29 21:06] #6629 closed

[2020-05-29 21:09] nicolo-ribaudo commented on #11614
Do you have a repository where I can reproduce the issue?

cc @jeysal This _might_ be related to the Babel changes in Jest 25.5.0 (https://github.com/facebook/jest/pull/9806)

[2020-05-29 23:57] ryzokuken commented on #11646
Can I give this a shot? :smile:

[2020-05-30 01:03] existentialism commented on #11646
@ryzokuken it's yours!

[2020-05-30 01:15] bmaehr commented on #11644
7.20.3 didn't solve it.

[2020-05-30 01:16] bmaehr commented on #11644
By reverting all bable dependencies I was able to work around the problem:
[code]
Now everything works again.

[2020-05-30 01:20] existentialism commented on #11644
Noticed you have `babel-plugin-ember-modules-api-polyfill` resolved at 2.13.0... bumping `ember-cli-babel` to 7.20.3 isn't enough as it depends on an updated version of `babel-plugin-ember-modules-api-polyfill` -> https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill/releases

[2020-05-30 14:06] thasmo opened #11651 "@babel/preset-env does not use .browserslistrc config file at all"
## Bug Report

**Current behavior**
Using the mentioned babel config it seems that `@babel/preset-env` does not use the `.browserslistrc` config file at all. When defining the `targets` option manually, it works as expected.

**babel.config.js**

[code]

**Expected behavior**
`@babel/preset-env` should respect the settings defined in the `.browserslistrc` file.

**Debug Output**
[code]

**Environm

[2020-05-30 14:15] thasmo commented on #11442
I've got a similar issue in #11651 but it is not related to `node_modules`.

[2020-05-30 14:17] jeysal commented on #11614
Quite possibly, yeah. Although we don't do a lot of magic there any more, so also quite possible that it's something to be fixed in istanbul. Repro would be good to see what value they try to turn into a node. Also, that error message in `valueToNode` should *definitely* print the value :sweat_smile:

[2020-05-30 14:55] existentialism commented on #11651
@thasmo can you create a small repo that reproduces the problem?

[2020-05-30 15:19] thasmo commented on #11651
Hey! I've figured out what's going right at this very moment. Two things in combination really tripped me up.

First, the `babel-loader` cache is not invalidated when the `.browserslistrc` file contents are changed, so my `.browserslistrc` configuration was cached and not updated.

Second, I've used the query `chrome >= 82` in the `.browserslistrc` file exclusively to test this, but somehow `brows

[2020-05-30 15:19] #11651 closed

[2020-05-30 15:23] existentialism commented on #11651
@thasmo 👍

[2020-05-30 20:38] #11414 closed

[2020-05-31 05:30] SaekiRaku commented on #11543
Hi, @xtuc I have a use-case for now.

I'm writing a program that needs to deal with the React + JSX files, I want to use `@babel/core` to transform the code string to AST. But `Deno` can only import ES Modules and `@babel/core` provides a CommonJS module for now.

I'm not sure how complex that make babel support Deno, I'm no pro at it. In my case, I think if `@babel/core` only deal with code strin

[2020-05-31 22:10] jeysal commented on #11614
There's also a similar issue on Jest https://github.com/facebook/jest/issues/10089

[2020-06-01 03:02] benmccann commented on #11356
Is there anyway to turn off just this feature without enabling `loose`? It's causing a 10x slowdown on our library overall, but our code breaks with `loose`

[2020-06-01 04:33] NE-SmallTown commented on #11515
Thanks, it's more clear now!

The second question has beeen refered to https://github.com/zloirock/core-js/issues/833

[2020-06-01 04:33] #11515 closed

[2020-06-01 10:16] jridgewell commented on #11356
You could delete `Reflect.construct`, which should bring it back to almost 7.8's speed.

Or, we may be able to add an explicit option to the transorm?

[2020-06-01 14:25] #10802 closed

[2020-06-01 18:35] untitledlt opened #11656 "Function with destructuring assignment breaks react dev build"
## Bug Report
Tested on clean `create-react-app` install.
This function in any component file breaks React app:

[code]

**Current behavior**
[code]

if I change `set` to anything else, everything works fine.

**Input Code**

[code]

**Expected behavior**
Should transpile without errors.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
Clean, not eje

[2020-06-01 19:03] JLHwung commented on #11656
The error is not thrown from babel but from acorn, which is used by Webpack to parser `src/App.js`.

I can confirm on astexplorer.net that Acorn 7.1.1 fails on the following snippet

[code]
Please file an issue to https://github.com/acornjs/acorn.

[2020-06-01 19:03] #11656 closed

[2020-06-01 19:39] JLHwung commented on #11614
Can you edit your `node_modules/istanbul-lib-instrument/dist/visitor.js` and add
[code]
after
https://github.com/istanbuljs/istanbuljs/blob/1b52fe750d1f800c34dbff168614c0c73bd76026/packages/istanbul-lib-instrument/src/visitor.js#L628

The error is thrown because `_.isPlainObject(coverageData)` returns `false`, which seems more like an issue of `istanbul-lib-instrument`.

[2020-06-01 20:01] nicolo-ribaudo commented on #11356
I'd be ok with a `assumeNoExtendNative` option to the classes plugin.

[2020-06-01 20:13] JLHwung commented on #11607
This issue is related to https://github.com/airbnb/babel-plugin-dynamic-import-node/issues/88. However I can not reproduce this issue in a fresh created CRA apps.

You can try to pin `babel-plugin-dynamic-import-node` to version 2.3.0, but IMO it should not be enabled at all given default react app build configs.

Can you offer a reproduction repo?

[2020-06-01 21:17] JLHwung opened #11657 "Babel should transform `delete obj?.#x.a`"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](https://babeljs.io/repl#?browsers=chrome%2080&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEDC0G8BQ1oQC5nQS2NAxAB7QC806AFthANwpqY57oCmGAFAJSL2oAmLEC1bQA9gCMAVgH4AdEVkA7UYpaFqrRejqoAvkl1A&debug=false&forceAllTransforms=false&shippedProposals=true&circ

[2020-06-01 22:23] samstickland commented on #11614
@JLHwung Hi, your change results in the following:

[code]

[2020-06-02 00:53] alexwasner opened #11659 "Cannot convert undefined or null to object"
## Bug Report

**Current behavior**
After upgrading to React Native `0.63.0-rc.1`, all my tests started failing with the error `Cannot convert undefined or null to object at assign`. I upgraded from `0.62.2` who's diff can be found [here](https://react-native-community.github.io/upgrade-helper/)

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=

[2020-06-02 08:46] c-frater commented on #11622
It seems this may have regressed between 7.10.1 and 7.10.2, seeing the same error with no change in config

### Error
[code]

### Attempted fixes
Tried suggested change (setting `loose` explicitly, both for `@babel/env` and the actual packages explicitly)

### Versions with error
[code]

### Workaround
Downgrade all three packages to `7.10.1`

### babel.config.js
[code]

### Other notable dependen

[2020-06-02 09:56] pyrsmk commented on #10696
@nicolo-ribaudo Sorry, but I feel kinda shocked that we have to adapt the code of our library for the plugin to work as expected...

[2020-06-02 10:51] zuffik opened #11660 "Swift like implicit member expression"
## Feature Request

Has anyone been working with swift programming language? It has a cool feature called [implicit member expression](https://docs.swift.org/swift-book/ReferenceManual/Expressions.html#grammar_implicit-member-expression) which could be very useful in some cases (of course there is more than this, but this feature may come in handy).

- [ ] I would like to work on this feature!

**

[2020-06-02 12:43] JLHwung commented on #11614
@samstickland Okay, it seems it is indeed an Object, can you add more debugging output?

[code]

[2020-06-02 13:30] Enase opened #11661 "Cannot import module with babel ^7.10"
## Bug Report

Cannot import `aws-amplify` npm after update to babel 7.10.

All the details and how to reproduce you can find [here](https://github.com/Enase/babel-issue)

**Steps to reproduce:**

1. Run `git clone https://github.com/Enase/babel-issue.git`
2. Run `npm i` in project root
3. Run `npm run start` in project root
4. Open `http://localhost:3000` in browser

**Expected result:**

`Hello`

[2020-06-02 16:57] alexwasner commented on #11659
Opened a ticket with [@testing-library](https://github.com/testing-library/native-testing-library/issues/126)

[2020-06-02 16:57] #11659 closed

[2020-06-02 17:48] marco-a opened #11663 "Add option to embed entire @babel/runtime"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem?**
This is a feature requested based on [this](https://github.com/babel/babel/discussions/11611#discussioncomment-19405) issue.
I would like babel to have an option to embed the entire `@babel/runtime` in the transpiled code so no external dependencies are needed to run the code.
It is p

[2020-06-02 20:32] nicolo-ribaudo commented on #11663
This is specifically for `regenerator-runtime`, everything else can be embedded just be removing the plugin. I think this should be moved to https://github.com/facebook/regenerator

[2020-06-03 00:17] guybedford opened #11665 ""export default from" identifier not supported"
## Bug Report

**Current behavior**
A clear and concise description of the behavior.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

[code]

**Expected behavior**

The above is a valid ES module and will execute in browsers, but throw when parsed by Babylon.

- Babel version(s): [e.g. v6.0

[2020-06-03 00:57] eiji03aero commented on #11646
@ryzokuken
Hi, I was wondering if you are still working on this?

[2020-06-03 06:02] ryzokuken commented on #11646
Hi @eiji03aero. It's a rather busy week, but I do infact intent to work on the PR.

[2020-06-03 06:04] srdjanRakic commented on #11622
Still does not work with Storybook.

[2020-06-03 07:48] eiji03aero commented on #11646
@ryzokuken
aye aye noted

[2020-06-03 10:55] nicolo-ribaudo commented on #11661
This is an Amplify bug:
- [This file](https://github.com/aws-amplify/amplify-js/blob/1123cef546e906ba1beecedecdc60b3844f38297/packages/api/src/API.ts#L19) imports `{ Amplify }` from `@aws-amplify/core`
- That package [doesn't specify](https://github.com/aws-amplify/amplify-js/blob/1123cef546e906ba1beecedecdc60b3844f38297/packages/api/package.json#L40) the version of `@aws-amplify/core` it depends

[2020-06-03 10:55] #11661 closed

[2020-06-03 11:24] Enase commented on #11661
Thanks a lot!

[2020-06-03 11:56] nicolo-ribaudo commented on #11622
Could you share your lockfile?

[2020-06-03 16:34] JLHwung commented on #11660
Hi @zuffik!

Thanks for the report. It seems to me that you are discussing a potential language feature. The babel team currently considers only implementing ECMAScript proposals, so it is a bit out of our scope. Can you post at https://es.discourse.group/? There are more language folks out there.

[2020-06-03 17:32] self-coding-crab opened #11667 "Uncaught ReferenceError: _asyncToGenerator is not defined"
Hi gents.

I am trying to build my react app which is running perfectly via 'npm start'.
Once I build, it shows such issue "Uncaught ReferenceError: _asyncToGenerator is not defined"

I did research on google and mostly they are saying it's related to babel-polyfill or transform-runtime.
Here's my babalrc

`{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-r

[2020-06-03 18:25] self-coding-crab commented on #11667
@nicolo-ribaudo Thanks for your reply. What do you mean by input code?

[2020-06-03 18:25] nicolo-ribaudo commented on #11667
The code in your app that Babel compiles to the one you posted

[2020-06-03 18:26] self-coding-crab commented on #11667
async function build(wasmInitialMemory = 5000) {
    const groth16 = new Groth16();

    groth16.q = bigInt("21888242871839275222246405745257275088696311157297823662689037894645226208583");
    groth16.r = bigInt("21888242871839275222246405745257275088548364400416034343698204186575808495617");
    groth16.n64 = Math.floor((groth16.q.minus(1).bitLength() - 1)/64) +1;
    groth16.n32 = groth16.n64*2

[2020-06-03 20:21] marco-a commented on #11663
Why should this be moved to `regenerator-runtime`?

I'm not familiar with the babel code base but it seems that this could be accomplished within the plugin pretty easily?

If I'm correct then this code is responsible for injecting the `runtime-generator` dependency:

[code]

[2020-06-03 21:35] rwjblue commented on #11644
FWIW, we (ember-cli team) think we have resolved the issues in the latest versions of ember-cli-babel (7.20.5) and babel-plugin-ember-modules-api-polyfill (2.13.4).

@bmaehr - Mind trying again with those versions (without resolutions)?

[2020-06-03 23:16] bmaehr commented on #11644
One of the applications is running at least locally with the new version, at the other one I have now a new problem, which I think is not related to this issue, but because of the updated babel versions.

[code]

So I can't really test it with the second application.

[2020-06-04 05:21] c-frater commented on #11622
After a _lot_ of debugging, we found that simply adding the plugins (without options) seems to work.

[code]

We don't use the plugins directly in our app but it seems they're included in `env`. Without them listed in `plugins` it fails, listing them with `loose: true` also fails so I can only assume that the 'default' doesn't trigger the warning

I'll try and upload the lockfile with the business

[2020-06-04 07:10] nicolo-ribaudo commented on #11644
That error is about Babel 6 plugins, which shouldn't be used with Babel 7

[2020-06-04 10:54] kinjalparmar commented on #11216
For me it simply worked by doing :
**npm i @babel/helper-compilation-targets**

[2020-06-04 12:09] luke-john commented on #11543
@SaekiRaku, just a note, I was able to use babel/core via jspm in deno, it works, but you don't have any typesafety.

[code]

[2020-06-04 16:28] JLHwung commented on #11665
Duplicate of #7293

[2020-06-04 16:28] #11665 closed

[2020-06-04 18:17] bmaehr commented on #11644
Works also on CI system.

[2020-06-04 18:17] #11644 closed

[2020-06-04 18:22] existentialism commented on #11644
@bmaehr glad you got it working!

[2020-06-04 21:55] JLHwung commented on #11665
FYI this will be fixed in #11676.

[2020-06-05 06:16] githoniel commented on #10904
when will this release? use 8.x babel-eslint will result in other bugs...

[2020-06-05 10:05] PedroLamas opened #11678 "Pre-formatted text loses line breaks"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

Text inside a `<pre>` block is loosing formatting when the block is converted to `React.createElement` function call.

- [REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=DwBwTgpgfAUANgSwHYQAQEZ7LQJhsAenGiA&debug=false&forceAllTra

[2020-06-05 10:14] PedroLamas commented on #11678
It seems `<code>` tag is also affected by this problem!

https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=DwYw9gJgpgfAUAGwJYDsoAICMjUYExzAD040MQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%

[2020-06-05 10:29] viktor-yakubiv commented on #11678
JSX supposed to work so. For any element, all spaces including newlines are replaced by a single line. I think is was desired behaviour by design.

If you pass `<pre>{'line1\nline2'}</pre>` to Babel, it will apprear as expected.

The problem here is that markdown including **MDX should be treated as HTML** at first and as JSX at second. Saying that I mean everything inside lowercased tags (which s

[2020-06-05 10:38] PedroLamas commented on #11678
Ah, I do see your point @viktor-yakubiv (especially after reading [this](https://reactjs.org/docs/jsx-in-depth.html#string-literals-1))

My interpretation was on the basis that HTML inside an markdown (.md file) file is maintained, but the same is not accurate for MDX (.mdx file) as the HTML is treated as JSX (so lines are collapsed and replaced with single space)

[2020-06-05 10:40] PedroLamas commented on #11678
Closing this issue as it does make sense from a JSX perspective to have the current behavior.

[2020-06-05 10:40] #11678 closed

[2020-06-05 12:36] boardend commented on #8932
Maybe someone finds this workaround useful: I was able to "forcefully" inject a list of polyfills with a custom "polyfillInjector"-plugin embedded in babel.con.js:

[code]

[2020-06-05 12:49] NineDayForever opened #11679 "object rest spread order wrong in safari"
## Bug Report

**Current behavior**
In safari (mac or iphone) the secend param of _objectSpread made key sort error

**source code**
https://github.com/babel/babel/blob/93978267ecadbbac0a71589bcbd23bc87f9d1038/packages/babel-helpers/src/helpers.js#L442
The "else if" make sort error of the key

**Input Code**

[code]

**Environment**

[code]

[2020-06-05 13:39] noticemediatech opened #11680 "Issue using Typescript modules"
## Bug Report
I'm moving a small codebase from a loose Typescript/JS hybrid using Webpack/ts-loader to strict TS with Webpack/Babel and am encountering compile issues trying to use modules to organise my code.

**Current behavior**
At compile time I get:

[code]
but nowhere in the codebase am I using namespaces.

**Input Code**

[code]

**Expected behavior**
The code compiles.

**Additional Inform

[2020-06-05 13:42] #11680 closed

[2020-06-05 13:43] ollynotice opened #11681 "Issue using typescript modules."
## Bug Report
I'm moving a small codebase from a loose Typescript/JS hybrid using Webpack/ts-loader to strict TS with Webpack/Babel and am encountering compile issues trying to use modules to organise my code.

**Current behavior**
At compile time I get:

[code]
but nowhere in the codebase am I using namespaces.

**Input Code**

[code]

**Expected behavior**
The code compiles.

**Additional Inform

[2020-06-05 13:44] noticemediatech commented on #11680
Sorry opened this logged into the wrong account! Closing.

[2020-06-05 14:08] #7293 closed

[2020-06-05 14:50] dmnsgn commented on #11679
This is actually a webkit bug. See https://bugs.webkit.org/show_bug.cgi?id=202139 .

[2020-06-05 16:14] JLHwung commented on #11679
Closing this issue as the current behaviour matches spec.

[2020-06-05 16:14] #11679 closed

[2020-06-05 17:35] gndelia opened #11683 "Transforming spread of Array(number) makes code not iterable"
## Bug Report

**Current behavior**
The following code

[code]

gets transpiled into

[code]

However, when running in a console, the first snippet returns an array with numeric values as expected `[0, 1]`

![image](https://user-images.githubusercontent.com/352474/83905659-70c22400-a738-11ea-80dd-c4224722ec5b.png)

but the second returns an array of `empty` which is not iterable, even though it ha

[2020-06-05 18:04] jessethomson opened #11684 "Add React.createContext to @babel/plugin-transform-react-pure-annotations"
## Feature Request

- [x] I would like to work on this feature!
(I don't actually care who works on this, but I'm happy to do it. Whatever is easier.)

**Is your feature request related to a problem?**

I have a React component library. When consuming applications use the library, a bunch of React.createContext calls are added to the bundle for components that aren't even being used. This shouldn'

[2020-06-05 18:31] jessethomson commented on #11684
Created a PR for this: https://github.com/babel/babel/pull/11685

[2020-06-05 18:42] oliverdunk commented on #11683
Easily able to reproduce this by opening the REPL.

I'm not sure if it's fair to say that `Array(2)` produces an array of empty which isn't iterable? I think it would be more correct to say that it's iterable, but no values are produced when iterating over it?

[The docs](https://babeljs.io/docs/en/babel-plugin-transform-spread) for loose mode currently say this:

We are working on an array, so ba

[2020-06-05 19:43] noahnu opened #11686 "Transform React Constant Elements incorrectly orders variable declaration in respect to reference"
## Bug Report

**Current behavior**

- [REPL](https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=true&loose=false&code_lz=GYVwdgxgLglg9mABHEUCmAnAFAQwwcwEpEBvAKEUQgQGcpEA3HAGxDQCFEBeRMEZ5gG4KVWvSas0AQW6kAvsJGhIsBIhhgwmLMXKV9osDTjM0AOmZx8WEQYMAeGQGs0ATylcSEtlLkA-Wzsg-04XV3ZPbw5_QKC4xHsAYUQwxM88fDlEAHoA-ODs9jz8-2ypPwAaWMRCETkyEQ0tbEJheqA&debug=false&forceAllTransforms=false&shippedProp

[2020-06-05 19:44] nicolo-ribaudo commented on #11683
I'd just update the docs. Using array with holes is not that common, so I'd be ok with asking not to enable loose mode if you need holes to work.

[2020-06-05 20:31] Pyrolistical commented on #10879
I think I know why the `_ref` just disappears. I linked https://github.com/storybookjs/storybook/issues/11060 which revealed the `_ref` was being shoved into an import statement resulting in invalid code. I then subsequent transform from es modules to requires drops the invalid code.

[2020-06-05 22:10] oliverdunk commented on #11683
I've opened a PR to update the docs: https://github.com/babel/website/pull/2270

[2020-06-05 22:29] #11683 closed

[2020-06-05 22:44] oliverdunk commented on #11681
I reproduced this in a [repl](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=usage&spec=true&loose=true&code_lz=LYewJgrgNgpgBAQTAZxgO1QYRMUa4DeAUHKXDAB4AOIATgC5wBmEaAxvQJYj5QgCGYJKgwwAFAEcIMWgE8AXHGT1anNAHMANHDYALfmjQwoi5ao3bB2VvUVoIwAEYztbHvX5qZplWvUBKQhIyUmDSAF8iSMoaBjgwGCZ-aEZhdCwcPABuIA&debug=false&forceAllTransforms=false&shippedProposals=

[2020-06-06 11:29] nicolo-ribaudo commented on #11681
Yes, you should enable the `allowNamespaces` option: since it's impossible for us to correctly implement namespaces correctly (see the link at https://github.com/babel/babel/issues/11681#issuecomment-639875174), we have decided not to enable them by default.

Also, it seems like `namespaces` not being enabled by default is not "a big loss" according to the TS team (https://github.com/facebook/crea

[2020-06-06 11:29] #11681 closed

[2020-06-07 16:26] dairotenorio commented on #9849
Thank you, this worked for me

[2020-06-07 19:41] nicolo-ribaudo commented on #11667
@self-coding-crab I tried compiling that code with that config but I couldn't reproduce the bug :thinking:

Additionally, `.babalrc` isn't applied to `node_modules` when using `@babel/core` 7, so I don't even understand how it's possible that it is compiling `node_modules/websnark/src/groth16.js`.

[2020-06-08 00:51] abugi commented on #11216
Works 100%

[2020-06-08 05:53] pingyen opened #11690 "Incorrect switch break logic"
## Bug Report

Switch break does not work.

Babel **ES2015 Preset** puts "break" in another "switch", so the original "switch" is not "break", and the logic is wrong.

The issue can reproduce on [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQMwrgdgxgLglgewsOMCmBbAzgGgARwCUeA3gFB55RJYx4A2aEeAvAetgHSMQDmMACwDcZCnhAIATnmBCCeADwMmcgNSqipMZWoRa7TKwPYA2n

[2020-06-08 08:19] ollynotice commented on #11681
Thanks both of you, really appreciate the help and guidance (and links). I had my wires crossed about the need to specify `module` for the contents of a file to be a valid module.

[2020-06-08 10:28] breuerfelix opened #11691 "Babel Standalone Typescript Preset allExtensions not working"
## Bug Report

**Input Code**

[code]

[code]

I get the error:
[code]
from message.ts.js

**Expected behavior**
This should work since allExtensions should parse any file as a Typescript File.

Or am i missing something here ? Documentation says:
[code]

[2020-06-08 12:57] sowinski opened #11692 "Error: Unknown option: .useBuiltIns"
I am trying to turn on the "useBuiltIns" option within my package.json

[code]
During the build process I got this error:
**Error: Unknown option: .useBuiltIns. Check out https://babeljs.io/docs/en/babel-core/#options for more information about options.**

It seems like it is wrong documented or a bug.

According to the docs there is an option. "useBuiltins" available (https://babeljs.io/docs/en/b

[2020-06-08 13:08] kheengz commented on #9849
### Babel 7 Users

I had some trouble getting around this since most information was for prior babel versions. For Babel 7, install these two dependencies:

[code]

And, in .babelrc, add:

[code]

[2020-06-08 13:11] existentialism commented on #11692
@sowinski

Couple things, you can't mix v6 and v7 dependencies, so I'd recommend replacing `babel@6.23.0` with `@babel/core@7.10.2`.

Next, you'll want to tell the config to use `preset-env`:

[code]

Check out the [preset options](https://babeljs.io/docs/en/presets#preset-options) in our docs for more information.

[2020-06-08 13:13] sowinski commented on #11692
1) Can you tell me in which file I have to copy this?
2) Do you have a full example of a configuration?

[2020-06-08 13:20] mi-ac opened #11693 "Babel traverse hangs on willIMaybeExecuteBefore after v7.6.0"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

- Execute

[code]
- Hangs.

**Expected behavior**

- Change package.json and set version of babel-traverse to 7.5.5. Execute:

[code]
- Runs fast.

**Additional context**
- Guess the change is one of:
* 5fb4d84a3 2019-08-01 | perf: always return `void 0` as undefined node (#10243) [Huáng Jùnliàng]
* 3e4a9d588 2019-08-01 | D

[2020-06-08 13:24] existentialism commented on #11692
@sowinski you'll want to edit the "babel" section of your package.json that you posted above

[2020-06-08 13:40] mi-ac commented on #11693
@nicolo-ribaudo is this possibly from https://github.com/babel/babel/pull/9498 ?

[2020-06-08 13:42] tianzzq0 commented on #11606
Thanks a lot, I didn't see the babel-loader in the `babel-core` chapter, so I mistakenly thought that it could be used directly in `webpack`.

[2020-06-08 13:48] sowinski commented on #11692
@existentialism Thank you so much for the fast response! Now all the docs make totally sense to me!

I don't get any error anymore. But I actually wanted to pollyfill Promises for IE11 with this option.

I tried "useBuiltIns": "usage" and "entry" but this is not helping.
1) I guess I have to Specifiy also some targets for babel?

BTW, this is my webpack config.
[code]

[2020-06-08 14:26] sowinski commented on #11692
According to the docs I just need to add
[code]
into my package.json and "useBuiltIns": "usage" to add the Polyfills automatically. Do I miss here something?

[code]

[2020-06-08 18:44] chichke opened #11694 "How to correctly remove Flow types in a React Native Web project?"
## Bug Report

**Current behavior**
I was trying to startup a [react-native-web](https://github.com/necolas/react-native-web) project and when i try to add [React Navigation 5](https://reactnavigation.org/docs/web-support/)
I did try every solution on the web and nothing did work for me...

[code]

**Expected behavior**
Building 😆

**Babel Configuration**
- Filename: `babel.config.js`

[code]

⚠️

[2020-06-08 19:08] nicolo-ribaudo commented on #11692
Does the Promise come from your own code or from a dependency?

[2020-06-08 19:55] existentialism commented on #11694
@chichke your babel config doesn't look right:

[code]

`plugins` should be the same level as `presets`, not an item within it.

[2020-06-08 20:02] JLHwung commented on #11694
It seems to me that your project is created from `create-react-app` but you are using react native library.

As is recommended on https://github.com/facebook/create-react-app#react-native, please use `Expo CLI` to initialize your project.

As @existentialism mentioned above, there are also issues in your config file. But I think if you never run `npm run eject`, these config is no-op.

TL;DR

The

[2020-06-08 21:26] sowinski commented on #11692
It is coming from my dependencies.

[2020-06-08 22:14] existentialism commented on #11692
@sowinski note you're passing babel options both in your webpack babel-loader config _and_ via package.json, you might want to just do it once

[2020-06-09 02:36] AjayPoshak commented on #11272
@JLHwung I would like to take it up.

[2020-06-09 06:16] reznord commented on #11272
Hey sorry @JLHwung, I can't pick this up right now. Dealing with some personal issues.

Apologies for not getting back on this issue.

[2020-06-09 16:49] Pyrolistical commented on #10879
should be fixed by https://github.com/storybookjs/storybook/pull/11086

[2020-06-09 21:13] wlawt commented on #11272
hi @jridgewell ! Is the `init` being referred to the one in the helper-member-expression-to-functions file? thanks!

[2020-06-09 21:21] JLHwung commented on #11272
@wlawt Yep we should check such patterns in https://github.com/babel/babel/blob/36f9798f429d596c0f1efaf09570cd5396f37bd3/packages/babel-helper-member-expression-to-functions/src/index.js#L339-L355

[2020-06-09 21:21] JoshRobertson commented on #11622
We're experiencing this failure on our Storybook build, but not our main Webpack build (and they use the same babel.config.js file).  Ultimately the "fix" was deleting and recreating the yarn.lock.

[2020-06-09 21:23] overlookmotel commented on #11313
Sorry to ask this here, but I'm finding it really hard to locate documentation...

Is there an `is...()` method to determine if an identifier is being used as a variable? (either for evaluation or assignment)

I had assumed this is what `isReferenced()` did, but it seems not.

i.e. for the identifier `a` this method would return:

[code]

If there is a good place to find documentation for the API,

[2020-06-09 21:26] mischnic commented on #11313
isReferenced seems to work as expected?
https://astexplorer.net/#/gist/ad80f703aeeb6000eae28cf6bfcbe5a0/0e3b738842032410b7aa52c38da24c42faf0a731

[2020-06-09 21:42] jackHedaya opened #11699 "Comparison to multiple values syntactic sugar"
## Feature Request

Comparison to multiple values syntactic sugar.

- [x] I would like to work on this feature! (Very limited experience working with babel though)

**Describe alternatives you've considered**.

this is already possible in js using `(variable === val1 || variable === val2 ...)`

**Documentation, Adoption, Migration Strategy**
If you can, explain how users will be able to use this a

[2020-06-09 21:52] wlawt commented on #11272
ok, just to clarify we want to check for/add more patterns to resolve this `["VariableDeclaration","LVal"]` from being called the wrong type?

[2020-06-09 22:10] overlookmotel commented on #11313
Thanks very much @mischnic for such a speedy response.

I forgot another case, which doesn't perform as I'd expected.

[code]

(`a` here is used as an variable name)

But OK, I understand the method doesn't do what I expected. I'll not clog up this issue further. Thanks for your help.

[2020-06-09 22:15] mischnic commented on #11313
that's per definition `false`: 🤷‍♂️
https://github.com/babel/babel/blob/36f9798f429d596c0f1efaf09570cd5396f37bd3/packages/babel-types/src/validators/isReferenced.js#L85-L88

[2020-06-09 22:26] JLHwung commented on #11699
Hi @jackHedaya,

Thanks for the post. It seems to me that you are discussing a potential ECMAScript language feature. The Babel team currently considers ECMAScript proposals only, so it is out of our project scope. Can you post at https://es.discourse.group/? There are more language folks out there.

[2020-06-09 22:26] #11699 closed

[2020-06-09 22:27] jackHedaya commented on #11699
@JLHwung Got it, thanks!

[2020-06-09 23:06] JLHwung commented on #11272
@wlawt I am not sure I can follow the context of `["VariableDeclaration","LVal"]`. Are you referring to definitions in the `@babel/types`?

The check I mentioned above detects patterns like `// { KEY: MEMBER } = OBJ`, etc, where the `path` refers to `MEMBER` and `parentPath` refers to the `{ KEY: MEMBER }`. We are now going to support `for ( MEMBER of ARR)`, you can check if the `parentPath` is a

[2020-06-09 23:32] connorjclark opened #11700 "preset-env core-js 3 includes extra polyfills"
## Bug Report

https://codesandbox.io/s/nice-driscoll-w8g9t?file=/src/index.js

**Input Code**

[code]

The debug output is this:
[code]

17 polyfills are included only because of `{ "edge":"16" }`.

Taking a look at a few of them shows these are mistakes.

String.includes: always been in Edge https://github.com/Fyrd/caniuse/blob/master/features-json/es6-string-includes.json#L39
String.pad: added

[2020-06-10 00:07] developit commented on #11700
(pasting here from side convo)

When you look just at the APIs it polyfilled they do seem odd, but it's because core-js@3 needs to replace any methods that accept a given type in order to fix any single bug in that type.

For example, those string prototype methods are being polyfilled because they accept regular expressions, which don't have the sticky flag in Edge 16. To fix this, they have to r

[2020-06-10 00:08] connorjclark commented on #11700
Thanks for clearing this up.

[2020-06-10 00:08] #11700 closed

[2020-06-10 00:09] hzoo commented on #11700
Just wanted to mention it if you hadn't seen (alternative to core-js would be es-shims or even setting up your own), https://github.com/babel/babel-polyfills and [blog](https://babeljs.io/blog/2020/05/25/7.10.0#new-experimental-polyfills-architecture-10008-https-githubcom-babel-babel-issues-10008-babel-polyfills-https-githubcom-babel-babel-polyfills)

[2020-06-10 07:46] nnmrts commented on #11108
Alright so is there no way to use a dynamic config while also having `"type": "module"` in your package.json?

[2020-06-10 15:30] hzoo opened #11701 "Publish as modules (instead of compiling to cjs)"
## Feature Request

**Is your feature request related to a problem?**

Would like to be able to consume babel packages directly as modules (as they are written), instead of just cjs. (In my case, may want to import Babel itself into something like snowpack/vite which tries to only support esm). This would be for anything trying to use babel for tooling like the repl/etc so not a common usecase.

A

[2020-06-10 20:18] timreichen opened #11705 "config file standardisation"
## Feature Request

- [x] I would like to work on this feature!

**Short context**
I was working with lots of different tools and plugins and observed that a lot of them have different config file specifications, staring with the naming conventions. I could not find anything about this topic and so I wrote a short article [here](https://gist.github.com/timreichen/87a894c94a4c2258b15962d1754e34a8)

[2020-06-11 12:48] Zardddddd60 commented on #9853
@JMarkoski Thank you for your explanation! !

I try to set this option to `true` or a relative path when authoring a library, finding the compiled file importing runtime and polyfill from a path like:
[code]
I don't think this library can be used on other environments.
How to set this `absoluteRuntime` option?

[2020-06-11 14:11] JohnnyFun commented on #11216
I tried deleting my node_modules and package-lock.json, but was still getting the error. I ended up just re-cloning my repo and that worked. So...not sure what was up, but fwiw...

[2020-06-11 20:57] dairyisscary commented on #11622
Just leaving my insight here too. Working off of @JoshRobertson, i found all the packages that inadvertently depended on babel using `yarn why` (I had both direct dependencies and some larger packages like storybook and jest). I removed them then fresh installed them recreating the depedency graph only on these parts of the yarn.lock, rather than the whole thing.

In summary:
`yarn why @babel/core

[2020-06-11 21:11] chrisknoll commented on #10696
Will a fix be provided for this soon?  I am currently using a library (FileSaver.js) where the UMD transform is not working properly (per this issue: https://github.com/eligrey/FileSaver.js/issues/646.  I think the issue in FileSaver.js is simply a matter of an invalid UMD wrapper.  If the babel UMD transform want's to modify an 'exports', the AMD spec supports this by using the patern:
[code]

Ot

[2020-06-11 21:19] chrisknoll commented on #10696
The other solution is to just return the module value. I think setting `exports=xxx` along side a `return xxx` won't impact anything.

[2020-06-11 22:21] mischnic opened #11710 "Transpiling (non-conflicting) namespace reexports emits invalid code"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**

[code]

Namespace reexports are transpiled like this:
[code]

But the spec allows for reexporting a symbol twice in the same file if it is actually the same binding (see example code below).

This means that `Object.defineProperty(exports, "c", ...)` is called twice, causing the error.

One of the packages that do this is `

[2020-06-11 23:04] kaicataldo opened #11711 "@babel/parser: update ESTree plugin to support optional chaining"
## Bug Report

- [x] I would like to work on a fix!

Now that https://github.com/estree/estree/pull/204 has landed, we need to update `@babel/parser`'s ESTree plugin to output a spec-compliant AST for optional chaining nodes.

Initial work to get tests passing (due to Acorn being released with the new syntax) can be seen [here](https://github.com/babel/babel/pull/11709).

[2020-06-12 00:24] mhenriquesa commented on #9849
Thankssss, Mate!! Like a charm

[2020-06-12 06:06] vedantroy opened #11712 "Babel metainterpeter should ignore `as const` when evaluating code at compile time"
## Feature Request
The Babel metainterpreter should ignore typescript types/const assertions.

Example:
[code]

In this scenario, using `path.evaluate()` where `path` is the path of the 2nd `x`, the Babel metainterpreter will work and determine the value of `x`.

However, if we do:
[code]
The babel metainterpeter will fail because of the `as const` assertion. It seems like it would be possible to

[2020-06-12 08:50] georgeshevtsov opened #11713 "Redundant polyfills added for IE11 with useBuiltIns: usage"
## Bug Report
**Current behavior**
Targetting default browsers includes polyfills for IE11 which are useless according to **Can I Use**.
I see these polyfills added

es.array.for-each { "ie":"11" }
web.dom-collections.for-each { "ie":"11" }
es.array.filter { "ie":"11" }
es.array.map { "ie":"11" }
es.array.slice { "ie":"11" }

- [REPL](https://babeljs.io/repl#?browsers=defaults&build=&builtIns=usag

[2020-06-12 11:57] nicolo-ribaudo commented on #11713
Fore core-js 3, we don't maintain the compat data but they are in the `core-js` repository.

I suggest trying to ask there, or better cloning the repository and running the tests on ie11 to understand why the polyfill is included. Usually caniuse marks a feature as supported even if there are some bugs, and the polyfill is needed to fix them.

[2020-06-12 12:15] overlookmotel commented on #11313
Sorry my point was that (as far as I can see) what `isReferenced` is meant to do appears to be undocumented outside of Babel's source code, hence my confusion. But as you say, this issue is not the place for this conversation, so I've opened a [discussion](https://github.com/babel/babel/discussions/11714).

[2020-06-12 13:22] #11272 closed

[2020-06-12 14:00] ghostropic commented on #9849
I had this issue but I knew it was working yesterday so I deleted node_modules and package.json lock file and it is working again without `@babel/plugin-transform-runtime`.  I think it should work as long as you're running `@babel/preset-env` and `core-js@3` with `useBuiltIns` set to `entry` or `usage`.
In `.babelrc` under presets:
[code]
found here: https://babeljs.io/docs/en/babel-preset-env#use

[2020-06-12 17:06] georgeshevtsov commented on #11713
@nicolo-ribaudo Thank you for your response, I see what you mean about Can I Use, But compat table tells the same. Those are ES5 features and according to this https://kangax.github.io/compat-table/es5/. I wish I could now who assigns polyfills to the code, is it babel/env or core-js. And by the way running the same code but with core-js 2 will not include the same polyfills as core-js 3

[2020-06-12 17:21] samstickland commented on #11614
@JLHwung Sorry about the delayed reply. Adding that code gets me this:

[code]

[2020-06-12 18:04] nicolo-ribaudo commented on #11713
Sorry for the incomplete response; I was from my smartphone and couldn't find the correct links.

- This is the file that contains compat data for `core-js@3`: https://github.com/zloirock/core-js/blob/master/packages/core-js-compat/src/data.js. When a new version of that package is released, `@babel/preset-env` should automatically pick it up.
- This is the polyfill implementation. I don't know ab

[2020-06-12 18:52] Georift commented on #11690
I had a look at the reproduction provided in the repl and while the code provided above doesn't error for me I created a smaller snippet which does cause an error:

[code]

When I try to evaluate the [REPL output](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=BQMwrgdgxgLglgewsAlAAgN4Cg1pAgJ2ABsBTGNONAXjQAYBuStAHjQEYm4Bqb9bXLgDOAdzgwoACzTB2_HINxQAhkNIcAXJgW

[2020-06-12 19:54] wlawt commented on #9404
is this still available to work on?

[2020-06-12 19:56] nicolo-ribaudo commented on #9404
Yes!

[2020-06-12 20:52] barronwei commented on #11608
Could I work on this?

[2020-06-12 20:54] wlawt commented on #9404
if i'm understanding the issue correctly, I have to write a plugin support for do-expressions in `babel-plugin-syntax-do-expressions` ?

[2020-06-12 21:34] nicolo-ribaudo commented on #11608
Sure! If you need any help, feel free to ask here or on slack.

[2020-06-12 21:34] nicolo-ribaudo commented on #9404
Yeah this is already supported, but we don't transpile correctly that code.

[2020-06-12 22:12] Hans-Halverson opened #11716 "Flow arrow expression with type params inside type cast reported as parse error"
## Bug Report

When parsing Flow, arrow expressions with type parameters inside type casts are reported as a parse error. For example:

### Input
[code]

### Actual Output
[code]

### Expected Output
Expected no errors, as Flow parses this successfully: https://astexplorer.net/#/gist/7c46443529fac6438b16343f614cdaf2/3525323e76f13496801ac9894a69d2837d2b230a

From a quick initial investigation this

[2020-06-12 22:59] wlawt commented on #9404
is there documentation for the functions used like `replaceExpressionWithStatements` and `replaceWith` to understand how it's handling all the transpiling in `babel-plugin-proposal-do-expressions` ?

[2020-06-13 01:22] #11469 closed

[2020-06-13 08:23] rob-myers commented on #11350
@JLHwung do you mind providing an example?

This code fails when my visitor uses `.getSource()`:
[code]
How do I wrap things in a `File`?

[2020-06-13 14:06] inwardmovement opened #11717 "Colons in config causes Hugo/Babel build to fail"
## Bug Report
**Current behavior**
I have to remove the `:` to make the Hugo/Babel build work.

[code]

**Expected behavior**
Just copy/paste config examples from the docs and it works.

**Babel Configuration**
`babel.config.js`
[code]

**Environment**
[code]

- How you are using Babel: within [Hugo](https://gohugo.io/hugo-pipes/babel/)

[2020-06-13 19:38] nicolo-ribaudo commented on #11717
That is a JSON file, not a JavaScript file. Please rename it to `babel.config.json`!

[2020-06-13 19:38] #11717 closed

[2020-06-15 07:42] jonathanazulay commented on #11614
Also getting this when trying to import a stencil project (compiled to es5) into a storybook webcomponents project.

[code]

If i add a console.log to the valueToNode function. I get this:
[code]

Here's the core-js.js file shipped with stencil it complains about
https://gist.github.com/jonathanazulay/4d5eaeb6739bf5982a6ac2438f12be47

[2020-06-15 12:50] JLHwung commented on #11614
@samstickland It seems to me that `_.isPlainObject` will return `true` based on the log you posted. It is likely that this function is called multiple times. Can you post the debug output when `_.isPlainObject(coverageData)` is `false`? This is why the error is thrown.

@jonathanazulay `core-js` is a polyfill library, I don't think we should collect coverage data from that, can you ignore `dist/es

[2020-06-15 12:57] JLHwung commented on #11350
@rob-myers Please don't rely on the internal file structures on `@babel/core`, they _could_ change. Instead you can import `File` from the wildcard `babel`

[code]

[2020-06-15 13:26] jonathanazulay commented on #11614
@JLHwung

Hm, maybe my issue is a bit different. I'm not collecting coverage data, I'm bundling my application with storybook.

My valueToNode looks like this
[code]

[2020-06-15 13:30] JLHwung commented on #11614
@jonathanazulay Oh the error is thrown from `babel-minify`. Currently it is unmaintained, can you remove it and use `terser` instead?

[2020-06-15 13:40] havenchyk commented on #11622
In my case the problem was in mismatch between private fields and private methods `loose` property value.

we found that you need to manually add plugin and specify `loose` value for that plugin because loose property defined on the top configuration of preset-env can be ignored

More details on this PR https://github.com/babel/babel/pull/11634/files#diff-b307be8976e67ba330a71917a3322a94R1-R4

[2020-06-15 15:59] barronwei commented on #11608
Looks like the conditional is causing the bug in the first case. Just to clarify, should the first case print "out" instead of 1, @bakkot?

[2020-06-15 16:29] bakkot commented on #11608
@barronwei Yes, sorry. Edited the original post to fix it.

[2020-06-15 17:41] janiewang26 commented on #11475
Could I work on this?

[2020-06-15 17:46] penguingovernor commented on #11499
Is this still available to pickup ? (:

[2020-06-15 18:35] wlawt commented on #9404
@nicolo-ribaudo where can I find the AST for the `do-expression` plugin?

[2020-06-15 20:30] hzoo commented on #9404
@wlawt I would look at https://github.com/babel/babel/blob/master/packages/babel-parser/ast/spec.md and test things in https://astexplorer.net/

[2020-06-15 20:56] wlawt commented on #9404
@hzoo gotcha, I went looking around and found this https://github.com/babel/babel/blob/41085248560b1403b8d0f99f108491e679531c6c/packages/babel-generator/src/generators/expressions.js#L21

but not sure if I'm on the right track

[2020-06-15 21:00] daxfrost commented on #11034
+1

[2020-06-15 21:38] nicolo-ribaudo commented on #11499
There is a PR opened for this: https://github.com/babel/babel/pull/11629 (@HiMrHu I noticed that you haven't responded, to my review: are you still working on it?)

[2020-06-15 21:45] nicolo-ribaudo commented on #9404
The code is indeed a bit confusing: `@babel/plugin-proposal-do-expressions` is almost empty and simply delegates to https://github.com/babel/babel/blob/fd3c76941e2e826cacab8844672f1d985f7ea564/packages/babel-traverse/src/path/replacement.js#L210

It then calls `toSequenceExpression()`, which delegates to https://github.com/babel/babel/blob/fd3c76941e2e826cacab8844672f1d985f7ea564/packages/babel-ty

[2020-06-15 23:54] HiMrHu commented on #11499
I don't have time to resolve this, I'm busy with my new job，just take  it . I am  sorry for this PR.------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Jorge&amp;nbsp;Henriquez&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年6月16日(星期二) 凌晨1:47
收件人:&nbsp;&quot;babel/babel&quot;<babel@noreply.github.com&gt;;
抄送:&nbsp;&quot;MrHu&quot;<454053152@qq.com&gt;;&quot;Assign&quot;<assign@

[2020-06-15 23:58] nicolo-ribaudo commented on #11499
No problem, thanks for telling us!

[2020-06-16 00:03] wlawt commented on #9404
yup and for the 2nd part with the parsing error, that wouldn't be related to the files you've linked but more with `babel-parser/src/parser/expression.js` in how exactly is it handling `x = (do { 1;;;; };);`?

[2020-06-16 12:58] nicolo-ribaudo commented on #9404
Oh actually that paring error seems correct to me 🤔
You can't have ; inside an expression, only inside of the {...}

[2020-06-16 17:31] wlawt commented on #9404
oh I'm confused so the `(do { <stmt> };) equivalent to { <stmt> }` doesn't need to be addressed?

[2020-06-16 20:29] hjdivad opened #11725 "Error thrown when parsing optional binding pattern parameters in function declaration"
## Bug Report

**Current behavior**

A function declaration with the `declare` keyword is disallowed from having an optional binding pattern parameter, unlike in TypeScript, where this is allowed.

- [Babel repl illustrating failure](https://babeljs.io/en/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=JYOwLgpgTgZghgYwgAgIJQOYGdkG8BQyRyMA9qQPwBcyWYUoG-AvvmxAB4AOpUYyAEwgIANnCgo

[2020-06-16 20:30] hjdivad commented on #11725
cc @rwjblue

[2020-06-16 21:56] wlawt commented on #9159
I ran this locally with and without `new A` and seems to compile (unless I'm interpreting the issue incorrectly, let me know!)

**With `new A` - Input**:
[code]

**Output:**
[code]

**Without `new A` - input:**
[code]

**Output**
[code]

**.babelrc config**
[code]

**babel version**: 7.10

[2020-06-17 06:17] anshcena commented on #8599
Thanks! worked for me

[2020-06-17 08:58] jorenbroekema opened #11726 "@babel/core - Get rid of (only 4 instances) lodash to fix security issue"
## Feature Request

I would like to remove lodash as a dependency in @babel/core. There has been a very long period where lodash had the chance to fix a prototype pollution vulnerability, and even after long period of security companies advicing privately, the security report was published publicly. And still, the maintainer is openly ignoring the security problem. https://github.com/lodash/lodash

[2020-06-17 13:54] elkinepayco commented on #8599
Thanks!, Gracias

[2020-06-17 16:21] bunday commented on #10752
Keeping a tab on this till it is released.

[2020-06-18 08:14] Arnaldo-Manjate commented on #9849
Where should the import of the runtime generator be put ?

[2020-06-18 08:15] Arnaldo-Manjate commented on #9849
What file should the import of the runtime generator be put ?

[2020-06-18 14:08] ghostropic commented on #9849
You could put it in your top level JS file to load everywhere, or individually in modules where it's needed, but you shouldn't have to manually import it if you're using Webpack and Babel which if set up correctly will inject it for you when needed. See my comment above.

[2020-06-18 15:53] garrettw commented on #11216
The latest Node LTS version has this issue too. I had to go back to <12.17.0 to get around it. See [this comment](https://github.com/kufu/smarthr-ui/pull/804#issuecomment-644710849)

[2020-06-18 18:53] SharakPL commented on #9849
[code]
No other plugins are needed.

### ["useBuiltIns": "entry"](https://babeljs.io/docs/en/babel-preset-env#usebuiltins-entry):
[code]
then start your **main.js** with this:
[code]
`regenerator-runtime/runtime` is @babel/preset-env dependencie.

The problem here is that it loads polyfills for all possible features that target browsers don't support natively. You can import just specific parts of

[2020-06-18 18:56] informatika3052 commented on #8599
is work for me npm install -D @babel/core @babel/preset-env babel-loader @babel/preset-react

in .babelrc
{
	 "presets":
                [      "@babel/preset-env",
                        "@babel/preset-react"
                      ]
 }

thank you for all

[2020-06-19 05:41] prma85 commented on #10333
@broonage Did you solve your issue?
I am having the same case here :(

[2020-06-19 07:13] sakirpatel opened #11732 ".legacy is not a valid Plugin property"
.babelrc file

[code]

package.json

[code]

when i run my app it show this type of error error: App.js: [BABEL] C:\Users\gyftm\gyftm_work\gyftm-mobile\gyftm\App.js: .legacy is not a valid Plugin property

[2020-06-19 09:18] Undefitied opened #11733 "Generic types in functions in typescript throws "Unexpected token""
## Bug Report

**Current behavior**
Generic types in functions don't work.

- [REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAtgTwOoCcCGAHDBTFAxAVzGCgEtwYBeGAHgEEUBzCAFQRxmwA8pswATCDDRgEAbQC6AGhgARNFDRscAPhgAKUmFJk0AG0LEy4AJRU1AbwBQASBTYoBFGBgByABalXVgL5A&debug=false&forceAllTransforms=fals

[2020-06-19 10:08] nicolo-ribaudo commented on #11733
If I enable TS in the repl ([link](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAtgTwOoCcCGAHDBTFAxAVzGCgEtwYBeGAHgEEUBzCAFQRxmwA8pswATCDDRgEAbQC6AGhgARNFDRscAPhgAKUmFJk0AG0LEy4AJRU1AbwBQASBTYoBFGBgByABalXVgL5A&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=fa

[2020-06-19 10:12] nicolo-ribaudo commented on #10333
Even if we generated AMD-like imports like this:
[code]

It still wouldn't work because `core-js` itself is not compatible with AMD (https://github.com/zloirock/core-js/issues/620). Unfortunately the only option you have is to either use a bundler that understands CommonJS, or avoid using `useBuiltIns`.

[2020-06-19 10:20] broonage commented on #10333
@prma85 Sadly no, I gave up when no one replied to me. Real shame this is not working.

[2020-06-19 10:56] Undefitied commented on #11733
I see...
it is `entry: ['react-hot-loader/patch', './src/index.tsx'],`

[2020-06-19 11:09] Undefitied commented on #11733
So I have now tested my code with enabled TS in repl and it works there. Hence the issue is around my config. Thanks for the help.
Though I'm confident in the purity of my config the fact confuses me a bit.

Maybe there can be some cache-files?
Please, close the issue if no.

[2020-06-19 13:07] existentialism commented on #11733
@Undefitied can you show stack trace? Trying to create a small repo that can repro the problem will help too

[2020-06-19 13:17] JLHwung commented on #11732
1. Can you make sure you have wrapped `"@babel/plugin-proposal-decorators"` and `{ legacy: true }` into extra brackets?
[code]
2. Can you update `@babel/core` to 7.10 and re-run your app? It should throw more friendly error in this situation.

[2020-06-20 14:03] mischnic commented on #11710
Loose mode with `exports[key] = _a[key];` works as expected

[2020-06-21 08:52] Undefitied commented on #11733
I've decided to ignore the problem for the time being and move further. I appreciate everyone's attention. Thank you.

[2020-06-21 08:52] #11733 closed

[2020-06-21 10:47] arelra commented on #11694
@chichke  To expand on @existentialism and @JLHwung

This looks like the result of not transpiling your `react-native` dependencies with the right set of presets/plugins.

When creating a cross platform `react-native` app using `react-native-web` you need to transpile any `react-native` dependencies you may have in `node-modules`.

This is because `react-native` dependencies are not usually publis

[2020-06-21 17:49] #11694 closed

[2020-06-21 19:45] Yokubjon-J commented on #11499
Hello! Can I take it up?

[2020-06-21 19:53] nicolo-ribaudo commented on #11499
We are working on this at #11722 with @penguingovernor. I'm looking for another issue you could help with.

[2020-06-21 19:54] Yokubjon-J commented on #11499
Please tell me that issue!

[2020-06-21 19:54] nicolo-ribaudo commented on #11385
@RichardHoOoOo Are you still working on this?

---

@Yokubjon-J If Richard doesn't respond in 3-4 days and if you are interested, you can take this issue. Otherwise we'll need to find another one!

[2020-06-21 20:06] nicolo-ribaudo commented on #11710
Before throwing, we could check if the old value is `===` to the new value. This would shallow errors when there is a real duplicated binding exporting a primitive, but will allow us to correctly handle this case.

[2020-06-21 22:30] damacisaac opened #12353 "Class function cannot be named 'declare' and be generic"
**I'm submitting a bug report**

**Webpack Version:**
4.41.5

**Babel Core Version**:
7.7.2

**Babel Loader Version**:
8.0.6

**Please tell us about your environment:**
OSX 10.15.5

**Current behavior:**
[code]

**Expected/desired behavior:**
Class functions can have the name `declare` and be generic without causing a syntax error. Note that it needs to be inside a class to be reproduced.

[2020-06-22 05:11] bullwrinkle opened #11735 "Still seeing the 'Could not find plugin "proposal-numeric-separator" error'"
[code]

I thought this had been fixed, but it still seems to be broken.

I've tried all the popular suggestions listed on the web https://stackoverflow.com/questions/60780664/could-not-find-plugin-proposal-numeric-separator

But none of them seem to really fix the issue.
[code]
and then execute the following:
[code]

Here is the contents of my updated package.json to incorporate all these suggeste

[2020-06-22 07:52] nicolo-ribaudo commented on #11735
Can you share your lockfile? IIRC, it was fixed in `@babel/preset-env` 7.8.6 or 7.8.7.

[2020-06-22 15:03] gaurav5430 commented on #10240
Are you suggesting that "plugin-transform-modules-commonjs" only needs to be used when using webpack ?

[2020-06-22 15:06] nicolo-ribaudo commented on #10240
I should have worded it as "even if you are not using webpack, you don't need `plugin-transform-modules-commonjs`". If you are using webpack not only you don't need it, but it may even cause bugs since it conflicts with Webpack's `import`/`export` handling.

[2020-06-22 15:19] gaurav5430 commented on #10240
right, so when do we ever need to use `plugin-transform-module-commonjs` ?

I am struggling with a similar problem with my setup, which is solved if i use the above plugin in my babel config.
Just trying to understand why that is

[2020-06-22 15:21] nicolo-ribaudo commented on #10240
When you are not using `@babel/preset-env` (for example, because you are creating a custom preset) and you are not using webpack/rollup/parcel.

[2020-06-22 16:08] bullwrinkle commented on #11735
There is no lockfile. I removed it as a potential source of problems and a
new one isn't being regenerated

On Mon, Jun 22, 2020 at 12:52 AM Nicolò Ribaudo <notifications@github.com>
wrote:

[2020-06-22 17:10] bullwrinkle commented on #11735
This appears to possibly be a yarn issue as I'm able to build successfully
with npm.

As a side note:
I have grown to truly despise this house of cards (probably better stated
as a stack of band-aids) known as web development.

On Mon, Jun 22, 2020 at 9:07 AM Norman Klein <norman.klein@gmail.com> wrote:

[2020-06-22 17:25] conartist6 opened #11737 "Support templates interpolation inside strings."
## Feature Request
I'd would like for @babel/template to support arbitrary interpolation when used as a tagged template.

- [x] I would like to work on this feature!

**Is your feature request related to a problem?**
I'd like to be able to write:
[code]

Currently that code fails with the error
[code]

This is because internally an intermediate step is used that turns the template literal data int

[2020-06-22 19:30] #11735 closed

[2020-06-22 19:47] lucksp commented on #9217
we did a combo like so:

scripts:
`NODE_ENV=production babel ./src --out-dir ./build --copy-files --no-copy-ignored`

and

babel.config.js
[code]

[2020-06-22 20:17] wessberg opened #11738 "[transform-classes] Transpiled SuperExpressions are incorrect if a local variable shadows the name of the surrounding ClassDeclaration"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

Given a class called `n`, calling a method on the super class (like `super.foo()` may be transpiled into something like `_get(_getPrototypeOf(n.prototype), "foo", this).call(this);`

This behavior can lead to bad code if a binding for `n` is overwritten in the lexical environment, for example from a local variable declarati

[2020-06-22 21:04] adriengibrat commented on #8766
**Babel Configuration (babel.config.json)**
[code]

**Environment**
Babel version(s): 7.10.3
@babel/plugin-proposal-class-properties: 7.10.1
@babel/plugin-proposal-decorators: 7.10.3
@babel/plugin-transform-runtime: 7.10.3
Node/npm version: node v12.16.2, npm v6.14.4
OS: linux mint
Monorepo: no
How you are using Babel: cli 7.10.3 and rollup (@rollup/plugin-babel 5.0.4)

**Additional context/Screen

[2020-06-22 22:12] #11499 closed

[2020-06-22 22:19] nicolo-ribaudo commented on #8766
Did you try configuring `transform-runtime` as shown above? (https://github.com/babel/babel/issues/8766#issuecomment-424246989)

[2020-06-23 02:48] vedantroy commented on #8497
Currently working on this. Do we want plugins to indicate dependencies just once, or on a per-file basis?

[2020-06-23 02:52] vedantroy commented on #8497
Currently working on this. Is it sufficient to have plugins indicate dependencies on external files just once, or should this be on a per-file basis?

[2020-06-23 07:08] adriengibrat commented on #8766
Thanks ;)
my bad:
[code]
did solve the issue!

[2020-06-23 13:05] and-poulsen commented on #11713
@georgeshevtsov Did you figure anything out? This is bugging me as well - so many unnecessary imports.

[2020-06-23 16:54] jtwee commented on #11713
It seems to have been introduced with this commit [zloirock/core-js@fb6bd7fb4145399cfb8b6add18eb83109686699a](https://github.com/zloirock/core-js/commit/fb6bd7fb4145399cfb8b6add18eb83109686699a).

[2020-06-23 17:48] racoleman opened #11742 "es.promise.finally undefined w/ preset-env and multiple chunks"
## Bug Report
**Current behavior**
When leveraging preset-env and `useBuiltIns: 'usage'` across multiple chunks, if a chunk injected with `es.promise` is loaded after a chunk with `es.promise.finally`, the finally polyfill will be overwritten. This is essentially the same issue detailed in #9705, but the fix for that issue only ensures that imports within the same chunk will be in the correct orde

[2020-06-23 20:10] #11657 closed

[2020-06-23 20:23] JLHwung commented on #11541
The error is thrown because your app is importing `redux-form/src/createReduxForm`. The `src` is untranspiled library source and thus never intended to be imported.

Please change your imports accordingly.

[code]

[2020-06-23 20:23] #11541 closed

[2020-06-23 21:17] wlawt commented on #9825
seems like in babel `v7.10.2`, it's no longer being ignored:

**input (original issue)**
[code]

**output**
[code]

**input (work around)**
[code]

**output**
[code]

[2020-06-23 22:09] and-poulsen commented on #11713
Is there any alternative compatibility tables that we can use, that is not so incredibly strict. Something that is similar to caniuse or mdn

[2020-06-23 22:52] AtofStryker commented on #11742
This may be an issue with `core-js`, but I am not sure. I was able to put together a [reproduction](https://github.com/AtofStryker/promise_polyfill_reproduction) of the issue simulating a rigged race condition. This is to mimic  webpack chunks loading in an async fashion that have been polyfilled with `useBuiltIns`.

To summarize, for older browsers that do not support `finally` in their promise s

[2020-06-23 22:59] AtofStryker commented on #11742
It looks like `finally` has been a part of the [ECMAScript Language Specification](https://www.ecma-international.org/ecma-262/9.0/index.html#sec-promise.prototype.finally) since 2018. Would a viable solution be to remove/deprecate [`es.promise.finally`](https://github.com/zloirock/core-js/blob/master/packages/core-js/modules/es.promise.finally.js) and include it directly in [`es.promise`](https:/

[2020-06-24 11:06] nicolo-ribaudo commented on #9825
If it has been accidentally fixed we should add a test to prevent future regressions

[2020-06-24 13:36] georgeshevtsov commented on #11713
Hey @and-poulsen thanks sounds like a good suggestion, I personally went for just manually excluding all redundant polyfills.

[2020-06-24 16:20] JLHwung commented on #11742
Other than changing `core-js` to support reentrance, you can also workaround this by `SplitChunksPlugin`

[code]

It should split all `core-js` modules into a separate chunk.

Ref: https://webpack.js.org/plugins/split-chunks-plugin/#split-chunks-example-3

[2020-06-24 16:40] racoleman commented on #11742
@JLHwung Unfortunately, that doesn't work. It seems `window.Promise` gets overwritten when `modules/es.promise` is required, regardless of which chunk the module actually resides in.

[2020-06-24 16:57] barronwei commented on #11394
https://github.com/babel/babel/blob/65911144e9eee760052e20fed9780bd78922f942/packages/babel-cli/src/babel/dir.js#L103-L106

This condition is the cause of this issue. If the `--copy-files` is flagged and the file is not compilable such as `.json`, the condition skips the check for whether the file is ignored.

Could I work on this?

[2020-06-24 17:56] JLHwung commented on #11394
@barronwei Sure! It's yours.

[2020-06-24 17:59] barronwei commented on #11394
@JLHwung Thank you! Is there a utility function in the CLI that checks if a file matches the ignore parameter?

[2020-06-24 19:09] JLHwung commented on #6055
Closing this as it has been fixed in https://github.com/babel/babel/pull/11384.

[2020-06-24 19:09] #6055 closed

[2020-06-24 19:14] JLHwung commented on #11394
`@babel/core` uses `shouldIgnore` to check whether a file should be ignored given `ignore` config items: https://github.com/babel/babel/blob/65911144e9eee760052e20fed9780bd78922f942/packages/babel-core/src/config/config-chain.js#L466

If a file is ignored, `@babel/core` will return `null`, which is used by `@babel/cli` later to mark it as `FILE_TYPE.IGNORED`:

https://github.com/babel/babel/blob/6

[2020-06-25 10:49] yortus opened #11744 "transpiled rest param changes semantics of code"
## Bug Report

The transpiled code for rest params may have different semantics to the original code. The transpiled code injects a reference to `Array`, assuming it is the builtin array constructor. However if another identifier called `Array` is in scope, it will be referenced instead.

**Input Code**

[code]

**Current behavior**

Running the transpiled code for [this example](https://babeljs.i

[2020-06-25 13:37] larsgw commented on #10063
I think I am having the same issue with extending `self.Response` for example, and I think it happens for any property access in the global scope. I am wrapping the native class so I want to keep the same name, otherwise I would drop the `self.`. For runtime, would something like `global[Class.name] instanceof Function` work?

[2020-06-25 14:17] JLHwung commented on #11744
Currently Babel output assumes the built-ins are not modified in a spec-incompliant way. In your case it is shadowed and `Array` is not a constructor anymore.

[2020-06-25 14:18] #11744 closed

[2020-06-25 17:38] #9404 closed

[2020-06-25 20:29] wlawt commented on #9825
ah ok, error on my side when reproducing it.

turns out I had `ie 11` instead of `chrome 80` which gave the results shown in OP

i guess the next step is to add a check for shorthand syntax in the plugin?

thanks @existentialism @JLHwung for helping me figure this out!

[2020-06-25 21:46] nicolo-ribaudo commented on #9825
I _think_ that the problem is that the new path isn't requeued, and thus it isn't processed by other plugins.

[2020-06-25 21:53] nicolo-ribaudo commented on #11713
Kangax's compat table is still used for core-js 2, while it has never been used for core-js 3.

[2020-06-26 01:58] yortus commented on #11744
The builtin is not modified, and there is nothing spec-incompliant in the sample code.

This is simple shadowing by an ordinary variable in lexical scope. Babel is just making a faulty assumption here.

The section added to `caveats.md` in the linked PR (https://github.com/babel/website/pull/2283) doesn't cover babel's assumptions about simple shadowing. To cover this case and eg #10807, I suggest

[2020-06-26 12:48] croes opened #11749 "Inheritance issue when subclassing transpiled ES6 class in ES5"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
When subclassing an ES6 class in ES5, parent properties are not inherited.

- [Codesandbox](https://codesandbox.io/s/babel-es5-inheritance-cedhk?file=/src/sub-subclass.js)

You'll notice that the properties inherited from the `SubClass` and `Base` parent classes (first name / middle name) are undefined.

**Input Code**

See

[2020-06-26 13:12] PLQin commented on #11439
我也遇到了这个问题 ， 单单删除 node_modules 没有用， 还得删除 package-lock.json 文件才行

[2020-06-26 14:37] mischnic commented on #11684
Can be closed now

[2020-06-26 15:43] #11684 closed

[2020-06-26 21:03] jessethomson commented on #11684
The `@babel/preset-react` still has the old version of this plugin. Will that eventually get updated to use the latest version that includes this change? Or should I create an issue or something for that?

[2020-06-26 21:15] ar53n opened #11750 ""useBuiltIns: usage" return is undefined"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
Hello, I have one problem, you can see that in the console if run `index.html` file in my example project  https://github.com/ar53n/babel-umd-undefined-example
I have the module bundled in UMD format using rollup. In my project I using babel and babel-loader for preprocessing js files. And I use `@babel/preset-env` options `

[2020-06-26 21:25] wlawt commented on #10743
just to double check, is [this](https://github.com/babel/babel/blob/main/packages/babel-plugin-proposal-object-rest-spread/src/index.js#L303-L328) the reference to the `nested object pattern`?

[2020-06-27 03:44] G-Rath commented on #9835
I ran into this when upgrading a React application, wanting to switch from awesome-typescript-loader to babel 😬

[2020-06-27 05:14] Yokubjon-J commented on #11385
@nicolo-ribaudo Hello! Sorry for late reply! OK I will take on the issue!

[2020-06-27 05:27] Yokubjon-J commented on #11385
I have started working on the issue!

[2020-06-27 10:55] nicolo-ribaudo commented on #11684
`@babel/preset-react` uses `^` to specify the version of the plugin, so it can already download the latest one.

[2020-06-27 11:22] nicolo-ribaudo commented on #11749
This is expected: in ES6 classes, `this` is created by the `Base` class. This means that the `this` you pass as a parameter to `SubClass.call` is ignored. Your code doesn't work natively in a browser because classes cannot be `.call`ed: you should use `Reflect.construct` instead.

[code]

As you can see, it logs `undefined` for `_firstName` and `_middleName`. The proper way of extending ES6 classe

[2020-06-27 11:22] #11749 closed

[2020-06-27 18:37] jessethomson commented on #11684
Oh, I totally missed that. Awesome!

[2020-06-28 23:28] richardeschloss opened #11756 "@babel/register does not respect ignore/only settings"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

It is understood that @babel/register ignores node_modules by default, but it doesn't seem as though empty ignore options can override that setting.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHu

[2020-06-29 02:49] aminya opened #11757 "Electron 5 cannot bundle @babel/core"
## Bug Report

I am trying to update the babel plugin that is used in Atom internally, but Electron 5 bundler gives me this error during bundling:

<details>
<summary>Details</summary>

[code]

</details>

https://github.visualstudio.com/Atom/_build/results?buildId=74019&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=b525c197-f769-5e52-d38a-e6301f5260f2&l=3829

**Environment**
[code]
**Possibl

[2020-06-29 03:14] aminya commented on #11757
Seems to be unrelated to babel directly.

[2020-06-29 03:14] #11757 closed

[2020-06-29 07:54] croes commented on #11749
Thanks for the clear explanation, @nicolo-ribaudo! I assume it only worked coincidentally in older versions of Babel.
We'll adapt our remaining ES5 code to use `Reflect.construct`, and tell our API users to do the same. Those that target IE will have to polyfill it, but I take it they're already doing plenty of polyfilling.

[2020-06-29 20:21] proteriax opened #11759 "@babel/plugin-syntax-jsx and @babel/plugin-syntax-typescript cannot be used together"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
[code]

**Input Code**

[Minimum reproduction sample on REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAJQKYEMDG8BmUIjgIilQ3wChSkAPSWOTAVwDsNgJG4BBACgEo4BvUnDhEY9KOwA8AE2AA3OAHoAfKQC-pIA&debug=false&forceAllTransform

[2020-06-29 22:13] oliverdunk commented on #11353
Just wanted to say that I haven't forgotten about this one. https://github.com/babel/babel/pull/11404 has been taking my focus, but I hope to tackle this soon.

[2020-06-30 12:50] butlimous opened #11762 "Spread operator not working on HTMLcollection in old devices like iPhone 4s"
## Bug Report
**Current behavior**

Spreading an HTMLcollection over an array does not work in iPhone 4s and produces this error:

[code]

**Input Code**

[code]

Working:        Mac browsers (Chrome, Firefox, Safari), Android Chrome (Meizu M5 Note - 2016), and iPhone 8
Not working: iPhone 4s (iOS 9) and very likely other old devices

**Expected behavior**

It should just work on old devices like

[2020-06-30 13:11] butlimous opened #11763 "for...of loop on HTMLcollection not working in old devices like iPhone 4s"
## Bug Report

**Current behavior**

The new for....of loop does not work on HTML collections in old browsers like that of iPhone 4s. It does not understand the syntax at all, not even catching an error in try,catch.

**Input Code**

[code]

**Expected behavior**

The syntax should work on old devices that don't support it (like the iPhone 4s) as it works on new devices that support it (iPhone 8,

[2020-06-30 13:27] JLHwung commented on #11762
Please upgrade to Babel 7.10 and specify `allowArrayLike: true` (https://babeljs.io/docs/en/babel-plugin-transform-spread#allowarraylike)

[code]

[2020-06-30 13:28] JLHwung commented on #11762
Duplicate of #10509

[2020-06-30 13:28] #11762 closed

[2020-06-30 13:30] JLHwung commented on #11763
Please upgrade to Babel 7.10 and specify `allowArrayLike: true` (https://babeljs.io/docs/en/babel-plugin-transform-for-of#allowarraylike)

[code]

[2020-06-30 13:30] #11763 closed

[2020-06-30 15:04] tonix-tuft opened #11765 "Non-legacy decorators @babel/plugin-proposal-decorators issue when decorating both getter and setter of a property"
## Bug Report

Hello, I am facing this issue when I use non-legacy decorators on a getter and a setter:

[code]

**Input Code**

[code]

[code]

Works as expected (no errors with legacy decorators).

Whereas with this `.babelrc`:

[code]

I get the error:

[code]

**Expected behavior**
No error as in legacy mode.

Thank you!

[2020-06-30 15:44] seanc-dev opened #11766 "New version not found using npm cli"
## Bug Report

**Current behavior**

npm install fails on dependency @babel/types@^7.10.4, listed as dependency of @babel/generator. Non-existent version of dependency.

npm view @babel/types returns 7.10.3 as the most recent version, but https://www.npmjs.com/package/@babel/types shows 7.10.4.

**Environment**
System:
    OS: macOS Mojave 10.14.6
  Binaries:
    Node: 10.14.1 - /usr/local/bin/nod

[2020-06-30 16:33] igl commented on #11766
I had this problem too.

I upgraded `@babel/cli` to `7.10.4` but `@babel/cli@7.10.4` was not found in the registry.
https://registry.npmjs.org/@babel%2ftypes was not listing the `7.10.4` version.
When i tried to load `@babel/types@7.10.4` in codesandbox.io it worked!

I suspect the npm-registry had a outdated http-cache in my region.

I could only successfully upgrade all of babels packages after

[2020-06-30 17:52] JLHwung commented on #11766
@babel/types@7.10.4 is [published](https://www.npmjs.com/package/@babel/types) on npm.

Please check if you are behind a proxy or using a third party npm registry. There are situations when these cache need some time to update to the latest version. You could also find a solution in https://github.com/babel/babel/issues?q=is%3Aissue+sort%3Aupdated-desc+No+matching+version+found+for+is%3Aclosed

[2020-06-30 17:52] #11766 closed

[2020-06-30 18:13] JLHwung commented on #11765
The current decorators proposal is completely rewritten compared to the legacy one. So different behaviours are expected when switching from legacy to current proposal.

The current implementation matches the behaviour specified in clause 3.a.i.3 of https://tc39.es/proposal-decorators/#sec-coalesce-class-elements , if you consider such behaviour is questionable, please submit an issue to the decor

[2020-06-30 18:13] #11765 closed

[2020-06-30 20:27] tonix-tuft commented on #11765
Thank you for your reply! I have found the answer on the BabelJS Slack group, the code should be rewritten to this:

[code]

This way it works both with legacy as well as non-legacy decorators.

[2020-06-30 20:52] JLHwung commented on #8563
Closing as the downstream issue has been fixed.

[2020-06-30 20:52] #8563 closed

[2020-06-30 20:57] #11732 closed

[2020-06-30 20:58] JLHwung commented on #11692
Closing as the question is answered.

[2020-06-30 20:58] #11692 closed

[2020-06-30 21:18] JLHwung commented on #11726
I think if the goal was to minify Babel itself and to accelerate install speed, we can consider bundling lodash into `@babel/core` via RollUp, thus any unused lodash functionalities does _not_ exist in `@babel/core`. Therefore the security exposure is controlled.

I don't think reinventing lodash always leads to fixing vulnerabilities. The popularity of `lodash` encourages security folks to scruti

[2020-07-01 07:21] fisker opened #11769 "Parser throws `undefined` when parsing HTML-Like comment"
## Bug Report

- [ ] I would like to work on a fix!

Properly not

**Current behavior**

When parsing HTML-Like comment with `sourceType: 'module'`, the `@babel/parser` throws `undefined`.

**Input Code**

[code]
- Babel version(s): 7.10.4
- Node/npm version: [e.g. Node v14.4.0/npm v6.14.5]
- OS: Windows 10
- Monorepo: no
- How you are using Babel: api
[code]

[2020-07-01 07:34] fisker commented on #11769
Maybe caused by #11722?

[2020-07-01 07:53] fisker commented on #11769
Local tested changing

https://github.com/babel/babel/pull/11722/files#diff-56fea09eea2de51b8291db400d2f69beR1175

to

[code]

Fixes this issue, but I think it's not right, if it's HTML-Like comment, it should not expect those plugins, and those plugins wouldn't help.

Maybe we need check `sourceType` there.

I'm not familiar with codebase, I'm not going to send PR.

[2020-07-01 09:04] darknessjs opened #11770 "range is not right"
code:
import(``)

in ASTExplorer :
![image](https://user-images.githubusercontent.com/10798107/86225284-98cc6800-bbbc-11ea-9829-2c6a86663e50.png)

or @babel/parser 7.2.3:
![image](https://user-images.githubusercontent.com/10798107/86225367-b4d00980-bbbc-11ea-95dc-1ce0e1ee9df2.png)

but in 7.10.3:
![image](https://user-images.githubusercontent.com/10798107/86225424-cb766080-bbbc-11ea-89c5-f2d0e22de

[2020-07-01 09:04] darknessjs commented on #11770
image upload is not right 。。。
eslint error is:
TypeError: Cannot read property 'range' of null

[2020-07-01 09:26] prashantmaheshwari commented on #11391
If you are proxying npmjs site from nexus to save dependencies in your environment, so suggest you to invalidate cache of your repository in nexus and rebuild index. It helped me in past.

[2020-07-01 09:33] darpanrangari commented on #11391
@prashantmaheshwari  since we are in same team, can you please invalidate the cache so that index can be rebuild?

[2020-07-01 10:26] qaiser1516 opened #11771 "Trying to install @babel/helper-validator-identifier but instead of 7.10.4 it is installing 7.10.3 which is not latest"
## Bug Report

- [ ] I would like to work on a fix!
![bable issue](https://user-images.githubusercontent.com/4457174/86233675-74fa2980-bb9e-11ea-858e-a0c20d8fca82.png)

**Current behavior**
A clear and concise description of the behavior.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

[co

[2020-07-01 10:38] ZacharyRaineri commented on #11771
The outdated version may be cached.  Have you tried?
`npm cache clear`

Also you can install a specific version with:
`npm install --save-dev @babel/helper-validator-identifier@7.10.4`

or the latest stable with:
`npm install --save-dev @babel/helper-validator-identifier@latest`

In this instance those both should be the same, but the second doesn't require you to know the latest stable version.

[2020-07-01 10:42] araujosnathan opened #11772 "The lastest version of @babel/helper-builder-react-jsx-experimental in registry is 7.10.1 but when installing it gets 7.10.4"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/helper-builder-react-jsx-experimental@^7.10.4
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/plugin-transform-react-jsx'
npm ERR! notarget

[2020-07-01 10:45] qaiser1516 commented on #11771
![bable issue2](https://user-images.githubusercontent.com/4457174/86235231-c60b1d00-bba0-11ea-8661-f16151532547.png)
I tried the above steps, here are the result,
when I executed this command : npm install --save-dev @babel/helper-validator-identifier@latest
Result : 7.10.3 got installed

And when I ran this command: npm install --save-dev @babel/helper-validator-identifier@7.10.4
Result: Got an e

[2020-07-01 10:47] qaiser1516 commented on #11771
And this is coming from today, I am working on an angular app and when I am trying to run **npm i** this is the error it is showing

 npm i                                                                          npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version o

[2020-07-01 10:50] ZacharyRaineri commented on #11772
I was able to install @7.10.4 with no issues and it looks like 7.10.4 is the [latest version](https://www.npmjs.com/package/@babel/helper-builder-react-jsx-experimental)

You can try clearing the npm or yarn cache (whichever you use):
`npm cache clean`
`yarn cache clean`

Then delete your lock file and try an install

Hope this helps! 👍

[2020-07-01 10:57] ZacharyRaineri commented on #11771
Try clearing cache, deleting your node_modules folder, and deleting the lock file before doing the install

It's common to get some depreciation warnings depending on the dependencies you're using, if at all possible try to use the most updated versions. fsevents is just because your not on a mac, that won't go away unfortunately

[2020-07-01 11:03] araujosnathan commented on #11772
Helllo @ZacharyRaineri! Thanks for your reply!
I have tested and really it is ok!
When i open a new root folder and install it, it works!
But when i am in specific folder where is my project that error happened! Do you know what can be doing that?

[2020-07-01 11:08] ZacharyRaineri commented on #11772
@araujosnathan no problem!

In the project folder, delete the node_modules folder and the lock file then try an install

[2020-07-01 11:15] araujosnathan commented on #11772
I found the problem! It relates to particular registry that was set!
Thanks @ZacharyRaineri  for your help! I am going to close this issue!

[2020-07-01 11:24] qaiser1516 commented on #11771
My Apologies,
the issue is related to registry, my organization registry is not updated and hence i was getting this error.
thanks it is resolved now.

[2020-07-01 11:24] #11771 closed

[2020-07-01 11:30] ZacharyRaineri commented on #11772
@araujosnathan Sounds good glad it's working!

[2020-07-01 11:32] #11772 closed

[2020-07-01 11:40] ZacharyRaineri commented on #11771
@qaiser1516 Glad to hear it's working for you 👍

[2020-07-01 11:43] floriangosse opened #11773 "@babel/generator generates TSPropertySignature in TSTypeLiteral with semicolon instead of comma"
## Bug Report

I try to convert some code in our project with the use of `@babel/generator`. The problem is the output for `TSTypeLiteral` can cause a syntax error.

**Current behavior**

`TSPropertySignature` inside of `TSTypeLiteral` has trailing semicolon instead of a comma.

- [Repo for reproduction](https://github.com/floriangosse/issue-babel-generator-tstypeliteral-tspropertysignature)

**En

[2020-07-01 14:05] jacekkk commented on #9849
Bear in mind that adding `esmodules: true` will lead to `browsers` target being ignored if you included it too, as per [Babel docs](https://babeljs.io/docs/en/babel-preset-env#targetsesmodules)

[2020-07-01 14:24] JLHwung commented on #11770
The behaviour is expected: `range[0]` is always equal to `start` and `range[1]` for `end`. I believe you are referring to https://github.com/babel/babel-eslint/issues/799, where Roland has gave a thorough explanation: https://github.com/babel/babel-eslint/issues/799#issuecomment-571075247

That issue will be fixed in `@babel/eslint-parser` (currently not yet published).

[2020-07-01 14:24] #11770 closed

[2020-07-01 15:04] JLHwung commented on #11769
@fisker Thanks for the detailed report and background digging. It helps a lot.

[2020-07-01 15:17] JLHwung commented on #11773
TypeScript 3 accepts both `;` and `,` for property signature in type literal: [REPL](https://www.staging-typescript.org/play?useDefineForClassFields=true&ts=3.3.3#code/C4TwDgpgBAglC8UDeUBmB7dAuKBnYATgJYB2A5gDRQBGAhgTvseVQL4BQ7okUAQgsjSZGhUmQDcNeiOYSorIA).

What is the version of your TypeScript compiler?

[2020-07-01 15:58] alesak opened #11775 "Syntax Error "Missing class properties transform" after update to 7.10.4"
**Current behavior**
After recent update to version 7.10.4 babel complains with Syntax Error at **justTest = () => {** line in perfectly valid TSX file.

[code]

**Input Code**

App.tsx

[code]

**Expected behavior**
Clean compilation as before update. (version 7.10.1 at least was fine)

gulpfile.js
[code]
package.json
[code]
tcconfig.json
[code]

**Environment**

[code]

[2020-07-01 16:18] floriangosse commented on #11773
I'm using `typescript@3.9.5`. But it seems to work now. It might have been a problem with another part of my toolchain.

I'll close this issue.

[2020-07-01 16:18] #11773 closed

[2020-07-01 18:40] JLHwung commented on #11775
class properties are still a stage-3 proposal so it is not enabled in `preset-env` by default. You can enable them via `shippedProposals: true` ([docs](https://babel.dev/docs/en/babel-preset-env#shippedproposals))

[code]

[2020-07-01 19:17] #11769 closed

[2020-07-02 06:06] alesak commented on #11775
Thanks for quick response, it compiles fine now. The error message could be probably better and point to the docs.

[2020-07-02 06:06] #11775 closed

[2020-07-02 10:14] Arnaldo-Manjate commented on #9849
thanks its been resolved
*Arnaldo Manjate*
Developer

| T  011 680 0540
| E arnaldo@rapidtrade.com <shaun@rapidtrade.com>
| www.rapidtrade.com

On Wed, Jul 1, 2020 at 4:06 PM Jacek <notifications@github.com> wrote:

[2020-07-02 16:12] jaeh commented on #11726
i looked through the babel packages directory to get an overview how much would have to be replaced.

i will leave this here for anyone picking this up in the hopefully near future.

### Usage locations
output of `find . | grep -nHIrF -- 'from "lodash'` in the babel/packages directory:

[code]

#### functions in use:

[code]

[2020-07-02 16:51] jorenbroekema commented on #11726
Thanks for the comments and clarification guys. Sadly I'm more busy than expected, and the scope is a little bit bigger than I thought initially as well, so I won't be able to pick this up anytime soon. Probably somewhere in August

[2020-07-02 23:21] jaeh commented on #11726
i would love to pick this up too, it's very tempting to get rid of the 272 security warnings npm shows for my static page generator.

if babel were my library, i would replace functions with their builtin versions (uniq, includes, etc)
in other cases i would probably copy the functionality into a new @babel/dash package, including the tests, then simplify the functionality and api where applicable

[2020-07-03 00:03] nicolo-ribaudo commented on #11726
Could we use the individual packages (like `lodadh.uniq`) instead of the "big" `lodash`? By doing so we would only get reports for vulnerabilities in the functions we are using.

[2020-07-03 07:17] johannes-z opened #11784 "@babel/preset-env "include" option doesn't seem to work for useBuiltIns: 'usage'"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
I'm trying to use the `include` option for `@babel/preset-env` to add additional polyfills (i.e. polyfills needed by external dependencies), but they never get included in my transpiled file.

A clear and concise description of the behavior.

##### main.js
[code]

**Expected behavior**
`Set` should be polyfilled automaticall

[2020-07-03 09:52] jonkoops opened #11786 "Compilation error with preset-react: _helperPluginUtils.declare is not a function"
## Bug Report

**Current behavior**
Application does not compile with `@babel/preset-react@7.10.4`, using version `7.10.1` does.

**Input Code**
https://github.com/Amsterdam/atlas/tree/babel-bugreport

Run `npm run start` on this branch.

**Expected behavior**
Code compiles as before

**Environment**
[code]

**Additional context**
![image](https://user-images.githubusercontent.com/695720/86457020-

[2020-07-03 09:55] wang12124468 opened #11787 "Nested error with Decorator"
## Bug Report

**Current behavior**

![image](https://user-images.githubusercontent.com/17714343/86456664-feebf300-bd54-11ea-8d71-568e8a69513b.png)

**Input Code**

[code]

**Expected behavior**

It is normal in [repl](https://babeljs.io/repl)

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**

[code]

**Environment**

[code]
- Babel version(s):  v7.10

[2020-07-03 14:07] marceliano13 opened #11788 "Cant see console.log again in Remote Debug"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
I added thee remove console plugin, saw it working an tried to remove it. Now when i do remote debug i cant see logs anymore in iOS, Android works fine.

**Input Code**

**Expected behavior**
Show console.log

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.c

[2020-07-03 14:41] JLHwung commented on #11788
They are not reflected on your posted babel config. And I am not sure how this issue is related to Babel.

[2020-07-03 15:11] existentialism commented on #11786
@jonkoops Thanks for the issue report!

First clue is the path:

`node_modules/@babel/preset-react/node_modules/@babel/plugin-transform-parameters`

Note the nesting?

Then, confirming by taking a look at your lockfile, there are a bunch of duplicated @babel/-related deps.

The "easiest" fix is to just remove all the `@babel/*` entries from the lock file and rerun `npm i`, which fixes things:

htt

[2020-07-03 16:51] jonkoops commented on #11786
Thanks a lot @existentialism, that seems to resolve the issue :tada: Should probably have tried throwing away my lockfile first.

[2020-07-03 16:51] #11786 closed

[2020-07-03 16:55] existentialism commented on #11786
@jonkoops glad it worked! I wouldn't recommend blowing away your lockfile, but there may be times when the package managers get super confused when updating just some parts of babel due to the sheer number of packages.

[2020-07-04 07:36] Yokubjon-J commented on #11385
I am having a problem with babel setup on Windows: I navigated to babel repo and ran `make watch`  (I didn't run make bootstrap because I have already run it some days ago) and I get the error:
![Capture](https://user-images.githubusercontent.com/67240021/86507608-05c94300-bdf3-11ea-945d-4925ab6fdc80.PNG)

[2020-07-05 01:35] mixail-novikov opened #11793 "addDefault adds underscore even if nameHint provided"
Documentation shows an example without underscore
https://babeljs.io/docs/en/next/babel-helper-module-imports.html#import-hintedname-from-source

But in fact, it is added to the name
https://github.com/babel/babel/blob/e498bee10f0123bb208baa228ce6417542a2c3c4/packages/babel-helper-module-imports/test/index.js#L299

I understand why an underscore is necessary for _default(a reserved word). But I ca

[2020-07-05 11:30] Ed-Ed opened #11794 "Plugins need to be a lot more information in the docs"
**Is your feature request related to a problem?**

I decided to try out Rollup in my project. It currently uses Webpack. Upon attempting to get it to work, I come across the following error:

`Add @babel/preset-flow (https://git.io/JfeDn) to the 'presets' section of your Babel config to enable transformation.`

I don't understand why it's asking me to install preset-flow or what it is since I've n

[2020-07-05 15:39] Yokubjon-J commented on #11385
When I am at the 6th step, after running `make watch` I am getting stuck at:
[code]
Up till this part, many files will have been compiled (it generates a really long list of those files), everything seem works perfectly, but at `[19:42:42] Starting 'watch'...` it takes an indefinite amount of time and I will have had to stop it, then that error is generated. What is your suggestion for me to proce

[2020-07-05 15:40] nicolo-ribaudo commented on #11793
We should probably update the docs: that's just an "hint", not the exact parameter name. Also, all the variable names generated by Babel start with `_`.

[2020-07-05 15:46] nicolo-ribaudo commented on #11784
This is a docs issue: `include` and `exclude` mean "Babel thinks that this function is supported by my targets, but it isn't". You are telling Babel that `es.map` isn't supported by your targets, but Babel doesn't inject it because, even if it isn't supported, it doesn't think that you are using `new Map()`.

Also, even if we added an option to forcefully inject polyfills, then we have a problem:

[2020-07-05 15:48] nicolo-ribaudo commented on #11385
Could you try running `make build-no-bundle` and then `yarn gulp watch` instead of `make watch`?

[2020-07-05 15:49] nicolo-ribaudo commented on #11385
That's expected (I should have been clearer): `make watch` never ends. If you modify a file and save it, you'll notice that the `make watch` command that is running will produce new output showing that it re-compiled the updated file.

[2020-07-05 16:13] Yokubjon-J commented on #11385
`make build-no-bundle` worked fine but I am getting (again) stuck after running `yarn gulp watch`, the last 3 lines after which I am stuck are:
[code]
Here I have stopped the process manually but it didn't give `make: *** [Makefile:85: watch] Error 1` error as before.

[2020-07-05 23:11] nicolo-ribaudo commented on #11385
It's expected that it doesn't stop: it's waiting for you to change some files. I suggest leaving it in the background and opening a new terminal.

[2020-07-06 03:58] Bosch-Eli-Black opened #11795 "preset-modules missing LICENSE file"
The `preset-modules` module is missing a LICENSE file. Ideally, it would have a LICENSE file, like the `preset-env` and `preset-react` modules :)

[2020-07-06 07:56] sag1v commented on #11646
Is this in WIP?

[2020-07-06 08:07] ryzokuken commented on #11646
@sag1v yep, check out the linked PR for the full conversation and current status. I'm planning to make the final requested changes this week :crossed_fingers:

[2020-07-06 08:08] sag1v commented on #11646
Thank you 💚

[2020-07-06 14:45] reintroducing opened #11796 "@babel/preset-env not including classProperties"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
According to https://github.com/babel/babel/blob/master/packages/babel-compat-data/scripts/data/plugin-features.js, it looks like `@babel/plugin-proposal-class-properties` is no longer needed and included in `preset-env`, please correct me if I'm wrong here because that would nullify this whole issue. That being said, withou

[2020-07-06 15:28] JLHwung commented on #11796
Sorry for the short reply as I am on the phone. Please checkout https://babeljs.io/docs/en/babel-preset-env#shippedproposals

[2020-07-06 16:54] reintroducing commented on #11796
No worries, thank you. I went ahead and tried this, however, and removed the class properties proposal and i'm still seeing the issue. I removed class properties proposal plugin and changed my preset-env config to this:
[code]

Did I misunderstand something?

[2020-07-06 16:58] reintroducing commented on #11796
@JLHwung In reading the babel docs again, I think I misunderstood and because I'm using `useBuiltIns: 'entry'` I need to directly import the proposal polyfill. If I were using 'usage' then I could use `shippedProposals: true`. Is that correct?

[2020-07-06 17:09] existentialism commented on #11796
@reintroducing `shippedProposals` is unrelated to `useBuiltIns`. `useBuiltIns` adjusts how _polyfills_ are handled, not what transforms are performed.

[2020-07-06 17:11] reintroducing commented on #11796
@existentialism Hmm, I guess I'm confused by this bit in the docs then:
[code]

[2020-07-06 17:13] existentialism commented on #11796
Yeah it's made slightly more confusing because there are _proposal_ polyfills too... but those again only apply to those [made available via core-js](https://github.com/zloirock/core-js/tree/master/packages/core-js/proposals).

[2020-07-06 17:24] JLHwung commented on #11796
[code]
is incorrect because it is passing `{ shippedProposals: true }` to `require()`, which is definitely no-op. I don't think the `require`-call is necessary here, and we don't recommend using `require("@babel/preset-env")` on the docs, too.

[code]

[2020-07-06 17:26] #11795 closed

[2020-07-06 17:27] reintroducing commented on #11796
@JLHwung This is inside of an external config that gets published to npm and my understanding was that this is how they should be written. Is that not correct?

[2020-07-06 17:31] existentialism commented on #11796
@JLHwung nice catch on passing options to require()!

@reintroducing "Correct" really depends on a number of things, but if in your case it is necessary you can always do something similar to what CRA does:

[code]

[2020-07-06 17:34] reintroducing commented on #11796
oh, i see my error now and what you guys are saying, i forgot to close the require and pass the options after it. my apologies, i again misread the docs on creating presets. let me try to fix that first before anything :\

[2020-07-06 17:38] JLHwung commented on #11796
Sidenote: if your app is working perfectly with this preset already, maybe you can consider remove all options (since they are passed to `require()`) and resort to defaults -- it's much easier to maintain.

[2020-07-06 17:42] reintroducing commented on #11796
OK, that did the trick, final looks like this (for historical context if anyone is an idiot like me):
[code]

@JLHwung This is actually a new preset I created when extracting the babel config out of a project so we can re-use it across the board and the issues I'm seeing are coming from my first try at implementing it and running babel with this preset.

Anyway, thank you guys for the help in look

[2020-07-06 17:42] #11796 closed

[2020-07-07 00:59] mbostock opened #11800 "Bug: switch statements containing closures are broken"
## Bug Report

**Current behavior**
Switch statements containing closures are generating broken code causing adjacent cases to run. See this minimal reproduction with the default settings:

https://babeljs.io/en/repl#?browsers=defaults&build=&builtIns=false&spec=false&loose=false&code_lz=GYewTgBAFAxiB2BnALhAhhEwIG0CMAugJQQDeAUBBIgO4CWyMAFtMmAK4CmJFVVMaRJwhsuALjKU-_BCggAjCAF4IeANxTpUEkoB8CjdKp1sUUd

[2020-07-07 05:34] mm-sam commented on #10333
add plugin [transform-amd-to-commonjs](https://github.com/msrose/babel-plugin-transform-amd-to-commonjs)

[code]

[2020-07-07 07:40] Andarist commented on #11800
Thanks for the report! I'm marking this as "help wanted" - maybe some volunteer will jump into fixing this before the core team manages to do it. I believe the solution using `if` statements seems like the easier one.

[2020-07-07 11:21] vitorveiga commented on #10046
Hello,

New Pull Request #11801 to fix the reported bug.

It was easier (for me) to just create a new PR instead of refactoring the PR #10050.

[2020-07-07 16:13] kai670 opened #11803 "Comments are stripped when all code from a file is removed by @babel/plugin-transform-typescript"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
When processing a file where all its contents is removed during transpilation, comments are also removed. If some code is kept, comments are kept.

- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=PQKhCgAIUgBAXAngBwKYBNUDNIG8D2ARgFaoDG8AvpAK4DOqATlDLMo_mo0nnfIwEsAdgHNqAbQHoAui2

[2020-07-07 18:49] JLHwung commented on #11800
Duplicate of #11690

[2020-07-07 22:38] #11800 closed

[2020-07-07 22:38] #11690 closed

[2020-07-08 03:56] hzoo commented on #11800
Thanks for the report and suggested fix @mbostock!

[2020-07-08 11:22] teetotum opened #11805 "@babel/plugin-transform-runtime causes "Promise is undefined" in IE11"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
My project couldn't run in IE11 because it encountered "Promise is undefined" when opened. Although webpack is configured to include polyfills when needed. When I commented out *@babel/plugin-transform-runtime* (so it is no longer used in the webpack config) the project could open in IE11 without any errors.

- [REPL](babelj

[2020-07-08 13:54] sbusch opened #11806 "Problem with "this" in React component using JSX"
## Bug Report

I (and others) get an error when running the build of a create-react-app project ("Minified React error #130 - 'this' in JSX arrow function", see <https://github.com/facebook/create-react-app/issues/8738>

*Note: I had hoped to find a existing bug, so I [posted the problem as a discussion](https://github.com/babel/babel/discussions/11785) first*

**Current behavior**

With the follo

[2020-07-08 16:55] lucksp commented on #11394
same issue:

`    "build:es2015": "NODE_ENV=production babel ./src --out-dir ./build --copy-files --no-copy-ignored",
`

babel.config looks like:
[code]

output includes `__test__` and `__tests__` and `__snapshots__` dirs, but correctly excludes `devMode` and `src/index.js`.

[2020-07-09 00:53] ayofish commented on #9849
This really saved me. Thank you!!

[code]
 only things needed in .babelrc

[2020-07-09 16:32] RafaelSalguero opened #11813 "[typescript] Generic parameter is not removed when using the optional chaining operator"
## Bug Report

- [ X ] I would like to work on a fix!

**Current behavior**
Generic parameters are not removed from function calls after using the optional chaining operator

- [Codesandbox](https://codesandbox.io/s/red-leaf-z8wbs), [Repo](https://github.com/RafaelSalguero/BabelTypescriptGenericsError)
**Input Code**

[code]

**Expected behavior**
Generic parameters should be removed from function

[2020-07-09 17:58] JLHwung commented on #11813
`x?.map<boolean>()` is an `OptionalCallExpression`, we shall remove its `typeParameters` like we did for `CallExpression`

https://github.com/babel/babel/blob/55ce749f429ffd03ede4cd16afb4db1f89085540/packages/babel-plugin-transform-typescript/src/index.js#L418-L420

@RafaelSalguero If you are willing to send a PR, please leave a message so I will assign this issue to you, thanks.

If you don't kno

[2020-07-09 20:46] RafaelSalguero commented on #11813
@JLHwung please assign the issue to me, thanks!

[2020-07-09 22:32] #11813 closed

[2020-07-10 14:23] stla commented on #9849
I had a similar problem but I don't use `.babelrc`. I solved by writing that in `webpack.config.js`:

[code]

[2020-07-12 03:34] farhan-sauce opened #11825 "Babel corejs3 export and export default issue"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
Import property doesn't work when using both `export default` and `export` in same file. This issue is visible when I use
"@babel/plugin-transform-runtime, { corejs: 3 }" and "add-module-exports" plugins together. It used to work fine without using `corejs: 3` with `@babel/plugin-transform-runtime`.

Please check [my repo](h

[2020-07-12 03:43] Pytal opened #11826 "export * as ns syntax with @babel/preset-typescript"
## Bug Report
**Current behavior**
TypeScript 3.8 shipped with support for [`export * as ns` Syntax](https://devblogs.microsoft.com/typescript/announcing-typescript-3-8/#export-star-as-namespace-syntax) which should correctly transpile the following:

**Input Code**
[code]

**Expected behavior**
Using the code above with just [`@babel/preset-typescript`](https://github.com/babel/babel/tree/main/pa

[2020-07-12 08:17] frank-dspeed opened #11827 "Create plugin https://github.com/babel/babel/tree/main/packages/babel-plugin-transform-systemjs-modules"
## Feature Request
transform systemjs to es6+ modules

- [ ] I would like to work on this feature!

**Is your feature request related to a problem?**
When I want to bundle systemjs modules and re-evaluate the graph for example with rollup and create a new systemjs bundle (new chunked) then I need a way to transpile systemjs=>es6-modules before i generate the output.

i am already working on creati

[2020-07-12 16:14] grubersjoe commented on #11474
Closing this, since it was fixed in #11628

[2020-07-12 16:14] #11474 closed

[2020-07-12 22:49] nicolo-ribaudo commented on #11827
Generally Babel is for compiling modern syntax to older one (i.e. es modules to systemjs). It's definitely possible to try writing the opposite plugin, but:
- It isn't something that belongs to this repository. You can try writing your own plugin using, for example, https://astexplorer.net/ to prototype it
- It might be hard because SystemJS is more flexible than es modules, because it doesn't rel

[2020-07-12 22:51] nicolo-ribaudo commented on #11826
`export * as ns` isn't TS-specific syntax; it's a normal JavaScript proposal. We'll add it to `@babel/preset-env` once it becomes stable.

[2020-07-13 00:32] Pytal commented on #11826
Right, I though since this syntax was released to stable in TypeScript 3.8 it'd be nice to have it supported in `@babel/preset-typescript` as well

[2020-07-13 03:53] frank-dspeed commented on #11827
@nicolo-ribaudo are you sure as systemjs is a current formart? There exist cdn's some scripts exist as systemjs only version and it is only the wrapping. Awww but anyway the issue exists and i will move on to the next task :)

[2020-07-13 03:53] #11827 closed

[2020-07-13 08:47] sukrut-gs opened #11828 "Upgrade lodash version as they have fixed one vulnerability"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem?**
A concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**

**Describe alternatives you've considered**.

**Documentation, Adoption, Migration Strategy**
If you can, explain how users will be able to use this and how it might be

[2020-07-13 11:48] jun-sheaf opened #11829 "babel.config.json should be babel.config.js"
## Bug Report

**Current behavior**

In the babel documentation, babel.config.js is listed as babel.config.json. For example, https://babeljs.io/docs/en/configuration#babelconfigjson

**Expected behavior**
It should be babel.config.js

**Possible Solution**
Replace babel.config.json with babel.config.js

[2020-07-13 11:49] #11829 closed

[2020-07-13 13:11] existentialism commented on #11828
@sukrut-gs thanks for the issue, but this is fixed in https://github.com/babel/babel/pull/11818 (and since we use `^` range for the dep you shouldn't need to wait for a Babel release, you can either remove `node_modules` or remove it from your lockfile and reinstall)

[2020-07-13 14:08] cwohlman opened #11830 "Adding a comment to an async function before the first argument can result in a syntax error"
## Bug Report

**Current behavior**
If you place a comment before the first (and only) argument of an async function (but after the async keyword), and the function has only a single argument, and if you use the await keyword inside that function, the compiled javascript won't run because the function isn't marked as async.

You get the following error when you run the compiled code:
[code]

Here'

[2020-07-13 14:26] cwohlman commented on #11830
I think something like this might solve the issue: https://github.com/xolvio/babel/compare/main...suggested-fix-11830.

[2020-07-13 18:01] Hotell opened #11833 "@babel/register: add typecript to default extensions -> .ts,.tsx"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem?**

Currently when one uses typescript as language and type checking and babel for transpilation and with that tooling usage is needed, for instance with mocha or uvu etc, there is no way to use `mocha --register @babel/register my-tests.spec.ts`

**Describe the solution you'd like**

It

[2020-07-13 18:46] #11828 closed

[2020-07-13 18:52] JLHwung commented on #11830
@cwohlman The suggested fix looks good to me. Can you send a PR?

[2020-07-13 22:28] JLHwung commented on #11826
I can reproduce the error on [REPL](https://babel.dev/repl#?browsers=node%2012&build=&builtIns=false&spec=false&loose=true&code_lz=KYDwDg9gTgLgBAKjgQwM5wGYQpqEC2cARAHQD0WEJ-AVqkUA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Ctypescript&prettier=true&targets=&version=7.10.4&exte

[2020-07-14 03:55] y-nk opened #11834 "decorators execution does not come at the right time"
## Bug Report

- [x] I would like to work on a fix!
- [Codesandbox](https://codesandbox.io/s/sleepy-frog-zlfi6?file=/src/index.js)

**Input Code**

[code]

**Current behavior**

Code stack executes as following:

1. Decorator is executed with an unknown/undesired instance of Foo without class properties set (not Bar, and target.foo === undefined)
2. Create a new Bar instance
3. Call constructor of

[2020-07-14 06:57] clar-cmp commented on #11826
Also ran into this -- IMHO, `preset-typescript` should include proposals that aren't proper ECMAScript features yet. Right now, because it's included as part of ES2020, it makes sense to include in preset-env, but in the future I feel like clarifying something along these lines in the documentation for preset-typescript would be helpful.

[2020-07-14 07:43] goldhand opened #11835 "Add --no-copy-excluded cli flag to respect excluded files when using --copy-files"
## Feature Request

- [x] I would like to work on this feature!

**Is your feature request related to a problem?** Yes

We have an internal common babel preset for our team's projects. There are a couple `.css` files in some projects that we include in the build directory (not sure if that's a good practice but it's not the issue here, also *build* is where we transpile code to (eg `dist` or `lib`

[2020-07-14 12:15] cwohlman commented on #11830
Sure, I can take a stab at it.

[2020-07-14 13:27] goldhand commented on #11835
I just realized that `exclude` was not doing what I thought it was...

I wish there was a way to ignore files from a preset though

[2020-07-14 13:27] #11835 closed

[2020-07-14 13:32] #11506 closed

[2020-07-14 14:35] cwohlman commented on #11830
Ok, took a first stab: https://github.com/babel/babel/pull/11836, it's not complete as I wasn't able to fix the tests that depend on the old behavior (which should probably be preserved when it won't cause a bug).

[2020-07-14 22:06] lucastrevisan opened #11839 "No matching version found for @babel/types@^7.10.5"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/types@^7.10.5
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/helper-builder-react-jsx-experimental'
npm ERR! notarget

[2020-07-14 22:17] JLHwung commented on #11839
The version is correctly published on npm: https://www.npmjs.com/package/@babel/types

If you are behind a proxy (maybe for work) it's probably its cache that isn't updated.
Otherwise, please report this bug to npm (https://github.com/npm/cli/issues/new/choose) because once there is nothing we can do about it.

[2020-07-14 22:17] #11839 closed

[2020-07-15 03:52] MohammedYacub1029 opened #11841 "npm ERR code ETARGET-- no matching version found for babel/types@^7.10.5"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/types@^7.10.5.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of '@babel/helper-define-map'
npm ERR! notarget

can anyone help me on this

[2020-07-15 04:40] #11841 closed

[2020-07-15 07:56] manojsubbarayalugmi commented on #11841
Even in the latest version https://www.npmjs.com/package/@babel/types **(@babel/types@7.10.5)** I'm facing the same error.

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/types@^7.10.5.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specif

[2020-07-15 07:58] elyobo commented on #9853
@JMarkoski that is a fantastic rundown; is there an equivalent somewhere in the docs that I'm missing?  It's really unclear how these options interoperate and what the correct approach should be.

[2020-07-15 10:42] merceyz commented on #11726
@nicolo-ribaudo Those have been deprecated and tend to lead to larger installs as people are likely to already have lodash in their dependency tree https://lodash.com/per-method-packages

[2020-07-15 20:48] #11830 closed

[2020-07-16 03:28] MohammedYacub1029 commented on #11841
hey manoj its not actually a bug its jus a cache ask yur repo maintanence team to clear the cache it wil work fine

[2020-07-16 05:52] jakeleventhal opened #11844 "Issue with lint and curly strings introduced in @babel/core 7.10.5"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

When I use eslint 7.4.0 and @babel/core 7.10.4, everything works. When upgrading to 7.10.5, I get the following error:

[2020-07-16 08:53] jimwmg opened #11845 "@babel/preset-env setup : modules:commonjs will lead to import('xxx') not work as dynamic import"
## Bug Report

module code
[code]
**Current behavior**
why when use webpack 3

**Input Code**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.config.js`

[code]

**Environment**

[code]
- Babel version(s): [e.g. v6.0.0, v7.0.0-

[2020-07-16 08:57] #11845 closed

[2020-07-16 13:16] JLHwung commented on #11844
I can not reproduce this issue on a fresh installed repo: https://github.com/JLHwung/babel-test-repo-11844

Can you draft an reproducing repo based on that?

[2020-07-16 18:22] JLHwung commented on #11825
@farhan-sauce Thanks for the reproducing repo! It is greatly helpful.

The issue comes from integrations between `transform-runtime` and `add-module-exports`: If you remove `add-module-exports`, both `corejs: 3` and `corejs: 2` (the default) produce desired output.

`add-module-exports` relies on the exact shape of `Object.defineProperty`:
https://github.com/59naga/babel-plugin-add-module-exports/

[2020-07-16 18:22] #11825 closed

[2020-07-16 18:25] #11788 closed

[2020-07-16 19:40] #11638 closed

[2020-07-16 19:47] #11526 closed

[2020-07-16 19:51] JLHwung commented on #11438
`class-properties` and `private-methods` are now included in `preset-env` behind a `shippedProposals: true` flag. If you use Chrome 84 and sets `targets: "chrome 84"` in `preset-env`, they will no longer be transpiled by Babel and you can inspect them from DevTools.

[2020-07-16 19:51] #11438 closed

[2020-07-16 20:00] JLHwung commented on #10952
I think it falls onto webpack configuration issues, and given that CRA works as expected, the issue is likely from an invalid configurations. Please submit this issue to the webpack communities.

[2020-07-16 20:00] #10952 closed

[2020-07-16 20:01] #11034 closed

[2020-07-16 20:02] #10972 closed

[2020-07-16 21:01] #10653 closed

[2020-07-16 21:24] JLHwung commented on #10297
@deadmann I am glad that the old thing works again. I am gonna close this. Feel free to reopen if you can come up with a reproducing repo.

[2020-07-16 21:24] #10297 closed

[2020-07-16 21:31] JLHwung commented on #10094
I can not reproduce this issue on REPL: https://babel.dev/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mAVAAmACgJTIN4ChnIA2AplMgIbIC8yADANy4C-uMwyaUATiMVngRJly9ZAHoxyABIBRAEozmQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Ces2015%2Cenv&pret

[2020-07-16 21:31] #10094 closed

[2020-07-16 21:32] #10523 closed

[2020-07-16 21:41] JLHwung commented on #10004
Closing this issue as won't fix, see https://github.com/babel/babel/pull/10012#discussion_r321535012.

[2020-07-16 21:41] #10004 closed

[2020-07-16 21:52] JLHwung commented on #9860
I can not reproduce this issue on Babel 7.10.5: [REPL](https://babel.dev/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=LYewJgrgNgpgdDAHgBxAJwC4GcAEBeHAbwCgccsBLDGAWRgwEMwHGAuI0snDK2dgAwDiLLACMAnjgAiMAGYNoGHAGVGmGGn4AaTmTAwsAYzQVkPEADsBAaQqGA1jhCzZOcSAhocFpBi04AczQYFhxhbAkcZDQQACsYQyUAdyoAC25Uilx9eUVyNWo0OBwAFUzcUQZg0UsDfKrC8kzkXBSMdPaYHGAGCgswkUjDS1kKAM8WCkscUdhcdwhusdSlHxgw

[2020-07-16 21:52] #9860 closed

[2020-07-16 22:11] #10436 closed

[2020-07-16 22:47] ArgonAlex commented on #10094
Nice, it looks like it was fixed in either 7.6.1 or 7.6.2

7.6.0 Broken:
https://babel.dev/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mAVAAmACgJTIN4ChnIA2AplMgIbIC8yADANy4C-uMwyaUATiMVngRJly9ZAHoxyABIBRAEozmQA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=tru

[2020-07-17 06:25] JounQin commented on #11363
Any news on this? Is there anything we can do to resovle this issue?

[2020-07-17 11:36] DLJames opened #11848 "Jest test pass but I always get a “Nothing was returned from render” error when running jest coverage"
Note: I used create-react-app to create a new App, but I got an error I cant fix, I already looked through similar questions; the solutions provided do not solve my problem.

[code]

My Jest plug dependencies:

[code]
I try to search reason on google and get taht maybe this issue caused by babel version, solution looks like below
`{ "presets": [ [""@babel/preset-react"", { "pragma": "React.createE

[2020-07-17 14:04] JLHwung commented on #11848
What is the `render` of the component where the error is thrown?
How do you test this component?
What is your jest config?
Can you share a reproducing repo?

[2020-07-17 22:28] Istador commented on #10523
In case someone's interested in it, I separated it 5 weeks later and forgot to mention it here: https://github.com/Istador/babel-plugin-transform-unicode-regexp-runtime

[2020-07-17 23:28] devnet-io commented on #9224
I would be very interested in this as well. The @babel/cli wrapper syntax would work well for me:

`require("@babel/cli").run(["src", "--out-dir", "dist"]`

[2020-07-18 23:48] vvanpo commented on #11805
Hi @teetotum, although the documentation unfortunately does not make this all that clear, `useBuiltIns` from `@babel/preset-env` and `@babel/plugin-transform-runtime` are _mutually exclusive_; use one or the other. If you want to use both the preset and the plugin, you have to set `useBuiltIns` and `corejs` to `false`.

The difference is that `@babel/preset-env` injects **poly**fills when `useBuil

[2020-07-19 00:08] vvanpo commented on #11805
According to Babel's maintainer, `useBuiltIns` from `@babel/preset-env` and `@babel/plugin-transform-runtime` are [mutually exclusive](https://github.com/babel/babel/issues/10271#issuecomment-528379505). This is extremely unclear in the documentation; in fact, in the very first note made in `@babel/plugin-transform-runtime`'s docs, it even implies that you _should_ combine it with `@babel/preset-e

[2020-07-19 01:18] vvanpo commented on #11805
@teetotum one thing I am noticing is that you don't have `core-js` installed. I haven't checked thoroughly, but I don't think any of the dependencies you've listed install it as a transitive dependency, so I'm unsure of how your build is successful at all, regardless of your inclusion of `@babel/plugin-transform-runtime`.

[2020-07-19 13:50] ylemkimon commented on #11805
For `@babel/plugin-transform-runtime` to polyfill `Promise`, you should set `corejs: 2` or `3` in its configuration. See https://babeljs.io/docs/en/babel-plugin-transform-runtime#corejs.

[2020-07-20 00:55] woongsikchoi commented on #11446
The same problem occurs also for the nullish coalescing operator `??`.

[2020-07-20 09:45] amoshydra commented on #11363
@JounQin

See: https://babeljs.io/docs/en/babel-plugin-proposal-export-namespace-from

[2020-07-20 15:14] svewag commented on #11607
I also had this issue in my vue project (not vue-cli, not nuxt) when running webpack for client and server build.

* "@babel/core": "7.10.5"
* "@babel/preset-env": "7.10.4"
* "@babel/plugin-transform-runtime": "7.10.5"
* "@babel/plugin-syntax-dynamic-import": "7.8.3"
* "babel-plugin-dynamic-import-node": "2.3.3"

[code]

After downgrading babel-plugin-dynamic-import-node to 2.3.0 errors were gone.

[2020-07-20 15:44] nicolo-ribaudo commented on #11607
You don't need to downgrade: you can completely disable it when you are using webpack.

[2020-07-20 20:11] jesse23 opened #11851 "[@babel/preset-typescript]`alias` will be truncated in `import funcA as alias` if `alias` is not used in source code"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
- Given unit test below:
https://github.com/Few-UI/few/blob/a40754cd6cd2051c6d7b1a5d21e65f17153120cb/test/react/react.test.tsx#L19
[code]
If I remove the hard-coded `h`, which means there is an import alias and no reference, the alias will be truncated as typescript type 'as' and the test will fail:
[code]

- [REPL](babeljs.

[2020-07-21 12:42] JLHwung commented on #11851
As a workaround, you can set [`onlyRemoveTypeImports: true`](https://babeljs.io/docs/en/babel-preset-typescript#onlyremovetypeimports) in `preset-typescript`.
[code]

[2020-07-21 18:47] JLHwung opened #11860 "Enable logical assignment by default in @babel/parser"
## Feature Request

<div align="center">

### Logical Assignment (`&&=`, `||=`, `??=`) is Stage 4!
![](https://media.giphy.com/media/iXTrbbYMQBCMM/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/parser` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/c3388ea42f3ec2d9614503fd0eff81b679ba12a7

1. Remove all the `this.hasPlugin`

[2020-07-21 19:00] JLHwung commented on #11209
Closing this issue as the current behaviour aligns to spec. See https://github.com/acornjs/acorn/issues/917#issuecomment-662047238

[2020-07-21 19:00] #11209 closed

[2020-07-21 19:06] pustovalov commented on #11860
I would like to give it a try

[2020-07-21 19:13] JLHwung commented on #11860
@pustovalov Thanks for showing up. A good first issue targets to first-time contributors. That said, if it is not claimed by a new contributor in the next 24 hours, it will be yours!

[2020-07-21 19:33] JLHwung opened #11861 "Enable logical assignment in @babel/preset-env"
## Feature Request

<div align="center">

### Logical assignment is Stage 4!
![](https://media.giphy.com/media/3o6MbnqpZBwWdWg3gk/giphy.gif)
</div>

This means that it should be enabled by default in `@babel/preset-env` :tada:

It should be done similarly to this commit: https://github.com/babel/babel/commit/b92ad318f173e1a0573a188324aa0c222ea35782

1. Add it to `packages/babel-preset-env/src/avai

[2020-07-21 21:43] JLHwung commented on #6688
I can not reproduce this error on `@babel/parser` 7.9.4 right at the [example](https://astexplorer.net/#/gist/3ab9c8567c9d0a9679e5055eac3d2471/15067337efba599e4417dff5976734d8e2b7eb86) mentioned in OP. I think it has been fixed. Feel free to reopen it if you can come up with a reproducing issue on latest babel.

[2020-07-21 21:43] #6688 closed

[2020-07-21 21:44] vahnag commented on #11860
I would like to take this. Will have it ready within 24 hours if that works.

[2020-07-21 21:57] JLHwung commented on #11860
@vahnag It's yours!

[2020-07-21 23:50] arku commented on #11861
@JLHwung I would like to work on this.

[2020-07-22 00:49] morrme commented on #11861
If this is for new-to-project contributors only (just saw that on a different issue) then I'll jump in and volunteer :)

[2020-07-22 01:08] arku commented on #11861
@morrme It is! Feel free to get started 🙂

[2020-07-22 01:11] morrme commented on #11861
@arku Thank you so much! :heart:

[2020-07-22 01:11] existentialism commented on #11861
@morrme let us know if you have any questions!

[2020-07-22 01:12] existentialism commented on #11860
@vahnag no rush!

[2020-07-22 01:14] morrme commented on #11861
@existentialism Will do! Thanks!

[2020-07-22 05:43] morrme commented on #11861
I am at the step where I add the feature to `packages/babel-compat-data/scripts/data/plugin-features.js `
 ... I found "Logical Assignment" on https://kangax.github.io/compat-table/esnext/ but I am not sure where to put it in the` plugin-features` file.

[2020-07-22 07:42] felixfbecker opened #11866 "Cannot forcefully include core-js polyfill esnext.*"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

I'd like to include certain stage-x core-js polyfills, e.g. `esnext.aggregate-error` (stage 4) or  `esnext.symbol.observable`. I specify these in the `include` option, and I've also tried to import `core-js/modules/esnext.aggregate-error` manually. But Babel doesn't just not include the import when expanding the `core-js` i

[2020-07-22 08:43] nicolo-ribaudo commented on #11866
`include: "esnext.aggregate-error"` means "AggregateError should be considered as not supported by my target browsers", but Babel still needs to see it as used. However, we shouldn't probably remove the explicit import.

As a workaround, you can try adding
[code]
in your code, so that Babel sees it as used. If you want to be more explicit, you could use a label:
[code]

[2020-07-22 09:09] felixfbecker commented on #11866
Sorry, I should clarify that I was using `new AggregateError()` in my code, so it should have considered it as "used". My explanation was that babel-preset-env docs says it does not support any stage-x proposals, only standards. But because it removes imports, there seems to be no other way to import stage-x polyfills then.

Is the label syntax documented somewhere?

[2020-07-22 09:14] nicolo-ribaudo commented on #11866
Yes, I misunderstood the issue.

Singe `AggregateError` is Stage 4 only since yesterday, it's still considered a proposal by Babel. If you need to use proposals, you can use `corejs: { version: 3, proposals: true }`.

Label syntax is not special, it's just a way to "use" something.

[2020-07-22 13:18] existentialism commented on #11861
@morrme you can create a new mapping like so:

[code]

And then add `es2021` to `module.exports` at the bottom!

[2020-07-22 13:21] JLHwung commented on #11861
@morrme I forgot to mention that we have a new feature branch `feat-7.11.0/stage-4`, if you just started working on this issue, I suggest you checkout that branch instead of `main`. You can see there is an `es2021` item out there.

The PR should also target to `feat-7.11.0/stage-4` instead of `main`.

[2020-07-22 18:01] JLHwung commented on #11826
@clar-cmp I agree, can you send a PR on https://github.com/babel/website/blob/master/docs/preset-typescript.md ?

[2020-07-22 18:09] andrewgies17 opened #11870 "Decorated async functions with retainLines is line-breaking after async"
## Bug Report

**Current behavior**
Babel will generate invalid output from valid input when the following conditions hold:
- An async function is decorated
- Decorators are transformed using `@babel/plugin-proposal-decorators` in `legacy` (stage 1) mode.
- `@babel/preset-env` is used targeting a version of Node that does not require `regenerator-runtime` (i.e. 12)
- `retainLines` is set to `true`

[2020-07-22 19:37] clar-cmp commented on #11826
I mean, what I'm proposing is technically a policy change, so I don't know if someone who isn't managing the project should just change the docs to say that.

[2020-07-23 00:32] mattlubner commented on #10752
I'm a little perplexed by the statement _"folks should just use typescript-eslint"_. For projects using babel to enable non-standard language features inside TypeScript files, I don't think it's possible to use `typescript-eslint`, right?

For context, I came here via https://github.com/babel/babel-eslint/issues/832 (which looks to be fixed by https://github.com/babel/babel/pull/9529), so I'm very

[2020-07-23 21:17] michaelyara opened #11872 "Cannot find module '@babel/runtime/helpers/typeof' with @babel/runtime installed"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
I'm attempting to package [swagger2openapi](https://github.com/Mermade/oas-kit/tree/master/packages/swagger2openapi) as a standalone library for use in the browser using browserify, bableify, and Babel 7.10.4. Due to my environment I cannot package the library with my application.

I need the runtime component for this, so I

[2020-07-23 22:22] martintreurnicht commented on #8962
I don't think you can require the `.ts` file directly. What's worked for me is you need to create another `.js` file that wraps you're `.ts` import. That currently works for me

[2020-07-24 01:11] kaicataldo commented on #10752
This is correct. We've historically struggled to maintain compatibility with ESLint for plain old JavaScript, so it's hard to prioritize supporting TypeScript in `@babel/eslint-parser`. The challenges we would face:

* The bulk of the work would be duplicating the work in `@typescript-eslint/parser`.
* There's added complexity in that we would have to not only ensure compatibility with ESLint but

[2020-07-26 10:15] vvo opened #11877 "[babel-node] babel-node won't use --config-file when using -e codeToEval"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**

Given a configuration file of:

[code]

And a command line of:

[code]

It will error with: "SyntaxError: /[redacted path]/[eval]: Only `var` variables are supported in the REPL". Because it's actually not using the configuration file.

The configuration file is not used to eval the code. You can even give the command line

[2020-07-26 12:26] proteriax opened #11878 "@babel/helper-validator-identifier can’t be required"
## Bug Report

Fix is available below.

- [x] I would like to work on a fix!

**Current behavior**
[code]

**Expected behavior**
It works.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
N/A

**Environment**
- Babel version(s): 7.10.4
- Node/npm version: v14.6.0
- OS: macOS Catalina
- Monorepo: no
- How you are using Babel: Node.js

**~~Possible~~ S

[2020-07-26 17:53] JLHwung commented on #11878
I believe it is a bug of node REPL, because the following example does not throw
[code]

[2020-07-27 23:03] hogpilot opened #11880 "Unexpected behavior when parsing { "foo": "bar" } vs { foo: "bar" }"
## Bug Report

**Current behavior**
On the Babel [homepage ](https://babeljs.io/) (or on the [repl](https://babeljs.io/repl)... or any configuration I have tried which uses '@babel/parser'), I'm seeing inconsistent behavior.

If you have simple input of `{ foo: "bar" }`, it parses to the same output `{ foo: "bar" }`.

However, if you express the same object another way, it throws an exception:

-

[2020-07-27 23:38] JLHwung commented on #11880
`{ foo: "bar" }` is indeed a valid JavaScript program. If you paste them to https://astexplorer.net/, you can see it is an BlockStatement `{}`, whose body is a LabeledStatement with label `foo` and the statement itself is an expression statement with string literal `"bar"`.

The IE's console output is indeed technically correct here: that `{ foo: "bar" }` returns `"bar"`. Hence the Chrome DevTools

[2020-07-27 23:38] #11880 closed

[2020-07-27 23:51] bgp1 opened #11881 ".babelrc ignoring env-specific preset settings"
I am trying to set different preset configurations for modules based on environment. For the “none” environment I’m passing a preset-env modules setting of “commonjs” but all others I’m using the standard default “auto” setting. When I run my code using “none” it’s not overriding and continues to utilize the generic configurations.

[2020-07-28 05:22] timreichen commented on #11543
[code]

How to specify ```targets``` ?

[2020-07-28 06:16] Alan-Liang opened #11882 "__proto__ as shorthand in object literal is not transformed properly"
## Bug Report

**Current behavior**
__proto__ as shorthand in object literal is transformed into regular `PropertyName : AssignmentExpression`s, which should instead be transformed into `defineProperty`. Similar to #4188 .

- [REPL](https://babeljs.io/repl#?code_lz=MYewdgzgLgBA-nADgJxFECYF4YG8YCGAXDAIwwC-AUKJLAEbZ7xKrqYVA)
- [Spec](https://tc39.es/ecma262/#sec-__proto__-property-names-in-object-in

[2020-07-28 08:11] luke-john commented on #11543
Just tested and the standard api seems to work in deno for `targets`.

[code]

[2020-07-28 08:32] smilingkite commented on #11615
For people trying to deal with this one: I had to not only delete the lock file, but also delete the whole node-modules directory (though deleting the specific package would probably have worked as well).

THEN do an 'npm install'.

[2020-07-28 10:21] timreichen commented on #11543
Thank you! Works perfectly now!

[2020-07-28 17:56] balazsmatepetro opened #11884 "@babel/parser throws error when the given JSX doesn't properly formatted"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
It tried to parse the attached code snippet with the `@babel/parser` package, but it throws an error. As it turned out, it's caused by the missing semicolon between the `const` declaration and the `if` statement in the `onChange` event handler.
When the code is properly formatted, the error doesn't occur.

- [Failing example

[2020-07-28 19:25] nicolo-ribaudo commented on #11884
This is expected: the missing semicolon is not just a formatting thing, it's a _syntax error_.

You can try running this code (without JSX) in Babel, and then in your browser's console: it will throw in both places.
[code]

[2020-07-28 20:45] sz-coder opened #11885 "[@babel/plugin-transform-runtime] Option absoluteRuntime not working as expected"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- Clone [this](https://github.com/sz-coder/babel-issue-11885) repository.
- Run `npm install && npm run build`

Not all required runtime functions are `require`d with an absolute path:

[code]

**Input Code**

[code]

**Expected behavior**
Required runtime functions should be

[2020-07-28 23:33] sz-coder commented on #11885
I found the root cause of this behaviour:

In `packages/babel-plugin-transform-runtime/src/index.js`:

https://github.com/babel/babel/blob/6373eb5d82d527f9b86a0145bdd2c4c9970a16eb/packages/babel-plugin-transform-runtime/src/index.js#L313

https://github.com/babel/babel/blob/6373eb5d82d527f9b86a0145bdd2c4c9970a16eb/packages/babel-plugin-transform-runtime/src/index.js#L382

https://github.com/babel/

[2020-07-29 03:41] huyaocode opened #11886 "When '@babel/preset-env' loose: true , the NodeList can't iterat in [...nodeList]"
This is my setting:
[code]
 When `loose` is set to `true`, I find my [NodeList](https://developer.mozilla.org/en-US/docs/Web/API/NodeList) can't iterat in spread array.

My code:
[code]

[2020-07-29 07:29] balazsmatepetro commented on #11884
Hi @nicolo-ribaudo

Thank you your for feedback. You're completely right, I tried to run the attached code snippet in the browser's console and it threw an error. I had a feeling it's a syntax error and not an error in the parser package, but thank you for the confirmation. :)

Feel free to close this issue.

[2020-07-29 08:56] #11884 closed

[2020-07-29 12:43] JLHwung commented on #11886
https://babeljs.io/docs/en/babel-plugin-transform-spread#allowarraylike

You can add overwrite the options of `@babel/plugin-transform-spread`
[code]

[2020-07-29 12:45] JLHwung commented on #11885
@sz-coder Join our [Slack community](https://babeljs.slack.com/) if you have troubles building Babel on your local machine.

[2020-07-29 18:41] maxime-helen opened #11888 "Setup documentation typo with babel-register moved to @babel org"
## Bug Report

- [X] I would like to work on a fix!

**Current behavior**

Following current setup documentation from [https://babeljs.io/en/setup#installation](url) with Mocha leads to an npm conflict between `@babel/core` and `babel-core` packages

`babel-register` depends on deprecated `babel-core` that isn't compatible with `@babel/core` dependency

**Expected behavior**
No error/conflict shou

[2020-07-29 19:24] mattlubner commented on #10752
It took me some time to understand what you meant by this. The main benefit of TypeScript is static typing (ie. type-checks are performed by static analysis tools, like eslint), so losing type information shouldn't matter at runtime. However, it matters hugely during static analysis. TSC can't parse Babel-specific syntax, Babel can't natively parse TypeScript syntax, and [`@babel/preset-typescript

[2020-07-29 20:22] nicojs opened #11889 "Cannot read property 'buildError' of undefined when using `path.buildCodeFrameError`"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

When using the programmatic API, babel always throws an error when I use `path.buildCodeFrameError`.

**Input Code**

A simple example:

[code]

**Expected behavior**
I would expect an awesomely formatted code frame error.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
_none

[2020-07-29 20:40] #10231 closed

[2020-07-29 20:40] #11206 closed

[2020-07-29 20:46] #11711 closed

[2020-07-29 21:12] JLHwung commented on #11889
Duplicate of #11350.

[2020-07-29 21:12] #11889 closed

[2020-07-29 21:20] jcreamer898 opened #11892 "@babel/node not recognizing ignores from babel.config.js when running babel-node"
## Bug Report

**Current behavior**
It's possible it's a "feature", but seems like a bug.

So, I have a babel config that has an ignore function in it. Mostly because where I work we have a couple of internal node modules we publish that have some `dist` folders with `import` `export` statements.

The `babel.config.js` looks more or less like this...

[code]

When I run the following...

[code]

I

[2020-07-29 21:35] jcreamer898 commented on #11892
For what it's also worth I finally got an ignore regex to work on the command line as well, just took me a while to get it right...

[code]

[2020-07-29 21:48] sz-coder commented on #11885
OK, I forgot to `cd` into the repository before executing `make bootstrap`. It was a long day...

Anyway, got babel up and running, will work on a pull request now.

[2020-07-29 23:40] #10411 closed

[2020-07-30 06:07] nicojs commented on #11889
Thanks @JLHwung ! I looked at that issue, but wasn't sure since it specified estree specifically. I was also confused with `File`, since my AST was also of type `file`. I now see the AST `file` is different from the `File` class.

For anyone interested, this does work:

[code]

[2020-07-30 11:14] LexSwed commented on #10904
The issue persist. Any workaround? Fixing `@babel/parser@7.7.5` doesn't help

[2020-07-30 13:24] #10538 closed

[2020-07-30 13:24] #10617 closed

[2020-07-30 14:35] #11885 closed

[2020-07-30 17:25] jcreamer898 commented on #11892
Oops, sorry, sec.

[2020-07-30 17:26] jcreamer898 commented on #11892
Fixed.

[2020-07-30 17:29] #11861 closed

[2020-07-30 17:29] #11860 closed

[2020-07-30 17:32] #10709 closed

[2020-07-30 17:34] sz-coder commented on #11892
Not sure if I understand correctly but shouldn't `babel-node --config-file ./babel.config.js ./index.js` yield the same result as `--ignore '\/node_modules\/(?!my-npm-pkg)\/'` ?

[2020-07-30 17:44] sz-coder commented on #11892
I played around with your `babel.config.js` a bit... seems like it doesn't matter whether the function returns `true` or `false`, both yield the same error. 🤔

[2020-07-30 17:59] JLHwung commented on #11881
When merging env-specific configs, babel uses `Array#concat` for `presets`, see https://github.com/babel/website/pull/2302/files#diff-76e731333fb756df3bff5ddb3b731c46R197 on how Babel merges config items.

So
[code]
will be merged as
[code]
So this issue is expected according to the behaviours. I admit it may not matches everyone's expectation. In Babel we use a switch-case to specify different `p

[2020-07-30 18:10] #11646 closed

[2020-07-30 18:17] #11400 closed

[2020-07-30 19:52] kaicataldo commented on #10752
I was referring to using static analysis tools rather than at runtime. What I'm curious about is if Babel transforms also include the type transforms so that `tsc` still has explicit type information (obviously it can do its best, regardless).

[2020-07-30 21:03] mattlubner commented on #10752
I _think_ the answer to your question is that Babel transforms don't include type transforms, at least as of Babel v7.10.0.

The Babel docs for [`@babel/plugin-transform-typescript`](https://babeljs.io/docs/en/babel-plugin-transform-typescript) say:

[2020-07-30 23:18] joncasey opened #11897 "Babel standalone fails transform since v7.10.5+"
## Bug Report

**Current behavior**
@babel/standalone fails to transform valid syntax that worked in previous builds.

- [REPL](https://babeljs.io/repl#?browsers=ie%2011%0A&build=&builtIns=false&spec=false&loose=false&code_lz=PTAECUFMFsHsDdKgMa2tSA7ALgZ1AGYBOaokAltgBaRGiwGjWS6QBQbwAVKAK67lMAc1AADSABtRoQQIAmSUQVh0G0gBQBKUAF4AfIQCG5Cbg7K66iZGxkJ9RgG05sZLww4AutoDebUCiwmLi2AI74OqARBpIAdKG8tACeAMqSkMjY

[2020-07-31 06:10] LiLinhua opened #11898 "babel can not transform debug library"
I introduced the debug library into my code. After using webpack, I found that the output file still contains syntax such as let const.

webpack.config.js:
[code]

webpack entry:
[code]

.babelrc:
[code]

package.json
[code]
output file screenshot:
![image](https://user-images.githubusercontent.com/12910535/89005501-355a6500-d337-11ea-85d6-68aea113587c.png)

[2020-07-31 06:39] #11898 closed

[2020-07-31 06:41] LiLinhua commented on #11898
By default babel does not transpile the third party codes in node_modules. You may add the ignore config to babel.config.js if you would like to transpile debug module:
`ignore: /node_modules\/(?!debug)/`

[2020-07-31 14:22] jcreamer898 commented on #11892
Right, exactly, it's like it doesn't work at all when the config file is being used. I think the "default" --ignore is taking over whatever is in the babel config.

[2020-07-31 19:26] #11897 closed

[2020-08-01 00:22] kaicataldo commented on #10752
This has now been released!

[2020-08-01 00:22] #10752 closed

[2020-08-01 00:24] kaicataldo commented on #10752
@mattlubner Would you be willing to make a new issue so we can discuss how we can better support TypeScript in `@babel/eslint-parser`? This issue was intended to track the work to get these new packages out the door.

[2020-08-01 09:40] jharris4 commented on #10752
Very cool! I tried in vain to find the release. Can you share a link please?

[2020-08-01 09:51] DRoet commented on #10752
Should be part of the [v7.11.0](https://github.com/babel/babel/releases/tag/v7.11.0) release.

[2020-08-01 10:01] jharris4 commented on #10752
Ahh! Given the title of this issue I was looking for a v8 release!

[2020-08-01 10:50] jharris4 opened #11902 "@babel/eslint-parser does not have default parserOptions (but babel-eslint did)"
## Bug Report

I just tried out replacing `babel-eslint` with the `@babel/eslint-parser`, and the first thing I encountered were a few instances of the error:

[code]

After doing a little digging, I realized that I needed to set the parserOptions in my eslint config like this:

[code]

I'm filing this as a bug report because `babel-eslint` provides default parserOptions [here](https://github.com/

[2020-08-01 10:52] jharris4 commented on #11902
@kaicataldo The new `@babel/eslint-parser` package works great! It lets me pass in the full babel configuration, thanks again for working on it! I'd be curious to hear your thoughts about the default parserOptions though...

[2020-08-01 18:33] bluelovers opened #11904 "[@babel/preset-typescript] not support typescript v4 `??=`"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**

not support typescript v4 `??=`

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.c

[2020-08-01 21:30] leandrotk opened #11905 "Property 'expression' does not exist on type 'Statement'."
## Bug Report

- [X] I would like to work on a fix!

**Current behavior**
After parsing code, the `Statement` type doesn't support the `expression` attribute (node).

- [Repo](https://github.com/leandrotk/laziness/compare/dts-gen?expand=1#diff-1739f16282f84aeae86081efc4690dcdR30)

**Input Code**

[code]

**Expected behavior**

The body type is `Program.body: Statement[]`. And the first element of

[2020-08-01 21:48] nicolo-ribaudo commented on #11904
This isn't TypeScript-specific: it's a normal ECMAScript feature and it should be enabled by default in `@babel/core` 7.11.0. Which version are you using?

[2020-08-01 21:55] leandrotk commented on #11905
If I use the `@babel/traverse`, it works fine with the types.

[code]

[2020-08-01 22:03] nicolo-ribaudo commented on #11905
It's because only `ExpressionStatement` has the `expression` property, not all the `Statement`s.

[2020-08-01 22:09] JLHwung commented on #11905
This is expected, see https://github.com/babel/babel/blob/main/packages/babel-parser/ast/spec.md for the AST spec.

[2020-08-01 22:15] leandrotk commented on #11905
It makes sense! Doing a `forEach` but narrowing the type also works fine.

[code]

I'm closing this issue! Thanks guys!

[2020-08-01 22:15] #11905 closed

[2020-08-02 03:39] bluelovers commented on #11904
typescript v4 + tsconfig `"target": "ES2019"` support transpile `??=`

[2020-08-02 03:39] #11904 closed

[2020-08-02 06:32] jakeleventhal commented on #11844
for whatever reason, this works on 7.11.0

[2020-08-02 06:32] #11844 closed

[2020-08-02 16:19] jesse23 commented on #11851
@JLHwung It has a side effect with this approach...

Given practice below:
[code]

With this WA, it will print warning below in watch mode:
[code]

[2020-08-02 17:32] nicolo-ribaudo commented on #11851
If that's a type-only import, you should use `import type { ComponentDef } from './types';` to make Babel remove it.

[2020-08-02 19:50] jesse23 commented on #11851
Ah I don't know that. Thanks!

[2020-08-02 21:37] imirkin commented on #11886
Note that I ran into this after upgrading to Angular 10, which no longer ships ES5-transpiled source, so I had to set up my own babel configuration for the first time. It uses this pattern with document.querySelectorAll(), which resulted in the error

    Invalid attempt to spread non-iterable instance.
    In order to be iterable, non-array objects must have a [Symbol.iterator]() method.

It took

[2020-08-03 15:25] clar-cmp commented on #11446
Also dealing with this bug.

[2020-08-03 16:58] mjhenkes opened #11908 "Babel Parser with estree plugin non passive change regarding ChainedExpression"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
Previously babel parser, using the estree plugin, would read optional chaining as a `OptionalMemberExpression`, now the optional chain is broken into two nodes a `ChainExpression` and a `MemberExpression`.

This change was made in: #11815

I stumbled upon this while trying to use react-doc-gen against a component with option

[2020-08-03 18:18] JLHwung commented on #11908
The change is intentional: estree does not support experimental features so when optional chaining was a proposal, Babel used own AST. When estree supports optional chaining in a way different to Babel's AST design, we have to implement changes in the estree plugin. In this case, it is considered a new feature because optional chaining's estree AST is never well-defined before.

See also https://g

[2020-08-03 19:00] mjhenkes commented on #11908
Thanks @JLHwung, to close the loop here I've logged an enhancement/bug asking for ast-types to support the `ChainExpression `type.

[2020-08-03 19:10] #11908 closed

[2020-08-03 23:26] JLHwung commented on #11446
Can you open a new issue? They have different root causes. @woongsikchoi

[2020-08-03 23:50] kaicataldo commented on #11902
Glad to hear it's working! This might be a bug if the default parser options aren't being merged in - they're supposed to be (see [here](https://github.com/babel/babel/blob/main/eslint/babel-eslint-parser/src/configuration.js#L3))!

[2020-08-03 23:52] kaicataldo commented on #10752
Ah, yeah - sorry for the confusion! We originally intended to release this with v8, but we didn't want to hold it up until v8 is ready.

[2020-08-04 04:40] Strahinja commented on #10904
As mentioned [here][1], I could get this to work using the [`"resolutions"` fix][2] that @pi0 suggested.

[1]: https://github.com/babel/babel-eslint/issues/799#issuecomment-663420416
[2]: https://github.com/babel/babel-eslint/issues/799#issuecomment-651954838

[2020-08-04 07:43] LexSwed commented on #10904
Fixed with https://github.com/atlassian/yarn-deduplicate apparently in my case one package messes up dependency tree.

[2020-08-04 11:48] jharris4 commented on #11902
@kaicataldo I dug into this a little bit, and I'm not sure why but something in the `eslint` CLI itself is setting the `ecmaVersion` config key to `undefined`, which is of course then overwriting the default value when `Object.assign(defaultOptions, options)` is being run.

[2020-08-04 13:35] TSMMark opened #11910 "camelcase support "allow" pattern option from eslint base #186"
https://eslint.org/docs/rules/camelcase#allow

Original test cases from eslint:

https://github.com/eslint/eslint/blob/41b1e4308c1cb01c8b00cc8adc36440e77854117/tests/lib/rules/camelcase.js#L200-L215

https://github.com/eslint/eslint/blob/41b1e4308c1cb01c8b00cc8adc36440e77854117/tests/lib/rules/camelcase.js#L687-L706

Copied from babel/eslint-plugin-babel/issues/186

I don't have time right now but

[2020-08-04 20:31] #11881 closed

[2020-08-04 20:31] #11848 closed

[2020-08-04 20:34] JLHwung commented on #11826
Since `export-ns-from` has been included in `preset-env`, transferred this issue to `babel/website`. We should clarify that `@babel/preset-typescript` does not include stage 4 proposals.

[2020-08-04 21:00] #11446 closed

[2020-08-04 22:41] kaicataldo commented on #11902
Thanks for doing some detective work. Will take a look today or tomorrow so we can hopefully get this fixed ASAP.

[2020-08-04 22:55] bradzacher opened #11913 "Cannot export `declare`d functions in flow"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=PTAEHcHsCcGsGdQDMCWA7ApgKACYYMYA2AhtBqBgB4AOMALsgK5r50qRqgBGpAFAJQAuUADdIKHAG4sWEBBgJk6bHiKlyI0t2IBbYfDrR0Ac2lVa0BgG9tO0AF9pssOfoVo0GPFwESZJixsHMiQkALCYhJmNG42SKEO0kA&debug=false&

[2020-08-04 23:11] existentialism commented on #11913
@bradzacher thanks for the report, looks like it's just missing a scope registration. I'll take a look a bit later if no one else gets to it first.

[2020-08-04 23:55] JLHwung commented on #11913
This is a known issue because declare function declarations have complicated binding behaviour, as I have noted in https://github.com/babel/babel/pull/10220.

[2020-08-05 00:55] EarthyOrange commented on #10904
"babel-eslint": "10.1.0",
"eslint": "7.6.0",

The `babel-eslint` parser can be used by `eslint` to allow it to parse JS code using babel plugins which are in proposal stage.

I ran in to this particular issue with `babel-eslint` when it tried to parse the following code with optional chaining:
[code]
The babel-eslint is able to parse ☝️ if the optional chaining is removed.

A log at https://github

[2020-08-05 06:03] icefox0801 opened #11914 "@babel/parser throw an error when parsing object shorthand property async get () after updating to version 7.11.1"
`index.js`
[code]
`package.json`
[code]

when running `npm run babel`, I got an error below
[code]

It works fine with `async` with property name except `get`, and older version of `@babel/parser`, and in latest chrome and node v8, it turns out a valid syntax

[2020-08-05 06:27] zengyue commented on #11914
the same problem， get, set will both cause this problem

[2020-08-05 07:13] LarsDenBakker commented on #11914
We are seeing this erorr as well.

[2020-08-05 07:20] NicolasRomeroToledo commented on #11914
Same here, any advice?

[2020-08-05 07:28] zengyue commented on #11914
[code]

can Bypass this problem

[2020-08-05 08:28] danyball commented on #11914
I have same error since a few hours with `@babel/parser` version 7.11.0.

[2020-08-05 09:19] RoXuS commented on #11914
even with pinned @babel/parser@7.11.1, the issue still here.

[2020-08-05 09:22] danyball commented on #11914
Thats because many @babel packages referencing the new buggy version with the npm `^`. Setting the devDependency **explicitly** worked for me: `"@babel/parser": "7.11.0",`

[2020-08-05 09:26] RoXuS commented on #11914
Don't work for me because I use https://github.com/open-wc/open-wc/blob/master/packages/building-rollup/package.json that uses "@babel/core": "^7.9.0" that uses "@babel/parser": "^7.10.2" ...

[2020-08-05 09:27] rutek commented on #11914
If properly configured, pinning `@babel/parser` to `7.11.0` temporarily fixes the problem.

[2020-08-05 09:29] mblankenstein commented on #11914
We are seeing the same error.

[2020-08-05 09:32] twrdjpalmer opened #11915 "`no-invalid-regexp` not catching invalid regex"
## Bug Report

**Current behavior**

In Safari 13, the following code throws a SyntaxError:

[code]

With the default parser, setting `parserOptions.ecmaVersion: 2017` and `no-invalid-regexp: 2` correctly catches the error. With `parser: 'babel-eslint'` set, it seems to ignore the `ecmaVersion` and incorrectly asserts that the regex is valid.

Babel doesn't appear to transpile the regex, [per this

[2020-08-05 09:32] tomstumshais commented on #11914
For temporary fix right now we are using this one:
[code]

[2020-08-05 10:17] rikless commented on #11914
We are seeing the same error.

[2020-08-05 11:15] allex commented on #11914
crazy same here, cost half a day for this error.

[2020-08-05 11:27] #11878 closed

[2020-08-05 12:51] Kondax commented on #11914
Yup, had to revert back to 7.11.0.

[2020-08-05 13:19] #11914 closed

[2020-08-05 14:44] JLHwung commented on #11914
Fixed in `@babel/parser` 7.11.2.

[code]

If you use `yarn`, you can either manually remove `@babel/parser` entries in yarn.lock and re-run `yarn install` or use [`yarn-deduplicate`](https://github.com/atlassian/yarn-deduplicate)
[code]

[2020-08-05 14:54] RoXuS commented on #11914
thx @JLHwung.

[2020-08-05 17:42] JLHwung commented on #11915
[code]
is a [valid](https://regex101.com/r/8vdY49/1) JavaScript regex. However Safari 13 does not support ES2018 negative lookbehind `?<!`, thus it is thrown.

The `no-invalid-regexp` rule is an ESLint builtin rule and hosted there. In other words the regex is not parsed by Babel. I notice that https://github.com/eslint/eslint/blob/07db7b8080c2f68ee28e7d447db356c33e6fddce/lib/rules/no-invalid-rege

[2020-08-05 20:01] aleksusklim opened #11920 "Repl error – Duplicate declaration – when using the same let-variable in for-of loop"
**Current behavior**

Using [REPL](https://babeljs.io/repl#?browsers=firefox%2074&build=&builtIns=false&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABMAFATwJQG8BQjlwBOKANgKZSIAeicwimu--5lNAvAwNx7OEUhCSKj3wBfHGKA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=env%2Cenv&prettier=false&

[2020-08-06 13:55] MathiasKandelborg opened #11924 "Escaping HTML codes is not supported properly"
## Bug Report

- [x] I would like to work on a fix!

**Current behavior**
Using HTML entity codes is not consistent with the specification. To display certain characters, one has to use the HTML hex codes, which is harder to remember than, e.g., lpar or rbrace.

Some characters have several HTML entity names associated with them, let's look at `·`: `&middot;` or `&centerdot;` or `&CenterDot;` whic

[2020-08-06 17:43] kaicataldo commented on #11910
We have removed the camelcase rule from the plugin since everything it checked is now supported in ESLint core. We can always add it back, but can you verify that the core rule doesn't work for your case first?

[2020-08-06 17:53] kaicataldo commented on #10904
@EarthyOrange Thanks for digging into this! I'll look into this with this new information (though if you want to continue investigating, feel free). This could be a bug in `@babel/parser`'s logic (most likely in the `estree` plugin) or it could be a bug in `@babel/eslint-parser`, which serves as the compatibility layer between ESLint and Babel (and does perform some mutations of the AST).

[2020-08-07 00:44] jimmywarting opened #11925 "change some dependencies?"
https://github.com/babel/babel/blob/a827ca41f3c07a1ffddeaa00998c772a61a60b68/packages/babel-cli/package.json#L25-L37

picomatch seems like it's faster, newer and gaining popularity over glob? don't know about compatibility doe

chokidar needs a bump to latest version?

[2020-08-07 09:43] cdoublev commented on #10904
Hello @kaicataldo,

I also looked at this issue, since the workaround (`resolutions`) given above is valid only when using yarn (and I'm using npm, of course).

**Files used to debug this issue:**

[code]

First, running `eslint -- debug index.js` outputs this message: `eslint:traverser Unknown node type "ImportExpression": Estimated visitor keys ["type","start","end","loc","range","source"]`. I b

[2020-08-07 14:56] cdoublev commented on #10904
It seems that defining `ImportExpression` in [`@babel/types` definitions](https://github.com/babel/babel/blob/main/packages/babel-types/src/definitions/core.js) fixes this issue. But I'm totally ignorent of how to properly define it. I used the following, which is obviously incomplete:

[code]

[2020-08-07 16:28] slorber opened #11926 "Records & Tuples: records as React props"
Hey, reposting this records & tuples bug, as @nicolo-ribaudo asked me to do here https://github.com/tc39/proposal-record-tuple/issues/195

---

This does not work:

https://rickbutton.github.io/record-tuple-playground/#eyJjb250ZW50IjoiaW1wb3J0IFJlYWN0IGZyb20gXCJodHRwczovL2Nkbi5za3lwYWNrLmRldi9yZWFjdFwiO1xuaW1wb3J0IFJlYWN0RE9NIGZyb20gXCJodHRwczovL2Nkbi5za3lwYWNrLmRldi9yZWFjdC1kb21cIjtcblxuXG5jb25zd

[2020-08-07 16:34] cdoublev commented on #10904
`7.6.0` but what I'm saying is that it's not in the visitor keys exported by [`@babel/eslint-parser`](#https://github.com/babel/babel/blob/main/eslint/babel-eslint-parser/src/visitor-keys.js). Adding it + defining `ImportExpression` in `@babel/types` like suggested in my previous comment, fixes this issue.

[2020-08-07 17:03] Cxarli opened #11929 "equally named private methods in different files break on merge"
## Bug Report

If you have two files, each with a different class, but the classes share a method with the same name, the merged output file breaks because of name overlap.

- [X] I would like to work on a fix!

**Input Code**

[code]
Also see [this repo](https://github.com/Cxarli/babel-private-method-duplicate-issue)

**Run Command**
`npx babel A.js B.js main.js -o out.js`

**Output Code**

(slig

[2020-08-08 15:38] jony89 opened #11934 "JSX Loader for node esm experimental loaders"
## Feature Request

I've been trying to use node.js new esm loader by adding `"type": "module",` in `package.json` and running script using `node --es-module-specifier-resolution=node myScript.js`

The script includes some import to React component :

[code]

Yet I get the following exception :

Untill now I was able to use :

[code]

But now, with the new node esm loader, require does not exist a

[2020-08-08 19:03] aduth opened #11935 "Support jsxFragmentPragma TypeScript 4 option in `transform-typescript` plugin"
## Feature Request

- [ ] I would like to work on this feature!

**Is your feature request related to a problem?**

Problem: I want to be able to use [JSX fragment syntax](https://babeljs.io/docs/en/next/babel-plugin-transform-react-jsx#pragmafrag) with [Preact](https://preactjs.com/) and TypeScript using [`@babel/plugin-transform-typescript`](https://babeljs.io/docs/en/next/babel-plugin-transform

[2020-08-08 19:44] #10904 closed

[2020-08-08 20:08] JLHwung commented on #10904
Fixed in `@babel/eslint-parser@7.11.3`.

[2020-08-09 08:30] nicolo-ribaudo commented on #11934
You can try using the Babel loader from https://github.com/targos/multiloader

[2020-08-09 09:10] jony89 commented on #11934
@nicolo-ribaudo Thanks, but it clearly says

So it does not help much. though I will take a look.

[2020-08-09 10:08] nicolo-ribaudo commented on #11934
We have been discouraging using also `@babel/runtime` in production; the preferred way is to precompile your files.

[2020-08-09 17:14] aduth commented on #11935
This works reasonably well as a workaround, though does not seem ideal, nor what I assume should be intended to be supported through `@babel/plugin-transform-typescript` alone.

Glitch demo: https://glitch.com/edit/#!/join/9772d8b5-e057-424a-8291-d10ea9152b57

_(I use this demo in combination with a package [`preact-jsx-runtime`](https://www.npmjs.com/package/preact-jsx-runtime) I created to use `

[2020-08-09 21:32] bradzacher opened #11939 "[typescript] catch clause with type annotation location is incorrect"
## Bug Report

**Input Code**

[code]

**Expected behavior**

[code]

**Actual behaviour**

[code]

- Babel version(s): `@babel/parser @ 7.11.3`

**Possible Solution**

The `Identifier` location should cover the identifier plus the annotation.
I.e. it should do the same thing as a function argument:
[code]

[2020-08-10 13:30] cyrilgandon opened #11940 "[Plugin dev] AwaitExpression not found with @babel/preset-env@7.11.0"
## Bug Report

**Current behavior**

I have a plugin that worked well before, but since I upgraded to @babel/preset-env 7.11.0, it does not work anymore.

The plugin.js:

    module.exports = function(babel) {
        console.log('Plugin read...');
        return {
            visitor: {
                AwaitExpression: function() {
                    console.log('AwaitExpression');

[2020-08-10 15:16] KFlash opened #11942 "Error recovery output wrong AST"
## Bug Report

Babel parser in error recovery output wrong AST if the goal is to follow the ECMA specs.

Example this case

[code]

`\` should be consumed,. `u` is an valid identifier and start of an expression.
`{`  is an valid start of an statement.

So in this case Babel parser should not cunsume anything after `u` and instead return and parse out an ident and "FFZ"  within an BlockStatement.

[2020-08-10 19:46] JLHwung commented on #11940
The behaviour is expected. Because `@babel/transform-async-to-generator` visits the `Function[isAsync=true]` node and transforms the whole function body, so `AwaitExpression` is not traversed. James has a clean write-up on Babel's plugin orders: https://jamie.build/babel-plugin-ordering.html

As a workaround, you can initiate a sub-travese from `Function` node

[code]

However, a sub-traverse may

[2020-08-10 19:50] JLHwung commented on #11929
This is expected. `@babel/cli` simply concatenate compiled JavaScript files and the semantic may change after codes adding up. In your case, I would suggest a bundler like Rollup of WebPack that can ensure the module-scoped variables does not interfere with other modules.

We should state clearly such limitations on https://babeljs.io/docs/en/babel-cli#compile-directories

[2020-08-10 20:03] JLHwung commented on #11925
`picomatch` is a glob matcher. If we replace `glob`, we still need to wire up the `fs` bits. I am open to explore performant alternatives but currently it is not prioritized because `node-glob` is not the bottleneck.

`chokidar` has been updated to version 3 in Babel 8. Unfortunately we can not bump chokidar 2 because Babel 7 still supports node 6.

[2020-08-10 20:03] #11925 closed

[2020-08-10 21:06] #11939 closed

[2020-08-10 21:17] #11886 closed

[2020-08-10 21:21] cyrilgandon commented on #11940
Use case is this plugin: https://www.npmjs.com/package/babel-plugin-angularjs-digest-await
Wrapping every `await` into a function that trigger a $digest cycle for angularjs.
Code is not available anymore, but it looks like that:

[code]

[2020-08-10 21:42] KFlash commented on #11942
Not sure how Babel parser handle it, but at least here is a few easy edge cases to recover from
`function while() {}` and `function true() {}`

`while` is an valid statement start, so this case `function while() {}` should be parsed as an invalid / broken function declaration and an `WhileStatement` with one dummy to replace the missing expression in the missing head `( )`

`function true() {}` ha

[2020-08-10 22:33] #11870 closed

[2020-08-10 23:27] EddieOne commented on #9849
None of these are working for me.

[2020-08-11 11:06] MathiasKandelborg commented on #11942
This might be related to [11924](https://github.com/babel/babel/issues/11924).

It is hard transforming text while keeping the structure, and every possibility 'possible'. The output becomes hard when you begin incorporating Unicode, HTML codes, and other specialized syntax seem to overlap in several cases and create weird interactions in an AST.

In this case, it probably has something to do with

[2020-08-11 13:55] #11926 closed

[2020-08-11 14:02] xc2 opened #11949 "wrong result of `this` replacement for `JSXIdentifier` in class function properties"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
A clear and concise description of the behavior.

- [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=MYGwhgzhAEASCmIQHtrwB4Bd4DsAmMAwsgLYAOyOum0A3gFDTQDuyATiHtALzQAUASh4A-aAB5MACwCWEAHQB1dp2hlutKbLkA3AL7QA9MPq6gA&debug=false&forceAllTransforms=false&shippedProposals=false&circlec

[2020-08-11 14:11] existentialism commented on #11949
@xc2 thanks for the issue, but I believe this has already been reported: https://github.com/babel/babel/issues/11806

[2020-08-11 18:42] jridgewell commented on #11949
Hi @xc2, I think your proposed solution is actually correct. Would you like to open a PR with it?

[2020-08-11 18:51] geopamplona commented on #10904
How should apply fix to solve this? wait publish new release packages?

[2020-08-11 18:55] JMarkoski commented on #9853
I'm sorry for responding later guys. @elyobo Thanks, I'm glad if my answer helped. I'm not aware of such explanation in the docs/issues, my understanding comes from reading the source code of babel/core-js and trying different configurations and seeing how they behave. I was motivated to write on the topic exactly because there wasn't any explanation I could find anywhere on how exactly the option

[2020-08-11 18:58] geopamplona commented on #10904
How should fix, upgrading packages??
or Should wait some new release?
I upgrade to @babel/eslint-parser@7.11.3 but I still have these problem.
Thanks !

[2020-08-12 00:17] KFlash commented on #11942
In case it helps I have [5400 error recovery tests](https://github.com/escaya/escaya/tree/master/test/recovery) that Babel could "adopt" to fix the error recovery issues

[2020-08-12 00:39] brvenkat opened #11954 "Arrow function not getting transpiled inside node_modules"
## Bug Report

**Current behavior**
I am using a 3rd party library called joi-date as follows
const joiDate = require('@hapi/joi-date');

The issue is The arrow function used in @hapi/joi-date is not getting transpiled in IE11 due to which my app does not work in IE11. i attached the screenshot below. I am using babel7 and webpack4

**Input Code**

[code]

**Expected behavior**
Babel-loader should

[2020-08-12 01:24] existentialism commented on #11954
@brvenkat check out the section in our docs that describes diff config file types and their use cases:

https://babeljs.io/docs/en/configuration#whats-your-use-case

(You'll want to switch to a `babel.config.json` file)

[2020-08-12 03:56] brvenkat commented on #11954
thanks @existentialism , i created a babel.config.json and copied the contents of .babelrc into it, but does not help. i am getting the same issue with the arrow function not being converted in IE11. Tried removing `exclude node_modules` too and it too did not work

[2020-08-12 04:53] bradley commented on #11108
So what is the suggestion here? My understanding is that we use `@babel/node` for developing a node backend with babel configuration, and then we are supposed to compile the backend using the babel cli for production. In order to keep using `import` in my node app, I use `"type": "module"` for the compiling step.... which breaks `@bable/node` and therefore development... this seems like an issue t

[2020-08-12 08:05] xc2 commented on #11949
Oh, it's the same problem. I'll close this one.

Glad to hear it helps. I'm sorry I won't open a PR due to not knowing much about babel.

---

Looking forward it will be fixed soon.

[2020-08-12 08:05] #11949 closed

[2020-08-12 14:28] lebaz20 commented on #10904
Thanks @LexSwed, It seems that was the problem in my case as well. I needed to run `yarn-deduplicate yarn.lock` after installing `@babel/eslint-parser@7.11.3` to get it to work.

[2020-08-12 15:10] JLHwung commented on #11949
Duplicate of #11806.

[2020-08-12 15:39] adminglowy commented on #11614
@JLHwung I'm having a problem with an identical stack trace.

I have changed `/node_modules/@babel/types/lib/converters/valueToNode.js#L87-L87` to
[code]
and got `SourceMapGenerator` as a result.

[2020-08-12 15:41] JLHwung commented on #11614
@adminglowy AFAIK a source map generator should not be passed as a coverage data. Can you share a reproduction repo? This can greatly help debugging issues like plugin integrations.

[2020-08-12 15:43] rwaltenberg commented on #11614
@JLHwung I'm having a problem with an identical stack trace.

I have changed `/node_modules/@babel/types/lib/converters/valueToNode.js#L87-L87` to
[code]
and got `SourceMapGenerator` as a result.

[2020-08-12 15:48] rwaltenberg commented on #11614
I'll try to create a public repo with the reproduction. In the meanwhile by adding
[code]
just before that isPlainObject test seems to have solved the issue

[2020-08-12 16:36] rwaltenberg commented on #11614
@JLHwung here it is: https://github.com/rwaltenberg/jest-coverage-error

`npx jest` will run. `npx jest --coverage` will fail

[2020-08-12 18:40] JLHwung commented on #11614
@rwaltenberg Thanks for the reproduction repo! I believe it is a bug in `istanbul-lib-instrument` and I have filed a fix in https://github.com/istanbuljs/istanbuljs/pull/576.

[2020-08-12 21:53] KFlash commented on #11942
You can see in my [REPL](https://escaya.github.io/escaya/?code=%5Cu%7BFFZ%7D&method=parse&range=undefined&loc=false&next=true&module=false&raw=undefined&jsx=undefined&directives=undefined&attachComment=undefined&webCompat=undefined&lexical=undefined) how the cases I mentioned should be parsed.

However. When it comes to Babel I think it's more correct to consume '\' to avoid noise

[2020-08-13 13:27] existentialism commented on #11954
@brvenkat can you create a small repo that reproduces the problem?

[2020-08-13 13:28] kote-isaev opened #11956 "Modules wrapped in arrow options even for preset-env with arrow functions transpiling enabled"
## Bug Report

**Context**
I use the Babel (babel/core 7.11.0 and babel/preset-env 7.11.0) via babel-loader (8.1.0) via grunt-babel (8.0.0).

**Current behavior**
In generated bundles, the modules are wrapped in arrow functions in constructs like:
[code]
The content of modules transpiled properly (no arrow functions inside modules).

**Expected behavior**
It is expected with preset-env with target

[2020-08-13 13:35] mihrich opened #11957 "Сoncat window.location.protocol + window.location.host"
## Сoncat window.location.protocol + window.location.host

**Current behavior**
One extra ":" character when merging protocol name and hostname. I tested it in Chrome version 84.0.4147.125
**Input Code**

[code]
OR

[code]
babel transform as

[code]
that out  **https:://site.com** when **:** is excess
[code]

[2020-08-13 13:35] existentialism commented on #11956
@kote-isaev this isn't a babel problem, have you tried setting the `output.ecmaVersion` option in webpack? It defaults to `6` in webpack@25, where it was `5` previously.

https://webpack.js.org/configuration/output/#outputecmaversion

[2020-08-13 13:46] kote-isaev commented on #11956
@existentialism Thanks a lot!
I understood my mistake after I posted the question and experimented with string-replace-loader (no effect of course).
Without your help I did not able to figure this out! I just did not had an idea even how to ask google for correct answer in this case, it always landed me to Babel plugin about arrow functions transform **inside** modules.
Hope this thread will help

[2020-08-13 13:46] #11956 closed

[2020-08-13 13:50] existentialism commented on #11956
@kote-isaev glad it worked out!

[2020-08-13 14:32] Alonski commented on #11216
Can a fix please be made in a new v12 LTS?

[2020-08-13 19:03] Arnaldo-Manjate commented on #9849
thanks

[2020-08-13 19:58] JLHwung commented on #11957
I can not reproduce this issue on [REPL](https://babel.dev/repl#?browsers=&build=&builtIns=false&spec=true&loose=false&code_lz=DYUwLgBAzglmIQLwQAYBIDeB3GA7AJgPZYB0whAxgIZgyG4kAOAToWJYcAL4D0PmOAsTKUadBgAtCUMFxQBuIA&debug=false&forceAllTransforms=false&shippedProposals=true&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=env%2Cstage-0%2Cenv&prett

[2020-08-13 19:58] #11957 closed

[2020-08-14 03:23] brvenkat commented on #11954
thanks @existentialism created a small repo https://github.com/brvenkat/sample-joi
This small app runs fine until i add the `@hapi/joi-date` dependency at which point it starts failing

[2020-08-14 07:25] kotarofuma opened #11958 "babel.config.mjs not working"
**Current behavior**
On node@14.8.0, I have 2 equivalent simple files: babel.config.cjs and babel.config.mjs (except for the exporting keyword)...

[code]

commenting the mjs, everything works perfect doing npx babel src/index.js, while commenting the cjs one (enabling esm support), I get
"Error: /Users/kotaro/Projects/ro/test/babel.config.mjs: Error while loading config - Cannot find module 'file

[2020-08-14 08:38] funn1est opened #11959 "@babel/preset-typescript "Binding invalid left-hand side in function parameter list""
## Bug Report

**Current behavior**
the arrow function return wrapped by bracket should work. Component `FC` and `FC1` works, but `FC2` got parse error. Without typescript preset works too.

- [reproduce REPL](https://babeljs.io/repl#?browsers=ie%209&build=&builtIns=usage&spec=false&loose=false&code_lz=MYewdgzgLgBARiEAbGBeGUBOBXApgbgChDRJYAxAYTRgAoBKNAPhgG9CYZNcptMwYAHkogAtgAcY4zCHERUrAJZRco5nUEAT

[2020-08-14 12:14] overlookmotel opened #11960 "`parse()` with `inputSourceMap` option"
## Bug Report

- [X] I would like to work on a fix!

**Current behavior**

Files:

* 2 x source files `a.js` + `b.js`
* Both files transpiled with Babel to `a.intermediate.js` + `b.intermediate.js` with source maps

I am trying to parse the two intermediate files and combine them into a new file with a source map referencing the *original* source files.

`parse()` with `inputSourceMap` option does

[2020-08-14 13:24] existentialism commented on #11954
Your regex needs to also include `@hapi/joi`.

[2020-08-14 22:23] overlookmotel opened #11964 "@babel/register cannot process `convert-source-map` module"
## Bug Report

- [X] I would like to work on a fix!

**Current behavior**

`@babel/register` errors when code it is transpiling requires the `convert-source-map` package.

**Input Code**

[code]

Produces error:

[code]

NB Does not error if `cache: false` option is used.

**Expected behavior**

Expected application to run without error.

**Babel Configuration (babel.config.js, .babelrc, package.j

[2020-08-15 09:25] geopamplona commented on #11844
I have same error. Will try your code @JLHwung .

[2020-08-15 14:10] techno021 opened #11965 "Typescript code does not update with --watch flag"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
The --watch flag has no effect, typescript code does not update

**Input Code**

[code]

**Expected behavior**
The --watch flag should detect code changes and recompile my typescript file.

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `.babelrc`

[code]
[code]

*

[2020-08-15 14:21] existentialism commented on #11965
@techno021 your repo works for me on macOS. I don't have a machine to test WSL on, maybe @hzoo can take a look?

[2020-08-15 15:16] techno021 commented on #11965
@existentialism does the --watch flag do what is expected?

[2020-08-15 15:22] existentialism commented on #11965
Yes

[2020-08-15 15:50] iamKushagra opened #11966 "SyntaxError: Support for the experimental syntax 'jsx' isn't currently enabled (12:17)"
## Bug Report

- [ ] I would like to work on a fix!
`{
  "name": "mern-ecommerce",
  "version": "1.0.0",
  "description": "MERN Ecommerce",
  "main": "server/index.js",
  "scripts": {
    "build": "npm run build:clean && cross-env NODE_ENV=production webpack --progress --colors",
    "build:clean": "rimraf ./dist",
    "start": "cross-env NODE_ENV=development nodemon server",
    "start:production

[2020-08-15 16:49] joshjee opened #11967 "Babel + typescript does not transpile when combined with dynamic property keys"
## Bug Report

**Current behavior**
When using dynamic property keys on an object, babel fails to transpile other ES6 features into ES5 friendly code. In my current example, babel failed to transpile an arrow function and object destructuring. This phenomenon only occurs when using typescript. I tried this with vanilla javascript, and it faced no issues.

**Input Code**

[code]

**Output Code**
[c

[2020-08-16 06:28] techno021 commented on #11965
@existentialism It got fixed after moving from C:/Users/(my_user)/Documents/Projects too /home/(my_wsl_user)/Projects

[2020-08-16 06:28] #11965 closed

[2020-08-16 06:53] techno021 commented on #11967
Hey @joshjee see #11965, hope it helps

[2020-08-16 22:43] lazytype opened #11969 "[@babel/preset-typescript] Parse error when an explicit type parameter is a generic arrow function"
## Bug Report

- [~] I would like to work on a fix!

**Current behavior**
Parse error when an explicit type parameter is a generic arrow function

- [REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&spec=false&loose=false&code_lz=GYHgBCAqB8AUBuBDANgVwKYC4yQJRgF5ox4B7ASwBM4BzXAbjDAHpmxSBrRATwChQAqgBoIMBCgzY8hYmSq0GLNpx78QUOEjRYc-IiQrVY

[2020-08-17 00:06] joshjee commented on #11967
I am currently using webpack and `babel-loader` to transpile my code. Is it possible to insert in the `watch` flag in the `.babelrc` file? This doesn't seem to work.

.babelrc file
[code]

[2020-08-17 00:59] kaicataldo commented on #11902
Apologies for the delay on my end. I've verified this and located the source of the bug. Working on a PR right now.

[2020-08-17 02:12] shrinktofit commented on #11356
@nicolo-ribaudo  Any progress on this option?

[2020-08-17 02:38] HexMox opened #11971 "The first-line comment is been removed unexpectedly"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
Babel removes the first-line comment unexpectedly.

- [REPL](babeljs.io/repl), [Codesandbox](https://codesandbox.io/s/babel-repl-custom-plugin-7s08o?file=/src/index.js), or GitHub Repo helps!

**Input Code**

[code]

**Expected behavior**
Keep the first-line comment(// test) in the output.

**Babel Configuration (babel.confi

[2020-08-17 03:31] brvenkat commented on #11954
thanks @existentialism tried that too and did not work, tried to be as explicit as below . I have not checked in change as it does not work
`
      {
        test: /\.js$/,
        exclude: [
          /node_modules\/(?!.*hapi\/joi)/,
          /node_modules\/(?!.*hapi\/joi-date)/
        ],
        include: [
          path.resolve(__dirname, '..', 'src'),
          path.resolve(__dirname, '..',

[2020-08-17 10:58] SharakPL commented on #9849
@EddieOne this one works perfectly https://github.com/babel/babel/issues/9849#issuecomment-646245498
For development targets:

**Only modern browsers targeted so no regenerator-runtime needed!**

For production targets:

[2020-08-17 14:21] techno021 commented on #11967
@joshjee its not possible, you have to use the --watch flag

[2020-08-17 16:20] piranna opened #11972 "visitor keys for `ClassPrivateMethod` type do not match the structure of `ClassPrivateMethod` nodes"
Originally reported at https://github.com/eslint/eslint/issues/13575.

## Bug Report

- [x] I would like to work on a fix!

**Current behavior**

Using `@babel/eslint-parser` to parse some code with a private method declaration, `eslint` crashes:

[code]

**Expected behavior**

Parsing should be done flawlessly.

**Babel Configuration**
- Filename: `babel.config.js`

[code]

**Environment**

[code

[2020-08-17 16:21] EddieOne commented on #9849
I don't get it. It was working before. I tried several suggestions and the solution is not clear.
https://github.com/Y8Games/Y8-ai-gym/commit/f7243ea29521ddd2e3c865c5b9e684cdd253e4b1

[2020-08-17 18:35] JLHwung commented on #11972
@piranna Sorry I went ahead and filed a PR before I realize you want to work on a fix. Can you take a review at #11973?

[2020-08-17 19:48] piranna commented on #11972
Reviewed and aproved :-)

[2020-08-17 19:53] JLHwung commented on #11966
Can you upgrade `@babel/core` to 7.11 and attach the output of
[code]

It should print the effective babel config of `./client/app/index.js`.

[2020-08-17 19:57] JLHwung commented on #11958
This issue is a regression. Affected versions: 7.11.0, 7.11.1.

[2020-08-18 05:14] TrejGun opened #11975 "@babel/eslint-parser @babel/eslint-plugin does not play nice with eslint-plugin-import"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
@babel/eslint-parser throws error on parsing 3rd party libraries

**Input Code**

[code]

throws error

[code]

**Expected behavior**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (babel.config.js, .babelrc, package.json#babel, cli command, .eslintrc)**
- Filename: `babel.co

[2020-08-18 11:09] dojyorin opened #11976 "Error with "s" flag when `new RegExp()`"
# Bug Report
- [ ] I would like to work on a fix!

**Current behavior**
An error will occur if the "s" flag is specified as the second argument when generating RegExp from the constructor.

In the case of a RegExp literal it worked.

**Input Code**

[code]

**Expected behavior**
Should be parsed like a RegExp literal.

**Babel Configuration**

[code]

**Environment**

- Babel version: v7.11.3
- OS

[2020-08-18 12:02] cbdeveloper opened #11977 "How to keep a specific line of code from the top position of the source file to remain at the top of the transpiled file?"
I'm using the [module-alias](https://www.npmjs.com/package/module-alias) npm package.

And to use it, I need to do the following:

![image](https://user-images.githubusercontent.com/43407798/90509581-746b2180-e151-11ea-9b47-be3a7f3df144.png)

And in my `index.ts` file, that is exactly what I'm doing:

**index.ts**

[code]

And I'm transpiling it using `babel` from `index.ts` to `index.js`

But the

[2020-08-18 15:18] #11972 closed

[2020-08-18 16:00] kaicataldo commented on #11975
It looks like this occurs because `eslint-plugin-import` uses the configured parser to parse imported modules (see https://github.com/benmosher/eslint-plugin-import/blob/master/utils/parse.js), and since the module in question in this issue is in `node_modules`, Babel doesn't have a config for it.

I'm not sure what the best path forward is here. In the interim, you might be able to use `parserOpt

[2020-08-18 17:10] gencer commented on #11038
Sorry for +1 here but; Indeed there is an issue here. Can we have a fix for this?

Currently only option is to downgrade to `v2.4.0` for `d3-array`

[2020-08-18 19:00] brainkim commented on #11543
This issue is related to #11701 and potentially solved by #11938. JSPM is great, but I’m squeamish about relying on an artifact which only exists in the æther, especially because I still have no idea how to find relevant d.ts files on JSPM. If babel ships an ESM version it would potentially be available via unpkg as well.

[2020-08-19 00:23] #11902 closed

[2020-08-19 19:15] #11716 closed

[2020-08-19 23:19] micburks opened #11981 "@babel/code-frame assumes location input will contain numbers"
## Bug Report

`@babel/code-frame` assumes location input contains integers. String input can prevent `linesBefore` from truncating output due to unintentional string concatenation on [this line](https://github.com/babel/babel/blob/main/packages/babel-code-frame/src/index.js#L57).

[code]

This is obviously user-error (and would be caught if using static types), but results in confusion rather tha

[2020-08-20 07:08] dilyanpalauzov opened #11983 "babel/cli --help → --no-comments clarifications"
babel/cli --help prints:
[code]

This means: if I want to have comments in the output, I have to pass `--no-comments` thus, if I want to have comments I have to say "NO-COMMENTS".

It is unclear what is the default: NO comments in the output, or WRITE comments in the output.

[2020-08-20 07:22] eric-burel commented on #10637
Crazy that there is not more docs about it. If only for auto-completion TS would help greatly. I've looked briefly at existing Babel plugin boilerplate but none is using TS.

Are you aware of some plugins already using TypeScript?

[2020-08-20 10:36] Meir017 opened #11984 "@babel/generator html-like comments generation"
## Bug Report

- [ ] I would like to work on a fix!

**Current behavior**
using `@babel/core` for parsing js that includes html-like comments works find.
generating code from the parsed ast using `@babel/generator` converts the html-like comments to regular line comments

**Input Code**

[code]
will output:
[code]

**Expected behavior**
the output should use the same comment style as the input

**