[2021-11-11 22:08] tolmasky commented on #13953
One additional point, the spec seems to only refer to escape sequences with respect to the `UseStrictDirective`, and not all directives. As far as I can tell, this restriction is only for "use strict", and left open to individual implementers for custom directives. I think this is a pretty good reason to have something like `stringValue` in the `DirectiveLiteral`'s `extra` object. Would there be o

[2021-11-12 13:45] #13930 closed

[2021-11-12 18:16] Austaras opened #13956 "[Bug]: Optional chaining unnecessarily memoized"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Currently compiled to
[code]
but should be compiled to
[code]

### Environment

babel playground

### Possible solution

_No response

[2021-11-12 18:31] JLHwung commented on #13956
This is expected. Accessing global variable can have side effect:

[code]

[2021-11-12 18:39] JLHwung commented on #13953
Yes. Though the spec also mentions that

so custom directives are in a limbo.

That looks good to me, essentially moving https://github.com/babel/babel/blob/54c539ecc12a70706e642ef9354b2ece6360444a/packages/babel-parser/src/plugins/estree.js#L140 to the base parser. Do you want to open a PR?

[2021-11-12 18:40] Austaras commented on #13956
That would be a much rare case. So should babel add another assumption like 'pureGlobalThisGetter' or just assume global getter is pure when 'pureGetter' is set?

[2021-11-12 18:43] tolmasky commented on #13953
Yup, will do, thanks!

[2021-11-12 18:45] JLHwung commented on #13956
Respecting the `pureGetters` assumption looks good to me. Do you want to open a PR?

[2021-11-12 18:47] Austaras commented on #13956
Yes

[2021-11-13 07:54] The-x-Theorist commented on #13896
I'd like to work on this issue, But where I can start of with?

[2021-11-13 11:44] nicolo-ribaudo commented on #13498
You need to configure `esbuild` to be able to import commonjs files.

[2021-11-14 01:02] #13947 closed

[2021-11-14 01:03] #12824 closed

[2021-11-14 01:46] #13953 closed

[2021-11-14 05:31] dubyouth opened #13963 "[Bug]: Error after add @babel/plugin-proposal-class-properties"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

./node_modules/@jclem/logfmt2/dist/logger.js
SyntaxError: /Users/bristan/gmlverse/node_modules/@jclem/logfmt2/dist/logger.js: Support for the experimental syntax 'classProperties' isn't currently enabled (9:12):

   7 |  */
   8 | class Logger {

     |            ^
  10 |     timers = {};
  11

[2021-11-14 15:54] Austaras commented on #13956
What do I need to do if I want to add pureGetters options to nullish coalescing? I don't seem to find a guide

[2021-11-14 16:15] Austaras commented on #13956
That would apply to the docuemented case too consider

[code]

since every access to b will cause a new function to be constructed

[2021-11-14 16:19] nicolo-ribaudo commented on #13956
Yeah, I agree that this can go behind `pureGetters`. The common definition of "pure function" is a function that:
- Given the same arguments return the same result
- Doesn't have side effects

`let a = { get b() { return function() {} } };` can be considered as non-pure, because `a.b !== a.b` (it violates the first point, if we define "same" as `===`).

[2021-11-14 16:29] JLHwung commented on #13963
What is the version of `@babel/parser` used by `react-scripts`? I suspect it is out-of-date. You can try remove the lock file and install again.

[2021-11-14 16:35] JLHwung commented on #13956
Maybe we can introduce a new assumption like `noGlobalThisGetters`?

[2021-11-14 16:37] Austaras commented on #13956
Another question: should long optional chain like `a?.b?.c?.d` be cached?

[2021-11-14 17:16] jimmywarting commented on #8652
I think babel should become more strict about requiring file extension.
ESM demand it: https://nodejs.org/docs/latest-v17.x/api/esm.html#mandatory-file-extensions

So part of me helping others to turn on the "Compile to ESM" is a daunting process. cuz it requires to go through all the files and add the `.js` extension. If babel instead had put the foot down and say "hey, i can't find './foo' you m

[2021-11-14 21:11] jimmywarting opened #13964 "Transition to vanilla javascript / ES Modules"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

When writing the entire source code in TypeScript/Flow, types are checked throughout the entire code. That can be helpful at times, but more often than not it results in unneeded code complexity and build errors that slow down the development and maintenance of the Babels source code. I estimate that t

[2021-11-14 21:12] loynoir opened #13965 "[Bug]: After `@babel/plugin-transform-typescript`, `path.scope.hasGlobal(removed)` is still true"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

### Reproduce
https://github.com/loynoir/reproduce-babel-plugin-transform-typescript-13964.ts/blob/master/test.js

### Code
[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

### Expec

[2021-11-14 22:47] nicolo-ribaudo commented on #13964
Just to clarify: are you asking to rewrite our source code to remove TypeScript/Flow, or are you asking to create a Babel plugin that transform TS code to JS+JSDoc?

[2021-11-14 22:48] jimmywarting commented on #13964
yes

no

[2021-11-15 12:52] merceyz commented on #13964
Important to note that they only did that for their internal stuff

For their internals or in general? If its the latter, could you provide some sources for that?

[2021-11-15 13:47] nicolo-ribaudo commented on #13964
@jimmywarting We don't plan to move away from TS. In fact, we plan to expand TS usage in our codebase even more (to replace the files where we currently use Flow, since a Flow+TS codebase is definitely suboptimal).

That's not true. We currently have some files using Flow, some using TS and some using JavaScript. Since we introduced TypeScript, our development experience has improved because thank

[2021-11-15 13:47] #13964 closed

[2021-11-15 13:54] nicolo-ribaudo commented on #13964
You might also be interested on https://github.com/babel/babel/issues/11701. I'm currently working on it, but TS is not a blocker. The main blocker is Jest (and I'm solving it at https://github.com/babel/babel/pull/13966), and then we'll wait for the babel 8 release.

[2021-11-15 14:18] dubyouth commented on #13963
babel/parser@7.16.3

[2021-11-15 15:26] nicolo-ribaudo commented on #13964
The comment I wrote is the opinion of the team, so there isn't much to add :shrug:
I would seriously consider this if it let us remove the build-step, but it can't for the reasons I highlighted.

[2021-11-15 15:56] JLHwung commented on #13963
Since `@babel/parser` 7.14.0, `classProperties` are no more experimental so the error you posted almost surely comes from an old version of `@babel/parser`.

Can you post the result of
[code]
or
[code]
(depends on your package manager)

If all points to 7.16.3, can you provide a reproduction repo? If some points to an older version, you can see why an older version was used.

[2021-11-16 06:47] bdkjones commented on #5618
Was there a problem with the PR that fixed this issue? It's been open for 4+ years, a fix has been supplied, and having Babel respect `NODE_PATH` would help people out. Was there some downside that led to this PR lingering for years?

[2021-11-16 08:12] The-x-Theorist commented on #13956
Normally maximum Getters will be not globalThis, Making an assumption only for globalGetters can make more sense?

[2021-11-16 14:41] JLHwung opened #13970 "[Bug]: `transformFromAstSync` leaks memory"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

For a complete reproduction, see https://github.com/JLHwung/babel-transform-from-ast-leak

### Configuration file name

_No response_

### Configuration

N.A.

### Current and expected behavior

Current: The memory usage rises beyond 2GB

Expecte

[2021-11-16 15:01] Magnuti commented on #9849
[This commit](https://github.com/clarocity/react-planner/commit/3fdd0c89542ceaf0572f7e79e7733ee19ed78bd5) fixed it for me.

.babelrc file:
[code]

and by adding `"babel-plugin-transform-runtime": "^6.23.0"` to `package.json` dev dependecies.

[2021-11-16 17:32] nicolo-ribaudo commented on #13970
Does it leak if you pass `cloneAst: false`?

[2021-11-16 18:33] JLHwung commented on #13970
Nice catch! The leak is gone when `closeInputAst` is disabled. However this option is enabled by default.

It is likely that after `cloneDeep` is performed, the new AST object still contains reference to the old AST object which prevents them from being collected.

[2021-11-16 22:48] danieltroger opened #13971 "[Bug]: Parameter properties don't get transformed correctly / are broken"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

## 🤔 Expected Behavior

`👀` and then `4` is logged to the console.

## 😯 Current Behavior

`undefined` and then `undefined` is logged to the console.

### Environment

| Software

[2021-11-16 22:52] danieltroger commented on #13971
Wait is this a duplicate of https://github.com/babel/babel/issues/12066?

[2021-11-16 22:55] danieltroger commented on #13971
Bruh fml forreal? How am I supposed to find out that my code breaks because I have some stuff in the wrong order in a config file?

[2021-11-17 01:04] rally25rs opened #13972 "[Bug]: 'Attempted import error' when importing a re-exported TS type (possible regression?)"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

I reacted a minimal example using Create React App's `--template typescript` here:
https://github.com/rally25rs/cra-ts-test

If you clone the above repo and run `yarn install` and `yarn start` you will receive the error
[code]

### Configuration file name

_No respons

[2021-11-17 07:49] fengzilong opened #13974 "[Bug]: Failed to parse json"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

https://babeljs.io/repl#?browsers=Chrome%20since%2010&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=N4IgZg9hIFwAQgEYEMBOIC-Q&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=true&sourceType=module&lin

[2021-11-17 08:30] The-x-Theorist commented on #13773
If global variables are getting renamed then rename is also changing some globals this should be avoided as it can make conflicts for some code and may create some side-effects.

[2021-11-17 08:32] nicolo-ribaudo commented on #13974
JSON code is only valid JavaScript code when it's in am expression position: you can make it work by wrapping it in parentheses.

[2021-11-17 08:36] nicolo-ribaudo commented on #13972
Since Babel matches the TypeScript `--isolatedModules` behaviour (because it doesn't perform cross-file analysis) you must mark the import as type-only: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#type-only-imports-and-export

[2021-11-17 11:43] rally25rs commented on #13972
Ah ok, I was going to come back and ask why the difference between `tsc`, but it looks like `tsc` has the same issue

[code]

It's unfortunate that both VSCode and eslint don't report that error in the IDE and led me to thinking that the code was fine. In my actual project I even have a fully working unit test that runs with `ts-jest` (which uses tsc) without an error, but it must be using slightl

[2021-11-17 11:43] #13972 closed

[2021-11-17 13:59] fengzilong commented on #13974
I think you are right, thanks for the workaround tip and quick reply 🚀

[2021-11-17 13:59] #13974 closed

[2021-11-18 07:43] The-x-Theorist commented on #13735
I'd like to work on this issue, If @fedeci is not currently working on this?

[2021-11-18 07:43] fedeci commented on #13735
It's yours!

[2021-11-18 07:44] pie6k commented on #7373
I think I have a repro, but not related to exports at all:

https://babeljs.io/repl#?browsers=defaults&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABABwE52QCgJSIN4BQixiqAplCKkqJLAogCZkRyoCGUbmU7qA5hQA0KdMgBy7ALZlchEgsQAlMsAA2LKADpmwGGDIAFMWVRQAnjz6CoItBkkyR8xQps58iIq8XlK1RAAiACM-QK8fEgBfEW9I1jA9fip2YI0ALkQoVBAyWMjiMjAQGQ40skzs3LjFKOwaqIJGggIINXYAZw7EADE4OHwagAF7LH

[2021-11-18 07:56] The-x-Theorist commented on #13735
Thank you @fedeci, But where can I write tests for this issue?

[2021-11-18 08:05] fedeci commented on #13735
It is likely an issue with babel-traverse so that should be the right folder.

[2021-11-18 08:09] The-x-Theorist commented on #13735
`fixtures/regression` will this directory be good for writing test?

[2021-11-18 18:02] JLHwung commented on #12570
I think the behaviour is expected because `path.traverse` does not visit `path` itself. In this case, for an ImportDeclaration `path`, its `parentPath` is always a Program, whose `context` are the root context because the Program path is not visited in `path.traverse`. Now when we call `.get("body")`: all the immediate children of Program, including the ImportDeclaration, inherit the root context

[2021-11-18 18:25] JLHwung commented on #13971
Closing this as a duplicate of #12066

[2021-11-18 18:25] #13971 closed

[2021-11-18 18:36] JLHwung commented on #12066
https://babeljs.io/docs/en/presets#preset-ordering

The preset is (unintuitively) applied from last to first. It was for backward compatibility back to 2015 when people use `preset-es2015` and `preset-latest` in this order: `["preset-es2015", "preset-latest"]`

It is correct that `typescript` preset should be applied before other ES language features, so `preset-typescript` should be placed after

[2021-11-18 18:57] JLHwung commented on #13830
The behaviour was introduced no later than 6.0.0:

https://github.com/babel/babel/blob/3974dd762d1c58eb21da78eeab736508be67b9db/packages/babel-plugin-builder-react-jsx/src/index.js#L31-L32

And it seems to me more like a feature than a bug. Given that it has been there for a long time and people may depend on that, I don't think we are gonna change that unless we have strong opinions from the jsx

[2021-11-18 18:57] #13830 closed

[2021-11-18 19:00] #13559 closed

[2021-11-18 19:06] JLHwung commented on #13735
@The-x-Theorist I don't think it is a regression unless it worked before (not because when we are not tracking them at all). You can put the test around

https://github.com/babel/babel/blob/d30308fe8eb5dd11c16a2d4c3a058e63ffe7949e/packages/babel-traverse/test/scope.js#L656

[2021-11-18 19:08] #12367 closed

[2021-11-18 19:09] #12060 closed

[2021-11-18 19:18] tolmasky opened #13977 "[Bug]: May babel packages list dependencies that should be peer dependencies"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

It appears that the intent is to have plugins/helpers/etc reference "mainline" packages like `@babel/types` and `@babel/generator` as peerDependencies, but this isn't followed super strictly. This is causing us some issues as our install is a little more

[2021-11-18 19:29] JLHwung commented on #13896
@The-x-Theorist You can check https://github.com/babel/babel/blob/d30308fe8eb5dd11c16a2d4c3a058e63ffe7949e/packages/babel-plugin-transform-react-jsx/src/create-plugin.ts#L37-L38

[2021-11-18 20:04] nicolo-ribaudo commented on #13977
All those packages should have a `peerDependency` on `@babel/core` and import `types`/`traverse` from there. For `@babel/plugin-transform-jsx` we could fix it now, but all the others need to wait for Babel 8.

[2021-11-18 20:26] tolmasky commented on #13977
Would moving them to peerDependencies now in the meanwhile have any negative consequences? If my understanding is correct, if they appear deeply in a tree the result would be identical due to the normal deduping logic, and if they were top level, you'd also get the same behavior due to npm's default behavior to include peer dependencies. Only people like me running with "--omit=peer" would get see

[2021-11-18 20:36] jedwards1211 commented on #12570
Huh I see.  FWIW, I wonder if a different API design would be possible where the context information is passed around instead of being a property on the paths that gets mutated.  This issue certainly wasn't a showstopper for me but I did burn a lot of time in a painful debugging session on it.

[2021-11-18 20:54] JLHwung commented on #12570
Indeed, I will see if I can take on https://github.com/babel/babel/pull/12634

[2021-11-18 21:05] jedwards1211 commented on #12570
@JLHwung oh interesting.

I noticed that `visitor` is already an argument to `path.traverse` etc.  And this issue involved traversal getting the visitors from `path.opts`  in some cases, and that getting blown away by context changes.  So aside from changes in that PR, I wonder if it would be possible for traversal to always use the `visitor` passed around via function arguments instead of anythin

[2021-11-18 22:52] danieltroger commented on #12066
Thanks for the explanation.

I think that would be a start anyways and then people stumbling upon the issue with other plugins can build on it if it's a good feature.

Very cool, thank you.

[2021-11-19 01:08] samualtnorman commented on #12563
also encountering this
(`"type": "module"` in `package.json`)

[2021-11-19 07:52] roryabraham opened #13980 "[Bug]: Incorrect conditional logic"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

Babel's output:

[code]

Essentially it's turning this:

[code]

into this:

[code]

And these are not logically equivalent expressions (testing in Node

[2021-11-19 08:00] tony-go commented on #13791
Hi Guys 👋

If I get it right we want something like:

[code]

or like this:

[code]

[2021-11-19 08:36] nicolo-ribaudo commented on #13980
No, it's converting `if (!a && !b) c()` to `a || b || c()`, which are logically equivalent. The intermediate conversion `if (!(a || b)) c()` might help seeing the equivalence.

Btw, that transformation is not done by Babel, but most likely by a minifier.

[2021-11-19 09:05] Austaras opened #13981 "[Bug]: Incorrectly transpile this in object getter/setter/method in arrow function"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Should log
[code]
but get
[code]

### Environment

babel repl

### Possible solution

Transpile computed name in getter/setter/method

[2021-11-19 09:41] roryabraham commented on #13980
You're correct that this is being done by a minifier (uglify, to be precise), and not Babel. My mistake.

[2021-11-19 09:41] #13980 closed

[2021-11-20 12:45] clhiker opened #13983 "[Bug]: Bable can't Handle Unicode Encoding Function Name"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]
Here is the Babel [REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=false&spec=true&loose=true&code_lz=G4QwTgBA9hC8EG8BQEICIA6BXAIgDgGYBWbHAYQE4y0AKASkQF8lGBuIA&debug=false&forceAllTransforms=true&shippedProposals=true

[2021-11-22 11:22] clhiker opened #13990 "[Bug]: Function's Implicit Arguments Binding Fail"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]
Here is the [REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=AQNwhgTskOYK4FsCmA7ALgZ2AXmAbQEYAaYAJhIGYBdAbgChRJoIpcAKAShwD5n5l0GPAAZaDBpAicawAPSzgBccABmcFAGM0ASwD2KVbt1sUXAN4NgjKCp

[2021-11-22 16:11] JLHwung commented on #13983
The error is thrown from https://github.com/babel/babel/blob/a470f7b479c649fcaea15df473dce395f4786731/packages/babel-plugin-transform-unicode-escapes/src/index.js#L87

If we enable the "Time Travel" REPL feature, we can clearly see the identifier `𝒜` is injected by "transform-function-name":

https://github.com/babel/babel/blob/a470f7b479c649fcaea15df473dce395f4786731/packages/babel-plugin-transfo

[2021-11-23 07:24] wang12124468 opened #13991 "[Bug]: DI for typescript?"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

![image](https://user-images.githubusercontent.com/17714343/142984440-d0462848-ef2d-4499-9054-aad38a7ff53f.png)

### Environment

- babel: 7.10.4

### Possible solution

_No

[2021-11-23 07:43] clhiker opened #13992 "[Bug]: The Extension Operator in the Function Argument Failed to Resolve"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]
Here is the [REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=false&spec=false&loose=true&code_lz=GYVwdgxgLglg9mABKSAKAdJghgJwOYgC2ApmFAM4CUiA3gFCKOIQLlwA2x67cequBEmSoBuRAHpxiANoBGADSIATIoDMAXToBfOnRQRUC5WsoigA&debug=f

[2021-11-23 15:20] JLHwung commented on #13991
Babel TypeScript preset does not support TypeScript parameter decorator yet. As a workaround, please install https://github.com/WarnerHooh/babel-plugin-parameter-decorator

[2021-11-23 15:32] JLHwung commented on #13992
Good catch.

We can memoize the `arguments` if the rest argument (...arguments) will shadow the `arguments` binding. A feasible output can be:

[code]

here `_args` can be generated from `scope.generateUidIdentifier("args")`, which prevents conflict with defined bindings such as `arguments`.

We can check if `argsId` is `arguments` and provide alternative templates than `buildRest`.

https://githu

[2021-11-24 01:36] wang12124468 commented on #13991
it's nice! thank you!!

[2021-11-24 01:36] #13991 closed

[2021-11-24 07:29] eynait1010 opened #13994 "[Bug]: Module not found: Error: Can't resolve './getPrototypeOf' in 'xxx/node_modules/@babel/runtime/helpers/esm' Did you mean 'getPrototypeOf.js'?"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

_No response_

### Current and expected behavior

I am writing a pack utils,  which seems like CRA, and I publish it on my company's NPM origin.
when i use my pack in a monorepo, I encounter this problem.
The p

[2021-11-24 08:46] nicolo-ribaudo commented on #13994
They should update their `@babel/runtime` to `7.16.3`, where this problem has been fixed.

[2021-11-24 09:34] jsejcksn commented on #11691
@nicolo-ribaudo Can you clarify that statement further? Does this mean that the following are true?

1. each file is transpiled in isolation (like TSConfig's [`isolatedModules`](https://www.typescriptlang.org/tsconfig#isolatedModules) setting)

2. and then the transpiled JS is executed as a classic script (not a module)

Or does no. 2 depend on the presence of the attribute `data-type="module"` in

[2021-11-24 11:24] nicolo-ribaudo commented on #11691
If you have an HTML file like this one:
[code]
and `index.js` is
[code]

Babel will transpile `index.js` but not `dependency.js`, because browsers don't provide yet hooks to intercept the `import` loading.

[2021-11-24 23:30] jsejcksn commented on #11691
@nicolo-ribaudo Thanks for clarifying. Now I have one more question, since I can't find documentation (or even answers on Stack Overflow) on how to use `@babel/standalone` with TypeScript React code: it seems that using the `typescript` preset alone isn't enough, even with [`isTSX` and `allExtensions` set to `true`](https://babeljs.io/docs/en/babel-preset-typescript#istsx).

Here's an example. Ign

[2021-11-25 22:37] exb commented on #13786
Hi @FuryACE007! 👋 Still working on this? If not, I’d like to pick this up.

[2021-11-25 22:44] nicolo-ribaudo commented on #13786
@exb If @FuryACE007 doesn't respond within Monday, this bug is yours!

[2021-11-26 06:54] The-x-Theorist commented on #13735
@JLHwung The test isn't throwing up the error.
<img width="768" alt="Screenshot 2021-11-26 at 12 19 10 PM" src="https://user-images.githubusercontent.com/75059911/143539114-6f3e9ff8-f465-4832-bb57-ff214c9b5db8.png">

When error is expected it throws `Recived function did not throw`.

<img width="566" alt="Screenshot 2021-11-26 at 12 18 06 PM" src="https://user-images.githubusercontent.com/75059911

[2021-11-26 07:24] The-x-Theorist commented on #13896
@JLHwung Could you please assign this issue to me so that I can work on it?

[2021-11-26 15:14] JLHwung commented on #13735
@The-x-Theorist `t.declareClass` is for Flow, you can construct TypeScript AST from `t.classDeclaration`. See also https://astexplorer.net/#/gist/92c45fee6dec0904bbb9e045315de661/b701b341936beb303287908c723f42d02ca273cc for the AST shape.

[2021-11-27 09:48] The-x-Theorist commented on #13896
After changing the regex pattern some other tests are failing.

[2021-11-28 10:07] oshihirii commented on #8309
is there any official documentation that explains how to do the following:

- transpile all direct and descendant imported files within your project,
- regardless of the folder they are in,
- except for `/node_modules`

example project structure - all imported files should be transpiled:
[code]

[2021-11-28 13:11] nicolo-ribaudo commented on #8309
@oshihirii You can use a top-level `babel.config.json` file and add [`"ignore": "**/node_modules/**"`](https://babeljs.io/docs/en/options#ignore).

[2021-11-28 13:27] #13994 closed

[2021-11-29 04:22] oshihirii commented on #8309
**Short Version:**

Imported files are not being transpiled after creating `babel.config.json` file in project root directory with these contents:
[code]
And then running `npm run build-server-file` which is:
[code]

**Long Version:**

I looked at these links:

 - https://babeljs.io/docs/en/options#ignore
 - https://babeljs.io/docs/en/configuration#babelconfigjson *
 - https://babeljs.io/docs/en/c

[2021-11-29 06:25] opencodespace opened #14007 "Runtime transpiling of JSX code in an external .js file when the html file loads in to the browser, with out the need to separately compile the JSX code (with babel) .."
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I have an existing project in which JavaScript is used for the front-end. Now I am moving some functionality to React JS and using JSX (to define elements).

My JSX code is in app.js file. Right now I have to separately compile my JSX code using babel and copy the generated .js file in to my working fo

[2021-11-29 06:28] The-x-Theorist commented on #13896
`Test cannot throw and also return output code:` how this error can be fixed?

[2021-11-29 09:51] The-x-Theorist commented on #13735
If `declare: boolean (default: null, excluded from builder function)` this is excluded than how can we add declare in AST?

[2021-11-29 15:16] JLHwung commented on #13896
The error means some tests (expect to fail) are now passing.

Note that the proposed regex forbids `/* @jsx Something */` (when there are whitespaces after `Something`)

I think you can add `\s*` to the proposed regex

[code]
so that `/* @jsx Something */` can be passed.

You can also copy the regex to https://regex101.com/r/Wt1cQ5/1/ and see if it matches JSX pragma.

[2021-11-29 15:19] JLHwung commented on #13735
Good question. You can build the AST and manually assign `declare` to it

[code]

[2021-11-29 17:56] nicolo-ribaudo commented on #8309
It's because you are only passing the `app_before_babel.js` file to the Babe cli. You probably want to compile the full directory:
[code]
https://babeljs.io/docs/en/babel-cli#compile-directories

---

You can have both JS and JSON config file (as explained in the [previous docs section](https://babeljs.io/docs/en/config-files#supported-file-extensions)); we should reword the `console.log` suggesti

[2021-11-29 19:12] tolmasky opened #14010 "Allow template strings as JSX attributes"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

I would really like to modify the JSX parser to support template strings as attributes (alongside double-quoted and single-quoted strings). It's a fairly trivial change that IMO just improves the consistency of the language and more importantly removes the annoyance of having to wrap template strings i

[2021-11-29 19:19] JLHwung commented on #14010
/cc @babel/react

[2021-11-29 21:13] jridgewell commented on #14010
Dupe of https://github.com/facebook/jsx/issues/25? I think this is something that has to be decided in the JSX spec itself.

[2021-11-30 15:31] tolmasky commented on #14010
Hi @sebmarkbage ,

Thanks for the response. I think part of the problem is that there's no clear process or indication as to what it takes to make it into the spec (and I believe nothing has ever made it into the spec from outside of Facebook, but I might be wrong about that, although there is a clear comment in one of the issues where it is explicitly stated that one of JSX's main selling points

[2021-11-30 20:16] JLHwung commented on #13896
Should we allow

[code]
? Such comment pattern can be seen in JSX docs or copyright headers.

[2021-11-30 21:54] #13981 closed

[2021-12-01 06:42] The-x-Theorist commented on #13896
Yes we should allow this pattern for JSX docs or copyright headers, I will change the regex pattern accordingly.

[2021-12-02 15:35] #13896 closed

[2021-12-03 10:24] The-x-Theorist commented on #13983
@JLHwung How we can check that a string contains a non-bmp character?

[2021-12-03 11:37] nicolo-ribaudo commented on #13983
We can use `/[\u{10000}-\u{10ffff}]/u.test(str)`.

[2021-12-03 11:43] lightmare commented on #13983
There's something weird going on:
[code]
[code]
[code]
[code]

[2021-12-04 06:45] The-x-Theorist commented on #13983
I'd like to work on this issue, Can this issue be assigned to me?

[2021-12-04 08:21] The-x-Theorist commented on #13992
@JLHwung Will it be okay if the output will be changed in other tests too, If we change the template here?

[2021-12-04 09:54] Domiii opened #14021 "[Bug]: `@babel/register` has incorrect `sourceMaps` default settings"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

Any code.

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

**Current Behavior**

`@babel/register` in [this line](https://github.com/babel/babel/blob/master/packages/babel-register/src/node.js#L64) sets the defaul

[2021-12-04 11:26] lightmare commented on #13992
It'd probably be better to copy into `_args` and then after the loop, assign `arguments = _args`.

[2021-12-04 17:34] nicolo-ribaudo commented on #14021
We should update the `@babel/register` [docs](https://babeljs.io/docs/en/babel-register) to say that it overwrites the default value. The reason we enable them by default is you don't have access to the compiled sources, so the only way to make sense of errors is via source maps.

[2021-12-04 19:56] overlookmotel opened #14023 "[Bug]: traverse calculates scope incorrectly for var in function expression with same name as var"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavior

In the example above, the first transform is correct:

`(function f() { let x = 1; return x; })`
is transformed to:
`(function /*FunctionExpres

[2021-12-05 02:01] overlookmotel opened #14024 "[Bug]: traverse does not calculate scope in object deconstructor in catch clause"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavior

As in example above:

[code]

This code is a little odd, but legal!

`message` in `() => message` should be bound to the deconstructed property

[2021-12-05 14:15] diy4869 opened #14027 "[Bug]:"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]
[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

I want to compile a section of typescript react code through @ Babel / core, but the output results show that the part of type

[2021-12-05 14:34] nicolo-ribaudo commented on #14027
You should pass the presets directly, not in `parserOpts`:
[code]

[2021-12-05 14:39] lightmare commented on #14024
The culprit seems to be this condition:
https://github.com/babel/babel/blob/2d989a983dc13c7682d65faa075c8a26d2f5b991/packages/babel-traverse/src/scope/index.ts#L1131-L1136

I tried adding a check for `!scope.path.isCatchClause()`, but that broke this test:
https://github.com/babel/babel/blob/2d989a983dc13c7682d65faa075c8a26d2f5b991/packages/babel-traverse/test/fixtures/rename/catch-clause/input.js

[2021-12-05 14:47] Domiii commented on #14021
@nicolo-ribaudo Right, i came across the same problem. `source-maps` are a must. Agreed that it is a documentation issue.

[2021-12-05 14:49] Domiii commented on #14021
@nicolo-ribaudo I would recommend, also adding such divergence (`register` being different from the rest) to [the configuration docs](https://babeljs.io/docs/en/options#sourcemaps), since most people would not consider the idea that configuration is suddenly divergent (because divergence happens so rarely).

[2021-12-05 17:24] #13735 closed

[2021-12-05 17:36] JLHwung commented on #14024
We can register `"param"` binding for catch clause

https://github.com/babel/babel/blob/a943f576d1f7181abc593f97b174fdcf8a6c421d/packages/babel-traverse/src/scope/index.ts#L334

And for declarations within the catch body, they will be registered in BlockStatement.

I am not sure why it is registered as `let` and it seems that we don't have tests covering that, too.

[2021-12-06 01:28] a20185 opened #14030 "[Bug]: Problem on both using Babel babel/plugin-transform-classes and regenerator for async class methods"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

Current behavior: the error stack inside current method lose context, when trying to getting where the function is running from, we currently get the meaningless `Test

[2021-12-06 06:43] The-x-Theorist commented on #13992
I'd like to work on this issue?

[2021-12-06 06:56] a20185 commented on #14030
It seemed that this problem was caused by [@babel/plugin-transform-async-to-generator](https://babeljs.io/docs/en/babel-plugin-transform-async-to-generator), while wrapped by an anonymous generator function performing remapping

[2021-12-06 07:38] diy4869 commented on #14027
I don't quite understand. Doesn't this count

[2021-12-06 08:02] diy4869 commented on #14027
At first, the configuration was written in babel.config.js, but it could not be compiled, so it was tested through @ Babel / core transform, but it still could not be compiled

[code]

[2021-12-06 08:32] The-x-Theorist commented on #14023
Where can we write test for this issue?

[2021-12-06 11:58] overlookmotel commented on #14024
Thanks for swift replies.

@JLHwung

This would be inconsistent with declarations in a function body, which are registered to the FunctionDeclaration / FunctionExpression.

e.g.: `function f() { let x; return x; }`

If `path` is the identifier `x` in `return x`, `path.getBinding('x').scope.path.type === 'FunctionDeclaration'`.

Personally, I think that behavior is unintuitive - I would have expect

[2021-12-06 20:00] JLHwung commented on #13992
If we copy into `_args`, the output will be larger when the rest argument is not `argument`. For example, if we are transforming
[code]

Current output (83 byte after terser)

Fixing this bug should not generate larger output than current.

[code]

proposed output (89 byte after terser)
[code]

[2021-12-06 20:01] JLHwung commented on #13992
@The-x-Theorist Thanks! Assigned to you.

[2021-12-06 22:11] tony-go commented on #13952
Hi 👋 !

Need help there? Let me know if I could help. ^^

[2021-12-07 01:46] JLHwung commented on #13952
As a workaround, you can enable the [`constantSuper` assumption](https://babeljs.io/docs/en/assumptions#constantsuper):

[code]

[2021-12-07 03:31] JLHwung commented on #14024
@overlookmotel You are right. We don't generate scope when BlockStatement is immediately nested in Function/CatchClause,

https://github.com/babel/babel/blob/94af0e5c629b63fa11512b2ea8a8ac81d11a9db5/packages/babel-types/src/validators/isScope.ts#L14-L18

so declarations within the catch body is registered in CatchClause.

I agree with you. I guess merging BlockStatement with FunctionDeclaration is

[2021-12-07 03:51] a20185 commented on #14030
@nicolo-ribaudo If it's difficult to adjust, is it possible to remap the output outside (within babel, by creating anther plugin, or something else), such as replacing the following output
[code]
into `remapped named` version:

[code]

[2021-12-07 08:09] nicolo-ribaudo commented on #13952
@tony-go Yes! Do you have any idea about how it could be transpiled?

[2021-12-07 08:20] The-x-Theorist commented on #13990
I'd like to work on this issue?

[2021-12-07 09:41] nicolo-ribaudo commented on #14030
@a20185 Babel does not rename the function; thanks to this code that it injects:
[code]

You can verify it by logging `console.log(Demo.prototype.asyncFn.name)`. However, it injects a bunch of calls _inside_ the `asyncFn` function: you are seeing them in the stack trace, but if you look at a silghtly longer stack trace you will see the function name that you expect. If you add a `throw new Error("

[2021-12-07 09:57] tony-go commented on #13952
Hi @JLHwung @nicolo-ribaudo :)

Hope you're doing well and safe 🙌 ?

I understand the intent of this code from a user's point of view.

From a technical aspect, I understand that we have to look into the __proto__ in a recursive way to find the property back. (Tell me If I'm wrong 🙈)

[code]

It's all that I know, from my naive POV ahahaha.

It's why I found that this issue could be a good challen

[2021-12-07 13:46] hunterpp opened #14033 "[Bug]: Error: Cannot find module 'babel-preset-env'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

 {
    test: /\.js$/,
    use: [{
      loader:  'babel-loader',
    }],
  }

### Configuration file name

babel.config.json

### Configuration

{
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "presets": [
        "@babel/preset-env"
    ]
}

### Cu

[2021-12-07 14:09] #14033 closed

[2021-12-07 14:40] a20185 commented on #14030
Wow，thanks a lot!
`Error.stackTraceLimit = 50` indeed solved the stack parsing at development!

[2021-12-07 14:58] #14030 closed

[2021-12-08 06:38] The-x-Theorist commented on #13990
This is issue is already fixed and it's giving the output correctly as 6 not as 4 without any changes to codebase currently.

[2021-12-08 06:40] The-x-Theorist commented on #13983
?

[2021-12-08 06:42] The-x-Theorist commented on #13990
I wrote some tests to check the current scenario and it's working fine.

[2021-12-08 07:54] azeez1776 commented on #13786
Hey @nicolo-ribaudo can I try working on the problem?

[2021-12-08 07:55] loynoir opened #14034 "[Bug]: Property left of BinaryExpression expected node to be of a type ["Expression"] but instead got "StringLiteral""
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://github.com/loynoir/reproduce-esbuild-1837.mjs

[code]

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

### Expected
ESM context output
[code]

### Unexpected
iife context output
[code]

#

[2021-12-08 08:04] The-x-Theorist commented on #14023
?

[2021-12-08 09:23] nicolo-ribaudo commented on #13786
@exb Are you still working on this?

[2021-12-08 19:34] exb commented on #13786
Hi @nicolo-ribaudo, I started working on this yesterday :)

[2021-12-08 20:37] JLHwung commented on #13990
I can still reproduce the issue on the OP-provided REPL link.

[2021-12-08 20:39] JLHwung commented on #13983
@The-x-Theorist Assigned this issue to you. Thanks for your help!

[2021-12-08 21:21] JLHwung commented on #14023
@The-x-Theorist You can add a test to `packages/babel-traverse/test/scope.js`. However I am afraid a proper fix for this issue may be a breaking change.

This issue is related to how Babel register bindings. In the OP's example

[code]

The first `x` is registered as a `local`-kind binding in the `function x...`'s scope, the `let x = 1` is registered as a `constantViolation` in the scope, which al

[2021-12-08 23:30] overlookmotel commented on #14023
@JLHwung Thanks for the extensive explanation. That makes sense.

Given that combining scopes for function params and function's body block is better for performance (as you say in https://github.com/babel/babel/issues/14024#issuecomment-987536484), option 2 seems like the better one.

Would option 2 also be a breaking change?

That said, I wonder whether it's possible for a combined scope for par

[2021-12-08 23:49] azeez1776 commented on #13786
Hey @exb , pls let me know when your done

[2021-12-09 06:48] The-x-Theorist commented on #13990
Sorry, I got the point and I will resolve this bug soon.

[2021-12-09 09:25] nicolo-ribaudo commented on #13990
@The-x-Theorist You can test this enabling just the arrow functions plugin.

[2021-12-09 12:46] overlookmotel commented on #14023
The edge case I mention above is discussed in https://github.com/babel/babel/issues/2471.

[2021-12-09 13:11] fisker opened #14037 "[Bug]: Unexpected `StringLiteral` node in `@babel/eslint-parser`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

`StringLiteral` should be `Literal` with string value.

### Environment

Latest version of @babel/eslint-parser

### Possible

[2021-12-09 14:35] JLHwung commented on #14037
This is a regression introduced in #13611.

The `cloneStringLiteral` method always set `type` to `StringLiteral`:

https://github.com/babel/babel/blob/94af0e5c629b63fa11512b2ea8a8ac81d11a9db5/packages/babel-parser/src/parser/node.js#L82

we can override `cloneStringLiteral` in `estree` plugin.

[2021-12-09 17:19] arthurfiorette opened #14038 "[Bug]: Babel is throwing an error at the `$schema` property in json config files"
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

Babel is throwing the following error, but the `$schema` property should be allowed to add editor intellisense.

[code]

### Environment

[code]

### Possible solution

Allow th

[2021-12-09 22:58] #14037 closed

[2021-12-09 23:51] nicolo-ribaudo commented on #14038
I agree that we can ignore it. Note that it should only be ignored at the top-level of JSON files, and no where else. It might actually be easier to just delete the `$schema` property when reading the file.

[2021-12-10 09:26] lightmare commented on #13992
@JLHwung

When the rest param is not `arguments`, the output stays the same; but when it is `arguments`, it has to be larger than current, because you need one more temporary variable.

What I meant was instead of this:
[code]
do this:
[code]
They're the same amount of characters, only one takes reference to `Arguments` — I'm not sure whether that's an issue or not, but since it can be avoided for

[2021-12-10 10:35] nicolo-ribaudo commented on #13992
Actually, the best solution is to `path.scope.rename("arguments")` and keep the current output:
[code]

[2021-12-10 12:42] lightmare commented on #14023
If this option is chosen, then `scope.rename()` will need to be changed accordingly — i.e. if called on function-param scope, also look into the block scope for same-named local var and rename that as well; if called on block scope, also rename same-named param in parent scope.

---

How would option 2. work? Wouldn't `scope.rename` need to be changed anyway, to rename both the param and var?

[2021-12-10 12:59] overlookmotel commented on #14023
I don't *think* it would need to rename both function name and var. It'd behave same as if there's another var in upper scope with same name. This:

[code]

would be treated the same as this:

[code]

In latter example, renaming `x` inside the function would not rename the `const x` outside the function too (from what little I understand of scope renaming anyway).

[2021-12-10 13:28] lightmare commented on #14023
@overlookmotel you're right. I was misreading the function/class ***expression id*** part. Now it makes sense, renaming the id won't touch params, nor local vars.

NB: that last example does not actually illustrate the issue, because function declaration binds `someOtherName` in outer scope. Function expression is different, there the name is bound inside:
[code]

[2021-12-10 15:34] overlookmotel commented on #14023
@lightmare OK great. Glad I'm not missing something. And yes you're right - it's only function expressions which are the problem, not function declarations. My example was not illustrative.

NB Class declarations I think *are* affected though, as the class ID referenced *within the class* is a local binding, separate from the binding outside the class (which is not a const).

@JLHwung Can you comm

[2021-12-10 15:59] XQY279 commented on #13362
I had the same problem

[2021-12-10 20:27] jinsheng323 opened #14042 "[Bug]: after installing @polkadot/api package, I got this error and can't open my expo app. "Conversion from 'BigInt' to 'number' is not allowed.""
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

TypeError: Conversion from 'BigInt' to 'number' is not allowed.
at node_modules/react-native/Libraries/Core/ExceptionsManager.js:104:6 in reportException
at node_modules/react-native/Libraries/Core/ExceptionsManager.js:171:19 in handleException
at node_modules/react-native/Libraries/Core/setUpE

[2021-12-10 20:29] #14042 closed

[2021-12-10 20:44] #2025 closed

[2021-12-10 23:54] lightmare commented on #14034
Thanks for the link to possible solution, the explanation given there was very helpful.

I am partially responsible for this — as in, I wrote the PR #13843 that uses non-object `this`, which inadvertently plays into a bug in esbuild. I cloned your repro. repo and it produces this code:
[code]
The `builder` function has to be strict mode, because `this` is supposed to be a string primitive. But the

[2021-12-11 01:09] nicolo-ribaudo commented on #14034
Closing since this is an esbuild bug (which injects `init_shims` in the wrong place).

[2021-12-11 01:09] #14034 closed

[2021-12-11 10:13] jrj2211 opened #14043 "[Bug]: Cannot read properties of null failing with optional chaining?"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

[code]

### Configuration file name

_No response_

### Configuration

I don't have a babelrc file but I do have an eslintrc file:

[code]

### Current and expected behavior

Current behavior is that I'm getting the error:

[code]

I read on an old issue from babel-eslint that this ha

[2021-12-11 10:17] jrj2211 commented on #14043
Nevermind, I just noticed that I have both babel-eslint and @babel/eslint-parser installed and was using the wrong one. Switching to the new package now works.

[2021-12-11 10:17] #14043 closed

[2021-12-12 16:13] thorn0 opened #14045 "[Bug]: broken ASI between variable and `!` in TS"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Current: syntax error

Expected: no syntax error

### Environment

[Playground](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20

[2021-12-13 06:48] YuFengDing opened #14046 "[Bug]: the classProperty function in babel/types can not create classProperty with tSNonNullExpression"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

**
import * as t from "@babel/types"
import generate from "@babel/generator"

const classProperties = t.classProperty(
            t.tSNonNullExpression(
                t.identifier('test')
            ),
            null,
            t.tsTypeAnnotation

[2021-12-13 09:21] lightmare commented on #14046
Property key can only be expression for computed properties, so you need to pass `true` in the 5th argument.

Babel could, however, give a more useful error message in this case. It took me a while of digging into validators to figure out what's going on. Although it's kinda obvious in hindsight, the type declaration alone doesn't explain this interaction.

https://github.com/babel/babel/blob/dfcf

[2021-12-13 14:25] agileago commented on #12040
keep in mind. is there a way to keep consist with typescript `useDefineForClassFields: false` behavior ?

[2021-12-13 17:29] #13990 closed

[2021-12-13 19:10] JLHwung commented on #14046
If you intend to create AST for

[code]

the `test!` here is _not_ an TSNonNullExpression. Instead it is a definite class property, which can be created by assigning `definite: boolean`:

[code]

[2021-12-13 19:18] nicolo-ribaudo commented on #14046
Or, if you prefer,
[code]

Builders for JS nodes don't have explicit params for Flow and TS features, so you have to manually set them.

[2021-12-14 00:12] #14046 closed

[2021-12-14 01:04] JLHwung commented on #14023
@overlookmotel I think although the second approach could be a non-breaking approach. Let's say we add `functionBodyBindings` to a function scope and create i.e. `renameOnlyFunctionBodyBindings` for `scope.rename` and other related methods. It complicates the API design as in this case we are merging two scope: function scope and body scope and the second approach introduces API variant for these

[2021-12-14 02:52] joriewong opened #14051 "[Bug]: @babel/cli `--copy-files` `--ignore **/**` can not work at the same time"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

current: `src/.umi` would be copied.
expected: ignored

### Environment

- @babel/cli@7.16.0
- node@v16.10.0
- npm@7.24.0
- macOS@12.0.1
- Monorepo: no

### Possible solution

[2021-12-14 03:28] dhiraj05 opened #14053 "[Bug]: not able to install babel-helper-create-class-features-plugin^7.16.5"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Not able to install "babel-helper-create-class-features-plugin" through npm, as it says version 7.16.5 not found, while the parent module "plugin-p

[2021-12-14 03:34] JLHwung commented on #14053
The package of version 7.16.5 is published. https://www.npmjs.com/package/@babel/helper-create-class-features-plugin

Please see https://gist.github.com/hzoo/df94af2d2ec48696e683b772c775aa67.

[2021-12-14 03:34] #14053 closed

[2021-12-14 03:52] dhiraj05 commented on #14053
ok, I am able to install.

[2021-12-14 10:26] nicolo-ribaudo commented on #13847
Fixed by https://github.com/jviereck/regjsparser/pull/115

[2021-12-14 10:26] #13847 closed

[2021-12-14 14:36] fisker opened #14054 "[Bug]: Unexpected error thrown when parsing broken template literal"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

[code]

### Environment

- Babel `v7.16.5`

### Possible solution

_No response_

### Additional context

This only happens, when `{t

[2021-12-14 22:54] #14054 closed

[2021-12-15 04:30] diy4869 commented on #14027
repo address： https://github.com/diy4869/otaku-ui

##: test
-yarn install
- cd packages/site
- npm run demo-test
- demoPath: packages/site/webpack/loader/md-loader.js

or
- yarn install
- cd packages/site
- npm run dev
- address: http://localhost:8080/#/grid

[2021-12-15 09:57] The-x-Theorist commented on #13888
I'd like to work on this issue?

[2021-12-15 13:46] romainmenke opened #14056 "[Bug]: subclassing seems broken in older Chrome"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

https://github.com/mrhenry/web-tests/blob/main/webpack-core-web.config.js#L166-L217

[code]

### Current and expected behavior

Current :

`Uncaught TypeError: Cannot call a class as a function`

In `function _cl

[2021-12-15 14:00] nicolo-ribaudo commented on #14056
It might be caused by https://github.com/babel/babel/pull/12115

[2021-12-15 14:25] nicolo-ribaudo commented on #14056
@romainmenke If you have access to older Chrome versions (otherwise I have to figure out how to install them), could you test if this code works?
[code]

I have modified Babel's output for your test replacing
[code]
with
[code]
in the `_createClass` function.

[2021-12-15 14:32] romainmenke commented on #14056
`Uncaught TypeError: Cannot redefine property: prototype`

My change based on your comment :

https://github.com/mrhenry/web-tests/pull/260/files

[2021-12-15 15:57] The-x-Theorist commented on #13888
If we rename the variables in hoisting operation, `babel-plugin-proposal-do-expressions/test/fixtures/do-expressions/variable-declaration-start-to-iife/exec.js: bar is not defined` this test throws error.

[2021-12-15 17:05] yedidyak commented on #14056
This error started to happen to several projects we have after 7.16.5 was released. It happens in Jest tests using preset'module:metro-react-native-babel-preset'. I can try and make a reproducing code sample if needed. It always fails on the constructor of an extended class.

[2021-12-15 17:20] nicolo-ribaudo commented on #14056
@yedidyak Does it fail with any exdended class, or just with classes extending native DOM classes (like `HTMLElement`)? Also, can you reproduce it in modern engines or just in old Chrome versions like in the OP?

(I still have to figure out how to download Chrome 36 :sweat_smile:)

[2021-12-15 17:26] yedidyak commented on #14056
@nicolo-ribaudo This is a React Native project, so it's not in chrome or with HTMLElement type classes. In at least one case it's a plain JS class that's extending another plain JS class.

We're running this in Jest with node 12.22.1.

[2021-12-15 17:36] yedidyak commented on #14056
Thanks!

I'll try and get a full example, but a quick extract from one part that fails:

State.js (transpiled from TS)
[code]

other file:
[code]

Fails on that indicated line, from `_classCallCheck (node_modules/@babel/runtime/helpers/classCallCheck.js:3:11)`

[2021-12-15 18:07] lightmare commented on #13888
Can you keep the name for `var` declarations, and only rename `const/let` ?

[2021-12-15 19:43] JLHwung commented on #14027
The error is thrown in

https://github.com/diy4869/otaku-ui/blob/08d6f951a9cef0f32a24f442b1f8716fc517e2c3/packages/site/webpack/loader/md-loader.js#L113-L128

The `preset-typescript` and `preset-jsx` is not activated because the passed `filename` ends with `.js`. In most Babel use cases,  the input source are read from a file system so it makes sense to skip unwanted transform for vanilla js files

[2021-12-16 03:48] diy4869 commented on #14027
This code is just an example I use for testing
[code]

This is the corresponding configuration file

[2021-12-16 08:27] The-x-Theorist commented on #14038
@nicolo-ribaudo how can we delete the `$schema` property?

[2021-12-16 09:51] nicolo-ribaudo commented on #14038
We can do it in the function which loads JSON files: https://github.com/babel/babel/blob/7178fbb0085bff96945e88f0a35ab492288532c2/packages/babel-core/src/config/files/configuration.ts#L258

[2021-12-16 09:53] The-x-Theorist commented on #14038
I'd like to work on this issue, can this issue be assigned to me?

[2021-12-16 10:22] nicolo-ribaudo commented on #14038
I just noticed that @arthurfiorette checked "Would you like to work on a fix?" in the issue description; lets give him two days to confirm if he wants to :pray:

[2021-12-16 11:24] alexander-schranz opened #14059 "[Bug]: Strange error on latest"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

The setup is a little bit complexer where I can reproduce it.
Simpliest way is by doing:

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

Currenlty the build errors with:

[code]

The build should not error

### Env

[2021-12-16 12:08] nicolo-ribaudo commented on #14059
This is not actually caused by Babel, but the recent Safari 15.x releases which changed the meaning of "the last 2 browser versions".

Your browserslistrc file is this one:
[code]

which resolves to these targets and plugins:
[code]

As you can see, it doesn't include the class fields transform because it's supported by all the browsers you are targeting. You have a few options:
- change your brow

[2021-12-16 12:16] alexander-schranz commented on #14059
@nicolo-ribaudo Thank you very much. This did help us a lot. We also did target it down at the same time as you posted to the new `caniuse-lite` version. And as you mention we are still using `webpack 4` and `webpack 4`and the old webpack terser parser does not yet support this syntax. We will go with the `@babel/plugin-proposal-class-fields` at current state. Really thank you for the detail repor

[2021-12-16 12:19] alexander-schranz commented on #14059
A question how did you get to the output of you did post with the used plugins?

[2021-12-16 12:22] nicolo-ribaudo commented on #14059
You can add `"debug": true` to the `preset-env` options 🙂

[2021-12-16 12:25] alexander-schranz commented on #14059
@nicolo-ribaudo Thank you! I think we can then close the issue as it has not directly todo with babel.

[2021-12-16 12:25] #14059 closed

[2021-12-16 12:52] arthurfiorette commented on #14038
Hey!

Sorry, but this week is being tough. If no one start this, next week i'll work on it

[2021-12-16 20:50] #14045 closed

[2021-12-17 03:55] strager opened #14060 "[Bug]: JSX: <\u{48}ello /> parse error"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]
https://babeljs.io/repl/#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABAWQJ4GE4FsAOCCmYUAFAJSIDeAUIogE75Qh1IA8AOiBQCwAcAvvgA2QuIgD0APgDcVfkA&debug=false&forceAllTrans

[2021-12-17 08:09] The-x-Theorist commented on #14038
@arthurfiorette I will start working on this.

[2021-12-17 08:44] The-x-Theorist commented on #14038
@nicolo-ribaudo where can we write test for the this?

[2021-12-17 13:31] nicolo-ribaudo commented on #14038
Somewhere in https://github.com/babel/babel/blob/main/packages/babel-core/test/config-chain.js, with a fixture in https://github.com/babel/babel/tree/main/packages/babel-core/test/fixtures/config/config-files

[2021-12-17 21:33] JLHwung commented on #14060
[TypeScript supports it](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgIilQ3wG4AoTAVwDsNgIa4AdKgFiQAZOAKASjgBvOERhUoTADwALAIwA+SQHo58uAF9yk1h26KlOrp3lA), I think we should follow.

[2021-12-18 22:32] arthurfiorette commented on #14038
Have you made any progress? I think I can help you now.

[2021-12-19 18:28] gajus opened #14064 "[Bug]: Destructuring of sparse arrays yields null token"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/eslint-parser

### Input code

[code]

### Configuration file name

_No response_

### Configuration

N/A

### Current and expected behavior

This will yield elements AST:

[code]

The problem is that `null` cannot be used with ESLint sourcecode utility, e.g.

https://github.com/gajus/eslint-plugin-canonical/commit

[2021-12-19 18:58] nicolo-ribaudo commented on #14064
Babel matches the ESLint AST shape: https://astexplorer.net/#/gist/b7f638ecd898b097bd96bd6586ffbe7c/latest

[2021-12-19 19:16] gajus commented on #14064
Correct, however, that does not help.

[2021-12-19 20:50] nicolo-ribaudo commented on #14064
We need to match exactly the ESLint AST, so that ESLint plugins keep working when using `@babel/eslint-parser`. The ESLint AST is based on the [ESTree specification](https://github.com/estree/estree), which cannot have breaking changes: this will be `null` forever (except if ESLint stops follwing ESTree, then we'll match whatever ESLint does).

I suggest opening an issue in the ESLint repository a

[2021-12-19 20:50] #14064 closed

[2021-12-19 20:55] nicolo-ribaudo commented on #14064
Btw, you _can_ locate the tokens! In `const [a,,b] = obj;`, the first comma is the first token after `a` (after `[0].range[1]` in the AST you posted), and the second comma is the last token before `b` (before `[2].range[0]`).

[2021-12-20 07:05] The-x-Theorist commented on #14038
@arthurfiorette Thank you, But I have found a solution to fix the issue that might work, opening a PR soon.

[2021-12-20 08:21] romainmenke commented on #14056
@yedidyak Any updates on the example?
Just want to avoid that this issue remains open too long :)

I also just tried recreate in node based on your example and could not reproduce there.

--------

@nicolo-ribaudo Maybe you can request access on a service like browserstack?
They always have free tiers for open source projects.

[2021-12-20 10:51] yedidyak commented on #14056
@nicolo-ribaudo @romainmenke

Hi! I eventually managed to work out that it's coming in projects of ours that override `Object.defineProperty` with a custom implementation that failed when trying to redefine `prototype`, then swallowed the error 😱

I hope that's helpful in working out where it fails for you.

[2021-12-20 11:45] romainmenke commented on #14056
Added a minimal test for class inheritance with non-html classes :

https://github.com/mrhenry/web-tests/blob/main/specifications/tc39/ecma262/15.7.Class-Definitions.ClassHeritage/test.pure.js

Can't copy paste stacktraces from browserstack but recreated manually :

- `_classCallCheck` https://github.com/mrhenry/web-tests/blob/main/specifications/tc39/ecma262/15.7.Class-Definitions.ClassHeritage/t

[2021-12-20 13:07] nicolo-ribaudo commented on #14056
Thanks! I figured out how to test old chrome, I'll work on this later today.

[2021-12-20 16:51] romainmenke commented on #14056
Note :

Also fails in IE8, but I don't have a history of tests for subclasses for non-html elements. (webcomponents never worked in IE8)

<img width="1017" alt="Screenshot 2021-12-20 at 17 48 38" src="https://user-images.githubusercontent.com/11521496/146802878-9e0001b7-87c5-4ab2-b6b7-6c90f1a964fe.png">

Will report back after a fix has shipped with IE8 status.

[2021-12-20 21:03] #13983 closed

[2021-12-21 06:14] The-x-Theorist commented on #13888
Yeah, I can do that.

[2021-12-21 06:17] xukaijie111 opened #14068 "[Bug]: @babel/traverse scope set the binding references"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

_No response_

### Current and expected behavior

when use babel/traverse the code ast .the scope has binding 'a',but bind.references is 0。the variable when is only readed is not re

[2021-12-21 06:47] firstChairCoder commented on #13926
Could simply changing the last line to export default App solve your issue. I see "defualt" in the input code.
The other suggestions had it working on my end after adding this line.

[2021-12-21 12:59] naugtur opened #14071 "[Bug]: using babel.config.js with cache.forever() still has significant performance impact due to expensive cache invalidation check"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

any project reproduces it

### Configuration file name

babel.config.js

### Configuration

any configuration

### Current and expected behavior

babel.config.js with api.cache(true) or api.cache.forever() is using the cache set in config/files/utils

Cache invalidation check here:

[2021-12-21 16:40] nicolo-ribaudo commented on #14056
The problem is that in older chrome versions the prototype of functions cannot be change when making it non-writable at the same time, so `Object.defineProperty` fails. I testes it in Chrome 33:
[code]

However, this works:
[code]

[2021-12-21 16:45] nicolo-ribaudo commented on #14056
@romainmenke Could you test if replacing the `_inherits` function with this one works?
[code]

[2021-12-21 16:50] romainmenke commented on #14056
That works!
Do you want me to try a full run of all browsers with this change to make sure?

[2021-12-21 16:50] nicolo-ribaudo commented on #14056
Yes please! I'm preparing a PR while you test it.

[2021-12-21 16:52] nicolo-ribaudo commented on #14056
This is probably caused by https://bugs.chromium.org/p/v8/issues/detail?id=3334

cc @zloirock / @ljharb You might want to polyfill it in `core-js` and `es5-shim`, splitting `Object.defineProperty(_0, "prototype", { value: _1, writable: false })` into
[code]

[2021-12-21 16:55] romainmenke commented on #14056
Running now with these changes : https://github.com/mrhenry/web-tests/pull/263/files

_this will take a while_

[2021-12-21 17:24] romainmenke commented on #14056
[code]

Looks promising, haven't spotted negative delta's (no new failures)

[2021-12-21 17:47] ljharb commented on #14056
@nicolo-ribaudo es5-shim doesn't do any defineProperty calls that have a key of "prototype" anywhere I can find. Are you suggesting patching `Object.defineProperty` itself?

[2021-12-21 17:53] nicolo-ribaudo commented on #14056
Yes, since `Object.defineProperty` is an ES5 feature.

[2021-12-21 18:15] zloirock commented on #14056
@nicolo-ribaudo it's not the only such issue. This is not a proper fix of this since it will break some other cases. I'll check what can be done.

[2021-12-21 18:19] nicolo-ribaudo commented on #14068
If I recall correctly, we track reads in `references` and writes in `constantViolations`.

[2021-12-21 18:24] ljharb commented on #14056
If the fix is only applied when the key is "prototype" and the descriptor contains both writable and value, what cases will it break?

[2021-12-21 18:35] zloirock commented on #14056
@ljharb are you sure that the current descriptor is writable and you will be able properly check it (for example https://bugs.chromium.org/p/v8/issues/detail?id=1570)?

[2021-12-21 18:39] ljharb commented on #14056
@zloirock so far in chrome 15-36, at least, `f.prototype` and `Object.getOwnPropertyDescriptor(f, 'prototype').value` are the same. That bug seems to be apply to an older version of Chrome, which I'm unable to test.

[2021-12-21 18:44] ljharb commented on #14056
@nicolo-ribaudo the fix is in es5-shim v4.6.3.

[2021-12-21 18:49] zloirock commented on #14056
@ljharb try with this polyfill, for example this:
[code]

[2021-12-21 18:54] ljharb commented on #14056
Are you trying to demonstrate that the problem isn't just about the value, it's that defineProperty won't make it non-writable if there's any other property in the descriptor?

[2021-12-21 18:55] zloirock commented on #14056
I'm trying to demonstrate that attempting to write non-writable property in the strict mode throws an error.

[2021-12-21 21:35] JLHwung commented on #14068
Good catch. I agree with OP. The LHS `a` in `a = 1` should be a referenced path, too.

Note that in the spec `a` is an IdentifierRefernece descended from [AssignmentPattern](https://tc39.es/ecma262/#prod-AssignmentPattern). If I read correctly, if an Identifier is [referenced](https://github.com/babel/babel/blob/main/packages/babel-types/src/validators/isReferenced.ts) in Babel's sense, it will be

[2021-12-21 22:20] ljharb commented on #14056
Thanks, I see the problem. Fixed in v4.6.4.

[2021-12-21 22:25] romainmenke commented on #14056
@JakeChampion can you tell if action is needed in the polyfill-library for this?

[2021-12-22 12:14] Blackgan3 opened #14073 "[Bug]: @babel/traverse@7.16.5 path.stop don't work when use push/unshiftContainer"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

### current behavior
unshiftContainer method response Array<path>

It doesn't work when I use path.stop()

the top demo code returns：
[code]

### expected behavior

[2021-12-23 06:46] The-x-Theorist commented on #13965
From where can we start working on this issue?

[2021-12-23 08:20] The-x-Theorist commented on #13665
I'd like to work on this issue?

[2021-12-25 07:08] xukaijie111 opened #14076 "[Bug]: _defineProperty binding references"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

none

### Current and expected behavior

when I use:
 babel.transformSync(code, {
    plugins: [['@babel/plugin-proposal-decorators', { legacy: true }], ['@babel/plugin-proposal-class

[2021-12-26 11:21] Crameriver commented on #13920
Hello i've been experiencing the exact same issue trying to do the same thing (porting react-native elements to react-native-web), my set up is also extremely similar,  did you @Safnaj or somebody else found a fix for this ?

[2021-12-26 12:42] Safnaj commented on #13920
Not yet !!

[2021-12-26 16:02] jraoult commented on #13778
Just wanted to mention that this is probably the root cause of https://github.com/vitejs/vite/issues/3883 if anyone is looking for it.

[2021-12-26 16:14] nicolo-ribaudo commented on #13920
A repository that I can use to reproduce the issue will help understanding what's going on!

[2021-12-26 19:26] Safnaj commented on #13920
in my case its our company project. I am unable to share due to the policies. If @Crameriver don't have any restrictions he can share.

[2021-12-27 19:26] aleder1 opened #14078 "[Bug]: export-namespace-from not stopping build error"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

The following code is throwing an error when using Babel.  The code is from [project-serum's anchor repo](https://github.com/project-serum/anchor). It is in the node_modules folder of my project.
[code]

### Configuration file name

babel.config.json

### Configuration

babel.config

[2021-12-27 20:12] nicolo-ribaudo commented on #14078
Your webpack config only enables Babel in TS files outside from `node_modules`, so that file is not compiled.

[2021-12-27 20:23] aleder1 commented on #14078
I've removed the exclude statement from my config as follows:

[code]

Unfortunately, it's still throwing the same error as mentioned above.

[2021-12-27 20:31] nicolo-ribaudo commented on #14078
Use `test: /\.[jt]sx?$/,`; the file that is giving the error is not TS.

[2021-12-27 20:49] aleder1 commented on #14078
Thanks, that helped fix the issue.

[2021-12-27 21:00] #14078 closed

[2021-12-27 23:22] aleder1 commented on #14078
Hey so unfortunately the solution has created its own issues with the inclusion of other file types and node_modules.

Is there a way to only include this module for bundling? or some other solution to avoid the original issue?

[2021-12-28 00:08] nicolo-ribaudo commented on #14078
You can try something like
[code]

if it doesn't work I suggest asking in webpack's support channels, because this is all about webpack configuration and my knowledge about it is limited :sweat_smile:

[2021-12-28 18:08] mskelton opened #14082 "[Bug]: `@babel/parser` fails when loading options programatically"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

When parsing with the following code:

[code]

Babel will fail with the following error:

[code]

### Environment

## System:
 - OS: macOS

[2021-12-28 19:25] nicolo-ribaudo commented on #14082
This never worked. Maybe it didn't throw with your exact config, but it definitely didn't do what you expect.

`loadOptions()` returns an options objects to configure `@babel/core` (or packages that use `@babel/core` such us `babel-loader`); `@babel/parser` has a completely different set and options.

What you want is to use `parseSync` from `@babel/core`:

[code]

[2021-12-28 19:26] nicolo-ribaudo commented on #14082
Actually, we might throw/log an helpful message when passing `@babel/core` options to `@babel/parser`.

[2021-12-28 19:32] mskelton commented on #14082
Okay, so looking back I see that my repro was slightly incorrect. The stylelint bug is happening when importing `parse` and `loadOptions` from from `@babel/core` and yet it still fails.  Let me dig into it a bit more and see if I can get it reproducible again.

[2021-12-28 20:10] mskelton commented on #14082
Looking deeper into this, seems like it isn't a Babel issue.  Appreciate the help though!

[2021-12-28 20:10] #14082 closed

[2021-12-28 21:45] jnaklaas opened #14083 "[Bug]: babel not transpiling when importing css (webpack 5)"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

index.js

[code]

webpack.config.js

[code]

### Configuration file name

babel.config.json

### Configuration

{
  "presets": [
    [
      "@babel/preset-env",
    ]
  ]
}

### Current and expected behavior

When importing a (s)css file in `index.js`, the js doesn't transpile prop

[2021-12-28 21:50] overlookmotel commented on #13665
@The-x-Theorist I haven't had time to start on this, so yes, please feel free. That would be great.

[2021-12-28 22:22] JLHwung commented on #14083
What's the output if we disable `babel-loader`?

[2021-12-28 22:25] jnaklaas commented on #14083
```(()=>{"use strict";[1,2,3].map((s=>2*s))})();```

[2021-12-28 23:12] JLHwung commented on #14083
It seems to me the arrow function is generated by webpack. If your target does not support arrow function, consider set `output.environments` accordingly:

https://webpack.js.org/configuration/output/#outputenvironment

[2021-12-29 03:13] #14038 closed

[2021-12-29 07:22] heiseshandian opened #14085 "Allow to add "configurable: true" for re-exported members"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

Currently, for re-exported members, babel didn't add `configurable: true` props, which will cause us to write more code when mocking.

For example, there is a module named "moduleA".
[code]
After babel compilation, it will become:
[code]

As we can see, "foo" is not configurable after babel compilation

[2021-12-29 08:11] heiseshandian commented on #14085
Did some research in the repo, and I have discovered that `@babel/plugin-transform-modules-amd`, `@babel/plugin-transform-modules-commonjs`, `@babel/plugin-transform-modules-umd` depends on `@babel/helper-module-transforms` to transform modules, which contains some hard-code templates for transforming modules:
[code]

Maybe we can add an option to generate different templates(one with `configurabl

[2021-12-29 11:21] jnaklaas commented on #14083
Correct, thank you!

[2021-12-29 11:21] #14083 closed

[2021-12-29 14:43] JLHwung commented on #14085
The spec requires that a module namespace exotic object can't be extended, so `configurable` must be `false`: https://tc39.es/ecma262/#sec-module-namespace-exotic-objects-isextensible

If you prefer the loose `configurable: true` behaviour, you can enable the `constantReexports` assumption:

https://babeljs.io/docs/en/assumptions#constantreexports

[2021-12-29 16:40] Yokubjon-J commented on #14076
Inside `C:\Users\Lenovo\Desktop\Projects\babel-exploration\babel\packages\babel-core\test\fixtures\transformation` I created a dir `transformsync-class-with-constructor\input.js` I wrote the test case:
[code]
But I am getting an error: "Maximum call stack size exceeded".

[2021-12-30 03:27] heiseshandian commented on #14085
@JLHwung Thank you very much for your answer, I should read the documentation first. Sorry for wasting your time.

[2021-12-30 03:27] #14085 closed

[2021-12-30 22:58] #14056 closed

[2021-12-30 23:58] #13786 closed

[2021-12-31 01:59] cdaringe opened #14088 "[Bug]: present-env compiles optional-chaining when browserslist query set does not require it"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel cli

### Input code

[code]

output code:

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

# Current

transpiles optional chaining

# Expected

no transpilation

### Environment
  System:
    OS: macOS 11.6.1
  Binaries:
    Node: 16.6.2 - ~/.fnm/

[2021-12-31 02:05] cdaringe commented on #14088
- I've discovered that when [I remove `samsung` from the list](https://github.com/cdaringe/babel-preset-env-browserslist-optional-chaining-bug/commit/cd51cb9d3cd0d602eba68f66b0e2eb5088b993a4), it emits non-transpiled code.
- If you add ["samsung": "13.0"](https://caniuse.com/?search=optional%20chaining) to `@babel/compat-data/data/plugins.json`, it works per expectation

Is this correct behavior?

[2021-12-31 02:18] cdaringe commented on #14088
cc/ @HenrikJoreteg, because i know you care about optional-chaining expansion inefficiency! ;)

[2021-12-31 07:42] MohitSChauhan opened #14089 "[Bug]: '@babel/generator@7.16.4' is not in the npm registry. npm ERR! 404 You should bug the author to publish it (or use the name yourself!)"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

 '@babel/generator@7.16.4' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)

### Configuration file name

package.json

### Configuration

_No response_

### Current and expected behavior

Build is getting Fa

[2021-12-31 15:17] JLHwung commented on #14089
There is no `@babel/generator@7.16.4`: https://www.npmjs.com/package/@babel/generator

We only publish changed packages during each release. You can safely use `@babel/generator@7.16.0` if you are using `@babel/parser@7.16.4`.

[2021-12-31 15:30] JLHwung commented on #14088
The optional chaining kicks in because Samsung (V8) has a bug on transforming optional chaining: https://crbug.com/v8/11558

You can add `bugfixes: true` to the preset-env options to tell Babel: only transform optional chaining when the input code is actually affected by this bug. This will be enabled by default on Babel 8.

[2021-12-31 16:17] cdaringe commented on #14088
Thanks @JLHwung, I’ll try this out soon. Can you comment on the relevance of the JSON config files? What inputs go into the decision to transpile a browserslist aware or not?

[2021-12-31 16:30] JLHwung commented on #14088
Good question. preset-env [normalizes](https://github.com/babel/babel/blob/ddd93b9c61a197711c2e3eae8a8b175783ea6976/packages/babel-helper-compilation-targets/src/targets.ts#L5-L19) the browser name and then queries against the compat-data `plugins.json`. So in your cases

[code]

When `bugfixes` is `true`, the only difference is that we query against [`plugins-bugfixes.json`](https://github.com/ba

[2021-12-31 16:33] SukkaW opened #14090 "[Bug]: Babel "loose" mode produce wrong code with spread syntax"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

With `loose` enabled, Babel produces:

[code]

Obviously, something unintended happened.

### Environment

[Babel REPL](https://babeljs.io/repl#?br

[2021-12-31 16:37] nicolo-ribaudo commented on #14090
loose mode assumes that you are spreading an array. You can either stop using loose mode (and use the better and more granular [`assumptions`](https://babeljs.io/docs/en/assumptions) option), or you can convert your iterables to arrays:
[code]

[2021-12-31 16:59] romainmenke commented on #14056
@nicolo-ribaudo Thank you for getting this fixed and released!
Everything looks good on my end.

If there are features you want to test in browsers you can always add them in [web-tests](https://github.com/mrhenry/web-tests) (or via an issue)

[2021-12-31 17:17] nicolo-ribaudo commented on #14056
Awesome, thanks! :smile:

[2021-12-31 19:59] magic-akari opened #14092 "[Bug]: Enum member init expressions should qualify member name references in certain cases"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

with TypeScript default config

### Current and expected behavior

Babel output([REPL](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&buil

[2022-01-01 02:33] #14089 closed

[2022-01-01 02:47] heiseshandian commented on #14051
Hi @joriewong , the meaning of `--ignore` means "List of glob paths to **not** compile.", `--no-copy-ignored` means "Exclude ignored files when copying non-compilable files.".
So if you don’t want to copy the uncompiled code to the target directory you can use the following command:
[code]

Maybe the docs [@babel/cli](https://babeljs.io/docs/en/babel-cli#ignore-files) should be updated.

[2022-01-03 10:27] The-x-Theorist commented on #13665
Can this issue be assigned to me?

[2022-01-03 13:29] overlookmotel commented on #13665
@The-x-Theorist I don't see anyone else clamouring to work on it, and it may take the maintainers some time to get to your request to assign you (I imagine they're pretty busy). So, if I were you, I'd just get to work on it. Probably you'll have already completed your PR before they get around to assigning you!

[2022-01-03 15:58] Paolo-Oliverio opened #14095 "A way to process typescript without deleting types"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I want to use babel to add macros to typescript but still retain types that I need for further transpilation in lua script.

### Describe the solution you'd like

an option to disable type deletion

### Describe alternatives you've considered

look for a pass trough preset for babel, but it doesn't see

[2022-01-03 16:04] nicolo-ribaudo commented on #14095
You can use `@babel/plugin-syntax-typescript` rather than `@babel/preset-typescript`/`@babel/plugin-transform-typescript`.

All the `-syntax-` plugins enable parsing without transforming await their feature.

[2022-01-03 18:38] ozanhonamlioglu commented on #13778
If you don't work on this case, can I take this?

[2022-01-03 18:47] ozanhonamlioglu commented on #13702
@nicolo-ribaudo
If this bug is not maintained since September, can I take it? I want to solve it and it is gonna be my first issue.
Thanks

[2022-01-03 20:25] nicolo-ribaudo commented on #13778
Yes :+1:

[2022-01-04 01:50] Yokubjon-J commented on #13566
Hello! If this issue is still open, could you please assign me?

[2022-01-04 11:14] The-x-Theorist commented on #13665
@overlookmotel Okay, I will do the same I will open the PR.

[2022-01-04 13:06] nicolo-ribaudo commented on #13566
Oh actually, this was fixed by https://github.com/babel/babel/commit/23d4f8c5633ef4b347be38ae91dcd6ba78fd1d58. Sorry 😅

[2022-01-04 13:06] #13566 closed

[2022-01-04 18:43] Amarettini opened #14099 "[Bug]: path.stop() method not working on ReferencedIdentifier/AssignmentExpression nodes"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

https://github.com/Amarettini/babel-issue-stop-traversal is the repo for this issue.

https://github.com/Amarettini/babel-issue-stop-traversal/blob/master/index-short-short.js is the file that isolates the problem. Run it with `node ./index-short-short.j

[2022-01-04 19:32] MatthD opened #14100 "Missing structuredClone"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

Hello,

I am trying to use https://developer.mozilla.org/en-US/docs/Web/API/structuredClone api but it does not seems to exist in the current babel latest versions

### Describe the solution you'd like

Integrates the `StructuredClone` function

### Describe alternatives you've considered

I do not see

[2022-01-04 20:22] zloirock commented on #14100
It's available in the latest `core-js`. For availability in `preset-env` with the `usage` mode, its `babel-plugin-polyfill-corejs3` dependency should be updated.

[2022-01-05 07:07] ozanhonamlioglu commented on #13778
Hi @nicolo-ribaudo, I have a question

I am planning to put my test input into [babel-generator/test/fixtures/typescript/arrow-function-generic-tsx](https://github.com/babel/babel/blob/main/packages/babel-generator/test/fixtures/typescript/arrow-function-generic-tsx/input.js)
But looks like there is an error, because when I run the `yarn jest generator` it doesn't check the any input.js files insi

[2022-01-05 11:05] solutionprovider9174 commented on #5667
I tried like above @Domiii
But same speed for starting and for recompiling.

yarn run v1.22.15
$ react-static start
Starting Development Server...
Browserslist: caniuse-lite is outdated. Please run:
npx browserslist@latest --update-db

Why you should do it regularly:
https://github.com/browserslist/browserslist#browsers-data-updating
[@babel/register] Cache miss [FileModified] for "E:\Jincowboy\wo

[2022-01-05 12:01] nicolo-ribaudo commented on #13778
Do you have a branch or draft PR I could look at to see why it's not working?

[2022-01-05 12:33] ozanhonamlioglu commented on #13778
In that screenshot I actually didn't changed or added any files, I just run the jest generator directly, so i can't give you valuable branch name.
Additionally here is [my fork](https://github.com/ozanhonamlioglu/babel ), it has the same hash.

See, nothing is changed.
If you can correct that currently it works on your machine, I can remove and install it again. Maybe something caused issue on my

[2022-01-05 15:09] Domiii commented on #5667
@solutionprovider9174

As you can see from that verbose message, it found that the file was cached but the original was modified, which requires parsing it again. Caches only provide performance benefits if files are not changed between two consecutive executions.

[2022-01-05 17:21] eahenke opened #14104 "[Bug]: @babel/register@7.16.7 mutates options argument object"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

[code]

### Configuration file name

_No response_

### Configuration

Config should not be relevant to this issue.

### Current and expected behavior

As of @babel/register@7.16.7, the `options` object provided to `register` is mutated, deleting the `extensions` property.

[2022-01-05 17:28] JLHwung commented on #14099
A minimal test case without virtual types:
[code]

When a node is stopped, it seems to me that the parent is not stopped accordingly, so the parent siblings keeps being visited.

[2022-01-05 19:17] ozanhonamlioglu commented on #13778
@nicolo-ribaudo I think there is a problem.

When I run `yarn jest generator` it wasn't running any of fixture tests. and also it was throwing this.
![Screen Shot 2022-01-05 at 21 59 29](https://user-images.githubusercontent.com/47304816/148273661-6450d001-d184-4346-b03e-3b30d0b099a5.png)

Then I removed every entry that has a test with t.stringLiteral inside babel-generator/test/index.js
![Screen

[2022-01-05 19:20] nicolo-ribaudo commented on #13778
Did you run `make bootstrap` before running the tests? Are you working on an outdated fork/branch? 🤔

[2022-01-05 19:28] ozanhonamlioglu commented on #13778
This is my head hash ddd93b9c61a197711c2e3eae8a8b175783ea6976 which is the current.

And yes I exactly did the steps you specified in here
[code]
I am actually able to generate output.js files but the only way to generate them is to remove everything `inside babel-generator/test/index.js` except line 816 `suites.forEach(function (testSuite) {...`

Are you able to run `yarn jest generator` without

[2022-01-06 01:43] solutionprovider9174 commented on #5667
I know that.
But it take 50seconds more for yarn starting and it take 32.8seconds for some space deleting and saving like the following.
[code]
How can i fix this issue?
I hope you give me clear way if possible. thank you.

[2022-01-06 15:43] nicolo-ribaudo commented on #13778
Yes, `yarn jest generator` works without problems on my machine :thinking:

[2022-01-06 15:47] #14092 closed

[2022-01-06 15:56] ozanhonamlioglu commented on #13778
Okay, never mind then, probably it is related to my env.
I actually started to dig in already, and it is going well and will update you soon I hope.
Thanks

[2022-01-06 16:34] The-x-Theorist commented on #13112
I'd like to work on this issue?

[2022-01-06 17:37] #13665 closed

[2022-01-06 17:37] #14104 closed

[2022-01-06 17:38] #14099 closed

[2022-01-06 18:02] nicolo-ribaudo commented on #14100
Updated in https://github.com/babel/babel/pull/14108, it will be released in the next version.

If you want to use it now, I suggest using the `core-js` integration from github.com/babel/babel-polyfills/ directly.

[2022-01-06 18:02] #14100 closed

[2022-01-06 18:02] #14095 closed

[2022-01-06 18:02] #14090 closed

[2022-01-06 18:04] nicolo-ribaudo commented on #14088
Closing since the question has been answered. If this needs to be reopened just leave a comment!

[2022-01-06 18:04] #14088 closed

[2022-01-07 03:50] Maxim-Mazurok opened #14111 "[Bug]: babel-plugin-transform-for-of doesn't work with jQuery arrays in IE 11"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

Currently, when using for..of with jQuery arrays in IE11, I'm getting "Invalid attempt to iterate non-iterable instance":
![image](https://user-images.githubus

[2022-01-07 03:51] Maxim-Mazurok commented on #14111
Solution: add this to the babel config:

[code]

[2022-01-07 03:51] #14111 closed

[2022-01-07 04:33] JLHwung commented on #14111
Using `assumptions` is better. You don't have to install `transform-for-of`.

[code]

See https://babeljs.io/docs/en/assumptions#arraylikeisiterable

[2022-01-07 09:58] NeilFraser opened #14112 "[Bug]: Rogue 'let' statements in Babel package breaks ES5 support"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

<script src="https://unpkg.com/@babel/standalone@7.16.4/babel.min.js"></script>

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Browsers which don't support ES6 (e.g. Gecko/20100101 Firefox/43.0) throw

[2022-01-07 11:49] ozanhonamlioglu commented on #13778
Hey @nicolo-ribaudo
I just opened a PR for the issue, and I want to ask one thing. I added a new test code inside an existing input file, because the naming of the parent folder was so right to me. Is that okay? or shall I create another folder and insert my code into it?

Thanks

[2022-01-07 15:02] JLHwung commented on #14112
The `let` statements are injected rollup commonjs helpers. https://github.com/rollup/plugins/blob/c954336dad283b17ba4fd958e3f7bb57b46e08dc/packages/commonjs/src/helpers.js

[2022-01-07 15:22] cburton-godaddy opened #14114 "[Bug]: Mocha + Babel does not work with @babel/preset-flow"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

https://github.com/cburton-godaddy/babel-mocha-test

Run `yarn` then `DEBUG=* yarn mocha index.test.js`

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

Expected: Should parse the flow code correctly and run the t

[2022-01-07 15:25] nicolo-ribaudo commented on #14114
That page suggests using a `.mocharc.yaml` file but I don't see it in your repo :thinking:

[2022-01-07 15:27] cburton-godaddy commented on #14114
@nicolo-ribaudo  My bad, was a hidden file so didn't upload. It's there now.

[2022-01-07 17:06] dherbolt opened #14115 "[Bug]: Set is not transformed into array in loose mode"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

current
[code]

expected:
[code]

### Environment

- Babel 7.16
- browserlist config: >0.2%, not dead, not op_mini all

### Possible solution

_No response_

### Additional c

[2022-01-07 17:47] nicolo-ribaudo commented on #14115
Please see https://github.com/babel/babel/issues/14090#issuecomment-1003414511.

[2022-01-07 17:47] #14115 closed

[2022-01-07 17:49] existentialism commented on #14114
IIRC this has to do with ESM?

From:
https://babeljs.io/docs/en/babel-register

[2022-01-07 19:38] cburton-godaddy commented on #14114
Makes sense, thank you. I will have a look monday how we were doing this before as we have been using Mocha with Flow in Mocha 6 and recently upgraded to Mocha 7 and experienced this issue.

[2022-01-07 22:52] use opened #14116 "[Bug]: preset-env with "debug: true" lists every target rather than the one which caused the polyfill"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

### Current behavior (started in 7.13.0):
preset-env with "debug: true" lists every target next to every applied polyfill, rather than only the target which caused the polyfill.

[2022-01-08 01:49] gaollard opened #14117 "@babel/template suport typescript token"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

it is too much to build complex InterfaceDeclaration node use @babel/types interfaceDeclaration, it need to do recursive.

### Describe the solution you'd like

use template to create InterfaceDeclaration Node:

[code]

### Describe alternatives you've considered

noop

### Documentation, Adoption, Mig

[2022-01-08 01:58] JLHwung commented on #14117
You can pass extra parser options to the `template.statement` API.

[code]

[2022-01-08 07:05] ozanhonamlioglu commented on #13778
Anyway, I just separated my test codes, after a while reviewing test folders, it seems using separated folder for this case is fine.

[2022-01-08 08:41] gaollard commented on #14117
wow, appreciate it!

[2022-01-08 08:41] #14117 closed

[2022-01-08 14:48] nicolo-ribaudo commented on #14073
You have to call `path.stop()` and not `item.stop()` (i.e. you have to call it on the path of the current visitor).

[2022-01-08 15:55] magic-akari opened #14121 "[Bug]: Babel generate redundant code and does not respect `assumptions.ignoreFunctionLength`"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[REPL](https://babeljs.io/repl#?browsers=chrome%2054&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYexAoEMGcE8DsDGACcBKZBeAfMg3gL5oDcyA9GciANYA0y8IyA7gE6QAOHApqwFCgIMBCmABXJABcAliHioMhEuUo16jFuy68BYKHCTJxU2fPAAPRUVIUqdFtMkALTZx79B-kUYm

[2022-01-08 17:15] JLHwung commented on #14112
This issue is currently only blocked by two upstream Rollup issues:

https://github.com/rollup/plugins/pull/1082
https://github.com/rollup/plugins/issues/1085

[2022-01-08 18:17] tolmasky opened #14123 "[Bug]: Some SyntaxErrors still ignore startLine option."
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

N/A

### Current and expected behavior

Following up from https://github.com/babel/babel/issues/9015, it appears only some of the SyntaxErrors were fixed to take into account he `star

[2022-01-08 18:54] tolmasky commented on #14123
It would appear that the problem is that `getLineInfo` (see below): always starts counting from 1. If you pass in `startLine`, then I think the line number issues are fixed:

https://github.com/babel/babel/blob/94af0e5c629b63fa11512b2ea8a8ac81d11a9db5/packages/babel-parser/src/util/location.js#L43

I changed it to the following locally, and I think I'm getting the right line numbers now:

[code]

[2022-01-08 20:01] #14121 closed

[2022-01-09 12:16] intrnl opened #14126 "parseExpressionAt"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I'm working on a templating language that allows direct usage of JS expressions within the interpolation.

Due to this, I have no concrete way of knowing when the expression ends, I'd have to check resulting JS AST to see where it ended (`node.end` + counting the parenthesis).

### Describe the solutio

[2022-01-10 01:29] Maxim-Mazurok commented on #14111
Thank you, it works and is better indeed!

I didn't have to install it with my original solution either. It's not listed in `package.json`, only in `package-lock.json` as a dependency of `@babel/preset-env`

[2022-01-10 02:45] tolmasky commented on #14126
If you want a better solution in the immediate, just do:

[code]

You'll want to make it a little more rigorous by making sure e.pos actually is a closing brace for example, etc.

Here is a working example: https://runkit.com/tolmasky/parse-expression-at-babel-14126

[2022-01-10 03:03] intrnl commented on #14126
Interesting, I suppose that might also work. Should I close this issue or is this still worth for consideration?

[2022-01-10 03:16] joriewong commented on #14051
@heiseshandian it's not working.

[2022-01-10 04:45] heiseshandian commented on #14051
Hi, @joriewong, did you delete the previously generated es directory?
![image](https://user-images.githubusercontent.com/7780463/148719349-6cbec77e-ad5e-4679-abf8-d694df9f67ca.png)

[2022-01-10 06:28] codebling opened #14128 "[Bug]: Filename does not appear in SyntaxErrors when using Node < 16.9.0"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

https://github.com/codebling/babel-issue-example contains a minimal reproducible example, along with instructions and expected and actual results. Key points of the README are copied here:

[code]

### Configuration file name

package.json

### Configuration

_No response_

### Current and expe

[2022-01-10 11:42] cburton-godaddy commented on #14114
The issue seems to be with `@babel/preset-flow` not doing what I expect. The ES Modules were being transpiled correctly by Babel, but it would then fail at `@babel/preset-flow`.

I got around this by running `flow-remove-types` and ran my tests on the output, that was sufficient.

Thanks.

[2022-01-10 11:42] #14114 closed

[2022-01-10 14:37] #13778 closed

[2022-01-10 14:51] nicolo-ribaudo commented on #14123
Thanks for investigating! I agree: we should simplify location tracking, but for now the "quick fix" is enough.

[2022-01-10 16:35] #9231 closed

[2022-01-10 21:24] MatheusBueno782 commented on #12654
I have the same feeling about it @Enteleform, by not reflecting the proposal's function signature of the decorator, we potentially increase the amount of refactoring when the spec get approved. There is a specific reason for deviating from the proposal on this specific matter?

[2022-01-10 21:27] JLHwung commented on #12654
Implementation of the 2021-12 decorator proposal is tracked in #14004.

[2022-01-10 21:27] nicolo-ribaudo commented on #12654
We are working on it on https://github.com/babel/babel/pull/14004: our implementation will match the current Stage 2 proposal in the next minor.

[2022-01-10 23:00] JLHwung commented on #14128
This issue only affects `@babel/node`. I can't reproduce on `@babel/cli`.

[2022-01-10 23:15] codebling commented on #14128
Sounds right, sorry about that. I've updated the issue description (`@babel/node` wasn't in the template and I didn't think to change it afterwards)

[2022-01-11 05:32] akashepik opened #14131 "[Bug]: babel.loadOptionAsync is not a function , issue while deployment "@babel/core": "7.5.5", "@babel/node": "7.5.5""
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

babel file
{
    "presets": [
        ["@babel/preset-env"]
    ],
    "plugins": [
        ["@babel/plugin-proposal-export-default-from"]
    ],
    "env": {
        "debug": {
          "sourceMaps": "inline",
          "retainLines": true
        }
      }
  }

Start Scri

[2022-01-11 06:43] joriewong commented on #14051
@heiseshandian `--delete-dir-on-start` was using. you can try `--presets` to reproduce.

[2022-01-11 09:01] nicolo-ribaudo commented on #14131
As a workaround, update `@babel/core`.

[2022-01-11 09:59] nicolo-ribaudo commented on #14131
Can you share the full error stack trace?

[2022-01-11 10:04] akashepik commented on #14131
![image](https://user-images.githubusercontent.com/78129748/148922298-7736089b-fa00-4f8a-9f4d-4ef7ef40f5ad.png)

[2022-01-11 10:54] ForbiddenEra opened #14132 "[Bug]: Incorrect Documentation under @babel/generator"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

input - main.js
[code]

input - secondary.js
[code]

expected translated code output:
[code]

My test code:
[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

At https://babeljs.io/doc

[2022-01-11 14:08] The-x-Theorist commented on #13965
?

[2022-01-11 17:55] fire332 opened #14134 "[Bug]: NodeList.prototype.forEach is not polyfilled in pure mode"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

There are no pollyfills whatsoever in the output. I expect there to be polyfills.

### Environment

Node 17 on Windows. See minimal reproduction repo for tool versions

[2022-01-11 22:26] #14131 closed

[2022-01-12 00:49] lazytype commented on #11969
This still seems to be an issue. Can this be triaged?
@JLHwung

[2022-01-12 05:05] loynoir commented on #13965
Ahh, I forgot how I workaround it

[2022-01-12 05:05] #13965 closed

[2022-01-12 06:28] tony-go opened #14138 "chore: automate compat-data update"
### 💻

- [x] Would you like to work on this feature?

### What problem are you trying to solve?

Each time upstream compat-data have been updated,  maintainers have to manually open a pull request.

### Describe the solution you'd like

Use the same approach as https://github.com/babel/babel/blob/main/.github/workflows/update-parser-tests.yml

Having a CRON in GitHub action that will check if ther

[2022-01-12 08:22] rishabh876 opened #14139 "React Native: Unexpected token ':'. Expected a ')' or a ',' after a parameter declaration."
**EDIT by @nicolo-ribaudo**: If you see this error in React Native, you probably need to update `metro-react-native-babel-preset` and run `yarn start --reset-cache` - https://github.com/babel/babel/issues/14139#issuecomment-1011836916.

---

### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

pack

[2022-01-12 08:38] qianqiang2017 commented on #14139
I have the same problem. When I downgraded @babel/traverse to 7.16.7 my problem was solved.

[2022-01-12 13:02] nicolo-ribaudo commented on #14139
This might be caused by https://github.com/babel/babel/pull/14105, but unfortunately without a reproduction example it's impossible to know if the bug was actually introduced by that PR. It's the PR that most likely could have changed `@babel/traverse`'s behavior, but it looks unrelated to this error.

[2022-01-12 13:34] nicolo-ribaudo commented on #14138
Oh this would be awesome!

[2022-01-12 13:59] lyz810 opened #14143 "[Bug]: Array.prototype.at parse wrong with babel/cli"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

case 1(wrong result)
[code]

case 2 (wrong result)
[code]

case 3(parse as expected)
[code]

case 4(parse as expected)
[code]

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

add corejs es.array.at.js, not esnext.string.at.js

recognize

[2022-01-12 14:11] lyz810 commented on #14143
[code]
this config can add import "core-js/modules/es.array.at.js";
but also will add
[code]
should only add es.array.at

[2022-01-12 14:25] nicolo-ribaudo commented on #14143
It's not that easy. Consider this example:
[code]

If somewhere else in your application you do something like this:
[code]
then the `this.array.at(-1)` call is calling `.at` on a string and not on an array. Whenever we see `.at` being used, unless we can be 100% sure that we are handling a string/array we should inject both.

As you noticed, when you specify `"version": "3.20.2"` we inject the `A

[2022-01-12 18:47] tolmasky opened #14144 "[Bug]: expectContextual drops token information and throws generic "unexpected token" error."
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

I ran into this while fixing https://github.com/babel/babel/issues/14123, and the fix for that will include a fix for this too. If you try the following code:

[code]

See it here: https://runkit.com/tolmasky/expectcontextual-drops-token-information

You

[2022-01-12 20:51] tolmasky opened #14146 "[Bug]: Incorrect MissingSemicolon SyntaxError when errorRecovery is false, but correct InvalidDigit SyntaxError when errorRecovery is true"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

Another error I ran into while fixing https://github.com/babel/babel/issues/14123, and the fix for that will include a fix for this too. Compare the following runs of the parser, one with `errorRecovery` set to `false`, the other to `true`:

[code]
[code

[2022-01-13 05:09] stickor commented on #14139
I have some problem

[2022-01-13 06:31] kerm1it commented on #14139
I have the same problem. This  is caused by #14105.

Please update `metro-react-native-babel-preset` from `0.58.0` to `0.59.0` to resolve it.

Because of https://github.com/facebook/metro/blob/v0.58.0/packages/metro-react-native-babel-preset/src/configs/main.js#L136 will transform `Symbol.iterator`, but the change of #14105 will cause transform is break, finally the rest flow grammar is reserved.

[2022-01-13 07:32] stickor commented on #14139
it  work  for my  project  。   think your！！！！

[2022-01-13 07:34] stickor commented on #14139
@kerm1it   it work for my project .  thank  you🍺

[2022-01-13 12:26] nicolo-ribaudo commented on #14139
Oh thanks @kerm1it for investigating! We have some e2e tests to verify that we don't break React Native support, but we are only testing recent versions and `metro-react-native-babel-preset` 0.58.0 is two years old :sweat_smile:

Since #14105 is a fix for an actual bug, and the `metro-react-native-babel-preset` code you linked is clearly wrong (it asks Babel to stop the whole traversal with `path.

[2022-01-13 13:11] Rekha16 commented on #14139
Hi, I have same error tried to update metro-react-native-babel-preset to 0.59.0 but not working for me
following are devDependencies
"@babel/core": "7.6.2",
    "@babel/runtime": "7.6.2",
    "@react-native-community/eslint-config": "0.0.5",
    "babel-jest": "24.9.0",
    "eslint": "6.5.1",
    "jest": "24.9.0",
    "metro-react-native-babel-preset": "0.59.0",
    "react-test-renderer": "16.11.0"

[2022-01-13 13:15] kerm1it commented on #14139
If it doesn't take effect, please try 'yarn start --reset-cache' to restart app.

[2022-01-13 14:16] The-x-Theorist commented on #14144
I think that changing the error message can fix this issue.

[2022-01-13 14:19] tolmasky commented on #14144
I have a fix for this already, it's part of a larger fix for https://github.com/babel/babel/issues/14123. I'm not sure what you mean though, aside from yes, changing the error message would fix the fact that it's the wrong error message. But you need the token information in order to generate a useful error message, which the fix to the above will be able to do now.

[2022-01-13 14:29] The-x-Theorist commented on #14144
@tolmasky It will be good if this gets fixed in the larger issue, but how're you going to generate the token information?

[2022-01-13 14:33] tolmasky commented on #14144
The token information is already there, passed to `expectContextual`:

https://github.com/babel/babel/blob/main/packages/babel-parser/src/parser/statement.js#L2526

It just then gets ignored in `expectContextual` since that uses the `ErrorTemplate` form of `this.unexpected()` (instead of the token form). After my change the the token will be able to be used and thus `token` can be passed to `unexp

[2022-01-13 14:40] leandrovidal56 commented on #14139
hi, I continues the same error, I try update this libraries, but not resolved my problem
  "@babel/core": "7.16.5",
    "@babel/preset-flow": "7.16.5",
    "@babel/runtime": "7.16.5",
    "@babel/plugin-proposal-decorators": "^7.6.0",
"babel-jest": "^24.9.0",
"metro-react-native-babel-preset": "^0.59.0",
"@babel/traverse": "7.16.5"

[2022-01-13 14:43] qianqiang2017 commented on #14139
me too！

[2022-01-13 14:45] The-x-Theorist commented on #14144
@tolmasky this looks solved, If you like I can help you fixing this issue in a separate PR?

[2022-01-13 14:49] The-x-Theorist commented on #14146
@tolmasky do you know any workaround for this?

[2022-01-13 14:49] Rekha16 commented on #14139
tried to reset cache but still facing same error
please help

[2022-01-13 14:49] tolmasky commented on #14144
It's solved because a different area of the code allowed me to remove the ErrorTemplate form, I am working currently working on adding a bunch more tests for these various things, and it would significantly slow me down to instead try to surgically remove just this one piece. I am aiming to get the umbrella bug PR'ed today. I filed this bug to make it easier to track the various other issues that

[2022-01-13 14:51] kerm1it commented on #14139
can you print your babel.config.js and run npm ls metro-react-native-babel- preset？

[2022-01-13 14:52] The-x-Theorist commented on #14144
Okay, I got it.

[2022-01-13 15:15] kerm1it commented on #14139
@Rekha16 @leandrovidal56 @qianqiang2017

Please read https://github.com/babel/babel/issues/14139#issuecomment-1011836916 to try other solutions.

[2022-01-13 15:40] nicolo-ribaudo commented on #14139
If the solution doesn't work, we will need a repository that we can use to reproduce the bug.

[2022-01-13 16:46] kerm1it commented on #14139
I guess it is caused by cache (ensure you start app with `yarn start --reset-cache` and https://github.com/babel/babel/issues/14139#issuecomment-1011836916 these solutions you only use one of them，don't use mix up with them )

[2022-01-13 17:08] athinimafu opened #14147 "[Bug]: Error while parsing configuration file: JSON5.parse is not a function"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

const babel = require("@babel/core");

const parse = (sourceCode) => {
   return babel.transformAsync(sourceCode,{});
}

### Configuration file name

babel.config.json

### Configuration

{
    "presets":["@babel/preset-env","@babel/preset-react"],
    "

[2022-01-13 17:27] nicolo-ribaudo commented on #14147
Your webpack build is probably loading https://unpkg.com/browse/json5@2.2.0/dist/index.mjs instead of https://unpkg.com/browse/json5@2.2.0/lib/index.js.

`lib/index.js` (which is the file that should be loaded when using `require()`, according to how Node.js works) exposes a `.parse` function, while `dist/index.mjs` only has a default export. I don't know how to do it, but you should configure web

[2022-01-13 17:27] #14147 closed

[2022-01-13 17:45] leandrovidal56 commented on #14139
I find possible solution, it's good for me depends your machine you need use this command

- npx react-native start --reset-cache

[2022-01-14 00:51] samualtnorman opened #14148 "[Bug]: `Error: Reentrant plugin detected trying to load "<...>.mjs"`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

`src/foo.js`
[code]

`src/bar.js`
[code]

### Configuration file name

_No response_

### Configuration

`babel.config.json`
[code]

`babel/test.mjs`
[code]

`.babelignore`
[code]

`package.json`
[code]

### Current and expected behavior

I would expect this to just work when I run `npx babel s

[2022-01-14 09:04] cheungseol opened #14152 "[Bug]: Why i cannot install this 7.16.9 version ?"
### How are you using Babel?

@babel/register or @babel/node

### Current  behavior

I try to install babel@v7.16.9, but fails. Is this version still not published or released ?
https://github.com/babel/babel/releases/tag/v7.16.9

I got the following error:

<img width="772" alt="截屏2022-01-14 下午5 06 06" src="https://user-images.githubusercontent.com/12060295/149488911-27fe6da0-3af2-41c6-bff2-b1e4d

[2022-01-14 09:35] nicolo-ribaudo commented on #14152
It has been published: https://www.npmjs.com/package/@babel/register/v/7.16.9

It's either a bug with the npm registry (and you should report it to them), or with a non proxy you are using that sits between you and the main registry (for example, a company proxy).

[2022-01-14 09:35] #14152 closed

[2022-01-14 10:23] nicolo-ribaudo commented on #14148
This error is only needed to prevent `@babel/register` and `@babel/node` from compiling their own plugins while they are being set up. However:
- this isn't a problem that can happen when running Babel asynchronously (as you are doing), and as you noticed it's buggy in this case
- In Babel 8 we can completely remove the error, since thanks to https://github.com/babel/babel/pull/14025 `@babel/regis

[2022-01-14 18:01] Lcfvs opened #14154 "[Bug]: Destructured symbol fails on IE 10+"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

Actually, it throws *"@@toPrimitive must return a primitive value."* which doesn't seems to be catchable.

But the objects passed are pretty fine, since if I extract t

[2022-01-14 22:58] #14148 closed

[2022-01-15 01:21] athinimafu opened #14155 "[Bug]: Syntax Error:support for 'jsx' is not enabled only when electron application has been packaged."
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

When i run my application through the terminal the application runs correctly however once i run a build version of the application the

[2022-01-15 01:35] JLHwung commented on #14155
Can you provide a reproduciton repo?

[2022-01-15 02:38] JLHwung commented on #14155
Yes, without a reproduction repo we can't prioritize the issue.

[2022-01-15 04:31] athinimafu commented on #14155
[https://github.com/athinimafu/reprod.git](url) is the repo where i reproduced the same error. it's a small electron application where you write code and it is transpiled for you using babel it works fine for jsx when run through the terminal but again the packaged application displays the same syntax error.

[2022-01-15 04:44] JLHwung commented on #14155
You need to pass a filename for `preset-react` to work
[code]
the filename is automatically determined by `@babel/cli`, but if you are calling `@babel/core` programmatically, you have to provide the `filename` option.

[2022-01-15 05:04] athinimafu commented on #14155
@JLHwung  i did as you suggested and exact error still persists

[2022-01-15 09:13] zhangenming opened #14156 "[Bug]: rest args and deconstruction, error."
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]
/repl.js: Duplicate declaration "x"

### Configuration file name

_No response_

### Configuration

https://babeljs.io/repl#?browsers=chrome%2033&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABMOcAUA6LBtAHgXQEpEBvAKEQDcBDAJ0V0QF

[2022-01-15 13:38] nicolo-ribaudo commented on #14155
How do I use it? `npm run pack` works without errors, and `npm run dist` gives this error:
[code]

[2022-01-15 14:03] nicolo-ribaudo commented on #14154
I think that the problem is that you are using a symbol polyfill that defines `Symbol.prototype[Symbol.toPrimitive]()` and makes it return an object. This is valid if you consider "some objects are polyfilled symbols and should be considered as primitives", but the spec says that `[Symbol.toPrimitive]()` must return a primitive and not an object.

Could you check if adding `delete Symbol.prototype

[2022-01-15 14:18] athinimafu commented on #14155
sorry the squirrel.windows installer configuration for electron-builder requires an email field.

[2022-01-15 14:28] nicolo-ribaudo commented on #14155
Btw, I cannot know for sure since I cannot reproduce the problem using your repository, but you could try specifying `configFile: __dirname + "/babel.config.json"` in the `babel-loader` options in `webpack.config.js`

[2022-01-15 14:50] athinimafu commented on #14155
The webpack bundle is only responsible for bundling renderer process so i can't see how that would effect the code
` await babel.transformAsync(code,{ filename:"example.jsx", })).code; ` which i execute in the main process but i did as you suggested anyway and the error still persists . When you say you cannot reproduce the error does that mean you can successfully transpile jsx using the build ap

[2022-01-15 19:39] glenjamin opened #14159 "Provide type definitions for babel-register"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

I'm currently working on a project with `checkJs: true` and Typescript, using babel to strip the types out.

My entrypoint is a `.js` file which requires `@babel/register`, and then calls it with the extensions option to enable typescript.

This produces the following error:
[code]

### Describe the so

[2022-01-15 21:03] overlookmotel opened #14160 "[Bug]: Remove unnecessary final semicolon in minified output"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavior

Not a bug, but a tiny optimization being missed.

In the above example `function f(){const x=1}const x=1` is parsed and then generated with `mi

[2022-01-15 23:11] Lcfvs commented on #14154
Just tested, the results:
* `delete Symbol.prototype[Symbol.toPrimitive]`: seems to work... but the polyfill is provided by core-js (should I report it on their repo?)
* `console.log(typeof symbol)`: `"symbol"`
* `console.log(eval("_toPrimitive")(symbol))`: syntax error, even if your code seems fine

[2022-01-16 04:18] pree-T commented on #7357
Is this issue still open?May I work on it? Can someone help me as I am new to open source contribution?

[2022-01-16 04:19] pree-T commented on #7277
May I work on it? Can someone help me as I am new to open source contribution?

[2022-01-16 08:51] nicolo-ribaudo commented on #14154
Yeah, I was trying to identify the problem to see if we can do it without spinning up a Windows virtual machine to test IE10 😅

Are you loading core-js manually, or do you have a more complex Babel config to automatically load it were needed?

[2022-01-16 10:00] lightmare commented on #14160
I believe the trailing semicolon is a safety measure to prevent nasty surprises when concatenating multiple separately-minified chunks of code.

[2022-01-16 10:27] magic-akari opened #14161 "[Bug]: get wrong result after transform `Update assignment expression` in async method"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[REPL](https://babeljs.io/repl#?browsers=chrome%2050&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=MYGwhgzhAECC0FMAeAXBA7AJjAQtA3gFDTSQCe6w0AZgPa0AUAlAcSdBAK4AOCATgDo6taAGpRAbjYkAtDI49-AgEZg-U9gt58A2gCJhegLpjJ06HK399qvsY3QAvoUdA&debug

[2022-01-16 10:34] Lcfvs commented on #14154
I just import it like this:

[code]

[2022-01-16 13:57] nicolo-ribaudo commented on #14154
I tried to experiment with this. The problem is that when compiling symbols to work with the polyfill, the Babel helpers need to be "rewired" so that when the runtime helpers use `typeof x === "symbol"`, they also accept polyfilled symbols.

Normally this happens by default, both when using Babel with "inline helpers" or with `@babel/runtime`. It looks like `@rollup/plugin-babel` automatically ext

[2022-01-16 14:00] nicolo-ribaudo commented on #14154
I tested it at https://github.com/nicolo-ribaudo/babel-bug-14154, and it works in IE. If I remove `@babel/plugin-transform-runtime`, I see the `@@toPrimitive must return a primitive value` error you mentioned.

[2022-01-16 14:37] Lcfvs commented on #14154
Thanks a lot but I tried like you and I have this rollup reporting:

[code]

[2022-01-16 14:46] nicolo-ribaudo commented on #14154
What's your rollup config?

[2022-01-16 14:51] Lcfvs commented on #14154
[code]

[2022-01-16 15:12] nicolo-ribaudo commented on #14154
I cannot reproduce the error with your config :thinking: I'd be happy to help but I need a repository which should the problem.

[2022-01-16 15:15] Lcfvs commented on #14154
Ok, I try to make a minimal repo to share it with you (I just can't share the real one actually, it's a project of my client and it isn't intended to be open source right now)

[2022-01-16 15:23] overlookmotel commented on #14160
@lightmare Thanks for your reply. Yes, I see what you mean.

Would maintainers support addition of an option to control whether an additional semicolon is added or not?

I know this is a tiny optimisation which is not of much interest to most. Unfortunately for me, I have painted myself into a corner with a library which uses Babel to generate code. I was using a simple "if string ends with `;`, t

[2022-01-16 15:34] #14161 closed

[2022-01-16 16:42] Lcfvs commented on #14154
Just done.

I made a repo containing 2 packages (no choice to reproduce one of the report lines):
* [The lib](https://github.com/Lcfvs/babel-bug-14154/tree/main/lib) which defines `lib/selectors/all.js`
* [The project](https://github.com/Lcfvs/babel-bug-14154/tree/main/project) which imports `lib/selectors/all.js` to select something

[2022-01-16 16:55] nicolo-ribaudo commented on #14154
Thanks for the repository! You can fix the problem by adding [`"absoluteRuntime": true`](https://babeljs.io/docs/en/babel-plugin-transform-runtime#absoluteruntime) to the `transform-runtime` options:
[code]

**Why?** By default, `@babel/plugin-transform-runtime` injects imports to `@babel/runtime`, like `import _toConsumableArray from "@babel/runtime/helpers/toConsumableArray"`. This generally wor

[2022-01-16 18:38] Lcfvs commented on #14154
Thanks to you, for that part, it's ok.

But I have a new problem, probably caused by the `ignore`, it breaks these imports (it worked with the `exclude`):

[code]

It seems to break some references into the `ace.js`, here the `define`

[2022-01-17 01:59] zhangenming commented on #14156
same as
[code]
and
https://babeljs.io/repl#?browsers=chrome%2048&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=GYVwdgxgLglg9mABMOcCMAKAHgXjQSkQG8AoRANwEMAnRLRHRNEgXxNElgWVQCYMiWFoVIUadBk1btw0eEhRwAzBgB06rCLJVa9RsxZA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env&p

[2022-01-17 04:02] magic-akari opened #14163 "[Bug]: logical assignment not handled in super property transforms"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

currently throws error

### Environment

Latest

### Possible solution

_No response_

### Additional context

_No response_

[2022-01-17 04:18] blankPen opened #14166 "[Bug]: When text is an empty string, highlight will be into the infinite loop"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

.babelrc.js

### Configuration

_No response_

### Current and expected behavior

Should not be into the infinite loop

### Environment

- @babel/highlight：7.16.7

### Possible solution

https://github.com/babel/babel

[2022-01-17 10:54] The-x-Theorist commented on #14156
I'd like to work on this issue?

[2022-01-17 10:58] hau1412 commented on #14139
Thanks guy, it work

[2022-01-17 16:18] devongovett opened #14167 "[Bug]: Class properties are transpiled even in newer versions of node"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.js

### Configuration

[code]

### Current and expected behavior

1. Babel transpiles class properties for node versions < 15 even though they are supported in Node 12. [REPL](https://babeljs.io/repl#?browsers=&build=&builtIns=false&corejs=3.6&s

[2022-01-17 16:29] abhijeet7897 commented on #14139
#14139
These steps worked for me-
1. In cmd echo $TMPDIR
2. Go to path and remove metro-cache (rm -r metro-cache)
3. remove node modules, package-lock
4. npm cache clean --force
5. upgrade  metro-react-native-babel-preset version to 0.59.0
6. npm install
7  npm start -- --reset-cache

[2022-01-17 17:15] JLHwung commented on #14167
The class properties are transpiled by `@babel/plugin-private-methods`, which invokes `@babel/helper-create-class-plugin` to transpile, but not limited to, class private methods. I think we can skip the `@babel/plugin-private-methods` transform when there is no private methods declared in this class. Similar to what I have done in https://github.com/babel/babel/pull/12849.

A more ambitious approa

[2022-01-17 17:28] devongovett commented on #14167
Hmm I had tried it with this and it still transpiled the class properties...

[code]

[2022-01-17 18:44] nicolo-ribaudo commented on #14167
Wow this is confusing. If in the repl I set `node 14` in the "targets" fields (rather than setting it directly in the `preset-env` option) it doesn't compile class fields.

[2022-01-17 18:49] nicolo-ribaudo commented on #14167
This is definitely a bug: `["@babel/preset-env", { "targets": "node 14" }]` doesn't compile class fields, while `["@babel/preset-env", { "targets": { "node": 14 } }]` does.

[2022-01-17 18:59] nicolo-ribaudo commented on #14167
Ok, this is what's happening:
- Even if they are different plugins, Babel doesn't support transforming private methods when not transforming class fields. For this reason, we "merge" their compatibility data: https://github.com/babel/babel/blob/e7c705a7486cc1a1490d26415336afd3100d3c8f/packages/babel-preset-env/src/plugins-compat-data.ts#L20-L21
- The resulting data marks Node.js 14.6 as the minimu

[2022-01-17 19:02] nicolo-ribaudo commented on #14156
Sure, thanks!

[2022-01-17 19:47] JLHwung commented on #14167
Great point! I will add that to the targets docs.

[2022-01-17 20:32] raphaelPloomes commented on #14139
Worked for me, thanks

[2022-01-18 10:12] Rekha16 commented on #14139
Hi, tried to install react-native(npm I react-native) and react-native start --reset-cache in power shell worked for me. now my app is working. Thank you for helping me

[2022-01-18 11:25] stephenLYZ commented on #8923
any progress？

[2022-01-18 12:01] #14123 closed

[2022-01-18 12:01] #14144 closed

[2022-01-18 12:05] #14167 closed

[2022-01-18 12:10] #14166 closed

[2022-01-18 13:35] overlookmotel commented on #14023
Can I ask (and I'm sure everyone does constantly!) do we have a rough ETA for Babel 8?

If it's going to be a while, I'll postpone work on this for now, but if it's imminent I'll try to get a fix sorted before the release.

[2022-01-18 13:41] nicolo-ribaudo commented on #14023
It will be a while, the first prerelease will probably be in a few months.

[2022-01-18 16:07] zjx commented on #14139
thanks this worked well.

[2022-01-18 18:24] tolmasky commented on #14160
This previous discussion might be relevant: https://github.com/babel/babel/issues/9540. I also wanted to remove the semicolons in the past.

[2022-01-18 19:56] overlookmotel commented on #14160
@tolmasky Ah thanks. I had not noticed that existing issue.

What I'm asking for is a bit different though. I'm not outputting an expression, I'm outputting a program (series of statements). In my use case, the output is never concatenated with other output, so the final semicolon is always unnecessary.

As I said, this is a tiny optimisation, so I totally understand if the answer is "supporting t

[2022-01-18 19:58] tolmasky opened #14175 "[Bug]: errorRecovery: true should never throw SyntaxErrors"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

This is not meant as an umbrella bug to track making every currently unrecoverable `raise` a well thought out recoverable `raise`, but rather an appeal to just return `{ ast: t.Program([]), errors:[unrecoverableError] }` whenever we encounter an unrecove

[2022-01-18 20:59] lightmare commented on #14160
Perhaps you could check the last (top-level) statement, and only strip the semicolon when it's none of `if / for / while / do / with`.

[2022-01-19 09:05] navegador5 opened #14176 "[Bug]: can NOT parse typescript-declare"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

should NOT fail.

### Environment

  System:
    OS: Linux 4.15 Ubuntu 18.04.1 LTS (Bionic Beaver)
  Binaries:
    Node: 16.13.1 - /u

[2022-01-19 13:00] #14176 closed

[2022-01-19 13:01] navegador5 commented on #14176
wrong parameters plugins: [
      "typecript"      //"typescript"
  ],

[2022-01-19 18:23] nicolo-ribaudo opened #14181 "[v8 bug] Modern v8 doesn't support static class fields named `name`"
### 💻

- [x] Would you like to work on this feature?

### What problem are you trying to solve?

https://bugs.chromium.org/p/v8/issues/detail?id=12421

### Describe the solution you'd like

We probably need a bugfix plugin for that

### Describe alternatives you've considered

/

### Documentation, Adoption, Migration Strategy

_No response_

[2022-01-19 18:47] nicolo-ribaudo commented on #14181
Node.js is not affected and it looks like they are waiting for a v8 fix before upgrading: https://github.com/nodejs/node/pull/40907. However, Chrome/Edge 97 might be affected.

The first step is to add a `compat-table` test for this bug, if anyone wants to help.

[2022-01-19 20:39] tolmasky opened #14182 "[Bug]: Position includes index = undefined"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

After moving everything over to the `WeakMap` system, I forgot to remove the declaration, so the latest release of Babel includes an `undefined` index property: https://github.com/babel/babel/blob/main/packages/babel-parser/src/util/location.js#L13

Apol

[2022-01-19 20:57] ljharb commented on #14181
https://github.com/kangax/compat-table/pull/1784

[2022-01-20 10:52] josephmarkus opened #14184 "[Bug]: @babel/helper-environment-visitor README.md has a link that results in 404"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

https://github.com/babel/babel/blob/main/packages/babel-helper-environment-visitor/README.md > See our website @babel/helper-environment-visitor for more information.

### Configuration file name

_No response_

### Configuration

n/a

### Current and expected behavio

[2022-01-20 11:24] MartinSoderholm opened #14189 "@jsx pragma broken in latest versions of babel-loader & @babel/core"
**I'm submitting a bug report**

**Webpack Version:**
5.66.0

**Babel Core Version**:
7.16.10

**Babel Loader Version**:
8.2.3

**Please tell us about your environment:**
macOS 12.1
node.js 16.9.0

**Current behavior:**
`/** @jsx jsxCreateModel */` pragma is ignored and transpiled code has `React.createElement(...`. Error `React is not defined` is thrown.

**Expected/desired behavior:**
`/** @jsx

[2022-01-20 13:15] atti187 opened #14185 "[Bug]: Windows path delimiter causing issues in @rollup/plugin-babel"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

@rollup/plugin-babel

### Input code

https://github.com/atti187/rollup-babel-bug

### Configuration file name

babel.config.js

### Configuration

https://github.com/facebook/create-react-app/tree/main/packages/babel-preset-react-app

### Current and expected behavior

Issue is occurring in https://github.com/rollup/plug

[2022-01-20 13:26] Artur- opened #14186 "[Bug]: Random segfaults when running webpack and using @babel/core 7.16.10"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

No idea how to reproduce it. It reproduces in random places in our CI builds, starting from yesterday after the release of 7.16.10

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Apparently we are using

[2022-01-20 15:26] jlowcs opened #14188 "[Bug]: [7.16.10] [target:node:12] Class fields are not enabled"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

With the following configuration:

[code]

And a simple file like this one:

[code]

Compilation fails:

![image](https://user-images.githubusercontent.com/3777724/150366693-489e2783-da75-47d1-aae4-19dbffa99a5a.png)

### Configuration file name

babel.config.js

### Configuration

[

[2022-01-20 15:28] nicolo-ribaudo commented on #14188
Could you check if `@babel/preset-env` 7.16.11 fixes this bug?

[2022-01-20 15:55] jlowcs commented on #14188
For reference, here's what the previous version of babel returns:

![image](https://user-images.githubusercontent.com/3777724/150374105-c02067a0-caa7-41ca-bc76-4565fdeb1fd4.png)

[2022-01-20 16:02] JLHwung commented on #14189
I can't reproduce this issue. Are you sure the pragma comment is `/** @jsx jsxCreateModel */`? In https://github.com/babel/babel/pull/14012 we limits the `@jsx` pragma comment, i.e. `/** some thing @jsx jsxCreateModel */` is not allowed. But `/** @jsx jsxCreateModel */` is still supported.

[2022-01-20 16:04] JLHwung commented on #14188
Webpack 4 does not support ES2022, you need to upgrade to webpack 5 or always enable `@babel/plugin-proposal-class-properties`.

[2022-01-20 16:06] jlowcs commented on #14188
Oh, right, apparently node 12 [does support private class fields](https://thecodebarbarian.com/nodejs-12-private-class-fields.html).

I guess explicit `@babel/plugin-proposal-class-properties` is the way to go until we have the bandwidth to migrate to webpack 5.

[2022-01-20 16:09] jlowcs commented on #14188
thank you both

[2022-01-20 16:14] nicolo-ribaudo commented on #14188
I'm closing this issue since Babel now produces code that it still valid according to your targets, even if this might look like a regression (because it throws with webpack 4).

We might introduce a `webpack: X` target in the future, but for now yes I suggest enabling `@babel/plugin-proposal-class-properties` explicitly!

[2022-01-20 16:14] #14188 closed

[2022-01-20 16:55] jlowcs commented on #14188
I love that idea!

[2022-01-21 10:27] MartinSoderholm commented on #14189
I was about to say “Yes, I'm sure”, but then I checked and apparently it was `/** @jsx jsxCreateModel **/`, for some reason.

So I guess the ending `**/` is no longer supported 😊.

Thanks for your help 👍

[2022-01-21 10:27] #14189 closed

[2022-01-21 10:33] nicolo-ribaudo commented on #14189
Uh well, we should probably add it back since it doesn't seem too uncommon (especially because multiline dockblock comments end with `**/`).

[2022-01-21 11:40] jlowcs commented on #14186
I might be experiencing a similar issue in our circleci builds. I'm not seeing a segfault, but the build sometimes fails right away without any information from webpack.

![image](https://user-images.githubusercontent.com/3777724/150521019-70be148d-5fc1-43c5-8ef6-8c855afc9857.png)

This is a node build (webpack target is `node`) and it fails about 10% of the time. Our browser build seems to work f

[2022-01-21 11:45] jlowcs commented on #14186
We also noticed that a segfault appeared in our eslint CI job since bumping babel. eslint uses `@babel/eslint-parser`.

![image](https://user-images.githubusercontent.com/3777724/150521695-c80ab014-0564-45d9-856c-67c582e891b1.png)

[2022-01-21 11:45] tony-go commented on #14138
Sorry for the wait.

I just struggle with a simple thing: get the last commit for the `gh-pages` [branch](https://github.com/kangax/compat-table/commits/gh-pages) the github API give me on older one :s 😭

I'll continue my journey and keep you informed.

[2022-01-21 11:50] Artur- commented on #14186
I was unable to get a core dump out from our CI yet. Maybe posting or analyzing that will give more clues

[2022-01-21 11:55] jlowcs commented on #14186
For reference, here are our version changes from our babel bump that introduced the issues:

@babel/core: 7.16.7 => 7.16.10
@babel/helper-create-class-features-plugin: 7.16.7 => 7.16.10
@babel/parser: 7.16.8 => 7.16.10
@babel/plugin-proposal-private-methods: 7.16.7 => 7.16.11
@babel/plugin-transform-runtime: 7.16.8 => 7.16.10
@babel/preset-env: 7.16.8 => 7.16.11
@babel/traverse: 7.16.8 => 7.16.10

[2022-01-21 12:00] nicolo-ribaudo commented on #14186
Could any of you try using [`patch-package`](https://www.npmjs.com/package/patch-package) or [Yarn 2/3's `patch:` protocol](https://yarnpkg.com/features/protocols#patch), or a script that you run on CI after installing your dependencies but before running webpack, to comment out line 23 from https://unpkg.com/browse/@babel/core@7.16.10/lib/config/files/import-meta-resolve.js?

That line _might_ ca

[2022-01-21 12:14] jlowcs commented on #14186
I just created a branch with that patch. Now, since the segfault doesn't happen every time, I'm gonna have to run the CI multiple times to confirm the issue has actually disappeared.

[2022-01-21 12:32] jlowcs commented on #14186
so far, my eslint job has run without failing 5 times out of 5 with that patch.

[2022-01-21 12:53] jlowcs commented on #14186
10/10 on the eslint job, and 5/5 on the node build, so it looks like that patch does fix the issue.

[2022-01-21 13:10] Artur- commented on #14186
I will see if I can monkey patch this and test also. Seems like `patch-package` does not support `pnpm` so I cannot use that

[2022-01-21 14:47] JLHwung commented on #14138
You can checkout the latest `compat-data` somewhere, retrieve the HEAD commit SHA1 and inject it to the `download-compat-data.sh`, similar to how we handle `test262`:

https://github.com/babel/babel/blob/b05dad7fed07672514fa6d0d21ce4c1e2c3a6f79/.github/workflows/update-parser-tests.yml#L33-L38

[2022-01-21 16:34] Artur- commented on #14186
After a couple of failing patch attempts I think I now agree with @jlowcs that removing
[code]

resolves the issue

[2022-01-21 17:01] nicolo-ribaudo commented on #14186
@Artur- thanks! If you have time, could you also test if what I wrote in the description of https://github.com/babel/babel/pull/14192#pullrequestreview-859720848 works too (rather than deleting that try/catch)?

[2022-01-21 18:41] dpchamps opened #14193 "[Bug]:"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[Babel REPL](https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYewdgzgLgBAHjAvDAFASiQPhgbQLoB0AlmMADYCuAJgKYQpQBOFNGAPmzAEThQgXAAFjTBUuMEjCohgFALYi

[2022-01-21 18:48] Artur- commented on #14186
With this change https://github.com/vaadin/flow/pull/12778/commits/94f26a075b1db2c6f3cacbbc2e34584338bd0ec8 all I see is `[webpack-cli] ReferenceError: polyfill is not defined`. Should `polyfill` be something else like `_importMetaResolve`?

[2022-01-21 20:36] lightmare commented on #14193
I don't know exactly what's going on, but
1. reproduction can be reduced to
[code]
2. it prolly has something to do with `in` operator being allowed in some context and disallowed in others.

[2022-01-21 21:33] nicolo-ribaudo commented on #14186
Oh yes right, it should be `_importMetaResolve.resolve` :sweat_smile:

[2022-01-21 21:52] JLHwung commented on #14193
This is a regression introduced at https://github.com/babel/babel/pull/11930

Specifically: https://github.com/babel/babel/blob/b05dad7fed07672514fa6d0d21ce4c1e2c3a6f79/packages/babel-parser/src/parser/expression.js#L2377

The [spec](https://tc39.es/ecma262/#prod-ConciseBody) has

[code]

apparently I mistyped `{` as `tt.bracketL`.

[2022-01-21 23:18] dpchamps commented on #14193
awesome, thanks for the snappy response @JLHwung

[2022-01-22 00:31] intelcoder commented on #8962
I am having similar issue. I am getting it when I use register for react ssr.
Its really when I pass the extensions with this way
[code]
It complains to my server file with
[code]

However, when I do not pass extensions.  It complains on tsx file
require('@babel/register')({ configFile: path.resolve(CWD, 'babel.config.json'),  babelrc: true, })

[code]

[2022-01-22 07:59] Artur- commented on #14186
[That fix](https://github.com/vaadin/flow/pull/12778/commits/adc0b887f0831bfe59befe23d5258e1897f4c5c9) seems to also resolve the issue

[2022-01-22 09:12] #14186 closed

[2022-01-22 15:05] nicolo-ribaudo commented on #14186
I'm releasing 7.16.12 with the workaround for this V8 bug.

[2022-01-22 15:22] #14185 closed

[2022-01-23 16:17] Lcfvs commented on #14154
I finally found a solution, using their no-conflict version, then you can close this issue if you want.

But I'm still interested to know why that distinct behavior (`ignore` VS `exclude`) breaks the things or not.

[2022-01-23 17:16] nicolo-ribaudo commented on #14154
Whops sorry, I forgot about this :sweat_smile:

I'm only case in which `ignore` and `exclude` have different behaviors is when you have multiple Babel configurations:
- `exclude` means "don't apply this config to these files"
- `ignore` means "don't transform these files with Babel"

If, for example, you enable some plugins A in `babel.config.js` and plugin B by passing it directly to `@rollup/plu

[2022-01-23 17:21] Lcfvs commented on #14154
Oh, I see. :)

Thanks a lot again.

[2022-01-23 18:37] #14154 closed

[2022-01-24 04:47] #11969 closed

[2022-01-24 13:23] jlowcs commented on #14186
thank you!

[2022-01-24 15:59] JLHwung commented on #14184
We don't have docs for some helpers since they are mostly used in Babel internals. You can checkout the source [here](https://github.com/babel/babel/blob/main/packages/babel-helper-environment-visitor/src/index.ts). That said, docs PR on helpers is welcome, I will move the issue to the website repo.

[2022-01-25 02:18] Blackgan3 commented on #14073
OK，thank you

[2022-01-25 02:18] #14073 closed

[2022-01-25 05:04] ef4 opened #14197 "[Bug]: path.evaluate should not be confident about array literal variable initializer"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

This is a complete standalone reproduction:

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

The assertion in my repro program above fails, because Babel believes it can statically

[2022-01-25 05:14] ef4 commented on #14197
This is broken for object literals too. If you substitute:

[code]

`path.evaluate()` says it is confident that the return value is `{a: 1}`.

[2022-01-27 16:01] ljharb commented on #6004
Can someone cite a source for where jsx allows this?

[2022-01-27 16:36] nicolo-ribaudo commented on #6004
https://facebook.github.io/jsx/ JSXAttributeValue includes JSXElement.

[2022-01-27 16:44] ljharb commented on #6004
Thanks!

[2022-01-27 19:52] overlookmotel commented on #14023
Would it be viable to implement this now in Babel 7, but only enable the new logic if an option to `traverse()` is set? That option could be `false` by default in Babel 7, so not a breaking change, but would become default (and compulsory) behavior in Babel 8.

If so, I'd be happy to work on it now. If not (and I hope this comes across as honesty rather than some kind of absurd threat!) I may not

[2022-01-28 21:51] pavlo-o-savchuk commented on #14139
Guys, thank you all so much for helping to resolve the problem.
This is what helped me:
1. I deleted node_modules
2. I added to package.json
[code]
3. I added to babel.config.js
[code]
4. I run `npm i --legacy-peer-deps`
5. `cd android && gradlew clean`
6. `cd ..`
7. `react-native run-android`
8. `react-native start --reset-cache`

I hope it will help those who still trying to make it work. Take c

[2022-01-29 23:54] TimvdLippe opened #14213 "Reduce bundle size of `@babel/codeframe`"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

Reduce the bundle size of projects that depend on `@babel/codeframe`

### Describe the solution you'd like

We are working on reducing the bundle size of Prettier, tracked in https://github.com/prettier/prettier/issues/12144

In https://github.com/prettier/prettier/issues/12144#issuecomment-1024994274

[2022-01-30 00:02] nicolo-ribaudo commented on #14213
`colorette` only supports Node.js 10+, and unfortunately Babel 7 still supports Node.js 6.

We can consider it to Babel 8, comparing it to updating chalk from v2 to v5.

[2022-01-30 00:15] nicolo-ribaudo commented on #14213
Ok let me try something :eyes:

[2022-01-30 00:17] nicolo-ribaudo commented on #14213
Uh, apparently we export a whole `chalk` instance from `@babel/highlight` (a dependency of `@babel/code-frame`), making it part of the public API :confused:

We cannot remove chalk until Babel 8, even if we find a library that supports Node.js 6.

[2022-01-30 00:39] daKmoR commented on #14213
right - now that you mention it... I remembered seeing that in code last time I investigated... was the reason I did not even open an issue to discuss it back then, as I figured it will never happen 🙈.

too bad... 😭

[2022-01-30 10:59] TrySound commented on #14213
https://github.com/alexeyraspopov/picocolors has enough node support as already used by browserslist the dependency of babel. There is also a shim for browsers which may simplify bundling.

[2022-01-30 13:24] daKmoR commented on #14213
anything that is less than let's say 5kB would be an improvement 👍

[2022-01-30 19:22] daxaymakwana opened #14214 "[Bug]: Babel transform from ESM to CommonJS not working in AWS"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

# Context
Above code is written for the AWS Lambda, where it is currently running. Since security is not my concern I can execute cod

[2022-01-30 21:35] nicolo-ribaudo commented on #14214
You can manually load the plugins, to completely bypass Babel's plugins resolution:
[code]

---

The reason you are getting this error is that Babel resolves the plugins/presets starting from the cwd. I think that you are running your script from `/var/task`, but the `node_modules` folder (which contains `@babel/plugin-transform-modules-commonjs`) is inside `/var/task/dist`.

You could move `node_

[2022-01-30 22:35] daxaymakwana commented on #14214
Hi @nicolo-ribaudo,
Thanks for the answer and great explanation.
You answer resolved my issue.

[2022-01-30 22:35] #14214 closed

[2022-01-31 18:44] SmallStoneSK opened #14216 "[Bug]: no binding is found when traverse a FunctionDeclaration node"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

the output of `path.scope.bindings` when traverse a FunctionDeclaration node or a VariableDeclaration node should be the same

### En

[2022-01-31 18:47] nicolo-ribaudo commented on #14216
`path.scope` refers to the scope of the current path or, if it doesn't exist, to the outer scope.

In the `FunctionDeclaration` visitor, `path.scope` is thus the function scope, and there are no bindings defined inside the function. Variables don't have their own scope, so `path.scope` refers to the program scope where you defined the function and the variable.

[2022-01-31 19:01] SimonChaumet commented on #13926
Not sure if I have the same bug, I followed the tutorial https://babeljs.io/docs/en/babel-node :

.babelrc.json
[code]

package.json
[code]

Result :
![Screenshot from 2022-01-31 19-59-42](https://user-images.githubusercontent.com/7894362/151855731-42d2e9a5-cfbb-420e-95fd-a63b2dbb5218.png)

But the produced code in dist seems correct :
![Screenshot from 2022-01-31 20-00-55](https://user-images.git

[2022-01-31 19:22] JLHwung commented on #13926
@SimonChaumet Please rename `server.js` to `server.jsx` if it contains JSX syntax, otherwise `preset-react` will not be applied to that file.

[2022-01-31 19:22] nicolo-ribaudo commented on #13926
Unfortunately `@babel/node` and `@babel/register` don't support native ESM files yet, because there isn't a stable hook to compile them on-the-fly.

[2022-01-31 19:27] SimonChaumet commented on #13926
@JLHwung node doesn't accept jsx extensions apparently
![Screenshot from 2022-01-31 20-27-03](https://user-images.githubusercontent.com/7894362/151859412-c33d2308-e30c-40a0-a163-d39ca90e4003.png)

[2022-01-31 19:30] #14216 closed

[2022-01-31 19:57] JLHwung commented on #13926
Oh I was meant for `src/server.jsx`, they will be compiled into `dist/server.js`.

[2022-01-31 20:05] SimonChaumet commented on #13926
@JLHwung server.js does not contain react code, the only file is the one shown above included in the app directory which is compiled into .js but I have errors shown on the base code instead of the compiled code which is weird

[2022-01-31 20:14] JLHwung commented on #13926
It seems to me it is a nodemon-specific issue. Does nodemon have any cache? Did you try restarting nodemon? If that can't help, please prepare a reproduction repo, and open a new issue.

[2022-01-31 20:17] SimonChaumet commented on #13926
@JLHwung even with only node (by running start) the result is still the same

[2022-01-31 21:00] nicolo-ribaudo commented on #13926
Are you running your code with `@babel/node`, or are you compiling them with `@babel/cli` and then run them as normal Node.js scripts?

In the first case, `@babel/node` doesn't support yet native ESM files because Node.js doesn't have a stable ESM loader API yet.

[2022-01-31 21:04] SimonChaumet commented on #13926
@nicolo-ribaudo as you can see in package.json above I run build and then run on it

[2022-01-31 21:23] nicolo-ribaudo commented on #13926
I'm confused because the error shown in your screenshot is _not_ in the `dist` folder, while your `package.json` runs files in `dist`.

[2022-02-01 07:04] LandonSchropp opened #14218 "[Bug]: Unable to run TypeScript using `babel-node`"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

According to the [instructions for @babel/preset-typescript](https://babeljs.io/docs/en/babel-preset-typescript), `babel-node` needs to be run with the `--ex

[2022-02-01 09:00] nicolo-ribaudo commented on #14218
`@babel/node` does not support native ESM yet, because the ESM loaders hook api is still not stable. Do you have `"type": "module"` in your `package.json`?

[2022-02-01 09:41] SimonChaumet commented on #13926
My paths are modified to get the code from my source directory instead of getting the code from the dist folder, I think it's related to #8193

[2022-02-01 16:25] LandonSchropp commented on #14218
Yep! Sorry, I forgot to mention that.

[2022-02-01 16:33] LandonSchropp commented on #14218
I've tried removing `"type": "module"` from my package.json, but unfortunately, that doesn't allow me to use the `import`/`export` syntax.

By the way, thanks for the help!

[2022-02-01 17:43] LandonSchropp opened #14219 "Support ES Modules in @babel/preset-typescript"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

*Apologies if this is captured elsewhere. I'm trying to sort out all of the moving parts with configuring Babel/TypeScript, so I may have missed something.*

I'm setting up a TypeScript Node.js project, and I'd like to be able to do the following:

* Use TypeScript.
* Use the `import`/`export` syntax i

[2022-02-01 17:43] LandonSchropp commented on #14218
Closing in favor of #14219.

[2022-02-01 17:43] #14218 closed

[2022-02-01 23:03] nicolo-ribaudo opened #14220 "Investigate performance of `@babel/register/experimental-worker`"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

I'm opening this issue just as a reminder to not forget about the great review @coderaiser left at https://github.com/babel/babel/pull/14025#issuecomment-1003547657.

### Describe the solution you'd like

/

### Describe alternatives you've considered

/

### Documentation, Adoption, Migration Strategy

[2022-02-02 03:46] SmallStoneSK opened #14221 "[Bug]: @babel/plugin-transform-destructuring not transform function parameters"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

- current

[code]

- expected

[code]

### Environment

- @babel/core 7.16.7
- @babel/plugin-transform-destructuring 7.16.7
- Node: 15
- OS: MacOS 1

[2022-02-02 07:35] nicolo-ribaudo commented on #14221
I know it's confusing but you also need `@babel/plugin-transform-parameters`.

[2022-02-02 13:36] nicolo-ribaudo commented on #12654
https://github.com/babel/babel/pull/14004 has been merged, we'll release it in the next version.

[2022-02-02 13:36] #12654 closed

[2022-02-02 14:02] nicolo-ribaudo commented on #14139
I'm closing this PR, since this bug was fixed in `metro-react-native-babel-preset@0.59.0` released 2 years ago!

[2022-02-02 14:02] #14139 closed

[2022-02-02 17:22] #8497 closed

[2022-02-03 01:18] taoeffect opened #14227 "[Bug]: error message causing problems: "Dynamic import can only be supported when transforming ES modules to AMD, CommonJS or SystemJS. Only the parser plugin will be enabled.""
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

Anything

### Configuration file name

_No response_

### Configuration

`babel.config.json`:

[code]

I also have this in `package.json`:

[code]

### Current and expected behavior

### Current behavior

Every time I run the `babel` CLI, or when SublimeLinter runs `eslint` (or I run it manuall

[2022-02-03 03:05] BradMcDev opened #14228 "[Bug]: Today's release breaks for any build using node < 10.0.0"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

- use any version of node < 10.0.0
- include @babel/core in your build
- it will fail due to jridgewell/resolve-uri now-requiring >= node 10.0.0

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

**Current:**

- As of to

[2022-02-03 03:07] SmallStoneSK commented on #14221
@nicolo-ribaudo
Thank you, I also found this plugin in @babel/preset-env and tried it successfully~

[2022-02-03 03:07] #14221 closed

[2022-02-03 03:17] jridgewell commented on #14228
I can fix this with a new release of `@jridgewell/resolve-uri`. The >= 10 requirement is unnecessary in recent releases.

[2022-02-03 03:19] BradMcDev commented on #14228
That'd be fantastic, thank-you so much @jridgewell!

[2022-02-03 03:21] jridgewell commented on #14228
Done. If you update to v3.0.4, I've tested down to node v6.

[2022-02-03 03:43] cdaycmc opened #14229 "[Bug]: Breaks react-router-dom"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

- CRA
- `npm i react-router-dom`
- Include `<BrowserRouter>`

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Fails on `npm start`

[code]

### Environment

Babel 7.17.0
CRA 5.0.0
react-router-dom 6.2.1

### Possible s

[2022-02-03 03:44] BradMcDev commented on #14228
Our build is working again- thank-you so much for the quick turn-around on this, @jridgewell. Closing this out!

[2022-02-03 03:44] #14228 closed

[2022-02-03 04:14] milesj commented on #14229
I'm also seeing a similar error in Babel 7.17, but not in react-router-dom specifically. It triggers when upgrading Babel.

[code]

[2022-02-03 04:30] jridgewell commented on #14229
Looking into this.

[2022-02-03 04:33] Ghustavh97 commented on #14229
Same issue on Nuxt @ v2.15.8

[code]

[2022-02-03 04:53] jridgewell commented on #14229
I found the bug, I'll publish a new `@jridgewell/trace-mapping` in a few minutes to fix.

[2022-02-03 05:13] jridgewell commented on #14229
Ok, v0.2.3 is published which should resolve the issue.

[2022-02-03 05:22] patotoma commented on #14229
confirmed, working now

if you have npm 7+ all you have to do is run: `npm update`

@jridgewell thanks for the fast fix

[2022-02-03 06:27] kasimr-oxc commented on #14139
I have updated `metro-react-native-babel-preset` to `0.59.0` --> it didn't worked
then I have added `resolutions` of `yarn` to lock  `@babel/traverse` to `7.16.7` --> it didn't worked

finally I have run `yarn start --reset-cache` ---> it worked

Thanks @kerm1it

[2022-02-03 07:37] AarRidho opened #14230 "[Bug]: TypeError: _core.types.isStaticBlock is not a function"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Current: Today's release breaks Next.js ```next build``` pipeline

Expected: Today's release should not affect pipeline build just like yesterday

[2022-02-03 07:51] nicolo-ribaudo commented on #14228
Thanks for the quick fix! I'm surprised we didn't catch it, because we test Babel on Node.js 6.

[2022-02-03 07:53] nicolo-ribaudo commented on #14230
As a workaround, update `@babel/types`.

[2022-02-03 11:22] AarRidho commented on #14230
Updating `@babel/types` fix the issue for me

[2022-02-03 16:44] #14230 closed

[2022-02-03 17:30] nicolo-ribaudo commented on #14229
I'm closing this since it has been fixes in `@jridgewell/trace-mapping` (a dependency of a Babel dependency). Please make sure to update it! Your lockfile should show version 0.2.5.

[2022-02-03 17:30] #14229 closed

[2022-02-03 17:32] nicolo-ribaudo commented on #14230
Fixed in `@@babel/helper-create-class-features-plugin@7.17.1`; I'm releasing it now.

[2022-02-03 19:00] JLHwung commented on #14227
`import()` is not supported when transforming ES modules to `"umd"`. You can ship ESM directly if your engine targets have native support.

[2022-02-03 19:03] l0gicgate opened #14233 "[Bug]: Release 7.17.0 breaks downstream plugins"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Not to break downstream plugins

### Environment

- Babel 7.17.0
- Node

### Possible solution

_No response_

### Additional context

This is the error that star

[2022-02-03 19:07] nicolo-ribaudo commented on #14233
We need your config, or even better an example that shows the crash.

[2022-02-03 19:09] JLHwung commented on #14233
Is this issue reproduced in `@babel/traverse@7.16.8`? 7.16.8 comes with a bug fix of wrong behaviour which some plugins may depend on.
Can you provide a reproduction repo?

[2022-02-03 19:13] nicolo-ribaudo commented on #14233
This is related to the `extendedDependencies` tracking. When loading a plugin, we usually:
1. create an `externalDependencies` array for the plugin
2. if the plugin inherits from another plugin:
   1. load the inherited plugin
   2. push the `externalDependencies` of the inherited plugin into the `externalDependencies` of the plugin we are loading
3. freeze `externalDependencies` of the plugin we

[2022-02-03 19:24] l0gicgate commented on #14233
@nicolo-ribaudo here's my babel config:
[code]

[2022-02-03 19:26] nicolo-ribaudo commented on #14233
Are you running with `NODE_ENV` (or `BABEL_ENV`) set to `development`, `production` or `staging`? (you have different configs for different envs)

[2022-02-03 19:28] l0gicgate commented on #14233
`NODE_ENV` set to `development` @nicolo-ribaudo

[2022-02-03 20:08] jaggaer-epiccini commented on #14233
**Hello starting from today I've this issue:**

`**Uncaught Error: Cannot create styled-component for component: undefined.**
    at j (vendors~main.iframe.bundle.js:386453:4940)
    at e (vendors~main.iframe.bundle.js:386453:21638)
    at He (vendors~main.iframe.bundle.js:386453:21875)
    at Object../node_modules/@/ui/build/Slider/Slider.js (vendors~main.iframe.bundle.js:81207:50)
    at __webpa

[2022-02-03 20:10] nicolo-ribaudo commented on #14233
That looks unrelated, please create a new issue with instructions to reproduce the bug

[2022-02-03 20:17] jaggaer-epiccini commented on #14233
Until yesterday it worked perfectly, today the unique dependency not synched in our private nexus was your dependency ...I think @babel/preset-env in my package.json has downloaded too updated dependency that create this issue.

In out CRA project also I've this issue:

Uncaught ReferenceError: process is not defined

[2022-02-03 20:38] nicolo-ribaudo commented on #14233
It might be caused by this babel update, but it's a different error. Please open a new repository with some steps to reproduce the problem, and the full stack trace of that CRA error.

[2022-02-03 20:40] nicolo-ribaudo commented on #14233
@l0gicgate I tried reproducing the error at https://github.com/nicolo-ribaudo/babel-bug-1423, but it compiles succesfully (using `npm run build`) :sweat_smile:

Could you try creating a small repo I can use to see the error?

[2022-02-03 20:50] taoeffect commented on #14227
@JLHwung `import()` does not appear anywhere in my code, but plain-old `import` does.

[2022-02-03 21:09] nicolo-ribaudo commented on #14227
We could make `preset-env` inject an empty plugin that warns when it sees `import()`, rather than unconditionally warning.

[2022-02-03 21:20] tony-go commented on #14138
Hey there !

Just to say that I accomplish a few things on my side, but nothing to share atm ^^

[2022-02-04 05:36] l0gicgate commented on #14233
@nicolo-ribaudo I stripped everything down as best as I could with minimal dependencies to reproduce the issue. Here's the repository:
https://github.com/l0gicgate/babel-core-issue-14233

Let me know if you need anything else

[2022-02-04 07:32] magic-akari opened #14239 "[Bug]: unexpected error when attempting to destructure initializer with a "hole""
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[REPL](https://babeljs.io/repl#?browsers=chrome%2050&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=G4QwTgBAlgLgpmAwgewK4DsYQLwQAwDcAUEQGbKQAUAxsugM5YDaAHjhAEwDMAuu0wBoeBaPCRpMEADwQAjCICUEAN5EIEEPXoIYAOnogAtnABqIADao4lFgM5cFxdQHpnG9Mhg

[2022-02-04 10:05] Haroenv commented on #14233
I think I'm having the same issue here: https://app.circleci.com/pipelines/github/algolia/vue-instantsearch/1473/workflows/f4cd9381-e860-4e10-bbc2-587036c5ac68/jobs/4470

[2022-02-04 12:17] jaggaer-epiccini commented on #14233
[test.zip](https://github.com/babel/babel/files/8002880/test.zip)
This is the smal project:
npm install + npm run start
and you should see process env issue

Thank you

[2022-02-04 13:01] IamFonky commented on #13061
Maybe this is what you need

[code]

I found that [here](https://stackoverflow.com/questions/41359504/webpack-bundle-js-uncaught-referenceerror-process-is-not-defined)

[2022-02-04 13:52] nicolo-ribaudo commented on #14233
Thanks @l0gicgate; I was able to trim your repository down even more (first removing webpack, and then some ESLint stuff), and I managed to create a reproduction that only uses Babel (https://github.com/babel/babel/pull/14241).

However, I will not be available much this weekend and next week, so it might take a while before I fix it. In the meantime, please pin `@babel/core` to the last working v

[2022-02-04 16:20] l0gicgate commented on #14233
@nicolo-ribaudo thank you for promptly addressing this. I will pin to 7.16 until #14241 gets merged! Have a good weekend!

[2022-02-04 17:11] zhukevgeniy opened #14242 "[Bug]: Uncaught TypeError: Class constructor cannot be invoked without 'new'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

**Current behavior:**

[code]

### Environment

- Babel version:  7.17.0
- Node version: 16.13.1
- Yarn version:  1.22.17
- OS: macOS Monterey M1

### Possible solut

[2022-02-04 23:26] erikt9 opened #14243 "[Bug]: createMetadataMethodsForProperty helper method is not es5"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Shell command:

babel-external-helpers > ./vendor/assets/javascripts/babel-helpers.js

### Configuration file name

babel.config.js

### Configuration

_No response_

### Current and expected behavior

When generating a babel-external-helpers file, I would expect all the helpers to

[2022-02-06 03:26] Agapurnis opened #14245 "[Bug]: When using legacy decorators, accessing a class in a static method of said class gives the non-decorated class"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

[Babel REPL Link](https://babeljs.io/repl#?browsers=%0A&build=&builtIns=false&corejs=false&spec=false&loose=false&code_lz=MYewdgziA2CmB0w4EMBOAKAlAbgFCkhgWhAHN0AiAIWQCNZoACABWmQE9TUQBXMAEwqZcuAC7sADrEYBhNhAgzwEUah7BRIVIwA8AFUYBeRsjDsAfEcZhYAd0bp4TtKQgAuE2YDaAXUxHLPREA

[2022-02-06 23:30] Krinkle commented on #13904
See also an older issue from two years earlier: https://github.com/babel/babel/issues/8684

[2022-02-07 01:38] jridgewell commented on #14132
With  #14246 and #14247, this sample code should work correctly.

[2022-02-07 21:15] goatandsheep commented on #8497
@nicolo-ribaudo I'm testing this new version [v7.17.0](https://github.com/babel/babel/milestone/51) and the function is present in my library but I'm getting some errors. I used the code sample provided in the PR:

[code]

the `cache` function gets `Cannot change caching after evaluation has completed`

and the `addExternalDependency` function gets `Cannot add property 0, object is not extensible`

[2022-02-07 21:49] JLHwung commented on #8497
@goatandsheep Thanks for the reproduction. It has been tracked in #14233.

[2022-02-08 03:09] Austaras opened #14249 "[Bug]: compat data lacks parameters for safari"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

https://babeljs.io/repl#?browsers=safari%2014&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYGwhgzhAECC0G8BQ1oDMD2HoF5oAoxdoBGASlwD5owkBfJIA&debug=false&forceAllTra

[2022-02-08 03:13] #14249 closed

[2022-02-08 06:12] nicojs opened #14250 "[Bug]: `import type {} from 'some-module'` results in invalid typescript"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

No configuration file

### Current and expected behavior

Using this code:

[code]

Results in: `import type "some-module";`

Which is invalid typescript.

### Environment

- Babel: `

[2022-02-08 10:11] The-x-Theorist commented on #14197
If the initial length of the array is 0 then it should return `{ confident: false }`, what can be the condition for return to be `{ confident: true }`?

[2022-02-08 14:18] #14242 closed

[2022-02-08 14:18] #14243 closed

[2022-02-08 14:23] nicolo-ribaudo commented on #14250
We should always print `{}` in this case.

[2022-02-08 14:44] ef4 commented on #14197
You can be confident only if there are no other references to the binding in between initialization and return:

[code]

[2022-02-08 16:07] JLHwung commented on #14250
@The-x-Theorist You can add a test in `packages/babel-generator/test/fixtures/typescript`, the `input` is `import type { } from 'some-module';` and the output should be the same.

[2022-02-08 20:45] goatandsheep opened #14252 "[Bug]: unable to use addExternalDependency"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

Code is here: https://github.com/goatandsheep/react-native-dotenv/blob/64cfaec582900712eac53d3f3cdf1c079ecc7c61/index.js

it's based on the following sample code:

[code]

### Configuration file name

.babelrc

### Configuration

_No response_

### Curre

[2022-02-08 21:49] nicolo-ribaudo commented on #14252
Caching must be configured in the plugin factory (before line 23 on your code), since it tells Babel when it needs to reinstantiate your plugin.

I see you need to access the options in order to configure the cache: you can get them from the second factory parameter, after `api`.

[2022-02-09 01:16] Agapurnis commented on #14245
I'm willing to attempt potentially solving this if someone could give me some pointers regarding where to look.
I don't have much time and might end up giving up, so don't take this as any form of commitment 😅

If this issue has been present for some time (I'm not sure if it was the latest update to decorator package), I do have concerns over how/whether or not this *should* be fixed. Changing thi

[2022-02-09 04:59] magic-akari commented on #14010
I prefer the following codes.
[code]

Because we already have something similar in jsx.

[code]

[2022-02-09 07:42] chlshown opened #14254 "[Bug]: Babel/node got different results with node.js when using caller.js"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/register or @babel/node

### Input code

// test.js
const caller = require('caller');
function fn() {
    console.log('-----', caller(1))
}
fn();

### Configuration file name

package.json

### Configuration

...
  "dependencies": {
    "caller": "^1.0.1"
  },
  "devDependencies": {
    "@babel/core": "7.14.3",

[2022-02-09 09:12] nicolo-ribaudo commented on #14245
The old decorators proposal (https://github.com/wycats/javascript-decorators) did not specify if the class binding should point to the decorated or undecorated class. There was a discussion about it (https://github.com/wycats/javascript-decorators/issues/79), but it was not resolved.

Since Babel has been supporting legacy decorators for years, I'm hesitant to change this just to align with TS. No

[2022-02-09 10:48] The-x-Theorist commented on #14197
I'd like to work on this issue?

[2022-02-09 11:44] overlookmotel opened #14257 "[Bug]: Parser throws when var declaration and function declaration in class static block"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

[REPL](https://babeljs.io/repl/#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYGwhgzhAEAa0G8BQ1oQC5nQS2Ilq0AbmAE7QAeA3AagGYCuAdsDgPZOUAUAlIgL4FB_IA&debug=false&forceA

[2022-02-09 15:40] JLHwung commented on #14257
The error is thrown from https://github.com/babel/babel/blob/76dd49197af69a312283145cae2403ff2bd8961b/packages/babel-parser/src/util/scope.js#L152

When Babel is parsing a static block, it will push a `SCOPE_STATIC_BLOCK`
https://github.com/babel/babel/blob/76dd49197af69a312283145cae2403ff2bd8961b/packages/babel-parser/src/parser/statement.js#L1746

I think we should handle that in
https://github.

[2022-02-09 16:51] Agapurnis commented on #14245
I can definitely see why, as any change could be considered breaking and likely mess up packages that depend on this behavior.

I'll give that a try, but it does seem unfortunate that this needs to be done. One of the reasons I'm using decorators in a library I'm creating is that integration should be as seamless as possible, not requiring extending any classes (as a base class may already need to

[2022-02-09 17:29] nicolo-ribaudo commented on #14245
This is not the only difference between Babel and TS: `babel-plugin-transform-typescript-decorators` could be a new plugin that fully supports TS decorators to provide maximum compatibility.

However, [decorators might be promoted to Stage 3 in March](https://github.com/tc39/agendas/blob/main/2022/03.md), and Stage 3 is usually when TS starts implementing ECMAScript features. The best strategy for

[2022-02-10 06:48] reshma651999 opened #14258 "i have following issue in yarn"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/cjs/puppeteer/node/install' is not defined by "exports" in /Users/kite/projects/video/remotion/sample/node_modules/puppeteer-core/package.json

### Configuration file name

package.json

### Configuration

_No response_

[2022-02-10 08:55] imyelo commented on #14230
still break in @babel/plugin-proposal-class-static-block

https://github.com/babel/babel/blob/0058b7f/packages/babel-plugin-proposal-class-static-block/src/index.ts#L56

[2022-02-10 10:31] social-uni opened #14260 "[Bug]: Cannot find module 'babel-plugin-jsx'"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

[code]

### Configuration file name

package.json

### Configuration

package.json
[code]

### Current and expected behavior

expected excute success

i excute this code by @babel/parse is worker, use @bebel/core  parse is not work

### Environment

 "@babel/core": "^7.17.2"

### Po

[2022-02-10 12:35] nicolo-ribaudo commented on #14258
I don't think that that error is thrown by Babel.

[2022-02-11 03:53] rofl0r opened #14263 "[Bug]: link to @babel/standalone documentation gives 404"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

go to https://babel.dev/setup.html#installation
see "See docs for full documentation on @babel/standalone. " click on link to https://babel.dev/docs/babel-standalone
receive

[2022-02-11 16:07] The-x-Theorist commented on #14250
Do we have to change the AST for type only importSpecifier to add the braces in the generator?

[2022-02-11 16:25] JLHwung commented on #14250
I don't think we need to change the AST. We can print `braces` when `node.importKind` is `"type"` even if `specifiers.length` is 0:

https://github.com/babel/babel/blob/e06c0998e5f207ae5ce1eafcaf188e7ddf1fc5e1/packages/babel-generator/src/generators/modules.ts#L204

May also check if we should handle this issue in `typeof` import and `export type {} from "some-module"`.

[2022-02-11 18:26] #14239 closed

[2022-02-11 18:59] JLHwung commented on #14260
`babel.parser` accepts a Babel option while `babelParser.parse` accepts Parser options. See

https://babel.dev/docs/en/options

https://babel.dev/docs/en/babel-parser

In your case, you should install `@babel/plugin-syntax-jsx` and use it as the `babel.parser` plugin.

[2022-02-11 18:59] #14260 closed

[2022-02-13 02:27] nam-hle opened #14265 "[Bug]: Can not install @babel/helper-explode-assignable-expression"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

`npm i @babel/helper-explode-assignable-expression`

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

Current error:
[code]

Expect succeed installing

### Environment

- Babel version: N/A
- Node: v14.17

[2022-02-13 11:01] nicolo-ribaudo commented on #14265
Please report this to npm. The package was published (https://www.npmjs.com/package/@babel/helper-explode-assignable-expression), so this looks like a registry bug.

[2022-02-13 13:24] #14265 closed

[2022-02-13 20:11] #14258 closed

[2022-02-13 20:16] nicolo-ribaudo commented on #14254
Unfortunately the `caller` package assumes that `Error` has not been polyfilled. I suggest opening an issue in that package's repository asking to support polyfilled error constructors.

[2022-02-13 20:18] #13061 closed

[2022-02-14 03:25] goatandsheep commented on #14252
Thank you! This helped https://github.com/goatandsheep/react-native-dotenv/pull/288

[2022-02-14 03:25] #14252 closed

[2022-02-14 12:55] faow opened #14269 "[Bug]: Babel watch is broken for multiple subdirectories on 7.17.X"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

https://github.com/faow/babel_test

### Configuration file name

_No response_

### Configuration

[code]

### Current and expected behavior

Current Behaviour:

If you add `--watch` to the compiler and have multiple subdirectories, the watcher compiles every edited file to the input and output

[2022-02-14 18:59] bluepichu opened #14270 "[Bug]: `@babel/plugin-transform-react-jsx-development` emits illegal references to `this` in TS namespaces"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

The current output looks like this (note the reference to `this` inside a namespace):

[code]

Expected behavior: don't try to reference `this` inside of a namespace, as that is

[2022-02-15 03:49] JasinYip opened #14272 "[Bug]: initializing ES Module exports might leads JSC to "Maximum call stack size exceeded""
### 💻

- [x] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

.babelrc

### Configuration

[code]

### Current and expected behavior

The output js includes a long assignment continuously to make every exports as `void 0` before they got the real value assigned:

[code]
When too

[2022-02-15 11:08] novacrazy commented on #14272
I'm also experiencing this on latest versions with any wildcard reexports, such as `export * as api from "./api"`

<details>
<summary>Stack Trace</summary>

[code]
</details>

[2022-02-15 12:50] #14270 closed

[2022-02-15 13:06] JasinYip commented on #14272
@nicolo-ribaudo Yes! The array `uninitializedExportNames` haven't reset to `[]` after the loop😂. I just found this bug and trying to send a PR to fix but you're faster👍

[2022-02-15 13:07] nicolo-ribaudo commented on #14272
In theory we already divide the exports un chunk at https://github.com/babel/babel/blob/ef10c645c38dab3bbac45b350ecaeb1379450a6d/packages/babel-helper-module-transforms/src/index.ts#L460, but it looks like that logic is buggy: every chunk also contains the elements from the previous chunks.

<details>
<summary>When I try to compile this code with 250 exports:</summary>

[code]

</details>
<details

[2022-02-15 18:55] yusufkandemir opened #14273 "[Bug]: "RangeError: Maximum call stack size exceeded" error (v7.17.2 -> v7.17.3)"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Faulty version:
https://github.com/yusufkandemir/quasar-babel-7.17.3-error

**To reproduce the issue:**
1. Clone the project
2. Run `yarn` to install the dependencies
3. Run `yarn quasar dev` to run the project
4. See the error

Working version with `@babel/core` v7.17.2:
https://gi

[2022-02-15 18:58] alecslupu commented on #14273
This may be related to #14272 ( which is fixed already, but not included in 7.17.3 )

[2022-02-15 19:20] JLHwung commented on #14273
This is likely a regression introduced in #14253.

[2022-02-15 20:15] phryneas commented on #14273
We had tons of reports on that for a basic reproduction of `npx create-react-app js-test --template redux` over in
https://github.com/reduxjs/redux-toolkit/issues/2037 and https://github.com/reduxjs/redux-toolkit/issues/2036

[2022-02-15 21:38] jamesaucode commented on #14273
Having the same issue with build amplify-js. Pinning to 7.17.2 solved the issue for now.

[2022-02-15 22:26] #14273 closed

[2022-02-15 22:39] JLHwung commented on #14273
Fixed in v7.17.4.

[2022-02-15 22:43] nicknish commented on #14273
Thank you for the quick turnaround folks!

[2022-02-15 23:07] nicolo-ribaudo commented on #14257
@overlookmotel I'm assigning this to you since you selected "Would you like to work on a fix?". If you are not interested anymore just leave a comment!

[2022-02-15 23:09] nicolo-ribaudo commented on #14219
Hi! Sorry this issue didn't get noticed :slightly_smiling_face:

I think all the four requirements you have should work, but you might need to tell Babel not to compile ESM to CJS:
[code]

However, you will need to compile your files ahead of time (using `@babel/cli`): Babel does not support running "at runtime" yet like `ts-node` when using native ESM, because Node.js doesn't have a stable ESM lo

[2022-02-15 23:11] nicolo-ribaudo commented on #14182
This has now been fully exposed: https://github.com/babel/babel/pull/14174

[2022-02-15 23:11] #14182 closed

[2022-02-16 01:03] JLHwung commented on #14269
This is a regression introduced in #14065, where we merged multiple separate watcher into one (to share the external deps map) but the merged watcher has registered multiple listeners.

[2022-02-16 07:13] LandonSchropp commented on #14219
Not a problem at all! Thanks for the reply. 🙂

Ah, I wasn't aware of the `modules` setting in `preset-env`. That's really helpful to know.

That makes sense. Fingers crossed that lands sometime soon.

Thanks!

[2022-02-16 07:13] #14219 closed

[2022-02-16 10:14] nicolo-ribaudo commented on #14272
@JasinYip This has not been fixed yet! I assigned you because you were investigating a fix, but if you are not interested anymore it can be fixed by someone else.

[2022-02-16 11:06] JasinYip commented on #14272
Oh I thought you fixed, I would like to send a PR for this~

[2022-02-16 11:34] JasinYip commented on #14272
@nicolo-ribaudo I sent a PR for this :)

[2022-02-16 13:51] #14254 closed

[2022-02-16 14:11] fpascutti opened #14277 "[Bug]: Invalid sources in WebPack-generated map file"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

Small project where issue can be reproduced can be found here:
https://github.com/fpascutti/babel-7.17.3-sourcemaps-issue

### Configuration file name

_No response_

### Configuration

_No response_

### Current and expected behavior

With @babel/core >= 7.17.3, the source map file

[2022-02-16 15:03] nicolo-ribaudo commented on #14277
cc @jridgewell

[2022-02-16 15:04] alan-agius4 commented on #14277
In the Angular CLI we are also experiencing a similar issue. It seems that it only effects non posix OS.

[2022-02-16 17:00] dten opened #14279 "[Bug]: babel-env removes es.array.at from core-js despite target versions not supporting it"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

https://babel.dev/repl#?browsers=chrome%2090&build=&builtIns=entry&corejs=3.6&spec=false&loose=false&code_lz=JYWwDg9gTgLgBAbwL5wGZQiOByAxtAUwFoArAZwHoyYBDAIwBsDsAoFgbQAYBdAOhpgAKIgEYAlEA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSiz

[2022-02-16 17:05] zloirock commented on #14279
Babel REPL uses `corejs: '3.6'`. Stable version of `Array.prototype.at` polyfill was added to `core-js@3.17`.

Use the actual minor `core-js` version in your config,  `corejs: '3.21'`.

Also, Babel REPL should be updated.

[2022-02-16 17:20] dten commented on #14279
Ah that's a nice easy fix! thank you

[2022-02-16 17:20] #14279 closed

[2022-02-16 21:06] devongovett opened #14280 "Idea: compat data for build tools"
### 💻

- [X] Would you like to work on this feature?

### What problem are you trying to solve?

This isn't a problem that's specific to Babel, but I think Babel could help solve it given that it maintains compat data for JS features supported in various engines. I ran into an interesting problem today, which is that browsers are actually ahead of build tools in some areas. For example, all modern

[2022-02-16 23:32] nicolo-ribaudo commented on #14280
Thanks for opening this issue! I 100% agree we need this because often people use tools that lag behind their browser queries.

We need to figure out where to get foot quality data about build tools, similarly to compat-table.

[2022-02-17 00:31] jridgewell commented on #14277
Hi all, I believe I have a fix in #14282, but I don't have a Windows machine to fully test it. Can any of you apply the patch and see if it fixes the merging?

[2022-02-17 00:55] jridgewell commented on #14277
Scratch that, I was able to verify the fix using GH Actions. Thanks so much for the reproduction @fpascutti!

[2022-02-17 11:09] The-x-Theorist commented on #14250
@JLHwung Can you suggest an example for `typeof` import to check?

[2022-02-17 15:40] nicolo-ribaudo commented on #14250
`node.importKind === "typeof"`, when using `import typeof U from "x";` with flow.

[2022-02-17 16:58] younasm commented on #14139
I am having the same problem as [leandrovidal56](https://github.com/leandrovidal56) but I am using `expo` is there any solution.

[2022-02-19 15:38] younasm commented on #14139
I have the same problem but I am using expo do you have any solution I am facing this problem for two days and didn't get any help out there.

[2022-02-21 04:05] xiaoxiangmoe opened #14288 "[Bug]:"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

const parser = require('@babel/parser');
const traverse = require('@babel/traverse').default;
const code = `
enum Foo { e = 1 };
function func(){
    g = 2
};
const bar = 2;
`;

const ast = parser.parse(code, { sourceType: 'module', plugins: ['typescript

[2022-02-21 09:48] liamcmitchell-sc opened #14289 "[Bug]: Safari class fields implementation is buggy - ReferenceError: Can't find variable"
### 💻

- [X] Would you like to work on a fix?

### How are you using Babel?

babel-loader (webpack)

### Input code

This bug can be triggered by input code like the following, when compiled with webpack and a babel config with preset-env that targets latest Safari/iOS (class fields are not transformed).
[code]

### Current and expected behavior

Extra parens in class fields cause ReferenceErrors

[2022-02-21 11:57] ashharrison90 commented on #14289
also hit this - just wanted to say great repro steps and workaround @liamcmitchell-sc 🙌

[2022-02-21 14:29] JLHwung commented on #14289
We will need a bugfix plugin so when `bugfix: true` is enabled (Babel 8 defaults), we only transpile class properties when
1. User code is affected by the specific browser bug
2. User targets to affected browser versions
An example of bugfix plugin can be found in https://github.com/babel/babel/pull/13842, where we workaround another JSC bug.

We will need a new test in `compat-table`, similar to

[2022-02-21 14:56] rvion commented on #6445
@natew  it doesn't seem to be the same.

skip-initial-build also skip build of files that have changed since. it's a dangerous flag for most people since it can provoque hard to debug problems.

a `--skip-write-if-same` would very much make sense IMO, big `+1`

[2022-02-21 17:19] nicolo-ribaudo commented on #14289
Good point, we should probably be more conservative and apply the fix even if the plugin is at the top level.

[2022-02-21 19:28] sanex3339 opened #14290 "[Bug]: babel-parser: `Unterminated template` when using parenthesis for object type that contains template literal type"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Other (Next.js, Gatsby, vue-cli, ...)

### Input code

When using parenthesis for an object type that contains template literal type `Unterminated template` error happens

https://babel.dev/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=C4T

[2022-02-21 19:36] nowifi4u opened #14291 "[Bug]: Property redefining leads to it being set to undefined"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

Current behavior:
`_defineProperty` is present in the generated code in the constructor after super call
[code]

Expected behavior:
_defineProperty should not be present in the

[2022-02-21 21:29] nicolo-ribaudo commented on #14291
This is the expected behavior to match what JavaScript does. You can test it by running this code in your browser's console:
[code]

The current TypeScript behavior of ignoring `x` in `B` is wrong, but you can enable the `useDefineForClassFields` in your TS config to make it work correctly.

If you want to ignore `x` in the subclass, you can use the `declare` modifier:
[code]

[TS playground](http

[2022-02-21 22:15] kobiburnley opened #14292 "[Bug]: Parameter decorator (legacy mode) is not transpiled when there's also a function decorator"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

Programmatic API (`babel.transform`, `babel.parse`)

### Input code

[code]

### Configuration file name

_No response_

### Configuration

[repl](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=MYewdgzgLgBA3jAwuKAnEAbDBTV

[2022-02-21 22:20] #14269 closed

[2022-02-21 22:59] nicolo-ribaudo commented on #14269
Fixes in  v7.17.6

[2022-02-21 23:22] nicolo-ribaudo commented on #14289
I propose to fix this bug by wrapping class fields initializers in an IIFE if they contain any reference to a variable defined in the parent scope, and that reference is not nested within another function:
[code]
becomes
[code]

I don't think we should explicitly check for parentheses, because they are hard to predict in a transform. In some cases they are explicit, while in other cases they are i

[2022-02-22 04:09] younasm commented on #14139
no similarities with the error I am facing.

[2022-02-22 04:51] younasm commented on #14139
Do you have any solution for expo. I am facing this problem from a week no solution yet.

https://stackoverflow.com/questions/71156295/react-native-expo-unhandled-js-exception-unexpected-identifier-classcallchec?noredirect=1#comment125784505_71156295

[code]

[2022-02-22 06:53] nicolo-ribaudo commented on #14139
Update `babel-preset-expo ` to 8.3.0 or a newer version. Then you might need to clear expo's cache, if needed.

[2022-02-22 07:06] younasm commented on #14139
Thank you So much. it helped me out. my error is gone.

[2022-02-23 00:21] macluiggy commented on #13702
I think the syntax is no correct, you should write this instead:
type FuncWithDescription = {
  function: (...args: any[]) => any,
  string: string
}

const fnWithDescriptions: FuncWithDescription[] = [
  {
    function: (a,b,c) => a+b+c,
    string: 'Some string'
  }
]

[2022-02-23 01:56] happycollision commented on #13702
@macluiggy
I am defining a named tuple, not a function that has an extra property. It’s valid syntax, but Babel gets confused.

@ozanhonamlioglu
I am not a team member, but I am willing to bet you can grab it. 🤷‍♂️

[2022-02-23 08:53] a89529294 commented on #13926
I ran into the same issue. I solved it by removing type:'module' from package.json.

[2022-02-23 10:08] woongsikchoi opened #14298 "[Bug]: Parsing doesn't finish for unmatched bracket in TypeScript type expression"
### 💻

- [ ] Would you like to work on a fix?

### How are you using Babel?

@babel/cli

### Input code

[code]

### Configuration file name

babel.config.json

### Configuration

[code]

### Current and expected behavior

Current behavior - parsing does not finish
Expected behavior - a syntax error should be thrown

### Environment

  System:
    OS: Linux 4.4 Ubuntu 20.04.2 LTS (Focal Fossa)
  B

[2022-02-23 10:48] mithodin opened #14299 "preset-env should support Object.hasOwn"
### 💻

- [ ] Would you like to work on this feature?

### What problem are you trying to solve?

[Object.hasOwn](https://github.com/tc39/proposal-accessible-object-hasownproperty) is a Stage 4 proposal and already available for many, but not all, browsers (notably, Safari doesn't support it until Version 15.4). It is also available in [core-js](https://github.com/zloirock/core-js/blob/master/packa

[2022-02-23 15:31] JLHwung commented on #14299
Did you specify the minor `corejs` version?
[code]

See also [docs](https://babeljs.io/docs/en/babel-preset-env#corejs).

[2022-02-23 15:39] mithodin commented on #14299
Hi @JLHwung yes, I did that and it didn't help.

[2022-02-23 15:49] JLHwung commented on #14299
I can't reproduce this issue on https://github.com/babel/website/pull/2630, can you provide your Babel config?

[2022-02-23 15:55] nicolo-ribaudo commented on #14299
And lockfile

[2022-02-23 15:55] #14291 closed

[2022-02-23 16:07] #14290 closed

[2022-02-23 16:07] #14298 closed

[2022-02-23 18:18] jlennox commented on #5667
My hacky fix for this is to modify `node_modules/@babel/register/lib/cache.js:

[code]

When I deleted `node_modules/.cache/@babel/register/.babel.7.13.10.development.json`
* then run with `JSON.stringify(data, null, "  ");` the re-created file is **152,577kb**.
* then run with `JSON.stringify(data);` the re-created file is **109,352kb**.

I do not know if it's the reduction in memory size specifi